﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/ch/_Layout_seo.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-csr">
		<h1 class="page-title title-large">企業社會責任</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->

	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">氣候變遷管理</h3>
				<p>
					因應氣候變遷及能源與燃料供應的不確定性，日月光致力於創造與領導低碳轉型的永續解決方案，使經營績效以氣候友善、韌性以及具成本效益的方式成長。為了達成營運需求與低碳目標，形塑日月光的氣候領導力，並將低碳解決方案提供至全球市場，日月光集團的低碳策略包括：
					<ul class="nopadding">
						<li>整合型碳管理：建立整體碳管理策略、政策及系統，以「節能」、「綠能」及「儲能」三大方針，促進日月光低碳發展。</li>
						<li>綠色及可再生能源投資：建立日月光的綠色及可再生能源投資策略，降低環境外部成本並掌握綠色商機。</li>
						<li>低碳產品及服務：在產品及服務上提供市場化、可行之低碳解決方案。</li>
						<li>調適與韌性：辨識日月光在氣候變遷與極端氣候下的脆弱度，發展相應調適策略以降低氣候風險。</li>
						<li>創造永續生活型態：對內形塑低碳文化，對外成為低碳解決方案的提供者，推動與內化永續生活型態。</li>
					</ul>
				</p>
			</article>
		</div>
	</section>

	<section class="csr-bg">
		<div class="content-lg row">
			<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 csr">
				<div class="col-sm-6 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("environmental_sustainability", "CSR", new { lang = ViewBag.language.lang, param1 = "climate_change_management", param2 = "risk_opportunity" })">
							<span class="blue-text-in-box">風險與機會</span>
							<div class="circle_button-wrapper pull-right">
								<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>
				<div class="col-sm-6 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("environmental_sustainability", "CSR", new { lang = ViewBag.language.lang, param1 = "climate_change_management", param2 = "greenhouse_gas_emissions" })">
							<span class="blue-text-in-box">溫室氣體排放</span>
							<div class="circle_button-wrapper">
								<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 csr">
				<div class="col-sm-6 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("environmental_sustainability", "CSR", new { lang = ViewBag.language.lang, param1 = "climate_change_management", param2 = "energy_management_and_conservation" })">
							<span class="blue-text-in-box">能源管理與節約</span>
							<div class="circle_button-wrapper pull-right">
								<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>
			
				<div class="col-sm-6 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("environmental_sustainability", "CSR", new { lang = ViewBag.language.lang, param1 = "climate_change_management", param2 = "external_initiatives" })">
							<span class="blue-text-in-box">外部倡議</span>
							<div class="circle_button-wrapper">
								<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>