﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/ch/_Layout_seo.cshtml";
    ViewBag.Title = "綠色廠房";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-csr">
		<h1 class="page-title title-large">永續發展</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch/csr"><span itemprop="name">永續發展</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/public/ch/csr/environment_green_innovation.html"><span itemprop="name">環境與綠色創新</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch/csr/environmental_sustainability/green_facility"><span itemprop="name">綠色廠房</span></a>
					<meta itemprop="position" content="3" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->
	
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">綠色廠房</h3>
				<p>
					日月光自2012年投入綠建築群之佈局，依循綠建築標準，包括美國LEED(領先能源與環境設計)和台灣EEWH(生態，節能，減廢和衛生)，進行既有廠房改造及建設新製造工廠和辦公大樓。此外，我們進一步通過實施綠建築概念以及清潔生產評估，來推動「綠色工廠標章」認證，並整合智能建築技術，創造能有效地使用能源、提高健康安全、提高可靠性、營運效率和經營績效的工作環境。
				</p>
                <br>
				<h4 class="sub-title">低碳綠建築與綠色工廠</h4>
				<p>
					減少建築物耗能，是減緩氣候變遷的重要環節。日月光以實踐低碳使命創新導入「建築碳足跡」，透過建物完整生命週期之量化與分析，從設計階段即推動減碳改善，將綠色廠房轉型邁向低碳綠建築。自2012年投入綠建築群之布局後，我們依循綠建築標準進行既有廠房改造及建設新製造工廠和辦公大樓。2019年K24廠房為全球首座取得低碳綠建築認證之封測廠房，未來將持續拓展並引領產業夥伴共同打造永續園區。除了廠房投入低碳綠建築，於製造生產我們亦投入清潔生產之評估，整合綠建築與清潔生產執行「綠色工廠標章」認證，未來我們將持續推動並且保持所有100%新建廠房取得認證。
				</p>
                <br>
				<div class="col-md-6 nopadding">
                    <h4 class="sub-title">綠建築認證</h4>
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/sustainability_highlights_green_facilities2021.png" class="img-responsive">
				</div>
				<div class="col-md-6 nopadding">
                    <h4 class="sub-title">綠色工廠</h4>
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/sustainability_highlights_green_facilities2020.png" class="img-responsive">
				</div>
				<div class="clearfix"></div>
			</article>
		</div>
	</section>
	<section class="csr-bg">
		<div class="content-lg row">
			<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 csr">
				<div class="col-sm-12 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("sustainability_highlights", "CSR", new { lang = ViewBag.language.lang, param1="green_facilities" })">
							<span class="blue-text-in-box">日月光綠建築群</span>
							<div class="circle_button-wrapper pull-right">
								<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script>
	$(document).ready(function() {
		$('[data-toggle="popover"]').popover();
	})
	</script>
	<style>
	/* Popover Body */
	.popover-content {
	  color: #444444;
	  text-align: left;
	}
	</style>