﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/ch/_Layout_seo.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-csr">
		<h1 class="page-title title-large">企業社會責任</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->

	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">污染防治</h3>
				<p>
					為減少對生態環境衝擊、降低溫室氣體排放舒緩氣候變遷等問題，日月光各廠致力於降低各種污染排放，以ISO14001環境管理系統為根基，採取「規劃—執行—查核—行動」的管理模式持續推動改善，並融入整體組織管理體系自我要求且持續精進，透過高效率防治設備或行動方案，解決污染排放行為與排放量，期望符合永續發展目標與環境共榮共存。
				</p>
				<h4 class="sub-title">廢棄物管理</h4>
			</article>

			<div class="col-sm-8 col-md-8">
				<p>
					2017年日月光產生53,638噸廢棄物，較2016年減少1.5%，其中一般廢棄物增加404噸，有害廢棄物減少1,230噸。而全部的廢棄物<a href="javascript:;" data-toggle="popover" data-trigger="hover" data-content="在各營運據點廢棄物處置方式均為境內處理(遵循巴賽爾國際公約，就地處理避免跨國運送造成環境汙染)。" data-placement="bottom">*</a>中71%( 有害廢棄物佔25%與一般廢棄物佔46%)以再使用、回收、再生利用或堆肥等作法來降低環境生態衝擊，其它經掩埋、焚化、固化與其它處理法的廢棄物佔29%。<br><br>

					秉持降低污染物對環境衝擊的理念，日月光除了源頭減量與維持生態化設計尋找替代材料來減少廢棄物產生外，更開始著手採取循環再生將廢棄物有效地循環再利用。舉例來說，出貨包裝過程中所使用的緩衝材料回收再利用或原物料空桶回收再使用，我們也持續推動減少污染物產生與廢棄物處理的優化，像是有害事業廢棄物的自廠處理、製程源頭減量、清洗廢液回收循環利用等。也透過與學術共同合作驅動最佳化、低污染對環境更友善的保護措施，以成為環境保護標竿企業為目標。
				</p>
			</div>

			<div class="col-sm-4 col-md-4">
				<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/pollution_prevention.png" style="width: 100%">
			</div>
			<!-- <div class="col-xs-12 col-sm-8 col-md-4 text-center">
				<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr//pollution_prevention1.png" style="padding-top: 10px"><br>
				<strong>有害廢棄物處理方式</strong><br><br>
			</div>
			<div class="col-xs-12 col-sm-8 col-md-4 text-center">
				<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch//csr/pollution_prevention2.png" style="padding-top: 10px"><br>
				<strong>非有害廢棄物處理方式</strong><br><br>
			</div> -->
			<div class="clearfix"></div>
			<div class="col-md-10 col-md-offset-1">
				<br>
				<div class="table-responsive inside-table">
					<table class="table table-striped table-hover csr">
						<thead>
							<tr>
								<th style="font-size: 15px">2017年廢棄物處理方式<br>單位(噸)<a href="javascript:;" data-toggle="popover" data-trigger="hover" data-content="廢棄物統計重量資料以每趟次清運重量總和計算。" data-placement="bottom">*</a></th>
								<th class="left-border" style="font-size: 15px">再使用</th>
								<th class="left-border" style="font-size: 15px">回收</th>
								<th class="left-border" style="font-size: 15px">再生利用<br>包括能源的再生利用</th>
								<th class="left-border" style="font-size: 15px">堆肥</th>
								<th class="left-border" style="font-size: 15px">掩埋</th>
								<th class="left-border" style="font-size: 15px">焚化</th>
								<th class="left-border" style="font-size: 15px">固化</th>
								<th class="left-border" style="font-size: 15px">其它<br>(如廢水處理設施)</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="text-center">
									<strong>有害廢棄物</strong>
								</td>
								<td class="left-border text-center">
									6,088
								</td>
								<td class="left-border text-center">
									4,185
								</td>
								<td class="left-border text-center">
									3,187
								</td>
								<td class="left-border text-center">
									0
								</td>
								<td class="left-border text-center">
									5
								</td>
								<td class="left-border text-center">
									5,625
								</td>
								<td class="left-border text-center">
									5,176
								</td>
								<td class="left-border text-center">
									1,006
								</td>
							</tr>
							<tr>
								<td class="text-center">
									<strong>一般廢棄物</strong>
								</td>
								<td class="left-border text-center">
									1,260
								</td>
								<td class="left-border text-center">
									18,971
								</td>
								<td class="left-border text-center">
									18,971
								</td>
								<td class="left-border text-center">
									855
								</td>
								<td class="left-border text-center">
									2,837
								</td>
								<td class="left-border text-center">
									603
								</td>
								<td class="left-border text-center">
									68
								</td>
								<td class="left-border text-center">
									203
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<br>
			</div>
			<article class="col-xs-12">
				<h4 class="sub-title">氣體排放控制</h4>
				<p>
					日月光工廠產生之廢氣主要區分為揮發性有機化合物(VOCs)、硫氧化物SOx、氮氧化物NOx及粒狀污染物，我們採用濕式洗滌、活性碳吸附、冷凝系統、高級氧化技術(AOP)或蓄熱式焚化爐(Regenerative Thermal Oxidizer, RTO)等各種防治設備來進行尾氣處理，達排放標準後排放於大氣中。<br><br>

					2017年的氣體排放中，VOCs<a href="javascript:;" data-toggle="popover" data-trigger="hover" data-content="VOCs計算採用公開係數，直接量測或質量平衡計算之。" data-placement="bottom">*</a>為281噸、SOx<a href="javascript:;" data-toggle="popover" data-trigger="hover" data-content="SOx計算採用公開係數或成份比例換算之。" data-placement="bottom">*</a>為11噸、NOx<a href="javascript:;" data-toggle="popover" data-trigger="hover" data-content="NOx計算採用公開係數或直接量測計算之。" data-placement="bottom">*</a>為26噸以及臭氧破壞物質<a href="javascript:;" data-toggle="popover" data-trigger="hover" data-content="本公司製程活動未產生、輸入或輸出臭氧物質，其它因製程活動附屬之逸散行為非屬於主要活動故排除揭露。" data-placement="bottom">*</a>為0噸，其中因日月光高雄廠為提升VOCs處理效能新設置蓄熱式焚化爐於2016 年年底開始運行，導致SOx排放量相較去年增加了1.42噸，NOx排放量相較去年增加了12.06噸。空氣污染物處理方式除原有的處理設備外，我們持續對處理效率提出改善方案，並在2017年達到44%削減率，削減率計算均透過公正的第三方單位進行末端排放檢測反映實際削減狀況，2017年因營運上升間接造成VOCs實際排放量相較於2016年要高出12噸，但既有的防治設備提列之消除或效率提升方案讓VOCs實際減排量達到218.4噸，較2016年的117.5噸增加85.9%。在營運持續擴大的未來，空氣污染排放管理計畫將持續針對下列項目進行污染物減量：<br>
					<ul class="nopadding">
						<li>減少高揮發性有機化合物原料，或是更換成低污染物原(物)料。</li>
						<li>引進高效率之處理設備(如，蓄熱式焚化爐、活性碳處理系統、冷凝系統)於現有及新建廠房。</li>
						<li>透過學術及企業資源整合，研究產源端排氣分流減量、管末端防治設備化學藥劑及排水量操作參數優化。</li>
						<li>機台設備密閉式負壓設置，提升集氣效果優化防治設備處理效率。</li>
						<li>原濕式洗滌設備添加營養源升級為生物洗滌機制降解VOCs減少排放。</li>
					</ul>
				</p>
				<h4 class="sub-title">噪音管制</h4>
				<p>
					日月光針對廠房周界噪音監控均符合當地法令規範，我們的噪音管理應用了近兩年與產學合作技術，分析並區分噪音產生源，對於特定產生源進行直接改善，以減(降)噪或是侷限噪音的方式降低噪音產生，提供了在地民眾生活與員工工作的環境品質。2017年雖均符合當地法規，但韓國廠仍發生一起居民陳情的狀況，在地居民希望工廠運作能夠將噪音更進一步有效管理與限制，以降低對在地居民的影響，廠區已利用管理模式將噪音控制並完整回應居民要求，也成功取得雙方共識。
				</p>
			</article>
		</div>
		
	</section>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script>
	$(document).ready(function(){
	    $('[data-toggle="popover"]').popover();   
	});
	</script>