﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/ch/_Layout_seo.cshtml";
    ViewBag.Title = "永續製造";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-csr">
		<h1 class="page-title title-large">永續發展</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch/csr"><span itemprop="name">永續發展</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/public/ch/csr/environment_green_innovation.html"><span itemprop="name">環境與綠色創新</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch/csr/environmental_sustainability/sustainable_manufacturing"><span itemprop="name">永續製造</span></a>
					<meta itemprop="position" content="3" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->

	<section class="inside-article">
        <div class="content-lg row">
            <article class="col-xs-12">
                <h3 class="title">永續製造</h3>
                <h4 class="sub-title">永續製造聲明</h4>
                <p>
                    日月光集團致力提供具生態效益及負責任的服務給我們的客戶，並將永續融入於所有製造環節，包含原料使用、設計、採購、生產及產品包裝，以降低成本、提高競爭力，並減少對環境、安全和健康的影響。<br><br>

                    日月光集團承諾：<br>
                    <ul class="nopadding">
                        <li>遵守所有適用的法律和法規。</li>
                        <li>管理用於產品製造之零件及原料的有害物質。</li>
                        <li>提供輕薄短小以及具能源效率的產品解決方案。</li>
                        <li>持續增加資源再利用及減少溫室氣體與 廢水排放、減少廢棄物產生及減少化學品使用。</li>
                        <li>減少產品包裝及產品廢棄物。</li>
                    </ul>
                </p>
                <h4 class="sub-title">集團環保實驗室</h4>
                <p>
                    日月光設有集團環保實驗室，致力於：<br>
                    <ul class="nopadding">
                        <li>綠色材料之評估與開發：評估無(低)毒性之產品原料、製程化學品 。</li>
                        <li>發展環境檢測技術：建立監測技術、機制及標準，符合世界環保規章。</li>
                        <li>發展綠色製程：提高化學品或原料之利用率；評估廢棄物、廢水與化學品之回收、減量和再製技術。</li>
                        <li>開發環境親和性包裝：開發生質複合材料包裝。</li>
                    </ul>
                </p>
                <h4 class="sub-title">永續製造措施</h4>
                <p>
                    就環境、健康和安全的影響而言，每個製造階段皆相互密切關聯，因此要進行改善和實現技術創新皆需要在每個階段持續努力。日月光的目標是將這些改善和創新努力落實在所有的營運面向，以持續提供客戶永續產品。
                </p>
            </article>
            <div class="col-md-10 col-md-offset-1">
                <img src="/pic/public/frontend/images_ch/csr/sustainable_manufacturing-pic.png">
            </div>
            <div class="clearfix"></div><br>
            <article class="col-xs-12">
                <h4 class="sub-title">產品生命週期評估</h4>
                <p>
                    日月光逐步導入ISO 14067產品碳足跡與ISO14045生態效益評估(Eco-Efficiency)，作為營運及產品環境績效改善的評估工具，分析產品在不同生命週期階段的環境衝擊，尋求產品價值增加的同時亦提升環境品質。
                </p>
            </article>
            <div class="col-md-10 col-md-offset-1">
                <div class="table-responsive inside-table">
                    <table class="table table-striped table-hover csr">
                        <thead>
                            <tr>
                                <th class="text-center" style="font-size: 15px">類別</th>
                                <th class="left-border text-center" style="font-size: 15px">產品系列</th>
                                <th class="left-border text-center" style="font-size: 15px">產品碳足跡</th>
                                <th class="left-border text-center" style="font-size: 15px">生態效益評估</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td rowspan="6" style="border-bottom: 1px solid #dddddd;">
                                    <strong>封裝產品</strong>
                                </td>
                                <td class="left-border">
                                    球閘陣列封裝(BGA)
                                </td>
                                <td class="left-border text-center">
                                    ●
                                </td>
                                <td class="left-border text-center">
                                    ●
                                </td>
                            </tr>
                            <tr>
                                <td class="left-border">
                                    扁平式封裝(Lead Frame)
                                </td>
                                <td class="left-border text-center">
                                    ●
                                </td>
                                <td class="left-border text-center">
                                    ●
                                </td>
                            </tr>
                            <tr>
                                <td class="left-border">
                                    晶片尺寸封裝(CSP)
                                </td>
                                <td class="left-border text-center">
                                    ●
                                </td>
                                <td class="left-border text-center">
                                    ●
                                </td>
                            </tr>
                            <tr>
                                <td class="left-border">
                                    覆晶封裝(Flip Chip)
                                </td>
                                <td class="left-border text-center">
                                    ●
                                </td>
                                <td class="left-border text-center">
                                    ●
                                </td>
                            </tr>
                            <tr>
                                <td class="left-border">
                                    晶圓凸塊(Bumping)
                                </td>
                                <td class="left-border text-center">
                                    ●
                                </td>
                                <td class="left-border text-center">
                                    ●
                                </td>
                            </tr>
                            <tr>
                                <td class="left-border">
                                    SiP封裝技術(SiP Technology)
                                </td>
                                <td class="left-border text-center">
                                    ●
                                </td>
                                <td class="left-border text-center">
                                    ●
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <strong>電子基板(Substrate)</strong>
                                </td>
                                <td class="left-border text-center">
                                    ●
                                </td>
                                <td class="left-border text-center">
                                    ●
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <strong>測試服務</strong>
                                </td>
                                <td class="left-border text-center">
                                    ●
                                </td>
                                <td class="left-border text-center">
                                    ●
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br>
            </div>
        </div>
    </section>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script>
		$(document).ready(function(){
	    	$("img[usemap]").jMap();
		});
	</script>