﻿@using web.Models;
@{
    Layout = "~/Areas/Backend/Views/Shared/_layout.cshtml";
    admin_emp admin = ViewBag.web_admin;
}

<div style="margin: 5em 0;">
    <p>Welcome</p>
    <p>Your IP: @HttpContext.Current.Request.UserHostAddress</p>
    <p>Login Time: @(DateTime.Now.ToLocalTime())</p>
</div>


<blockquote>
    <small><cite title="Source Title">ASE Group</cite></small>
</blockquote>