﻿@{
    Layout = "~/Areas/Backend/Views/PressRoom/index.cshtml";
    Dictionary<string, string> error = (Dictionary<string, string>)TempData["error"];
    string str = "";
}

@using web.Models
@using web.Common
@model press_room

<div class="box-header with-border">
    <h3 class="box-title"></h3>
    <div class="box-tools pull-right">
        <a class="btn btn-warning" href="@Url.Action("List")" role="button"> Back </a>
    </div>
</div>
<div class="box-body form-horizontal">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype="multipart/form-data"}))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.HiddenFor(x => x.id)
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group ">
                    <label class="col-sm-2 control-label">語系:</label>
                    <div class="col-sm-4">
                        @{
                            str = "lang";
                        }
                        <select class="form-control" name="@(str)">
                            <option value="en" @(Model.lang == "en" ? "selected" : "")>English</option>
                            <option value="ch" @(Model.lang == "ch" ? "selected" : "")>繁體中文</option>
                        </select>
                        <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group ">
                    <label class="col-sm-2 control-label"><i class="required"> * </i> 標題:</label>
                    <div class="col-sm-4">
                        @{
                            str = "title";
                        }
                        @Html.TextBox(str, Model.title, new { @class = "form-control", maxlength = 250, @required = "required" })
                        <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group ">
                    <label class="col-sm-2 control-label"><i class="required"> * </i> URL ID:</label>
                    <div class="col-sm-4">
                        @{
                            str = "urlid";
                        }
                        @Html.TextBox(str, Model.urlid, new { @class = "form-control", maxlength = 250, @required = "required" })
                        <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
                    </div>
                </div>
                <div class="form-group ">
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-4">
                        <label style="color:red"> (標題文字請避免使用特殊字元而造成錯誤)</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group ">
                    <label class="col-sm-2 control-label"> 對應文章 URL ID:</label>
                    <div class="col-sm-4">
                        @{
                            str = "urlid2";
                        }
                        @Html.TextBox(str, Model.urlid2, new { @class = "form-control", maxlength = 250 })
                        <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
                    </div>
                </div>
                <div class="form-group ">
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-4">
                        <label style="color:red">請輸入對應中/英文章的URL ID</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group ">
                    <label class="col-sm-2 control-label"><i class="required"> * </i> 描述:</label>
                    <div class="col-sm-6">
                        @{
                            str = "brief";
                        }
                        @Html.TextArea(str, Model.brief, new { @class = "form-control", @required = "required", @rows = 3 })
                        <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group ">
                    <label class="col-sm-2 control-label">OgImage(SEO使用)</label>
                    <div class="col-sm-4">
                       
                        <div id="img_preview">
                            <img src="@(Model.og_image)" style="max-width:270px; max-height:270px; margin-right:10px;margin-top:5px;" onError="this.style.display = 'none'" />
                        </div>
                        <br />
                        <input type="file" name="og_image" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group ">
                    <label class="col-sm-2 control-label"><i class="required"> * </i> 內文:</label>
                    <div class="col-sm-8">
                        @{
                            str = "contents";
                        }
                        @Html.TextArea(str, Model.contents, new { @class = "tinymce" })
                        <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="form-group ">
                    <label class="col-sm-2 control-label"><i class="required"> * </i> 發佈日期:</label>
                    <div class="col-sm-4">
                        <div class="input-group date date_picker">
                            @{
                                str = "publish_date";
                            }
                            @Html.TextBox(str, string.Format("{0:yyyy-MM-dd}", Model.publish_date), new { @class = "form-control", @required = "required" })
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="col-sm-2 control-label"> 簽名檔:</label>
                    <div class="col-sm-10 iCheck">
                        @{
                            str = "sign";
                        }
                        <input name="sign" id="sign" value="1" type="checkbox" @(Model.sign == 1 ? "checked" : "") class="form-control">
                        <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="col-sm-2 control-label"> 啟用:</label>
                    <div class="col-sm-10 iCheck">
                        @{
                            str = "launch";
                        }
                        <input name="launch" id="launch" value="1" type="checkbox" @(Model.launch == 1 ? "checked" : "") class="form-control">
                        <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <div class="col-sm-2 col-sm-offset-2">
                        <button class="btn btn-success btn-block" type="submit">Submit</button>
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-danger btn-block" type="reset">Reset</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>


