﻿@{
    Layout = "~/Areas/Backend/Views/Shared/_layout.cshtml";
}

<div class="box box-danger">
    <div class="box-body">
        <div class="nav-tabs-custom nav-primary">
            <ul class="nav nav-tabs">
                <li class="@(ViewBag.current_tab == "Event"?"active":"")">
                    <a href="@Url.Action("List", "Event", new { id = ViewBag.node.wm_url_id })">Events 管理</a>
                </li>
                <li class="@(ViewBag.current_tab == "PressRoom"?"active":"")">
                    <a href="@Url.Action("List", "PressRoom", new { id = ViewBag.node.wm_url_id })">Press room 管理</a>
                </li>
                <li class="@(ViewBag.current_tab == "Sign"?"active":"")">
                    <a href="@Url.Action("List", "Sign", new { id = ViewBag.node.wm_url_id })">Press room 簽名檔管理</a>
                </li>
            </ul>
        </div>
        <div class="tab-content">
            @RenderBody()
        </div>
    </div>
    <div class="box-footer"></div>
</div>