﻿@{
    Layout = "~/Areas/Backend/Views/PressRoom/index.cshtml";
}
@using web.Models
@using web.Common
@model List<press_room>


<div class="box-header with-border">
    <h3 class="box-title"></h3>
    <div class="box-tools">
        <div class="col-xs-10">
            <form action="@Url.Action("List", "PressRoom", new { id = ViewBag.node.wm_url_id })" method="get">
                <div class="col-xs-2">
                    <select class="form-control" name="lang">
                        <option value="" @(ViewBag.lang == "" ? "selected" : "")>語系</option>
                        <option value="en" @(ViewBag.lang == "en" ? "selected" : "")>English</option>
                        <option value="ch" @(ViewBag.lang == "ch" ? "selected" : "")>繁體中文</option>
                    </select>
                </div>
                <div class="col-xs-2">
                    <div class="input-group date date_picker">
                        <input type="text" class="form-control" name="searchP" value="@ViewBag.searchP" placeholder="發布時間" />
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
                <div class="col-xs-2">
                    <input type="text" class="form-control" name="keyword" value="@ViewBag.keyword" placeholder="標題" />
                </div>
                <div class="col-xs-2">
                    <select class="form-control" name="sort">
                        <option value="1" @(ViewBag.sort == 1 ? "selected" : "")>發布時間</option>
                        <option value="0" @(ViewBag.sort == 0 ? "selected" : "")>排序</option>
                    </select>
                </div>
                <div class="col-xs-2">
                    <button type="submit" class="btn">送出</button>
                </div>
            </form>
        </div>
        <div class="col-xs-2 text-right">
            <a class="btn btn-primary" href="@Url.Action("Content", "PressRoom", new { id = ViewBag.node.wm_url_id, param1 = 0 })" role="button"> 新增 </a>
        </div>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>語系</th>
                <th>標題</th>
                <th>發佈日期</th>
                <th>啟用</th>
                <th>編輯</th>
                <th>刪除</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() > 0)
            {
                foreach (press_room item in Model)
                {
                    <tr>
                        <td>
                            @if (item.lang == "en")
                            {
                                @:English
	                        }
                            else
                            {
                                @:繁體中文
                            }
                        </td>
                        <td>@(item.title)</td>
                        <td>@(string.Format("{0:yyyy-MM-dd}", item.publish_date))</td>
                        <td class="list-launch-block">
                            @if (item.launch == 1)
                            {
                                <span class="label label-success"><i class="fa fa-check"></i></span>
                            }
                            else
                            {
                                <span class="label label-danger"><i class="fa fa-ban"></i></span>
                            }
                            @Html.AntiForgeryToken()
                            <div class="hidden id" data-id="@(item.id)"></div>
                        </td>
                        <td>
                            <a class="btn btn-warning btn-sm" href="@(Url.Action("Content", "PressRoom", new { id = ViewBag.node.wm_url_id ,param1 = item.id }))"><i class="fa fa-edit"></i></a>
                        </td>
                        <td>
                            @using (Html.BeginForm("DeleteData", "PressRoom", new { id = ViewBag.node.wm_url_id, param1 = item.id }, FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <button class="btn btn-danger btn-sm delete_btn" type="submit"><i class="fa fa-trash-o"></i></button>
                            }
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="6" align="center">Empty</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    $('.list-launch-block').find('.label').click(function () {
        $label = $(this);
        $id = $(this).siblings('div.id').data('id');
        $token = $(this).siblings('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            url: '@(Url.Action("AjaxUpdateLaunch"))',
            type: "POST",
            cache: false,
            async: true,
            data: { param1: $id, __RequestVerificationToken: $token },
            datatype: "json",
            success: function (data) {
                if (data == 1) {
                    $label.removeClass('label-danger').addClass('label-success').html('<i class="fa fa-check"></i>');
                } else if (data == 0) {
                    $label.removeClass('label-success').addClass('label-danger').html('<i class="fa fa-ban"></i>');
                }
            }
        });
    });
</script>