﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-about">
		<h1 class="page-title title-large">About ASE</h1>
		<video poster="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/video.jpg")" class="about-video" id="bgvid" playsinline autoplay muted loop>
			<!-- 使用JS增加Source -->
		</video>
	</section>

	<!-- bread -->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->

	<!-- Content -->
	<section class="inside-article">
	<div class="content-lg row">
		<div class="col-md-12">
			<h3 class="title">Manufacturing Facilities</h3>
		</div>
	</div>
	</section>
<br>
	<div class="content-lg row">
		<div class="facilities-top col-xs-12">

		<div class="dropdown">
			<button class="btn btn-white dropdown-toggle border-999" type="button" data-toggle="dropdown"><span class="color-999">Select</span>
			<i class="form-control-feedback icon-align-right glyphicon glyphicon-triangle-bottom color-999"></i></button>
			<ul class="dropdown-menu dropdown-menu-facilities">
				<li><a href="#Kaohsiung">ASE Kaohsiung</a></li>
				<li><a href="#Chungli">ASE Chungli</a></li>
				<li><a href="#Shanghai">ASE Shanghai A &amp; T</a></li>
				<li><a href="#Shanghai2">ASE Shanghai Material</a></li>
				<li><a href="#Kunshan">ASE Kunshan</a></li>
				<li><a href="#ASEN">ASEN</a></li>
				<li><a href="#Wuxi">ASE Wuxi</a></li>
				<li><a href="#Weihai">ASE Weihai</a></li>
				<li><a href="#Korea">ASE Korea</a></li>
				<li><a href="#Japan">ASE Japan</a></li>
				<li><a href="#Malaysia">ASE Malaysia</a></li>
				<li><a href="#Singapore">ASE Singapore</a></li>
				<li><a href="#USI">USI</a></li>
				<li><a href="#Labs">ISE Labs</a></li>
			</ul>
		</div> 

<form role="form"> 
  <div class="form-group has-feedback">
    <label class="control-label sr-only">Username</label>
    <input type="text" class="form-control border-999" placeholder="Search" />
    <i class="form-control-feedback glyphicon glyphicon-search color-999"></i>
  </div>
</form>
		</div>
	</div>



	<!-- ================ start of content ================  -->
	<section class="page-list-content facilities">

		<div class="content-lg row bgnews-list">

			<div class="col-xs-12 list-base special" id="Kaohsiung">
				<div class="panel panel-default">
					<div class="panel-body facilities-content-box-header">
	    				<div class="col-md-12 panel-body">
	    					<div class="facilities-heading">ASE Kaohsiung</div>
	    				</div>
					</div>
					<div class="panel-body">
						<div class="col-md-9 panel-body left">
							<div class="content">
								<p>ASE Kaohsiung is ASE's flagship operation, housing the Group's R&amp;D center and operating world-class assembly, wafer bumping and test services. ASE Kaohsiung provides full turnkey services, including substrate design and manufacturing capabilities.</p>
								<div class="facilities-subheading">Operation Focus</div>
								<p>
								ASE Kaohsiung offers a vast range of package assembly and testing services, wafer sort testing and final testing service, as well as substrate design and manufacturing.
								</p>
							</div>
							<div class="information-box">
								<div class="information">
									<a href="http://www.asekh.aseglobal.com" target="_blank"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/facilities/url.svg" class="small-icons">&nbsp;Website</a>
								</div>
								<div class="information address-information">
									<a href="https://goo.gl/maps/aEkAzAn4fzo" target="_blank"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/facilities/address.svg" class="small-icons">&nbsp;Map</a>
								</div>
							</div>
						</div>
						<div class="col-md-3 panel-body right">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/facilities/kaohsiung.jpg" class="responsive">
						</div>
					</div>
				</div>
			</div>

			<div class="col-xs-12 list-base special" id="Chungli">
				<div class="panel panel-default">
						<div class="panel-body facilities-content-box-header">
	    				<div class="col-md-12 panel-body">
	    					<div class="facilities-heading">ASE ChungLi</div>
	    				</div>
				</div>
				<div class="panel-body">
						<div class="col-md-9 panel-body left">
							<div class="content">
								<p>ASE ChungLi, ASE Group's Intelligent Industrial Park, offers total turnkey services, including IC packaging, testing and substrate manufacturing. Located in the heart of Taiwan's major foundry clusters next to the HsinChu Scientific Park. ASE ChungLi has extensive experience in the field of wireless communications and provides image sensor and punched QFN capabilities to leading-edge applications.</p>
								<div class="facilities-subheading">Operation Focus</div>
								<p>
								ASE ChungLi offers package design and assembly, module assembly and testing, and substrate manufacturing.
								</p>
							</div>
							<div class="information-box">
								<div class="information">
									<a href="http://www.asecl.aseglobal.com" target="_blank"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/facilities/url.svg" class="small-icons">&nbsp;Website</a>
								</div>
								<div class="information address-information">
									<a target="_blank" href="https://goo.gl/maps/SkbSP2WZnx82">
									<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/facilities/address.svg" class="small-icons">&nbsp;Map
									</a>
								</div>
							</div>
						
						</div>
						<div class="col-md-3 panel-body right">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/facilities/chungli.jpg" class="responsive">
						</div>
				</div>
				</div>
			</div>
			
			<div class="col-xs-12 list-base special" id="Shanghai">
				<div class="panel panel-default">
					<div class="panel-body facilities-content-box-header">
	    				<div class="col-md-12 panel-body">
	    					<div class="facilities-heading">ASE Shanghai <small style="font-size:65%;">Assembly & Test</small></div>
	    				</div>
					</div>
					<div class="panel-body">
						<div class="col-md-9 panel-body left">
							<div class="content">
								<p>ASE Shanghai, strategically located in Shanghai's Zhangjiang High-Tech Park, provides semiconductor industry with integral ability of IC design, assembly & Test, wafer probing and final test. It provides an excellent one stop shop service for both domestic and global customers.</p>
								<div class="facilities-subheading">Operation Focus</div>
								<p>
								ASE Shanghai's main package offerings include BGA, CSP, and QFP featuring traditional wire bonding and advanced fine pitch technology. ASE Shanghai's test technology supports all types of testing, and encompasses analog, logic and mixed signal as well as provides test development software and services for customers.
								</p>
							</div>
							<div class="information-box">
								<div class="information">
									<a href="http://www.asesh.aseglobal.com/" target="_blank"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/facilities/url.svg" class="small-icons">&nbsp;Website</a>
								</div>
								
								<div class="information address-information">
								
									
									<a href="https://goo.gl/maps/om3UjTK5pSo" target="_blank">
									<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/facilities/address.svg" class="small-icons">&nbsp;Map
									</a>
								</div>
							</div>
						</div>
						<div class="col-md-3 panel-body right">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/facilities/shanghi.jpg" class="responsive">
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 list-base special" id="Shanghai2">
				<div class="panel panel-default">
					<div class="panel-body facilities-content-box-header">
	    				<div class="col-md-12 panel-body">
	    					<div class="facilities-heading">ASE Shanghai <small style="font-size:65%;">Material</small></div>
	    				</div>
					</div>
					<div class="panel-body">
						<div class="col-md-9 panel-body left">
							<div class="content">
								<p>
								ASE Shanghai Material, established in Shanghai's Zhangjiang High Tech Park, is with professional IC substrate production experience and innovative R&D to deliver competitive integrated design and production services to semiconductor industry customers worldwide.
								</p>
								<div class="facilities-subheading">Operation Focus</div>
								<p>
								Substrate design and production for PBGA, TFBGA, BOC, fcCSP, Memory, and SiP Module.
								</p>
							</div>
							<div class="information-box">
							
								
								<div class="information address-information">
								
									
									<a href="https://goo.gl/maps/mtGRh138ETo" target="_blank">
									<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/facilities/address.svg" class="small-icons">&nbsp;Map
									</a>
								</div>
							</div>
						</div>
						<div class="col-md-3 panel-body right">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/facilities/shanghi2.jpg"class="responsive">
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 list-base special" id="Kunshan">
				<div class="panel panel-default">
					<div class="panel-body facilities-content-box-header">
	    				<div class="col-md-12 panel-body">
	    					<div class="facilities-heading">ASE Kunshan</div>
	    				</div>
					</div>
					<div class="panel-body">
						<div class="col-md-9 panel-body left">
							<div class="content">
								<p>ASE Kunshan is strategically located in Yanhu Industry Park in Kunshan Jiangsu province. ASEKS with overall land space of 1,073,998 square meters, is to provide the integrated for ASE’s assembly, test, substrate and board assembly manufacturing capabilities.</p>
								<div class="facilities-subheading">Operation Focus</div>
								<p>
								ASE Kunshan offers SO, PDIP, QFN, QFP and BGA packages featuring traditional wire bonding and advanced fine pitch technology.
								</p>
							</div>
							<div class="information-box">
								<div class="information">
									<a href="http://www.aseks.aseglobal.com/" target="_blank"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/facilities/url.svg" class="small-icons">&nbsp;Website</a>
								</div>
								
								<div class="information address-information">	
									
								<a href="https://goo.gl/maps/3CLTzU8r49w" target="_blank">
									<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/facilities/address.svg" class="small-icons">&nbsp;Map
								</a>
								</div>
							</div>
						</div>
						<div class="col-md-3 panel-body right">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/facilities/kunshan.jpg" class="responsive">
						</div>
					</div>
				</div>
			</div>

			<div class="col-xs-12 list-base special" id="ASEN">
				<div class="panel panel-default">
					<div class="panel-body facilities-content-box-header">
	    				<div class="col-md-12 panel-body">
	    					<div class="facilities-heading">ASEN</div>
	    				</div>
					</div>
					<div class="panel-body">
						<div class="col-md-9 panel-body left">
							<div class="content">
								<p>ASEN was established as the Joint Venture of ASE and NXP in 2007, located in the Suzhou Industrial Park (SIP), Southern China, ASEN is owned by ASE Group since March, 2018. ASEN is strategically placed to serve the rapidly growing global semiconductor industry assembly & test market.</p>
								<div class="facilities-subheading">Operation Focus</div>
								<p>
								ASEN focuses on mobile communications and is expected to expand into other segments in the future. To meet customer needs, ASEN will offer a variety of package types, such as low pin count QFN, LFBGA, SO, TSSOP and other common packages for mobile applications.
								</p>
							</div>
							<div class="information-box">
								<div class="information">
									<a href="http://www.asen.aseglobal.com" target="_blank"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/facilities/url.svg" class="small-icons">&nbsp;Website</a>
								</div>
								<div class="information address-information">
								
									
									<a href="https://goo.gl/maps/cpBGd7EpRkx" target="_blank">
									<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/facilities/address.svg" class="small-icons">&nbsp;Map
									</a>
								</div>
							</div>
						</div>
						<div class="col-md-3 panel-body right">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/facilities/asen.jpg" class="responsive">
						</div>
					</div>
				</div>
			</div>

			<div class="col-xs-12 list-base special" id="Wuxi">
				<div class="panel panel-default">
					<div class="panel-body facilities-content-box-header">
	    				<div class="col-md-12 panel-body">
	    					<div class="facilities-heading">ASE Wuxi</div>
	    				</div>
					</div>
					<div class="panel-body">
						<div class="col-md-9 panel-body left">
							<div class="content">
								<p>ASE acquired Wuxi Tongzhi Microelectronics Co., Ltd. from TOSHIBA Semiconductor (Wuxi) Co., Ltd. to strengthen the capability of ASE for providing IC assembly and testing services in China.</p>
								<div class="facilities-subheading">Operation Focus</div>
								<p>
								ASE Wuxi specializes in QFP, LQFP, SOP and PDIP for household appliance, communications and amusement application.</p>
							</div>
							<div class="information-box">
								
								<div class="information address-information">
									
									<a href="https://goo.gl/maps/upkGc9e54eT2" target="_blank">
									<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/facilities/address.svg" class="small-icons">&nbsp;Map
									</a>
								</div>
							</div>
						</div>
						<div class="col-md-3 panel-body right">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/facilities/wuxi.jpg" class="responsive">
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-xs-12 list-base special" id="Weihai">
				<div class="panel panel-default">
					<div class="panel-body facilities-content-box-header">
	    				<div class="col-md-12 panel-body">
	    					<div class="facilities-heading">ASE Weihai</div>
	    				</div>
					</div>
					<div class="panel-body">
						<div class="col-md-9 panel-body left">
							<div class="content">
								<p>ASE Weihai, acquired Aimhigh's manufacturing facility in 2008, located in Wei Hai city, Shandong, China, specializes in lower pin count products. ASE Weihai offers significant cost advantages for discrete product manufacturing.</p>
								<div class="facilities-subheading">Operation Focus</div>
								<p>
								ASE Weihai focuses on discrete, providing packaging & test for communication, consumer & computer application ICs.
								</p>
							</div>
							<div class="information-box">
								
								<div class="information address-information">	
									
								<a href="https://goo.gl/maps/KbLsUomTSqr" target="_blank">
									<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/facilities/address.svg" class="small-icons">&nbsp;Map
								</a>
								</div>
							</div>
						
						</div>
						<div class="col-md-3 panel-body right">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/facilities/weihai.jpg" class="responsive">
						</div>
					</div>
				</div>
			</div>

			<div class="col-xs-12 list-base special" id="Korea">
				<div class="panel panel-default">
					<div class="panel-body facilities-content-box-header">
	    				<div class="col-md-12 panel-body">
	    					<div class="facilities-heading">ASE Korea</div>
	    				</div>
					</div>
					<div class="panel-body">
						<div class="col-md-9 panel-body left">
							<div class="content">
								<p>ASE Korea, located close to many handset and home appliance manufacturers, has established itself as a leader in RF, automotive and telecom analog, as well as MEMS sensor device package and test.</p>
								<div class="facilities-subheading">Operation Focus</div>
								<p>
								ASE Korea offers assembly and test services of sensor, communications, wireless and automotive semiconductors.<br><br>
								</p>
							</div>
							<div class="information-box">
								<div class="information">
									<a href="http://www.asekr.com/asekr_new/" target="_blank"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/facilities/url.svg" class="small-icons">&nbsp;Website</a>
								</div>
								<div class="information address-information">
									<a href="https://goo.gl/maps/dcSGwhThNJC2" target="_blank">
									<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/facilities/address.svg" class="small-icons">&nbsp;Map
									</a>
								</div>
							</div>
						</div>
						<div class="col-md-3 panel-body right">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/facilities/korea.jpg" class="responsive">
						</div>
					</div>
				</div>
			</div>

			<div class="col-xs-12 list-base special" id="Japan">
				<div class="panel panel-default">
					<div class="panel-body facilities-content-box-header">
	    				<div class="col-md-12 panel-body">
	    					<div class="facilities-heading">ASE Japan</div>
	    				</div>
					</div>
					<div class="panel-body">
						<div class="col-md-9 panel-body left">
							<div class="content">
								<p>ASE Japan, acquired NEC Electronics' packaging and testing operation in Japan as part of our aggressive globalization strategy, allowing ASE to gain a foothold in Japan. ASE Japan focuses on BGAs, QFPs, as well as IC test services.</p>
								<div class="facilities-subheading">Operation Focus</div>
								<p>
								ASE Japan offers assembly and test services of BGA type, and Leaded type.<br><br>
								</p>
							</div>
							<div class="information-box">
								<div class="information">
									<a href="http://www.asejp.aseglobal.com" target="_blank"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/facilities/url.svg" class="small-icons">&nbsp;Website</a>
								</div>
								<div class="information address-information">
								
									
								<a href="https://goo.gl/maps/pDUDr7Cga7z" target="_blank">
									<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/facilities/address.svg" class="small-icons">&nbsp;Map
									</a>
								</div>
							</div>
						</div>
						<div class="col-md-3 panel-body right">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/facilities/japan.jpg" class="responsive">
						</div>
					</div>
				</div>
			</div>

			<div class="col-xs-12 list-base special" id="Malaysia">
				<div class="panel panel-default">
					<div class="panel-body facilities-content-box-header">
	    				<div class="col-md-12 panel-body">
	    					<div class="facilities-heading">ASE Malaysia</div>
	    				</div>
					</div>
					<div class="panel-body">
						<div class="col-md-9 panel-body left">
							<div class="content">
								<p>ASE Malaysia, located in the heart of ASEAN cluster, serves a large customer base in the communications, computing, industrial and automotive markets. Through highly automated manufacturing processes and state-of-the-art equipment, ASE Malaysia has developed capabilities to assemble and test packages such QFPs, TQFPs, BGAs, SOICs, SOJs, PDIPs and camera modules.</p>
								<div class="facilities-subheading">Operation Focus</div>
								<p>
								ASE Malaysia provides package assembly and test in the field of communications, consumer electronics, industrial and industrial markets.
								</p>
							</div>
							<div class="information-box">
								<div class="information">
									<a href="http://www3.asemal.com.my/" target="_blank"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/facilities/url.svg" class="small-icons">&nbsp;Website</a>
								</div>
								<div class="information address-information">
								
									
									<a href="https://goo.gl/maps/SVaeZ7pQKN22" target="_blank">
									<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/facilities/address.svg" class="small-icons">&nbsp;Map
									</a>
								</div>
							</div>
						</div>
						<div class="col-md-3 panel-body right">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/facilities/malaysia.jpg" class="responsive">
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-xs-12 list-base special" id="Singapore">
				<div class="panel panel-default">
					<div class="panel-body facilities-content-box-header">
	    				<div class="col-md-12 panel-body">
	    					<div class="facilities-heading">ASE Singapore</div>
	    				</div>
					</div>
					<div class="panel-body">
						<div class="col-md-9 panel-body left">
							<div class="content">
								<p>ASE Singapore, formerly ISE Labs, is noted for its expertise in front-end test and wafer sort, and works closely with ASE Malaysia to form a total semiconductor manufacturing supply chain from front-end testing to backend IC packaging and test. It is in close proximity to the integrated device manufacturers and fabless companies in Hong Kong and Southeast Asia (also known as the ASEAN Cluster).</p>
								<div class="facilities-subheading">Operation Focus</div>
								<p>
								Test development, wafer probe and packaged IC test services , and possesses vast experience in mixed-signal and RFtesting through a range of sophisticated test platforms .
								</p>
							</div>
							<div class="information-box">
								<div class="information">
									<a href="https://www.aseglobal.com.sg/" target="_blank"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/facilities/url.svg" class="small-icons">&nbsp;Website</a>
								</div>
								<div class="information address-information">
									
									
								<a href="https://goo.gl/maps/9x3TkPZBvH42" target="_blank">
									<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/facilities/address.svg" class="small-icons">&nbsp;Map
								</a>
								</div>
							</div>
						</div>
						<div class="col-md-3 panel-body right">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/facilities/singapore.jpg" class="responsive">
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-xs-12 list-base special" id="USI">
				<div class="panel panel-default">
					<div class="panel-body facilities-content-box-header">
	    				<div class="col-md-12 panel-body">
	    					<div class="facilities-heading">USI</div>
	    				</div>
					</div>
					<div class="panel-body">
						<div class="col-md-9 panel-body left">
							<div class="content">
								<p>Universal Scientific Industrial, Inc. (USI) is a world leader in services ranging from component level to system level in electronic packaging, SMT board assembly, and systems assembly to fulfill various production requirements of customers. USI also provides contract manufacturing and turnkey services in the 3C industries - Communications, Computing, and Consumer Electronics, and components, as well as offers a series of standard and custom design products.<br>
								Moreover, USI has invested heavily in setting up a global manufacturing network that includes locations in Taiwan, China and Mexico.</p>
								<div class="facilities-subheading">Operation Focus</div>
								<p>
								Provides design manufacturing services from design to distribution in the field of Computing, Communications, and Mobile and Application-Specific Devices.
								</p>
							</div>
							<div class="information-box">
								<div class="information">
									<a href="http://www.usish.com/english/default.php" target="_blank"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/facilities/url.svg" class="small-icons">&nbsp;Website</a>
								</div>
								<div class="information address-information">
								
								
									<a href="https://goo.gl/maps/8ykoN9kP4xB2" target="_blank">
									<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/facilities/address.svg" class="small-icons">&nbsp;Map
									</a>
								</div>
							</div>
						</div>
						<div class="col-md-3 panel-body right">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/facilities/usi.jpg" class="responsive">
						</div>
					</div>
				</div>
			</div>
			
			
			<div class="col-xs-12 list-base special" id="Labs">
				<div class="panel panel-default">
					<div class="panel-body facilities-content-box-header">
	    				<div class="col-md-12 panel-body">
	    					<div class="facilities-heading">ISE Labs</div>
	    				</div>
					</div>
					<div class="panel-body">
						<div class="col-md-9 panel-body left">
							<div class="content">
								<p>ISE Labs has a wealth of experience and expertise to serve the semiconductor community. Our wide breadth of engineering services and products include test engineering support, production test services, test program development, test interface and reliability test hardware, ESD, burn-in, environmental testing, mechanical testing, and failure analysis.</p>
								<div class="facilities-subheading">Operation Focus</div>
								<p>
								Offers front-end engineering and final testing services of ICs.
								</p>
							</div>
							<div class="information-box">
								<div class="information">
									<a href="http://www.iselabs.com/Template/" target="_blank"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/facilities/url.svg" class="small-icons">&nbsp;Website</a>
								</div>
								<div class="information address-information">
								
									
									<a href="https://goo.gl/maps/YhZEVrAmTa22" target="_blank">
									<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/facilities/address.svg" class="small-icons">&nbsp;Map
									</a>
								</div>
							</div>
						</div>
						<div class="col-md-3 panel-body right">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/facilities/labs.jpg" class="responsive">
						</div>
					</div>
				</div>
			</div>
			
		</div>		
	</section>
	<!-- ================ end of content ================  -->	
