﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
    ViewBag.Title = "About ASE";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-about">
		<h1 class="page-title title-large">About ASE</h1>
		<video poster="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/video.jpg")" class="about-video" id="bgvid" playsinline autoplay muted loop>
			<!-- 使用JS增加Source -->
		</video>
	</section>

	<!--  bread -->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/about"><span itemprop="name">About ASE</span></a>
					<meta itemprop="position" content="1" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->
	
	<!-- About Content A -->
	<section class="inside-article">
        <div class="content-lg row">
            <article class="col-xs-12">
                <h3 class="title">Who we are and what we do</h3>
                <p>
                    All around us, digital transformation is changing the way we live, work, play and communicate. As a leading provider of semiconductor packaging and test services, ASE is proud to have played a significant role in upholding Moore’s Law and applying our technology on many of the world’s most innovative electronics. Our technologies have also enabled our customers to create cutting edge products that deliver superior performance, power, speed and connectivity.
                </p>
            </article>
        </div>
    </section>

    <section class="inside-article">
        <div class="content-lg row">
            <article class="col-xs-12">
                <br>
                <div class="col-xs-4 col-xs-offset-0 col-md-2 col-md-offset-1">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/about_capabilities_02.png"><br>
                    <h2 class="text-center" style="margin: 15px 0 0 0;">1984</h2>
                    <p class="text-center"><strong>Year Established</strong></p>
                </div>
                <div class="col-xs-4 col-md-2">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/about_capabilities_05.png"><br>
                    <h2 class="text-center" style="margin: 15px 0 0 0;">2018</h2>
                    <p class="text-center"><strong>Member of the ASE Technology Holding Company Ltd<br>(TWSE: 3711, NYSE: ASX)</strong></p>
                </div>
                <div class="col-xs-4 col-md-2">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/about_capabilities_04.png"><br>
                    <h2 class="text-center" style="margin: 15px 0 0 0;">2020</h2>
                    <p class="text-center"><strong>Established First 5G mmWave Smart Factory</strong></p>
                </div>
                <div class="col-xs-4 col-xs-offset-2 col-md-2 col-md-offset-0">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/about_capabilities_03.png"><br>
                    <h2 class="text-center" style="margin: 15px 0 0 0;">45,000</h2>
                    <p class="text-center"><strong>Number of Employees Worldwide</strong></p>
                </div>
                <div class="col-xs-4 col-md-2">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/about_capabilities_06.png"><br>
                    <h2 class="text-center" style="margin: 15px 0 0 0;">25</h2>
                    <p class="text-center"><strong>Number of Smart Factories</strong></p>
                </div>
            </article>
        </div>
    </section>

    <section class="inside-article">
        <div class="content-lg row">
            <article class="col-xs-12">
                <h3 class="title">We do so much more</h3>
                <p>
                    ASE is a primary architect of Heterogeneous Integration (HI) - the technology that integrates separately manufactured components into a higher level assembly (System-in-Package or SiP) that in the aggregate provides enhanced functionality and improved operational characteristics.<br><br>

                    HI is now the key technology in the advancement of integrated systems for greater intelligence and connectivity, higher bandwidth and performance, and lower latency and power per function, all at a more manageable cost. To learn more about ASE Heterogeneous Integration <a href="https://ase.aseglobal.com/en/heterogeneous_integration">click here</a> and SiP <a href="https://ase.aseglobal.com/en/technology/sip_module">click here</a>.<br><br>

                    Market shifts in customer requirements as well as the advent of 5G wireless technologies have given rise to smart manufacturing and the acceleration of Industry 4.0 at ASE. Smart Factories represent the future of our industry and are an integral part of ASE’s business operations. Our strategy is to leverage on AI, Big Data and Smart Automation to achieve full digital transformation.  We are moving ahead of our time by harnessing the power of smart manufacturing to increase productivity, add more value to the supply chain and strive for near perfection. To learn more about ASE Smart Factories, <a href="https://ase.aseglobal.com/en/solution/smart_factory_5g">click here</a>.
                </p>
                <h3 class="title">We are building a better world</h3>
                <p>
                    Technology can make a better world and this belief has fueled our ambition to lead the industry in corporate sustainability through innovation, social, economic and environmental stewardship. We are focused on implementing robust policies that combat climate change, advance green technologies and manufacturing, promote a strong economy and serve public interests. In December 2020, we were listed on both the CDP Climate A and Water A lists whilst in November 2021, we achieved the best overall performance on the Dow Jones Sustainability Indices (DJSI) – Semiconductors and Semiconductor Equipment Industry Group. ASE has remained on the DJSI World List for the sixth consecutive year, demonstrating our commitment to the fundamentals of our ESG principles and sustainability mission. To learn more about ASE Corporate Sustainability, <a href="https://ase.aseglobal.com/en/csr">click here</a>.
                </p>
            </article>
        </div>
    </section>
    <section class="inside-article">
        <div class="content-lg row">
            <article class="col-xs-12">
                <h3 class="title">Premier IC Manufacturing Services</h3>
                <p>Automation, heterogeneous integration in machine and production systems, and heterogeneous integration in systems-in-package (SiP) are 3 major forces driving smart factories and digital transformation at ASE. Our strong foundation in automation coupled with the successful integration of upstream and downstream partners in the use of digital technologies have resulted in greater customer trust.</p>
                <p>We are involved in many stages of the semiconductor manufacturing process - front-end engineering test, wafer probing, IC package design, substrate design and manufacturing, IC packaging (assembly), final test as well as module, board assembly and test in collaboration with our sister company, USI.<br /><br /></p>
                <h4>To learn more about Smart Manufacturing/Industry 4.0, please visit.</h4>
                <p>
                    <a href="https://ase.aseglobal.com/en/solution/industry4point0">» Industry 4.0</a><br /><br />
                </p>
                <h4>To learn more about Semiconductor Supply Chain, please visit.</h4>
                <p>
                    <a href="https://ase.aseglobal.com/en/solution/semiconductor-supply-chain">» Semiconductor Supply Chain</a>
                </p>
            </article>
        </div>
    </section>
    <section class="turnkey-services">
        <div class="content-lg row">
            <article class="col-xs-12">                 
                <div class="text-center">                   
                    <img class="pc" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/ASE_Turnkey_Services.png?1" alt="ASE Turnkey Services">
                    <img class="mobile" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/turnkey_services_m.png?1" alt="ASE Turnkey Services">
                </div>          
            </article>          
        </div>
    </section>
    <section class="inside-article">
        <div class="content-lg row">
            <!--<article class="col-sm-6 text-center" style="padding: 60px 10px 50px 10px;">
                <div class="col-md-12 nopadding">
                    <img src="https://2311cdn.r.worldssl.net/pic/bg-smart-manufacturing.jpg">
                </div>
                <div style="position:absolute; left:15%; top: 31%; z-index:100; margin:0 auto; background-color: rgba(0, 0, 0, 0.5); border-radius: 5px; width: 70%; height: 42%; padding: 2%; text-align: center;">
                    <h3 style="color:#fff; font-size: 28px;">Smart Manufacturing</h3>
                    <a class="button videoButton popupVideo" href="" target="_blank"><span style="padding-top: 4px;">Watch More</span><i class="icon-play"></i></a>
                </div>
            </article>-->
            <article class="col-sm-8 col-sm-offset-2 text-center" style="padding: 60px 10px 50px 10px;">
                <div class="col-md-12 nopadding">
                    <img src="https://2311cdn.r.worldssl.net/pic/bg-semiconductor-turnkey-solutions.jpg">
                </div>
                <div style="position:absolute; left:15%; top: 31%; z-index:100; margin:0 auto; background-color: rgba(0, 0, 0, 0.5); border-radius: 5px; width: 70%; height: 42%; padding: 2%; text-align: center;">
                    <h3 style="color:#fff; font-size: 28px;">Semiconductor Turnkey Solutions</h3>
                    <a class="button videoButton popupVideo" href="https://coms.aseglobal.com/marcom/video/services-at-a-glance-en" target="_blank"><span style="padding-top: 4px;">Watch More</span><i class="icon-play"></i></a>
                </div>
            </article>
        </div>
    </section>
    <section class="inside-article turnkey-services" style="padding: 60px 0;">
        <div class="content-lg row">
            <div class="products-menu1-content col-xs-12 csr">
            
                <div class="col-md-2">
                </div>
            
                <div class="col-md-4 bgnews-list list-base">
                    <div class="content">
                        <a href="https://ase.aseglobal.com/en/about/milestones">
                            <span class="blue-text-in-box">Milestones</span>
                            <div class="circle_button-wrapper">
                                <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                            </div>
                        </a>
                    </div>
                </div>
            
                <div class="col-md-4 bgnews-list list-base">
                    <div class="content">
                        <a href="https://ase.aseglobal.com/en/about/awards">
                            <span class="blue-text-in-box">Awards</span>
                            <div class="circle_button-wrapper">
                                <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </section>