﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-about">
		<h1 class="page-title title-large">About ASE</h1>
		<video poster="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/video.jpg")" class="about-video" id="bgvid" playsinline autoplay muted loop>
			<!-- 使用JS增加Source -->
		</video>
	</section>

	<!-- bread -->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->

	<!-- Content -->


	<!-- ================ start of content ================  -->
	<section class="inside-article">
		<div class="content-lg row">
			<div class="col-md-12">
				<h3 class="title">Careers at ASE</h3>
			</div>

			<div class="col-md-6">
				<p><h4>ASE Employment Opportunities</h4></p>
				<p>ASE is the world's number one independent provider of semiconductor packaging and test services. Supplying a turnkey solution including testing, packaging, substrate manufacturing, and system assembly since 1984, we focus on leveraging our leading-edge packaging, substrate, and test technologies to add value to our worldwide partners at each stage of the semiconductor manufacturing process.<br><br>

				An integral link in the global electronics value chain, ASE has manufacturing bases worldwide and over 68,000 employees. ASE is devoted to acting as a virtual factory for our customers, providing an extension of their operations while serving with a "can-do" attitude.</p>
			</div>
			<div class="col-md-6 padding-bottom10">
				<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/careers/careers1.jpg">
			</div>
			
			<div class="col-md-6  padding-bottom10">
				<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/careers/careers2.jpg">
			</div>
			<div class="col-md-6">
				<p>The ASE Group's global operations include our East Asia facilities in Taiwan, South Korea, Hong Kong, Singapore and Malaysia. In    addition, we operate sales offices in the United States and Europe — where nearly 70% of group revenue is generated. This strategic global deployment supports a well-balanced customer base evenly distributed in the 3C market that features a Who's Who of the global semiconductor industry.</p>

				
			</div>

			<div class="col-md-12 padding-top20 padding-bottom40">

				<p><h4>To enquire about career opportunities in other global locations, please contact:</h4>

				ASE Kaohsiung: <a href="http://www.asekh.aseglobal.com/content/5-51c.html" target="_blank">online recruitment</a> <br>
				ASE ChungLi: <a href="http://www.asecl.aseglobal.com/content/HumanResourceDevelopment.html" target="_blank">online recruitment</a><br>
				ASE Japan: <a href="mailto:uegaki@aseglobal.com" target="_blank">uegaki@aseglobal.com</a><br>
				ASE Korea: <a href="mailto:career@asekr.com" target="_blank">career@asekr.com</a><br>
				ASE Malaysia: <a href="http://www3.asemal.com.my/Content/HR/jobs" target="_blank">online recruitment</a> <br>
				ASE Singapore: <a href="http://www.aseglobal.com.sg/index.php/career/job-application/" target="_blank">online recruitment</a> <br>
				ASE Shanghai: <a href="http://www.asesh.aseglobal.com/content/5-5c.html" target="_blank">online recruitment</a> <br>
				ASE Kunshan: <a href="http://www.aseks.aseglobal.com/content/5-5c.html" target="_blank">online recruitment</a> <br>
				ASEN: <a href="http://www.asen.aseglobal.com/content/CareerOpportunities.html" target="_blank">online recruitment</a> <br>
				ASE US: <a href="mailto:hr@aseus.com" target="_blank">hr@aseus.com</a><br>
				ASE Europe: <a href="mailto:juliette.handwerker@aseeu.com" target="_blank">juliette.handwerker@aseeu.com</a><br>
				ISE Labs: <a href="mailto:mwang@iselabs.com" target="_blank">mwang@iselabs.com</a><br>
				USI: <a href="http://www.usi.com.tw/Career_job.html" target="_blank">online recruitment</a> <br>
				ASE Reserve Duty Officer Recruitment (ASE Kaohsiung & ChungLi) : <a href="http://www.aseglobal.com/career/reserve_duty_officer/" target="_blank">online recruitment</a><br>
				</p>

			</div>


		</div>
	</section>