﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
    ViewBag.Title = "Awards";
}
<!-- page Banner -->
<section id="page-vision" class="page-banner-s banner-about">
    <h1 class="page-title title-large">About ASE</h1>
    <video poster="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/video.jpg" class="about-video" id="bgvid" playsinline autoplay muted loop>
        <!-- 使用JS增加Source -->
    </video>
</section>

<!-- bread -->
<div class="content-lg row">
    <div class="col-xs-12">
        <ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/about"><span itemprop="name">About ASE</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item"><span itemprop="name">Company Info</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/about/awards"><span itemprop="name">Awards</span></a>
					<meta itemprop="position" content="3" />
				</li>
        </ol>
    </div>
</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->
<!--Content -->
<section class="timeline_section inside-article">
    <div class="content-lg row">
        <article class="col-xs-12">
            <h3 class="title">Awards</h3>
        </article>
    </div>
    <div class="content-lg row">
        <div class="col-xs-12">
            <div id="award" class="timeline_div">
                <div class="timeline_container">
                    <div class="timeline">
                        <div class="plus"></div>
                    </div>
                </div>
                <div class="item offset-first">
                    <span class="corner big past"></span>
                    <div class="year past"><b>2023</b></div>
                    <div class="event">
                        <ul class="current">
                            <li>
                                ASE’s Bumping Factory inducted into the World Economic Forum’s Global Lighthouse Network<br><br>

                                <img class="col-md-4" src="@Url.Content("https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/pic-milestones-2023-1.png")" />
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="item">
                    <span class="corner past"></span>
                    <div class="year past"><b>2016 ~ 2022</b></div>
                    <div class="event">
                        <ul class="current">
                            <li>
                                Tops List of Semiconductors and Semiconductor Equipment Companies on the 2022 Dow Jones Sustainability Indices.<br><br>

                                <img class="col-sm-12 col-md-12 no-margin" src="@Url.Content("https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/pic-milestones-2020-5.png")" />
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="item">
                    <span class="corner past"></span>
                    <div class="year past"><b>2018</b></div>
                    <div class="event">
                        <ul class="current">
                            <li>
                                ASE Group was recognized by Thomson Reuters as a 2018 Top 100 Global Technology Leader. The inaugural program identifies the tech industry’s most operationally sound and financially successful organizations.<br><br>

                                <img class="col-sm-12 col-md-12 no-margin" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/award_2018_1.jpg" />
                            </li>
                            <li>
                                ASE is the sole company from Taiwan on the Climate A List 2016 and 2018 issued by CDP.<br><br>

                                <img class="col-md-6 no-margin" src="@Url.Content("https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/award_2019_img03.png")" />
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="item">
                    <span class="corner past"></span>
                    <div class="year past"><b>2017</b></div>
                    <div class="event">
                        <ul class="current">
                            <li>
                                ASE Chairman and Founder Jason Chang received the 2017 Dale Carnegie Leadership Award which recognizes the company's focus on developing human resources, innovation and organizational creativity under his leadership.<br><br>

                                <img class="col-md-4 no-margin" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/award_2017_img01.png" /><br><br>
                            </li>
                            <!--<li>
                                ASE Listed on <a href="https://asiancorrespondent.com/2017/02/asian-correspondent-2017-csr50-index/#SafgTBefajH9BRYl.97" target="_blank">Asian Correspondent 2017 CSR 50 Index</a>, is among the 50 listed on the index, and among the only 5 from Taiwan.<br><br>

                                Companies selected all clearly demonstrate set goals for sustainability while tracking their notable progress, and holding themselves to account when it comes to achieving set objectives.
                            </li>
                            <li>
                                ASE Group received the RobecoSAM Gold Class award in <a href="https://yearbook.robecosam.com/companies/" target="_blank">“The Sustainability Yearbook 2017.”</a> ASE is the only OSAT company listed in the yearbook, and awarded both ‘Gold Class’ (within 1% of top performing company’s score) and ‘Industry Mover’ under the ‘Semiconductors and Semiconductor Industry’ category.
                            </li>-->
                        </ul>
                    </div>
                </div>
                <div class="item">
                    <span class="corner past"></span>
                    <div class="year past"><b>2016</b></div>
                    <div class="event">
                        <ul class="current">
                            <li>
                                Received 2016 Asia Responsible Entrepreneurship Award, ASE30 Environmental Conservation Fund demonstrates commitment to Taiwan’s environmental conservation and protection efforts.<br><br>

                                <img class="col-md-4 no-margin" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/award_2016_img01.png" />
                            </li>
                            <li>
                                ASE received the Top 50 Corporate Sustainability Report Award, Climate Leadership Award and Supply Chain Sustainability Leadership Award at the 2016 Taiwan Corporate Sustainability Awards (TCSA) event organized by the Taiwan Institute for Sustainable Energy (TAISE).
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="item">
                    <span class="corner past"></span>
                    <div class="year past"><b>2015</b></div>
                    <div class="event">
                        <ul class="current">
                            <li>
                                Chairman and Founder Jason Chang received the SEMI award for advancement in copper wire bonding. The award recognizes the significant impact and leadership made by ASE in bringing cost-effective manufacturing and high level performance solutions to the market.<br><br>

                                <img class="col-md-4" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/about/award_2016_img04.png" )" />
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="item">
                    <span class="corner past"></span>
                    <div class="year past"><b>2014</b></div>
                    <div class="event">
                        <ul class="current">
                            <li>
                                Rated the best of Asia Pacific's biggest publicly traded companies and awarded the Asia Fabulous 50 companies by Forbes magazine.<br><br>

                                <img class="col-sm-12 col-md-5 no-margin" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/award_2014_img01.png" /><br><br>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="item">
                    <span class="corner past"></span>
                    <div class="year past"><b>2011</b></div>
                    <div class="event">
                        <ul class="current">
                            <li>
                                Won the Contribution Award from the National Invention and Creation Award of Ministry of Economic Affairs.<br><br>

                                <img class="col-sm-10 col-md-8 no-margin" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/award_2011_img01.png" />
                            </li>
                            <li>
                                ASE Group was ranked as Taiwan 3rd place and Asia top 10 in 2011 Taiwan / China / Asia Info Tech 100 by Business Next.
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="item">
                    <span class="corner past"></span>
                    <div class="year past"><b>2002</b></div>
                    <div class="event">
                        <ul class="past">
                            <li>
                                Won the assembly and test service providers from Fabless Semiconductor Association.
                            </li>
                            <li>
                                Won the Outstanding Award from the Industrial Technology Development Award of Ministry of Economic Affairs in Taiwan.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
