﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-about">
		<h1 class="page-title title-large">About ASE</h1>
		<video poster="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/video.jpg")" class="about-video" id="bgvid" playsinline autoplay muted loop>
			<!-- 使用JS增加Source -->
		</video>
	</section>

	<!-- bread -->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->
	<!--Content -->
	<section class="timeline_section inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">Awards</h3>				
			</article>
		</div>
        <div class="content-lg row">
        	<div class="col-xs-12">
				<div id="award" class="timeline_div">    
                    <div class="timeline_container">
                        <div class="timeline">
                            <div class="plus"></div>
                        </div>   
                    </div>                 
                    <div class="item offset-first">   
                        <span class="corner big past"></span>                     
                        <div class="year past"><b>2018</b></div>
                        <div class="event">
                            <ul class="current">
                                <li>
									ASE Group was recognized by Thomson Reuters as a 2018 Top 100 Global Technology Leader. The inaugural program identifies the tech industry’s most operationally sound and financially successful organizations.
                                </li>                                
                            </ul>    
                        </div>
                    </div> 
					<div class="item ">   
                        <span class="corner  past"></span>                     
                        <div class="year past"><b>2017</b></div>
                        <div class="event">
                            <ul class="current">
                                <li>
								<p class="col-md-12 no-margin">
								Named Industry Group Leader in 2016 and 2017 Dow Jones Sustainability Indices, selected as the Semiconductors and Semiconductor Equipment Industry Group Leader.
								</p>
								<img class="col-sm-12 col-md-12 no-margin" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/award_2016_img02.png"  />
								</li>
								<li>
                                    <p class="col-md-12 no-margin">
									ASE Chairman and Founder Jason Chang received the 2017 Dale Carnegie Leadership Award which recognizes the company's focus on developing human resources, innovation and organizational creativity under his leadership.
                                    </p>
                                    
                                    <img class="col-md-4 no-margin" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/award_2017_img01.png" /><br><br>
                                    
                                </li><br><br>
								<!--<li>
                                    ASE Listed on <a href="https://asiancorrespondent.com/2017/02/asian-correspondent-2017-csr50-index/#SafgTBefajH9BRYl.97" target="_blank">Asian Correspondent 2017 CSR 50 Index</a>, is among the 50 listed on the index, and among the only 5 from Taiwan. 
    Companies selected all clearly demonstrate set goals for 
    sustainability while tracking their notable progress, and holding themselves to account when it comes to achieving set objectives.                               
                                </li>
                                <li>
                                    ASE Group received the RobecoSAM Gold Class award in <a href="https://yearbook.robecosam.com/companies/" target="_blank">“The 
    Sustainability Yearbook 2017.”</a> ASE is the only OSAT company listed in the yearbook, and awarded both ‘Gold Class’ (within 1% of top performing company’s score) and ‘Industry Mover’ under the 
    ‘Semiconductors and Semiconductor Industry’ category.
                                </li>-->                                
                            </ul>    
                        </div>
                    </div> 
                    <div class="item">  
                        <span class="corner past"></span>                     
                        <div class="year past"><b>2016</b></div>
                        <div class="event">
                            <ul class="current">
                                <li>
                                    <div class="col-md-12 no-margin">
                                    ASE is the sole company from Taiwan and the only outsourced semiconductor manufacturer on the Climate A List 2016 issued by CDP.
                                    </div>                                    
                                    <img class="col-md-4 no-margin" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/award_2016_img03.png"  />                                    
                                </li>
								<li>
                                    <div class="col-md-12">
                                    Received 2016 Asia Responsible Entrepreneurship Award, ASE30 Environmental Conservation Fund demonstrates commitment to Taiwan’s environmental conservation and protection efforts.
                                    </div>                                    
                                    <img class="col-md-4 no-margin" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/award_2016_img01.png"  />                                    
                                </li><br>
                                <!--<li>                                    
                                    ASE was selected for inclusion on the 2016 Dow Jones Sustainability Indices and and was also accorded the 2016 Semiconductors and Semiconductor Equipment Industry Group Leader.
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/award_2016_img02.png"  />                                    
                                </li>
                                
                                <li>
                                    <div class="col-7">
                                    Chairman and Founder Jason Chang received the SEMI award for advancement in copper wire bonding.  The award recognizes the significant impact and leadership made by ASE in bringing cost-effective manufacturing and high level performance solutions to the market.
                                    </div>
                                    <div class="col-3">
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/award_2016_img04.png" />
                                    </div>
                                </li>-->                          
                            </ul>    
                        </div>
                    </div>
                    <div class="item">  
                        <span class="corner past"></span>                     
                        <div class="year past"><b>2014</b></div>
                        <div class="event">
                            <ul class="current">
                                <li>
                                    <div class="col-md-12 no-margin">
                                    Rated the best of Asia Pacific's biggest publicly traded companies and awarded the Asia Fabulous 50 companies by Forbes magazine.<br>
                                    </div>          
									<img class="col-sm-12 col-md-5 no-margin" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/award_2014_img01.png"  /><br><br>
                                </li>                          
                            </ul>    
                        </div>
                    </div> 
                    <div class="item">  
                        <span class="corner past"></span>                     
                        <div class="year past"><b>2011</b></div>
                        <div class="event">
                            <ul class="current">
                                <li>
                                    <div class="col-md-12 no-margin">
                                    Won the Contribution Award from the National Invention and Creation Award of Ministry of Economic Affairs.
                                    </div>                                    
                                    <img class="col-sm-10 col-md-8 no-margin"src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/award_2011_img01.png" />                                    
                                </li> 
                               <li>
                                <div class="col-md-12">
                                    ASE Group was ranked as Taiwan 3rd place and Asia top 10 in 2011 Taiwan / China / Asia Info Tech 100 by Business Next.
								</div>                                    
                               </li>          
                            </ul>    
                        </div>
                    </div>
                    <div class="item">  
                        <span class="corner past"></span>                     
                        <div class="year past"><b>2002</b></div>
                        <div class="event">
                            <ul class="past">
                                <li>
                                    Won the assembly and test service providers from Fabless Semiconductor Association.                                
                                </li> 
                                <li>
                                    Won the Outstanding Award from the Industrial Technology Development Award of Ministry of Economic Affairs in Taiwan.                                
                                </li>                          
                            </ul>    
                        </div>
                    </div>
                  </div>   
            </div>
            </div>
        </div>
	</section>
