﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
    ViewBag.Title = "Careers at ASE";
    ViewBag.zhURL = "/ch/about/careers";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-about">
		<h1 class="page-title title-large">About ASE</h1>
		<video poster="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/video.jpg")" class="about-video" id="bgvid" playsinline autoplay muted loop>
			<!-- 使用JS增加Source -->
		</video>
	</section>

	<!-- bread -->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/about"><span itemprop="name">About ASE</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/about/careers"><span itemprop="name">Careers at ASE</span></a>
					<meta itemprop="position" content="2" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->

	<!-- Content -->


	<!-- ================ start of content ================  -->
	<section class="inside-article">
		<div class="content-lg row">
			<div class="col-md-12">
				<h3 class="title">Careers at ASE</h3>
			</div>

			<div class="col-md-7">
				<h4>ASE Employment Opportunities</h4>
				<p>
					ASE is the world's leading independent provider of semiconductor packaging and test services. Supplying a turnkey solution including testing, packaging, substrate manufacturing, and system assembly since 1984, we focus on leveraging our leading-edge packaging, substrate, and test technologies to add value to our worldwide partners at each stage of the semiconductor manufacturing process.<br><br>

				    An integral link in the global electronics value chain, ASE has manufacturing bases worldwide. ASE is devoted to acting as a virtual factory for our customers, providing an extension of their operations while serving with a "can-do" attitude.<br><br>

                    Our U.S. sales hub, located in California's Silicon Valley, gives us strong presence in the global center of semiconductor design, which has a high concentration of fabless customers. As a result of our continued growth, we are looking for qualified professionals to fill the following position(s) in our U.S. offices:<br><br>
                    <div class="circle_button darkgray facilities-circle-button"><i class="icon-arrow-right facilities-icon-arrow-right"></i></div> <a href="/public/en/About/CareerOpportunities_us.html">Career Opportunities in US</a><br>
                    <div class="circle_button darkgray facilities-circle-button"><i class="icon-arrow-right facilities-icon-arrow-right"></i></div> <a href="/public/en/About/CareerOpportunities_SG.html">Career Opportunities in Singapore</a><br>
                    <div class="circle_button darkgray facilities-circle-button"><i class="icon-arrow-right facilities-icon-arrow-right"></i></div> <a href="/public/en/About/CareerOpportunities_EU.html">Career Opportunities in Europe</a>
				</p>
				<br>
			</div>
			<div class="col-md-5 padding-bottom10">
				<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/careers/careers1.jpg">
			</div>
            <div class="clearfix"><p>&nbsp;<br><br></p></div>
			<div class="col-md-5  padding-bottom10">
				<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/careers/careers2.jpg">
			</div>
			<div class="col-md-7">
				<p>
					The ASE's global operations include our East Asia facilities in Taiwan, China, Japan, South Korea, Singapore and Malaysia. In addition, we operate sales offices in the United States and Europe. This strategic global deployment supports a well-balanced customer base evenly distributed in the 3C market that features a Who's Who of the global semiconductor industry.<br><br>

                    ASE is committed to continuously invest in talent cultivation by motivating employees to further their career within the company and retaining highly skilled and experienced employees. We strive to provide a safe, comfortable, healthy and productive workplace for our employees.
				</p>
			</div>

			<div class="col-md-12 padding-top40 padding-bottom40">
				<p><h4>To enquire about career opportunities in other global locations, please contact:</h4>
				ASE Kaohsiung: <a href="https://asekhsite.aseglobal.com/content/5-51c.html" target="_blank">online recruitment</a> <br>
				ASE ChungLi: <a href="mailto:asecl_recruit@aseglobal.com">asecl_recruit@aseglobal.com</a><br>
				ASE Japan: <a href="https://www.asejp.aseglobal.com/recruit/" target="_blank">online recruitment</a><br>
				ASE Korea: <a href="mailto:career@asekr.com" target="_blank">career@asekr.com</a><br>
				ASE Malaysia: <a href="https://www.asemal.com.my/Content/HR/jobs" target="_blank">online recruitment</a> <br>
				ASE Singapore: <a href="https://www.aseglobal.com.sg/index.php/career/job-application/" target="_blank">online recruitment</a> <br>
				<!--
				ASE Shanghai: <a href="http://www.asesh.aseglobal.com/content/5-5c.html" target="_blank">online recruitment</a> <br>
				ASE Kunshan: <a href="http://www.aseks.aseglobal.com/content/5-5c.html" target="_blank">online recruitment</a> <br>
				ASEN: <a href="http://www.asen.aseglobal.com/content/CareerOpportunities.html" target="_blank">online recruitment</a> <br>
				-->
				ASE US: <a href="mailto:hr@aseus.com" target="_blank">hr@aseus.com</a><br>
				ASE Europe: <a href="mailto:juliette.handwerker@aseeu.com" target="_blank">juliette.handwerker@aseeu.com</a><br>
				ISE Labs: <a href="mailto:careers@iselabs.com" target="_blank">careers@iselabs.com</a><br>
				</p>

			</div>


		</div>
	</section>