﻿@using web.Models;
@using web.Common;
@model contact
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
    Dictionary<string, string> error = (Dictionary<string, string>)TempData["error"];
    List<string> country_list = ViewBag.country_list;
}

<!-- page Banner -->
<section id="page-vision" class="page-banner-s banner-about">
    <h1 class="page-title title-large">About ASE</h1>
    <video poster="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/video.jpg" class="about-video" id="bgvid" playsinline autoplay muted loop>
        <!-- 使用JS增加Source -->
    </video>
</section>

<!--麵包屑-->
<div class="content-lg row">
    <div class="col-xs-12">
        <ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
        </ol>
    </div>
</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->
<!--Content -->
<section class="inside-article">
    <div class="content-lg row">
        <article class="col-xs-12">
            <h3 class="title">Contact ASE</h3>
        </article>
    </div>
</section>
<section class="page-list-content section-contact">
    <!--<div class="content-lg row">
        <div class="col-xs-12">
            <h4>*Required</h4>
        </div>
    </div>
    <div class="content-lg row">
        <div class="col-xs-12">
            <div>
                    @using (Html.BeginForm("Form", "About", FormMethod.Post, new { enctype = "multipart/form-data", id = "form1" })) {
                        @Html.AntiForgeryToken()
                        <div class="list">
                            <div class="remind">If you have any questions, comments or suggestions, please select the category, fill out the form and submit your questions, comments or suggestions. Thank you!</div>
                            <div class="row row_padding_0">
                                <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
                                    <div class="content-wrapper">
                                        <div class="require">
                                            <label>Question Type :</label>
                                            <select name="type">
                                                <option value="">Please Select</option>
                                                <option value="1" @(Model.type == 1 ? "selected" : "")>Website Feedback</option>
                                                <option value="2" @(Model.type == 2 ? "selected" : "")>Media Enquiries - PR Contacts_USA/Europe</option>
                                                <option value="3" @(Model.type == 3 ? "selected" : "")>Media Enquiries - PR Contacts_Asia Pacific</option>
                                                <option value="4" @(Model.type == 4 ? "selected" : "")>CSR Contacts</option>
                                            </select>
                                            <span class="text-red">@ViewHelper.GetErrorMsg(error, "type")</span>
                                        </div>
                                        <div class="require"><label>Name :</label><input name="name" type="text" required value="@(Model.name)" /></div>
                                        <span class="text-red">@ViewHelper.GetErrorMsg(error, "name")</span>
                                        <div class="require"><label>Email Address :</label><input name="email" type="email" required value="@(Model.email)" /></div>
                                        <span class="text-red">@ViewHelper.GetErrorMsg(error, "email")</span>

                                        <div class="phone">
                                            <label>Telephone :</label>
                                            <div>
                                                <span>+</span>
                                                <span>
                                                    <select name="country_code">
                                                        @foreach (string item in ViewBag.country_code)
                                                        {
                                                            if (Tool.IsNumeric(item))
                                                            {
                                                                <option value="@(item)" @(Model.country_code == item ? "selected" : "")>@(item)</option>
                                                            }
                                                        }
                                                    </select>
                                                </span>
                                                <span><input name="phone" type="text" value="@(Model.phone)" /></span>
                                                <span>(Ext)</span>
                                                <span><input name="ext" type="text" value="@(Model.ext)" /></span>
                                            </div>
                                        </div>
                                        <div>
                                            <label>Company / Organization :</label><input name="company" type="text" value="@(Model.company)" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
                                    <div class="content-wrapper fixed">
                                        <div class="require question">
                                            <label>Questions, Comments or Suggestions:</label>
                                            <textarea name="contents" required>@(Model.contents)</textarea>
                                            <span class="text-red">@ViewHelper.GetErrorMsg(error, "contents")</span>
                                        </div>
                                        <div class="agree-div">
                                            <div>
                                                <input name="agree" type="checkbox" value="" id='agree01' required /><label for="agree01">I agree to the <a href="javascript:;">Terms of Use</a></label>
                                            </div>
                                            <button type="submit" id="submit_btn">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
        </div>
    </div> -->
    <div class="content-lg row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="list">
                <div class="title">
                    Website Feedback
                    <a href="#open01" data-toggle="collapse" class="collapsed feedback"></a>
                </div>
                <div class="content-wrapper content-feedback">
                    <div id="open01" class="collapse text-center">
                        If you have any questions, comments or suggestions regarding this Website, please <a href="mailto:ase_webmaster@aseglobal.com">contact us</a>.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-lg row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="list">
                <div class="title">
                    Sales Contacts
                    <a href="#open02" data-toggle="collapse" class="collapsed feedback"></a>
                </div>
                <div class="content-wrapper content-feedback">
                    <div id="open02" class="collapse text-center">
                        If you wish to contact an ASE sales representative in your region, please click <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "plants_offices_ase" })">here</a> to select the appropriate contact.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-lg row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="list">
                <div class="title">
                    Media Enquiries
                    <a href="#open03" data-toggle="collapse" class="collapsed feedback"></a>
                </div>
                <div class="content-wrapper content-feedback">
                    <div id="open03" class="collapse text-center">
                        <div class="media-enquiries">
                            <!-- <div class="sub-title text-center">PR Contacts</div> -->
                            <div class="info">
                                <div class="col text-center">
                                    <b>USA/Europe</b><br />
                                    Patricia MacLeod<br />
                                    1-408-636-9500<br />
                                    <a href="mailto:patricia.macleod@aseus.com">patricia.macleod@aseus.com</a>
                                </div>
                                <div class="col text-center">
                                    <b>Asia Pacific</b><br />
                                    Jennifer Yuen<br />
                                    65-6631-4229<br />
                                    <a href="mailto:jennifer.yuen@aseus.com">jennifer.yuen@aseus.com</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content-lg row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="list">
                <div class="title">
                    CSR Contacts
                    <a href="#open05" data-toggle="collapse" class="collapsed feedback"></a>
                </div>
                <div class="content-wrapper content-feedback">
                    <div id="open05" class="collapse text-center">
                        If you have any questions, comments or suggestions regarding Corporate Sustainability Report, please contact <a href="mailto:ase_csr@aseglobal.com">ase_csr@aseglobal.com</a>.
                    </div>
                </div>
            </div>
        </div>
    </div>
	<div class="content-lg row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="list">
                <div class="title">
                    IR Contacts
                    <a href="#open04" data-toggle="collapse" class="collapsed feedback"></a>
                </div>
                <div class="content-wrapper content-feedback">
                    <div id="open04" class="collapse text-center">
                        If you have any request for information or suggestion about ASX IR services, please click <a href="/public/en/ir.html">here</a> to contact our IR officers.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<style>
    .text-red {
        color: red;
    }
    .text-center{
        text-align:center !important;
    }
</style>
<script>
    $(function () {
        $('a.feedback').click(function () {
            if ($(this).parent().attr('style') == '' || $(this).parent().prop('style').length == 0) {
                $(this).parent().attr('style', 'border:none;background: #eee;');
            } else {
                $(this).parent().attr('style', '');
            }
        });
    });
</script>
