﻿@using web.Models;
@using web.Common;
@model contact
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
    Dictionary<string, string> error = (Dictionary<string, string>)TempData["error"];
    List<string> country_list = ViewBag.country_list;
    ViewBag.Title = "Contact Us";
}

<!-- page Banner -->
<section id="page-vision" class="page-banner-s banner-about">
    <h1 class="page-title title-large">About ASE</h1>
    <video poster="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/video.jpg" class="about-video" id="bgvid" playsinline autoplay muted loop>
        <!-- 使用JS增加Source -->
    </video>
</section>

<!--麵包屑-->
<div class="content-lg row">
    <div class="col-xs-12">
        <ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
			<!-- Project-B Fix, Apply New Breadcrumb -->
			<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
				<meta itemprop="position" content="0" />
			</li>
			<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				<a itemprop="item" href="/en/about"><span itemprop="name">About ASE</span></a>
				<meta itemprop="position" content="1" />
			</li>
			<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				<a itemprop="item"><span itemprop="name">Contact Us</span></a>
				<meta itemprop="position" content="2" />
			</li>
        </ol>
    </div>
</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->
<!--Content -->
<section class="inside-article">
    <div class="content-lg row">
        <article class="col-xs-12">
            <h3 class="title">Contact Us</h3>
            <br>
            <h4 class="sub-title">Sales Contacts</h4>
            <p>If you wish to contact an ASE sales representative in your region, please click <a href="@Url.Action("plants_offices", "About", new { lang = ViewBag.language.lang })">here</a> to select the appropriate contact.</p>
            <br>
            <h4 class="sub-title">Media Enquiries</h4>
            <p style="padding-bottom: 5px;"><b>USA/Europe</b><br />
                Patricia MacLeod<br />
                1-408-636-9500<br />
                <a href="mailto:patricia.macleod@aseus.com">patricia.macleod@aseus.com</a></p>
            <p><b>Asia Pacific</b><br />
                Jennifer Yuen<br />
                65-6631-4229<br />
                <a href="mailto:jennifer.yuen@aseus.com">jennifer.yuen@aseus.com</a></p>
            <br>
            <h4 class="sub-title">CSR Contacts</h4>
            <p>If you have any questions, comments or suggestions regarding Corporate Sustainability Report, please contact <a href="mailto:ase_csr@aseglobal.com">ase_csr@aseglobal.com</a>.</p>
            <br>
            <h4 class="sub-title">Website Feedback</h4>
            <p>If you have any questions, comments or suggestions regarding this Website, please <a href="mailto:ase_webmaster@aseglobal.com">contact us</a>.</p>
            <br>
            <h4 class="sub-title">Logo and Visual Identity Guidelines</h4>
            <p>For all enquiries regarding the proper usage of the ASE and related entities’ logo or copyright material, or to apply for permission on the usage, please contact <a href="mailto:corp_comms@aseglobal.com">corp_comms@aseglobal.com</a>.</p>
            <br>
        </article>
    </div>
</section>