﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
    ViewBag.Title = "Global Manufacturing";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-about">
		<h1 class="page-title title-large">About ASE</h1>
		<video poster="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/video.jpg")" class="about-video" id="bgvid" playsinline autoplay muted loop>
			<!-- 使用JS增加Source -->
		</video>
	</section>

	<!-- bread -->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/about"><span itemprop="name">About ASE</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/about/manufacturing_facilities"><span itemprop="name">Global Manufacturing</span></a>
					<meta itemprop="position" content="2" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->

	<!-- Content -->
	<section class="inside-article">
	<div class="content-lg row">
		<div class="col-md-12">
			<h3 class="title">Global Manufacturing</h3>
		</div>
	</div>
	</section>
<br>
	<div class="content-lg row">
		<div class="facilities-top col-xs-12">

		<div class="dropdown">
			<button class="btn btn-white dropdown-toggle border-999" type="button" data-toggle="dropdown"><span class="color-999">Select</span>
			<i class="form-control-feedback icon-align-right glyphicon glyphicon-triangle-bottom color-999"></i></button>
			<ul class="dropdown-menu dropdown-menu-facilities">
				<li><a href="#Kaohsiung">ASE Kaohsiung</a></li>
				<li><a href="#Chungli">ASE Chungli</a></li>
				<li><a href="#Shanghai2">ASE Shanghai Material</a></li>
				<li><a href="#Wuxi">ASE Wuxi</a></li>
				<li><a href="#Korea">ASE Korea</a></li>
				<li><a href="#Japan">ASE Japan</a></li>
				<li><a href="#Malaysia">ASE Malaysia</a></li>
				<li><a href="#Singapore">ASE Singapore</a></li>
				<li><a href="#Labs">ISE Labs</a></li>
        <li><a href="#Labs-China">ISE Labs China</a></li>
			</ul>
		</div> 

<form role="form"> 
  <div class="form-group has-feedback">
    <label class="control-label sr-only">Username</label>
    <input type="text" class="form-control border-999" placeholder="Search" />
    <i class="form-control-feedback glyphicon glyphicon-search color-999"></i>
  </div>
</form>
		</div>
	</div>



	<!-- ================ start of content ================  -->
	<section class="page-list-content facilities">

		<div class="content-lg row bgnews-list">

			<div class="col-xs-12 list-base special" id="Kaohsiung">
				<div class="panel panel-default">
					<div class="panel-body facilities-content-box-header">
	    				<div class="col-md-12 panel-body">
	    					<div class="facilities-heading">ASE Kaohsiung</div>
	    				</div>
					</div>
					<div class="panel-body">
						<div class="col-md-9 panel-body left">
							<div class="content">
								<p>ASE Kaohsiung is ASE's flagship operation, housing the Group's R&amp;D center and operating world-class assembly, wafer bumping and test services. ASE Kaohsiung provides full turnkey services, including substrate design and manufacturing capabilities.</p>
								<div class="facilities-subheading">Operation Focus</div>
								<p>
								ASE Kaohsiung offers a vast range of package assembly and testing services, wafer sort testing and final testing service, as well as substrate design and manufacturing.
								</p>
							</div>
							<div class="information-box">
                                <p class="information"><a><span class="glyphicon glyphicon-earphone"></span>&nbsp;886-7-361-7131 #16518</a></p><br>
                                <p class="information"><a><span class="glyphicon glyphicon-user"></span>&nbsp;Stone Shi</a></p><br>
                                <p class="information"><a href="mailto:ASEKH_Info@aseglobal.com"><span class="glyphicon glyphicon-envelope"></span>&nbsp;ASEKH_Info@aseglobal.com</a></p><br>
                                <p class="information"><a href="https://goo.gl/maps/SVRM4SBWAtxPoCiL7" target="_blank"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;26, Chin 3rd Rd., Nanzih Dist., Kaohsiung, 811, Taiwan, R.O.C</a></p><br>
								<p class="information">
									<a href="https://asekhsite.aseglobal.com" target="_blank"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/facilities/url.svg" class="small-icons">&nbsp;Website</a>
								</p>
							</div>
						</div>
						<div class="col-md-3 panel-body right">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/facilities/kaohsiung.jpg" class="responsive">
						</div>
					</div>
				</div>
			</div>

			<div class="col-xs-12 list-base special" id="Chungli">
				<div class="panel panel-default">
						<div class="panel-body facilities-content-box-header">
	    				<div class="col-md-12 panel-body">
	    					<div class="facilities-heading">ASE ChungLi</div>
	    				</div>
				</div>
				<div class="panel-body">
						<div class="col-md-9 panel-body left">
							<div class="content">
								<p>ASE ChungLi, ASE Group's Intelligent Industrial Park, offers total turnkey services, including IC packaging, testing and substrate manufacturing. Located in the heart of Taiwan's major foundry clusters next to the HsinChu Scientific Park. ASE ChungLi has extensive experience in the field of wireless communications and provides image sensor and punched QFN capabilities to leading-edge applications.</p>
								<div class="facilities-subheading">Operation Focus</div>
								<p>
								ASE ChungLi offers package design and assembly, module assembly and testing, and substrate manufacturing.
								</p>
							</div>
							<div class="information-box">
                                <p class="information"><a><span class="glyphicon glyphicon-earphone"></span>&nbsp;886-3-452-7121 #67915</a></p><br>
                                <p class="information"><a><span class="glyphicon glyphicon-user"></span>&nbsp;Kevin Huang</a></p><br>
                                <p class="information"><a href="mailto:Kevin2_Huang@aseglobal.com"><span class="glyphicon glyphicon-envelope"></span>&nbsp;Kevin2_Huang@aseglobal.com</a></p><br>
                                <p class="information"><a href="https://goo.gl/maps/SkbSP2WZnx82" target="_blank"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;No.550, Chung-Hwa Rd. Sec. 1, Chung-Li, Taiwan, R.O.C</a></p><br>
								<p class="information">
									<a href="https://www.asecl.com.tw" target="_blank"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/facilities/url.svg" class="small-icons">&nbsp;Website</a>
								</p>
							</div>
						
						</div>
						<div class="col-md-3 panel-body right">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/facilities/chungli.jpg" class="responsive">
						</div>
				</div>
				</div>
			</div>

			<div class="col-xs-12 list-base special" id="Shanghai2">
				<div class="panel panel-default">
					<div class="panel-body facilities-content-box-header">
	    				<div class="col-md-12 panel-body">
	    					<div class="facilities-heading">ASE Shanghai <small style="font-size:65%;">Material</small></div>
	    				</div>
					</div>
					<div class="panel-body">
						<div class="col-md-9 panel-body left">
							<div class="content">
								<p>ASE Shanghai Material, established in Shanghai's Zhangjiang High Tech Park, is with professional IC substrate production experience and innovative R&D to deliver competitive integrated design and production services to semiconductor industry customers worldwide.</p>
								<div class="facilities-subheading">Operation Focus</div>
								<p>
								Substrate design and production for PBGA, TFBGA, BOC, fcCSP, Memory, and SiP Module.
								</p>
							</div>
							<div class="information-box">
                                <p class="information"><a><span class="glyphicon glyphicon-earphone"></span>&nbsp;86-21-5080-5888 #53808</a></p><br>
                                <p class="information"><a><span class="glyphicon glyphicon-user"></span>&nbsp;H Shao</a></p><br>
                                <p class="information"><a href="mailto:h_shao@aseglobal.com"><span class="glyphicon glyphicon-envelope"></span>&nbsp;h_shao@aseglobal.com</a></p><br>
                                <p class="information"><a href="https://goo.gl/maps/mtGRh138ETo" target="_blank"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;No. 2300 Jin Ke Rd. Zhangjiang Hi-Tech Park, Pudong New Area Shanghai 201203, P.R.China</a></p>
							</div>
						</div>
						<div class="col-md-3 panel-body right">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/facilities/shanghi2.jpg"class="responsive">
						</div>
					</div>
				</div>
			</div>

			<div class="col-xs-12 list-base special" id="Wuxi">
				<div class="panel panel-default">
					<div class="panel-body facilities-content-box-header">
	    				<div class="col-md-12 panel-body">
	    					<div class="facilities-heading">ASE Wuxi</div>
	    				</div>
					</div>
					<div class="panel-body">
						<div class="col-md-9 panel-body left">
							<div class="content">
								<p>ASE acquired Wuxi Tongzhi Microelectronics Co., Ltd. from TOSHIBA Semiconductor (Wuxi) Co., Ltd. to strengthen the capability of ASE for providing IC assembly and testing services in China.</p>
								<div class="facilities-subheading">Operation Focus</div>
								<p>
								ASE Wuxi specializes in QFP, LQFP, SOP and PDIP for household appliance, communications and amusement application.</p>
							</div>
							<div class="information-box">
                                <p class="information"><a><span class="glyphicon glyphicon-earphone"></span>&nbsp;86-510-8522-5352</a></p><br>
                                <p class="information"><a><span class="glyphicon glyphicon-user"></span>&nbsp;Tina Guo</a></p><br>
                                <p class="information"><a href="mailto:yinjie_guo@aseglobal.com"><span class="glyphicon glyphicon-envelope"></span>&nbsp;yinjie_guo@aseglobal.com</a></p><br>
                                <p class="information"><a href="https://goo.gl/maps/upkGc9e54eT2" target="_blank"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;Building No. 29-B, Block No. 52, Wuxi-High-Tech Industrial Development Zone Wuxi, Jiangsu 214028, P.R. China</a></p>
							</div>
						</div>
						<div class="col-md-3 panel-body right">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/facilities/wuxi.jpg" class="responsive">
						</div>
					</div>
				</div>
			</div>

			<div class="col-xs-12 list-base special" id="Korea">
				<div class="panel panel-default">
					<div class="panel-body facilities-content-box-header">
	    				<div class="col-md-12 panel-body">
	    					<div class="facilities-heading">ASE Korea</div>
	    				</div>
					</div>
					<div class="panel-body">
						<div class="col-md-9 panel-body left">
							<div class="content">
								<p>ASE Korea, located close to many handset and home appliance manufacturers, has established itself as a leader in RF, automotive and telecom analog, as well as MEMS sensor device package and test.</p>
								<div class="facilities-subheading">Operation Focus</div>
								<p>
								ASE Korea offers assembly and test services of sensor, communications, wireless and automotive semiconductors.<br><br>
								</p>
							</div>
							<div class="information-box">
                                <p class="information"><a><span class="glyphicon glyphicon-earphone"></span>&nbsp;82-31-940-0361</a></p><br>
                                <p class="information"><a><span class="glyphicon glyphicon-user"></span>&nbsp;Robinson Hwang</a></p><br>
                                <p class="information"><a href="mailto:robinsonhwang@asekr.com"><span class="glyphicon glyphicon-envelope"></span>&nbsp;robinsonhwang@asekr.com</a></p><br>
                                <p class="information"><a href="https://goo.gl/maps/dcSGwhThNJC2" target="_blank"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;76 Saneopdanji-gil, Paju-si, Gyeonggi-do, 10878, Korea</a></p><br>
								<p class="information">
									<a href="https://www.asekr.com/asekr_new/" target="_blank"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/facilities/url.svg" class="small-icons">&nbsp;Website</a>
								</p>
							</div>
						</div>
						<div class="col-md-3 panel-body right">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/facilities/korea.jpg" class="responsive">
						</div>
					</div>
				</div>
			</div>

			<div class="col-xs-12 list-base special" id="Japan">
				<div class="panel panel-default">
					<div class="panel-body facilities-content-box-header">
	    				<div class="col-md-12 panel-body">
	    					<div class="facilities-heading">ASE Japan</div>
	    				</div>
					</div>
					<div class="panel-body">
						<div class="col-md-9 panel-body left">
							<div class="content">
								<p>ASE Japan, acquired NEC Electronics' packaging and testing operation in Japan as part of our aggressive globalization strategy, allowing ASE to gain a foothold in Japan. ASE Japan focuses on BGAs, QFPs, as well as IC test services.</p>
								<div class="facilities-subheading">Operation Focus</div>
								<p>
								ASE Japan offers assembly and test services of BGA type, and Leaded type.<br><br>
								</p>
							</div>
							<div class="information-box">
                                <p class="information"><a><span class="glyphicon glyphicon-earphone"></span>&nbsp;81-238-57-3894</a></p><br>
                                <p class="information"><a href="mailto:asej_market@asejp.aseglobal.com"><span class="glyphicon glyphicon-envelope"></span>&nbsp;asej_market@asejp.aseglobal.com</a></p><br>
                                <p class="information"><a href="https://goo.gl/maps/pDUDr7Cga7z" target="_blank"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;1863, Ooazairyuda, Takahata-machi Higashiokitama-gun, Yamagata, 992-0324, Japan</a></p><br>
								<p class="information">
									<a href="https://www.asejp.aseglobal.com" target="_blank"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/facilities/url.svg" class="small-icons">&nbsp;Website</a>
								</p>
							</div>
						</div>
						<div class="col-md-3 panel-body right">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/facilities/japan.jpg" class="responsive">
						</div>
					</div>
				</div>
			</div>

			<div class="col-xs-12 list-base special" id="Malaysia">
				<div class="panel panel-default">
					<div class="panel-body facilities-content-box-header">
	    				<div class="col-md-12 panel-body">
	    					<div class="facilities-heading">ASE Malaysia</div>
	    				</div>
					</div>
					<div class="panel-body">
						<div class="col-md-9 panel-body left">
							<div class="content">
								<p>ASE Malaysia, located in the heart of ASEAN cluster, serves a large customer base in the communications, computing, industrial and automotive markets. Through highly automated manufacturing processes and state-of-the-art equipment, ASE Malaysia has developed capabilities to assemble and test packages such QFPs, TQFPs, BGAs, SOICs, SOJs, PDIPs and camera modules.</p>
								<div class="facilities-subheading">Operation Focus</div>
								<p>
								ASE Malaysia provides package assembly and test in the field of communications, consumer electronics, industrial and industrial markets.
								</p>
							</div>
							<div class="information-box">
                                <p class="information"><a><span class="glyphicon glyphicon-earphone"></span>&nbsp;60-4-632-8105</a></p><br>
                                <p class="information"><a><span class="glyphicon glyphicon-user"></span>&nbsp;Kelvin Ho</a></p><br>
                                <p class="information"><a href="mailto:kelvinho@asemal.com.my"><span class="glyphicon glyphicon-envelope"></span>&nbsp;kelvinho@asemal.com.my</a></p><br>
                                <p class="information"><a href="https://goo.gl/maps/F2XtjnPKPhBpmXmc7" target="_blank"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;Plot 20, Phase IV, Free Industrial Zone, 11900 Bayan Lepas, Penang, Malaysia.</a></p><br>
								<p class="information">
									<a href="https://www.asemal.com.my/" target="_blank"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/facilities/url.svg" class="small-icons">&nbsp;Website</a>
								</p>
							</div>
						</div>
						<div class="col-md-3 panel-body right">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/facilities/malaysia.jpg" class="responsive">
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-xs-12 list-base special" id="Singapore">
				<div class="panel panel-default">
					<div class="panel-body facilities-content-box-header">
	    				<div class="col-md-12 panel-body">
	    					<div class="facilities-heading">ASE Singapore</div>
	    				</div>
					</div>
					<div class="panel-body">
						<div class="col-md-9 panel-body left">
							<div class="content">
								<p>ASE Singapore, formerly ISE Labs, is noted for its expertise in front-end test and wafer sort, and works closely with ASE Malaysia to form a total semiconductor manufacturing supply chain from front-end testing to backend IC packaging and test. It is in close proximity to the integrated device manufacturers and fabless companies in Hong Kong and Southeast Asia (also known as the ASEAN Cluster).</p>
								<div class="facilities-subheading">Operation Focus</div>
								<p>
								Test development, wafer probe and packaged IC test services , and possesses vast experience in mixed-signal and RF testing through a range of sophisticated test platforms .
								</p>
							</div>
							<div class="information-box">
                                <p class="information"><a><span class="glyphicon glyphicon-earphone"></span>&nbsp;65-6631-4499</a></p><br>
                                <p class="information"><a><span class="glyphicon glyphicon-user"></span>&nbsp;CP Chew</a></p><br>
                                <p class="information"><a href="mailto:Chew.Choonping@aseglobal.com.sg"><span class="glyphicon glyphicon-envelope"></span>&nbsp;Chew.Choonping@aseglobal.com.sg</a></p><br>
                                <p class="information"><a href="https://goo.gl/maps/f5MdNAwMV8ifu7wY9" target="_blank"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;2 Woodlands Loop, Singapore 738074</a></p><br>
								<p class="information">
									<a href="https://www.aseglobal.com.sg/" target="_blank"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/facilities/url.svg" class="small-icons">&nbsp;Website</a>
								</p>
							</div>
						</div>
						<div class="col-md-3 panel-body right">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/facilities/singapore.jpg" class="responsive">
						</div>
					</div>
				</div>
			</div>
			
			
			<div class="col-xs-12 list-base special" id="Labs">
				<div class="panel panel-default">
					<div class="panel-body facilities-content-box-header">
	    				<div class="col-md-12 panel-body">
	    					<div class="facilities-heading">ISE Labs</div>
	    				</div>
					</div>
					<div class="panel-body">
						<div class="col-md-9 panel-body left">
							<div class="content">
								<p>ISE Labs has a wealth of experience and expertise to serve the semiconductor community. Our wide breadth of engineering services and products include test engineering support, production test services, test program development, test interface and reliability test hardware, ESD, burn-in, environmental testing, mechanical testing, and failure analysis.</p>
								<div class="facilities-subheading">Operation Focus</div>
								<p>
								Offers front-end engineering and final testing services of ICs.
								</p>
							</div>
							<div class="information-box">
                                <p class="information"><a><span class="glyphicon glyphicon-earphone"></span>&nbsp;1-510-687-2500</a></p><br>
                                <p class="information"><a><span class="glyphicon glyphicon-user"></span>&nbsp;Vince Sy</a></p><br>
                                <p class="information"><a href="mailto:info@iselabs.com"><span class="glyphicon glyphicon-envelope"></span>&nbsp;info@iselabs.com</a></p><br>
                                <p class="information"><a href="https://goo.gl/maps/YhZEVrAmTa22" target="_blank"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;46800 Bayside Parkway Fremont, CA 94538, USA</a></p><br>
								<p class="information">
									<a href="http://www.iselabs.com/Template/" target="_blank"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/facilities/url.svg" class="small-icons">&nbsp;Website</a>
								</p>
							</div>
						</div>
						<div class="col-md-3 panel-body right">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/facilities/labs.jpg" class="responsive">
						</div>
					</div>
				</div>
			</div>
            
            
      <div class="col-xs-12 list-base special" id="Labs-China">
          <div class="panel panel-default">
              <div class="panel-body facilities-content-box-header">
                  <div class="col-md-12 panel-body">
                      <div class="facilities-heading">ISE Labs China</div>
                  </div>
              </div>
              <div class="panel-body">
                  <div class="col-md-9 panel-body left">
                      <div class="content">
                          <p>ISE Labs China (Yuexin Technology) was officially established in Shanghai’s Zhangjiang Hi-Tech Park in 2014. Our one-stop service model features a unique ‘Engineering Center + Mini Factory’ concept, that combines the packaging and testing technology leadership and R&D strengths of the ASE Group with ISE Labs China’s leading edge testing service. This service model has allowed us to meet a variety of customer requirements in the production phase as well as solve various challenges during the product development stage.</p>
                          <div class="facilities-subheading">Operation Focus</div>
                          <p>
                          Offers functional verification at the new product stage, test program development, engineering lot verification and testing, product reliability verification and testing. Our testing services support diverse industries including biomedical, aerospace and military defense, electric vehicles, network servers, and automotive applications (navigation systems and autonomous driving).
                          </p>
                      </div>
                      <div class="information-box">
                          <p class="information"><a><span class="glyphicon glyphicon-earphone"></span>&nbsp;86-21-50877568</a></p><br>
                          <p class="information"><a><span class="glyphicon glyphicon-user"></span>&nbsp;Leo Wang</a></p><br>
                          <p class="information"><a href="mailto:Leo.Wang@iselabscn. com"><span class="glyphicon glyphicon-envelope"></span>&nbsp;Leo.Wang@iselabscn. com</a></p><br>
                          <p class="information"><a href="https://goo.gl/maps/hoUSiRnZ3625kLGW6" target="_blank"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;No.169 Shengxia Road, Pudong New Area, Shanghai, China</a></p>
                      </div>
                  </div>
                  <div class="col-md-3 panel-body right">
                      <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/facilities/ise-labs-china.jpg" class="responsive">
                  </div>
              </div>
          </div>
      </div>
			
		</div>		
	</section>
	<!-- ================ end of content ================  -->	
