﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
}
<style>
    .timeline_section .item ul li{
        margin-bottom:30px;
    }
</style>
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-about">
		<h1 class="page-title title-large">About ASE</h1>
		<video poster="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/video.jpg")" class="about-video" id="bgvid" playsinline autoplay muted loop>
			<!-- 使用JS增加Source -->
		</video>
	</section>

	<!-- bread -->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/about"><span itemprop="name">About ASE</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item"><span itemprop="name">Company Info</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/about/milestones"><span itemprop="name">Milestones</span></a>
					<meta itemprop="position" content="3" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->
	<!---Content--->
	<section class="timeline_section inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">Milestones</h3>				
			</article>
		</div>
        <div class="content-lg row">
        	<div class="col-xs-12">
				<div id="milestone" class="timeline_div">    
                <div class="timeline_container">
                    <div class="timeline">
                        <div class="plus"></div>
                    </div>
                </div>
                <div class="item offset-first">  
                    <span class="corner big current"></span>                     
                    <div class="year"><b>2020</b></div>
                    <div class="event">
                        <ul class="current">
                            <li>
                                On Mar 25, the People’s Republic of China’s Anti-Monopoly Bureau lifted the restrictive conditions imposed on the establishment of ASEH.
                                <br />
                            </li> 
                        </ul>  
                    </div>
                </div>
				<div class="item">  
                	<span class="corner current"></span>                     
                    <div class="year"><b>2018</b></div>
                    <div class="event">
                    	<ul class="current">
                            <li>
                                On April 30, ASE Technology Holding was listed on the Taiwan Stock Exchange (TWSE code: 3711) and on the New York Stock Exchange (NYSE code: ASX).
                                <br />
                            </li>
                            <li>
                                On February 12, ASE and SPIL announced that ASE Industrial Holding (now known as ASE Technology Holding) would hold 100% of the equity interests of both ASE and SPIL.
                                <br />                            
                            </li> 
                        </ul>  
                    </div>
                </div>
				<div class="item">  
                	<span class="corner current"></span>                     
                    <div class="year"><b>2016</b></div>
                    <div class="event">
                    	<ul class="current">
                            <li>
                                In June, ASE and SPIL jointly announced an agreement to establish a new holding company through mutual share exchanges.
                                <br />                            
                            </li>                        
                        </ul>   
                    </div>
                </div>
				<div class="item">  
                	<span class="corner  current"></span>                     
                    <div class="year"><b>2015</b></div>
                    <div class="event">
                    	<ul class="current">
                        	<li>
                            	
                                ASE and TDK established the ASE Embedded Electronics Inc at
                                Kaohsiung, Taiwan to offer SESUB® (semiconductor embedded in substrate) module technology that enables semiconductor miniaturization for portable and wearable electronic devices.
                                <br />
                                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/milestone_2015_img01.png" />
                                
                            </li>
                            <li>
                            	
                                In October, the ASE water recycling plant began operations at the Kaohsiung Nantze Export Processing Zone.
								<br />
                                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/milestone_2015_img02.png"  />
                                
                            </li><br><br>
                        </ul>    
                    </div>
                </div> 
                <div class="item">  
                	<span class="corner current"></span>                     
                    <div class="year"><b>2014</b></div>
                    <div class="event">
                    	<ul class="current">
                        	<li>
                            	
                            	Celebrated the ASE Group's 30<sup>th</sup> anniversary.
                                <br />
                                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/milestone_2014_img01.png" />
                                
                            </li>    <br><br>                      
                        </ul>    
                    </div>
                </div>
                <div class="item">  
                	<span class="corner current"></span>                     
                    <div class="year"><b>2013</b></div>
                    <div class="event">
                    	<ul class="current">
                        	<li>
                            	
                            	Acquired Wuxi Tongzhi Microelectronics Co, Ltd from Toshiba to expand ASE's IC assembly and testing service offerings in China.
								<br />
                                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/milestone_2013_img01.png"  />
                                
                            </li>      <br><br>                    
                        </ul>    
                    </div>
                </div> 
                <div class="item">  
                	<span class="corner current"></span>                     
                    <div class="year"><b>2012</b></div>
                    <div class="event">
                    	<ul class="current">
                        	<li>
                            	
                            	Universal Scientific Shanghai, a subsidiary of Universal Scientific Co. Ltd., completed its IPO on the Shanghai Stock Exchange on February 2012.
                                <br />
                                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/milestone_2012_img01.png" />
                                
                            </li> 
							<li>
                           		
                            	ASE Korea and the city of Paju signed an MOU for the further development of ASE's communication IC packaging and testing production facilites in the industrial zone.
								<br />
                                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/milestone_2012_img02.png" />
                                
                           </li> 
                           <!-- <li>
                            	ASE completed the acquisition of Yang Ting Corporation. Yang Ting is based in Taichung, Taiwan, R.O.C., and specializes in discrete packaging and testing services.
                                
                           </li> -->      <br><br>           
                        </ul>    
                    </div>
                </div>
                <div class="item">  
                	<span class="corner current"></span>                     
                    <div class="year"><b>2011</b></div>
                    <div class="event">
                    	<ul class="current">
                        	<li>
                            	Operation began at ASE K12, the world’s first semiconductor assembly and test facility to be awarded the double distinction of EEWH Diamond and LEED Platinum certifications.
                                	<br />
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/milestone_2011_img01.png"  />
                                    
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/milestone_2011_img02.png" class="fix-height" />
                                    
                            </li>       <br><br>                   
                        </ul>    
                    </div>
                </div>
                <div class="item">  
                	<span class="corner current"></span>                     
                    <div class="year"><b>2010</b></div>
                    <div class="event">
                    	<ul class="current">
                        	<li>
                            	
                            	Acquired EEMS Test Singapore Pte Ltd to further strengthen ASE Singapore's test offerings.
                                <br />
                                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/milestone_2010_img01.png"  />
                                
                            </li>  
                            <li>
                            	
                            	Acquired Universal Scientific Industrial Co, Ltd to provide a complete IC manufacturing service portfolio from chip-level assembly and testing to board-level PCB/module assembly.
                                <br />
                                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/milestone_2010_img02.png"  />
                                
                            </li>
                            <li>
                            	
                            	ASE Kunshan officially in operation. The strategically located facility at the Yanhu Industrial Park, Kunshan, Jiangsu province provides assembly, test, substrate and board assembly manufacturing capabilities.
								<br />
                                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/milestone_2010_img03.png" />
                                
                            </li> <br><br>                       
                        </ul>    
                    </div>
                </div>
                <div class="item">  
                	<span class="corner big before"></span>                     
                    <div class="year before"><b>2009</b></div>
                    <div class="event">
                    	<ul class="before">
                        	<li>
                            	
                            	Started volume production of Copper Wire Bonding at ASE manufacturing sites.
                                <br />
                                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/milestone_2009_img01.png"  />
                                
                            </li>             <br><br>             
                        </ul>    
                    </div>
                </div>
                <div class="item">  
                	<span class="corner before"></span>                     
                    <div class="year before"><b>2008</b></div>
                    <div class="event">
                    	<ul class="before">
                        	<li>                            
                            	Acquired Aimhigh's manufacturing facility located in Wei Hai city, Shandong, China specializing in discrete IC packaging.
                                <br />
                                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/milestone_2008_img01.png" />
                               	<br />
                                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/milestone_2008_img02.png" />
                                
                            </li>   <br><br>                       
                        </ul>    
                    </div>
                </div>
                <div class="item">  
                	<span class="corner before"></span>                     
                    <div class="year before"><b>2007</b></div>
                    <div class="event">
                    	<ul class="before">
                        	<li>
                            	
                            	ASEN, an IC assembly and testing facility was jointly established by ASE and NXP in Suzhou, China.
                                <br />
                                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/milestone_2007_img01.png" />
                                
                            </li> 
                            <li>
                            	
                            	Integrated GAPT Shanghai into the ASE Group and renamed ASE Assembly & Test (Shanghai) Ltd.
                                <br />
                                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/milestone_2007_img02.png" />
                                
                            </li><br><br>
                        </ul>    
                    </div>
                </div>
                <div class="item">  
                	<span class="corner before"></span>                     
                    <div class="year before"><b>2006</b></div>
                    <div class="event">
                    	<ul class="before">
                        	<li>
                            	Transferred existing semiconductor material business department to its wholly owned subsidiary, ASE Electronics Inc., to strengthen core competencies and to further develop material business.
                            </li> 
                            <li>
                            	
                            	ASE and Powerchip formed joint venture to establish PowerASE Technology Inc, focusing on packaging and test services for the memory IC market.
                                <br />
                                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/milestone_2006_img01.png"  />
                                
                            </li><br><br>
                        </ul>    
                    </div>
                </div>
                <div class="item">  
                	<span class="corner before"></span>                     
                    <div class="year before"><b>2005</b></div>
                    <div class="event">
                    	<ul class="before">
                        	<li>
                            	
                            	Started volume production of Wafer Level CSP (WLCSP).
                                <br />
                                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/milestone_2005_img01.png" />
                                
                            </li>
                        </ul>    
                    </div>
                </div>
                <div class="item" style="padding-top: 25px">  
                	<span class="corner big past"></span>
                    <div class="year past"><b>2004</b></div>
                    <div class="event">
                    	<ul class="past">
                        	<li>
                            	Acquired NEC Electronics' IC packaging and testing operation in Takahata, Japan. The acquisition enabled ASE to enhance its presence and market share with Japanese IDM (Integrated Device Manufacturers) customers.
                                <br />
                                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/milestone_2004_img01.png" />
                            </li>
                            <li>
                            	Established substrate and IC module manufacturing facilities in Shanghai, China.
                                <br />
                                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/milestone_2004_img04.jpg" />
                                <br />
                                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/milestone_2004_img05.jpg" />                
                            </li>
                            <li>
                            	Celebrated the ASE Group’s 20<sup>th</sup> anniversary.
                                <br />
                                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/milestone_2004_img03.png" />
                            </li><br><br>
                        </ul>    
                    </div>
                </div> 
                <div class="item">  
                	<span class="corner past"></span>                     
                    <div class="year past"><b>2003</b></div>
                    <div class="event">
                    	<ul class="past">
                            <li>
                                ASE IC Assembly, Test and Materials surpassed all players in the OSAT industry to achieve global market leadership.
                                <br />
                                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/milestone_2004_img02.png" />
                            </li>        <br><br>                                    
                        </ul>    
                    </div>
                </div>
                <div class="item">  
                	<span class="corner past"></span>                     
                    <div class="year past"><b>2001</b></div>
                    <div class="event">
                    	<ul class="past">
                        	<li>
                            	
                            	Established ASE ChungLi Intelligent Industrial Park to provide comprehensive turnkey services under one roof in Northern Taiwan.
                                <br />
                                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/milestone_2001_img01.png"  />
                                
                            </li>                            
                            <li>
                            	
                            	Completed development and opened facility to handle 300mm wafer bumping.
                                <br />
                                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/milestone_2001_img02.png"  />
                                
                            </li>    <br><br>               
                        </ul>    
                    </div>
                </div> 
                <div class="item">  
                	<span class="corner past"></span>                     
                    <div class="year past"><b>2000</b></div>
                    <div class="event">
                    	<ul class="past">
                        	<li>
                            	ASE Inc. started trading on the New York Stock Exchange through the issue of ADR.
                            </li>                            
                            <li>
                            	
                            	Commenced volume production of flip chip packaging.
                                <br />
                                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/milestone_2000_img01.png"  />
                                
                            </li>    <br><br>               
                        </ul>    
                    </div>
                </div>
                <div class="item">  
                	<span class="corner past"></span>                     
                    <div class="year past"><b>1999</b></div>
                    <div class="event">
                    	<ul class="past">
                        	<li>
                            	ASE Test Limited listed on NASDAQ, becoming the first Taiwan-based company to make a public offering in the US.
                            </li>
                        	<li>
                            	
                            	Acquired Motorola's manufacturing facilities in Chungli, Taiwan and Paju, Korea.
                                <br />
                                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/milestone_1999_img01.png" />
                                
                            </li>                            
                            <li>
                            	
                            	Obtained controlling interest in Universal Scientific Industrial Co., Ltd. (USI), expanding into the scope of systems assembly.
                                <br />                            
                                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/milestone_1999_img02.png"  />
                                
                            </li>     <br><br>              
                        </ul>    
                    </div>
                </div> 
                <div class="item">  
                	<span class="corner past"></span>                     
                    <div class="year past"><b>1998</b></div>
                    <div class="event">
                    	<ul class="past">
                        	<li>
                            	ASE Test Limited started trading on Taiwan Stock Exchange through the issue of TDR.
                                
                            </li>
                        	<li>
                            	
                            	Established in-house flip chip assembly and test capabilities.
                                <br />
                                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/milestone_1998_img01.png" class="fix-height" />
                                
                            </li>        <br><br>    
                        </ul>    
                    </div>
                </div>
                <div class="item">  
                	<span class="corner past"></span>                     
                    <div class="year past"><b>1996</b></div>
                    <div class="event">
                    	<ul class="past">
                        	<li>
                            	
                            	Incorporated ASE Material Inc. to establish in-house inter-connection materials (substrates) capabilities.
                                <br />
                                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/milestone_1996_img01.png"  />
                                
                            </li>    <br><br>        
                        </ul>    
                    </div>
                </div>
                <div class="item">  
                	<span class="corner past"></span>                     
                    <div class="year past"><b>1991</b></div>
                    <div class="event">
                    	<ul class="past">
                        	<li>
                            	
                            	Established packaging and testing facilities in Penang, Malaysia.
                                <br />
                                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/milestone_1991_img01.png" />
                                
                            </li>         <br><br>   
                        </ul>    
                    </div>
                </div>
                <div class="item">  
                	<span class="corner past"></span>                     
                    <div class="year past"><b>1990</b></div>
                    <div class="event">
                    	<ul class="past">
                        	<li>
                            	
                            	Entered the semiconductor test market by acquiring ASE Test Limited.
                                <br />
                                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/milestone_1990_img01.png"  />
                                
                            </li>           <br><br> 
                        </ul>    
                    </div>
                </div>
                <div class="item">  
                	<span class="corner past"></span>                     
                    <div class="year past"><b>1989</b></div>
                    <div class="event">
                    	<ul class="past">
                        	<li>
                            	ASE Inc began trading on the Taiwan Stock Exchange.
                                <img class = "col-md-6" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/milestone_1989_img01.jpg"  />
                            </li>            
                        </ul>    
                    </div>
                </div>
                <div class="item">  
                	<span class="corner past"></span>                     
                    <div class="year past"><b>1984</b></div>
                    <div class="event">
                    	<ul class="past">
                        	<li>
                            	
                            	Brothers Jason Chang and Richard Chang established Advanced Semiconductor Engineering, Inc. Operations began at its first factory in Kaohsiung, Taiwan.
                                <br />
                                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/milestone_1984_img01.png"   />
                                
                            </li>            
                        </ul>    
                    </div>
                </div>
                 
            </div>
            </div>
        </div>
	</section>
