﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-about">
		<h1 class="page-title title-large">About ASE</h1>
		<video poster="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/video.jpg")" class="about-video" id="bgvid" playsinline autoplay muted loop>
			<!-- 使用JS增加Source -->
		</video>
	</section>

	<!-- bread -->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
			</ol>
		</div>
	</div>

<!-- Auto Remove Breadcrumbs-PC -->
	
	<!-- Content -->
	<section class="plants-Offices">
		<div class="content-lg row">
			<div class="col-xs-12">
				<ul class="tabs">
					<li >
						<a href="@Url.Action("plants_offices_ase", "About", new { lang = ViewBag.language.lang })">ASE</a>
					</li>
					<!--<li>
						<a href="plants_offices_ise.html">ISE Labs</a>
					</li>-->
					<li class="active">
						<a href="@Url.Action("plants_offices_usi", "About", new { lang = ViewBag.language.lang })">USI</a>
					</li>
				</ul>		
			</div>			
		</div>		
	</section>
	<section  class="ir-list bgnews-list plants-list">		
				<!-- List -->
		<div class="content-lg row">
			<div class="col-xs-12 col-md-5">
				<div class="list">
					<h4 class="text-center">Plants
						<a href="*PLANTS" class="circle_button"><i class="icon-cross"></i></a>
					</h4>
					<div class="content">
						<div class="row plants-row">
							<div class="col-xs-12 col-md-6">
								<ul class="plants-ul">
									<li class="ic"><a href="#TAIWAN">TAIWAN</a></li>									
									<li class="ic"><a href="#SHANGHAI-ZHANG">CHINA｜SHANGHAI</a></li>
								</ul>	
							</div>
							<div class="col-xs-12 col-md-6">
								<ul class="plants-ul">
									<li class="ic"><a href="#KUNSHAN">CHINA｜KUNSHAN</a></li>
									<li class="ic"><a href="#SHENZHEN">CHINA｜SHENZHEN</a></li>
									<li class="ic"><a href="#MEXICO">MEXICO</a></li>								
								</ul>	
							</div>
						</div>	

					</div>
				</div>
			</div>

			<div class="col-xs-12 col-md-7 no-margin">
				<div class="list">
					<h4 class="text-center"><span>Sales Offices &amp; </span> <span>Service Centers</span>
						<a href="@Url.Action("plants_offices_ase", "About", new { lang = ViewBag.language.lang })" class="circle_button"><i class="icon-cross"></i></a>
					</h4>
					<div class="content">
						<div class="row plants-row">
							<div class="contact_ase"><span>If you wish to contact an ASE sales representative in your region,</span> <span>please click <a href="http://www.usish.com/tchinese/contact.asp">here</a> to select the appropriate contact.</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-12 text-center">
				<ul class="plants-color">
					<li class="ic">IC Service</li>
					<li class="system">System Service</li>
					<li class="sales">Sales and Representative Offices</li>
					<li class="service">Service Center</li>
				</ul>	
			</div>	
		</div>
	</section>
	<section class="plants-Offices general">
		<div class="content-lg row">
			<div class="col-xs-12">
				<h2 class="title" id="PLANTS">Plants</h2>
			</div>
		</div>
	</section>		
	<section class="page-list-content plants-Offices">
		<div class="content-lg row">
			<ul id="list-content" class="col-xs-12 list-base list-link office-list-content">
				<li>
					<a href="javascript:;" class="link-disable">
						<div id="TAIWAN" class="office">TAIWAN</div>
						<div class="text-box">
							<div class="content-wrapper">								
								<p class="phone"><span class="glyphicon glyphicon-earphone"></span>886-49-235-0876</p>
								<p class="email"><span class="glyphicon glyphicon-envelope"></span>usi@ms.usi.com.tw</p>
								<p class="address"><span class="glyphicon glyphicon-map-marker"></span>No.141, Lane 351, Taiping Road, SEC. 1 Tsao Tuen, Nan-Tou, Taiwan, R.O.C</p>
							</div>							
						</div>
					</a>
				</li>
				<li>
					<a href="javascript:;" class="link-disable">
						<div id="SHANGHAI-ZHANG" class="office">CHINA｜SHANGHAI <small>ZHANG JIANG</small></div>
						<div class="text-box">
							<div class="content-wrapper">								
								<p class="phone"><span class="glyphicon glyphicon-earphone"></span>86-21-5896-6996</p>
								<p class="email"><span class="glyphicon glyphicon-envelope"></span>china@usiglobal.com</p>
								<p class="address"><span class="glyphicon glyphicon-map-marker"></span>No. 1558, Zhang Dong Road Zhangjiang Hi-Tech Park Shanghai 201203, P.R.China</p>
							</div>							
						</div>
					</a>
				</li>
				<li>
					<a href="javascript:;" class="link-disable">
						<div id="SHANGHAI-JIN" class="office">CHINA｜SHANGHAI <small>JIN QIAO</small></div>
						<div class="text-box">
							<div class="content-wrapper">								
								<p class="phone"><span class="glyphicon glyphicon-earphone"></span>86-21-3813-6668</p>
								<p class="address"><span class="glyphicon glyphicon-map-marker"></span>No. 501, Longgui Road, Jingqiao Epz (South Area),Customs Supervising Area, Pudong New Area, Shanghai 201201, P.R.China</p>
							</div>							
						</div>
					</a>
				</li>
				<li>
					<a href="javascript:;" class="link-disable">
						<div id="KUNSHAN" class="office">CHINA｜KUNSHAN</div>
						<div class="text-box">
							<div class="content-wrapper">								
								<p class="phone"><span class="glyphicon glyphicon-earphone"></span>86-512-5528-0000</p>
								<p class="email"><span class="glyphicon glyphicon-envelope"></span>china@usiglobal.com</p>
								<p class="address"><span class="glyphicon glyphicon-map-marker"></span>No. 497, Huangpujiang Road, Qiandeng, Kunshan, Jiangsu 215341, P.R.China</p>

							</div>							
						</div>
					</a>
				</li>
				<li>
					<a href="javascript:;" class="link-disable">
						<div id="SHENZHEN" class="office">CHINA｜SHENZHEN</div>
						<div class="text-box">
							<div class="content-wrapper">								
								<p class="phone"><span class="glyphicon glyphicon-earphone"></span>86-755-2699-1000</p>
								<p class="email"><span class="glyphicon glyphicon-envelope"></span>china@usiglobal.com</p>
								<p class="address"><span class="glyphicon glyphicon-map-marker"></span>USI Electronics Park<br>
North of High-Tech Industrial Park, NanShan District, Shenzhen 518057, P.R.China</p>
							</div>							
						</div>
					</a>
				</li>
				<li>
					<a href="javascript:;" class="link-disable">
						<div id="MEXICO" class="office">MEXICO</div>
						<div class="text-box">
							<div class="content-wrapper">								
								<p class="phone"><span class="glyphicon glyphicon-earphone"></span>52-1-33-3648-1810</p>
								<p class="email"><span class="glyphicon glyphicon-envelope"></span>us_west@usiglobal.com</p>
								<p class="address"><span class="glyphicon glyphicon-map-marker"></span>Anillo Periferico Manuel Gomex Morin No. 656 Residencial, Santa Isabel C.P. 44290 Guadalajara Jalisco, Mexico</p>

							</div>							
						</div>
					</a>
				</li>
			</ul>	
		</div>		
	</section>	

<script>
$(document).on('click', 'a', function(event){
	if($(this).attr('href').substr(0,1)=='#'){		
		event.preventDefault();
		var _parent = $($.attr(this, 'href')).parent();
		$('html, body').animate({
			scrollTop: $( $.attr(this, 'href') ).offset().top-$('header').outerHeight()
		}, 500);
		if($(this).attr('href').substr(1)=="SHANGHAI-ZHANG"){
			var _parent2 =$('#SHANGHAI-JIN').parent();
			_parent2.delay(1000).addClass('shadow-pulse');		
			_parent2.one('webkitAnimationEnd oanimationend msAnimationEnd animationend',   
		function(e) {
				_parent2.removeClass('shadow-pulse');
			});
		}
		_parent.delay(1000).addClass('shadow-pulse');
		_parent.one('webkitAnimationEnd oanimationend msAnimationEnd animationend',   
    function(e) {
		    _parent.removeClass('shadow-pulse');
		});

	}else if($(this).attr('href').substr(0,1)=='*'){
		event.preventDefault();	
		$('html, body').animate({
			scrollTop: $( $.attr(this, 'href').replace('*','#')).offset().top-$('header').outerHeight()
		}, 500);
	}
	
});
</script>

