﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
    ViewBag.Title = "Plants & Offices Contacts";
    ViewBag.zhURL = "/ch/about/plants_offices";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-about">
		<h1 class="page-title title-large">About ASE</h1>
		<video poster="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/video.jpg")" class="about-video" id="bgvid" playsinline autoplay muted loop>
			<!-- 使用JS增加Source -->
		</video>
	</section>

	<!-- bread -->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/about"><span itemprop="name">About ASE</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item"><span itemprop="name">Contact Us</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/about/plants_offices"><span itemprop="name">Offices Contacts</span></a>
					<meta itemprop="position" content="3" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->
	
	<!-- Content -->
	<section class="inside-article">
		<div class="content-lg row">
			<div class="col-xs-12">
                <h3 class="title">Offices Contacts</h3>		
			</div>
		</div>		
	</section>
	<section  class="ir-list bgnews-list plants-list">
		<div class="content-lg row">
			<div class="col-xs-12 no-margin">
				<div class="list">
					<h4 class="text-center"><span>Sales Offices &amp;</span> <span>Service Centers</span>
						<a href="*SALES" class="circle_button"><i class="icon-cross"></i></a>
					</h4>
					<div class="content">
						<div class="row plants-row">
							<div class="col-xs-12 col-md-4">
                                <div class="continent">ASIA PACIFIC</div>
                                <ul class="plants-ul">
                                    <li class="sales"><a href="#TAIWAN-HSINCHU">HSINCHU</a></li>
                                    <li class="sales"><a href="#CHINA-BEIJING">BEIJING／SHANGHAI</a></li>
                                    <li class="sales"><a href="#CHINA-SHENZHEN">SHENZHEN</a></li>
                                    <li class="sales"><a href="#JAPAN-YOKOHAMA">JAPAN｜YOKOHAMA</a></li>
                                    <li class="sales"><a href="#KOREA">KOREA</a></li>
                                    <li class="sales"><a href="#SINGAPORE">SINGAPORE</a></li>
                                </ul>
                             </div>   
							<div class="col-xs-12 col-md-5">
                                <div class="continent">NORTH AMERICA</div>
                                <ul class="plants-ul">
                                    <li class="sales"><a href="#USA-NORTHERN">USA｜NORTHERN CALIFORNIA</a></li>
                                    <li class="sales"><a href="#USA-SOUTHERN-I">USA｜SOUTHERN CALIFORNIA</a></li>
                                    <li class="sales"><a href="#USA-AUSTIN">USA｜AUSTIN, TEXAS</a></li>
                                    <li class="sales"><a href="#USA-DALLAS">USA｜DALLAS, TEXAS</a></li>
                                    <li class="sales"><a href="#USA-BOSTON">USA｜BOSTON, MASSACHUSETTS</a></li>
                                    <li class="sales"><a href="#USA-TEMPE">USA｜TEMPE, ARIZONA</a></li>
                                    <!--
                                    <li class="sales"><a href="#USA-RALEIGH">USA｜RALEIGH, NORTH CAROLINA</a></li>
                                    -->
									<li class="sales"><a href="#ISE-Labs">USA｜FREMONT, CALIFORNIA<p class="no-margin" style="color:#888;">&nbsp;ISE LABS</p></a></li>    
                                     
                                </ul>
                            </div>    
							<div class="col-xs-12 col-md-3">
								<div class="continent">EUROPE</div>
								<ul class="plants-ul">
									<li class="service"><a href="#BELGIUM-BRUSSELS">BELGIUM｜BRUSSELS</a></li>
									<li class="service"><a href="#GERMANY-MUNICH">GERMANY｜MUNICH</a></li>
								</ul>
							</div>
                        </div>
					</div>
				</div>
			</div>
            <div class="col-xs-12 col-md-12 text-center">
				<ul class="plants-color">
					<li class="sales">Sales and Representative Offices</li>
					<li class="service">Service Center</li>
				</ul>	
			</div>
		</div>
	</section>
    
    <section class="plants-Offices general">
		<div class="content-lg row">
			<div class="col-xs-12">
				<h2 class="title" id="SALES">Sales Offices & Service Centers</h2>
			</div>
		</div>
	</section>			
	<section class="page-list-content plants-Offices">
		<div class="content-lg row">
			<ul id="list-content" class="col-xs-12 list-base list-link office-list-content">
				<li class="continent-tip">ASIA PACIFIC</li>
				<li>
					<a href="javascript:;" class="link-disable">
						<div id="TAIWAN-HSINCHU" class="office">HSINCHU</div>
						<div class="text-box">
							<div class="content-wrapper">								
								<p class="phone"><span class="glyphicon glyphicon-earphone"></span>886-3-575-3375</p>
								<p class="user"><span class="glyphicon glyphicon-user"></span>PH Chang</p>
								<p class="email"><span class="glyphicon glyphicon-envelope"></span>ph_chang@aseglobal.com</p>
								<p class="address"><span class="glyphicon glyphicon-map-marker"></span>6F-1, No. 120, Sec.2, Gongdaowu Rd., Hsinchu City 300, Taiwan, R.O.C</p>								
							</div>							
						</div>
					</a>
				</li>
				<li>
					<a href="javascript:;" class="link-disable">
						<div id="CHINA-BEIJING" class="office">BEIJING / SHANGHAI</div>
						<div class="text-box">
							<div class="content-wrapper">								
								<p class="phone"><span class="glyphicon glyphicon-earphone"></span>86-13817800516</p>
                                <p class="user"><span class="glyphicon glyphicon-user"></span>Ryan Hsu</p>
								<p class="email"><span class="glyphicon glyphicon-envelope"></span>ryan_hsu@aseglobal.com</p>								
							</div>							
						</div>
					</a>
				</li>
				<li>
					<a href="javascript:;" class="link-disable">
						<div id="CHINA-SHENZHEN" class="office">SHENZHEN</div>
						<div class="text-box">
							<div class="content-wrapper">								
								<p class="phone"><span class="glyphicon glyphicon-earphone"></span>86-135-375-59357</p>
                                <p class="user"><span class="glyphicon glyphicon-user"></span>Joey Chen</p>
								<p class="email"><span class="glyphicon glyphicon-envelope"></span>joey_chen@aseglobal.com</p>
							</div>							
						</div>
					</a>
				</li>
				<li>
					<a href="javascript:;" class="link-disable">
						<div id="JAPAN-YOKOHAMA" class="office">JAPAN｜YOKOHAMA</div>
						<div class="text-box">
							<div class="content-wrapper">								
								<p class="phone"><span class="glyphicon glyphicon-earphone"></span>81-45-478-7300</p>
								<p class="user"><span class="glyphicon glyphicon-user"></span>Naoki Taguchi</p>
								<p class="email"><span class="glyphicon glyphicon-envelope"></span>taguchi@asejp.com</p>
								<p class="address"><span class="glyphicon glyphicon-map-marker"></span>10F. Sumitomofudosan Bldg., 2-5-5, Shin-Yokohama,Kohoku-ku, Yokohama, 222-0033, Japan</p>
							</div>							
						</div>
					</a>
				</li>
				<li>
					<a href="javascript:;" class="link-disable">
						<div id="KOREA" class="office">KOREA</div>
						<div class="text-box">
							<div class="content-wrapper">								
								<p class="phone"><span class="glyphicon glyphicon-earphone"></span>82-31-940-0458</p>
								<p class="user"><span class="glyphicon glyphicon-user"></span>Yonggill Lee</p>
								<p class="email"><span class="glyphicon glyphicon-envelope"></span>yglee@asekr.com</p>
								<p class="address"><span class="glyphicon glyphicon-map-marker"></span>706ho Firstkorea<br>
								58, Dongtancheomdansaneop 1-ro, Hwaseong-si, Gyeonggi-do, Korea</p>
							</div>							
						</div>
					</a>
				</li>
				<li>
					<a href="javascript:;" class="link-disable">
						<div id="SINGAPORE" class="office">SINGAPORE</div>
						<div class="text-box">
							<div class="content-wrapper">								
								<p class="phone"><span class="glyphicon glyphicon-earphone"></span>65-9435-9410</p>
								<p class="user"><span class="glyphicon glyphicon-user"></span>Jane Wang</p>
								<p class="email"><span class="glyphicon glyphicon-envelope"></span>jane.wang@aseus.com</p>
								<p class="address"><span class="glyphicon glyphicon-map-marker"></span>3 Fusionopolis Link #02-10 Nexus@One-North, South Tower Singapore 138543</p>
							</div>							
						</div>
					</a>
				</li>
			</ul>	
		</div>		
	</section>
	<section class="page-list-content plants-Offices white">
		<div class="content-lg row">
			<ul id="list-content" class="col-xs-12 list-base list-link office-list-content">
				<li class="continent-tip">NORTH AMERICA</li>
				<li>
					<a href="javascript:;" class="link-disable">
						<div id="USA-NORTHERN" class="office">USA｜NORTHERN CALIFORNIA</div>
						<div class="text-box">
							<div class="content-wrapper">								
								<p class="phone"><span class="glyphicon glyphicon-earphone"></span>1-408-636-9500</p>
								<p class="user"><span class="glyphicon glyphicon-user"></span>Patricia MacLeod</p>
								<p class="email"><span class="glyphicon glyphicon-envelope"></span>patricia.macleod@aseus.com</p>
								<p class="address"><span class="glyphicon glyphicon-map-marker"></span>1255 E. Arques Ave. Sunnyvale CA 94085, USA</p>								
							</div>							
						</div>
					</a>
				</li>
				<li>
					<a href="javascript:;" class="link-disable">
						<div id="USA-SOUTHERN-I" class="office">USA｜SOUTHERN CALIFORNIA <small>IRVIN</small></div>
						<div class="text-box">
							<div class="content-wrapper">								
								<p class="phone"><span class="glyphicon glyphicon-earphone"></span>1-949-725-2300</p>
                                <p class="user"><span class="glyphicon glyphicon-user"></span>Patricia MacLeod</p>
								<p class="email"><span class="glyphicon glyphicon-envelope"></span>patricia.macleod@aseus.com</p>	
                                <p class="address"><span class="glyphicon glyphicon-map-marker"></span>15770 Laguna Canyon Road Suite 200 Irvine, CA  92618, USA</p>							
							</div>							
						</div>
					</a>
				</li>
				<li>
					<a href="javascript:;" class="link-disable">
						<div id="USA-SOUTHERN-S" class="office">USA｜SOUTHERN CALIFORNIA <small>SAN DIEGO</small></div>
						<div class="text-box">
							<div class="content-wrapper">								
								<p class="phone"><span class="glyphicon glyphicon-earphone"></span>1-858-795-6980</p>                                
								<p class="email"><span class="glyphicon glyphicon-envelope"></span>patricia.macleod@aseus.com</p>
                                <p class="address"><span class="glyphicon glyphicon-map-marker"></span>4330 La Jolla Village Drive, Suite 230, San Diego, CA, 92122</p>							
							</div>							
						</div>
					</a>
				</li>
				<li>
					<a href="javascript:;" class="link-disable">
						<div id="USA-AUSTIN" class="office">USA｜AUSTIN, TEXAS</div>
						<div class="text-box">
							<div class="content-wrapper">								
								<p class="phone"><span class="glyphicon glyphicon-earphone"></span>1-512-583-6000</p>
								<p class="user"><span class="glyphicon glyphicon-user"></span>Erich Montgomery</p>
								<p class="email"><span class="glyphicon glyphicon-envelope"></span>erich.montgomery@aseus.com</p>
								<p class="address"><span class="glyphicon glyphicon-map-marker"></span>3755 S. Capital of Texas Highway, Suite 190, Austin, TX 78704</p>
							</div>							
						</div>
					</a>
				</li>
				<li>
					<a href="javascript:;" class="link-disable">
						<div id="USA-DALLAS" class="office">USA｜DALLAS, TEXAS</div>
						<div class="text-box">
							<div class="content-wrapper">								
								<p class="phone"><span class="glyphicon glyphicon-earphone"></span>1-214-974-9230</p>
								<p class="user"><span class="glyphicon glyphicon-user"></span>Brent Herritage</p>
								<p class="email"><span class="glyphicon glyphicon-envelope"></span>brent.herritage@aseus.com</p>
								<p class="address"><span class="glyphicon glyphicon-map-marker"></span>14785 Preston Road, Suite 460 Dallas TX 75254, USA</p>
							</div>							
						</div>
					</a>
				</li>
				<li>
					<a href="javascript:;" class="link-disable">
						<div id="USA-BOSTON" class="office">USA｜BOSTON, MASSACHUSETTS</div>
						<div class="text-box">
							<div class="content-wrapper">								
								<p class="phone"><span class="glyphicon glyphicon-earphone"></span>1-781-305-5903</p>
								<p class="user"><span class="glyphicon glyphicon-user"></span>Eric Leonard</p>
								<p class="email"><span class="glyphicon glyphicon-envelope"></span>eric.leonard@aseus.com</p>
								<p class="address"><span class="glyphicon glyphicon-map-marker"></span>400 Trade Center, Suite 4950, Woburn, MA 01801, USA</p>
							</div>							
						</div>
					</a>
				</li>
				<li>
					<a href="javascript:;" class="link-disable">
						<div id="USA-TEMPE" class="office">USA｜TEMPE, ARIZONA</div>
						<div class="text-box">
							<div class="content-wrapper">								
								<p class="phone"><span class="glyphicon glyphicon-earphone"></span>1-480-718-8012</p>
								<p class="user"><span class="glyphicon glyphicon-user"></span>Bill Simmons</p>
								<p class="email"><span class="glyphicon glyphicon-envelope"></span>bill.simmons@aseus.com</p>
								<p class="address"><span class="glyphicon glyphicon-map-marker"></span>7855 South River Parkway, Suite 212, Tempe AZ 85284, USA</p>
							</div>							
						</div>
					</a>
				</li>
				<!--
                <li>
					<a href="javascript:;" class="link-disable">
						<div id="USA-RALEIGH" class="office">USA｜RALEIGH, NORTH CAROLINA</div>
						<div class="text-box">
							<div class="content-wrapper">								
								<p class="phone"><span class="glyphicon glyphicon-earphone"></span>1-919-451-5326</p>
								<p class="user"><span class="glyphicon glyphicon-user"></span>Ron Kurz</p>
								<p class="email"><span class="glyphicon glyphicon-envelope"></span>ron.kurz@aseus.com</p>
								<p class="address"><span class="glyphicon glyphicon-map-marker"></span>6512 Kingscote Court Raleigh NC. 27617, USA</p>
							</div>							
						</div>
					</a>
				</li>
				-->
				<li>
					<a href="javascript:;" class="link-disable">
						<div id="ISE-Labs" class="office">USA｜FREMONT, CALIFORNIA <small>ISE LABS</small></div>
						<div class="text-box">
							<div class="content-wrapper">								
								<p class="phone"><span class="glyphicon glyphicon-earphone"></span>1-510-687-2500</p>
								<p class="user"><span class="glyphicon glyphicon-user"></span>Vince Sy</p>
								<p class="email"><span class="glyphicon glyphicon-envelope"></span>info@iselabs.com</p>
								<p class="address"><span class="glyphicon glyphicon-map-marker"></span>46800 Bayside Parkway Fremont, CA 94538, USA</p>
																								
							</div>							
						</div>
					</a>
				</li>
			</ul>	
		</div>		
	</section>
    <section class="page-list-content plants-Offices">
		<div class="content-lg row">
			<ul id="list-content" class="col-xs-12 list-base list-link office-list-content">
				<li class="continent-tip">EUROPE</li>
				<li>
					<a href="javascript:;" class="link-disable">
						<div id="BELGIUM-BRUSSELS" class="office">BELGIUM｜BRUSSELS</div>
						<div class="text-box">
							<div class="content-wrapper">								
								<p class="phone"><span class="glyphicon glyphicon-earphone"></span>32-476-54-3565</p>
								<p class="user"><span class="glyphicon glyphicon-user"></span>Juliette Handwerker</p>
								<p class="email"><span class="glyphicon glyphicon-envelope"></span>juliette.handwerker@aseeu.com</p>
								<p class="address"><span class="glyphicon glyphicon-map-marker"></span>Waterloo Office Park, Drève Richelle 161M, Box 23, 1410 Waterloo, BELGIUM</p>
							</div>							
						</div>
					</a>
				</li>
				<li>
					<a href="javascript:;" class="link-disable">
						<div id="GERMANY-MUNICH" class="office">GERMANY｜MUNICH</div>
						<div class="text-box">
							<div class="content-wrapper">
								<p class="phone"><span class="glyphicon glyphicon-earphone"></span>49 (0) 170 324 7631</p>
								<p class="user"><span class="glyphicon glyphicon-user"></span>Christiane Albrecht</p>
								<p class="email"><span class="glyphicon glyphicon-envelope"></span>Christiane.Albrecht@aseeu.com</p>
								<p class="address"><span class="glyphicon glyphicon-map-marker"></span>Weihenstephaner Str. 12, 81673, Munich, GERMANY</p>	
							</div>							
						</div>
					</a>
				</li>
			</ul>
		</div>		
	</section>

<script>
$(document).on('click', 'a', function(event){
	if($(this).attr('href').substr(0,1)=='#'){		
		event.preventDefault();
		var _parent = $($.attr(this, 'href')).parent();
		$('html, body').animate({
			scrollTop: $( $.attr(this, 'href') ).offset().top-$('header').outerHeight()
		}, 500);
		if($(this).attr('href').substr(1)=="USA-SOUTHERN-I"){
			var _parent2 =$('#USA-SOUTHERN-S').parent();
			_parent2.delay(1000).addClass('shadow-pulse');		
			_parent2.one('webkitAnimationEnd oanimationend msAnimationEnd animationend',   
		function(e) {
				_parent2.removeClass('shadow-pulse');
			});
		}
		_parent.delay(1000).addClass('shadow-pulse');		
		_parent.one('webkitAnimationEnd oanimationend msAnimationEnd animationend',   
    function(e) {
		    _parent.removeClass('shadow-pulse');
		});
		
	}else if($(this).attr('href').substr(0,1)=='*'){
		event.preventDefault();	
		$('html, body').animate({
			scrollTop: $( $.attr(this, 'href').replace('*','#')).offset().top-$('header').outerHeight()
		}, 500);
	}
	
});
</script>
