﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
    ViewBag.Title = "Flip Chip Solution ";
    ViewBag.enURL = "/en/products/assembly_offerings/flip_chip_solution";
    ViewBag.zhURL = "/ch/products/assembly_offerings/flip_chip_solution";
}
<!-- page Banner -->
<section id="page-vision" class="page-banner-s banner-product-csp">
    <h1 class="page-title title-large">Flip Chip Solution</h1>
</section>
<!--麵包屑-->
<div class="content-lg row">
    <div class="col-xs-12">
        <ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
        </ol>
    </div>
</div>
	<!-- Project-B Fix, Remove Old Breadcrumb -->

<!-- Products Content -->
<section class="inside-article">
    <div class="content-lg row">
        <article class="col-xs-12">
            <div class="clearfix"></div>
            <h3 class="title">Flip Chip Solution</h3>
            <p>
                Flip chip derived its name from the method of flipping over the chip to connect with the substrate or leadframe. Unlike conventional interconnection through wire bonding, flip chip uses solder or gold bumps. Therefore, the I/O pads can be distributed all over the surface of the chip and not only on the peripheral region. The chip size can be shrunk and the circuit path, optimized. Another advantage of flip chip is the absence of bonding wire reducing signal inductance.<br /><br />
                An essential process for flip chip packaging is wafer bumping. Wafer bumping is an advanced packaging technique where ‘bumps’ or ‘balls’ made of solder are formed on the wafers before being diced into individual chips. ASE has invested significantly in the research and development as well as in equipment for wafer bumping. It has the capacity to bump 6-inch, 8-inch and 12-inch wafers.<br /><br />
                Flip chip technology is gaining popularity due to:<br />
                <ul class="nopadding">
                    <li>
                        <strong>Shorter assembly cycle time</strong><br />
                        All the bonding for flip chip packages is completed in one process.
                    </li>
                    <li>
                        <strong>Higher signal density & smaller die size</strong><br />
                        Area array pad layout increases I/O density. Also, based on the same number of I/Os, the size of the die can be significantly shrunk.
                    </li>
                    <li>
                        <strong>Good electrical performance</strong><br />
                        Shorter path between die and substrate improves the electrical performance.
                    </li>
                    <li>
                        <strong>Direct thermal dissipation path</strong><br />
                        External heat sink can be directly added to the chip to remove the heat.
                    </li>
                    <li>
                        <strong>Lower packaging profile</strong><br />
                        Absence of wire and molding allows flip chip packages to feature lower profiles.
                    </li>
                </ul>
            </p>
        </article>
        <article class="col-xs-12">
            <h4 class="sub-title">Complete Flip Chip Solutions</h4>
            <p>
                ASE provides complete flip chip services from packaging characterization, substrate design, wafer bumping, wafer sort, flip chip assembly to final test. This total turn-key solution ensures high performance and high quality flip chip packages to meet customers' requirement.
            </p>
        </article>
    </div>
</section>
<section class="csr-bg">
    <div class="content-lg row">
        <div class="products-menu1-content col-xs-12 csr">
            <div class="col-md-6 bgnews-list list-base">
                <div class="content">
                    <a href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "flip_chip_solution", param2 = "fcbga" })">
                        <span class="blue-text-in-box">Flip Chip BGA</span>
                        <div class="circle_button-wrapper pull-right">
                            <div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-6 bgnews-list list-base">
                <div class="content">
                    <a href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "flip_chip_solution", param2 = "fccsp" })">
                        <span class="blue-text-in-box">Flip Chip CSP</span>
                        <div class="circle_button-wrapper">
                            <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</section>
<br>
<section class="inside-article">
    <div class="content-lg row">
        <div class="col-xs-12">
            <div class="technology-bottom-flex">
                <div class="technology-bottom"><a class="" href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "bumping_solution" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/products_icon-01.png"><br>Wafer Bumping Solution</a></div>
                <div class="technology-bottom"><a class="" href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "wafer_level_package_solution" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/products_icon-02.png"><br>Wafer Level Package Solution</a></div>
                <div class="technology-bottom opacity-50"><a class="" href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "flip_chip_solution" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/products_icon-03.png"><br>Flip Chip Solution</a></div>
                <div class="technology-bottom"><a class="" href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "sip_module_solutions" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/products_icon-04.png"><br>SiP & Module<br>Solution</a></div>

                <div class="technology-bottom"><a class="" href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "wire_bond_bga_solution" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/products_icon-05.png"><br>Wire Bond BGA Solution</a></div>
                <div class="technology-bottom"><a class="" href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "leadframe_solution" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/products_icon-06.png"><br>Leadframe Solution</a></div>
            </div>
        </div>
        <!-- products carousel -->
        <div class="row">
            <div class="col-xs-12">
                <div class="container technology-carousel">
                    <div class='row'>
                        <div class='col-xs-12'>
                            <div class="carousel slide media-carousel" id="media">
                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#media" data-slide-to="0" class="active"></li>
                                    <li data-target="#media" data-slide-to="1"></li>
                                </ol>
                                <div class="carousel-inner">
                                    <div class="item  active">
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <a class="" href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "bumping_solution" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/products_icon-01.png"><br>Bumping<br>Solution</a>
                                            </div>
                                            <div class="col-xs-4">
                                                <a class="" href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "wafer_level_package_solution" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/products_icon-02.png"><br>Wafer Level Package Solution</a>
                                            </div>
                                            <div class="col-xs-4">
                                                <a class="" href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "flip_chip_solution" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/products_icon-03.png"><br>Flip Chip<br>Solution</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <a class="" href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "sip_module_solutions" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/products_icon-04.png"><br>SiP & Module<br>Solution</a>
                                            </div>
                                            <div class="col-xs-4">
                                                <a class="" href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "wire_bond_bga_solution" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/products_icon-05.png"><br>Wire Bond BGA Solution</a>
                                            </div>
                                            <div class="col-xs-4">
                                                <a class="" href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "leadframe_solution" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/products_icon-06.png"><br>Leadframe Solution</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <a data-slide="prev" href="#media" class="left carousel-control">‹</a>
                                <a data-slide="next" href="#media" class="right carousel-control">›</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end products carousel -->
    </div>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $(".technology-features-content").hide();

        $('.technology-application').click(function () {
            $(this).closest(".row").find(".technology-features").removeClass("technology-tab-active").addClass("technology-tab-inactive");
            $(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
            $(this).closest(".row").find(".technology-features-content").hide();
            $(this).closest(".row").find(".technology-application-content").fadeIn(1000);
        });
        $('.technology-features').click(function () {
            $(this).closest(".row").find(".technology-application").removeClass("technology-tab-active").addClass("technology-tab-inactive");
            $(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
            $(this).closest(".row").find(".technology-application-content").hide();
            $(this).closest(".row").find(".technology-features-content").fadeIn(1000);
        });
    });
</script>