﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
    ViewBag.Title = "ASE Download Center";
    ViewBag.enURL = "/en/downloads";
    ViewBag.zhURL = "/ch/downloads";
}
		<!-- page Banner -->
		<section id="page-vision" class="page-banner-s banner-about">
			<h1 class="page-title title-large">ASE Download Center</h1>
		</section>

		<!--breadcrumbs-->
		<div class="content-lg row">
			<div class="col-xs-12">
				<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/about"><span itemprop="name">About ASE</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item"><span itemprop="name">Company Info</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/downloads/downloads"><span itemprop="name">Downloads</span></a>
					<meta itemprop="position" content="3" />
				</li>
				</ol>
			</div>
		</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->

		<!-- Downloads -->
		<section class="inside-article">
			<div class="content-lg row csr">
				<article class="col-xs-12">
					<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
						<!--    CSR Report Downloads Start    -->
						<div class="col-md-12 bgnews-list list-base panel">
							<div class="content">
								<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
									<span class="black-text-in-box accordion-center-text">CSR Report Downloads</span>
									<div class="circle_button-wrapper">
										<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
									</div>
								</a>
							</div>
							<div id="collapseTwo" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingTwo">						
								<div class="panel-body">
									<!-- left -->
									<div class="col-md-5 col-md-offset-1 nopadding">
										<!-- 0 -->
										<div class="panel">
											<a role="button" href="https://ase.aseglobal.com/public/downloads/en/ASE_2017_CSR_EN_Final.pdf" target="_blank">
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">CSR Report 2017</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
										<!-- 1 -->
										<div class="panel">
											<a role="button" href="https://ase.aseglobal.com/public/downloads/en/ASE_2016_CSR_EN_Final.pdf" target="_blank">
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">CSR Report 2016</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
										<!-- 2 -->
										<div class="panel">
											<a role="button" href="https://ase.aseglobal.com/public/downloads/en/ASE_2015_CSR_EN_Final.pdf" target="_blank">
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">CSR Report 2015</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
										<!-- 3 -->
										<div class="panel">
											<a role="button" href="https://ase.aseglobal.com/public/downloads/en/ASE_2014_CSR_EN_Final.pdf" target="_blank">
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">CSR Report 2014</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
										<!-- 4 -->
										<div class="panel">
											<a role="button" href="https://ase.aseglobal.com/public/downloads/en/ASE_2013_CSR_EN_Final.pdf" target="_blank">
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">CSR Report 2013</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
									</div>

									<!-- right -->
									<div class="col-md-5 col-md-offset-1 nopadding">
										<!-- 5 -->
										<div class="panel">
											<a role="button" href="https://ase.aseglobal.com/public/downloads/en/ASE_2012_CSR_EN_A3_Final.pdf" target="_blank">
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">CSR Report 2012</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
										<!-- 6 -->
										<div class="panel">
											<a role="button" href="https://ase.aseglobal.com/public/downloads/en/ASE_2011_CSR_EN_Final.pdf" target="_blank">
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">CSR Report 2011</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
										<!-- 7 -->
										<div class="panel">
											<a role="button" href="https://ase.aseglobal.com/public/downloads/en/ASE_2010_CSR_EN_Final.pdf" target="_blank">
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">CSR Report 2010</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
										<!-- 8 -->
										<div class="panel">
											<a role="button" href="https://ase.aseglobal.com/public/downloads/en/ASE_2009_CSR_EN_Final.pdf" target="_blank">
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">CSR Report 2009</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--    CSR Report Downloads End    -->

						<!--    Sustainability Document Downloads Start     -->
						<div class="col-md-12 bgnews-list list-base panel">
							<div class="content">
								<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
									<span class="black-text-in-box accordion-center-text">Sustainability Document Downloads</span>
									<div class="circle_button-wrapper">
										<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
									</div>
								</a>
							</div>
							<div id="collapseThree" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingThree">						
								<div class="panel-body">
									<!-- left -->
									<div class="col-md-5 col-md-offset-1 nopadding">
										<!-- 0 -->
										<div class="panel">
											<a role="button" href="https://www.aseglobal.com/en/pdf/2022_aseth_corporatesustainabilityandcitizenshippolicy.pdf" target="_blank">
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">Corporate Sustainability and Citizenship Policy</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
										<!-- 1 -->
										<div class="panel">
											<a role="button" href="https://ase.aseglobal.com/public/downloads/en/Code_of_Business_Conduct_Ethics.pdf" target="_blank">
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">Code of Business Conduct and Ethics</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
										<!-- 2 -->
										<div class="panel">
											<a role="button" href="https://www.aseglobal.com/en/pdf/human-rights-policy-en.pdf" target="_blank">
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">Human Rights Policy</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
									</div>

									<!-- right -->
									<div class="col-md-5 col-md-offset-1 nopadding">
										<!-- 4 -->
										<div class="panel">
											<a role="button" href="https://media-aseholdco.todayir.com/20220324171126159296091_en.pdf" target="_blank">
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">Corporate Social Responsibility Best Practice Principles</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
										<!-- 5 -->
										<div class="panel">
											<a role="button" href="https://www.aseglobal.com/en/pdf/2019_aseth_purchasingandsupplychaindevelopmentpolicy.pdf" target="_blank">
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">Purchasing and Supply Chain Development Policy</h3>
												</div>
											</a>								
											<div class="clearfix"></div>									
										</div>
										<!-- 6 -->
										<div class="panel">
											<a role="button" href="https://www.aseglobal.com/en/pdf/aseh-supplier-coc-en.pdf" target="_blank">
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">Supplier Code of Conduct</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--    Sustainability Document Downloads End    -->


						<!--    Conflict Minerals Document Downloads Start     -->
						<div class="col-md-12 bgnews-list list-base panel">
							<div class="content">
								<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
									<span class="black-text-in-box accordion-center-text">Conflict Minerals Document Downloads</span>
									<div class="circle_button-wrapper">
										<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
									</div>
								</a>
							</div>
							<div id="collapseFive" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingFive">						
								<div class="panel-body">
									<!-- left -->
									<div class="col-md-5 col-md-offset-1 nopadding">
										<!-- 1 -->
										<div class="panel">
											<a role="button" href="~/public/downloads/en/2022_ASETH_ConflictMineralsCompliance_en.pdf" target="_blank">
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">Corporate Policy for Sourcing Conflict Minerals</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
										<!-- 2 -->
										<div class="panel">
											<a role="button" href="https://ase.aseglobal.com/public/downloads/en/ASE_SEC_Conflict_Minerals_Filing_for_2017.pdf" target="_blank">
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">SEC Conflict Minerals Filing for 2017</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
										<!-- 3 -->
										<div class="panel">
											<a role="button" href="https://ase.aseglobal.com/public/downloads/en/ASE_SEC_Conflict_Minerals_Filing_for_2016.pdf" target="_blank">
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">SEC Conflict Minerals Filing for 2016</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
									</div>

									<!-- right -->
									<div class = "col-md-5 col-md-offset-1 nopadding">
										<!-- 4 -->
										<div class="panel">
											<a role="button" href="https://ase.aseglobal.com/public/downloads/en/ASE_SEC_Conflict_Minerals_Filing_for_2015.pdf" target="_blank">
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">SEC Conflict Minerals Filing for 2015</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
										<!-- 5 -->
										<div class="panel">
											<a role="button" href="https://ase.aseglobal.com/public/downloads/en/ASE_SEC_Conflict_Minerals_Filing_for_2014.pdf" target="_blank">
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">SEC Conflict Minerals Filing for 2014</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
										<!-- 6 -->
										<div class="panel">
											<a role="button" href="https://ase.aseglobal.com/public/downloads/en/ASE_SEC_Conflict_Minerals_Filing_for_2013.pdf" target="_blank">
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">SEC Conflict Minerals Filing for 2013</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--    Conflict Minerals Document Downloads End    -->

						<!--    Video Downloads Start    -->
						<div class="col-md-12 bgnews-list list-base panel">
							<div class="content">
								<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
									<span class="black-text-in-box accordion-center-text">Video Downloads</span>
									<div class="circle_button-wrapper">
										<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
									</div>
								</a>
							</div>
							<div id="collapseSix" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingSix">						
								<div class="panel-body">
									<!-- left -->
									<div class="col-md-5 col-md-offset-1 nopadding">
										<!-- 1 -->
										<div class="panel">
											<a role="button" href="https://youtu.be/QTaPHg7jDuI" target="_blank">
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">ASE Group 30th Anniversary</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
										<!-- 2 -->
										<div class="panel">
											<a role="button" href="https://youtu.be/w1g3m1Gtl1c" target="_blank">
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">ASE Group Corporate Video</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
										<!-- 3 -->
										<div class="panel">
											<a role="button" href="https://youtu.be/e8hqPP-rV50" target="_blank">
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">ASE Corporate Sustainability Development</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
										<!-- 4 -->
										<div class="panel">
											<a role="button" href="https://youtu.be/TnCY0ITEb6o" target="_blank">
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">ASE Sustainability Strategy</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
									</div>

									<!-- right -->
									<div class = "col-md-5 col-md-offset-1 nopadding">
										<!-- 5 -->
										<div class="panel">
											<a role="button" href="https://youtu.be/yfEtkt00IvE" target="_blank">
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">ASE Water Resource Management and Green Facility</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
										<!-- 6 -->
										<div class="panel">
											<a role="button" href="https://youtu.be/ezwRwhQaEzc" target="_blank">
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">ASE SiP Platform</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
										<!-- 7 -->
										<div class="panel">
											<a role="button" href="https://youtu.be/hQUK1EE80U8" target="_blank">
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">SiP Solution Platform vs Smart Living</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--    Video Downloads End    -->
					</div>
				</article>
			</div>
		</section>