﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/ch/_Layout_seo.cshtml";
    ViewBag.Title = "健康與安全";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-csr">
		<h1 class="page-title title-large">永續發展</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch/csr"><span itemprop="name">永續發展</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch/csr/employee_care_development"><span itemprop="name">員工關懷與發展</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch/csr/employee_care_development/employee_health_and_safety"><span itemprop="name">健康與安全</span></a>
					<meta itemprop="position" content="3" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->

	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">員工健康與安全</h3>
				<p>
					日月光承諾提供員工一個安全、健康與優質的職場，同時維護承攬商及訪客的安全，我們訂定職業健康與安全管理程序，防止職業災害發生，保障所有工作者的健康與安全。全球廠區依據ISO 45001職業健康安全管理系統、RBA 行為準則及當地法規，設置管理組織、訂定管理辦法及程序，並建立定期稽核程序，使其有效地預防各種事故發生，管理系統包含廠區所有工作者，落實「零事故」管理目標。
				</p>
                <br>
                <div class="col-xs-12 hide-in-small nopadding text-center">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/employee_health_and_safety-pic1.png">
                    <p style="margin-top: 10px;"><strong>OHS管理流程</strong></p>
                </div>
				<div class="col-xs-8 col-xs-offset-2 hide-in-large nopadding text-center">
                    <strong>OHS管理流程</strong>
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/employee_health_and_safety-pic11.png">
				</div>
				<div class="clearfix"></div>
                <br>
				<h4 class="sub-title">職業傷害管理</h4>
				<p>
					全球廠區制定職業傷害與事故通報及調查作業程序管理辦法，當工傷事件發生時，依管理辦法及當地法規，執行標準處理程序並即時通報當地主管機關，定期檢討工傷事件及改善預防措施。
				</p>
                <div class="col-xs-12 hide-in-small nopadding text-center">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/employee_health_and_safety-pic2.png">
                </div>
                <div class="col-xs-8 col-xs-offset-2 hide-in-large nopadding text-center">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/employee_health_and_safety-pic21.png">
                </div>
                <div class="clearfix"></div>
                <br>
                <h4 class="sub-title">承攬商作業安全管理</h4>
                <p>
                    依廠內高風險特殊作業環境區分8 類作業環境，分別是管路、動火、侷限空間、活電、吊掛、高架、化學品打藥與屋頂作業，訂定特殊作業要點進行施工管制，同時我們也將持續要求承攬高風險作業之承攬商需符合職業健康安全管理系統要求。
                </p>
                <br>
            </article>
		</div>
	</section>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script>
	$(document).ready(function(){
	    $('[data-toggle="popover"]').popover();   
	});
	</script>