﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/ch/_Layout_seo.cshtml";
    ViewBag.Title = "員工照顧";
    ViewBag.zhURL = "/ch/csr/employee_care_development/employee_care";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-csr">
		<h1 class="page-title title-large">永續發展</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch/csr"><span itemprop="name">永續發展</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch/csr/employee_care_development"><span itemprop="name">員工關懷與發展</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch/csr/employee_care_development/employee_care"><span itemprop="name">員工照顧</span></a>
					<meta itemprop="position" content="3" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->

	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">員工照顧</h3>
                <br>
				<p>
					日月光注重員工的權益並制定完善的薪資福利與溝通制度
				</p>
                <br>
				<h4 class="sub-title">薪酬制度</h4>
				<p>
					日月光提供具競爭力的薪資與薪酬，所有員工之整體薪酬不因性別、年齡、種族、國籍、宗教、政治立場或性別傾向等而有不同。公司設有動態激勵獎金制度及年度分紅獎金，著重「即時調整」、「隱藏版明星」、「高效率生產力」三大原則，打造賦權管理的溝通文化，驅動組織體質的即時調整，讓員工能夠與公司有著共同成長的目標。此外，績優員工更擁有員工認股方案，員工認股依發權日起具十年的效期，旨在留任表現優異的員工。
				</p>
                <br>
                <h4 class="sub-title">福利制度</h4>
                <p>
                    <ul class="nopadding">
                        <li style="padding-bottom: 20px;"><strong>膳食補助制度：</strong><br>
                        公司於廠區提供明亮整潔、衛生乾淨的用膳餐廳，並補助50%(或以上)的餐費。為讓員工吃得更加美味、健康安全，持續加強管理員工膳食，每季更新餐食內容並自主檢測食材，確保食材來源無慮。</li>
                        <li style="padding-bottom: 20px;"><strong>健康檢查/健康設施：</strong><br>
                        我們關心員工身體健康，免費提供給員工到診所或合約醫院/ 健診中心實施身體整體健康檢查。在我們諸多的廠房中皆設置設備完善的健身房。另有按摩中心提供予員工消除疲勞、舒解壓力的服務。</li>
                        <li style="padding-bottom: 10px;"><strong>生育福利與育嬰留停制度：</strong><br>
                        日月光支持政府的育嬰留停政策，提供完善的假勤管理制度，同時更主動提供勞保津貼相關資訊且協助申請，保障員工回任，員工並可依其需求申請自願提前或延後復職，兼顧其個人及家庭照顧需求。<br><br>
                        日月光半導體於台灣與韓國共設置3所幼兒園，其中在主要營運據點台灣廠區則是建立了2所幼兒園，分別位於日月光半導體中壢廠區及高雄廠區。以優質平價的教保及托育服務，分擔員工養兒育女的經濟壓力，讓員工子女享受優質的托育學習環境。<br><br>
                        <div class="col-sm-12 nopadding">
                            <div class="col-xs-6 col-md-3 picture-padding-2"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/employee_care-pic1.jpg"></div>
                            <div class="col-xs-6 col-md-3 picture-padding-2"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/employee_care-pic2.jpg"></div>
                            <div class="col-xs-6 col-md-3 picture-padding-2"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/employee_care-pic3.jpg"></div>
                            <div class="col-xs-6 col-md-3 picture-padding-2"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/employee_care-pic4.jpg"></div>
                        </div>
                        <div class="clearfix">&nbsp;</div>
                        </li>
                        <li style="padding-bottom: 20px;"><strong>保險制度：</strong><br>
                        所有日月光員工皆有投保國家勞動保險以及團體保險，包括人壽保險、意外傷害保險、醫療保險、癌症保險等更多的保障。另有員工出差旅行保險。此外，我們還為員工的配偶及子女提供免費團體保險。</li>
                        <li style="padding-bottom: 20px;"><strong>退休制度:</strong><br>
                            <ul class="nopadding">
                                <li><b>福利計劃：</b>台灣廠區所適用「勞動基準法」辦理之退休金制度，是屬政府管理之確定福利退休計畫。員工退休金之支付，係根據服務年資及核准退休日前6個月平均工資計算。台灣廠區按員工每月薪資總額之一定比率按月提撥員工退休基金，交由勞工退休準備金監督委員會以該委員會名義存入台灣銀行之專戶。</li>
                                <li><b>提撥計畫：</b>台灣廠區所適用「勞工退休金條例」辦理之退休金制度， 是屬政府管理之確定提撥退休計畫， 依員工每月薪資6%提撥退休金至勞工保險局之個人專戶。大陸、美國、馬來西亞、新加坡及墨西哥等廠區，亦依當地法令規定， 提撥並繳付相關單位。</li>
                            </ul></li>
                    </ul>
                </p>
				<h4 class="sub-title">員工溝通</h4>
				<p>
					日月光重視與尊重員工的權益與聲音，建置各種單向/雙向的宣導與溝通方式，致力建立開放與透明的溝通環境。同時，日月光半導體（高雄廠、上海封裝廠、昆山廠、蘇州廠、無鍚廠、威海廠、韓國廠、日本廠及新加坡廠）皆有成立工會，並定期召開會議，與員工代表協助共同解決員工勞動事件、工作環境健康與安全及員工福利等問題。
				</p>
                <br>
			</article>
            <div class="col-xs-12 col-md-offset-0 col-md-5 col-md-offset-1">
                <div class="inside-table">
                    <table class="table table-striped table-hover csr">
                        <thead>
                            <tr>
                                <th class="text-center" style="font-size: 15px; background-color: #c28981;">單向宣導</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="background-color: #eeeeee">
                                    <ul class="nopadding">
                                        <li style="padding-bottom: 10px;">內聯網 - 發布公司的最新消息</li>
                                        <li style="padding-bottom: 10px;">電子郵件通知 - 宣布公司規範事項及傳遞高階管理階層給員工的信</li>
                                        <li style="padding-bottom: 10px;">佈告欄 - 提供與勞工相關政策，健康與安全衛生、及企業 活動的訊息</li>
                                        <li style="padding-bottom: 10px;">期刊發行 - 採訪員工心聲，同時提供員工發表意見的園地</li>
                                        <li style="padding-bottom: 10px;">電視牆資訊 - 播放員工福利相關的訊息</li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br>
            </div>
            <div class="col-xs-12 col-md-5">
                <div class="inside-table">
                    <table class="table table-striped table-hover csr">
                        <thead>
                            <tr>
                                <th class="left-border text-center" style="font-size: 15px; background-color: #c28981;">雙向溝溝</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="background-color: #eeeeee">
                                    <ul class="nopadding">
                                        <li style="padding-bottom: 10px;">員工意見 / 關懷信箱 ( 實體 ) - 收集員工投訴聲音並予以回應</li>
                                        <li style="padding-bottom: 10px;">員工 / 外籍員工座談會 - 分享和討論工作經驗，定期與外籍員工座談</li>
                                        <li style="padding-bottom: 10px;">諮詢室 - 提供一對一個別輔導</li>
                                        <li style="padding-bottom: 10px;">電子郵件信箱 - 總經理 / 廠長信箱</li>
                                        <li style="padding-bottom: 10px;">服務/申訴專線-電話專線</li>
                                        <li style="padding-bottom: 10px;">工會、勞資會議 - 定期與員工代表交流</li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br>
            </div>
		</div>
	</section>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script>
	$(document).ready(function() {
		$('[data-toggle="popover"]').popover();  
		$('.accordion-center-text').click(function(e){
			if ($(this).hasClass('black-text-in-box')) {
				$('.blue-text-in-box').removeClass('blue-text-in-box').addClass('black-text-in-box');
				$(this).removeClass("black-text-in-box");
				$(this).addClass("blue-text-in-box");      //add the class to the clicked element
			} else {
				$(this).removeClass("blue-text-in-box");
				$(this).addClass("black-text-in-box");      //add the class to the clicked element
			}
		});
	})
	</script>