﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/ch/_Layout_seo.cshtml";
    ViewBag.Title = "晶圓級封裝";
    ViewBag.enURL = "/en/products/assembly_offerings/wafer_level_package_solution";
    ViewBag.zhURL = "/ch/products/assembly_offerings/wafer_level_package_solution";
    ViewBag.webSiteDesc = "日月光晶圓級封裝解決方案具有較小封裝尺寸與較佳電性表現的優勢，滿足當前各種應用的需求，從高性能雲端計算、擴增/虛擬實境(AR/VR)到無人機應用和自動駕駛。";
    ViewBag.webSiteOgImage = "https://ase.aseglobal.com/pic/public/frontend/images/products/aWLP.png";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-product-csp">
		<h1 class="page-title title-large">晶圓級封裝</h1>
	</section>

	<!--麵包屑-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch/products/assembly"><span itemprop="name">封裝服務</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch/products/assembly_offerings/wafer_level_package_solution"><span itemprop="name">晶圓級封裝</span></a>
					<meta itemprop="position" content="2" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->
	
	<!-- Products Content -->
    <section class="inside-article">
        <div class="content-lg row">
            <article class="col-xs-12">
                <div class="clearfix"></div>
                <h3 class="title">晶圓級封裝</h3>
                <div class="col-xs-6 col-sm-3 nopadding"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/products/aWLP.png"></div>
                <div class="clearfix"></div>
                <p>
                    ASE is with solid experience and superior capability to provide a broad range of Wafer Level Package (WLP) solutions from chip scale packages to SiP to homogeneous and heterogeneous chip integration. ASE is able to provide thinnest profile, lower power consumption and high performance solutions.<br><br>

                    ASE WLP solution meets current needs in various applications from client device to infrastructure and high performance cloud computing, even emerging appliance such as VR/AR, autonomous driving, smart Robots. 
                </p>
            </article>
            
        </div>
    </section>
	<section class="inside-article">
        <div class="content-lg row">

            <article class="col-xs-12">
                <h4 class="sub-title">ASE Wafer Level Packaging Offerings</h4>
                <div class="col-xs-4 col-sm-4 bt_wlcsp technology-tab-active hide-in-small">晶圓級晶片尺寸級封裝 (aCSP/WLCSP)</div>
                <div class="col-xs-4 col-sm-4 bt_awlp technology-tab-inactive hide-in-small">先進晶圓級封裝 (aWLP)</div>
                <div class="col-xs-4 col-sm-4 bt_wlipd technology-tab-inactive hide-in-small">晶圓級積體被動元件 (WL IPD)</div>
                <div class="col-xs-4 col-sm-4 bt_wlcsp technology-tab-active hide-in-large">晶圓級晶片尺寸級封裝(aCSP/WLCSP)</div>
                <div class="col-xs-4 col-sm-4 bt_awlp technology-tab-inactive hide-in-large">先進晶圓級封裝 (aWLP)</div>
                <div class="col-xs-4 col-sm-4 bt_wlipd technology-tab-inactive hide-in-large">晶圓級積體被動元件 (WL IPD)</div>
                <div class="clearfix"></div>

                <div class="col-xs-12 wlcsp">
                    <p>&nbsp;</p>
                    <p>
                        To service the fast growing market within PDA and cell phone, this smaller chip size is essential. In 2001, ASE licensed Ultra CSP® from Kulicke &amp; Soffa's Flip Chip Division. ASE also provided several enhanced structures called "aCSP™" by polyimide, PBO, or thicker Cu RDL to meet various customer demands. aCSP™ is a wafer level CSP package that can be Direct Chip Attached to the PCB board without any interposer. Also, aCSP™ provides the shortest electrical path from Al pad to PCB board to enhance the electrical performance. It has been broadly used in portable devices in passives, analog and logic applications, and is extending to RF applications.
                    </p>
                    <div class="col-xs-12 col-sm-4 nopadding"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/products/WLCSP.png" class="col-xs-8 col-sm-8 nopadding"></div>
                    <div class="col-xs-12 col-sm-4 nopadding">
                        <h4>Applications</h4>
                        <ul class="nopadding">
                            <li>Bluetooth/Wi-Fi</li>
                            <li>GPS</li>
                            <li>FM Radio</li>
                            <li>Analog Devices</li>
                            <li>Microcontrollers/Integrated Passives</li>
                            <li>EEPROM</li>
                            <li>Power and Voltage Regulator</li>
                            <li>Power Amplifier</li>
                            <li>RF Devices</li>
                            <li>Cell Phones and System Boards</li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-4 nopadding">
                        <h4>Features</h4>
                        <ul class="nopadding">
                            <li>Real chip size (smallest, thinnest and lightest)</li>
                            <li>High density interconnection</li>
                            <li>High-speed data processing</li>
                            <li>Batch process-assembly processed in wafer form</li>
                            <li>Wire-bond type die can be directly switched to Acsp</li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-xs-12 col-sm-4 nopadding hide-in-small">
                        <p>&nbsp;</p>
                    </div>
                    <div class="col-xs-12 col-sm-4 nopadding">
                        <h4>Product Offerings</h4>
                        <ul class="nopadding">
                            <li>aCSP: Through ball drop process</li>
                            <li>WLCSP: Through ball printing/plating process</li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-4 nopadding">
                        <h4>Advanced Technology under Development</h4>
                        <ul class="nopadding">
                            <li>Wafer technology: Qualification for 22 and 16nm wafer</li>
                            <li>Ball pitch: 300um</li>
                            <li>Ball size: 150um ball drop</li>
                            <li>Grinding: Die thickness 150um</li>
                            <li>Plated RDL line/width: 10/10um; 8/8um</li>
                            <li>Plated RDL thickness: &gt;=7um</li>
                            <li>Sawing: Laser sawing</li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="col-xs-12 awlp">
                    <p>&nbsp;</p>
                    <p>
                        aWLP has higher I/O than wafer level package. It is a substrate-less solution with small form factor, improved electrical and thermal performance. aWLP is a die down fan out wafer level package with molding compound surrounded, ideally designed for communication devices with constrained space.
                    </p>
                    <div class="col-xs-12 col-sm-4 nopadding"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/products/aWLP.png" class="col-xs-8 col-sm-8 nopadding"></div>
                    <div class="col-xs-12 col-sm-4 nopadding">
                        <h4>Applications</h4>
                        <ul class="nopadding">
                            <li>Baseband</li>
                            <li>RF</li>
                            <li>Codec</li>
                            <li>PMICs</li>
                            <li>Car Radar</li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-4 nopadding">
                        <h4>Features</h4>
                        <ul class="nopadding">
                            <li>Improved electrical and thermal performance</li>
                            <li>Die down FOWLP with molding compound surrounded</li>
                            <li>Single die package &amp; 2 dies (side-by-side) embedded structure approached</li>
                            <li>Finer line width/space = 2/4um</li>
                            <li>3 layers RDLs approached (min.)</li>
                            <li>Support package size up to 10 x 10mm (max.)</li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="col-xs-12 wlipd">
                    <p>&nbsp;</p>
                    <p>
                        ASE Wafer Level Integrated Passive Device (WL IPD) is a glass based wafer level process, well developed for today's most advanced RF communication solutions. It is with custom design, high performance and small form factor, fully compatible with current assembly process in QFN, BGA/LGA, Flip Chip packages, and in WLCSP. AIC (above IC) process is also available.
                    </p>
                    <div class="col-xs-12 col-sm-4 nopadding"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/products/wl_ipd.png" class="col-xs-6 col-sm-5 nopadding"></div>
                    <div class="col-xs-12 col-sm-4 nopadding">
                        <h4>Applications</h4>
                        <p>
                            Most of current applications are in the RF solutions, specific functional devices, such as resonator, filter, diplexer, balum, transformer, etc. ASE IPD is a custom design solution, any other opportunities for IPD is welcomed.
                        </p>
                    </div>
                    <div class="col-xs-12 col-sm-4 nopadding">
                        <h4>Features</h4>
                        <ul class="nopadding">
                            <li>High accuracy 200mm thin film process</li>
                            <li>Very low loss glass substrate</li>
                            <li>High Q-factor inductor: 10 or 15um Cu</li>
                            <li>Single or double layer</li>
                            <li>Integrated package and turnkey solutions</li>
                        </ul>
                        <div class="col-xs-12 nopadding" style="margin-bottom:10px;">
                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/products/ipd.png">
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </article>

            <article class="col-xs-12">
                <a href="~/ch/products/assembly_offerings/bumping_solution"><div class="circle_button darkgray facilities-circle-button active"><i class="icon-arrow-right facilities-icon-arrow-right"></i></div>&nbsp;晶圓凸塊服務</a>
            </article>
        </div>
    </section>
    <section class="inside-article">
        <div class="content-lg row">
            <div class="col-md-12 tech-cont-link">
			<br><a class="phone" href="@Url.Action("plants_offices", "About", new { lang = ViewBag.language.lang })"><span class="glyphicon glyphicon-earphone"></span>  聯絡我們 </a>
			</div>
        </div>
    </section>
	<br>
	<section class="inside-article">
		<div class="content-lg row">
			<div class="col-xs-12">
				<div class="technology-bottom-flex">
                    <div class="technology-bottom"><a class="" href="@Url.Action("flip_chip", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-03.png"><br>Flip Chip Packaging</a></div>
                    <div class="technology-bottom"><a class="" href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "wire_bond_bga_solution" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/products_icon-05.png"><br>Wire Bond BGA</a></div>
                    <div class="technology-bottom"><a class="" href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "leadframe_solution" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/products_icon-06.png"><br>Leadframe Packaging</a></div>
                    <div class="technology-bottom opacity-50"><a class="" href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "wafer_level_package_solution" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/products_icon-02.png"><br>Wafer Level Packaging</a></div>
				</div>
			</div>
			<!-- products carousel -->
			<div class="row">
				<div class="col-xs-12">
					<div class="container technology-carousel">
						<div class='row'>
							<div class='col-xs-12'>
								<div class="carousel slide media-carousel" id="media">
									<!-- Indicators -->
									<ol class="carousel-indicators">
										<li data-target="#media" data-slide-to="0" class="active"></li>
										<li data-target="#media" data-slide-to="1"></li>
									</ol>
									<div class="carousel-inner">
                                        <div class="item active">
                                            <div class="row">
                                                <div class="col-xs-4">
                                                    <a class="" href="@Url.Action("flip_chip", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-03.png"><br>Flip Chip Packaging</a>
                                                </div>
                                                <div class="col-xs-4">
                                                    <a class="" href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "wire_bond_bga_solution" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/products_icon-05.png"><br>Wire Bond BGA</a>
                                                </div>        
                                                <div class="col-xs-4">
                                                    <a class="" href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "leadframe_solution" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/products_icon-06.png"><br>Leadframe Packaging</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="row">
                                                <div class="col-xs-4">
                                                    <a class="" href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "wafer_level_package_solution" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/products_icon-02.png"><br>Wafer Level Packaging</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
									<br>
									<a data-slide="prev" href="#media" class="left carousel-control">‹</a>
									<a data-slide="next" href="#media" class="right carousel-control">›</a>
								</div>                          
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end products carousel -->
		</div>
	</section>

<script>
    $(document).ready(function() {

        $(".wlcsp").show();
        $(".awlp").hide();
        $(".wlipd").hide();

        $('.bt_wlcsp').click(function() {
            $(this).closest(".row").find(".bt_awlp,.bt_wlipd").removeClass("technology-tab-active").addClass("technology-tab-inactive");
            $(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
            $(this).closest(".row").find(".awlp,.wlipd").hide();
            $(this).closest(".row").find(".wlcsp").toggle(1000);
        });
        $('.bt_awlp').click(function() {
            $(this).closest(".row").find(".bt_wlcsp,.bt_wlipd").removeClass("technology-tab-active").addClass("technology-tab-inactive");
            $(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
            $(this).closest(".row").find(".wlcsp,.wlipd").hide();
            $(this).closest(".row").find(".awlp").toggle(1000);
        });
        $('.bt_wlipd').click(function() {
            $(this).closest(".row").find(".bt_wlcsp,.bt_awlp").removeClass("technology-tab-active").addClass("technology-tab-inactive");
            $(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
            $(this).closest(".row").find(".wlcsp,.awlp").hide();
            $(this).closest(".row").find(".wlipd").toggle(1000);
        });

        $(".wlipdTable").hide();

        $('.wlipdReliability').click(function() {
            $(this).closest(".row").find(".wlipdTable").toggle(600);
        });
    });
</script>