﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/ch/_Layout_seo.cshtml";
    ViewBag.Title = "打線式球格陣列封裝";
    ViewBag.enURL = "/en/products/assembly_offerings/wire_bond_bga_solution";
    ViewBag.zhURL = "/ch/products/assembly_offerings/wire_bond_bga_solution";
    ViewBag.webSiteDesc = "日月光持續革新打線接合封裝技術，以較低的成本提供更高的性能，滿足微小間距封裝的需求。 日月光是全球領先的封測代工廠，在全球的生產基地擁有超過25,000台打線接合機。 ";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-product-csp">
		<h1 class="page-title title-large">打線式球格陣列封裝</h1>
	</section>

	<!--麵包屑-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch/products/assembly"><span itemprop="name">封裝服務</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch/products/assembly_offerings/wire_bond_bga_solution"><span itemprop="name">球格陣列封裝</span></a>
					<meta itemprop="position" content="2" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->
	
	<!-- Products Content -->
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<div class="clearfix"></div>
				<h3 class="title">打線式球格陣列封裝</h3>
                <div class="col-xs-6 col-sm-3 nopadding"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/products/PBGA.png"></div>
                <div class="clearfix"></div>
				<p>
					Ball-grid arrays (BGA) are IC packages, which place output pins in the form of a solder ball matrix. The traces of the BGA are generally fabricated on laminated substrates (BT-based) or polyimide-based films. Therefore, the entire area of substrates or films can be used to route the interconnection. BGA has the advantage of lower ground or power inductance thereby assigning ground or power nets via a shorter current path to PCB. Thermally enhanced mechanisms (heat sink, thermal balls, etc.) can be applied to BGA in order to reduce thermal resistance. The higher functional capabilities of the BGA package technology benefit high power and high speed ICs that require enhanced electrical and thermal performance. Compared with traditional SMT packages, the advantages of BGA are as follows:<br />
					<ul class="nopadding">
						<li>Higher interconnect density</li>
						<li>Lower assembly cost</li>
						<li>Self-alignment during reflow</li>
						<li>Lower profile</li>
						<li>Ease of thermal and electrical management</li>
						<li>Ease of routing</li>
					</ul>
				</p>
			</article>
		</div>
	</section>
	<section class="inside-article">
        <div class="content-lg row">

            <article class="col-xs-12">
                <h4 class="sub-title">ASE Wire Bond BGA Packaging Offerings</h4>
                <div class="col-xs-4 bt_pbga technology-tab-active hide-in-small">Plastic Ball Grid Array (PBGA)</div>
                <div class="col-xs-4 bt_hsbga technology-tab-inactive hide-in-small">Heat Slug BGA (HSBGA)</div>
                <div class="col-xs-4 bt_fbga technology-tab-inactive hide-in-small">Fine pitch Ball Grid Array (FBGA)</div>
                <div class="col-xs-4 bt_pbga technology-tab-active hide-in-large">Plastic Ball Grid Array (PBGA)</div>
                <div class="col-xs-4 bt_hsbga technology-tab-inactive hide-in-large">Heat Slug BGA (HSBGA)</div>
                <div class="col-xs-4 bt_fbga technology-tab-inactive hide-in-large">Fine pitch Ball Grid Array (FBGA)</div>
                <div class="clearfix"></div>

                <div class="col-xs-12 pbga">
                    <p>&nbsp;</p>
                    <p>
                        Plastic ball grid array (PBGA) are BGA packages adopting plastic (epoxy molding compound) as the encapsulation. According to JEDEC standard, PBGA has an overall thickness of over 1.7mm.
                    </p>
                    <div class="col-xs-12 col-sm-4 nopadding"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/products/PBGA.png" class="col-xs-6 col-sm-10 nopadding"></div>
                    <div class="col-xs-12 col-sm-4 nopadding">
                        <h4>Applications</h4>
                        <p style="margin-right: 10px;">ASE PBGA's design and features improve the performance of</p>
                        <ul class="nopadding">
                            <li>Graphics</li>
                            <li>PLDs</li>
                            <li>DSPs</li>
                            <li>PC Chipsets</li>
                            <li>Communications</li>
                            <li>Networking</li>
                            <li>Microprocessors/Controllers</li>
                            <li>ASIC, Gate Arrays</li>
                            <li>Memory Packages</li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-4 nopadding">
                        <h4>Features</h4>
                        <p>BGA is suitable for high power and high speed ICs requiring superb electrical and thermal enhancement.</p>
                        <ul class="nopadding">
                            <li>15x15mm to 45x45mm package</li>
                            <li>119 balls to 1520 ball count</li>
                            <li>High interconnect density</li>
                            <li>Low assembly cost</li>
                            <li>Self-alignment during reflow</li>
                            <li>Low profile</li>
                            <li>Ease of thermal and electrical management</li>
                            <li>Ease of routing</li>
                            <li>Good power dissipation</li>
                            <li>JEDEC MS-034 standard outlines</li>
                            <li>Lead free process available</li>
                            <li>Full In-house design capability</li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <p>&nbsp;</p>
                </div>

                <div class="col-xs-12 hsbga">
                    <p>&nbsp;</p>
                    <p>
                        Heat Slug BGA (HSBGA) is an upgraded type of PBGA. Within the molding area, a piece of copper heat slug is implanted. The heat slug is intended to lower the thermal resistance (θJA) of PBGA without change of material. The θJA of HSBGA is generally 20% lower than PBGA and achieves 5 to 6W of thermal dissipation under natural convection. This technology can be applied to any kind of die-up substrates (e.g. 2- or 4-layer BT, and metal core). HSBGA is an excellent solution for cost-effective high power package, high-speed ICs like graphics chips, communication and networking ICs.
                    </p>
                    <div class="col-xs-12 col-sm-4 nopadding"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/products/HSBGA.png" class="col-xs-6 col-sm-10 nopadding"></div>
                    <div class="col-xs-12 col-sm-4 nopadding">
                        <h4>Applications</h4>
                        <p>HSBGA is excellent for products that require improved thermal performance such as high power packages for high speed ICs in personal computers, networking and graphic ICs, data communication, consumer ICs and in telecommunication applications.</p>
                    </div>
                    <div class="col-xs-12 col-sm-4 nopadding">
                        <h4>Features</h4>
                        <p>HSBGA is suitable for high power and high speed ICs requiring superb electrical and thermal enhancement.</p>
                        <ul class="nopadding">
                            <li>15x15mm to 45x45mm package available</li>
                            <li>120 balls to 1520 ball count available</li>
                            <li>Cost effective</li>
                            <li>Good electrical performance</li>
                            <li>Good thermal performance</li>
                            <li>Good power dissipation</li>
                            <li>JEDEC MS-034 standard outlines</li>
                            <li>Lead free process ready and available</li>
                            <li>Full In-house design capability</li>
                            <li>Full electrical and thermal characterization capability</li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <p>&nbsp;</p>
                </div>

                <div class="col-xs-12 fbga">
                    <p>&nbsp;</p>
                    <p>
                        Fine pitch Ball Grid Array (FBGA) are BGA package that follows JEDEC standard package outline dimension for DRAM products. To meet high speed DRAM requirement, FBGA can be designed the shorter trace length to provide better electrical performance than that of TSOP. Not only better electrical performance, FBGA's smaller package size allows higher memory density on memory module than that of TSOP package.
                    </p>
                    <div class="col-xs-12 col-sm-4 nopadding"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/products/FBGA.png" class="col-xs-6 col-sm-10 nopadding"></div>
                    <div class="col-xs-12 col-sm-4 nopadding">
                        <h4>Applications</h4>
                        <ul class="nopadding">
                            <li>Computer, Communication, and Consumer Devices</li>
                            <li>Memory (SRAM, PSRAM, Flash, DRAM), Graphic, ASIC, Digital and Analog Products</li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-4 nopadding">
                        <h4>Features</h4>
                        <ul class="nopadding">
                            <li>10x10.5 to 11x13mm packages are available</li>
                            <li>Good electrical and thermal performance</li>
                            <li>Low assembly and test cost solution</li>
                            <li>Low profile</li>
                            <li>JEDEC MO-207J standard outlines conforming</li>
                            <li>RoHS and Halogen free conforming</li>
                            <li>Good solder joint reliability</li>
                            <li>Meet JEDEC drop test/TCT requirement</li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <p>&nbsp;</p>
                </div>
            </article>
        </div>
    </section>
	<br>
	<section class="inside-article">
		<div class="content-lg row">
			<div class="col-xs-12">
				<div class="technology-bottom-flex">
                    <div class="technology-bottom"><a class="" href="@Url.Action("flip_chip", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-03.png"><br>Flip Chip Packaging</a></div>
                    <div class="technology-bottom opacity-50"><a class="" href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "wire_bond_bga_solution" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/products_icon-05.png"><br>Wire Bond BGA</a></div>
                    <div class="technology-bottom"><a class="" href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "leadframe_solution" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/products_icon-06.png"><br>Leadframe Packaging</a></div>
					<div class="technology-bottom"><a class="" href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "wafer_level_package_solution" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/products_icon-02.png"><br>Wafer Level Packaging</a></div>
				</div>
			</div>
			<!-- products carousel -->
			<div class="row">
				<div class="col-xs-12">
					<div class="container technology-carousel">
						<div class='row'>
							<div class='col-xs-12'>
								<div class="carousel slide media-carousel" id="media">
									<!-- Indicators -->
									<ol class="carousel-indicators">
										<li data-target="#media" data-slide-to="0" class="active"></li>
										<li data-target="#media" data-slide-to="1"></li>
									</ol>
									<div class="carousel-inner">
										<div class="item active">
											<div class="row">
                                                <div class="col-xs-4">
                                                    <a class="" href="@Url.Action("flip_chip", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-03.png"><br>Flip Chip Packaging</a>
                                                </div>
                                                <div class="col-xs-4">
                                                    <a class="" href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "wire_bond_bga_solution" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/products_icon-05.png"><br>Wire Bond BGA</a>
                                                </div>        
                                                <div class="col-xs-4">
                                                    <a class="" href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "leadframe_solution" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/products_icon-06.png"><br>Leadframe Packaging</a>
                                                </div>
											</div>
										</div>
										<div class="item">
											<div class="row">
                                                <div class="col-xs-4">
                                                    <a class="" href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "wafer_level_package_solution" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/products_icon-02.png"><br>Wafer Level Packaging</a>
                                                </div>
											</div>
										</div>
									</div>
									<br>
									<a data-slide="prev" href="#media" class="left carousel-control">‹</a>
									<a data-slide="next" href="#media" class="right carousel-control">›</a>
								</div>                          
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end products carousel -->
		</div>
	</section>
<script>
    $(document).ready(function() {

        $(".pbga").show();
        $(".hsbga").hide();
        $(".fbga").hide();

        $('.bt_pbga').click(function() {
            $(this).closest(".row").find(".bt_hsbga,.bt_fbga").removeClass("technology-tab-active").addClass("technology-tab-inactive");
            $(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
            $(this).closest(".row").find(".hsbga,.fbga").hide();
            $(this).closest(".row").find(".pbga").fadeIn(1000);
        });
        $('.bt_hsbga').click(function() {
            $(this).closest(".row").find(".bt_pbga,.bt_fbga").removeClass("technology-tab-active").addClass("technology-tab-inactive");
            $(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
            $(this).closest(".row").find(".pbga,.fbga").hide();
            $(this).closest(".row").find(".hsbga").fadeIn(1000);
        });
        $('.bt_fbga').click(function() {
            $(this).closest(".row").find(".bt_pbga,.bt_hsbga").removeClass("technology-tab-active").addClass("technology-tab-inactive");
            $(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
            $(this).closest(".row").find(".pbga,.hsbga").hide();
            $(this).closest(".row").find(".fbga").fadeIn(1000);
        });
    });
</script>