﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
}
	<!--麵包屑-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->
	
	<!-- About Content A -->
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">Terms and Conditions of Use of ASE Website</h3>
				<p>PLEASE READ THESE TERMS AND CONDITIONS OF USE OF ASE WEBSITE PROVIDED HEREUNDER (HEREINAFTER REFERRED TO AS “TERMS AND CONDITIONS”) CAREFULLY BEFORE USING THIS WEB SITE. PLEASE STOP USING THIS WEB SITE IMMEDIATELY IF YOU DO NOT ACCEPT ANY OF PROVISIONS OF TERMS AND CONDITIONS AS MODIFIED FROM TIME TO TIME.</p>				
			</article>
		</div>
	</section>
	<!-- About Content B -->
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">TERMS AND CONDITIONS</h3>
				<h4 class="sub-title">I. ACCEPTANCE OF TERMS AND CONDITIONS</h4>
				<p>This web site is operated and controlled by ASE from its offices within Taiwan, the Republic of China and the use thereof is subject to TERMS AND CONDITIONS. ASE makes no representation that the materials on this website are appropriate or available for use in locations other than Taiwan, the Republic of China. You expressly signify your consent to TERMS AND CONDITIONS and also agree to comply with all local and international laws and regulations. We reserve the right, at our discretion, to change, modify, add, or remove portions of TERMS AND CONDITIONS at any time without notice to you. Please check TERMS AND CONDITIONS periodically for any changes adopted by ASE. Your continued use of this web site following the posting of changes to TERMS AND CONDITIONS will mean you accept those changes of TERMS AND CONDITIONS and the then-current terms and conditions.
				</p>
				<h4 class="sub-title">II. NO UNLAWFUL OR PROHIBITED USE</h4>
				<p>This web site is intended for the lawful, personal, informational and non-commercial use, or for the purpose of commercial use for ASE's customers and employees and members of the general public subject to ASE's specific consent. Use of this web site for any purpose that is unlawful or prohibited by TERMS AND CONDITIONS is not allowed. You may not use this web site in any manner that could damage, disable, overburden, or impair any ASE server, or the network(s) connected to any ASE server, or interfere with any other party's use and enjoyment of this web site. You may not attempt to gain unauthorized access to this web site, or other accounts, computer systems or networks connected to any ASE server or to any of the services available on this web site through hacking, password mining or any other means. You may not obtain or attempt to obtain through any means any materials or information not intentionally made available through this web site.
				</p>
				<h4 class="sub-title">III.	RESTRICTIONS ON USE OF CONTENTS</h4>
				<p>All the information, communications, software, scripting, photos, illustration, design, icon, text, video, graphic, music, sound, image and other materials and services available on this web site (hereinafter collectively referred to as "Contents") are copyrighted and owned by ASE and are protected by local and international laws and regulations, including but not limited to the laws of copyright, trademark, patent, trade secret and other intellectual property rights, treaty provisions and other applicable laws and regulations ("Rights"). No Contents from this web site may be copied, reproduced, modified, displayed, transmitted, framed, republished, downloaded, uploaded, posted, transmitted, or distributed in any way, in whole or in part, unless specifically permitted by ASE in writing. Any unauthorized use of Contents or any use not in compliance with TERMS AND CONDITIONS is a infringement of ASE's Rights. ASE is entitled to any remedies it might have at law and may take any appropriate actions at its own discretion, including without limitation, terminating your access to this web site at any time without liability and compensation to you.
				</p>
				<h4 class="sub-title">IV. TRADEMARKS AND SERVICE MARKS</h4>
				<p>The trademarks provided in <a href="@Url.Action("Intellectual_Property", "Technology", new { lang = ViewBag.language.lang })">ASE Trademark List</a> under this Section IV as well as certain names, service marks, logos, slogans and product designs used, shown or available on this web site (hereinafter collectively referred to as “ASE Marks”) are proprietary to or legitimate intellectual property rights owned by ASE and/or its affiliated companies that are being registered or have been registered in Taiwan or in other countries by ASE and/or its affiliated companies.  Nothing in this web site or access to this web site shall be construed as granting such permission or any license under any of ASE and/or its affiliated companies' intellectual property rights over the ASE Marks.
				</p>
				<p>
				No ASE Marks may be used, reproduced, copied or disseminated, in whole or in party, by any means whatsoever for any purposes without prior written permission of ASE and/or its affiliated companies and more specifically, incorporating ASE’s Marks into any name of product, name of services, name of company, trademarks, service marks or logos owned or used by any person or company other than ASE, or adopting any names, trademarks, service marks or logos that are confusingly similar to ASE Marks is strictly prohibited and shall be considered as serious violation of Terms and Conditions of Use of ASE Website.
				</p>
				<p>
				Any other names, trademarks, service marks or logos appearing on this websites that are neither ASE Marks nor owned by ASE and/or its affiliated companies are the property of their respective owners and any use of foregoing property is subject to the permission or authorization of such respective owners.
				</p>
				<h4 class="sub-title">V. USER SUBMISSIONS</h4>
				<p>Any material, information or other communication you transmit or post to this web site ("Communications") will be considered non-confidential and non-proprietary. ASE does not guarantee the security of any Communications. You shall remain solely responsible for the contents of the Communications and ASE undertakes no obligation with respect to the Communications. ASE may copy, modify, display, disclose, distribute, incorporate and otherwise use the Communications and all ideas, concepts, data, images, sounds, text and other contents embodied therein for any and all commercial or non-commercial purposes without liability and compensation to you or any other person. You are strictly prohibited from posting or transmitting to or from this web site any unlawful, threatening, libelous, defamatory, obscene, pornographic, or other material that could constitute or encourage a criminal offense, violate the rights of ASE or any party, or that would otherwise give rise to liability or violate any law in any jurisdiction.
				</p>
				<h4 class="sub-title">VI. LINKS TO OTHER WEB SITES AND RESOURCES</h4>
				<p>This web site may provide links to third-party services and resources as a convenience to you. ASE does not control the availability or contents of those outside services and resources. ASE is not responsible for, nor does it endorse, recommend or support, any linked services or resources. Any concerns regarding any such service or resource, or any link thereto, should be directed to the particular service or resource. ASE reserves the right to terminate any link to outside services or resources at any time at its own discretion. If you decide to access any of the outside services or resources linked to this web site, you do so entirely at your own risk.
				</p>
				<h4 class="sub-title">VII. GENERAL INDEMNIFICATION</h4>
				<p>You hereby agree to indemnify, defend and hold ASE harmless from and against any and all liabilities, claims, demands, losses, penalties and the associated costs and expenses, including reasonable attorney's fees, arising out of or in connection with your violation, alleged violation or breach of TERMS AND CONDITIONS.
				</p>
				<h4 class="sub-title">VIII. DISCLAIMER</h4>
				<p>THE CONTENTS ON THIS WEB SITE ARE PROVIDED "AS IS" AND WITHOUT WARRANTIES OF ANY KIND EITHER EXPRESS OR IMPLIED. TO THE FULLEST EXTENT PERMISSIBLE PURSUANT TO APPLICABLE LAW, ASE DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY, NONINFRINGEMENT OF INTELLECTUAL PROPERTY AND FITNESS FOR A PARTICULAR PURPOSE. ASE DOES NOT WARRANT THAT THE FUNCTIONS CONTAINED IN THE CONTENTS WILL BE UNINTERRUPTED OR ERROR-FREE, THAT DEFECTS WILL BE CORRECTED, OR THAT THIS WEB SITE OR THE SERVER(S) THAT MAKES THIS WEB SITE AVAILABLE ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS. ASE DOES NOT WARRANT OR MAKE ANY REPRESENTATIONS REGARDING THE USE OR THE RESULTS OF THE USE OF THE CONTENTS ON THIS WEB SITE IN TERMS OF ITS CORRECTNESS, ACCURACY, RELIABILITY, VALIDITY OR OTHERWISE. NO ADVICE, PERMISSION OR INFORMATION, EITHER ORAL OR WRITTEN, ACQUIRED FROM ASE SHALL BE DEEMED TO ALTER THIS DISCLAIMER OF WARRANTY OR CREATE ANY WARRANTY. YOU SHALL REMAIN SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR COMPUTER SYSTEM OR LOSS OF DATA AS A RESULT OF THE USE OF THIS WEB SITE.
				</p>
				<h4 class="sub-title">IX. LIMITATION OF LIABILITY</h4>
				<p>UNDER NO CIRCUMSTANCES SHALL ASE BE LIABLE FOR ANY LOST PROFITS, LOSS OF DATA, LOST BUSINESS, LOST SAVINGS, LOSS OF ANY KIND OR ANY DAMAGE, INCLUDING BUT NOT LIMITED TO DIRECT, INDIRECT, SPECIAL INCIDENTAL OR CONSEQUENTIAL DAMAGES THAT RESULT FROM THE USE OF, OR THE INABILITY TO USE, THE CONTENTS OF THIS WEB SITE, EVEN IF ASE OR AN AUTHORIZED ASE REPRESENTATIVE HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH LOSSES OR DAMAGES.
				</p>
				<h4 class="sub-title">X. TERMINATION</h4>
				<p>You agree that ASE may terminate or restrict your use of or access to this web site or any part hereof without notice for any reason, including but not limited to that ASE, at ASE's sole discretion, considers you to have failed to comply with any provision of TERMS AND CONDITIONS. ASE may take such further action as ASE determines to be appropriate under the circumstances to eliminate or preclude repeat violations, and subject to Section IX of TERMS AND CONDITIONS, ASE shall not be liable for any damages of any nature suffered by any customer, user, or any third party resulting in whole or in part from ASE's exercise of its rights under these terms and conditions.
				</p>
				<h4 class="sub-title">XI. GOVERNING LAW AND JURISDICTION</h4>
				<p>This TERMS AND CONDITIONS shall be governed by and construed in accordance with the laws of the Republic of China without regard to conflicts of laws. You hereby agree that any litigation arising out of or relating to TERMS AND CONDITIONS and the use of this web site shall be subject to the exclusive jurisdiction of the courts of Taipei, Taiwan, the Republic of China.
				</p>
				<h4 class="sub-title">XII. GENERAL</h4>
				<p>The TERMS AND CONDITIONS constitute the entire agreement between you and ASE, govern your use of this web site and supersede any prior agreements between you and ASE. You agree that ASE may change, modify, add, or remove portions of TERMS AND CONDITIONS at any time by updating this posting. To the extent that anything in or associated with this web site is in conflict or inconsistent with TERMS AND CONDITIONS, TERMS AND CONDITIONS shall take precedence and prevail. If any provision of TERMS AND CONDITIONS shall be unlawful, void, or for any reason unenforceable, such provision shall be deemed severable from TERMS AND CONDITIONS and shall not affect the validity and enforceability of any remaining provisions. ASE's failure to enforce any provision of TERMS AND CONDITIONS shall not be deemed a waiver of such provision nor of the right to enforce such provision. The materials on this web site are provided solely for informational purposes and are not an offer to sell or a solicitation of an offer to buy any securities issued by ASE.
				</p>
			</article>
		</div>
	</section>
	