﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/ch/_Layout_seo.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-solution">
		<h1 class="page-title title-large">解決方案</h1>
	</section>



	<!-- Project-B Fix, Remove Old Breadcrumb -->
	<!--content-->
	<section class="inside-article">
		<!--麵包屑-->
		<div class="col-xs-12 col-md-6 living-box">
			<div class="content-lg row">
				<div class="col-xs-12">
					<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
					</ol>
					</div>
				<article class="col-xs-12">
					<h3 class="title">智能單車</h3>
					<div class="content">
						<p>科技創新，騎乘單車除了節能減碳，也能透過手機App的串聯與紀錄，建置感測器與SiP 微型化的解決方案，單車更智慧化，隨環境光調整亮度的車頭車尾燈、手勢感應方向燈與隨時記錄監控行車時的心跳血氧與UV指數等功能，不論是運動或是交通工具，單車會是更安全、方便、而且是更加健康的行車體驗。
						</p>
					</div>
				</article>
			</div>
			<article class="col-xs-12">
			<div class="content-lg row csr pro">
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
					<!---->
					<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a class="link-btn" data-link="s01" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
								<span class="black-text-in-box accordion-center-text">ID 確認/自動上鎖</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>

						<div id="collapseOne" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<div class="col-xs-12 pl-0 collapse-area">
									<div class="sol-img">
										<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/sb01.png" alt="">
										<ul class="sol-sol">
											<li class="sol-text">手機App單車自動上鎖，感應ID可自動解鎖</li>
											<li class="sol-title">日月光解決方案</li>
											<li>AoP BLE SiP</li>
										</ul>
									</div>
									<ul class="sol-list">
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/sb01-1.jpg"  alt=""><br>
											<!-- <span>AoP BLE SiP</span> -->
										</li>
									</ul>
								</div>
							</div>
							<div class="mobile-img">
								<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/bike-m01.jpg"  alt="">
							</div>
						</div>
	  				</div>
					<!---->
					<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a class="link-btn" data-link="s06" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
								<span class="black-text-in-box accordion-center-text">安全警報系統</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>

						<div id="collapseSix" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<div class="col-xs-12 pl-0 collapse-area">
									<div class="sol-img"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/sb06.png" alt="">		
										<ul class="sol-sol">
											<li class="sol-text">上鎖單車異常移動，發出警鳴與燈光警示</li>
											<li class="sol-title">日月光解決方案</li>
											<li>Motion Sensor + BLE SiP</li>
										</ul>
										</div>
									<ul class="sol-list">
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/sb06-1.jpg"  alt=""><br>
											<!-- <span>Motion Sensor + BLE SiP</span> -->
										</li>
									</ul>
								</div>
							</div>
							<div class="mobile-img">
								<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/bike-m06.jpg"  alt="">
							</div>
						</div>
	  				</div>
					<!---->
	  				<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a class="link-btn" data-link="s02" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
								<span class="black-text-in-box accordion-center-text">智能車燈</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>

						<div id="collapseTwo" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<div class="col-xs-12 pl-0 collapse-area">
									<div class="sol-img">
									<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/sb02.png" alt="">
									<ul class="sol-sol">
											<li class="sol-text">環境光變暗，頭燈及尾燈自動亮起</li>
											<li class="sol-title">日月光解決方案</li>
											<li>Ambient Light Sensor + BLE SiP</li>
										</ul>
										</div>
									<ul class="sol-list">
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/sb02-1.jpg"  alt=""><br>
											<!-- <span>ALS Sensor + BLE SiP</span> -->
										</li>
									</ul>
								</div>
							</div>
							<div class="mobile-img">
								<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/bike-m02.jpg"  alt="">
							</div>
						</div>
	  				</div>
					<!---->
	  				<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a class="link-btn" data-link="s03" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
								<span class="black-text-in-box accordion-center-text">UV 指數偵測</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>

						<div id="collapseThree" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<div class="col-xs-12 pl-0 collapse-area">
									<div class="sol-img">
									<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/sb03.png" alt="">
										<ul class="sol-sol">
											<li class="sol-text">紫外線指數記錄與危害提醒</li>
											<li class="sol-title">日月光解決方案</li>
											<li>UV Sensor + BLE SiP</li>
										</ul>
										</div>
									<ul class="sol-list">
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/sb03-1.jpg"  alt=""><br>
											<!-- <span>UV Sensor + BLE SiP</span> -->
										</li>
									</ul>
								</div>
							</div>
							<div class="mobile-img">
								<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/bike-m03.jpg"  alt="">
							</div>
						</div>
	  				</div>
					<!---->
					<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a class="link-btn" data-link="s05" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
								<span class="black-text-in-box accordion-center-text">心跳血氧偵測</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>

						<div id="collapseFive" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<div class="col-xs-12 pl-0 collapse-area">
									<div class="sol-img">
									<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/sb05.png" alt="">
										<ul class="sol-sol">
											<li class="sol-text">騎行中持續記錄心跳血氧指數</li>
											<li class="sol-title">日月光解決方案</li>
											<li>Optical Sensor + BLE SiP</li>
										</ul>
										</div>
									<ul class="sol-list">
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/sb05-1.jpg"  alt=""><br>
											<!-- <span>Optical Sensor + BLE SiP</span> -->
										</li>
									</ul>
								</div>
							</div>
							<div class="mobile-img">
								<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/bike-m05.jpg"  alt="">
							</div>
						</div>
	  				</div>
					<!---->
	  				<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a class="link-btn" data-link="s04" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
								<span class="black-text-in-box accordion-center-text">手勢感應方向燈</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>

						<div id="collapseFour" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<div class="col-xs-12 pl-0 collapse-area">
									<div class="sol-img">
									<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/sb04.png" alt="">
									<ul class="sol-sol">
											<li class="sol-text">手勢左右控制方向燈，提醒後方來車</li>
											<li class="sol-title">日月光解決方案</li>
											<li> Gesture Sensor + BLE SiP</li>
										</ul>
										</div>
									<ul class="sol-list">
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/sb04-1.jpg"  alt=""><br>
											<!-- <span>Gesture Sensor + BLE SiP</span> -->
										</li>
									</ul>
								</div>
							</div>
							<div class="mobile-img">
								<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/bike-m04.jpg"  alt="">
							</div>
						</div>
	  				</div>
					<!---->

				</div>
			</div>
		</div>
		<div class="col-xs-12 col-md-6 living-box bike">
			<div class="bike-tool">
				<div class="s01 bike01"></div>
				<div class="s02 bike02"></div>
				<div class="s03 bike03"></div>
				<div class="s04 bike04"></div>
				<div class="s05 bike05"></div>
				<div class="s06 bike06"></div>
			</div>
		</div>

		<div class="preload">
			<div class="bike01 change"></div>
			<div class="bike02 change"></div>
			<div class="bike03 change"></div>
			<div class="bike04 change"></div>
			<div class="bike05 change"></div>
			<div class="bike06 change"></div>
		</div>
	</section>	
	<style>
		.collapse-area .sol-img{width:80%;float:left;}
		.collapse-area .sol-list{width:20%;float:left;}
		.collapse-area .sol-list li{width:100%;}
		.collapse-area .sol-list.city{width:80%;float:left;}
		.collapse-area .sol-list.city	li{text-align:left;}
	</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
$( document ).ready(function() {
	$('.accordion-center-text').click(function(e){
		if ($(this).hasClass('black-text-in-box')) {
			$('.blue-text-in-box').removeClass('blue-text-in-box').addClass('black-text-in-box');
			$(this).removeClass("black-text-in-box");
			$(this).addClass("blue-text-in-box");      //add the class to the clicked element
		} else {
			$(this).removeClass("blue-text-in-box");
			$(this).addClass("black-text-in-box");      //add the class to the clicked element
		}
	});
	$('.link-btn').click(function(){
		// 取得被點擊元素的data-link屬性
		var target = $(this).data('link');
		$('.bike-tool div.'+target).toggleClass('change').siblings().removeClass('change');
	});
})
</script>
