﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/ch/_Layout_seo.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-solution">
		<h1 class="page-title title-large">解決方案</h1>
	</section>


	

	<!-- Project-B Fix, Remove Old Breadcrumb -->
		<section class="inside-article">
		<!--麵包屑-->
		<div class="col-xs-12 col-md-6 living-box">
		
			<!--麵包屑-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
			</ol>
		</div>
	
				<article class="col-xs-12">
					<h3 class="title">智能居家</h3>
					<div class="content">
						<p>智能居家實現美好的居家生活品質。透過手機app，加上感測器、藍芽與網路的連結，家用設備能相互通訊，住戶不論外出或在家，能隨時掌握家中狀況。智能燈光透過與燈光串連顯示異常溫度、空氣、門窗警示與通知，帶來安全、舒適與方便的居家環境，智慧電源管理家中節能與控制。</p>
					</div>
				</article>
			</div>
			<article class="col-xs-12">
			<div class="content-lg row csr pro">
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

					<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a class="link-btn" data-link="s05" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
								<span class="black-text-in-box accordion-center-text">遠端智慧操控</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>
						<div id="collapseFive" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<div class="col-xs-12 pl-0 collapse-area">
									<div class="sol-img">
									<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/sm01a.png" alt="">
									<ul class="sol-sol">
											<li class="sol-text">隨時隨地掌握居家狀況、遠端控制家用設備</li>
											<li class="sol-title">日月光解決方案</li>
											<li>Handset RF Transceiver SiP</li>
											<li>2.5D IC</li>
											<li>BLE + MCU + WiFi Connectivity SiP</li>
											<li>BLE + MCU + AoP RF SiP</li>
										</ul>
										</div>
									<ul class="sol-list">
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/living-05-1.jpg"  alt=""><br>
											<!-- <span>Handset RF Transceiver SiP</span> -->
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/sm07-1.png" alt=""><br>
											<!-- <span>2.5D IC</span> -->
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/living-05-2.jpg"  alt=""><br>
											<!-- <span>BLE+MCU+WiFi Connectivity SiP</span> -->
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/living-05-3.jpg"  alt=""><br>
											<!-- <span>BLE+MCU+AoP RF SiP</span> -->
										</li>
									</ul>
								</div>
							</div>
							<div class="mobile-img">
								<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/house-m05.jpg"  alt="">
							</div>
						</div>
	  				</div>

					<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a class="link-btn" data-link="s03" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
								<span class="black-text-in-box accordion-center-text">環境溫濕度監控</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>
						<div id="collapseThree" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<div class="col-xs-12 pl-0 collapse-area">
									<div class="sol-img">
									<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/sm03.png" alt="">
									<ul class="sol-sol">
											<li class="sol-text">感測溫濕度自動控制</li>
											<li class="sol-title">日月光解決方案</li>
											<li>Environment Sensor + Wireless SiP</li>
										</ul>
										</div>
									<ul class="sol-list">
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/sm03-1.jpg"  alt=""><br>
											<!-- <span>Environment Sensor + Wireless SiP</span> -->
										</li>
									</ul>
								</div>
							</div>
							<div class="mobile-img">
								<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/house-m03.jpg"  alt="">
							</div>
						</div>
	  				</div>

	  				<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a class="link-btn" data-link="s06" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
								<span class="black-text-in-box accordion-center-text">光控感應系統</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>
						<div id="collapseSix" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<div class="col-xs-12 pl-0 collapse-area">
									<div class="sol-img">
									<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/sm01b.png" alt="">                   
									<ul class="sol-sol">
											<li class="sol-text">光線變暗，燈光自動開啟</li>
											<li class="sol-title">日月光解決方案</li>
											<li>Ambient Light Sensor + Wireless SiP</li>
										</ul>
										</div>
									<ul class="sol-list">
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/living-06-1.jpg"  alt=""><br>
											<!-- <span>Ambient Light Sensor + Wireless SiP</span> -->
										</li>
									</ul>
								</div>
							</div>
							<div class="mobile-img">
								<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/house-m06.jpg"  alt="">
							</div>
						</div>
	  				</div>

					<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a class="link-btn" data-link="s01" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
								<span class="black-text-in-box accordion-center-text">App 燈光操控</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>
						<div id="collapseOne" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<div class="col-xs-12 pl-0 collapse-area">
									<div class="sol-img">
										<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/sm01.png" alt="">                   
										<ul class="sol-sol">
											<li class="sol-text">App操控燈光開關，搭配情境調整不同模式-客廳、睡眠、派對、手動</li>
											<li class="sol-title">日月光解決方案</li>
											<li>BLE + MCU + AoP SiP</li>
										</ul>
										</div>
									<ul class="sol-list">
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/sm01-2.jpg"  alt=""><br>
											<!-- <span>BLE + MCU + AoP SiP</span> -->
										</li>
									</ul>
								</div>
							</div>
							<div class="mobile-img">
								<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/house-m01.jpg"  alt="">
							</div>
						</div>
	  				</div>

	  				<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a class="link-btn" data-link="s02" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
								<span class="black-text-in-box accordion-center-text">門窗安全監控</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>
						<div id="collapseTwo" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<div class="col-xs-12 pl-0 collapse-area">
									<div class="sol-img">
									<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/sm02.png" alt="">
									<ul class="sol-sol">
											<li class="sol-text">燈光警示與手機通知門窗異常開啟</li>
											<li class="sol-title">日月光解決方案</li>
											<li>Motion Sensor + Wireless SiP</li>
										</ul>
										</div>
									<ul class="sol-list">
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/sm02-1.png" alt=""><br>
											<!-- <span>Motion Sensor + Wireless SiP</span> -->
										</li>
									</ul>
								</div>
							</div>
							<div class="mobile-img">
								<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/house-m02.jpg"  alt="">
							</div>
						</div>
	  				</div>

	  				<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a class="link-btn" data-link="s04" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
								<span class="black-text-in-box accordion-center-text">室內空氣品質監控</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>
						<div id="collapseFour" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<div class="col-xs-12 pl-0 collapse-area">
									<div class="sol-img">
									<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/sm04.png" alt="">
									<ul class="sol-sol">
											<li class="sol-text">偵測空氣中異常物質(瓦斯外泄、二氧化碳濃度過高等)，即時燈光警示並發出通知，立刻進行應變措施</li>
											<li class="sol-title">日月光解決方案</li>
											<li>Gas Sensor + Wireless SiP</li>
										</ul>
										</div>
									<ul class="sol-list">
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/sm04-1.jpg"  alt=""><br>
											<!-- <span>Gas Sensor + Wireless SiP</span> -->
										</li>
									</ul>
								</div>
							</div>
							<div class="mobile-img">
								<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/house-m04.jpg"  alt="">
							</div>
						</div>
	  				</div>

	  				<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a class="link-btn" data-link="s07" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
								<span class="black-text-in-box accordion-center-text">節能控制系統</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>
						<div id="collapseSeven" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<div class="col-xs-12 pl-0 collapse-area">
									<div class="sol-img">
									<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/sm01c.png" alt="">                   
									<ul class="sol-sol">
											<li class="sol-text">家中用電量總量監測，智能插座可遠端控制開關</li>
											<li class="sol-title">日月光解決方案</li>
											<li>Wireless SiP</li>
											<li>Connectivity SiP</li>
											<li>Lora</li>
										</ul> 
									</div>
									<ul class="sol-list">
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/living-07-1.jpg"  alt=""><br>
											<!-- <span>Wireless SiP, Connectivity SiP, Lora</span> -->
										</li>
									</ul>
								</div>
							</div>
							<div class="mobile-img">
								<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/house-m07.jpg"  alt="">
							</div>
						</div>
	  				</div>

				</div>
			</div>
			</article>
		</div>
		<div class="col-xs-12 col-md-6 living-box living">
			<div class="house-tool">
				<div class="s01 tool01"></div>
				<div class="s02 tool02"></div>
				<div class="s03 tool03"></div>
				<div class="s04 tool04"></div>
				<div class="s05 tool05"></div>
				<div class="s06 tool06"></div>
				<div class="s07 tool07"></div>
			</div>
		</div>

		<div class="preload">
			<div class="tool01 change"></div>
			<div class="tool02 change"></div>
			<div class="tool03 change"></div>
			<div class="tool04 change"></div>
			<div class="tool05 change"></div>
			<div class="tool06 change"></div>
			<div class="tool07 change"></div>
		</div>
	</section>
                    <style>
		.collapse-area .sol-img{width:80%;float:left;}
		.collapse-area .sol-list{width:20%;float:left;}
		.collapse-area .sol-list li{width:100%;}
		.collapse-area .sol-list.city{width:80%;float:left;}
		.collapse-area .sol-list.city	li{text-align:left;}
</style>	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
$( document ).ready(function() {
	$('.accordion-center-text').click(function(e){
		if ($(this).hasClass('black-text-in-box')) {
			$('.blue-text-in-box').removeClass('blue-text-in-box').addClass('black-text-in-box');
			$(this).removeClass("black-text-in-box");
			$(this).addClass("blue-text-in-box");      //add the class to the clicked element
		} else {
			$(this).removeClass("blue-text-in-box");
			$(this).addClass("black-text-in-box");      //add the class to the clicked element
		}
	});
	
	$('.link-btn').click(function(){
		// 取得被點擊元素的data-link屬性
		var target = $(this).data('link');
		$('.house-tool div.'+target).toggleClass('change').siblings().removeClass('change');
	});
	$.preloadImages = function() {
	  for (var i = 0; i < arguments.length; i++) {
	    $("<img />").attr("src", arguments[i]);
	  }
	}

	$.preloadImages(
		"https://2311cdn.r.worldssl.net/picimages/solutions/house-tool01-change.png",
		"https://2311cdn.r.worldssl.net/picimages/solutions/house-tool02-change.png",
		"https://2311cdn.r.worldssl.net/picimages/solutions/house-tool03-change.png",
		"https://2311cdn.r.worldssl.net/picimages/solutions/house-tool04-change.png"
		);
	
})
</script>
