﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/ch/_Layout_seo.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-solution">
		<h1 class="page-title title-large">解決方案</h1>
	</section>


	

	<!-- Project-B Fix, Remove Old Breadcrumb -->
	<section class="inside-article">
		<!--麵包屑-->
	<div class="col-xs-12 col-md-6 living-box">			
	<div class="content-lg row">
		<div class="col-xs-12">
		
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
			</ol>
		</div>
		<article class="col-xs-12">
			<h3 class="title">智慧城市</h3>
			<div class="content">
				<p>打造全面感知、數字化、信息化融合智慧的創新城市。日月光系統級封裝(SiP)解決方案平台協助落實節能減碳、效率生活、便捷網絡與資源共享的佈建，如智慧街燈、建築物智慧能源管理、智慧交通、智慧停車以及空氣品質監測等，點亮智慧網絡城市，推動永續未來發展。
				</p>
			</div>
		</article>
	</div>
	<article class="col-xs-12">
			<div class="content-lg row csr pro">
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
					<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a class="link-btn" data-link="s01" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
								<span class="black-text-in-box accordion-center-text text-left">智慧街燈</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>

						<div id="collapseOne" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<div class="col-xs-12 pl-0 collapse-area">
									<div class="sol-img ">
										<img class="sol-icon" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/sm01.png" alt="">
										<ul class="sol-sol">
											<li class="sol-text">環境光變化，街燈自動調整開關及亮度</li>
											<li class="sol-title">日月光解決方案</li>
											<li>BLE+MCU SiP</li>
											<li>LoRa/SigFox/NB-IOT/LTE+MCU SiP</li>
											<li>UV/IR Sensor</li>
										</ul>
										
									</div>
									<ul class=" col-xs-12 col-md-3 sol-list">
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/sc01-1.jpg"  alt=""><br>
											
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/sc01-3.jpg"  alt=""><br>
											
										</li>
									</ul>
								</div>
							</div>
							<div class="mobile-img">
								<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/city-m01.jpg"  alt="">
							</div>
						</div>
	  				</div>
	  				<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a class="link-btn" data-link="s02" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
								<span class="black-text-in-box accordion-center-text text-left">建築物智慧能源管理</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>

						<div id="collapseTwo" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<div class="col-xs-12 pl-0 collapse-area">
									<div class="sol-img">
										<img  src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/sc02-1a.jpg"  alt="">
										<img style="clear:left; margin-top:-8px;"  src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/sc02-1b.jpg"  alt="">
										<ul class="sol-sol">
											<div>
												<p class="sol-title">用電量偵測</p>
												<p style="margin-left:-19px !important;">即時監測建築物電力使用狀況，自動調配能源，達成低碳<br><b>水資源偵測</b>: 偵測建築物用水與漏水狀況以達智慧化管理
												</p>
											</div>
											<div>
												<p class="sol-title">淹水偵測</p>
												<p style="margin-left:-19px !important;">紀錄雨量及淹水水位變化，快速研判發出淹水警告
												</p>
											</div>
											<div>
												<p class="sol-title">瓦斯流量與洩漏偵測</p>
												<p style="margin-left:-19px !important;">紀錄瓦斯流量方便查詢，偵測瓦斯洩漏時及時發出通知
												</p>
											</div>
											<ul class="nopadding-ali" style="list-style-type: disc;">
												<li class="sol-title">日月光解決方案</li>
												<li>LoRa/SigFox/NB-IOT/LTE+MCU SiP</li>
												<li>Pressure Sensor</li>
												<li>Gas Sensor</li>
											</ul>			
										</ul>
																	
									</div>

									<ul class="sol-list">
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/sc03-1.jpg"  alt=""><br>
											
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/sc05-1.jpg"  alt=""><br>
											
										</li>
									</ul>
								</div>
							</div>
							<div class="mobile-img">
								<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/city-m02.jpg"  alt="">
							</div>
						</div>
	  				</div>
	  				<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a class="link-btn" data-link="s03" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
								<span class="black-text-in-box accordion-center-text text-left">車流量監控</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>

						<div id="collapseThree" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<div class="col-xs-12 pl-0 collapse-area">
									<div class="sol-img">
									<img class="sol-icon"  src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/sc03.png" alt="">
										<ul class="sol-sol">
											<li class="sol-text">監控交通狀況、及時通知車禍或是塞車狀況</li>
											<li class="sol-title">日月光解決方案</li>
											<li>LoRa/SigFox/NB-IOT/LTE+MCU SiP</li>
										</ul>										
									</div>
									<ul class="sol-list">
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/sc03-1.jpg"  alt=""><br>
											
										</li>
									</ul>
								</div>
							</div>
							<div class="mobile-img">
								<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/city-m03.jpg"  alt="">
							</div>
						</div>
	  				</div>
	  				<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a class="link-btn" data-link="s04" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
								<span class="black-text-in-box accordion-center-text text-left">停車區域辨識與通知</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>

						<div id="collapseFour" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<div class="col-xs-12 pl-0 collapse-area">
									<div class="sol-img">
										<img  class="sol-icon" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/sc04.png" alt="">
										<ul class="sol-sol">
											<li class="sol-text">辨識車位是否使用中，透過App導引車輛停駛至車位</li>
											<li class="sol-title">日月光解決方案</li>
											<li>LoRa/SigFox/NB-IOT/LTE+MCU SiP</li>
											<li>Magnetic/IR Sensor</li>
											<li>Camera with Image Recognition</li>
										</ul>										
									</div>

									<ul class=" sol-list">
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/sc03-1.jpg"  alt=""><br>
											
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/sc04-1.jpg"  alt=""><br>
											
										</li>
										<li>
											<img style="width:40%;" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/sc03-1-2.jpg"  alt=""><br>
											
										</li>
									</ul>
								</div>
							</div>
							<div class="mobile-img">
								<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/city-m04.jpg"  alt="">
							</div>
						</div>
	  				</div>
	  				<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a class="link-btn" data-link="s05" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
								<span class="black-text-in-box accordion-center-text text-left">空氣品質監控</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>

						<div id="collapseFive" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<div class="col-xs-12 pl-0 collapse-area">
									<div class="sol-img">
										<img class="sol-icon"  src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/sc05.png" alt="">
										<ul class="sol-sol">
											<li class="sol-text">空氣品質(PM2.5,甲醛, 揮發性有機物, 二氧化氮等)偵測</li>
											<li class="sol-title">日月光解決方案</li>
											<li >Gas/TVOC/PM2.5 Sensor</li>
										</ul>										
									</div>
									<ul class="sol-list">
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/sc05-1.jpg"  alt=""><br>
											
										</li>
									</ul>
								</div>
							</div>
							<div class="mobile-img">
								<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/city-m05.jpg"  alt="">
							</div>
						</div>
	  				</div>

	  				<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a class="link-btn" data-link="s07" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
								<span class="black-text-in-box accordion-center-text text-left">大數據</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>

						<div id="collapseSeven" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<div class="col-xs-12 pl-0 collapse-area">
									
									<div class="sol-img col-md-9">
										<img  class="sol-icon" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/sc07.png" alt="">
										<ul class="sol-sol">
											<li class="sol-text">資料管理與儲存</li>
											<li class="sol-title">日月光解決方案</li>
											<li>2.5D IC</li>
										</ul>										
									</div>
									<ul class="sol-list">
										<li>
											<img style="width:50%;" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/sm07-1.png" alt=""><br>
											<!-- <span>2.5D IC</span> -->
										</li>
									</ul>
								</div>
							</div>
							<div class="mobile-img">
								<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/city-m07.jpg"  alt="">
							</div>
						</div>
	  				</div>


				</div>

			</div>
		</article>
		</div>
		<div class="col-xs-12 col-md-6 living-box cityicon">
			<div class="city-tool">
				<div class="s01 city01"></div>
				<div class="s02 city02"></div>
				<div class="s02 city03"></div>
				<div class="s03 city04"></div>
				<div class="s04 city05"></div>
				<div class="s05 city06"></div>
				<div class="s07 city07"></div>
			</div>

		</div>
		<div class="preload">
			<div class="city01 change"></div>
			<div class="city02 change"></div>
			<div class="city03 change"></div>
			<div class="city04 change"></div>
			<div class="city05 change"></div>
			<div class="city06 change"></div>
			<div class="city07 change"></div>
		</div>
	</section>
	<style>
		.collapse-area .sol-img{width:80%;float:left;}
		.collapse-area .sol-list{width:20%;float:left;}
		.collapse-area .sol-list li{width:100%;}
		.collapse-area .sol-list.city{width:80%;float:left;}
		.collapse-area .sol-list.city	li{text-align:left;}
	</style>	
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
$( document ).ready(function() {
	$('.accordion-center-text').click(function(e){
		if ($(this).hasClass('black-text-in-box')) {
			$('.blue-text-in-box').removeClass('blue-text-in-box').addClass('black-text-in-box');
			$(this).removeClass("black-text-in-box");
			$(this).addClass("blue-text-in-box");      //add the class to the clicked element
		} else {
			$(this).removeClass("blue-text-in-box");
			$(this).addClass("black-text-in-box");      //add the class to the clicked element
		}
	});
	$('.link-btn').click(function(){
	  // 取得被點擊元素的data-link屬性
	  var target = $(this).data('link');
	  $('.city-tool div.'+target).toggleClass('change');
	  $('.city-tool div:not(.'+target+')').removeClass('change');
	 });
	
	
})
</script>
