﻿@using web.Models;
@using web.ViewModels;
@using web.Common;
@using System.Globalization;
@using System.Text.RegularExpressions;
@{
    List<SiteNav> site_nav_list = ViewBag.site_nav_list;
    if ( ViewBag.lang == "en" )
    {
        Page.Title = "Site Map";
    } else
    {
        Page.Title = "網站地圖";
    }
    
    Layout = String.Format("~/Views/Shared/{0}/_layout_seo.cshtml", ViewBag.lang);


}

@helper renderLinks(List<SiteNav> navList)
{
    <ul>
        @foreach (SiteNav nav in navList)
        {
            <li>
                @if(nav.Url != "")
                {
                    <a href="@nav.Url">@nav.Title</a>
                } else
                {
                    <a>@nav.Title</a>
                }
                @if (nav.Children.Count() > 0)
                {
                        @renderLinks(nav.Children)
                }
            </li>
        }
    </ul>
}

<link href="~/css/ase-sitemap.css?3" rel="stylesheet" />
<!-- page Banner -->
<section id="page-vision" class="page-banner-s banner-about">
    <h1 class="page-title title-large">@Page.Title</h1>
</section>

<!--麵包屑-->
<div class="content-lg row">
    <div class="col-xs-12">
        <ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
            <!-- Project-B Fix, Apply New Breadcrumb -->
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="/@ViewBag.lang"><i class="icon-home"></i><span itemprop="name">Home</span></a>
                <meta itemprop="position" content="0" />
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="/@ViewBag.lang/sitemap"><span itemprop="name">@Page.Title</span></a>
                <meta itemprop="position" content="1" />
            </li>
        </ol>
    </div>
</div>

<!-- Project-B Fix, Remove Old Breadcrumb -->
<!--content-->
<section class="inside-article">
    <div class="content-lg row">
        <article class="col-xs-12">
            <h3 class="title">@Page.Title</h3>

            <div class="aseSiteMap">
                @renderLinks(site_nav_list)
            </div>
        </article>
    </div>
</section>
