.aseSiteMap {
    width: 100%;

    > ul {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        font-size: 20px;

        a {
            color: #333;
            vertical-align: top;

            &[href]:hover {
                color: #2a93d5;
            }
        }

        > li {
            width: calc( 33% - 1rem);

            @media only screen and (max-width: 1024px) {
                width: 100%;
            }

            display: inline-block;
            margin: 0.5rem;

            > a {
                font-weight: bold;
                border-bottom: 1px solid #666;

                &[href]:hover {
                    text-decoration: none;
                }
            }

            > ul {
                font-size: 18px;

                > li {
                    margin: 1rem 0px;

                    > ul {
                        font-size: 14px;

                        > li {
                            margin: 0.5rem 0px;
                        }
                    }
                }
            }
        }
    }
}
