﻿body {
}
/*CSR_BLOG*/
div.block_shadow {
    width:370px !important;
    height:460px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 12px 0 rgba(0, 0, 0, 0.19);
}
img.block_img {
    margin-top: 17px;
    width: 330px;
    height: 240px;
    object-fit: contain;
    /*margin: 0 auto 1em auto;*/
}
h3.block_title {
    height:48px;
    color: #09458C;
    font-weight: bold;
    font-size:20px;
    margin-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-height: 120%;
}
h5.block_brief {
    height:77px;
    color: #808080;
    line-height: 140%;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
button.block_search {
    margin-left: 10px;
    margin-bottom:5px;
    display: inline-block
}
div.block_arrow {
    float: right;
    transform: scale(1.5);
    margin-bottom: 10%;
    vertical-align: middle;
}
a.block_author {
    color: #F7931E;
    font-weight: bold;
    font-size:18px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}
a.block_type {
    color: #2891D3;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}
span.block_date {
    color: #808080;
    font-size: 18px;
    vertical-align: middle;
}
span.block_date:before{
    content:" | ";
}
span.block_date:after{
    content:" | ";
}

span.content_date {
    font-size:16px;
    color: #808080;
    vertical-align: middle;
}
span.content_date:after {
    content: " | ";
}
div.content_border {
    background: white;
    border-style: solid;
    border-width: 2px;
    border-color: silver;
}

div.nopadding {
    padding-left: 0px;
    padding-right: 0px;
}
select.block_ddl {
    width: 45%;
    margin-left: 10px;
    display: inline-block
}
input.block_keyword {
    width: 75%;
    margin-left: 10px;
    display: inline-block
}
div.blog_content_icon {
    vertical-align: bottom;
    text-align: right;
}
img.blog_content_img {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 600px;
    height: 400px;
    object-fit: contain;
    /*width: 60%;*/
}
img.blog_content_icon_img {
    padding-left: 13px;
    width: 50px;
    cursor:pointer;
}
section.csr-bg-content {
    overflow: auto;
    background: #f6f6f6;
}
div.nav_title {
    height: 18px;
    color: gray;
    font-size: 16px;
    font-weight:bold;
    /*line-height: 140%;*/
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
div.nav_slash {
    font-size: 32px;
    font-weight: 100;
    text-align: center;
}
div.div_prevblog {
    /*height: 38px;*/
}
div.nav_prev {
    display: inline-block;
    margin-left: 15px;
    width: 85%;
}
div.nav_next {
    display: inline-block;
    margin-right: 15px;
    width: 85%;
}
div.content_left_arrow {
    transform: scale(1.5);
    margin-bottom: 10%;
    vertical-align: middle;
}
div.is-table-row {
    display: table;
}
    .is-table-row [class*="col-"] {
        float: none;
        display: table-cell;
    }
div.comment_parent {
    border-bottom: 40px solid #CCCCCC;
    height: 0;
    width: 280px;
    padding-right: 0px;
    display: inline-block;
    text-align: left;
}
div.comment_left_on {
    border-bottom: 40px solid #09458C;
    border-right: 20px solid transparent;
    height: 0;
    width: 140px;
    padding-right: 0px;
    display: inline-block;
    text-align: center;
}
div.comment_lefttext_on {
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    width: 120px;
    margin-top: 8px;
    height: 140px;
}
div.comment_righttext_off {
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    width: 140px;
    float: right;
    margin-top: 8px;
    height: 40px;
    font-weight: normal;
    color: #333333;
}
div.comment_lefttext_off {
    font-size: 16px;
    text-align: center;
    font-weight: normal;
    color: #333333;
    display: inline-block;
    cursor: pointer;
    width: 120px;
    margin-top: 8px;
    height: 140px;
}

div.comment_righttext_on {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    text-align: center;
    width: 140px;
    float: right;
    margin-top: 8px;
    height: 40px;
}
div.comment_parent_right {
    border-bottom: 40px solid #09458C;
    height: 0;
    width: 280px;
    padding-right: 0px;
    display: inline-block;
    text-align: left;
}
div.comment_right_on {
    border-bottom: 40px solid #CCCCCC;
    border-right: 20px solid transparent;
    height: 0;
    width: 140px;
    padding-right: 0px;
    display: inline-block;
    text-align: center;
}
div.rectangle {
    border-bottom: 40px solid #09458C;
    /*border-left: solid transparent;*/
    height: 0;
    width: 100px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}
div.rectangle_font_margin {
    margin-top:5px;
}
div.triangle-right {
    border-bottom: 40px solid #09458C;
    /*border-left: solid transparent;*/
    border-right: 20px solid #CCCCCC;
    height: 0;
    width: 0px;
    padding-right: 0px;
    display: inline-block;
    text-align: center;
}
div.rectangle_list {
    border-bottom: 40px solid #CCCCCC;
    /*border-left: solid transparent;*/
    height: 0;
    width: 145px;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}
div.rectangle_list_font_margin {
    margin-top: 10px;
}

div.list_rectangle {
    border-bottom: 40px solid #CCCCCC;
    /*border-left: solid transparent;*/
    height: 0;
    width: 100px;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}
div.list_rectangle_font_margin {
    margin-top: 8px;
}
div.list_triangle-right {
    border-bottom: 40px solid #CCCCCC;
    /*border-left: solid transparent;*/
    border-right: 20px solid #09458C;
    height: 0;
    width: 0px;
    padding-right: 0px;
    display: inline-block;
}
div.list_rectangle_list {
    border-bottom: 40px solid #09458C;
    height: 0;
    width: 145px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}
div.list_rectangle_list_font_margin {
    margin-top: 5px;
}

div.content_msglist_block {
    height: auto;
    width: 97%;
}
div.div_comment {
    margin-left: 20px;
}
div.content_msg_idx {
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    color: #808080;
    line-height: 200%
}
div.message_body {
    font-size: 16px;
    font-weight: bold;
    color: #383131;
}
div.block_reply {
    font-size: 16px;
    font-weight: bold;
    color: #383131;
    margin-left: 5px
}
/*
.banner-csr {
    background: url(../images/csr/banner_csr.jpg) no-repeat center;
}
*/
.blog-message {
    margin-right: 300px
}

    @media only screen and (max-width: 1024px) {
        .mtop10 {
        margin-top: 10px;
    }

    div.block_shadow {
        width: 92% !important;
        height: auto;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 20px;
        background: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 12px 0 rgba(0, 0, 0, 0.19);
    }

    img.block_img {
        margin-top: 17px;
        width: 100%;
        height: 75%;
        /*margin: 0 auto 1em auto;*/
    }
    a.block_author {
        color: #F7931E;
        font-weight: bold;
        font-size: 16px;
        cursor: pointer;
        display: inline-block;
        vertical-align: middle;
    }

    a.block_type {
        color: #2891D3;
        font-weight: bold;
        font-size: 16px;
        cursor: pointer;
        display: inline-block;
        vertical-align: middle;
    }

    span.block_date {
        color: #808080;
        font-size: 16px;
    }

    div.is-table-row {
        display: contents 
    }

    .is-table-row [class*="col-"] {
        display: block;
    }
    div.blog_content_icon {
        background:white;
    }
    div.blog_content_title {
        background: white;
    }
    img.blog_content_img {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    img.blog_content_icon_img {
        padding-left: 15px;
        width:50px;
    }
        div.div_prevblog {
            height: 38px;
        }
    div.nav_title {
        height: 15px;
        color: gray;
        font-size: 14px;
        font-weight: bold;
        /*line-height: 140%;*/
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 1;
        display: -webkit-box;
        -webkit-box-orient: vertical;
    }
    div.nav_prev {
        display: inline-block;
        margin-left: 15px;
        width: 80%;
    }

    div.nav_next {
        display: inline-block;
        margin-right: 15px;
        width: 80%;
    }
    div.nav_slash {
        font-size: 20px;
        font-weight: 100;
        text-align: center;
    }

    div.content_msglist_block {
        height: auto;
        width: 90%;
    }
    div.content_msg_idx {
        text-align: left;
        font-size: 16px;
        font-weight: bold;
        color: #808080;
        line-height: 150%;
    }
    div.content_msg_idx_modify {
        width: 90%;
        text-align: center;
        border-bottom: solid;
        border-width: 1px;
        margin-bottom: 5px;
    }
        div.row_message_adjust {
            text-align: center;
            display: flex;
            width: 100%;
            justify-content: center;
        }
        div.div_comment {
            margin-left: 0px;
            display: inline-block;
            /*margin: 5 auto;*/
            /*padding: 3px;*/
        }
    div.message_body {
        font-size: 16px;
        font-weight: bold;
        color: #383131;
        width: 120%;
    }
    div.block_reply {
        width:120%;
        /*font-size: 16px;
        font-weight: bold;
        color: #383131;
        margin-left: 5px*/
    }

    .blog-message {
        margin-right: 0px;
        width: 80%;
    }
}

@media only screen and (max-width: 321px) {
    a.screen_low{
        font-size:12px;
    }
    span.screen_low {
        font-size: 12px;
    }
}