.aseSearch {
    input {
        width: 100%;
        padding: 6px;
    }
    .list {
        > a {

        }
    }
    .pagination {
        display: flex;
        list-style-type: none;
        > li {
            &.active {
                a {
                    background-color: #2a93d5;
                    color: #fff;
                }
            }
            a {
                padding: 3px 12px;
                border: 1px solid #666;
                border-radius: 6px;
                margin: 6px;
                font-size: 20px;
                color: #333;
            }
        }
    }
}