html,
body,
.page,
#warpper {
  width: 100%;
}
video {
}
.videoContainer {
}
.JssorContainer {
  width: 100%;
  // padding-top: 100% * (900 / 1920);
  position: relative;
  height: calc(100vw * (900 / 1920));
  max-height: calc(100vh - 105px);
  overflow: hidden;
  @media screen and (max-width: 767px) {
    height: calc(100vw * (1024 / 900));
  }

  video {
    position: absolute;
    z-index: 1;
  }
}
.JssorSlider {
  position: absolute;
  width: 900px;
  height: 500px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  &__Slides {
    position: absolute;
    width: 900px;
    height: 500px;
    > * {
      position: absolute;
      width: 900px;
      height: 500px;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
  &__Caption {
    left: 16%;
    width: 500px;
    top: 10%;
    bottom: 10%;
    position: absolute;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media screen and (max-width: 767px) {
      width: 68%;
    }
  }
  &__Title,
  &__Desc,
  &__More {
    left: 600px;
    position: relative;
  }
  &__Title {
    margin: 24px 0px;
    font-size: 50px;
    @media screen and (max-width: 767px) {
      font-size: 24px !important;
    }
  }
  &__Desc {
    font-size: 24px;
    @media screen and (max-width: 767px) {
      font-size: 16px !important;
    }
  }
  &__More {
    // top: 60%;
    margin: 24px 0px;
  }
}

.ASEHeader {
  height: 62.5px;
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 30;
  top: 0;
  background-color: #fff;
  transition: 0.5s;
  &.scrollHide {
    transform: translateY(-100%);
  }
  > * {
    margin: 0 0.5rem;
  }
  .icon-search {
    font-size: 16px !important;
  }
  a {
    color: #333;
    text-decoration: none;
  }

  a:not([href]):hover {
    color: #333!important;
    text-decoration: none!important;
  }

  .NavTitle.active,
  a.NavTitle:hover {
    color: #2a93d5;
    font-weight: bold;
  }
  label {
    font-weight: normal;
    margin-bottom: 0px;
    margin: 5px 0px;
  }
  input[type="checkbox"] {
    display: none;
  }
  &__Logo {
    width: 150px;
    img {
      width: 150px;
    }
  }
  &__Navs {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    flex-grow: 1;
  }
  &__Search {
    > .btn {
      border-radius: 50% !important;
    }
  }

  &__Lang {
    border-radius: 20px;
    display: flex;
    background-color: #eee;
    overflow: hidden;
    border: 1px solid #ddd;
    > a {
      cursor: pointer;
      padding: 0.5rem;
      width: 60px;
      text-align: center;
      &.active,
      &:hover {
        background-color: #2a93d5;
        color: #fff;
      }
    }
  }

  &__Navs {
    .NavHeader__Toggle {
      display: none;
    }
  }

  &__Search input[type="checkbox"]:checked ~ .btn {
    background-color: #2a93d5;
    color: #fff;
  }
}

.NavHeader {
  display: flex;
  align-items: center;
  &__Toggle {
    padding: 0.5rem;
    cursor: pointer;
  }
}

.NavTitle {
  flex-grow: 1;
}

.ASENavs {
  $Nav: &;
  &__Lv1Toggle,
  &__Lv2Toggle,
  &__Lv3Toggle {
    display: none;
  }
  &__Lv1 {
    $Lv1: &;
    &Item {
      border-top: 5px solid #fff;
      border-bottom: 5px solid #fff;
      margin: 0.5rem 1rem;
      box-sizing: content-box;
      overflow: hidden;
      font-size: 1rem;
      padding: 0.5rem 0;
      white-space: nowrap;
      text-overflow: ellipsis;
      .NavHeader > * {
        line-height: 30px;
      }
      &:hover {
        > #{$Lv1}Sub {
          transform: scaleY(1);
          z-index: 1;
          > * {
            opacity: 1;
          }
        }
      }
    }
    &Sub {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      position: absolute;
      left: 0;
      right: 0;
      top: 100%;
      transform: scaleY(0);
      transition: 0.5s;
      z-index: 30;
      transform-origin: top center;
      background-color: #fafafa;
      z-index: 0;
      border-bottom: 1px solid #ccc;
      white-space: normal;
      padding-left: 160px;
      > * {
        opacity: 0;
        transition: 0.25s;
      }
    }
  }

  &__Lv2 {
    $Lv2: &;
    &Item {
      margin: 0.5rem 2rem;
      width: calc(20% - 4rem);
      font-size: 0.95rem;
      > .NavHeader {
        font-weight: bold;
      }
    }
  }
  &__Lv3 {
    $Lv3: &;
    &Item {
      font-weight: normal;
      font-size: 0.9rem;
      .NavHeader a {
        color: #666;
      }
    }
  }
}

.ASEHeader__MobileNavs {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #fafafa;

  max-height: 80vh;
  overflow: auto;
  transform: scaleY(0);
  transition: 0.5s;
  transform-origin: top center;
  margin: 0px;
  .NavHeader {
    padding: 0.5rem 1rem;
    width: 100%;
  }
  input[type="checkbox"]:checked ~ .NavHeader .NavHeader__Toggle {
    transform: rotate(180deg);
  }
  input[type="checkbox"]:checked ~ .ASEMobileNavs__Lv1Sub,
  input[type="checkbox"]:checked ~ .ASEMobileNavs__Lv2Sub {
    display: block;
    max-height: 1000px;
  }
}

.ASEMobileNavs {
  &__Lv1 {
    &Item {
      &:not(last-child) {
        border-bottom: 1px solid #ccc;
      }
    }
    &Sub {
      overflow: hidden;
      max-height: 0px;
      background-color: #ccc;
      transition: 0.5s;
    }
  }
  &__Lv2 {
    &Item:not(last-child) {
      border-bottom: 1px solid #bbb;
    }
    &Sub {
      max-height: 0px;
      overflow: hidden;
      background-color: #666;
      transition: 0.5s;
      color: #fff;
      * {
        color: #fff !important;
      }
    }
  }
  &__Lv3 {
    &Item {
      padding: 12px 0px;
      border-bottom: 1px solid #fff;
    }
  }
}

.ASESearchPanel {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  background-color: #ccc;
  padding: 24px;
  transform: scaleY(0);
  transform-origin: top center;
  transition: 0.5s;
  form {
    display: flex;
  }
  input {
    flex-grow: 1;
    height: 42px;
  }
}

#searchPanel:checked ~ .ASESearchPanel {
  transform: scaleY(1);
}

#MobileNavsToggle:checked ~ .ASEHeader__MobileNavs {
  transform: scaleY(1);
}

#MobileNavsToggle:checked ~ .ASEHeader__Search {
  display: none;
}

.ASEHeader__MobileToggle {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .ASEHeader__Navs * {
    display: none;
  }

  .ASEHeader__Logo {
    width: 100px;
  }

  .ASEHeader__Logo img {
    width: 100px;
  }

  .ASEHeader__MobileToggle {
    display: block;
  }
}

#breadcrumbs.sticky {
  position: fixed;
  top: 60px;
  left: 0px;
  z-index: 1;
  background-color: #eee;
  width: 100%;
  height: 60px;
  margin: 0px;
  padding: 0px 12px;
  line-height: 60px;
}

.jssorb033 {
  position: absolute;
}

.jssorb033 .i {
  position: absolute;
  cursor: pointer;
}

.jssorb033 .i .b {
  fill: #000;
  fill-opacity: 0.5;
  stroke: #fff;
  stroke-width: 1200;
  stroke-miterlimit: 10;
  stroke-opacity: 0.3;
}

.jssorb033 .i:hover .b {
  fill: #fff;
  fill-opacity: 0.7;
  stroke: #000;
  stroke-opacity: 0.5;
}

.jssorb033 .iav .b {
  fill: #fff;
  stroke: #000;
  fill-opacity: 1;
}

.jssorb033 .i.idn {
  opacity: 0.3;
}


.videoButton {  
  &:hover {
    &::after {
      background-image: url('https://2311cdn.r.worldssl.net/pic/video-arrow-back.png')!important;
    }
  }
  &::after {
    transition: 0.5s;
    content: '';
    background-image: url('https://2311cdn.r.worldssl.net/pic/video-arrow-white.png');
    
    background-size: contain;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-left: 24px;
  }

}

.breadcrumbs li a:not([href]) {
  color: #333;
  text-decoration: none;
}