html,
body,
.page,
#warpper {
  width: 100%;
}

.JssorContainer {
  width: 100%;
  position: relative;
  height: calc(100vw * (900 / 1920));
  max-height: calc(100vh - 105px);
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .JssorContainer {
    height: calc(100vw * (1024 / 900));
  }
}

.JssorContainer video {
  position: absolute;
  z-index: 1;
}

.JssorSlider {
  position: absolute;
  width: 900px;
  height: 500px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.JssorSlider__Slides {
  position: absolute;
  width: 900px;
  height: 500px;
}

.JssorSlider__Slides > * {
  position: absolute;
  width: 900px;
  height: 500px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.JssorSlider__Caption {
  left: 16%;
  width: 500px;
  top: 10%;
  bottom: 10%;
  position: absolute;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 767px) {
  .JssorSlider__Caption {
    width: 68%;
  }
}

.JssorSlider__Title, .JssorSlider__Desc, .JssorSlider__More {
  left: 600px;
  position: relative;
}

.JssorSlider__Title {
  margin: 24px 0px;
  font-size: 50px;
}

@media screen and (max-width: 767px) {
  .JssorSlider__Title {
    font-size: 24px !important;
    text-shadow: black 0.1em 0.1em 0.2em;
  }
}

.JssorSlider__Desc {
  font-size: 24px;
}

@media screen and (max-width: 767px) {
  .JssorSlider__Desc {
    font-size: 16px !important;
    text-shadow: black 0.1em 0.1em 0.2em;
  }
}

.JssorSlider__More {
  margin: 24px 0px;
  text-shadow: black 0.1em 0.1em 0.2em;
}

.ASEHeader {
  height: 62.5px;
  border-bottom: 1px solid #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 30;
  top: 0;
  background-color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.ASEHeader.scrollHide {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.ASEHeader > * {
  margin: 0 0.5rem;
}

.ASEHeader .icon-search {
  font-size: 16px !important;
}

.ASEHeader a {
  color: #333;
  text-decoration: none;
}


.ASEHeader   a:not([href]):hover {
    color: #333!important;
    text-decoration: none!important;
  }

.ASEHeader .NavTitle.active,
.ASEHeader a.NavTitle:hover {
  color: #2a93d5;
  font-weight: bold;
}

.ASEHeader label {
  font-weight: normal;
  margin-bottom: 0px;
  margin: 5px 0px;
}

.ASEHeader input[type="checkbox"] {
  display: none;
}

.ASEHeader__Logo {
  width: 150px;
}

.ASEHeader__Logo img {
  width: 150px;
}

.ASEHeader__Navs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.ASEHeader__Search > .btn {
  border-radius: 50% !important;
}

.ASEHeader__Lang {
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #eee;
  overflow: hidden;
  border: 1px solid #ddd;
}

.ASEHeader__Lang > a {
  cursor: pointer;
  padding: 0.5rem;
  width: 60px;
  text-align: center;
}

.ASEHeader__Lang > a.active, .ASEHeader__Lang > a:hover {
  background-color: #2a93d5;
  color: #fff;
}

.ASEHeader__Navs .NavHeader__Toggle {
  display: none;
}

.ASEHeader__Search input[type="checkbox"]:checked ~ .btn {
  background-color: #2a93d5;
  color: #fff;
}

.NavHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.NavHeader__Toggle {
  padding: 0.5rem;
  cursor: pointer;
}

.NavTitle {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.ASENavs__Lv1Toggle, .ASENavs__Lv2Toggle, .ASENavs__Lv3Toggle {
  display: none;
}

.ASENavs__Lv1Item {
  border-top: 5px solid #fff;
  border-bottom: 5px solid #fff;
  margin: 0.5rem 1rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  overflow: hidden;
  font-size: 1rem;
  padding: 0.5rem 0;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ASENavs__Lv1Item .NavHeader > * {
  line-height: 30px;
}

.ASENavs__Lv1Item:hover > .ASENavs__Lv1Sub {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  z-index: 1;
}

.ASENavs__Lv1Item:hover > .ASENavs__Lv1Sub > * {
  opacity: 1;
}

.ASENavs__Lv1Sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 30;
  -webkit-transform-origin: top center;
          transform-origin: top center;
  background-color: #fafafa;
  z-index: 0;
  border-bottom: 1px solid #ccc;
  white-space: normal;
  padding-left: 160px;
}

.ASENavs__Lv1Sub > * {
  opacity: 0;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.ASENavs__Lv2Item {
  margin: 0.5rem 2rem;
  width: calc(20% - 4rem);
  font-size: 0.95rem;
}

.ASENavs__Lv2Item > .NavHeader {
  font-weight: bold;
}

.ASENavs__Lv3Item {
  font-weight: normal;
  font-size: 0.9rem;
}

.ASENavs__Lv3Item .NavHeader a {
  color: #666;
}

.ASEHeader__MobileNavs {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #fafafa;
  max-height: 80vh;
  overflow: auto;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform-origin: top center;
          transform-origin: top center;
  margin: 0px;
}

.ASEHeader__MobileNavs .NavHeader {
  padding: 0.5rem 1rem;
  width: 100%;
}

.ASEHeader__MobileNavs input[type="checkbox"]:checked ~ .NavHeader .NavHeader__Toggle {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.ASEHeader__MobileNavs input[type="checkbox"]:checked ~ .ASEMobileNavs__Lv1Sub,
.ASEHeader__MobileNavs input[type="checkbox"]:checked ~ .ASEMobileNavs__Lv2Sub {
  display: block;
  max-height: 1000px;
}

.ASEMobileNavs__Lv1Item:not(last-child) {
  border-bottom: 1px solid #ccc;
}

.ASEMobileNavs__Lv1Sub {
  overflow: hidden;
  max-height: 0px;
  background-color: #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.ASEMobileNavs__Lv2Item:not(last-child) {
  border-bottom: 1px solid #bbb;
}

.ASEMobileNavs__Lv2Sub {
  max-height: 0px;
  overflow: hidden;
  background-color: #666;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #fff;
}

.ASEMobileNavs__Lv2Sub * {
  color: #fff !important;
}

.ASEMobileNavs__Lv3Item {
  padding: 12px 0px;
  border-bottom: 1px solid #fff;
}

.ASESearchPanel {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  background-color: #ccc;
  padding: 24px;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.ASESearchPanel form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ASESearchPanel input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 42px;
}

#searchPanel:checked ~ .ASESearchPanel {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

#MobileNavsToggle:checked ~ .ASEHeader__MobileNavs {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

#MobileNavsToggle:checked ~ .ASEHeader__Search {
  display: none;
}

.ASEHeader__MobileToggle {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .ASEHeader__Navs * {
    display: none;
  }
  .ASEHeader__Logo {
    width: 100px;
  }
  .ASEHeader__Logo img {
    width: 100px;
  }
  .ASEHeader__MobileToggle {
    display: block;
  }
}

#breadcrumbs.sticky {
  position: fixed;
  top: 60px;
  left: 0px;
  z-index: 1;
  background-color: #eee;
  width: 100%;
  height: 60px;
  margin: 0px;
  padding: 0px 12px;
  line-height: 60px;
}

.jssorb033 {
  position: absolute;
}

.jssorb033 .i {
  position: absolute;
  cursor: pointer;
}

.jssorb033 .i .b {
  fill: #000;
  fill-opacity: 0.5;
  stroke: #fff;
  stroke-width: 1200;
  stroke-miterlimit: 10;
  stroke-opacity: 0.3;
}

.jssorb033 .i:hover .b {
  fill: #fff;
  fill-opacity: 0.7;
  stroke: #000;
  stroke-opacity: 0.5;
}

.jssorb033 .iav .b {
  fill: #fff;
  stroke: #000;
  fill-opacity: 1;
}

.jssorb033 .i.idn {
  opacity: 0.3;
}

.videoButton:hover::after {
  background-image: url("https://2311cdn.r.worldssl.net/pic/video-arrow-back.png") !important;
}

.videoButton::after {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  content: '';
  background-image: url("https://2311cdn.r.worldssl.net/pic/video-arrow-white.png");
  background-size: contain;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-left: 24px;
}

.breadcrumbs li a:not([href]) {
  color: #333;
  text-decoration: none;
}
/*# sourceMappingURL=ase-box.css.map */