﻿.ASEHeader {
  height: 62.5px;
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 30;
  top: 0;
  background-color: #fff;
  transition: 0.5s;
}

  .ASEHeader.scrollHide {
    transform: translateY(-100%);
  }

  .ASEHeader * {
    /*font-family: Microsoft JhengHei !important;*/
  }

  .ASEHeader > * {
    margin: 0 0.5rem;
  }

  .ASEHeader a {
    color: #333;
    text-decoration: none;
  }

  .ASEHeader .NavTitle.active, .ASEHeader .NavTitle:hover {
    color: #2a93d5;
    font-weight: bold;
  }

  .ASEHeader label {
    font-weight: normal;
    margin-bottom: 0px;
    margin: 5px 0px;
  }

  .ASEHeader input[type='checkbox'] {
    display: none;
  }

.ASEHeader__Logo {
  width: 150px;
}

  .ASEHeader__Logo img {
    width: 150px;
  }

.ASEHeader__Navs {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  flex-grow: 1;
}


.ASEHeader__Search {
}

  .ASEHeader__Search > .btn {
    border-radius: 50% !important;
  }

.ASEHeader__Lang {
  border-radius: 20px;
  display: flex;
  background-color: #eee;
  overflow: hidden;
  border: 1px solid #ddd;
}

  .ASEHeader__Lang > a {
    cursor: pointer;
    padding: 0.5rem;
    width: 60px;
    text-align: center;
  }

    .ASEHeader__Lang > a.active, .ASEHeader__Lang > a:hover {
      background-color: #2a93d5;
      color: #fff;
    }

.ASEHeader__Navs .NavHeader__Toggle {
  display: none;
}

.NavHeader {
  display: flex;
  align-items: center;
}

.NavTitle {
  flex-grow: 1;
}

.NavHeader__Toggle {
  padding: 0.5rem;
  cursor: pointer;
}

.ASENavs__Lv1Toggle, .ASENavs__Lv2Toggle, .ASENavs__Lv3Toggle {
  display: none
}

.ASENavs__Lv1Item {
  border-top: 5px solid #fff;
  border-bottom: 5px solid #fff;
  margin: 0.5rem 1rem;
  box-sizing: content-box;
  overflow: hidden;
  font-size: 1rem;
  padding: 0.5rem 0;
  white-space: nowrap;
  text-overflow: ellipsis;
}

  .ASENavs__Lv1Item:hover, .ASENavs__Lv1Item--active {
  }

    .ASENavs__Lv1Item:hover > .ASENavs__Lv1Sub {
      transform: scaleY(1);
      z-index: 1;
    }

      .ASENavs__Lv1Item:hover > .ASENavs__Lv1Sub > * {
        opacity: 1;
      }

  .ASENavs__Lv1Item .NavHeader > * {
    line-height: 30px;
  }


.ASENavs__Lv1Sub {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  transform: scaleY(0);
  transition: 0.5s;
  z-index: 30;
  transform-origin: top center;
  background-color: #fafafa;
  z-index: 0;
  border-bottom: 1px solid #ccc;
  white-space: normal;
  padding-left: 160px;
}

  .ASENavs__Lv1Sub > * {
    opacity: 0;
    transition: 0.25s;
  }



.ASENavs__Lv2Item {
  margin: 0.5rem 2rem;
  width: calc( 20% - 4rem);
  font-size: 0.95rem;
}

  .ASENavs__Lv2Item > .NavHeader {
    font-weight: bold;
  }

.ASENavs__Lv2Sub {
}

.ASENavs__Lv3Item {
  font-weight: normal;
  font-size: 0.9rem;
}

  .ASENavs__Lv3Item .NavHeader a {
    color: #666;
  }

.ASENavs__Lv3Item {
  font-weight: normal;
  font-size: 0.9rem;
}


.ASEHeader__MobileNavs {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #fff;
  max-height: 80vh;
  overflow: auto;
  transform: scaleY(0);
  transition: .5s;
  transform-origin: top center;
  margin: 0px;
  /*display: none;*/
}

.ASEMobileNavs__Lv1Item:not(last-child) {
  border-bottom: 1px solid #ccc;
}

.ASEHeader__MobileNavs .NavHeader {
  padding: 0.5rem 1rem;
  width: 100%;
}

.ASEMobileNavs__Lv1Sub {
  overflow: hidden;
  max-height: 0px;
  background-color: #ccc;
  transition: 0.5s;
}


.ASEHeader__MobileNavs {
  background-color: #fafafa;
}

  .ASEHeader__MobileNavs input[type='checkbox']:checked ~ .NavHeader .NavHeader__Toggle {
    transform: rotate(180deg);
  }

input[type='checkbox']:checked ~ .ASEMobileNavs__Lv1Sub, input[type='checkbox']:checked ~ .ASEMobileNavs__Lv2Sub {
  display: block;
  max-height: 1000px;
}

.ASEMobileNavs__Lv2Item:not(last-child) {
  border-bottom: 1px solid #bbb;
}


.ASEMobileNavs__Lv2Sub {
  max-height: 0px;
  overflow: hidden;
  background-color: #666;
  transition: 0.5s;
  color: #fff;
}

  .ASEMobileNavs__Lv2Sub * {
    color: #fff !important;
  }

.ASEMobileNavs__Lv3Item {
  padding: 12px 0px;
  border-bottom: 1px solid #fff;
}

.ASEMobileNavs__Lv3Sub {
}



.ASEHeader__Search input[type='checkbox']:checked ~ .btn {
  background-color: #2a93d5;
  color: #fff;
}


.ASESearchPanel {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  background-color: #ccc;
  padding: 24px;
  transform: scaleY(0);
  transform-origin: top center;
  transition: .5s;
}

  .ASESearchPanel form {
    display: flex;
  }

  .ASESearchPanel input {
    flex-grow: 1;
    height: 42px;
  }

.ASEHeader .icon-search {
  font-size: 16px !important;
}

#searchPanel:checked ~ .ASEHeader__Search .ASESearchPanel {
  transform: scaleY(1);
}


#MobileNavsToggle:checked ~ .ASEHeader__MobileNavs {
  transform: scaleY(1);
}

#MobileNavsToggle:checked ~ .ASEHeader__Search {
  display: none;
}

.ASEHeader__MobileToggle {
  display: none;
}

@media only screen and (max-width: 1024px) {

  .ASEHeader__Navs * {
    display: none;
  }

  .ASEHeader__Logo {
    width: 100px;
  }

    .ASEHeader__Logo img {
      width: 100px;
    }

  .ASEHeader__MobileToggle {
    display: block;
  }
}

#breadcrumbs.sticky {
  position: fixed;
  top: 60px;
  left: 0px;
  z-index: 1;
  background-color: #eee;
  width: 100%;
  height: 60px;
  margin: 0px;
  padding: 0px 12px;
  line-height: 60px;
}
