﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
    ViewBag.Title = "Sensor & Optical SiP Module ";
    ViewBag.enURL = "/en/products/assembly_offerings/sip_module_solutions/sensor_optical_sip_module";
    ViewBag.zhURL = "/ch/products/assembly_offerings/sip_module_solutions/sensor_optical_sip_module";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-product-csp">
		<h1 class="page-title title-large">Sensor & Optical SiP Module</h1>
	</section>

	<!--麵包屑-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/technology/technology_innovation"><span itemprop="name">Technology</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/technology/sip_module"><span itemprop="name">System-in-Package </span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/products/assembly_offerings/sip_module_solutions/sensor_optical_sip_module"><span itemprop="name">Sensor Optical SiP</span></a>
					<meta itemprop="position" content="3" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->
	
	<!-- Products Content -->
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">Sensor & Optical SiP Module</h3>
			</article>
		</div>
	</section>
	
	<section class="inside-article">
		<div class="content-lg row csr">
			<article class="col-xs-12">
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
					<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
								<span id="fcbga" class="black-text-in-box accordion-center-text">Sensor SiP Module</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>
						<div id="collapseOne" class="panel-collapse collapse in no-border" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body tech">
								<div class="col-md-12">
									<div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 nopadding"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/products/Sensor-Sip.png"></div>
									<div class="clearfix"></div>
								</div>
								<div class="col-xs-6 col-sm-6 col-md-6">
									<div class="products-application technology-tab-active margin-bottom-0">Application</div>
								</div>
								<div class="col-xs-6 col-sm-6 col-md-6">
									<div class="products-features technology-tab-inactive margin-bottom-0">Features</div>
								</div>
								<div class="clearfix"></div>
								<div class="col-xs-12 col-md-12 products-application-content">
									
									<ul class="nopadding">
										<li>Physiological Signal Sensing</li>
									</ul>
								</div>
								<div class="col-xs-12 col-md-12 products-features-content">
									<ul class="nopadding">
										<li>Structure: Optical molding + EDS</li>
										<li>LED x 3pcs + photo-die x 1pcs W/B</li>
										<li>EDF: 2L embedded-die substrate</li>
										<li>Dimension: LGA 5.5x4.2mm&sup2;</li>
										<li>Protection: Molding with clean CPD</li>
									</ul>
								</div>

							</div>
						</div>
	  				</div>

	  				<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
								<span class="black-text-in-box accordion-center-text">Optical SiP Module</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>

						<div id="collapseTwo" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingTwo">
							<div class="panel-body">
								<div class="col-md-12">
									<div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 nopadding"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/products/Optical-Sensing-SiP.png"></div>
									<div class="clearfix"></div>
								</div>

								<div class="col-xs-6 col-sm-6 col-md-6">
									<div class="products1-application technology-tab-active margin-bottom-0">Application</div>
								</div>
								<div class="col-xs-6 col-sm-6 col-md-6">
									<div class="products1-features technology-tab-inactive margin-bottom-0">Features</div>
								</div>
								<div class="clearfix"></div>
								<div class="col-xs-12 col-md-12 products1-application-content">
									<ul class="nopadding">
										<li>Heart Rate Monitoring & Heart Rate Variability, SpO2, Skin Temperature, Blood Pressure</li>
										<li>Handset, Wearables & Fitness</li>
									</ul>
								</div>
								<div class="col-xs-12 col-md-12 products1-features-content">
									<ul class="nopadding">
										<li>Integrated ARM-Cortex M4 MCU</li>
										<li>Integrated 24bits AFE (Analog front-end) for optical sensing</li>
										<li>Optical photo sensor with Red & IR & Green LED</li>
										<li>Embedded motion cancellation algorithm &skin variation</li>
										<li>Embedded die substrate: SESUB</li>
										<li>Micro LENs molding, double molding</li>
										<li>Lid open-cavity capping</li>
									</ul>
								</div>

							</div>
						</div>
	  				</div>

	  				<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
								<span class="black-text-in-box accordion-center-text">Environment Sensor SiP Module</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>

						<div id="collapseThree" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingThree">
							<div class="panel-body">
								<div class="col-md-12">
									<div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 nopadding"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/products/environment_sensor.png"></div>
									<div class="clearfix"></div>
								</div>

								<div class="col-xs-6 col-sm-6 col-md-6">
									<div class="products2-application technology-tab-active margin-bottom-0">Application</div>
								</div>
								<div class="col-xs-6 col-sm-6 col-md-6">
									<div class="products2-features technology-tab-inactive margin-bottom-0">Features</div>
								</div>
								<div class="clearfix"></div>
								<div class="col-xs-12 col-md-12 products2-application-content">
									<ul class="nopadding">
										<li>Handset, Wearables, IoT</li>
										<li>Smart Home & Building</li>
										<li>Automotive, Industry</li>
									</ul>
								</div>
								<div class="col-xs-12 col-md-12 products2-features-content">
									<ul class="nopadding">
										<li>All-in-one SiP: Bluetooth v4.2 (BLE), ARM Cortex – M0 MCU</li>
										<li>Temperature/Humidity/Pressure sensing</li>
										<li>Package: open cavity WL SiP, TSV</li>
									</ul>
								</div>

							</div>
						</div>
	  				</div>

	  				<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
								<span class="black-text-in-box accordion-center-text">Ambient Light/UV Sensor SiP Module</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>

						<div id="collapseFour" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingFour">
							<div class="panel-body">
								<div class="col-md-12">
									<div class="col-xs-4 col-sm-3 col-md-2 col-lg-2 nopadding"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/products/uv_sensor.png"></div>
									<div class="clearfix"></div>
								</div>

								<div class="col-xs-6 col-sm-6 col-md-6">
									<div class="products3-application technology-tab-active margin-bottom-0">Application</div>
								</div>
								<div class="col-xs-6 col-sm-6 col-md-6">
									<div class="products3-features technology-tab-inactive margin-bottom-0">Features</div>
								</div>
								<div class="clearfix"></div>
								<div class="col-xs-12 col-md-12 products3-application-content">
									<ul class="nopadding">
										<li>Environment</li>
										<li>Smart Home & Building</li>
									</ul>
								</div>
								<div class="col-xs-12 col-md-12 products3-features-content">
									<ul class="nopadding">
										<li>All-in-one SiP: Bluetooth v4.2 (BLE), ARM Cortex – M0 MCU</li>
										<li>High resolution ADC for lighting channel (green/white/UV/IR)</li>
										<li>Excellent UV sensibility</li>
										<li>UV/ALS software for UV level & lighting control</li>
										<li>Package: FOCSP, Micro LENs molding</li>
									</ul>
								</div>

							</div>
						</div>
	  				</div>

	  				<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFives" aria-expanded="false" aria-controls="collapseFives">
								<span class="black-text-in-box accordion-center-text">Motion Sensor SiP Module</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>

						<div id="collapseFives" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingFives">
							<div class="panel-body">
								<div class="col-md-12">
									<div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 nopadding"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/products/motion_sensor.png"></div>
									<div class="clearfix"></div>
								</div>

								<div class="col-xs-6 col-sm-6 col-md-6">
									<div class="products4-application technology-tab-active margin-bottom-0">Application</div>
								</div>
								<div class="col-xs-6 col-sm-6 col-md-6">
									<div class="products4-features technology-tab-inactive margin-bottom-0">Features</div>
								</div>
								<div class="clearfix"></div>
								<div class="col-xs-12 col-md-12 products4-application-content">
									<div class="col-xs-12">
										<ul class="nopadding">
											<li>Wearables, Fitness</li>
											<li>Smart Home & Building</li>
											<li>Industry</li>
										</ul>
									</div>
								</div>
								<div class="col-xs-12 col-md-12 products4-features-content">
									<ul class="nopadding">
										<li>All-in-one SiP: Bluetooth v4.2 (BLE), ARM Cortex – M0 MCU</li>
										<li>3-axis acceleration sensor (range: 16G)</li>
										<li>Embedded motion software for security detection</li>
									</ul>
								</div>

							</div>
						</div>
	  				</div>

	  				<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
								<span class="black-text-in-box accordion-center-text">Gas Sensor SiP Module</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>

						<div id="collapseSix" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingSix">
							<div class="panel-body">
								<div class="col-md-12">
									<div class="col-xs-4 col-sm-3 col-md-2 col-lg-2 nopadding"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/products/gas_sensor.png"></div>
									<div class="clearfix"></div>
								</div>

								<div class="col-xs-6 col-sm-6 col-md-6">
									<div class="products5-application technology-tab-active margin-bottom-0">Application</div>
								</div>
								<div class="col-xs-6 col-sm-6 col-md-6">
									<div class="products5-features technology-tab-inactive margin-bottom-0">Features</div>
								</div>
								<div class="clearfix"></div>
								<div class="col-xs-12 col-md-12 products5-application-content">
									<ul class="nopadding">
										<li>IAQ Monitoring for Smartphones, Accessories and Connected Home Devices</li>
										<li>Alcohol Breathalyzer in Consumer Devices</li>
										<li>Smart City</li>
									</ul>
								</div>
								<div class="col-xs-12 col-md-12 products5-features-content">
									<ul class="nopadding">
										<li>Air quality sensor<br>
                      						CO<sub>2</sub> (eCO<sub>2</sub>): from 400ppm TO 5000oom<br>
                      						TVOC (the total volatile organic compound): from 0ppb to 1000ppb<br>
                      						Dimension: 4x2.7x1.1mm</li>
										<li>Temperature/Humidity/Pressure sensing</li>
										<li>Package: Open cavity WL SiP, TSV</li>
									</ul>
								</div>

							</div>
						</div>
	  				</div>

	  				<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
								<span class="black-text-in-box accordion-center-text">Gesture Sensor SiP Module</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>

						<div id="collapseSeven" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingSeven">
							<div class="panel-body">
								<div class="col-md-12">
									<div class="col-xs-4 col-sm-3 col-md-2 col-lg-2 nopadding"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/products/gesture.png"></div>
									<div class="clearfix"></div>
								</div>

								<div class="col-xs-6 col-sm-6 col-md-6">
									<div class="products6-application technology-tab-active margin-bottom-0">Application</div>
								</div>
								<div class="col-xs-6 col-sm-6 col-md-6">
									<div class="products6-features technology-tab-inactive margin-bottom-0">Features</div>
								</div>
								<div class="clearfix"></div>
								<div class="col-xs-12 col-md-12 products6-application-content">
									<ul class="nopadding">
										<li>Handset, Wearables, IoT</li>
										<li>Smart Home & Building, Hospital</li>
										<li>Automotive</li>
									</ul>
								</div>
								<div class="col-xs-12 col-md-12 products6-features-content">
									<ul class="nopadding">
										<li>All-in-one SiP: Bluetooth v4.2 (BLE), ARM Cortex – M0 MCU</li>
										<li>R transmitter/receiver</li>
										<li>Embedded gesture software for application control</li>
										<li>Package: MEMS, TSV, Optical, IR sensing, cavity, selective molding</li>
									</ul>
								</div>

							</div>
						</div>
	  				</div>

	  				<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
								<span class="black-text-in-box accordion-center-text">Magnetic/IR Sensor SiP Module</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>

						<div id="collapseEight" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingEight">
							<div class="panel-body">
								<div class="col-md-12">
									<div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 nopadding"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/products/magnetic_ir_sensor.png"></div>
									<div class="clearfix"></div>
								</div>

								<div class="col-xs-6 col-sm-6 col-md-6">
									<div class="products7-application technology-tab-active margin-bottom-0">Application</div>
								</div>
								<div class="col-xs-6 col-sm-6 col-md-6">
									<div class="products7-features technology-tab-inactive margin-bottom-0">Features</div>
								</div>
								<div class="clearfix"></div>
								<div class="col-xs-12 col-md-12 products7-application-content">
									<b>Magnetic sensor</b>
									<ul class="nopadding">
										<li>Magnetic Temper Detection</li>
									</ul>
									<b>IR sensor</b>
									<ul class="nopadding">
                      					<li>Stationary Human Detection</li>
										<li>Sunlight & Motion Detection</li>
									</ul>
								</div>
								<div class="col-xs-12 col-md-12 products7-features-content">
									<b>Magnetic sensor</b>
									<ul class="nopadding">
										<li>16 bit data out for each magnetic component</li>
                      					<li>Dimension: 3.0x3.0x0.75mm</li>
                      					<li>Package: MEMS, TSV</li>
									</ul>
									<b>IR sensor</b>
									<ul class="nopadding">
                      					<li>Quantum-type with four IR elements</li>
                      					<li>Dimension: 4.6x3.8x1.9mm</li>
									</ul>
								</div>

							</div>
						</div>
	  				</div>

	  			</div>
			</article>
		</div>
	</section>
	<section class="inside-article">
		<div class="content-lg row">
			<div class="content-wrapper col-md-12 tech-cont-link">
				<a class="phone"  href="@Url.Action("plants_offices_ase", "About", new { lang = ViewBag.language.lang })"><span class="glyphicon glyphicon-earphone"></span>  Contact for enquries</a><br><br>
			</div>
			<div class="clearfix"></div>
		</div>
	</section>
	<section class="csr-bg">
		<div class="content-lg row">
			<div class="products-menu1-content col-xs-12 csr">

				<div class="col-md-6 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "sip_module_solutions", param2 = "wireless_sip_module" })">
							<span class="blue-text-in-box">Wireless SiP Module</span>
							<div class="circle_button-wrapper pull-right">
								<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>
			
				<div class="col-md-6 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "sip_module_solutions", param2 = "computing_storage_sip_module" })">
							<span class="blue-text-in-box">Computing Storage SiP Module</span>
							<div class="circle_button-wrapper">
								<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>
			
				<div class="col-md-6 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "sip_module_solutions", param2 = "power_sip_module" })">
							<span class="blue-text-in-box">Power SiP Module</span>
							<div class="circle_button-wrapper">
								<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>
			
				<div class="col-md-6 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "sip_module_solutions", param2 = "sensor_optical_sip_module" })">
							<span class="blue-text-in-box">Sensor & Optical SiP Module</span>
							<div class="circle_button-wrapper">
								<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>
				<div class="clearfix"></div>

			</div>
		</div>
	</section>
	<br>
	<section class="inside-article">
		<div class="content-lg row">
			<div class="col-xs-12"> 
				<div class="technology-bottom-flex">
					<div class="technology-bottom"><a class="" href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "bumping_solution" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/products_icon-01.png"><br>Wafer  Bumping Solution</a></div>
					<div class="technology-bottom"><a class="" href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "wafer_level_package_solution" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/products_icon-02.png"><br>Wafer Level Package Solution</a></div>
					<div class="technology-bottom"><a class="" href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "flip_chip_solution" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/products_icon-03.png"><br>Flip Chip Solution</a></div>
					<div class="technology-bottom opacity-50"><a class="" href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "sip_module_solutions" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/products_icon-04.png"><br>SiP & Module<br>Solution</a></div>
					
					<div class="technology-bottom"><a class="" href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "wire_bond_bga_solution" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/products_icon-05.png"><br>Wire Bond BGA Solution</a></div>
					<div class="technology-bottom"><a class="" href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "leadframe_solution" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/products_icon-06.png"><br>Leadframe Solution</a></div>
				</div>
			</div>
			<!-- products carousel -->
			<div class="row">
				<div class="col-xs-12">
					<div class="container technology-carousel">
						<div class='row'>
							<div class='col-xs-12'>
								<div class="carousel slide media-carousel" id="media">
									<!-- Indicators -->
									<ol class="carousel-indicators">
										<li data-target="#media" data-slide-to="0" class="active"></li>
										<li data-target="#media" data-slide-to="1"></li>
									</ol>
									<div class="carousel-inner">
										<div class="item  active">
											<div class="row">
												<div class="col-xs-4">
													<a class="" href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "bumping_solution" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/products_icon-01.png"><br>Bumping<br>Solution</a>
												</div>          
												<div class="col-xs-4">
													<a class="" href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "wafer_level_package_solution" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/products_icon-02.png"><br>Wafer Level Package Solution</a>
												</div>
												<div class="col-xs-4">
													<a class="" href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "flip_chip_solution" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/products_icon-03.png"><br>Flip Chip<br>Solution</a>
												</div>        
											</div>
										</div>
										<div class="item">
											<div class="row">
												<div class="col-xs-4">
													<a class="" href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "sip_module_solutions" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/products_icon-04.png"><br>SiP & Module<br>Solution</a>
												</div>
												<div class="col-xs-4">
													<a class="" href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "wire_bond_bga_solution" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/products_icon-05.png"><br>Wire Bond BGA Solution</a>
												</div>        
												<div class="col-xs-4">
													<a class="" href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "leadframe_solution" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/products_icon-06.png"><br>Leadframe Solution</a>
												</div>  
											</div>
										</div>
									</div>
									<br>
									<a data-slide="prev" href="#media" class="left carousel-control">‹</a>
									<a data-slide="next" href="#media" class="right carousel-control">›</a>
								</div>                          
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end products carousel -->
		</div>
	</section>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

	<script>
		$(document).ready(function() {

			$(".products-features-content").hide();
			$(".products1-features-content").hide();
			$(".products2-features-content").hide();
			$(".products3-features-content").hide();
			$(".products4-features-content").hide();
			$(".products5-features-content").hide();
			$(".products6-features-content").hide();
			$(".products7-features-content").hide();

			$('.products-application').click(function() {
				$(this).closest(".row").find(".products-features").removeClass("technology-tab-active").addClass("technology-tab-inactive");
				$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
				$(this).closest(".row").find(".products-features-content").hide();
				$(this).closest(".row").find(".products-application-content").fadeIn(1000);
			});
			$('.products-features').click(function() {
				$(this).closest(".row").find(".products-application").removeClass("technology-tab-active").addClass("technology-tab-inactive");
				$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
				$(this).closest(".row").find(".products-application-content").hide();
				$(this).closest(".row").find(".products-features-content").fadeIn(1000);
			});

			$('.products1-application').click(function() {
				$(this).closest(".row").find(".products1-features").removeClass("technology-tab-active").addClass("technology-tab-inactive");
				$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
				$(this).closest(".row").find(".products1-features-content").hide();
				$(this).closest(".row").find(".products1-application-content").fadeIn(1000);
			});
			$('.products1-features').click(function() {
				$(this).closest(".row").find(".products1-application").removeClass("technology-tab-active").addClass("technology-tab-inactive");
				$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
				$(this).closest(".row").find(".products1-application-content").hide();
				$(this).closest(".row").find(".products1-features-content").fadeIn(1000);
			});

			$('.products2-application').click(function() {
				$(this).closest(".row").find(".products2-features").removeClass("technology-tab-active").addClass("technology-tab-inactive");
				$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
				$(this).closest(".row").find(".products2-features-content").hide();
				$(this).closest(".row").find(".products2-application-content").fadeIn(1000);
			});
			$('.products2-features').click(function() {
				$(this).closest(".row").find(".products2-application").removeClass("technology-tab-active").addClass("technology-tab-inactive");
				$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
				$(this).closest(".row").find(".products2-application-content").hide();
				$(this).closest(".row").find(".products2-features-content").fadeIn(1000);
			});

			$('.products3-application').click(function() {
				$(this).closest(".row").find(".products3-features").removeClass("technology-tab-active").addClass("technology-tab-inactive");
				$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
				$(this).closest(".row").find(".products3-features-content").hide();
				$(this).closest(".row").find(".products3-application-content").fadeIn(1000);
			});
			$('.products3-features').click(function() {
				$(this).closest(".row").find(".products3-application").removeClass("technology-tab-active").addClass("technology-tab-inactive");
				$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
				$(this).closest(".row").find(".products3-application-content").hide();
				$(this).closest(".row").find(".products3-features-content").fadeIn(1000);
			});

			$('.products4-application').click(function() {
				$(this).closest(".row").find(".products4-features").removeClass("technology-tab-active").addClass("technology-tab-inactive");
				$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
				$(this).closest(".row").find(".products4-features-content").hide();
				$(this).closest(".row").find(".products4-application-content").fadeIn(1000);
			});
			$('.products4-features').click(function() {
				$(this).closest(".row").find(".products4-application").removeClass("technology-tab-active").addClass("technology-tab-inactive");
				$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
				$(this).closest(".row").find(".products4-application-content").hide();
				$(this).closest(".row").find(".products4-features-content").fadeIn(1000);
			});

			$('.products5-application').click(function() {
				$(this).closest(".row").find(".products5-features").removeClass("technology-tab-active").addClass("technology-tab-inactive");
				$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
				$(this).closest(".row").find(".products5-features-content").hide();
				$(this).closest(".row").find(".products5-application-content").fadeIn(1000);
			});
			$('.products5-features').click(function() {
				$(this).closest(".row").find(".products5-application").removeClass("technology-tab-active").addClass("technology-tab-inactive");
				$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
				$(this).closest(".row").find(".products5-application-content").hide();
				$(this).closest(".row").find(".products5-features-content").fadeIn(1000);
			});

			$('.products6-application').click(function() {
				$(this).closest(".row").find(".products6-features").removeClass("technology-tab-active").addClass("technology-tab-inactive");
				$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
				$(this).closest(".row").find(".products6-features-content").hide();
				$(this).closest(".row").find(".products6-application-content").fadeIn(1000);
			});
			$('.products6-features').click(function() {
				$(this).closest(".row").find(".products6-application").removeClass("technology-tab-active").addClass("technology-tab-inactive");
				$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
				$(this).closest(".row").find(".products6-application-content").hide();
				$(this).closest(".row").find(".products6-features-content").fadeIn(1000);
			});

			$('.products7-application').click(function() {
				$(this).closest(".row").find(".products7-features").removeClass("technology-tab-active").addClass("technology-tab-inactive");
				$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
				$(this).closest(".row").find(".products7-features-content").hide();
				$(this).closest(".row").find(".products7-application-content").fadeIn(1000);
			});
			$('.products7-features').click(function() {
				$(this).closest(".row").find(".products7-application").removeClass("technology-tab-active").addClass("technology-tab-inactive");
				$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
				$(this).closest(".row").find(".products7-application-content").hide();
				$(this).closest(".row").find(".products7-features-content").fadeIn(1000);
			});
		});
	</script>