﻿@using web.Models;
@using System.Globalization;
@model press_room
@{
    Layout = "~/Views/Shared/tw/_Layout.cshtml";

    press_room prev = ViewBag.prev;
    press_room next = ViewBag.next;
    sign sign_data = ViewBag.sign_data;
}

<!-- page Banner -->
<section id="page-vision" class="page-banner-s banner-press_room">
    
    <h1 class="page-title title-large ">新聞</h1>
</section>

<!--breadcrumbs-->
<div class="content-lg row">
    <div class="col-xs-12">
        <ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="@Url.Action("Index", "Home", new { lang = ViewBag.language.lang })"><i class="icon-home"></i><span itemprop="name">首頁</span></a>
                <meta itemprop="position" content="1" />
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Press_Room" })"><span itemprop="name">新聞</span></a>
                <meta itemprop="position" content="2" />
            </li>

        </ol>
    </div>
</div>
<div class="breadcrumbs-pc pull-left" id="breadcrumbs-pc">
    <!-- PC版選單麵包屑內容 -->
    <ul class="breadcrumbs-view" id="breadcrumbs-view">
        <li class="dropdown-item">
            <span class="glyphicon glyphicon-menu-right"></span>
            <ul class="dropdown-list">
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })">技術</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" })">產品</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Solution" })">解決方案</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Lab" })">投資人關係</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })">企業社會責任</a></li>
                <li><a class="active" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "About" })">了解日月光</a></li>
            </ul>
        </li>
        <li class="dropdown-item">
            <a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "About" })">了解日月光</a>
            <span class="glyphicon glyphicon-menu-right"></span>
            <ul class="dropdown-list">
                <li><a href="@Url.Action("milestones", "About", new { lang = ViewBag.language.lang })">大事紀</a></li>
				<li><a href="@Url.Action("Awards", "About", new { lang = ViewBag.language.lang })">得獎殊榮</a></li>
                <li><a href="@Url.Action("ASE_Turnkey_Services", "About", new { lang = ViewBag.language.lang })">一元化服務</a></li>
                <li><a href="@Url.Action("Manufacturing_Facilities", "About", new { lang = ViewBag.language.lang })">全球工廠據點</a></li>
                <li><a href="@Url.Action("plants_offices", "About", new { lang = ViewBag.language.lang })">營運據點</a></li>
				<li>
                            <a href="@Url.Action("Index", new { controller = "Events", lang = ViewBag.lang })">活動</a>
				</li>
				<li>
                            <a href="@Url.Action("List", new { controller = "PressRoom", lang = ViewBag.lang })">新聞</a>
				</li>
                <li><a href="@Url.Action("Careers", "About", new { lang = ViewBag.language.lang })">人才招募</a></li>
                <li><a href="@Url.Action("Contact", "About", new { lang = ViewBag.language.lang })">聯絡日月光</a></li>
            </ul>
        </li>
    </ul>
</div>
<!-- Press room Content -->
<section class="page-list-content">
    <div class="content-lg row">
        <div class="col-xs-12 list-base article-wrapper">
            <article class="article-detail">
                @{
                    string culture = ViewBag.language.lang == "tw" ? "zh-tw" : "en-US";
                    DateTime date = new DateTime(Model.publish_date.Value.Year, Model.publish_date.Value.Month, Model.publish_date.Value.Day);
                }
                <div class="date">@date.ToString("MMM dd, yyyy", CultureInfo.CreateSpecificCulture(culture))</div>
                <div class="text-box">
                    <h2 class="title">@Model.title</h2>
                    @Html.Raw(Model.contents)
                    @if(Model.sign == 1)
                    {
                        @Html.Raw(sign_data.contents)
                    }
                </div>
            </article>
        </div>

        <!-- Prev+Next -->
        <div class="col-xs-12 article-arrow">
            @if (prev != null && prev.id > 0)
            {
                <a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Press_Room", action = "Content", param1 = prev.id })" class="prev">
                    <div class="circle_button-wrapper">
                        <div class="circle_button darkgray"><i class="icon-arrow-left"></i></div>
                    </div>
                    <div class="text-wrapper">
                        <span class="tip">PREV NEWS</span>
                        <p class="text-box">@prev.title</p>
                    </div>
                </a>
            }
            @if (next != null && next.id > 0)
            {
                <a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Press_Room", action = "Content", param1 = next.id })" class="next">
                    <div class="text-wrapper">
                        <span class="tip">NEXT NEWS</span>
                        <p class="text-box">@next.title</p>
                    </div>
                    <div class="circle_button-wrapper">
                        <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                    </div>
                </a>
            }
        </div>
    </div>
</section>

<!-- Press Info -->
<section class="pressroom-info text-center">
    <h2 class="title" style="font-weight:600;">媒體聯絡</h2>
    <ul class="pressroom-info-list">
        <li class="item">
            <span class="country">美國/歐洲</span>
            <h4 class="name">Patricia MacLeod</h4>
            <p class="tel"><i class="icon-tel"></i>+1-408-6369500</p>
            <p class="mail"><i class="icon-mail"></i><a href="mailto:patricia.macleod@aseus.com">patricia.macleod@aseus.com</a></p>
        </li>
        <li class="item">
            <span class="country">亞洲</span>
            <h4 class="name">Jennifer Yuen</h4>
            <p class="tel"><i class="icon-tel"></i>+65-6631-4229</p>
            <p class="mail"><i class="icon-mail"></i><a href="mailto:jennifer.yuen@aseus.com">jennifer.yuen@aseus.com</a></p>
        </li>
    </ul>
</section>
<style>
.pressroom-info-list .country{width: 90px;text-align: center;}
</style>
