﻿@using web.Models;
@using System.Globalization;
@model List<press_room>
@{
    Layout = "~/Views/Shared/tw/_Layout.cshtml";
    List<int> year_list = ViewBag.year_list;
}

<!-- page Banner -->
<section id="page-vision" class="page-banner-s banner-press_room">
    
    <h1 class="page-title title-large ">新聞</h1>
</section>

<!--breadcrumbs-->
<div class="content-lg row">
    <div class="col-xs-12">
        <ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="@Url.Action("Index", "Home", new { lang = ViewBag.language.lang })"><i class="icon-home"></i><span itemprop="name">首頁</span></a>
                <meta itemprop="position" content="1" />
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Press_Room" })"><span itemprop="name">新聞</span></a>
                <meta itemprop="position" content="2" />
            </li>
        </ol>
    </div>
</div>
<div class="breadcrumbs-pc pull-left" id="breadcrumbs-pc">
    <!-- PC版選單麵包屑內容 -->
    <ul class="breadcrumbs-view" id="breadcrumbs-view">
        <li class="dropdown-item">
            <span class="glyphicon glyphicon-menu-right"></span>
            <ul class="dropdown-list">
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })">技術</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" })">產品</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Solution" })">解決方案</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Lab" })">投資人關係</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })">企業社會責任</a></li>
                <li><a class="active" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "About" })">了解日月光</a></li>
            </ul>
        </li>
        <li class="dropdown-item">
            <a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "About" })">了解日月光</a>
            <span class="glyphicon glyphicon-menu-right"></span>
            <ul class="dropdown-list">
                <li><a href="@Url.Action("milestones", "About", new { lang = ViewBag.language.lang })">大事紀</a></li>
				<li><a href="@Url.Action("Awards", "About", new { lang = ViewBag.language.lang })">得獎殊榮</a></li>
                <li><a href="@Url.Action("ASE_Turnkey_Services", "About", new { lang = ViewBag.language.lang })">一元化服務</a></li>
                <li><a href="@Url.Action("Manufacturing_Facilities", "About", new { lang = ViewBag.language.lang })">全球工廠據點</a></li>
                <li><a href="@Url.Action("plants_offices", "About", new { lang = ViewBag.language.lang })">營運據點</a></li>
				<li>
                            <a href="@Url.Action("Index", new { controller = "Events", lang = ViewBag.lang })">活動</a>
				</li>
				<li>
                            <a href="@Url.Action("List", new { controller = "PressRoom", lang = ViewBag.lang })">新聞</a>
				</li>
                <li><a href="@Url.Action("Careers", "About", new { lang = ViewBag.language.lang })">人才招募</a></li>
                <li><a href="@Url.Action("Contact", "About", new { lang = ViewBag.language.lang })">聯絡日月光</a></li>
            </ul>
        </li>
    </ul>
</div>
<!-- List Search -->
<section class="list-search">
    <div class="content-lg row">
        <form action="@Url.Action("List", "PressRoom")" method="get">
            @Html.AntiForgeryToken()
            <div class="search-group col-xs-6 col-md-3">
                <select name="year" id="" class="form-control">
                    <option value="0">Select Year</option>
                    @if (year_list.Count > 0)
                    {
                        foreach (int year in year_list)
                        {
                            <option value="@year" @(ViewBag.year == year ? "selected" : "")>@year</option>
                        }
                    }
                </select>
                <span class="glyphicon glyphicon-triangle-bottom"></span>
            </div>
            <div class="search-group col-xs-6 col-md-3">
                <input type="text" class="form-control" id="" placeholder="Search" name="title" value="@ViewBag.title">
                <button class="" type="submit"><i class="icon-search"></i></button>
            </div>
        </form>
    </div>
</section>

<!-- News list -->
<section class="page-list-content">
    <div class="content-lg row">
            @if (Model.Count > 0)
            {
                int prev_year = 0;
                string culture = ViewBag.language.lang == "tw" ? "zh-tw" : "en-US";
                <ul class="col-xs-12 list-base list-link list-timetip-line">
                    @foreach (press_room item in Model)
                    {
                        DateTime date = new DateTime(item.publish_date.Value.Year, item.publish_date.Value.Month, item.publish_date.Value.Day);

                        if (prev_year == 0 || prev_year != item.publish_date.Value.Year)
                        {
                            prev_year = item.publish_date.Value.Year;
                            <li class="time-tip">Posts from @prev_year</li>
                        }
                        <li>
                            <a href="@Url.Action("Content", "PressRoom", new { lang = ViewBag.language.lang, param1 = item.id })">
                                <div class="date">@date.ToString("MMM dd, yyyy", CultureInfo.CreateSpecificCulture(culture))</div>
                                <div class="text-box">
                                    <h4 class="title">@item.title</h4>
                                    <div class="circle_button-wrapper">
                                        <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    }
                </ul>
            }
    </div>
    <!-- Loader -->
    <div id="news-loader" class="loader text-center">
        <span>loading more news...</span>
        <ul> <li id='a'></li> <li id='b'></li> <li id='c'></li> <li id='d'></li> <li id='e'></li> <li id='f'></li> <li id='g'></li> <li id='h'></li> <li id='i'></li> </ul>
    </div>
</section>