﻿<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# business: http://ogp.me/ns/business#">
	<meta charset="UTF-8">
    <link rel="canonical" href="http://ase.begonia.tw/">
    <link rel="alternate" href="http://ase.begonia.tw/index" hreflang="en">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>ASE Group</title>
    <link rel="shortcut icon" type="image/x-icon" href="https://2311cdn.r.worldssl.net/pic/public/frontend/images/favicon.png" />
    <link rel="apple-touch-icon" href="https://2311cdn.r.worldssl.net/pic/public/frontend/images/touch-icon.png" />
    <link rel="stylesheet" href="https://2311cdn.r.worldssl.net/css/public/frontend/css/ase.css?ver=@(DateTime.Now.ToString("yyyyMMddhh"))" />
    @Html.Raw(ViewBag.css)
    <link href="https://2311cdn.r.worldssl.net/css/Content/sweetalert2.min.css" rel="stylesheet" />
    <script src="https://2311cdn.r.worldssl.net/js/public/frontend/js/vendor/jquery/jquery-2.2.2.min.js"></script>
    <style>/* Custom header  */
        #wrapper{margin-top:62.6px;}
        header{padding: 0px 50px;height: 62.6px;}
        header a.logo > img{height:52px;margin:5px;}
        .nav-pc{top: 62.6px;}
        .breadcrumbs-dropdown-view{top:62.6px;}
        html.nav-open .nav-mobile{top:62.6px;}
        .nav-mobile{height:calc(100% - 62.6px);}
        @@media only screen and (max-width: 768px) {
            header .hamburger{margin-top:0px;}
        }
        @@media only screen and (max-width: 450px) {
            header{padding: 0px 20px;}
            header .hamburger{margin-top:0px;}
        }
    </style>
</head>

<body>
    <div id="page-loader" class="loader">
        <span>loading</span>
        <ul> <li id='a'></li> <li id='b'></li> <li id='c'></li> <li id='d'></li> <li id='e'></li> <li id='f'></li> <li id='g'></li> <li id='h'></li> <li id='i'></li> </ul>
    </div>
    <header>
        <!-- <a class="logo pull-left" href="@Url.Action("Index", "Home", new { lang = ViewBag.language.lang })"><div>ASE Group</div></a> -->
        <a class="logo pull-left" href="@Url.Action("Index", "Home", new { lang = ViewBag.language.lang })"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/logo-en.png" alt=""></a>
        <!-- PC版選單breadcrumbs -->
        <nav class="hidden-xs hidden-sm breadcrumbs-dropdown-view" id="dropdown-view"></nav>

        <div class="pull-right">
            <!-- Search PC -->
            <form action="" autocomplete="off" class="hidden-xs hidden-sm form-search-pc">
                <div class="search-group">
                    <input type="text" class="form-control" id="" placeholder="Search">
                    <button class="" type="submit" onclick="alert('PC'); return false"><i class="icon-search"></i></button>
                </div>
            </form>
            <div class="dropdown lan hidden-xs hidden-sm">
                <a data-target="#" href="@Url.Action("Index", "Home", new { lang = ViewBag.language.lang })" data-toggle="dropdown">
                    <i class="icon-lang"></i> @ViewBag.language.title <span class="glyphicon glyphicon-menu-down"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="@Url.Action("Index", "Home", new { lang = "en" })">English</a></li>
                    <li><a href="@Url.Action("Index", "Home", new { lang = "tw" })">繁體中文</a></li>
                </ul>
            </div>
            <div class="hamburger hamburger--collapse">
                <div class="hamburger-box">
                    <div class="hamburger-inner"></div>
                </div>
            </div>
        </div>

        <!-- Mobile Menu -->
        <nav class="hidden-md hidden-lg nav-mobile">
            <form action="" autocomplete="off">
                <div class="search-group">
                    <input type="text" class="form-control" id="" placeholder="Search">
                    <button class="" type="submit" onclick="alert('mobile'); return false"><i class="icon-search"></i></button>
                </div>
            </form>
            <ul class="main">
				<li class="has-next">
                    <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology" })">Technology</a>
                    <ul>
                        <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_innovation" })">Technology Innovation</a></li>
                        <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "intellectual_property" })">Intellectual Property</a></li>
                        <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "trademarks" })">ASE Trademarks</a></li>
                    </ul>
                </li>
				<li class="has-next">
                    <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "products" })">Products</a>
                    <ul>
                        <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "products_assembly_offerings" })">Assembly Offerings</a></li>
                        <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "pro_test_service" })">Test Service Offerings</a></li>
                        <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "product_material_offerings" })">Material Offerings</a></li>
                        <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "pro_tray_service_offerings" })">Tray Service Offerings</a></li>
                    </ul>
                </li>
				<li class="has-next">
                    <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "solutions" })">Solution Platform</a>
					<ul>
                        <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "solutions_smart_living" })">Smart Living</a></li>
                        <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "solutions_smart_bike" })">Smart Bike</a></li>
                        <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "solutions_smart_city" })">Smart City</a></li>
                        <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "solutions_smart_automotive" })">Smart Automotive</a></li>
                    </ul>
				</li>	
				<li class="has-next">
                    <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "ir" })">Investor Relations</a>
                    <ul>
                        <li><a href="http://ir.aseglobal.com/html/index.php">IR Quick View</a></li>
                        <li><a href="http://ir.aseglobal.com/html/ir_profile.php">Company Profile</a></li>
                        <li><a href="http://ir.aseglobal.com/html/ir_financials.php">Financials</a></li>
                        <li><a href="http://ir.aseglobal.com/html/ir_corpor.php">Corporate Governance</a></li>
                        <li><a href="http://ir.aseglobal.com/html/ir_ev.php">Events &amp; News</a></li>
                        <li><a href="http://ir.aseglobal.com/html/ir_share.php">Shareholder Services</a></li>
                        <li><a href="http://ir.aseglobal.com/html/ir_faq.php">FAQ</a></li>
                        <li><a href="http://ir.aseglobal.com/html/ir_contact.php">Contact ASE</a></li>
                    </ul>
                </li>
                <li class="has-next">
                    <a href="@Url.Action("Index", "CsrNews", new { lang = ViewBag.language.lang })">Corporate Social Responsibility</a>
                    <ul>
                        <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "letter_from_chairman" })">Letter from the Chairman</a></li>
                        <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "corporate_sustainability_policy_and_management" })">Corporate Sustainability Policy &amp; Management</a></li>
                        <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "stakeholder_engagement" })">Stakeholder Engagement</a></li>
                        <li><a href="http://ir.aseglobal.com/html/ir_corpor.php">Corporate Governance</a></li>
                        <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "environmental_sustainability" })">Environmental Sustainability</a></li>
                        <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "employee_care_and_development" })">Employee Care &amp; Development</a></li>
                        <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "csr_supply_chain_development" })">Supply Chain Development</a></li>
                        <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "corporate_citizenship_and_social_involvement" })">Corporate Citizenship &amp; Social Involvement</a></li>
                        <li><a href="@Url.Action("Index", "CsrReport", new { lang = ViewBag.language.lang })">CSR Report Downloads</a></li>
                    </ul>
                </li>
				<li class="has-next">
                    <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "about" })">About ASE</a>
                    <ul>
                        <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "milestones" })">Milestones</a></li>
                        <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "award" })">Awards</a></li>
                        <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "turnkey_services" })">ASE Turnkey Services</a></li>
                        <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "about_facilities" })">Manufacturing Facilities</a></li>
                        <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "plants_offices" })">Plants &amp; Offices</a></li>
                        <li><a href="@Url.Action("List", new { controller = "PressRoom", lang = ViewBag.lang })">Events</a></li>
                        <li><a href="@Url.Action("Index", new { controller = "Events", lang = ViewBag.lang })">Press Room</a></li>
                        <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "about_careers" })">Careers at ASE</a></li>
                        <li><a href="@Url.Action("Index", new { controller = "Contact", lang = ViewBag.lang })">Contact ASE</a></li>
                    </ul>
                </li>

            </ul>
        </nav>

        <!-- PC Menu -->
        <nav class="hidden-xs hidden-sm nav-pc">
            <ul class="nav nav-pills">
                <li><a data-toggle="tab" href="#menu1" style="text-transform:uppercase;" data-href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology" })">Technology</a></li>
                <li><a data-toggle="tab" href="#menu2" style="text-transform:uppercase;" data-href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "products" })">Products</a></li>
                <li><a data-toggle="tab" href="#menu3" style="text-transform:uppercase;" data-href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "solutions" })">Solution Platform</a></li>
                <li><a data-toggle="tab" href="#menu4" style="text-transform:uppercase;" data-href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "ir" })">Investor Relations</a></li>
                <li><a data-toggle="tab" href="#menu5" style="text-transform:uppercase;" data-href="@Url.Action("Index", "CsrNews", new { lang = ViewBag.language.lang })">Corporate Social Responsibility</a></li>
                <li><a data-toggle="tab" href="#menu6" style="text-transform:uppercase;" data-href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "about" })">About ASE</a></li>
            </ul>

            <div class="tab-content">
                <div id="menu1" class="tab-pane active">
                    <!-- Technology -->
                    <ul>
                        <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_innovation" })">Technology Innovation</a></li>
                        <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "intellectual_property" })">Intellectual Property</a></li>
                        <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "trademarks" })">ASE Trademarks</a></li>
                    </ul>
                </div>
                <div id="menu2" class="tab-pane">
                    <!-- Products -->
                    <ul>
                        <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "products_assembly_offerings" })">Assembly Offerings</a></li>
                        <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "pro_test_service" })">Test Service Offerings</a></li>
                        <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "product_material_offerings" })">Material Offerings</a></li>
                        <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "pro_tray_service_offerings" })">Tray Service Offerings</a></li>
                    </ul>
                </div>
                <div id="menu3" class="tab-pane">
                    <!-- Solution Platform -->
                    <ul>
                        <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "solutions_smart_living" })">Smart Living</a></li>
                        <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "solutions_smart_bike" })">Smart Bike</a></li>
                        <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "solutions_smart_city" })">Smart City</a></li>
                        <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "solutions_smart_automotive" })">Smart Automotive</a></li>
                    </ul>
                </div>
                <div id="menu4" class="tab-pane">
                    <!-- IR -->
                    <ul>
                        <li><a href="http://ir.aseglobal.com/html/index.php">IR Quick View</a></li>
                        <li><a href="http://ir.aseglobal.com/html/ir_profile.php">Company Profile</a></li>
                        <li><a href="http://ir.aseglobal.com/html/ir_financials.php">Financials</a></li>
                        <li><a href="http://ir.aseglobal.com/html/ir_corpor.php">Corporate Governance</a></li>
                        <li><a href="http://ir.aseglobal.com/html/ir_ev.php">Events &amp; News</a></li>
                        <li><a href="http://ir.aseglobal.com/html/ir_share.php">Shareholder Services</a></li>
                        <li><a href="http://ir.aseglobal.com/html/ir_faq.php">FAQ</a></li>
                        <li><a href="http://ir.aseglobal.com/html/ir_contact.php">Contact ASE</a></li>
                    </ul>
                </div>
                <div id="menu5" class="tab-pane">
                    <!-- CSR -->
                    <ul>
                        <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "letter_from_chairman" })">Letter from the Chairman</a></li>
                        <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "corporate_sustainability_policy_and_management" })">Corporate Sustainability Policy &amp; Management</a></li>
                        <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "stakeholder_engagement" })">Stakeholder Engagement</a></li>
                        <li><a href="http://ir.aseglobal.com/html/ir_corpor.php">Corporate Governance</a></li>
                        <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "environmental_sustainability" })">Environmental Sustainability</a></li>
                        <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "employee_care_and_development" })">Employee Care &amp; Development</a></li>
                        <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "csr_supply_chain_development" })">Supply Chain Development</a></li>
                        <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "corporate_citizenship_and_social_involvement" })">Corporate Citizenship &amp; Social Involvement</a></li>
                        <li><a href="@Url.Action("Index", "CsrReport", new { lang = ViewBag.language.lang })">CSR Report Downloads</a></li>
                    </ul>
                </div>
                <div id="menu6" class="tab-pane">
                    <!-- About -->
                    <ul>
                        <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "milestones" })">Milestones</a></li>
                        <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "award" })">Awards</a></li>
                        <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "turnkey_services" })">ASE Turnkey Services</a></li>
                        <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "about_facilities" })">Manufacturing Facilities</a></li>
                        <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "plants_offices" })">Plants &amp; Offices</a></li>
                        <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Events" })">Events</a></li>
                        <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Press_Room" })">Press Room</a></li>
                        <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "about_careers" })">Careers at ASE</a></li>
                        <li><a href="@Url.Action("Index", new { controller = "Contact", lang = ViewBag.lang })">Contact ASE</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="page">
        <div id="wrapper">
            @RenderBody()
        </div>

        <footer style="padding:30px 0px;">
            <a class="gotop" href="javascript:;"><i class="icon-arrow-top"></i><span>TOP</span></a>
            <div class="content-lg row text-center">
                <ul class="sitemap no-margin" style="list-style-type:decimal;">
                    <li>
                        <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology" })" class="toggle">TECHNOLOGY<span class="arrow"></span></a>
                    </li>
					<li class="sline">|</li>
                    <li>
                        <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "products" })" class="toggle">PRODUCTS<span class="arrow"></span></a>
                    </li>
					<li class="sline">|</li>
                    <li>
                        <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "solutions" })" class="toggle">SOLUTION PLATFORM<span class="arrow"></span></a>
                    </li>
					<li class="sline">|</li>
                    <li>
                        <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "lab" })" class="toggle">LAB<span class="arrow"></span></a>
                    </li>
					<li class="sline">|</li>
                    <li>
                        <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "about" })" class="toggle">ABOUT ASE<span class="arrow"></span></a>
                    </li>
					<li class="sline">|</li>
                    <li>
                        <a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Events" })" class="toggle">EVENTS<span class="arrow"></span></a>
                    </li>
					<li class="sline">|</li>
                    <li>
                        <a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Press_Room" ,action="Inxde" })" class="toggle">PRESS ROOM<span class="arrow"></span></a>
                    </li>
                </ul>
                <ul class="sitemap" style="list-style-type:decimal;padding:0;">
                    <li>
                        <a href="@Url.Action("Index", "CsrNews", new { lang = ViewBag.language.lang })" class="toggle">CORPORATE SOCIAL RESPONSIBILITY<span class="arrow"></span></a>
                    </li>
					<li class="sline">|</li>
                    <li>
                        <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "supplier_management" })" class="toggle">SUPPLIER MANAGEMET<span class="arrow"></span></a>
                    </li>
					<li class="sline">|</li>
                    <li>
                        <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "ir" })" class="toggle">INVESTOR RELATIONS<span class="arrow"></span></a>
                    </li>
					<!-- <li class="sline">|</li>
                     <li>
                        <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "about_careers" })" class="toggle">CAREERS AT ASE<span class="arrow"></span></a>
                    </li> -->
					<li class="sline">|</li>
                    <li>
                        <a href="javascript:;" class="toggle">DOWNLOADS<span class="arrow"></span></a>
                    </li>
                </ul>
            </div>
            <div class="dot">
                <div class="bottom_info row content-lg">
                    <div class="col-xs-12 col-sm-5 pull-right">
                        Language :
                        <div class="dropup lan dropup-ali">
                            <a data-target="#" href="@Url.Action("Index", "Home", new { lang = ViewBag.language.lang })" data-toggle="dropdown">
                                <i class="icon-lang"></i>@ViewBag.language.title
                                <span class="glyphicon glyphicon-menu-down"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Index", "Home", new { lang = "en" })">English</a></li>
                                <li><a href="@Url.Action("Index", "Home", new { lang = "tw" })">繁體中文</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-7 copyright nopadding">
                        <span style="display: inline-block"class="copyr">Copyright © 2018 ASE Group. All rights reserved.</span>
                        <span style="display: inline-block">
                            <a href="@Url.Action("Index", "Contact", new { lang = ViewBag.language.lang })">Contact ASE</a> | <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "about_careers" })">Careers at ASE</a> | <a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Terms_of_Use" })">Terms of Use</a><span class="sl">|</span>  
                            <span class="media-icon">
							
							<a href="https://www.youtube.com/channel/UCMRXM62u2zqCm_uxcwkME1A/featured" target="_blank">
                                <img class="m1" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/youtube.png"  alt="Ase Group YouTube" />
                            </a>
                            <a href="https://twitter.com/asegroup_global" target="_blank">
                                <img class="m1" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/twitter.png"  alt="Ase Group Twitter" />
                            </a>
                            <a href="https://tw.linkedin.com/company/ase-group" target="_blank">
                                <img class="m1" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/linkedin.png"  alt="Ase Group Linkedin" />
                            </a>
							</span> 
                        </span>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <!-- JS -->
    <script src="https://2311cdn.r.worldssl.net/js/public/frontend/js/vendor/jquery.mobile.custom.min.js"></script>
    <script src="https://2311cdn.r.worldssl.net/js/public/frontend/js/vendor/modernizr-custom.js"></script>
    <script src="https://2311cdn.r.worldssl.net/js/public/frontend/js/vendor/jquery.matchHeight-min.js"></script>
    <script src="https://2311cdn.r.worldssl.net/js/public/frontend/js/vendor/TweenMax.min.js"></script>
    <script src="https://2311cdn.r.worldssl.net/js/public/frontend/js/vendor/ScrollMagic.min.js"></script>
    <script src="https://2311cdn.r.worldssl.net/js/public/frontend/js/vendor/bootstrap.min.js"></script>
    <script src="https://2311cdn.r.worldssl.net/js/public/frontend/js/all.js" async defer></script>

    <script src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-596737dd60adacf7"></script>

    <!-- For Form -->
    <script src="https://2311cdn.r.worldssl.net/js/Scripts/sweetalert2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
    <!-- Each Page JS -->
    @Html.Raw(ViewBag.js)
    <!-- Message -->
    @if (TempData["mesage"] != null)
    {
        @Html.Raw(TempData["mesage"].ToString())
    }
</body>
</html>
