﻿<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# business: http://ogp.me/ns/business#">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>@ViewBag.Title ASE Group</title>
    <meta name="description" content="ASE is the world’s leading provider of independent semiconductor manufacturing services in assembly and test. ASE develops and offers complete turnkey solutions covering IC packaging, design and production of interconnect materials, front-end engineering test, wafer probing and final test. " />
    <meta name="keywords" content="ASE, ASE Group, Advanced Semiconductor Engineering, ASE Industrial Holding, SiP & Module Solutions, SiP, Fan Out, Assembly, Test" />
    <meta property="og:type" content="website">
    <meta property="og:title" content="ASE Group">
    <meta property="og:description" content="ASE is the world’s leading provider of independent semiconductor manufacturing services in assembly and test. ASE develops and offers complete turnkey solutions covering IC packaging, design and production of interconnect materials, front-end engineering test, wafer probing and final test. ">
    <meta property="og:image" content="http://ase.aseglobal.com/public/frontend/images/og.png">
    <link rel="shortcut icon" type="image/x-icon" href="https://2311cdn.r.worldssl.net/pic/public/frontend/images/favicon.png" />
    <link rel="apple-touch-icon" href="https://2311cdn.r.worldssl.net/pic/public/frontend/images/touch-icon.png" />
    <link rel="stylesheet" href="https://2311cdn.r.worldssl.net/css/public/frontend/css/ase.css?ver=@(DateTime.Now.ToString("yyyyMMddhh"))" />
    <link rel="stylesheet" href="https://2311cdn.r.worldssl.net/css/public/frontend/css/magnific-popup.css" />
    <!--<link rel="icon" type="image/ico" href="favicon.ico" />-->
    @Html.Raw(ViewBag.css)
    <link href="https://2311cdn.r.worldssl.net/css/Content/sweetalert2.min.css" rel="stylesheet" />
    <script src="https://2311cdn.r.worldssl.net/js/public/frontend/js/vendor/jquery/jquery-2.2.2.min.js"></script>
    <script src="https://2311cdn.r.worldssl.net/js/public/frontend/js/vendor/jquery/jquery.lazyload.min.js"></script>
    <style>
        /* Custom header  */
        #wrapper {
            margin-top: 62.6px;
        }

        header {
            padding: 0px 50px;
            height: 62.6px;
        }

            header a.logo > img {
                height: 52px;
                margin: 5px;
            }

        .nav-pc {
            top: 62.6px;
        }

        .breadcrumbs-dropdown-view {
            top: 62.6px;
        }

        html.nav-open .nav-mobile {
            top: 62.6px;
        }

        @@media only screen and (max-width: 768px) {
            header .hamburger {
                margin-top: 0px;
            }
        }

        @@media only screen and (max-width: 450px) {
            header {
                padding: 0px 10px;
            }

                header .hamburger {
                    margin-top: 0px;
                }
        }
    </style>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-33905716-5"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-33905716-5');
    </script>
</head>

<body>
    <div id="page-loader" class="loader">
        <span>loading</span>
        <ul> <li id='a'></li> <li id='b'></li> <li id='c'></li> <li id='d'></li> <li id='e'></li> <li id='f'></li> <li id='g'></li> <li id='h'></li> <li id='i'></li> </ul>
    </div>
    <header>
        <!-- <a class="logo pull-left" href="@Url.Action("Index", "Home", new { lang = ViewBag.language.lang })"><div>ASE Group</div></a> -->
        <a class="logo pull-left" href="@Url.Action("Index", "Home", new {lang= ViewBag.language.lang })">

            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/logo-en.png" alt="">
        </a>
        <!-- PC版選單breadcrumbs -->
        <nav class="hidden-xs hidden-sm breadcrumbs-dropdown-view" id="dropdown-view"></nav>

        <div class="pull-right">
            <!-- Search PC -->
            <form action="@Url.Action("Search", "Home", new { lang = ViewBag.language.lang })" autocomplete="off" class="hidden-xs hidden-sm form-search-pc">
                <div class="search-group">
                    <input type="text" class="form-control" id="" placeholder="Search" name="q">
                    <button class="" type="submit"><i class="icon-search"></i></button>
                </div>
            </form>
            <div class="dropdown lan ">
                @*<a data-target="#" href="javascript:" data-toggle="dropdown">*@
                <a data-target="#" href="@Url.Action("Index", "Home", new { lang = ViewBag.language.lang })" data-toggle="dropdown">
                    <i class="icon-lang"></i> EN <span class="glyphicon glyphicon-menu-down"></span>
                </a>
                <ul class="dropdown-menu">
                    @if (ViewBag.controller == "Press_Room" && ViewBag.action == "Content")
                    {

                        <li><a href="@Url.Action("Index", "Press_Room", new { lang = "en" })">English</a></li>
                        <li><a href="@Url.Action("Index", "Press_Room", new { lang = "ch" })">繁體中文</a></li>
                    }
                    else
                    {

                        <li><a href="@Url.Action(ViewBag.action, ViewBag.controller, new { lang = "en", param1 = ViewBag.param1, param2 = ViewBag.param2 })">English</a></li>
                        <li><a href="@Url.Action(ViewBag.action, ViewBag.controller, new { lang = "ch", param1 = ViewBag.param1, param2 = ViewBag.param2 })">繁體中文</a></li>
                    }
                </ul>
            </div>
            <div class="hamburger hamburger--collapse">
                <div class="hamburger-box">
                    <div class="hamburger-inner"></div>
                </div>
            </div>
        </div>

        <!-- Mobile Menu -->
        <nav class="hidden-md hidden-lg nav-mobile">
            <form action="@Url.Action("Search", "Home", new { lang = ViewBag.language.lang })" autocomplete="off">
                <div class="search-group">
                    <input type="text" class="form-control" id="" placeholder="Search" name="q">
                    <button class="" type="submit"><i class="icon-search"></i></button>
                </div>
            </form>
            <ul class="main">
                <li class="has-next">
                    <a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "technology", action = "Index" })">Technology</a>
                    <ul>
                        @*<li<a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "technology_innovation" })">Technology Innovation</a></li>*@
                        <li><a href="@Url.Action("technology_innovation", "technology", new { lang = ViewBag.language.lang })">Technology Innovation</a></li>
                        <li><a href="@Url.Action("intellectual_property", "technology", new { lang = ViewBag.language.lang })">Intellectual Property</a></li>
                        <li><a href="@Url.Action("ase_trademarks", "technology", new { lang = ViewBag.language.lang })">ASE Trademarks</a></li>
                    </ul>
                </li>
                <li class="has-next">
                    <a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products",action=""  })">Products</a>
                    <ul>
                        <li><a href="@Url.Action("Assembly", "Products", new { lang = ViewBag.language.lang })">Assembly Offerings</a></li>
                        <li><a href="@Url.Action("Test", "Products", new { lang = ViewBag.language.lang })">Test Service Offerings</a></li>
                        <li><a href="@Url.Action("Material", "Products", new { lang = ViewBag.language.lang })">Material Offerings</a></li>
                        <!-- <li><a href="@Url.Action("Tray", "Products", new { lang = ViewBag.language.lang })">Tray Service Offerings</a></li> -->
                    </ul>
                </li>
                <li class="has-next">
                    <a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Solution" })">Solution Platform</a>
                    <ul>
                        <li><a href="@Url.Action("smart_living", "Solution", new { lang = ViewBag.language.lang })">Smart Living</a></li>
                        <li><a href="@Url.Action("smart_bike", "Solution", new { lang = ViewBag.language.lang })">Smart Bike</a></li>
                        <li><a href="@Url.Action("smart_city", "Solution", new { lang = ViewBag.language.lang })">Smart City</a></li>
                        <li><a href="@Url.Action("smart_automotive", "Solution", new { lang = ViewBag.language.lang })">Smart Automotive</a></li>
                    </ul>
                </li>
                <li class="has-next">
                    <a href="/public/en/ir.html">Investor Relations</a>
                    <ul>
                        <li><a href="/public/en/ir.html">IR Quick View</a></li>
                        <li><a href="/public/en/ir/company_profile.html">Company Profile</a></li>
                        <li><a href="/public/en/ir/financials.html">Financials</a></li>
                        <li><a href="/public/en/ir/corporate_governance.html">Corporate Governance</a></li>
                        <li><a href="/public/en/ir/events_news.html">Events & News</a></li>
                        <li><a href="/public/en/ir/shareholder_services.html">Shareholder Services</a></li>
                        <li><a href="/public/en/ir/faq.html">FAQ</a></li>
                    </ul>
                </li>
                <li class="has-next">
                    <a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR", action = "Index" })">Corporate Social Responsibility</a>
                    <ul>
                        <li><a href="@Url.Action("sustainability_governance", "CSR", new { lang = ViewBag.language.lang })">Sustainability Governance</a></li>
                        <li><a href="/public/en/csr/environment_green_innovation.html">Environment and Green Innovation</a></li>
                        <li><a href="/en/csr/supply_chain_development">Supply Chain Development</a></li>
                        <li><a href="@Url.Action("Employee_Care_Development", "CSR", new { lang = ViewBag.language.lang  })">Employee Care &amp; Development</a></li>
                        <li><a href="@Url.Action("Corporate_Citizenship_Social_Involvement", "CSR", new { lang = ViewBag.language.lang })">Social Involvement</a></li>
                        <li><a href="@Url.Action("Downloads", "CSR", new { lang = ViewBag.language.lang })">CSR Report & Video Downloads</a></li>
                    </ul>
                </li>
                <li class="has-next">
                    <a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "About" })">About ASE</a>
                    <ul>
                        <li><a href="@Url.Action("milestones", "About", new { lang = ViewBag.language.lang })">Milestones</a></li>
                        <li><a href="@Url.Action("Awards", "About", new { lang = ViewBag.language.lang })">Awards</a></li>
                        <li><a href="@Url.Action("ASE_Turnkey_Services", "About", new { lang = ViewBag.language.lang })">ASE Turnkey Services</a></li>
                        <li><a href="@Url.Action("Manufacturing_Facilities", "About", new { lang = ViewBag.language.lang })">Manufacturing Facilities</a></li>
                        <li><a href="@Url.Action("plants_offices", "About", new { lang = ViewBag.language.lang })">Plants &amp; Offices</a></li>
                        <li><a href="@Url.Action("Index", new { controller = "Events", lang = ViewBag.lang })">Events</a></li>
                        <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Press_Room" ,action="Index"})">Press Room</a></li>
                        <li><a href="@Url.Action("Careers", "About", new { lang = ViewBag.language.lang })">Careers at ASE</a></li>
                        <li><a href="@Url.Action("Contact", "About", new { lang = ViewBag.language.lang })">Contact ASE</a></li>
                    </ul>
                </li>

            </ul>
        </nav>

        <!-- PC Menu -->
        <nav class="hidden-xs hidden-sm nav-pc">
            <ul class="nav nav-pills">
                <li><a data-toggle="tab" href="#menu1" style="text-transform:uppercase;" data-href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "technology"  })">Technology</a></li>
                <li><a data-toggle="tab" href="#menu2" style="text-transform:uppercase;" data-href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products"  })">Products</a></li>
                <li><a data-toggle="tab" href="#menu3" style="text-transform:uppercase;" data-href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Solution" })">Solution Platform</a></li>
                <li><a data-toggle="tab" href="#menu4" style="text-transform:uppercase;" data-href="/public/en/ir.html">Investor Relations</a></li>
                <li><a data-toggle="tab" href="#menu5" style="text-transform:uppercase;" data-href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR", action = "Index" })">Corporate Social Responsibility</a></li>
                <li><a data-toggle="tab" href="#menu6" style="text-transform:uppercase;" data-href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "About" })">About ASE</a></li>
            </ul>

            <div class="tab-content">
                <div id="menu1" class="tab-pane active">
                    <!-- Technology -->
                    <ul>
                        <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, Controller  = "technology" ,Action="technology_innovation" })">Technology Innovation</a></li>
                        <li><a href="@Url.Action("intellectual_property", "technology", new { lang = ViewBag.language.lang })">Intellectual Property</a></li>
                        <li><a href="@Url.Action("ase_trademarks", "technology", new { lang = ViewBag.language.lang })">ASE Trademarks</a></li>
                    </ul>
                </div>
                <div id="menu2" class="tab-pane">
                    <!-- Products -->
                    <ul>
                        <li><a href="@Url.Action("Assembly", "Products", new { lang = ViewBag.language.lang })">Assembly Offerings</a></li>
                        <li><a href="@Url.Action("Test", "Products", new { lang = ViewBag.language.lang })">Test Service Offerings</a></li>
                        <li><a href="@Url.Action("Material", "Products", new { lang = ViewBag.language.lang  })">Material Offerings</a></li>
                        <!-- <li><a href="@Url.Action("Tray", "Products", new { lang = ViewBag.language.lang })">Tray Service Offerings</a></li> -->
                    </ul>
                </div>
                <div id="menu3" class="tab-pane">
                    <!-- Solution Platform -->
                    <ul>
                        <li><a href="@Url.Action("smart_living", "Solution", new { lang = ViewBag.language.lang })">Smart Living</a></li>
                        <li><a href="@Url.Action("smart_bike", "Solution", new { lang = ViewBag.language.lang })">Smart Bike</a></li>
                        <li><a href="@Url.Action("smart_city", "Solution", new { lang = ViewBag.language.lang })">Smart City</a></li>
                        <li><a href="@Url.Action("smart_automotive", "Solution", new { lang = ViewBag.language.lang })">Smart Automotive</a></li>
                    </ul>
                </div>
                <div id="menu4" class="tab-pane">
                    <!-- IR -->
                    <ul>
                        <li><a href="/public/en/ir.html">IR Quick View</a></li>
                        <li><a href="/public/en/ir/company_profile.html">Company Profile</a></li>
                        <li><a href="/public/en/ir/financials.html">Financials</a></li>
                        <li><a href="/public/en/ir/corporate_governance.html">Corporate Governance</a></li>
                        <li><a href="/public/en/ir/events_news.html">Events & News</a></li>
                        <li><a href="/public/en/ir/shareholder_services.html">Shareholder Services</a></li>
                        <li><a href="/public/en/ir/faq.html">FAQ</a></li>
                    </ul>
                </div>
                <div id="menu5" class="tab-pane">
                    <!-- CSR -->
                    <ul>
                        <li><a href="@Url.Action("sustainability_governance", "CSR", new { lang = ViewBag.language.lang })">Sustainability Governance</a></li>
                        <li><a href="/public/en/csr/environment_green_innovation.html">Environment and Green Innovation</a></li>
                        <li><a href="/en/csr/supply_chain_development">Supply Chain Development</a></li>
                        <li><a href="@Url.Action("Employee_Care_Development", "CSR", new { lang = ViewBag.language.lang  })">Employee Care &amp; Development</a></li>
                        <li><a href="@Url.Action("Corporate_Citizenship_Social_Involvement", "CSR", new { lang = ViewBag.language.lang })">Social Involvement</a></li>
                        <li><a href="@Url.Action("Downloads", "CSR", new { lang = ViewBag.language.lang })">CSR Report & Video Downloads</a></li>
                    </ul>
                </div>
                <div id="menu6" class="tab-pane">
                    <!-- About -->
                    <ul>
                        <li><a href="@Url.Action("milestones", "About", new { lang = ViewBag.language.lang })">Milestones</a></li>
                        <li><a href="@Url.Action("Awards", "About", new { lang = ViewBag.language.lang })">Awards</a></li>
                        <li><a href="@Url.Action("ASE_Turnkey_Services", "About", new { lang = ViewBag.language.lang })">ASE Turnkey Services</a></li>
                        <li><a href="@Url.Action("Manufacturing_Facilities", "About", new { lang = ViewBag.language.lang })">Manufacturing Facilities</a></li>
                        <li><a href="@Url.Action("plants_offices", "About", new { lang = ViewBag.language.lang })">Plants &amp; Offices</a></li>
                        <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Events" })">Events</a></li>
                        <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Press_Room"  ,action="Index"})">Press Room</a></li>
                        <li><a href="@Url.Action("Careers", "About", new { lang = ViewBag.language.lang })">Careers at ASE</a></li>
                        <li><a href="@Url.Action("Contact", "About", new { lang = ViewBag.language.lang })">Contact ASE</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="page">
        <div id="wrapper">
            @RenderBody()
        </div>

        <footer style="padding:30px 0px;">
            <a class="gotop" href="javascript:;"><i class="icon-arrow-top"></i><span>TOP</span></a>
            <div class="content-lg row text-center">
                <ul class="sitemap no-margin" style="list-style-type:decimal;">
                    <li>
                        <a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "technology", action = "Index" })" class="toggle">TECHNOLOGY<span class="arrow"></span></a>
                    </li>
                    <li class="sline">|</li>
                    <li>
                        <a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" })" class="toggle">PRODUCTS<span class="arrow"></span></a>
                    </li>
                    <li class="sline">|</li>
                    <li>
                        <a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Solution" })" class="toggle">SOLUTION PLATFORM<span class="arrow"></span></a>
                    </li>
                    <li class="sline">|</li>
                    <li>
                        <a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Lab" })" class="toggle">LAB<span class="arrow"></span></a>
                    </li>
                    <li class="sline">|</li>
                    <li>
                        <a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "About" })" class="toggle">ABOUT ASE<span class="arrow"></span></a>
                    </li>
                    <li class="sline">|</li>
                    <li>
                        <a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Events" })" class="toggle">EVENTS<span class="arrow"></span></a>
                    </li>
                    <li class="sline">|</li>
                    <li>
                        <a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Press_Room" ,action="Index"})" class="toggle">PRESS ROOM<span class="arrow"></span></a>
                    </li>
                </ul>
                <ul class="sitemap" style="list-style-type:decimal;padding:0;">
                    <li>
                        <a href="/public/en/ir.html" class="toggle">INVESTOR RELATIONS<span class="arrow"></span></a>
                    </li>
                    <li class="sline">|</li>
                    <li>
                        <a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR", action = "Index" })" class="toggle">CORPORATE SOCIAL RESPONSIBILITY<span class="arrow"></span></a>
                    </li>
                    <li class="sline">|</li>
                    <li>
                        <a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Supplier" })" class="toggle">SUPPLIER MANAGEMENT<span class="arrow"></span></a>
                    </li>


                    <!-- <li class="sline">|</li>
                     <li>
                        <a href="@Url.Action("Careers", "About", new { lang = ViewBag.language.lang })" class="toggle">CAREERS AT ASE<span class="arrow"></span></a>
                    </li> -->
                    <li class="sline">|</li>
                    <li>
                        <a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Downloads" })" class="toggle">DOWNLOADS<span class="arrow"></span></a>
                    </li>
                </ul>
            </div>
            <div class="dot">
                <div class="bottom_info row content-lg">
                    <div class="col-xs-12 col-sm-5 pull-right">
                        Language :
                        <div class="dropup lan dropup-ali">
                            <a data-target="#" href="@Url.Action("Index", "Home", new { lang = ViewBag.language.lang })" data-toggle="dropdown">
                                <i class="icon-lang"></i>@ViewBag.language.title
                                <span class="glyphicon glyphicon-menu-down"></span>
                            </a>
                            <ul class="dropdown-menu">
                                @if (ViewBag.controller == "Press_Room" && ViewBag.action == "Content")
                                {
                                    <li><a href="@Url.Action("Index", "Press_Room", new { lang = "en" })">English</a></li>
                                    <li><a href="@Url.Action("Index", "Press_Room", new { lang = "ch" })">繁體中文</a></li>
                                }
                                else
                                {
                                    <li><a href="@Url.Action(ViewBag.action, ViewBag.controller, new { lang = "en", param1 = ViewBag.param1, param2 = ViewBag.param2 })">English</a></li>
                                    <li><a href="@Url.Action(ViewBag.action, ViewBag.controller, new { lang = "ch", param1 = ViewBag.param1, param2 = ViewBag.param2 })">繁體中文</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-7 copyright nopadding">
                        <span style="display: inline-block" class="copyr">Copyright © <script type="text/javascript">myDate = new Date();myYear = myDate.getFullYear();document.write(myYear);</script> ASE Group. All rights reserved.</span>
                        <span style="display: inline-block">
                            <a href="@Url.Action("Contact", "About", new { lang = ViewBag.language.lang })">Contact ASE</a> | <a href="@Url.Action("Careers", "About", new { lang = ViewBag.language.lang })">Careers at ASE</a> | <a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Terms_of_Use" })">Terms of Use</a><span class="sl">|</span>
                            <span class="media-icon">

                                <a href="https://www.youtube.com/channel/UCMRXM62u2zqCm_uxcwkME1A/featured" target="_blank">
                                    <img class="m1" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/youtube.png" alt="Ase Group YouTube" />
                                </a>
                                <a href="https://twitter.com/asegroup_global" target="_blank">
                                    <img class="m1" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/twitter.png" alt="Ase Group Twitter" />
                                </a>
                                <a href="https://tw.linkedin.com/company/ase-group" target="_blank">
                                    <img class="m1" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/linkedin.png" alt="Ase Group Linkedin" />
                                </a>
                                <a href="javascript:" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="
                                <div class='weChat'>
                                    <img src='/public/frontend/images/icon/ASE_wechat.png' style='width:160px; height:192px' />
                                </div>

                                ">
                                    <img class="m1" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/wechat.png" alt="Ase Group WeChat" />
                                </a>
                                <a href="javascript:" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="
                                <div class='weChat'>
                                    <img src='/public/frontend/images/icon/ase_line.png' style='width:207px; height:192px' />
                                </div>

                                ">
                                    <img class="m1" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/line.png" alt="Ase Group LINE" />
                                </a>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </footer>
        <div class="cookiebar">
            <div class="cookieinner">
                <p>This website uses Cookies to optimize your experience. By choosing to continue, you agree to the use of Cookies and our Cookie Term. To know more Cookies information as to how to enable and disable cookies, please see “How to change Cookies preferences or disable Cookies?” in our <a href="/public/en/ase_cookieterm.html" target="_blank">Cookie Term</a>.</p>
                <a href="javascript:void(0)"><div id="continuebutton" class="continuebutton">Accept Cookies</div></a>
            </div>
        </div>
    </div>
    <!-- css -->
    <link rel="stylesheet" href="https://2311cdn.r.worldssl.net/css/public/frontend/css/cookie-bar.css" />

    <!-- JS -->
    <script src="https://2311cdn.r.worldssl.net/js/public/frontend/js/vendor/jquery.mobile.custom.min.js"></script>
    <script src="https://2311cdn.r.worldssl.net/js/public/frontend/js/vendor/modernizr-custom.js"></script>
    <script src="https://2311cdn.r.worldssl.net/js/public/frontend/js/vendor/jquery.matchHeight-min.js"></script>
    <script src="https://2311cdn.r.worldssl.net/js/public/frontend/js/vendor/TweenMax.min.js"></script>
    <script src="https://2311cdn.r.worldssl.net/js/public/frontend/js/vendor/ScrollMagic.min.js"></script>
    <script src="https://2311cdn.r.worldssl.net/js/public/frontend/js/vendor/bootstrap.min.js"></script>
    <script src="https://2311cdn.r.worldssl.net/js/public/frontend/js/all.js"></script>

    <script src="https://2311cdn.r.worldssl.net/js/public/frontend/js/jquery.magnific-popup.min.js"></script>
    <script src="https://2311cdn.r.worldssl.net/js/public/frontend/js/magnific.js"></script>

    <script src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-596737dd60adacf7" async></script>

    <script src="https://2311cdn.r.worldssl.net/js/public/frontend/js/cookies.js"></script>

    <!-- For Form -->
    <script src="https://2311cdn.r.worldssl.net/js/Scripts/sweetalert2.min.js"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.min.js"></script>
    @*<script>
            $("img").lazyload();
        </script>*@
    <!-- Each Page JS -->
    @Html.Raw(ViewBag.js)
    <!-- Message -->
    @if (TempData["mesage"] != null)
    {
        @Html.Raw(TempData["mesage"].ToString())
    }
</body>
</html>
