﻿@using web.Models;
@using web.ViewModels;
@using web.Common;
@using System.Globalization;
@using System.Text.RegularExpressions;
@{
    List<SiteNav> site_nav_list = ViewBag.site_nav_list;
    string currentUrl = Request.Url.PathAndQuery;
    string chUrl = new Regex("/en").Replace(currentUrl, "/ch", 1);
    string enURL = currentUrl;
}

@helper renderMenu(List<SiteNav> navList, string classPrefix, int lv = 1, string checkboxIdPrefix = "")
{
    foreach (var nav in navList)
    {
        string checkboxId = @String.Format("{0}__Lv{1}__Checkbox__{2}-{3}", classPrefix, lv, checkboxIdPrefix, nav.No);
        bool hasUrl = nav.Url != "";
        bool hasChildren = nav.Children.Count() > 0;
    <div class="@String.Format("{0}__Lv{1}Item", classPrefix, lv)">
        <input type="checkbox" id="@checkboxId" />
        <div class="@String.Format("NavHeader", classPrefix, lv)">
            @if (hasUrl)
            {
                <a class="NavTitle" href="@nav.Url" data-title="@nav.Title"  data-href="@nav.Url">@nav.Title</a>
            }
            else
            {
                <div class="NavTitle" href="@nav.Url"  data-title="@nav.Title" data-href="@nav.Url">@nav.Title</div>
            }
            @if(hasChildren)
            {
                <label for="@checkboxId" class="@String.Format("NavHeader__Toggle", classPrefix, lv)">
                    <i class="glyphicon glyphicon-triangle-bottom"></i>
                </label>
            }
        </div>


        @if (nav.Children.Count() > 0)
        {
            <div class="@String.Format("{0}__Lv{1}Sub", classPrefix, lv)">
                @renderMenu(nav.Children, classPrefix, lv + 1, String.Format("{0}-{1}", checkboxIdPrefix, nav.No))
            </div>
        }
    </div>
    }
}

<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# business: http://ogp.me/ns/business#">
    <meta charset="UTF-8">
    <link rel="alternate" hreflang="en-us" href="https://ase.aseglobal.com/@ViewBag.enURL" />
    <link rel="alternate" hreflang="zh-tw" href="https://ase.aseglobal.com/@ViewBag.zhURL" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>@ViewBag.Title ASE Group</title>
    <meta name="description" content="ASE is building Taiwan's first 5G mmWave Smart Factory which will introduce three major applications across AI + AGV smart transportation, Remote AR Assistance and Education Center AR Experience." />
    <meta name="keywords" content="ASE, ASE Group, Advanced Semiconductor Engineering, ASE Industrial Holding, SiP & Module Solutions, SiP, Fan Out, Assembly, Test" />
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.aseglobal.com/en/"> 
    <meta property="og:title" content="5G mmWave Smart Factory - ASE solution platform">
    <meta property="og:description" content="ASE is building Taiwan's first 5G mmWave Smart Factory which will introduce three major applications across AI + AGV smart transportation, Remote AR Assistance and Education Center AR Experience.">
    <meta property="og:image" content="https://2311cdn.r.worldssl.net/public/uploads/press_room/rsz_5g_smart_factory_square.jpg">
    <link rel="shortcut icon" type="image/x-icon" href="https://2311cdn.r.worldssl.net/pic/public/frontend/images/favicon.png" />
    <link rel="apple-touch-icon" href="https://2311cdn.r.worldssl.net/pic/public/frontend/images/touch-icon.png" />
    <link rel="stylesheet" href="https://2311cdn.r.worldssl.net/css/public/frontend/css/ase.css?ver=@(DateTime.Now.ToString("yyyyMMddhh"))" />
    <link rel="stylesheet" href="https://2311cdn.r.worldssl.net/css/public/frontend/css/magnific-popup.css" />
    <link rel="stylesheet" href="https://2311cdn.r.worldssl.net/css/public/frontend/css/all.min.css" />
    <link rel="stylesheet" href="https://2311cdn.r.worldssl.net/css/ase-box.css?2" />
    <!--<link rel="icon" type="image/ico" href="favicon.ico" />-->
    @Html.Raw(ViewBag.css)
    <link href="https://2311cdn.r.worldssl.net/css/Content/sweetalert2.min.css" rel="stylesheet" />
    <script src="https://2311cdn.r.worldssl.net/js/public/frontend/js/vendor/jquery/jquery-2.2.2.min.js"></script>
    <script src="https://2311cdn.r.worldssl.net/js/public/frontend/js/vendor/jquery/jquery.lazyload.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jssor-slider/28.0.0/jssor.slider.min.js" integrity="sha256-/oxe+/Z/w8SQf2vru/KlmaAi7ULMr49OOYPYXD89D/A=" crossorigin="anonymous"></script>
    <style>
        /* Custom header  */
        #wrapper {
            margin-top: 62.6px;
        }

        header {
            padding: 0px 50px;
            height: 62.6px;
        }

            header a.logo > img {
                height: 52px;
                margin: 5px;
            }

        .nav-pc {
            top: 62.6px;
        }

        .breadcrumbs-dropdown-view {
            top: 62.6px;
        }

        html.nav-open .nav-mobile {
            top: 62.6px;
        }

        @@media only screen and (max-width: 768px) {
            header .hamburger {
                margin-top: 0px;
            }
        }

        @@media only screen and (max-width: 450px) {
            header {
                padding: 0px 10px;
            }

                header .hamburger {
                    margin-top: 0px;
                }
        }
    </style>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-33905716-5"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-33905716-5');
    </script>
</head>

<body>
    <div id="page-loader" class="loader">
        <span>loading</span>
        <ul> <li id='a'></li> <li id='b'></li> <li id='c'></li> <li id='d'></li> <li id='e'></li> <li id='f'></li> <li id='g'></li> <li id='h'></li> <li id='i'></li> </ul>
    </div>
    <div class="ASEHeader">
        <div class="ASEHeader__Logo">
            <a class="logo pull-left" href="@Url.Action("Index", "Home", new {lang= ViewBag.language.lang })">
                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/logo-en.png" alt="">
            </a>
        </div>
        <div class="ASEHeader__Navs">
            @renderMenu(site_nav_list, "ASENavs")
        </div>
        <div class="ASEHeader__Search">
            <input type="checkbox" id="searchPanel" />
            <label class="btn btn-default" for="searchPanel"><i class="icon-search"></i></label>
            <div class="ASESearchPanel">
                <form action="@Url.Action("Search", "Home", new { lang = ViewBag.language.lang })" autocomplete="off">
                    <input type="text" class="form-control" id="" placeholder="Search" name="q">
                    <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
                </form>
            </div>
        </div>
        <div class="ASEHeader__Lang">
            <a href="@ViewBag.enURL">English</a>
            <a href="@ViewBag.zhURL">中文</a>
        </div>
        <div class="ASEHeader__MobileToggle">
            <label class="hamburger hamburger--collapse" for="MobileNavsToggle">
                <div class="hamburger-box">
                    <div class="hamburger-inner"></div>
                </div>
            </label>
        </div>
        <input type="checkbox" id="MobileNavsToggle" />
        <div class="ASEHeader__MobileNavs">
            @renderMenu(site_nav_list, "ASEMobileNavs")
        </div>
    </div>

    <div class="page">
        <div id="wrapper">
            @RenderBody()
        </div>

        <footer style="padding:30px 0px;">
            <a class="gotop" href="javascript:;"><i class="icon-arrow-top"></i><span>TOP</span></a>
            <div class="content-lg row text-center">
                <ul class="sitemap no-margin" style="list-style-type:decimal;">
                    <li>
                        <a href="~/en/about" class="toggle">ABOUT ASE<span class="arrow"></span></a>
                    </li>
                    <li class="sline">|</li>
                    <li>
                        <a href="~/public/en/ir.html" class="toggle">INVESTOR RELATIONS<span class="arrow"></span></a>
                    </li>
                    <li class="sline">|</li>
                    <li>
                        <a href="~/en/events" class="toggle">EVENTS<span class="arrow"></span></a>
                    </li>
                    <li class="sline">|</li>
                    <li>
                        <a href="~/en/press_room" class="toggle">PRESS ROOM<span class="arrow"></span></a>
                    </li>
                    <li class="sline">|</li>
                    <li>
                        <a href="~/en/csr" class="toggle">SUSTAINABILITY<span class="arrow"></span></a>
                    </li>
                    <li class="sline">|</li>
                    <li>
                        <a href="~/en/downloads" class="toggle">DOWNLOADS<span class="arrow"></span></a>
                    </li>
                    <li class="sline">|</li>
                    <li>
                        <a href="https://www.aseglobal.com/en" class="toggle">ASE TECHNOLOGY HOLDING<span class="arrow"></span></a>
                    </li>
                </ul>
            </div>
            <div class="dot">
                <div class="bottom_info row content-lg">
                    <div class="col-xs-12 col-sm-5 pull-right">
                        Language :
                        <div class="dropup lan dropup-ali">
                            <a data-target="#" href="@Url.Action("Index", "Home", new { lang = ViewBag.language.lang })" data-toggle="dropdown">
                                <i class="icon-lang"></i>@ViewBag.language.title
                                <span class="glyphicon glyphicon-menu-down"></span>
                            </a>
                            <ul class="dropdown-menu">
                                @if (ViewBag.controller == "Press_Room" && ViewBag.action == "Content")
                                {
                                    <li><a href="@Url.Action("Index", "Press_Room", new { lang = "en" })">English</a></li>
                                    <li><a href="@Url.Action("Index", "Press_Room", new { lang = "ch" })">繁體中文</a></li>
                                }
                                else
                                {
                                    <li><a href="@Url.Action(ViewBag.action, ViewBag.controller, new { lang = "en", param1 = ViewBag.param1, param2 = ViewBag.param2 })">English</a></li>
                                    <li><a href="@Url.Action(ViewBag.action, ViewBag.controller, new { lang = "ch", param1 = ViewBag.param1, param2 = ViewBag.param2 })">繁體中文</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-7 copyright nopadding">
                        <span style="display: inline-block" class="copyr">
                            Copyright ©
                            <script type="text/javascript">myDate = new Date(); myYear = myDate.getFullYear(); document.write(myYear);</script> ASE Group. All rights reserved.
                        </span>
                        <span style="display: inline-block">
                            <a href="@Url.Action("Contact", "About", new { lang = ViewBag.language.lang })">Contact ASE</a> | <a href="@Url.Action("Careers", "About", new { lang = ViewBag.language.lang })">Careers at ASE</a> | <a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Terms_of_Use" })">Terms of Use</a> | <a href="/public/en/ase_privacy.html" target="_blank">Privacy Policy</a> | <a href="/public/en/ase_cookieterm.html" target="_blank">Cookie</a> <span class="sl">|</span><span class="sl">|</span>
                            <span class="media-icon">
                                <a href="https://twitter.com/asegroup_global" target="_blank">
                                    <img class="m1" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/twitter.png" alt="Ase Group Twitter" />
                                </a>
                                <a href="https://tw.linkedin.com/company/ase-group" target="_blank">
                                    <img class="m1" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/linkedin.png" alt="Ase Group Linkedin" />
                                </a>
                                <a href="javascript:" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="

                                <div class='weChat'>
                                    <img src='https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/ASE_wechat.png' style='width:160px; height:192px' />
                                </div>

                                ">
                                    <img class="m1" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/wechat.png" alt="Ase Group WeChat" />
                                </a>
                                <a href="javascript:" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="
                                <div class='weChat'>
                                    <img src='https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/ase_line.png' style='width:160px; height:192px' />
                                </div>

                                ">
                                    <img class="m1" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/line.png" alt="Ase Group LINE" />
                                </a>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </footer>
        <div class="cookiebar">
            <div class="cookieinner">
                <p>This website uses Cookies to optimize your experience. By choosing to continue, you agree to the use of Cookies and our Cookie Term. To know more Cookies information as to how to enable and disable cookies, please see “How to change Cookies preferences or disable Cookies?” in our <a href="/public/en/ase_CookieTerm.html" target="_blank">Cookie Term</a>.</p>
                <a href="javascript:void(0)"><div id="continuebutton" class="continuebutton">Accept Cookies</div></a>
            </div>
        </div>
    </div>
    <!-- css -->
    <link rel="stylesheet" href="https://2311cdn.r.worldssl.net/css/public/frontend/css/cookie-bar.css?5" />

    <!-- JS -->
    <script src="https://2311cdn.r.worldssl.net/js/public/frontend/js/vendor/jquery.mobile.custom.min.js"></script>
    <script src="https://2311cdn.r.worldssl.net/js/public/frontend/js/vendor/modernizr-custom.js"></script>
    <script src="https://2311cdn.r.worldssl.net/js/public/frontend/js/vendor/jquery.matchHeight-min.js"></script>
    <script src="https://2311cdn.r.worldssl.net/js/public/frontend/js/vendor/TweenMax.min.js"></script>
    <script src="https://2311cdn.r.worldssl.net/js/public/frontend/js/vendor/ScrollMagic.min.js"></script>
    <script src="https://2311cdn.r.worldssl.net/js/public/frontend/js/vendor/bootstrap.min.js"></script>
    <script src="https://2311cdn.r.worldssl.net/js/public/frontend/js/all.js"></script>

    <script src="https://2311cdn.r.worldssl.net/js/public/frontend/js/jquery.magnific-popup.min.js"></script>
    <script src="https://2311cdn.r.worldssl.net/js/public/frontend/js/magnific.js"></script>

    <script src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-596737dd60adacf7" async></script>

    <script src="https://2311cdn.r.worldssl.net/js/public/frontend/js/cookies.js?5"></script>
    <script src="https://2311cdn.r.worldssl.net/js/ase-box.js?2"></script>

    <!-- For Form -->
    <script src="https://2311cdn.r.worldssl.net/js/Scripts/sweetalert2.min.js"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.min.js"></script>
    @*<script>
            $("img").lazyload();
        </script>*@
    <!-- Each Page JS -->
    @Html.Raw(ViewBag.js)
    <!-- Message -->
    @if (TempData["mesage"] != null)
    {
        @Html.Raw(TempData["mesage"].ToString())
    }
</body>
</html>
