﻿@using web.Models;
@using web.ViewModels;
@using web.Common;
@using System.Globalization;
@using System.Text.RegularExpressions;
@{
    List<SiteNav> site_nav_list = ViewBag.site_nav_list;
}

@helper renderMenu(List<SiteNav> navList, string classPrefix, int lv = 1, string checkboxIdPrefix = "")
{
    foreach (var nav in navList)
    {
        string checkboxId = @String.Format("{0}__Lv{1}__Checkbox__{2}-{3}", classPrefix, lv, checkboxIdPrefix, nav.No);
        bool hasUrl = nav.Url != "";
        bool hasChildren = nav.Children.Count() > 0;
    <div class="@String.Format("{0}__Lv{1}Item", classPrefix, lv)">
        <input type="checkbox" id="@checkboxId" />
        <div class="@String.Format("NavHeader", classPrefix, lv)">
            @if (hasUrl)
            {
                <a class="NavTitle" href="@nav.Url" data-title="@nav.Title"  data-href="@nav.Url">@nav.Title</a>
            }
            else
            {
                <div class="NavTitle" href="@nav.Url"  data-title="@nav.Title" data-href="@nav.Url">@nav.Title</div>
            }
            @if(hasChildren)
            {
                <label for="@checkboxId" class="@String.Format("NavHeader__Toggle", classPrefix, lv)">
                    <i class="glyphicon glyphicon-triangle-bottom"></i>
                </label>
            }
        </div>


        @if (nav.Children.Count() > 0)
        {
            <div class="@String.Format("{0}__Lv{1}Sub", classPrefix, lv)">
                @renderMenu(nav.Children, classPrefix, lv + 1, String.Format("{0}-{1}", checkboxIdPrefix, nav.No))
            </div>
        }
    </div>
    }
}

<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# business: http://ogp.me/ns/business#">
    <meta charset="UTF-8">
    @if (ViewBag.enURL != null)
    {
        <link rel="alternate" hreflang="en-us" href="@String.Format("https://ase.aseglobal.com{0}", ViewBag.enURL)" />
    }
    @if (ViewBag.zhURL != null)
    {
        <link rel="alternate" hreflang="zh-tw" href="@String.Format("https://ase.aseglobal.com{0}", ViewBag.zhURL)" />
    }
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>@ViewBag.Title | ASE</title>
    <meta name="description" content="@ViewBag.webSiteDesc" />
    <meta property="og:type" content="website">
    <meta property="og:title" content="@ViewBag.Title | ASE">
    <meta property="og:description" content="@ViewBag.webSiteDesc">
    <meta property="og:image" content="@(new Uri(Request.Url, Url.Content(ViewBag.webSiteOgImage)))" />
    <meta property="og:url" content="@Request.Url" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="@ViewBag.Title | ASE">
    <meta name="twitter:description" content="@ViewBag.webSiteDesc">
    <meta name="twitter:image" content="@(new Uri(Request.Url, Url.Content(ViewBag.webSiteOgImage)))" />
    @*<meta property="og:image:width" content="256">
        <meta property="og:image:height" content="256">*@
    <link rel="shortcut icon" type="image/x-icon" href="https://2311cdn.r.worldssl.net/pic/public/frontend/images/favicon.png" />
    <link rel="apple-touch-icon" href="https://2311cdn.r.worldssl.net/pic/public/frontend/images/touch-icon.png" />
    @*<link rel="stylesheet" href="https://2311cdn.r.worldssl.net/css/public/frontend/css/ase.css?ver=@(DateTime.Now.ToString("yyyyMMddhh"))" />*@
    <link rel="stylesheet" href="https://2311cdn.r.worldssl.net/css/public/frontend/css/ase.css?7" />
    <link rel="stylesheet" href="https://2311cdn.r.worldssl.net/css/public/frontend/css/magnific-popup.css" />
    <link rel="stylesheet" href="https://2311cdn.r.worldssl.net/css/public/frontend/css/all.min.css" />
    <link rel="stylesheet" href="https://2311cdn.r.worldssl.net/css/ase-box.css?11" />
    <link rel="stylesheet" href="https://2311cdn.r.worldssl.net/css/ase-blog.css?1" />
    
    <link rel="stylesheet" href="~/css/print.css?1" />
    @*<link rel="stylesheet" href="/css/ase-box.css?2" />*@
    <!--<link rel="icon" type="image/ico" href="favicon.ico" />-->
    @Html.Raw(ViewBag.css)
    <link href="https://2311cdn.r.worldssl.net/css/Content/sweetalert2.min.css" rel="stylesheet" />
    <script src="https://2311cdn.r.worldssl.net/js/public/frontend/js/vendor/jquery/jquery-2.2.2.min.js"></script>
    <script src="https://2311cdn.r.worldssl.net/js/public/frontend/js/vendor/jquery/jquery.lazyload.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jssor-slider/28.0.0/jssor.slider.min.js" integrity="sha256-/oxe+/Z/w8SQf2vru/KlmaAi7ULMr49OOYPYXD89D/A=" crossorigin="anonymous"></script>
    <style>
        /* Custom header  */
        #wrapper {
            margin-top: 62.6px;
        }

        header {
            padding: 0px 50px;
            height: 62.6px;
        }

            header a.logo > img {
                height: 52px;
                margin: 5px;
            }

        .nav-pc {
            top: 62.6px;
        }

        .breadcrumbs-dropdown-view {
            top: 62.6px;
        }

        html.nav-open .nav-mobile {
            top: 62.6px;
        }

        @@media only screen and (max-width: 768px) {
            header .hamburger {
                margin-top: 0px;
            }
        }

        @@media only screen and (max-width: 450px) {
            header {
                padding: 0px 10px;
            }

                header .hamburger {
                    margin-top: 0px;
                }
        }
    </style>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-33905716-5"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-33905716-5');
    </script>
</head>

<body>
    <div id="page-loader" class="loader">
        <span>loading</span>
        <ul> <li id='a'></li> <li id='b'></li> <li id='c'></li> <li id='d'></li> <li id='e'></li> <li id='f'></li> <li id='g'></li> <li id='h'></li> <li id='i'></li> </ul>
    </div>
    @Html.Partial("../Widgets/Header")
    <div class="page">
        <div id="wrapper">
            @RenderBody()
        </div>

        <footer style="padding:30px 0px;">
            <a class="gotop" href="javascript:;"><i class="icon-arrow-top"></i><span>TOP</span></a>
            <div class="content-lg row text-center">
                <ul class="sitemap no-margin" style="list-style-type:decimal;">
                    <li>
                        <a href="~/en/about" class="toggle">ABOUT ASE<span class="arrow"></span></a>
                    </li>
                    <li class="sline">|</li>
                    <li>
                        <a href="~/en/events" class="toggle">EVENTS<span class="arrow"></span></a>
                    </li>
                    <li class="sline">|</li>
                    <li>
                        <a href="~/en/press_room" class="toggle">PRESS ROOM<span class="arrow"></span></a>
                    </li>
                    <li class="sline">|</li>
                    <li>
                        <a href="~/en/csr" class="toggle">SUSTAINABILITY<span class="arrow"></span></a>
                    </li>
                    <li class="sline">|</li>
                    <li>
                        <a href="~/en/downloads" class="toggle">DOWNLOADS<span class="arrow"></span></a>
                    </li>
                    <li class="sline">|</li>
                    <li>
                        <a href="https://www.aseglobal.com/en" class="toggle">ASE TECHNOLOGY HOLDING<span class="arrow"></span></a>
                    </li>
                    <li class="sline">|</li>
                    <li>
                        <a href="~/en/sitemap" class="toggle">SITE MAP<span class="arrow"></span></a>
                    </li>
                </ul>
            </div>
            <div class="dot">
                <div class="bottom_info row content-lg">
                    <div class="col-xs-12 col-sm-5 pull-right">
                        Language :
                        <div class="dropup lan dropup-ali">
                            <a data-target="#" href="@Url.Action("Index", "Home", new { lang = ViewBag.language.lang })" data-toggle="dropdown">
                                <i class="icon-lang"></i>@ViewBag.language.title
                                <span class="glyphicon glyphicon-menu-down"></span>
                            </a>
                            <ul class="dropdown-menu">

                                @if (ViewBag.enURL != null && ViewBag.zhURL != null)
                                {
                                    <li><a href="@ViewBag.enURL">English</a></li>
                                    <li><a href="@ViewBag.zhURL">繁體中文</a></li>
                                }
                                @*@if (ViewBag.controller == "Press_Room" && ViewBag.action == "Content")
                                {
                                    <li><a href="@Url.Action("Index", "Press_Room", new { lang = "en" })">English</a></li>
                                    <li><a href="@Url.Action("Index", "Press_Room", new { lang = "ch" })">繁體中文</a></li>
                                }
                                else
                                {
                                    <li><a href="@Url.Action(ViewBag.action, ViewBag.controller, new { lang = "en", param1 = ViewBag.param1, param2 = ViewBag.param2 })">English</a></li>
                                    <li><a href="@Url.Action(ViewBag.action, ViewBag.controller, new { lang = "ch", param1 = ViewBag.param1, param2 = ViewBag.param2 })">繁體中文</a></li>
                                }*@
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-7 copyright nopadding">
                        <span style="display: inline-block" class="copyr">
                            Copyright ©
                            <script type="text/javascript">myDate = new Date(); myYear = myDate.getFullYear(); document.write(myYear);</script> ASE. All rights reserved.
                        </span>
                        <span style="display: inline-block">
                            <a href="@Url.Action("Contact", "About", new { lang = ViewBag.language.lang })">Contact ASE</a> | <a href="@Url.Action("Careers", "About", new { lang = ViewBag.language.lang })">Careers at ASE</a> | <a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Terms_of_Use" })">Terms of Use</a> | <a href="/public/en/ase_privacy.html" target="_blank">Privacy Policy</a> | <a href="/public/en/ase_cookieterm.html" target="_blank">Cookie</a> <span class="sl">|</span>
                            <span class="media-icon">
                                <a href="https://twitter.com/aseglobal" target="_blank">
                                    <img class="m1" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/twitter.png" alt="Ase Twitter" />
                                </a>
                                <a href="https://www.linkedin.com/company/aseglobal/" target="_blank">
                                    <img class="m1" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/linkedin.png" alt="Ase Linkedin" />
                                </a>
                                <a href="javascript:" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="

                                <div class='weChat'>
                                    <img src='https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/ASE_wechat.png' style='width:160px; height:192px' />
                                </div>

                                ">
                                    <img class="m1" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/wechat.png" alt="Ase WeChat" />
                                </a>
                                <a href="javascript:" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="<div class='weChat'><img src='https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/ase_line.png' style='width:160px; height:192px' /></div>">
                                    <img class="m1" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/line.png" alt="Ase LINE" />
                                </a>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </footer>
        <div class="cookiebar">
            <div class="cookieinner">
                <p>This website uses Cookies to optimize your experience. By choosing to continue, you agree to the use of Cookies and our Cookie Terms. To know more about Cookies and how to enable and disable cookies, please see “How to change Cookie preferences or disable Cookies?” in our <a href="/public/en/ase_cookieterm.html" target="_blank">Cookie Terms</a>.</p>
                <a href="javascript:void(0)"><div id="continuebutton" class="continuebutton">Accept Cookies</div></a>
            </div>
        </div>
    </div>
    <!-- css -->
    <link rel="stylesheet" href="https://2311cdn.r.worldssl.net/css/public/frontend/css/cookie-bar.css?5" />

    <!-- JS -->
    <script src="https://2311cdn.r.worldssl.net/js/public/frontend/js/vendor/jquery.mobile.custom.min.js"></script>
    <script src="https://2311cdn.r.worldssl.net/js/public/frontend/js/vendor/modernizr-custom.js"></script>
    <script src="https://2311cdn.r.worldssl.net/js/public/frontend/js/vendor/jquery.matchHeight-min.js"></script>
    <script src="https://2311cdn.r.worldssl.net/js/public/frontend/js/vendor/TweenMax.min.js"></script>
    <script src="https://2311cdn.r.worldssl.net/js/public/frontend/js/vendor/ScrollMagic.min.js"></script>
    <script src="https://2311cdn.r.worldssl.net/js/public/frontend/js/vendor/bootstrap.min.js"></script>
    <script src="https://2311cdn.r.worldssl.net/js/public/frontend/js/all.js"></script>

    <script src="https://2311cdn.r.worldssl.net/js/public/frontend/js/jquery.magnific-popup.min.js"></script>
    <script src="https://2311cdn.r.worldssl.net/js/public/frontend/js/magnific.js"></script>

    <script src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-596737dd60adacf7" async></script>

    <script src="https://2311cdn.r.worldssl.net/js/public/frontend/js/cookies.js?5"></script>
    <script src="https://2311cdn.r.worldssl.net/js/ase-box.js?5"></script>
    <script src="https://2311cdn.r.worldssl.net/js/ase-box-video.js?2"></script>

    <!-- For Form -->
    <script src="https://2311cdn.r.worldssl.net/js/Scripts/sweetalert2.min.js"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.min.js"></script>
    @*<script>
            $("img").lazyload();
        </script>*@
    <!-- Each Page JS -->
    @Html.Raw(ViewBag.js)
    <!-- Message -->
    @if (TempData["mesage"] != null)
    {
        @Html.Raw(TempData["mesage"].ToString())
    }
    
    <script type="text/javascript">
        _linkedin_partner_id = "3115068";
        window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || [];
        window._linkedin_data_partner_ids.push(_linkedin_partner_id);
    </script>
    <script type="text/javascript">
        (function(l) {
        if (!l){window.lintrk = function(a,b){window.lintrk.q.push([a,b])};
        window.lintrk.q=[]}
        var s = document.getElementsByTagName("script")[0];
        var b = document.createElement("script");
        b.type = "text/javascript";b.async = true;
        b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
        s.parentNode.insertBefore(b, s);})(window.lintrk);
    </script>
    <noscript>
        <img height="1" width="1" style="display:none;" alt="" src="https://px.ads.linkedin.com/collect/?pid=3115068&fmt=gif" />
    </noscript>
</body>
</html>
