﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/tw/_Layout.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-fit">
		<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/products/banner_products_csp.jpg">
		<h1 class="page-title title-large">產品</h1>
	</section>

	<!--麵包屑-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "/" })"><i class="icon-home"></i><span itemprop="name">首頁</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" })"><span itemprop="name">產品</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Assembly", "Products", new { lang = ViewBag.language.lang })"><span itemprop="name">封裝</span></a>
					<meta itemprop="position" content="3" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "wire_bond_bga_solution" })"><span itemprop="name">Wire Bond BGA Solution</span></a>
					<meta itemprop="position" content="4" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "fbga" })"><span itemprop="name">FBGA</span></a>
					<meta itemprop="position" content="5" />
				</li>
			</ol>
		</div>
	</div>

	<div class="breadcrumbs-pc pull-left" id="breadcrumbs-pc">
		<ul class="breadcrumbs-view" id="breadcrumbs-view">
			<li class="dropdown-item">
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })">技術</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" })" class="active">產品</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Solution" })">解決方案</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "ir" })">投資人關係</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })">企業社會責任</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "About" })">了解日月光</a></li>
				</ul>
			</li>
			<li class="dropdown-item">
				<a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" })">產品</a>
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.Action("Assembly", "Products", new { lang = ViewBag.language.lang })" class="active">封裝</a></li>
					<li><a href="@Url.Action("Test", "Products", new { lang = ViewBag.language.lang })">測試</a></li>
					<li><a href="@Url.Action("Material", "Products", new { lang = ViewBag.language.lang })">材料</a></li>
					<li><a href="@Url.Action("Tray", "Products", new { lang = ViewBag.language.lang })">IC承載盤</a></li>
				</ul>
			</li>
			<li class="dropdown-item">
				<a href="@Url.Action("Assembly", "Products", new { lang = ViewBag.language.lang })">封裝</a>
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "bumping_solution" })">Wafer  Bumping Solution</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "wafer_level_package_solution" })">Wafer Level Package Solution</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "flip_chip_solution" })">Flip Chip Solution</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "sip_module_solutions" })">SiP & Module Solutions</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "wire_bond_bga_solution" })" class="active">Wire Bond BGA Solution</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "leadframe_solution" })">Leadframe Solution</a></li>
				</ul>
			</li>
			<li class="dropdown-item">
				<a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "wire_bond_bga_solution" })">Wire Bond BGA Solution</a>
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "pbga" })">PBGA</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "hsbga" })">HSBGA</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "fbga" })" class="active">FBGA</a></li>
				</ul>
			</li>
		</ul>
	</div>
	
	<!-- Products Content -->
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<div class="col-sm-8 col-md-6 col-lg-4 nopadding"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/products/FBGA.png"></div>
				<div class="clearfix"></div>
				<h3 class="title">FBGA</h3>
				<p>
					FBGA (Fine pitch Ball Grid Array) are BGA package that follows JEDEC standard package outline dimension for DRAM products. To meet high speed DRAM requirement, FBGA can be designed the shorter trace length to provide better electrical performance than that of TSOP. Not only better electrical performance, FBGA's smaller package size allows higher memory density on memory module than that of TSOP package.
				</p>
			</article>
		</div>
	</section>
	<section class="inside-article">
		<div class="content-lg row">
			<br>
			<div class="col-xs-6">
				<div class="technology-application technology-tab-active">Application</div>
			</div>
			<div class="col-xs-6">
				<div class="technology-features technology-tab-inactive">Features</div>
			</div>
			<div class="clearfix"></div>
			<div class="technology-application-content">
				<div class="col-sm-12 col-md-12">
					<ul class="nopadding">
						<li>Computer, communication, and consumer devices</li>
						<li>Memory (SRAM, PSRAM, Flash, DRAM), Graphic, ASIC, Digital and Analog products</li>
					</ul>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="technology-features-content">
				<div class="col-sm-12 col-md-12">
					<ul class="nopadding">
						<li>10x10.5 to 11x13mm packages are available</li>
						<li>Good electrical and thermal performance</li>
						<li>Low assembly and test cost solution</li>
						<li>Low profile</li>
						<li>JEDEC MO-207J standard outlines conforming</li>
						<li>RoHS and Halogen free conforming</li>
						<li>Good solder joint reliability / Meet JEDEC drop test / TCT requirement</li>
					</ul>
				</div>
			</div>
			<div class="content-wrapper col-md-12 tech-cont-link">
				<br>
				<a class="phone" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "plants_offices_ase" })"><span class="glyphicon glyphicon-earphone"></span>  聯絡我們</a><br><br>
			</div>
			<div class="clearfix"></div>
		</div>
	</section>
	<section class="csr-bg">
		<div class="content-lg row">
			<div class="products-menu1-content col-xs-12 csr">

				<div class="col-md-4 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "pbga" })">
							<span class="blue-text-in-box">PBGA</span>
							<div class="circle_button-wrapper pull-right">
								<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>
			
				<div class="col-md-4 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "hsbga" })">
							<span class="blue-text-in-box">HSBGA</span>
							<div class="circle_button-wrapper">
								<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>
			
				<div class="col-md-4 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "fbga" })">
							<span class="blue-text-in-box">FBGA</span>
							<div class="circle_button-wrapper">
								<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>
				<div class="clearfix"></div>

			</div>
		</div>
	</section>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

	<script>
		$(document).ready(function() { 
			$(".technology-features-content").hide();

			$('.technology-application').click(function() {
				$(this).closest(".row").find(".technology-features").removeClass("technology-tab-active").addClass("technology-tab-inactive");
				$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
				$(this).closest(".row").find(".technology-features-content").hide();
				$(this).closest(".row").find(".technology-application-content").fadeIn(1000);
			});
			$('.technology-features').click(function() {
				$(this).closest(".row").find(".technology-application").removeClass("technology-tab-active").addClass("technology-tab-inactive");
				$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
				$(this).closest(".row").find(".technology-application-content").hide();
				$(this).closest(".row").find(".technology-features-content").fadeIn(1000);
			});
		});
	</script>