﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-csr">
		<h1 class="page-title-csr title-large">CORPORATE SOCIAL RESPONSIBILITY</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
			</ol> 
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->
	<section class="inside-article">
		<div class="content-lg row">
			<div class="col-md-12">
				<h3 class="title">Employee Development</h3>
				<p>
					ASE encourages its employees at all locations to further develop their qualifications and professional expertise. In 2016, we invested around US$2.15 million in employee development programs, averaging about US$128 per employee. We also provide reimbursements for tuition expenses for employees pursuing an advanced degree in their field of work; in 2016, 279 degrees were sponsored by the tuition reimbursement program. A total of 6,947,542 training hours<a href="javascript:;" data-toggle="popover" data-trigger="hover" data-content="The average number of training hours in 2016 was 103 hours for female employees, 105 hours for male employees, 62 hours for new hires, 119 hours for direct employees, and 81 hours for indirect employees." data-placement="bottom">*</a> were completed at ASE Group in year 2016. The average hours of training and development courses offered was 104 hours per employee, including trainings and courses completed in the classroom and online, as well as on the job and external training courses. At ASE, we have established a Six-Path Employee Career Development System, and the system shall continue to improve with the PDCA (Plan/Do/ Check/Action) Mode of Operation.
				</p>
				<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/employee_development.png">
				</div>
				<div class="clearfix"></div><br>

				<h4 class="sub-title">Plan - Six-Path Employee Career Development System</h4>
				<p>
					In the fourth quarter of each year, the HR Departments in all facilities need to formulate the following year's annual training and course program, according to their own business and organizational needs and the framework of ASE's Six-Path Employee Career Development System through four approaches - classroom training, online courses, on the job practice and external training.
				</p>
				<div class="color-box">
					<div class="yellow-box">
						<div class="color-box-heading">New Employee Orientation:</div>
						<p>
							We introduce company discipline/policy/culture, workplace, knowledge of environment safety and health, employee human rights, and communication channels, etc.
						</p>
					</div>
					<div class="light-yellow-box">
						<div class="color-box-heading">Engineer Technical and Professional Skills:</div>
						<p>
							Training covers quality system training, learning of problem-solving procedures, and ability development of problemsolving tools.
						</p>
					</div>
					<div class="orange-box">
						<div class="color-box-heading">Team Leader Foundation Skills:</div>
						<p>
							Courses include basic practices of production management, abnormal situation control and management procedures, human-machine management and capacity control, etc.
						</p>
					</div>
				</div>
				<div class="color-box">
					<div class="light-yellow-box">
						<div class="color-box-heading">Supervisor Management Skills:</div>
						<p>
							Courses include daily management and performance, effective meeting management, subordinate cultivation, internal lecturer training, etc.
						</p>
					</div>
					<div class="orange-box">
						<div class="color-box-heading">Mid-Level Managers Leadership Development:</div>
						<p>
							Courses include manager performance and authority, inter-departmental project promotion, management ability training programs, etc.
						</p>
					</div>
					<div class="yellow-box">
						<div class="color-box-heading">Directors & Above Talent Development:</div>
						<p>
							Courses include strategic planning, cost control, talent development, team building, management seminars, etc.
						</p>
					</div>
				</div>
				<h4 class="sub-title">Do - Annual Key Projects</h4>
				<p>
					In 2016, a "Management Training Program" was promoted in our China facilities in response to the growing business demand. The course drew resources from seven different facilities in mainland China since Q4 2016, the HR Departments of Shanghai/Kunshan/Suzhou have taken turns to host 4 rounds of the courses. After the training course, participants need to apply what they have learned at work.<br><br>

					At the end of 2016, a total of 145 Mid-Level Managers received the training. The "Management Training Program" has enable managers from different backgrounds within the Group to get to know one another and share their management views and practices, thereby promoting resource sharing and collaborations within the Group. The course will continue to be offered in 2017 and beyond. We aim to inculcate the management spirit of "Management Training Program" in ASE through the "Understanding and Respect for Humanity" and "Application of Scientific Methods".
				</p>

				<h4 class="sub-title">Check - Training Effectiveness</h4>
				<p>
					To measure the effectiveness of training, we have designed and launched a "Training Effectiveness Promotion Mode". There are four objectives:<br>
					<ul class="nopadding">
						<li>The training requires that the departmental direct supervisor be involved in the training. The supervisor is trained to become the instructor, and eventually is trained to become ASE's internal lecturer.</li>
						<li>Participants have to have a high degree of willingness to learn, which implies that the course needs to be designed in such a way that it is applicable to the daily operation at work.</li>
						<li>The training requires a high level of support from top executives so that participants can better achieve their effectiveness when they receive recognition and attention from their supervisors.</li>
						<li>The training requires certain mechanisms for its continuous promotion and operation, which means the training results should be linked to HR performance, rewards, and promotion, etc.</li>
					</ul>
					In 2016, the "Training Effectiveness Promotion Mode" was promoted mainly in facilities located in mainland China. We implemented training and development of technical personnel in a systematic and well-organized approach by establishing the training mechanism via high level involvement from departmental direct supervisors and senior personnel. The training and technical skill assessment are also well communicated by senior personnel, through task learning such as project task setting, technical skill documentation output and publication, and through planning in technical output, review, sharing, management, and application.
				</p>
				<h4 class="sub-title">Action - Sharing & Improvement</h4>
			</div>
			<div class="col-sm-8">
				Employees' innovative spirits, talents and passion are the driving force of ASE's success. Our HR development training begins with the basic 'Six-Path Employee Career Development System' and our training results are assessed through the "Training Effectiveness Promotion Mode". We also hold internal HR seminars by inviting university professors to speak at these events. At these seminars, participants contribute ideas and engage in discussions on plans and actions to help the company's sustainable development. In 2016, our Chief Operating Officer and Facility General Manager attend two seminars to support the company's goals on employee motivation and talent development.
			</div>
			<div class="col-sm-4">
				<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/employee_development1.jpg">
			</div>
		</div>
		<br>
	</section>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script>
	$(document).ready(function(){
	    $('[data-toggle="popover"]').popover();   
	});
	</script>