﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
    ViewBag.Title = "Employee Care";
    ViewBag.zhURL = "/ch/csr/employee_care_development/employee_care";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-csr">
		<h1 class="page-title-csr title-large">CORPORATE SOCIAL RESPONSIBILITY</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->

	<!-- Letter from the Chairman -->
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">Employee Care</h3>
				<p>
					Employees will be motivated to stay with a company where they are well respected, fairly compensated, and can see possibilities for growth and personal development. ASE provides a comfortable work environment that is conducive to employees' productivity and development. We also strive to create an inclusive workplace that welcomes men and women of different nationality, cultural, religion, and ethnic backgrounds, so they can all grow and develop together within the ASE family.
				</p>
				<h4 class="sub-title">Respect Employees' Opinions</h4>
					We respect employees' opinions and provide various channels for employees to voice any comments or concerns they may have related to their workplace. Our Human Resources Department has provided various two-way communication channels, including:<br>
					<ul class="nopadding">
						<li>Intranet - to publish company's latest news</li>
						<li>E-mails Announcements - to announce group-wide updates and messages from top management</li>
						<li>Bulletin Boards - to provide information related to labor compliance policy, health and safety, and company activities</li>
						<li>On-Site TV News / Information - to broadcast employees' welfare-related information</li>
						<li>General Manager Mailbox - to deliver employees' opinions / suggestions to GM directly</li>
						<li>Plant Director Mailbox - to deliver operators' opinions / suggestions to Plant Director directly</li>
						<li>Employee Opinions Box - to collect and respond to employees' grievance and feedback</li>
						<li>Employee Symposium - to share and discuss work experiences</li>
						<li>Topics Workshop - to discuss and resolve specific issues via brain-storming sessions with relevant employees</li>
						<li>Counseling Room - to provide one-on-one counseling sessions</li>
						<li>Labor Meeting - to have a communication between HR & labor representative quarterly</li>
					</ul>
				<p>
					In addition to the aforementioned communication channels, ASE emphasizes and prioritizes dialogues among managers and employees. Managers are expected to actively communicate with our employees, and in turn, employees are encouraged to provide direct feedback to management via faceto- face dialogues, online surveys, informal gathering and learning course discussion. We also hold a number of workshops. In addition, ASE's facilities also publish journals with employees' interviews so employees are provided an additional channel to express their viewpoints.<br><br>

					<strong>Labor Unions</strong><br>
					ASE respects employees' human rights and harmonious labor/management relations. ASE has entered into collective agreements with the labor unions at ASE Kaohsiung of Taiwan, ASE Weihai/Suzhou/Wuxi of China, ASE Korea, ASE Japan, ASE Singapore and USI, and these Unions have been serving ASE employees for many years. To safeguard and improve employees' rights and interests, our Shanghai Packaging and Testing Plant has also established the "Shanghai Plant Employees' Union" last year.<br><br>

					At the end of 2016, the total number of union members was 28,876, accounting for around 43% of ASE Group total headcount. Union meetings are held once every quarter to communicate with employee representatives and resolve employee welfare related issues.<br><br>

					<strong>Employee Engagement</strong><br>
					Our "ASE Group Employee Engagement Survey Implementation Guidelines" was formulated to systematically collect and analyze employees' feedback and suggestions concerning ASE's policies. We expect all facilities to follow the principles and implementation of the guidelines and focus on: Corporate Culture, Work Environment, Training & Development, Leadership & Management, Employee Relations and Compensation and Benefits. We conduct employee satisfaction surveys every two years with the upcoming one in 2017 where we target to achieve a 73% satisfaction score, an increase of 3% over year 2015. In order to encourage employee involvement, we conducted a total of 320 communications with new employees, 341 symposiums with foreign employees and arranged 263 communication sessions with general employees in 2016.
				</p>

				<h4 class="sub-title">Compensation & Welfare</h4>
				<p>
					We offer competitive, performance-oriented compensation and profit-sharing schemes with employees. We also develop various welfare measures for our employees to help take better care of our employees and their families.<br><br>

					<strong>Compensation System</strong><br>
					In addition to offering fair and non-discriminatory compensation, our full-time employees are entitled to a consistent remuneration package. ASE reviews local market pay practices annually to ensure our employees' base pay remains competitive. In 2016, the ratio of the basic salary of women to men for direct employees is 1 : 1.04; and for indirect employees<a href="javascript:;" data-toggle="popover" data-trigger="hover" data-content="Indirect employee is defined as any other regular employees other than direct employee (e.g. front-line plant operators)." data-placement="bottom">*</a> 1 : 1.14. We offer monthly incentive bonuses and annual profit-sharing bonuses to reward employees' diligent contribution to the company. Cash bonuses are rewarded to employees with top performance each month based on our business results. Annual bonuses are rewarded to employees who have fulfilled their responsibilities and delivered superior results within the financial year. In 2016, ASE paid our employees approximately US$155 million through incentive bonuses. In addition, to encourage employees to work hard and remain with the company for long-term, ASE has established an employee stock option program designed to recognize employees with outstanding performance while inviting them to become shareholders of the company. Each employee stock option is valid for ten years from the date it is granted.<br><br>
					
					<strong>Welfare System</strong><br>
					ASE pays attention to employees' interests and cares about employees' physical and mental health while working in the company. Thus, we have established "Employee Welfare Committee", "Employee Meal Committee" and "Labor Pension Fund Committee" aiming to develop a more comprehensive and sound welfare system for our employees.
				</p>
			</article>
		</div>
		<div class="content-lg row csr">
			<article class="col-xs-12">
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
					<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
								<span class="black-text-in-box accordion-center-text">Care for "Food" - Meal Subsidies</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>

						<div id="collapseOne" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<div class="col-md-8">
									<p>ASE provides clean and welldesigned dining restaurants at its facilities, and subsidizes 50% (or above) of employee meal expenses. To ensure healthier and tastier meals, the restaurants update their menus every quarter and ensure that ingredients are from hygienic and reliable sources.</p>
								</div>
								<div class="col-md-4">
									<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/employee_care.jpg"><br>
									Cafeteria, ASE Kaohsiung
								</div>
							</div>
						</div>
	  				</div>
	  				<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
								<span class="black-text-in-box accordion-center-text">Care for "Accommodation" - Employee Dormitory</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>

						<div id="collapseTwo" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingTwo">
							<div class="panel-body">
								<div class="col-md-8">
									<p>To provide special care to employees from out of town, we built our own dormitories in Kaohsiung, Shanghai, Kunshan and Weihai facilities. We also added buildings accommodating couples in Shanghai's employee dormitory last year and replaced old equipment and furniture. In 2015, we invested around US$31.6 million (NT$1 billion) to build a new dormitory at the Kaohsiung facility. In 2016, we invested about US$115K to purchase various equipment and supplies to ensure safety. In 2017, we expect to provide more comfortable accommodations for over 3,000 out-of-town employees.</p>
								</div>
								<div class="col-md-4">
									<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/employee_care1.jpg"><br>
									Dormitory, ASE Kunshan
								</div>
							</div>
						</div>
	  				</div>
	  				<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
								<span class="black-text-in-box accordion-center-text">Care for "Transportation" - Shuttle Bus within Facilities</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>

						<div id="collapseThree" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingThree">
							<div class="panel-body">
								<div class="col-md-8">
									<p>ASE cares about the convenience and safety associated with employees' transportation. We provide shuttle bus pick-up and drop-off services between employee dormitories and facilities as well as shuttle bus services between facilities. Employees' parking fees within Shanghai employee Living Area are subsidized by ASE. In 2016, a license plate recognition system was installed at the employee living area to improve the safety and security of the residents.</p>
								</div>
								<div class="col-md-4">
									<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/employee_care2.jpg"><br>
									Shuttle Bus within Facilities, ASE Kaohsiung
								</div>
							</div>
						</div>
	  				</div>
	  				<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
								<span class="black-text-in-box accordion-center-text">Care for "Body" - Health Examination / Health Facilities</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>

						<div id="collapseFour" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingFour">
							<div class="panel-body">
								<div class="col-md-8">
									<p>We care about employees' health and provide free physical health examinations to our employees at the clinics. There are also wellequipped gyms at many of our facilities that are free of charge. Additionally, employees have access to massage centers for fatigue and stress relief.</p>
								</div>
								<div class="col-md-4">
									<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/employee_care3.jpg"><br>
									Employee Health Clinic, ASE Kaohsiung
								</div>
							</div>
						</div>
	  				</div>
	  				<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
								<span class="black-text-in-box accordion-center-text">Care for "Heart"- Insurance Program / Retirement Scheme</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>

						<div id="collapseFive" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingFive">
							<div class="panel-body">
								<div class="col-md-8">
									<p>
									<span style="font-size: 16px; font-weight: bold;">Insurance Program</span><br>
									All ASE employees are covered by the national labor insurance and group insurance, including life insurance, accidental injury insurance, medical insurance, cancer insurance, and more. ASE also provides travel insurance for employees going on business trips. ASE also offers free group insurance to our employees' spouses and children.<br><br>

									<span style="font-size: 16px; font-weight: bold;">Retirement Scheme</span><br>
									<strong>Defined benefit plans</strong><br>
									The Company and its subsidiaries in Taiwan joined the defined benefit pension plan under the ROC Labor Standards Law operated by the government. Pension benefits are calculated on the basis of the length of service and average monthly salaries of the last six months before retirement. The Company and its subsidiaries in Taiwan make contributions based on a certain percentage of their domestic employees monthly salaries to a pension fund administered by the pension fund monitoring committee.<br><br>

									ASE Japan has a pension plan under which eligible employees with more than ten years of service are entitled to receive pension benefits based on their length of service and salaries at the time of termination of employment. ASE Japan makes contributions based on a certain amount of pension cost to employees. ASE Korea also has a pension plan under which eligible employees and directors with more than one year of service are entitled to receive a lump-sum payment upon termination of their service with ASE Korea, based on their length of service and salaries at the time of termination. ASE Korea makes contributions based on a certain percentage of pension cost to an external financial institution administered by the management and in the names of employees.<br><br>
									<strong>Defined Contribution Plans</strong><br>
									The pension plan under the ROC Labor Pension Act (“LPA”) for the Group’s ROC resident employees is a government-managed defined contribution plan. Based on the LPA, the Company and its subsidiaries in Taiwan makes monthly contributions to employees’ individual pension accounts at 6% of their monthly salaries. The subsidiaries located in China, U.S.A., Malaysia, Singapore and Mexico also make contributions at various ranges according to relevant local regulations.</p>
								</div>
								<div class="col-md-4">
									<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/employee_care4.jpg"><br>
									Employee Health Clinic, ASE Kaohsiung
								</div>
							</div>
						</div>
	  				</div>
	  				<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
								<span class="black-text-in-box accordion-center-text">Care for "Female" - Friendly Environment and Facility</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>

						<div id="collapseSix" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingSix">
							<div class="col-md-8">
									<p>We consider the needs of our female employees and offer reserved parking spaces for pregnant employees, as well as private nursing rooms at ASE facilities in Kaohsiung, Chungli, Japan, Korea, Malaysia, Singapore, Shanghai, Suzhou, Weihai, Wuxi, ISE Labs and USI.</p>
								</div>
								<div class="col-md-4">
									<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/employee_care5.jpg"><br>
									Nursing Room, ASE Chungli
								</div>
						</div>
	  				</div>
	  				<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
								<span class="black-text-in-box accordion-center-text">Care for "Foreign Employees" - Adaptation Assistance</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>

						<div id="collapseSeven" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingSeven">
							<div class="panel-body">
								<div class="col-md-8">
									<p>As soon as foreign employees join ASE, we will arrange language classes for them to aid in their education and training. Translators are also available at our facilities. New employees will also be provided information regarding local life and culture, and they will be guided by other more senior and knowledgeable foreign employees. All foreign workers are entitled to the same benefits enjoyed by local employees.</p>
								</div>
								<div class="col-md-4">
									<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/employee_care6.jpg"><br>
									Adaptation Assistance, ASE Kaohsiung
								</div>
							</div>
						</div>
	  				</div>
	  				<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
								<span class="black-text-in-box accordion-center-text">Care for "Family" - Child Care</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>

						<div id="collapseEight" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingEight">
							<div class="panel-body">
								<div class="col-md-8">
									<p>When families are cared for properly, employees can feel at ease working. At ASE Chungli and Korea, we have established kindergartens to provide child care services to employees. If employees need to stay at home to focus on child care, employees can apply for paid parental leave. In addition, ASE also offers subsidies for marriage, bereavement, hospitalization, scholarships, and birthday.</p>
								</div>
								<div class="col-md-4">
									<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/employee_care7.jpg"><br>
									Day Care Center, ASE Chungli
								</div>
							</div>
						</div>
	  				</div>
	  			</div>
  			</article>
  		</div>
	</section>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script>
	$(document).ready(function() {
		$('[data-toggle="popover"]').popover();  
		$('.accordion-center-text').click(function(e){
			if ($(this).hasClass('black-text-in-box')) {
				$('.blue-text-in-box').removeClass('blue-text-in-box').addClass('black-text-in-box');
				$(this).removeClass("black-text-in-box");
				$(this).addClass("blue-text-in-box");      //add the class to the clicked element
			} else {
				$(this).removeClass("blue-text-in-box");
				$(this).addClass("black-text-in-box");      //add the class to the clicked element
			}
		});
	})
	</script>