﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-csr">
		<h1 class="page-title-csr title-large">CORPORATE SOCIAL RESPONSIBILITY</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
			</ol> 
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">Employee Health and Safety</h3>
				<p>
					ASE Group is committed to providing employees with a safe, healthy and conducive work environment. We formulate occupational health and safety ("OHS") management principles to effectively prevent the occupational accidents and to ensure the health and safety of our employees during business related activities at ASE. The main focuses of ASE's OHS management include OHS management system and health and medical care.<a href="javascript:;" data-toggle="popover" data-trigger="hover" data-content="The two focus areas “Risk Management” and “Disaster Response and Emergency Drills” disclosed in ASE 2015 Corporate Social Responsibility Report have been incorporated into the OHS management system." data-placement="bottom">*</a><br><br>

					In accordance with the "OHSAS 18001", "EICC Code of Conduct" and local laws and regulations, we target "zero accidents" at all of ASE's manufacturing facilities. We have established OHS management organizations, formulated management measures and procedures, and designed regular audit processes to ensure that the OHS management system is implemented properly to prevent all types of accidents and ensure employees' health and safety.<br><br>

					ASE's global facilities observe occupational safety, emergency response, work injury and occupational disease prevention, industrial hygiene, physical labor work, machinery protection, public health and accommodation, health and safety information covered under the OHS management system. Our facilities are also certified OHSAS 18001<a href="javascript:;" data-toggle="popover" data-trigger="hover" data-content="We have obtained OHSAS 18001 certification for ASE-Kaohsiung, Chungli, Nantou, Shanghai (A&T), Shanghai (Material), Kunshan, Suzhou, Weihai, Wuxi, Korea, and Singapore, USI-Taiwan, Zhangjiang, Shenzhen, Kunshan, and Mexico." data-placement="bottom">*</a> and compliant with local health and safety regulations. On an annual basis, we assess and identify risks for all new or modified manufacturing processes ascertain risks and establish control procedures where needed.<br><br>

					We identify specific high-risk manufacturing processes that could expose our employees to hazards such as ionizing radiation, noise, dangerous chemicals and dust. These employees are provided with high quality protective equipment and undergo routine medical screenings to ensure that their health is in check.
				</p>
				<strong>OHS Management Processes</strong>
				<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/employee_health_and_safety1.png" class="hide-in-small">
				<div class="col-xs-12 hide-in-large nopadding">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/employee_health_and_safety11.png">
				</div>
				<div class="clearfix"></div><br>
				<h4 class="sub-title">Major Occupational Injuries and Preventive Measures</h4>
				<p>
					In 2016, we reported one major occupational injury at ASE Group. An employee cleaning the mold press at the Kaohsiung facility was injured due to the activation of the mold press of another employee by mistake. All the mold press in the production floor were immediately stopped and the Labor Inspection Agency from the Export Processing Zone Administration, MOEA(Ministry of Economic Affairs) were sent in to investigate. Following the incident, ASE thoroughly reviewed all machine operating procedures and implemented further safety measures by installing shutter monitoring devices, automatic shutdown systems and replaced the manual operation of the machine with an automated system.<br><br>

					In 2016, at ASE, the total number of occupational injuries was 127, Injury Rate (IR) 0.181, Lost Day Rate (LDR) 10.27, Absentee Rate (AR) 7,366, and Occupational Diseases Rate (ODR) was 0, Disabling Injury Frequency Rate (FR) was 0.906, Disabling Injury Severity Rate (SR) 49.964. Detailed information is as shown in Appendix "2016 Occupational Health and Safety Statistics Data". The FR and SR for EMS facility were 0.095 and 8.674, respectively, and both are lower than the average of Taiwan's electronics and components industry<a href="javascript:;" data-toggle="popover" data-trigger="hover" data-content="Taiwan's electronic components industry FR and SR average score (2014~2016) was 0.91 and 25." data-placement="bottom">*</a>; the FR and SR for ATM facility were 1.414 and 61.919, respectively, and both are higher than the average of Taiwan's semiconductor industry<a href="javascript:;" data-toggle="popover" data-trigger="hover" data-content="Taiwan's semiconductor industry FR and SR average score (2014~2016) was 0.54 and 8." data-placement="bottom">*</a>. Among them, the increase in injury lost days due to disability injury was mainly related to the aforementioned major occupational injuries.
				</p>
			</article>
			<div class="col-sm-7 col-md-8">
				<h4 class="sub-title">Health and Medical Care</h4>
				<p>
					ASE provides employees with comprehensive medical and health care, ranging from preventative care, statutory infectious disease emergency response procedures to emergency rescue response procedures.<br><br>

					Through monitoring and analyzing our employees' health records, ASE is able to determine areas of risks and concerns affecting the employees' health and to actively improve their physical well-being. Employees with potential medical high risk are invited to participate in health improvement activities.
				</p>
			</div>
			<div class="col-xs-12 col-sm-5 col-md-4">
				<div class="col-xs-10 col-xs-offset-1 nopadding">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/employee_health_and_safety.png"><br><br>
				</div>
			</div>
			<div class="col-xs-12">
				<strong>Health Care Management Process</strong>
				<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/employee_health_and_safety2.png" class="hide-in-small">
				<div class="col-xs-12 hide-in-large nopadding">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/employee_health_and_safety21.png">
				</div>
				<div class="clearfix"></div><br>
				<strong>Health Improvement Actions</strong><br>
				<div class="color-4box">
					<div class="orange-4box">
						<div class="color-4box-heading">Health Education</div>
						<ul class="nopadding">
							<li>Themed health education platforms</li>
							<li>Themed health information flyers</li>
							<li>Packaged health education and health screening reports</li>
						</ul>
					</div>
					<div class="light-orange-4box">
						<div class="color-4box-heading">Health Promotion</div>
						<ul class="nopadding">
							<li>Healthy lifestyle, healthy living</li>
							<li>Community health promotion</li>
							<li>Workplace health promotion</li>
						</ul>
					</div>
					<div class="light-yellow-4box">
						<div class="color-4box-heading">Health Screening</div>
						<ul class="nopadding">
							<li>Community preventive health checkup</li>
							<li>Employee annual health screening</li>
							<li>Physical examination for new hires</li>
							<li>Additional annual health screening for specific job positions</li>
						</ul>
					</div>
					<div class="yellow-4box">
						<div class="color-4box-heading">Prevention and treatment of infectious disease</div>
						<ul class="nopadding">
							<li>Epidemic prevention system procedure standardization</li>
							<li>Infectious disease inspection agency (approved by Ministry of Health and Welfare)</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script>
	$(document).ready(function(){
	    $('[data-toggle="popover"]').popover();   
	});
	</script>