﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-csr">
		<h1 class="page-title-csr title-large">CORPORATE SOCIAL RESPONSIBILITY</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->
	<!-- Letter from the Chairman -->
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">Global Workforce</h3>
				<p>
					In 2016, ASE's workforce comprises of over 66,000 employees in 9 countries over three continents with most employees working in Taiwan (53%) and in China (34%). 94% are regular employees, while the remaining 6% contract employees; 60% are our direct employees, and the remaining indirect ones. ASE Group has a relatively gender-balanced workforce, and about 50% of our employees are females. Our employees' average duration of service is 5 years, and 49% and 47% of our employees are of age groups between 16 to 30 and 30 to 50, respectively. In addition, over 53% of ASE Group's employees have Bachelor's Degrees or above.
				</p>
				<div class="col-xs-12 col-sm-8 col-md-4 col-md-offset-2 text-center">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/global_workforce.png" style="padding-bottom: 10px"><br>
					<strong>Geographical Distribution</strong><br><br>
				</div>
				<div class="col-xs-12 col-sm-8 col-md-4 text-center">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/global_workforce1.png" style="padding-bottom: 10px"><br>
					<strong>Educational Background Distribution</strong>
				</div>
				<div class="clearfix"></div>
				<br>
				<h4 class="sub-title inline">Workforce Structure</h4><a href="javascript:;" data-toggle="popover" data-trigger="hover" data-content="The workforce data covers all of our manufacturing facilities, but excludes our sales, administrative and other offices located in North America and Europe." data-placement="bottom"><span style="position:relative; top:-5px; left:1px;">*</span></a><br><br>

				<div class="col-xs-12 col-sm-8 col-md-4 text-center">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/global_workforce2.png" style="padding-bottom: 10px"><br>
					<strong>All Employees by Gender</strong><br><br>
				</div>
				<div class="col-xs-12 col-sm-8 col-md-4 text-center">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/global_workforce3.png" style="padding-bottom: 10px"><br>
					<strong>Regular / Non-Regular Employees</strong><br><br>
				</div>
				<div class="col-xs-12 col-sm-8 col-md-4 text-center">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/global_workforce4.png" style="padding-bottom: 10px"><br>
					<strong>Employee Age Distribution</strong><br><br>
				</div>
				<div class="col-xs-12 col-sm-8 col-md-4 col-md-offset-2 text-center">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/global_workforce5.png" style="padding-bottom: 10px"><br>
					<strong>Employees by Job Category</strong><br><br>
				</div>
				<div class="col-xs-12 col-sm-8 col-md-4 text-center">
					<a href="javascript:;" data-toggle="popover" data-trigger="hover" data-content="Local Hired refers to the employee whose nationality is the same as the country where our facility is located." data-placement="bottom"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/global_workforce6.png" style="padding-bottom: 10px"></a><br>
					<strong>Senior Management</strong><a href="javascript:;" data-toggle="popover" data-trigger="hover" data-content="Senior Management refers to Managers, Department Directors, Vice Presidents and above." data-placement="bottom"><span style="position:relative;">*</span></a>
				</div>
				<div class="clearfix"></div>

				<h4 class="sub-title">Diversified Employee Recruitment</h4>
				<p>
					A healthy, motivated workforce is vital to ASE's success. We aim to ensure the diversity of our workforce to better serve our global client base and to continue delivering market-leading technologies. ASE deploys a diversified and non-discriminatory recruitment policy; we do not discriminate against race, gender, nationality, religion, political affiliation or age. In 2016, ASE has employed 403 disabled persons, a 6% increase compared to 380 in 2015. All of ASE's global facilities abide by their local laws and regulations and comply with EICC (Electronic Industry Citizenship Coalition) labor guidelines. To create local employment opportunities and cultivate a new generation of youths, ASE's Kaohsiung, Chungli, USI, Shanghai, Suzhou facilities cooperate with local universities on recruitment projects.<br><br>

					In addition to setting a clear recruitment policy, ASE uses a variety of competitive recruiting practices to recruit and maintain a diverse and talented workforce. Our recruiting approaches include employee referral programs, National Defence Conscription Substitute Programs, job fairs, online job posts through social media and job search bulletin boards.
				</p>
				<div class="col-xs-12 col-sm-8 col-md-4 col-md-offset-2 text-center">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/global_workforce7.png" style="padding-bottom: 10px"><br>
					<strong>New Employee Share of Total Workforce</strong><br><br>
				</div>
				<div class="col-xs-12 col-sm-8 col-md-4 text-center">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/global_workforce8.png" style="padding-bottom: 10px"><br>
					<strong>Disable Employee Number</strong>
				</div>
				<div class="clearfix"></div>
			</article>
		</div>
	</section>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script>
	$(document).ready(function() {
		$('[data-toggle="popover"]').popover();  
		$('.accordion-center-text').click(function(e){
			if ($(this).hasClass('black-text-in-box')) {
				$('.blue-text-in-box').removeClass('blue-text-in-box').addClass('black-text-in-box');
				$(this).removeClass("black-text-in-box");
				$(this).addClass("blue-text-in-box");      //add the class to the clicked element
			} else {
				$(this).removeClass("blue-text-in-box");
				$(this).addClass("black-text-in-box");      //add the class to the clicked element
			}
		});
	})
	</script>