﻿@{
  Layout = "~/Areas/Backend/Views/Home/index.cshtml";
  Dictionary<string, string> error = (Dictionary<string, string>)TempData["error"];
  string str = "";
}

@using web.Models
@using web.Common
@model home_page

<div class="box-header with-border">
  <h3 class="box-title"></h3>
  <div class="box-tools pull-right">
    <a class="btn btn-warning" href="@Url.Action("List")" role="button"> Back </a>
  </div>
</div>
<div class="box-body form-horizontal">
  @using (Html.BeginForm())
  {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(x => x.id)
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group ">
          <label class="col-sm-2 control-label">語系:</label>
          <div class="col-sm-4">
            @{
              str = "lang";
            }
            <select class="form-control" name="@(str)">
              <option value="en" @(Model.lang == "en" ? "selected" : "")>English</option>
              <option value="ch" @(Model.lang == "ch" ? "selected" : "")>繁體中文</option>
            </select>
            <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group ">
          <label class="col-sm-2 control-label"><i class="required"> * </i> 標題:</label>
          <div class="col-sm-4">
            @{
              str = "title";
            }
            @Html.TextBox(str, Model.title, new { @class = "form-control", maxlength = 120, @required = "required" })
            <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
          </div>
          <label class="col-sm-4">
              <input type="checkbox" name="is_show_title" @(Model.is_show_title == true ? "checked" : "") />顯示
          </label>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group ">
          <label class="col-sm-2 control-label"><i class="required"> * </i> 內容:</label>
          <div class="col-sm-4">
            @{
              str = "contents";
            }
            @Html.TextArea(str, Model.contents, new { @class = "form-control", @required = "required", @rows = 6 })
            <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
          </div>
          <label class="col-sm-4">
            <input type="checkbox" name="is_show_content" @(Model.is_show_content == true ? "checked" :"" ) />顯示
          </label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group ">
          <label class="col-sm-2 control-label"><i class="required"> * </i> 電腦版圖片:</label>
          <div class="col-sm-4">
            @{
              str = "banner_web";
            }

            <div id="img_explorer" class="file_explorer"></div>
            <div>建議圖片尺寸：1920 * 900 px</div>
            <div id="img_preview">
              @if (!Model.banner_web.Contains(".mp4"))
              {
                <img src="@(ViewBag.website_virtual_path + Model.banner_web)" style="max-width:270px; max-height:270px; margin-right:10px;margin-top:5px;" onError="this.style.display = 'none'" />
              }
              else
              {
                <video src="@(ViewBag.website_virtual_path + Model.banner_web)" style="max-width:270px; max-height:270px; margin-right:10px;margin-top:5px;" controls></video>
              }
            </div>


            <div id="btn_cancel_img_filename" style="@(Model.banner_web == "" ? "display:none" : "")">
              <input value="Delete" type="button" class="btn" />
            </div>

            <input type="hidden" id="img1_x1" name="img1_x1" value="" runat="server" />
            <input type="hidden" id="img1_y1" name="img1_y1" value="" runat="server" />
            <input type="Hidden" id="img1_x2" name="img1_x2" value="" runat="server" />
            <input type="hidden" id="img1_y2" name="img1_y2" value="" runat="server" />
            <input type="hidden" id="img1_scale" name="img1_scale" value="" runat="server" />

            <input type="hidden" name="img_filename" id="img_filename" value="@(ViewBag.website_virtual_path + Model.banner_web)" />
            <input type="hidden" name="old_img_filename" id="old_img_filename" value="@(ViewBag.website_virtual_path + Model.banner_web)" />
            <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group ">
          <label class="col-sm-2 control-label"><i class="required"> * </i> 手機版圖片:</label>
          <div class="col-sm-4">
            @{
              str = "banner_mobile";
            }

            <div id="img_explorer2" class="file_explorer"></div>
            <div>建議圖片尺寸：900 * 1024 px</div>
            <div id="img_preview2">
              @if (!Model.banner_mobile.Contains(".mp4"))
              {
                <img src="@(ViewBag.website_virtual_path + Model.banner_mobile)" style="max-width:270px; max-height:270px; margin-right:10px;margin-top:5px;" onError="this.style.display = 'none'" />
              }
              else
              {
                <video src="@(ViewBag.website_virtual_path + Model.banner_mobile)" style="max-width:270px; max-height:270px; margin-right:10px;margin-top:5px;" controls></video>
              }
            </div>
            <div id="btn_cancel_img_filename2" style="@(Model.banner_mobile == "" ? "display:none" : "")">
              <input value="Delete" type="button" class="btn" />
            </div>

            <input type="hidden" id="img2_x1" name="img2_x1" value="" runat="server" />
            <input type="hidden" id="img2_y1" name="img2_y1" value="" runat="server" />
            <input type="Hidden" id="img2_x2" name="img2_x2" value="" runat="server" />
            <input type="hidden" id="img2_y2" name="img2_y2" value="" runat="server" />
            <input type="hidden" id="img2_scale" name="img2_scale" value="" runat="server" />

            <input type="hidden" name="img_filename2" id="img_filename2" value="@(ViewBag.website_virtual_path + Model.banner_mobile)" />
            <input type="hidden" name="old_img_filename2" id="old_img_filename2" value="@(ViewBag.website_virtual_path + Model.banner_mobile)" />
            <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group ">
          <label class="col-sm-2 control-label"><i class="required"> * </i> 連結:</label>
          <div class="col-sm-4">
            @{
              str = "link";
            }
            @Html.TextBox(str, Model.link, new { @class = "form-control", maxlength = 512, @required = "required" })
            <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
          </div>
          <label class="col-sm-4">
              <input type="checkbox" name="is_show_link" @(Model.is_show_link == true ? "checked" : "") />顯示
          </label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <div class="col-sm-2 col-sm-offset-2">
            <button class="btn btn-success btn-block" type="submit">Submit</button>
          </div>
          <div class="col-sm-2">
            <button class="btn btn-danger btn-block" type="reset">Reset</button>
          </div>
        </div>
      </div>
    </div>
  }
</div>

@{
  ViewBag.media_bank_physical_path = Server.MapPath(Url.Content("~/" + ViewBag.media_bank_path)).Replace("\\", "\\\\");
  ViewBag.media_bank_virtual_path = Url.Content("~/" + ViewBag.media_bank_path);

  List<Dictionary<string, int>> ratio_list = (List<Dictionary<string, int>>)ViewBag.ratio;
}
<!-- jqueryFileTree -->
<link rel="stylesheet" href="~/Content/jqueryFileTree.css">
<link href="~/Content/imgareaselect/imgareaselect-default.css" rel="stylesheet" />
<script src="~/Scripts/imgareaselect/jquery.imgareaselect.pack.js"></script>
<script src="~/Scripts/jqueryfiletree/jqueryFileTree.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(
        function () {
            $('#img_explorer').fileTree({
                root: '@ViewBag.media_bank_physical_path.ToLower()',
                script: '@Url.Content("~/Scripts/jqueryfiletree/jqueryFileTree.aspx").ToLower()',
                //folderEvent: 'click',
                expandSpeed: 1
                , collapseSpeed: 1
                , filter: "jpg,gif,png,jpeg,bmp,mp4"
            },
                function (file) {
                    file = file.replace( /@(ViewBag.media_bank_physical_path)/i, "@(ViewBag.media_bank_virtual_path)" );
                    $("#img_preview").html("");
                    $("#btn_cancel_img_filename").show();
                    $("#img_filename").val(file);
                    if (file.indexOf('.mp4') === -1) {
                        var imgEle = document.createElement("img");
                        $("#img_preview").append(imgEle);

                        $(imgEle).attr("src", file);

                        var max_width = 600;

                        var img = new Image();
                        img.src = file;
                        img.onload = function () {
                            $('input[name="img1_scale"]').val(1);
                            if (img.width > max_width) {
                                $('input[name="img1_scale"]').val(max_width / img.width);
                                img.width = max_width;
                                //$("#preview_img_filename").css("width", img.width);
                            }
                            else {
                                //$("#preview_img_filename").css("width", "auto");
                            }

                            $(imgEle).css("display", "");
                        }


                        $(imgEle).imgAreaSelect(
                            {
                            @if( ratio_list.Count > 0 )
                            {
                                @:aspectRatio: "@(ratio_list[0]["width"]):@(ratio_list[0]["height"])",
                            }
                                fadeSpeed: 100,
                                handles: true,
                                instance: true,
                                onSelectChange: preview
                            });
                    } else {
                        var video = document.createElement('video');
                        video.setAttribute('src', file);
                        video.setAttribute('controls', true);
                        $("#img_preview").append(video);
                    }


            });
            $("#btn_cancel_img_filename").click(function()
            {
                $("#img_filename").val('');
                $("#img_preview").html("");
                $("#btn_cancel_img_filename").hide();
            });


            // ----------------------------------------------------------------------------------------------------------------------------------------------------------------------


            $('#img_explorer2').fileTree({
                    root: '@ViewBag.media_bank_physical_path.ToLower()',
                    script: '@Url.Content("~/Scripts/jqueryfiletree/jqueryFileTree.aspx").ToLower()',
                    //folderEvent: 'click',
                    expandSpeed: 1
                    ,collapseSpeed: 1
                    ,filter: "jpg,gif,png,jpeg,bmp,mp4"
                },
                function (file) {
                     file = file.replace( /@(ViewBag.media_bank_physical_path)/i, "@(ViewBag.media_bank_virtual_path)" );
                    $("#img_preview2").html("");
                    $("#btn_cancel_img_filename2").show();
                    $("#img_filename2").val(file);
                    if (file.indexOf('.mp4') === -1) {
                        var imgEle = document.createElement("img");
                        $("#img_preview2").append(imgEle);

                        $(imgEle).attr("src", file);
                        var max_width = 600;

                        var img = new Image();
                        img.src = file;
                        img.onload = function () {
                            $('input[name="img2_scale"]').val(1);
                            if (img.width > max_width) {
                                $('input[name="img2_scale"]').val(max_width / img.width);
                                img.width = max_width;
                                //$("#preview_img_filename").css("width", img.width);
                            }
                            else {
                                //$("#preview_img_filename").css("width", "auto");
                            }

                            $("#preview_img_filename2").css("display", "");
                        }


                        $('#preview_img_filename2').imgAreaSelect(
                            {
                            @if( ratio_list.Count > 0 )
                            {
                                @:aspectRatio: "@(ratio_list[0]["width"]):@(ratio_list[0]["height"])",
                            }
                                fadeSpeed: 100,
                                handles: true,
                                instance: true,
                                onSelectChange: preview2
                            }
                        );
                    } else {
                        var video = document.createElement('video');
                        video.setAttribute('src', file);
                        video.setAttribute('controls', true);
                        $("#img_preview2").append(video);
                    }

                }
            );
            $("#btn_cancel_img_filename2").click(function()
            {
                $("#img_filename2").val('');
                $("#img_preview2").html('');
                $("#btn_cancel_img_filename2").hide();
            });
        }
    );

    function preview(img, selection)
    {
        $('input[name="img1_x1"]').val(selection.x1);
        $('input[name="img1_y1"]').val(selection.y1);
        $('input[name="img1_x2"]').val(selection.x2);
        $('input[name="img1_y2"]').val(selection.y2);
    }

    function preview2(img, selection) {
        $('input[name="img2_x1"]').val(selection.x1);
        $('input[name="img2_y1"]').val(selection.y1);
        $('input[name="img2_x2"]').val(selection.x2);
        $('input[name="img2_y2"]').val(selection.y2);
    }
</script>

