﻿@{
    Layout = "~/Areas/Backend/Views/Shared/_layout.cshtml";
}

<div class="box box-danger">
    <div class="box-body">
        <div class="nav-tabs-custom nav-primary">
            <ul class="nav nav-tabs">
                <li class="@(ViewBag.current_tab == "Banner"?"active":"")">
                    <a href="@Url.Action("List", "Home", new { id = ViewBag.node.wm_url_id })">Banner管理</a>
                </li>
                <li class="@(ViewBag.current_tab == "IRNews"?"active":"")">
                    <a href="@Url.Action("List", "IRNews", new { id = ViewBag.node.wm_url_id })">IR News管理</a>
                </li>
            </ul>
        </div>
        <div class="tab-content">
            @RenderBody()
        </div>
    </div>
    <div class="box-footer"></div>
</div>