﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/ch/_Layout_seo.cshtml";
    ViewBag.Title = "3D 系統級封裝";
    ViewBag.enURL = "/en/technology/3d-system-in-package";
    ViewBag.zhURL = "/ch/technology/3d-system-in-package";
    ViewBag.webSiteDesc = "日月光 3D 系統級封裝允許將更多電子元件封裝在單一構造中，提供多樣系統或子系統功能，滿足物聯網 (IoT)、邊緣計算、穿戴式裝置和下一代無線連接應用的需求。";
    ViewBag.webSiteOgImage = "https://ase.aseglobal.com/pic/public/frontend/images/technology/pic_3d-sip.jpg";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-technology">
		<h1 class="page-title title-large">3D 系統級封裝</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch/technology/technology_innovation"><span itemprop="name">先進技術</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch/technology/sip_module"><span itemprop="name">3D 系統級封裝</span></a>
					<meta itemprop="position" content="2" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->

	<!-- Technology list -->
	<section class="inside-article">
        <div class="content-lg row csr">
            <article class="col-xs-12">
                <h2 class="title">3D 系統級封裝</h2>
                <div class="col-xs-4 col-sm-2 nopadding"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/pic_3d-sip.jpg"></div>
                <div class="clearfix"></div>
                <p>
                    Driven by internet-of-things (IoT), edge computing, wearable and next generation wireless connectivity applications, more and more electronic components are assembled in a single unit to provide multiple functions associated with a system or sub-system. Initially, double side molding (DSM) technology is utilized to address the needs by assembling several die not only on one side of a substrate but on two sides (top and bottom) of the substrate. To further shrink package size and allow more function integration, ASE developed 3D System-in-Packages providing three or four-side assembly structure.
                </p>
                <p>&nbsp;</p>
                <h4 class="sub-title">What is 3D System in Package (3D SiP)?</h4>
                <p>
                    3D SiP is a very high-density assembly structure which provides three or four side assembly on top and bottom substrates interconnected by signal routing interposers therebetween to increase packaging density. Active component (fcCSP, WLCSP, silicon die, MEMS or etc..) and passive component (not only resistor, capacitor, inductor, but also X’tal<a href="javascript:;" data-toggle="popover" data-trigger="hover" data-content="Crystal Oscillator" data-placement="bottom" data-original-title="" title="">*</a> or oscillator) can be mounted on both sides of top and bottom substrates. It’s a highly integrated solution for small form factor and product modulation. Compared with double side SiP, 3D SiP can reduce more than 13% area, but only increase less than 10% thickness.
                </p>
                <p>&nbsp;</p>
                <div class="col-xs-12 col-sm-7 nopadding" style="margin-bottom: 20px;"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/pic_3d-sip-1.jpg"></div>
                <div class="col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-0" style="margin-bottom: 20px;"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/pic_3d-sip-2.jpg"></div>
                <div class="clearfix"></div>
                <p>&nbsp;</p>
                <h4 class="sub-title">Assembly process of 3D System in Package (3D SiP)</h4>
                <p>
                    The 3D SiP assembly process can be simply divided into three phases: Interposer assembly, Top board assembly and Bottom board (Module) assembly. 3D SiP assembly methods include SMT, molding, sawing, and shielding process as illustrated below:
                </p>
                <div class="col-sm-6 nopadding hide-in-small">
                    <h4>Sub-assembly process flow</h4>
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/pic_3d-sip-3.jpg">
                </div>
                <div class="col-sm-6 nopadding hide-in-small">
                    <h4>Main assembly process flow</h4>
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/pic_3d-sip-4.jpg">
                </div>
                <div class="col-xs-12 nopadding hide-in-large">
                    <p>&nbsp;</p>
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/pic_3d-sip-33.jpg">
                </div>
                <div class="clearfix"></div>
                <p>&nbsp;</p>
                <h4 class="sub-title">Key advantages of applying 3D System in Package (3D SiP)</h4>
                <div class="col-sm-4 nopadding">
                    <ul class="nopadding">
                        <li>Smaller form factor</li>
                        <li>Allow highly integrated electronic functionalities</li>
                        <li>Better electrical performance</li>
                    </ul>
                </div>
                <div class="col-xs-5 col-sm-3"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/pic_3d-sip-5.jpg"></div>
                <div class="col-xs-7 col-sm-5 hide-in-small"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/pic_3d-sip-6.jpg"></div>
                <div class="col-xs-7 col-sm-5 nopadding hide-in-large"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/pic_3d-sip-6.jpg"></div>
                <div class="clearfix"></div>
                <p>&nbsp;</p>
                <h4 class="sub-title">3D System in Package (3D SiP) Applications</h4>
                <p>
                    3D SiP is ideal for 6*6mm² to 30*30mm² package size that are designed for wearable (watch, earphone), wireless charger, RF FEM, and Sensor system. The most advantages of 3D SiP are miniaturization and more function integration, therefore, 3D SiP is a good package platform to consolidate heterogeneous chips for performing multiple functions in a relatively smaller form factor.
                </p>
            </article>
        </div>
    </section>
    <section class="inside-article">
        <div class="content-lg row csr">
            <div class=" col-md-12 tech-cont-link"><br>
            <a class="phone" href="/ch/about/plants_offices"><span class="glyphicon glyphicon-earphone"></span>  聯絡我們</a>
            </div>
        </div>
    </section>


	<!-- start of bottom technology icons -->
	<section class="inside-article">
		<div class="content-lg row">

			<div class="col-xs-12">
				
				<div class="technology-bottom-flex">
					<div class="technology-bottom"><a class="" href="@Url.Action("advanced_25DIC", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-10.png"><br>2.5D & 3D</a></div>
					<div class="technology-bottom"><a class="" href="@Url.Action("fan_out", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-01.png"><br>Fan Out</a></div>
					<div class="technology-bottom"><a class="" href="@Url.Action("sip_module", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-02.png"><br>System-in-Package</a></div>
					<div class="technology-bottom"><a class="" href="@Url.Action("mems_sensors", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-08.png"><br>MEMS &amp; Sensors</a></div>
					<div class="technology-bottom"><a class="" href="@Url.Action("embedded_die", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-09.png"><br>Embedded Die Substrate</a></div>
				</div>
			</div>
			<!-- technolog carousel -->
			<div class="row">
			<div class="col-xs-12">
				<div class="container technology-carousel">
					<div class='row'>
						<div class='col-xs-12'>
							<div class="carousel slide media-carousel" id="media">
								<!-- Indicators -->
								<ol class="carousel-indicators">
									<li data-target="#media" data-slide-to="0" class="active"></li>
									<li data-target="#media" data-slide-to="1"></li>
								</ol>
								<div class="carousel-inner">
									<div class="item  active">
										<div class="row">
											<div class="col-xs-4">
												<a class="" href="@Url.Action("advanced_25DIC", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-10.png"><br>2.5D & 3D</a>
											</div>
											<div class="col-xs-4">
												<a class="" href="@Url.Action("fan_out", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-01.png"><br>Fan Out</a>
											</div>
                                            <div class="col-xs-4">
                                                <a class="" href="@Url.Action("sip_module", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-02.png"><br>System-in-Package</a>
                                            </div>
										</div>
									</div>
									<div class="item">
										<div class="row">
                                            <div class="col-xs-4">
                                                <a class="" href="@Url.Action("mems_sensors", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-08.png"><br>MEMS &amp; Sensors</a>
                                            </div>
                                            <div class="col-xs-4">
                                                <a class="" href="@Url.Action("embedded_die", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-09.png"><br>Embedded Die Substrate</a>
                                            </div>
										</div>
									</div>
								</div>
								<a data-slide="prev" href="#media" class="left carousel-control">‹</a>
								<a data-slide="next" href="#media" class="right carousel-control">›</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
			<!-- end technology carousel -->
		</div>
	</section>
<script>
    $(document).ready(function() {

        $(".wireless-sip-module").show();
        $(".computing-storage-sip-module").hide();
        $(".sensor-optical-sip-module").hide();

        $('.bt_wireless-sip-module').click(function() {
            $(this).closest(".row").find(".bt_computing-storage-sip-module,.bt_sensor-optical-sip-module").removeClass("technology-tab-active").addClass("technology-tab-inactive");
            $(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
            $(this).closest(".row").find(".computing-storage-sip-module,.sensor-optical-sip-module").hide();
            $(this).closest(".row").find(".wireless-sip-module").fadeIn(1000);
        });
        $('.bt_computing-storage-sip-module').click(function() {
            $(this).closest(".row").find(".bt_wireless-sip-module,.bt_sensor-optical-sip-module").removeClass("technology-tab-active").addClass("technology-tab-inactive");
            $(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
            $(this).closest(".row").find(".wireless-sip-module,.sensor-optical-sip-module").hide();
            $(this).closest(".row").find(".computing-storage-sip-module").fadeIn(1000);
        });
        $('.bt_sensor-optical-sip-module').click(function() {
            $(this).closest(".row").find(".bt_wireless-sip-module,.bt_computing-storage-sip-module").removeClass("technology-tab-active").addClass("technology-tab-inactive");
            $(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
            $(this).closest(".row").find(".wireless-sip-module,.computing-storage-sip-module").hide();
            $(this).closest(".row").find(".sensor-optical-sip-module").fadeIn(1000);
        });
    });
</script>