﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/ch/_Layout_seo.cshtml";
    ViewBag.Title = "矽光子";
    ViewBag.enURL = "/en/technology/silicon-photonics";
    ViewBag.zhURL = "/ch/technology/silicon-photonics";
    ViewBag.webSiteDesc = "數據傳輸在高效能運算(HPC) 應用中變得越來越重要，而傳統的銅線受到帶寬、距離和功率要求的限制。矽光子是很有發展性的銅線替代技術，可以提供更大的帶寬、更長的傳輸距離和更好的能源效率。";
    ViewBag.webSiteOgImage = "https://ase.aseglobal.com/pic/public/frontend/images/technology/silicon-photonics.jpg";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-technology">
		<h1 class="page-title title-large">矽光子</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch/technology/technology_innovation"><span itemprop="name">先進技術</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item"><span itemprop="name">矽光子</span></a>
					<meta itemprop="position" content="2" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->

	<!-- Technology list -->
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">矽光子</h3>
                <div class="col-xs-7 col-sm-5 col-md-4 col-lg-4 nopadding" style="padding-top: 20px;"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/silicon-photonics.jpg"></div>
                <div class="clearfix"></div>
                <p>&nbsp;</p>
                <p>
                    Data transmission is becoming more and more critical in HPC application and traditional copper wire is limited by bandwidth, distance and power requirement. Silicon photonics is a promising technology to replace copper wire and it provides greater bandwidth, longer transmission distance and better energy efficiency. As a result, silicon photonics technology will be widely adopted for optical transceiver or on-board/co-packaged optics in future hyperscale datacenter.
                </p>
            </article>
            <div class="col-xs-12">
                <h4 class="sub-title">What is Silicon Photonics? Advantages of Silicon Photonics?</h4>
                <p>
                    Briefly speaking, silicon photonics (SiPh) acts as a medium to allow light travelling inside it. Thanks to modern semiconductor technologies, silicon photonics is able to leverage the existing complementary metal oxide semiconductor (CMOS) ecosystem including front-end and back-end processes to implement high density photonic integrated circuits (PIC) and enable complex optical functionality (ex: filtering or modulation) on a compact chip at low cost. Silicon photonic technology is convincing to transmit data with higher bandwidth and better energy efficiency than conventional electrical integrated circuits, which may suffer serious signal integrity distortion when transmit data at high speed.<br><br>
                </p>
                <h4 class="sub-title">The Evolution of Fiber Optics Integration</h4>
                <p>
                    There are already silicon photonics based pluggable optical transceivers up to 800Gbps in commercial. Different with front-panel transceiver, optical engine can be populated around ASIC IC package as so-called on-board optics (OBO), which is able to support 1.6T Gbps. Additional to OBO, “Co-packaged Optics” and “Optical I/O” is promising to further shorten electrical paths with highly assembly integration, so that it is possible to deliver even higher bandwidth to ensure better energy efficiency (pJ/bit) and capital expenditure ($/Gbps) over pluggable optics.<br><br>
                </p>
                <div class="col-xs-12 col-md-10 col-md-offset-1 text-center nopadding">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/pic_silicon-photonics-1.jpg">
                    <h5>The evolution of data transmission by replacing electrical circuits with optical path.</h5>
                </div>
                <div class="clearfix"></div>
                <p><br></p>
                <h4 class="sub-title">Silicon Photonics Technical Building Blocks</h4>
                <p>
                    Unlike common semiconductor manufacture experiences, silicon photonics products may need more attentive consideration when defining the overall process flow to address optical performance. Here, we list key technologies to enable pluggable, on-board and co-packaged optics:
                </p>
                <ul class="nopadding">
                    <li>Post-fab wafer-level bumping and Si-etch process</li>
                    <li>High accuracy laser die bonding</li>
                    <li>EIC<a href="javascript:" data-toggle="popover" data-trigger="hover" data-content="Electronic IC" data-placement="bottom" data-original-title="" title="">*</a>/PIC die integration (TSV/FO/CoW) to enable 2.5D/3D packaging</li>
                    <li>Wafer-level optical probing test for known good SiPh PIC die</li>
                    <li>Optical component assembly evaluation for future OBO<a href="javascript:" data-toggle="popover" data-trigger="hover" data-content="On-Board Optics" data-placement="bottom" data-original-title="" title="">*</a>/CPO<a href="javascript:" data-toggle="popover" data-trigger="hover" data-content="Co-Packaging Optics" data-placement="bottom" data-original-title="" title="">*</a> application</li>
                    <li>MCM module assembly</li>
                </ul>
                <p>&nbsp;</p>
                <p>
                    <strong>SiPh Based Pluggable Module Manufacturing Flow</strong>
                </p>
                <div class="col-xs-12 col-md-10 col-md-offset-1 nopadding">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/pic_silicon-photonics-2.jpg" class="hide-in-small">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/pic_silicon-photonics-2-sm.jpg" class="col-xs-10 col-xs-offset-1 hide-in-large">
                </div>
                <div class="clearfix"></div>
                <p><br></p>
                <h4 class="sub-title">Silicon Photonics Applications</h4>
            </div>
            <div class="col-md-5">
                <p>
                    Silicon photonics enables heterogeneous on-board optics, co-packaged optics and optical I/O packaging, which is promising to realize the following applications.
                </p>
                <ul class="nopadding">
                    <li>Hyperscale Data Center</li>
                    <li>High Performance Computing (HPC)</li>
                    <li>Artificial intelligence & Machine learning (AI & ML)</li>
                </ul>
            </div>
            <article class="col-md-7 text-center">
                <div class="col-md-12 nopadding">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/pic_silicon-photonics-3.jpg">
                </div>
            </article>
            <div class="clearfix"><br><br></div>
        </div>
        <div class="content-lg row">
        </div>
    </section>
    <section class="inside-article">
        <div class="content-lg row">
            <div class="col-xs-12 col-md-12 tech-cont-link">
				<a class="phone" href="@Url.Action("plants_offices", "About", new { lang = ViewBag.language.lang })"><span class="glyphicon glyphicon-earphone"></span>  聯絡我們 </a>
			</div>
        </div>
    </section>
    <br><br>

	<section class="inside-article">
		<div class="content-lg row">

			<div class="col-xs-12">
				<div class="technology-bottom-flex">
					<div class="technology-bottom">
                        <a class="" href="@Url.Action("advanced_25DIC", "technology", new { lang = ViewBag.language.lang })">
                        <img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-10.png"><br>2.5D & 3D</a>
                    </div>
					<div class="technology-bottom">
                        <a class="" href="@Url.Action("fan_out", "technology", new { lang = ViewBag.language.lang })">
                        <img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-01.png"><br>Fan Out</a>
                    </div>
					<div class="technology-bottom">
                        <a class="" href="@Url.Action("sip_module", "technology", new { lang = ViewBag.language.lang })">
                        <img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-02.png"><br>System-in-Package</a>
                    </div>
					<div class="technology-bottom">
                        <a class="" href="@Url.Action("mems_sensors", "technology", new { lang = ViewBag.language.lang })">
                        <img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-08.png"><br>MEMS &amp; Sensors</a>
                    </div>
					<div class="technology-bottom">
                        <a class="" href="@Url.Action("embedded_die", "technology", new { lang = ViewBag.language.lang })">
                        <img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-09.png"><br>Embedded Die Substrate</a>
                    </div>
				</div>
			</div>
			<!-- technolog carousel -->
			<div class="row">
			<div class="col-xs-12">
				<div class="container technology-carousel">
					<div class='row'>
						<div class='col-xs-12'>
							<div class="carousel slide media-carousel" id="media">
								<!-- Indicators -->
								<ol class="carousel-indicators">
									<li data-target="#media" data-slide-to="0" class="active"></li>
									<li data-target="#media" data-slide-to="1"></li>
								</ol>
								<div class="carousel-inner">
									<div class="item active">
										<div class="row">
											<div class="col-xs-4">
												<a class="" href="@Url.Action("advanced_25DIC", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-10.png"><br>2.5D & 3D</a>
											</div>
											<div class="col-xs-4">
												<a class="" href="@Url.Action("fan_out", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-01.png"><br>Fan Out</a>
											</div>
											<div class="col-xs-4">
												<a class="" href="@Url.Action("sip_module", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-02.png"><br>System-in-Package</a>
											</div>
										</div>
									</div>
									<div class="item">
										<div class="row">
											<div class="col-xs-4">
												<a class="" href="@Url.Action("mems_sensors", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-08.png"><br>MEMS &amp; Sensors</a>
											</div>
											<div class="col-xs-4">
												<a class="" href="@Url.Action("embedded_die", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-09.png"><br>Embedded Die Substrate</a>
											</div>
										</div>
									</div>
								</div>
								<a data-slide="prev" href="#media" class="left carousel-control">‹</a>
								<a data-slide="next" href="#media" class="right carousel-control">›</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
			<!-- end technology carousel -->
		</div>
	</section>
<script>
	$(document).ready(function() { 

		$('#media').carousel({
			pause: true,
			interval: false,
		});
		$("#media").swiperight(function() { /* enables the swiping on phone */
			$(this).carousel('prev');
		});
		$("#media").swipeleft(function() { /* enables the swiping on phone */
			$(this).carousel('next');
		});
		$(".technology-features-content").hide();

		$('.technology-application').click(function() {
			$(this).closest(".row").find(".technology-features").removeClass("technology-tab-active").addClass("technology-tab-inactive");
			$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
			$(this).closest(".row").find(".technology-features-content").hide();
			$(this).closest(".row").find(".technology-application-content").fadeIn(1000);
		});
		$('.technology-features').click(function() {
			$(this).closest(".row").find(".technology-application").removeClass("technology-tab-active").addClass("technology-tab-inactive");
			$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
			$(this).closest(".row").find(".technology-application-content").hide();
			$(this).closest(".row").find(".technology-features-content").fadeIn(1000);
		});
	});
</script>
