﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
    ViewBag.Title = "5G mmWave Smart Factory";
    ViewBag.enURL = "/en/solution/smart_factory_5g";
    ViewBag.zhURL = "/ch/solution/smart_factory_5g";
    ViewBag.webSiteDesc = "The application of 5G technology at ASE smart factories enables high-speed transmission and real-time data exchange that help to unleash the full potential of artificial intelligence (AI) and big data analysis applications and, in turn, allow ASE to expand its operational scope in line with the progress towards Industry 4.0.";
    ViewBag.webSiteOgImage = "~/pic/public/frontend/images/solutions/rsz_5g_smart_factory.jpg";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-solution" style="background: url(https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/banner_factory-new.jpg) no-repeat center; background-size: cover;">
		<h1 class="page-title title-large" style="background-color: rgba(0, 0, 0, 0.3); padding: 15px 10px 5px 10px; text-transform: none;">5G mmWave Smart Factory</h1>
	</section>



	<!-- Project-B Fix, Remove Old Breadcrumb -->
	<!-- content -->
	<section class="inside-article">
		<!--麵包屑 -->
		<div class="col-xs-12 living-box">
			<div class="content-lg row">
				<div class="col-xs-12">
					<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
        				<!-- Project-B Fix, Apply New Breadcrumb -->
        				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
        					<meta itemprop="position" content="0" />
        				</li>
                        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                            <a itemprop="item" href="/en"><span itemprop="name">5G mmWave Smart Factory</span></a>
                            <meta itemprop="position" content="1" />
                        </li>
					</ol>
				</div>

				<article class="col-xs-12">
                    <h3 class="title">5G mmWave Smart Factory</h3>
                    <p>
                        Next generation 5G technology is revolutionizing the development of mobile and network communications. 5G technology will not only allow larger bandwidth transmissions, but also enable lower network latency and faster real-time connectivity across a wide spectrum of IoT devices. Of significance is the application of 5G in the field of smart manufacturing.
                    </p>
                    <p>
                        Smart factories represent the next great leap for ASE to optimize manufacturing performance and accelerate towards digital transformation. The application of 5G technology at ASE smart factories enables high-speed transmission and real-time data exchange that help to unleash the full potential of artificial intelligence (AI) and big data analysis applications and, in turn, allow ASE to expand its operational scope in line with the progress towards Industry 4.0.
                    </p>
                    <p>
                        ASE is aggressively harnessing the power of 5G to upgrade our business operations. As we march towards our vision of building advanced and robust smart factories, collaboration with the best in class is key to converging AI applications with 5G technologies. We will be building the first OSAT 5G mmWave NR-DC SA (New Radio-Dual Connectivity Standalone) smart factory in Taiwan through a strategic multi-organizational collaboration that comprises the Industrial Development Bureau, Qualcomm Technologies Inc., the Institute for Information Technology, Asia Pacific Telecom, DEVCORE Security Consulting and the National Cheng Kung University’s Intelligent Manufacturing Research Center.
                    </p>
                    <p>
                        <a href="https://ase.aseglobal.com/en/press_room/content/5g-nr-dc-smart-factory-en">PRESS RELEASE</a>
                    </p>
                </article>
            </div>
        </div>
        <!--<div class="col-xs-12 living-box">
            <div class="content-lg row">
                <article class="col-md-10 col-md-offset-1 text-center" style="padding: 60px 0;">
                    <div class="col-md-12 nopadding">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/mov_5G_SmartFactory_v3_en.jpg">
                    </div>
                    <div style="position:absolute; left:15%; top: 35%; z-index:100; margin:0 auto; background-color: rgba(0, 0, 0, 0.5); border-radius: 5px; width: 70%; height: 30%; padding: 6%; text-align: center;">
                        <a class="button videoButton popupVideo" href="https://coms.aseglobal.com/marcom/video/smart-manufacturing-90s-en" target="_blank"><span style="padding-top: 4px;">Watch More</span><i class="icon-play"></i></a>
                    </div>
                </article>
            </div>
            <script src="https://3711cdn.r.worldssl.net/js/ase-box-video.js?2"></script>
        </div>-->
        <div class="col-xs-12 living-box">
            <div class="content-lg row">
                <article class="col-xs-12">
                    <h4 class="sub-title">What is 5G mmWave NR-DC?</h4>
                    <p>
                        5G New Radio (NR) is a new radio technology based on OFDM (Orthogonal Frequency Division Multiplexing), designed to be the global standard for the air interface of 5G networks. 5G NR operates over middle frequency bands in the sub-6 GHz range spanning 450 MHz to 6 GHz and in the high frequency bands (mmWave) spanning 24 GHz to 52 GHz. Taiwan’s 5G mmWave utilizes 28GHz frequencies which is about 10 times that of traditional 5G, and is ideal for enterprises that require large-bandwidth and low-latency networks.
                    </p>
                    <p>
                        New Radio Dual Connectivity (NR-DC) allows user equipment (UE) to be connected to both mid-band and high-band channels simultaneously, achieving faster data transmission rates and better coverage. This further improves network reliability and ensures lower latency rates.
                    </p><br />
                    <h4 class="sub-title">Why use 5G mmWave SA NR-DC (Standalone New Radio-Dual Connectivity)?</h4>
                    <p>
                        5G networks that are boosted by high band or millimeter wave (mmWave) technology deliver greater speeds, faster connectivity and wider spectrum of coverage. 5G SA NR-DC technology which combines mid-band and mmWave frequencies, offer low latency, high reliability and exceptional speed. The technology provides excellent support for the development of smart manufacturing technologies and enables potential innovations in data processing, automated processes, remote access and monitoring, autonomous robots and more. Flexible and more efficient manufacturing operations, better predictive maintenance and higher productivity can be seamlessly accomplished within a 5G smart factory environment.
                    </p>
                    <p>
                        The ASE smart factory will be powered by Qualcomm’s Snapdragon® X65 5G Modem-RF System and 5G NR-DC software with uplink four-component carrier aggregation (UL 4CC CA), in which four contiguous carriers of 100MHz are combined together with 2.6GHz (mid-band) and 28GHz (high-band), to achieve an uplink speed of 600Mbps. The lower latency levels and higher data speeds are critical to semiconductor manufacturing environments for advanced processes and supporting a wide range of IoT applications necessary for uninterrupted data transmission and security.
                    </p>
                    <p>
                        <i>Snapdragon is a trademark or registered trademark of Qualcomm Incorporated.</i>
                    </p>
                    <p>
                        <i>Snapdragon is a product of Qualcomm Technologies, Inc. and/or its subsidiaries.</i>
                    </p><br />
                    <h4 class="sub-title">5G mmWave applications in semiconductor smart manufacturing</h4>
                    <p>
                        In 2020, ASE has introduced 5G mmWave technology on three use cases to demonstrate the extensive scope and sophistication of 5G technology application in the transformation of smart manufacturing and automation.
                    </p>
                    <p>
                        In 2022, ASE, Qualcomm Technologies Inc., the Institute for Information Industry, Asia Pacific Telecom, DEVCORE Security Consulting and the National Cheng Kung University announced plans to build a 5G mmWave NR-DC SA Smart Factory at ASE’s flagship campus in Kaohsiung, Taiwan. The collaboration will focus on enabling the digital transformation of factory processes that are highly secured and highly reliable through facilitating 5G wireless infrastructure integration, smart heterogeneous equipment integration and OT security system integration. Areas covered include developments in:
                    </p>
                    <ul class="nopadding">
                        <li>AI-enabled detection of abnormalities from the SOP (standard operating process) that will improve the ability of operators and maintenance personnel to ensure consistent yield quality and a safe operating environment.</li>
                        <li>Enhancing productivity and yield improvement through the data analysis of both current and newly purchased equipment in operation, and optimizing model parameters.</li>
                        <li>Intelligent material handling solutions that enables real-time inventory forecasting to delivery that result in overall reduction of production cycle time.</li>
                        <li>Generating high-resolution AOI images in real-time with the help of high bandwidth mobile streaming, to improve the accuracy and efficiency of quality inspection.</li>
                        <li>The deployment of 5G mmWave NR-DC SA technology that offers network stability and speed to improve connectivity and in case of a machine re-layout, the reduction of set up time will also improve the overall equipment efficiency (OEE).</li>
                        <li>OT security technology to ensure the reliability, security and functionality of machines and tasks in a digitized manufacturing environment.</li>
                    </ul>
                    <p>&nbsp;</p>
                    <h4 class="sub-title">A sample of 5G Smart Factory use cases at ASE since 2020</h4>
                    <div style="background-color: #eeeeee; padding: 30px 10px 15px 10px; border-radius: 5px;">
                        <div class="col-md-4" style="float: left; padding-bottom: 15px;">
                            <div><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/5g_smart_factory_pic1.jpg?1"></div>
                        </div>
                        <div class="col-md-8">
                            <h4>Automatic inspection of production lines via AI and Automated Guided Vehicles (AGV)</h4>
                            <p>
                                Traditionally, most of the production lines were inspected manually by workers. With 5G, cameras embedded in smart unmanned vehicles and AI enhanced big data analysis enable routine inspection and surveillance on the production floor. The tasks performed autonomously reduce manpower burden, detect problems immediately and ensure workplace safety.<br /><br />

                                The signal coverage of a wi-fi base station is usually not extensive enough to cover large manufacturing areas. The introduction of 5G mmWave however enables low latency and improves wireless connection to allow autonomous guided vehicles (AGV) to move seamlessly around the factory floors.
                            </p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <br />
                    <div style="background-color: #eeeeee; padding: 30px 10px 15px 10px; border-radius: 5px;">
                        <div class="col-md-4" style="float: right; padding-bottom: 15px;">
                            <div><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/5g_smart_factory_pic2.jpg?1"></div>
                        </div>
                        <div class="col-md-8">
                            <h4>Remote AR Maintenance Assistance</h4>
                            <p>
                                The system provides ASE’s equipment engineers the convenience of conducting machine diagnosis and maintenance from a remote centralized control room.  With augmented reality (AR) assistance, the engineers can synchronize with other colleagues from different locations, to service the equipment and hardware, and troubleshoot any problems. The low latency and high speed features of a 5G network allow the simultaneous transmission of high-resolution images captured during the maintenance process for back-end analysis. The ability to make real time adjustments significantly increase the efficiency in equipment maintenance.
                            </p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <br />
                    <div style="background-color: #eeeeee; padding: 30px 10px 15px 10px; border-radius: 5px;">
                        <div class="col-md-4" style="float: left; padding-bottom: 15px;">
                            <div><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/5g_smart_factory_pic3.jpg?1"></div>
                        </div>
                        <div class="col-md-8">
                            <h4>AR experience @@ASE Green Technology Education Center</h4>
                            <p>
                                To better communicate ASE’s water conservation efforts and innovations in water recycling, the <a href="https://ase.aseglobal.com/public/ch/csr/green_technology_education_center.html">ASE Green Technology Education Center</a>  has tapped on AR technology to provide visitors a rich and immersive learning experience. The seamless AR experience leverages on the low latency, high reliability and high bandwidth features of the private 5G mmWave network.
                            </p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <br /><br />
                </article>
			</div>
		</div>
	</section>