﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
    ViewBag.Title = "Semiconductor Supply Chain";
    ViewBag.enURL = "/en/solution/semiconductor-supply-chain";
    ViewBag.zhURL = "/ch/solution/semiconductor-supply-chain";
    ViewBag.webSiteDesc = "The leading global provider of semiconductor manufacturing services in assembly and test.";
    ViewBag.webSiteOgImage = "~/pic/public/frontend/images/solutions/og_semiconductor-supply-chain.png";
}
	<!-- page Banner -->
    <section id="page-vision">
        <div class="hide-in-small" style="background: url(https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/banner_semiconductor-supply-chain.jpg) no-repeat center; background-size: cover; height: 400px;">
        </div>

        <div class="hide-in-large" style="background: url(https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/banner_semiconductor-supply-chain_sm.jpg) no-repeat center; background-size: cover; height: 450px;">
        </div>
    </section>

    <div class="content-lg row">
        <div class="col-xs-12">
            <ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
                <!-- Project-B Fix, Apply New Breadcrumb -->
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
                    <meta itemprop="position" content="0" />
                </li>
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <a itemprop="item" href="/en"><span itemprop="name">Semiconductor Supply Chain</span></a>
                    <meta itemprop="position" content="1" />
                </li>
            </ol>
        </div>
    </div>

    <section class="inside-article">
        <div class="content-lg row">
            <div class="col-xs-12">
                <p id="topic">&nbsp;</p>
                <div style="position: absolute;" class="hide-in-small">
                    <h4><a href="#one1"><i class="icon-arrow-right" style="font-size:14px;"></i> The Impact of Semiconductor Chips in the Digital Economy</a></h4>
                    <h4><a href="#two"><i class="icon-arrow-right" style="font-size:14px;"></i> The Semiconductor Chip Design and Manufacturing Process</a></h4>
                    <h4><a href="#three"><i class="icon-arrow-right" style="font-size:14px;"></i> The Applications fueled by Semiconductor Innovation</a></h4>
                    <h4><a href="#four"><i class="icon-arrow-right" style="font-size:14px;"></i> The Role of ASE within the Semiconductor Supply Chain</a></h4>
                    <p id="one1">&nbsp;<br><br></p>
                    <div class="col-md-10 nopadding"><h3 class="title">The Impact of Semiconductor Chips in the Digital Economy</h3></div>
                </div>
                <div class="hide-in-large">
                    <h4><a href="#one2"><i class="icon-arrow-right" style="font-size:14px;"></i> The Impact of Semiconductor Chips in the Digital Economy</a></h4>
                    <h4><a href="#two"><i class="icon-arrow-right" style="font-size:14px;"></i> The Semiconductor Chip Design and Manufacturing Process</a></h4>
                    <h4><a href="#three"><i class="icon-arrow-right" style="font-size:14px;"></i> The Applications fueled by Semiconductor Innovation</a></h4>
                    <h4><a href="#four"><i class="icon-arrow-right" style="font-size:14px;"></i> The Role of ASE within the Semiconductor Supply Chain</a></h4>
                    <p id="one2">&nbsp;</p>
                    <div style="position: absolute;" class="col-xs-9 nopadding"><h3 class="title" style="margin-top: 0;">The Impact of Semiconductor Chips in the Digital Economy</h3></div>
                </div>
                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/pic_semiconductor-supply-chain-1.jpg" />
                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/pic_semiconductor-supply-chain-2.jpg" />
                <p id="two">&nbsp;<br><br><br><br></p>
                <h3 class="title">The Semiconductor Chip Design and Manufacturing Process &nbsp; <a href="#topic"><i class="icon-arrow-top" style="font-size: 18px;"></i></a></h3>
                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/pic_semiconductor-supply-chain-3.jpg" />
                <p id="three">&nbsp;<br><br><br><br></p>
                <h3 class="title">The Applications fueled by Semiconductor Innovation &nbsp; <a href="#topic"><i class="icon-arrow-top"style="font-size: 18px;"></i></a></h3>
                <p>&nbsp;</p>
                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/pic_semiconductor-supply-chain-4.jpg" />
                <p id="four">&nbsp;<br><br><br><br></p>
                <h3 class="title">The Role of ASE within the Semiconductor Supply Chain &nbsp; <a href="#topic"><i class="icon-arrow-top"style="font-size: 18px;"></i></a></h3>
                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/pic_semiconductor-supply-chain-5.jpg" />
                <p>&nbsp;</p>
            </div>
        </div>
    </section>