﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
    ViewBag.Title = "Smart Automotive";
    ViewBag.enURL = "/en/solution/smart_automotive";
    ViewBag.zhURL = "/ch/solution/smart_automotive";
    ViewBag.webSiteDesc = "Smart automotive enables a comfortable and convenient driving experience with intelligent and carbon-reducing by integrating AI, communication, and entertainment.";
    ViewBag.webSiteOgImage = "~/pic/public/frontend/images/solutions/2021_ASE_SmartAuto.jpg";
}
	<!-- page Banner -->
    <section id="page-vision" class="page-banner-s banner-solution" style="background: url(https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/banner_automotive.jpg) no-repeat center; background-size: cover;">
		<h1 class="page-title title-large">Smart Automotive</h1>
	</section>

    <section class="inside-article">
    <!--麵包屑-->
        <div class="col-xs-12 living-box">
            <div class="row csr pro" style="margin: 0;">
                <div class="col-xs-12">
                    <ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
                        <!-- Project-B Fix, Apply New Breadcrumb -->
                        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                            <a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
                            <meta itemprop="position" content="0" />
                        </li>
                        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                            <a itemprop="item" href="/en"><span itemprop="name">Smart Automotive</span></a>
                            <meta itemprop="position" content="1" />
                        </li>
                    </ol>
                </div>
                <article class="col-xs-12">
                    <h3 class="title">Smart Automotive</h3>
                    <div class="content">
                        <p>
                            ASE’s semiconductor packaging and test technology is enabling new generations of smart vehicles with higher levels of safety, comfort and convenience. The automotive market is also moving away from gas guzzling and air polluting vehicles, to more energy efficient electric vehicles. We are working closely with automotive customers to integrate packaging technologies into sensors - image sensors, environment sensors and controllers to manufacture chips that can intelligently learn, analyze and communicate information to perform different functions and save energy.
                        </p>
                        <p>
                            We provide a comprehensive one-stop manufacturing service from wafers to packages to modules, and offer cost effective turnkey solutions for rapid time-to-market. We have long-term partnerships with global tier-one automotive suppliers and most of our sites are TS16949, ISO26262 and ISO/SAE 21434 certified. Explore our suite of products and services that will power your automotive applications with higher reliability, integration and efficiency.
                        </p>
                    </div>
                </article>
            </div>
        </div>
    </section>
    <section class="inside-article">
        <div class="col-xs-12 living-box">
            <div class="row csr pro" style="margin: 0;">
                <article class="col-md-8 col-md-offset-2 text-center" style="padding: 20px 0 40px 0;">
                    <div class="col-md-12 nopadding">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/mov_smart_automotive.jpg">
                    </div>
                    <div style="position:absolute; left:35%; top: 42%; z-index:10; margin:0 auto; border-radius: 10px; text-align: center; background-color: rgba(0, 0, 0, 0.7);">
                        <a class="button videoButton popupVideo" href="https://coms.aseglobal.com/marcom/video/smart-automotive" target="_blank"><span style="padding-top: 4px;">Watch More</span><i class="icon-play"></i></a>
                    </div>
                </article>
            </div>
        </div>
    </section>

	

	
	<!-- About Content A -->
	<section class="inside-article">
	<!--麵包屑-->
	<div class="col-xs-12 col-md-6 living-box">
        <article class="col-xs-12">
            <div class="content-lg row csr pro">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                    
                    <div class="col-md-12 bgnews-list list-base panel">
                        <div class="content">
                            <a class="link-btn" data-link="s02" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <span class="black-text-in-box accordion-center-text text-left padding-left-10" id="txt02">Safety</span>
                                <div class="circle_button-wrapper pull-right">
                                    <div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
                                </div>
                            </a>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <div class="col-xs-12 pl-0 collapse-area nopadding">
                                    <div class="sol-img">
                                        <img class="sol-icon" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto01-2.png" alt="">
                                        <ul class="sol-sol">
                                            <li>Airbag Control</li>
                                            <li>Airbag – Facial Recognition</li>
                                            <li>Side Airbag Sensor</li>
                                            <li>Anti-lock</li>
                                            <li>Electronic Stability Control</li>
                                            <li>TPMS</li>
                                            <li>LiDAR</li>
                                            <li>Radar</li>
                                            <li>Finger Print Sensor</li>
                                            <li>Crash Sensor</li>
                                            <li>Active Suspension</li>
                                            <li>Ultrasonic Sensor</li>
                                            <li>Engine Oil Pressure</li>
                                            <li>Seat Occupant Sensor</li>
                                            <li>Speed from Tire Rotation</li>
                                            <li>Night Vision</li>
                                            <li>Camera – Driver Monitoring, Collision Detection, Sign Reading</li>
                                        </ul>
                                    </div>
                                    <ul class="sol-list nopadding font-size-12">
                                        <li>
                                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-01.png" alt=""><br>
                                            <span>Leadframe</span>
                                        </li>
                                        <li>
                                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-07.png" alt=""><br>
                                            <span>Wafer Level</span>
                                        </li>
                                        <li>
                                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-04.png" alt=""><br>
                                            <span>MEMS &amp; Sensors</span>
                                        </li>
                                        <li>
                                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-05.png" alt=""><br>
                                            <span>Module</span>
                                        </li>
                                        <li>
                                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-06.png" alt=""><br>
                                            <span>Advanced</span>
                                        </li>
                                        <li>
                                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-08.png" alt=""><br>
                                            <span>IMU</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="mobile-img">
                                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-m02.jpg"  alt="">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 bgnews-list list-base panel">
                        <div class="content">
                            <a class="link-btn" data-link="s09" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseNight" aria-expanded="false" aria-controls="collapseNight">
                                <span class="black-text-in-box accordion-center-text text-left padding-left-10" id="txt09">ADAS</span>
                                <div class="circle_button-wrapper pull-right">
                                    <div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
                                </div>
                            </a>
                        </div>
                        <div id="collapseNight" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <div class="col-xs-12 pl-0 collapse-area nopadding">
                                    <div class="sol-img">
                                        <img class="sol-icon" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto01-9.png" alt="">
                                        <ul class="sol-sol">
                                            <li>ADAS Control Module</li>
                                            <li>LiDAR</li>
                                            <li>Radar</li>
                                            <li>Electronic Stability Control</li>
                                            <li>Ultrasonic</li>
                                            <li>Active Suspension</li>
                                            <li>Night Vision</li>
                                            <li>AI Co-pilot</li>
                                            <li>AI Cockpit</li>
                                            <li>Camera – Driver Monitoring, Collision Detection, Sign Reading</li>
                                        </ul>
                                    </div>
                                    <ul class="sol-list nopadding font-size-12">
                                        <li>
                                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-01.png" alt=""><br>
                                            <span>Leadframe</span>
                                        </li>
                                        <li>
                                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-02.png" alt=""><br>
                                            <span>Wire Bond</span>
                                        </li>
                                        <li>
                                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-03.png" alt=""><br>
                                            <span>Flip Chip</span>
                                        </li>
                                        <li>
                                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-04.png" alt=""><br>
                                            <span>MEMS &amp; Sensors</span>
                                        </li>
                                        <li>
                                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-05.png" alt=""><br>
                                            <span>Module</span>
                                        </li>
                                        <li>
                                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-06.png" alt=""><br>
                                            <span>Advanced</span>
                                        </li>
                                        <li>
                                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-08.png" alt=""><br>
                                            <span>IMU</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="mobile-img">
                                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-m09.jpg"  alt="">
                            </div>
                        </div>
                    </div>


                    <div class="col-md-12 bgnews-list list-base panel">
                        <div class="content">
                            <a class="link-btn" data-link="s07" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                <span class="black-text-in-box accordion-center-text text-left padding-left-10" id="txt07">Body</span>
                                <div class="circle_button-wrapper pull-right">
                                    <div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
                                </div>
                            </a>
                        </div>
                        <div id="collapseSeven" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <div class="col-xs-12 pl-0 collapse-area nopadding">
                                    <div class="sol-img">
                                        <img class="sol-icon" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto01-7.png" alt="">
                                        <ul class="sol-sol">
                                            <li>Climate Control</li>
                                            <li>Ultrasonic</li>
                                            <li>LiDAR</li>
                                            <li>Radar</li>
                                            <li>VOC, Alcohol Sensor</li>
                                            <li>Engine Oil Pressure</li>
                                            <li>Electronic Stability Control</li>
                                            <li>Side Airbag</li>
                                            <li>Seat Occupant Sensor</li>
                                            <li>Humidity & Temperature Sensor</li>
                                            <li>Camera – Driver Monitoring, Collision Detection, Sign Reading</li>
                                        </ul>
                                    </div>
                                    <ul class="sol-list nopadding font-size-12">
                                        <li>
                                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-01.png" alt=""><br>
                                            <span>Leadframe</span>
                                        </li>
                                        <li>
                                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-02.png" alt=""><br>
                                            <span>Wire Bond</span>
                                        </li>
                                        <li>
                                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-04.png" alt=""><br>
                                            <span>MEMS &amp; Sensors</span>
                                        </li>
                                        <li>
                                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-05.png" alt=""><br>
                                            <span>Module</span>
                                        </li>
                                        <li>
                                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-06.png" alt=""><br>
                                            <span>Advanced</span>
                                        </li>
                                        <li>
                                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-08.png" alt=""><br>
                                            <span>IMU</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="mobile-img">
                                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-m07.jpg")" alt="">
                            </div>
                        </div>
                    </div>


                    <div class="col-md-12 bgnews-list list-base panel">
                        <div class="content">
                            <a class="link-btn" data-link="s05" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                <span class="black-text-in-box accordion-center-text text-left padding-left-10" id="txt05">Infotainment</span>
                                <div class="circle_button-wrapper pull-right">
                                    <div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
                                </div>
                            </a>
                        </div>
                        <div id="collapseFive" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <div class="col-xs-12 pl-0 collapse-area nopadding">
                                    <div class="sol-img">
                                        <img class="sol-icon" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto01-5.png" alt="">
                                        <ul class="sol-sol">
                                            <li>Fixed Navigation Systems</li>
                                            <li>Audio Head Units</li>
                                            <li>Infotainment Head Units</li>
                                            <li>Rear Seat Entertainment</li>
                                            <li>Seat Occupant Sensor</li>
                                            <li>VOC, Alcohol Sensor</li>
                                            <li>Display Control for Map – Proximity & Gesture</li>
                                        </ul>
                                    </div>
                                    <ul class="sol-list nopadding font-size-12">
                                        <li>
                                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-01.png" alt=""><br>
                                            <span>Leadframe</span>
                                        </li>
                                        <li>
                                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-02.png" alt=""><br>
                                            <span>Wire Bond</span>
                                        </li>
                                        <li>
                                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-07.png" alt=""><br>
                                            <span>Wafer Level</span>
                                        </li>
                                        <li>
                                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-04.png" alt=""><br>
                                            <span>MEMS &amp; Sensors</span>
                                        </li>
                                        <li>
                                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-05.png" alt=""><br>
                                            <span>Module</span>
                                        </li>
                                        <li>
                                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-06.png" alt=""><br>
                                            <span>Advanced</span>
                                        </li>
                                        <li>
                                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-03.png" alt=""><br>
                                            <span>Flip Chip</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="mobile-img">
                                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-m05.jpg"  alt="">
                            </div>
                        </div>
                    </div>


                    <div class="col-md-12 bgnews-list list-base panel">
                        <div class="content">
                            <a class="link-btn" data-link="s04" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                <span class="black-text-in-box accordion-center-text text-left padding-left-10" id="txt04">Chassis</span>
                                <div class="circle_button-wrapper pull-right">
                                    <div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
                                </div>
                            </a>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <div class="col-xs-12 pl-0 collapse-area nopadding">
                                    <div class="sol-img">
                                        <img class="sol-icon" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto01-4.png" alt="">
                                        <ul class="sol-sol">
                                            <li>Tire Pressure Monitoring</li>
                                            <li>Electronic Stability ControlEngine Oil Pressure</li>
                                            <li>Steering</li>
                                            <li>Anti-lock Braking</li>
                                            <li>Active Suspension</li>
                                            <li>Speed from Tire Rotation</li>
                                            <li>Brake/Accelerator Pedals</li>
                                        </ul>
                                    </div>
                                    <ul class="sol-list nopadding font-size-12">
                                        <li>
                                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-01.png" alt=""><br>
                                            <span>Leadframe</span>
                                        </li>
                                        <li>
                                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-02.png" alt=""><br>
                                            <span>Wire Bond</span>
                                        </li>
                                        <li>
                                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-07.png" alt=""><br>
                                            <span>Wafer Level</span>
                                        </li>
                                        <li>
                                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-04.png" alt=""><br>
                                            <span>MEMS &amp; Sensors</span>
                                        </li>
                                        <li>
                                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-05.png" alt=""><br>
                                            <span>Module</span>
                                        </li>
                                        <li>
                                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-06.png" alt=""><br>
                                            <span>Advanced</span>
                                        </li>
                                        <li>
                                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-08.png" alt=""><br>
                                            <span>IMU</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="mobile-img">
                                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-m04.jpg"  alt="">
                            </div>
                        </div>
                    </div>


                    <div class="col-md-12 bgnews-list list-base panel">
                        <div class="content">
                            <a class="link-btn" data-link="s01" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                <span class="black-text-in-box accordion-center-text text-left padding-left-10" id="txt01">EV/HEV</span>
                                <div class="circle_button-wrapper pull-right">
                                    <div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
                                </div>
                            </a>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <div class="col-xs-12 pl-0 collapse-area nopadding">
                                    <div class="sol-img">
                                        <img class="sol-icon" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto01-1.png" alt="">
                                        <ul class="sol-sol">
                                            <li>Electric Drive Controller</li>
                                            <li>Electronic Stability Control</li>
                                            <li>Air Intake</li>
                                            <li>Battery Management</li>
                                            <li>Active Suspension</li>
                                            <li>Inverter</li>
                                            <li>EV Charging Station</li>
                                        </ul>
                                    </div>
                                    <ul class="sol-list nopadding font-size-12">
                                        <li>
                                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-01.png" alt=""><br>
                                            <span>Leadframe</span>
                                        </li>
                                        <li>
                                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-02.png" alt=""><br>
                                            <span>Wire Bond</span>
                                        </li>
                                        <li>
                                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-04.png" alt=""><br>
                                            <span>MEMS &amp; Sensors</span>
                                        </li>
                                        <li>
                                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-05.png" alt=""><br>
                                            <span>Module</span>
                                        </li>
                                        <li>
                                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-06.png" alt=""><br>
                                            <span>Advanced</span>
                                        </li>
                                        <li>
                                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-08.png" alt=""><br>
                                            <span>IMU</span>
                                        </li>
                                        <li>
                                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-09.png" alt=""><br>
                                            <span>IGBT+Coupler</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="mobile-img">
                                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-m01.jpg"  alt="">
                            </div>
                        </div>
                    </div>


                    <div class="col-md-12 bgnews-list list-base panel">
                        <div class="content">
                            <a class="link-btn" data-link="s06" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                <span class="black-text-in-box accordion-center-text text-left padding-left-10" id="txt06">Instrumentation</span>
                                <div class="circle_button-wrapper pull-right">
                                    <div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
                                </div>
                            </a>
                        </div>
                        <div id="collapseSix" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <div class="col-xs-12 pl-0 collapse-area nopadding">
                                    <div class="sol-img">
                                        <img class="sol-icon" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto01-6.png" alt="">
                                        <ul class="sol-sol">
                                            <li>Head-up Display</li>
                                            <li>Display Dimming</li>
                                            <li>Finger Print Sensor</li>
                                            <li>Instrument Cluster</li>
                                            <li>Display Control for Map – Proximity & Gesture</li>
                                            <li>Camera – Driver Monitoring, Collision Detection, Sign Reading</li>
                                            <li>Finger Print Sensor</li>
                                            <li>Voice Control</li>
                                            <li>Noise Cancellation</li>
                                            <li>Night Vision</li>
                                        </ul>
                                    </div>
                                    <ul class="sol-list nopadding font-size-12">
                                        <li>
                                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-02.png" alt=""><br>
                                            <span>Wire Bond</span>
                                        </li>
                                        <li>
                                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-07.png" alt=""><br>
                                            <span>Wafer Level</span>
                                        </li>
                                        <li>
                                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-03.png" alt=""><br>
                                            <span>Flip Chip</span>
                                        </li>
                                        <li>
                                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-04.png" alt=""><br>
                                            <span>MEMS &amp; Sensors</span>
                                        </li>
                                        <li>
                                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-05.png" alt=""><br>
                                            <span>Module</span>
                                        </li>
                                        <li>
                                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-06.png" alt=""><br>
                                            <span>Advanced</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="mobile-img">
                                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-m06.jpg"  alt="">
                            </div>
                        </div>
                    </div>


                    <div class="col-md-12 bgnews-list list-base panel">
                        <div class="content">
                            <a class="link-btn" data-link="s08" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                <span class="black-text-in-box accordion-center-text text-left padding-left-10" id="txt08">Powertrain</span>
                                <div class="circle_button-wrapper pull-right">
                                    <div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
                                </div>
                            </a>
                        </div>
                        <div id="collapseEight" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <div class="col-xs-12 pl-0 collapse-area nopadding">
                                    <div class="sol-img">
                                        <img class="sol-icon" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto01-8.png" alt="">
                                        <ul class="sol-sol">
                                            <li>Engine Control Module</li>
                                            <li>Transmission Control Module</li>
                                            <li>Diesel Engine Exhaust gas recirculation (EGR)</li>
                                            <li>Engine Oil Pressure</li>
                                            <li>Air Intake</li>
                                            <li>Electronic Stability Control</li>
                                        </ul>
                                    </div>
                                    <ul class="sol-list nopadding font-size-12">
                                        <li>
                                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-01.png" alt=""><br>
                                            <span>Leadframe</span>
                                        </li>
                                        <li>
                                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-02.png" alt=""><br>
                                            <span>Wire Bond</span>
                                        </li>
                                        <li>
                                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-04.png" alt=""><br>
                                            <span>MEMS &amp; Sensors</span>
                                        </li>
                                        <li>
                                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-05.png" alt=""><br>
                                            <span>Module</span>
                                        </li>
                                        <li>
                                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-06.png" alt=""><br>
                                            <span>Advanced</span>
                                        </li>
                                        <li>
                                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-08.png" alt=""><br>
                                            <span>IMU</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="mobile-img">
                                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-m08.jpg"  alt="">
                            </div>
                        </div>
                    </div>


                    <div class="col-md-12 bgnews-list list-base panel">
                        <div class="content">
                            <a class="link-btn" data-link="s03" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                <span class="black-text-in-box accordion-center-text text-left padding-left-10" id="txt03">Aftermarket</span>
                                <div class="circle_button-wrapper pull-right">
                                    <div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
                                </div>
                            </a>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <div class="col-xs-12 pl-0 collapse-area nopadding">
                                    <div class="sol-img">
                                        <img class="sol-icon" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto01-3.png" alt="">
                                        <ul class="sol-sol">
                                            <li>Portable Navigation Devices</li>
                                            <li>Video Recorders</li>
                                            <li>Audio Head Units</li>
                                            <li>Rain Sensor</li>
                                            <li>Infotainment Head Unit</li>
                                            <li>Head-up Display</li>
                                            <li>VOC, Alcohol Sensor</li>
                                            <li>Airbag – Facial Recognition</li>
                                            <li>Camera – Driver Monitoring, Collision Detection, Sign Reading</li>
                                        </ul>
                                    </div>
                                    <ul class="sol-list nopadding font-size-12">
                                        <li>
                                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-01.png" alt=""><br>
                                            <span>Leadframe</span>
                                        </li>
                                        <li>
                                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-02.png" alt=""><br>
                                            <span>Wire Bond</span>
                                        </li>
                                        <li>
                                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-03.png" alt=""><br>
                                            <span>Flip Chip</span>
                                        </li>
                                        <li>
                                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-04.png" alt=""><br>
                                            <span>MEMS &amp; Sensors</span>
                                        </li>
                                        <li>
                                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-05.png" alt=""><br>
                                            <span>Module</span>
                                        </li>
                                        <li>
                                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-06.png" alt=""><br>
                                            <span>Advanced</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="mobile-img">
                                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-m03.jpg"  alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
    <div class="col-xs-12 col-md-6 living-box auto nopadding" style="margin-bottom: -95em;">
        <div class="auto-tool">
            <div class="s01 auto01" id="bt01"></div>
            <div class="s02 auto02" id="bt02"></div>
            <div class="s03 auto03" id="bt03"></div>
            <div class="s04 auto04" id="bt04"></div>
            <div class="s05 auto05" id="bt05"></div>
            <div class="s06 auto06" id="bt06"></div>
            <div class="s07 auto07" id="bt07"></div>
            <div class="s08 auto08" id="bt08"></div>
            <div class="s09 auto09" id="bt09"></div>
        </div>
    </div>
    <div class="preload">
        <div class="auto01 change"></div>
        <div class="auto02 change"></div>
        <div class="auto03 change"></div>
        <div class="auto04 change"></div>
        <div class="auto05 change"></div>
        <div class="auto06 change"></div>
        <div class="auto07 change"></div>
        <div class="auto08 change"></div>
        <div class="auto09 change"></div>
    </div>
</section>
<style>
	.collapse-area .sol-img{width:50%;float:left;}
	.collapse-area .sol-list{width:50%;float:left}
	.collapse-area .sol-list li{width:30%;text-align:center;margin:0}
	.collapse-area .sol-list.city{width:80%;float:left;}
	.collapse-area .sol-list.city	li{text-align:left;} 
	.sol-sol{padding:0;}
	.sol-sol .sol-title{list-style:none;margin-left:0;}
    .bgnews-list a { padding: 10px 15px;}
</style>
<script>
$( document ).ready(function() {
	$('.accordion-center-text').click(function(e){
		if ($(this).hasClass('black-text-in-box')) {
			$('.blue-text-in-box').removeClass('blue-text-in-box').addClass('black-text-in-box');
			$(this).removeClass("black-text-in-box");
			$(this).addClass("blue-text-in-box");      //add the class to the clicked element
		} else {
			$(this).removeClass("blue-text-in-box");
			$(this).addClass("black-text-in-box");      //add the class to the clicked element
		}
	});
	
	$('.link-btn').click(function(){
		// 取得被點擊元素的data-link屬性
		var target = $(this).data('link');
		$('.auto-tool div.'+target).toggleClass('change').siblings().removeClass('change');
	});
	$( "#star-note" ).hide();
	$('.star-note').hover(
		function() {
	  		$( "#star-note" ).show();
	  	},function() {
	  		$( "#star-note" ).hide();
	  	
	});

    $(function() {
      $('#bt01').click(function() {
        $(this).addClass('change');
        $('#bt02').removeClass('change');
        $('#bt03').removeClass('change');
        $('#bt04').removeClass('change');
        $('#bt05').removeClass('change');
        $('#bt06').removeClass('change');
        $('#bt07').removeClass('change');
        $('#bt08').removeClass('change');
        $('#bt09').removeClass('change');
        $('#collapseOne').addClass('in');
        $('#collapseTwo').removeClass('in');
        $('#collapseThree').removeClass('in');
        $('#collapseFour').removeClass('in');
        $('#collapseFive').removeClass('in');
        $('#collapseSix').removeClass('in');
        $('#collapseSeven').removeClass('in');
        $('#collapseEight').removeClass('in');
        $('#collapseNight').removeClass('in');
        $('#txt01').removeClass("black-text-in-box").addClass("blue-text-in-box");
        $('#txt02').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt03').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt04').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt05').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt06').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt07').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt08').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt09').removeClass("blue-text-in-box").addClass("black-text-in-box");
      });
      $('#bt02').click(function() {
        $(this).addClass('change');
        $('#bt01').removeClass('change');
        $('#bt03').removeClass('change');
        $('#bt04').removeClass('change');
        $('#bt05').removeClass('change');
        $('#bt06').removeClass('change');
        $('#bt07').removeClass('change');
        $('#bt08').removeClass('change');
        $('#bt09').removeClass('change');
        $('#collapseOne').removeClass('in');
        $('#collapseTwo').addClass('in');
        $('#collapseThree').removeClass('in');
        $('#collapseFour').removeClass('in');
        $('#collapseFive').removeClass('in');
        $('#collapseSix').removeClass('in');
        $('#collapseSeven').removeClass('in');
        $('#collapseEight').removeClass('in');
        $('#collapseNight').removeClass('in');
        $('#txt01').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt02').removeClass("black-text-in-box").addClass("blue-text-in-box");
        $('#txt03').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt04').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt05').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt06').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt07').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt08').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt09').removeClass("blue-text-in-box").addClass("black-text-in-box");
      });
      $('#bt03').click(function() {
        $(this).addClass('change');
        $('#bt01').removeClass('change');
        $('#bt02').removeClass('change');
        $('#bt04').removeClass('change');
        $('#bt05').removeClass('change');
        $('#bt06').removeClass('change');
        $('#bt07').removeClass('change');
        $('#bt08').removeClass('change');
        $('#bt09').removeClass('change');
        $('#collapseOne').removeClass('in');
        $('#collapseTwo').removeClass('in');
        $('#collapseThree').addClass('in');
        $('#collapseFour').removeClass('in');
        $('#collapseFive').removeClass('in');
        $('#collapseSix').removeClass('in');
        $('#collapseSeven').removeClass('in');
        $('#collapseEight').removeClass('in');
        $('#collapseNight').removeClass('in');
        $('#txt01').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt02').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt03').removeClass("black-text-in-box").addClass("blue-text-in-box");
        $('#txt04').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt05').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt06').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt07').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt08').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt09').removeClass("blue-text-in-box").addClass("black-text-in-box");
      });
      $('#bt04').click(function() {
        $(this).addClass('change');
        $('#bt01').removeClass('change');
        $('#bt02').removeClass('change');
        $('#bt03').removeClass('change');
        $('#bt05').removeClass('change');
        $('#bt06').removeClass('change');
        $('#bt07').removeClass('change');
        $('#bt08').removeClass('change');
        $('#bt09').removeClass('change');
        $('#collapseOne').removeClass('in');
        $('#collapseTwo').removeClass('in');
        $('#collapseThree').removeClass('in');
        $('#collapseFour').addClass('in');
        $('#collapseFive').removeClass('in');
        $('#collapseSix').removeClass('in');
        $('#collapseSeven').removeClass('in');
        $('#collapseEight').removeClass('in');
        $('#collapseNight').removeClass('in');
        $('#txt01').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt02').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt03').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt04').removeClass("black-text-in-box").addClass("blue-text-in-box");
        $('#txt05').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt06').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt07').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt08').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt09').removeClass("blue-text-in-box").addClass("black-text-in-box");
      });
      $('#bt05').click(function() {
        $(this).addClass('change');
        $('#bt01').removeClass('change');
        $('#bt02').removeClass('change');
        $('#bt03').removeClass('change');
        $('#bt04').removeClass('change');
        $('#bt06').removeClass('change');
        $('#bt07').removeClass('change');
        $('#bt08').removeClass('change');
        $('#bt09').removeClass('change');
        $('#collapseOne').removeClass('in');
        $('#collapseTwo').removeClass('in');
        $('#collapseThree').removeClass('in');
        $('#collapseFour').removeClass('in');
        $('#collapseFive').addClass('in');
        $('#collapseSix').removeClass('in');
        $('#collapseSeven').removeClass('in');
        $('#collapseEight').removeClass('in');
        $('#collapseNight').removeClass('in');
        $('#txt01').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt02').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt03').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt04').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt05').removeClass("black-text-in-box").addClass("blue-text-in-box");
        $('#txt06').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt07').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt08').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt09').removeClass("blue-text-in-box").addClass("black-text-in-box");
      });
      $('#bt06').click(function() {
        $(this).addClass('change');
        $('#bt01').removeClass('change');
        $('#bt02').removeClass('change');
        $('#bt03').removeClass('change');
        $('#bt04').removeClass('change');
        $('#bt05').removeClass('change');
        $('#bt07').removeClass('change');
        $('#bt08').removeClass('change');
        $('#bt09').removeClass('change');
        $('#collapseOne').removeClass('in');
        $('#collapseTwo').removeClass('in');
        $('#collapseThree').removeClass('in');
        $('#collapseFour').removeClass('in');
        $('#collapseFive').removeClass('in');
        $('#collapseSix').addClass('in');
        $('#collapseSeven').removeClass('in');
        $('#collapseEight').removeClass('in');
        $('#collapseNight').removeClass('in');
        $('#txt01').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt02').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt03').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt04').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt05').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt06').removeClass("black-text-in-box").addClass("blue-text-in-box");
        $('#txt07').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt08').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt09').removeClass("blue-text-in-box").addClass("black-text-in-box");
      });
      $('#bt07').click(function() {
        $(this).addClass('change');
        $('#bt01').removeClass('change');
        $('#bt02').removeClass('change');
        $('#bt03').removeClass('change');
        $('#bt04').removeClass('change');
        $('#bt05').removeClass('change');
        $('#bt06').removeClass('change');
        $('#bt08').removeClass('change');
        $('#bt09').removeClass('change');
        $('#collapseOne').removeClass('in');
        $('#collapseTwo').removeClass('in');
        $('#collapseThree').removeClass('in');
        $('#collapseFour').removeClass('in');
        $('#collapseFive').removeClass('in');
        $('#collapseSix').removeClass('in');
        $('#collapseSeven').addClass('in');
        $('#collapseEight').removeClass('in');
        $('#collapseNight').removeClass('in');
        $('#txt01').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt02').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt03').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt04').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt05').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt06').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt07').removeClass("black-text-in-box").addClass("blue-text-in-box");
        $('#txt08').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt09').removeClass("blue-text-in-box").addClass("black-text-in-box");
      });
      $('#bt08').click(function() {
        $(this).addClass('change');
        $('#bt01').removeClass('change');
        $('#bt02').removeClass('change');
        $('#bt03').removeClass('change');
        $('#bt04').removeClass('change');
        $('#bt05').removeClass('change');
        $('#bt06').removeClass('change');
        $('#bt07').removeClass('change');
        $('#bt09').removeClass('change');
        $('#collapseOne').removeClass('in');
        $('#collapseTwo').removeClass('in');
        $('#collapseThree').removeClass('in');
        $('#collapseFour').removeClass('in');
        $('#collapseFive').removeClass('in');
        $('#collapseSix').removeClass('in');
        $('#collapseSeven').removeClass('in');
        $('#collapseEight').addClass('in');
        $('#collapseNight').removeClass('in');
        $('#txt01').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt02').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt03').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt04').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt05').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt06').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt07').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt08').removeClass("black-text-in-box").addClass("blue-text-in-box");
        $('#txt09').removeClass("blue-text-in-box").addClass("black-text-in-box");
      });
      $('#bt09').click(function() {
        $(this).addClass('change');
        $('#bt01').removeClass('change');
        $('#bt02').removeClass('change');
        $('#bt03').removeClass('change');
        $('#bt04').removeClass('change');
        $('#bt05').removeClass('change');
        $('#bt06').removeClass('change');
        $('#bt07').removeClass('change');
        $('#bt08').removeClass('change');
        $('#collapseOne').removeClass('in');
        $('#collapseTwo').removeClass('in');
        $('#collapseThree').removeClass('in');
        $('#collapseFour').removeClass('in');
        $('#collapseFive').removeClass('in');
        $('#collapseSix').removeClass('in');
        $('#collapseSeven').removeClass('in');
        $('#collapseEight').removeClass('in');
        $('#collapseNight').addClass('in');
        $('#txt01').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt02').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt03').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt04').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt05').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt06').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt07').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt08').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt09').removeClass("black-text-in-box").addClass("blue-text-in-box");
      });
    });
})
</script>