﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
    ViewBag.Title = "Smart Factory - ASE solution platform";
    ViewBag.enURL = "/en/solution/smart_factory";
    ViewBag.zhURL = "/ch/solution/smart_factory";
    ViewBag.webSiteDesc = "ASE’s Heterogeneous Integration solutions through our leadership in SiP technology, have driven our manufacturing capabilities into the smart and digital realm.";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-solution" style="background: url(https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/banner_factory.jpg?3) no-repeat center; background-size: cover;">
        <h1 class="page-title title-large">Smart Factory</h1>
    </section>

    <section class="inside-article">
    <!--麵包屑-->
        <div class="col-xs-12 living-box">
            <div class="row csr pro" style="margin: 0;">
                <div class="col-xs-12">
                    <ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
                        <!-- Project-B Fix, Apply New Breadcrumb -->
                        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                            <a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
                            <meta itemprop="position" content="0" />
                        </li>
                        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                            <a itemprop="item" href="/en"><span itemprop="name">Smart Factory - ASE solution platform</span></a>
                            <meta itemprop="position" content="1" />
                        </li>
                    </ol>
                </div>
                <article class="col-xs-12">
                    <h3 class="title">Smart Factory - ASE solution platform</h3>
                    <div class="content">
                        <p>
                            ASE’s Heterogeneous Integration solutions, optimized by our leadership in System-in-Package (SiP) technology, is driving our manufacturing capabilities into the smart and digital realm. AIoT (artificial intelligence of things) manufacturing solutions leverage on big data analytics, machine, health, safety, energy and logistics management, to digitally connect the entire factory, employees, equipment and data.<br /><br />

                            At ASE, we are constantly exploring and developing the latest technology to ensure efficiency, transparency and flexibility in the production process and throughout the supply chain. The smart factory concept is part of ASE’s journey to Industry 4.0 and we are already deploying solutions that enhance our business operations by increasing productivity based on real time monitoring, improving work place safety and reducing costs.
                        </p>
                    </div>
                </article>
            </div>
        </div>
    </section>
    <section class="inside-article">
        <div class="col-xs-12 living-box">
            <div class="row csr pro" style="margin: 0;">
                <article class="col-md-8 col-md-offset-2 text-center" style="padding: 20px 0 40px 0;">
                    <div class="col-md-12 nopadding">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/mov_smart_factory-1.jpg">
                    </div>
                    <div style="position:absolute; left:35%; top: 42%; z-index:10; margin:0 auto; border-radius: 10px; text-align: center; background-color: rgba(0, 0, 0, 0.7);">
                        <a class="button videoButton popupVideo" href="https://coms.aseglobal.com/marcom/video/smart-factory" target="_blank"><span style="padding-top: 4px;">Watch More</span><i class="icon-play"></i></a>
                    </div>
                </article>
            </div>
        </div>
    </section>



	<!-- Project-B Fix, Remove Old Breadcrumb -->
	<!-- content -->
	<section class="inside-article">
		<!--麵包屑 -->
		<div class="col-xs-12 col-md-6 living-box">
            <article class="col-xs-12">

    			<div class="content-lg row csr pro">
    				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    					<!---->
    					<div class="col-md-12 bgnews-list list-base panel">
    						<div class="content">
    							<a class="link-btn" data-link="s01" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
    								<span class="black-text-in-box accordion-center-text text-left padding-left-10" id="txt01">Big Data Analytics</span>
    								<div class="circle_button-wrapper pull-right">
    									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
    								</div>
    							</a>
    						</div>

    						<div id="collapseOne" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne">
    							<div class="panel-body">
    								<div class="col-xs-12 pl-0 collapse-area">
    									<div class="sol-img">
    										<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/sf01.png" style="margin-bottom: 35px" alt="">	
    										<ul class="sol-sol">
    											<li class="sol-text">Server/ HPC</li>
    											<li class="sol-title">Solutions</li>
    											<li>2.5D</li>
                                                <li>Fan Out</li>
                                                <li>Flip Chip</li>
    										</ul>
    										</div>
    									<ul class="sol-list">
    										<li>
    											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/sf01-1.jpg"  alt=""><br>
    											<!-- <span>AoP BLE SiP</span> -->
    										</li>
    									</ul>
    								</div>
    							</div>
    						</div>
    	  				</div>
    					<!---->
    					<div class="col-md-12 bgnews-list list-base panel">
    						<div class="content">
    							<a class="link-btn" data-link="s02" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
    								<span class="black-text-in-box accordion-center-text text-left padding-left-10" id="txt02">Machine</span>
    								<div class="circle_button-wrapper pull-right">
    									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
    								</div>
    							</a>
    						</div>

    						<div id="collapseTwo" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne">
    							<div class="panel-body">
    								<div class="col-xs-12 pl-0 collapse-area">
    									<div class="sol-img">
    									   <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/sf02.png" alt="">	
    									    <ul class="sol-sol">
    											<li class="sol-text">Motion sensing/ Particle Sensing/ Oven Temperature sensing/ Disruption prevention, predictive maintenance, utilization optimization</li>
    											<li class="sol-title">Solutions</li>
    											<li class="sol-text">Connectivity with Processors</li>
                                                <li>SiP, AoP/AiP, a-EASI/SESUB, BLE Mesh, NB-IoT, 5G, Optical/Fiber</li>
                                                <li class="sol-text">Sensors</li>
                                                <li>Motion, Particle, Temperature, Humidity, Pressure, UV/IR</li>
    										</ul>
    									</div>
    									<ul class="sol-list">
    										<li>
    											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/sf02-1.jpg"  alt=""><br>
    											<!-- <span>Motion Sensor + BLE SiP</span> -->
    										</li>
    									</ul>
    								</div>
    							</div>
    						</div>
    	  				</div>
    					<!---->
    	  				<div class="col-md-12 bgnews-list list-base panel">
    						<div class="content">
    							<a class="link-btn" data-link="s03" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
    								<span class="black-text-in-box accordion-center-text text-left padding-left-10" id="txt03">Facility/Safety/Energy Management</span>
    								<div class="circle_button-wrapper pull-right">
    									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
    								</div>
    							</a>
    						</div>

    						<div id="collapseThree" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne">
    							<div class="panel-body">
    								<div class="col-xs-12 pl-0 collapse-area">
    									<div class="sol-img">
    									   <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/sf03.png" alt="">
                                            <ul class="sol-sol">
                                                <li class="sol-text">Dangerous zone monitoring/ Transformer temperature monitoring/ Operating zone humidity/ Temperature monitoring/ Thermal detection</li>
                                                <li class="sol-title">Solutions</li>
                                                <li class="sol-text">Connectivity with Processors</li>
                                                <li>SiP, AoP/AiP, a-EASI/SESUB, BLE Mesh, WiFi, LoRaWAN, NB-IoT, 5G</li>
                                                <li class="sol-text">Sensors</li>
                                                <li>Motion, Particle, Temperature, Humidity, Pressure, UV/IR</li>
                                            </ul>
    									</div>
    									<ul class="sol-list">
    										<li>
    											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/sf03-1.jpg"  alt=""><br>
    											<!-- <span>ALS Sensor + BLE SiP</span> -->
    										</li>
    									</ul>
    								</div>
    							</div>
    						</div>
    	  				</div>
    					<!---->
    	  				<div class="col-md-12 bgnews-list list-base panel">
    						<div class="content">
    							<a class="link-btn" data-link="s04" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
    								<span class="black-text-in-box accordion-center-text text-left padding-left-10" id="txt04">Equipment/Asset Management</span>
    								<div class="circle_button-wrapper pull-right">
    									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
    								</div>
    							</a>
    						</div>

    						<div id="collapseFour" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne">
    							<div class="panel-body">
    								<div class="col-xs-12 pl-0 collapse-area">
    									<div class="sol-img">
        									<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/sf04.png" alt="">
        									<ul class="sol-sol">
                                                <li class="sol-text">Nitrogen cabinet humidity & temperature data capture/ Raw material management</li>
                                                <li class="sol-title">Solutions</li>
                                                <li class="sol-text">Connectivity with Processors</li>
                                                <li>SiP, AoP/AiP, a-EASI/SESUB, BLE Mesh, WiFi, LoRaWAN</li>
                                                <li class="sol-text">Sensors</li>
                                                <li>Temperature, Humidity, RFID, Airflow</li>
        									</ul>
    								    </div>
    									<ul class="sol-list">
    										<li>
    											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/sf04-1.jpg"  alt=""><br>
    											<!-- <span>UV Sensor + BLE SiP</span> -->
    										</li>
    									</ul>
    								</div>
    							</div>
    						</div>
    	  				</div>
    					<!---->
                        <p class="hide-in-small">&nbsp;</p>
                        <p class="hide-in-small">&nbsp;</p>
    				</div>
    			</div>
            </article>
		</div>
		<div class="col-xs-12 col-md-6 living-box factory hide-in-small" style="margin-bottom: -90em;">
			<div class="bike-tool">
				<div class="s01 factory01" id="bt01"></div>
				<div class="s02 factory02" id="bt02"></div>
				<div class="s03 factory03" id="bt03"></div>
				<div class="s04 factory04" id="bt04"></div>
			</div>
		</div>

		<div class="preload">
			<div class="factory01 change"></div>
			<div class="factory02 change"></div>
			<div class="factory03 change"></div>
			<div class="factory04 change"></div>
		</div>
	</section>	
		
	
<style>
	.collapse-area .sol-img{width:73%;float:left;}
	.collapse-area .sol-list{width:27%;float:left;}
	.collapse-area .sol-list li{width:100%;}
	.collapse-area .sol-list.city{width:80%;float:left;}
	.collapse-area .sol-list.city	li{text-align:left;}
	.sol-sol{padding:0;}
	.sol-sol .sol-title{list-style:none;margin-left:0;}
    .bgnews-list a { padding: 10px 15px;}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
$( document ).ready(function() {
	$('.accordion-center-text').click(function(e){
		if ($(this).hasClass('black-text-in-box')) {
			$('.blue-text-in-box').removeClass('blue-text-in-box').addClass('black-text-in-box');
			$(this).removeClass("black-text-in-box");
			$(this).addClass("blue-text-in-box");      //add the class to the clicked element
		} else {
			$(this).removeClass("blue-text-in-box");
			$(this).addClass("black-text-in-box");      //add the class to the clicked element
		}
	});
	$('.link-btn').click(function(){
		// 取得被點擊元素的data-link屬性
		var target = $(this).data('link');
		$('.bike-tool div.'+target).toggleClass('change').siblings().removeClass('change');
	});

    $(function() {
      $('#bt01').click(function() {
        $(this).addClass('change');
        $('#bt02').removeClass('change');
        $('#bt03').removeClass('change');
        $('#bt04').removeClass('change');
        $('#collapseOne').addClass('in');
        $('#collapseTwo').removeClass('in');
        $('#collapseThree').removeClass('in');
        $('#collapseFour').removeClass('in');
        $('#txt01').removeClass("black-text-in-box").addClass("blue-text-in-box");
        $('#txt02').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt03').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt04').removeClass("blue-text-in-box").addClass("black-text-in-box");
      });
      $('#bt02').click(function() {
        $(this).addClass('change');
        $('#bt01').removeClass('change');
        $('#bt03').removeClass('change');
        $('#bt04').removeClass('change');
        $('#collapseOne').removeClass('in');
        $('#collapseTwo').addClass('in');
        $('#collapseThree').removeClass('in');
        $('#collapseFour').removeClass('in');
        $('#txt01').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt02').removeClass("black-text-in-box").addClass("blue-text-in-box");
        $('#txt03').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt04').removeClass("blue-text-in-box").addClass("black-text-in-box");
      });
      $('#bt03').click(function() {
        $(this).addClass('change');
        $('#bt01').removeClass('change');
        $('#bt02').removeClass('change');
        $('#bt04').removeClass('change');
        $('#collapseOne').removeClass('in');
        $('#collapseTwo').removeClass('in');
        $('#collapseThree').addClass('in');
        $('#collapseFour').removeClass('in');
        $('#txt01').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt02').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt03').removeClass("black-text-in-box").addClass("blue-text-in-box");
        $('#txt04').removeClass("blue-text-in-box").addClass("black-text-in-box");
      });
      $('#bt04').click(function() {
        $(this).addClass('change');
        $('#bt01').removeClass('change');
        $('#bt02').removeClass('change');
        $('#bt03').removeClass('change');
        $('#collapseOne').removeClass('in');
        $('#collapseTwo').removeClass('in');
        $('#collapseThree').removeClass('in');
        $('#collapseFour').addClass('in');
        $('#txt01').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt02').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt03').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt04').removeClass("black-text-in-box").addClass("blue-text-in-box");
      });
    });
})
</script>