﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
    ViewBag.Title = "Smart Home";
    ViewBag.enURL = "/en/solution/smart_living";
    ViewBag.zhURL = "/ch/solution/smart_living";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-solution" style="background: url(https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/banner_solutions_v1.jpg) no-repeat center; background-size: cover;">
		<h1 class="page-title title-large">Smart Home</h1>
	</section>

    <section class="inside-article">
    <!--麵包屑-->
        <div class="col-xs-12 living-box">
            <div class="row csr pro" style="margin: 0;">
                <div class="col-xs-12">
                    <ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
                        <!-- Project-B Fix, Apply New Breadcrumb -->
                        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                            <a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
                            <meta itemprop="position" content="0" />
                        </li>
                        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                            <a itemprop="item" href="/en"><span itemprop="name">Smart Home</span></a>
                            <meta itemprop="position" content="1" />
                        </li>
                    </ol>
                </div>
                <article class="col-xs-12">
					<h3 class="title">Smart Home</h3>
					<div class="content">
						<p>
							ASE’s SiP solution integrate sensors, Bluetooth Low Energy (BLE) and wireless connectivity to allow home devices to communicate with each other or be remotely controlled via a smartphone app or personal computer. A smart home allows occupants to have full control of the devices and their functions in their homes from anywhere. Smart sensors using ASE’s SiP BLE connected to lights that flash or change color when abnormality such as temperature fluctuations, drop in indoor air quality or unauthorized door/window access are detected. Home security and energy savings are further enhanced through the use of smart home devices.  A smart home improves the quality of life by providing more convenience, safety and comfort for its occupants.
						</p>
					</div>
                </article>
            </div>
        </div>
    </section>
    <section class="inside-article">
        <div class="col-xs-12 living-box">
            <div class="row csr pro" style="margin: 0;">
                <article class="col-md-8 col-md-offset-2 text-center" style="padding: 20px 0 40px 0;">
                    <div class="col-md-12 nopadding">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/mov_smart_living.jpg">
                    </div>
                    <div style="position:absolute; left:35%; top: 42%; z-index:10; margin:0 auto; border-radius: 10px; text-align: center; background-color: rgba(0, 0, 0, 0.7);">
                        <a class="button videoButton popupVideo" href="https://coms.aseglobal.com/marcom/video/smart-living" target="_blank"><span style="padding-top: 4px;">Watch More</span><i class="icon-play"></i></a>
                    </div>
                </article>
            </div>
        </div>
    </section>


	

	<!-- Project-B Fix, Remove Old Breadcrumb -->
	<section class="inside-article">
	<!--麵包屑-->
	<div class="col-xs-12 col-md-6 living-box">
		<article class="col-xs-12">
			<div class="content-lg row csr pro">
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

					<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a class="link-btn" data-link="s05" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
								<span class="black-text-in-box accordion-center-text text-left padding-left-10" id="txt05">Remote-controlled appliances</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>
						<div id="collapseFive" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<div class="col-xs-12 pl-0 collapse-area">
									<div class="sol-img">
										<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/sm01a.png" style="margin-bottom: 15px" alt="">                   
										<ul class="sol-sol">
											<li class="sol-text">Remote status check and control</li>
											<li class="sol-title">Solutions</li>
											<li>2.5D IC</li>
											<li>Handset RF Transceiver SiP</li>
											<li>BLE + MCU + WiFi Connectivity SiP</li>
											<li>BLE + MCU + AoP RF SiP</li>
										</ul>
									</div>
									<ul class="sol-list">
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/sm07-1.png" width="59px" height="auto" alt=""><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/living-05-1.jpg" width="59px" height="auto" style="padding: 0 7px" alt="">
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/living-05-2.jpg" width="59px" height="auto" style="padding: 0 7px" alt=""><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/living-05-3.jpg" width="59px" height="auto" style="padding: 0 7px" alt="">
										</li>
									</ul>
								</div>
							</div>
							<div class="mobile-img">
								<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/house-m05.jpg" alt="">
							</div>
						</div>
	  				</div>

					<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a class="link-btn" data-link="s03" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
								<span class="black-text-in-box accordion-center-text text-left padding-left-10" id="txt03">Ambient temperature monitoring</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>
						<div id="collapseThree" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<div class="col-xs-12 pl-0 collapse-area">
									<div class="sol-img">
										<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/sm03.png" style="margin-bottom: 15px" alt="">
										<ul class="sol-sol">
											<li class="sol-text">Remote-detection of temperature fluctuations, app notifications</li>
											<li class="sol-title">Solutions</li>
											<li>Environment Sensor + Wireless SiP</li>
										</ul>
									</div>
									<ul class="sol-list">
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/sm03-1.jpg" width="122px" height="auto" style="padding: 0 10px" alt=""><br>
											<!-- <span>Environment Sensor + Wireless SiP</span> -->
										</li>
									</ul>
								</div>
							</div>
							<div class="mobile-img">
								<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/house-m03.jpg"  alt="">
							</div>
						</div>
	  				</div>

	  				<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a class="link-btn" data-link="s06" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
								<span class="black-text-in-box accordion-center-text text-left padding-left-10" id="txt06">Ambient light smart control</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>
						<div id="collapseSix" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<div class="col-xs-12 pl-0 collapse-area">
									<div class="sol-img">
										<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/sm01b.png" style="margin-bottom: 15px" alt="">                   
										<ul class="sol-sol">
											<li class="sol-text">Automatic daylight detection to turn lights on/off</li>
											<li class="sol-title">Solutions</li>
											<li>Ambient Light Sensor + Wireless SiP</li>
										</ul>
									</div>
									<ul class="sol-list">
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/living-06-1.jpg" width="59px" height="auto" style="padding: 0 7px" alt=""><br>
											<!-- <span>Ambient Light Sensor + Wireless SiP</span> -->
										</li>
									</ul>
								</div>
							</div>
							<div class="mobile-img">
								<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/house-m06.jpg"  alt="">
							</div>
						</div>
	  				</div>

					<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a class="link-btn" data-link="s01" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
								<span class="black-text-in-box accordion-center-text text-left padding-left-10" id="txt01">App-controlled lighting</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>
						<div id="collapseOne" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<div class="col-xs-12 pl-0 collapse-area">
									<div class="sol-img">
										<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/sm01.png" style="margin-bottom: 25px" alt="">
                   			  			<ul class="sol-sol">
											<li class="sol-text">Lights can be switching among Living Room, Sleep, Party, Manual modes through App</li>
											<li class="sol-title">Solutions</li>
											<li>BLE + MCU + AoP SiP</li>
										</ul>
									</div>
									<ul class="sol-list">
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/sm01-2.jpg" width="122px" height="auto" style="padding: 0 10px" alt=""><br>
											<!-- <span>BLE + MCU + AoP SiP</span> -->
										</li>
									</ul>
								</div>
							</div>
							<div class="mobile-img">
								<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/house-m01.jpg"  alt="">
							</div>
						</div>
	  				</div>

	  				<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a class="link-btn" data-link="s02" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
								<span class="black-text-in-box accordion-center-text text-left padding-left-10" id="txt02">Security system</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>
						<div id="collapseTwo" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<div class="col-xs-12 pl-0 collapse-area">
									<div class="sol-img">
										<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/sm02.png" style="margin-bottom: 15px" alt="">
										<ul class="sol-sol">
											<li class="sol-text">Break-in detection, intruder lighting, App notifications</li>
											<li class="sol-title">Solutions</li>
											<li>Motion Sensor + Wireless SiP</li>
										</ul>
									</div>
									<ul class="sol-list">
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/sm02-1.png" width="122px" height="auto" style="padding: 0 10px" alt=""><br>
											<!-- <span>Motion Sensor + Wireless SiP</span> -->
										</li>
									</ul>
								</div>
							</div>
							<div class="mobile-img">
								<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/house-m02.jpg" alt="">
							</div>
						</div>
	  				</div>

	  				<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a class="link-btn" data-link="s04" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
								<span class="black-text-in-box accordion-center-text text-left padding-left-10" id="txt04">In-door air quality monitoring</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>
						<div id="collapseFour" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<div class="col-xs-12 pl-0 collapse-area">
									<div class="sol-img">
										<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/sm04.png" style="margin-bottom: 40px" alt="">
										<ul class="sol-sol">
											<li class="sol-text">Detection of Alcohol/CO/CO2/VOC; automatically flashing house lights in the event of an anomaly</li>
											<li class="sol-title">Solutions</li>
											<li>Gas Sensor + Wireless SiP</li>
										</ul>
									</div> 
									<ul class="sol-list">
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/sm04-1.jpg" width="59px" height="auto" style="padding: 0 7px" alt=""><br>
											<!-- <span>Gas Sensor + Wireless SiP</span> -->
										</li>
									</ul>
								</div>
							</div>
							<div class="mobile-img">
								<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/house-m04.jpg"  alt="">
							</div>
						</div>
	  				</div>

	  				<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a class="link-btn" data-link="s07" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
								<span class="black-text-in-box accordion-center-text text-left padding-left-10" id="txt07">Energy saving control</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>
						<div id="collapseSeven" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<div class="col-xs-12 pl-0 collapse-area">
									<div class="sol-img">
										<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/sm01c.png" style="margin-bottom: 15px" alt="">                   
										<ul class="sol-sol">
											<li class="sol-text">Energy efficient management Remote control</li>
											<li class="sol-title">Solutions</li>
											<li>Wireless SiP</li>
											<li>Connectivity SiP</li>
											<li>Lora</li>
										</ul> 
									</div>
									<ul class="sol-list">
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/living-07-1.jpg" width="122px" height="auto" style="padding: 0 10px" alt=""><br>
											<!-- <span>Wireless SiP, Connectivity SiP, Lora</span> -->
										</li>
									</ul>
								</div>
							</div>
							<div class="mobile-img">
								<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/house-m07.jpg"  alt="">
							</div>
						</div>
	  				</div>

				</div>
			</div>
			</article>
		</div>
		<div class="col-xs-12 col-md-6 living-box living hide-in-small" style="margin-bottom: -85em;">
			<div class="house-tool">
				<div class="s01 tool01" id="bt01"></div>
				<div class="s02 tool02" id="bt02"></div>
				<div class="s03 tool03" id="bt03"></div>
				<div class="s04 tool04" id="bt04"></div>
				<div class="s05 tool05" id="bt05"></div>
				<div class="s06 tool06" id="bt06"></div>
				<div class="s07 tool07" id="bt07"></div>
			</div>
		</div>

		<div class="preload">
			<div class="tool01 change"></div>
			<div class="tool02 change"></div>
			<div class="tool03 change"></div>
			<div class="tool04 change"></div>
			<div class="tool05 change"></div>
			<div class="tool06 change"></div>
			<div class="tool07 change"></div>
		</div>
	</section>
<style>
	.collapse-area .sol-img{width:65%;float:left;}
	.collapse-area .sol-list{width:35%;float:left;}
	.collapse-area .sol-list li{width:100%;}
	.collapse-area .sol-list.city{width:80%;float:left;}
	.collapse-area .sol-list.city	li{text-align:left;}
	.sol-sol{padding:0;}
	.sol-sol .sol-title{list-style:none;margin-left:0;}
    .bgnews-list a { padding: 10px 15px;}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
$( document ).ready(function() {
	$('.accordion-center-text').click(function(e){
		if ($(this).hasClass('black-text-in-box')) {
			$('.blue-text-in-box').removeClass('blue-text-in-box').addClass('black-text-in-box');
			$(this).removeClass("black-text-in-box");
			$(this).addClass("blue-text-in-box");      //add the class to the clicked element
		} else {
			$(this).removeClass("blue-text-in-box");
			$(this).addClass("black-text-in-box");      //add the class to the clicked element
		}
	});
	
	$('.link-btn').click(function(){
		// 取得被點擊元素的data-link屬性
		var target = $(this).data('link');
		$('.house-tool div.'+target).toggleClass('change').siblings().removeClass('change');
	});
	$.preloadImages = function() {
	  for (var i = 0; i < arguments.length; i++) {
	    $("<img />").attr("src", arguments[i]);
	  }
	}

	$.preloadImages(
		"https://2311cdn.r.worldssl.net/picimages/solutions/house-tool01-change.png",
		"https://2311cdn.r.worldssl.net/picimages/solutions/house-tool02-change.png",
		"https://2311cdn.r.worldssl.net/picimages/solutions/house-tool03-change.png",
		"https://2311cdn.r.worldssl.net/picimages/solutions/house-tool04-change.png"
	);

    $(function() {
      $('#bt01').click(function() {
        $(this).addClass('change');
        $('#bt02').removeClass('change');
        $('#bt03').removeClass('change');
        $('#bt04').removeClass('change');
        $('#bt05').removeClass('change');
        $('#bt06').removeClass('change');
        $('#bt07').removeClass('change');
        $('#collapseOne').addClass('in');
        $('#collapseTwo').removeClass('in');
        $('#collapseThree').removeClass('in');
        $('#collapseFour').removeClass('in');
        $('#collapseFive').removeClass('in');
        $('#collapseSix').removeClass('in');
        $('#collapseSeven').removeClass('in');
        $('#txt01').removeClass("black-text-in-box").addClass("blue-text-in-box");
        $('#txt02').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt03').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt04').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt05').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt06').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt07').removeClass("blue-text-in-box").addClass("black-text-in-box");
      });
      $('#bt02').click(function() {
        $(this).addClass('change');
        $('#bt01').removeClass('change');
        $('#bt03').removeClass('change');
        $('#bt04').removeClass('change');
        $('#bt05').removeClass('change');
        $('#bt06').removeClass('change');
        $('#bt07').removeClass('change');
        $('#collapseOne').removeClass('in');
        $('#collapseTwo').addClass('in');
        $('#collapseThree').removeClass('in');
        $('#collapseFour').removeClass('in');
        $('#collapseFive').removeClass('in');
        $('#collapseSix').removeClass('in');
        $('#collapseSeven').removeClass('in');
        $('#txt01').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt02').removeClass("black-text-in-box").addClass("blue-text-in-box");
        $('#txt03').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt04').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt05').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt06').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt07').removeClass("blue-text-in-box").addClass("black-text-in-box");
      });
      $('#bt03').click(function() {
        $(this).addClass('change');
        $('#bt01').removeClass('change');
        $('#bt02').removeClass('change');
        $('#bt04').removeClass('change');
        $('#bt05').removeClass('change');
        $('#bt06').removeClass('change');
        $('#bt07').removeClass('change');
        $('#collapseOne').removeClass('in');
        $('#collapseTwo').removeClass('in');
        $('#collapseThree').addClass('in');
        $('#collapseFour').removeClass('in');
        $('#collapseFive').removeClass('in');
        $('#collapseSix').removeClass('in');
        $('#collapseSeven').removeClass('in');
        $('#txt01').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt02').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt03').removeClass("black-text-in-box").addClass("blue-text-in-box");
        $('#txt04').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt05').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt06').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt07').removeClass("blue-text-in-box").addClass("black-text-in-box");
      });
      $('#bt04').click(function() {
        $(this).addClass('change');
        $('#bt01').removeClass('change');
        $('#bt02').removeClass('change');
        $('#bt03').removeClass('change');
        $('#bt05').removeClass('change');
        $('#bt06').removeClass('change');
        $('#bt07').removeClass('change');
        $('#collapseOne').removeClass('in');
        $('#collapseTwo').removeClass('in');
        $('#collapseThree').removeClass('in');
        $('#collapseFour').addClass('in');
        $('#collapseFive').removeClass('in');
        $('#collapseSix').removeClass('in');
        $('#collapseSeven').removeClass('in');
        $('#txt01').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt02').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt03').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt04').removeClass("black-text-in-box").addClass("blue-text-in-box");
        $('#txt05').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt06').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt07').removeClass("blue-text-in-box").addClass("black-text-in-box");
      });
      $('#bt05').click(function() {
        $(this).addClass('change');
        $('#bt01').removeClass('change');
        $('#bt02').removeClass('change');
        $('#bt03').removeClass('change');
        $('#bt04').removeClass('change');
        $('#bt06').removeClass('change');
        $('#bt07').removeClass('change');
        $('#collapseOne').removeClass('in');
        $('#collapseTwo').removeClass('in');
        $('#collapseThree').removeClass('in');
        $('#collapseFour').removeClass('in');
        $('#collapseFive').addClass('in');
        $('#collapseSix').removeClass('in');
        $('#collapseSeven').removeClass('in');
        $('#txt01').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt02').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt03').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt04').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt05').removeClass("black-text-in-box").addClass("blue-text-in-box");
        $('#txt06').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt07').removeClass("blue-text-in-box").addClass("black-text-in-box");
      });
      $('#bt06').click(function() {
        $(this).addClass('change');
        $('#bt01').removeClass('change');
        $('#bt02').removeClass('change');
        $('#bt03').removeClass('change');
        $('#bt04').removeClass('change');
        $('#bt05').removeClass('change');
        $('#bt07').removeClass('change');
        $('#collapseOne').removeClass('in');
        $('#collapseTwo').removeClass('in');
        $('#collapseThree').removeClass('in');
        $('#collapseFour').removeClass('in');
        $('#collapseFive').removeClass('in');
        $('#collapseSix').addClass('in');
        $('#collapseSeven').removeClass('in');
        $('#txt01').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt02').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt03').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt04').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt05').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt06').removeClass("black-text-in-box").addClass("blue-text-in-box");
        $('#txt07').removeClass("blue-text-in-box").addClass("black-text-in-box");
      });
      $('#bt07').click(function() {
        $(this).addClass('change');
        $('#bt01').removeClass('change');
        $('#bt02').removeClass('change');
        $('#bt03').removeClass('change');
        $('#bt04').removeClass('change');
        $('#bt05').removeClass('change');
        $('#bt06').removeClass('change');
        $('#collapseOne').removeClass('in');
        $('#collapseTwo').removeClass('in');
        $('#collapseThree').removeClass('in');
        $('#collapseFour').removeClass('in');
        $('#collapseFive').removeClass('in');
        $('#collapseSix').removeClass('in');
        $('#collapseSeven').addClass('in');
        $('#txt01').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt02').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt03').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt04').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt05').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt06').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt07').removeClass("black-text-in-box").addClass("blue-text-in-box");
      });
    });
	
})
</script>
