﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
    ViewBag.Title = "Smart City ";
    ViewBag.URL = "solution/smart_city";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-solution">
		<h1 class="page-title title-large">Smart City</h1>
	</section>


	

	<!-- Project-B Fix, Remove Old Breadcrumb -->
	<section class="inside-article">
		<!--麵包屑-->
	<div class="col-xs-12 col-md-6 living-box">			
	<div class="content-lg row">
		<div class="col-xs-12">
		
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
			</ol>
		</div>
		<article class="col-xs-12">
			<h3 class="title">Smart City</h3>
			<div class="content">
				<p>By creating an innovative city with fully aware, digital, and informative, ASE SiP solution platform realizes low carbon and efficient life. With convenient internet and share of city resources for effective management and maximization of utility, various connected facilities can be integrated, such as street lighting, energy management, traffic monitoring, parking, and air-monitoring, etc. ASE SiP solution platform enables a smart connected city and develops a sustainable future.
				</p>
			</div>
		</article>
	</div>
	<article class="col-xs-12">
			<div class="content-lg row csr pro">
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
					<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a class="link-btn" data-link="s01" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
								<span class="black-text-in-box accordion-center-text">Street lighting</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>

						<div id="collapseOne" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<div class="col-xs-12 pl-0 collapse-area">
									<div class="sol-img">
										<img class="sol-icon" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/sm01.png" alt="">
										<ul class="sol-sol">
											<li class="sol-text">street lights automatic on/off and brightness adjustment based on ambient light </li>
											<li class="sol-title">Solutions</li>
											<li>BLE+MCU SiP</li>
											<li>LoRa/SigFox/NB-IOT/LTE+MCU SiP</li>
											<li>UV/IR Sensor</li>
										</ul>
									</div>
									<ul class="sol-list">
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/sc01-1.jpg"  alt="">
										
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/sc01-3.jpg"  alt="">
										</li>
									</ul>
								</div>
							</div>
							<div class="mobile-img">
								<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/city-m01.jpg"  alt="">
							</div>
						</div>
	  				</div>
	  				<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a class="link-btn" data-link="s02" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
								<span class="black-text-in-box accordion-center-text">Energy management<br><small>(flood/water/electricity detection)</small></span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>

						<div id="collapseTwo" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<div class="col-xs-12 pl-0 collapse-area">
									<div class="sol-img">
										<img class="sol-icon" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/sc02-1a.jpg" alt="">
										<img style="clear:left; margin-top:-8px;" class="sol-icon" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/sc02-1b.jpg" alt="">
										<ul class="sol-sol">
											<li>Electricity detection: real-time monitoring of power usage with automatic deployment of energy to achieve low carbon</li>
											<li>Water detection: detection of water and leakage in buildings for intelligent management</li>
											<li>Flood detection: record rainfall and changes in flood level, and provide immediate flood warning</li>
											<li>Gas flow & leakage detection: record gas flow for quick inquiry and provide timely notification when gas leakage is detected</li>
										</ul>
									</div>
									<ul class="sol-list">
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/sc03-1.jpg"  alt=""><br>
											
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/sc05-1.jpg"  alt=""><br>
										
										</li>

									</ul>
								</div>
							</div>
							<div class="mobile-img">
								<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/city-m02.jpg"  alt="">
							</div>
						</div>
	  				</div>
	  				<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a class="link-btn" data-link="s03" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
								<span class="black-text-in-box accordion-center-text">Traffic monitoring</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>

						<div id="collapseThree" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<div class="col-xs-12 pl-0 collapse-area">
									<div class="sol-img">
										<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/sc03.png" alt="">
										<ul class="sol-sol">
											<li class="sol-text">Monitor traffic conditions and notify traffic accidents or traffic jams in a timely manner</li>
											<li class="sol-title">Solutions</li>
											<li>LoRa/SigFox/NB-IOT/LTE+MCU SiP</li>
										</ul>	
									</div>
									<ul class="sol-list">
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/sc03-1.jpg"  alt=""><br>
											
										</li>
									</ul>
								</div>
							</div>
							<div class="mobile-img">
								<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/city-m03.jpg"  alt="">
							</div>
						</div>
	  				</div>
	  				<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a class="link-btn" data-link="s04" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
								<span class="black-text-in-box accordion-center-text">Parking</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>

						<div id="collapseFour" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<div class="col-xs-12 pl-0 collapse-area">
									<div class="sol-img vm">
										<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/sc04.png" alt="">
										<ul class="sol-sol">
											<li class="sol-text">Identify whether the parking space is in use and guide the vehicle to parking space via App</li>
											<li class="sol-title">Solutions</li>
											<li>LoRa/SigFox/NB-IOT/LTE+MCU SiP</li>
											<li>Magnetic/IR Sensor</li>
											<li>Camera with Image Recognition</li>
										</ul>
									</div>
									<ul class=" sol-list">
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/sc03-1.jpg"  alt=""><br>
											
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/sc04-1.jpg"  alt=""><br>
											
										</li>
										<li>
											<img style="width:40%;" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/sc03-1-2.jpg"  alt=""><br>
											
										</li>
									</ul>
								</div>
							</div>
							<div class="mobile-img">
								<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/city-m04.jpg"  alt="">
							</div>
						</div>
	  				</div>
	  				<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a class="link-btn" data-link="s05" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
								<span class="black-text-in-box accordion-center-text">Air monitoring</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>

						<div id="collapseFive" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<div class="col-xs-12 pl-0 collapse-area">
									<div class="sol-img vm">
										<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/sc05.png" alt="">
										<ul class="sol-sol">
											<li class="sol-text">Air quality (PM2.5, TVOC… etc.) detection</li>
											<li class="sol-title">Solutions</li>
											<li>Gas/TVOC/PM2.5 Sensor</li>
										</ul>
										</div>
									<ul class="sol-list">
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/sc05-1.jpg"  alt=""><br>
											
										</li>
									</ul>
								</div>
							</div>
							<div class="mobile-img">
								<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/city-m05.jpg"  alt="">
							</div>
						</div>
	  				</div>

	  				<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a class="link-btn" data-link="s07" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
								<span class="black-text-in-box accordion-center-text">Data management</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>

						<div id="collapseSeven" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<div class="col-xs-12 pl-0 collapse-area">
									<div class="sol-img vm">
										<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/sc07.png" alt="">
										<ul class="sol-sol">
											<li class="sol-text">Data transmission and storage</li>
											<li class="sol-title">Solutions</li>
											<li>2.5D IC</li>
										</ul>
										</div>
									<ul class="sol-list">
										<li>
											<img style="width:50%;" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/sm07-1.png" alt=""><br>
											<!-- <span>2.5D IC</span> -->
										</li>
									</ul>
								</div>
							</div>
							<div class="mobile-img">
								<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/city-m07.jpg"  alt="">
							</div>
						</div>
	  				</div>


				</div>

			</div>
		</article>
		</div>
		<div class="col-xs-12 col-md-6 living-box cityicon">
			<div class="city-tool">
				<div class="s01 city01"></div>
				<div class="s02 city02"></div>
				<div class="s02 city03"></div>
				<div class="s03 city04"></div>
				<div class="s04 city05"></div>
				<div class="s05 city06"></div>
				<div class="s07 city07"></div>
			</div>

		</div>
		<div class="preload">
			<div class="city01 change"></div>
			<div class="city02 change"></div>
			<div class="city03 change"></div>
			<div class="city04 change"></div>
			<div class="city05 change"></div>
			<div class="city06 change"></div>
			<div class="city07 change"></div>
		</div>
	</section>	
		
<style>
	.collapse-area .sol-img{width:80%;float:left;}
	.collapse-area .sol-list{width:20%;float:left;}
	.collapse-area .sol-list li{width:100%;}
	.collapse-area .sol-list.city{width:80%;float:left;}
	.collapse-area .sol-list.city	li{text-align:left;} 
	.sol-sol{padding:0;}
	.sol-sol li{margin-left:10px;}
	.sol-sol .sol-title{list-style:none;margin-left:0;}
</style>
<script>
$( document ).ready(function() {
	$('.accordion-center-text').click(function(e){
		if ($(this).hasClass('black-text-in-box')) {
			$('.blue-text-in-box').removeClass('blue-text-in-box').addClass('black-text-in-box');
			$(this).removeClass("black-text-in-box");
			$(this).addClass("blue-text-in-box");      //add the class to the clicked element
		} else {
			$(this).removeClass("blue-text-in-box");
			$(this).addClass("black-text-in-box");      //add the class to the clicked element
		}
	});
	$('.link-btn').click(function(){
	  // 取得被點擊元素的data-link屬性
	  var target = $(this).data('link');
	  $('.city-tool div.'+target).toggleClass('change');
	  $('.city-tool div:not(.'+target+')').removeClass('change');
	 });
	
	
})
</script>
