﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
    ViewBag.Title = "Heterogeneous Integration (HI)";
    ViewBag.enURL = "/en/heterogeneous_integration";
    ViewBag.zhURL = "/ch/heterogeneous_integration";
    ViewBag.webSiteDesc = "ASE possesses many years of industry-leading experience in heterogeneous integration that enables the continued increase in functional density and decrease in cost per function required to maintain the progress in cost and performance for electronics.";
}
<!-- page Banner -->
<section id="page-vision" class="page-banner-s banner-technology">
    <h1 class="page-title title-large">Heterogeneous Integration</h1>
    <!-- <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/products/banner_product_test.jpg" alt=""> -->
</section>


<!--breadcrumbs-->
<div class="content-lg row">
    <div class="col-xs-12">
        <ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/technology/technology_innovation"><span itemprop="name">Advanced Technologies</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/solution"><span itemprop="name">Heterogeneous Integration</span></a>
					<meta itemprop="position" content="2" />
				</li>
        </ol>
    </div>
</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->

    <!-- Technology list -->
    <section class="inside-article">
        <div class="content-lg row">
            <article class="col-xs-12">
                <h3 class="title">Heterogeneous Integration (HI)</h3>
                <p>
                    The semiconductor industry is facing a new era in which device scaling and cost reduction will no longer continue on the path followed for the past few decades. Packing more transistors on a monolithic IC is becoming more difficult and expensive at each node. Semiconductor companies are now looking for technology solutions to bridge the gap and improve cost-performance, while at the same time adding more functionality through integration. Integrating all the functions into a single chip, known as system on a chip (SoC), presents many challenges that include higher costs and design complexities. An attractive alternative is heterogeneous integration that uses advanced packaging technology to integrate devices which could be separately designed and manufactured by the most suitable process technology in the most optimized way.
                </p>
                <h4 class="sub-title">What is Heterogeneous Integration (HI)?</h4>
                <p>
                    Heterogeneous Integration refers to the integration of separately manufactured components into a higher level assembly (<a href="@Url.Action("sip_module", "technology", new { lang = ViewBag.language.lang })">System-in-Package, SiP</a>) that, in the aggregate, provides enhanced functionality and improved operating characteristics. Source: <a href="https://eps.ieee.org/images/files/HIR_2019/HIR1_ch01_overview.pdf" target="_blank">Heterogeneous Integration Roadmap 2019 Edition CHAPTER 1 OVERVIEW</a>.<br /><br />

                    The combined components can vary in system level (e.g., pre-assembled package or subsystem), functionality (e.g., specialized processors, DRAM , flash memory, surface mount device (SMD), resistor/capacitor/inductor, filters, connectors, MEMS device, sensors) and technologies (e.g., one optimized for die size with another one optimized for low power). The overall idea behind heterogeneous integration is to integrate multiple dies in the same package. This enables the package to perform a specific and advanced function in a small form factor.
                </p>
                </article>
        </div>
    </section>
    <section class="inside-article">
        <div class="content-lg row">
            <div class="col-md-5">
                <div class="technology-box text-center">
                    <br />
                    <div class="col-xs-12 nopadding">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/heterogeneous_components_pic.jpg" class="img-responsive center-block">
                    </div>
                    <div class="clearfix"></div>
                    <br />
                    <p><b>Heterogeneous Components</b></p>
                </div>
            </div>
            <div class="col-md-7">
                <div class="technology-box text-center">
                    <div class="col-xs-2 nopadding">
                        <br />
                        <br />
                        <br />
                        <br />
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/arrow_horizontal.jpg")" class="img-responsive center-block">
                        <p class="no-margin"><b>Integration</b></p>
                    </div>
                    <div class="col-xs-10 nopadding">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/system-in-package_pic.jpg" class="img-responsive center-block">
                        <br />
                        <p><b>System-in-Package (SiP)</b></p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="inside-article">
        <div class="content-lg row">
            <article class="col-xs-12">
            <h4 class="sub-title">Advantages of Applying Heterogeneous Integration</h4>
            <p>
                Conventionally, the semiconductor industry tried to squeeze everything into one monolithic chip. However, it’s getting so expensive and the chip is getting so big. Heterogeneous integration tackles the age-old issue by combining chips with different process nodes and technologies. This technology enables the continued increase in functional density and decrease in cost per function required to maintain the progress in cost and performance for electronics. Heterogeneous Integration is essential to maintain the pace of progress with higher performance, lower latency, smaller size, lighter weight, lower power requirement per function, and lower cost.
            </p>
            </article>
        </div>
    </section>
    <section class="csr-bg">
        <div class="content-lg row">
            <div class="col-md-12">
                <h4 class="sub-title">Technology Building Blocks for Heterogeneous Integration</h4>
            </div>
            <div class="col-xs-12 hide-in-small">
                <div class="technology-box">
                    <div class="nopadding">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/hi_technology_building_blocks_lg.jpg" class="img-responsive center-block">
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-sm-6 hide-in-large">
                <div class="technology-box">
                    <h4>HI Technology Building Blocks</h4>
                    <div class="nopadding">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/hi_technology_building_blocks.jpg?1" class="img-responsive center-block">
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-sm-6 hide-in-large">
                <div class="technology-box">
                    <h4>HI Technology Building Blocks (continued)</h4>
                    <div class="nopadding">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/hi_technology_building_blocks_continued.jpg?1" class="img-responsive center-block">
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="inside-article">
        <div class="content-lg row">
            <article class="col-xs-12">
                <h4 class="sub-title">Heterogeneous Integration Roadmap (HIR)</h4>
                <p>
                    Emerging technologies—such as AI, 5G, edge, cloud, and data center, autonomous vehicles and wearable technology— hold great promise for improving the lives of individuals across the globe. The HIR maps out the future of system-level integration and the potential advanced packaging solutions necessary for implementing the emerging technologies.<br /><br />

                    ASE's Dr. William (Bill) Chen is leading the HIR initiative alongside Dr. Bill Bottoms of 3MTS (IEEE EPS), Tom Salmon (SEMI), S. Iyer (IEEE EDS), A. Helmy (IEEE Photonics), and Ravi Mahajan (ASME EPPD). The Heterogeneous Integration Roadmap is the result of dedicated collaboration and enormous effort by ASE contributors including Rich Rice, CP Hung, John Hunt and Mark Gerber, as well as the many contributors from across the electronics community. The 2021 edition of the Heterogeneous Integration Roadmap includes 24 chapters and can be downloaded by visiting <a href="https://eps.ieee.org/technology/heterogeneous-integration-roadmap/2021-edition.html" target="_blank">https://eps.ieee.org/technology/heterogeneous-integration-roadmap/2021-edition.html</a>.
                </p>
                <h4 class="sub-title">Solution Platform</h4>
                <p>
                    The ASE heterogeneous integration team possess many years of industry-leading experience in packaging and SiP technology development. ASE SiP technology enables ultra-compact, high capacity, low power module solutions with controller and sensor integration to meet the application needs of AI, IoT and mobile device miniaturization. The company has also developed various business models to actively promote the SiP eco-system. ASE’s innovative SiP and MEMS solutions leverage upon established IC assembly capabilities including copper wiring, flip chip packaging, wafer level packaging, fan-out wafer level packaging, 2.5D/3D IC and embedded chip packaging to address ongoing trends for the mobile device, IoT, high performance computing, and IoV (Internet of Vehicles) markets.
                </p>
            </article>
        </div>
    </section>
    <section class="inside-article">
        <div class="content-lg row">
            <div class=" col-md-12 tech-cont-link">
            <a class="phone" href="@Url.Action("plants_offices", "About", new { lang = ViewBag.language.lang })"><span class="glyphicon glyphicon-earphone"></span>  Contact for enquiries</a>
            </div>
        </div>
    </section>
    <section id="iconlink" class="iconlink linebg-2">
        <div class="content-lg">
            <ul class="row ">
                <li class="col-xs-12 col-sm-3  text-center no-margin">
                    <a href="@Url.Action("smart_living", "Solution", new { lang = ViewBag.language.lang })">
                        <div class="imgbox">
                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/solutions_icon-01.png" alt="Fan Out" data-hover="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/solutions_icon-01_hover.png">
                        </div>
                        <div class="textbox">
                            <h4>Smart Living</h4>
                        </div>
                        <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                    </a>
                </li>
                <li class="col-xs-12 col-sm-3  text-center no-margin">
                    <a href="@Url.Action("smart_bike", "Solution", new { lang = ViewBag.language.lang })">
                        <div class="imgbox">
                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/solutions_icon-02.png" alt="SiP & Module Solutions" data-hover="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/solutions_icon-02_hover.png">
                        </div>
                        <div class="textbox">
                            <h4>Smart Bike</h4>
                        </div>
                        <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                    </a>
                </li>
                <li class="col-xs-12 col-sm-3  text-center no-margin">
                    <a href="@Url.Action("smart_city", "Solution", new { lang = ViewBag.language.lang })">
                        <div class="imgbox">
                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/solutions_icon-04.png" alt="TSV-Interposer Integration" data-hover="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/solutions_icon-04_hover.png">
                        </div>
                        <div class="textbox">
                            <h4>Smart City</h4>
                        </div>
                        <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                    </a>
                </li>
                <li class="col-xs-12 col-sm-3 text-center no-margin">
                    <a href="@Url.Action("smart_automotive", "Solution", new { lang = ViewBag.language.lang })">
                        <div class="imgbox">
                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/solutions_icon-03.png" alt="Flip Chip" data-hover="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/solutions_icon-03_hover.png">
                        </div>
                        <div class="textbox">
                            <h4>Smart Automotive</h4>
                        </div>
                        <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                    </a>
                </li>
                <!--<li class="col-xs-12 col-sm-6 col-md-4 text-center">
                    <a href="javascript:;">
                        <div class="imgbox">
                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/solutions_icon-05.png" alt="Die Stacking" data-hover="https://2311cdn.r.worldssl.net/picimages/icon/solutions_icon-05_hover.png")">
                        </div>
                        <div class="textbox">
                            <h4>Consumer Electronics</h4>
                        </div>
                        <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                    </a>
                </li>
                <li class="col-xs-12 col-sm-6 col-md-4 text-center no-margin">
                    <a href="javascript:;">
                        <div class="imgbox">
                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/solutions_icon-06.png" alt="IPD" data-hover="https://2311cdn.r.worldssl.net/picimages/icon/solutions_icon-06_hover.png")">
                        </div>
                        <div class="textbox">
                            <h4>Networking</h4>
                        </div>
                        <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                    </a>
                </li>		-->
            </ul>
        </div>
    </section>
<style>
    .iconlink li:last-child {
        border: none;
    }
</style>
