﻿    @{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
}
<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-supplier long-text">

		<h1 class="page-title title-large">SUPPLIER MANAGEMENT</h1>
	</section>

<!--breadcrumbs-->
<div class="content-lg row">
    <div class="col-xs-12">
        <ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/about"><span itemprop="name">About ASE</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/supplier"><span itemprop="name">Supplier Management</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/supplier/become_ase_supply_chain_partner"><span itemprop="name">Become ASE's Supplier</span></a>
					<meta itemprop="position" content="3" />
				</li>
        </ol>
    </div>
</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->

<section class="inside-article">
    <div class="content-lg row">
        <div class="col-xs-12">
            <h3 class="title">Become ASE's Supplier</h3>
        </div>
        <div class="col-xs-12">
            <div class="col-xs-12 col-md-6 nopadding">
                <h4 class="sub-title">ASE Supplier Assessment Process</h4>
                <p>
                    Before becoming a qualified ASE supply chain partner, a potential supplier must meet ASE’s partner standards by completing the ASE Supplier Assessment Process. The ASE Supplier Assessment Process is as follows:
                </p>
            </div>
            <div class="col-sm-10 col-sm-offset-1 col-md-5 ">
                <br><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/supplier/become_ase_supply_chain_partner1.png" class="img-responsive">
            </div>
        </div>
        <div class="col-xs-12">
            <p>
                <strong>Phase 1. Supplier Profile Verification</strong><br>
                Suppliers must provide required documents to ASE’s Purchasing Department for verification, including Vendor Qualification Check List, Non-Disclosure Agreement, Supplier’s Letter of Commitment to ASE’s Supplier Code of Conduct, Conflict Minerals Representation, etc. Information provided must be accurate and suppliers are liable for the information provided. ASE has the right to terminate a supplier if the information provided is inaccurate.<br><br>

                <strong>Phase 2. Supplier Product Evaluation and On-Site Audit</strong><br>
                After passing Phase 1, depending on suppliers’ business categories, products and services, some suppliers will need to undergo Phase 2 evaluation such as the verification of product or service specifications, sample trial-run, supplier facility on-site audit, etc.<br><br>
            </p>
        </div>
        <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
            <br><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/supplier/become_ase_supply_chain_partner2.png" class="img-responsive"><br><br>
        </div>
    </div>
</section>
