﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-supplier long-text">
		<h1 class="page-title title-large">SUPPLIER MANAGEMENT</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->

	<section class="inside-article">
		<div class="content-lg row">
			<div class="col-xs-12">
				<h3 class="title">Message from Top Management</h3>
				<p>
				ASE believes in combining proactivity, mutual trust, integrity and introspection for corporate growth. We maintain strict criteria in our supplier selection process, procurement strategy, supplier and goods consolidation, and standardize our procurement process by leveraging resources from across the organization. ASE deploys a value-oriented approach to educate our suppliers on the supplier code of conduct. This approach drives suppliers to attach greater importance to sustainability issues while pursuing innovation for the benefit of the industry. Supply chain management is an important function within an enterprise and we are doubling our efforts not only on upholding an incorruptible supply chain, but also on formulating supply chain strategies in support of customers’ needs and demands for green solutions. As a leading semiconductor service provider, ASE is in a unique position to play an active role to drive win-win strategies with its supply partners to meet sustainability goals in human rights, responsible sourcing, environmental protection and corporate compliance.<br><br><br>

				<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/supplier/message_from_top_management1.png" class="center-block" style="width:90%;">

				</p>
				<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/supplier/u11832.png">
				<p class="spacing2em">
				SS Lee<br>
				General Manager of Corporate Procurement

				</p>
			</div>
		</div>
	</section>
