﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
    ViewBag.Title = "Supply Chain Management";
    ViewBag.zhURL = "/ch/supplier/supply_chain_management";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-supplier long-text">

		<h1 class="page-title  title-large">SUPPLIER MANAGEMENT</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/about"><span itemprop="name">About ASE</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/supplier"><span itemprop="name">Supplier Management</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/supplier/supply_chain_management"><span itemprop="name">Supply Chain Strategy</span></a>
					<meta itemprop="position" content="3" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->

	<section class="inside-article">
		<div class="content-lg row">
			<div class="col-xs-12">
				<h3 class="title">Supply Chain Strategy</h3>
				<h4 class="sub-title">Supply Chain Management Strategy</h4>
				<p>
					As one of the leading companies in the semiconductor industry, we are conscious that we control a significant resource through our purchasing power. In order to pursue sustainable growth while meeting customers' needs, the company evaluates overall sustainable value of the supply chain in addition to cost and quality considerations in our daily procurement operations. We aim to grow together with our suppliers through developing stable partnerships, strengthening supply chain resilience and practicing responsible procurement.<br><br>

					ASE Group Supply Chain Management Strategy:
					<ul class="nopadding">
						<li>Value Oriented: To obtain a competitive overall value in the supply chain.</li>
						<li>Diversified Sources: To maintain at least two suppliers for the same material to ensure continuous supply.</li>
						<li>Quality First: To obtain the best quality products and services from suppliers.</li>
						<li>Strategic Cooperation: To integrate suppliers' resources and capabilities for greater innovation.</li>
						<li>Sustainable Sourcing: To raise suppliers' economic, environmental and social performance in sustainability.</li>
						<li>Responsible Minerals Sourcing: To ensure that suppliers are using only responsibly sourced, conflict-free minerals in their products. For more detail, please check <a href="http://www.aseglobal.com/en/csr_conflict_minerals_compliance.html" target="_blank">ASE Group Corporate Policy for Sourcing Conflict Minerals</a>.</li>
					</ul>
				</p>

				<h4 class="sub-title">e-Supply Chain Collaboration</h4>
				<p>
					Our supply chain is divided into the following categories according to the procurement type: raw materials, equipment, facility/engineering contractors, waste treatment contractors, transport and logistics as well as service-oriented outsourcers. We have established an integrated procurement system that includes an online portal. In 2011, we developed the ASE Electronic Supply Chain Planning and Collaboration platform named “e-Hub”. Both buyers and suppliers can execute requests for quotations, respond to purchase orders, send shipping notices, review CoC (Certificate of Conformance) submissions, check inventory and make payment inquiries online. The system enables supply chain information to be transparent and exchanged in real time, and the electronic records can be tracked and audited.<br><br>

					ASE seeks to collaborate with supply partners to build a comprehensive inventory alert mechanism that will meet supply demands and raise the efficiency in logistics management, thus shortening the cycle time on both sides while strengthening business operations.
				</p>
                <br />
                <a target="_blank" href="https://www.aseglobal.com/en/pdf/2019_aseth_purchasingandsupplychaindevelopmentpolicy.pdf"><div class="no-margin circle_button darkgray facilities-circle-button"><i class="icon-arrow-right facilities-icon-arrow-right"></i></div> Supply Chain Purchasing and Supply Chain Development Policy</a>
                <br /><br />
                <a target="_blank" href="https://www.aseglobal.com/en/pdf/ase_holding_supplier_coc_en_2018.pdf"><div class="no-margin circle_button darkgray facilities-circle-button"><i class="icon-arrow-right facilities-icon-arrow-right"></i></div> Supplier Code of Conduct</a>
                <br /><br />
			</div>
		</div>
	</section>
