﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-supplier long-text">

		<h1 class="page-title title-large ">SUPPLIER MANAGEMENT</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/about"><span itemprop="name">About ASE</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/supplier"><span itemprop="name">Supplier Management</span></a>
					<meta itemprop="position" content="2" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->

	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<p>
	            	ASE works closely with its supply chain partners to enable a sustainable operation that contributes to positive impacts to the environment and the community. Through its sustainable supply chain management, ASE ensures that its suppliers are respectful of human rights, conscientious of conflict metal sourcing and conduct their operations in a safe, ethical and responsible environment.<br><br>

	            	ASE believes in combining proactivity, mutual trust, integrity and introspection for corporate growth. We maintain strict criteria in our supplier selection process, procurement strategy, supplier and goods consolidation, and standardize our procurement process by leveraging resources from across the organization. ASE deploys a value-oriented approach to educate our suppliers on the supplier code of conduct. This approach drives suppliers to attach greater importance to sustainability issues while pursuing innovation for the benefit of the industry. Supply chain management is an important function within an enterprise and we are doubling our efforts not only on upholding an incorruptible supply chain, but also on formulating supply chain strategies in support of customers’ needs and demands for green solutions. As a leading semiconductor service provider, ASE is in a unique position to play an active role to drive win-win strategies with its supply partners to meet sustainability goals in human rights, responsible sourcing, environmental protection and corporate compliance.
	                <br><br>
	                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/supplier/message_from_top_management1.png" class="center-block" style="width:90%;">
	            </p>
			</article>
		</div>
	</section>

	<!-- Supplier Management list -->
	<section id="iconlink" class="iconlink linebg-2">
		<div class="content-lg">
			<ul class="row item-3">
				<!--
				<li class="col-xs-12 col-sm-6 col-md-3 text-center">
					<a href="@Url.Action("message_from_top_management", "Supplier", new { lang = ViewBag.language.lang })">
						<div class="imgbox">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/supplier_icon-01.png" alt="Fan Out" data-hover="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/supplier_icon-01_hover.png">
						</div>
						<div class="textbox">
							<h4>Message from Top Management</h4>
						</div>
						<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
					</a>
				</li>\
				<li class="col-xs-12 col-sm-6 col-md-3 text-center">
					<a href="@Url.Action("supply_chain_development_policy__coc", "Supplier", new { lang = ViewBag.language.lang })">
						<div class="imgbox">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/supplier_icon-02.png" alt="Supply Chain Development Policy &amp; Supplier CoC" data-hover="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/supplier_icon-02_hover.png">
						</div>
						<div class="textbox">
							<h4>Supply Chain Development Policy &amp; Supplier CoC</h4>
						</div>
						<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
					</a>
				</li>
				-->
				<li class="col-xs-12 col-sm-6 col-md-4 text-center">
					<a href="@Url.Action("supply_chain_management", "Supplier", new { lang = ViewBag.language.lang })">
						<div class="imgbox">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/supplier_icon-03.png" alt="Supply Chain Strategy" data-hover="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/supplier_icon-03_hover.png">
						</div>
						<div class="textbox">
							<h4>Supply Chain Strategy</h4>
						</div>
						<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
					</a>
				</li>

				<li class="col-xs-12 col-sm-6 col-md-4 text-center">
					<a href="@Url.Action("supply_chain_development_and_sustainability_management", "Supplier", new { lang = ViewBag.language.lang })">
						<div class="imgbox">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/supplier_icon-04.png" alt="Supply Chain Development" data-hover="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/supplier_icon-04_hover.png">
						</div>
						<div class="textbox">
							<h4>Supply Chain Development</h4>
						</div>
						<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
					</a>
				</li>
				<!--
				<li class="col-xs-12 col-sm-6 col-md-3 text-center">
					<a href="@Url.Action("sustainable_supply_chain_initiatives", "Supplier", new { lang = ViewBag.language.lang })">
						<div class="imgbox">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/supplier_icon-06.png" alt="Die Stacking" data-hover="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/supplier_icon-06_hover.png">
						</div>
						<div class="textbox">
							<h4>Sustainable Supply Chain Initiatives</h4>
						</div>
						<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
					</a>
				</li>
				-->
				<li class="col-xs-12 col-sm-6 col-md-4 text-center">
					<a href="@Url.Action("become_ase_supply_chain_partner", "Supplier", new { lang = ViewBag.language.lang })">
						<div class="imgbox">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/supplier_icon-05.png" alt="Become ASE's Supplier" data-hover="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/supplier_icon-05_hover.png">
						</div>
						<div class="textbox">
							<h4>Become ASE's Supplier</h4>
						</div>
						<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
					</a>
				</li>
			</ul>
		</div>
	</section>
