﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-supplier long-text">
		<h1 class="page-title  title-large">SUPPLIER MANAGEMENT</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/about"><span itemprop="name">About ASE</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/supplier"><span itemprop="name">Supplier Management</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/supplier/supply_chain_development_and_sustainability_management"><span itemprop="name">Supply Chain Development</span></a>
					<meta itemprop="position" content="3" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->

	<section class="inside-article">
	    <div class="content-lg row">
	        <div class="col-xs-12">
				<h3 class="title">Supply Chain Development</h3>
				<h4 class="sub-title">Supplier Sustainability Risk Assessment</h4>
	            <p>
	                To control the risk of suppliers, ASE conducts a supplier sustainability risk assessment via a three-stage approach annually. For more detail, please visit <a href="@Url.Action("Supply_Chain_Development", "CSR", new { lang = ViewBag.language.lang, param1 = "Supplier_Sustainability_Management" })">Supplier Sustainability Management</a>.
	            </p>
                <br />
				<h4 class="sub-title">Building Supplier Sustainability Management</h4>
	            <p>
					To strengthen supplier's ability to respond to global sustainability trends and risks, and to help increase their awareness and capability in sustainability management, ASE regularly communicate our expectations on sustainability through the organizing of training courses for suppliers to participate in.
				</p>
                <br />
				<h4 class="sub-title">ASE Best Supplier Awards Ceremony</h4>
				<p>
					ASE holds the "Best Supplier Awards Ceremony" annually to recognize and affirm suppliers for their efforts in the previous year. Besides encouraging outstanding suppliers, ASE also seeks to emphasize the company’s support of strong partner relationships. In addition, we share the results of outstanding partners as a benchmark for other suppliers to follow and to demonstrate our focus on advancing sustainability performance with all our suppliers together for the benefit and progress of the electronics industry.
				</p>
                <br />
	            <h4 class="sub-title">ASEH Supplier Sustainability Excellence Awards</h4>
				<p>
					To promote ASEH’s sustainability strategies of "Low Carbon" and "Circular", we encourage our suppliers to propose sustainability partnership plans. Selected programs will be funded by the ASE Environmental Protection and Sustainability Foundation for between 1 to 3 years. The incentive programs are created to inspire innovative cooperation models and strengthen connections between supply chain partners. They also include substantive incentives to promote a circular economy and reduce carbon emissions, so as to expand business opportunities and output that will create value and a positive impact for green supply chains. For more information, please visit the link on <a href="https://www.aseglobal.com/csr/responsible-procurement/supplier-sustainability-award/" target="_blank">ASE Supplier Sustainability Excellence Awards</a>.
				</p>
                <br />
	        </div>
	    </div>
	</section>
