﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-supplier long-text">

		<h1 class="page-title title-large">SUPPLIER MANAGEMENT</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->

	<section class="inside-article">
		<div class="content-lg row">
			<div class="col-xs-12">
				<h3 class="title">Sustainable Supply Chain Initiatives</h3>
				<p>As the leading provider of semiconductor assembly and test, ASE seeks to extend its influence for the benefit of the industry. We are members of the following organizations promoting the above initiatives.</p>



				<h4 class="sub-title">Responsible Business Alliance (RBA)</h4>
				<p >In 2015, we became an applicant member. We actively participate at their annual meetings and engage with member companies to learn and exchange best practices in supply chain management.</p>



				<h4 class="sub-title">Responsible Minerals Initiative (RMI)</h4>
				<p >In 2015, we became a member and also joined the CMRT and Due Diligence (DD) work team.</p>

			</div>
		</div>
	</section>
<style>
	    h4.sub{font-size:20px;}
</style>
