﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
    ViewBag.Title = "Employee Development";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-csr">
		<h1 class="page-title-csr title-large">SUSTAINABILITY</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/csr"><span itemprop="name">Sustainability</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/csr/employee_care_development"><span itemprop="name">Employee Care & Development</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/csr/employee_care_development/employee_development"><span itemprop="name">Employee Development</span></a>
					<meta itemprop="position" content="3" />
				</li>
			</ol> 
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->
	
	<section class="inside-article">
		<div class="content-lg row">
			<div class="col-md-12">
				<h3 class="title">Employee Development</h3>
				<p>
                    We therefore place great emphasis on improving the development and cultivation of talents in the fields of “management”, “technology” and “manufacturing”. In response to the organization’s growth, we continue to invest resources into collaborations with management consulting companies and top universities, thereby increasing innovative momentum and maintaining our competitive edge in the industry.
                </p>
                <br>
                <h4 class="sub-title">Talent Cultivation Strategy</h4>
            </div>
            <div class="col-sm-9">
                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/employee_development-pic.png">
                <br>
                <br>
            </div>
		</div>
		<br>
	</section>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script>
	$(document).ready(function(){
	    $('[data-toggle="popover"]').popover();   
	});
	</script>