﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
    ViewBag.Title = "Employee Care";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-csr">
		<h1 class="page-title-csr title-large">SUSTAINABILITY</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/csr"><span itemprop="name">Sustainability</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <a itemprop="item" href="/en/csr/employee_care_development"><span itemprop="name">Employee Care & Development</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/csr/employee_care_development/employee_care"><span itemprop="name">Employee Care</span></a>
					<meta itemprop="position" content="3" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->

	<!-- Letter from the Chairman -->
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">Employee Care</h3><br>
                <p>
                    ASE pays attention to employees' interests, physical and mental health while working in the company.
                </p>
                <br>
                <h4 class="sub-title">Remuneration Incentives</h4>
                <p>
                    ASE provides competitive salaries and remuneration packages. Employee remuneration is not determined based on factors such as gender, age, race, nationality, religion, political stance or gender orientation. Employee remuneration is not determined based on factors such as gender, age, race, nationality, religion, political stance or gender orientation. ASE has established monthly cash incentive bonuses and annual profit-sharing bonuses. Our monthly profit sharing scheme is designed based on the principles of real time adjustments (Real-time), talent spotting (Potential) and increased productivity (Efficiency) that enable a corporate culture of management empowerment, organizational agility and synergistic goal alignment. In addition, employees with outstanding performance are awarded company stock options. The employee stock option program, which has a ten-year validity period from the date of issue, is aimed at retaining outstanding employees.
                </p>
                <br>
                <h4 class="sub-title">Benefit Policy</h4>
                <p>
                    <ul class="nopadding">
                        <li style="padding-bottom: 20px;"><strong>Meal subsidy:</strong><br>
                        ASE provides clean and welled signed dining restaurants at its facilities, and subsidizes 50% (or above) of employee meal expenses. To ensure healthier and tastier meals, the restaurants update their menus every quarter and ensure that ingredients are from hygienic and reliable sources.</li>
                        <li style="padding-bottom: 20px;"><strong>Health Examination/Health Facilities:</strong><br>
                        ASE cares about employees' health and provides free physical health examinations to our employees at the clinics. There are also well equipped gyms at many of our facilities that are free of charge. Additionally, employees have access to massage centers for fatigue and stress relief.</li>
                        <li style="padding-bottom: 10px;"><strong>Parental Leave Policy:</strong><br>
                        In support of the government’s parental leave policy and to reduce employees’ burden, ASE has designed a comprehensive leave management system. The company proactively provides information on labor insurance and subsidies, as well as assists in the application process, thereby ensuring that employees are able to return to the workplace. Employees can apply for voluntary early or delayed reinstatement based on their needs, allowing them to attend to their personal and family care needs.<br><br>

                        ASE has established 3 nurseries in Taiwan and Korea, 2 of which are at the ASE Chungli and Kaohsiung Facilities, respectively, in the main operative location of Taiwan. Our kindergartens aim to promote high-quality and affordable education and childcare services for employees.<br><br>
                        <div class="col-sm-12 nopadding">
                            <div class="col-xs-6 col-md-3 picture-padding-2"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/employee_care-pic1.jpg"></div>
                            <div class="col-xs-6 col-md-3 picture-padding-2"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/employee_care-pic2.jpg"></div>
                            <div class="col-xs-6 col-md-3 picture-padding-2"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/employee_care-pic3.jpg"></div>
                            <div class="col-xs-6 col-md-3 picture-padding-2"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/employee_care-pic4.jpg"></div>
                        </div>
                        <div class="clearfix">&nbsp;</div>
                        </li>
                        <li style="padding-bottom: 20px;"><strong>Insurance Program:</strong><br>
                        All ASE employees are covered by the national labor insurance and group insurance, including life insurance, accidental injury insurance, medical insurance, cancer insurance, and more. ASE also provides travel insurance for employees going on business trips. ASE also offers free group insurance to our employees' spouses and children.</li>
                        <li style="padding-bottom: 20px;"><strong>Retirement Scheme:</strong><br>
                            <ul class="nopadding">
                                <li><b>Defined Benefit Plans:</b> The Company and its subsidiaries in Taiwan joined the defined benefit pension plan under the ROC Labor Standards Law operated by the government. Pension benefits are calculated on the basis of the length of service and average monthly salaries of the last six months before retirement. The Company and its subsidiaries in Taiwan make contributions based on a certain percentage of their domestic employees monthly salaries to a pension fund administered by the pension fund monitoring committee.<br><br>

                                ASE Japan has a pension plan under which eligible employees with more than ten years of service are entitled to receive pension benefits based on their length of service and salaries at the time of termination of employment. ASE Japan makes contributions based on a certain amount of pension cost to employees. ASE Korea also has a pension plan under which eligible employees and directors with more than one year of service are entitled to receive a lump-sum payment upon termination of their service with ASE Korea, based on their length of service and salaries at the time of termination. ASE Korea makes contributions based on a certain percentage of pension cost to an external financial institution administered by the management and in the names of employees.<br><br></li>
                                <li><b>Defined Contribution Plans:</b> The pension plan under the ROC Labor Pension Act (“LPA”) for the Group’s ROC resident employees is a government-managed defined contribution plan. Based on the LPA, the Company and its subsidiaries in Taiwan makes monthly contributions to employees’ individual pension accounts at 6% of their monthly salaries. The subsidiaries located in China, U.S.A., Malaysia, Singapore and Mexico also make contributions at various ranges according to relevant local regulations.</li>
                            </ul></li>
                    </ul>
                </p>
                <h4 class="sub-title">Employee Communication</h4>
                <p>
                    ASE values and respects the opinions and rights of its employees. In an effort to promote open and transparent communication, the company has established comprehensive communication channels including unidirectional and bidirectional communication modes. 。ASE have established a labor union in Kaohsiung, Shanghai(A&T), Kunshan, Suzhou, Wuxi, Weihai, Korea, Japan and Singapore and have regular meetings organized to discuss and resolve issues with employee representatives on employee benefits and the health and safety of the working environment.
                </p>
                <br>
            </article>
            <div class="col-xs-12 col-md-offset-0 col-md-5 col-md-offset-1">
                <div class="inside-table">
                    <table class="table table-striped table-hover csr">
                        <thead>
                            <tr>
                                <th class="text-center" style="font-size: 15px; background-color: #c28981;">Announcements and publications</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="background-color: #eeeeee">
                                    <ul class="nopadding">
                                        <li style="padding-bottom: 10px;">Intranet - to publish the company’s latest news</li>
                                        <li style="padding-bottom: 10px;">E-mail Announcements - to announce company-wide updates and messages from top management</li>
                                        <li style="padding-bottom: 10px;">Bulletin Boards - to provide information related to labor compliance policy, health and safety and company events</li>
                                        <li style="padding-bottom: 10px;">Internal Periodical Publications – interviews with employees and a platform for employees to express their opinions</li>
                                        <li style="padding-bottom: 10px;">News/Information TV Screens - to broadcast employee welfare information</li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br>
            </div>
            <div class="col-xs-12 col-md-5">
                <div class="inside-table">
                    <table class="table table-striped table-hover csr">
                        <thead>
                            <tr>
                                <th class="left-border text-center" style="font-size: 15px; background-color: #c28981;">Communications</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="background-color: #eeeeee">
                                    <ul class="nopadding">
                                        <li style="padding-bottom: 10px;">Employee Opinion Box / Employee Care Mailbox - to collect and respond to employees’ grievance and feedback</li>
                                        <li style="padding-bottom: 10px;">Employee/Foreign Employee Symposium - to share and discuss work experiences; to hold regular symposiums with foreign employees</li>
                                        <li style="padding-bottom: 10px;">Counseling Room - to provide one-on-one counseling sessions</li>
                                        <li style="padding-bottom: 10px;">Email Mailboxes - General Manager/Plant Director Mailbox</li>
                                        <li style="padding-bottom: 10px;">Service/Grievance Hotline – designated telephone hotlines</li>
                                        <li style="padding-bottom: 10px;">Labor Unions and Labor Management Meeting - to have regular communication with labor representatives</li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br>
            </div>
  		</div>
	</section>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script>
	$(document).ready(function() {
		$('[data-toggle="popover"]').popover();  
		$('.accordion-center-text').click(function(e){
			if ($(this).hasClass('black-text-in-box')) {
				$('.blue-text-in-box').removeClass('blue-text-in-box').addClass('black-text-in-box');
				$(this).removeClass("black-text-in-box");
				$(this).addClass("blue-text-in-box");      //add the class to the clicked element
			} else {
				$(this).removeClass("blue-text-in-box");
				$(this).addClass("black-text-in-box");      //add the class to the clicked element
			}
		});
	})
	</script>