﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
    ViewBag.Title = "Employee Health and Safety";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-csr">
		<h1 class="page-title-csr title-large">SUSTAINABILITY</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/csr"><span itemprop="name">Sustainability</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/csr/employee_care_development"><span itemprop="name">Employee Care & Development</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/csr/employee_care_development/employee_health_and_safety"><span itemprop="name">Employee Health and Safety</span></a>
					<meta itemprop="position" content="3" />
				</li>
			</ol> 
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">Employee Health and Safety</h3>
				<p>
                    ASE is committed to providing workers with a safe, healthy, and conducive work environment. To ensure the health and safety of employees, and prevent accidents at the workplace, we have formulated comprehensive procedures for managing occupational health and safety ("OHS"). All ASE facilities worldwide have established OHS management organizations, and formulated methods and procedures that follow ISO 45001 standards, the RBA Code of Conduct and local regulations. In addition to setting up a system for regular reviews, the OHS management system contributes effectively to preventing accidents and achieving the goal of ‘zero accidents’.
                </p>
                <br>
                <div class="col-xs-12 hide-in-small nopadding text-center">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/employee_health_and_safety-pic1.png">
                    <p style="margin-top: 10px;"><strong>OHS Management Processes</strong></p>
                </div>
                <div class="col-xs-8 col-xs-offset-2 hide-in-large nopadding text-center">
                    <strong>OHS Management Processes</strong>
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/employee_health_and_safety-pic11.png">
                </div>
                <div class="clearfix"></div>
                <br>
                <h4 class="sub-title">Occupational Injury Management</h4>
                <p>
                    Occupational injury and incident reporting and investigation procedures are firmly established at all ASEH facilities. When an occupational injury incident occurs, standard operating procedures shall be followed and reported to local authorities in accordance with the management policy and local regulations, while injury incidents are reviewed regularly to improve preventive measures.
                </p>
                <div class="col-xs-12 hide-in-small nopadding text-center">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/employee_health_and_safety-pic2.png">
                </div>
                <div class="col-xs-8 col-xs-offset-2 hide-in-large nopadding text-center">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/employee_health_and_safety-pic21.png">
                </div>
                <div class="clearfix"></div>
                <br>
                <h4 class="sub-title">Contractor Operation Safety Management</h4>
                <p>
                    Eight high-risk types of operations at ASE’s facilities were identified which include work on pipelines, flammable sources, work inside confined spaces, live-line, crane operations, elevated operations, chemical filling and roof works, for which stricter SOPs were instituted. Additionally, ASE will continue to request contractors conducting high-risk operations to meet the requirements specified in the ISO 45001management systems.
                </p>
                <br>
            </article>
		</div>
	</section>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script>
	$(document).ready(function(){
	    $('[data-toggle="popover"]').popover();   
	});
	</script>