﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/tw/_Layout.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-fit">
		<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/products/banner_products_csp.jpg">
		<h1 class="page-title title-large">產品</h1>
	</section>

	<!--麵包屑-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "/" })"><i class="icon-home"></i><span itemprop="name">首頁</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" })"><span itemprop="name">產品</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Assembly", "Products", new { lang = ViewBag.language.lang })"><span itemprop="name">封裝</span></a>
					<meta itemprop="position" content="3" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "bumping_solution" })"><span itemprop="name">Wafer  Bumping Solution</span></a>
					<meta itemprop="position" content="4" />
				</li>
			</ol>
		</div>
	</div>

	<div class="breadcrumbs-pc pull-left" id="breadcrumbs-pc">
		<ul class="breadcrumbs-view" id="breadcrumbs-view">
			<li class="dropdown-item">
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })">技術</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" })" class="active">產品</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Solution" })">解決方案</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "ir" })">投資人關係</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })">企業社會責任</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "About" })">了解日月光</a></li>
				</ul>
			</li>
			<li class="dropdown-item">
				<a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" })">產品</a>
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.Action("Assembly", "Products", new { lang = ViewBag.language.lang })" class="active">封裝</a></li>
					<li><a href="@Url.Action("Test", "Products", new { lang = ViewBag.language.lang })">測試</a></li>
					<li><a href="@Url.Action("Material", "Products", new { lang = ViewBag.language.lang })">材料</a></li>
					<li><a href="@Url.Action("Tray", "Products", new { lang = ViewBag.language.lang })">IC承載盤</a></li>
				</ul>
			</li>
			<li class="dropdown-item">
				<a href="@Url.Action("Assembly", "Products", new { lang = ViewBag.language.lang })">封裝</a>
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "bumping_solution" })" class="active">Wafer  Bumping Solution</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "wafer_level_package_solution" })">Wafer Level Package Solution</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "flip_chip_solution" })">Flip Chip Solution</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "sip_module_solutions" })">SiP & Module Solutions</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "wire_bond_bga_solution" })">Wire Bond BGA Solution</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "leadframe_solution" })">Leadframe Solution</a></li>
				</ul>
			</li>
			<li class="dropdown-item">
				<a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "bumping_solution" })">Wafer  Bumping Solution</a>
			</li>
		</ul>
	</div>
	
	<!-- Products Content -->
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<div class="col-xs-7 col-sm-4 col-md-3 col-lg-3 nopadding"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/products/bumping.png"></div>
				<div class="clearfix"></div>
				<h3 class="title">Bumping</h3>
				<p>Wafer bumping is an essential to flip chip or board level semiconductor packaging. Bumping is an advanced wafer level process technology where “bumps” or “balls” made of solder are formed on the wafers in a whole wafer form before the wafer is being diced into individual chips. Those “bumps”, which can be composed from eutectic, lead free, high lead materials, or Cu pillar on wafer are the fundamental interconnect components that will interconnect the die and the substrate together into a single package. These bumps not only provide a connected path between die and substrate, but also play an important role in the electrical, mechanical and thermal performance in the flip chip package.<br />
				<br />
				Flip chip assembly package has traditionally been used for high-end niche applications. Recent technology development has adopted this process to be widely used in today’s consumer electronics applications. For the performance driven market, flip chip interconnection reduces signal propagation delay, provide much better bandwidth, and relieves the constraints of power and ground distribution. For the form factor driven market, such as mobile applications, replacing wire bonding by flip chip interconnects reduces the size and weight of the package.<br />
				<br />
				As the world leading IC assembly subcontractor, ASE established its wafer bumping services in 1999. Licensed from Flip Chip International, LLC, the world’s leader in printing bumping technologies, ASE’s flip chip bumping process has proven to be robust and reliable, with production experience accumulated since 2000 as the very first subcontractor to provide large volume production in bumping service.<br />
				<br />
				ASE also established the plating bump process in 2003. The plating process has proven the robustness, reliability, and provided production service.</p>
				<h4 class="sub-title">ASE's Wafer Bumping Capabilities</h4>
				<p>Currently, ASE operates three state-of-the-art bumping facilities with varieties of bumping processes available, two are for 150mm and 200mm wafer, one is for 300mm wafer, all located in Kaohsiung, Taiwan. During the first quarter of 2000, ASE’s 200mm printing bumping process successfully passed the internal package reliability test. The bumping process was later qualified by customers and began volume production in the third quarter of 2000. The 300mm printing line was established in 2002 and turned into production since third quarter of 2002. To date, more than 1 million 6” & 8” wafers from over 100 customers’ device, more than 0.3 million 12” wafers from over 16 customer’s device have been processed in ASE’s printing bumping facilities with consistent output of over 70k 6” & 8” wafers per month, over 11k 12” wafers per month. More than 0.1 million 12” wafers from over 10 customer’s device have been processed in ASE’s plating bumping facilities with consistent output of over 6k wafers per month.<br />
				<br />
				As a leader of bumping process provider, ASE began to develop and construct not only solder bump process, but also Cu pillar process. Cu pillar structure is applied for fine pitch, lead-free, or high current application device.</p>
			</article>
		</div>
	</section>
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h4 class="sub-title">Features</h4>
				<p>
					<ul class="nopadding">
						<li>High density interconnection</li>
						<li>High-speed data processing</li>
						<li>Fine bump pitch (array and peripheral)</li>
					</ul>
				</p>
			</article>
			<article class="col-xs-12">
				<h4 class="sub-title">Advanced Bumping Technologies under Development</h4>
				<p>ASE continues to invest in advanced technologies to maximize solutions for customers’ sophisticated chip designs. We are currently working with major IDMs and the world’s top foundries on polyimide Repassivation and RDL, Cu pillar and 65nm, 45nm cu low-K wafer bumping. Combined with other ASE manufacturing services including substrate design, substrate manufacturing, wafer sorting, bumping, backside grinding, backside marking, flip chip assembly, final test, and drop ship, ASE offers customers unsurpassed flip chip turnkey solutions.</p>
			</article>
			<div class="content-wrapper col-md-12 tech-cont-link">
				<br>
				<a class="phone" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "plants_offices_ase" })"><span class="glyphicon glyphicon-earphone"></span>  聯絡我們</a>
			</div>
		</div>
	</section>
	<section class="inside-article">
		<div class="content-lg row">
			<div class="col-xs-12"><hr></div>
			<div class="col-xs-12">
				<div class="technology-bottom-flex">
					<div class="technology-bottom opacity-50"><a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "bumping_solution" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/products_icon-01.png"><br>Wafer  Bumping Solution</a></div>
					<div class="technology-bottom"><a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "wafer_level_package_solution" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/products_icon-02.png"><br>Wafer Level Package Solution</a></div>
					<div class="technology-bottom"><a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "flip_chip_solution" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/products_icon-03.png"><br>Flip Chip Solution</a></div>
					<div class="technology-bottom"><a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "sip_module_solutions" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/products_icon-04.png"><br>SiP & Module<br>Solutions</a></div>
					
					<div class="technology-bottom"><a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "wire_bond_bga_solution" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/products_icon-05.png"><br>Wire Bond BGA Solution</a></div>
					<div class="technology-bottom"><a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "leadframe_solution" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/products_icon-06.png"><br>Leadframe Solution</a></div>
				</div>
			</div>
			<!-- products carousel -->
			<div class="row">
				<div class="col-xs-12">
					<div class="container technology-carousel">
						<div class='row'>
							<div class='col-xs-12'>
								<div class="carousel slide media-carousel" id="media">
									<!-- Indicators -->
									<ol class="carousel-indicators">
										<li data-target="#media" data-slide-to="0" class="active"></li>
										<li data-target="#media" data-slide-to="1"></li>
									</ol>
									<div class="carousel-inner">
										<div class="item  active">
											<div class="row">
												<div class="col-xs-4">
													<a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "bumping_solution" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/products_icon-01.png"><br>Bumping<br>Solution</a>
												</div>          
												<div class="col-xs-4">
													<a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "wafer_level_package_solution" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/products_icon-02.png"><br>Wafer Level Package Solution</a>
												</div>
												<div class="col-xs-4">
													<a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "flip_chip_solution" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/products_icon-03.png"><br>Flip Chip<br>Solution</a>
												</div>        
											</div>
										</div>
										<div class="item">
											<div class="row">
												<div class="col-xs-4">
													<a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "sip_module_solutions" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/products_icon-04.png"><br>SiP & Module<br>Solutions</a>
												</div>
												<div class="col-xs-4">
													<a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "wire_bond_bga_solution" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/products_icon-05.png"><br>Wire Bond BGA Solution</a>
												</div>        
												<div class="col-xs-4">
													<a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "leadframe_solution" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/products_icon-06.png"><br>Leadframe Solution</a>
												</div>  
											</div>
										</div>
									</div>
									<br>
									<a data-slide="prev" href="#media" class="left carousel-control">‹</a>
									<a data-slide="next" href="#media" class="right carousel-control">›</a>
								</div>                          
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end products carousel -->
		</div>
	</section>