﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/tw/_Layout.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-product">
		<h1 class="page-title title-large">產品</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Index", "Home", new { lang = ViewBag.language.lang })"><i class="icon-home"></i><span itemprop="name">首頁</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" })"><span itemprop="name">產品</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Material", "Products", new { lang = ViewBag.language.lang })"><span itemprop="name">材料</span></a>
					<meta itemprop="position" content="3" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Material", "Products", new { lang = ViewBag.language.lang })"><span itemprop="name">Package &amp; Module substrate</span></a>
					<meta itemprop="position" content="4" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Material", "Products", new { lang = ViewBag.language.lang })"><span itemprop="name">Flip Chip Substrate</span></a>
					<meta itemprop="position" content="5" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="#"><span itemprop="name">EPP</span></a>
					<meta itemprop="position" content="5" />
				</li>
			</ol>
		</div>
	</div>

	<div class="breadcrumbs-pc pull-left" id="breadcrumbs-pc">
	<!-- PC版選單breadcrumbs內容 -->
		<ul class="breadcrumbs-view" id="breadcrumbs-view">
			<li class="dropdown-item">
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })">技術</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" })">產品</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Solution" })">解決方案</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "ir" })"  >投資人關係</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })">企業社會責任</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "About" })">了解日月光</a></li>
				</ul>
			</li>
			<li class="dropdown-item">
				<a href="javascript:;">產品</a>
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.Action("Assembly", "Products", new { lang = ViewBag.language.lang })">封裝</a></li>
					<li><a href="@Url.Action("Test", "Products", new { lang = ViewBag.language.lang })">測試</a></li>
					<li><a href="@Url.Action("Material", "Products", new { lang = ViewBag.language.lang })">材料</a></li>
					<li><a href="@Url.Action("Tray", "Products", new { lang = ViewBag.language.lang })">IC承載盤</a></li>
				</ul>
			</li>
			<li class="dropdown-item">
				<a href="javascript:;">材料</a>
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.Action("Material", "Products", new { lang = ViewBag.language.lang })">Package & Module substrate</a></li>
					<li><a href="@Url.Action("Material", "Products", new { lang = ViewBag.language.lang })">Advanced Substrate</a></li>
				</ul>
			</li>
			<li class="dropdown-item">
				<a href="javascript:;">Package &amp; Module substrate</a>
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.Action("Material", "Products", new { lang = ViewBag.language.lang })">Wire Bond Substrate</a></li>
					<li><a href="@Url.Action("Material", "Products", new { lang = ViewBag.language.lang })">Flip Chip Substrate</a></li>
				</ul>
			</li>
			<li class="dropdown-item">
				<a href="javascript:;">Flip Chip Substrate</a>
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "pro_fccsp" })">FCCSP</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "pro_epp" })">EPP</a></li>
				</ul>
			</li>
		</ul>
	</div>
	<!-- Letter from the Chairman -->
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">EPP (Embedded Pattern Process) Substrate</h3>
				<p>Semiconductor builds solder on bump side, and then mounts on Flip Chip substrate.</p>
				<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/products/pro_fccsp01.png" alt="">
			</article>

		</div>
	</section>
	<section class="inside-article">
		<div class="content-lg row">
			<br><br>
			<div class="col-xs-6">
				<div class="technology-application technology-tab-active">Application</div>
			</div>
			<div class="col-xs-6">
				<div class="technology-features technology-tab-inactive">Features</div>
			</div>
			<div class="clearfix"></div>
			<div class="technology-application-content">
				<div class="col-xs-12">
					<ul class="nopadding">
						<li>Application processor</li>
						<li>Networking</li>
						<li>Connectivity</li>
					</ul>
				</div>
			</div>
			<div class="technology-features-content">
				<div class="col-xs-12 col-md-12">
					<ul class="nopadding">
						<li>High I/O, High accuracy, Low profile</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
<br>
	<section class="inside-article">
		<div class="content-lg row">
			<div class="col-xs-12 col-md-12">
				<h4 class="sub-title">Reliability</h4>
			</div>
			<div class="col-md-6">
				<div class="table-responsive inside-table">
					<table class="table table-striped table-hover text-center csr wire">
						<tbody>
							<tr>
								<th class="left-border pro-title">Item</th>
								<th class="left-border pro-title">Condition/Duration</th>
							</tr>
							<tr>
								<td class="left-border">MSL</td>
								<td class="left-border">JEDEC Level 3, 30°C/60%RH, 192 hours</td>
							</tr>
							<tr>
								<td class="left-border">PCT</td>
								<td class="left-border">121°C/100% RH/2 atm, 168 hours</td>
							</tr>
							<tr>
								<td class="left-border">TCT</td>
								<td class="left-border">-65°C ~150°C, 1000 cycles</td>
							</tr>
							<tr>
								<td class="left-border">HAST</td>
								<td class="left-border">130°C /85%RH/33.5 PSIA, 96 hours</td>
							</tr>
							<tr>
								<td class="left-border">HTST</td>
								<td class="left-border">150, 1000 hours</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="clearfix"></div>
			<div class=" col-md-12 tech-cont-link">								
			<a class="phone" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "plants_offices_ase"})"><span class="glyphicon glyphicon-earphone"></span>  Contact for enquries </a>
			</div>


			
		</div>
	</section>

	<section class="csr-bg">
		<div class="content-lg row">
			<div class="col-xs-12 csr">
				<div class="col-md-4 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "pro_fccsp" })">
							<span class="blue-text-in-box">FCCSP Substrate</span>
							<div class="circle_button-wrapper pull-right">
								<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-4 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "pro_epp" })"">
							<span class="blue-text-in-box">EPP Substrate</span>
							<div class="circle_button-wrapper">
								<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section><script>
	$(document).ready(function() { 
		$(".technology-features-content").hide();

		$('.technology-application').click(function() {
			$(this).closest(".row").find(".technology-features").removeClass("technology-tab-active").addClass("technology-tab-inactive");
			$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
			$(this).closest(".row").find(".technology-features-content").hide();
			$(this).closest(".row").find(".technology-application-content").fadeIn(1000);
		});
		$('.technology-features').click(function() {
			$(this).closest(".row").find(".technology-application").removeClass("technology-tab-active").addClass("technology-tab-inactive");
			$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
			$(this).closest(".row").find(".technology-application-content").hide();
			$(this).closest(".row").find(".technology-features-content").fadeIn(1000);
		});
	});
</script>
