﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/ch/_Layout_seo.cshtml";
    ViewBag.Title = "社區營造";
}
<link rel="stylesheet" href="https://2311cdn.r.worldssl.net/css/public/frontend/css/vendor/ase_csr.css" />
    <!-- page Banner -->
    <section id="page-vision" class="page-banner-s banner-csr">
        <h1 class="page-title title-large">永續發展</h1>
    </section>

    <!--breadcrumbs-->
    <div class="content-lg row">
        <div class="col-xs-12">
            <ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch/csr"><span itemprop="name">永續發展</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch/csr/corporate_citizenship_social_involvement"><span itemprop="name">社會參與</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch/csr/social_involvement/community_engagement"><span itemprop="name">社區營造</span></a>
					<meta itemprop="position" content="3" />
				</li>
            </ol>
        </div>
    </div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->
	
	<section class="timeline_section inside-article">
         <div class="content-lg row">
            <article class="col-xs-12">
                <h3 class="title">社區營造</h3>
                <p>
                    為了持續努力創造經濟價值,並同時耕耘延伸企業價值。我們致力於結合社區資源,與社區民眾共同成長,並結合「財團法人日月之光慈善事業基金會<a href="javascript:;" data-toggle="popover" data-trigger="hover" data-content="財團法人日月之光慈善事業基金會(www.warmer.com.tw)簡稱日月光慈善會。" data-placement="bottom" data-original-title="" title="">*</a>」,持續專注於「社區發展」、「慈善關懷」及「急難救助」等重點範疇。另外,日月光集團董事長張虔生兄妹個人成立為紀念其母親的「財團法人張姚宏影社會福利慈善事業基金會<a href="javascript:;" data-toggle="popover" data-trigger="hover" data-content="日月光集團能夠發展成為國際級企業集團，全仰賴創辦人張姚宏影女士(張媽媽)，憑著「不會沒關係，我去學起來」的務實精神，以廠為家，住廠三年，親力親為，使日月光業績蒸蒸日上，躍升為全球封測領導企業。除秉持她的信念及教誨，持續發揚及實踐她的正念與善行外，張虔生董事長兄妹因此特別捐出新台幣三億元，成立「財團法人張姚宏影社會福利慈善事業基金會」，並獎助年輕學子，讓張媽媽的愛能長留人間。" data-placement="bottom" data-original-title="" title="">*</a>」亦積極投入慈善相關公益,尤其面臨高齡化社會,老人照顧議題將是關注的重點。
                </p>
            </article>
        </div>
        <div class="content-lg row">
            <div class="col-xs-12">
                <h4 class="sub-title" style="text-align: center; color: #A4244F">日月光</h4><br>
                <div id="community_engagement" class="timeline_div">    
                    <div class="timeline_container">
                        <div class="timeline">
                            <div class="plus"></div>
                        </div>
                    </div>                                   
                    <div class="item offset-first">  
                        <span class="corner current"></span>                     
                        <div class="year"><b>高雄廠</b></div>
                        <div class="event">
                            <ul class="current">
                                <li>
                                    淨灘活動<br />
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/community_engagement1.jpg" />
                                </li>
                            </ul>    
                        </div>
                    </div> 
                    <div class="item">  
                        <span class="corner current"></span>                     
                        <div class="year"><b>中壢廠</b></div>
                        <div class="event">
                            <ul class="current">
                                <li>
                                    社區潔淨維護<br />
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/community_engagement2.jpg" />
                                </li> 
                            </ul>    
                        </div>
                    </div>
                    <div class="item">  
                        <span class="corner current"></span>                     
                        <div class="year"><b>無錫廠</b></div>
                        <div class="event">
                            <ul class="current">
                                <li>
                                    社會環境清潔<br />
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/community_engagement3.jpg" />
                                </li> 
                            </ul>    
                        </div>
                    </div> 
                    <!-- <div class="item">  
                        <span class="corner current"></span>                     
                        <div class="year"><b>蘇州廠</b></div>
                        <div class="event">
                            <ul class="current">
                                <li>
                                    關懷弱勢孩童，慈善捐助<br />
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/community_engagement4.jpg" />
                                </li>               
                            </ul>    
                        </div>
                    </div> -->
                    <div class="item">  
                        <span class="corner current"></span>                     
                        <div class="year"><b>昆山廠</b></div>
                        <div class="event">
                            <ul class="current">
                                <li>
                                    社區藝文表演<br />
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/community_engagement5.jpg" />
                                </li>
                            </ul>    
                        </div>
                    </div>
                    <div class="item">  
                        <span class="corner current"></span>                     
                        <div class="year"><b>韓國廠</b></div>
                        <div class="event">
                            <ul class="current">
                                <li>
                                    關懷弱勢<br />
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/community_engagement6.jpg" />
                                </li>                       
                            </ul>    
                        </div>
                    </div>
                    <div class="item">  
                        <span class="corner current"></span>                     
                        <div class="year"><b>日本廠</b></div>
                        <div class="event">
                            <ul class="current">
                                <li>
                                    社區感謝祭<br />
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/community_engagement7.jpg" />
                                </li>                       
                            </ul>    
                        </div>
                    </div>
                    <div class="item">  
                        <span class="corner current"></span>                     
                        <div class="year"><b>新加坡廠</b></div>
                        <div class="event">
                            <ul class="current">
                                <li>
                                    社區關懷，黃絲帶活動<br />
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/community_engagement8.jpg" />
                                </li>                       
                            </ul>    
                        </div>
                    </div>
                    <div class="item">  
                        <span class="corner current"></span>                     
                        <div class="year"><b>馬來西亞廠</b></div>
                        <div class="event">
                            <ul class="current">
                                <li>
                                    關懷弱勢，慈善捐助<br />
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/community_engagement9.jpg" />
                                </li>                       
                            </ul>    
                        </div>
                    </div>
                    <!-- <div class="item">  
                        <span class="corner current"></span>                     
                        <div class="year"><b>上海材料廠</b></div>
                        <div class="event">
                            <ul class="current">
                                <li>
                                    社區關懷 – 公益捐助<br />
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/community_engagement10.jpg" />
                                </li>                       
                            </ul>    
                        </div>
                    </div> -->
                </div>
            </div>
            <!--
            <div class="col-xs-12">
                <br>
                <h4 class="sub-title" style="text-align: center; color: #7F7F7F">環電</h4>
                <div id="community_engagement" class="timeline_div">    
                    <div class="timeline_container">
                        <div class="timeline">
                            <div class="plus"></div>
                        </div>
                    </div>
                    <div class="item">  
                        <span class="corner past"></span>                     
                        <div class="year past"><b>墨西廠</b></div>
                        <div class="event">
                            <ul class="before">
                                <li>
                                    社區公益<br />
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/community_engagement10.jpg" />
                                </li>                       
                            </ul>    
                        </div>
                    </div>
                    <div class="item">  
                        <span class="corner past"></span>                     
                        <div class="year past"><b>張江廠</b></div>
                        <div class="event">
                            <ul class="before">
                                <li>
                                    社區關懷，公益路跑<br />
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/community_engagement11.jpg" />
                                </li>                        
                            </ul>    
                        </div>
                    </div>
                    <div class="item">  
                        <span class="corner past"></span>                     
                        <div class="year past"><b>台灣廠</b></div>
                        <div class="event">
                            <ul class="before">
                                <li>
                                    閱讀文化，親子共讀<br />
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/community_engagement2.jpg" />
                                </li>                        
                            </ul>    
                        </div>
                    </div>
                    <div class="item">  
                        <span class="corner past"></span>                     
                        <div class="year past"><b>上海廠</b></div>
                        <div class="event">
                            <ul class="before">
                                <li>
                                    內蒙百萬植樹計畫<br />
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/community_engagement13.jpg" />
                                </li>                       
                            </ul>    
                        </div>
                    </div>
                    <div class="item">  
                        <span class="corner past"></span>                     
                        <div class="year past"><b>金穚廠</b></div>
                        <div class="event">
                            <ul class="before">
                                <li>
                                    社區關懷，慈善捐助<br />
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/community_engagement14.jpg" />
                                </li>                                                    
                            </ul>    
                        </div>
                    </div>
                    <div class="item">  
                        <span class="corner past"></span>                     
                        <div class="year past"><b>昆山廠</b></div>
                        <div class="event">
                            <ul class="before">
                                <li>
                                    關懷弱勢，慈善捐助<br />
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/community_engagement15.jpg" />
                                </li>                 
                            </ul>    
                        </div>
                    </div>
                    <div class="item">  
                        <span class="corner past"></span>                     
                        <div class="year past"><b>深圳廠</b></div>
                        <div class="event">
                            <ul class="before">
                                <li>
                                    社區關懷，慈善捐助<br />
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/community_engagement16.jpg" />
                                </li>                 
                            </ul>    
                        </div>
                    </div>
                </div>
            </div>
            -->
            <div class="col-xs-12">
                <br>
                <h4 class="sub-title" style="text-align: center; color: #326fba">日月光慈善會</h4>
                <div id="community_engagement" class="timeline_div">    
                    <div class="timeline_container">
                        <div class="timeline">
                            <div class="plus"></div>
                        </div>
                    </div>
                    <div class="item">  
                        <span class="corner before" style="background-color: #326fba"></span>                     
                        <div class="year before" style="color: #326fba"><b>中壢</b></div>
                        <div class="event">
                            <ul class="past">
                                <li>
                                    關懷弱勢，慈善捐助<br />
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/community_engagement17.jpg" />
                                </li>                                          
                            </ul>    
                        </div>
                    </div>
                    <!-- <div class="item">  
                        <span class="corner before" style="background-color: #326fba"></span>                     
                        <div class="year before" style="color: #326fba"><b>上海</b></div>
                        <div class="event">
                            <ul class="past">
                                <li>
                                    急難關懷及照護<br />
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/community_engagement18.jpg" />
                                </li>                  
                            </ul>    
                        </div>
                    </div>  -->
                    <div class="item">  
                        <span class="corner before" style="background-color: #326fba"></span>                     
                        <div class="year before" style="color: #326fba"><b>高雄</b></div>
                        <div class="event">
                            <ul class="past">
                                <li>
                                    弱勢關懷<br />
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/community_engagement19.jpg" />
                                </li>                  
                            </ul>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script type="text/javascript" src="https://2311cdn.r.worldssl.net/js/public/frontend/js/vendor/imagesloaded.pkgd.min.js"></script>
    <script type="text/javascript" src="https://2311cdn.r.worldssl.net/js/public/frontend/js/vendor/masonry.pkgd.min.js"></script>