﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/ch/_Layout_seo.cshtml";
    ViewBag.Title = "環保公益";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-csr">
		<h1 class="page-title title-large">永續發展</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch/csr"><span itemprop="name">永續發展</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch/csr/corporate_citizenship_social_involvement"><span itemprop="name">社會參與</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch/csr/social_involvement/environmental_conservation"><span itemprop="name">環保公益</span></a>
					<meta itemprop="position" content="3" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->

	<section class="inside-article">
        <div class="content-lg row">
            <article class="col-xs-12">
                <h3 class="title">環保公益</h3>
                <p>&nbsp;</p>
            </article>
            <article class="col-md-10 col-md-offset-1 text-center">
                <div class="col-md-12 nopadding">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/mov-led-project-2022.jpg">
                </div>
                <div style="position:absolute; left:35%; top: 42%; z-index:10; margin:0 auto; border-radius: 10px; text-align: center; background-color: rgba(0, 0, 0, 0.7);">
                    <a class="button videoButton popupVideo" href="https://coms.aseglobal.com/marcom/video/CampusLEDLighting" target="_blank"><span style="padding-top: 4px;">立即觀看</span><i class="icon-play"></i></a>
                </div>
                <div class="clearfix"></div>
                <br><br>
            </article>
        </div>
    </section>

    <section class="inside-article">
        <div class="content-lg row">
            <div class="col-md-12">
                <p>
                    日月光承諾自2014年起每年捐獻至少新台幣1億元並維持至少30年，投入總金額至少新台幣30億元於臺灣環保相關工作之推動。委由財團法人日月光文教基金會執行環保相關公益，重要的執行主軸包括「推動環境教育」、「提升環境品質」、「降低環境衝擊」與「推廣環保藝文」等。<br><br>

                    為深化對環保公益之承諾，全面聚焦於環保領域主題，並提高環保公益專案執行效能， 2020年11月我們成立了財團法人日月光環保永續基金會，以促進環境保護與經濟發展之平衡，提升環境永續、降低環境衝擊為目標，未來將做為每年新台幣1億元之環保基金專責委託單位，繼續推動台灣環保工作之進行。
                </p>
            </div>
            <article class="col-xs-12">
                <h4 title="sub-title">環保公益執行彙整表</h4>
                <div class="color-4box">
                    <div class="orange-4box" style="background-color: #8ebd92">
                        <div class="color-4box-heading">主軸</div>
                        <p>推動環境教育</p>
                        <br>
                        <div class="color-4box-heading">主要專案</div>
                        <ul class="nopadding">
                            <li>環保學術碩、博士論文獎助</li>
                            <li>環境技術之學術研究計畫</li>
                            <li>社區環境教育專案</li>
                            <li>微笑台灣創意教學教案徵選競賽</li>
                            <li>環境教育宣傳影片及微電影製作計畫</li>
                            <li>世界海洋日系列活動</li>
                        </ul>
                    </div>
                    <div class="light-yellow-4box" style="background-color: #a4cba2">
                        <div class="color-4box-heading">主軸</div>
                        <p>降低環境衝擊</p>
                        <br>
                        <div class="color-4box-heading">主要專案</div>
                        <ul class="nopadding">
                            <li>校園LED方案</li>
                            <li>杉林國中智慧微電網建置案</li>
                            <li>食蛇龜復育與保育推廣</li>
                            <li>全球企業永續論壇</li>
                            <li>減廢技術研發專案</li>
                        </ul>
                    </div>
                    <div class="orange-4box" style="background-color: #c3dbbb">
                        <div class="color-4box-heading">主軸</div>
                        <p>提升環境品質</p>
                        <br>
                        <div class="color-4box-heading">主要專案</div>
                        <ul class="nopadding">
                            <li>環願山林造林計畫</li>
                            <li>水環境巡守隊</li>
                            <li>桃園市礫間及濕地水質淨化園區改善計畫</li>
                            <li>社區太陽能警示燈安裝計畫</li>
                            <li>醫療資源贊助</li>
                        </ul>
                    </div>
                    <div class="light-yellow-4box" style="background-color: #f9ebcf">
                        <div class="color-4box-heading">主軸</div>
                        <p>推廣環保藝文</p>
                        <br>
                        <div class="color-4box-heading">主要專案</div>
                        <ul class="nopadding">
                            <li>環境保育合唱劇「宇．境-菊島天堂」</li>
                            <li>高雄跨年系列活動</li>
                            <li>政治大學校園馬拉松</li>
                            <li>公益表演贊助</li>
                        </ul>
                    </div>
                </div>
            </article>
            <div class="col-sm-12">
                <div class="col-xs-6 col-md-3 picture-padding-2" style="margin-bottom: 5px"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/environmental_conservation-pic1.jpg"></div>
                <div class="col-xs-6 col-md-3 picture-padding-2" style="margin-bottom: 5px"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/environmental_conservation-pic3.jpg" "=""></div>
                <div class="col-xs-6 col-md-3 picture-padding-2" style="margin-top: 0"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/environmental_conservation-pic2.jpg" "=""></div>
                <div class="col-xs-6 col-md-3 picture-padding-2" style="margin-top: 0"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/environmental_conservation-pic4.jpg" "=""></div>
            </div>
            <div>
                <p>&nbsp;</p>
            </div>
        </div>
    </section>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script>
	$( document ).ready(function() {
		$('.accordion-center-text').click(function(e){
			if ($(this).hasClass('black-text-in-box')) {
				$('.blue-text-in-box').removeClass('blue-text-in-box').addClass('black-text-in-box');
				$(this).removeClass("black-text-in-box");
				$(this).addClass("blue-text-in-box");      //add the class to the clicked element
			} else {
				$(this).removeClass("blue-text-in-box");
				$(this).addClass("black-text-in-box");      //add the class to the clicked element
			}
		});
	})
	</script>