﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/ch/_Layout_seo.cshtml";
    ViewBag.Title = "產學教育";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-csr">
		<h1 class="page-title title-large">永續發展</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch/csr"><span itemprop="name">永續發展</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch/csr/corporate_citizenship_social_involvement"><span itemprop="name">社會參與</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch/csr/social_involvement/industry-academic_collaboration"><span itemprop="name">產學教育</span></a>
					<meta itemprop="position" content="3" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->
	
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">產學教育</h3>
                <p>&nbsp;</p>
            </article>
            <article class="col-md-10 col-md-offset-1 text-center">
                <div class="col-md-12 nopadding">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/mov-academic-2022.jpg">
                </div>
                <div style="position:absolute; left:35%; top: 42%; z-index:10; margin:0 auto; border-radius: 10px; text-align: center; background-color: rgba(0, 0, 0, 0.7);">
                    <a class="button videoButton popupVideo" href="https://coms.aseglobal.com/marcom/video/2022academicC60S" target="_blank"><span style="padding-top: 4px;">立即觀看</span><i class="icon-play"></i></a>
                </div>
                <div class="clearfix"></div>
                <br><br>
            </article>
        </div>
    </section>

    <section class="inside-article">
        <div class="content-lg row">
			<article class="col-xs-12">
				<p>
					封裝產業技術需求日益精進，技術創新是日月光永續經營的重要關鍵，日月光長年投入人力物力及研究資金，持續保持半導體技術的領先，與頂尖大學建立各式研發合作專案計畫，透過結合產學的研發能量，建立與強化半導體各領域技術。而產學合作的人才培育與學術能量提升的成果，進而讓整個半導體產業得以茁壯成長。<br><br>

					日月光亦秉持著「產業進入大學，大學走入產業」的精神，促進在地學生就業機會，執行主軸包括「建教合作與企業實習」、「學術研究合作」及「獎助學金」，與校園資源整合後發揮最大化的效益。合作學校主要包括臺灣、中國大陸、新加坡、馬來西亞、韓國及日本等地區近50所學校。
				</p>
				<h4 title="sub-title">產學教育執行彙整</h4>
				<div class="color-4box">
					<div class="orange-4box" style="background-color: #c3dbbb">
						<div class="color-4box-heading">主軸</div>
						<ul class="nopadding">
							<li>建教合作與企業實習</li>
							<li>學術研究合作</li>
							<li>獎助學金</li>
						</ul>
					</div>
					<div class="light-orange-4box" style="background-color: #c3dbbb">
						<div class="color-4box-heading">主要專案</div>
						<ul class="nopadding">
							<li>產學攜手專班/就業導向專班</li>
                            <li>半導體封裝與製程技術學程</li>
                            <li>實習生/學術與偏鄉獎助學金</li>
                            <li>人工智慧(AI)學院</li>
                            <li>半導體封裝技術研究專案計畫</li>
                            <li>自動化技術研究專案計畫</li>
                            <li>先進材料研究開發專案計畫</li>
						</ul>
					</div>
					<div class="light-yellow-4box" style="background-color: #c3dbbb">
						<div class="color-4box-heading">利害關係人</div>
						<ul class="nopadding">
							<li>在學學生</li>
                            <li>學術單位與調研機構</li>
                            <li>半導體產業</li>
						</ul>
					</div>
					<div class="yellow-4box" style="background-color: #c3dbbb">
						<div class="color-4box-heading">主要成果</div>
						<ul class="nopadding">
							<li>提升青年就業競爭力</li>
                            <li>提升學術研究發展能力</li>
                            <li>培養半導體產業人才</li>
						</ul>
					</div>
				</div>
			</article>
		</div>
	</section>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script>
	$( document ).ready(function() {
		$('.accordion-center-text').click(function(e){
			if ($(this).hasClass('black-text-in-box')) {
				$('.blue-text-in-box').removeClass('blue-text-in-box').addClass('black-text-in-box');
				$(this).removeClass("black-text-in-box");
				$(this).addClass("blue-text-in-box");      //add the class to the clicked element
			} else {
				$(this).removeClass("blue-text-in-box");
				$(this).addClass("black-text-in-box");      //add the class to the clicked element
			}
		});
	})
	</script>