﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/tw/_Layout.cshtml";
}
    <!-- page Banner -->
    <section id="page-vision" class="page-banner-s banner-csr">
        <h1 class="page-title title-large">企業社會責任</h1>
    </section>

    <!--breadcrumbs-->
    <div class="content-lg row">
        <div class="col-xs-12">
            <ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <a itemprop="item" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "/" })"><i class="icon-home"></i><span itemprop="name">首頁</span></a>
                    <meta itemprop="position" content="1" />
                </li>
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <a itemprop="item" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })"><span itemprop="name">企業社會責任</span></a>
                    <meta itemprop="position" content="2" />
                </li>
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <a itemprop="item" href="@Url.Action("Corporate_Citizenship_Social_Involvement", "CSR", new { lang = ViewBag.language.lang })"><span itemprop="name">企業公民與社會參與</span></a>
                    <meta itemprop="position" content="3" />
                </li>
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <a itemprop="item" href="@Url.Action("Corporate_Citizenship_Social_Involvement", "CSR", new { lang = ViewBag.language.lang, param1 = "community_engagement" })"><span itemprop="name">社區營造</span></a>
                    <meta itemprop="position" content="4" />
                </li>
            </ol>
        </div>
    </div>

    <div class="breadcrumbs-pc pull-left" id="breadcrumbs-pc">
    <!-- PC版選單breadcrumbs內容 -->
        <ul class="breadcrumbs-view" id="breadcrumbs-view">
            <li class="dropdown-item">
                <span class="glyphicon glyphicon-menu-right"></span>
                <ul class="dropdown-list">
                    <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })">技術</a></li>
                    <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Solution" })">解決方案</a></li>
                    <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" })">產品</a></li>
                    <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "ir" })">投資人關係</a></li>
                    <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })">企業社會責任</a></li>
                    <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "About" })">關於日月光集團</a></li>
                </ul>
            </li>
            <li class="dropdown-item">
                <a href="csr.html">企業社會責任</a>
                <span class="glyphicon glyphicon-menu-right"></span>
                <ul class="dropdown-list">
                    <li><a href="@Url.Action("Letter_Chairman", "CSR", new { lang = ViewBag.language.lang })">董事長的話</a></li>
                    <li><a href="@Url.Action("Sustainability_Governance", "CSR", new { lang = ViewBag.language.lang })">永續治理</a></li>
                    <li><a href="@Url.Action("Stakeholder_Engagement", "CSR", new { lang = ViewBag.language.lang })">利害關係人專區</a></li>
                    <li><a href="http://ir.aseglobal.com/c/ir_corpor.php">公司治理</a></li>
                    <li><a href="@Url.Action("environmental_sustainability", "CSR", new { lang = ViewBag.language.lang })">環境永續</a></li>
                    <li><a href="@Url.Action("Employee_Care_Development", "CSR", new { lang = ViewBag.language.lang })">員工關懷與發展</a></li>
                    <li><a href="@Url.Action("Supply_Chain_Development", "CSR", new { lang = ViewBag.language.lang })">供應鏈發展</a></li>
                    <li><a href="@Url.Action("Corporate_Citizenship_Social_Involvement", "CSR", new { lang = ViewBag.language.lang })" class="active">企業公民與社會參與</a></li>
                    <li><a href="@Url.Action("Downloads", "CSR", new { lang = ViewBag.language.lang })">企業社會責任報告書下載專區</a></li>
                </ul>
            </li>
        </ul>
    </div>
	
	<section class="timeline_section inside-article">
        <div class="content-lg row">
            <article class="col-xs-12">
                <h3 class="title">社區營造</h3>
            </article>
        </div>
        <div class="content-lg row">
            <div class="col-xs-12">
                <h4 class="sub-title">日月光</h4><br>
                <div id="community_engagement" class="timeline_div">    
                    <div class="timeline_container">
                        <div class="timeline">
                            <div class="plus"></div>
                        </div>
                    </div>                                   
                    <div class="item offset-first">  
                        <span class="corner current"></span>                     
                        <div class="factory"><b>高雄廠</b></div>
                        <div class="event">
                            <ul class="current">
                                <li>
                                    關懷弱勢，慈善捐助<br />
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/community_engagement1.jpg" />
                                </li>
                            </ul>    
                        </div>
                    </div> 
                    <div class="item">  
                        <span class="corner current"></span>                     
                        <div class="factory"><b>中壢廠</b></div>
                        <div class="event">
                            <ul class="current">
                                <li>
                                    身障孩童慈善公演<br />
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/community_engagement2.jpg" />
                                </li> 
                            </ul>    
                        </div>
                    </div>
                    <div class="item">  
                        <span class="corner current"></span>                     
                        <div class="factory"><b>無錫廠</b></div>
                        <div class="event">
                            <ul class="current">
                                <li>
                                    社區環境清潔<br />
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/community_engagement3.jpg"  />
                                </li> 
                            </ul>    
                        </div>
                    </div> 
                    <div class="item">  
                        <span class="corner current"></span>                     
                        <div class="factory"><b>蘇州廠</b></div>
                        <div class="event">
                            <ul class="current">
                                <li>
                                    關懷弱勢孩童，慈善捐助<br />
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/community_engagement4.jpg" />
                                </li>               
                            </ul>    
                        </div>
                    </div>
                    <div class="item">  
                        <span class="corner current"></span>                     
                        <div class="factory"><b>昆山廠</b></div>
                        <div class="event">
                            <ul class="current">
                                <li>
                                    社區中秋節活動<br />
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/community_engagement5.jpg" />
                                </li>
                            </ul>    
                        </div>
                    </div>
                    <div class="item">  
                        <span class="corner current"></span>                     
                        <div class="factory"><b>韓國廠</b></div>
                        <div class="event">
                            <ul class="current">
                                <li>
                                    關懷弱勢，房屋修繕<br />
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/community_engagement6.jpg" />
                                </li>                       
                            </ul>    
                        </div>
                    </div>
                    <div class="item">  
                        <span class="corner current"></span>                     
                        <div class="factory"><b>日本廠</b></div>
                        <div class="event">
                            <ul class="current">
                                <li>
                                    社區環境清潔<br />
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/community_engagement7.jpg" />
                                </li>                       
                            </ul>    
                        </div>
                    </div>
                    <div class="item">  
                        <span class="corner current"></span>                     
                        <div class="factory"><b>新加坡廠</b></div>
                        <div class="event">
                            <ul class="current">
                                <li>
                                    社區關懷 – 黃絲帶活動<br />
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/community_engagement8.jpg" />
                                </li>                       
                            </ul>    
                        </div>
                    </div>
                    <div class="item">  
                        <span class="corner current"></span>                     
                        <div class="factory"><b>馬來西亞廠</b></div>
                        <div class="event">
                            <ul class="current">
                                <li>
                                    關懷弱勢，慈善捐助<br />
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/community_engagement9.jpg" />
                                </li>                       
                            </ul>    
                        </div>
                    </div>
                    <div class="item">  
                        <span class="corner current"></span>                     
                        <div class="factory"><b>上海材料廠</b></div>
                        <div class="event">
                            <ul class="current">
                                <li>
                                    社區關懷 – 公益捐助<br />
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/community_engagement10.jpg" />
                                </li>                       
                            </ul>    
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12">
                <h4 class="sub-title">環電</h4>
                <div id="community_engagement" class="timeline_div">    
                    <div class="timeline_container">
                        <div class="timeline">
                            <div class="plus"></div>
                        </div>
                    </div>
                    <div class="item">  
                        <span class="corner past"></span>                     
                        <div class="factory past"><b>墨西廠</b></div>
                        <div class="event">
                            <ul class="before">
                                <li>
                                    關懷弱勢，慈善捐助<br />
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/community_engagement11.jpg" />
                                </li>                       
                            </ul>    
                        </div>
                    </div>
                    <div class="item">  
                        <span class="corner past"></span>                     
                        <div class="factory past"><b>張江廠</b></div>
                        <div class="event">
                            <ul class="before">
                                <li>
                                    關懷弱勢，公益路跑<br />
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/community_engagement12.jpg" />
                                </li>                        
                            </ul>    
                        </div>
                    </div>
                    <div class="item">  
                        <span class="corner past"></span>                     
                        <div class="factory past"><b>台灣廠</b></div>
                        <div class="event">
                            <ul class="before">
                                <li>
                                    閱讀文化，親子共讀<br />
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/community_engagement13.jpg" />
                                </li>                        
                            </ul>    
                        </div>
                    </div>
                    <div class="item">  
                        <span class="corner past"></span>                     
                        <div class="factory past"><b>上海廠</b></div>
                        <div class="event">
                            <ul class="before">
                                <li>
                                    內蒙百萬植樹計畫<br />
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/community_engagement14.jpg" />
                                </li>                       
                            </ul>    
                        </div>
                    </div>
                    <div class="item">  
                        <span class="corner past"></span>                     
                        <div class="factory past"><b>金穚廠</b></div>
                        <div class="event">
                            <ul class="before">
                                <li>
                                    海洋淨灘<br />
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/community_engagement15.jpg" />
                                </li>                                                    
                            </ul>    
                        </div>
                    </div>
                    <div class="item">  
                        <span class="corner past"></span>                     
                        <div class="factory past"><b>昆山廠</b></div>
                        <div class="event">
                            <ul class="before">
                                <li>
                                    社區藝文千燈鎮<br />
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/community_engagement16.jpg" />
                                </li>                 
                            </ul>    
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12">
                <h4 class="sub-title">日月光慈善會</h4>
                <div id="community_engagement" class="timeline_div">    
                    <div class="timeline_container">
                        <div class="timeline">
                            <div class="plus"></div>
                        </div>
                    </div>
                    <div class="item">  
                        <span class="corner before" style="background-color: #326fba"></span>                     
                        <div class="factory before" style="color: #326fba"><b>中壢</b></div>
                        <div class="event">
                            <ul class="past">
                                <li>
                                    關懷弱勢孩童，慈善捐助<br />
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/community_engagement17.jpg" />
                                </li>                                          
                            </ul>    
                        </div>
                    </div>
                    <div class="item">  
                        <span class="corner before" style="background-color: #326fba"></span>                     
                        <div class="factory before" style="color: #326fba"><b>上海</b></div>
                        <div class="event">
                            <ul class="past">
                                <li>
                                    急難關懷及照護<br />
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/community_engagement18.jpg" />
                                </li>                  
                            </ul>    
                        </div>
                    </div> 
                    <div class="item">  
                        <span class="corner before" style="background-color: #326fba"></span>                     
                        <div class="factory before" style="color: #326fba"><b>高雄</b></div>
                        <div class="event">
                            <ul class="past">
                                <li>
                                    慈善獎助學金<br />
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/community_engagement19.jpg" />
                                </li>                  
                            </ul>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>