﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/tw/_Layout.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-csr">
		<h1 class="page-title title-large">企業社會責任</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "/" })"><i class="icon-home"></i><span itemprop="name">首頁</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })"><span itemprop="name">企業社會責任</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Corporate_Citizenship_Social_Involvement", "CSR", new { lang = ViewBag.language.lang })"><span itemprop="name">企業公民與社會參與</span></a>
					<meta itemprop="position" content="3" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Corporate_Citizenship_Social_Involvement", "CSR", new { lang = ViewBag.language.lang, param1 = "environmental_conservation" })"><span itemprop="name">環保公益</span></a>
					<meta itemprop="position" content="4" />
				</li>
			</ol>
		</div>
	</div>

	<div class="breadcrumbs-pc pull-left" id="breadcrumbs-pc">
	<!-- PC版選單breadcrumbs內容 -->
		<ul class="breadcrumbs-view" id="breadcrumbs-view">
			<li class="dropdown-item">
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })">技術</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Solution" })">解決方案</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" })">產品</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "ir" })">投資人關係</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })">企業社會責任</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "About" })">關於日月光集團</a></li>
				</ul>
			</li>
			<li class="dropdown-item">
				<a href="csr.html">企業社會責任</a>
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.Action("Letter_Chairman", "CSR", new { lang = ViewBag.language.lang })">董事長的話</a></li>
					<li><a href="@Url.Action("Sustainability_Governance", "CSR", new { lang = ViewBag.language.lang })">永續治理</a></li>
					<li><a href="@Url.Action("Stakeholder_Engagement", "CSR", new { lang = ViewBag.language.lang })">利害關係人專區</a></li>
					<li><a href="http://ir.aseglobal.com/c/ir_corpor.php">公司治理</a></li>
					<li><a href="@Url.Action("environmental_sustainability", "CSR", new { lang = ViewBag.language.lang })">環境永續</a></li>
					<li><a href="@Url.Action("Employee_Care_Development", "CSR", new { lang = ViewBag.language.lang })">員工關懷與發展</a></li>
					<li><a href="@Url.Action("Supply_Chain_Development", "CSR", new { lang = ViewBag.language.lang })">供應鏈發展</a></li>
					<li><a href="@Url.Action("Corporate_Citizenship_Social_Involvement", "CSR", new { lang = ViewBag.language.lang })" class="active">企業公民與社會參與</a></li>
					<li><a href="@Url.Action("Downloads", "CSR", new { lang = ViewBag.language.lang })">企業社會責任報告書下載專區</a></li>
				</ul>
			</li>
		</ul>
	</div>

	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">環保公益</h3>
			</article>
			<div class="col-md-7 col-sm-6">
				<p>
					日月光許諾自2014年起每年捐獻至少新台幣1億元並維持至少30年，投入總金額至少新台幣30億元於台灣環保相關工作之推動。2016年撥款新台幣1億元委由<a href="http://www.asefund.org.tw/" target="_blank">財團法人日月光文教基金會</a>繼續執行環保相關公益，重要的執行主軸包括「推動環境教育」、「提升環境品質」、「降低環境衝擊」與「推廣環保藝文」等。其中，「推動環境教育」是持續三年投入最多的類別，期以環境教育向下札根以提升環境意識。另外，「推廣環保藝文」係因相關專案投入金額之增加，故成為新增之類別，期以表演、展覽、音樂及藝術市集等活動之推廣帶動環境與生活體驗，藉由心靈環保的饗宴使環境藝術生根地方。
				</p>
			</div>
			<div class="col-md-5 col-sm-6">
				<div class="col-xs-11 col-xs-offset-1 text-center nopadding">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/environmental_conservation.png" style="padding-bottom: 5px"><br>
					<strong>2016年環保公益執行彙整表</strong>
				</div>
			</div>
			<div class="clearfix"></div>
			<br>
		</div>
		<div class="content-lg row csr">
			<article class="col-xs-12">
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
					<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
								<span class="black-text-in-box accordion-center-text">環境教育影音旗艦計畫</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>
						<div id="collapseOne" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<div class="col-md-8">
									<p>
										2014 年，日月光文教基金會獨家贊助環境品質文教基金會創設「臺灣環境教育對話平台」TEED (Taiwan Environmental Education Dialogue, 請瀏覽<a href="http://www.teed.org.tw/" target="_blank" style="display: inline-block; padding: 0; margin: 0; color: #2a93d5">www.TEED.org.tw</a>)，於2015年世界環境日開站，屬於自營、自製的全公益環境教育網站，結合影像與聲音，將環境教育知識內涵雲端化。TEED的豐富影音資源及創台經營理念，亦受到國內從小學到大專院校的教育機構肯定，已有78所學校於官方網站上設友善連結，讓更多師生可以善加利用公益資源，開創一種環境教育的新面貌。<br><br>

										經過三年草創期的努力，第一期計畫於2016年底屆滿，已完成21場論壇、提供230部短講影片、3部紀錄片、9個廣播節目、以及環境教育3個課程，並集結這兩年在平台上發表的主題演講，編輯發行「我們都是氣候世代」一書。成果亦展現在COP21及COP22正式會場上， 受到各國代表和民間組織所讚賞。<br><br>

										TEED所創立的舞台，受到國內專家人士的支持，截至2016年，TEED講者高達255名，勇於挑戰環境界未曾嘗試過的20分鐘內舞台短講。日月光集團營運長更於企業社會責任與環境論壇中，主題分享 - 三十年的環境承諾。
									</p>
								</div>
								<div class="col-md-4"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/environmental_conservation1.jpg"></div>
							</div>
						</div>
	  				</div>
	  				<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
								<span class="black-text-in-box accordion-center-text">環願山林造林方案</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>

						<div id="collapseTwo" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingTwo">
							<div class="panel-body">
								<div class="col-md-8">
									<p>
										經過三年努力，本計畫在嘉義、臺南、高雄、屏東與臺東等9處國有林地上造林83.79公頃、高雄都會公園綠美化2.3公頃，相當於3.2座大安森林公園。並達成新植樹苗3萬7千多株、點播種子41多萬顆、撫育樹木5萬4千多株的豐碩成果，各造林地均已順利點交歸還林務局各林管處，並於2016年6月5日世界地球日前夕，於台南、高雄、台東等地設立合作認養告示牌，正式宣告計畫圓滿結束。後續，造林地已回歸國有林地管理體系，登錄於林務局年報及造林清冊，並列入國家溫室氣體清冊報告，成為吸收二氧化碳排放的重要一分子。本計畫成果發表於「全球森林看守」網站(Global Forest Watch, GFW)，與世界各地超過200個森林故事交流；亦前往巴黎氣候大會COP21會場，與關心森林的國際友人分享我們的故事。日月光預計2017~2019將與行政院農委會林務局合作，預計再認養撫育超過15公頃之造林地。
									</p>
								</div>
								<div class="col-md-4"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/environmental_conservation2.jpg"></div>
							</div>
						</div>
	  				</div>
	  				<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
								<span class="black-text-in-box accordion-center-text">社區(南區)環境教育方案</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>

						<div id="collapseThree" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingThree">
							<div class="panel-body">
								<div class="col-md-8">
									<p style="padding-right: 10px">
										自2014年，日月光文教基金會攜手高雄第一科技大學，進行社區環境教育推動工作，針對環境教育種子教師、青少年、親子家庭及樂齡志工等族群設計一系列的課程，在課程中融合不同比重的樂活、科技、環境、戶外體驗與文化的內涵。本計畫於2016年新增規劃環教種子教師投身在地環教推動行列，以在地性議題及主題式深度串聯環境議題，進行師資增能培訓及開發創環境教案教材。至2016年共舉辦了36個梯次的環教課程，約有5,100人次參與，共培訓60位師資及12套「水議題」教案。
									</p>
								</div>
								<div class="col-md-4"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/environmental_conservation3.jpg"></div>
							</div>
						</div>
	  				</div>
	  				<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
								<span class="black-text-in-box accordion-center-text">環境技術之學術研究計畫</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>

						<div id="collapseFour" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingFour">
							<div class="panel-body">
								<div class="col-md-8">
									<p>
										日月光文教基金會自2014起與台灣多所大學環境相關科系進行長期的環境技術研究專案。2016年共有九大研究成果，包括廢水、製程水 回收、噪音、空汙、人因工程、企業在地化策略等，並每年持續舉辦期中及期末發表會，提出改善與研究成果，並與外界分享，透過產學的研發能量與企業界共同學習交流，盼降低台灣半導體產業製程上對整體環境的衝擊，取得經濟發展與環境保護的平衡，並讓一次的環境技術研究專案發表會都能成為一次跨領域的交流平台。至2016共計已執行30項專案，參與的師生人數超過50位，成果豐碩。
									</p>
								</div>
								<div class="col-md-4"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/environmental_conservation4.jpg"></div>
							</div>
						</div>
	  				</div>
	  				<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
								<span class="black-text-in-box accordion-center-text">校園LED方案</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>

						<div id="collapseFive" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingFive">
							<div class="panel-body">
								<div class="col-md-8">
									<p>
										日月光文教基金會自2014年起展開「校園LED方案」，幫助學校汰換老舊燈具，關懷孩童的視力。以高雄、南投為起點，並挺進偏鄉國小，為南投縣山區的孩子，點亮一盞盞燈。至2016年總計花費約800萬元，幫助33所學校換上40,339支LED燈，整體照明平均提升二倍。估計可為學校每年節省約161萬度的電，平均每年讓學校省下約380萬元的電費，以及減少850噸二氧化碳的排放。<br><br>

										由於許多學校教室的照明設備仍是傳統燈具，會有眩光等問題，為了孩子視力保健，及推動節能減碳，我們針對有LED燈需求的學校展開調查，統計確認需求數量，並採購符合CNS安全規範的LED燈管及燈具。另外，為了能夠安裝，工程人員必要時需幫忙學校改線路，以及確保安裝和施工時安全無虞，並提供學校產品及維修保固，希望提供最好的服務品質，愛心不打折。
									</p>
								</div>
								<div class="col-md-4"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/environmental_conservation5.jpg"></div>
							</div>
						</div>
	  				</div>
	  				<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
								<span class="black-text-in-box accordion-center-text">環境衛生登革熱防治</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>

						<div id="collapseSix" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingSix">
							<div class="panel-body">
								<div class="col-md-8">
									<p>
										每年夏天，登革熱已成為南台灣嚴峻考驗，尤其2015年更是歷年來疫情最嚴重的一年。高雄市自氣爆事件發生後又連日大雨，造成災區 積水滋生蚊蟲，2015年高雄市爆發超過19,000例登革熱病例，日月光文教基金會即大力支持高雄市政府衛生局的登革熱防疫計畫，製作了6支登革熱防疫影片及1場宣導活動，宣導人次高達17萬人次。高雄市於2016年夏天登革熱流行季節起，發病確診案例降至10例以下。

									</p>
								</div>
								<div class="col-md-4"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/environmental_conservation6.jpg"></div>
							</div>
						</div>
	  				</div>
	  				<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
								<span class="black-text-in-box accordion-center-text">河流水資源開發微電影</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>

						<div id="collapseSeven" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingSeven">
							<div class="panel-body">
								<div class="col-md-8">
									<p>
										日月光文教基金會支持拍攝台灣公共建設檔案系列微電影，為了讓各界能夠瞭解日常生活中習以為常的水、電等能源得來不易，籌拍系列微電影，希望將公共建設檔案分門別類，做成一系列影音資料。首支「台灣北部水力發電篇」於2016年11月發表，日月光文教基金會董事長曾元一親自擔任本片製片。透過影音的呈現，讓所有公共建設的專業人員不再只是「無名英雄」，而是能夠將這些資訊傳播給大眾，喚起各界更重視公共建設專業人員對於社會的貢獻。
									</p>
								</div>
								<div class="col-md-4"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/environmental_conservation7.jpg"></div>
							</div>
						</div>
	  				</div>
	  			</div>
  			</article>
  		</div>
	</section>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script>
	$( document ).ready(function() {
		$('.accordion-center-text').click(function(e){
			if ($(this).hasClass('black-text-in-box')) {
				$('.blue-text-in-box').removeClass('blue-text-in-box').addClass('black-text-in-box');
				$(this).removeClass("black-text-in-box");
				$(this).addClass("blue-text-in-box");      //add the class to the clicked element
			} else {
				$(this).removeClass("blue-text-in-box");
				$(this).addClass("black-text-in-box");      //add the class to the clicked element
			}
		});
	})
	</script>