﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/tw/_Layout.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-csr">
		<h1 class="page-title title-large">企業社會責任</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "/" })"><i class="icon-home"></i><span itemprop="name">首頁</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })"><span itemprop="name">企業社會責任</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Corporate_Citizenship_Social_Involvement", "CSR", new { lang = ViewBag.language.lang })"><span itemprop="name">企業公民與社會參與</span></a>
					<meta itemprop="position" content="3" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Corporate_Citizenship_Social_Involvement", "CSR", new { lang = ViewBag.language.lang, param1 = "public_advocacy" })"><span itemprop="name">對外倡議</span></a>
					<meta itemprop="position" content="4" />
				</li>
			</ol>
		</div>
	</div>

	<div class="breadcrumbs-pc pull-left" id="breadcrumbs-pc">
	<!-- PC版選單breadcrumbs內容 -->
		<ul class="breadcrumbs-view" id="breadcrumbs-view">
			<li class="dropdown-item">
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })">技術</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Solution" })">解決方案</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" })">產品</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "ir" })">投資人關係</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })">企業社會責任</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "About" })">關於日月光集團</a></li>
				</ul>
			</li>
			<li class="dropdown-item">
				<a href="csr.html">企業社會責任</a>
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.Action("Letter_Chairman", "CSR", new { lang = ViewBag.language.lang })">董事長的話</a></li>
					<li><a href="@Url.Action("Sustainability_Governance", "CSR", new { lang = ViewBag.language.lang })">永續治理</a></li>
					<li><a href="@Url.Action("Stakeholder_Engagement", "CSR", new { lang = ViewBag.language.lang })">利害關係人專區</a></li>
					<li><a href="http://ir.aseglobal.com/c/ir_corpor.php">公司治理</a></li>
					<li><a href="@Url.Action("environmental_sustainability", "CSR", new { lang = ViewBag.language.lang })">環境永續</a></li>
					<li><a href="@Url.Action("Employee_Care_Development", "CSR", new { lang = ViewBag.language.lang })">員工關懷與發展</a></li>
					<li><a href="@Url.Action("Supply_Chain_Development", "CSR", new { lang = ViewBag.language.lang })">供應鏈發展</a></li>
					<li><a href="@Url.Action("Corporate_Citizenship_Social_Involvement", "CSR", new { lang = ViewBag.language.lang })" class="active">企業公民與社會參與</a></li>
					<li><a href="@Url.Action("Downloads", "CSR", new { lang = ViewBag.language.lang })">企業社會責任報告書下載專區</a></li>
				</ul>
			</li>
		</ul>
	</div>

	<section class="inside-article">
		<div class="content-lg row">
			<div class="col-md-12">
				<h3 class="title">對外倡議</h3>
				<p>
					身為全球半導體封裝測試服務的領導者，日月光致力於商業核心本業及永續發展領域相關（環境、社會及經濟面向）之對外倡議，對外倡議之範疇包括產業經濟發展、技術創新發展、氣候變遷與永續發展、供應鏈及衝突金屬管理、人權與社會參與等。2016年日月光對外倡議支出約為新台幣1,350萬元，並參與超過116個外部組織。
				</p>
			</div>
		</div>

		<div class="content-lg row csr">
			<article class="col-xs-12">
				<h4 class="sub-title">2016 年日月光參與之主要對外倡議活動包括：</h4>
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

					<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
								<span class="black-text-in-box accordion-center-text">全球半導體聯盟(GSA)及國際半導體設備材料產業協會(SEMI)</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>

						<div id="collapseOne" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<div class="col-sm-12">
									<p>
										日月光營運長吳田玉博士現任全球半導體聯盟(GSA, Global Semiconductor Alliance)與國際半導體產業協會(SEMI)董事會成員。GSA與SEMI是全球性的產業協會，致力於促進微電子及微奈米電子產業供應鏈的整體發展。
									</p>
								</div>
							</div>
						</div>
	  				</div>

	  				<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
								<span class="black-text-in-box accordion-center-text">CDP倡議行動</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>

						<div id="collapseTwo" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingTwo">
							<div class="panel-body">
								<div class="col-sm-12">
									<p>
										日月光參與CDP發起的倡議行動，2015年承諾「以誠信忠實的態度在企業重要報告中說明氣候變遷資訊的義務」及「承擔責任參與政策的議合」，並於2016年參與簽署「改善水安全」倡議，詳情請參照「<a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "climate_change_management" })" style="display: inline-block; padding: 0; margin: 0; color: #2a93d5">氣候變遷管理與能源使用效率</a>」與「<a href="Conflict_Minerals_Compliance.html" style="display: inline-block; padding: 0; margin: 0; color: #2a93d5">水資源管理</a>」。
									</p>
								</div>
							</div>
						</div>
	  				</div>

	  				<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
								<span class="black-text-in-box accordion-center-text">電子產業公民聯盟(EICC)</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>

						<div id="collapseThree" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingThree">
							<div class="panel-body">
								<div class="col-sm-12">
									<p>
										日月光成為電子產業公民聯盟會員，我們要求全球各廠區及供應商符合電子行業公民聯盟之行為準則，並且輔導其參與EICC有效性稽核(Validated Audit Process, VAP)，詳情請參照「<a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "Supplier_Sustainability_Management" })" style="display: inline-block; padding: 0; margin: 0; color: #2a93d5">供應商永續管理</a>」。
									</p>
								</div>
							</div>
						</div>
	  				</div>

	  				<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
								<span class="black-text-in-box accordion-center-text">無衝突採購倡議(CFSI)</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>

						<div id="collapseFour" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingFour">
							<div class="panel-body">
								<div class="col-sm-12">
									<p>
										日月光加入EICC-GeSI所倡議的無衝突採購倡議，並加入衝突礦產調查表單及盡責調查工作小組，詳情請參照「<a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "Conflict_Minerals_Compliance" })" style="display: inline-block; padding: 0; margin: 0; color: #2a93d5">衝突礦產承諾</a>」。
									</p>
								</div>
							</div>
						</div>
	  				</div>

	  				<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
								<span class="black-text-in-box accordion-center-text">中華民國企業永續發展協會(BCSD-Taiwan)</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>

						<div id="collapseFive" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingFive">
							<div class="panel-body">
								<div class="col-sm-12">
									<p>
										日月光為中華民國企業永續發展協會的會員，並積極參與該協會下的台灣企業永續論壇(TCSF)，共同建立跨產業溝通分享平台及成立能源效率及水資源工作小組，藉由永續議題之異業分享及同業特有行動方案之學習，2016年日月光分享綠色債券發行及中水回收廠導入相關歷程予業界。
									</p>
								</div>
							</div>
						</div>
	  				</div>

	  				<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
								<span class="black-text-in-box accordion-center-text">台灣半導體協會(TSIA)</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>

						<div id="collapseSix" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingSix">
							<div class="panel-body">
								<div class="col-sm-12">
									<p>
										日月光為台灣半導體協會成員，與半導體封測同業一起組成TSIA封裝環安小組，進行環安工作交流以共同解決國內半導體產業工安與環保問題，參與國際工安與環保組織及活動，如WSC中的ESH Task Force會議、ITRS會議、ISESH (International Semiconductor Environment Safety Health)技術研討 會等。並透過工研院(ITRI)協助進行環安相關專案，包含環安數據統計分析與績效整合、綠色工廠指標建立、化學品管理、溫室氣體查證及盤查訓練、建廠安全規範訓練及OHSAS 18000/ TOSHMS內稽人員訓練等。
									</p>
								</div>
							</div>
						</div>
	  				</div>

	  				<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
								<span class="black-text-in-box accordion-center-text">台灣供應永續協會(Taiwan Alliance for Sustainable Supply, TASS)</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>

						<div id="collapseSeven" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingSeven">
							<div class="panel-body">
								<div class="col-sm-12">
									<p>
										2016年由日月光發起，與半導體供應商一同組成台灣供應永續協會，積極並持續推動促進各個產業的整體供應管理能力，執行工業局之「台灣封測產業綠色環安雲端應用發展計畫」，建立一個整合供應管理、運籌流程、標準認證與資訊共享的永續發展平台。
									</p>
								</div>
							</div>
						</div>
	  				</div>

	  				<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
								<span class="black-text-in-box accordion-center-text">國際電子生產商聯盟(International Eletronics Manufacturing Initiative, iNEMI)</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>

						<div id="collapseEight" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingEight">
							<div class="panel-body">
								<div class="col-sm-12">
									<p>
										該聯盟係以鑑別與電子工業有關之關鍵技術及基礎建設發展，透過主辦關鍵技術論壇，發表產業技術資訊，以確保下一世代供應鏈之競爭力為目的，會員由90家電子製造商、協會、政府及學術機構組成，每2年會針對全球電子工業將來需要的製造技術，研訂一份發展藍圖，日月光加入了封裝與基板技術活動小組，同時參與Large-size Warpage及Panel-level Packaging相關專案。
									</p>
								</div>
							</div>
						</div>
	  				</div>

	  				<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
								<span class="black-text-in-box accordion-center-text">台灣物聯網產業技術協會(Taiwan IOT Technology and Industry Association, TwIoTA)</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>

						<div id="collapseNine" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingNine">
							<div class="panel-body">
								<div class="col-sm-12">
									<p>
										針對物聯網技術發展，結合台灣半導體關鍵零組件及其中下游軟硬體裝置、應用服務商、物聯網平台等企業，並與全球暨中國大陸各界合作，制定產業標準並推廣於兩岸和國際市場，提升台灣在物聯網新興產業的核心競爭力。
									</p>
								</div>
							</div>
						</div>
	  				</div>

	  			</div>
  			</article>
  		</div>

		<div class="content-lg row">
			<div class="col-md-12">
	  			<h4 class="sub-title">日月光參與主要國際性之外部組織</h4>
				<ul class="spacing1-5em nopadding">
					<li>全球半導體聯盟(GSA)</li>
					<li>國際半導體設備材料產業協會(SEMI)</li>
					<li>國際電子生產商聯盟(iNEMI)</li>
					<li> MicroElectronics Packaging and Test Engineering Council (MEPTEC)</li>
					<li>台灣國際微電子暨構裝學會(IMAPS)</li>
					<li>PCI-SIG Association</li>
					<li>Universal Serial Bus Association</li>
					<li>中國半導體協會(CSIA)</li>
					<li>台灣半導體產業協會 (TSIA)</li>
					<li>台灣物聯網產業技術協會(TwIoTA)</li>
					<li>台灣電路板協會(TPCA)</li>
					<li>電子產業公民聯盟(EICC)</li>
					<li>無衝突採購倡議(CFSI)</li>
					<li>Carbon Disclosure Project (CDP)</li>
					<li>中美經濟合作策進會</li>
					<li>中華民國企業永續發展協會(BCSD-Taiwan)</li>
					<li>台灣供應永續協會(TASS)</li>
					<li>中華民國工業安全衛生協會(ISHA-Taiwan)</li>
					<li>台灣永續能源研究基金會(TAISE)</li>
					<li>檳城自由工業區公司協會(FREPENCA)</li>
					<li>上海市集成電路行業協會(SICA)</li>
					<li>日本山形縣半導體相關產業促進會</li>
					<li>Yonezawa 電機工業會(YEIA)</li>
					<li>蘇州園區半導體及電子產品協會</li>
					<li>上海市環保協會</li>
					<li>台灣半導體產學研發聯盟(TIARA)</li>
				</ul>
			</div>
		</div>
	</section>