﻿@using web.ViewModels;
@{
    List<SiteNav> site_nav_list = ViewBag.site_nav_list;
}

@helper renderMenu(List<SiteNav>
  navList, string classPrefix, int lv = 1, string checkboxIdPrefix = "")
{
    foreach (var nav in navList)
    {
        string checkboxId = @String.Format("{0}__Lv{1}__Checkbox__{2}-{3}", classPrefix, lv, checkboxIdPrefix, nav.No);
        bool hasUrl = nav.Url != "";
        bool hasChildren = nav.Children.Count() > 0;
        <div class="@String.Format("{0}__Lv{1}Item", classPrefix, lv)">
            <input type="checkbox" id="@checkboxId" />
            <div class="@String.Format("NavHeader", classPrefix, lv)">
                @if (hasUrl)
                {
                    <a class="NavTitle" href="@nav.Url" data-title="@nav.Title" data-href="@nav.Url">@nav.Title</a>
                }
                else
                {
                    <div class="NavTitle" href="@nav.Url" data-title="@nav.Title" data-href="@nav.Url">@nav.Title</div>
                }
                @if (hasChildren)
                {
                    <label for="@checkboxId" class="@String.Format("NavHeader__Toggle", classPrefix, lv)">
                        <i class="glyphicon glyphicon-triangle-bottom"></i>
                    </label>
                }
            </div>


            @if (nav.Children.Count() > 0)
            {
                <div class="@String.Format("{0}__Lv{1}Sub", classPrefix, lv)">
                    @renderMenu(nav.Children, classPrefix, lv + 1, String.Format("{0}-{1}", checkboxIdPrefix, nav.No))
                </div>
            }
        </div>
    }
}

<div class="ASEHeader">
    <div class="ASEHeader__Logo">
        <a class="logo pull-left" href="@Url.Action("Index", "Home", new {lang= ViewBag.language.lang })">
            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/logo-en.png" alt="">
        </a>
    </div>
    <div class="ASEHeader__Navs">
        @renderMenu(site_nav_list, "ASENavs")
    </div>
    <div class="ASEHeader__Search">

        <input type="checkbox" id="searchPanel" />
        <label class="btn btn-default" for="searchPanel"><i class="icon-search"></i></label>
        <div class="ASESearchPanel">
            <form action="@Url.Action("Search", "Home", new { lang = ViewBag.language.lang })" autocomplete="off">
                <input type="text" class="form-control" id="" placeholder="Search" name="q">
                <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
            </form>
        </div>
    </div>
    @if (ViewBag.enURL != null && ViewBag.zhURL != null)
    {
        <div class="ASEHeader__Lang">
            <a href="@ViewBag.enURL">English</a>
            <a href="@ViewBag.zhURL">中文</a>
        </div>
    }


    <input type="checkbox" id="MobileNavsToggle" />
    <div class="ASEHeader__MobileToggle">
        <label class="hamburger hamburger--collapse" for="MobileNavsToggle">
            <div class="hamburger-box">
                <div class="hamburger-inner"></div>
            </div>
        </label>
    </div>
    <div class="ASEHeader__MobileNavs">
        @renderMenu(site_nav_list, "ASEMobileNavs")
    </div>
</div>