﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/tw/_Layout.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-csr">
		<h1 class="page-title title-large">企業社會責任</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "/" })"><i class="icon-home"></i><span itemprop="name">首頁</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })"><span itemprop="name">企業社會責任</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Employee_Care_Development", "CSR", new { lang = ViewBag.language.lang })"><span itemprop="name">員工關懷與發展</span></a>
					<meta itemprop="position" content="3" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "employee_care" })"><span itemprop="name">員工照顧</span></a>
					<meta itemprop="position" content="4" />
				</li>
			</ol>
		</div>
	</div>

	<div class="breadcrumbs-pc pull-left" id="breadcrumbs-pc">
	<!-- PC版選單breadcrumbs內容 -->
		<ul class="breadcrumbs-view" id="breadcrumbs-view">
			<li class="dropdown-item">
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })">技術</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Solution" })">解決方案</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" })">產品</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "ir" })">投資人關係</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })">企業社會責任</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "About" })">關於日月光集團</a></li>
				</ul>
			</li>
			<li class="dropdown-item">
				<a href="csr.html">企業社會責任</a>
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.Action("Letter_Chairman", "CSR", new { lang = ViewBag.language.lang })">董事長的話</a></li>
					<li><a href="@Url.Action("Sustainability_Governance", "CSR", new { lang = ViewBag.language.lang })">永續治理</a></li>
					<li><a href="@Url.Action("Stakeholder_Engagement", "CSR", new { lang = ViewBag.language.lang })">利害關係人專區</a></li>
					<li><a href="http://ir.aseglobal.com/c/ir_corpor.php">公司治理</a></li>
					<li><a href="@Url.Action("environmental_sustainability", "CSR", new { lang = ViewBag.language.lang })">環境永續</a></li>
					<li><a href="@Url.Action("Employee_Care_Development", "CSR", new { lang = ViewBag.language.lang })" class="active">員工關懷與發展</a></li>
					<li><a href="@Url.Action("Supply_Chain_Development", "CSR", new { lang = ViewBag.language.lang })">供應鏈發展</a></li>
					<li><a href="@Url.Action("Corporate_Citizenship_Social_Involvement", "CSR", new { lang = ViewBag.language.lang })">企業公民與社會參與</a></li>
					<li><a href="@Url.Action("Downloads", "CSR", new { lang = ViewBag.language.lang })">企業社會責任報告書下載專區</a></li>
				</ul>
			</li>
		</ul>
	</div>

	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">員工照顧</h3>
				<p>
					讓員工受到尊重、公平薪酬的對待，並有學習成長與個人發展的機會是激勵員工願意持續待在公司的因子。日月光提供了一個舒適的工作環境，有利於員工的生產與發展。我們還努力創造一個包容性的工作場所歡迎不同的國籍、文化、宗教和種族背景的男女夥伴共同在日月光大家庭成長。
				</p>
				<h4 class="sub-title">尊重員工聲音</h4>
				<p>
					我們重視並尊重員工聲音，並闢設各種溝通管道讓 員工可以及時了解公司動態並能針對工作職場相關事項表達任何意見或疑慮。人力資源部門提供了多項雙向管道，包括：<br>
					<ul class="nopadding">
						<li>內聯網 - 發布公司的最新消息</li>
						<li>電子郵件通知 - 宣布集團事項及傳遞高階管理階層給員工的信</li>
						<li>佈告欄 - 提供與勞工相關政策，健康與安全衛生、及企業活動的訊息</li>
						<li>現場電視新聞/ 資訊 - 播放員工福利相關的訊息</li>
						<li>總經理信箱 - 員工的意見/建議直接傳達給總經理</li>
						<li>廠長信箱 - 作業員的意見/建議直接傳達給廠長</li>
						<li>員工意見信箱 - 收集員工投訴聲音並予以回應</li>
						<li>員工座談會 - 分享和討論工作經驗</li>
						<li>專題研討會 - 針對特定議題，邀請相關員工共同討論並解決該問題</li>
						<li>諮詢室 - 提供一對一個別輔導</li>
						<li>勞資會議 - 定期每季由HR與員工代表交流</li>
					</ul>
					除了上述的溝通管道，公司特別重視主管與同仁的對話。主管應積極和同仁溝通，亦鼓勵員工直接和管理者面對面會談、線上意見調查、聚會溝通及學習課程討論。我們亦舉辦許多研討會。另外，廠區還發行刊物，採訪員工心聲，同時提供員工發表意見的園地。<br><br>

					<strong>員工工會</strong><br>
					日月光尊重員工人權及和諧的勞資關係，本著勞資 一家的態度，日月光高雄廠、威海廠、蘇州廠、無鍚廠、韓國廠、日本廠、新加坡廠、USI皆已運行工 會為員工發聲多年。上海封測廠為提高員工權益，去年也新設置了「上海廠員工工會」。截至2016年底日月光集團加入工會的員工總計有28,876人，佔 日月光所有員工總比例約43%，較2015年增加6%。工會每季召開會議一次，討論並與員工代表解決員工福利問題。<br><br>

					<strong>員工投入度(Employee Engagement)</strong><br>
					為定期了解集團內員工對公司各項制度之看法與建議，同時在收集匯整員工投入度調查資料方面可以有更具整合性的結果分析，我們新增制定了「日月光集團員工投入度調查實施指南」，期各廠區在實施投入度調查有一致性的共同原則及執行作業，同時將調查面向聚焦於六面向，並具體列出六大面向的涵蓋內容。此員工投入度調查實施指南的六個面向為：企業文化、工作環境、訓練發展、領導管理、員工關係及薪酬福利。集團全面性的調查每二年實施一次。下一次的計劃實施年度為2017年，設定目標期能達到73%的員工投入度，較之2015年度進步3個百分比。為使員工對工作有更多的投入，我們在2016年全球各廠區對新人共進行了320場的溝通會、對於外籍員工進行了341場、而對於一般員工也進行了263場次的交流溝通會。
				</p>

				<h4 class="sub-title">薪酬福利制度</h4>
				<p>
					我們提供具競爭力、以績效為導向的薪酬方案，並將獲利盈餘分享給員工。我們並為員工制定且促動各項福利措施。期能更完善地照護我們的員工及其家人。<br><br>

					<strong>薪酬制度</strong><br>
					日月光的薪酬制度重視公平、平等，所有的正職員工皆享有一致性的薪酬福利，並每年檢視廠區在地基本薪酬水平，以確保員工的基本工資具有競爭力。2016年女性對男性的直接員工基本工資比例為1：1.04；而間接員工<a href="javascript:;" data-toggle="popover" data-trigger="hover" data-content="間接員工的定義為直接員工(如：工廠作業員)以外的所有其他員工。" data-placement="bottom">*</a>則為1：1.14。為獎勵員工為公司辛勤的付出，我們設有月激勵獎金及年度分紅獎金。每個月的現金激勵獎金依公司營收達成之成果，提供給績效優異的員工。年度獎金則依員工個別的貢獻度及績效來分派給員工。日月光集團去年共計支付了約新台幣49.6億元的激勵獎金予員工。此外，為鼓勵員工長期留在公司共同打拼。日月光設有員工認股方案，旨在留任表現優異的員工，同時邀請員工成為公司股東之一。員工認股依發權日起具十年的效期。日月光願與員工共同成長、一起獲利。<br><br>

					<strong>福利制度</strong><br>
					日月光注重員工的權益並關心員工在公司工作的身心狀態。因而我們設有「員工福利委員會」、「員工伙食委員會」及「勞工退休基金委員會」，期能為員工制定更周全完善的福利制度。
			</article>
		</div>
		<div class="content-lg row csr">
			<article class="col-xs-12">
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
					<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
								<span class="black-text-in-box accordion-center-text">「食」的關懷 - 膳食補貼</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>

						<div id="collapseOne" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<div class="col-md-8">
									<p>公司於廠區提供明亮整潔、衛生乾淨的用膳餐廳，並補助50%(或以上)的餐費。為讓員工吃得更加美味、健康安全，2016年加強管理員工膳食，每季更新餐食內容並自主檢測食材，確保食材來源無慮。</p>
								</div>
								<div class="col-md-4">
									<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/employee_care.jpg"><br>
									高雄廠 - 員工餐廳
								</div>
							</div>
						</div>
	  				</div>
	  				<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
								<span class="black-text-in-box accordion-center-text">「住」的關懷 - 員工宿舍</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>

						<div id="collapseTwo" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingTwo">
							<div class="panel-body">
								<div class="col-md-8">
									<p>為特別照顧從外地來工作的同仁，我們的高雄廠、上海廠、昆山廠、威海廠皆設有員工宿舍。上海廠員工宿舍且於去年增設了員工夫妻房樓，且更換了設備家俱。高雄廠另於2015年斥資新台幣10億元所建造的新宿舍，2016年再挹注約370萬資金，增購各項設備用品及加強安全防護工程等，預計於2017年提供給3,000名外地員工更舒適的生活住所。</p>
								</div>
								<div class="col-md-4">
									<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/employee_care1.jpg"><br>
									昆山廠 - 員工宿舍
								</div>
							</div>
						</div>
	  				</div>
	  				<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
								<span class="black-text-in-box accordion-center-text">「行」的關懷 - 廠區接駁</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>

						<div id="collapseThree" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingThree">
							<div class="panel-body">
								<div class="col-md-8">
									<p>公司關注員工行的便利與安全。我們提供員工宿舍到工廠的接駁車上下班接送服務，以及廠區棟別之間的區間接駁車安排。贊助上海員工生活區的停車費用，另強化員工生活區出入安全，2016年特增設生活區進出車牌識別系統。</p>
								</div>
								<div class="col-md-4">
									<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/employee_care2.jpg"><br>
									高雄廠 - 廠區接駁車
								</div>
							</div>
						</div>
	  				</div>
	  				<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
								<span class="black-text-in-box accordion-center-text">「身」的關懷 - 健康檢查/ 健康設施</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>

						<div id="collapseFour" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingFour">
							<div class="panel-body">
								<div class="col-md-8">
									<p>我們關心員工身體健康，免費提供給員工到診所或合約醫院/ 健診中心實施身體整體健康檢查。在我們諸多的廠房中皆設置設備完善的健身房。另有按摩中心提供予員工消除疲勞、舒解壓力的服務。</p>
								</div>
								<div class="col-md-4">
									<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/employee_care3.jpg"><br>
									高雄廠 - 員工健康診所
								</div>
							</div>
						</div>
	  				</div>
	  				<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
								<span class="black-text-in-box accordion-center-text">「心」的關懷 - 保險制度/ 退休制度</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>

						<div id="collapseFive" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingFive">
							<div class="panel-body">
								<div class="col-md-8">
									<p>
									<span style="font-size: 16px; font-weight: bold;">保險制度</span><br>
									所有日月光員工皆有投保國家勞動保險以及團體保險，包括人壽保險、意外傷害保險、醫療保險、癌症保險等更多的保障。另有員工出差旅行保險。此外，我們還為員工的配偶及子女提供免費團體保險。<br><br>

									<span style="font-size: 16px; font-weight: bold;">退休制度</span><br>
									<strong>確定福利計劃</strong><br>
									台灣廠區所適用「勞動基準法」辦理之退休金制度，是屬政府管理之確定福利退休計畫。員工退休金之支付，係根據服務年資及核准退休日前6個月平均工資計算。台灣廠區按員工每月薪資總額之一定比率按月提撥員工退休基金，交由勞工退休準備金監督委員會以該委員會名義存入台灣銀行之專戶。<br><br>

									日本廠規定服務滿10年以上之員工，得按服務年資及其退休時薪資之一定比率領取退休金；韓國廠亦規定服務滿1年以上之員工及董事得按服務年資及其離職或退休時薪資之一定比率領取資遣費或退休金，且按員工薪資一定比率提撥至以員工名義並受公司管理之外部財務機構之帳戶。<br><br>

									<strong>確定提撥計畫</strong><br>
									台灣廠區所適用「勞工退休金條例」辦理之退休金制度， 是屬政府管理之確定提撥退休計畫， 依員工每月薪資6%提撥退休金至勞工保險局之個人專戶。大陸、美國、馬來西亞、新加坡及墨西哥等廠區，亦依當地法令規定， 提撥並繳付相關單位。</p>
								</div>
								<div class="col-md-4">
									<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/employee_care4.jpg"><br>
									高雄廠 - 員工健康診所
								</div>
							</div>
						</div>
	  				</div>
	  				<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
								<span class="black-text-in-box accordion-center-text">「女性」的關懷 - 友善環境設施</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>

						<div id="collapseSix" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingSix">
							<div class="col-md-8">
									<p>我們特別關照女性員工的需求，提供保留停車位給懷孕的女性同仁，同時，我們在全球廠區包括日月光高雄廠、中壢廠、日本廠、韓國廠、馬來西亞廠、新加坡廠、上海廠、蘇州廠、威海廠、無鍚廠、ISE Labs及USI皆設有私人哺乳室。</p>
								</div>
								<div class="col-md-4">
									<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/employee_care5.jpg"><br>
									中壢廠 - 私人哺乳室
								</div>
						</div>
	  				</div>
	  				<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
								<span class="black-text-in-box accordion-center-text">「外籍員工」的關懷 - 協助適應</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>

						<div id="collapseSeven" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingSeven">
							<div class="panel-body">
								<div class="col-md-8">
									<p>外籍員工投入日月光職場，我們會安排其理解的語言給予教育訓練，廠區亦設有翻譯人員。新進的員工，還會提供當地的生活資訊予以參考，並帶其認識較資深的外籍員工。所有外籍員工皆享與本籍員工完全相同的福利。</p>
								</div>
								<div class="col-md-4">
									<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/employee_care6.jpg"><br>
									高雄廠 - 協助適應
								</div>
							</div>
						</div>
	  				</div>
	  				<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
								<span class="black-text-in-box accordion-center-text">「家人」的關懷 - 幼兒照護</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>

						<div id="collapseEight" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingEight">
							<div class="panel-body">
								<div class="col-md-8">
									<p>家人的妥善照顧，可使員工安心的工作。日月光中壢廠與韓國廠，設置幼兒園提供給員工幼兒照護服務。如有員工需要留在家中專心照顧幼兒者，員工可申請育嬰假及育嬰津貼。另外，日月光還提供婚喪補助、住院津貼、獎學金、生日津貼。</p>
								</div>
								<div class="col-md-4">
									<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/employee_care7.jpg"><br>
									中壢廠 - 幼兒園
								</div>
							</div>
						</div>
	  				</div>
	  			</div>
  			</article>
  		</div>
	</section>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script>
	$(document).ready(function() {
		$('[data-toggle="popover"]').popover();  
		$('.accordion-center-text').click(function(e){
			if ($(this).hasClass('black-text-in-box')) {
				$('.blue-text-in-box').removeClass('blue-text-in-box').addClass('black-text-in-box');
				$(this).removeClass("black-text-in-box");
				$(this).addClass("blue-text-in-box");      //add the class to the clicked element
			} else {
				$(this).removeClass("blue-text-in-box");
				$(this).addClass("black-text-in-box");      //add the class to the clicked element
			}
		});
	})
	</script>