﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/tw/_Layout.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-csr">
		<h1 class="page-title title-large">企業社會責任</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "/" })"><i class="icon-home"></i><span itemprop="name">首頁</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })"><span itemprop="name">企業社會責任</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Employee_Care_Development", "CSR", new { lang = ViewBag.language.lang })"><span itemprop="name">員工關懷與發展</span></a>
					<meta itemprop="position" content="3" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "employee_development" })"><span itemprop="name">員工發展</span></a>
					<meta itemprop="position" content="4" />
				</li>
			</ol>
		</div>
	</div>

	<div class="breadcrumbs-pc pull-left" id="breadcrumbs-pc">
	<!-- PC版選單breadcrumbs內容 -->
		<ul class="breadcrumbs-view" id="breadcrumbs-view">
			<li class="dropdown-item">
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })">技術</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Solution" })">解決方案</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" })">產品</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "ir" })">投資人關係</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })">企業社會責任</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "About" })">關於日月光集團</a></li>
				</ul>
			</li>
			<li class="dropdown-item">
				<a href="csr.html">企業社會責任</a>
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.Action("Letter_Chairman", "CSR", new { lang = ViewBag.language.lang })">董事長的話</a></li>
					<li><a href="@Url.Action("Sustainability_Governance", "CSR", new { lang = ViewBag.language.lang })">永續治理</a></li>
					<li><a href="@Url.Action("Stakeholder_Engagement", "CSR", new { lang = ViewBag.language.lang })">利害關係人專區</a></li>
					<li><a href="http://ir.aseglobal.com/c/ir_corpor.php">公司治理</a></li>
					<li><a href="@Url.Action("environmental_sustainability", "CSR", new { lang = ViewBag.language.lang })">環境永續</a></li>
					<li><a href="@Url.Action("Employee_Care_Development", "CSR", new { lang = ViewBag.language.lang })" class="active">員工關懷與發展</a></li>
					<li><a href="@Url.Action("Supply_Chain_Development", "CSR", new { lang = ViewBag.language.lang })">供應鏈發展</a></li>
					<li><a href="@Url.Action("Corporate_Citizenship_Social_Involvement", "CSR", new { lang = ViewBag.language.lang })">企業公民與社會參與</a></li>
					<li><a href="@Url.Action("Downloads", "CSR", new { lang = ViewBag.language.lang })">企業社會責任報告書下載專區</a></li>
				</ul>
			</li>
		</ul>
	</div>

	<section class="inside-article">
		<div class="content-lg row">
			<div class="col-md-12">
				<h3 class="title">員工發展</h3>
				<p>
					日月光鼓勵員工持續發展工作學歷及專業知識。2016年，我們投入了約美金215萬的經費在員工的學習發展上，平均每位員工投資約美金128元。我們亦提供公費讓員工進修與工作領域相關之學位，2016年日月光員工在公費補助專案下，獲得279個學位。日月光集團於2016年共完成了6,947,542小時的訓練時數課程，每位員工平均約有104個小時<a href="javascript:;" data-toggle="popover" data-trigger="hover" data-content="2016年員工平均訓練時數：女性103小時；男性105小時；新進人員62小時；直接員工119小時以及間接員工81小時。" data-placement="bottom">*</a>的學習發展課程，包括在課堂上的實體訓練、線上課程、工作實務的學習訓練以及外部培訓課程。我們為員工職涯發展建立培訓六大體系，並以PDCA( 計劃/ 執行/ 確認/ 行動)運作模式不斷改善，力求日月光每一位夥伴都能日益精進，並與公司一起成長茁壯。
				</p>
				<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/employee_development.png">
				</div>
				<div class="clearfix"></div><br>

				<h4 class="sub-title">計劃—培訓六大體系</h4>
				<p>
					在每年第四季各廠區人力資源部門需訂定下一個年度培訓課程計劃，依業務需要、組織需求，以日月光六大培育架構，循四個途徑(實體訓練/線上課程/工作實務/外部培訓)執行展開。
				</p>
				<div class="color-box">
					<div class="yellow-box">
						<div class="color-box-heading">新人基礎通識訓練</div>
						<p>
							介紹公司規章/ 政策/ 文化、工作環境、環境安全衛生、人權及員工溝通管道等方面的知識。
						</p>
					</div>
					<div class="light-yellow-box">
						<div class="color-box-heading">工程人員專業技能</div>
						<p>
							品質系統訓練、問題解決程序學習、問題解決工具能力養成。
						</p>
					</div>
					<div class="orange-box">
						<div class="color-box-heading">組長生產管理實務</div>
						<p>
							生產管理基礎實務、異常管控處理程序、人機安排及產能管控等課程。
						</p>
					</div>
				</div>
				<div class="color-box">
					<div class="light-yellow-box">
						<div class="color-box-heading">主任管理基準實務</div>
						<p>
							日常管理與績效、會議有效管理、部屬培育、內部講師訓練等課程。
						</p>
					</div>
					<div class="orange-box">
						<div class="color-box-heading">經副理中階管理培訓</div>
						<p>
							經理人員績效與權責、跨部門專案推動、管理能力訓練計劃等課程。
						</p>
					</div>
					<div class="yellow-box">
						<div class="color-box-heading">廠處長以上策略管理論壇</div>
						<p>
							策略規劃、成本管控、人才培育、團隊建立、管理講座等課程。
						</p>
					</div>
				</div>
				<h4 class="sub-title">執行 － 年度重點專案</h4>
				<p>
					除了執行上述年度培訓課程之外，2016年因應大中華區業務成長的需求，推動大陸區的「主管管理才能訓練課程」。此課程推動首次聯合大陸區7個不同廠區資源共同合辦，從2016/Q4起，分別由上海區/ 昆山區/ 蘇州區的人力資源單位，輪流辦了四梯次的課程。透由標準化系列主管管理才能訓練課程，結合廠處長的實務管理經驗，傳遞管理知識及實務予參與受訓的經副理主管人才。學員在完成訓練課程後需結合工作實務發表，來展現學員將學習運用在工作實務中。截至2016年底，共計培訓145人次的經副理級主管。此次大陸區主管管理才能訓練課程，促動了集團內部跨產業區域的主管相互認識，分享管理實務看法與做法，更從而促進了集團內部資源之共享合作。經副理級學員們透由不同廠區之課堂討論，與不同廠區講師們的請益學習，激盪出更多的管理創意思考。2017年將持續延伸此管理訓練課程。將我們「主管管理才能訓練課程」的管理精神「人性之理解與尊重」及「科學方法的運用」，透過課程的交流及課後的工作應用，深入日月光的管理文化之中。
				</p>

				<h4 class="sub-title">確認 － 訓練有效性</h4>
				<p>
					為使訓練確認有效，因而我們設計展開 － 「訓練有效性推動模式」。此「訓練有效性推動模式」之內涵有四：<br>
					<ul class="nopadding">
						<li>訓練要有部門直線主管的高度參與，也就是主管要成為教導者，培育為日月光內部講師。</li>
						<li>訓練要有學員的高度學習意願，也就是訓練需與日常作業結合的課程設計。</li>
						<li>訓練要有高階主管的高度支持，也就是學員受訓需搭配主管的高度認同與關注，如此學習效益更能發揮。</li>
						<li>訓練要有持續推動運作的機制 ，也就是訓練結果須與HR 績效、獎勵、晉升等機制連結。</li>
					</ul>
					2016年推動訓練有效性專案，主要是在中國大陸各廠區推動執行。內容包括建立大陸各廠區部門直線主管與資深人員高度參與的訓練機制，並明確資深人員培訓與技術力評量規劃，藉由專案任務設定、技術力文件產出與發表等任務學習培訓，以及技術產出、審核、分享、管理、應用等規劃，持續深化技術能力，並連結HR績效與獎勵機制，有系統有組織有計畫地進行技術人才培育，並確保在大陸區推展的訓練有效性。
				</p>
				<h4 class="sub-title">行動 － 分享改善</h4>
			</div>
			<div class="col-sm-8">
				員工的創新精神、才華與熱情是日月光成功的驅動力。為持續不斷地投資栽培具競爭力的日月光人才。我們從基本六大體系的培訓課程規劃，執行年度訓練工作，透過訓練有效性模式檢視培訓成效，並舉辦集團內部人資工作坊及研討會，邀請人資管理公司顧問及大學教授參與指導。在研討會上，除了分享各廠區的培育執行成果，同時針對人力資源部門在公司的永續發展上可以有何精進作為與行動做交流與討論。2016年我們於大陸區、台灣區各舉辦一場研討會，營運長及廠區總經理皆參與研討會，對於日月光的人才發展及未來方向凝聚共識並有了一致的目標。
			</div>
			<div class="col-sm-4">
				<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/employee_development1.jpg">
			</div>
		</div>
		<br>
	</section>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script>
	$(document).ready(function(){
	    $('[data-toggle="popover"]').popover();   
	});
	</script>