﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/tw/_Layout.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-fit">
		<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/products/banner_products_csp.jpg">
		<h1 class="page-title title-large">產品</h1>
	</section>

	<!--麵包屑-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "/" })"><i class="icon-home"></i><span itemprop="name">首頁</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" })"><span itemprop="name">產品</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Assembly", "Products", new { lang = ViewBag.language.lang })"><span itemprop="name">封裝</span></a>
					<meta itemprop="position" content="3" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "sip_module_solutions" })"><span itemprop="name">SiP & Module Solutions</span></a>
					<meta itemprop="position" content="4" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "wireless_sip_module" })"><span itemprop="name">Wireless SiP Module</span></a>
					<meta itemprop="position" content="5" />
				</li>
			</ol>
		</div>
	</div>

	<div class="breadcrumbs-pc pull-left" id="breadcrumbs-pc">
		<ul class="breadcrumbs-view" id="breadcrumbs-view">
			<li class="dropdown-item">
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })">技術</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" })" class="active">產品</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Solution" })">解決方案</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "ir" })">投資人關係</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })">企業社會責任</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "About" })">了解日月光</a></li>
				</ul>
			</li>
			<li class="dropdown-item">
				<a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" })">產品</a>
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.Action("Assembly", "Products", new { lang = ViewBag.language.lang })" class="active">封裝</a></li>
					<li><a href="@Url.Action("Test", "Products", new { lang = ViewBag.language.lang })">測試</a></li>
					<li><a href="@Url.Action("Material", "Products", new { lang = ViewBag.language.lang })">材料</a></li>
					<li><a href="@Url.Action("Tray", "Products", new { lang = ViewBag.language.lang })">IC承載盤</a></li>
				</ul>
			</li>
			<li class="dropdown-item">
				<a href="@Url.Action("Assembly", "Products", new { lang = ViewBag.language.lang })">封裝</a>
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "bumping_solution" })">Wafer  Bumping Solution</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "wafer_level_package_solution" })">Wafer Level Package Solution</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "flip_chip_solution" })">Flip Chip Solution</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "sip_module_solutions" })" class="active">SiP & Module Solutions</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "wire_bond_bga_solution" })">Wire Bond BGA Solution</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "leadframe_solution" })">Leadframe Solution</a></li>
				</ul>
			</li>
			<li class="dropdown-item">
				<a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "sip_module_solutions" })">SiP & Module Solutions</a>
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "wireless_sip_module" })" class="active">Wireless SiP Module</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "computing_storage_sip_module" })">Computing Storage SiP Module</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "power_sip_module" })">Power SiP Module</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "sensor_optical_sip_module" })">Sensor & Optical SiP Module</a></li>
				</ul>
			</li>
		</ul>
	</div>
	
	<!-- Products Content -->
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">Wireless SiP Module</h3>
			</article>
		</div>
	</section>
	
	<section class="inside-article">
		<div class="content-lg row csr">
			<article class="col-xs-12">
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
					<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
								<span id="fcbga" class="black-text-in-box accordion-center-text">BT/BLE+MCU SiP Module</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>
						<div id="collapseOne" class="panel-collapse collapse in no-border" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<div class="col-md-12">
									<div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 nopadding"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/products/ble_mcu.png"></div>
									<div class="clearfix"></div>
								</div>
								<div class="col-xs-6 col-sm-6 col-md-6">
									<div class="products-application technology-tab-active margin-bottom-0">Application</div>
								</div>
								<div class="col-xs-6 col-sm-6 col-md-6">
									<div class="products-features technology-tab-inactive margin-bottom-0">Features</div>
								</div>
								<div class="clearfix"></div>
								<div class="col-xs-12 col-md-12 products-application-content">
									<ul class="nopadding">
										<li>Remote control</li>
										<li>Health, fitness and medical devices</li>
										<li>Home automation, energy</li>
									</ul>
								</div>
								<div class="col-xs-12 col-md-12 products-features-content">
									<ul class="nopadding">
										<li>2.4 GHz BLE transceiver</li>
										<li>ARM<sup>®</sup>sup> Cortex – M0 32 bit processor</li>
										<li>256 kb embedded flash program memory</li>
										<li>16 kb RAM</li>
										<li>Dimension: 6.5 x 6.5 x 1.2mm</li>
										<li>Package: AoP, LGA</li>
									</ul>
								</div>

							</div>
						</div>
	  				</div>

	  				<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
								<span class="black-text-in-box accordion-center-text">WLAN+MCU SiP Module</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>

						<div id="collapseTwo" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingTwo">
							<div class="panel-body">
								<div class="col-md-12">
									<div class="col-xs-5 col-sm-3 col-md-2 col-lg-2 nopadding"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/products/wlan_mcu.png"></div>
									<div class="clearfix"></div>
								</div>

								<div class="col-xs-6 col-sm-6 col-md-6">
									<div class="products1-application technology-tab-active margin-bottom-0">Application</div>
								</div>
								<div class="col-xs-6 col-sm-6 col-md-6">
									<div class="products1-features technology-tab-inactive margin-bottom-0">Features</div>
								</div>
								<div class="clearfix"></div>
								<div class="col-xs-12 col-md-12 products1-application-content">
									<ul class="nopadding">
										<li>IoT</li>
										<li>Smart home</li>
										<li>Security</li>
										<li>Energy harvesting</li>
									</ul>
								</div>
								<div class="col-xs-12 col-md-12 products1-features-content">
									<ul class="nopadding">
										<li>Dimension: LGA 11 x 11mm&sup2;</li>
										<li>Structure: FC+W/B</li>
										<li>WiFi 11b/g + 32bit MCU (50MHz)</li>
										<li>128kb flash + 512kb EEPROM</li>
										<li>Protection: molding, conformal shielding</li>
									</ul>
								</div>

							</div>
						</div>
	  				</div>

	  				<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
								<span class="black-text-in-box accordion-center-text">LoRa/SigFox/NB-IoT SiP Module</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>

						<div id="collapseThree" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingThree">
							<div class="panel-body">
								<div class="col-md-12">
									<div class="col-xs-5 col-sm-3 col-md-2 col-lg-2 nopadding"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/products/lora_mcu.png"></div>
									<div class="clearfix"></div>
								</div>

								<div class="col-xs-6 col-sm-6 col-md-6">
									<div class="products2-application technology-tab-active margin-bottom-0">Application</div>
								</div>
								<div class="col-xs-6 col-sm-6 col-md-6">
									<div class="products2-features technology-tab-inactive margin-bottom-0">Features</div>
								</div>
								<div class="clearfix"></div>
								<div class="col-xs-12 col-md-12 col-xs-12 col-md-12 products2-application-content">
									<div class="col-xs-12">
										<ul class="nopadding">
											<li>Wireless alarm and security systems</li>
											<li>Internet of Things (IoT)</li>
											<li>Smart city</li>
										</ul>
									</div>
								</div>
								<div class="col-xs-12 col-md-12 products2-features-content">
									<ul class="nopadding">
										<li>SX1276 transceiver</li>
										<li>Intel 32MHz Quark MCU</li>
										<li>DSP for sensor subsystem</li>
										<li>Worldwide LoRa ISM band embedded</li>
										<li>384 kb of on-die NVM+8 kb OTP on-die NVM</li>
										<li>80kb of on-die SRAM</li>
										<li>Dimension: 12 x 12 x 1.3 mm</li>
										<li>Package: Conformal shielding, WLCSP</li>
									</ul>
								</div>

							</div>
						</div>
	  				</div>
	  			</div>
			</article>
		</div>
	</section>
	<section class="inside-article">
		<div class="content-lg row">
			<div class="content-wrapper col-md-12 tech-cont-link">
				<a class="phone" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "plants_offices_ase" })"><span class="glyphicon glyphicon-earphone"></span>  聯絡我們</a><br><br>
			</div>
			<div class="clearfix"></div>
		</div>
	</section>
	<section class="csr-bg">
		<div class="content-lg row">
			<div class="products-menu1-content col-xs-12 csr">

				<div class="col-md-6 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "wireless_sip_module" })">
							<span class="blue-text-in-box">Wireless SiP Module</span>
							<div class="circle_button-wrapper pull-right">
								<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>
			
				<div class="col-md-6 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "computing_storage_sip_module" })">
							<span class="blue-text-in-box">Computing Storage SiP Module</span>
							<div class="circle_button-wrapper">
								<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>
			
				<div class="col-md-6 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "power_sip_module" })">
							<span class="blue-text-in-box">Power SiP Module</span>
							<div class="circle_button-wrapper">
								<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>
			
				<div class="col-md-6 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "sensor_optical_sip_module" })">
							<span class="blue-text-in-box">Sensor & Optical SiP Module</span>
							<div class="circle_button-wrapper">
								<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>
				<div class="clearfix"></div>

			</div>
		</div>
	</section>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

	<script>
		$(document).ready(function() {

			$(".products-features-content").hide();
			$(".products1-features-content").hide();
			$(".products2-features-content").hide();

			$('.products-application').click(function() {
				$(this).closest(".row").find(".products-features").removeClass("technology-tab-active").addClass("technology-tab-inactive");
				$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
				$(this).closest(".row").find(".products-features-content").hide();
				$(this).closest(".row").find(".products-application-content").fadeIn(1000);
			});
			$('.products-features').click(function() {
				$(this).closest(".row").find(".products-application").removeClass("technology-tab-active").addClass("technology-tab-inactive");
				$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
				$(this).closest(".row").find(".products-application-content").hide();
				$(this).closest(".row").find(".products-features-content").fadeIn(1000);
			});

			$('.products1-application').click(function() {
				$(this).closest(".row").find(".products1-features").removeClass("technology-tab-active").addClass("technology-tab-inactive");
				$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
				$(this).closest(".row").find(".products1-features-content").hide();
				$(this).closest(".row").find(".products1-application-content").fadeIn(1000);
			});
			$('.products1-features').click(function() {
				$(this).closest(".row").find(".products1-application").removeClass("technology-tab-active").addClass("technology-tab-inactive");
				$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
				$(this).closest(".row").find(".products1-application-content").hide();
				$(this).closest(".row").find(".products1-features-content").fadeIn(1000);
			});

			$('.products2-application').click(function() {
				$(this).closest(".row").find(".products2-features").removeClass("technology-tab-active").addClass("technology-tab-inactive");
				$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
				$(this).closest(".row").find(".products2-features-content").hide();
				$(this).closest(".row").find(".products2-application-content").fadeIn(1000);
			});
			$('.products2-features').click(function() {
				$(this).closest(".row").find(".products2-application").removeClass("technology-tab-active").addClass("technology-tab-inactive");
				$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
				$(this).closest(".row").find(".products2-application-content").hide();
				$(this).closest(".row").find(".products2-features-content").fadeIn(1000);
			});
		});
	</script>