﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-csr">
		<h1 class="page-title title-large">企業社會責任</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Index", "Home", new { lang = ViewBag.language.lang })"><i class="icon-home"></i><span itemprop="name">首頁</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })"><span itemprop="name">企業社會責任</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="#"><span itemprop="name">Corporate Sustainability Policy and Management</span></a>
					<meta itemprop="position" content="3" />
				</li>
			</ol>
		</div>
	</div>

	<div class="breadcrumbs-pc pull-left" id="breadcrumbs-pc">
	<!-- PC版選單breadcrumbs內容 -->
		<ul class="breadcrumbs-view" id="breadcrumbs-view">
			<li class="dropdown-item">
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })">技術</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" })">產品</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Solution" })">解決方案</a></li>
					<li><a href="http://ir.aseglobal.com/"  >投資人關係</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })">企業社會責任</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "About" })">了解日月光</a></li>
				</ul>
			</li>
			<li class="dropdown-item">
				<a href="javascript:;">CSR</a>
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.Action("Letter_Chairman", "CSR", new { lang = ViewBag.language.lang })">Letter from the Chairman</a></li>
					<li><a href="@Url.Action("Sustainability_Governance", "CSR", new { lang = ViewBag.language.lang })">Corporate Sustainability Policy and Management</a></li>
					<li><a href="@Url.Action("Stakeholder_Engagement", "CSR", new { lang = ViewBag.language.lang })">Stakeholder Engagement</a></li>
					<li><a href="javascript:;">Corporate Governance</a></li>
					<li><a href="@Url.Action("environmental_sustainability", "CSR", new { lang = ViewBag.language.lang })">Environmental Sustainability</a></li>
					<li><a href="@Url.Action("Employee_Care_Development", "CSR", new { lang = ViewBag.language.lang })">Employee Care & Development</a></li>
					<li><a href="@Url.Action("Supply_Chain_Development", "CSR", new { lang = ViewBag.language.lang })">Supply Chain Development</a></li>
					<li><a href="@Url.Action("Corporate_Citizenship_Social_Involvement", "CSR", new { lang = ViewBag.language.lang })">Corporate Citizenship and Social Involvement</a></li>
					<li><a href="@Url.Action("Downloads", "CSR", new { lang = ViewBag.language.lang })">CSR Reports Downloads</a></li>
				</ul>
			</li>
		</ul>
	</div>
	<!-- Letter from the Chairman -->
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">Corporate Sustainability Policy and Management</h3>
				<p>
					As a responsible corporate citizen, ASE has taken proactive measures to ensure the highest standards of professional and ethical business conduct. We believe that the sustainable development of our enterprise and the realization of its social responsibilities are vital to our long-term strategies and success.
				</p>
			</article>
		</div>
	</section>

	<div class="content-lg row csr-bg">
		<div class="col-sm-6 col-md-4 text-center moving-arrow">
			<a class="link-block" href="@Url.Action("Sustainability_Governance", "CSR", new { lang = ViewBag.language.lang, param1 = "corporate_sustainability_policy" })">
				<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/corporate_sustainability_policy_and_management1.jpg">
				<br>Corporate Sustainability Policy<br>
				<div class="circle_button darkgray "><i class="icon-arrow-right"></i></div>
			</a><br>
		</div>
		<div class="col-sm-6 col-md-4 text-center moving-arrow">
			<a class="link-block" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "corporate_sustainability_management" })">
				<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/corporate_sustainability_policy_and_management2.jpg">
				<br>Corporate Sustainability Management<br>
				<div class="circle_button darkgray "><i class="icon-arrow-right"></i></div>
			</a><br>
		</div>
		<div class="col-sm-6 col-md-4 text-center moving-arrow">
			<a class="link-block" href="@Url.Action("Sustainability_Governance", "CSR", new { lang = ViewBag.language.lang, param1 = "business_conduct_and_ethics" })">
				<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/corporate_sustainability_policy_and_management3.jpg">
				<br>Business Conduct and Ethics<br>
				<div class="circle_button darkgray "><i class="icon-arrow-right"></i></div>
			</a><br>
		</div>
		<div class="col-sm-6 col-md-4 text-center moving-arrow">
			<a class="link-block" href="@Url.Action("Sustainability_Governance", "CSR", new { lang = ViewBag.language.lang, param1 = "regulatory_compliance_and_risk_management" })">
				<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/corporate_sustainability_policy_and_management4.jpg">
				<br>Regulatory Compliance and Risk Management<br>
				<div class="circle_button darkgray "><i class="icon-arrow-right"></i></div>
			</a><br>
		</div>
		<div class="col-sm-6 col-md-4 text-center moving-arrow">
			<a class="link-block" href="@Url.Action("Sustainability_Governance", "CSR", new { lang = ViewBag.language.lang, param1 = "human_rights_management" })">
				<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/corporate_sustainability_policy_and_management5.jpg">
				<br>Human Rights Management<br>
				<div class="circle_button darkgray "><i class="icon-arrow-right"></i></div>
			</a><br>
		</div>
	</div>
