﻿@using web.Models;
@using web.Common;
@using System.Globalization;
@model csr_news
@{
    Layout = "~/Views/Shared/tw/_Layout.cshtml";
}
<section id="page-vision" class="page-banner-s banner-csr">
		<h1 class="page-title-csr title-large">企業社會責任</h1>
	</section>

<!--breadcrumbs-->
<div class="content-lg row">
    <div class="col-xs-12">
        <ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="@Url.Action("Index", "Home", new { lang = ViewBag.language.lang })"><i class="icon-home"></i><span itemprop="name">首頁</span></a>
                <meta itemprop="position" content="1" />
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })"><span itemprop="name">企業社會責任</span></a>
                <meta itemprop="position" content="2" />
            </li>
        </ol>
    </div>
</div>

<div class="breadcrumbs-pc pull-left" id="breadcrumbs-pc">
    <!-- PC版選單breadcrumbs內容 -->
    <ul class="breadcrumbs-view" id="breadcrumbs-view">
		<li class="dropdown-item">
			<span class="glyphicon glyphicon-menu-right"></span>
			<ul class="dropdown-list">
				<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })">技術</a></li>
				<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" })">產品</a></li>
				<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Solution" })">解決方案</a></li>
				<li><a href="http://ir.aseglobal.com/">投資人關係</a></li>
				<li><a class="active" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })">企業社會責任</a></li>
				<li><a  href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "About" })">了解日月光</a></li>
			</ul>
		</li>
		<li class="dropdown-item">
			<a href="#">企業社會責任</a>
			<span class="glyphicon glyphicon-menu-right"></span>
			<ul class="dropdown-list">
                <li>
                    <a href="@Url.Action("Letter_Chairman", "CSR", new { lang = ViewBag.language.lang })">董事長的話</a>
                </li>
                <li>
                    <a href="@Url.Action("Sustainability_Governance", "CSR", new { lang = ViewBag.language.lang })">永續治理</a>
                </li>
                <li>
                    <a href="@Url.Action("Stakeholder_Engagement", "CSR", new { lang = ViewBag.language.lang })">利害關係人專區</a>
                </li>
                <li>
                    <a href="http://ir.aseglobal.com/html/ir_corpor.php">公司治理</a>
                </li>
                <li>
                    <a href="@Url.Action("environmental_sustainability", "CSR", new { lang = ViewBag.language.lang })">環境永續</a>
                </li>
                <li>
                    <a href="@Url.Action("Employee_Care_Development", "CSR", new { lang = ViewBag.language.lang })">員工關懷與發展</a>
                </li>
                <li>
                    <a href="@Url.Action("Supply_Chain_Development", "CSR", new { lang = ViewBag.language.lang })">供應鏈發展</a>
                </li>
                <li>
                    <a href="@Url.Action("Corporate_Citizenship_Social_Involvement", "CSR", new { lang = ViewBag.language.lang })">企業公民與社會參與</a>
                </li>
                <!-- <li>
                    <a href="@Url.Action("Downloads", "CSR", new { lang = ViewBag.language.lang })">企業社會責任報告書下載專區</a>
                </li> -->
                <li>
                    <a href="@Url.Action("Downloads", "CSR", new { lang = ViewBag.language.lang })">企業社會責任報告書下載</a>
                </li>
                <li>
                    <a href="@Url.Action("csr_video", "CSR", new { lang = ViewBag.language.lang })">企業社會責任影片下載</a>
                </li>
			</ul>
		</li>
    </ul>
</div>

<!-- CSR list -->
<section id="iconlink" class="iconlink linebg-2">
    <div class="content-lg">
        <ul class="row row_padding_0 item-csr">
            <li class="col-xs-12 col-sm-6 col-md-4 text-center">
                <a href="@Url.Action("Downloads", "CSR", new { lang = ViewBag.language.lang })">
                    <div class="imgbox">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/csr_icon-06.png" alt="CSR Reports Downloads" data-hover="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/csr_icon-06_hover.png">
                    </div>
                    <div class="textbox">
                        <h4>企業社會責任報告書下載專區</h4>
                        <div class="text">
                            <p>閱讀與下載日月光企業社會責任報告書，觀看與下載永續相關影片。</p>
                        </div>
                    </div>
                    <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                </a>
            </li>
            <li class="col-xs-12 col-sm-6 col-md-4 text-center">
                <a href="@Url.Action("sustainability_highlights", "CSR", new { lang = ViewBag.language.lang })">
                    <div class="imgbox">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/csr_icon-10.png" alt="Green Buildings" data-hover="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/csr_icon-10_hover.png">
                    </div>
                    <div class="textbox">
							<h4>永續焦點</h4>
							<div class="text">
								<p>進一步了解日月光在永續面向的努力成果。</p>
							</div>
                    </div>
                    <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                </a>
            </li>
            <li class="col-xs-12 col-sm-6 col-md-4 text-center">
                <a href="@Url.Action("environmental_sustainability", "CSR", new { lang = ViewBag.language.lang, param1 = "green_bond" })">
                    <div class="imgbox">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/csr_icon-04.png" alt="Green Bond" data-hover="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/csr_icon-04_hover.png">
                    </div>
                    <div class="textbox">
                        <h4>永續發展策略</h4>
							<div class="text">
								<p>低碳使命、循環再生、社會共融與價值共創。</p>
							</div>
                    </div>
                    <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                </a>
            </li>
            <li class="col-xs-12 col-sm-6 col-md-4 text-center">
                <a href="@Url.Action("Stakeholder_Engagement", "CSR", new { lang = ViewBag.language.lang })">
                    <div class="imgbox">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/csr_icon-05.png" alt="Stakeholder Engagement" data-hover="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/csr_icon-05_hover.png">
                    </div>
                    <div class="textbox">
                        <h4>利害關係人專區</h4>
							<div class="text">
								<p>透過各種溝通管道與平台，我們將利害關係人的回覆和建議納入策略與營運規劃中。</p>
							</div>
						
                    </div>
                    <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                </a>
            </li>
            <li class="col-xs-12 col-sm-6 col-md-4 text-center">
                <a href="javascript:;">
                    <div class="imgbox">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/csr_icon-07.png" alt="CSR video download" data-hover="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/csr_icon-07_hover.png">
                    </div>
                    <div class="textbox">
                        <h4>企業社會責任影片專區</h4>
							<div class="text">
								<p>透過影片觀賞，進一步了解日月光永續發展。</p>
							</div>
                    </div>
                    <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                </a>
            </li>
            <li class="col-xs-12 col-sm-6 col-md-4 text-center">
                <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "Foundation" })">
                    <div class="imgbox">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/csr_icon-09.png" alt="Related Links" data-hover="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/csr_icon-09_hover.png">
                    </div>
                    <div class="textbox">
                        <h4>日月光基金會</h4>
							<div class="text">
								<p>日月光文教基金會與日月之光慈善事業基金會。</p>
							</div>
                    </div>
                    <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                    
                </a>
            </li>
        </ul>
    </div>
</section>

<!-- CSR News list -->

<section class="csr-news">
    <div class="content-lg row">
        <div class="col-xs-12">
            <div class="list">
                <h4 class="text-center">
                    最新消息<a href="@Url.Action("csr_news_list", "CSR")" class="circle_button"><i class="icon-cross"></i></a>
                </h4>
                <!-- @if (Model != null && Model.id > 0)
                {
                    string culture = ViewBag.language.lang == "tw" ? "zh-tw" : "en-US";
                    DateTime date = new DateTime(Model.publish_date.Value.Year, Model.publish_date.Value.Month, Model.publish_date.Value.Day);
                    <div class="content">
                        <a href="@Url.Action("csr_news_details", "CSR", new { param1 = Model.id })">
                            <div class="textbox">
                                <p class="date">@date.ToString("MMM dd, yyyy", CultureInfo.CreateSpecificCulture(culture))</p>
                                <p class="title">@Model.title</p>
                                <p class="text">@Html.Raw(Model.brief)</p>
                            </div>
                            <div class="circle_button-wrapper">
                                <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                            </div>
                        </a>
                    </div>
                } -->
                    <div class="content">
                        <a href="@Url.Action("csr_news_list", "CSR")">
                            <div class="textbox">
                                <p class="date">九月 07, 2017</p>
                                <p class="title">日月光連續第二年榮獲雙項道瓊永續殊榮</p>
                                <p class="text">日月光集團連續兩年榮獲「道瓊永續指數 (The Dow Jones Sustainability Indices, DJSI)」全球半導體及半導體設備產業領導者 (Group Industry Leader) 殊榮以及入選「道瓊永續指數 (The Dow Jones Sustainability Indexes, DJSI ) 」的「世界指數 ( DJSI World ) 」與「新興市場指數 (DJSI Emerging Markets ) 」之成份股。</p>
                            </div>
                            <div class="circle_button-wrapper">
                                <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                            </div>
                        </a>
                    </div>
            </div>
        </div>
    </div>
</section>
<style>
    .csr-news{padding:20px 0;}
    .csr-news .content-lg.row{margin-top: 20px;}
</style>
