﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/tw/_Layout.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-csr">
		<h1 class="page-title title-large">企業社會責任</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "/" })"><i class="icon-home"></i><span itemprop="name">首頁</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })"><span itemprop="name">企業社會責任</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Supply_Chain_Development", "CSR", new { lang = ViewBag.language.lang })"><span itemprop="name">供應鏈發展</span></a>
					<meta itemprop="position" content="3" />
				</li>
			</ol>
		</div>
	</div>

	<div class="breadcrumbs-pc pull-left" id="breadcrumbs-pc">
	<!-- PC版選單breadcrumbs內容 -->
		<ul class="breadcrumbs-view" id="breadcrumbs-view">
			<li class="dropdown-item">
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })">技術</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Solution" })">解決方案</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" })">產品</a></li>
					<li><a href="http://ir.aseglobal.com/">投資人關係</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })">企業社會責任</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "About" })">關於日月光集團</a></li>
				</ul>
			</li>
			<li class="dropdown-item">
				<a href="csr.html">企業社會責任</a>
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.Action("Letter_Chairman", "CSR", new { lang = ViewBag.language.lang })">董事長的話</a></li>
					<li><a href="@Url.Action("Sustainability_Governance", "CSR", new { lang = ViewBag.language.lang })">永續治理</a></li>
					<li><a href="@Url.Action("Stakeholder_Engagement", "CSR", new { lang = ViewBag.language.lang })">利害關係人專區</a></li>
					<li><a href="http://ir.aseglobal.com/c/ir_corpor.php">公司治理</a></li>
					<li><a href="@Url.Action("environmental_sustainability", "CSR", new { lang = ViewBag.language.lang })">環境永續</a></li>
					<li><a href="@Url.Action("Employee_Care_Development", "CSR", new { lang = ViewBag.language.lang })">員工關懷與發展</a></li>
					<li><a href="@Url.Action("Supply_Chain_Development", "CSR", new { lang = ViewBag.language.lang })" class="active">供應鏈發展</a></li>
					<li><a href="@Url.Action("Corporate_Citizenship_Social_Involvement", "CSR", new { lang = ViewBag.language.lang })">企業公民與社會參與</a></li>
					<li><a href="@Url.Action("Downloads", "CSR", new { lang = ViewBag.language.lang })">企業社會責任報告書下載專區</a></li>
				</ul>
			</li>
		</ul>
	</div>
	
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">供應鏈發展</h3>
				<p>
					日月光集團承諾建立供應商夥伴關係，確保供應鏈具備安全的工作環境，其員工受到尊重並享有尊嚴，且其營運對環境負責並符合商業道德。<br><br>

					供應鏈是日月光價值鏈的重要延伸，我們積極投入供應鏈永續發展以確保供應商和承攬商以永續經營、遵守商業道德和負責任的方式提供高品質的產品和服務。
				</p>
			</article>
		</div>
	</section>

	<section class="csr-bg">
		<div class="content-lg row">
			<div class="col-sm-12 col-md-10 col-md-offset-1">
				<div class="col-sm-6 text-center moving-arrow">
					<a class="link-block" href="@Url.Action("Supply_Chain_Development", "CSR", new { lang = ViewBag.language.lang, param1 = "Supply_Chain_Development_Policy" })">
						<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/supply_chain_development1.jpg" class="navbar-btn"><br>
						供應鏈發展政策與供應商行為準則<br>
						<div class="circle_button darkgray margin-top-5"><i class="icon-arrow-right"></i></div>
					</a><br>
				</div>
				<div class="col-sm-6 text-center moving-arrow">
					<a class="link-block" href="@Url.Action("Supply_Chain_Development", "CSR", new { lang = ViewBag.language.lang, param1 = "Supplier_Sustainability_Management" })">
						<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/supply_chain_development2.jpg" class="navbar-btn"><br>
						供應商永續管理<br>
						<div class="circle_button darkgray margin-top-5"><i class="icon-arrow-right"></i></div>
					</a><br>
				</div>
			</div>
			<div class="col-sm-12 col-md-10 col-md-offset-1">
				<div class="col-sm-6 text-center moving-arrow">
					<a class="link-block" href="@Url.Action("Supply_Chain_Development", "CSR", new { lang = ViewBag.language.lang, param1 = "Supplier_Development" })">
						<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/supply_chain_development3.jpg" class="navbar-btn"><br>
						供應商發展<br>
						<div class="circle_button darkgray margin-top-5"><i class="icon-arrow-right"></i></div>
					</a>
				</div>
				<div class="col-sm-6 text-center moving-arrow">
					<a class="link-block" href="@Url.Action("Supply_Chain_Development", "CSR", new { lang = ViewBag.language.lang, param1 = "Conflict_Minerals_Compliance" })">
						<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/supply_chain_development4.jpg" class="navbar-btn"><br>
						衝突礦產承諾<br>
						<div class="circle_button darkgray margin-top-5"><i class="icon-arrow-right"></i></div>
					</a>
				</div>
			</div>
		</div>
	</section>