﻿@using web.Models;
@using web.Common;
@model csr_report_questionnaire
@{
    Layout = "~/Views/Shared/tw/_Layout.cshtml";
    Dictionary<string, string> error = (Dictionary<string, string>)TempData["error"];
    long report_id = ViewBag.report_id;
    long count_id = ViewBag.count_id;
}
<!-- page Banner -->
<section id="page-vision" class="page-banner-s banner-csr">
    <h1 class="page-title title-large">CSR</h1>
</section>

<!--breadcrumbs-->
<div class="content-lg row">
    <div class="col-xs-12">
        <ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="@Url.Action("Index", "Home", new { lang = ViewBag.language.lang })"><i class="icon-home"></i><span itemprop="name">首頁</span></a>
                <meta itemprop="position" content="1" />
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })"><span itemprop="name">企業社會責任</span></a>
                <meta itemprop="position" content="2" />
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="@Url.Action("Stakeholder_Engagement", "CSR", new { lang = ViewBag.language.lang })"><span itemprop="name">利害關係人專區</span></a>
                <meta itemprop="position" content="3" />
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="@Url.Action("Form", "CsrReport", new { lang = ViewBag.language.lang })"><span itemprop="name">企業社會責任報告書問卷</span></a>
                <meta itemprop="position" content="4" />
            </li>
        </ol>
    </div>
</div>

<div class="breadcrumbs-pc pull-left" id="breadcrumbs-pc">
    <!-- PC版選單breadcrumbs內容 -->
    <ul class="breadcrumbs-view" id="breadcrumbs-view">
        <li class="dropdown-item">
            <span class="glyphicon glyphicon-menu-right"></span>
            <ul class="dropdown-list">
               <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })">技術</a></li>
				<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" })">產品</a></li>
				<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Solution" })">解決方案</a></li>
				<li><a href="http://ir.aseglobal.com/">投資人關係</a></li>
				<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })">企業社會責任</a></li>
				<li><a class="active" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "About" })">了解日月光</a></li>
            </ul>
        </li>
        <li class="dropdown-item">
            <a href="javascript:;">企業社會責任</a>
            <span class="glyphicon glyphicon-menu-right"></span>
            <ul class="dropdown-list">
                <li>
                    <a href="@Url.Action("Letter_Chairman", "CSR", new { lang = ViewBag.language.lang })">董事長的話</a>
                </li>
                <li>
                    <a href="@Url.Action("Sustainability_Governance", "CSR", new { lang = ViewBag.language.lang })">永續治理</a>
                </li>
                <li>
                    <a href="@Url.Action("Stakeholder_Engagement", "CSR", new { lang = ViewBag.language.lang })">利害關係人專區</a>
                </li>
                <li>
                    <a href="http://ir.aseglobal.com/html/ir_corpor.php">公司治理</a>
                </li>
                <li>
                    <a href="@Url.Action("environmental_sustainability", "CSR", new { lang = ViewBag.language.lang })">環境永續</a>
                </li>
                <li>
                    <a href="@Url.Action("Employee_Care_Development", "CSR", new { lang = ViewBag.language.lang })">員工關懷與發展</a>
                </li>
                <li>
                    <a href="@Url.Action("Supply_Chain_Development", "CSR", new { lang = ViewBag.language.lang })">供應鏈發展</a>
                </li>
                <li>
                    <a href="@Url.Action("Corporate_Citizenship_Social_Involvement", "CSR", new { lang = ViewBag.language.lang })">企業公民與社會參與</a>
                </li>
                <li>
                    <a href="@Url.Action("Downloads", "CSR", new { lang = ViewBag.language.lang })">下載專區</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
<section class="inside-article">
    <div class="content-lg row">
        <article class="col-xs-12">
            <h3 class="title">CSR Report Questionnaire</h3>
            <h4 class="sub-title">Stakeholder Concern Questionnaire of Corporate Sustainability Report</h4>
            <p>Advanced Semiconductor Engineering Inc. (ASE) reports on its effort on sustainability issues and performance annually through its Corporate Sustainability Report. The purpose of this questionnaire is to understand stakeholders’ suggestions for our Corporate Sustainability Report so that important issues you feel concerned about can be presented in the report. Many thanks for spending your precious time to complete this questionnaire. This survey is anonymous, and your survey data will not be used for other purposes except as herein stated.</p>
            <h4 class="sub-title">Please indicate which kind of stakeholder you are:</h4>
            @using (Html.BeginForm("Content", "CSR", FormMethod.Post, new { @class = "form-inline" }))
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("report_id", report_id)
                @Html.Hidden("count_id", count_id)
                
                <div class="col-sm-4">
                    <label class="radio-inline">
                        <input type="radio" name="stakeholder" value="Employee" @(Model.stakeholder == "Employee" ? "checked" : "")> Employee
                    </label>
                </div>
                <div class="col-sm-4">
                    <label class="radio-inline">
                        <input type="radio" name="stakeholder" value="Customer" @(Model.stakeholder == "Customer" ? "checked" : "")> Customer
                    </label>
                </div>
                <div class="col-sm-4">
                    <label class="radio-inline">
                        <input type="radio" name="stakeholder" value="Supplier / Contractor" @(Model.stakeholder == "Supplier / Contractor" ? "checked" : "")> Supplier / Contractor
                    </label>
                </div>
                <div class="col-sm-4">
                    <label class="radio-inline">
                        <input type="radio" name="stakeholder" value="Shareholder / Investor" @(Model.stakeholder == "Shareholder / Investor" ? "checked" : "")> Shareholder / Investor
                    </label>
                </div>
                <div class="col-sm-4">
                    <label class="radio-inline">
                        <input type="radio" name="stakeholder" value="Community Resident" @(Model.stakeholder == "Community Resident" ? "checked" : "")> Community Resident
                    </label>
                </div>
                <div class="col-sm-4">
                    <label class="radio-inline">
                        <input type="radio" name="stakeholder" value="Industry Unions / Association" @(Model.stakeholder == "Industry Unions / Association" ? "checked" : "")> Industry Unions / Association
                    </label>
                </div>
                <div class="col-sm-4">
                    <label class="radio-inline">
                        <input type="radio" name="stakeholder" value="NGO / NPO" @(Model.stakeholder == "NGO / NPO" ? "checked" : "")> NGO / NPO
                    </label>
                </div>
                <div class="col-sm-4">
                    <label class="radio-inline">
                        <input type="radio" name="stakeholder" value="Government" @(Model.stakeholder == "Government" ? "checked" : "")> Government
                    </label>
                </div>
                <div class="col-sm-4">
                    <label class="radio-inline">
                        <input type="radio" name="stakeholder" value="Media" @(Model.stakeholder == "Media" ? "checked" : "")> Media
                    </label>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="radio-inline">
                            <input type="radio" name="stakeholder" value="Other" @(Model.stakeholder == "Other" ? "checked" : "")> Other (Please explain):
                            <input type="text" class="form-control" name="other" style="height:24px;" value="@(Model.other)">
                        </label>
                    </div>
                </div>
                <span class="text-red">@ViewHelper.GetErrorMsg(error, "stakeholder")</span>

                <h4 class="sub-title">Please tick the box with the degree of your concern about the sustainability issues.</h4>
                <div class="table-responsive inside-table">
                    <table class="table csr grey-table table-with-border">
                        <tbody>
                            <tr class="grey">
                                <td rowspan="2" colspan="2" class="col-sm-4">Sustainability Topics</td>
                                <td rowspan="2" class="col-sm-4">Description</td>
                                <td colspan="6" class="col-sm-4">Degree of Concern</td>
                            </tr>
                            <tr class="grey">
                                <td class="col-sm-1">Very<br>High</td>
                                <td class="col-sm-1">High</td>
                                <td class="col-sm-1">Slightly<br>High</td>
                                <td class="col-sm-1">Slightly<br>Low</td>
                                <td class="col-sm-1">Low</td>
                                <td class="col-sm-1">Very<br>Low</td>
                            </tr>
                            <tr class="white">
                                <td rowspan="10">Economic</td>
                                <td>Corporate Governance</td>
                                <td>Governance structure and composition; The Board of Directors' independent ability to oversee the company and its strategies</td>
                                <td class="text-center"><input type="radio" name="Corporate" value="VeryHigh" @(Model.q1 == "VeryHigh" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Corporate" value="High" @(Model.q1 == "High" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Corporate" value="SlightlyHigh" @(Model.q1 == "SlightlyHigh" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Corporate" value="SlightlyLow" @(Model.q1 == "SlightlyLow" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Corporate" value="Low" @(Model.q1 == "Low" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Corporate" value="VeryLow" @(Model.q1 == "VeryLow" ? "checked" : "")></td>
                            </tr>
                            <tr class="white">
                                <td>Business Ethics</td>
                                <td>Codes of conduct and codes of ethics; Anti-corruption; Anti-competitive Behavior; Information security (including customer proprietary information protection)</td>
                                <td class="text-center"><input type="radio" name="Ethics" value="VeryHigh" @(Model.q2 == "VeryHigh" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Ethics" value="High" @(Model.q2 == "High" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Ethics" value="SlightlyHigh" @(Model.q2 == "SlightlyHigh" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Ethics" value="SlightlyLow" @(Model.q2 == "SlightlyLow" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Ethics" value="Low" @(Model.q2 == "Low" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Ethics" value="VeryLow" @(Model.q2 == "VeryLow" ? "checked" : "")></td>
                            </tr>
                            <tr class="white">
                                <td>Regulatory Compliance</td>
                                <td>Ensuring compliance with all applicable laws; Promoting awareness of compliance with laws and regulations</td>
                                <td class="text-center"><input type="radio" name="Regulatory" value="VeryHigh" @(Model.q3 == "VeryHigh" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Regulatory" value="High" @(Model.q3 == "High" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Regulatory" value="SlightlyHigh" @(Model.q3 == "SlightlyHigh" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Regulatory" value="SlightlyLow" @(Model.q3 == "SlightlyLow" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Regulatory" value="Low" @(Model.q3 == "Low" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Regulatory" value="VeryLow" @(Model.q3 == "VeryLow" ? "checked" : "")></td>
                            </tr>
                            <tr class="white">
                                <td>Stakeholder Communications</td>
                                <td>Understanding the reasonable expectations and interests of stakeholders</td>
                                <td class="text-center"><input type="radio" name="Stakeholders" value="VeryHigh" @(Model.q4 == "VeryHigh" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Stakeholders" value="High" @(Model.q4 == "High" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Stakeholders" value="SlightlyHigh" @(Model.q4 == "SlightlyHigh" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Stakeholders" value="SlightlyLow" @(Model.q4 == "SlightlyLow" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Stakeholders" value="Low" @(Model.q4 == "Low" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Stakeholders" value="VeryLow" @(Model.q4 == "VeryLow" ? "checked" : "")></td>
                            </tr>
                            <tr class="white">
                                <td>Business Strategy and Performance</td>
                                <td>Industrial arrangement/Market positioning; Economic value generated</td>
                                <td class="text-center"><input type="radio" name="Strategy" value="VeryHigh" @(Model.q5 == "VeryHigh" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Strategy" value="High" @(Model.q5 == "High" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Strategy" value="SlightlyHigh" @(Model.q5 == "SlightlyHigh" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Strategy" value="SlightlyLow" @(Model.q5 == "SlightlyLow" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Strategy" value="Low" @(Model.q5 == "Low" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Strategy" value="VeryLow" @(Model.q5 == "VeryLow" ? "checked" : "")></td>
                            </tr>
                            <tr class="white">
                                <td>Customer Relationship Management</td>
                                <td>Customer service quality; Customer health and safety</td>
                                <td class="text-center"><input type="radio" name="Customer" value="VeryHigh" @(Model.q6 == "VeryHigh" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Customer" value="High" @(Model.q6 == "High" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Customer" value="SlightlyHigh" @(Model.q6 == "SlightlyHigh" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Customer" value="SlightlyLow" @(Model.q6 == "SlightlyLow" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Customer" value="Low" @(Model.q6 == "Low" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Customer" value="VeryLow" @(Model.q6 == "VeryLow" ? "checked" : "")></td>
                            </tr>
                            <tr class="white">
                                <td>Taxation</td>
                                <td>Tax - related risk; Tax policy</td>
                                <td class="text-center"><input type="radio" name="Taxation" value="VeryHigh" @(Model.q7 == "VeryHigh" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Taxation" value="High" @(Model.q7 == "High" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Taxation" value="SlightlyHigh" @(Model.q7 == "SlightlyHigh" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Taxation" value="SlightlyLow" @(Model.q7 == "SlightlyLow" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Taxation" value="Low" @(Model.q7 == "Low" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Taxation" value="VeryLow" @(Model.q7 == "VeryLow" ? "checked" : "")></td>
                            </tr>
                            <tr class="white">
                                <td>Sustainable Supply Chain</td>
                                <td>Procurement practice; Local purchasing; Supplier environmental/social assessment; Conflict minerals management</td>
                                <td class="text-center"><input type="radio" name="Supply" value="VeryHigh" @(Model.q8 == "VeryHigh" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Supply" value="High" @(Model.q8 == "High" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Supply" value="SlightlyHigh" @(Model.q8 == "SlightlyHigh" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Supply" value="SlightlyLow" @(Model.q8 == "SlightlyLow" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Supply" value="Low" @(Model.q8 == "Low" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Supply" value="VeryLow" @(Model.q8 == "VeryLow" ? "checked" : "")></td>
                            </tr>
                            <tr class="white">
                                <td>Innovation Management</td>
                                <td>New process/New product development; Technology/Intellectual property acquisition and management</td>
                                <td class="text-center"><input type="radio" name="Innovation" value="VeryHigh" @(Model.q9 == "VeryHigh" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Innovation" value="High" @(Model.q9 == "High" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Innovation" value="SlightlyHigh" @(Model.q9 == "SlightlyHigh" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Innovation" value="SlightlyLow" @(Model.q9 == "SlightlyLow" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Innovation" value="Low" @(Model.q9 == "Low" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Innovation" value="VeryLow" @(Model.q9 == "VeryLow" ? "checked" : "")></td>
                            </tr>
                            <tr class="white">
                                <td>Risk Management</td>
                                <td>Risk identification, assessment, and response; ERM (Enterprise risk management); Catastrophic contingency planning</td>
                                <td class="text-center"><input type="radio" name="Risk" value="VeryHigh" @(Model.q10 == "VeryHigh" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Risk" value="High" @(Model.q10 == "High" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Risk" value="SlightlyHigh" @(Model.q10 == "SlightlyHigh" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Risk" value="SlightlyLow" @(Model.q10 == "SlightlyLow" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Risk" value="Low" @(Model.q10 == "Low" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Risk" value="VeryLow" @(Model.q10 == "VeryLow" ? "checked" : "")></td>
                            </tr>
                            <tr class="grey">
                                <td rowspan="5">Environmental</td>
                                <td>Climate Change</td>
                                <td>Climate change mitigation and adaptation; Carbon management (greenhouse gases management); Green buildings; Green factory</td>
                                <td class="text-center"><input type="radio" name="Climate" value="VeryHigh" @(Model.q11 == "VeryHigh" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Climate" value="High" @(Model.q11 == "High" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Climate" value="SlightlyHigh" @(Model.q11 == "SlightlyHigh" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Climate" value="SlightlyLow" @(Model.q11 == "SlightlyLow" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Climate" value="Low" @(Model.q11 == "Low" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Climate" value="VeryLow" @(Model.q11 == "VeryLow" ? "checked" : "")></td>
                            </tr>
                            <tr class="grey">
                                <td>Waste Management</td>
                                <td>Waste reduction and recycling</td>
                                <td class="text-center"><input type="radio" name="Waste" value="VeryHigh" @(Model.q12 == "VeryHigh" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Waste" value="High" @(Model.q12 == "High" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Waste" value="SlightlyHigh" @(Model.q12 == "SlightlyHigh" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Waste" value="SlightlyLow" @(Model.q12 == "SlightlyLow" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Waste" value="Low" @(Model.q12 == "Low" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Waste" value="VeryLow" @(Model.q12 == "VeryLow" ? "checked" : "")></td>
                            </tr>
                            <tr class="grey">
                                <td>Water Resource Management</td>
                                <td>Enhancing utilization efficiency of water resource, Reducing wastewater discharge</td>
                                <td class="text-center"><input type="radio" name="Water" value="VeryHigh" @(Model.q13 == "VeryHigh" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Water" value="High" @(Model.q13 == "High" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Water" value="SlightlyHigh" @(Model.q13 == "SlightlyHigh" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Water" value="SlightlyLow" @(Model.q13 == "SlightlyLow" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Water" value="Low" @(Model.q13 == "Low" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Water" value="VeryLow" @(Model.q13 == "VeryLow" ? "checked" : "")></td>
                            </tr>
                            <tr class="grey">
                                <td>Energy Management</td>
                                <td>Enhancing efficiency of energy utilization</td>
                                <td class="text-center"><input type="radio" name="Energy" value="VeryHigh" @(Model.q14 == "VeryHigh" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Energy" value="High" @(Model.q14 == "High" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Energy" value="SlightlyHigh" @(Model.q14 == "SlightlyHigh" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Energy" value="SlightlyLow" @(Model.q14 == "SlightlyLow" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Energy" value="Low" @(Model.q14 == "Low" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Energy" value="VeryLow" @(Model.q14 == "VeryLow" ? "checked" : "")></td>
                            </tr>
                            <tr class="grey">
                                <td>Green Solutions</td>
                                <td>Providing product solutions that can be compact, lightweight, and energy efficient; Green manufacturing (including hazardous substance management and use of recycled raw materials)</td>
                                <td class="text-center"><input type="radio" name="Green" value="VeryHigh" @(Model.q15 == "VeryHigh" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Green" value="High" @(Model.q15 == "High" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Green" value="SlightlyHigh" @(Model.q15 == "SlightlyHigh" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Green" value="SlightlyLow" @(Model.q15 == "SlightlyLow" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Green" value="Low" @(Model.q15 == "Low" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Green" value="VeryLow" @(Model.q15 == "VeryLow" ? "checked" : "")></td>
                            </tr>
                            <tr class="white">
                                <td rowspan="8">Social</td>
                                <td>Talent Development</td>
                                <td>Employee training & education; Talent Development</td>
                                <td class="text-center"><input type="radio" name="Training" value="VeryHigh" @(Model.q16 == "VeryHigh" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Training" value="High" @(Model.q16 == "High" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Training" value="SlightlyHigh" @(Model.q16 == "SlightlyHigh" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Training" value="SlightlyLow" @(Model.q16 == "SlightlyLow" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Training" value="Low" @(Model.q16 == "Low" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Training" value="VeryLow" @(Model.q16 == "VeryLow" ? "checked" : "")></td>
                            </tr>
                            <tr class="white">
                                <td>Equality & Diversityy</td>
                                <td>Equal Remuneration for Women and Men, Diversity and equal opportunity</td>
                                <td class="text-center"><input type="radio" name="Equality" value="VeryHigh" @(Model.q17 == "VeryHigh" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Equality" value="High" @(Model.q17 == "High" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Equality" value="SlightlyHigh" @(Model.q17 == "SlightlyHigh" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Equality" value="SlightlyLow" @(Model.q17 == "SlightlyLow" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Equality" value="Low" @(Model.q17 == "Low" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Equality" value="VeryLow" @(Model.q17 == "VeryLow" ? "checked" : "")></td>
                            </tr>
                            <tr class="white">
                                <td>Human Right Mechanism</td>
                                <td>Corporate human rights policy; Employee human rights protection</td>
                                <td class="text-center"><input type="radio" name="Human" value="VeryHigh" @(Model.q18 == "VeryHigh" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Human" value="High" @(Model.q18 == "High" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Human" value="SlightlyHigh" @(Model.q18 == "SlightlyHigh" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Human" value="SlightlyLow" @(Model.q18 == "SlightlyLow" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Human" value="Low" @(Model.q18 == "Low" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Human" value="VeryLow" @(Model.q18 == "VeryLow" ? "checked" : "")></td>
                            </tr>
                            <tr class="white">
                                <td>Employee Communication</td>
                                <td>Labor/management relations; Labor/management negotiations</td>
                                <td class="text-center"><input type="radio" name="Labor" value="VeryHigh" @(Model.q19 == "VeryHigh" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Labor" value="High" @(Model.q19 == "High" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Labor" value="SlightlyHigh" @(Model.q19 == "SlightlyHigh" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Labor" value="SlightlyLow" @(Model.q19 == "SlightlyLow" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Labor" value="Low" @(Model.q19 == "Low" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Labor" value="VeryLow" @(Model.q19 == "VeryLow" ? "checked" : "")></td>
                            </tr>
                            <tr class="white">
                                <td>Employee Health & Safety</td>
                                <td>Occupational Health and Safety</td>
                                <td class="text-center"><input type="radio" name="Health" value="VeryHigh" @(Model.q20 == "VeryHigh" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Health" value="High" @(Model.q20 == "High" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Health" value="SlightlyHigh" @(Model.q20 == "SlightlyHigh" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Health" value="SlightlyLow" @(Model.q20 == "SlightlyLow" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Health" value="Low" @(Model.q20 == "Low" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Health" value="VeryLow" @(Model.q20 == "VeryLow" ? "checked" : "")></td>
                            </tr>
                            <tr class="white">
                                <td>Significant Community Development</td>
                                <td>Community development (education, inspiring the next generation of children, NGO work, strategic giving, philanthropy)</td>
                                <td class="text-center"><input type="radio" name="Community" value="VeryHigh" @(Model.q21 == "VeryHigh" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Community" value="High" @(Model.q21 == "High" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Community" value="SlightlyHigh" @(Model.q21 == "SlightlyHigh" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Community" value="SlightlyLow" @(Model.q21 == "SlightlyLow" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Community" value="Low" @(Model.q21 == "Low" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Community" value="VeryLow" @(Model.q21 == "VeryLow" ? "checked" : "")></td>
                            </tr>
                            <tr class="white">
                                <td>Environmental Conservation Charity</td>
                                <td>Environmental education promotion; Environmental awareness promotion; Environmental quality enhancement; Environmental impact minimization; Environmental charity sponsorship</td>
                                <td class="text-center"><input type="radio" name="Charity" value="VeryHigh" @(Model.q22 == "VeryHigh" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Charity" value="High" @(Model.q22 == "High" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Charity" value="SlightlyHigh" @(Model.q22 == "SlightlyHigh" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Charity" value="SlightlyLow" @(Model.q22 == "SlightlyLow" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Charity" value="Low" @(Model.q22 == "Low" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Charity" value="VeryLow" @(Model.q22 == "VeryLow" ? "checked" : "")></td>
                            </tr>
                            <tr class="white">
                                <td>Public Policy & Initiatives</td>
                                <td>Participation in the formulation of public policy (such as the submission of a white paper); Public issues initiatives</td>
                                <td class="text-center"><input type="radio" name="Initiatives" value="VeryHigh" @(Model.q23 == "VeryHigh" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Initiatives" value="High" @(Model.q23 == "High" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Initiatives" value="SlightlyHigh" @(Model.q23 == "SlightlyHigh" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Initiatives" value="SlightlyLow" @(Model.q23 == "SlightlyLow" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Initiatives" value="Low" @(Model.q23 == "Low" ? "checked" : "")></td>
                                <td class="text-center"><input type="radio" name="Initiatives" value="VeryLow" @(Model.q23 == "VeryLow" ? "checked" : "")></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-12">
                    <h4 class="sub-title">*Please write down additional sustainability topic(s) for ASE or anything you want to suggest us:</h4>
                    <textarea class="form-control" name="additional" rows="5" style="min-width: 100%" required>@(Model.additional)</textarea>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                        <br><br>
                        <h4 class="sub-title inline">*Verification:</h4>
                        <input type="text" name="vcode" id="exampleInputName2" class="form-control" required />
                        <img id="vcode_img" class="vcode" src="@ViewData["img"]" style="max-width: 100px; border: 0;height:32px;" />
                        @Html.Hidden("key", ViewData["key"])
                        <span class="text-red">@ViewHelper.GetErrorMsg(error, "vcode_img")</span>
                    </div>
                </div>
                <div class="col-xs-12 section-contact">
                    <div class="content-wrapper pull-left">
                        <button type="reset" style="margin-left:30px">Reset</button>
                        <button type="submit">Sent</button>

                    </div>
                </div>
            }
        </article>
    </div>
</section>

