﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
}
<!-- page Banner -->
<section id="page-vision" class="page-banner-s banner-csr">
    <h1 class="page-title title-large">CSR</h1>
</section>

<!--breadcrumbs-->
<div class="content-lg row">
    <div class="col-xs-12">
        <ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="@Url.Action("Index", "Home", new { lang = ViewBag.language.lang })"><i class="icon-home"></i><span itemprop="name">首頁</span></a>
                <meta itemprop="position" content="1" />
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })"><span itemprop="name">企業社會責任</span></a>
                <meta itemprop="position" content="2" />
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="@Url.Action("csr_video", "CSR", new { lang = ViewBag.language.lang })"><span itemprop="name">CSR Video</span></a>
                <meta itemprop="position" content="2" />
            </li>
        </ol>
    </div>
</div>

<div class="breadcrumbs-pc pull-left" id="breadcrumbs-pc">
    <!-- PC版選單breadcrumbs內容 -->
    <ul class="breadcrumbs-view" id="breadcrumbs-view">
        <li class="dropdown-item">
            <span class="glyphicon glyphicon-menu-right"></span>
            <ul class="dropdown-list">
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })">技術</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" })">產品</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Solution" })">解決方案</a></li>
                <li><a href="http://ir.aseglobal.com/">投資人關係</a></li>
                <li><a class="active" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })">企業社會責任</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "About" })">了解日月光</a></li>
            </ul>
        </li>
        <li class="dropdown-item">
            <a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })">CSR</a>
            <span class="glyphicon glyphicon-menu-right"></span>
            <ul class="dropdown-list">
                <li><a href="@Url.Action("Letter_Chairman", "CSR", new { lang = ViewBag.language.lang })">Letter from the Chairman</a></li>
                <li><a href="@Url.Action("Sustainability_Governance", "CSR", new { lang = ViewBag.language.lang })">Corporate Sustainability Policy and Management</a></li>
                <li><a href="@Url.Action("Stakeholder_Engagement", "CSR", new { lang = ViewBag.language.lang })">Stakeholder Engagement</a></li>
                <li><a href="javascript:;">Corporate Governance</a></li>
                <li><a href="@Url.Action("environmental_sustainability", "CSR", new { lang = ViewBag.language.lang })">Environmental Sustainability</a></li>
                <li><a href="@Url.Action("Employee_Care_Development", "CSR", new { lang = ViewBag.language.lang })">Employee Care &amp; Development</a></li>
                <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "supply_chain_development" })">Supply Chain Development</a></li>
                <li><a href="@Url.Action("Corporate_Citizenship_Social_Involvement", "CSR", new { lang = ViewBag.language.lang })">Corporate Citizenship and Social Involvement</a></li>
                <li><a href="@Url.Action("Downloads", "CSR", new { lang = ViewBag.language.lang })">CSR Reports Downloads</a></li>
                <li><a href="@Url.Action("csr_video", "CSR", new { lang = ViewBag.language.lang })">CSR Video Downloads</a></li>
            </ul>
        </li>
    </ul>
</div>
<!-- Letter from the Chairman -->
<section class="inside-article">
    <div class="content-lg row">
        <div class="col-md-12">

            <div class="col-md-4">
                <h3 class="title">ASE Sustainability</h3>
                <div class="video">
                    <!-- <a href="https://drive.google.com/file/d/0B5NjMz4c75IaZFBsTGZZYW1sNjg/preview?start=1" data-toggle="lightbox" data-type="vimeo" data-title="ASE Sustainability">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/video1.jpg" class="img-fluid">
                        <span class="glyphicon glyphicon-menu-right-circle play-icon" aria-hidden="true"></span>
                    </a> -->
                    <a href="https://drive.google.com/file/d/13j8t6FHK_bBDu7_9otMWePHUa_O1kt9Y/preview?start=1" data-toggle="lightbox" data-type="vimeo" data-title="ASE Sustainability">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/video1.jpg" class="img-fluid">
                        <span class="glyphicon glyphicon-menu-right-circle play-icon" aria-hidden="true"></span>
                    </a>
                </div>
            </div>

            <div class="col-md-4">
                <h3 class="title">ASE Sustainability 2</h3>
                <div class="video">
                    <!-- <a href="https://drive.google.com/file/d/0B71Ux-yL6DV1R3FnNjVaX196WlU/preview?autoplay=1" data-toggle="lightbox" data-type="vimeo" data-title="Water Management">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/video1.jpg" class="img-fluid">
                        <span class="glyphicon glyphicon-menu-right-circle play-icon" aria-hidden="true"></span>
                    </a> -->
                    <a href="https://drive.google.com/file/d/1YNOP985RQJZyRBDBUSyGxo7EPzTRCj60/preview?autoplay=1" data-toggle="lightbox" data-type="vimeo" data-title="ASE Sustainability 2">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/video1.jpg" class="img-fluid">
                        <span class="glyphicon glyphicon-menu-right-circle play-icon" aria-hidden="true"></span>
                    </a>
                </div>
            </div>

            <div class="col-md-4">
                <h3 class="title">Water Management</h3>
                <div class="video">
                    <a href="https://drive.google.com/file/d/1-gdtXlHCzvt9Kgie2-5mbamp6n7irF2A/preview?autoplay=1" data-toggle="lightbox" data-type="vimeo" data-title="Water Management">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/video2.jpg" class="img-fluid">
                        <span class="glyphicon glyphicon-menu-right-circle play-icon" aria-hidden="true"></span>
                    </a>
                </div>
            </div>


            <!--
            <div class="col-md-6">
                <iframe src="https://drive.google.com/file/d/0B5NjMz4c75IaZFBsTGZZYW1sNjg/preview" width="640" height="480"></iframe>
            </div>
            -->

        </div>
    </div>
</section>
<br><br><br>

<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/4.0.1/ekko-lightbox.min.js"></script>
<script>
// Lightbox
    $(document).delegate('*[data-toggle="lightbox"]', 'click', function(event) {
        event.preventDefault();
        $(this).ekkoLightbox();
    });
</script>
