﻿@using web.Models;
@model List<csr_report>
@{
    Layout = "~/Views/Shared/tw/_Layout.cshtml";
}
<!-- page Banner -->
<section id="page-vision" class="page-banner-s banner-csr">
    <h1 class="page-title title-large">CSR</h1>
</section>

<!--breadcrumbs-->
<div class="content-lg row">
    <div class="col-xs-12">
        <ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="@Url.Action("Index", "Home", new { lang = ViewBag.language.lang })"><i class="icon-home"></i><span itemprop="name">首頁</span></a>
                <meta itemprop="position" content="1" />
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })"><span itemprop="name">企業社會責任</span></a>
                <meta itemprop="position" content="2" />
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="#"><span itemprop="name">企業社會責任報告書下載專區</span></a>
                <meta itemprop="position" content="3" />
            </li>

        </ol>
    </div>
</div>

<div class="breadcrumbs-pc pull-left" id="breadcrumbs-pc">
    <!-- PC版選單breadcrumbs內容 -->
    <ul class="breadcrumbs-view" id="breadcrumbs-view">
        <li class="dropdown-item">
            <span class="glyphicon glyphicon-menu-right"></span>
            <ul class="dropdown-list">
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })">技術</a></li>
				<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" })">產品</a></li>
				<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Solution" })">解決方案</a></li>
				<li><a href="http://ir.aseglobal.com/">投資人關係</a></li>
				<li><a class="active" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })">企業社會責任</a></li>
				<li><a  href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "About" })">了解日月光</a></li>
            </ul>
        </li>
        <li class="dropdown-item">
            <a href="javascript:;">企業社會責任</a>
            <span class="glyphicon glyphicon-menu-right"></span>
            <ul class="dropdown-list">
               <li>
                    <a href="@Url.Action("Letter_Chairman", "CSR", new { lang = ViewBag.language.lang })">董事長的話</a>
                </li>
                <li>
                    <a href="@Url.Action("Sustainability_Governance", "CSR", new { lang = ViewBag.language.lang })">永續治理</a>
                </li>
                <li>
                    <a href="@Url.Action("Stakeholder_Engagement", "CSR", new { lang = ViewBag.language.lang })">利害關係人專區</a>
                </li>
                <li>
                    <a href="http://ir.aseglobal.com/html/ir_corpor.php">公司治理</a>
                </li>
                <li>
                    <a href="@Url.Action("environmental_sustainability", "CSR", new { lang = ViewBag.language.lang })">環境永續</a>
                </li>
                <li>
                    <a href="@Url.Action("Employee_Care_Development", "CSR", new { lang = ViewBag.language.lang })">員工關懷與發展</a>
                </li>
                <li>
                    <a href="@Url.Action("Supply_Chain_Development", "CSR", new { lang = ViewBag.language.lang })">供應鏈發展</a>
                </li>
                <li>
                    <a href="@Url.Action("Corporate_Citizenship_Social_Involvement", "CSR", new { lang = ViewBag.language.lang })">企業公民與社會參與</a>
                </li>
                <li>
                    <a href="@Url.Action("Downloads", "CSR", new { lang = ViewBag.language.lang })">企業社會責任下載專區</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
<section class="inside-article">
    <div class="content-lg row">

        <h3 class="title">企業社會責任報告書下載專區</h3>
        @if (Model.Count > 0)
        {
            foreach (csr_report item in Model)
            {
                <div class="col-sm-6 col-md-4 padding-bottom40 text-center">
                    <a href="@Url.Action("Download", "CSR", new { param1 = item.id })" class="download_btn" data-id="@item.id">
                        <img src="@ViewBag.media_bank_path@item.img_filename">
                        <p class="reports">
                            <br>
                            @item.title<br>
                            <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                        </p>
                    </a>
                </div>
            }
        }

        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="col-md-12 bgnews-list list-base panel">
                <div class="content">
                    <a href="http://csr.usish.com/e_download.php" target="_blank">
                        <span class="blue-text-in-box accordion-center-text">USI CSR Report</span>
                        <div class="circle_button-wrapper pull-right">
                            <div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal modal2 fade" id="csrModal" tabindex="-1" role="dialog" aria-labelledby="csrModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog2">
        <div class="modal-content">
            <div class="modal-body text-center">
                Thank you for your interest in our CSR reports.
                Would you be willing to tell us more about the sustainability issues you concerned?<br><br>
                <div class="moving-arrow">
                    <a class="link-block" href="@Url.Action("csr_report_questionnaire", "CSR", new { lang = ViewBag.language.lang })">
                        Yes, I' ll take the survey<br>
                        <div class="circle_button darkgray margin-top-5"><i class="icon-arrow-right"></i></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.download_btn').click(function (e) {
            e.preventDefault();
            var id = $(this).data("id");
            var url2 = "@Url.Action("AddCountData", "CSR")/" + id;
            var download_url = $(this).prop('href');
            var url = "";
            $.ajax({
                type: 'POST',
                url: url2,
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (data) {
                    dothing(id, data, download_url);
                }
            });


        });

        function dothing(id, data, download_url)
        {
            url = "@Url.Action("csr_report_questionnaire", "CSR", new { lang = ViewBag.language.lang })/" + id + "/" + data;
            $('#csrModal').find('a.link-block').prop('href', url);
            setTimeout(
                function () {
                    $('#csrModal').modal('show');
                }, 1500);
            window.location.href = download_url;
        }

	});
</script>