﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/tw/_Layout.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-csr">
		<h1 class="page-title title-large">企業社會責任</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "/" })"><i class="icon-home"></i><span itemprop="name">首頁</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("csr", "CSR", new { lang = ViewBag.language.lang })"><span itemprop="name">企業社會責任</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("employee_care_and_development", "CSR", new { lang = ViewBag.language.lang })"><span itemprop="name">員工關懷與發展</span></a>
					<meta itemprop="position" content="3" />
				</li>
			</ol>
		</div>
	</div>

	<div class="breadcrumbs-pc pull-left" id="breadcrumbs-pc">
	<!-- PC版選單breadcrumbs內容 -->
		<ul class="breadcrumbs-view" id="breadcrumbs-view">
			<li class="dropdown-item">
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.Action("technology", "Technology", new { lang = ViewBag.language.lang })">技術</a></li>
					<li><a href="@Url.Action("solutions", "SolutionPlatform", new { lang = ViewBag.language.lang })">解決方案</a></li>
					<li><a href="@Url.Action("products", "Products", new { lang = ViewBag.language.lang })">產品</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "ir" })">投資人關係</a></li>
					<li><a href="@Url.Action("csr", "CSR", new { lang = ViewBag.language.lang })">企業社會責任</a></li>
					<li><a href="@Url.Action("about", "About", new { lang = ViewBag.language.lang })">關於日月光集團</a></li>
				</ul>
			</li>
			<li class="dropdown-item">
				<a href="csr.html">企業社會責任</a>
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.Action("letter_from_chairman", "CSR", new { lang = ViewBag.language.lang })">董事長的話</a></li>
					<li><a href="@Url.Action("sustainability_governance", "CSR", new { lang = ViewBag.language.lang })">永續治理</a></li>
					<li><a href="@Url.Action("stakeholder_engagement", "CSR", new { lang = ViewBag.language.lang })">利害關係人專區</a></li>
					<li><a href="http://ir.aseglobal.com/c/ir_corpor.php">公司治理</a></li>
					<li><a href="@Url.Action("environmental_sustainability", "CSR", new { lang = ViewBag.language.lang })">環境永續</a></li>
					<li><a href="@Url.Action("employee_care_and_development", "CSR", new { lang = ViewBag.language.lang })" class="active">員工關懷與發展</a></li>
					<li><a href="@Url.Action("csr_supply_chain_development", "CSR", new { lang = ViewBag.language.lang })">供應鏈發展</a></li>
					<li><a href="@Url.Action("corporate_citizenship_and_social_involvement", "CSR", new { lang = ViewBag.language.lang })">企業公民與社會參與</a></li>
					<li><a href="@Url.Action("csr_reports", "CSR", new { lang = ViewBag.language.lang })">企業社會責任報告書下載專區</a></li>
				</ul>
			</li>
		</ul>
	</div>
	
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">員工關懷與發展</h3>
				<p>
					日月光集團承諾提供給員工安全、健康及優質的工作環境，確保人才多元化及保障人權。<br><br>

					日月光承諾持續進行人才的投資與培育，促使員工在公司的職涯發展中享有意義與價值，並使公司擁有高技能及經驗豐富的人力資本。我們尊重員工的人權，致力於提供及維護舒適安全及照護員工身心健康的工作環境，促進員工工作效率及生產力。
				</p>
			</article>
		</div>
	</section>
	<section class="csr-bg">
		<div class="content-lg row">
		
			<div class="col-sm-12 col-md-10 col-md-offset-1">
				<div class="col-sm-6 text-center moving-arrow">
					<a class="link-block" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "global_workforce" })">
						<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/employee_care_and_development1.jpg" class="navbar-btn"><br>
						全球人力<br>
						<div class="circle_button darkgray margin-top-5"><i class="icon-arrow-right"></i></div>
					</a><br>
				</div>
				<div class="col-sm-6 text-center moving-arrow">
					<a class="link-block" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "employee_care" })">
						<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/employee_care_and_development2.jpg" class="navbar-btn"><br>
						員工照顧<br>
						<div class="circle_button darkgray margin-top-5"><i class="icon-arrow-right"></i></div>
					</a><br>
				</div>
				<div class="col-sm-6 text-center moving-arrow">
					<a class="link-block" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "employee_development" })">
						<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/employee_care_and_development3.jpg" class="navbar-btn"><br>
						員工發展<br>
						<div class="circle_button darkgray margin-top-5"><i class="icon-arrow-right"></i></div>
					</a>
				</div>
				<div class="col-sm-6 text-center moving-arrow">
					<a class="link-block" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "employee_health_and_safety" })">
						<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/employee_care_and_development4.jpg" class="navbar-btn"><br>
						員工健康與安全<br>
						<div class="circle_button darkgray margin-top-5"><i class="icon-arrow-right"></i></div>
					</a>
				</div>
			</div>
			
		</div>
	</section>