﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/tw/_Layout.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-csr">
		<h1 class="page-title title-large">企業社會責任</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "/" })"><i class="icon-home"></i><span itemprop="name">首頁</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })"><span itemprop="name">企業社會責任</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("environmental_sustainability", "CSR", new { lang = ViewBag.language.lang })"><span itemprop="name">環境永續</span></a>
					<meta itemprop="position" content="3" />
				</li>
			</ol>
		</div>
	</div>

	<div class="breadcrumbs-pc pull-left" id="breadcrumbs-pc">
	<!-- PC版選單breadcrumbs內容 -->
		<ul class="breadcrumbs-view" id="breadcrumbs-view">
			<li class="dropdown-item">
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })">技術</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Solution" })">解決方案</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" })">產品</a></li>
					<li><a href="http://ir.aseglobal.com/">投資人關係</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })">企業社會責任</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "About" })">關於日月光集團</a></li>
				</ul>
			</li>
			<li class="dropdown-item">
				<a href="csr.html">企業社會責任</a>
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.Action("Letter_Chairman", "CSR", new { lang = ViewBag.language.lang })">董事長的話</a></li>
					<li><a href="@Url.Action("Sustainability_Governance", "CSR", new { lang = ViewBag.language.lang })">永續治理</a></li>
					<li><a href="@Url.Action("Stakeholder_Engagement", "CSR", new { lang = ViewBag.language.lang })">利害關係人專區</a></li>
					<li><a href="http://ir.aseglobal.com/c/ir_corpor.php">公司治理</a></li>
					<li><a href="@Url.Action("environmental_sustainability", "CSR", new { lang = ViewBag.language.lang })" class="active">環境永續</a></li>
					<li><a href="@Url.Action("Employee_Care_Development", "CSR", new { lang = ViewBag.language.lang })">員工關懷與發展</a></li>
					<li><a href="@Url.Action("Supply_Chain_Development", "CSR", new { lang = ViewBag.language.lang })">供應鏈發展</a></li>
					<li><a href="@Url.Action("Corporate_Citizenship_Social_Involvement", "CSR", new { lang = ViewBag.language.lang })">企業公民與社會參與</a></li>
					<li><a href="@Url.Action("Downloads", "CSR", new { lang = ViewBag.language.lang })">企業社會責任報告書下載專區</a></li>
				</ul>
			</li>
		</ul>
	</div>

	<section class="inside-article">
		<div class="content-lg row csr">
			<article class="col-xs-12">
				<h3 class="title">環境永續</h3>
				<p>
					日月光集團承諾持續增加資源再利用及減少溫室氣體與廢水排放、廢棄物產生及化學品使用，以改善我們的生態效益並保護環境。<br><br>

					日月光致力於發展及促進其企業之全方位綠色概念，我們藉由持續減少排放溫室氣體、廢棄物及廢水，來保護地球環境；此外，從最初的產品設計階段，我們便將環保考量納入持續的製程改善及新產品開發，提供減少污染與廢棄物的綠色製造服務。
				</p>
				<h4 class="sub-title">環境管理系統與認證</h4>
				<ul class="nopadding">
					<li>
						<h4>ISO 14001環境管理系統</h4>
						<p>範疇：所有廠區</p>
					</li>
					<li>
						<h4>IECQ HSPM QC080000有害物質流程管理系統</h4>
						<p>範疇：所有廠區，但不包含新加坡廠與ISE Labs<a href="javascript:;" data-toggle="popover" data-trigger="hover" data-content="日月光新加坡廠與ISE Labs為IC測試廠區，故不需取得IECQ HSPM QC080000認證。" data-placement="bottom">*</a></p>
					</li>
					<li>
						<h4>ISO14064-1溫室氣體排放查證</h4>
						<p>>範疇：日月光高雄廠、中壢廠、南投廠、上海封測廠、上海材料廠、昆山廠、蘇州廠、威海廠、無錫東芝廠、韓國廠、日本廠、新加坡廠、馬來西亞廠、ISE Labs；USI張江廠、台灣廠、深圳廠、昆山廠、金橋廠、墨金哥廠</p>
					</li>
					<li>
						<h4>ISO 50001能源管理系統</h4>
						<p>範疇：日月光高雄廠、中壢廠；USI張江廠、台灣廠、深圳廠、昆山廠</p>
					</li>
					<li>
						<h4>ISO 14067碳足跡查證<a style="padding: 0; color: #2a93d5; font-size: 14px; vertical-align: text-top; font-weight: normal;" href="javascript:;" data-toggle="popover" data-trigger="hover" data-content="<div style='font-size: 14px; line-height: 1.6; text-align: left; font-weight: normal;'>產品與服務類別：方形扁平式封裝、球閘陣列封裝、晶片尺寸封裝、覆晶封裝</div>" data-placement="bottom">*</a></h4>
						<p>範疇：日月光高雄廠</p>
					</li>
					<li>
						<h4>ISO 14046水足跡查證</h4>
						<p>範疇：日月光高雄廠</p>
					</li>
					<li>
						<h4>ISO14045產品生態效益</h4>
						<p>範疇：日月光高雄廠</p>
					</li>
				</ul>

			</article>
		</div>
	</section>

	<section class="csr-bg">
		<div class="content-lg row">
			<div class="col-sm-4 text-center moving-arrow">
				<a class="link-block" href="@Url.Action("environmental_sustainability", "CSR", new { lang = ViewBag.language.lang, param1 = "climate_change_management" })">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/environmental_sustainability1.jpg" class="navbar-btn">
					<br>
					氣候變遷管理<br>
					<div class="circle_button darkgray margin-top-5"><i class="icon-arrow-right"></i></div>
				</a><br>
			</div>
			<div class="col-sm-4 text-center moving-arrow">
				<a class="link-block" href="@Url.Action("environmental_sustainability", "CSR", new { lang = ViewBag.language.lang, param1 = "water_resource_management" })">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/environmental_sustainability2.jpg" class="navbar-btn">
					<br>
					水資源管理<br>
					<div class="circle_button darkgray margin-top-5"><i class="icon-arrow-right"></i></div>
				</a><br>
			</div>
			<div class="col-sm-4 text-center moving-arrow">
				<a class="link-block" href="@Url.Action("environmental_sustainability", "CSR", new { lang = ViewBag.language.lang, param1 = "pollution_prevention" })">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/environmental_sustainability3.jpg" class="navbar-btn">
					<br>
					污染防治<br>
					<div class="circle_button darkgray margin-top-5"><i class="icon-arrow-right"></i></div>
				</a><br>
			</div>
			<div class="col-sm-4 text-center moving-arrow">
				<a class="link-block" href="@Url.Action("environmental_sustainability", "CSR", new { lang = ViewBag.language.lang, param1 = "green_facility" })">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/environmental_sustainability4.jpg" class="navbar-btn">
					<br>
					綠色廠房<br>
					<div class="circle_button darkgray margin-top-5"><i class="icon-arrow-right"></i></div>
				</a>
			</div>
			<div class="col-sm-4 text-center moving-arrow">
				<a class="link-block" href="@Url.Action("environmental_sustainability", "CSR", new { lang = ViewBag.language.lang, param1 = "sustainable_manufacturing" })">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/environmental_sustainability5.jpg" class="navbar-btn">
					<br>
					永續製造<br>
					<div class="circle_button darkgray margin-top-5"><i class="icon-arrow-right"></i></div>
				</a>
			</div>
			<div class="col-sm-4 text-center moving-arrow">
				<a class="link-block" href="@Url.Action("environmental_sustainability", "CSR", new { lang = ViewBag.language.lang, param1 = "green_bond" })">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/environmental_sustainability6.jpg" class="navbar-btn">
					<br>
					綠色債券<br>
					<div class="circle_button darkgray margin-top-5"><i class="icon-arrow-right"></i></div>
				</a>
			</div>
		</div>
	</section>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script>
	$(document).ready(function(){
	    $('[data-toggle="popover"]').popover({
	    	html:true,
	    	trigger: 'hover',
	    	placement: 'bottom',
	    });
	});
	</script>