﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/tw/_Layout.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-csr">
		<h1 class="page-title-csr title-large">企業社會責任</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "/" })"><i class="icon-home"></i><span itemprop="name">首頁</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })"><span itemprop="name">企業社會責任</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("sustainability_highlights", "CSR", new { lang = ViewBag.language.lang })"><span itemprop="name">永續焦點</span></a>
					<meta itemprop="position" content="3" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="#"><span itemprop="name">日月光綠建築群</span></a>
					<meta itemprop="position" content="4" />
				</li>
			</ol>
		</div>
	</div>

	<div class="breadcrumbs-pc pull-left" id="breadcrumbs-pc">
	<!-- PC版選單breadcrumbs內容 -->
		<ul class="breadcrumbs-view" id="breadcrumbs-view">
			<li class="dropdown-item">
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })">技術</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Solution" })">解決方案</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" })">產品</a></li>
					<li><a href="http://ir.aseglobal.com/">投資人關係</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })">企業社會責任</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "About" })">關於日月光集團</a></li>
				</ul>
			</li>
			<li class="dropdown-item">
				<a href="csr.html">企業社會責任</a>
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.Action("Letter_Chairman", "CSR", new { lang = ViewBag.language.lang })">董事長的話</a></li>
					<li><a href="@Url.Action("Sustainability_Governance", "CSR", new { lang = ViewBag.language.lang })">永續治理</a></li>
					<li><a href="@Url.Action("Stakeholder_Engagement", "CSR", new { lang = ViewBag.language.lang })">利害關係人專區</a></li>
					<li><a href="http://ir.aseglobal.com/c/ir_corpor.php">公司治理</a></li>
					<li><a href="@Url.Action("environmental_sustainability", "CSR", new { lang = ViewBag.language.lang })">環境永續</a></li>
					<li><a href="@Url.Action("Employee_Care_Development", "CSR", new { lang = ViewBag.language.lang })">員工關懷與發展</a></li>
					<li><a href="@Url.Action("Supply_Chain_Development", "CSR", new { lang = ViewBag.language.lang })">供應鏈發展</a></li>
					<li><a href="@Url.Action("Corporate_Citizenship_Social_Involvement", "CSR", new { lang = ViewBag.language.lang })">企業公民與社會參與</a></li>
					<li><a href="@Url.Action("Downloads", "CSR", new { lang = ViewBag.language.lang })">企業社會責任報告書下載專區</a></li>
				</ul>
			</li>
		</ul>
	</div>
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">日月光綠建築群</h3>
				<div class="col-md-4 col-md-offset-4 text-center padding-5"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/16green.png"></div>
			</article>
		</div>
		<br>
		<div class="content-lg row csr">
			<article class="col-xs-12">
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
					<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
								<span class="black-text-in-box accordion-center-text"><span style="font-size: 26px; font-weight: bold;">緣起：</span>為何投入綠建築群？</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>

						<div id="collapseOne" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body nopadding">
								<div class="col-xs-10 col-xs-offset-1 hide-in-small">
									<img src=""https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/sustainability_highlights_green_facilities1.png" class="img-responsive">
								</div>
								<div class="col-xs-8 col-xs-offset-2 hide-in-large nopadding">
									<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/sustainability_highlights_green_facilities11.png">
								</div>
								<div class="clearfix"></div>
								<div class="col-sm-12">
									<h4 class="title">溫室氣體排放減量　減在刀口上</h4>
									<p>
										聯合國研究指出，建築物建造及使用時所需之能源、水資源及其他資源分別占全球能源、水資源、其他資源消耗之40%、25%及40%，而建築物所排放之溫室氣體更占全球溫室氣體排放量之三分之一，顯示建築物為節能減碳的一大熱點。
									</p>
									<h4 class="title">日月光的營運環境足跡</h4>
									<p>
										在持續擴大產能及擴建廠房的發展中，我們營運活動的環境足跡也相對持續增加。為能以永續的方式持續成長，日月光全心投入於降低我們的營運環境足跡，致力於提升資源使用之效率及降低污染物的排放。
									</p>
									<h4 class="title">打造提升永續意識的實體環境</h4>
									<p>
										綠建築不只可以提供我們員工更健康、舒適的工作環境，更為永續營運的實體展現。透過每天在綠建築中工作、穿梭，我們期許日月光的員工除能體認日月光落實永續營運願景的決心，更能透過使用綠建築提升對永續發展之認識，將永續相關的觀念帶入生活，深耕全體員工的永續意識。
									</p>
								</div>

								<div class="col-xs-4 col-md-4 picture-padding-2"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/sustainability_highlights_green_facilities27.jpg"></div>
								<div class="col-xs-4 col-md-4 picture-padding-2"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/sustainability_highlights_green_facilities28.jpg"></div>
								<div class="col-xs-4 col-md-4 picture-padding-2"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/sustainability_highlights_green_facilities29.jpg"></div>
							</div>
						</div>
	  				</div>
				
					<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
								<span class="black-text-in-box accordion-center-text">日月光<span style="font-size: 26px; font-weight: bold;">如何投入？</span></span>
								<div class="circle_button-wrapper">
									<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>
						<div id="collapseThree" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingThree">
							<div class="panel-body nopadding">
								<div class="col-sm-12">
									<br>
									<p>
										為打造健康且永續之工作及營運環境，日月光自2012年投入綠建築群之佈局。我們首先從改造既有的製造工廠及辦公大樓做起，並於2014年進一步承諾，日月光未來所有位於台灣的新製造工廠和辦公大樓皆將依循最先進的綠建築標準進行建造。
									</p>
									<h3 class="title inline">日月光綠建築群現況</h3> (截至2016年12月)
									<div class="col-sm-10 col-sm-offset-1 nopadding">
										<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/sustainability_highlights_green_facilities19.png" class="img-responsive">
									</div>
									<div class="col-sm-10 col-sm-offset-1 nopadding">
										<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/sustainability_highlights_green_facilities20.png" class="img-responsive">
									</div>
									<div class="col-sm-8 col-sm-offset-2"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/sustainability_highlights_green_facilities22.png"></div>
									<div class="clearfix"></div>
									<h3 class="title">未來規劃</h3>
									<p>
										透過有計畫性的推動，我們將持續精進現有的廠房或辦公大樓，並確保所有台灣新建物皆符合綠建築標準，積極茁壯日月光綠建築群。
									</p>
									<div class="col-md-10 col-md-offset-1">
										<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/sustainability_highlights_green_facilities25.png" class="img-responsive">
									</div>
									<div></div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
								<span class="black-text-in-box accordion-center-text">日月光<span style="font-size: 26px; font-weight: bold;">如何打造</span>綠建築群？</span>
								<div class="circle_button-wrapper">
									<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>
						<div id="collapseTwo" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingTwo">
							<div class="panel-body nopadding">
								<div class="col-sm-12">
									<br>
									<h3 class="title">什麼是綠建築？</h3>
									<p>
										綠建築係指本身及其使用過程中，包含從選址、設計、建設、營運、維護、翻新乃至拆除等各階段皆達成環境友善及資源有效運用的一種建築。一棟既有的建築物及新建建築物皆可獲得綠建築標章認證。
									</p>
									<h3 class="title">綠建築小辭典</h3>
									<div class="color-4box">
										<div class="txt-4box" style="background-color: #cde293">
											<div class="color-4box-heading">LEED</div>
											由美國綠色建築委員會 (USGBC) 自1998年正式公布之綠建築認證系統，其為目前世界上最頻繁使用之綠建築認證系統。評估項目包含永續性建址、用水效率、能源和空氣、室內環境品質、創新性和設計流程以及區域優先性；認證等級可分為認證級、銀級、金級及鑽石級。
										</div>
										<div class="txt-4box" style="background-color: #cde293">
											<div class="color-4box-heading">EEWH</div>
											台灣綠建築標章於1999年開始實施，為全世界第二個實施的綠建築認證系統（僅次於美國LEED標章制度）。評估面向分為生態（E）、節能（E）、減廢（W）、健康（H）四大面向，而認證等級可由合格至最優等分為合格級、銅級、銀級、黃金級、鑽石級。
										</div>
										<div class="txt-4box" style="background-color: #cde293">
											<div class="color-4box-heading">智慧建築</div>
											由內政部建築研究所頒發認證，評估面向包含綜合佈線、資訊通信、系統整合、設施管理、安全防災、健康舒適、便利貼心、節能管理等面向。
										</div>
										<div class="txt-4box" style="background-color: #cde293">
											<div class="color-4box-heading">綠色工廠</div>
											<ul class="nopadding">
												<li>由經濟部工業局頒發認證，欲獲得認證之廠房需取得綠建築及清潔生產之認證。</li>
												<li>綠色工廠係生產過程符合省能資源及低污染等環保特性，且廠房本身即為綠建築之工廠。</li>
											</ul>
										</div>
									</div>
									<h3 class="title">綠建築執行特點</h3>
									<p class="margin-bottom-0">
										如綠建築為全新的建築物，其設計考量會涵蓋下列所有項目，而如是從既有建物進行改造，則會專注於完成日常節能相關項目。
									</p>
								</div>
								<div class="panel-group" id="accordion1" role="tablist" aria-multiselectable="true">
									<div class="panel">
										<a role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1" aria-expanded="false" aria-controls="collapseOne1" class="margin-bottom-0">
											<div class="left-link"><h3 class="title pull-left font-size-20">生物多樣性／綠化量</h3>&nbsp;&nbsp;<div class="circle_button darkgray facilities-circle-button"><i class="icon-arrow-right facilities-icon-arrow-right"></i></div></div>
										</a>
										
										<div class="clearfix"></div>
										<div id="collapseOne1" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne1">
											<div class="col-sm-12">
												<div class="a">
													<div class="b order1-lg order1-sm">
														<div class="sustainability-grey-box">
															<span class="small-heading">設計方法</span>
															<ul class="nopadding">
																<li>複層植栽與生態滯洪池</li>
																<li>生態圍籬與多孔隙空間</li>
																<li>生態廊道</li>
																<li>屋頂花園</li>
																<li>改善基地微氣候</li>
															</ul>
														</div>
													</div>
													<div class="b order3-sm order2-lg">
														<div class="sustainability-grey-box">
															<span class="small-heading">成效</span>
															<ul class="nopadding">
																<li>誘鳥誘蝶</li>
																<li>生態網路系統（生態復育）</li>
																<li>改善基地微氣候</li>
															</ul>
														</div>
													</div>
													<div class="b order2-sm order3-lg">
														<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/sustainability_highlights_green_facilities2.jpg" class="img-responsive">生態滯洪池<br><br>
													</div>
													<div class="b order4-sm order4-lg">
														<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/sustainability_highlights_green_facilities3.jpg" class="img-responsive">生態圍籬<br><br>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="panel">
										<a role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne2" aria-expanded="false" aria-controls="collapseOne2" class="margin-bottom-0">
											<div class="left-link"><h3 class="title pull-left font-size-20">基地保水</h3>&nbsp;&nbsp;<div class="circle_button darkgray facilities-circle-button"><i class="icon-arrow-right facilities-icon-arrow-right"></i></div></div>
										</a>
									
										<div class="clearfix"></div>
										<div id="collapseOne2" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne2">
											<div class="col-sm-12">
												<div class="a">
													<div class="b">
														<div class="sustainability-grey-box">
															<span class="small-heading">設計方法</span>
															<p>
																海綿道路 - JW工法：在通氣導管塑膠框上打上混凝土的高承載結構型透水鋪面，其表層綿密的通氣管連通充滿粗古材的基層空間，具有絕佳的透氣、透水、保水與蓄洪功能。
															</p>
														</div>
													</div>
													<div class="b">
														<div class="sustainability-grey-box">
															<span class="small-heading">成效</span>
															<ul class="nopadding">
																<li>可直接及間接吸附40%-78%車輛排放的廢氣</li>
																<li>使用壽命為現有透水鋪面的十倍</li>
																<li>雨水回收，路面透水率達12,500mm/hr</li>
																<li>建立地下水撲滿，雨水回收池總儲水量達238噸</li>
																<li>較柏油路面可降低約20ﾟC，降低熱島效應</li>
															</ul>
														</div>
													</div>
												</div>
												<div class="d">
													<div class="c">
														<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/sustainability_highlights_green_facilities4.jpg" class="img-responsive"><br><br>
													</div>
												</div>
													<div class="clearfix"></div>
												<div class="a">
													<div class="b">
														<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/sustainability_highlights_green_facilities5.jpg" class="img-responsive">將空氣/水流導管框架置於基底層（碎石或配礫石）的上方<br><br>
													</div>
													<div class="b">
														<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/sustainability_highlights_green_facilities6.jpg" class="img-responsive">完工的海綿步道<br><br>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="panel">
										<a role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne3" aria-expanded="false" aria-controls="collapseOne3" class="margin-bottom-0">
											<div class="left-link"><h3 class="title pull-left font-size-20">室內環境品質</h3>&nbsp;&nbsp;<div class="circle_button darkgray facilities-circle-button"><i class="icon-arrow-right facilities-icon-arrow-right"></i></div></div>
										</a>
									
										<div class="clearfix"></div>
										<div id="collapseOne3" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne3">
											<div class="col-sm-12">
												<div class="a">
													<div class="b">
														<div class="sustainability-grey-box">
															<span class="small-heading">設計方法</span>

															<ul class="nopadding">
																<li>利用外氣空調箱引入充足的外氣，並設置流量計監視外氣量體</li>
																<li>設置CO2感知器</li>
															</ul>
														</div>
													</div>
													<div class="b">
														<div class="sustainability-grey-box">
															<span class="small-heading">成效</span>
															<ul class="nopadding">
																<li>確保室內人員於長時間駐足於室內時，維持一定的室內空氣品質</li>
																<li>避免CO2濃度過高，造成室內人員不舒適</li>
															</ul>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="panel">
										<a role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne4" aria-expanded="false" aria-controls="collapseOne4" class="margin-bottom-0">
											<div class="left-link"><h3 class="title pull-left font-size-20">日常節能：電力監控&管理</h3>&nbsp;&nbsp;<div class="circle_button darkgray facilities-circle-button"><i class="icon-arrow-right facilities-icon-arrow-right"></i></div></div>
										</a>
									
										<div class="clearfix"></div>
										<div id="collapseOne4" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne4">
											<div class="col-sm-12">
												<div class="a">
													<div class="b">
														<div class="sustainability-grey-box">
															<span class="small-heading">設計方法</span>

															<ul class="nopadding">
																<li>設置能源系統，執行運轉狀態監視及控制</li>
																<li>最佳化運轉控制，有效管理設備之運轉狀態</li>
															</ul>
														</div>
													</div>
													<div class="b">
														<div class="sustainability-grey-box">
															<span class="small-heading">成效</span>
															<ul class="nopadding">
																<li>追蹤能源系統運轉參數，並比較實際耗能和設計耗能，用以檢討出最適化之運轉控制模式</li>
															</ul>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="panel">
										<a role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne5" aria-expanded="false" aria-controls="collapseOne5" class="margin-bottom-0">
											<div class="left-link"><h3 class="title pull-left font-size-20">日常節能：外殼／綠化量</h3>&nbsp;&nbsp;<div class="circle_button darkgray facilities-circle-button"><i class="icon-arrow-right facilities-icon-arrow-right"></i></div></div>
										</a>
									
										<div class="clearfix"></div>
										<div id="collapseOne5" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne5">
											<div class="col-sm-12">
												<div class="a">
													<div class="b">
														<div class="sustainability-grey-box">
															<span class="small-heading">設計方法</span>
															<ul class="nopadding">
																<li>屋頂表面塗佈高反射率塗料</li>
																<li>設置綠屋頂</li>
																<li>減少硬鋪面，增加綠化面積</li>
															</ul>
														</div>
													</div>
													<div class="b">
														<div class="sustainability-grey-box">
															<span class="small-heading">成效</span>
															<ul class="nopadding">
																<li>降低都市熱島效應</li>
																<li>降低建築物內室溫</li>
															</ul>
														</div>
													</div>
													<div class="b order2-sm order3-lg" style="padding-bottom: 5px">
														<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/sustainability_highlights_green_facilities10.jpg" class="img-responsive">
													</div>
													<div class="b order4-sm order4-lg" style="padding-bottom: 5px">
														<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/sustainability_highlights_green_facilities11.jpg" class="img-responsive">
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="panel">
										<a role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne6" aria-expanded="false" aria-controls="collapseOne6" class="margin-bottom-0">
											<div class="left-link">&nbsp;&nbsp;<h3 class="title pull-left font-size-20">日常節能：空調</h3>&nbsp;&nbsp;<div class="circle_button darkgray facilities-circle-button"><i class="icon-arrow-right facilities-icon-arrow-right"></i></div></div>
										</a>
									
										<div class="clearfix"></div>
										<div id="collapseOne6" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne6">
											<div class="col-sm-12">
												<div class="a">
													<div class="b order1-lg order1-sm">
														<div class="sustainability-grey-box">
															<span class="small-heading">設計方法</span>
															<ul class="nopadding">
																<li>採用高效率冰水主機、冷卻水塔及冷卻水塔風扇變頻</li>
																<li>CDA熱回收系統</li>
																<li>冰水迴路採用雙溫度及高溫差系統</li>
																<li>採用高效率之FFU</li>
																<li>MAU最適化控制模式</li>
																<li>設置頂板保溫層</li>
															</ul>
														</div>
													</div>
													<div class="b order3-sm order2-lg">
														<div class="sustainability-grey-box">
															<span class="small-heading">成效</span>
															<ul class="nopadding">
																<li>空調耗能低於國際標準約40%</li>
															</ul>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="panel">
										<a role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne7" aria-expanded="false" aria-controls="collapseOne7" class="margin-bottom-0">
											<div class="left-link">&nbsp;&nbsp;<h3 class="title pull-left font-size-20">日常節能：照明</h3>&nbsp;&nbsp;<div class="circle_button darkgray facilities-circle-button"><i class="icon-arrow-right facilities-icon-arrow-right"></i></div></div>
										</a>
										
										<div class="clearfix"></div>
										<div id="collapseOne7" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne7">
											<div class="col-sm-12">
												<div class="a">
													<div class="b order1-lg order1-sm">
														<div class="sustainability-grey-box">
															<span class="small-heading">設計方法</span>
															<ul class="nopadding">
																<li>高效率T5及LED燈具</li>
																<li>室內低照明用電密度設計</li>
																<li>會議室及大廳等公用空間設置獨立燈控或多段式調光控制</li>
															</ul>
														</div>
													</div>
													<div class="b order3-sm order2-lg">
														<div class="sustainability-grey-box">
															<span class="small-heading">成效</span>
															<ul class="nopadding">
																<li>室內照明用電密度低於國際標準約70%</li>
																<li>調光控制模式，避免照明無效使用 </li>
															</ul>
														</div>
													</div>
													<div class="b order2-sm order3-lg">
														<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/sustainability_highlights_green_facilities16.jpg" class="img-responsive">會議室及餐廳多段燈光控制<br><br>
													</div>
													<div class="b order4-sm order4-lg">
														<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/sustainability_highlights_green_facilities17.jpg" class="img-responsive">辦公室獨立燈控<br><br>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="panel">
										<a role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne8" aria-expanded="false" aria-controls="collapseOne8" class="margin-bottom-0">
											<div class="left-link">&nbsp;&nbsp;<h3 class="title pull-left font-size-20">水資源管理／綠化量</h3>&nbsp;&nbsp;<div class="circle_button darkgray facilities-circle-button"><i class="icon-arrow-right facilities-icon-arrow-right"></i></div></div>
										</a>
										
										<div class="clearfix"></div>
										<div id="collapseOne8" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne8">
											<div class="col-sm-12">
												<div class="a">
													<div class="b order1-lg order1-sm">
														<div class="sustainability-grey-box">
															<span class="small-heading">設計方法</span>
															<ul class="nopadding">
																<li>日常用水減量：設置高效率省水衛生設備、雨水及空調冷凝水回收</li>
																<li>節水景觀設計：設置原生耐旱型複層植栽、雨水筏基</li>
															</ul>
														</div>
													</div>
													<div class="b order3-sm order2-lg">
														<div class="sustainability-grey-box">
															<span class="small-heading">成效</span>
															<ul class="nopadding">
																<li>雨水100%替代自來水澆灌</li>
																<li>日常節水率約50%</li>
																<li>減少植栽耗水量</li>
															</ul>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
				  				</div>
							</div>
						</div>
					</div>

					<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
								<span class="black-text-in-box accordion-center-text"><span style="font-size: 26px; font-weight: bold;">經驗分享</span></span>
								<div class="circle_button-wrapper">
									<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>
						<div id="collapseFour" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingFour">
							<div class="panel-body nopadding">
								<div class="col-xs-12">
									<br>
									<p>
										除以身作則，致力於降低自身營運的環境足跡，身為全球第一大半導體封裝與測試製造服務公司，我們期許與各界分享我們的成功經驗，最大化正面影響力。<br><br>

										日月光於2014年偕同經濟部能源局辦理「節能推廣示範講座暨觀摩會」，分享綠建築廠房設計經驗；未來期許持續透過國內外研討會、參訪等各類途徑推廣綠建築及綠色廠房之效益，可供不同事業或團體瞭解如何設計一棟全新的綠建築，乃至如何將現有建築物轉型為綠建築。
									</p>
								</div>
							</div>
						</div>
					</div>
				</article>
			</div>
		</div>
	</section>
	<script>
	$( document ).ready(function() {
		$('.accordion-center-text').click(function(e){
			if ($(this).hasClass('black-text-in-box')) {
				$('.blue-text-in-box').removeClass('blue-text-in-box').addClass('black-text-in-box');
				$(this).removeClass("black-text-in-box");
				$(this).addClass("blue-text-in-box");      //add the class to the clicked element
			} else {
				$(this).removeClass("blue-text-in-box");
				$(this).addClass("black-text-in-box");      //add the class to the clicked element
			}
		});
	})
	</script>
