﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/tw/_Layout.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-csr">
		<h1 class="page-title title-large">企業社會責任</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "/" })"><i class="icon-home"></i><span itemprop="name">首頁</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })"><span itemprop="name">企業社會責任</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Sustainability_Governance", "CSR", new { lang = ViewBag.language.lang })"><span itemprop="name">永續治理</span></a>
					<meta itemprop="position" content="3" />
				</li>
			</ol>
		</div>
	</div>

	<div class="breadcrumbs-pc pull-left" id="breadcrumbs-pc">
	<!-- PC版選單breadcrumbs內容 -->
		<ul class="breadcrumbs-view" id="breadcrumbs-view">
			<li class="dropdown-item">
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })">技術</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Solution" })">解決方案</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" })">產品</a></li>
					<li><a href="http://ir.aseglobal.com/">投資人關係</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })">企業社會責任</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "About" })">關於日月光集團</a></li>
				</ul>
			</li>
			<li class="dropdown-item">
				<a href="csr.html">企業社會責任</a>
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.Action("Letter_Chairman", "CSR", new { lang = ViewBag.language.lang })">董事長的話</a></li>
					<li><a href="@Url.Action("Sustainability_Governance", "CSR", new { lang = ViewBag.language.lang })" class="active">永續治理</a></li>
					<li><a href="@Url.Action("Stakeholder_Engagement", "CSR", new { lang = ViewBag.language.lang })">利害關係人專區</a></li>
					<li><a href="http://ir.aseglobal.com/c/ir_corpor.php">公司治理</a></li>
					<li><a href="@Url.Action("environmental_sustainability", "CSR", new { lang = ViewBag.language.lang })">環境永續</a></li>
					<li><a href="@Url.Action("Employee_Care_Development", "CSR", new { lang = ViewBag.language.lang })">員工關懷與發展</a></li>
					<li><a href="@Url.Action("Supply_Chain_Development", "CSR", new { lang = ViewBag.language.lang })">供應鏈發展</a></li>
					<li><a href="@Url.Action("Corporate_Citizenship_Social_Involvement", "CSR", new { lang = ViewBag.language.lang })">企業公民與社會參與</a></li>
					<li><a href="@Url.Action("Downloads", "CSR", new { lang = ViewBag.language.lang })">企業社會責任報告書下載專區</a></li>
				</ul>
			</li>
		</ul>
	</div>

	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">永續治理</h3>
				<p>
					日月光集團是負責任的企業公民，以積極的行動確保商業行為符合專業及道德的最高標準。我們相信公司長期的經營與成功必須仰賴企業的永續發展及其社會責任的體現。
				</p>
			</article>
		</div>
	</section>

	<section class="csr-bg">
		<div class="content-lg row">
			<div class="col-sm-6 col-md-4 text-center moving-arrow">
				<a class="link-block" href="@Url.Action("Sustainability_Governance", "CSR", new { lang = ViewBag.language.lang, param1 = "corporate_sustainability_policy" })">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/sustainability_governance1.jpg" class="navbar-btn"><br>
					企業永續政策<br>
					<div class="circle_button darkgray margin-top-5"><i class="icon-arrow-right"></i></div>
				</a><br>
			</div>
			<div class="col-sm-6 col-md-4 text-center moving-arrow">
				<a class="link-block" href="@Url.Action("Sustainability_Governance", "CSR", new { lang = ViewBag.language.lang, param1 = "sustainability_management" })">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/sustainability_governance2.jpg" class="navbar-btn"><br>
					企業永續管理<br>
					<div class="circle_button darkgray margin-top-5"><i class="icon-arrow-right"></i></div>
				</a><br>
			</div>
			<div class="col-sm-6 col-md-4 text-center moving-arrow">
				<a class="link-block" href="@Url.Action("Sustainability_Governance", "CSR", new { lang = ViewBag.language.lang, param1 = "sustainability_strategy" })">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/sustainability_governance3.jpg" class="navbar-btn"><br>
					永續發展策略<br>
					<div class="circle_button darkgray margin-top-5"><i class="icon-arrow-right"></i></div>
				</a><br>
			</div>
			<div class="col-sm-6 col-md-4 text-center moving-arrow">
				<a class="link-block" href="@Url.Action("Sustainability_Governance", "CSR", new { lang = ViewBag.language.lang, param1 = "business_conduct_and_ethics" })">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/sustainability_governance4.jpg" class="navbar-btn"><br>
					商業行為與道德<br>
					<div class="circle_button darkgray margin-top-5"><i class="icon-arrow-right"></i></div>
				</a><br>
			</div>
			<div class="col-sm-6 col-md-4 text-center moving-arrow">
				<a class="link-block" href="@Url.Action("Sustainability_Governance", "CSR", new { lang = ViewBag.language.lang, param1 = "regulatory_compliance_and_risk_management" })">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/sustainability_governance5.jpg" class="navbar-btn"><br>
					法規遵循與風險管理<br>
					<div class="circle_button darkgray margin-top-5"><i class="icon-arrow-right"></i></div>
				</a><br>
			</div>
			<div class="col-sm-6 col-md-4 text-center moving-arrow">
				<a class="link-block" href="@Url.Action("Sustainability_Governance", "CSR", new { lang = ViewBag.language.lang, param1 = "human_rights_management" })">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/sustainability_governance6.jpg" class="navbar-btn"><br>
					人權管理<br>
					<div class="circle_button darkgray margin-top-5"><i class="icon-arrow-right"></i></div>
				</a><br>
			</div>
		</div>
	</section>