﻿@{
    Layout = "~/Areas/Backend/Views/Shared/_layout.cshtml";
}
<div class="alert alert-danger" style="font-weight:bold">一次僅能上傳一個檔案</div>
<!-- Element where elFinder will be created (REQUIRED) -->
<div id="elfinder"></div>

<!-- jQuery and jQuery UI (REQUIRED) -->
<link rel="stylesheet" type="text/css" href="~/Content/themes/base/jquery-ui.min.css">
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
<!-- elFinder CSS (REQUIRED) -->
<link rel="stylesheet" type="text/css" href="~/Content/elfinder/css/elfinder.min.css">
<link rel="stylesheet" type="text/css" href="~/Content/themes/base/theme.css">
<!-- elFinder JS (REQUIRED) -->
<script src="~/Scripts/elfinder/elfinder.min.js"></script>
<!-- elFinder initialization (REQUIRED) -->
<script type="text/javascript" charset="utf-8">
    // Documentation for client options:
    // https://github.com/Studio-42/elFinder/wiki/Client-configuration-options
    $(document).ready(function () {

        $('#elfinder').elfinder({
            url: "/elfinderconnector",
            useBrowserHistory: false,
            rememberLastDir: true
        });

    });
</script>