﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/ch/_Layout_seo.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-csr">
		<h1 class="page-title title-large">企業社會責任</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->

	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">員工健康與安全</h3>
				<p>
					日月光集團承諾提供員工安全、健康及優質的工作環境，並訂定職業安全衛生管理原則，據以規範公司在進行所有業務相關活動時，有效防止職業災害發生，保障工作者的健康及安全。日月光的職業安全衛生(Occupational Health and Safety, 以下簡稱OHS) 管理主軸包括OHS管理系統及健康關懷與醫療照護<a href="javascript:;" data-toggle="popover" data-trigger="hover" data-content="2015日月光企業社會責任報告書揭露的風險管理及防災演練與緊急應變兩項主軸，已併入OHS管理系統中。" data-placement="bottom">*</a>。<br><br>

					<strong>OHS管理系統</strong><br>
					日月光全球各廠區依據「OHSAS 18001」、「EICC行為準則」及在地法規，以「零事故」為管理目標，設置OHS管理組織、訂定管理辦法及程序，並建立定期稽核程序，以查核OHS 管理系統及其程序的實施能否適當，使其有效地預防各種事故發生，進而保護員工的健康與安全。OHS管理辦法包含職業安全、緊急應變、工傷和職業病預防、工業衛生、體力勞動工作、機器防護、公共衛生和食宿、及健康與安全資訊等面向。日月光全球各廠區均定期檢查OHS管理系統，並持續取得OHSAS 18001管理系統認證<a href="javascript:;" data-toggle="popover" data-trigger="hover" data-content="OHSAS 18001職業健康安全認證廠區有日月光高雄廠、中壢廠、上海封測廠、上海材料廠、昆山廠、蘇州廠、威海廠、無錫廠、韓國廠、新加坡廠及USI台灣廠、金橋廠、張江廠、深圳廠、昆山廠、墨西哥廠。" data-placement="bottom">*</a>，以有效降低及減少職業傷害。<br><br>

					日月光全球各廠區每月定期確認當地法規發佈內容，並審視內部管理辦法、緊急應變程序及環境安全作業程序，以確保一切符合法令規範。每年亦定期執行識別風險源程序，各廠區在從事生產、活動或服務時，若發生製程及作業活動變更，則需即時啟動風險評估程序，依危險嚴重度、發生率及曝露率判定風險等級，針對高風險作業環境需有立即的風險管控措施，使其風險等級改善到低風險。<br><br>

					我們更進一步鑑別出廠區內較高風險的作業環境，如游離輻射、噪音、危險化學品及粉塵作業場所，針對於此環境工作的人員，規劃執行定期的特殊健診作業，並提供高品質的防護裝備，追蹤並確保作業人員的職場健康。
				</p>
				<strong>OHS管理流程</strong>
				<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/employee_health_and_safety1.png" class="hide-in-small">
				<div class="col-xs-12 hide-in-large nopadding">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/employee_health_and_safety11.png">
				</div>
				<div class="clearfix"></div><br>
				<h4 class="sub-title">重大職業傷害及預防措施</h4>
				<p>
					日月光集團於2016年發生重大職業傷害1件。高雄廠一名員工進行壓模機台清模作業時，遭同機操作另一位員工誤壓雙手啟動開關動作，導致壓模區動作造成清模作業員工手部失能傷害，事件發生當下此產線同類型機台同時停止作業生產，並待經濟部加工出口區勞動檢查機關入廠確認職災始末。為此，日月光深切檢討機器安全防護及作業程序，於同類型所有機台中加裝光閘監控裝置及製作手工治具取代徒手作業，即便員工需進入機台內進行維護保養作業，其安全裝置立即啟動，使機台不會作動，以落實確保員工安全。<br><br>

					2016年日月光集團總職業傷害事故為127件，工傷率(IR)為0.181，損失天數比率(LDR)為10.27，缺勤率(AR)為7,366，職業病比率(ODR)為0，失能傷害頻率(FR)為0.906，失能傷害嚴重率(SR)為49.964，詳細資訊如附錄「2016職業健康與安全統計資訊」所示，而相關缺失的檢討與改善行動如下表。EMS廠區FR及SR分別為0.095及8.674，均低於台灣電子零組件業界平均值<a href="javascript:;" data-toggle="popover" data-trigger="hover" data-content="台灣電子零組件業界平均值(Y2014~Y2016) FR及SR分別為0.91及25。" data-placement="bottom">*</a>；而ATM廠區FR及SR分別為1.141及61.919，高於台灣半導體業界平均值<a href="javascript:;" data-toggle="popover" data-trigger="hover" data-content="台灣半導體業界平均值(Y2014~Y2016) FR及SR分別為0.54及8。" data-placement="bottom">*</a>，其中失能傷害損失天數的增加主要與前述重大職業傷害事件有關。
				</p>
			</article>
			<div class="col-md-8 col-sm-7">
				<h4 class="sub-title">健康關懷與醫療照護</h4>
				<p>
					日月光提供員工全方位醫療和保健服務，以預防醫學為架構制定了員工健康管理辦法、法定傳染性疾病緊急應變程序及緊急救護應變程序。<br><br>

					日月光持續推動職場健康促進之改善計畫，辦理員工定期健康檢查及職業病預防，針對健康檢查結果進行統計並分析列出致病因子，追蹤提列可能性高風險健康族群員工，從中規劃出員工健康改善計劃並邀請高風險族群員工參與健康改善活動。
				</p>
			</div>
			<div class="col-md-4 col-sm-5">
				<div class="col-xs-10 col-xs-offset-1 nopadding">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/employee_health_and_safety.png"><br><br>
				</div>
			</div>
			<div class="col-xs-12">
				<strong>健康關懷及處置</strong>
				<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/employee_health_and_safety2.png"" class="hide-in-small">
				<div class="col-xs-12 hide-in-large nopadding">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/employee_health_and_safety21.png">
				</div>
				<div class="clearfix"></div><br>
				<strong>健康改善行動</strong><br>
				<div class="color-4box">
					<div class="orange-4box">
						<div class="color-4box-heading">衛生教育</div>
						<ul class="nopadding">
							<li>主題式衛教平台</li>
							<li>主題式衛教單張</li>
							<li>包裹式衛教健檢報告</li>
						</ul>
					</div>
					<div class="light-orange-4box">
						<div class="color-4box-heading">健康宣導</div>
						<ul class="nopadding">
							<li>健康生活改善生活</li>
							<li>社區衛教宣導</li>
							<li>工作場所衛教宣導</li>
						</ul>
					</div>
					<div class="light-yellow-4box">
						<div class="color-4box-heading">健康檢查</div>
						<ul class="nopadding">
							<li>社區預防健檢</li>
							<li>員工年度健檢</li>
							<li>新進員工健檢</li>
							<li>特定作業員工額外年度健檢</li>
						</ul>
					</div>
					<div class="yellow-4box">
						<div class="color-4box-heading">傳染病防治</div>
						<ul class="nopadding">
							<li>防疫體系程序標準化</li>
							<li>傳染病檢驗機構(衛福部認可)</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script>
	$(document).ready(function(){
	    $('[data-toggle="popover"]').popover();   
	});
	</script>