﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/ch/_Layout_seo.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-csr">
		<h1 class="page-title title-large">企業社會責任</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->

	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">全球人力</h3>
				<p>
					日月光集團遍佈全球三大洲，分佈於九個國家。2016年我們的員工總數超過66,000名，以台灣員工居多佔53%，其次為中國大陸員工佔34%。其中有94%為正式員工及6%為約聘員工，直、間接的員工比例約為六成、四成，女性、男性員工比例約各為一半，員工平均服務年資為5年，而員工年齡介於16歲至30歲的有49％，以及30歲至50歲的佔47％。此外，日月光集團員工具學士及以上學歷者超過53%。
				</p>
				<div class="col-xs-12 col-sm-8 col-md-4 col-md-offset-2 text-center">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/global_workforce.png" style="padding-bottom: 10px"><br>
					<strong>全球人力地理分佈</strong><br><br>
				</div>
				<div class="col-xs-12 col-sm-8 col-md-4 text-center">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/global_workforce1.png" style="padding-bottom: 10px"><br>
					<strong>全球人力教育背景分佈</strong>
				</div>
				<div class="clearfix"></div>
				<br>
				<h4 class="sub-title inline">員工結構</h4><a href="javascript:;" data-toggle="popover" data-trigger="hover" data-content="員工結構資料包含封裝、測試、材料及電子製造服務廠區所有員工，但不包含歐洲及北美業務人員。" data-placement="bottom"><span style="position:relative; top:-5px; left:1px;">*</span></a><br><br>

				<div class="col-xs-12 col-sm-8 col-md-4 text-center">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/global_workforce2.png" style="padding-bottom: 10px"><br>
					<strong>員工性別比例</strong><br><br>
				</div>
				<div class="col-xs-12 col-sm-8 col-md-4 text-center">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/global_workforce3.png" style="padding-bottom: 10px"><br>
					<strong>正式/約聘員工比例</strong><br><br>
				</div>
				<div class="col-xs-12 col-sm-8 col-md-4 text-center">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/global_workforce4.png" style="padding-bottom: 10px"><br>
					<strong>員工年齡分佈</strong><br><br>
				</div>
				<div class="col-xs-12 col-sm-8 col-md-4 col-md-offset-2 text-center">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/global_workforce5.png" style="padding-bottom: 10px"><br>
					<strong>員工職別比例</strong><br><br>
				</div>
				<div class="col-xs-12 col-sm-8 col-md-4 text-center">
					<a href="javascript:;" data-toggle="popover" data-trigger="hover" data-content="當地聘請乃指員工的國籍與營運所在地國籍相同。" data-placement="bottom"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/global_workforce6.png" style="padding-bottom: 10px"></a><br>
					<strong>資深管理階層</strong><a href="javascript:;" data-toggle="popover" data-trigger="hover" data-content="資深管理階層是指經理、處長及副總經理以上。" data-placement="bottom"><span style="position:relative;">*</span></a>
				</div>
				<div class="clearfix"></div>

				<h4 class="sub-title">多元招募新成員</h4>
				<p>
					一個樂觀、積極進取的員工團隊是日月光成功的致勝關鍵。我們以朝向員工的多元化邁進，確保提供更佳的服務給全球客戶群，並持續提供市場領先的技術。日月光的招募政策兼具多元性與包容性，絕不因種族，性別，國籍，宗教，政治派別或年齡不同而有所差別待遇。我們於2016 年聘用了403名身心障礙人士，較之2015年招聘的380位增加了6%。全球各廠區皆依當地法規並遵循EICC（電子行業公民聯盟之行為準則）絕不僱用童工。同時為創造在地就業機會，培育新一代年輕人，日月光高雄廠、中壢廠、上海廠、蘇州廠、USI皆與當地大學合作，推行產學合作徵才專案。<br><br>

					同時，日月光還採用了多元化具競爭力的招聘做法，包括員工推薦計劃、國防替代役方案、徵才博覽會以及透過社群媒體的線上招聘與求職公告版。
				</p>
				<div class="col-xs-12 col-sm-8 col-md-4 col-md-offset-2 text-center">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/global_workforce7.png" style="padding-bottom: 10px"><br>
					<strong>新進員工性別比例</strong><br><br>
				</div>
				<div class="col-xs-12 col-sm-8 col-md-4 text-center">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/global_workforce8.png" style="padding-bottom: 10px"><br>
					<strong>身心障礙人士進用人數</strong>
				</div>
				<div class="clearfix"></div>
			</article>
		</div>
	</section>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script>
	$(document).ready(function() {
		$('[data-toggle="popover"]').popover();  
		$('.accordion-center-text').click(function(e){
			if ($(this).hasClass('black-text-in-box')) {
				$('.blue-text-in-box').removeClass('blue-text-in-box').addClass('black-text-in-box');
				$(this).removeClass("black-text-in-box");
				$(this).addClass("blue-text-in-box");      //add the class to the clicked element
			} else {
				$(this).removeClass("blue-text-in-box");
				$(this).addClass("black-text-in-box");      //add the class to the clicked element
			}
		});
	})
	</script>