﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/tw/_Layout.cshtml";
}
<!-- page Banner -->
<section id="page-vision" class="page-banner-s banner-about">
    <h1 class="page-title title-large">了解日月光</h1>
    <video poster="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/about/video.jpg")" class="about-video" id="bgvid" playsinline autoplay muted loop>
        <!-- 使用JS增加Source -->
    </video>
</section>

<!-- 麵包屑 -->
<div class="content-lg row">
    <div class="col-xs-12">
        <ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="@Url.Action("Index", "Home", new { lang = ViewBag.language.lang })"><i class="icon-home"></i><span itemprop="name">首頁</span></a>
                <meta itemprop="position" content="1" />
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "About" })"><span itemprop="name">了解日月光</span></a>
                <meta itemprop="position" content="2" />
            </li>
        </ol>
    </div>
</div>

<div class="breadcrumbs-pc pull-left" id="breadcrumbs-pc">
    <!-- PC版選單麵包屑內容 -->
    <ul class="breadcrumbs-view" id="breadcrumbs-view">
        <li class="dropdown-item">
            <span class="glyphicon glyphicon-menu-right"></span>
            <ul class="dropdown-list">
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })">技術</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" })">產品</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Solution" })">解決方案</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Lab" })">投資人關係</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })">企業社會責任</a></li>
                <li><a class="active" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "About" })">了解日月光</a></li>
            </ul>
        </li>
        <li class="dropdown-item">
            <a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "About" })">了解日月光</a>
            <span class="glyphicon glyphicon-menu-right"></span>
            <ul class="dropdown-list">
                <li><a href="@Url.Action("milestones", "About", new { lang = ViewBag.language.lang })">大事紀</a></li>
				<li><a href="@Url.Action("Awards", "About", new { lang = ViewBag.language.lang })">得獎殊榮</a></li>
                <li><a href="@Url.Action("ASE_Turnkey_Services", "About", new { lang = ViewBag.language.lang })">一元化服務</a></li>
                <li><a href="@Url.Action("Manufacturing_Facilities", "About", new { lang = ViewBag.language.lang })">全球工廠據點</a></li>
                <li><a href="@Url.Action("plants_offices", "About", new { lang = ViewBag.language.lang })">營運據點</a></li>
				<li>
                            <a href="@Url.Action("Index", new { controller = "Events", lang = ViewBag.lang })">活動</a>
				</li>
				<li>
                            <a href="@Url.Action("List", new { controller = "PressRoom", lang = ViewBag.lang })">新聞</a>
				</li>
				
                <li><a href="@Url.Action("Careers", "About", new { lang = ViewBag.language.lang })">人才招募</a></li>
                <li><a href="@Url.Action("Contact", "About", new { lang = ViewBag.language.lang })">聯絡日月光</a></li>
            </ul>
        </li>
    </ul>
</div>

<!-- About Content A -->
<section class="inside-article">
    <div class="content-lg row">
        <article class="col-xs-12">
            <h3 class="title">全球領導地位</h3>
            <p>日月光集團為全球最大半導體封裝與測試製造服務公司，提供半導體客戶包括晶片前段測試及晶圓針測至後段之封裝、材料及成品測試的一元化服務。客戶也可以透過日月光集團的專業電子代工製造服務的環電公司，提供完善的電子製造整體解決方案。身為全球領導地位，日月光以卓越技術、創新思維、與高階研發能力服務半導體市場。</p>
            <p>半導體製造流程涵蓋積體電路設計、晶圓製造、封裝和成品測試。半導體是電子與系統產品的重要基礎製程。隨著市場需求快速、智慧型與手持式裝置的整合性電子產品，晶片發展不斷趨向微型化，日月光也持續研發先進技術，協助客戶快速的產品上市時程。</p>
        </article>
        <article class="col-xs-12">
            <h3 class="title">技術能力</h3>
            <p>日月光集團提供全方位的半導體製造服務包括晶片前段測試、晶圓針測、封裝與成品測試的技術能力。透過日月光集團的專業電子代工製造服務的環電公司，提供電路板設計到系統封裝的設計製造服務。</p>
            <p>晶片在量產前的前段工程測試，日月光提供客戶包括軟體開發、電性驗證、可靠度與失效分析等服務。晶圓針測是針對晶片電性上的檢測，在IC 封裝前先過濾電性功能不良的晶片。封裝或是組裝，是以保護裸晶與完整電性和散熱功能的完成IC製造流程。成品測試可以在組裝電子產品前確保IC產品功能性是否正常。</p>
            <p>日月光提供客戶多樣化選擇與符合成本效益的服務。</p>
            <!-- About插圖設置於為CSS=".about-img-box"-->
        </article>
    </div>
</section>
<section class="about_capabilities">
    <div class="content-lg row">
        <div class="col-xs-12 col-sm-6 col-md-4 text-center">
            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/about/about_capabilities_01.png")">
            <h4 class="sub-title blue">17座廠</h4>
            <p>全球封裝、測試與材料廠及系統組裝廠</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 text-center">
            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/about/about_capabilities_02.png")">
            <h4 class="sub-title blue">1984年</h4>
            <p>日月光高雄旗艦廠建立</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 text-center">
            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/about/about_capabilities_03.png")">
            <h4 class="sub-title blue">68,000人 <small>(截至2017年12月底) </small> </h4>
            <p>運營、工程、研發設計、業務與行銷等員工人數</p>
        </div>
    </div>
</section>
<!-- About Content B -->

<section class="inside-article">
    <div class="content-lg row">
        <article class="col-xs-12">
            <h3 class="title">先進製程技術</h3>
            <p>日月光不斷創新的思維，投注於半導體先進制程技術的研發，高素質的研發團隊持續發展先進的技術與制程，滿足客戶對於強化產品功能與降低成本的需求。經過長期的研發投資，日月光也獲得多項技術專利，更強化日月光在高階封裝與生產制程方面的競爭力，在技術研發與量產時程上始終遙遙領先其他競爭對手，例如銅製程 (Cu Wire bonding)、晶圓凸塊 (Wafer Bumping)、銅柱凸塊 (Cu Pillar Bump)、覆晶封裝 (Flip Chip) 、晶片級封裝 (Chip Scale Package, CSP)、堆疊封裝 (PoP)、系統級封裝 (System in Package, SiP)、感測器封裝 (MEMS and Sensor Packaging) 、扇出型封裝解決方案 (Fan Out)、2.5D/3D IC封裝以及綠色環保封裝 (Green Packaging) 技術，皆領先競爭對手進入量產，客戶透過專業而先進的制程技術，可提升整體的效益。</p>
        </article>
    </div>
</section>
