﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/tw/_Layout.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-about">
		<h1 class="page-title title-large">了解日月光</h1>
		<video poster="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/about/video.jpg")" class="about-video" id="bgvid" playsinline autoplay muted loop>
			<!-- 使用JS增加Source -->
		</video>
	</section>

	<!--麵包屑-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="@Url.Action("Index", "Home", new { lang = ViewBag.language.lang })"><i class="icon-home"></i><span itemprop="name">首頁</span></a>
                <meta itemprop="position" content="1" />
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "About" })"><span itemprop="name">了解日月光</span></a>
                <meta itemprop="position" content="2" />
            </li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="#"><span itemprop="name">人才招募</span></a>
					<meta itemprop="position" content="3" />
				</li>
			</ol>
		</div>
	</div>

	<div class="breadcrumbs-pc pull-left" id="breadcrumbs-pc">
	<!-- PC版選單麵包屑內容 -->
		<ul class="breadcrumbs-view" id="breadcrumbs-view">
			<li class="dropdown-item">
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })">技術</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" })">產品</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Solution" })">解決方案</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Lab" })">投資人關係</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })">企業社會責任</a></li>
					<li><a class="active" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "About" })">了解日月光</a></li>
				</ul>
			</li>
			<li class="dropdown-item">
				<a href="javascript:;">了解日月光</a>
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
                <li><a href="@Url.Action("milestones", "About", new { lang = ViewBag.language.lang })">大事紀</a></li>
				<li><a href="@Url.Action("Awards", "About", new { lang = ViewBag.language.lang })">獎項肯定</a></li>
                <li><a href="@Url.Action("ASE_Turnkey_Services", "About", new { lang = ViewBag.language.lang })">一元化服務</a></li>
                <li><a href="@Url.Action("Manufacturing_Facilities", "About", new { lang = ViewBag.language.lang })">全球工廠據點</a></li>
                <li><a href="@Url.Action("plants_offices", "About", new { lang = ViewBag.language.lang })">營運據點</a></li>
				<li>
                            <a href="@Url.Action("Index", new { controller = "Events", lang = ViewBag.lang })">活動</a>
				</li>
				<li>
                            <a href="@Url.Action("List", new { controller = "PressRoom", lang = ViewBag.lang })">新聞</a>
				</li>

                <li><a href="@Url.Action("Careers", "About", new { lang = ViewBag.language.lang })">人才招募</a></li>
                <li><a href="@Url.Action("Contact", "About", new { lang = ViewBag.language.lang })">聯絡日月光</a></li>
				</ul>
			</li>
		</ul>
	</div>

	<!-- Content -->


	<!-- ================ start of content ================  -->
	<section class="inside-article">
		<div class="content-lg row">
			<div class="col-md-12">
				<h3 class="title">人才招募</h3>
			</div>

			<div class="col-md-6">
				<p><h4>日月光工作機會</h4></p>
				<p>日月光集團為全球最大半導體製造服務公司，自1984年起即提供包括晶片前段測試及晶圓針測至後段之封裝、材料及成品測試的一元化服務，以及集團中的環隆電子(USI)，提供完善的電子製造服務整體解決方案。我們專注於運用我們先進封裝、材料、及測試技術，在半導體製程每個階段皆提供附加價值給全球客戶。</br>
				身為全球電子供應鏈中不可或缺的環節，日月光在全球各地有製造據點，現有超過六萬八千名員工。日月光專注投入做為客戶的虛擬工廠，以務實勤奮的精神提供猷如客戶團隊延伸的服務。
				</p>
			</div>
			<div class="col-md-6 padding-bottom10">
				<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/about/careers/careers1.jpg")">
			</div>			
			<div class="col-md-6 padding-bottom10">
				<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/about/careers/careers2.jpg")">
			</div>
			<div class="col-md-6">
				<p>日月光集團的全球營運據點包括臺灣、中國、南韓、日本、馬來西亞、新加坡等地。除此之外，我們在美國與歐洲設立業務辦公室，日月光將近70%集團營收來自於這兩個地區。日月光的全球策略性營運服務平均分佈於3C市場的客戶群，使日月光成為全球半導體產業的知名企業。</p>				
			</div>
			<div class="col-md-12 padding-top40 padding-bottom40">
				<p><h4>日月光集團全球營運據點工作機會：</h4>
					日月光高雄廠：<a href="http://www.asekh.aseglobal.com/content/5-51c.html">線上召募</a><br>
					日月光中壢廠：<a href="http://www.asecl.aseglobal.com/content/HumanResourceDevelopment_c.html">線上召募</a><br>
					日月光日本廠：<a href="mailto:uegaki@aseglobal.com">uegaki@aseglobal.com</a><br>
					日月光韓國廠：<a href="mailto:career@asekr.com">career@asekr.com</a><br>
					日月光馬來西亞廠：<a href="http://www3.asemal.com.my/Content/HR/jobs">線上召募</a><br>
					日月光新加坡廠：<a href="http://www.aseglobal.com.sg/index.php/career/job-application/">線上召募</a><br>
					日月光上海廠：<a href="http://www.asesh.aseglobal.com/content/5-5c.html">線上召募</a><br>
					日月光昆山廠：<a href="http://www.aseks.aseglobal.com/content/5-5c.html">線上召募</a><br>
					蘇州日月新：<a href="http://www.asen.aseglobal.com/content/CareerOpportunities.html">線上召募</a><br>
					日月光美國辦公室：<a href="mailto:hr@aseus.com">hr@aseus.com</a><br>
					日月光歐洲辦公室：<a href="mailto:juliette.handwerker@aseeu.com">juliette.handwerker@aseeu.com</a><br>
					ISE Labs: <a href="mailto:mwang@iselabs.com">mwang@iselabs.com</a><br>
					環隆電氣：<a href="http://www.usi.com.tw/Career_job.html">線上召募</a><br>
					國防役招募 (日月光高雄廠及中壢廠)：<a href="http://www.aseglobal.com/career/reserve_duty_officer/">線上召募</a><br>
				</p>
			</div>



		</div>
	</section>