﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/tw/_Layout.cshtml";
}
<!-- page Banner -->
<section id="page-vision" class="page-banner-s banner-about">
    <h1 class="page-title title-large">了解日月光</h1>
    <video poster="https://2311cdn.r.worldssl.net/picimages/about/video.jpg" class="about-video" id="bgvid" playsinline autoplay muted loop>
        <!-- 使用JS增加Source -->
    </video>
</section>

<!--麵包屑-->
<div class="content-lg row">
    <div class="col-xs-12">
        <ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="@Url.Action("Index", "Home", new { lang = ViewBag.language.lang })"><i class="icon-home"></i><span itemprop="name">首頁</span></a>
                <meta itemprop="position" content="1" />
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "About" })"><span itemprop="name">了解日月光</span></a>
                <meta itemprop="position" content="2" />
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "organization_chart" })"><span itemprop="name">集團組織圖</span></a>
                <meta itemprop="position" content="3" />
            </li>
        </ol>
    </div>
</div>

<div class="breadcrumbs-pc pull-left" id="breadcrumbs-pc">
    <!-- PC版選單麵包屑內容 -->
    <ul class="breadcrumbs-view" id="breadcrumbs-view">
        <li class="dropdown-item">
            <span class="glyphicon glyphicon-menu-right"></span>
            <ul class="dropdown-list">
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })">技術</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" })">產品</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Solution" })">解決方案</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Lab" })">投資人關係</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })">企業社會責任</a></li>
                <li><a class="active" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "About" })">了解日月光</a></li>
            </ul>
        </li>
        <li class="dropdown-item">
            <a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "About" })">了解日月光</a>
            <span class="glyphicon glyphicon-menu-right"></span>
            <ul class="dropdown-list">
                <li><a href="@Url.Action("milestones", "About", new { lang = ViewBag.language.lang })">大事紀</a></li>
                <li><a href="@Url.Action("ASE_Turnkey_Services", "About", new { lang = ViewBag.language.lang })">一元化服務</a></li>
                <li><a href="@Url.Action("Manufacturing_Facilities", "About", new { lang = ViewBag.language.lang })">全球工廠據點</a></li>
                <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "organization_chart" })">集團組織圖</a></li>
                <li><a href="javascript:;">Board of Directors</a></li>
                <li><a href="@Url.Action("plants_offices", "About", new { lang = ViewBag.language.lang })">營運據點</a></li>
                <li><a href="@Url.Action("Careers", "About", new { lang = ViewBag.language.lang })">人才招募</a></li>
                <li><a href="@Url.Action("Contact", "About", new { lang = ViewBag.language.lang })">聯絡我們</a></li>
            </ul>
        </li>
    </ul>
</div>

<!-- Content -->
<section class="inside-article">
    <div class="content-lg row">
        <article class="col-xs-12">
            <h3 class="title">集團組織圖</h3>
            <h3 class="title text-center gray">日月光集團組織圖</h3>
            <div class="organization-chart-responsive text-center">
                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/about/organization_chart.png" alt="ASE Group Organization Chart">
            </div>
        </article>
    </div>
</section>
