﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/tw/_Layout.cshtml";
}
<!-- page Banner -->
<section id="page-vision" class="page-banner-s banner-about">
    <h1 class="page-title title-large">了解日月光</h1>
    <video poster="https://2311cdn.r.worldssl.net/picimages/about/video.jpg" class="about-video" id="bgvid" playsinline autoplay muted loop>
        <!-- 使用JS增加Source -->
    </video>
</section>

<!--麵包屑-->
<div class="content-lg row">
    <div class="col-xs-12">
        <ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="@Url.Action("Index", "Home", new { lang = ViewBag.language.lang })"><i class="icon-home"></i><span itemprop="name">首頁</span></a>
                <meta itemprop="position" content="1" />
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "About" })"><span itemprop="name">了解日月光</span></a>
                <meta itemprop="position" content="2" />
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "plants_offices_ise" })"><span itemprop="name">營運據點</span></a>
                <meta itemprop="position" content="3" />
            </li>
        </ol>
    </div>
</div>

<div class="breadcrumbs-pc pull-left" id="breadcrumbs-pc">
    <!-- PC版選單麵包屑內容 -->
    <ul class="breadcrumbs-view" id="breadcrumbs-view">
        <li class="dropdown-item">
            <span class="glyphicon glyphicon-menu-right"></span>
            <ul class="dropdown-list">
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })">技術</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" })">產品</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Solution" })">解決方案</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Lab" })">投資人關係</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })">企業社會責任</a></li>
                <li><a class="active" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "About" })">了解日月光</a></li>
            </ul>
        </li>
        <li class="dropdown-item">
            <a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "About" })">了解日月光</a>
            <span class="glyphicon glyphicon-menu-right"></span>
            <ul class="dropdown-list">
                <li><a href="@Url.Action("milestones", "About", new { lang = ViewBag.language.lang })">大事紀</a></li>
                <li><a href="@Url.Action("ASE_Turnkey_Services", "About", new { lang = ViewBag.language.lang })">一元化服務</a></li>
                <li><a href="@Url.Action("Manufacturing_Facilities", "About", new { lang = ViewBag.language.lang })">全球工廠據點</a></li>
                <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "organization_chart" })">集團組織圖</a></li>
                <li><a href="javascript:;">Board of Directors</a></li>
                <li><a href="@Url.Action("plants_offices", "About", new { lang = ViewBag.language.lang })">營運據點</a></li>
                <li><a href="@Url.Action("Careers", "About", new { lang = ViewBag.language.lang })">人才招募</a></li>
                <li><a href="@Url.Action("Contact", "About", new { lang = ViewBag.language.lang })">聯絡我們</a></li>
            </ul>
        </li>
    </ul>
</div>

<!-- Content -->
<section class="plants-Offices tab">
    <div class="content-lg row">
        <div class="col-xs-12">
            <ul class="tabs">
                <li>
                    <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "plants_offices_ase" })">日月光</a>
                </li>
                <li class="active">
                    <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "plants_offices_ise" })">ISE Labs</a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "plants_offices_usi" })">環隆電氣</a>
                </li>
            </ul>
        </div>
    </div>
</section>
<section class="ir-list bgnews-list plants-list ise-lab-list">
    <!-- List -->
    <div class="content-lg row">
        <div class="col-xs-12 col-md-4"></div>
        <div class="col-xs-12 col-md-4 ise-lab">
            <div class="list">
                <h4 class="text-center">
                    Plants
                    <a href="*PLANTS" class="circle_button"><i class="icon-cross"></i></a>
                </h4>
                <div class="content">
                    <div class="row plants-row">
                        <div class="col-xs-12 col-md-12">
                            <ul class="plants-ul">
                                <li class="ic"><a href="#ISE-Labs">ISE LABS, INC.</a></li>
                                <li class="ic"><a href="#ISE-AUSTIN">ISE AUSTIN</a></li>

                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4"></div>
        <div class="col-xs-12 col-md-12 text-center">
            <ul class="plants-color">
                <li class="ic">IC Service</li>
                <li class="system">System Service</li>
                <li class="sales">Sales and Representative Offices</li>
                <li class="service">Service Center</li>
            </ul>
        </div>
    </div>
</section>
<section class="plants-Offices general">
    <div class="content-lg row">
        <div class="col-xs-12">
            <h2 class="title" id="PLANTS">Plants</h2>
        </div>
    </div>
</section>
<section class="page-list-content plants-Offices">
    <div class="content-lg row">
        <ul id="list-content" class="col-xs-12 list-base list-link office-list-content">
            <li>
                <a href="javascript:;" class="link-disable">
                    <div id="ISE-Labs" class="office">ISE LABS, INC.</div>
                    <div class="text-box">
                        <div class="content-wrapper">
                            <p class="phone"><span class="glyphicon glyphicon-earphone"></span>1-510-687-2500</p>
                            <p class="user"><span class="glyphicon glyphicon-user"></span>Vince Sy</p>
                            <p class="email"><span class="glyphicon glyphicon-envelope"></span>info@iselabs.com</p>
                            <p class="address"><span class="glyphicon glyphicon-map-marker"></span>46800 Bayside Parkway Fremont, CA 94538, USA</p>
                            <p class="gps"><span class="glyphicon glyphicons-pin"></span>N37.48, W121.94</p>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="javascript:;" class="link-disable">
                    <div id="ISE-AUSTIN" class="office">ISE AUSTIN</div>
                    <div class="text-box">
                        <div class="content-wrapper">
                            <p class="email"><span class="glyphicon glyphicon-envelope"></span>info@iselabs.com</p>
                            <p class="address"><span class="glyphicon glyphicon-map-marker"></span>11501 Domain Drive, Suite 160, Austin,<br />Texas 78758, USA</p>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>
<script>
$(document).on('click', 'a', function(event){
	if($(this).attr('href').substr(0,1)=='#'){
		event.preventDefault();
		var _parent = $($.attr(this, 'href')).parent();
		$('html, body').animate({
			scrollTop: $( $.attr(this, 'href') ).offset().top-$('header').outerHeight()
		}, 500);
		_parent.delay(1000).addClass('shadow-pulse');
		_parent.one('webkitAnimationEnd oanimationend msAnimationEnd animationend',
    function(e) {
		    _parent.removeClass('shadow-pulse');
		});

	}else if($(this).attr('href').substr(0,1)=='*'){
		event.preventDefault();
		$('html, body').animate({
			scrollTop: $( $.attr(this, 'href').replace('*','#')).offset().top-$('header').outerHeight()
		}, 500);
	}

});
</script>