﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/tw/_Layout.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-about">
		<h1 class="page-title title-large">了解日月光</h1>
		<video poster="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/about/video.jpg")" class="about-video" id="bgvid" playsinline autoplay muted loop>
			<!-- 使用JS增加Source -->
		</video>
	</section>

	<!--麵包屑-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="@Url.Action("Index", "Home", new { lang = ViewBag.language.lang })"><i class="icon-home"></i><span itemprop="name">首頁</span></a>
                <meta itemprop="position" content="1" />
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "About" })"><span itemprop="name">了解日月光</span></a>
                <meta itemprop="position" content="2" />
            </li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="#"><span itemprop="name">營運據點</span></a>
					<meta itemprop="position" content="3" />
				</li>
			</ol>
		</div>
	</div>

	<div class="breadcrumbs-pc pull-left" id="breadcrumbs-pc">
	<!-- PC版選單麵包屑內容 -->
		<ul class="breadcrumbs-view" id="breadcrumbs-view">
			<li class="dropdown-item">
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })">技術</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" })">產品</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Solution" })">解決方案</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Lab" })">投資人關係</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })">企業社會責任</a></li>
					<li><a class="active" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "About" })">了解日月光</a></li>
				</ul>
			</li>
			<li class="dropdown-item">
				<a href="javascript:;">了解日月光</a>
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
                <li><a href="@Url.Action("milestones", "About", new { lang = ViewBag.language.lang })">大事紀</a></li>
				<li><a href="@Url.Action("Awards", "About", new { lang = ViewBag.language.lang })">獎項肯定</a></li>
                <li><a href="@Url.Action("ASE_Turnkey_Services", "About", new { lang = ViewBag.language.lang })">一元化服務</a></li>
                <li><a href="@Url.Action("Manufacturing_Facilities", "About", new { lang = ViewBag.language.lang })">全球工廠據點</a></li>
                <li><a href="@Url.Action("plants_offices", "About", new { lang = ViewBag.language.lang })">營運據點</a></li>
				<li>
                            <a href="@Url.Action("Index", new { controller = "Events", lang = ViewBag.lang })">活動</a>
				</li>
				<li>
                            <a href="@Url.Action("List", new { controller = "PressRoom", lang = ViewBag.lang })">新聞</a>
				</li>

                <li><a href="@Url.Action("Careers", "About", new { lang = ViewBag.language.lang })">人才招募</a></li>
                <li><a href="@Url.Action("Contact", "About", new { lang = ViewBag.language.lang })">聯絡日月光</a></li>
				</ul>
			</li>
		</ul>
	</div>
	
	<!-- Content -->
	<section class="plants-Offices tab">
		<div class="content-lg row">
			<div class="col-xs-12">
				<ul class="tabs">
					<li class="active">
						<a href="@Url.Action("plants_offices_ase", "About", new { lang = ViewBag.language.lang })>日月光</a>
					</li>
					<li>
						<a href="@Url.Action("plants_offices_usi", "About", new { lang = ViewBag.language.lang })>環隆電氣</a>
					</li>
				</ul>		
			</div>
		</div>		
	</section>
	<section  class="ir-list bgnews-list plants-list">
		<div class="content-lg row">
			<div class="col-xs-12 col-md-5">
				<div class="list">
					<h4 class="text-center">工廠
						<a href="*PLANTS" class="circle_button"><i class="icon-cross"></i></a>
					</h4>
					<div class="content">
						<div class="row plants-row ">
							<div class="col-xs-12 col-md-7">
							<div class="continent">日月光</div>
                                <ul class="plants-ul">
                                    <li class="ic"><a href="#TAIWAN-KAOHSIUNG">台灣｜高雄廠</a></li>
                                    <li class="ic"><a href="#TAIWAN-CHUNGLI">台灣｜中壢廠</a></li>
                                    <li class="ic"><a href="#CHINA-SHANGHAI-A">中國｜上海廠 </a></li> 
                                    <li class="ic"><a href="#CHINA-KUNSHAN">中國｜昆山廠 </a></li>
                                    <li class="ic"><a href="#CHINA-SUZHOU">中國｜蘇州日月新</a></li>
                                    <li class="ic"><a href="#CHINA-WEIHAI">中國｜山東威海廠</a></li>
                                    <li class="ic"><a href="#CHINA-WUXI">中國｜無錫 </a></li>
                                </ul>
                            </div>    
                            <div class="col-xs-12 col-md-5">
							<br>
                                <ul class="plants-ul">
                                    <li class="ic"><a href="#KOREA-PAJU">韓國廠｜坡州 </a></li>
                                    <li class="ic"><a href="#JAPAN-YAMAGATA">日本廠｜山形 </a></li>
                                    <li class="ic"><a href="#MALAYSIA">馬來西亞廠</a></li>
                                    <li class="ic"><a href="#SINGAPORE">新加坡廠</a></li>
                                </ul>
								<div class="continent" style="margin-bottom:0">ISE  LABS
								</div>
								<ul class="plants-ul">
                                    <li class="ic"><a href="#ISE-AUSTIN">美國｜德州奧斯汀</a></li>
									<li class="ic"><a href="#ISE-Labs">美國｜加州費利蒙</a></li>                                    
                                </ul>
                            </div>
                         </div>   
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-7">
				<div class="list">
					<h4 class="text-center"><span>業務服務辦公室</span>
						<a href="@Url.Action("plants_offices_ase", "About", new { lang = ViewBag.language.lang }) class="circle_button"><i class="icon-cross"></i></a>
					</h4>
					<div class="content">
						<div class="row plants-row">
							<div class="col-xs-12 col-md-4">
                                <div class="continent">亞洲</div>
                                <ul class="plants-ul">
                                    <li class="sales"><a href="@Url.Action("plants_offices_ase", "About", new { lang = ViewBag.language.lang })>台灣｜新竹</a></li>
                                    <li class="sales"><a href="@Url.Action("plants_offices_ase", "About", new { lang = ViewBag.language.lang })>中國｜北京/上海</a></li>
                                    <li class="sales"><a href="@Url.Action("plants_offices_ase", "About", new { lang = ViewBag.language.lang })>中國｜深圳</a></li>
                                    <li class="sales"><a href="@Url.Action("plants_offices_ase", "About", new { lang = ViewBag.language.lang })>日本｜橫濱</a></li>
                                    <li class="sales"><a href="@Url.Action("plants_offices_ase", "About", new { lang = ViewBag.language.lang })>韓國｜首爾 </a></li>
                                    <li class="sales"><a href="@Url.Action("plants_offices_ase", "About", new { lang = ViewBag.language.lang })>新加坡</a></li>
                                </ul>
                             </div>   
							<div class="col-xs-12 col-md-5">
                                <div class="continent">北美</div>
                                <ul class="plants-ul">
                                    <li class="sales"><a href="@Url.Action("plants_offices_ase", "About", new { lang = ViewBag.language.lang })>美國｜北加州</a></li>
                                    <li class="sales"><a href="@Url.Action("plants_offices_ase", "About", new { lang = ViewBag.language.lang })>美國｜南加州</a></li>
                                    <li class="sales"><a href="@Url.Action("plants_offices_ase", "About", new { lang = ViewBag.language.lang })>美國｜德州奧斯汀</a></li>
                                    <li class="sales"><a href="@Url.Action("plants_offices_ase", "About", new { lang = ViewBag.language.lang })>美國｜德州達拉斯</a></li>
                                    <li class="sales"><a href="@Url.Action("plants_offices_ase", "About", new { lang = ViewBag.language.lang })>美國｜麻塞諸塞州波士頓</a></li>
                                    <li class="sales"><a href="@Url.Action("plants_offices_ase", "About", new { lang = ViewBag.language.lang })>美國｜亞歷桑納州</a></li>
                                    <li class="sales"><a href="@Url.Action("plants_offices_ase", "About", new { lang = ViewBag.language.lang })>美國｜北卡羅來納州 </a></li>
                                </ul>
                            </div>    
							<div class="col-xs-12 col-md-3">
							<div class="continent">歐洲</div>
							<ul class="plants-ul">
								<li class="service"><a href="@Url.Action("plants_offices_ase", "About", new { lang = ViewBag.language.lang })>比利時</a></li>
							</ul>
						</div>
                        </div>
					</div>
				</div>
			</div>
            <div class="col-xs-12 col-md-12 text-center">
				<ul class="plants-color">
					<li class="ic">IC服務</li>
					<li class="system">系統組裝服務</li>
					<li class="sales">業務辦公室</li>
					<li class="service">業務服務辦公室</li>
				</ul>	
			</div>
		</div>
	</section>
    <section class="plants-Offices general">
		<div class="content-lg row">
			<div class="col-xs-12">
				<h2 class="title" id="PLANTS">工廠</h2>
			</div>
		</div>
	</section>			
	<section class="page-list-content plants-Offices">
		<div class="content-lg row">
			<ul id="list-content" class="col-xs-12 list-base list-link office-list-content">
				<li>
					<a href="javascript:;" class="link-disable">
						<div id="TAIWAN-KAOHSIUNG" class="office">台灣｜高雄廠 </div>
						<div class="text-box">
							<div class="content-wrapper">								
								<p class="phone"><span class="glyphicon glyphicon-earphone"></span>886-7-361-7131 # 83667</p>
								<p class="user"><span class="glyphicon glyphicon-user"></span>Max Lu</p>
								<p class="email"><span class="glyphicon glyphicon-envelope"></span>max_lu@aseglobal.com</p>
								<p class="address"><span class="glyphicon glyphicon-map-marker"></span>高雄市楠梓加工出口區經三路26號</p>								
							</div>							
						</div>
					</a>
				</li>
				<li>
					<a href="javascript:;" class="link-disable">
						<div id="TAIWAN-CHUNGLI" class="office">台灣｜中壢廠 </div>
						<div class="text-box">
							<div class="content-wrapper">								
								<p class="phone"><span class="glyphicon glyphicon-earphone"></span>886-3-452-7121 #67900</p>
                                <p class="user"><span class="glyphicon glyphicon-user"></span>Stephen Chang</p>
								<p class="email"><span class="glyphicon glyphicon-envelope"></span>stephen_chang@aseglobal.com </p>
                                <p class="address"><span class="glyphicon glyphicon-map-marker"></span>桃園縣中壢市中華路一段550號</p>								
							</div>							
						</div>
					</a>
				</li>
				<li>
					<a href="javascript:;" class="link-disable">
						<div id="CHINA-SHANGHAI-A" class="office">中國｜上海封測廠</div>
						<div class="text-box">
							<div class="content-wrapper">								
								<p class="phone"><span class="glyphicon glyphicon-earphone"></span>86-21-5080-1060 #56000</p>
                                <p class="user"><span class="glyphicon glyphicon-user"></span>Lucy Lu</p>
								<p class="email"><span class="glyphicon glyphicon-envelope"></span>lucy_lu@aseglobal.com</p>
                                <p class="address"><span class="glyphicon glyphicon-map-marker"></span>中國上海市浦東新區張江高科技園區郭守敬路669號</p>	
							</div>							
						</div>
					</a>
				</li>
				<li>
					<a href="javascript:;" class="link-disable">
						<div id="CHINA-SHANGHAI-M" class="office">中國｜上海材料廠</div>
						<div class="text-box">
							<div class="content-wrapper">								
								<p class="phone"><span class="glyphicon glyphicon-earphone"></span>86-21-5080-5888</p>								
								<p class="address"><span class="glyphicon glyphicon-map-marker"></span>中國上海市浦東新區張江高科技園區金科路2300號</p>
							</div>							
						</div>
					</a>
				</li>
				<li>
					<a href="javascript:;" class="link-disable">
						<div id="CHINA-KUNSHAN" class="office">中國｜昆山廠 </div>
						<div class="text-box">
							<div class="content-wrapper">								
								<p class="phone"><span class="glyphicon glyphicon-earphone"></span>86-512-5528-8888 #89000</p>
								<p class="user"><span class="glyphicon glyphicon-user"></span>Jeffrey Hsiao</p>
								<p class="email"><span class="glyphicon glyphicon-envelope"></span>jeffrey_hsiao@aseglobal.com</p>
								<p class="address"><span class="glyphicon glyphicon-map-marker"></span>中國江蘇省昆山市千灯鎮淞南路373號</p>
							</div>							
						</div>
					</a>
				</li>
				<li>
					<a href="javascript:;" class="link-disable">
						<div id="CHINA-SUZHOU" class="office">中國｜蘇州日月新 </div>
						<div class="text-box">
							<div class="content-wrapper">								
								<p class="phone"><span class="glyphicon glyphicon-earphone"></span>86-512-6725-1788 #3830</p>
								<p class="user"><span class="glyphicon glyphicon-user"></span>Tony Chang</p>
								<p class="email"><span class="glyphicon glyphicon-envelope"></span>tonytw_chang@aseglobal.com</p>
								<p class="address"><span class="glyphicon glyphicon-map-marker"></span>中國蘇州工業園區蘇虹西路188號</p>
							</div>							
						</div>
					</a>
				</li>
                <li>
					<a href="javascript:;" class="link-disable">
						<div id="CHINA-WEIHAI" class="office">中國｜山東威海廠</div>
						<div class="text-box">
							<div class="content-wrapper">								
								<p class="phone"><span class="glyphicon glyphicon-earphone"></span>86-631-5915-000 # 81703</p>
								<p class="user"><span class="glyphicon glyphicon-user"></span>Mandy Huang</p>
								<p class="email"><span class="glyphicon glyphicon-envelope"></span>jialing_huang@aseglobal.com</p>
								<p class="address"><span class="glyphicon glyphicon-map-marker"></span>中國威海市經濟技術發展出口加工區海南路16-1號</p>
							</div>							
						</div>
					</a>
				</li>
                <li>
					<a href="javascript:;" class="link-disable">
						<div id="CHINA-WUXI" class="office">中國｜無錫 </div>
						<div class="text-box">
							<div class="content-wrapper">								
								<p class="phone"><span class="glyphicon glyphicon-earphone"></span>86-510-8522-5352</p>
								<p class="user"><span class="glyphicon glyphicon-user"></span>Tina Guo</p>
								<p class="email"><span class="glyphicon glyphicon-envelope"></span>yinjie_guo@aseglobal.com</p>
								<p class="address"><span class="glyphicon glyphicon-map-marker"></span>中國江蘇省無錫市無錫高新技術開發區52號地塊29-B廠房閩江路21號</p>
							</div>							
						</div>
					</a>
				</li>
                <li>
					<a href="javascript:;" class="link-disable">
						<div id="KOREA-PAJU" class="office">韓國廠｜坡州 </div>
						<div class="text-box">
							<div class="content-wrapper">								
								<p class="phone"><span class="glyphicon glyphicon-earphone"></span>82-31-940-0484</p>
								<p class="user"><span class="glyphicon glyphicon-user"></span>Hyung J. Park</p>
								<p class="email"><span class="glyphicon glyphicon-envelope"></span>hyungjpark@asekr.com</p>
								<p class="address"><span class="glyphicon glyphicon-map-marker"></span>494, Munbal-ri, Kyoha-myun, Paju-shi Kyunggi-do, Korea</p>
							</div>							
						</div>
					</a>
				</li>
                <li>
					<a href="javascript:;" class="link-disable">
						<div id="JAPAN-YAMAGATA" class="office">日本廠｜山形</div>
						<div class="text-box">
							<div class="content-wrapper">								
								<p class="phone"><span class="glyphicon glyphicon-earphone"></span>81-238-57-3894</p>
								<p class="email"><span class="glyphicon glyphicon-envelope"></span>asej_market@asejp.aseglobal.com</p>
								<p class="address"><span class="glyphicon glyphicon-map-marker"></span>1863, Ooazairyuda, Takahata-machi Higashiokitama-gun, Yamagata,
992-0324, Japan</p>
							</div>							
						</div>
					</a>
				</li>
                <li>
					<a href="javascript:;" class="link-disable">
						<div id="MALAYSIA" class="office">馬來西亞廠</div>
						<div class="text-box">
							<div class="content-wrapper">								
								<p class="phone"><span class="glyphicon glyphicon-earphone"></span>60-4-632-8202</p>
								<p class="user"><span class="glyphicon glyphicon-user"></span>G.H.OOI</p>
								<p class="email"><span class="glyphicon glyphicon-envelope"></span>gh_ooi@asemal.com.my</p>
								<p class="address"><span class="glyphicon glyphicon-map-marker"></span>Phase 4, Bayan Lepas Free Industrial Zone 11900 Penang, Malaysia</p>
							</div>							
						</div>
					</a>
				</li>
                <li>
					<a href="javascript:;" class="link-disable">
						<div id="SINGAPORE" class="office">新加坡廠</div>
						<div class="text-box">
							<div class="content-wrapper">								
								<p class="phone"><span class="glyphicon glyphicon-earphone"></span>65-6631-4499</p>
								<p class="user"><span class="glyphicon glyphicon-user"></span>Jennifer Yuen</p>
								<p class="email"><span class="glyphicon glyphicon-envelope"></span>jennifer.yuen@aseus.com</p>
								<p class="address"><span class="glyphicon glyphicon-map-marker"></span>2 Woodlands Loop Singapore 738074</p>
							</div>							
						</div>
					</a>
				</li>
								<li>
					<a href="javascript:;" class="link-disable">
						<div id="ISE-AUSTIN" class="office">美國｜德州奧斯汀</div>
						<div class="text-box">
							<div class="content-wrapper">
								<p class="email"><span class="glyphicon glyphicon-envelope"></span>info@iselabs.com</p>
								<p class="address"><span class="glyphicon glyphicon-map-marker"></span>11501 Domain Drive, Suite 160, Austin,<br />Texas 78758, USA</p>								
							</div>							
						</div>
					</a>
				</li>
				<li>
					<a href="javascript:;" class="link-disable">
						<div id="ISE-Labs" class="office">美國｜加州費利蒙</div>
						<div class="text-box">
							<div class="content-wrapper">								
								<p class="phone"><span class="glyphicon glyphicon-earphone"></span>1-510-687-2500</p>
								<p class="user"><span class="glyphicon glyphicon-user"></span>Vince Sy</p>
								<p class="email"><span class="glyphicon glyphicon-envelope"></span>info@iselabs.com</p>
								<p class="address"><span class="glyphicon glyphicon-map-marker"></span>46800 Bayside Parkway Fremont, CA 94538, USA</p>
									
							</div>							
						</div>
					</a>
				</li>
			</ul>	
		</div>		
	</section>    
	
    <section class="plants_link">
		<div class="content-lg row">
			<div class="col-xs-12">
				<div class="list">
					<div class="content">
						<a class="button" href="@Url.Action("plants_offices_ase", "About", new { lang = ViewBag.language.lang })><span>業務服務辦公室</span><i class="icon-arrow-right"></i></a>						
												 
		  
					</div>		
				</div>
			</div>
		</div>
	</section>
<script>
$(document).on('click', 'a', function(event){
	if($(this).attr('href').substr(0,1)=='#'){		
		event.preventDefault();
		var _parent = $($.attr(this, 'href')).parent();
		$('html, body').animate({
			scrollTop: $( $.attr(this, 'href') ).offset().top-$('header').outerHeight()
		}, 500);
		if($(this).attr('href').substr(1)=="CHINA-SHANGHAI-A"){
			var _parent2 =$('#CHINA-SHANGHAI-M').parent();
			_parent2.delay(1000).addClass('shadow-pulse');		
			_parent2.one('webkitAnimationEnd oanimationend msAnimationEnd animationend',   
		function(e) {
				_parent2.removeClass('shadow-pulse');
			});
		}
		_parent.delay(1000).addClass('shadow-pulse');		
		_parent.one('webkitAnimationEnd oanimationend msAnimationEnd animationend',   
    function(e) {
		    _parent.removeClass('shadow-pulse');
		});
		

	}else if($(this).attr('href').substr(0,1)=='*'){
		event.preventDefault();	
		$('html, body').animate({
			scrollTop: $( $.attr(this, 'href').replace('*','#')).offset().top-$('header').outerHeight()
		}, 500);
	}
	
});
</script>

