﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-csr">
		<h1 class="page-title-csr title-large">CORPORATE SOCIAL RESPONSIBILITY</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->
	
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">Climate Change Management</h3>
				<p>
					We have established a clear focus on low-carbon development in response to climate change and fluctuating energy supply. We are committed to taking firm actions to mitigate the emission of greenhouse gases throughout our business operations. We aim to address and integrate climate change with our development strategies by
					<ul class="nopadding">
						<li>Establishing an overall carbon management system to implement low-carbon strategies and policies in accordance with our three major guiding principles – "energy saving," "green energy" and "energy storage".</li>
						<li>Investing in renewable energy.</li>
						<li>Innovating and promoting low-carbon products and services.</li>
						<li>Identifying our vulnerabilities to climate change and developing adaptation strategies.</li>
						<li>Cultivating a "green" corporate culture and becoming a leading low-carbon solution provider.</li>
					</ul>
				</p>
			</article>
		</div>
	</section>

	<section class="csr-bg">
		<div class="content-lg row">
			<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 csr">
				<div class="col-sm-6 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("environmental_sustainability", "CSR", new { lang = ViewBag.language.lang, param1 = "climate_change_management", param2 = "risk_opportunity" })">
						
							<span class="blue-text-in-box">Risk & Opportunity</span>
							<div class="circle_button-wrapper pull-right">
								<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>
				<div class="col-sm-6 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("environmental_sustainability", "CSR", new { lang = ViewBag.language.lang, param1 = "climate_change_management", param2 = "greenhouse_gas_emissions" })">
							<span class="blue-text-in-box">Greenhouse Gas Emissions</span>
							<div class="circle_button-wrapper">
								<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 csr">
				<div class="col-sm-6 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("environmental_sustainability", "CSR", new { lang = ViewBag.language.lang, param1 = "climate_change_management", param2 = "energy_management_and_conservation" })">
							<span class="blue-text-in-box">Energy Management and Conservation</span>
							<div class="circle_button-wrapper pull-right">
								<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>
			
				<div class="col-sm-6 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("environmental_sustainability", "CSR", new { lang = ViewBag.language.lang, param1 = "climate_change_management", param2 = "external_initiatives" })">
							<span class="blue-text-in-box">External Initiatives</span>
							<div class="circle_button-wrapper">
								<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>