﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-csr">
		<h1 class="page-title-csr title-large">CORPORATE SOCIAL RESPONSIBILITY</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/csr"><span itemprop="name">Sustainability</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/public/en/csr/environment_green_innovation.html"><span itemprop="name">Environment</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/csr/environmental_sustainability/green_bond"><span itemprop="name">Green Bond</span></a>
					<meta itemprop="position" content="3" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->

	<!-- Letter from the Chairman -->
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				
				<h3 class="title">Green Bond</h3>
				<p>
					<strong>ASE Group has issued Asia's first corporate Green Bond through its subsidiary Anstock II Limited</strong>, a US$300 million three-year senior offering, to demonstrate its commitment on transition to low-carbon and climate resilient growth.<br><br>

					In 2015, ASE's Green Bond was awarded Country Deals of the Year 2014 by Asiamoney. In 2016, ASE was further certified as First Emerging Market Corporate Green Bond and First Green Bond in Taiwan by <a href="https://www.climatebonds.net/market/2016-awards" target="_blank">Climate Bonds Initiative (“CBI”)</a>.<br><br>

					Green Bond is a debt instrument issued under the Green Bond Principles, which are voluntary process guidelines developed by issuers, investors, and environmental groups to recommend transparency and disclosure and promote integrity in the development of the Green Bond, and with defined guidelines on Use of Proceeds, Process for Project Evaluation and Selection, Management of Proceeds, and Reporting. The Green Bond Principles published in January, 2014.
				</p>
			</article>
			<article class="col-xs-12">
				<div class="col-sm-4 picture-padding-2">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/green_bond1.jpg"><br>
					Green building<br><br>
				</div>
				<div class="col-sm-4 picture-padding-2">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/green_bond2.jpg"><br>
					SCADA (supervisory control and data acquisition)<br><br>
				</div>
				<div class="col-sm-4 picture-padding-2">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/green_bond3.jpg"><br>
					LED monitor screen showing the key effluent water indices<br><br>
				</div>
				<p>
					The Green Bond framework was reviewed by the independent, non-for-profit research institute, Center for International Climate and Environmental Research - Oslo ("CICERO").
				</p>
			</article>
		</div>
	</section>
	<section class="csr-bg">
		<div class="content-lg row">
			<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 csr">
				<div class="col-sm-6 bgnews-list list-base">
					<div class="content">
						<a href="/public/en/csr/green_bond_issuance.html">
							<span class="blue-text-in-box">Flowchart of Green Bond Issuance</span>
							<div class="circle_button-wrapper pull-right">
								<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>
				<div class="col-sm-6 bgnews-list list-base">
					<div class="content">
						<a  href="@Url.Action("environmental_sustainability", "CSR", new { lang = ViewBag.language.lang, param1 = "green_bond", param2 = "green_bond_investor_letter" })">					
							
							<span class="blue-text-in-box">Green Bond Investor Letter</span>
							<div class="circle_button-wrapper pull-right">
								<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>