﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
    ViewBag.Title = "Green Facility";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-csr">
		<h1 class="page-title-csr title-large">SUSTAINABILITY</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/csr"><span itemprop="name">Sustainability</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <a itemprop="item" href="/public/en/csr/environment_green_innovation.html"><span itemprop="name">Environment and Green Innovation</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/csr/environmental_sustainability/green_facility"><span itemprop="name">Green Facility</span></a>
					<meta itemprop="position" content="3" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->
	
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">Green Facility</h3>
				<p>
					Since 2012, ASE has begun upgrading existing facilities and constructing all new manufacturing facilities and office buildings according to international Green Building standards such as the U.S. LEED (Leadership in Energy and Environmental Design) and Taiwan EEWH (Ecology, Energy Saving, Waste Reduction and Health). We further promote the "Green Factory Label" Certification by implementing the Green Building concepts as well as Clean Production Processes to create a better working environment that uses energy more efficiently, enhances people's health and safety, improves reliability, operational efficiency and business performance.
				</p>
                <br>
				<h4 class="sub-title">Low Carbon Buildings and Green Factories</h4>
				<p>
					Increasing the energy efficiency and reducing the carbon emissions from buildings are critical in slowing down climate change. As part of ASEH’s green building initiatives, the company had already begun to transform existing factories and offices, and build new ones that conform to green building standards. In keeping with ASEH’s commitment to low-carbon manufacturing, we are transitioning green factories into low-carbon buildings by introducing the ‘carbon footprint of buildings’ concept in 2012, in which the carbon emissions of buildings were quantified and analyzed throughout their lifecycle to drive carbon reductions from the design stage.<br><br>

                    In 2019, ASE K24 became the first ever semiconductor packaging plant to receive a low-carbon building certification. Going forward, ASEH is in a leadership position to work together with industry partners to build sustainable industrial parks. In addition to more investments in low-carbon buildings, ASEH is also evaluating clean manufacturing as an integral part of ‘green factory’ certification and we aim to have all of our new facilities duly certified in future.
				</p>
                <br>
                <div class="col-md-6 nopadding">
                    <h4 class="sub-title">ASE Green Buildings</h4>
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/sustainability_highlights_green_facilities2021.png" class="img-responsive">
                </div>
                <div class="col-md-6 nopadding">
                    <h4 class="sub-title">ASE Green Factory</h4>
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/sustainability_highlights_green_facilities2020.png" class="img-responsive">
                </div>
                <div class="clearfix"></div>
                <br>
			</article>
		</div>
	</section>
	<section class="csr-bg">
		<div class="content-lg row">
			<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 csr">
				<div class="col-sm-12 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("sustainability_highlights", "CSR", new { lang = ViewBag.language.lang, param1="green_facilities" })">
							<span class="blue-text-in-box">Green Facilities at ASE</span>
							<div class="circle_button-wrapper pull-right">
								<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script>
	$(document).ready(function() {
		$('[data-toggle="popover"]').popover();
	})
	</script>
	<style>
	/* Popover Body */
	.popover-content {
	  color: #444444;
	  text-align: left;
	}
	</style>