﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-csr">
		<h1 class="page-title-csr title-large">CORPORATE SOCIAL RESPONSIBILITY</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->

	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">Pollution Prevention</h3>
				<p>
					All of ASE's facilities strive to reduce their pollutant emissions to minimize the impact on the environment and slow down climate change. ASE uses the ISO 14001 Environmental Management System standard as the foundation of its pollution prevention efforts. It has also adopted the "plan-do-check-act" management model to continuously improve, and works to integrate its organization and management system requirements. The company uses high-efficiency prevention facilities and action plans to address pollution emissions behavior and volume, seeking to find common ground between its sustainable development goals and environmental protection.
				</p>
				<h4 class="sub-title">Waste Management</h4>
			</article>
			<div class="col-sm-8 col-md-8">
				<p>
					ASE generated 53,638 metric tons of waste in 2017, a reduction of 1.5% compared to 2016. The volume of general waste increased by 404 metric tons, while the volume of hazardous waste decreased by 1,230 metric tons. Of the total amount of generated waste<a href="javascript:;" data-toggle="popover" data-trigger="hover" data-content="Waste is treated locally at all operational sites (under the Basel Convention, waste should be treated locally to prevent environmental pollution generated from cross-boundary transportation)." data-placement="bottom">*</a>, 71% (composed of 25% hazardous waste and 46% general waste) was reused, recycled, recovered or composted to lower the impact on the environment. The remaining 29% was treated using other methods, including landfilling, incinerating and solidifying.<br><br>

					To lower the impact of pollutants on the environment, ASE is not only working to reduce pollution sources and find alternative materials that can lower the amount of waste generated, but has also begun to adopt waste regeneration measures to recycle and reuse waste effectively. For example, the cushioning materials used in the packaging of products and empty raw material barrels are recycled and reused. We are also continuing with our efforts to cut down on pollutant generation and optimize waste treatment, such as treating hazardous waste from factories by ourselves, reducing the number of pollutant sources and recycling waste liquids. We also collaborate with academia to drive optimization and take protective measures to reduce the impact of pollution on the environment. Our aim is to become a benchmark company in environmental protection.
				</p>
			</div>
			<div class="col-sm-4 col-md-4">
				<a class="image-popup" href="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/pollution_prevention.png"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/pollution_prevention.png" style="width: 100%"></a>
			</div>
			<div class="clearfix"></div>
			<div class="col-md-10 col-md-offset-1">
				<br>
				<div class="table-responsive inside-table">
					<table class="table table-striped table-hover csr">
						<thead>
							<tr>
								<th style="font-size: 15px">2017 Waste Treatment Methods<br>(unit: metric tons)<a href="javascript:;" data-toggle="popover" data-trigger="hover" data-content="The waste weight data is calculated by summing up the weight of each trip to remove the waste." data-placement="bottom">*</a></th>
								<th class="left-border" style="font-size: 15px">Reusing</th>
								<th class="left-border" style="font-size: 15px">Recycling</th>
								<th class="left-border" style="font-size: 15px">Recovery, including<br>energy recovery</th>
								<th class="left-border" style="font-size: 15px">Composting</th>
								<th class="left-border" style="font-size: 15px">Landfilling</th>
								<th class="left-border" style="font-size: 15px">Incinerating</th>
								<th class="left-border" style="font-size: 15px">Solidifying</th>
								<th class="left-border" style="font-size: 15px">Other</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="text-center">
									<strong>Hazardous waste</strong>
								</td>
								<td class="left-border text-center">
									6,088
								</td>
								<td class="left-border text-center">
									4,185
								</td>
								<td class="left-border text-center">
									3,187
								</td>
								<td class="left-border text-center">
									0
								</td>
								<td class="left-border text-center">
									5
								</td>
								<td class="left-border text-center">
									5,625
								</td>
								<td class="left-border text-center">
									5,176
								</td>
								<td class="left-border text-center">
									1,006
								</td>
							</tr>
							<tr>
								<td class="text-center">
									<strong>General waste</strong>
								</td>
								<td class="left-border text-center">
									1,260
								</td>
								<td class="left-border text-center">
									18,971
								</td>
								<td class="left-border text-center">
									18,971
								</td>
								<td class="left-border text-center">
									855
								</td>
								<td class="left-border text-center">
									2,837
								</td>
								<td class="left-border text-center">
									603
								</td>
								<td class="left-border text-center">
									68
								</td>
								<td class="left-border text-center">
									203
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<br>
			</div>
			<article class="col-xs-12">
				<h4 class="sub-title">Gas Emissions Control</h4>
				<p>
					The main types of gas emissions produced by ASE's facilities are volatile organic compounds (VOCs), sulfur oxides (SOx), nitrogen oxides (NOx) and particulate pollutants. We use various methods to treat gas emissions, including wet scrubbers, activated carbon adsorption, condenser systems, advance oxidation processes and regenerative thermal oxidizers. After emissions standards are met, emissions are discharged into the atmosphere.<br><br>

					In 2017, ASE generated 281 metric tons of VOCs<a href="javascript:;" data-toggle="popover" data-trigger="hover" data-content="VOCs are calculated using public factors, and are either directly measured or calculated using mass balancing." data-placement="bottom">*</a>, 11 metric tons of SOx<a href="javascript:;" data-toggle="popover" data-trigger="hover" data-content="SOx is calculated using public factors, or converted using the composition ratio." data-placement="bottom">*</a>, 26 metric tons of NOx<a href="javascript:;" data-toggle="popover" data-trigger="hover" data-content="NOx is calculated using public factors, or directly measured." data-placement="bottom">*</a> and zero tons of ozone depleting substances<a href="javascript:;" data-toggle="popover" data-trigger="hover" data-content="Only emissions of ozone depleting substances used as raw materials during manufacturing activities are considered. Other vaporization activities related to manufacturing activities are not considered part of the business' main activities and are therefore excluded from disclosure." data-placement="bottom">*</a>. As the ASE Kaohsiung facility began upgrading at the end of 2016 the Regenerative Thermal Oxidizer it set up to improve its VOCs treatment efficiency, the SOx emissions amount increased by 1.42 metric tons and the NOx emissions amount increased by 12.06 metric tons compared to the previous year. The air pollutants were handled using existing treatment facilities, while we also strove to improve treatment efficiency. In 2017, we achieved a 44 % reduction rate in gas emissions. This rate was calculated by an impartial, third party agency using end emissions testing to reflect actual reductions. Actual VOCs emissions rose by 12 metric tons in 2017 compared to 2016 as an indirect result of operational expansion. However, the elimination of emissions or improvement of efficiency programs of existing prevention equipment resulted in an actual VOCs reduction of 218.4 metric tons, an 85.9% increase compared to 2016's 117.5 metric tons. We plan to continuously expand our operations in the future, and our air pollutant management plan will center on the following actions to reduce air pollutant emissions:<br>
					<ul class="nopadding">
						<li>Reduce usage of high VOCs raw materials, or substitute them with low-pollutant materials.</li>
						<li>Introduce high-efficiency treatment equipment (such as regenerative thermal oxidizers, activated carbon adsorption systems, condenser systems) into existing and new facilities.</li>
						<li>Integrate the resources of academia and industry to study emissions segregation and reduction at end sources, and optimize chemical agent use and displacement operating parameters at end prevention facilities.</li>
						<li>Install airtight negative pressure functions on machines and equipment to increase the gas collection effects and optimize the efficiency of prevention equipment.</li>
						<li>Upgrade existing wet scrubbing equipment to biological scrubbers by adding nutrient sources to degrade VOCs and reduce emissions.</li>
					</ul>
				</p>
				<h4 class="sub-title">Noise Control</h4>
				<p>
					The noise monitoring for the perimeter of the plant complies with local regulations. Our noise management has applied the industry-university cooperation technology in the past two years to analyze and distinguish the sources of noise generation, and to directly improve specific sources, reduce noise by reducing (decreasing) noise or limiting noise. Provides the quality of the environment where local residents live and employees work. Although all of them complied with local regulations in 2017, the Korean factory still experienced a situation of the residents' grievances. The local residents hope that the operation of the factory can further effectively manage and limit the noise, so as to reduce the impact on local. The plant area has used the management model to control the noise and fully respond to the residents' requirements. It has also succeeded in achieving mutual consensus.
				</p>
			</article>
		</div>
	</section>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script>
	$(document).ready(function(){
	    $('[data-toggle="popover"]').popover();   
	});
	</script>
	<style type="text/css">
		.popover-content {
	    color: #333333;
	    font-size: 14px;
		line-height: 1.3;
		text-align: left;
		}
	</style>