﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
    ViewBag.Title = "Sustainable Manufacturing";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-csr">
		<h1 class="page-title-csr title-large">SUSTAINABILITY</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/csr"><span itemprop="name">Sustainability</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <a itemprop="item" href="/public/en/csr/environment_green_innovation.html"><span itemprop="name">Environment and Green Innovation</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/csr/environmental_sustainability/sustainable_manufacturing"><span itemprop="name">Sustainable Manufacturing</span></a>
					<meta itemprop="position" content="3" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->

	<section class="inside-article">
        <div class="content-lg row">
            <article class="col-xs-12">
                <h3 class="title">Sustainable Manufacturing</h3>
                <h4 class="sub-title">Sustainable Manufacturing Declaration</h4>
                <p>
                    ASE Group provides eco-efficient and responsible service to customers through the integration of sustainable practices into all stages of the manufacturing process, including material usage, design, procurement, production and packing. These practices help reduce costs, enhance competitiveness and reduce the impacts on environment, safety and health.<br><br>

                    ASE Group is committed to:<br>
                    <ul class="nopadding">
                        <li>Complying with all applicable laws and regulations.</li>
                        <li>Managing hazardous substances in parts and materials that are used to make products.</li>
                        <li>Providing product solutions that are compact, lightweight and energy efficient.</li>
                        <li>Continuously enhancing resource recycling, reducing greenhouse gas emissions, waste generation, wastewater effluent and chemical usage.</li>
                        <li>Reducing product packaging and wastes.</li>
                    </ul>
                </p>
                <h4 class="sub-title">ASE Group Green Laboratory</h4>
                <p>
                    Our green laboratory is dedicated to the following:<br>
                    <ul class="nopadding">
                        <li>Evaluation and development of green materials: Evaluation of non-toxic or low toxic product raw materials and process chemicals.</li>
                        <li>Development of environmental testing technology: Establishment of monitoring technology, mechanism and standard, compliant with world environmental regulations.</li>
                        <li>Development of Green Process: Improve utilization rate of chemicals or raw materials; evaluate recovery, reduction and reproduction technologies for waste, wastewater and chemicals.</li>
                        <li>Development of Environment Friendly Packaging: Develop bio-composite packaging materials.</li>
                    </ul>
                </p>
                <h4 class="sub-title">Sustainable Manufacturing Measure</h4>
                <p>
                    Since all of the manufacturing stages are closely interlinked in terms of environmental, health and safety impact, continuous efforts are required to make incremental improvements and to achieve technological innovation. ASE aims to make such improvement and innovative efforts throughout our operations in order to continuously deliver sustainable products to customers.
                </p>
            </article>
            <div class="col-md-10 col-md-offset-1">
                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/sustainable_manufacturing-pic.png">
            </div>
            <div class="clearfix"></div><br>
            <article class="col-xs-12">
                <h4 class="sub-title">Product Life Cycle Assessment</h4>
                <p>
                    ASEH has been gradually adopting ISO 14067 (carbon footprint) and ISO 14005 (eco-efficiency) standards as references to assess the environmental footprint of the company’s operations and product life cycle, and in an effort to increase the value and raise the green standards in our products.
                </p>
                <br>
            </article>
            <div class="col-md-10 col-md-offset-1">
                <div class="table-responsive inside-table">
                    <table class="table table-striped table-hover csr">
                        <thead>
                            <tr>
                                <th class="text-center" style="font-size: 15px">Type</th>
                                <th class="left-border text-center" style="font-size: 15px">Products</th>
                                <th class="left-border text-center" style="font-size: 15px">Carbon footprint</th>
                                <th class="left-border text-center" style="font-size: 15px">Eco-efficiency</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td rowspan="6" style="border-bottom: 1px solid #dddddd;">
                                    <strong>IC Packages</strong>
                                </td>
                                <td class="left-border">
                                    BGA package
                                </td>
                                <td class="left-border text-center">
                                    ●
                                </td>
                                <td class="left-border text-center">
                                    ●
                                </td>
                            </tr>
                            <tr>
                                <td class="left-border">
                                    Leadframe package
                                </td>
                                <td class="left-border text-center">
                                    ●
                                </td>
                                <td class="left-border text-center">
                                    ●
                                </td>
                            </tr>
                            <tr>
                                <td class="left-border">
                                    Chip Scale Package(CSP)
                                </td>
                                <td class="left-border text-center">
                                    ●
                                </td>
                                <td class="left-border text-center">
                                    ●
                                </td>
                            </tr>
                            <tr>
                                <td class="left-border">
                                    Flip Chip package
                                </td>
                                <td class="left-border text-center">
                                    ●
                                </td>
                                <td class="left-border text-center">
                                    ●
                                </td>
                            </tr>
                            <tr>
                                <td class="left-border">
                                    Bumping
                                </td>
                                <td class="left-border text-center">
                                    ●
                                </td>
                                <td class="left-border text-center">
                                    ●
                                </td>
                            </tr>
                            <tr>
                                <td class="left-border">
                                    SiP
                                </td>
                                <td class="left-border text-center">
                                    ●
                                </td>
                                <td class="left-border text-center">
                                    ●
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <strong>Substrate</strong>
                                </td>
                                <td class="left-border text-center">
                                    ●
                                </td>
                                <td class="left-border text-center">
                                    ●
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <strong>Testing Service</strong>
                                </td>
                                <td class="left-border text-center">
                                    ●
                                </td>
                                <td class="left-border text-center">
                                    ●
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br>
            </div>
        </div>
    </section>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script>
		$(document).ready(function(){
	    	$("img[usemap]").jMap();
		});
	</script>