﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/tw/_Layout.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-csr">
		<h1 class="page-title title-large">企業社會責任</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "/" })"><i class="icon-home"></i><span itemprop="name">首頁</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })"><span itemprop="name">企業社會責任</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("environmental_sustainability", "CSR", new { lang = ViewBag.language.lang })"><span itemprop="name">環境永續</span></a>
					<meta itemprop="position" content="3" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "water_resource_management" })"><span itemprop="name">水資源管理</span></a>
					<meta itemprop="position" content="4" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "wastewater_management" })"><span itemprop="name">廢水管理</span></a>
					<meta itemprop="position" content="5" />
				</li>
			</ol>
		</div>
	</div>

	<div class="breadcrumbs-pc pull-left" id="breadcrumbs-pc">
	<!-- PC版選單breadcrumbs內容 -->
		<ul class="breadcrumbs-view" id="breadcrumbs-view">
			<li class="dropdown-item">
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })">技術</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Solution" })">解決方案</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" })">產品</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "ir" })">投資人關係</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })">企業社會責任</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "About" })">關於日月光集團</a></li>
				</ul>
			</li>
			<li class="dropdown-item">
				<a href="csr.html">企業社會責任</a>
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.Action("Letter_Chairman", "CSR", new { lang = ViewBag.language.lang })">董事長的話</a></li>
					<li><a href="@Url.Action("Sustainability_Governance", "CSR", new { lang = ViewBag.language.lang })">永續治理</a></li>
					<li><a href="@Url.Action("Stakeholder_Engagement", "CSR", new { lang = ViewBag.language.lang })">利害關係人專區</a></li>
					<li><a href="http://ir.aseglobal.com/c/ir_corpor.php">公司治理</a></li>
					<li><a href="@Url.Action("environmental_sustainability", "CSR", new { lang = ViewBag.language.lang })" class="active">環境永續</a></li>
					<li><a href="@Url.Action("Employee_Care_Development", "CSR", new { lang = ViewBag.language.lang })">員工關懷與發展</a></li>
					<li><a href="@Url.Action("Supply_Chain_Development", "CSR", new { lang = ViewBag.language.lang })">供應鏈發展</a></li>
					<li><a href="@Url.Action("Corporate_Citizenship_Social_Involvement", "CSR", new { lang = ViewBag.language.lang })">企業公民與社會參與</a></li>
					<li><a href="@Url.Action("Downloads", "CSR", new { lang = ViewBag.language.lang })">企業社會責任報告書下載專區</a></li>
				</ul>
			</li>
		</ul>
	</div>

	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">廢水管理</h3>
			</article>

			<div class="col-sm-8 ">
				<p>
					日月光所有工廠的廢水都透過適當的污水設施處理，廢水處理在分流分管部分共區分了20種以上管路，如：有機廢水、無機廢水、生活污水、含氟廢液、含銅廢液、一般酸性廢水。於2016年，我們共排放12,615,460噸放流水<a href="javascript:;" data-toggle="popover" data-trigger="hover" data-content="電子製造服務廠區(昆山、深圳及墨西哥)無廠內廢水處理設施，放流水量採估計值，其餘為廠內水表量測值。" data-placement="bottom">*</a>，其中有27%海放，73%陸放。放流水質均符合現行法規，並且定期檢測確保不會對附近水域造成嚴重影響。我們投資於逐步升級與替換廢水處理的相關設施。<br><br>

					透過外部，日月光每一季都會進行放流水水質的離線採樣與分析；對內，集團環保實驗室取得財團法人全國認證基金會(Taiwan Accreditation Foundation, TAF)認證，可執行廢水水質檢測，強化廢水水質管控，確保我們的營運與放流水水質符合標準。<br>
				</p>
			</div>
			<div class="col-sm-4">
				<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/wastewater_management.png"><br><br>
			</div>
			<div class="clearfix"></div>
			<article class="col-xs-12">
				<h4 class="sub-title">USI金橋廠製程廢水零排放</h4>
				<p>
					<strong></strong>
					<ul class="nopadding"></ul>
					<strong>目的</strong>
					<ul class="nopadding">
						<li>遵循集團水資源管理策略，並追求經濟、社會及環境共存共榮的永續發展。</li>
						<li>全球暖化導致氣候變化日益顯著，水資源蓄存與分配已成為重要課題，金橋廠為2014年開始營運的新廠，採取先進的製程廢水零排放技術，減少供水中斷或短缺之風險。</li>
					</ul>
					<strong>投資</strong>
					<ul class="nopadding">
						<li>一期與二期工程約美金250萬元。</li>
					</ul>
					<strong>特色</strong>
					<ul class="nopadding">
						<li>製程水回收率100%</li>
						<li>一期工程整合多層過濾器(Multi-Media Filtration, MMF)、生物活性碳過濾(Activated Carbon Filtration, ACF)、超濾系統(Continuous Membrane Filtration, CMF)、倒極式電透析(Electrodialysis Reversal, EDR)與加熱蒸發處理。</li>
						<li>截至2017年2月共回收超過7萬噸製程廢水。</li>
						<li>回收之製程廢水再利用可減少部分自來水需求、並應用於空調、綠化灌溉及廁所使用，達到製程廢水零排放的效益。</li>
					</ul>
					<strong>未來計畫</strong>
					<ul class="nopadding">
						<li>第二期計畫預計於2017年5月施工，9月完工。</li>
						<li>主要採生物法處理廢水中的有機化學物質。</li>
					</ul>
					<strong>營運效益</strong>
					<ul class="nopadding">
						<li>同仁發揮專業，積極與政府部門、顧問公司、與供應商溝通，減少因氣候變遷導致用水短缺的營運挑戰。</li>
						<li>政府與其他利害關係人對於環保議題之關注，日益顯著，USI做為在地環保友好型企業，呼應中國十二五規劃，建立正面形象。</li>
					</ul>
				</p>
			</article>
			<article class="col-xs-12">
				<div class="blue-box">
					<h4 class="sub-title">中壢廠廢水一期興建工程 </h4>
					<p>
						因應未來產能擴增、並相互支援其他棟別廢水處理系統，中壢廠投入新台幣2.5億元，建置日處理量7,500噸之廢水處理系統，於2017年1月至4月試運轉，預計4月底正式營運，其有機與無機廢水系統均經過物理化學處理，污泥經乾燥處理，優化廢水水質。
					</p>
				</div>
				<br>
			</article>
			
		</div>
	</section>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script>
	$(document).ready(function(){
	    $('[data-toggle="popover"]').popover();   
	});
	</script>