﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/tw/_Layout.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-csr">
		<h1 class="page-title title-large">企業社會責任</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "/" })"><i class="icon-home"></i><span itemprop="name">首頁</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })"><span itemprop="name">企業社會責任</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("environmental_sustainability", "CSR", new { lang = ViewBag.language.lang })"><span itemprop="name">環境永續</span></a>
					<meta itemprop="position" content="3" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "water_resource_management" })"><span itemprop="name">水資源管理</span></a>
					<meta itemprop="position" content="4" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "water_recycling_program" })"><span itemprop="name">水回收方案成果</span></a>
					<meta itemprop="position" content="5" />
				</li>
			</ol>
		</div>
	</div>

	<div class="breadcrumbs-pc pull-left" id="breadcrumbs-pc">
	<!-- PC版選單breadcrumbs內容 -->
		<ul class="breadcrumbs-view" id="breadcrumbs-view">
			<li class="dropdown-item">
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })">技術</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Solution" })">解決方案</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" })">產品</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "ir" })">投資人關係</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })">企業社會責任</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "About" })">關於日月光集團</a></li>
				</ul>
			</li>
			<li class="dropdown-item">
				<a href="csr.html">企業社會責任</a>
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.Action("Letter_Chairman", "CSR", new { lang = ViewBag.language.lang })">董事長的話</a></li>
					<li><a href="@Url.Action("Sustainability_Governance", "CSR", new { lang = ViewBag.language.lang })">永續治理</a></li>
					<li><a href="@Url.Action("Stakeholder_Engagement", "CSR", new { lang = ViewBag.language.lang })">利害關係人專區</a></li>
					<li><a href="http://ir.aseglobal.com/c/ir_corpor.php">公司治理</a></li>
					<li><a href="@Url.Action("environmental_sustainability", "CSR", new { lang = ViewBag.language.lang })" class="active">環境永續</a></li>
					<li><a href="@Url.Action("Employee_Care_Development", "CSR", new { lang = ViewBag.language.lang })">員工關懷與發展</a></li>
					<li><a href="@Url.Action("Supply_Chain_Development", "CSR", new { lang = ViewBag.language.lang })">供應鏈發展</a></li>
					<li><a href="@Url.Action("Corporate_Citizenship_Social_Involvement", "CSR", new { lang = ViewBag.language.lang })">企業公民與社會參與</a></li>
					<li><a href="@Url.Action("Downloads", "CSR", new { lang = ViewBag.language.lang })">企業社會責任報告書下載專區</a></li>
				</ul>
			</li>
		</ul>
	</div>
	
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">水回收方案成果</h3>
				<p>
					2016年我們總共回收了約15,096,545噸<a href="javascript:;" data-toggle="popover" data-trigger="hover" data-content="水回收量透過廠區水表紀錄與水回收設備效率估算。" data-placement="bottom">*</a>的水(相當於整年取水量)，與2015年的13,133,452噸相比，約增加15%。我們的主要節水措施為超過濾(Ultrafilter, UF)系統、化學機械研磨(CMP)廢水回收以及RO濃縮水回收系統。
				</p>
				<h4 class="sub-title">水回收方案成果</h4>
				<div class="color-box">
					<div class="yellow-box">
						<div class="color-box-heading">高雄K14B中水回收廠</div>
						<strong>績效</strong><br>
						<ul class="nopadding">
							<li>自運轉至2016年底，已回收約326萬噸水。</li>
							<li>加入中水回收後，製程水回收率達91%。</li>
						</ul>
						<strong>未來計畫</strong><br>
						<ul class="nopadding">
							<li>中水回收二期計畫經過重新設計，廢水回收率由原先的50%提升至70%，預計每日處理廢水量可增加至3萬噸，並回收2.1萬噸再生水。</li>
							<li>計畫申請K14B為認證之環境教育場域，成為我們推廣節約用水與企業社會責任規劃的一部分。</li>
						</ul>
					</div>
					<div class="light-yellow-box">
						<div class="color-box-heading">中壢放流水回收系統</div>
						<strong>績效</strong><br>
						<ul class="nopadding">
							<li>自運轉至2016年底，已回收超過220萬噸水返回製程。</li>
							<li>加入放流水回收後，製程水回收率達96%。</li>
						</ul>
					</div>
					<div class="orange-box">
						<div class="color-box-heading">商業營運效益</div>
						<ul class="nopadding">
							<li>藉由水回收技術與知識分享，建立日月光永續領導之形象。自中水與放流水回收系統營運至2016年底，已累積超過1,100人次參訪，並舉辦超過百人參與之環境技術研究合作研討會。</li>
							<li>與供應商和產業之合作，減少因氣候變遷導致用水短缺的營運挑戰。</li>
							<li>與學術界共同合作研究環境技術，改善中水系統程序與減低污泥老化問題。</li>
						</ul>
					</div>
				</div>
				<br>
				<strong>高雄K14B中水回收廠進水、產水、放流水水質規範</strong>
				<div class="clearfix"></div>
				<div class="col-md-7 nopadding">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/water_recycling_program1.png"><br><br>
				</div>
				<div class="col-md-5 nopadding">
					<div class="col-md-12 col-xs-10 col-xs-offset-1 nopadding">
						<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/water_recycling_program2.png">
					</div>
				</div>

				<div class="clearfix"></div>
				<br>
			</article>
		</div>
	</section>
	<section class="csr-bg">
		<div class="content-lg row">
			<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 csr">
				<div class="col-sm-12 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "sustainability_highlights_water_management" })">
							<span class="blue-text-in-box">中水回收管理</span>
							<div class="circle_button-wrapper pull-right">
								<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script>
	$(document).ready(function(){
	    $('[data-toggle="popover"]').popover();   
	    
	});
	</script>