﻿

@model web.ViewModels.Blog.IndexView

<div class="content-lg">
    <div id="AllBlogRow" class="content-lg row">
        @if (Model.Total > 0)
        {
            foreach (var item in Model.PageList)
            {
                var blogUrl = String.Format("/{0}/blog/{1}", ViewBag.language.lang, item.blog.urlid);
                var typeFilterUrl = Url.Action(null, null, new { typeId = item.blog.typeid });
                var authorFilterUrl = Url.Action("author", null, new { Id = item.blog.authorid });
                <div class="col-sm-6 col-md-4 moving-arrow block_shadow">
                    <a class="link-block linkcontent" href="@blogUrl" rel="@(item.blog.urlid)">
                            <img src="@(item.blog.picurl)" class="block_img"><br>
                            <h3 class="block_title">@(item.title)</h3>
                            <h5 class="block_brief">@(item.contenttext)</h5>
                        </a>
                        <div style="height: 40px;">
                            <a class="link-block block_author" href="@authorFilterUrl">@(item.blog.blog_author.blog_author_dtl.Where(u => u.lang == ViewBag.language.lang).FirstOrDefault().name)</a>
                            <span class="block_date">@(Convert.ToDateTime(item.blog.apply_date).ToShortDateString())</span>
                            <a class="link-block block_type linktype" rel="@item.blog.typeid" href="@typeFilterUrl">@Html.Raw(Json.Decode(item.blog.blog_type.name)[ViewBag.language.lang])</a>
                            <div class="circle_button darkgray block_arrow">
                                <a class="link-block linkcontent" rel="@(item.blog.urlid)" href="@blogUrl">
                                    <i class="icon-arrow-right"></i>
                                </a>

                            </div>
                        </div>
                </div>
            }

        }
        else if (ViewBag.allblogcnt == 0 && !ViewBag.isbottom)
        {
            <tr>
                <td colspan="6" align="center">Empty</td>
            </tr>
        }
    </div>

    <div class="clearfix " />
    <div>
        @Html.Partial("./Page", Model)
    </div>
</div>


<script>
    $("a.linkcontent").click(function (e) {
        //console.log($(this).attr("rel"))
        //var url = window.location.origin + window.location.pathname.substring(0, 3) + "/blog/" + $(this).attr("rel");
        //window.location.href = url;
    })
    $("a.linktype").click(function (e) {
        var url = window.location.origin + window.location.pathname.substring(0, 3) + "/blog?typeid=" + $(this).attr("rel");
        window.location.href = url;
    })
</script>
