﻿@model web.ViewModels.Blog.SearchForm

<section class="inside-article" style="margin-bottom:20px">
    <div class="content-lg row">
        <div class="col-xs-12">
            <div class="col-md-6"></div>
            <form method="GET" action="/@ViewBag.lang/blog">
                <div class="col-md-3 nopadding">
                    @Html.DropDownList("AuthorId", new SelectList(Model.AuthorList, "Value", "Text"), new { @class = "form-control block_ddl", id = "ddlAuthor" })
                    @Html.DropDownList("TypeId", new SelectList(Model.TypeList, "Value", "Text"), new { @class = "form-control block_ddl", id = "ddlType" })
                </div>
                <div class="col-md-3 nopadding mtop10">
                    <input type="text" id="txtKeyword" class="form-control block_keyword" name="keyword" value="@Model.Keyword" placeholder="@( ViewBag.lang == "en" ? "Search Keywords" : "輸入搜尋文字")" />
                    <button id="btnSubmit" type="submit" class="btn btn-group-sm btn-default block_search"><i class="icon-search" style="font-size: 12px;"></i></button>
                </div>
            </form>
        </div>
    </div>
</section>