﻿
@using web.Models;
@using web.Common;
@model web.ViewModels.Blog.DetailView
@{
    if (ViewBag.lang == "en")
    {
        Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/ch/_Layout_seo.cshtml";
    }
}
<link rel="stylesheet" href="~/css/font-awesome.min.css">
<!-- page Banner -->
<section id="page-vision" class="page-banner-s banner-blog">
    <img class="blog-message" src="/css/public/frontend/images/csr/banner_message.png" />
    @*<h1 class="page-title title-large"></h1>*@
</section>

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v7.0" nonce="CJhOzHt9"></script>
<!--breadcrumbs-->

<section class="inside-article csr-bg-content">
    @if (ViewBag.lang == "en")
    {
        <div class="content-lg row">
            <div class="col-xs-12">
                <ol id="breadcrumbs" class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
                    <!-- Project-B Fix, Apply New Breadcrumb -->
                    <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                        <a itemprop="item" href="/en" class="active"><i class="icon-home"></i><span itemprop="name">Home</span></a>
                        <meta itemprop="position" content="0">
                    </li>
                    <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                        <a itemprop="item" href="/en/about" class="active"><span itemprop="name">About ASE</span></a>
                        <meta itemprop="position" content="1">
                    </li>
                    <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                        <a itemprop="item"><span itemprop="name">Press Center</span></a>
                        <meta itemprop="position" content="2">
                    </li>
                    <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                        <a itemprop="item" href="/en/blog" class="active"><span itemprop="name">Blog</span></a>
                        <meta itemprop="position" content="3">
                    </li>
                    <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                        <a itemprop="item" href="/en/blog" class="active"><span itemprop="name">@Model.Blog.blog_dtl.Where(u => u.lang == ViewBag.language.lang).FirstOrDefault().title</span></a>
                        <meta itemprop="position" content="4">
                    </li>
                </ol>
            </div>
        </div>
    }
    else
    {
        <div class="content-lg row">
            <div class="col-xs-12">
                <ol id="breadcrumbs" class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
                    <!-- Project-B Fix, Apply New Breadcrumb -->
                    <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                        <a itemprop="item" href="/ch" class="active"><i class="icon-home"></i><span itemprop="name">Home</span></a>
                        <meta itemprop="position" content="0">
                    </li>
                    <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                        <a itemprop="item" href="/ch/about" class="active"><span itemprop="name">關於日月光</span></a>
                        <meta itemprop="position" content="1">
                    </li>
                    <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                        <a itemprop="item"><span itemprop="name">新聞中心</span></a>
                        <meta itemprop="position" content="2">
                    </li>
                    <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                        <a itemprop="item" href="/ch/blog" class="active"><span itemprop="name">部落格</span></a>
                        <meta itemprop="position" content="3">
                    </li>
                    <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                        <a itemprop="item" href="/ch/blog" class="active"><span itemprop="name">@Model.Blog.blog_dtl.Where(u => u.lang == ViewBag.language.lang).FirstOrDefault().title</span></a>
                        <meta itemprop="position" content="4">
                    </li>
                </ol>
            </div>
        </div>
    }

    @Html.Partial("_SearchForm", Model);
    <div class="content-lg row" style="height:20px">

    </div>
</section>

<section class="inside-article csr-bg-content">
    <div class="content-lg row">
        <div class="col-md-12 " style="height:20px;background-color:white">
        </div>
        <div class="col-xs-12 is-table-row" style="background:white">
            <div class="col-md-9 blog_content_title">
                <span class="title" style="color:#09458C;font-weight:bold;font-size:28px">@Model.Blog.blog_dtl.Where(u => u.lang == ViewBag.language.lang).FirstOrDefault().title</span>
            </div>
            <div class="col-md-3 blog_content_icon">
                <div class="twitter-share-button" style="display:inline-block">
                    <a onclick="window.open('https://twitter.com/intent/tweet?text=@Html.Raw(HttpUtility.UrlEncode(Model.Blog.blog_dtl.Where(u => u.lang == ViewBag.language.lang).FirstOrDefault().seodescription))&url=@(Request.Url.AbsoluteUri.Replace("localhost:52845", "www.aseglobal.com"))&openExternalBrowser=1')">
                        <img id="imgTWT" src="~/public/frontend/images_ch/icon/twt-17.png" class="blog_content_icon_img" />
                    </a>
                </div>
                <div style="display:inline-block">
                    <a target="_blank" href="https://www.linkedin.com/sharing/share-offsite/?url=@(Request.Url.AbsoluteUri.Replace("localhost:52845", "www.aseglobal.com"))&openExternalBrowser=1">
                        <img src="~/public/frontend/images_ch/icon/in-19.png" class="blog_content_icon_img" border="0" />
                    </a>
                </div>

                @*<div class="sharing-buttons" style="display:inline-block">
                        <a class="fb-xfbml-parse-ignore" target="popup" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=@(Request.Url.AbsoluteUri.Replace("localhost:52845","www.aseglobal.com"))&amp;src=sdkpreparse','popup','width=600,height=500'); return false; " href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fdengdeney.blogspot.com.tr%2F&amp;src=sdkpreparse&amp;openExternalBrowser=1">
                            <img src="~/public/frontend/images_ch/icon/fb-16.png" class="blog_content_icon_img" border="0" />
                        </a>
                    </div>
                    <div class="twitter-share-button" style="display:inline-block">
                        <a onclick="window.open('https://twitter.com/intent/tweet?text=@(Model.blog_dtl.Where(u => u.lang == ViewBag.language.lang).FirstOrDefault().title)&url=@(Request.Url.AbsoluteUri.Replace("localhost:52845", "www.aseglobal.com"))&openExternalBrowser=1')">
                            <img id="imgTWT" src="~/public/frontend/images_ch/icon/twt-17.png" class="blog_content_icon_img" />
                        </a>
                    </div>*@
                @*<img id="imgFB" src="~/public/frontend/images_ch/icon/fb-16.png" class="blog_content_icon_img" />*@
                @*<img id="imgTWT" src="~/public/frontend/images_ch/icon/twt-17.png" class="blog_content_icon_img" />*@
                @* <img id="imgIG" src="~/public/frontend/images_ch/icon/ig-18.png" class="blog_content_icon_img" />*@
            </div>
        </div>
        <div class="col-md-12 " style="height:20px;background-color:white">
        </div>
        <div class="col-xs-12" style="background:white">
            @*line break*@
            <div class="col-md-12 " style="height:1px;background-color:#808080">
            </div>
            @*author and type icon*@
            <div class="col-md-12" style="margin-top:15px;height:30px">
                <img src="~/public/frontend/images_ch/icon/content_user.png" />
                <a class="link-block block_author screen_low" href="@Url.Action("author", "blog", new { Id =Model.Blog.authorid})">@(Model.Blog.blog_author.blog_author_dtl.Where(u => u.lang == ViewBag.language.lang).FirstOrDefault().name)</a>
                <img src="~/public/frontend/images_ch/icon/content_clock.png" style="margin-left:15px" />
                <span class="content_date screen_low">@(Convert.ToDateTime(Model.Blog.apply_date).ToShortDateString())</span>
                <a class="link-block block_type screen_low linktype" rel="@(Model.Blog.typeid)" href="javascript:void(0)">@Html.Raw(Json.Decode(Model.Blog.blog_type.name)[ViewBag.language.lang])</a>
            </div>
            @*image*@
            <div class="col-md-12 " style="text-align:center">
                @if (Request.Browser.IsMobileDevice)
                {
                    <img src="@Model.Blog.pc_picurl" class="blog_content_img" />
                }
                else
                {
                    <img src="@Model.Blog.pc_picurl" class="blog_content_img" />
                }
            </div>
            @*content*@
            <div class="col-md-12 " style="margin-bottom: 20px;">
                @Html.Raw(Model.Blog.blog_dtl.Where(u => u.lang == ViewBag.language.lang).FirstOrDefault().contents)
            </div>

        </div>
</section>

<section class="inside-article csr-bg-content">
    @*prev / next*@
    <div class="content-lg" style="margin-top: 20px;">
        <div class="col-md-12" style="margin-bottom: 10px;">
            @if (Model.PrevBlog != null)
            {
                <div class="col-md-5 content div_prevblog">
                    <div class="circle_button darkgray content_left_arrow">
                        <a class="link-block linkcontent" rel="@(((blog)Model.PrevBlog).urlid)" href="javascript:void(0)">
                            <i class="icon-arrow-left"></i>
                        </a>
                    </div>
                    <div class="nav_prev">
                        <div style="color: #F7931E;">PREVIOUS POSTS</div>
                        <div class="nav_title">@((Model.PrevBlog == null) ? "" : ((blog)Model.PrevBlog).blog_dtl.Where(u => u.lang == ViewBag.language.lang).FirstOrDefault().title)</div>
                    </div>
                </div>
            }
            else
            {
                <div class="col-md-5 content" style="height: 0px;">
                    <div class="circle_button darkgray content_left_arrow" style="display:none">
                        <a class="link-block">
                            <i class="icon-arrow-left"></i>
                        </a>
                    </div>
                    <div class="nav_prev" style="display:none">
                        <div style="color: #F7931E;">PREVIOUS POSTS</div>
                        <div class="nav_title"></div>
                    </div>
                </div>
            }
            <div class="col-md-2 nav_slash">/</div>
            @if (Model.NextBlog != null)
            {
                <div class="col-md-5 content" style="text-align:right;">
                    <div class="nav_next">
                        <div style="color: #F7931E;">NEXT POSTS</div>
                        <div class="nav_title">@((Model.NextBlog == null) ? "" : ((blog)Model.NextBlog).blog_dtl.Where(u => u.lang == ViewBag.language.lang).FirstOrDefault().title)</div>
                    </div>
                    <div class="circle_button darkgray block_arrow" style="@((Model.NextBlog==null)?"display:none":"")">
                        <a class="link-block linkcontent" rel="@(((blog)Model.NextBlog).urlid)" href="javascript:void(0)">
                            <i class="icon-arrow-right"></i>
                        </a>
                    </div>
                </div>
            }
            else
            {
                <div class="col-md-5 content" style="text-align:right;">
                    <div class="nav_next" style="display:none">
                        <div style="color: #F7931E;">NEXT POSTS</div>
                        <div class="nav_title"></div>
                    </div>
                    <div class="circle_button darkgray block_arrow" style="display:none">
                        <a class="link-block">
                            <i class="icon-arrow-right"></i>
                        </a>
                    </div>
                </div>
            }

        </div>
    </div>

    @*message tab*@
    @if (ViewBag.lang == "en")
    {
        if (Model.Blog.allowmsg == 1)
        {
            <input type="hidden" id="hdid" value="@Model.Blog.id" />
            <input type="hidden" id="hddtlid" value="@Model.Blog.blog_dtl.Where(u => u.lang == ViewBag.language.lang).FirstOrDefault().id" />
            <div class="content-lg row row_message_adjust">
                <input type="hidden" id="hdid" value="@Model.Blog.id" />
                <input type="hidden" id="hddtlid" value="@Model.Blog.blog_dtl.Where(u => u.lang == ViewBag.language.lang).FirstOrDefault().id" />
                <div class="div_comment">
                    <div id="divParentleft" class="comment_parent">
                        <div id="divUpperleft" class="comment_left_on">
                            <div id="divCommentleft" class="comment_lefttext_on">Comments</div>
                        </div>

                        <div id="divCommentright" class="comment_righttext_off">@(Model.Blog.blog_message.Count) Comments</div>
                    </div>
                </div>
            </div>

            @*<div class="content-lg row row_message_adjust">
                    <input type="hidden" id="hdid" value="@Model.id" />
                    <input type="hidden" id="hddtlid" value="@Model.blog_dtl.Where(u => u.lang == ViewBag.language.lang).FirstOrDefault().id" />
                    <div class="div_comment">
                        <div id="divMsg" class="col-xs-1 rectangle">
                            <div id="divMsgfont" class="rectangle_font_margin">Comments</div>
                        </div>
                        <div id="divMiddle" class="col-xs-1 triangle-right"> </div>
                        <div id="divMsglist" class="col-xs-1 rectangle_list">
                            <div id="divMsglistfont" class="rectangle_list_font_margin">@(Model.blog_message.Count) Comments</div>
                        </div>
                    </div>
                </div>*@

            <div id="divInputblock">
                <div class="content-lg row" style="margin-top:20px">
                    <div class="col-xs-12">
                        <input id="txtName" class="col-xs-12 form-control" style="height:50px;font-size: 18px;" maxlength="20" placeholder="Please enter your name" />
                    </div>
                </div>
                <div class="content-lg row" style="margin-top:20px">
                    <div class="col-xs-12">
                        <input id="txtMail" class="col-xs-12 form-control" style="height:50px;font-size: 18px;" maxlength="50" placeholder="Please enter a valid Email address" />
                    </div>
                </div>
                <div class="content-lg row" style="margin-top:20px">
                    <div class="col-xs-12">
                        <textarea id="txtMsg" class="form-control" style="height:200px; font-size: 18px;" maxlength="250" placeholder="Your Comment Here..."></textarea>
                    </div>
                    <div class="col-xs-12">
                        <div class="col-xs-6"></div>
                        <div id="divWordcount" class="col-xs-6" style="font-size: 18px;color:#808080;text-align: right;"> 0/250 Words</div>
                    </div>
                </div>
                <div class="content-lg row" style="margin-bottom:20px">
                    <div class="col-xs-12" style="text-align: center;">
                        <input id="btnPublish" class="btn btn-primary" style="font-size: 16px;font-weight:bold; width: 150px;" onclick="publishMessage()" disabled="disabled" value="Publish" />
                    </div>
                </div>
            </div>


        }

        <section id="divListblock" style="display:none;margin-top: 10px;margin-bottom:40px">
            @Html.AntiForgeryToken()
            <div class="content-lg row" style="text-align: -webkit-center;">
                @if (Model.Blog.blog_message.Count > 0)
                {
                    int idx = 1;
                    foreach (var msg in Model.Blog.blog_message.OrderByDescending(u => u.create_date))
                    {
                        <div class="inside-article form-control content_msglist_block" style="margin-top:10px">
                            <div class="col-xs-12">
                                <div class="col-xs-1 content_msg_idx content_msg_idx_modify">
                                    <div>Message @(idx)</div>
                                </div>
                                <div class="col-xs-10" style="text-align:left;line-height:200%;padding-left: 10px;padding-right:0px">
                                    <div><span style="font-size:16px;font-weight:bold ;color:#1a6ed1">@msg.name</span><span style="font-size:12px;color:#808080;margin-left:5px">(@(Convert.ToDateTime(msg.create_date).ToString("yyyy-MM-dd HH:mm:ss")))</span> </div>
                                    <div class="message_body">@msg.message</div>
                                    @if (msg.reply != null)
                                    {
                                        <div style="border-left:solid;border-width:2px;border-color:#F7931E">
                                            <div><span style="font-size:16px;font-weight:bold ;color:#F7931E;margin-left:5px">Reply</span><span style="font-size:12px;color:#808080;margin-left:5px">(@(Convert.ToDateTime(msg.update_date).ToString("yyyy-MM-dd HH:mm:ss")))</span> </div>
                                            <div class="block_reply">@msg.reply</div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        ++idx;
                    }
                }
                else
                {
                    <div>(Empty)</div>

                }
                @if (Model.Blog.allowmsg == 0)
                {
                    <div style="font-size: 25px; color: #7082db; font-weight: bold;">Comments are closed</div>
                }
            </div>
        </section>
    }
    else
    {
        if (Model.Blog.allowmsg == 1)
        {
            <input type="hidden" id="hdid" value="@Model.Blog.id" />
            <input type="hidden" id="hddtlid" value="@Model.Blog.blog_dtl.Where(u => u.lang == ViewBag.language.lang).FirstOrDefault().id" />
            <div class="content-lg row row_message_adjust">
                <input type="hidden" id="hdid" value="@Model.Blog.id" />
                <input type="hidden" id="hddtlid" value="@Model.Blog.blog_dtl.Where(u => u.lang == ViewBag.language.lang).FirstOrDefault().id" />
                <div class="div_comment">
                    <div id="divParentleft" class="comment_parent">
                        <div id="divUpperleft" class="comment_left_on">
                            <div id="divCommentleft" class="comment_lefttext_on">留言</div>
                        </div>

                        <div id="divCommentright" class="comment_righttext_off">@(Model.Blog.blog_message.Count)則留言</div>
                    </div>
                </div>
            </div>

            <div id="divInputblock">
                <div class="content-lg row" style="margin-top:20px">
                    <div class="col-xs-12">
                        <input id="txtName" class="col-xs-12 form-control" style="height:50px;font-size: 18px;" maxlength="20" placeholder="輸入暱稱" />
                    </div>
                </div>
                <div class="content-lg row" style="margin-top:20px">
                    <div class="col-xs-12">
                        <input id="txtMail" class="col-xs-12 form-control" style="height:50px;font-size: 18px;" maxlength="50" placeholder="輸入Email" />
                    </div>
                </div>
                <div class="content-lg row" style="margin-top:20px">
                    <div class="col-xs-12">
                        <textarea id="txtMsg" class="form-control" style="height:200px; font-size: 18px;" maxlength="250" placeholder="新增回應...."></textarea>
                    </div>
                    <div class="col-xs-12">
                        <div class="col-xs-6"></div>
                        <div id="divWordcount" class="col-xs-6" style="font-size: 18px;color:#808080;text-align: right;"> 0/250字</div>
                    </div>
                </div>
                <div class="content-lg row" style="margin-bottom:20px">
                    <div class="col-xs-12" style="text-align: center;">
                        <input id="btnPublish" class="btn btn-primary" style="font-size: 16px;font-weight:bold; width: 150px;" onclick="publishMessage()" disabled="disabled" value="發佈留言" />
                    </div>
                </div>
            </div>

            <section id="divListblock" style="display:none;margin-top: 10px;margin-bottom:40px;">
                @Html.AntiForgeryToken()
                <div class="content-lg row" style="text-align: -webkit-center;">
                    @if (Model.Blog.blog_message.Count > 0)
                    {
                        int idx = 1;
                        foreach (var msg in Model.Blog.blog_message.OrderByDescending(u => u.create_date))
                        {
                            <div class="inside-article form-control content_msglist_block" style="margin-top:10px">
                                <div class="col-xs-12">
                                    <div class="col-xs-1 content_msg_idx content_msg_idx_modify">
                                        <div>留言@(idx)</div>
                                    </div>
                                    <div class="col-xs-10" style="text-align:left;line-height:200%;padding-left: 10px;padding-right:0px">
                                        <div><span style="font-size:16px;font-weight:bold ;color:#1a6ed1">@msg.name</span><span style="font-size:12px;color:#808080;margin-left:5px">(@(Convert.ToDateTime(msg.create_date).ToString("yyyy-MM-dd HH:mm:ss")))</span> </div>
                                        <div class="message_body">@msg.message</div>
                                        @if (msg.reply != null)
                                        {
                                            <div style="border-left:solid;border-width:2px;border-color:#F7931E">
                                                <div><span style="font-size:16px;font-weight:bold ;color:#F7931E;margin-left:5px">企業回覆</span><span style="font-size:12px;color:#808080;margin-left:5px">(@(Convert.ToDateTime(msg.update_date).ToString("yyyy-MM-dd HH:mm:ss")))</span> </div>
                                                <div class="block_reply">@msg.reply</div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                            ++idx;
                        }
                    }
                    else
                    {
                        <div>(查無資料)</div>

                    }
                    @if (Model.Blog.allowmsg == 0)
                    {
                        <div style="font-size: 25px; color: #7082db; font-weight: bold;">留言已關閉</div>
                    }
                </div>
            </section>
        }
    }





</section>

<script>
    window.twttr = (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
            t = window.twttr || {};
        if (d.getElementById(id)) return t;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);

        t._e = [];
        t.ready = function (f) {
            t._e.push(f);
        };

        return t;
    }(document, "script", "twitter-wjs"));
</script>

<script type="text/javascript">
    $(document).ready(function () {
        //$(".ASEHeader__Lang").hide();
        if ($(".div_comment").length == 0) {
            $("#divListblock").show();
        }
        $("#ddlAuthor").val("0"); $("#ddlType").val("0");
        //$("#searchRow").hide();
        $("ul.dropdown-menu").find("li a").each(function (idx, val) {
            var url = $(val).attr("href") + window.location.search;
            $(val).attr("href", url);
        })

        $("#imgFB").click(function () {
            $("#fbshare").click()
        })
        $("#divCommentleft").click(function () {
            $("#divParentleft").removeClass("comment_parent_right");
            $("#divUpperleft").removeClass("comment_right_on")
            $("#divCommentleft").removeClass("comment_lefttext_off");
            $("#divCommentright").removeClass("comment_righttext_on");
            $("#divParentleft").addClass("comment_parent");
            $("#divUpperleft").addClass("comment_left_on")
            $("#divCommentleft").addClass("comment_lefttext_on");
            $("#divCommentright").addClass("comment_righttext_off");
            $("#divInputblock").show();
            $("#divListblock").hide();
        })
        $("#divCommentright").click(function () {
            $("#divParentleft").removeClass("comment_parent");
            $("#divUpperleft").removeClass("comment_left_on")
            $("#divCommentleft").removeClass("comment_lefttext_on");
            $("#divCommentright").removeClass("comment_righttext_off");
            $("#divParentleft").addClass("comment_parent_right");
            $("#divUpperleft").addClass("comment_right_on")
            $("#divCommentleft").addClass("comment_lefttext_off");
            $("#divCommentright").addClass("comment_righttext_on");
            $("#divInputblock").hide();
            $("#divListblock").show();
        })

        //$("#divMsglist").click(function () {
        //    $("#divMsglist").removeClass("rectangle_list");
        //    $("#divMiddle").removeClass("triangle-right")
        //    $("#divMsg").removeClass("rectangle");
        //    $("#divMsgfont").removeClass("rectangle_font_margin");
        //    $("#divMsglistfont").removeClass("rectangle_list_font_margin");
        //    $("#divMiddle").addClass("list_triangle-right")
        //    $("#divMsg").addClass("list_rectangle");
        //    $("#divMsglist").addClass("list_rectangle_list");
        //    $("#divMsgfont").addClass("list_rectangle_font_margin");
        //    $("#divMsglistfont").addClass("list_rectangle_list_font_margin");
        //    $("#divInputblock").hide();
        //    $("#divListblock").show();
        //})

        //$("#divMsg").click(function () {
        //    $("#divMiddle").removeClass("list_triangle-right")
        //    $("#divMsg").removeClass("list_rectangle");
        //    $("#divMsglist").removeClass("list_rectangle_list");
        //    $("#divMsgfont").removeClass("list_rectangle_font_margin");
        //    $("#divMsglistfont").removeClass("list_rectangle_list_font_margin");

        //    $("#divMsglist").addClass("rectangle_list");
        //    $("#divMiddle").addClass("triangle-right")
        //    $("#divMsg").addClass("rectangle");
        //    $("#divMsgfont").addClass("rectangle_font_margin");
        //    $("#divMsglistfont").addClass("rectangle_list_font_margin");
        //    $("#divInputblock").show();
        //    $("#divListblock").hide();
        //})

        $("#txtMsg").on("keyup", function (e) {
            e.stopPropagation();
            var len = ($("#txtMsg").val().length>=250)?250: $("#txtMsg").val().length ;
            $("#divWordcount").html(len + "/250字");
            enablePublish();
        })
        //document.getElementById("txtMsg").addEventListener('paste', function (event) {
        //    event.stopPropagation();
        //    var cb = event.clipboardData
        //    var pastedContent;
        //    if (cb.types.indexOf("text/html") != -1) { // contains text
        //        pastedContent = cb.getData("text/html")
        //    } else {
        //        pastedContent = cb.getData(cb.types[0])    // get whatever it has
        //    }
        //    var len = (pastedContent.length >= 250) ? 250 : pastedContent.length ;
        //    $("#divWordcount").html(len + "/250字");
        //    enablePublish();
        //})
        $("#txtName").on("keydown change", function (e) {
            e.stopPropagation();
            enablePublish();
        })
        $("#txtMail").on("keydown change", function (e) {
            e.stopPropagation();
            enablePublish();
        })

        function enablePublish() {
            $("#btnPublish").prop("disabled", chkInput());
        }
        function chkInput() {
            return $("#txtName").val().length == 0 || !chkMail() || $("#txtMsg").val().length == 0;
        }
        function chkMail() {
            if ($("#txtMail").val().length==0) return false;
            var emailRule = /^\w+([-+.']\w+)*@@\w+([-.]\w+)*\.\w+([-.]\w+)*/;
            // ＨＵＥＩ90@gmail.com' will pass this pattern, but adding ^ => /^\w+([-+.']\w+)*@@\w+([-.]\w+)*\.\w+([-.]\w+)*/ can fix the problem – Huei Tan Apr 22 '14 at 9:31
            return emailRule.test($("#txtMail").val());
        }
    })

    $('#ddlAuthor,#ddlType').change(function () {
        var url = window.location.origin + window.location.pathname.substring(0, 3) + "/blog?authorid=" + $('#ddlAuthor option:selected').val() + "&typeid=" + $('#ddlType option:selected').val();
        window.location.href = url;
    });

    $("a.linktype").click(function (e) {
        var url = window.location.origin + window.location.pathname.substring(0, 3) + "/blog?typeid=" + $(this).attr("rel");
        window.location.href = url;
    })
    $("a.linkcontent").click(function (e) {
        var url = window.location.origin + window.location.pathname.substring(0, 3) + "/blog/" + $(this).attr("rel");
        window.location.href = url;
    })
    function publishMessage() {
        $token = $('#divListblock input[name="__RequestVerificationToken"]').val();
        $id = $("#hdid").val();
        $dtlid = $("#hddtlid").val();
        console.log($dtlid)
        $.ajax({
            url: '@(Url.Action("ajaxPublishmessage", "csr"))',
            type: "POST",
            cache: false,
            async: true,
            data: { blogid: $id, dtlid: $dtlid, name: $("#txtName").val(), email: $("#txtMail").val(), message: $("#txtMsg").val(), __RequestVerificationToken: $token },
            datatype: "json",
            success: function (res) {
                if (res.code == 0) {
                    swal({
                        title: "@(ViewBag.lang == "en" ? "Published" : "已發佈")", timer: 3000, type: 'success' }).then(function () {
                        window.location.reload();
                    })
                }
                else {
                    swal({ title: res.message, timer: 3000, type: 'error' })
                }
            }
        });
    }
</script>
