﻿

@model web.ViewModels.Blog.IndexView
@{
    if ( ViewBag.lang == "en" )
    {
        Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
        ViewBag.Title = "Blog Homepage";
    } else
    {
        Layout = "~/Views/Shared/ch/_Layout_seo.cshtml";
        ViewBag.Title = "Blog";
    }

   
}


<!-- page Banner -->
<section id="page-vision" class="page-banner-s banner-blog">
    <img class="blog-message" src="/css/public/frontend/images/csr/banner_message.png" />
    @*<h1 class="page-title title-large"></h1>*@
</section>

@if (ViewBag.lang == "en")
{
    <!--breadcrumbs-->
    <div class="content-lg row">
        <div class="col-xs-12">
            <ol id="breadcrumbs" class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
                <!-- Project-B Fix, Apply New Breadcrumb -->
                <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                    <a itemprop="item" href="/en" class="active"><i class="icon-home"></i><span itemprop="name">Home</span></a>
                    <meta itemprop="position" content="0">
                </li>
                <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                    <a itemprop="item" href="/en/about" class="active"><span itemprop="name">About ASE</span></a>
                    <meta itemprop="position" content="1">
                </li>
                <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                    <a itemprop="item"><span itemprop="name">Press Center</span></a>
                    <meta itemprop="position" content="2">
                </li>
                <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                    <a itemprop="item" href="/en/blog" class="active"><span itemprop="name">Blog</span></a>
                    <meta itemprop="position" content="3">
                </li>
                <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                    <a itemprop="item" href="/en/blog" class="active"><span itemprop="name">@(Model.Title)</span></a>
                    <meta itemprop="position" content="4">
                </li>
            </ol>
        </div>
    </div>
}
else
{
    <div class="content-lg row">
        <div class="col-xs-12">
            <ol id="breadcrumbs" class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
                <!-- Project-B Fix, Apply New Breadcrumb -->
                <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                    <a itemprop="item" href="/ch" class="active"><i class="icon-home"></i><span itemprop="name">Home</span></a>
                    <meta itemprop="position" content="0">
                </li>
                <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                    <a itemprop="item" href="/ch/about" class="active"><span itemprop="name">關於日月光</span></a>
                    <meta itemprop="position" content="1">
                </li>
                <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                    <a itemprop="item"><span itemprop="name">新聞中心</span></a>
                    <meta itemprop="position" content="2">
                </li>
                <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                    <a itemprop="item" href="/ch/blog" class="active"><span itemprop="name">部落格</span></a>
                    <meta itemprop="position" content="3">
                </li>
                <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                    <a itemprop="item" href="/ch/blog" class="active"><span itemprop="name">@(Model.Title)</span></a>
                    <meta itemprop="position" content="4">
                </li>
            </ol>
        </div>
    </div>
}


@Html.Partial("_SearchForm", Model)

<section class="csr-bg" style="@((Model.AuthorId!=0||Model.TypeId!=0||Model.Keyword!=""||Model.Total==0)?"display:none":"")">
    <div class="content-lg row">
        <article class="col-xs-12">
            <h2 class="title" style="color:#09458C;font-weight:bold">Highlights</h2>
        </article>
    </div>
    <div class="content-lg row">
        @if (Model.TopList.Count() > 0)
        {
            foreach (var item in Model.TopList)
            {
                var blogUrl = String.Format("/{0}/blog/{1}", ViewBag.language.lang, item.blog.urlid);
                <div class="col-sm-6 col-md-4 moving-arrow block_shadow">
                    @if (item.blog.urlid == null)
                    {
                        <a class="link-block" href="@blogUrl">
                            <img src="@(item.blog.picurl)" class="block_img"><br>
                            <h3 class="block_title">@(item.title)</h3>
                            <h5 class="block_brief">@(item.contenttext)</h5>
                        </a>
                        <div style="height: 40px;">
                            <a class="link-block block_author" href="@Url.Action("author", new {lang = ViewBag.language.lang, param1="" ,  Id =item.blog.blog_author.id})">@(item.blog.blog_author.blog_author_dtl.Where(u => u.lang == ViewBag.language.lang).FirstOrDefault().name)</a>
                            <span class="block_date">@(Convert.ToDateTime(item.blog.apply_date).ToShortDateString())</span>
                            <a class="link-block block_type linktype" rel="@item.blog.typeid" href="javascript:void(0)">@Html.Raw(Json.Decode(item.blog.blog_type.name)[ViewBag.language.lang])</a>
                            <div class="circle_button darkgray block_arrow">
                                <a class="link-block linkcontent" rel="@(item.blog.urlid)" href="@blogUrl">
                                    <i class="icon-arrow-right"></i>
                                </a>

                            </div>
                        </div>
                    }
                    else
                    {
                        <a class="link-block linkcontent" href="@blogUrl" rel="@(item.blog.urlid)">
                            <img src="@(item.blog.picurl)" class="block_img"><br>
                            <h3 class="block_title">@(item.title)</h3>
                            <h5 class="block_brief">@(item.contenttext)</h5>
                        </a>
                        <div style="height: 40px;">
                            <a class="link-block block_author" href="@Url.Action("author", new { Id =item.blog.blog_author.id})">@(item.blog.blog_author.blog_author_dtl.Where(u => u.lang == ViewBag.language.lang).FirstOrDefault().name)</a>
                            <span class="block_date">@(Convert.ToDateTime(item.blog.apply_date).ToShortDateString())</span>
                            <a class="link-block block_type linktype" rel="@item.blog.typeid" href="javascript:void(0)">@Html.Raw(Json.Decode(item.blog.blog_type.name)[ViewBag.language.lang])</a>
                            <div class="circle_button darkgray block_arrow">
                                <a class="link-block linkcontent" rel="@(item.blog.urlid)" href="@blogUrl">
                                    <i class="icon-arrow-right"></i>
                                </a>

                            </div>
                        </div>
                    }

                </div>
            }
        }
        else
        {
            <tr>
                <td colspan="6" align="center">Empty</td>
            </tr>
        }
    </div>
</section>


<section class="csr-bg">
    <div class="content-lg row">
        <article class="col-xs-12">
            <h2 class="title" style="color:#09458C;font-weight:bold">@(Model.Title)</h2>
            @*<button onclick="Nextpage()"> test</button>*@
        </article>
    </div>
</section>

<section id="AllBlog" class="csr-bg" style="padding-top:0px">
    @Html.AntiForgeryToken()

    @Html.Partial("_BlogList", Model)
</section>

<!--<script type="text/javascript">
    var _throttleTimer = null;
    var _throttleDelay = 100;
    var $window = $(window);
    var $document = $(document);
    var pageno = 0;
    var isbottom = false;

    $(document).ready(function () {


        //$("#ddlAuthor").val("0"); $("#ddlType").val("0");

        $("ul.dropdown-menu").find("li a").each(function (idx, val) {
            var url = $(val).attr("href") + window.location.search;
            $(val).attr("href", url);
        })

        Nextpage(pageno); ++pageno;
        $window
            .off('scroll', ScrollHandler)
            .on('scroll', ScrollHandler);
    })

    $("#ddlAuthor,#ddlType").on("change", function () {
        $("#btnSubmit").click()
    })

    $("a.linkcontent").click(function (e) {
        //console.log($(this).attr("rel"))
        //var url = window.location.origin + window.location.pathname.substring(0, 3) + "/blog/" + $(this).attr("rel");
        //window.location.href = url;
    })

    $("a.linktype").click(function (e) {
        var url = window.location.origin + window.location.pathname.substring(0, 3) + "/blog?typeid=" + $(this).attr("rel");
        window.location.href = url;
    })

    function ScrollHandler(e) {
        //throttle event:
        clearTimeout(_throttleTimer);
        _throttleTimer = setTimeout(function () {
            if ($window.scrollTop() + $window.height() > $document.height() - 100 - $("footer").height()) {
                if (!isbottom) {
                    Nextpage(pageno)
                    ++pageno;
                }
                //console.log(pageno, isbottom);
                //console.log('end reached');
            }

        }, _throttleDelay);
    }

    // function QueryString(AllVars, name) {
    //    var Vars = AllVars.split("&");
    //    for (var i = 0; i < Vars.length; i++) {
    //        var Var = Vars[i].split("=");
    //        if (Var[0] == name) return Var[1];
    //    }
    //    return "";
    //}-->
@*function Nextpage(pageno) {
        var aid = QueryString(window.location.search.substring(1), "authorid");
        var tid = QueryString(window.location.search.substring(1), "typeid");
        var kw = QueryString(window.location.search.substring(1), "keyword");
        $token = $('#AllBlog input[name="__RequestVerificationToken"]').val();
        $.ajax({
            url: '@(Url.Action("ajaxGetAllBlog"))',
            type: "POST",
            cache: false,
            async: true,
            data: { lang: "en", authorid: aid, typeid: tid, pagesize: 10, pageno: pageno, keyword: kw, __RequestVerificationToken: $token },
            datatype: "json",
            success: function (data) {
                $("#AllBlogRow").append(data);
                if (data == "") isbottom = true;
            }
        });
    }*@
<!--</script>-->
