﻿@model web.ViewModels.Blog.IndexView
@{
    var LastPage = Math.Ceiling(((decimal)Model.Total / Model.PageSize));
}
@if (Model.Total > Model.PageSize)
{
    <div class="CommonPage">
        <a href="@Url.Action(null, null, new { 
                authorId = Model.AuthorId,
                typeId = Model.TypeId,
                keyword = Model.Keyword,
                page = 0
        })">
            <span aria-hidden="true">&laquo;</span>
        </a>
        @for (var i = 0; i < LastPage; i++)
        {
            <a href="@Url.Action(null, null, new { 
                authorId = Model.AuthorId,
                typeId = Model.TypeId,
                keyword = Model.Keyword,
                page = i
            })" class="@(i == Model.Page ? "selected" : "")">@(i+1)</a>
        }
        <a href="@Url.Action(null, null, new { 
                authorId = Model.AuthorId,
                typeId = Model.TypeId,
                keyword = Model.Keyword,
                page = LastPage - 1
        })">
            <span aria-hidden="true">&raquo;</span>
        </a>
        
    </div>
}


<style>
    .CommonPage {
        display: flex;
        justify-content: center;
    }
    .CommonPage > a {
        margin: 4px;
        border: 1px solid #666;
        min-width: 20px;
        line-height: 20px;
        text-align: center;
        background-color: #fff;
    }
        .CommonPage a.selected {
            background-color: #2891D3;
            color: #fff;
        }
</style>