﻿@{
    Layout = "~/Areas/Backend/Views/Supplier/index.cshtml";
    Dictionary<string, string> error = (Dictionary<string, string>)TempData["error"];
    string str = "";
    string tmp = "";
    List<string> country_list = ViewBag.country_list;
    char[] charsToTrim = { ',', ' ' };
}

@using web.Models
@using web.Common
@using System.Globalization
@model supplier

<div class="box-header with-border">
    <h3 class="box-title"></h3>
    <div class="box-tools pull-right">
        <a class="btn btn-warning" href="@Url.Action("List")" role="button"> Back </a>
    </div>
</div>
<div class="box-body form-horizontal">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.HiddenFor(x => x.id)
        <div class="form-group">
            <label class="col-sm-2 control-label"><i class="required"> * </i> 公司名稱:</label>
            <div class="col-sm-4">
                @{
                    str = "company";
                }
                @Html.TextBox(str, Model.company, new { @class = "form-control", maxlength = 250, @required = "required" })
                <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
            </div>
        </div>
        <div class="form-group ">
            <label class="col-sm-2 control-label"><i class="required"> * </i> 統一編號:</label>
            <div class="col-sm-4">
                @{
                    str = "business_register_number";
                }
                @Html.TextBox(str, Model.business_register_number, new { @class = "form-control", maxlength = 50, @required = "required" })
                <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
            </div>
        </div>
        <div class="form-group ">
            <label class="col-sm-2 control-label"><i class="required"> * </i> 國別:</label>
            <div class="col-sm-4">
                @{
                    str = "country";
                }
                <select class="form-control" name="@(str)" required>
                    @foreach (string item in country_list)
                    {
                        <option value="@(item)" @(Model.country == item ? "selected" : "")>@(item)</option>
                    }
                </select>
                <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
            </div>
        </div>
        <div class="form-group ">
            <label class="col-sm-2 control-label">公司網頁:</label>
            <div class="col-sm-4">
                @{
                    str = "website";
                }
                @Html.TextBox(str, Model.website, new { @class = "form-control", maxlength = 512 })
                <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
            </div>
        </div>
        <div class="form-group ">
            <label class="col-sm-2 control-label">電話(+國碼):</label>
            <div class="col-sm-4">
                @{
                    str = "tel";
                }
                @Html.TextBox(str, Model.country_code + Model.tel, new { @class = "form-control", maxlength = 250 })
                <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
            </div>
        </div>
        <div class="form-group ">
            <label class="col-sm-2 control-label">傳真:</label>
            <div class="col-sm-4">
                @{
                    str = "fax";
                }
                @Html.TextBox(str, Model.fax, new { @class = "form-control", maxlength = 250 })
                <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
            </div>
        </div>
        <div class="form-group ">
            <label class="col-sm-2 control-label">地址:</label>
            <div class="col-sm-4">
                @{
                    str = "address";
                }
                @Html.TextBox(str, Model.address, new { @class = "form-control", maxlength = 512 })
                <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
            </div>
        </div>
        <div class="form-group ">
            <label class="col-sm-2 control-label">資本額(幣別):</label>
            <div class="col-sm-4">
                @{
                    str = "capital";
                }
                @Html.TextBox(str, Model.capital_currency + Model.capital, new { @class = "form-control" })
                <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
            </div>
        </div>
        <div class="form-group ">
            <label class="col-sm-2 control-label">年營業額(幣別):</label>
            <div class="col-sm-4">
                @{
                    str = "annual_revenue";
                }
                @Html.TextBox(str, Model.annual_revenue_currency + Model.annual_revenue, new { @class = "form-control" })
                <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
            </div>
        </div>
        <div class="form-group ">
            <label class="col-sm-2 control-label"><i class="required"> * </i> 姓名:</label>
            <div class="col-sm-4">
                @{
                    str = "name";
                }
                @Html.TextBox(str, Model.name, new { @class = "form-control", maxlength = 250, @required = "required" })
                <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
            </div>
        </div>
        <div class="form-group ">
            <label class="col-sm-2 control-label">性別:</label>
            <div class="col-sm-4">
                @{
                    str = "gender";
                }
                <select class="form-control" name="@(str)">
                    <option value="0" @(Model.gender == 0 ? "selected" : "")>女士</option>
                    <option value="1" @(Model.gender == 1 ? "selected" : "")>先生</option>
                </select>
                <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
            </div>
        </div>
        <div class="form-group ">
            <label class="col-sm-2 control-label">職銜:</label>
            <div class="col-sm-4">
                @{
                    str = "title";
                }
                @Html.TextBox(str, Model.title, new { @class = "form-control", maxlength = 50 })
                <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
            </div>
        </div>
        <div class="form-group ">
            <label class="col-sm-2 control-label">電子郵件:</label>
            <div class="col-sm-4">
                @{
                    str = "email";
                }
                @Html.TextBox(str, Model.email, new { @class = "form-control", maxlength = 250 })
                <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
            </div>
        </div>
        <div class="form-group ">
            <label class="col-sm-2 control-label"><i class="required"> * </i> 連絡電話:</label>
            <div class="col-sm-4">
                @{
                    str = "contact_tel";
                }
                @Html.TextBox(str, Model.contact_tel, new { @class = "form-control", maxlength = 250, @required = "required" })
                <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
            </div>
        </div>
        <div class="form-group ">
            <label class="col-sm-2 control-label"><i class="required"> * </i> 廠商類別:</label>
            <div class="col-sm-4">
                @{
                    str = "business_model";
                }
                <select class="form-control" name="@(str)" required>
                    <option value="0" @(Model.business_model == 0 ? "selected" : "")>製造商</option>
                    <option value="1" @(Model.business_model == 1 ? "selected" : "")>經銷商</option>
                    <option value="2" @(Model.business_model == 2 ? "selected" : "")>仲介</option>
                </select>
                <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
            </div>
        </div>
        <div class="form-group ">
            <label class="col-sm-2 control-label">廠商類別備註:</label>
            <div class="col-sm-4">
                @{
                    str = "business_model_remark";
                    tmp = Model.business_model_remark;
                    if (! string.IsNullOrEmpty(tmp))
                    {
                        tmp = tmp.Trim(charsToTrim);
                    }
                }
                @Html.TextArea(str, tmp, new { @class = "form-control", @rows = 2 })
                <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
            </div>
        </div>
        <div class="form-group ">
            <label class="col-sm-2 control-label"><i class="required"> * </i> 營業類別:</label>
            <div class="col-sm-4">
                @{
                    str = "business_varieties";
                }
                <select class="form-control" name="@(str)" required>
                    <option value="0" @(Model.business_varieties == 0 ? "selected" : "")>材料</option>
                    <option value="1" @(Model.business_varieties == 1 ? "selected" : "")>機器設備</option>
                    <option value="2" @(Model.business_varieties == 2 ? "selected" : "")>建築/室內設計/修繕</option>
                    <option value="3" @(Model.business_varieties == 3 ? "selected" : "")>清潔環保/廢棄物處理</option>
                    <option value="4" @(Model.business_varieties == 4 ? "selected" : "")>資訊類</option>
                    <option value="5" @(Model.business_varieties == 5 ? "selected" : "")>運輸交通</option>
                    <option value="6" @(Model.business_varieties == 6 ? "selected" : "")>人力仲介</option>
                    <option value="7" @(Model.business_varieties == 7 ? "selected" : "")>其他</option>
                </select>
                <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
            </div>
        </div>
        <div class="form-group ">
            <label class="col-sm-2 control-label">營業類別備註:</label>
            <div class="col-sm-4">
                @{
                    str = "business_varieties_remark";
                    tmp = Model.business_varieties_remark;
                    if (!string.IsNullOrEmpty(tmp))
                    {
                        tmp = tmp.Trim(charsToTrim);
                    }
                }
                @Html.TextArea(str, tmp, new { @class = "form-control", @rows = 2 })
                <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
            </div>
        </div>
        <div class="form-group ">
            <label class="col-sm-2 control-label">主要客戶名稱:</label>
            <div class="col-sm-4">
                @{
                    str = "major_customers";
                }
                @Html.TextBox(str, Model.major_customers, new { @class = "form-control", maxlength = 250 })
                <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
            </div>
        </div>
        <div class="form-group hide">
            <label class="col-sm-2 control-label">管理系統認證</label>
            <div class="col-sm-4">
                @{
                    str = "management_system";
                }
                @Html.TextBox(str, Model.management_system, new { @class = "form-control", maxlength = 250 })
                <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
            </div>
        </div>



        <div class="form-group ">
            <label class="col-sm-2 control-label">QMS/Product</label>
            <div class="col-sm-4">
                @{
                    str = "qms";
                }
                @Html.TextBox(str, Model.qms, new { @class = "form-control", maxlength = 100 })
                <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
            </div>
        </div>
        <div class="form-group ">
            <label class="col-sm-2 control-label">Global Environment</label>
            <div class="col-sm-4">
                @{
                    str = "environment";
                }
                @Html.TextBox(str, Model.environment, new { @class = "form-control", maxlength = 100 })
                <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
            </div>
        </div>
        <div class="form-group ">
            <label class="col-sm-2 control-label">Safety/Health SA</label>
            <div class="col-sm-4">
                @{
                    str = "health";
                }
                @Html.TextBox(str, Model.health, new { @class = "form-control", maxlength = 100 })
                <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
            </div>
        </div>
        <div class="form-group ">
            <label class="col-sm-2 control-label">Security</label>
            <div class="col-sm-4">
                @{
                    str = "securities";
                }
                @Html.TextBox(str, Model.securities, new { @class = "form-control", maxlength = 100 })
                <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
            </div>
        </div>



        <div class="form-group ">
            <label class="col-sm-2 control-label">管理系統認證備註:</label>
            <div class="col-sm-4">
                @{
                    str = "management_system_remark";
                    tmp = Model.management_system_remark;
                    if (!string.IsNullOrEmpty(tmp))
                    {
                        tmp = tmp.Trim(charsToTrim);
                    }
                }
                @Html.TextArea(str, tmp, new { @class = "form-control", @rows = 2 })
                <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
            </div>
        </div>
        <div class="form-group ">
            <label class="col-sm-2 control-label">公司簡介:</label>
            <div class="col-sm-4">
                @{
                    str = "company_introduction";
                }
                @Html.TextArea(str, Model.company_introduction, new { @class = "form-control", @rows = 6, maxlength = 400 })
                <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
            </div>
        </div>
        <div class="form-group ">
            <label class="col-sm-2 control-label">簡介附件:</label>
            <div class="col-sm-4">
                @{
                    str = "filename";
                }

                <div id="file_explorer" class="file_explorer"></div>
                <div>僅限 .pdf 檔</div>
                <a id="preview_filename" style="max-width:270px; max-height:270px; margin-right:10px;margin-top:5px;" onError="this.style.display = 'none'" href="@(ViewBag.website_virtual_path + Model.filename)" target="_blank">@(Model.filename)</a>
                <div id="btn_cancel_filename" style="@(string.IsNullOrEmpty(Model.filename) ? "display:none" : "")">
                    <input value="Delete" type="button" class="btn" />
                </div>
                <input type="hidden" name="filename" id="filename" value="@(ViewBag.website_virtual_path + Model.filename)" />
                <input type="hidden" name="old_filename" id="old_filename" value="@(ViewBag.website_virtual_path + Model.filename)" />
                <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 col-sm-offset-2">
                <button class="btn btn-success btn-block" type="submit">Submit</button>
            </div>
            <div class="col-sm-2">
                <button class="btn btn-danger btn-block" type="reset">Reset</button>
            </div>
        </div>
    }
</div>
@{
    ViewBag.media_bank_physical_path = Server.MapPath(Url.Content("~/" + ViewBag.media_bank_path)).Replace("\\", "\\\\");
    ViewBag.media_bank_virtual_path = Url.Content("~/" + ViewBag.media_bank_path);

    List<Dictionary<string, int>> ratio_list = (List<Dictionary<string, int>>)ViewBag.ratio;
}
<!-- jqueryFileTree -->
<link rel="stylesheet" href="~/Content/jqueryFileTree.css">
<link href="~/Content/imgareaselect/imgareaselect-default.css" rel="stylesheet" />
<script src="~/Scripts/imgareaselect/jquery.imgareaselect.pack.js"></script>
<script src="~/Scripts/jqueryfiletree/jqueryFileTree.js"></script>
<script language="javascript" type="text/javascript">
    $(document).ready(
        function () {
            $('#file_explorer').fileTree({
                root: '@ViewBag.media_bank_physical_path',
                script: '@Url.Content("~/Scripts/jqueryfiletree/jqueryFileTree.aspx")',
                expandSpeed: 1
                ,collapseSpeed: 1
                ,filter: "pdf"
            },
            function (file) {
                file = file.replace( /@(ViewBag.media_bank_physical_path)/i, "@(ViewBag.media_bank_virtual_path)" );

                var file_string_ary = file.split("\\");

                $("#filename").val(file);
                $("#preview_filename").html('已選擇檔案 : ' + file_string_ary[file_string_ary.length - 1]);
                $("#preview_filename").css("display", "");
                $("#btn_cancel_filename").show();
            });
            $("#btn_cancel_filename").click(function()
            {
                $("#filename").val('');
                $("#preview_filename").hide();
                $("#btn_cancel_filename").hide();
            });
        }
    );
    
</script>
