﻿@{
    Layout = "~/Areas/Backend/Views/Supplier/index.cshtml";
}
@using web.Models
@using web.Common
@model List<supplier>

<div class="box-header with-border">
    <h3 class="box-title"></h3>
    <div class="box-tools pull-right">
        <a class="btn btn-primary" href="@Url.Action("Content", "Supplier", new { id = ViewBag.node.wm_url_id, param1 = 0 })" role="button"> 新增 </a>
        <a class="btn " href="@Url.Action("Export2", "Supplier", new { id = ViewBag.node.wm_url_id })" role="button"> 匯出 </a>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>流水號</th>
                <th>日期</th>
                <th>公司名稱</th>
                <th>統一編號</th>
                <th>國別</th>
                <th>姓名</th>
                <th>連絡電話</th>
                <th>廠商類別</th>
                <th>營業類別</th>
                <th>附件</th>
                <th>編輯</th>
                <th>刪除</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() > 0)
            {
                foreach (supplier item in Model)
                {
                    <tr>
                        <td>@(item.id)</td>
                        <td>@(string.Format("{0:yyyy-MM-dd}", item.create_date))</td>
                        <td>@(item.company)</td>
                        <td>@(item.business_register_number)</td>
                        <td>@(item.country)</td>
                        <td>@(item.name)</td>
                        <td>
                            @if (!string.IsNullOrEmpty(item.ext))
                            {
                                @("+" + item.contact_tel_country_code + " " + item.contact_tel + " (" + item.ext + ")")
                            }
                            else
                            {
                                @("+" + item.contact_tel_country_code + " " + item.contact_tel)
                            }
                        </td>
                        <td>
                            @(item.business_model == 0 ? "製造商" : "")
                            @(item.business_model == 1 ? "經銷商" : "")
                            @(item.business_model == 2 ? "仲介" : "")
                        </td>
                        <td>
                            @(item.business_varieties == 0 ? "材料" : "")
                            @(item.business_varieties == 1 ? "機器設備" : "")
                            @(item.business_varieties == 2 ? "建築/室內設計/修繕" : "")
                            @(item.business_varieties == 3 ? "清潔環保/廢棄物處理" : "")
                            @(item.business_varieties == 4 ? "資訊類" : "")
                            @(item.business_varieties == 5 ? "運輸交通" : "")
                            @(item.business_varieties == 6 ? "人力仲介" : "")
                            @(item.business_varieties == 7 ? "其他" : "")
                        </td>
                        <td>
                            @if (!string.IsNullOrEmpty(item.filename))
                            {
                                <a href="@Url.Action("Downloads", "Supplier", new { id = ViewBag.node.wm_url_id ,param1 = item.id })" target="_blank">連結</a>
                            } else
                            {
                                @:-
                            }
                        </td>
                        <td>
                            <a class="btn btn-warning btn-sm" href="@(Url.Action("Content", "Supplier", new { id = ViewBag.node.wm_url_id ,param1 = item.id }))"><i class="fa fa-edit"></i></a>
                        </td>
                        <td>
                            @using (Html.BeginForm("DeleteData", "Supplier", new { id = ViewBag.node.wm_url_id, param1 = item.id }, FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <button class="btn btn-danger btn-sm delete_btn" type="submit"><i class="fa fa-trash-o"></i></button>
                            }
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="12" align="center">Empty</td>
                </tr>
            }
        </tbody>
    </table>
</div>