﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/tw/_Layout.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-lab">
		<h1 class="page-title title-large">LAB</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Index", "Home", new { lang = ViewBag.language.lang })"><i class="icon-home"></i><span itemprop="name">首頁</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Lab" })"><span itemprop="name">Lab</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Package_Design", "Lab", new { lang = ViewBag.language.lang })"><span itemprop="name">封裝設計服務</span></a>
					<meta itemprop="position" content="3" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="#"><span itemprop="name">Optical Lab</span></a>
					<meta itemprop="position" content="4" />
				</li>
			</ol>
		</div>
	</div>

	<div class="breadcrumbs-pc pull-left" id="breadcrumbs-pc">
	<!-- PC版選單breadcrumbs內容 -->
		<ul class="breadcrumbs-view" id="breadcrumbs-view">
			<li class="dropdown-item">
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })">技術</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" })">產品</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Solution" })">解決方案</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "ir" })"  >投資人關係</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })">企業社會責任</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "About" })">了解日月光</a></li>
				</ul>
			</li>
			<li class="dropdown-item">
				<a href="javascript:;">Lab</a>
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.Action("Substrate_Design", "Lab", new { lang = ViewBag.language.lang })">基板設計服務</a></li>
					<li><a href="@Url.Action("Package_Design", "Lab", new { lang = ViewBag.language.lang })">封裝設計服務</a></li>
					<li><a href="@Url.Action("eService", "Lab", new { lang = ViewBag.language.lang })">e化服務</a></li>
				</ul>
			</li>
			<li class="dropdown-item">
				<a href="javascript:;">封裝設計服務</a>
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "lab_electrical" })">Electrical Lab</a></li>
					<li><a href="@Url.Action("package_design", "Lab", new { lang = ViewBag.language.lang, param1 = "lab_material" })">Material Lab</a></li>
					<li><a href="@Url.Action("package_design", "Lab", new { lang = ViewBag.language.lang, param1 = "lab_stress_and_thermal" })">Stress &amp; Thermal Lab</a></li>
					<li><a href="@Url.Action("package_design", "Lab", new { lang = ViewBag.language.lang, param1 = "lab_chemical_and_green" })">Chemical &amp; Green Lab</a></li>
					<li><a href="@Url.Action("package_design", "Lab", new { lang = ViewBag.language.lang, param1 = "lab_failure_analysis" })">Failure Analysis Lab</a></li>
					<li><a href="@Url.Action("package_design", "Lab", new { lang = ViewBag.language.lang, param1 = "lab_optical" })">Optical Lab</a></li>
				</ul>
			</li>
		</ul>
	</div>
	<!-- Letter from the Chairman -->
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">Optical Lab</h3>
				<p>ASE Optical Laboratory provide optical properties of materials, luminous intensity measurements of light-emitting components, and product/component size measurements combined with optical simulation to provide customer-optimized simulation reports.</p>

				<div class="col-xs-12 nopadding">
					<div class="col-xs-12 col-sm-8 nopadding md-plr20"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/lab/lab_optical01.jpg" alt=""></div>
					<div class="col-xs-12 col-sm-4 md-plr20">
						<div class="col-xs-12 nopadding mt-32A"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/lab/lab_optical02.jpg" alt=""></div>
						<div class="col-xs-12 nopadding mt-32"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/lab/lab_optical03.jpg" alt=""></div>
					</div>
				</div><br>
				<div class="col-xs-12 nopadding">
					<h3>Measurement, Modeling and Simulation</h3>
					<h4>Capability</h4>
					<ul class="pro-test">
						<li>Transmittance/reflectivity</li>
						<li>Light Intensity &amp; distribution</li>
						<li>Wavelength spectrum</li>
						<li>Color temperature (CCT)</li>
						<li>Chromaticity coordinate (CIE)</li>
						<li>Luminous flux (lm)</li>
						<li>Illuminance (Lux)</li>
						<li>Color rendering index (CRI)</li>
						<li>Dimension measurement</li>
						<li>Optical structure optimization</li>
						<li>Intensity &amp; distribution analysis</li>
						<li>Color analysis</li>
						<li>Light efficiency. View angle analysis</li>
						<li>Module signal. Cross talk analysis</li>
					</ul>
				</div>
				<!-- Package Design Service link -->
				<!-- <div>
					<div class="circle_button-wrapper pull-left">
						<a class="more-tech-link" href="@Url.Action("Package_Design", "Lab", new { lang = ViewBag.language.lang })">
						LAB
						</a>
					</div>
				</div> -->
				<div class="clearfix"></div>
				<br>
			</article>

		</div>
	</section>

	<section class="csr-bg">
		<div class="content-lg row">
			<div class="col-xs-12 csr">
				<div class="col-md-4 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "lab_electrical" })">
							<span class="blue-text-in-box">Electrical Lab</span>
							<div class="circle_button-wrapper pull-right">
								<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-4 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("package_design", "Lab", new { lang = ViewBag.language.lang, param1 = "lab_material" })"">
							<span class="blue-text-in-box">Material Lab</span>
							<div class="circle_button-wrapper">
								<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-4 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("package_design", "Lab", new { lang = ViewBag.language.lang, param1 = "lab_stress_and_thermal" })">
							<span class="blue-text-in-box">Stress &amp; Thermal Lab</span>
							<div class="circle_button-wrapper">
								<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-4 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("package_design", "Lab", new { lang = ViewBag.language.lang, param1 = "lab_chemical_and_green" })">
							<span class="blue-text-in-box">Chemical &amp; Green<br>Technology Lab</span>
							<div class="circle_button-wrapper">
								<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-4 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("package_design", "Lab", new { lang = ViewBag.language.lang, param1 = "lab_failure_analysis" })">
							<span class="blue-text-in-box">Failure Analysis Lab</span>
							<div class="circle_button-wrapper">
								<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-4 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("package_design", "Lab", new { lang = ViewBag.language.lang, param1 = "lab_optical" })">
							<span class="blue-text-in-box">Optical Lab</span>
							<div class="circle_button-wrapper">
								<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
