﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/tw/_Layout.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-lab">
		<h1 class="page-title title-large">LAB</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Index", "Home", new { lang = ViewBag.language.lang })"><i class="icon-home"></i><span itemprop="name">首頁</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Lab" })"><span itemprop="name">Lab</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Package_Design", "Lab", new { lang = ViewBag.language.lang })"><span itemprop="name">封裝設計服務</span></a>
					<meta itemprop="position" content="3" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="#"><span itemprop="name">Failure Analysis Lab</span></a>
					<meta itemprop="position" content="4" />
				</li>
			</ol>
		</div>
	</div>

	<div class="breadcrumbs-pc pull-left" id="breadcrumbs-pc">
	<!-- PC版選單breadcrumbs內容 -->
		<ul class="breadcrumbs-view" id="breadcrumbs-view">
			<li class="dropdown-item">
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })">技術</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" })">產品</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Solution" })">解決方案</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "ir" })"  >投資人關係</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })">企業社會責任</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "About" })">了解日月光</a></li>
				</ul>
			</li>
			<li class="dropdown-item">
				<a href="javascript:;">Lab</a>
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.Action("Substrate_Design", "Lab", new { lang = ViewBag.language.lang })">基板設計服務</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "jlab_package_design_services" })">封裝設計服務</a></li>
					<li><a href="@Url.Action("eService", "Lab", new { lang = ViewBag.language.lang })">e化服務</a></li>
				</ul>
			</li>
			<li class="dropdown-item">
				<a href="javascript:;">封裝設計服務</a>
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "lab_electrical" })">Electrical Lab</a></li>
					<li><a href="@Url.Action("package_design", "Lab", new { lang = ViewBag.language.lang, param1 = "lab_material" })">Material Lab</a></li>
					<li><a href="@Url.Action("package_design", "Lab", new { lang = ViewBag.language.lang, param1 = "lab_stress_and_thermal" })">Stress &amp; Thermal Lab</a></li>
					<li><a href="@Url.Action("package_design", "Lab", new { lang = ViewBag.language.lang, param1 = "lab_chemical_and_green" })">Chemical &amp; Green Lab</a></li>
					<li><a href="@Url.Action("package_design", "Lab", new { lang = ViewBag.language.lang, param1 = "lab_failure_analysis" })">Failure Analysis Lab</a></li>
					<li><a href="@Url.Action("package_design", "Lab", new { lang = ViewBag.language.lang, param1 = "lab_optical" })">Optical Lab</a></li>
				</ul>
			</li>
		</ul>
	</div>
	<!-- Letter from the Chairman -->
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">Failure Analysis Lab</h3>
				<h3>Measurement</h3>
				<ul class="pro-test">
					<li>Encapsulant: Incomplete fill/Wire sweep/Warpage/Delamination/Void</li>
					<li>Substrates: Warpage/Contamination/Crack</li>
					<li>Flux: Flux residue/Outgassing/Corrosion</li>
					<li>Leadframe: Contamination</li>
					<li>TSV: Delamination/Crack/Void/Non-protrusion</li>
					<li>Interposer: Delamination/RDL Bridge/Contamination</li>
					<li>Micro-bump: Crack/Void/Cold joint/Bridge</li>
				</ul>

			</article>

		</div>
	</section>

	<section class="inside-article">
		<div class="content-lg row">
			<div class="col-xs-12 col-md-12">
				<h4 class="sub-title">Reliability</h4>
			</div>
			<div class="col-xs-12 col-md-6">
				<div class="table-responsive inside-table">
					<table class="table table-striped table-hover text-center csr wire failure">
						<tbody>
							<tr>
								<th class="left-border pro-title"></th>
								<th class="left-border pro-title">Non-Destructive Analysis</th>
							</tr>
							<tr>
								<td class="left-border">Electrical Test</td>
								<td class="left-border">TDR、Probing station、Curve tracer、DCT</td>
							</tr>
							<tr>
								<td class="left-border">Inspection Analysis</td>
								<td class="left-border">OM、X-ray、SAT、Hi-resolution OM、IR-OM</td>
							</tr>
							<tr>
								<td class="left-border">Surface Analysis</td>
								<td class="left-border">EDX</td>
							</tr>
							<tr>
								<td class="left-border">Structure Analysis</td>
								<td class="left-border">W-SEM、FE-SEM、Table SEM</td>
							</tr>
							<tr>
								<td class="left-border">Failure Localization</td>
								<td class="left-border">Lock-In Thermography、OBIRCH</td>
							</tr>
						</tbody>
					</table>
				</div><br>
			</div>
			<div class="col-xs-12 col-md-6">
				<div class="table-responsive inside-table">
					<table class="table table-striped table-hover text-center csr wire failure">
						<tbody>
							<tr>
								<th class="left-border pro-title"></th>
								<th class="left-border pro-title">Non-Destructive Analysis</th>
							</tr>
							<tr>
								<td class="left-border">Structure Analysis</td>
								<td class="left-border">X-section、FIB、TEM、P-FIB</td>
							</tr>
							<tr>
								<td class="left-border">Surface Etch/Treatment</td>
								<td class="left-border">Ion Miller、PECS、FIB</td>
							</tr>
						</tbody>
					</table>
				</div><br>
			</div>
			<div class="col-xs-12">
				<h4>Non-Destructive Analysis</h4>
				<ul class="pro-test">
					<li>Non-destructive analysis is the first step of failure analysis.</li>
					<li>There are the technologies to detect the defects without damaging samples and which including two parts. </li>
					<li>One is electrical test and the other is failure observation and localization. Electrical testing machines are function test, O/S test, curve tracer and so on.</li>
					<li>The failure observation toolings are HR-OM, IR OM, X-ray, SAT, etc</li>
					<li>The failure localization toolings are TDR, OBIRCH, thermal lock-in, etc.</li>
				</ul>
				<br>
				<h4>Destructive Analysis</h4>
				<ul class="pro-test">
					<li>After non-destructive analysis, the defect location will be definition.</li>
					<li>The destructive samples preparations before observation are also call destructive analysis.</li>
					<li>The most common uses are cross-section, ion milling, PECS, FIB and etc.</li>
					<li>Furthermore, SEM, EDX, XPS and ESCA could observe the failure or the defects.</li>
				</ul>
				<br>
			</div>
			<!-- Package Design Service link -->
			<!-- <div>
					<div class="circle_button-wrapper pull-left">
						<a class="more-tech-link" href="@Url.Action("Package_Design", "Lab", new { lang = ViewBag.language.lang })">
						LAB
						</a>
					</div>
				</div> -->
			<div class="clearfix"></div>
			<br>
		</div>
	</section>



	<section class="csr-bg">
		<div class="content-lg row">
			<div class="col-xs-12 csr">
				<div class="col-md-4 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "lab_electrical" })">
							<span class="blue-text-in-box">Electrical Lab</span>
							<div class="circle_button-wrapper pull-right">
								<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-4 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("package_design", "Lab", new { lang = ViewBag.language.lang, param1 = "lab_material" })"">
							<span class="blue-text-in-box">Material Lab</span>
							<div class="circle_button-wrapper">
								<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-4 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("package_design", "Lab", new { lang = ViewBag.language.lang, param1 = "lab_stress_and_thermal" })">
							<span class="blue-text-in-box">Stress &amp; Thermal Lab</span>
							<div class="circle_button-wrapper">
								<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-4 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("package_design", "Lab", new { lang = ViewBag.language.lang, param1 = "lab_chemical_and_green" })">
							<span class="blue-text-in-box">Chemical &amp; Green<br>Technology Lab</span>
							<div class="circle_button-wrapper">
								<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-4 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("package_design", "Lab", new { lang = ViewBag.language.lang, param1 = "lab_failure_analysis" })">
							<span class="blue-text-in-box">Failure Analysis Lab</span>
							<div class="circle_button-wrapper">
								<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-4 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("package_design", "Lab", new { lang = ViewBag.language.lang, param1 = "lab_optical" })">
							<span class="blue-text-in-box">Optical Lab</span>
							<div class="circle_button-wrapper">
								<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
