﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/tw/_Layout.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-lab">
		<h1 class="page-title title-large">LAB</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Index", "Home", new { lang = ViewBag.language.lang })"><i class="icon-home"></i><span itemprop="name">首頁</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Lab" })"><span itemprop="name">Lab</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Package_Design", "Lab", new { lang = ViewBag.language.lang })"><span itemprop="name">封裝設計服務</span></a>
					<meta itemprop="position" content="3" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="#"><span itemprop="name">Stress &amp; Thermal Lab</span></a>
					<meta itemprop="position" content="4" />
				</li>
			</ol>
		</div>
	</div>

	<div class="breadcrumbs-pc pull-left" id="breadcrumbs-pc">
	<!-- PC版選單breadcrumbs內容 -->
		<ul class="breadcrumbs-view" id="breadcrumbs-view">
			<li class="dropdown-item">
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })">技術</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" })">產品</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Solution" })">解決方案</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "ir" })"  >投資人關係</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })">企業社會責任</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "About" })">了解日月光</a></li>
				</ul>
			</li>
			<li class="dropdown-item">
				<a href="javascript:;">Lab</a>
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.Action("Substrate_Design", "Lab", new { lang = ViewBag.language.lang })">基板設計服務</a></li>
					<li><a href="@Url.Action("Package_Design", "Lab", new { lang = ViewBag.language.lang })">封裝設計服務</a></li>
					<li><a href="@Url.Action("eService", "Lab", new { lang = ViewBag.language.lang })">e化服務</a></li>
				</ul>
			</li>
			<li class="dropdown-item">
				<a href="javascript:;">封裝設計服務</a>
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "lab_electrical" })">Electrical Lab</a></li>
					<li><a href="@Url.Action("package_design", "Lab", new { lang = ViewBag.language.lang, param1 = "lab_material" })">Material Lab</a></li>
					<li><a href="@Url.Action("package_design", "Lab", new { lang = ViewBag.language.lang, param1 = "lab_stress_and_thermal" })">Stress &amp; Thermal Lab</a></li>
					<li><a href="@Url.Action("package_design", "Lab", new { lang = ViewBag.language.lang, param1 = "lab_chemical_and_green" })">Chemical &amp; Green Lab</a></li>
					<li><a href="@Url.Action("package_design", "Lab", new { lang = ViewBag.language.lang, param1 = "lab_failure_analysis" })">Failure Analysis Lab</a></li>
					<li><a href="@Url.Action("package_design", "Lab", new { lang = ViewBag.language.lang, param1 = "lab_optical" })">Optical Lab</a></li>
				</ul>
			</li>
		</ul>
	</div>
	<!-- Letter from the Chairman -->
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">Stress and Thermal Lab</h3>
				<h3>Modeling and Simulation</h3>
				<p>Stress-Thermal Laboratory provides package mechanical stress, thermal dissipation efficiency and mold flow phenomena analysis by numerical simulation report to customers for characterization evaluation. The analyses include package level such as die crack, delamination, and optimal design for low stress and high reliability; board-level stress analyses to predict the fatigue life of solder joints, like temperature-cycling-test (TCT), drop test, bending test, and other reliability tests.. Besides, dissipating the heat effectively from the chip is a major challenge for engineers. ASE also provides services to conduct component-level and system-level thermal analyses. The modeling and simulation service include:</p>

				<ul class="pro-test">
					<li>Thermal stress analysis (Warpage, Die stress, delamination)</li>
					<li>System/Board level analysis (TCT, Drop, Bending)</li>
					<li>Physical coupling analysis (Electro-thermal, Thermo-mechanical)</li>
					<li>Wirebonding / wire looping simulation</li>
					<li>Customized heat sink effects</li>
					<li>Preliminary thermal studies for MCM/SiP</li>
					<li>Hot spots impact evaluations</li>
					<li>Transient analyses for power pulse impacts</li>
					<li>Compact Thermal Models (CTMs) for system-level simulations</li>
					<li>Simulations for packages in sockets (burn-in/HTOL test conditions)</li>
					<li>Mold flow prediction</li>
				</ul>

				<p class="mb-40">Go to <a href="http://eservice.aseglobal.com/eService/" title="">ASE eService</a> to request electrical modeling and simulation service.</p>

				<h3>Measurement</h3>
				<p>Stress-Thermal Laboratory provides mechanical and thermal measurement services to verify the package and system stress and thermal dissipation performance after the package designed and               manufactured. In additional to package level measurements, we also support customers on chip level or board level measurements. The measurement services include:</p>

				<ul class="pro-test">
					<li>Die Strength Flexural Measurement</li>
					<li>Die Pull Measurement (Evaluate UBM/Bump structural integrity)</li>
					<li>High Speec Ball Impact Measurement</li>
					<li>Wafer/Panel Level Warpage Measurement</li>
					<li>JEDEC/Customized Board level Reliability Measurement (TCT, Drop, Shock, Bending)</li>
				</ul>

				<p>Besides, thermal measurements include the measurements for package thermal parameters and material thermal conductivities:</p>

				<ul class="pro-test">
					<li>θJA (Junction-to-ambient thermal resistance)</li>
					<li>θJC (Junction-to-case thermal resistance)</li>
					<li>θJB (Junction-to-board thermal resistance)</li>
					<li>ΨJT (Junction-to-top thermal characterization parameter)</li>
					<li>ΨJB (Junction-to-board thermal characterization parameter)</li>
					<li>Material thermal conductivity measurements</li>
				</ul>

				<div class="col-xs-12 nopadding">
					<div class="col-xs-12 col-sm-8 nopadding md-plr20"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/lab/lab_stress01.jpg" alt=""></div>
					<div class="col-xs-12 col-sm-4 md-plr20">
						<div class="col-xs-12 nopadding mt-32A"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/lab/lab_stress02.jpg" alt=""></div>
						<div class="col-xs-12 nopadding mt-32"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/lab/lab_stress03.jpg" alt=""></div>
					</div>
				</div><br>
				<div class="col-xs-12 nopadding">
					<h3>Package/System Design and Analysis</h3>
					<p>Base on long term experience and large database of package board level reliability, simulation, measurement and co-design projects with customers, ASE Stress-Thermal Laboratory developed package and system design capabilities to provide customers the pre-design solution. Package/System design and analysis service includes:</p>
					<ul class="pro-test">
						<li>Warpage &amp; component stress prediction</li>
						<li>Packaging material selection &amp; structure design</li>
						<li>Package/board level reliability analysis</li>
						<li>Thermal optimal design for packages</li>
						<li>Customized co-design/ simulation (system analysis and co-design)</li>
					</ul>
				</div><br>
				<!-- Package Design Service link -->
				<!-- <div>
					<div class="circle_button-wrapper pull-left">
						<a class="more-tech-link" href="@Url.Action("Package_Design", "Lab", new { lang = ViewBag.language.lang })">
						LAB
						</a>
					</div>
				</div> -->
				<div class="clearfix"></div>
				<br>
			</article>

		</div>
	</section>

	<section class="csr-bg">
		<div class="content-lg row">
			<div class="col-xs-12 csr">
				<div class="col-md-4 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "lab_electrical" })">
							<span class="blue-text-in-box">Electrical Lab</span>
							<div class="circle_button-wrapper pull-right">
								<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-4 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("package_design", "Lab", new { lang = ViewBag.language.lang, param1 = "lab_material" })">
							<span class="blue-text-in-box">Material Lab</span>
							<div class="circle_button-wrapper">
								<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-4 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("package_design", "Lab", new { lang = ViewBag.language.lang, param1 = "lab_stress_and_thermal" })">
							<span class="blue-text-in-box">Stress &amp; Thermal Lab</span>
							<div class="circle_button-wrapper">
								<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-4 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("package_design", "Lab", new { lang = ViewBag.language.lang, param1 = "lab_chemical_and_green" })">
							<span class="blue-text-in-box">Chemical &amp; Green<br>Technology Lab</span>
							<div class="circle_button-wrapper">
								<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-4 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("package_design", "Lab", new { lang = ViewBag.language.lang, param1 = "lab_failure_analysis" })">
							<span class="blue-text-in-box">Failure Analysis Lab</span>
							<div class="circle_button-wrapper">
								<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-4 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("package_design", "Lab", new { lang = ViewBag.language.lang, param1 = "lab_optical" })">
							<span class="blue-text-in-box">Optical Lab</span>
							<div class="circle_button-wrapper">
								<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
