﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/tw/_Layout.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-lab">
		<h1 class="page-title title-large">LAB</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Index", "Home", new { lang = ViewBag.language.lang })"><i class="icon-home"></i><span itemprop="name">首頁</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Lab" })"><span itemprop="name">Lab</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Package_Design", "Lab", new { lang = ViewBag.language.lang })"><span itemprop="name">封裝設計服務</span></a>
					<meta itemprop="position" content="3" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="#"><span itemprop="name">Electrical Lab</span></a>
					<meta itemprop="position" content="4" />
				</li>
			</ol>
		</div>
	</div>

	<div class="breadcrumbs-pc pull-left" id="breadcrumbs-pc">
	<!-- PC版選單breadcrumbs內容 -->
		<ul class="breadcrumbs-view" id="breadcrumbs-view">
			<li class="dropdown-item">
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })">技術</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" })">產品</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Solution" })">解決方案</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "ir" })"  >投資人關係</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })">企業社會責任</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "About" })">了解日月光</a></li>
				</ul>
			</li>
			<li class="dropdown-item">
				<a href="javascript:;">Lab</a>
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.Action("Substrate_Design", "Lab", new { lang = ViewBag.language.lang })">基板設計服務</a></li>
					<li><a href="@Url.Action("Package_Design", "Lab", new { lang = ViewBag.language.lang })">封裝設計服務</a></li>
					<li><a href="@Url.Action("eService", "Lab", new { lang = ViewBag.language.lang })">e化服務</a></li>
				</ul>
			</li>
			<li class="dropdown-item">
				<a href="javascript:;">封裝設計服務</a>
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "lab_electrical" })">Electrical Lab</a></li>
					<li><a href="@Url.Action("package_design", "Lab", new { lang = ViewBag.language.lang, param1 = "lab_material" })">Material Lab</a></li>
					<li><a href="@Url.Action("package_design", "Lab", new { lang = ViewBag.language.lang, param1 = "lab_stress_and_thermal" })">Stress &amp; Thermal Lab</a></li>
					<li><a href="@Url.Action("package_design", "Lab", new { lang = ViewBag.language.lang, param1 = "lab_chemical_and_green" })">Chemical &amp; Green Lab</a></li>
					<li><a href="@Url.Action("package_design", "Lab", new { lang = ViewBag.language.lang, param1 = "lab_failure_analysis" })">Failure Analysis Lab</a></li>
					<li><a href="@Url.Action("package_design", "Lab", new { lang = ViewBag.language.lang, param1 = "lab_optical" })">Optical Lab</a></li>
				</ul>
			</li>
		</ul>
	</div>
	<!-- Letter from the Chairman -->
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">Electrical Lab</h3>
				<p>The ASE Electrical Laboratory is dedicated to providing IC package electrical characteristics design and analysis in terms of simulation and measurement techniques. ASE also works closely with customers to co-design custom IC packaging solutions. The characterization services include:</p>
				<div class="container-fluid nopadding">
					<div class="col-xs-12 col-sm-4 nopadding">
						<ul class="pro-test">
							<li>R.L.C for Critical Traces</li>
							<li>R.L.C for Min/Max Traces</li>
							<li>IBIS Model</li>
							<li>SPICE Model</li>
							<li>Power Noise Analysis</li>
							<li>Ground Noise Analysis</li>
							<li>S-parameters Analysis</li>
							<li>Impedance Analysis</li>
							<li>Cross Talk Noise Analysis</li>
							<li>Noise Isolation Analysis</li>
							<li>Signal Integrity Analysis</li>
							<li>Customized Design Service</li>
						</ul>
					</div>
					<div class="col-xs-12 col-sm-8 nopadding"><img class="pl-10 col-xs-12 col-sm-6 nopadding" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/lab/lab_electrical01.jpg" alt=""><img class="pl-10  col-xs-12 col-sm-6 nopadding mt-32A" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/lab/lab_electrical02.jpg" alt=""></div>
				</div>

				<h3>Characterization Services (E-lab Proposal)<br>Electrical Characterization</h3>
				<p>While the data rate or bandwidth of the IC package is continuously increasing but operation voltage is going down, the impact of package design on the system electrical performance becomes more and more important than ever.</p>
				<p>ASE Electrical Laboratory is dedicated to providing IC package electrical characteristics modeling, system electrical analysis in terms of electromagnetic simulation and high frequency measurement techniques. Furthermore, ASE Electrical Laboratory also provides package electrical design service and co-design closely with customers to optimize package performance, cost and design cycle time.</p>

				<h3>Electrical Modeling and Simulation</h3>
				<p>ASE Electrical Laboratory provides the appropriate IC package electrical model together with simulation report to customers through accurate 3D electromagnetic simulator. Besides pure package electrical modeling, ASE Electrical Laboratory even supports system electrical performance simulation in terms of signal integrity or power integrity analysis no matter at time or frequency domain. The modeling and simulation service include:</p>
				<ul class="pro-test">
					<li>Package R/L/C Modeling</li>
					<li>Insertion Loss/Return Loss/Mixed-mode S-parameter Modeling</li>
					<li>Package IBIS/SPICE/S-parameter Model Export</li>
					<li>Cross Talk/Coupling/Isolation Analysis</li>
					<li>Delay/Skew/Jitter/Timing Margin Analysis</li>
					<li>Characteristic Impedance Analysis</li>
					<li>Power Noise/Ground Bounce Analysis</li>
					<li>Power/Ground Impedance Analysis</li>
					<li>EMI Analysis</li>
					<li>Signal Integrity/Power Integrity Analysis</li>
				</ul>
				<p>Go to <a href="##" title="">ASE eService</a> to request electrical modeling and simulation service.</p>

				<h3>Electrical Measurement</h3>
				<p>ASE Electrical Laboratory provides electrical measurement service no matter frequency or time domain to verify the package or system electrical performance after the package designed and manufactured. In additional to package level measurements, ASE Electrical Laboratory also supports customers on chip level or board level measurements. The electrical measurement service include:</p>
				<ul class="pro-test">
					<li>Insertion Loss/Return Loss/Mixed-mode S-parameter Measurement up to 67 GHz</li>
					<li>Package R/L/C Measurement</li>
					<li>Characteristic Impedance Measurement</li>
					<li>Power/Ground Impedance Measurement</li>
					<li>Delay/Skew/Eye-Diagram Measurement</li>
				</ul>

				<h3>Package/System Design and Analysis</h3>
				<p>By long term experience of high speed IC package design, simulations and measurements, as well as co-design and project research with customers, ASE Electrical Laboratory developed package and system design capabilities to provide customers the excellent design solution. Package/System design and analysis service includes:</p>
				<ul class="pro-test">
					<li>Package Design/System Analysis for High Speed Parallel Bus</li>
					<li>Package Design/System Analysis for Serializer/Deserializer (SerDes)</li>
					<li>Integrated Passive Device (IPD) and RF SiP Design</li>
					<li>Antenna on Package (AoP) design, analysis and measurement</li>
					<li>Package/Module EMI Shielding (Conformal Shielding and Compartmental Shielding) Design</li>
					<li>Power Packaging Design</li>
					<li>Customized Co-Design/Simulation (System Analysis and Co-design)</li>
				</ul>

			</article>

		</div>
	</section>

	<section class="csr-bg">
		<div class="content-lg row">
			<div class="col-xs-12 csr">
				<div class="col-md-4 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "lab_electrical" })">
							<span class="blue-text-in-box">Electrical Lab</span>
							<div class="circle_button-wrapper pull-right">
								<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-4 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("package_design", "Lab", new { lang = ViewBag.language.lang, param1 = "lab_material" })"">
							<span class="blue-text-in-box">Material Lab</span>
							<div class="circle_button-wrapper">
								<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-4 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("package_design", "Lab", new { lang = ViewBag.language.lang, param1 = "lab_stress_and_thermal" })">
							<span class="blue-text-in-box">Stress &amp; Thermal Lab</span>
							<div class="circle_button-wrapper">
								<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-4 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("package_design", "Lab", new { lang = ViewBag.language.lang, param1 = "lab_chemical_and_green" })">
							<span class="blue-text-in-box">Chemical &amp; Green<br>Technology Lab</span>
							<div class="circle_button-wrapper">
								<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-4 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("package_design", "Lab", new { lang = ViewBag.language.lang, param1 = "lab_failure_analysis" })">
							<span class="blue-text-in-box">Failure Analysis Lab</span>
							<div class="circle_button-wrapper">
								<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-4 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("package_design", "Lab", new { lang = ViewBag.language.lang, param1 = "lab_optical" })">
							<span class="blue-text-in-box">Optical Lab</span>
							<div class="circle_button-wrapper">
								<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
