﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/tw/_Layout.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-lab">
		<h1 class="page-title title-large">LAB</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Index", "Home", new { lang = ViewBag.language.lang })"><i class="icon-home"></i><span itemprop="name">首頁</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Lab" })"><span itemprop="name">Lab</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Package_Design", "Lab", new { lang = ViewBag.language.lang })"><span itemprop="name">封裝設計服務</span></a>
					<meta itemprop="position" content="3" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="#"><span itemprop="name">Material Lab</span></a>
					<meta itemprop="position" content="4" />
				</li>
			</ol>
		</div>
	</div>

	<div class="breadcrumbs-pc pull-left" id="breadcrumbs-pc">
	<!-- PC版選單breadcrumbs內容 -->
		<ul class="breadcrumbs-view" id="breadcrumbs-view">
			<li class="dropdown-item">
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })">技術</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" })">產品</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Solution" })">解決方案</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "ir" })"  >投資人關係</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })">企業社會責任</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "About" })">了解日月光</a></li>
				</ul>
			</li>
			<li class="dropdown-item">
				<a href="javascript:;">Lab</a>
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.Action("Substrate_Design", "Lab", new { lang = ViewBag.language.lang })">基板設計服務</a></li>
					<li><a href="@Url.Action("Package_Design", "Lab", new { lang = ViewBag.language.lang })">封裝設計服務</a></li>
					<li><a href="@Url.Action("eService", "Lab", new { lang = ViewBag.language.lang })">e化服務</a></li>
				</ul>
			</li>
			<li class="dropdown-item">
				<a href="javascript:;">封裝設計服務</a>
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "lab_electrical" })">Electrical Lab</a></li>
					<li><a href="@Url.Action("package_design", "Lab", new { lang = ViewBag.language.lang, param1 = "lab_material" })">Material Lab</a></li>
					<li><a href="@Url.Action("package_design", "Lab", new { lang = ViewBag.language.lang, param1 = "lab_stress_and_thermal" })">Stress &amp; Thermal Lab</a></li>
					<li><a href="@Url.Action("package_design", "Lab", new { lang = ViewBag.language.lang, param1 = "lab_chemical_and_green" })">Chemical &amp; Green Lab</a></li>
					<li><a href="@Url.Action("package_design", "Lab", new { lang = ViewBag.language.lang, param1 = "lab_failure_analysis" })">Failure Analysis Lab</a></li>
					<li><a href="@Url.Action("package_design", "Lab", new { lang = ViewBag.language.lang, param1 = "lab_optical" })">Optical Lab</a></li>
				</ul>
			</li>
		</ul>
	</div>
	<!-- Letter from the Chairman -->
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">Material Lab</h3>
				<p>Material lab provides the analysis service on material properties (physical, chemical, surface, and mechanical) for the  evaluation of new materials for new packages, process parameters optimization for  existing materials and material related failure mechanism analysis in order to improve the reliability, reduce the production cycle time and production cost without trade off the products quality.</p>
				<!--<div class="container">
					<div class="metrial-type">
						<div class="col-xs-12 col-sm-3">
							<div class="lab-type lightblue">
								<h3 class="text-center">Chemical Analysis</h3>
								<ul class="pro-test">
									<li>Filler content</li>
									<li>Weight loss</li>
									<li>Conversion rate</li>
									<li>Curing kinetics</li>
								</ul>
							</div>
						</div>
						<div class="col-xs-12 col-sm-3">
							<div class="lab-type darkblue">
								<h3 class="text-center">Electrical Analysis</h3>
								<ul class="pro-test">
									<li>Electromigration (EM)</li>
									<li>Intermetalic Compund (IMC) analysis</li>
									<br>
								</ul>
							</div>
						</div>
						<div class="col-xs-12 col-sm-3">
							<div class="lab-type orange">
								<h3 class="text-center">Surface Analysis</h3>
								<ul class="pro-test">
									<li>Surface energy</li>
									<li>Functional group identification</li>
									<li>Roughness &amp; morphology evaluation</li>
								</ul>
							</div>
						</div>
						<div class="col-xs-12 col-sm-3">
							<div class="lab-type gray">
								<h3 class="text-center">Physical Analysis</h3>
								<ul class="pro-test">
									<li>Thermal-mechanical CZ <br>(CTE, Tg &amp; Modulus)</li>
									<li>Structure characterization</li>
									<br>
								</ul>
							</div>
						</div>
					</div>
				</div>-->
				<br>
				<div class="text-center"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/lab/lab_material_m.png" alt=""></div>
				<!-- Package Design Service link -->
				<!-- <div>
					<div class="circle_button-wrapper pull-left">
						<a class="more-tech-link" href="@Url.Action("Package_Design", "Lab", new { lang = ViewBag.language.lang })">
						LAB
						</a>
					</div>
				</div> -->
				<div class="clearfix"></div>
				<br>
			</article>

		</div>
	</section>

	<section class="csr-bg">
		<div class="content-lg row">
			<div class="col-xs-12 csr">
				<div class="col-md-4 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "lab_electrical" })">
							<span class="blue-text-in-box">Electrical Lab</span>
							<div class="circle_button-wrapper pull-right">
								<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-4 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("package_design", "Lab", new { lang = ViewBag.language.lang, param1 = "lab_material" })"">
							<span class="blue-text-in-box">Material Lab</span>
							<div class="circle_button-wrapper">
								<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-4 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("package_design", "Lab", new { lang = ViewBag.language.lang, param1 = "lab_stress_and_thermal" })">
							<span class="blue-text-in-box">Stress &amp; Thermal Lab</span>
							<div class="circle_button-wrapper">
								<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-4 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("package_design", "Lab", new { lang = ViewBag.language.lang, param1 = "lab_chemical_and_green" })">
							<span class="blue-text-in-box">Chemical &amp; Green<br>Technology Lab</span>
							<div class="circle_button-wrapper">
								<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-4 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("package_design", "Lab", new { lang = ViewBag.language.lang, param1 = "lab_failure_analysis" })">
							<span class="blue-text-in-box">Failure Analysis Lab</span>
							<div class="circle_button-wrapper">
								<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-4 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("package_design", "Lab", new { lang = ViewBag.language.lang, param1 = "lab_optical" })">
							<span class="blue-text-in-box">Optical Lab</span>
							<div class="circle_button-wrapper">
								<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
