﻿@using web.Common
@{
    Dictionary<string, string> error = (Dictionary<string, string>)TempData["error"];
    ViewBag.Title = "Logon";
    Layout = null;
}
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex,nofollow">
    <meta name="author" content="海棠設計">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta http-equiv="Expires" content="0" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Pragma-directive" content="no-cache" />
    <meta http-equiv="Cache-Directive" content="no-cache" />
    <title>網站 Backend | 日月光 ASE Group</title>
    <link href="~/public/backend/css/login.css?1" rel="stylesheet" />
    <link rel="icon" href="@Url.Content("/favicon.ico")">
    <link rel="shortcut icon" href="@Url.Content("/favicon.ico")">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="login-page">
    <div id="WRAPPER">
        <article id="CONTENT">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("key", ViewData["key"])
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="52" height="26" align="left">帳號：</td>
                        <td colspan="2" align="left" style="background-image:url(@Url.Content("/public/backend/img/main_input_bg.jpg")); background-repeat:no-repeat; padding-left:8px; background-position:left 3px;">
                            <input type="text" name="account" id="account" value="" style=" color:#fff; width:142px; height:14px; border:0; background-color:#fc958d;" maxlength="50" autofocus required />
                        </td>
                    </tr>
                    <tr>
                        <td height="26" align="left">密碼：</td>
                        <td colspan="2" align="left" style="background-image:url(@Url.Content("/public/backend/img/main_input_bg.jpg")); background-repeat:no-repeat; padding-left:8px; background-position:left 3px;">
                            <input type="password" name="password" id="password" value="" style=" color:#fff; width:142px; height:14px; border:0; background-color:#fc958d;" maxlength="50" required />
                        </td>
                    </tr>
                    <tr>
                        <td height="45" align="left">驗證碼：</td>
                        <td width="54" align="left" valign="top" style="background-image:url(@Url.Content("/public/backend/img/main_input_bg2.jpg")); background-repeat:no-repeat; background-position:left 11px; padding-left:4px; padding-top:10px;">
                            <input type="text" name="vcode" id="vcode" style="font-size:11px; color:#fff; width:44px; height:14px; border:0; background-color:#fc958d;" required />
                        </td>
                        <td width="104">
                            <img id="vcode_img" class="vcode" src="@ViewData["img"]" style="max-width: 100px; border: 0;" />
                            <span class="message vcode_msg">@ViewHelper.GetErrorMsg(error, "vcode_img")</span>
                        </td>
                    </tr>
                    <tr>
                        <td height="58" colspan="3" align="left" valign="top" style="padding-top:11px; padding-left:57px;">
                            <img id="img_loading" src="@Url.Content("/public/backend/img/loading_red.gif")" width="32" height="32" border="0" style="display:none;">
                            <input name="Image31" type="image" class="imgover" id="Image31" src="@Url.Content("/public/backend/img/btn_login.jpg")" width="106" height="47">
                        </td>
                    </tr>
                </table>
            }
            <div style="color:#15ec08">
                <div class="alert alert-error">
                    @Html.ValidationSummary()
                    @ViewHelper.GetErrorMsg(error, "summary")
                </div>
            </div>
        </article>
    </div> 
    <script src="~/Scripts/jquery-3.1.1.min.js" ></script>
</body>
</html>