﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
}
<!-- page Banner -->
<section id="page-vision" class="page-banner-s banner-technology">
    <h1 class="page-title title-large">Technology</h1>
</section>

<!--breadcrumbs-->
<div class="content-lg row">
    <div class="col-xs-12">
        <ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="@Url.Action("Index", "Home", new { lang = ViewBag.language.lang })"><i class="icon-home"></i><span itemprop="name">首頁</span></a>
                <meta itemprop="position" content="1" />
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })"><span itemprop="name">技術</span></a>
                <meta itemprop="position" content="2" />
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="@Url.Action("Technology_Innovation", "Technology", new { lang = ViewBag.language.lang })"><span itemprop="name">領先技術</span></a>
                <meta itemprop="position" content="3" />
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "core_test_technology" })"><span itemprop="name">Semiconductor Test</span></a>
                <meta itemprop="position" content="3" />
            </li>
        </ol>
    </div>
</div>

<div class="breadcrumbs-pc pull-left" id="breadcrumbs-pc">
    <!-- PC版選單breadcrumbs內容 -->
    <ul class="breadcrumbs-view" id="breadcrumbs-view">
        <li class="dropdown-item">
            <span class="glyphicon glyphicon-menu-right"></span>
            <ul class="dropdown-list">
                <li><a class="active" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })">技術</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" })">產品</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Solution" })">解決方案</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Lab" })">投資人關係</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })">企業社會責任</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "About" })">了解日月光</a></li>
            </ul>
        </li>
        <li class="dropdown-item">
            <a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })">Technology</a>
            <span class="glyphicon glyphicon-menu-right"></span>
            <ul class="dropdown-list">
                <li><a href="@Url.Action("Technology_Innovation", "Technology", new { lang = ViewBag.language.lang })">領先技術</a></li>
                <li><a href="@Url.Action("Intellectual_Property", "Technology", new { lang = ViewBag.language.lang })">智財</a></li>
                <li><a href="@Url.Action("ASE_Trademarks", "Technology", new { lang = ViewBag.language.lang })">日月光商標</a></li>
            </ul>
        </li>
        <li class="dropdown-item">
            <a href="@Url.Action("Technology_Innovation", "Technology", new { lang = ViewBag.language.lang })">領先技術</a>
            <span class="glyphicon glyphicon-menu-right"></span>
            <ul class="dropdown-list">
                <li><a href="#"></a></li>
                <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "tech_25d_ic" })">2.5D IC</a></li>
                <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "fan_out" })">Fan Out</a></li>
                <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "sip_id" })">Sip-id</a></li>
                <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "sip_module_solutions" })">SiP &amp; Module Solutions</a></li>
                <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "flip_chip" })">Flip Chip</a></li>
                <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "tsv_interposer_integration" })">TSV-Interposer Integration</a></li>
                <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "ipd" })">IPD</a></li>
                <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "wafer_level_mems" })">Wafer-Level MEMS</a></li>
                <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "mems_sensor_solutions" })">MEMS &amp; Sensor Solutions</a></li>
                <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "embedded_die_technology" })">Embedded Die Technology</a></li>
                <li><a class="active" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "core_test_technology" })">Semiconductor Test</a></li>
            </ul>
        </li>
    </ul>
</div>

	<!-- Technology list -->
<section class="inside-article">
    <div class="content-lg row">
        <article class="col-xs-12">
            <h3 class="title">Semiconductor Test</h3>
            <p>
                With leadership in test technologies through a broad variety of test platforms, ASE Group provides a complete range of semiconductor test services to our customers, including front-end engineering test; wafer probing; final test of logic, mixed signal, RF, SLT (System Level Test) and memory semiconductors; and other test-related services encompassing burn-in test, dry-pack, and tape and reel. Our test    services employ technology and expertise and are the most advanced in the semiconductor industry.<br><br>

                In addition to our huge capacity of test equipment enabling quick ramp-up to our customers' requirements, ASE is outstanding in multi-functional test with expertise in test platforms, program conversion and test program development, empowering SoC/MCM/SiP testing technology to meet the increasing need to pack more functions onto a single chip or a package.<br><br>

                <strong>Engineering Development Procedure & Production Value Added</strong><br><br>
                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/test_technology1.jpg" class="hide-in-small">
                <div class="col-xs-8 col-xs-offset-2 hide-in-large">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/test_technology2.jpg">
                </div>
                <div class="clearfix"></div>
                <br>

                Our excellent test capabilities in chipset, graphics, embedded DRAM/MCM, CPU, RF, analog, analog to digital/digital to analog, and digital signal processors makes ASE an effective test solution provider, offering rapid time to market and cost effective solutions.
            </p>
        </article>
    </div>
</section><br>
