﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
}
<!-- page Banner -->
<section id="page-vision" class="page-banner-s banner-csr">
    <h1 class="page-title-csr title-large">企業社會責任</h1>
</section>

<!--breadcrumbs-->
<div class="content-lg row">
    <div class="col-xs-12">
        <ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="@Url.Action("Index", "Home", new { lang = ViewBag.language.lang })"><i class="icon-home"></i><span itemprop="name">首頁</span></a>
                <meta itemprop="position" content="1" />
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })"><span itemprop="name">CSR</span></a>
                <meta itemprop="position" content="2" />
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="@Url.Action("Sustainability_Governance", "CSR", new { lang = ViewBag.language.lang })"><span itemprop="name">Corporate Sustainability Policy and Management</span></a>
                <meta itemprop="position" content="3" />
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="@Url.Action("corporate_sustainability_policy_and_management", "CSR", new { lang = ViewBag.language.lang, param1 = "corporate_sustainability_policy" })"><span itemprop="name">Corporate Sustainability Policy</span></a>
                <meta itemprop="position" content="4" />
            </li>
        </ol>
    </div>
</div>

<div class="breadcrumbs-pc pull-left" id="breadcrumbs-pc">
    <!-- PC版選單breadcrumbs內容 -->
    <ul class="breadcrumbs-view" id="breadcrumbs-view">
        <li class="dropdown-item">
            <span class="glyphicon glyphicon-menu-right"></span>
            <ul class="dropdown-list">
                <li>
                    <a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })">Technology</a>
                </li>
                <li>
                    <a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Solution" })">解決方案</a>
                </li>
                <li>
                    <a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" })">Products</a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "ir" })">投資人關係</a>
                </li>
                <li>
                    <a class="active" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })">企業社會責任</a>
                </li>
                <li>
                    <a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "About" })">了解日月光</a>
                </li>
            </ul>
        </li>
        <li class="dropdown-item">
            <a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })">CSR</a>
            <span class="glyphicon glyphicon-menu-right"></span>
            <ul class="dropdown-list">
                <li>
                    <a href="@Url.Action("Letter_Chairman", "CSR", new { lang = ViewBag.language.lang })">Letter from the Chairman</a>
                </li>
                <li>
                    <a class="active" href="@Url.Action("Sustainability_Governance", "CSR", new { lang = ViewBag.language.lang })">Sustainability Governance</a>
                </li>
                <li>
                    <a href="@Url.Action("Stakeholder_Engagement", "CSR", new { lang = ViewBag.language.lang })">Stakeholder Engagement</a>
                </li>
                <li>
                    <a href="javascript:;">Corporate Governance</a>
                </li>
                <li>
                    <a href="@Url.Action("environmental_sustainability", "CSR", new { lang = ViewBag.language.lang })">Environmental Sustainability</a>
                </li>
                <li>
                    <a href="@Url.Action("Employee_Care_Development", "CSR", new { lang = ViewBag.language.lang })">Employee Care &amp; Development</a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "supply_chain_development" })">Supply Chain Development</a>
                </li>
                <li>
                    <a href="@Url.Action("Corporate_Citizenship_Social_Involvement", "CSR", new { lang = ViewBag.language.lang })">Corporate Citizenship and Social Involvement</a>
                </li>
                <li>
                    <a href="@Url.Action("Downloads", "CSR", new { lang = ViewBag.language.lang })">CSR Reports Downloads</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
<!-- Letter from the Chairman -->
<section class="inside-article">
    <div class="content-lg row">
        <div class="col-md-12">

            <h3 class="title">Corporate Sustainability</h3>
            <h4 class="sub-title">ASE Group Corporate Sustainability and Citizenship Policy</h4>
            <p>
                As the leading provider of semiconductor assembly and test services and a major consolidator of systems and converging technologies, ASE Group plays a vital role in transforming our society into a green and low carbon economy. We regard sustainability and corporate citizenship as the growth opportunity and commit to providing eco-efficient and responsible service to our customers to achieve satisfactory performance in environmental, social and governance (ESG).
                <br>
                <br>

                ASE Group shall lead and create practices in innovation and sustainability to make a positive impact on our sector, business, stakeholders and society at large.
                <br>
                <br>

                ASE Group aims to pursue a sustainable growth over time by a strategic approach which is based on not only the perspectives of cost control, integrated risk management, and advanced technology, but responsible use of natural, social and human capitals, assimilating our enterprise into the landscape from which we draw so much, and rely upon.
                <br>
                <br>

                <h4 class="sub-title">ASE Group is committed to the following:</h4>
                <ol>
                    <li>Maintaining sound corporate governance, and continuously practicing ethics in all areas of our business, and complying with all laws and applicable regulations where we operate.</li>

                    <li>Improving our eco-efficiency and protecting the environment by continuously enhancing resources recycling; reducing greenhouse gas emissions, waste generation, wastewater effluent, and chemical usage.</li>

                    <li>Providing employees with a safe, healthy, and stimulating work environment. Ensuring diversity in our workforce and protecting the human rights.</li>

                    <li>Partnering with our suppliers to ensure that working conditions in ASE’s supply chain are safe, that workers are treated with respect and dignity, and that business operations are environmentally responsible and conducted ethically.</li>

                    <li>Devoting ourselves to the community through charitable activities, educational programs and social work which optimize resource allocation and maximize positive social impacts.</li>

                    <li>Conducting effective and strategic stakeholder engagement and communication while emphasizing on transparent and balanced information disclosure.</li>
                </ol>
                <br>
                <a href="http://www.aseglobal.com/en/Csr/ASEGroup_Corporate_Sustainability_Citizenship_Policy.pdf" target="_blank">
                    <div class="circle_button darkgray facilities-circle-button">
                        <i class="icon-arrow-right facilities-icon-arrow-right"></i>
                    </div>&nbsp;ASE Group Corporate Sustainability and Citizenship Policy
                </a>
                <br>
                <br>
            </p>
            <p class="spacing2em">
                Tien Wu
                <br>
                CSC Chairman & Chief Operating Officer,
                <br>
                ASE Group
                <br>
                <br>
                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/u7809.png">
            </p>

        </div>
    </div>
</section>