﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
}
<!-- page Banner -->
<section id="page-vision" class="page-banner-s banner-fit">
    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/lab/banner_lab.jpg" />
    <h1 class="page-title">LAB</h1>
</section>

<!--breadcrumbs-->
<div class="content-lg row">
    <div class="col-xs-12">
        <ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="@Url.Action("Index", "Home", new { lang = ViewBag.language.lang })"><i class="icon-home"></i><span itemprop="name">首頁</span></a>
                <meta itemprop="position" content="1" />
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Lab" })"><span itemprop="name">LAB</span></a>
                <meta itemprop="position" content="2" />
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="#"><span itemprop="name">Package Design Services</span></a>
                <meta itemprop="position" content="3" />
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "electrical_lab" })"><span itemprop="name">Electrical Lab</span></a>
                <meta itemprop="position" content="4" />
            </li>
        </ol>
    </div>
</div>

<div class="breadcrumbs-pc pull-left" id="breadcrumbs-pc">
    <!-- PC版選單breadcrumbs內容 -->
    <ul class="breadcrumbs-view" id="breadcrumbs-view">
        <li class="dropdown-item">
            <span class="glyphicon glyphicon-menu-right"></span>
            <ul class="dropdown-list">
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })">技術</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" })">產品</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Solution" })">解決方案</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Lab" })">投資人關係</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })">企業社會責任</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "About" })">了解日月光</a></li>
            </ul>
        </li>
        <li class="dropdown-item">
            <a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Lab" })">Technology</a>
            <span class="glyphicon glyphicon-menu-right"></span>
            <ul class="dropdown-list">
                <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "electrical_lab" })">Electrical Lab</a></li>
                <li><a href="javascript:;">Material Lab</a></li>
                <li><a href="javascript:;">Stress-Thermal Lab</a></li>
                <li><a href="javascript:;">Chemical Lab</a></li>
                <li><a href="javascript:;">Analysis and Diagnosis Lab</a></li>
                <li><a href="javascript:;">Green Technology Lab</a></li>
                <li><a href="javascript:;">Mold Flow Lab</a></li>
                <li><a href="javascript:;">Compound Material Lab</a></li>
                <li><a href="javascript:;">Optical Lab</a></li>
                <li><a href="javascript:;">e-Thermal Simulator</a></li>
                <li><a href="javascript:;">e-Stress Simulator</a></li>
            </ul>
        </li>
    </ul>
</div>

<!-- Electrical Lab Content -->

<section>
    <div class="content-lg row">
        <div class="col-md-12">

            <div class="heading_3">Electrical Lab</div><br>
            <p class="spacing2em">
                The ASE Electrical Laboratory is dedicated to providing IC package electrical characteristics design and analysis in terms of simulation and measurement techniques. ASE also works closely with customers to co-design custom IC packaging solutions. The characterization services include:
            </p>
            <ul class="spacing1-5em">
                <li>R.L.C for Critical Traces</li>
                <li>R.L.C for Min / Max Traces</li>
                <li>IBIS Model</li>
                <li>SPICE Model</li>
                <li>Power Noise Analysis</li>
                <li>Ground Noise Analysis</li>
                <li>S-parameters Analysis</li>
                <li>Impedance Analysis</li>
                <li>Cross Talk Noise Analysis</li>
                <li>Noise Isolation Analysis</li>
                <li>Signal Integrity Analysis</li>
                <li>Customized Design Service</li>
            </ul>
            <br>

            <br><div class="heading_4" style="line-height:20px;">
                Characterization Services (E-lab Proposal)<br>
                <br>Electrical Characterization
            </div><br>
            <p class="spacing2em">
                While the data rate or bandwidth of the IC package is continuously increasing but operation voltage is going down, the impact of package design on the system electrical performance becomes more and more important than ever.<br>

                ASE Electrical Laboratory is dedicated to providing IC package electrical characteristics modeling, system electrical analysis in terms of electromagnetic simulation and high frequency measurement techniques. Furthermore, ASE Electrical Laboratory also provides package electrical design service and co-design closely with customers to optimize package performance, cost and design cycle time.
            </p>

            <br><div class="heading_5 blue-line">Electrical Modeling and Simulation</div><br>
            <p class="spacing2em">
                ASE Electrical Laboratory provides the appropriate IC package electrical model together with simulation report to customers through accurate 3D electromagnetic simulator. Besides pure package electrical modeling, ASE Electrical Laboratory even supports system electrical performance simulation in terms of signal integrity or power integrity analysis no matter at time or frequency domain. The modeling and simulation service include:
                <ul class="spacing1-5em">
                    <li>Package R / L / C Modeling</li>
                    <li>Insertion Loss / Return Loss / Mixed-mode S-parameter Modeling</li>
                    <li>Package IBIS / SPICE / S-parameter Model Export</li>
                    <li>Cross Talk / Coupling / Isolation Analysis</li>
                    <li>Delay / Skew / Jitter / Timing Margin Analysis</li>
                    <li>Characteristic Impedance Analysis</li>
                    <li>Power Noise / Ground Bounce Analysis</li>
                    <li>Power / Ground Impedance Analysis</li>
                    <li>EMI Analysis</li>
                    <li>Signal Integrity / Power Integrity Analysis</li>
                </ul>
            <p class="spacing2em">
                Go to ASE eService to request electrical modeling and simulation service : http://eservice.aseglobal.com/eService/
            </p>

            <p class="spacing2em">Electromagnetic solvers and simulators include:</p>
            <ul class="spacing1-5em">
                <li>ANSYS Q3D</li>
                <li>ANSYS HFSS</li>
                <li>ANSYS Turbo Package Analyzer (TPA)</li>
                <li>ANSYS SIwave</li>
                <li>ANSYS Sentinel-NPE</li>
                <li>ANSYS Sentinel-PSI</li>
                <li>ANSYS Designer / Nexxim</li>
                <li>Keysight Advanced Design System (ADS)</li>
                <li>Synopsys Hspice</li>
            </ul>

            <br><div class="heading_5 blue-line">Electrical Measurement</div><br>
            <p class="spacing2em">
                ASE Electrical Laboratory provides electrical measurement service no matter frequency or time domain to verify the package or system electrical performance after the package designed and manufactured. In additional to package level measurements, ASE Electrical Laboratory also supports customers on chip level or board level measurements. The electrical measurement service include:
            </p>
            <ul class="spacing1-5em">
                <li>Insertion Loss / Return Loss / Mixed-mode S-parameter Measurement up to 67 GHz</li>
                <li>Package R / L / C Measurement</li>
                <li>Characteristic Impedance Measurement</li>
                <li>Power / Ground Impedance Measurement</li>
                <li>Delay / Skew / Eye-Diagram Measurement</li>
            </ul>
            <p class="spacing2em">The instruments for measurement service include:</p>
            <ul class="spacing1-5em">
                <li>Keysight 8722ES Vector Network Analyzer</li>
                <li>Keysight 8364B PNA Series Network Analyzer</li>
                <li>Keysight 4291B RF Impedance / Material Analyzer</li>
                <li>Tektronix DSA8200 Digital Serial Analyzer</li>
                <li>Agilent 70843C Pattern Generator</li>
                <li>Agilent 83752A Synthesized Sweeper</li>
                <li>Gigatest GTL-4040 Probing Station</li>
                <li>MM Double Sided Probing Station</li>
                <li>Cascade Summit 12000 Probe Station</li>
            </ul>

            <br><div class="heading_5 blue-line">Package/System Design and Analysis</div><br>
            <p class="spacing2em">
                By long term experience of high speed IC package design, simulations and measurements, as well as co-design and project research with customers, ASE Electrical Laboratory developed package and system design capabilities to provide customers the excellent design solution. Package/System design and analysis service includes:
            </p>
            <ul class="spacing1-5em">
                <li>Package Design / System Analysis for High Speed Parallel Bus</li>
                <li>Package Design / System Analysis for Serializer / Deserializer (SerDes)</li>
                <li>Integrated Passive Device (IPD) and RF SiP Design</li>
                <li>Antenna on Package (AoP) design, analysis and measurement</li>
                <li>Package / Module EMI Shielding (Conformal Shielding and Compartmental Shielding) Design</li>
                <li>Power Packaging Design</li>
                <li>Customized Co-Design / Simulation (System analysis and co-design)</li>
            </ul>

            <br><div class="heading_5 blue-line">eService</div><br>
            <p class="spacing2em">
                ASE Electrical Laboratory compiled simulation and design cases and experience to be a cloud database, ASE eService. Through eService, ASE customers could inquire the estimated package electrical data wherever and whenever. If ASE customer wants the accurate electrical model by 3D electromagnetic solver, eService is also the system to request the simulation service.  :<br>

                ASE eService website address: <a href="http://eservice.aseglobal.com/eService/">http://eservice.aseglobal.com/eService/</a>
            </p>
            <br>



            <div class="labs-container">
                <div class="left-lab-box">
                    <div class="circle_button darkgray"><i class="icon-arrow-left"></i></div>
                    &nbsp;&nbsp; Package Design Service
                </div>
                <div class="right-lab-box">
                    <!-- bottom pictures -->
                    <div class="bottom-pic-section">
                        <div class="heading_6 padding-left-10 padding-top-10">To see our Lab category<br><br></div>
                        <div class="bottom-pic-box">
                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/u3119.png">
                            <div class="bottom-pic-text"><span class="grey-text">Electrical Lab</span></div>
                        </div>
                        <div class="bottom-pic-box">
                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/u3119.png">
                            <div class="bottom-pic-text">Material Lab</div>
                        </div>
                        <div class="bottom-pic-box">
                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/u3119.png">
                            <div class="bottom-pic-text">Stress-Thermal Lab</div>
                        </div>
                        <div class="bottom-pic-box">
                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/u3119.png">
                            <div class="bottom-pic-text">Chemical Lab</div>
                        </div>
                        <div class="bottom-pic-box">
                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/u3119.png">
                            <div class="bottom-pic-text">Analysis and Diagnosis Lab</div>
                        </div>
                        <div class="bottom-pic-box">
                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/u3119.png">
                            <div class="bottom-pic-text">Green Technology Lab</div>
                        </div>
                        <div class="bottom-pic-box">
                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/u3119.png">
                            <div class="bottom-pic-text">Mold Flow Lab</div>
                        </div>
                        <div class="bottom-pic-box">
                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/u3119.png">
                            <div class="bottom-pic-text">Compound Material Lab</div>
                        </div>
                        <div class="bottom-pic-box">
                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/u3119.png">
                            <div class="bottom-pic-text">Optical Lab</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</section>
