﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
}
<!-- page Banner -->
<section id="page-vision" class="page-banner-s banner-technology">
    <h1 class="page-title title-large">Technology</h1>
</section>

<!--breadcrumbs-->
<div class="content-lg row">
    <div class="col-xs-12">
        <ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="@Url.Action("Index", "Home", new { lang = ViewBag.language.lang })"><i class="icon-home"></i><span itemprop="name">首頁</span></a>
                <meta itemprop="position" content="1" />
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })"><span itemprop="name">技術</span></a>
                <meta itemprop="position" content="2" />
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "flip_chip" })"><span itemprop="name">Flip Chip</span></a>
                <meta itemprop="position" content="3" />
            </li>
        </ol>
    </div>
</div>

<div class="breadcrumbs-pc pull-left" id="breadcrumbs-pc">
    <!-- PC版選單breadcrumbs內容 -->
    <ul class="breadcrumbs-view" id="breadcrumbs-view">
        <li class="dropdown-item">
            <span class="glyphicon glyphicon-menu-right"></span>
            <ul class="dropdown-list">
                <li><a class="active" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })">技術</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" })">產品</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Solution" })">解決方案</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Lab" })">投資人關係</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })">企業社會責任</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "About" })">了解日月光</a></li>
            </ul>
        </li>
        <li class="dropdown-item">
            <a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })">Technology</a>
            <span class="glyphicon glyphicon-menu-right"></span>
            <ul class="dropdown-list">
                <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "fan_out" })">Fan Out</a></li>
                <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "sip_module_solutions" })">SiP &amp; Module Solutions</a></li>
                <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "flip_chip" })">Flip Chip</a></li>
                <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "tsv_interposer_integration" })">TSV-Interposer Integration</a></li>
                <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "ipd" })">IPD</a></li>
                <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "wafer_level_mems" })">Wafer-Level MEMS</a></li>
                <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "mems_sensor_solutions" })">MEMS &amp; Sensor Solutions</a></li>
                <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "embedded_die_technology" })">Embedded Die Technology</a></li>
                <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "core_test_technology" })">Semiconductor Test</a></li>
            </ul>
        </li>
    </ul>
</div>

<!-- Technology list -->
<section class="inside-article">
    <div class="content-lg row">
        <article class="col-xs-12">
            <h3 class="title">Flip Chip</h3>
            <p>
                Flip chip derived its name from the method of flipping over the chip to connect with the substrate or leadframe. Unlike conventional interconnection through wire bonding, flip chip uses solder or gold bumps. Therefore, the I/O pads can be distributed all over the surface of the chip and not only on the peripheral region. The chip size can be shrunk and the circuit path, optimized. Another advantage of flip chip is the absence of bonding wire reducing signal inductance.
                <br>An essential process for flip chip packaging is wafer bumping. Wafer bumping is an advanced packaging technique where ‘bumps’ or ‘balls’ made of solder are formed on the wafers before being diced into individual chips. ASE has invested significantly in the research and development as well as in equipment for wafer bumping. It has the capacity to bump 6-inch, 8-inch and 12-inch wafers.
                <br><br>
            </p>

            <h4 class="sub-title">Flip chip technology is gaining popularity due to</h4>

            <ul class="nopadding">
                <li>
                    <strong>Shorter assembly cycle time</strong><br>
                    All the bonding for flip chip packages is completed in one process.
                </li>

                <li>
                    <strong>Higher signal density & smaller die size</strong><br>
                    Area array pad layout increases I/O density. Also, based on the same number of I/Os, the size of the die can be significantly shrunk.
                </li>

                <li>
                    <strong>Good electrical performance</strong><br>
                    Shorter path between die and substrate improves the electrical performance.
                </li>

                <li>
                    <strong>Direct thermal dissipation path</strong><br>
                    External heat sink can be directly added to the chip to remove the heat.
                </li>

                <li>
                    <strong>Lower packaging profile</strong><br>
                    Absence of wire and molding allows flip chip packages to feature lower profiles.
                </li>
            </ul>

            <div class="col-xs-12 col-md-10">
                <h4 class="sub-title">Flip Chip in ASE</h4>
                ASE offers several BGA packages using flip chip technology. There are:
                <div class="table-responsive inside-table">
                    <table class="table table-striped table-hover csr ">
                        <thead>
                            <tr>
                                <th class="col-sm-1 left-border"></th>
                                <th class="col-sm-1 left-border">I/O</th>
                                <th class="col-sm-1 left-border">Package Size (mm)</th>
                                <th class="col-sm-1 left-border">Substate</th>
                                <th class="col-sm-1 left-border">Ball Pitch (mm)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="left-border">FCCSP</td>
                                <td class="left-border">16 ~ 200</td>
                                <td class="left-border">4x4 ~ 14.0x22.0</td>
                                <td class="left-border">2/4 Layer Laminate</td>
                                <td class="left-border">0.5 ~ 1.00</td>
                            </tr>
                            <tr>
                                <td class="left-border">Ceramic FCBGA/PGA</td>
                                <td class="left-border">&#60; 1556</td>
                                <td class="left-border">27x27 ~ 49.5x49.5</td>
                                <td class="left-border">Ceramic</td>
                                <td class="left-border">0.8 ~ 1.27</td>
                            </tr>
                            <tr>
                                <td class="left-border">FCBGA</td>
                                <td class="left-border">100 ~ 1521</td>
                                <td class="left-border">27x27 ~ 40.0x40.0</td>
                                <td class="left-border">2/4 Laminate,<br>4-8 Layer Build-up</td>
                                <td class="left-border">1.0/1.27</td>
                            </tr>
                            <tr>
                                <td class="left-border">HFCBGA</td>
                                <td class="left-border">256 ~ 2401</td>
                                <td class="left-border">12x12 ~ 52.5x52.5</td>
                                <td class="left-border">4-12 Layer Build-up</td>
                                <td class="left-border">1.0/1.27</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </article>
    </div>
</section>

<section class="inside-article">
    <div class="content-lg row">
        <br><br>
        <div class="col-xs-6">
            <div class="technology-application technology-tab-active">Application</div>
        </div>
        <div class="col-xs-6">
            <div class="technology-features technology-tab-inactive">Features</div>
        </div>
        <div class="clearfix"></div>
        <div class="col-xs-12 col-md-12 technology-application-content">
            Applications include RFICs and memory ICs. ASE provides packaging service for any customer-designed size at ball pitches ranging from 0.5 to 1.0mm, and number of I/Os from 16 to 200. The types of encapsulation are underfill and overmold.
        </div>
        <div class="technology-features-content">
            <div class="col-xs-12 col-md-12">
            </div>
            <div class="col-md-4 margin-bottom-30">
                <strong>FCCSP</strong><br><br>
                FCCSP (Flip Chip Chip Scale Package) offers chip scale capacity for I/Os around 200 or less. FCCSP provides better protection for chip and better solder joint reliability compared with Direct Chip Attach (DCA) or Chip on Board (COB). FCCSP is more superior to Known Good Die (KGD) in low-cost test and burn-in, and performs comparable electrical function with KGD. FCCSP features thin and small profile, and lightweight packages.
            </div>
            <div class="col-md-4 margin-bottom-30">
                <strong>Ceramic FCBGA/PGA</strong><br><br>
                Ceramic substrate offers better moisture resistance, electrical insulating property and higher thermal conductivity than organic substrate. High Pb solder ball with eutectic solder paste improves board level reliability performance of ceramic packages.
            </div>
            <div class="col-md-4 margin-bottom-30">
                <strong>
                    FCBGA & <br>
                    High Performance FCBGA (HFCBGA)
                </strong><br><br>
                These two packages cater to I/Os of 100 to over 1500 with BT laminate or sophisticated multi-layer build-up substrates. HFCBGA is thermally enhanced through mounting a metal heat sink to the rear side of the chip and the substrate. This method can effectively remove the heat and improve the thermal performance.
            </div>
        </div>
    </div>
</section>
<br>
<section class="inside-article">
    <div class="content-lg row">
        <div class="col-xs-12 col-md-12">
            <h4 class="sub-title">Capabilities</h4>
            The thickness and the available ball count of flip chip packages are mostly customized. ASE provides several options for enhancing the performance of flip chip packages. They are:<br><br>
        </div>
        <div class="col-md-12 margin-bottom-30">
            <strong>Overall molding (for FCCSP)</strong><br><br>
            The molding is used to protect the chip, substitute underfill for lower cost and improve the thermal performance and 2nd level reliability.<br><br>
        </div>
        <div class="col-md-12">
            <strong>Heat spreader (for FCBGA)</strong><br><br>
            The heat spreader provides direct heat conduction by adhering to the rear side of the silicon chip. This method provides 6~8W of thermal dissipation under natural convection.
        </div>
        <div class="clearfix"></div>
    </div>
</section>

<br><br>
<section class="csr-bg">
    <div class="content-lg row">
        <div class="col-xs-12 csr">
            <div class="col-md-4 bgnews-list list-base">
                <div class="content">
                    <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "flip_chip_csp" })">
                        <span class="blue-text-in-box">Flip Chip CSP</span>
                        <div class="circle_button-wrapper pull-right">
                            <div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-4 bgnews-list list-base">
                <div class="content">
                    <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "flip_chip_bga" })">
                        <span class="blue-text-in-box">Flip Chip BGA</span>
                        <div class="circle_button-wrapper">
                            <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-4 bgnews-list list-base">
                <div class="content">
                    <a href="hp_@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "flip_chip_bga" })">
                        <span class="blue-text-in-box">HP Flip Chip BGA</span>
                        <div class="circle_button-wrapper">
                            <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-4 bgnews-list list-base">
                <div class="content">
                    <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "cu_pillar" })">
                        <span class="blue-text-in-box">Cu Pillar</span>
                        <div class="circle_button-wrapper">
                            <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-4 bgnews-list list-base">
                <div class="content">
                    <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "solder_bumping" })">
                        <span class="blue-text-in-box">Solder Bumping</span>
                        <div class="circle_button-wrapper">
                            <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<br><br>
<section class="inside-article">
    <div class="content-lg row">
        <div class="col-xs-12">
            <div class="color-318AC6">More Technology</div>
            <div class="technology-bottom-flex">
                <div class="technology-bottom"><a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "fan_out" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-01.png"><br>Fan Out</a></div>
                <div class="technology-bottom"><a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "sip_module_solutions" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-02.png"><br>SiP & Module Solutions</a></div>
                <div class="technology-bottom opacity-50"><a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "flip_chip" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-03.png"><br>Flip Chip</a></div>
                <div class="technology-bottom"><a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "tsv_interposer_integration" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-04.png"><br>TSV-interposer integration</a></div>

                <div class="technology-bottom"><a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "ipd" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-06.png"><br>IPD</a></div>
                <div class="technology-bottom"><a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "wafer_level_mems" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-07.png"><br>Wafer-Level MEMS</a></div>
                <div class="technology-bottom"><a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "mems_sensor_solutions" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-08.png"><br>MEMS & Sensor Solutions</a></div>
                <div class="technology-bottom"><a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "embedded_die_technology" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-09.png"><br>Embedded Die Technology</a></div>
            </div>
        </div>
        <!-- technolog carousel -->
        <div class="row">
            <div class="col-xs-12">
                <div class="container technology-carousel">
                    <div class='row'>
                        <div class='col-xs-12'>
                            <div class="carousel slide media-carousel" id="media">
                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#media" data-slide-to="0" class="active"></li>
                                    <li data-target="#media" data-slide-to="1"></li>
                                    <li data-target="#media" data-slide-to="2"></li>
                                </ol>
                                <div class="carousel-inner">
                                    <div class="item  active">
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "fan_out" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-01.png"><br>Fan Out</a>
                                            </div>
                                            <div class="col-xs-4">
                                                <a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "sip_module_solutions" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-02.png"><br>SiP & Module Solutions</a>
                                            </div>
                                            <div class="col-xs-4">
                                                <a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "flip_chip" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-03.png"><br>Flip Chip</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "tsv_interposer_integration" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-04.png"><br>TSV-interposer integration</a>
                                            </div>
                                            <div class="col-xs-4">
                                                <a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "ipd" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-06.png"><br>IPD</a>
                                            </div>
                                            <div class="col-xs-4">
                                                <a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "wafer_level_mems" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-07.png"><br>Wafer-Level MEMS</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "mems_sensor_solutions" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-08.png"><br>MEMS & Sensor Solutions</a>
                                            </div>
                                            <div class="col-xs-4">
                                                <a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "embedded_die_technology" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-09.png"><br>Embedded Die Technology</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a data-slide="prev" href="#media" class="left carousel-control">‹</a>
                                <a data-slide="next" href="#media" class="right carousel-control">›</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end technology carousel -->
    </div>
</section>

<script>
	$(document).ready(function() {
		$('#media').carousel({
			pause: true,
			interval: false,
		});
		$("#media").swiperight(function() { /* enables the swiping on phone */
			$(this).carousel('prev');
		});
		$("#media").swipeleft(function() { /* enables the swiping on phone */
			$(this).carousel('next');
		});
		$(".technology-features-content").hide();

		$('.technology-application').click(function() {
			$(this).closest(".row").find(".technology-features").removeClass("technology-tab-active").addClass("technology-tab-inactive");
			$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
			$(this).closest(".row").find(".technology-features-content").hide();
			$(this).closest(".row").find(".technology-application-content").fadeIn(1000);
		});
		$('.technology-features').click(function() {
			$(this).closest(".row").find(".technology-application").removeClass("technology-tab-active").addClass("technology-tab-inactive");
			$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
			$(this).closest(".row").find(".technology-application-content").hide();
			$(this).closest(".row").find(".technology-features-content").fadeIn(1000);
		});
	});
</script>
