﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
}
<!-- page Banner -->
<section id="page-vision" class="page-banner-s banner-fit">
    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/lab/banner_lab.jpg" />
    <h1 class="page-title">LAB</h1>
</section>

<!--breadcrumbs-->
<div class="content-lg row">
    <div class="col-xs-12">
        <ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="@Url.Action("Index", "Home", new { lang = ViewBag.language.lang })"><i class="icon-home"></i><span itemprop="name">首頁</span></a>
                <meta itemprop="position" content="1" />
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Lab" })"><span itemprop="name">LAB</span></a>
                <meta itemprop="position" content="2" />
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="#"><span itemprop="name">Package Design Services</span></a>
                <meta itemprop="position" content="3" />
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "green_lab" })"><span itemprop="name">Electrical Lab</span></a>
                <meta itemprop="position" content="4" />
            </li>
        </ol>
    </div>
</div>

<div class="breadcrumbs-pc pull-left" id="breadcrumbs-pc">
    <!-- PC版選單breadcrumbs內容 -->
    <ul class="breadcrumbs-view" id="breadcrumbs-view">
        <li class="dropdown-item">
            <span class="glyphicon glyphicon-menu-right"></span>
            <ul class="dropdown-list">
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })">技術</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" })">產品</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Solution" })">解決方案</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Lab" })">投資人關係</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })">企業社會責任</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "About" })">了解日月光</a></li>
            </ul>
        </li>
        <li class="dropdown-item">
            <a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Lab" })">LAB</a>
            <span class="glyphicon glyphicon-menu-right"></span>
            <ul class="dropdown-list">
                <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "electrical_lab" })">Electrical Lab</a></li>
                <li><a href="javascript:;">Material Lab</a></li>
                <li><a href="javascript:;">Stress-Thermal Lab</a></li>
                <li><a href="javascript:;">Chemical Lab</a></li>
                <li><a href="javascript:;">Analysis and Diagnosis Lab</a></li>
                <li><a href="javascript:;">Green Technology Lab</a></li>
                <li><a href="javascript:;">Mold Flow Lab</a></li>
                <li><a href="javascript:;">Compound Material Lab</a></li>
                <li><a href="javascript:;">Optical Lab</a></li>
                <li><a href="javascript:;">e-Thermal Simulator</a></li>
                <li><a href="javascript:;">e-Stress Simulator</a></li>
            </ul>
        </li>
    </ul>
</div>

<!-- Green Lab Content -->
<section>
    <div class="content-lg row">
        <div class="col-md-12">

            <div class="heading_3">Green Technology Lab</div><br>
            <p class="spacing2em">
                Green Technology Lab is an integrated laboratory for Green Product and Clean Process in connection to IC Packaging and Electronics Manufacturing. Our research focus on developing advanced Green Technology and creating a Sustainable and ECO-sufficient Environment.
            </p>
            <p>Role of Green Lab</p>
            <ul class="spacing1-5em">
                <li>Environmental risk assessment & resource integration</li>
                <li>Reusable material evaluation</li>
                <li>Green material development & Eco-Friendly Materials</li>
            </ul>
            <br><br>



            <div class="labs-container">
                <div class="left-lab-box">
                    <div class="circle_button darkgray"><i class="icon-arrow-left"></i></div>
                    &nbsp;&nbsp; Package Design Service
                </div>
                <div class="right-lab-box">
                    <!-- bottom pictures -->
                    <div class="bottom-pic-section">
                        <div class="heading_6 padding-left-10 padding-top-10">To see our Lab category<br><br></div>
                        <div class="bottom-pic-box">
                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/u3119.png">
                            <div class="bottom-pic-text">Electrical Lab</div>
                        </div>
                        <div class="bottom-pic-box">
                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/u3119.png">
                            <div class="bottom-pic-text">Material Lab</div>
                        </div>
                        <div class="bottom-pic-box">
                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/u3119.png">
                            <div class="bottom-pic-text">Stress-Thermal Lab</div>
                        </div>
                        <div class="bottom-pic-box">
                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/u3119.png">
                            <div class="bottom-pic-text">Chemical Lab</div>
                        </div>
                        <div class="bottom-pic-box">
                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/u3119.png">
                            <div class="bottom-pic-text">Analysis and Diagnosis Lab</div>
                        </div>
                        <div class="bottom-pic-box">
                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/u3119.png">
                            <div class="bottom-pic-text"><span class="grey-text">Green Technology Lab</span></div>
                        </div>
                        <div class="bottom-pic-box">
                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/u3119.png">
                            <div class="bottom-pic-text">Mold Flow Lab</div>
                        </div>
                        <div class="bottom-pic-box">
                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/u3119.png">
                            <div class="bottom-pic-text">Compound Material Lab</div>
                        </div>
                        <div class="bottom-pic-box">
                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/u3119.png">
                            <div class="bottom-pic-text">Optical Lab</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>