﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/tw/_Layout.cshtml";
}
<!-- page Banner -->
<section id="page-vision" class="page-banner-s banner-fit long-text">
    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/supplier/banner_supplier.jpg" />
    <h1 class="page-title">供應商專區</h1>
</section>

<!--breadcrumbs-->
<div class="content-lg row">
    <div class="col-xs-12">
        <ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="@Url.Action("Index", "Home", new { lang = ViewBag.language.lang })"><i class="icon-home"></i><span itemprop="name">首頁</span></a>
                <meta itemprop="position" content="1" />
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Supplier" })"><span itemprop="name">供應商專區</span></a>
                <meta itemprop="position" content="2" />
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "grow_with_supply_chain" })"><span itemprop="name">供應鏈永續倡議</span></a>
                <meta itemprop="position" content="3" />
            </li>
        </ol>
    </div>
</div>

<div class="breadcrumbs-pc pull-left" id="breadcrumbs-pc">
    <!-- PC版選單breadcrumbs內容 -->
    <ul class="breadcrumbs-view" id="breadcrumbs-view">
        <li class="dropdown-item">
            <span class="glyphicon glyphicon-menu-right"></span>
            <ul class="dropdown-list">
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })">技術</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" })">產品</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Solution" })">解決方案</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Lab" })">投資人關係</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })">企業社會責任</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "About" })">了解日月光</a></li>
            </ul>
        </li>
        <li class="dropdown-item">
            <a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Supplier" })">供應商專區</a>
            <span class="glyphicon glyphicon-menu-right"></span>
            <ul class="dropdown-list">
                <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "message_from_top_management" })">總經理的話</a></li>
                <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "Supply_Chain_Development_Policy" })">供應鏈政策與行為準則</a></li>
                <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "supply_chain_development" })">供應鏈管理</a></li>
                <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "supply_chain_development_and_sustainability_management" })">Supply Chain Sustainable Management</a></li>
                <li><a href="@Url.Action("Index", "Supplier", new { lang = ViewBag.language.lang })">Become ASE Supply Chain Partner</a></li>
                <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "grow_with_supply_chain" })">供應鏈永續倡議</a></li>
            </ul>
        </li>
    </ul>
</div>

<section class="inside-article">
    <div class="content-lg row">
        <div class="col-xs-12">
            <h3 class="title">供應鏈永續倡議</h3>
            <p class="spacing2em">日月光致力於供應鏈管理與永續發展領域相關的對外倡議，並積極參與相關組織包含:</p>


            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/supplier/grow_with_supply_chain1.gif" height="100" class="pull-right">
            <h4 class="sub-title">Responsible Business Alliance (RBA)</h4>
            <p class="spacing2em">2015年成為其會員，積極主動參與其年度會議，與其他會員共同於供應商管理議題上進行討論。</p>
            </br>

            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/supplier/grow_with_supply_chain2.png" height="120" class="pull-right margin-right-80">
            <h4 class="sub-title">Responsible Minerals Initiative (RMI)</h4>
            <p class="spacing2em">2015年成為其會員，並參與CMRT和盡責調查(Due Diligence, DD)工作團隊。</p>

        </div>
    </div>
</section>
