﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
}
<!-- page Banner -->
<section id="page-vision" class="page-banner-s banner-technology">
    <h1 class="page-title title-large">Technology</h1>
</section>

<!--breadcrumbs-->
<div class="content-lg row">
    <div class="col-xs-12">
        <ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="@Url.Action("Index", "Home", new { lang = ViewBag.language.lang })"><i class="icon-home"></i><span itemprop="name">首頁</span></a>
                <meta itemprop="position" content="1" />
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })"><span itemprop="name">技術</span></a>
                <meta itemprop="position" content="2" />
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="@Url.Action("Intellectual_Property", "Technology", new { lang = ViewBag.language.lang })"><span itemprop="name">智財</span></a>
                <meta itemprop="position" content="3" />
            </li>
        </ol>
    </div>
</div>

<div class="breadcrumbs-pc pull-left" id="breadcrumbs-pc">
    <!-- PC版選單breadcrumbs內容 -->
    <ul class="breadcrumbs-view" id="breadcrumbs-view">
        <li class="dropdown-item">
            <span class="glyphicon glyphicon-menu-right"></span>
            <ul class="dropdown-list">
                <li><a class="active" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })">技術</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" })">產品</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Solution" })">解決方案</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Lab" })">投資人關係</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })">企業社會責任</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "About" })">了解日月光</a></li>
            </ul>
        </li>
        <li class="dropdown-item">
            <a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })">Technology</a>
            <span class="glyphicon glyphicon-menu-right"></span>
            <ul class="dropdown-list">
                <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "fan_out" })">Fan Out</a></li>
                <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "sip_module_solutions" })">SiP &amp; Module Solutions</a></li>
                <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "flip_chip" })">Flip Chip</a></li>
                <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "tsv_interposer_integration" })">TSV-Interposer Integration</a></li>
                <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "ipd" })">IPD</a></li>
                <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "wafer_level_mems" })">Wafer-Level MEMS</a></li>
                <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "mems_sensor_solutions" })">MEMS &amp; Sensor Solutions</a></li>
                <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "embedded_die_technology" })">Embedded Die Technology</a></li>
                <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "core_test_technology" })">Semiconductor Test</a></li>
            </ul>
        </li>
    </ul>
</div>

<!-- Technology list -->
<section class="inside-article">
    <div class="content-lg row">
        <div class="col-xs-12">
            <h3 class="title">智財</h3>
            <h4 class="sub-title">IP Management</h4>
        </div>
        <div class="col-md-6 col-lg-7">
            <p>
                The ASE Group is a global leader in semiconductor production and services. The ASE Group has maintained its leading role in innovation through continuous research and development of cutting-edge technology and superior management of intellectual property. The ASE Group's intellectual property management is closely related to its overall operational planning and implementation. From business opportunities to research and development, intellectual property production, and the handling of applications for intellectual property, each aspect is linked to the next in a value chain, which can be divided into five main processes as follows:
                <br><br>
                <ol class="nopadding">
                    <li>The implementation of R&D according to prospects in the industry to ensure that key business opportunities are researched for further development.</li>
                    <li>A well-organized internal intellectual property application system to ensure appropriate disclosure of R&D outcomes and innovations.</li>
                    <li>
                        With the assistance of professionals from the Intellectual Property Department, the development of disclosures of innovation into
                        quality applications intellectual property.
                    </li>
                    <li>
                        Quality processing of intellectual property applications to ensure that items applied for become valuable intellectual property, and
                        that an intellectual library is developed.
                    </li>
                    <li>
                        The utilization of highly valuable intellectual property to facilitate the success of the business, whether in order cycles, profit increases
                        from production manufacturing, or the development of further business opportunities.
                    </li>
                </ol>
            </p>
        </div>
        <div class="col-md-6 col-lg-5">
            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/intellectual_property1.png">
        </div>
        <div class="clearfix"></div>
        <div class="col-md-6 col-lg-7">
            <p>
                Moreover, protecting R&D outcomes with intellectual property rights builds a wall that prevents others from stealing the ASE Group's technology. It also protects the ASE Group from being attacked by its  competitors using their intellectual property, thus ensuring the company's smooth operation.<br><br>

                As of 2016, the ASE Group has cumulatively obtained more than 3000 patents. The quality of the ASE Group's  patented products is so well-recognized that it has been selected as one of the world's top 20 semiconductor equipment manufacturing companies in the Patent Power Scorecards for 10 consecutive years (2007 – 2016), a clear indicator that the ASE Group continues to maintain a balance between the number of  patents applied for and their quality.
            </p>
        </div>
        <div class="col-md-6 col-lg-5">
            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/intellectual_property2.png">
        </div>

        <div class="col-xs-12 col-md-12">
            <h4 class="sub-title">IP Awards</h4>
            <div class="table-responsive inside-table">
                <table class="table table-striped table-hover csr">
                    <thead>
                        <tr>
                            <th class="col-sm-2 left-border">Year</th>
                            <th class="col-sm-11 left-border">IP Awards</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="left-border">2007 - 2016</td>
                            <td class="left-border">"The world's top 20 semiconductor equipment manufacturing companies in the Patent Power Scorecards" by the Institute of Electrical and Electronics Engineers (IEEE)</td>
                        </tr>
                        <tr>
                            <td class="left-border">2011</td>
                            <td class="left-border">"National Invention and Creation Award" by Ministry of Economic Affairs/ Intellectual Property Office</td>
                        </tr>
                        <tr>
                            <td class="left-border">2012</td>
                            <td class="left-border">
                                "Quality Award for the Operation and Management of Intellectual Property" and "The best Intellectual Property Report of 2012" by Institute for Information Industry and "Global Views Monthly" magazine
                            </td>
                        </tr>
                        <tr>
                            <td class="left-border">2013</td>
                            <td class="left-border">IPQ Top 50 by Science & Technology Law Institute</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>

    </div>
</section><br>
