﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
}
<!-- page Banner -->
<section id="page-vision" class="page-banner-s banner-technology">
    <h1 class="page-title title-large">Technology</h1>
</section>

<!--breadcrumbs-->
<div class="content-lg row">
    <div class="col-xs-12">
        <ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="@Url.Action("Index", "Home", new { lang = ViewBag.language.lang })"><i class="icon-home"></i><span itemprop="name">首頁</span></a>
                <meta itemprop="position" content="1" />
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })"><span itemprop="name">技術</span></a>
                <meta itemprop="position" content="2" />
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <span itemprop="name">MEMS & Sensor Solutions</span>
                <meta itemprop="position" content="3" />
            </li>

        </ol>
    </div>
</div>

<div class="breadcrumbs-pc pull-left" id="breadcrumbs-pc">
    <!-- PC版選單breadcrumbs內容 -->
    <ul class="breadcrumbs-view" id="breadcrumbs-view">
        <li class="dropdown-item">
            <span class="glyphicon glyphicon-menu-right"></span>
            <ul class="dropdown-list">
                <li><a class="active" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })">技術</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" })">產品</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Solution" })">解決方案</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Lab" })">投資人關係</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })">企業社會責任</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "About" })">了解日月光</a></li>
            </ul>
        </li>
        <li class="dropdown-item">
            <a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })">Technology</a>
            <span class="glyphicon glyphicon-menu-right"></span>
            <ul class="dropdown-list">
                <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "fan_out" })">Fan Out</a></li>
                <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "sip_module_solutions" })">SiP &amp; Module Solutions</a></li>
                <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "flip_chip" })">Flip Chip</a></li>
                <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "tsv_interposer_integration" })">TSV-Interposer Integration</a></li>
                <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "ipd" })">IPD</a></li>
                <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "wafer_level_mems" })">Wafer-Level MEMS</a></li>
                <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "mems_sensor_solutions" })">MEMS &amp; Sensor Solutions</a></li>
                <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "embedded_die_technology" })">Embedded Die Technology</a></li>
                <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "core_test_technology" })">Semiconductor Test</a></li>
            </ul>
        </li>
    </ul>
</div>

<!-- Technology list -->
<section>
    <div class="content-lg row">
        <div class="col-md-12">

            <div class="heading_4">MEMS & Sensor Solutions</div>
            <div class="row">
                <div class="col-md-3"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/u4772.jpg" class="center-block"></div>
                <div class="col-md-3"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/u4774.jpg" class="center-block"></div>
                <div class="col-md-3"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/u4776.jpg" class="center-block"></div>
                <div class="col-md-3"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/u4778.jpg" class="center-block"></div>
            </div>
            <br>
            <p>In MEMS and sensor, the package protects the sensitive internal structures from environmental influences such as temperature, moisture, high pressure and oxidizing species. The long-term stability and reliability of the functional elements depend on the encapsulation process. Metal bonding which is one of bonding technology using molten metal entails heat, applied locally or generally and a molten metal phase, either provided from the parent material of the parts being joining, as in welding, or from a molten metal phase.</p>

            <br>
            <div class="heading_5">Application</div>
            <p>For certain MEMS device, such as RF MEMS, vacuum or atmosphere is a necessity and influence sensor performance directly. Therefore, metal-to-metal (M2M) technology is focused recently to provide not only high quality hermetic but also fine pitch interconnection.</p>

            <br>
            <div class="heading_5">Capabilities</div>
            <p>Thin film solder bonding is achievable through metal to metal bonding by test vehicle validation.</p>

            <br>
            <div class="heading_5">Features</div>
            <p>Internal structure protecting device packages and direct electrical interconnect structures without additional steps.</p>

            <br><br>

        </div>
    </div>

    <!-- bottom pictures -->
    <div class="content-lg row bottom-pic-section">
        <div class="col-md-12">
            <div class="heading_6 padding-left-20">More Technology<br><br></div>
            <div class="bottom-pic-box">
                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/u3119.png">
                <div class="bottom-pic-text">Fan Out</div>
            </div>
            <div class="bottom-pic-box">
                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/u3119.png">
                <div class="bottom-pic-text">SiP & Module Solutions</div>
            </div>
            <div class="bottom-pic-box">
                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/u3119.png">
                <div class="bottom-pic-text">Flip Chip</div>
            </div>
            <div class="bottom-pic-box">
                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/u3119.png">
                <div class="bottom-pic-text">TSV-interposer integration</div>
            </div>
            <div class="bottom-pic-box">
                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/u3119.png">
                <div class="bottom-pic-text">Die Stacking</div>
            </div>
            <div class="bottom-pic-box">
                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/u3119.png">
                <div class="bottom-pic-text">IPD</div>
            </div>
            <div class="bottom-pic-box">
                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/u3119.png">
                <div class="bottom-pic-text">Wafer-Level MEMS</div>
            </div>
            <div class="bottom-pic-box">
                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/u3119.png">
                <div class="bottom-pic-text"><span class="grey-text">MEMS & Sensor Solutions</span></div>
            </div>
            <div class="bottom-pic-box">
                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/u3119.png">
                <div class="bottom-pic-text">Embedded Die Technology</div>
            </div>
        </div>
    </div>
</section>