﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
}

<!-- page Banner -->
<section id="page-vision" class="page-banner-s banner-technology">
    <h1 class="page-title title-large">Technology</h1>
</section>

<!--breadcrumbs-->
<div class="content-lg row">
    <div class="col-xs-12">
        <ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="@Url.Action("Index", "Home", new { lang = ViewBag.language.lang })"><i class="icon-home"></i><span itemprop="name">首頁</span></a>
                <meta itemprop="position" content="1" />
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })"><span itemprop="name">技術</span></a>
                <meta itemprop="position" content="2" />
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "embedded_die_technology" })"><span itemprop="name">Embedded Die Technology</span></a>
                <meta itemprop="position" content="3" />
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "sesub" })"><span itemprop="name">SESUB</span></a>
                <meta itemprop="position" content="4" />
            </li>
        </ol>
    </div>
</div>

<div class="breadcrumbs-pc pull-left" id="breadcrumbs-pc">
    <!-- PC版選單breadcrumbs內容 -->
    <ul class="breadcrumbs-view" id="breadcrumbs-view">
        <li class="dropdown-item">
            <span class="glyphicon glyphicon-menu-right"></span>
            <ul class="dropdown-list">
                <li><a class="active" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })">技術</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" })">產品</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Solution" })">解決方案</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Lab" })">投資人關係</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })">企業社會責任</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "About" })">了解日月光</a></li>
            </ul>
        </li>
        <li class="dropdown-item">
            <a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })">Technology</a>
            <span class="glyphicon glyphicon-menu-right"></span>
            <ul class="dropdown-list">
                <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "fan_out" })">Fan Out</a></li>
                <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "sip_module_solutions" })">SiP &amp; Module Solutions</a></li>
                <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "flip_chip" })">Flip Chip</a></li>
                <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "tsv_interposer_integration" })">TSV-Interposer Integration</a></li>
                <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "ipd" })">IPD</a></li>
                <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "wafer_level_mems" })">Wafer-Level MEMS</a></li>
                <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "mems_sensor_solutions" })">MEMS &amp; Sensor Solutions</a></li>
                <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "embedded_die_technology" })">Embedded Die Technology</a></li>
                <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "core_test_technology" })">Semiconductor Test</a></li>
            </ul>
        </li>
    </ul>
</div>

<!-- Technology list -->
<section class="inside-article">
    <div class="content-lg row">
        <article class="col-xs-12">
            <div class="col-sm-8 col-md-6 col-lg-4"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/sesub1.jpg"></div>
            <div class="clearfix"></div>
            <h3 class="title">SESUB</h3>
            <p>
                SESUB (Semiconductor Embedded in SUBstrate) is a technology that embeds the IC in the laminated substrate. This substrate with the thinned IC embedded can be mounted with various electronic components to form a highly integrated, multiple function module/package. SESUB enables the micro-modularization of functional circuitry such as high-performance PMUs for smartphones as well as Bluetooth modules. SESUB has already been a proven technology by many customers and IC vendors.
            </p>
        </article>
    </div>
</section>

<section class="inside-article">
    <div class="content-lg row">
        <br><br>
        <div class="col-xs-6">
            <div class="technology-application technology-tab-active">Application</div>
        </div>
        <div class="col-xs-6">
            <div class="technology-features technology-tab-inactive">Features</div>
        </div>
        <div class="clearfix"></div>
        <div class="technology-application-content">
            <div class="col-sm-12 col-md-12">
                <strong>A broad application coverage including: </strong>
                <ul class="nopadding">
                    <li>Power</li>
                    <li>Connectivity</li>
                    <li>Sensor</li>
                    <li>Processor</li>
                    <li>High frequency application</li>
                    <li>Audio</li>
                    <li>Automotive ADAS</li>
                </ul>
            </div>
        </div>
        <div class="technology-features-content">
            <div class="col-sm-12 col-md-6">
                The figure below illustrates the cross-section view of a multi die embedded module utilizing SESUB technology. The SESUB is a 1-2-1 4-layer structure which provides properties for size reduction, thermal dissipation, mechanical robustness, performance improvement. SESUB not only serves as module, but also as package with thin thickness. The properties include<br><br>
                <ul class="nopadding">
                    <li>Multi-die embedded in substrate</li>
                    <li>Very thin die thickness min. 50um</li>
                    <li>Thin substrate thickness max.300um</li>
                    <li>High integration package</li>
                    <li>Small form factor</li>
                    <li>Enhance heat dissipation</li>
                    <li>Robust copper connection</li>
                    <li>Mitigate unwanted noise radiation</li>
                    <li>SMT on surface of substrate</li>
                    <li>JEDEC MSL3 certified</li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-6">
                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/sesub2.jpg">
            </div>
        </div>
        <div class="col-md-12">
            <div class="circle_button-wrapper pull-left">
                <br>
                <a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })">
                    <div class="circle_button darkgray pull-left"><i class="icon-arrow-left"></i></div><span class="more-tech-link">More Technology</span>
                </a>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</section>
<br>

<section class="csr-bg">
    <div class="content-lg row">
        <div class="col-xs-12 csr">
            <div class="col-md-2 bgnews-list list-base">
            </div>
            <div class="col-sm-6 col-md-4 bgnews-list list-base">
                <div class="content">
                    <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "aeasi" })">
                        <span class="blue-text-in-box">aEASI</span>
                        <div class="circle_button-wrapper pull-right">
                            <div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 bgnews-list list-base">
                <div class="content">
                    <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "sesub" })">
                        <span class="blue-text-in-box">SESUB</span>
                        <div class="circle_button-wrapper">
                            <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
	$(document).ready(function() {
		$(".technology-features-content").hide();

		$('.technology-application').click(function() {
			$(this).closest(".row").find(".technology-features").removeClass("technology-tab-active").addClass("technology-tab-inactive");
			$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
			$(this).closest(".row").find(".technology-features-content").hide();
			$(this).closest(".row").find(".technology-application-content").fadeIn(1000);
		});
		$('.technology-features').click(function() {
			$(this).closest(".row").find(".technology-application").removeClass("technology-tab-active").addClass("technology-tab-inactive");
			$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
			$(this).closest(".row").find(".technology-application-content").hide();
			$(this).closest(".row").find(".technology-features-content").fadeIn(1000);
		});
	});
</script>