﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-csr">
		<h1 class="page-title title-large">CSR</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Index", "Home", new { lang = ViewBag.language.lang })"><i class="icon-home"></i><span itemprop="name">首頁</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })"><span itemprop="name">CSR</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "supply_chain_development" })"><span itemprop="name">Supply Chain Development</span></a>
					<meta itemprop="position" content="3" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="#"><span itemprop="name">Supplier and Contractor Sustainability Management</span></a>
					<meta itemprop="position" content="3" />
				</li>
			</ol>
		</div>
	</div>

	<div class="breadcrumbs-pc pull-left" id="breadcrumbs-pc">
	<!-- PC版選單breadcrumbs內容 -->
		<ul class="breadcrumbs-view" id="breadcrumbs-view">
			<li class="dropdown-item">
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })">技術</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" })">產品</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Solution" })">解決方案</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "ir" })"  >投資人關係</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })">企業社會責任</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "About" })">了解日月光</a></li>
				</ul>
			</li>
			<li class="dropdown-item">
				<a href="javascript:;">CSR</a>
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
			<li><a href="@Url.Action("Letter_Chairman", "CSR", new { lang = ViewBag.language.lang })">Letter from the Chairman</a></li>
					<li><a href="@Url.Action("Sustainability_Governance", "CSR", new { lang = ViewBag.language.lang })">Sustainability Governance</a></li>
					<li><a href="@Url.Action("Stakeholder_Engagement", "CSR", new { lang = ViewBag.language.lang })">Stakeholder Engagement</a></li>
					<li><a href="javascript:;">Corporate Governance</a></li>
					<li><a href="@Url.Action("environmental_sustainability", "CSR", new { lang = ViewBag.language.lang })">Environmental Sustainability</a></li>
					<li><a href="@Url.Action("Employee_Care_Development", "CSR", new { lang = ViewBag.language.lang })">Employee Care &amp; Development</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "supply_chain_development" })" class="active">Supply Chain Development</a></li>
					<li><a href="@Url.Action("Corporate_Citizenship_Social_Involvement", "CSR", new { lang = ViewBag.language.lang })">Corporate Citizenship and Social Involvement</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "Downloads" })">CSR Reports Downloads</a></li>
				</ul>
			</li>
		</ul>
	</div>
	<!-- Letter from the Chairman -->
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">Supplier and Contractor Sustainability Management</h3>
				<p>
				We expect our suppliers/contractors to offer fair terms and safe working conditions to their empl ppliers/contractors who employ child labor or forced labor are not tolerated and will be removed from our partnership.
				</p>

				<h3 class="title">Supplier Sustainability Management</h3>
				<p>
					To fulfill ASE Group Purchasing and Supply Chain Development Policy and our commitments, we conduct a four-stage approach to promoting suppliers' sustainability performance. <br><br>

					We believe that ASE's long-term operation and success relies on the realization of corporate social responsibilities. In order to ensure that working conditions in the supply chain are safe, workers are treated with respect and dignity, and business operations are environmentally responsible and conducted ethically, we became an applicant member of the EICC in 2015. After joining EICC, we actively participated in EICC Annual Meeting, where we co-worked with other members on discussing a series of supply chain management related issues such as U.N. Guiding Principles on Business and Human Rights (UNGP), water stewardship, chemical management and supply chain transparency. We believe that by exchanging experiences with other members and conducting purchasing activities in compliance with EICC regulations, we are able to decrease risks in our supply chain.
					</p>

					<strong>Supply Chain Sustainability Management Approach</strong>
					<div class="table-responsive inside-table">
						<table class="table table-striped table-hover csr">
							<tbody>
								<tr class="empty-tr"><td></td><td></td></tr>
								<tr>
									<td class="dark-blue bottom-border col-md-3">Sustainability Requirement </td>
									<td class="left-border col-md-9">
									Supplier Commitment Letter : <br>
									We request our suppliers to sign the Commitment Letter to gurantee their compliance with our Supplier Code of Conduct, which covers “labor, health and safety, environmental, business ethics and the management system”. In addition, we amended and added EICC terms to our ASE Group Purchase Order pursuant to which our suppliers agree to comply with all regional, country laws and follow the EICC and ASE supplier Code of Conduct. <br><br>

									Supplier Sustainability Assessment Questionnaire : <br>
									New suppliers must pass our sustainability assessment, and critical suppliers need to complete the sustainability assessment questionnaire annually, which covers multi-aspects including environment, health and safety, climate change, canbon management, water management, risk management, legal compliance, human rights and conflict minerals.  </td>
								</tr>
								<tr>
									<td class="dark-blue">Risk Assessment </td>
									<td class="left-border">
										Risk Assessment 1: <br>
										We conduct an initial risk assessment of tier 1 suppliers in accordance with the manufacturing location, manufacturing processes, purchasing amount, and we also perform risk assessments for critical suppliers based upon the sustainability assessment questionnaire to determine which supplier has potential high-risk. <br><br>

										Risk Assessment 2: <br>
										The potential high-risk suppliers need to complete the EICC Self-Assessment Questionnaire (SAQ) to facilitate risk identification and to identify the high-risk suppliers. </td>
								</tr>
								<tr>
									<td class="dark-blue">Validation</td>
									<td class="left-border">Supplier Audit :<br>
										On-site or document audits are carried out to ensure effective management of high-risk suppliers.   </td>
								</tr>
								<tr>
									<td class="dark-blue">Improvement</td>
									<td class="left-border">Training and Communication : <br>
									We help our suppliers to improve their performance through meetings, trainings, workshops, seminars, QBR (Quarterly Business Review) and the annual best supplier ceremony.   </td>
								</tr>
							</tbody>
						</table>
					</div>

					<div class="col-md-8">
					<h3 class="title">Supplier Sustainability Audit Results</h3>
					<p>To ensure effective management of our suppliers' sustainability performance, we ha annual audits of our tier 1 suppliers. Based on these findings, we requested suppliers to respond with improvement plan and re-audit the results of their corrective actions in the following year. The auditing cycle facilitates our suppliers to not only reduce their risks, but also maintain an effective management system.
					</p>
					<h3 class="title">Contractor Sustainability Management</h3>
					<p>
					ASE and its facility contractors, waste contractors and service contractors (collectively, "contractors") continue to work closely in a symbiotic relationship to achieve the "zero disaster at work" target. We provide trainings and exercises to reduce health and safety risks and incidents, and contractors can also enhance their performance by implementing safety and health management evaluations. In 2015, we recorded a total of 490 communication meetings with our contractors to deliver our health and safety requirements and regulations.<br>
					We also encourage our contractors to be certified for ISO 14001, OHSAS 18001 or other Environment, Health and Safety management systems and enhance their management approaches.
					</p>
					</div>
					<div class="col-md-4"><br><br><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/supplier_and_contractor_sustainability_management1.png"><br><br></div>
					<div class="clearfix"></div>


					<div class="col-md-8">
						<h4 class="sub-title">Sustainability Management for Contractors</h4>
					<ul class="nopadding">
						<li>Establish security partnership by providing guidance to build a robust security management framework.</li>
						<li>Conduct monthly assessment on performance to ensure "zero disasters" management.</li>
						<li>Conduct regular communication meetings.</li>
						<li>Health and safety trainings required for all personnel working on site.</li>
						<li>Increase the frequency of safety audits at work places.</li>
						<li>Request contractors with high incidences of safety violations to make immediate improvements.</li>
						<li>Identify high-risk tasks and establish corresponding safety precautions and control procedures.</li>
					</ul>

					<h4 class="sub-title">Contractor Sustainability Audit Results</h4>
					<p>To ensure the safety of our contractors, we completed more than 300 audits and workplace inspections in 2015 to ensure the safety and health performance of contractors.</p>
					</div>
					<div class="col-md-4"><br><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/supplier_and_contractor_sustainability_management2.png"></div>
					<div class="clearfix"></div>
					<br><br>





			</article>
		</div>
	</section>
