﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
}
<!-- page Banner -->
<section id="page-vision" class="page-banner-s banner-technology">
    <h1 class="page-title title-large">Technology</h1>
</section>

<!--breadcrumbs-->
<div class="content-lg row">
    <div class="col-xs-12">
        <ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="@Url.Action("Index", "Home", new { lang = ViewBag.language.lang })"><i class="icon-home"></i><span itemprop="name">首頁</span></a>
                <meta itemprop="position" content="1" />
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })"><span itemprop="name"技術</span></a>
                <meta itemprop="position" content="2" />
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="@Url.Action("ASE_Trademarks", "Technology", new { lang = ViewBag.language.lang })"><span itemprop="name">Trademarks and Service Marks</span></a>
                <meta itemprop="position" content="3" />
            </li>
        </ol>
    </div>
</div>

<div class="breadcrumbs-pc pull-left" id="breadcrumbs-pc">
    <!-- PC版選單breadcrumbs內容 -->
    <ul class="breadcrumbs-view" id="breadcrumbs-view">
        <li class="dropdown-item">
            <span class="glyphicon glyphicon-menu-right"></span>
            <ul class="dropdown-list">
                <li><a class="active" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })">技術</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" })">產品</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Solution" })">解決方案</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Lab" })">投資人關係</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })">企業社會責任</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "About" })">了解日月光</a></li>
            </ul>
        </li>
        <li class="dropdown-item">
            <a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })">Technology</a>
            <span class="glyphicon glyphicon-menu-right"></span>
            <ul class="dropdown-list">
                <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "fan_out" })">Fan Out</a></li>
                <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "sip_module_solutions" })">SiP &amp; Module Solutions</a></li>
                <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "flip_chip" })">Flip Chip</a></li>
                <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "tsv_interposer_integration" })">TSV-Interposer Integration</a></li>
                <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "ipd" })">IPD</a></li>
                <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "wafer_level_mems" })">Wafer-Level MEMS</a></li>
                <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "mems_sensor_solutions" })">MEMS &amp; Sensor Solutions</a></li>
                <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "embedded_die_technology" })">Embedded Die Technology</a></li>
                <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "core_test_technology" })">Test echnology</a></li>
            </ul>
        </li>
    </ul>
</div>

<!-- Technology list -->
<section class="inside-article">
    <div class="content-lg row">
        <div class="col-xs-12">
            <h3 class="title">Trademarks and Service Marks</h3>
            <p>
                The trademarks provided in ASE Trademark List under this Section as well as certain names, service marks, logos, slogans and product designs used, shown or available on this web site (hereinafter collectively referred to as “ASE Marks”) are proprietary to or legitimate intellectual property rights owned by ASE and/or its affiliated companies that are being registered or have been registered in Taiwan or in other countries by ASE and/or its affiliated companies.  Nothing in this web site or access to this web site shall be construed as granting such permission or any license under any of ASE and/or its affiliated      companie’s intellectual property rights over the ASE Marks.<br><br>

                No ASE Marks may be used, reproduced, copied or disseminated, in whole or in party, by any means whatsoever for any purposes without prior written permission of ASE and/or its affiliated companies and more specifically, incorporating ASE's Marks into any name of product, name of services, name of company, trademarks, service marks or logos owned or used by any person or company other than ASE, or adopting any names, trademarks, service marks or logos that are confusingly similar to ASE Marks is strictly prohibited and shall be considered as serious violation of Terms and Conditions of Use of ASE Group Website.<br><br>

                Any other names, trademarks, service marks or logos appearing on this websites that are neither ASE Marks nor owned by ASE and/or its affiliated companies are the property of their respective owners and any use of foregoing property is subject to the permission or authorization of such respective owners.
            </p>

            <h4 class="sub-title">ASE Trademark List</h4>
            <p>This is a non-exclusive list of ASE's trademarks and may be updated by ASE from time to time without notice in advance. Any name, service mark or logo that has been used for or incorporated into ASE's   services but not specified under this list shall not constitute a waiver of ASE's trademark or other intellectual property rights over that name or logo.</p>

            <div class="col-xs-6 col-sm-5cols">
                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/trademark1.png">
            </div>
            <div class="col-xs-6 col-sm-5cols">
                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/trademark2.png">
            </div>
            <div class="col-xs-6 col-sm-5cols">
                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/trademark3.png">
            </div>
            <div class="col-xs-6 col-sm-5cols">
                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/trademark4.png">
            </div>
            <div class="col-xs-6 col-sm-5cols">
                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/trademark5.png">
            </div>
            <div class="col-xs-6 col-sm-5cols">
                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/trademark6.png">
            </div>
            <div class="col-xs-6 col-sm-5cols">
                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/trademark7.png">
            </div>
            <div class="col-xs-6 col-sm-5cols">
                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/trademark8.png">
            </div>
            <div class="col-xs-6 col-sm-5cols">
                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/trademark9.png">
            </div>
            <div class="col-xs-6 col-sm-5cols">
                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/trademark10.png">
            </div>
            <div class="col-xs-6 col-sm-5cols">
                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/trademark11.png">
            </div>
            <div class="col-xs-6 col-sm-5cols">
                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/trademark12.png">
            </div>
            <div class="col-xs-6 col-sm-5cols">
                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/trademark13.png">
            </div>
            <div class="col-xs-6 col-sm-5cols">
                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/trademark14.png">
            </div>
            <div class="col-xs-6 col-sm-5cols">
                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/trademark15.png">
            </div>
            <div class="col-xs-6 col-sm-5cols">
                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/trademark16.png">
            </div>
            <div class="col-xs-6 col-sm-5cols">
                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/trademark17.png">
            </div>
            <div class="col-xs-6 col-sm-5cols">
                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/trademark18.png">
            </div>
            <div class="col-xs-6 col-sm-5cols">
                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/trademark19.png">
            </div>
            <div class="clearfix"></div>
            <div class="col-xs-6 col-sm-5cols">
                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/trademark20.png">
            </div>
            <div class="col-xs-6 col-sm-5cols">
                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/trademark21.png">
            </div>
            <div class="col-xs-6 col-sm-5cols">
                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/trademark22.png">
            </div>

        </div>
    </div>
</section><br>