﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/tw/_Layout.cshtml";
}
<!-- page Banner -->
<section id="page-vision" class="page-banner-s banner-technology">
    <h1 class="page-title title-large">Technology</h1>
</section>

<!--breadcrumbs-->
<div class="content-lg row">
    <div class="col-xs-12">
        <ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="@Url.Action("Index", "Home", new { lang = ViewBag.language.lang })"><i class="icon-home"></i><span itemprop="name">首頁</span></a>
                <meta itemprop="position" content="1" />
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })"><span itemprop="name"技術</span></a>
                <meta itemprop="position" content="2" />
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "water_level_mems" })"><span itemprop="name">Wafer-Level MEMS</span></a>
                <meta itemprop="position" content="3" />
            </li>
        </ol>
    </div>
</div>

<div class="breadcrumbs-pc pull-left" id="breadcrumbs-pc">
    <!-- PC版選單breadcrumbs內容 -->
    <ul class="breadcrumbs-view" id="breadcrumbs-view">
        <li class="dropdown-item">
            <span class="glyphicon glyphicon-menu-right"></span>
            <ul class="dropdown-list">
                <li><a class="active" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })">技術</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" })">產品</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Solution" })">解決方案</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Lab" })">投資人關係</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })">企業社會責任</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "About" })">了解日月光</a></li>
            </ul>
        </li>
        <li class="dropdown-item">
            <a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })">Technology</a>
            <span class="glyphicon glyphicon-menu-right"></span>
            <ul class="dropdown-list">
                <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "fan_out" })">Fan Out</a></li>
                <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "sip_module_solutions" })">SiP &amp; Module Solutions</a></li>
                <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "flip_chip" })">Flip Chip</a></li>
                <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "tsv_interposer_integration" })">TSV-Interposer Integration</a></li>
                <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "ipd" })">IPD</a></li>
                <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "water_level_mems" })">Wafer-Level MEMS</a></li>
                <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "mems_sensor_solutions" })">MEMS &amp; Sensor Solutions</a></li>
                <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "embedded_die_technology" })">Embedded Die 技術</a></li>
                <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "core_test_technology" })">Test 技術</a></li>
            </ul>
        </li>
    </ul>
</div>

<!-- Technology list -->
<section class="inside-article">
    <div class="content-lg row">
        <article class="col-xs-12">
            <div class="col-sm-8 col-md-6 col-lg-4"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/water_level_mems1.jpg"></div>
            <div class="clearfix"></div>
            <h3 class="title">Wafer-Level MEMS</h3>
            <p>
                Micro-Electro-Mechanical Systems (MEMS) consists of mechanical elements, sensors, actuators, and electrical and electronics devices on a common silicon substrate. The sensors in MEMS gather information from the environment through measuring mechanical, thermal, biological, chemical, optical, and magnetic phenomena. Wafer level packaging and TSV technology are keys enabling to achieve innovative   functions, higher performance as well as cost effective integration.
            </p>
        </article>
    </div>
</section>

<section class="inside-article">
    <div class="content-lg row">
        <br><br>
        <div class="col-xs-6">
            <div class="technology-application technology-tab-active">Application</div>
        </div>
        <div class="col-xs-6">
            <div class="technology-features technology-tab-inactive">Features</div>
        </div>
        <div class="clearfix"></div>
        <div class="technology-application-content">
            <div class="col-xs-12 col-md-12">
                <p>MEMS and sensor's markets are mainly driven by the strong demands from mobile, automotive, and medical applications.</p>
            </div>
            <div class="col-xs-12 col-md-12">
                <div class="col-xs-6 col-sm-5cols">
                    <strong>Inertial</strong>
                    <ul class="nopadding">
                        <li>Gyroscope</li>
                        <li>Accelerometer</li>
                        <li>Magnetometer/Hall Effect</li>
                        <li>Combo & IMU</li>
                    </ul>
                </div>
                <div class="col-xs-6 col-sm-5cols">
                    <strong>Light & Radiations</strong>
                    <ul class="nopadding">
                        <li>X-ray Sensor</li>
                        <li>µ-bolometer</li>
                        <li>IR Sensor</li>
                        <li>IR Thermopile</li>
                        <li>UV Sensor</li>
                        <li>PALS/ALS</li>
                    </ul>
                </div>
                <div class="col-xs-6 col-sm-5cols">
                    <strong>RF</strong>
                    <ul class="nopadding">
                        <li>Oscillators</li>
                        <li>Switches</li>
                        <li>SAW</li>
                        <li>FBAR/BAW</li>
                    </ul>
                </div>
                <div class="col-xs-6 col-sm-5cols">
                    <strong>Environmental</strong>
                    <ul class="nopadding">
                        <li>TPMS Module</li>
                        <li>Gas Sensor</li>
                        <li>Pressure Sensor</li>
                        <li>Temperature Sensor</li>
                        <li>Humidity Sensor</li>
                        <li>Si µphone</li>
                    </ul>
                </div>
                <div class="col-xs-6 col-sm-5cols">
                    <strong>Others</strong>
                    <ul class="nopadding">
                        <li>Optical/µ-mirror</li>
                        <li>LED</li>
                        <li>IJ Head</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="technology-features-content">
            <div class="col-xs-12 col-md-6">
                <ul class="nopadding">
                    <li>Small size, mass, volume</li>
                    <li>Low power consumption</li>
                    <li>Low cost</li>
                    <li>Easy to integrate into systems or modify</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<br>
<section class="inside-article">
    <div class="content-lg row">
        <div class="col-xs-12 col-md-12">
            <h4 class="sub-title">Reliability</h4>
            <p>
                The WL MEMS package with the TSV Last structure was validated with corresponding reliability and electrical characteristics testing.
            </p>
            <div class="col-xs-12 col-md-7 nopadding">
                <div class="table-responsive inside-table">
                    <table class="table table-striped table-hover csr">
                        <thead>
                            <tr>
                                <th class="col-sm-2 left-border">Test Item</th>
                                <th class="col-sm-3 left-border">Conditions</th>
                                <th class="col-sm-1 left-border">Sample Size</th>
                                <th class="col-sm-1 left-border">Result</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="left-border">Precondition</td>
                                <td class="left-border">
                                    JEDEC 22-A113<br>
                                    MSL1, 85°C/85% RH,168 hours
                                </td>
                                <td class="left-border">77 ea</td>
                                <td class="left-border">Pass</td>
                            </tr>
                            <tr>
                                <td class="left-border">Temperature Cycle</td>
                                <td class="left-border">
                                    JEDEC 22-A104<br>
                                    -55℃ ~ 125℃, 1000 cycles
                                </td>
                                <td class="left-border">25 ea</td>
                                <td class="left-border">Pass</td>
                            </tr>
                            <tr>
                                <td class="left-border">
                                    HAST Test
                                    (No Bias)
                                </td>
                                <td class="left-border">
                                    JEDEC 22-A118<br>
                                    130℃/85% RH, 33.3 PSIA,96 hours
                                </td>
                                <td class="left-border">25 ea</td>
                                <td class="left-border">Pass</td>
                            </tr>
                            <tr>
                                <td class="left-border">
                                    High Temperature <br>
                                    Storage Life
                                </td>
                                <td class="left-border">
                                    JEDEC 22-A103<br>
                                    150°C, 1000 hours
                                </td>
                                <td class="left-border">25 ea</td>
                                <td class="left-border">Pass</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<br><br>
<section class="inside-article">
    <div class="content-lg row">
        <div class="col-xs-12">
            <div class="color-318AC6">More Technology</div>
            <div class="technology-bottom-flex">
                <div class="technology-bottom"><a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "fan_out" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-01.png"><br>Fan Out</a></div>
                <div class="technology-bottom"><a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "sip_module_solutions" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-02.png"><br>SiP & Module Solutions</a></div>
                <div class="technology-bottom"><a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "flip_chip" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-03.png"><br>Flip Chip</a></div>
                <div class="technology-bottom"><a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "tsv_interposer_integration" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-04.png"><br>TSV-interposer integration</a></div>
                <div class="technology-bottom"><a class="" href="#"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-05.png"><br>Die Stacking</a></div>
                <div class="technology-bottom"><a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "ipd" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-06.png"><br>IPD</a></div>
                <div class="technology-bottom opacity-50"><a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "water_level_mems" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-07.png"><br>Wafer-Level MEMS</a></div>
                <div class="technology-bottom"><a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "mems_sensor_solutions" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-08.png"><br>MEMS & Sensor Solutions</a></div>
                <div class="technology-bottom"><a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "embedded_die_technology" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-09.png"><br>Embedded Die Technology</a></div>
            </div>
        </div>
        <!-- technolog carousel -->
        <div class="row">
            <div class="col-xs-12">
                <div class="container technology-carousel">
                    <div class='row'>
                        <div class='col-xs-12'>
                            <div class="carousel slide media-carousel" id="media">
                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#media" data-slide-to="0" class="active"></li>
                                    <li data-target="#media" data-slide-to="1"></li>
                                    <li data-target="#media" data-slide-to="2"></li>
                                </ol>
                                <div class="carousel-inner">
                                    <div class="item  active">
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "fan_out" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-01.png"><br>Fan Out</a>
                                            </div>
                                            <div class="col-xs-4">
                                                <a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "sip_module_solutions" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-02.png"><br>SiP & Module Solutions</a>
                                            </div>
                                            <div class="col-xs-4">
                                                <a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "flip_chip" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-03.png"><br>Flip Chip</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "tsv_interposer_integration" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-04.png"><br>TSV-interposer integration</a>
                                            </div>
                                            <div class="col-xs-4">
                                                <a class="" href="#"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-05.png"><br>Die Stacking</a>
                                            </div>
                                            <div class="col-xs-4">
                                                <a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "ipd" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-06.png"><br>IPD</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "water_level_mems" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-07.png"><br>Wafer-Level MEMS</a>
                                            </div>
                                            <div class="col-xs-4">
                                                <a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "mems_sensor_solutions" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-08.png"><br>MEMS & Sensor Solutions</a>
                                            </div>
                                            <div class="col-xs-4">
                                                <a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "embedded_die_technology" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-09.png"><br>Embedded Die Technology</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a data-slide="prev" href="#media" class="left carousel-control">‹</a>
                                <a data-slide="next" href="#media" class="right carousel-control">›</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end technology carousel -->
    </div>
</section>

<script>
	$(document).ready(function() {
		$('#media').carousel({
			pause: true,
			interval: false,
		});
		$("#media").swiperight(function() { /* enables the swiping on phone */
			$(this).carousel('prev');
		});
		$("#media").swipeleft(function() { /* enables the swiping on phone */
			$(this).carousel('next');
		});
		$(".technology-features-content").hide();

		$('.technology-application').click(function() {
			$(this).closest(".row").find(".technology-features").removeClass("technology-tab-active").addClass("technology-tab-inactive");
			$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
			$(this).closest(".row").find(".technology-features-content").hide();
			$(this).closest(".row").find(".technology-application-content").fadeIn(1000);
		});
		$('.technology-features').click(function() {
			$(this).closest(".row").find(".technology-application").removeClass("technology-tab-active").addClass("technology-tab-inactive");
			$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
			$(this).closest(".row").find(".technology-application-content").hide();
			$(this).closest(".row").find(".technology-features-content").fadeIn(1000);
		});
	});
</script>