﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
    ViewBag.Title = "Semiconductor Embedded in Substrate ";
    ViewBag.enURL = "/en/technology/sesub";
    ViewBag.zhURL = "/ch/technology/sesub";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-technology">
		<h1 class="page-title title-large">Semiconductor Embedded in Substrate</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->

	<!-- Technology list -->
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<div class="col-xs-6 col-md-3 col-lg-4"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/sesub1.jpg"></div>
				<div class="clearfix"></div>
				<h3 class="title">Semiconductor Embedded in Substrate (SESUB)</h3>
				<p>
					SESUB (Semiconductor Embedded in SUBstrate) is a technology that embeds the IC in the laminated substrate. This substrate with the thinned IC embedded can be mounted with various electronic components to form a highly integrated, multiple function module/package. SESUB enables the micro-modularization of functional circuitry such as high-performance PMUs for smartphones as well as Bluetooth modules. SESUB has already been a proven technology by many customers and IC vendors.
				</p>
			</article>
		</div>
	</section>

	<section class="inside-article">
		<div class="content-lg row">
			<br><br>
			<div class="col-xs-6">
				<div class="technology-application technology-tab-active">Application</div>
			</div>
			<div class="col-xs-6">
				<div class="technology-features technology-tab-inactive">Features</div>
			</div>
			<div class="clearfix"></div>
			<div class="technology-application-content">
				<div class="col-sm-12 col-md-12">
					<strong>A broad application coverage including: </strong>
					<ul class="nopadding">
						<li>Power</li>
						<li>Connectivity</li>
						<li>Sensor</li>
						<li>Processor</li>
						<li>High Frequency Application</li>
						<li>Audio</li>
						<li>Automotive ADAS</li>
					</ul>
				</div>
			</div>
			<div class="technology-features-content">
				<div class="col-sm-12 col-md-6">
					The figure below illustrates the cross-section view of a multi die embedded module utilizing SESUB technology. The SESUB is a 1-2-1 4-layer structure which provides properties for size reduction, thermal dissipation, mechanical robustness, performance improvement. SESUB not only serves as module, but also as package with thin thickness.<br><br>The properties include
					<ul class="nopadding">
						<li>Multi-die embedded in substrate</li>
						<li>Very thin die thickness min. 50um</li>
						<li>Thin substrate thickness max. 280um</li>
						<li>High integration package</li>
						<li>Small form factor</li>
						<li>Space saving</li>
						<li>Low profile</li>
						<li>Low noise emission</li>
						<li>Enhance heat dissipation</li>
						<li>Robust copper connection</li>
						<li>Mitigate unwanted noise radiation</li>
						<li>SMT on surface of substrate</li>
						<li>JEDEC MSL3 certified</li>
					</ul>
				</div>
				<div class="col-sm-12 col-md-6">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/sesub2.png">
				</div>
			
			</div>
			<div class="clearfix"></div>
			<div class="content-wrapper col-md-12 tech-cont-link"><br>
			<a class="phone" href="@Url.Action("plants_offices", "About", new { lang = ViewBag.language.lang })"><span class="glyphicon glyphicon-earphone"></span>  Contact for enquries </a>
			</div>

			<div class="col-md-12">
				<br><br>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</section>


	<section class="csr-bg">
		<div class="content-lg row">
			<div class="col-xs-12 csr">
				<div class="col-md-2 bgnews-list list-base">
				</div>
				<div class="col-sm-6 col-md-4 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("aeasi", "technology", new { lang = ViewBag.language.lang })">
							<span class="blue-text-in-box">a-EASI</span>
							<div class="circle_button-wrapper pull-right">
								<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>
				<div class="col-sm-6 col-md-4 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("sesub", "technology", new { lang = ViewBag.language.lang })">
							<span class="blue-text-in-box">SESUB</span>
							<div class="circle_button-wrapper">
								<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
<script>
	$(document).ready(function() { 

		$('#media').carousel({
			pause: true,
			interval: false,
		});
		$("#media").swiperight(function() { /* enables the swiping on phone */
			$(this).carousel('prev');
		});
		$("#media").swipeleft(function() { /* enables the swiping on phone */
			$(this).carousel('next');
		});
		$(".technology-features-content").hide();

		$('.technology-application').click(function() {
			$(this).closest(".row").find(".technology-features").removeClass("technology-tab-active").addClass("technology-tab-inactive");
			$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
			$(this).closest(".row").find(".technology-features-content").hide();
			$(this).closest(".row").find(".technology-application-content").fadeIn(1000);
		});
		$('.technology-features').click(function() {
			$(this).closest(".row").find(".technology-application").removeClass("technology-tab-active").addClass("technology-tab-inactive");
			$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
			$(this).closest(".row").find(".technology-application-content").hide();
			$(this).closest(".row").find(".technology-features-content").fadeIn(1000);
		});
	});
</script>