﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
    ViewBag.Title = "Laboratory Services";
    ViewBag.enURL = "/en/lab";
    ViewBag.zhURL = "/ch/lab";
    ViewBag.webSiteDesc = "Our characterization labs provide both physical and chemical evaluation on packaging related issues involved in the electrical, material, stress & thermal, chemical & green technology, failure analysis and optical fields.";
    ViewBag.webSiteOgImage = "https://ase.aseglobal.com/pic/public/frontend/images/lab/pic_lab.jpg";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-lab">
		<h1 class="page-title title-large">Laboratory Services</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item"><span itemprop="name">Others</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/lab"><span itemprop="name">Laboratory Services</span></a>
					<meta itemprop="position" content="2" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">Laboratory Services</h3>
                <p>Since 1995, the ASE characterization labs have incorporated sophisticated instruments to provide both physical and chemical evaluation on packaging related issues. The labs are involved in the electrical, material, stress & thermal, acoustic, chemical & green technology, failure analysis and optical fields.</p>
                <p>&nbsp;</p>
                <div class="col-sm-8 col-sm-offset-2">
                    <video width="100%" autoplay="" loop="" muted="" playsinline="" src="https://coms.aseglobal.com/marcom/video/package_design_en"></video>
                </div>
			</article>

		</div>
	</section>
	
    <section class="inside-article">
        <div class="content-lg row csr">
            <div class=" col-md-12 tech-cont-link"><br>
            <a class="phone" href="/en/about/plants_offices"><span class="glyphicon glyphicon-earphone"></span>  Contact for enquiries </a>
            </div>
        </div>
        <p>&nbsp;</p>
    </section>

	<section class="csr-bg">
		<div class="content-lg row">
			<div class="col-xs-12 nopadding">
                <div class="lab-2022 col-sm-3">
                    <div class="lab-btn-2022">
                        <img src="/pic/public/frontend/images/lab/bt_electrical-lab.jpg" alt="Electrical Lab">
						<a class="btn-2022" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Lab", action = "Package_Design", param1 = "lab_electrical" })">
                            Electrical Lab
                        </a>
                    </div>
                </div>

                <div class="lab-2022 col-sm-3">
                    <div class="lab-btn-2022">
                        <img src="/pic/public/frontend/images/lab/bt_material-lab.jpg" alt="Material Lab">
						<a class="btn-2022" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Lab", action = "Package_Design", param1 = "lab_material" })">
                            Material Lab
                        </a>
                    </div>
                </div>

                <div class="lab-2022 col-sm-3">
                    <div class="lab-btn-2022">
                        <img src="/pic/public/frontend/images/lab/bt_stress-thermal-lab.jpg" alt="Stress & Thermal Lab">
						<a class="btn-2022" href="@Url.RouteUrl(new { controller = "Lab", action = "Package_Design", lang = ViewBag.language.lang, param1 = "lab_stress_and_thermal" })">
                            Stress & Thermal Lab
                        </a>
                    </div>
                </div>

                <div class="lab-2022 col-sm-3">
                    <div class="lab-btn-2022">
                        <img src="/pic/public/frontend/images/lab/bt_chemical-green-technology-lab.jpg" alt="Chemical & Green Technology Lab">
						<a class="btn-2022" href="@Url.RouteUrl(new { controller = "Lab", action = "Package_Design", lang = ViewBag.language.lang, param1 = "lab_chemical_and_green" })">
                            Chemical & Green<br />Technology Lab
                        </a>
                    </div>
                </div>

                <div class="lab-2022 col-sm-1 hide-in-small" style="width:4%;">
                    <p>&nbsp;</p>
                </div>
                
                <div class="lab-2022 col-sm-3 col-sm-offset-1">
                    <div class="lab-btn-2022">
                        <img src="/pic/public/frontend/images/lab/bt_failure-analysis-lab.jpg" alt="Failure Analysis Lab">
						<a class="btn-2022" href="@Url.RouteUrl(new { controller = "Lab", action = "Package_Design", lang = ViewBag.language.lang, param1 = "lab_failure_analysis" })">
                            Failure Analysis Lab
                        </a>
                    </div>
                </div>
                
                <div class="lab-2022 col-sm-3">
                    <div class="lab-btn-2022">
                        <img src="/pic/public/frontend/images/lab/bt_optical-lab.jpg" alt="Optical Lab">
						<a class="btn-2022" href="@Url.RouteUrl(new { controller = "Lab", action = "Package_Design", lang = ViewBag.language.lang, param1 = "lab_optical" })">
                            Optical Lab
                        </a>
                    </div>
                </div>

                <div class="lab-2022 col-sm-3">
                    <div class="lab-btn-2022">
                        <img src="/pic/public/frontend/images/lab/bt_acoustic-lab.jpg" alt="Acoustic Lab">
						<a class="btn-2022"href="~/en/lab/acoustic-lab">
                            Acoustic Lab
                        </a>
                    </div>
                </div>
			</div>
		</div>
	</section>

    <style>
        .lab-2022 {
            overflow: hidden;
            padding: 10px;
        }
        .lab-btn-2022 {
            position: relative;
            overflow: hidden;
        }

        .lab-btn-2022 img {
            width: 100%;
            -webkit-filter: brightness(70%);
            filter: brightness(70%);
            transition: all 500ms;
            -webkit-transition: all 500ms;
        }

        .lab-btn-2022 .btn-2022 {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            color: white;
            font-size: 22px;
            line-height: 22px;
            text-align: center;
            padding: 0;
            margin: 0;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .lab-btn-2022 a:hover {
            text-decoration: none;
        }

        .lab-2022:hover img {
            transform: scale(1.2);
            overflow: hidden;
        }
    </style>
