﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
    ViewBag.Title = "Substrate Design ";
    ViewBag.enURL = "/en/lab/substrate_design";
    ViewBag.zhURL = "/ch/lab/substrate_design";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-lab">
		<h1 class="page-title title-large">Substrate Design</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item"><span itemprop="name">Others</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/lab/substrate_design"><span itemprop="name">Substrate Design</span></a>
					<meta itemprop="position" content="2" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->
	<!-- Letter from the Chairman -->
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">Substrate Design</h3>
				<p>As customers are demanding small, thin, and high performance for their electronic products, device makers are searching for high performance, high reliability, and low cost solutions. Substrate/lead frame has played a very important role in packaging industry, not only because it represents a great portion of the cost, but also because it has a great influence on package performance. How to design a high performance, low cost substrate/lead frame has become one of the major tasks in all packaging companies. In ASE, we have a group of experienced professional dedicate in substrate/lead frame design in order to provide turnkey solutions for our customers to fulfill high performance, cost saving and short time to market.</p>

				<div class="col-xs-12 nopadding">
					<div class="col-xs-12 col-sm-8 nopadding md-plr20"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/lab/lab_substrate01.jpg" alt=""></div>
					<div class="col-xs-12 col-sm-4 md-plr20">
						<div class="col-xs-12 nopadding mt-32"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/lab/lab_substrate02.jpg" alt=""></div>
						<div class="col-xs-12 nopadding mt-32"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/lab/lab_substrate03.jpg" alt=""></div>
					</div>
				</div><br>
				<div class="col-xs-12 nopadding">
					<h3>Function &amp; Service</h3>
					<ul class="pro-test">
						<li>Transmittance/reflectivity</li>
						<li>Light Intensity &amp; distribution</li>
						<li>Wavelength spectrum</li>
						<li>Color temperature (CCT)</li>
						<li>Chromaticity coordinate (CIE)</li>
						<li>Luminous flux (lm)</li>
						<li>Illuminance (Lux)</li>
						<li>Color rendering index (CRI)</li>
						<li>Dimension measurement</li>
						<li>Optical structure optimization</li>
						<li>Intensity &amp; distribution analysis</li>
						<li>Color analysis</li>
						<li>Light efficiency. View angle analysis</li>
						<li>Module signal. Cross talk analysis</li>
					</ul>
				</div>
				<div class="col-xs-12 nopadding">
					<h3>Design Tool</h3>
					<p>The characteristics of packaging material are a major concern when determining how well the ICs will perform. ASE's Material Laboratory provides the characterization analysis of the following properties. The related instruments are listed next. Users can find more information from the Measurement Equipment section.</p>
					<h4>Design information format:</h4>
					<ul class="pro-test">
						<li>GDS II</li>
						<li>Microsoft office format netlist</li>
						<li>Pad coordinator</li>
						<li>Ball out</li>
					</ul>
					<h4>Design tool:</h4>
					<ul class="pro-test">
						<li>Cadence</li>
						<li>Xynetix</li>
					</ul>
					<h4>Drawing offering:</h4>
					<h5>Layout Drawing:</h5>
					<ul class="pro-test">
						<li>AutoCad R14</li>
						<li>2000 Gerber RS 274X</li>
						<li>Acrobat pdf Format</li>
					</ul>
					<h5>Bonding Diagram:</h5>
					<ul class="pro-test">
						<li>AutoCad R14, 2000</li>
						<li>Acrobat pdf Format</li>
					</ul>
				</div>
				<div class="clearfix"></div>
				<br>
			</article>

		</div>
	</section>
    
    <section class="inside-article">
        <div class="content-lg row csr">
            <div class=" col-md-12 tech-cont-link">
            <a class="phone" href="/en/about/plants_offices"><span class="glyphicon glyphicon-earphone"></span>  Contact for enquiries </a>
            </div>
        </div>
        <p>&nbsp;</p>
    </section>