﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
    ViewBag.Title = "Package Design";
    ViewBag.enURL = "/en/lab/package_design";
    ViewBag.zhURL = "/ch/lab/package_design";
    ViewBag.webSiteDesc = "We provide superior technical analysis and consulting services to improve the IC packaging development process and to allow circuit designers the maximum flexibility in their designs.";
    ViewBag.webSiteOgImage = "https://ase.aseglobal.com/pic/public/frontend/images/lab/lab_package03.jpg";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-lab">
		<h1 class="page-title title-large">Package Design</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item"><span itemprop="name">Others</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/lab/package_design"><span itemprop="name">Package Design</span></a>
					<meta itemprop="position" content="2" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">Package Design</h3>
                <p>ASE provides superior technical analysis and consulting services to improve the IC packaging development process and to allow circuit designers the maximum flexibility in their designs.</p>
                <p>&nbsp;</p>
                <div class="col-xs-12 col-sm-4 md-plr20" style="margin-bottom: 10px;"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/lab/lab_package01.jpg" alt=""></div>
                <div class="col-xs-6 col-sm-4 md-plr20" style="margin-bottom: 10px;"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/lab/lab_package02.jpg" alt=""></div>
                <div class="col-xs-6 col-sm-4 md-plr20" style="margin-bottom: 10px;"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/lab/lab_package03.jpg" alt=""></div>
				<div class="col-xs-12 nopadding">
					<h3>Characterization Labs</h3>
					<p class="col-xs-12 col-md-12 nopadding">ASE <a href="/en/lab">laboratory services</a> provide superior technical analysis and consulting services based upon technical know-how derived from decades of experience supporting development and manufacturing of semiconductor packaging products.</p>
				</div>
				<div class="col-xs-12 nopadding">
					<h3>e-Service</h3>
					<p>
                        To enhance customer service quality, ASE began developing real time web-based packaging services to our customers in 1999. This design service is referred to as e-Service, a project initiated by the R&amp;D division of ASE. e-Service is intended to speed up the development process of IC packaging. Through interactive windows, users can assign simulation models to derive the optimal results according to the specifications in electrical and thermal performance. In addition, e-Service has the capability to generate bonding diagrams, based on a specific lead frame or substrate by IC designers. Another specialty of e-Service is to provide a direct channel for customers to issue cases to our characterization labs via OLES. Besides, e-Service is also the system to request the simulation and measurement service.
                    </p>
                    <a href="https://eservice.aseglobal.com/eService/" target="_blank"><div class="circle_button darkgray facilities-circle-button"><i class="icon-arrow-right facilities-icon-arrow-right"></i></div>&nbsp;ASE e-Service</a>
                	<div class="clearfix"></div>
	                <div class="col-xs-12 text-center mbt-20">
	                    <img class="pc" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/lab/lab_eservice01.png" alt="">
	                    <img class="mobile" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/lab/lab_eservice01_m.png" alt="">
	                </div>
                    <h4 class="sub-title">e-Thermal Simulator</h4>
                    <p>
                        e-Thermal Simulator, in service since 1999, allows users to conduct thermal simulation for IC packages from a remote site. By simply entering the design parameters, users can obtain the thermal resistance of any package within 3 hours. Based on finite element methods (FEM), e-Thermal Simulator adopts popular commercial software-ANSYS, for the thermal calculations. Once the basic dimensions and         conditions of a package are acquired from the remote site, e-Thermal Simulator collects this data and then calls the ANSYS server. After completing the simulation, the results will be e-mailed back to the user. Up-to-date models for QFP (including PQFP, LQFP and TQFP) and BGA (PBGA and HSBGA) are available.
                    </p>
                    <br>
                    <h4 class="sub-title">e-Stress Simulator</h4>
                    <p>
                        e-Stress Simulator, in service since 2008, allows users to conduct stress simulation for IC package from a remote site via the internet. After accessing the e-Stress Simulator Web page and entering the design parameters, users can obtain the stress and warpage distribution of BGA package type. Based on finite element method (FEM), the popular commercial software-ANSYS will be used to do numerical analysis. The basic dimensions and conditions of a package are acquired from the Web site. After completing the simulation, the reports will be e-mailed back to the user.
                    </p>
                    <br>
                    <h4 class="sub-title">e-Electrical Simulator</h4>
                    <p>
                        ASE Electrical Laboratory compiled simulation and design cases and experience to be a cloud database, ASE e-Service. Through e-Service, ASE customers could inquire the estimated package electrical data wherever and whenever. If ASE customer wants the accurate electrical model by 3D electromagnetic solver, e-Service is also the system to request the simulation service.
                    </p>
                    <p>&nbsp;</p>
				</div>
			</article>

		</div>
	</section>
    
    <section class="inside-article">
        <div class="content-lg row csr">
            <div class=" col-md-12 tech-cont-link">
            <a class="phone" href="/en/about/plants_offices"><span class="glyphicon glyphicon-earphone"></span>  Contact for enquiries </a>
            </div>
        </div>
        <p>&nbsp;</p>
    </section>
