﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/tw/_Layout.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-csr">
		<h1 class="page-title title-large">企業社會責任</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "/" })"><i class="icon-home"></i><span itemprop="name">首頁</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("csr", "CSR", new { lang = ViewBag.language.lang })"><span itemprop="name">企業社會責任</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("csr_supply_chain_development", "CSR", new { lang = ViewBag.language.lang })"><span itemprop="name">供應鏈發展</span></a>
					<meta itemprop="position" content="3" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "supply_chain_development_policy_and_supplier_coc" })"><span itemprop="name">供應鏈發展政策與供應商行為準則</span></a>
					<meta itemprop="position" content="4" />
				</li>
			</ol>
		</div>
	</div>

	<div class="breadcrumbs-pc pull-left" id="breadcrumbs-pc">
	<!-- PC版選單breadcrumbs內容 -->
		<ul class="breadcrumbs-view" id="breadcrumbs-view">
			<li class="dropdown-item">
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.Action("technology", "Technology", new { lang = ViewBag.language.lang })">技術</a></li>
					<li><a href="@Url.Action("solutions", "SolutionPlatform", new { lang = ViewBag.language.lang })">解決方案</a></li>
					<li><a href="@Url.Action("products", "Products", new { lang = ViewBag.language.lang })">產品</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "ir" })">投資人關係</a></li>
					<li><a href="@Url.Action("csr", "CSR", new { lang = ViewBag.language.lang })">企業社會責任</a></li>
					<li><a href="@Url.Action("about", "About", new { lang = ViewBag.language.lang })">關於日月光集團</a></li>
				</ul>
			</li>
			<li class="dropdown-item">
				<a href="csr.html">企業社會責任</a>
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.Action("letter_from_chairman", "CSR", new { lang = ViewBag.language.lang })">董事長的話</a></li>
					<li><a href="@Url.Action("sustainability_governance", "CSR", new { lang = ViewBag.language.lang })">永續治理</a></li>
					<li><a href="@Url.Action("stakeholder_engagement", "CSR", new { lang = ViewBag.language.lang })">利害關係人專區</a></li>
					<li><a href="http://ir.aseglobal.com/c/ir_corpor.php">公司治理</a></li>
					<li><a href="@Url.Action("environmental_sustainability", "CSR", new { lang = ViewBag.language.lang })">環境永續</a></li>
					<li><a href="@Url.Action("employee_care_and_development", "CSR", new { lang = ViewBag.language.lang })">員工關懷與發展</a></li>
					<li><a href="@Url.Action("csr_supply_chain_development", "CSR", new { lang = ViewBag.language.lang })" class="active">供應鏈發展</a></li>
					<li><a href="@Url.Action("corporate_citizenship_and_social_involvement", "CSR", new { lang = ViewBag.language.lang })">企業公民與社會參與</a></li>
					<li><a href="@Url.Action("csr_reports", "CSR", new { lang = ViewBag.language.lang })">企業社會責任報告書下載專區</a></li>
				</ul>
			</li>
		</ul>
	</div>

	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">供應鏈發展政策與供應商行為準則</h3>
				<h4 class="sub-title">日月光集團採購與供應鏈發展政策</h4>
				<p>
					日月光集團為全球半導體封裝測試服務領導者及主要的系統與核心技術整合者，對全球電子產業供應鏈產生正面影響力是我們的責任。我們視供應商為長期合作的夥伴，並倡導與供應商一同建立永續供應鏈，致力於責任採購及供應鏈的技術能力發展，俾以持續提供負責任且優質的服務給我們的客戶。
				</p>
				日月光集團承諾：
				<ul class="nopadding" style="padding-top:0;">
					<li>以積極的行動確保採購行為符合專業及商業道德的最高標準，並恪遵所有營運所在地的法律規定，強調供應商間的公平競爭，以及供應商與日月光間的公平交易。</li>
					<li>全面推動綠色採購，並依循日月光衝突礦產政策和綠色產品規範進行採購。</li>
					<li>與供應商發展穩定的夥伴關係，充分溝通並互相合作以追求雙贏，強調風險共擔與利益共享。</li>
					<li>要求供應商遵守相關法規、符合高標準商業道德、保障人權、重視勞工身心健康與安全、保護環境及善盡企業社會責任。</li>
					<li>積極進行供應商管理及輔導，協助供應商持續提升競爭力，並對供應商進行風險評鑑，將交期、品質、成本、服務、技術、及永續管理列為評核標準，做為日月光集團採購決策之重要依據。對於經輔導後仍始終無法達到日月光要求之供應商，將於充分溝通後啟動供應商更換機制。</li>
					<li>兼顧客戶需求與綠色設計，與上下游供應鏈合作開發創新的材料及設備，以提升整體供應鏈之技術與競爭力。</li>
				</ul>
				<div><a href="http://www.aseglobal.com/en/Csr/ASE_Group_Purchasing_Supply_Chain_Development_Policy_2016.pdf" target="_blank"><div class="circle_button darkgray facilities-circle-button"><i class="icon-arrow-right facilities-icon-arrow-right"></i></div> 日月光集團採購與供應鏈發展政策</a></div>
				<br>
				<p>
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/ss_lee_signature.gif"><br>
					李石松　集團採購總經理
				</p>
			</article>
			<article class="col-xs-12">
				<h4 class="sub-title">日月光集團供應商行為準則</h4>
				<div class="col-sm-4 pull-right">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/supply_chain_development_policy_and_supplier_coc.png"><br><br>
				</div>

				<div class="col-sm-8" style="padding: 0">
					<p>
						日月光半導體製造股份有限公司、其子公司及關係企業(以下合稱「日月光集團」)是負責任的企業公民，以積極的行動確保商業行為符合專業及道德的最高標準。我們相信公司長期的經營與成功必須仰賴企業的永續發展及其社會責任的體現。而供應鏈是日月光商業價值鏈的重要延伸，我們積極投入供應鏈發展以確保供應商、承包商、服務提供商和分包商(以下合稱「供應商」)共同實現永續發展的目標。br><br>

						為了確保供應鏈工作環境的安全、保障員工受到尊重並富有尊嚴、落實環保並遵守道德操守，日月光集團依據「日月光半導體製造股份有限公司行為與道德準則」及電子行業公民聯盟之行為準則，並參考「聯合國企業和人權指導原則」、國際勞工組織的「工作基本原則與權利宣言」及「世界人權宣言」等國際規範，訂定本供應商行為準則(以下稱「本準則」)，要求供應商於勞工、健康與安全、環境、商業道德及管理體系等各方面之商業行為確實符合本準則，並且完全遵守經營所在國家/地區的法律和法規。 <br><br>

						本準則由五個章節組成。A、B、C 章節分別概述勞工、健康與安全，以及環境的標準。D 章節列舉商業道德的標準；E 章節概述貫徹本準則的合宜管理體系所需的要素。<br>

	          			<div><a href="http://www.aseglobal.com/en/Csr/ASE_SupplierCodeofConduct_062017V3.pdf" target="_blank"><div class="circle_button darkgray facilities-circle-button"><i class="icon-arrow-right facilities-icon-arrow-right"></i></div> 日月光集團供應商行為準則</a>（本準則完整檔案）</div>
	      			</p>
      			</div>
			</article>
		</div>
	</section>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script>
	$(document).ready(function(){
	    $('[data-toggle="popover"]').popover();   
	});
	</script>