﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/ch/_Layout_seo.cshtml";
    ViewBag.Title = "溝通與議題管理";
    ViewBag.zhURL = "/ch/csr/stakeholder_engagement/focus";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-csr">
		<h1 class="page-title title-large">企業社會責任</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->

	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">溝通與議題管理</h3>
				<h4 class="sub-title">利害關係人之鑑別與溝通</h4>
				<p>
					日月光將利害關係人界定為影響日月光或受日月光影響的團體或組織。我們透過AA1000 SES-2011利害關係人議合標準(Stakeholder Engagement Standard, SES) 的五大原則(依賴性、責任、影響、多元觀點、張力)，鑑別出九大類主要的利害關係人。根據其影響的方式( 直接或間接)，可區分為兩大群組—直接利害關係人包括股東、員工、客戶及供應商；間接利害關係人包括社區居民、政府、非政府組織(NGO)、產業公會和協會及媒體。<br>
					<br>
					日月光以利害關係人的本質、關心的議題以及議合的目的為考量，選擇不同的方式進行利害關係人議合。
				</p>

				<h4 class="sub-title">溝通機制與重點</h4>
				
					<div class="col-md-4"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/communication.svg" class="stakeholder-small-icons"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;溝通機制</div>
					<div class="col-md-4"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/issues.svg" class="stakeholder-small-icons"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2017年關心議題</div>
					<div class="col-md-4"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/outcome.svg" class="stakeholder-small-icons"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2017年關鍵溝通結果</div>
					<div class="clearfix"></div>
				
			</article>
		</div>
	</section>

	<section class="plants-Offices">
		<div class="content-lg row stakeholder-engagement-box">
			<ul id="list-content" class="col-xs-12 list-base list-link office-list-content">
				<li class="gray-bg">
					<h4>客戶</h4>
					<div class="text-box">
						<div class="content-wrapper">								
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/communication.svg" class="stakeholder-small-icons">
							<ul class="stakeholder">
								<li>客戶季度業務評審會議</li>
								<li>客戶稽核</li>
								<li>客戶服務平台</li>
								<li>技術論壇</li>
							</ul>
							<hr class="stakeholder">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/issues.svg" class="stakeholder-small-icons">
							<ul class="stakeholder">
								<li>經營策略與績效</li>
								<li>創新研發管理</li>
								<li>客戶關係管理</li>
							</ul>
							<hr class="stakeholder">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/outcome.svg" class="stakeholder-small-icons">
							<ul class="stakeholder">
								<li>客戶滿意百分比從90％(2016年)增加至92％(2017年)，達到所設定之「90％客戶滿意」的目標</li>
							</ul>
						</div>							
					</div>
				</li>
				<li>
					<h4>員工</h4>
					<div class="text-box">
						<div class="content-wrapper">								
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/communication.svg" class="stakeholder-small-icons">
							<ul class="stakeholder">
								<li>總經理信箱</li>
								<li>內部網站</li>
								<li>員工滿意度調查</li>
								<li>員工熱線</li>
							</ul>
							<hr class="stakeholder">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/issues.svg" class="stakeholder-small-icons">
							<ul class="stakeholder">
								<li>員工健康與安全</li>
								<li>勞資溝通</li>
								<li>人才培育</li>
							</ul>
							<hr class="stakeholder">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/outcome.svg" class="stakeholder-small-icons">
							<ul class="stakeholder">
								<li>全球各廠區與新進員工共進行了327場溝通會 ; 與外籍員工舉辦了162場座談會 ; 和一般員工進行了477場意見交流會</li>
							</ul>
						</div>							
					</div>
				</li>
				<li class="gray-bg">
					<h4>股東</h4>
					<div class="text-box">
						<div class="content-wrapper">								
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/communication.svg" class="stakeholder-small-icons">
							<ul class="stakeholder">
								<li>年度財務報告</li>
								<li>季度法人說明會</li>
								<li>年度股東大會</li>
								<li>季度機構投資者會議</li>
							</ul>
							<hr class="stakeholder">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/issues.svg" class="stakeholder-small-icons">
							<ul class="stakeholder">
								<li>經營策略與績效</li>
								<li>廢棄物管理</li>
							</ul>
							<hr class="stakeholder">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/outcome.svg" class="stakeholder-small-icons">
							<ul class="stakeholder">
								<li>2017年集團合併營收為新台幣2,904億元，較2016年增加約156億元，年成長約6%，創下歷年新高。2017營業淨利為新台幣252億元，較2016年減少新台幣14億元，衰退約5.4%</li>
							</ul>
						</div>							
					</div>
				</li>
				<li>
					<h4>供應商/承攬商</h4>
					<div class="text-box">
						<div class="content-wrapper">								
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/communication.svg" class="stakeholder-small-icons">
							<ul class="stakeholder">
								<li>供應商問卷調查</li>
								<li>供應商現場稽核</li>
								<li>年度供應商大會</li>
								<li>供應商能力建置活動</li>
							</ul>
							<hr class="stakeholder">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/issues.svg" class="stakeholder-small-icons">
							<ul class="stakeholder">
								<li>經營策略與績效</li>
								<li>永續供應鏈</li>
								<li>創新研發管理</li>
							</ul>
							<hr class="stakeholder">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/outcome.svg" class="stakeholder-small-icons">
							<ul class="stakeholder">
								<li>全球125家企業參加年度供應商頒獎典禮，3家供應商獲頒「日月光集團供應商永續經營獎」，17家供應商以傑出的表現展現對日月光的支持，獲得日月光最佳供應商獎項的肯定</li>
							</ul>
						</div>							
					</div>
				</li>
				<li class="gray-bg">
					<h4>政府</h4>
					<div class="text-box">
						<div class="content-wrapper">								
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/communication.svg" class="stakeholder-small-icons">
							<ul class="stakeholder">
								<li>政府部門舉行的溝通會議/論壇/研討會或公開聽證會</li>
								<li>與政府部門主動對話</li>
								<li>呈報至政府門戶網站</li>
							</ul>
							<hr class="stakeholder">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/issues.svg" class="stakeholder-small-icons">
							<ul class="stakeholder">
								<li>法律遵循</li>
								<li>員工健康與安全</li>
								<li>綠色解決方案</li>
							</ul>
							<hr class="stakeholder">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/outcome.svg" class="stakeholder-small-icons">
							<ul class="stakeholder">
								<li>與封測同業共組TSIA環保安全衛生委員會，共同研議解決半導體產業工安與環保問題，並透過工業技術研究院向政府提出環保法規建議</li>
								<li>嚴格執行工傷事故標準處理程序，並於管制時間內通報當地主管機關，2017年無發生重大工傷死亡事件，總職業傷害事故相較於2017年減少了42%</li>
							</ul>
						</div>							
					</div>
				</li>
				<li>
					<h4>社區</h4>
					<div class="text-box">
						<div class="content-wrapper">								
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/communication.svg" class="stakeholder-small-icons">
							<ul class="stakeholder">
								<li>日月之光慈善基金會</li>
								<li>日月光文教基金會</li>
								<li>員工志工活動</li>
								<li>社區意見調查和需求評估</li>
							</ul>
							<hr class="stakeholder">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/issues.svg" class="stakeholder-small-icons">
							<ul class="stakeholder">
								<li>水資源管理</li>
								<li>廢棄物管理</li>
								<li>社區發展</li>
							</ul>
							<hr class="stakeholder">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/outcome.svg" class="stakeholder-small-icons">
							<ul class="stakeholder">
								<li>社區營造投入超過新台幣2,390萬元，幫助740多名受益者，包括弱勢家庭兒少課後照顧 122人、資助清寒家庭學童共638人及公益捐助42個機構</li>
							</ul>
						</div>							
					</div>
				</li>
				<li class="gray-bg">
					<h4>產業公會/協會</h4>
					<div class="text-box">
						<div class="content-wrapper">								
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/communication.svg" class="stakeholder-small-icons">
							<ul class="stakeholder">
								<li>會員大會</li>
								<li>公會/協會舉行的技術研討會</li>
							</ul>
							<hr class="stakeholder">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/issues.svg" class="stakeholder-small-icons">
							<ul class="stakeholder">
								<li>廢棄物管理</li>
								<li>氣候變遷</li>
								<li>水資源管理</li>
							</ul>
							<hr class="stakeholder">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/outcome.svg" class="stakeholder-small-icons">
							<ul class="stakeholder">
								<li>參與超過136個外部組織，贊助公共倡議新台幣1,600萬元(約54萬美元)，其中新台幣1,386萬元(約45萬美元)是用於支持公共政策與產業發展(
								<a href="javascript:;" tabindex="0" class="blue-link-popover" role="button" data-toggle="popover" data-trigger="hover" data-content="

								身為國際企業公民，日月光在致力於公司營運與維護股東利益的同時，也力求促進公共福祉。我們希望能在全球社會帶來正面的改變和影響。在法律允許的情況下，我們支持與日月光關注之特定議題有相同觀點，而同時能作為公共政策議題之討論平台且能為共同商業利益進行倡議之組織。我們力求確保所做的捐贈或支出是以支持公共事務為目的，恪遵營運所在地所有應適用法規並依據應適用之法規及報導需求適當揭露，同時也會遵守公司相關的道德政策與規範。

								<br><br>2014-2017年公共事務捐贈或支出
								<div class='table-responsive inside-table'>
									<table class='table table-striped table-hover csr grey-table'>
										<thead>
											<tr>
												<th></th>
												<th class='left-border'>2014年</th>
												<th class='left-border'>2015年</th>
												<th class='left-border'>2016年</th>
												<th class='left-border'>2017年</th>
											</tr>
										</thead>
										<tbody>
										
											<tr class='grey'>
												<td>總計</td>
												<td class='left-border text-center'>US$ 309K</td>
												<td class='left-border text-center'>US$ 318K</td>
												<td class='left-border text-center'>US$ 327K/td>
												<td class='left-border text-center'>US$ 456K</td>
											</tr>
										</tbody>
									</table>
								</div>
								
								<br>2017年前五大公共事務捐贈或支出
								<div class='table-responsive inside-table'>
									<table class='table table-striped table-hover csr grey-table'>
										<thead>
											<tr>
												<th>組織名稱</th>
												<th class='left-border'>總計</th>
											</tr>
										</thead>
										<tbody>
											<tr class='grey'>
												<td>台灣半導體產業協會 (TSIA)</td><td class='left-border text-center'>US$ 93K</td>
											</tr>
											<tr class='grey'>
												<td>台灣永續供應協會 (TASS)</td><td class='left-border text-center'>US$ 66K</td>
											</tr>
											<tr class='grey'>
												<td>國際半導體產業協會 (SEMI)</td><td class='left-border text-center'>US$ 55K</td>
											</tr>
											<tr class='grey'>
												<td>國際電子生產商聯盟 (iNEMI)</td><td class='left-border text-center'>US$ 40K</td>
											</tr>
											<tr class='grey'>
												<td>責任商業聯盟 (RBA)</td><td class='left-border text-center'>US$ 35K</td>
											</tr>
										</tbody>
									</table>
								</div>

								
								">詳細資料</a>)</li>
								<li>簽署台灣半導產業協會廢棄物清理商管理自律公約，嚴格監督績效落後廠商並輔導其提升管理能力</li>
							</ul>
						</div>							
					</div>
				</li>
				<li>
					<h4>媒體</h4>
					<div class="text-box">
						<div class="content-wrapper">								
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/communication.svg" class="stakeholder-small-icons">
							<ul class="stakeholder">
								<li>新聞稿</li>
								<li>發言人接受採訪</li>
								<li>公司網站</li>
							</ul>
							<hr class="stakeholder">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/issues.svg" class="stakeholder-small-icons">
							<ul class="stakeholder">
								<li>社區發展</li>
								<li>經營策略與績效</li>
								<li>廢棄物管理</li>
							</ul>
							<hr class="stakeholder">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/outcome.svg" class="stakeholder-small-icons">
							<ul class="stakeholder">
								<li>舉辦年度媒體研討會，通過演講、討論和實地考察，讓關心日月光的媒體專業人士了解我們的尖端技術與環保績效</li>
							</ul>
						</div>							
					</div>
				</li>
				<li class="gray-bg">
					<h4>非政府組織(NGO)</h4>
					<div class="text-box">
						<div class="content-wrapper">								
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/communication.svg" class="stakeholder-small-icons">
							<ul class="stakeholder">
								<li>NGOs舉行的溝通會議/論壇/研討會</li>
								<li>公司網站</li>
								<li>與NGOs合作的志工活動</li>
							</ul>
							<hr class="stakeholder">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/issues.svg" class="stakeholder-small-icons">
							<ul class="stakeholder">
								<li>廢棄物管理</li>
								<li>公共政策與倡議</li>
								<li>氣候變遷</li>
							</ul>
							<hr class="stakeholder">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/outcome.svg" class="stakeholder-small-icons">
							<ul class="stakeholder">
								<li>贊助新台幣4,080 萬元 ( 約137 萬美元)與20 個NGOs 合作支持環保方案、慈善活動以及公民教育方案</li>
							</ul>
						</div>							
					</div>
				</li>
			</ul>
			<div class="col-md-12 nopadding">
				<h4 class="sub-title">重大性分析流程</h4>
			</div>
			<div class="col-md-12">
				<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/stakeholder_engagement_details1.png">
				<br><br><br>
			</div>
			<div class="col-md-12 nopadding">
				<h4 class="sub-title">重大性分析結果</h4>
			</div>
			<div class="col-md-12">
				<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/stakeholder_engagement_details2.png">
				<br><br>
			</div>
		</div>		
	</section>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script>
	$(document).ready(function(){
	    $('[data-toggle="popover"]').popover({
	    	html:true,
	    	trigger: 'hover',
	    	placement: 'bottom',
	    });
	});
	</script>