﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
    ViewBag.Title = "PLCC ";
    ViewBag.enURL = "/en/products/assembly_offerings/leadframe_solution/plcc";
    ViewBag.zhURL = "/ch/products/assembly_offerings/leadframe_solution/plcc";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-product-csp">
		<h1 class="page-title title-large">PLCC</h1>
	</section>

	<!--麵包屑-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/products/assembly"><span itemprop="name">Assembly</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/products/assembly_offerings/leadframe_solution"><span itemprop="name">Leadframe</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/products/assembly_offerings/leadframe_solution/plcc"><span itemprop="name">PLCC</span></a>
					<meta itemprop="position" content="3" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->
	
	<!-- Products Content -->
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<div class="col-sm-8 col-md-6 col-lg-4 nopadding"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/products/PLCC.jpg"></div>
				<div class="clearfix"></div>
				<h3 class="title">PLCC</h3>
				<p>
					Plastic Leaded Chip Carrier (PLCC) is widely used in micro-controllers and consumer electronics. Each lead of the PLCC is formed into a "J"-shape and folded under the package body. ASE provides PLCC packaging services in compliance with JEDEC standard. Lead count ranges from 20 to 84 with 1.27mm (50mil) lead pitch.
				</p>
			</article>
		</div>
	</section>
	<section class="inside-article">
		<div class="content-lg row">
			<br>
			<div class="col-xs-6">
				<div class="technology-application technology-tab-active">Application</div>
			</div>
			<div class="col-xs-6">
				<div class="technology-features technology-tab-inactive">Features</div>
			</div>
			<div class="clearfix"></div>
			<div class="technology-application-content">
				<div class="col-xs-12 col-md-12">
					<p>
						ASE's PLCC product was designed in compliance with JEDEC standard for 'J' shape leaded SMT packages. Its robust leads and smaller foot space makes it applicable for surface mount and replaceable plug-in assembly via sockets.<br><br>

						Design applications include,<br>
						<ul class="nopadding">
							<li>Memory, Processors and Controllers</li>
							<li>ASIC, DSP, PC Chipset Device for Consumer Products, Automotive and Aerospace</li>
						</ul>
					</p>
				</div>
			</div>
			<div class="technology-features-content">
				<div class="col-xs-12 col-md-12">
					<ul class="nopadding">
						<li>453~1153mils body sizes</li>
						<li>28~84 available lead counts</li>
						<li>JEDEC standard compliant</li>
						<li>Wide selection of pad size to die size</li>
						<li>High conductivity lead frame</li>
						<li>Wide selection of pad size to meet die size per customized lead frame design capability</li>
						<li>Pb-free process ready and available</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<br>
	<section class="inside-article">
		<div class="content-lg row">
			<div class="content-wrapper col-md-12 tech-cont-link">
				<a class="phone"  href="@Url.Action("plants_offices_ase", "About", new { lang = ViewBag.language.lang })"><span class="glyphicon glyphicon-earphone"></span>  Contact for enquries</a><br><br>
			</div>
			<div class="clearfix"></div>
		</div>
	</section>
	<section class="csr-bg">
		<div class="content-lg row">
			<div class="col-xs-12 csr">

				<div class="col-md-4 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "leadframe_solution", param2 = "qfn" })">
							<span class="blue-text-in-box">QFN</span>
							<div class="circle_button-wrapper pull-right">
								<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>
			
				<div class="col-md-4 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "leadframe_solution", param2 = "aqfn" })">
							<span class="blue-text-in-box">aQFN</span>
							<div class="circle_button-wrapper">
								<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>
			
				<div class="col-md-4 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "leadframe_solution", param2 = "qfp" })">
							<span class="blue-text-in-box">QFP</span>
							<div class="circle_button-wrapper">
								<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-3 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "leadframe_solution", param2 = "lqfp_tqfp" })">
							<span class="blue-text-in-box">LQFP/TQFP</span>
							<div class="circle_button-wrapper pull-right">
								<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>
			
				<div class="col-md-3 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "leadframe_solution", param2 = "plcc" })">
							<span class="blue-text-in-box">PLCC</span>
							<div class="circle_button-wrapper">
								<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>
			
				<div class="col-md-3 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "leadframe_solution", param2 = "so" })">
							<span class="blue-text-in-box">SO</span>
							<div class="circle_button-wrapper">
								<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>
			
				<div class="col-md-3 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "leadframe_solution", param2 = "pdip" })">
							<span class="blue-text-in-box">PDIP</span>
							<div class="circle_button-wrapper">
								<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>
				<div class="clearfix"></div>

			</div>
		</div>
	</section>
	<br>
	<section class="inside-article">
		<div class="content-lg row">
			<div class="col-xs-12">
				<div class="technology-bottom-flex">
					<div class="technology-bottom"><a class="" href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "bumping_solution" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/products_icon-01.png"><br>Wafer Bumping Solution</a></div>
					<div class="technology-bottom"><a class="" href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "wafer_level_package_solution" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/products_icon-02.png"><br>Wafer Level Package Solution</a></div>
					<div class="technology-bottom"><a class="" href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "flip_chip_solution" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/products_icon-03.png"><br>Flip Chip Solution</a></div>
					<div class="technology-bottom"><a class="" href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "sip_module_solutions" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/products_icon-04.png"><br>SiP & Module<br>Solution</a></div>
					
					<div class="technology-bottom"><a class="" href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "wire_bond_bga_solution" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/products_icon-05.png"><br>Wire Bond BGA Solution</a></div>
					<div class="technology-bottom opacity-50"><a class="" href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "leadframe_solution" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/products_icon-06.png"><br>Leadframe Solution</a></div>
				</div>
			</div>
			<!-- products carousel -->
			<div class="row">
				<div class="col-xs-12">
					<div class="container technology-carousel">
						<div class='row'>
							<div class='col-xs-12'>
								<div class="carousel slide media-carousel" id="media">
									<!-- Indicators -->
									<ol class="carousel-indicators">
										<li data-target="#media" data-slide-to="0" class="active"></li>
										<li data-target="#media" data-slide-to="1"></li>
									</ol>
									<div class="carousel-inner">
										<div class="item  active">
											<div class="row">
												<div class="col-xs-4">
													<a class="" href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "bumping_solution" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/products_icon-01.png"><br>Bumping<br>Solution</a>
												</div>          
												<div class="col-xs-4">
													<a class="" href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "wafer_level_package_solution" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/products_icon-02.png"><br>Wafer Level Package Solution</a>
												</div>
												<div class="col-xs-4">
													<a class="" href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "flip_chip_solution" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/products_icon-03.png"><br>Flip Chip<br>Solution</a>
												</div>        
											</div>
										</div>
										<div class="item">
											<div class="row">
												<div class="col-xs-4">
													<a class="" href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "sip_module_solutions" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/products_icon-04.png"><br>SiP & Module<br>Solution</a>
												</div>
												<div class="col-xs-4">
													<a class="" href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "wire_bond_bga_solution" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/products_icon-05.png"><br>Wire Bond BGA Solution</a>
												</div>        
												<div class="col-xs-4">
													<a class="" href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "leadframe_solution" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/products_icon-06.png"><br>Leadframe Solution</a>
												</div>  
											</div>
										</div>
									</div>
									<br>
									<a data-slide="prev" href="#media" class="left carousel-control">‹</a>
									<a data-slide="next" href="#media" class="right carousel-control">›</a>
								</div>                          
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end products carousel -->
		</div>
	</section>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

	<script>
		$(document).ready(function() { 
			$(".technology-features-content").hide();

			$('.technology-application').click(function() {
				$(this).closest(".row").find(".technology-features").removeClass("technology-tab-active").addClass("technology-tab-inactive");
				$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
				$(this).closest(".row").find(".technology-features-content").hide();
				$(this).closest(".row").find(".technology-application-content").fadeIn(1000);
			});
			$('.technology-features').click(function() {
				$(this).closest(".row").find(".technology-application").removeClass("technology-tab-active").addClass("technology-tab-inactive");
				$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
				$(this).closest(".row").find(".technology-application-content").hide();
				$(this).closest(".row").find(".technology-features-content").fadeIn(1000);
			});
		});
	</script>