﻿@{
    Layout = "~/Areas/Backend/Views/PressRoom/index.cshtml";
    Dictionary<string, string> error = (Dictionary<string, string>)TempData["error"];
    string str = "";
}

@using web.Models
@using web.Common
@model sign

<div class="box-header with-border">
    <h3 class="box-title"></h3>
    <div class="box-tools pull-right">
        <a class="btn btn-warning" href="@Url.Action("List")" role="button"> Back </a>
    </div>
</div>
<div class="box-body form-horizontal">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.HiddenFor(x => x.id)
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group ">
                    <label class="col-sm-2 control-label"><i class="required"> * </i> 標題:</label>
                    <div class="col-sm-4">
                        @{
                            str = "title";
                        }
                        @Html.TextBox(str, Model.title, new { @class = "form-control", maxlength = 120, @required = "required" })
                        <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group ">
                    <label class="col-sm-2 control-label"><i class="required"> * </i> 內文:</label>
                    <div class="col-sm-8">
                        @{
                            str = "contents";
                        }
                        @Html.TextBox(str, Model.contents, new { @class = "tinymce", maxlength = 120 })
                        <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <div class="col-sm-2 col-sm-offset-2">
                        <button class="btn btn-success btn-block" type="submit">Submit</button>
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-danger btn-block" type="reset">Reset</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
