﻿@{
    Layout = "~/Areas/Backend/Views/PressRoom/index.cshtml";
}

@using web.Models
@using web.Common
@model List<sign>

<div class="box-header with-border">
    <h3 class="box-title"></h3>
    <div class="box-tools pull-right">
        @if (Model.Count() > 0)
        {
            <a class="btn btn-primary" href="@Url.Action("Content", "Sign", new { id = ViewBag.node.wm_url_id, param1 = 0 })" role="button"> 新增 </a>
        }
    </div>
</div>

<div class="table-responsive">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>標題</th>
                <th>編輯</th>
                <th>刪除</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() > 0)
            {
                foreach (sign item in Model)
                {
                    <tr>
                        <td>@(item.title)</td>
                        <td>
                            <a class="btn btn-warning btn-sm" href="@(Url.Action("Content", "Sign", new { id = ViewBag.node.wm_url_id ,param1 = item.id }))"><i class="fa fa-edit"></i></a>
                        </td>
                        <td>
                            @using (Html.BeginForm("DeleteData", "Sign", new { id = ViewBag.node.wm_url_id, param1 = item.id }, FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <button class="btn btn-danger btn-sm delete_btn" type="submit"><i class="fa fa-trash-o"></i></button>
                            }
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="3" align="center">Empty</td>
                </tr>
            }
        </tbody>
    </table>
</div>