﻿@{
    Layout = "~/Areas/Backend/Views/PressRoom/index.cshtml";
    Dictionary<string, string> error = (Dictionary<string, string>)TempData["error"];
    string str = "";
}

@using web.Models
@using web.Common
@model events

<div class="box-header with-border">
    <h3 class="box-title"></h3>
    <div class="box-tools pull-right">
        <a class="btn btn-warning" href="@Url.Action("List")" role="button"> Back </a>
    </div>
</div>
<div class="box-body form-horizontal">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.HiddenFor(x => x.id)
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group ">
                    <label class="col-sm-2 control-label">語系:</label>
                    <div class="col-sm-4">
                        @{
                            str = "lang";
                        }
                        <select class="form-control" name="@(str)">
                            <option value="en" @(Model.lang == "en" ? "selected" : "")>English</option>
                            <option value="ch" @(Model.lang == "ch" ? "selected" : "")>繁體中文</option>
                        </select>
                        <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group ">
                    <label class="col-sm-2 control-label"><i class="required"> * </i> 標題:</label>
                    <div class="col-sm-4">
                        @{
                            str = "title";
                        }
                        @Html.TextBox(str, Model.title, new { @class = "form-control", maxlength = 120, @required = "required" })
                        <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group ">
                    <label class="col-sm-2 control-label"><i class="required"> * </i> 地點:</label>
                    <div class="col-sm-4">
                        @{
                            str = "position";
                        }
                        @Html.TextArea(str, Model.position, new { @class = "form-control", maxlength = 120, @required = "required", @rows = 3 })
                        <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group ">
                    <label class="col-sm-2 control-label">連結:</label>
                    <div class="col-sm-4">
                        @{
                            str = "link";
                        }
                        @Html.TextBox(str, Model.link, new { @class = "form-control", maxlength = 512 })
                        <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group ">
                    <label class="col-sm-2 control-label" for="sort"><i class="required"> * </i> 開始時間:</label>
                    <div class="col-sm-4">
                        <div class="input-group date date_picker">
                            @{
                                str = "start_date";
                            }
                            @Html.TextBox(str, string.Format("{0:yyyy-MM-dd}", Model.start_date), new { @class = "form-control", @required = "required" })
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group ">
                    <label class="col-sm-2 control-label" for="sort">結束時間:</label>
                    <div class="col-sm-4">
                        <div class="input-group date date_picker">
                            @{
                                str = "end_date";
                            }
                            @Html.TextBox(str, string.Format("{0:yyyy-MM-dd}", Model.end_date), new { @class = "form-control" })
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="launch">啟用:</label>
                    <div class="col-sm-10 iCheck">
                        @{
                            str = "launch";
                        }
                        <input name="launch" id="launch" value="1" type="checkbox" @(Model.launch == 1 ? "checked" : "") class="form-control">
                        <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <div class="col-sm-2 col-sm-offset-2">
                        <button class="btn btn-success btn-block" type="submit">Submit</button>
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-danger btn-block" type="reset">Reset</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
