﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/tw/_Layout.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-csr">
		<h1 class="page-title title-large">企業社會責任</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "/" })"><i class="icon-home"></i><span itemprop="name">首頁</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })"><span itemprop="name">企業社會責任</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("environmental_sustainability", "CSR", new { lang = ViewBag.language.lang })"><span itemprop="name">環境永續</span></a>
					<meta itemprop="position" content="3" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "green_facility" })"><span itemprop="name">綠色廠房</span></a>
					<meta itemprop="position" content="4" />
				</li>
			</ol>
		</div>
	</div>

	<div class="breadcrumbs-pc pull-left" id="breadcrumbs-pc">
	<!-- PC版選單breadcrumbs內容 -->
		<ul class="breadcrumbs-view" id="breadcrumbs-view">
			<li class="dropdown-item">
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })">技術</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Solution" })">解決方案</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" })">產品</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "ir" })">投資人關係</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })">企業社會責任</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "About" })">關於日月光集團</a></li>
				</ul>
			</li>
			<li class="dropdown-item">
				<a href="csr.html">企業社會責任</a>
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.Action("Letter_Chairman", "CSR", new { lang = ViewBag.language.lang })">董事長的話</a></li>
					<li><a href="@Url.Action("Sustainability_Governance", "CSR", new { lang = ViewBag.language.lang })">永續治理</a></li>
					<li><a href="@Url.Action("Stakeholder_Engagement", "CSR", new { lang = ViewBag.language.lang })">利害關係人專區</a></li>
					<li><a href="http://ir.aseglobal.com/c/ir_corpor.php">公司治理</a></li>
					<li><a href="@Url.Action("environmental_sustainability", "CSR", new { lang = ViewBag.language.lang })" class="active">環境永續</a></li>
					<li><a href="@Url.Action("Employee_Care_Development", "CSR", new { lang = ViewBag.language.lang })">員工關懷與發展</a></li>
					<li><a href="@Url.Action("Supply_Chain_Development", "CSR", new { lang = ViewBag.language.lang })">供應鏈發展</a></li>
					<li><a href="@Url.Action("Corporate_Citizenship_Social_Involvement", "CSR", new { lang = ViewBag.language.lang })">企業公民與社會參與</a></li>
					<li><a href="@Url.Action("Downloads", "CSR", new { lang = ViewBag.language.lang })">企業社會責任報告書下載專區</a></li>
				</ul>
			</li>
		</ul>
	</div>
	
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">綠色廠房</h3>
				<p>
					為打造健康且永續之工作及營運環境，日月光自2012年投入綠建築群之佈局。我們依循綠建築標準，例如美國的LEED（領先能源與環境設計）和台灣EEWH（生態，節能，減廢和衛生），進行既有廠房改造及建設新製造工廠和辦公大樓。此外，我們進一步通過實施綠建築概念以及清潔生產評估，來推動「綠色工廠標章」認證，並整合智能建築技術，以創造能有效地使用能源、提高健康安全、提高可靠性、營運效率和經營績效的工作環境。
				</p>

				<h4 class="sub-title">綠建築</h4>
				<p>
					截至2016年12月，日月光已取得11項台灣EEWH認證，以及5項美國綠建築LEED認證。目前日月光獲得LEED-NC 白金級認證數量為台灣之冠<a href="javascript:;" data-toggle="popover" data-trigger="hover" data-content="高雄廠K22為台灣第四棟獲得LEED-NC最高等級-白金級認證廠房(繼友達L8B與日月光高雄廠K12、K21後) 。" data-placement="bottom">*</a>，體現公司持續推行綠建築之承諾。通過推行EEWH及LEED認證所實施的節能行動，我們的綠建築每年總共節電超過293,810MWh，相當於可減少超過154,000噸二氧化碳當量。此外，我們計劃將另外取得10項台灣綠建築EEWH認證，以及2項美國綠建築LEED認證。
				</p>
				<h4 class="sub-title">日月光綠建築認證與綠建築計劃</h4>
				<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/green_facility.png" class="col-md-9 nopadding">
				<div class="clearfix"></div>
				<h4 class="sub-title">綠色工廠</h4>
				<p>
					截至2016年，高雄廠區總共有5棟廠房K3, K5, K11, K12, K15(2016新增) 取得「綠色工廠標章」<a href="javascript::" data-container="body" data-toggle="popover" data-trigger="hover" data-content="「綠色工廠標章」要求「綠建築」認證並且需通過「清潔生產評估」。清潔生產評估是由經濟部(MOE)的工業局(IDB)執行，其係基於聯合國環境規劃署(UNEP)所定義的「清潔生產」概念。考核評估包含五個基本要素：生產、生態設計、綠色管理、社會責任和綠色創新，包括定性和定量的指標。" data-placement="bottom">*</a> 。我們計劃完成另外4棟廠房K7, K21(2017前)及K8, K9(2019前)的「綠色工廠標章」認證。
				</p>
				<div class="col-md-8 col-md-offset-2">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/green_facility1.png">
				</div>
				<div class="clearfix"></div><br>
			</article>
		</div>
	</section>
	<section class="csr-bg">
		<div class="content-lg row">
			<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 csr">
				<div class="col-sm-12 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "sustainability_highlights_green_facilities" })">
							<span class="blue-text-in-box">日月光綠建築群</span>
							<div class="circle_button-wrapper pull-right">
								<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script>
	$(document).ready(function() {
		$('[data-toggle="popover"]').popover();
	})
	</script>
	<style>
	/* Popover Body */
	.popover-content {
	  color: #444444;
	  text-align: left;
	}
	</style>