﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/tw/_Layout.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-csr">
		<h1 class="page-title title-large">企業社會責任</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "/" })"><i class="icon-home"></i><span itemprop="name">首頁</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })"><span itemprop="name">企業社會責任</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("environmental_sustainability", "CSR", new { lang = ViewBag.language.lang })"><span itemprop="name">環境永續</span></a>
					<meta itemprop="position" content="3" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("environmental_sustainability", "CSR", new { lang = ViewBag.language.lang, param1 = "green_bond" })"><span itemprop="name">綠色債券</span></a>
					<meta itemprop="position" content="4" />
				</li>
			</ol>
		</div>
	</div>

	<div class="breadcrumbs-pc pull-left" id="breadcrumbs-pc">
	<!-- PC版選單breadcrumbs內容 -->
		<ul class="breadcrumbs-view" id="breadcrumbs-view">
			<li class="dropdown-item">
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })">技術</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Solution" })">解決方案</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" })">產品</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "ir" })">投資人關係</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })">企業社會責任</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "About" })">關於日月光集團</a></li>
				</ul>
			</li>
			<li class="dropdown-item">
				<a href="csr.html">企業社會責任</a>
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.Action("Letter_Chairman", "CSR", new { lang = ViewBag.language.lang })">董事長的話</a></li>
					<li><a href="@Url.Action("Sustainability_Governance", "CSR", new { lang = ViewBag.language.lang })">永續治理</a></li>
					<li><a href="@Url.Action("Stakeholder_Engagement", "CSR", new { lang = ViewBag.language.lang })">利害關係人專區</a></li>
					<li><a href="http://ir.aseglobal.com/c/ir_corpor.php">公司治理</a></li>
					<li><a href="@Url.Action("environmental_sustainability", "CSR", new { lang = ViewBag.language.lang })" class="active">環境永續</a></li>
					<li><a href="@Url.Action("Employee_Care_Development", "CSR", new { lang = ViewBag.language.lang })">員工關懷與發展</a></li>
					<li><a href="@Url.Action("Supply_Chain_Development", "CSR", new { lang = ViewBag.language.lang })">供應鏈發展</a></li>
					<li><a href="@Url.Action("Corporate_Citizenship_Social_Involvement", "CSR", new { lang = ViewBag.language.lang })">企業公民與社會參與</a></li>
					<li><a href="@Url.Action("Downloads", "CSR", new { lang = ViewBag.language.lang })">企業社會責任報告書下載專區</a></li>
				</ul>
			</li>
		</ul>
	</div>

	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				
				<h3 class="title">綠色債券</h3>
				<p>
					綠色債券之概念源自於北歐，銀行業於2014年1月制定綠色債券準則(Green Bond Principles)並鼓勵企業利用該籌資工具來籌措環保的相關投資資金，綠色債券近期在國際資本市場上頗受投資人矚目。<br><br>

					日月光集團所發行之綠色債券於2015年1月榮獲亞元雜誌(Asiamoney)所頒發之2014年台灣區最佳籌資案(Country Deals of the Year 2014)，亦於2016年2月榮獲氣候債券倡議組織(<a href="https://www.climatebonds.net/market/2016-awards" target="_blank">Climate Bonds Initiative, CBI</a>)頒發之首支新興市場企業綠色債券認證(First Emerging Market Corporate Green Bond)及首支台灣綠色債券認證(First Green Bond in Taiwan) 。<br><br>

					<strong>日月光集團是亞洲第一個發行綠色債券的製造業公司</strong>，秉持永續發展的理念，以及落實環境保護和節約能源的承諾，發行總金額為美金3億元的3年期海外公司債(綠色債券)，期盼為節能減碳及氣候改善貢獻心力。
				</p>
			</article>
			<article class="col-xs-12">
				<div class="col-sm-4 picture-padding-2">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/green_bond1.jpg"><br>
					綠建築<br><br>
				</div>
				<div class="col-sm-4 picture-padding-2">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/green_bond2.jpg"><br>
					廢水中央控制室<br><br>
				</div>
				<div class="col-sm-4 picture-padding-2">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/green_bond3.jpg"><br>
					即時監控<br><br>
				</div>
				<p><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/green_bond4.jpg" width="75" class="pull-right">
					日月光長久以來皆持續大量投資於環保及節約能源等各項目，希望在追求企業發展的同時亦能善盡社會責任。例如，2013年高雄廠區K12廠房獲得美國綠建築協會(USGBC) LEED最高等級-白金級以及中華民國內政部綠建築最高等級 EEWH-鑽石級認證，該廠房為半導體封測代工業第一棟取得最高級認證之綠建築，同時，高雄及中壢廠區另有5棟全新綠建築廠房在興建並取得認證中 ; 另外，位於高雄加工出口區的中水處理廠將於近日內完工並預計在第三季正式啟用，該處理廠完成後預計每日至少可處理20,000噸廢水，足以支應日月光高雄廠區滿載時每日廢水產出量。<br><br>

					日月光發行綠色債券的資金用途為推行各項環境保護及節約能源計畫，其中包括但不限於興建綠建築工廠、設置中水回收廠、廢水處理廠、及時廢水監測系統等各項設施，以及進行製程能源減省方案等項目，這些項目預計能達成節省能源消耗、減少碳排放量、杜絕廢水排放等目標，所有相關計畫的效益皆經過歐洲獨立環保機構Center for International Climate & Environmental Research – Oslo (CICERO)審查驗證，該綠色債券資金運用進度，將由獨立會計師出具報告並定期追蹤監控。
				</p>
			</article>
		</div>
	</section>
	<section class="csr-bg">
		<div class="content-lg row">
			<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 csr">
				<div class="col-sm-12 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "green_bond_investor_letter" })">
							<span class="blue-text-in-box">綠色債券投資人報告信</span>
							<div class="circle_button-wrapper pull-right">
								<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>