﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/tw/_Layout.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-csr">
		<h1 class="page-title title-large">企業社會責任</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "/" })"><i class="icon-home"></i><span itemprop="name">首頁</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })"><span itemprop="name">企業社會責任</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("environmental_sustainability", "CSR", new { lang = ViewBag.language.lang })"><span itemprop="name">環境永續</span></a>
					<meta itemprop="position" content="3" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "pollution_prevention" })"><span itemprop="name">污染防治</span></a>
					<meta itemprop="position" content="4" />
				</li>
			</ol>
		</div>
	</div>

	<div class="breadcrumbs-pc pull-left" id="breadcrumbs-pc">
	<!-- PC版選單breadcrumbs內容 -->
		<ul class="breadcrumbs-view" id="breadcrumbs-view">
			<li class="dropdown-item">
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })">技術</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Solution" })">解決方案</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" })">產品</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "ir" })">投資人關係</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })">企業社會責任</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "About" })">關於日月光集團</a></li>
				</ul>
			</li>
			<li class="dropdown-item">
				<a href="csr.html">企業社會責任</a>
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.Action("Letter_Chairman", "CSR", new { lang = ViewBag.language.lang })">董事長的話</a></li>
					<li><a href="@Url.Action("Sustainability_Governance", "CSR", new { lang = ViewBag.language.lang })">永續治理</a></li>
					<li><a href="@Url.Action("Stakeholder_Engagement", "CSR", new { lang = ViewBag.language.lang })">利害關係人專區</a></li>
					<li><a href="http://ir.aseglobal.com/c/ir_corpor.php">公司治理</a></li>
					<li><a href="@Url.Action("environmental_sustainability", "CSR", new { lang = ViewBag.language.lang })" class="active">環境永續</a></li>
					<li><a href="@Url.Action("Employee_Care_Development", "CSR", new { lang = ViewBag.language.lang })">員工關懷與發展</a></li>
					<li><a href="@Url.Action("Supply_Chain_Development", "CSR", new { lang = ViewBag.language.lang })">供應鏈發展</a></li>
					<li><a href="@Url.Action("Corporate_Citizenship_Social_Involvement", "CSR", new { lang = ViewBag.language.lang })">企業公民與社會參與</a></li>
					<li><a href="@Url.Action("Downloads", "CSR", new { lang = ViewBag.language.lang })">企業社會責任報告書下載專區</a></li>
				</ul>
			</li>
		</ul>
	</div>

	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">污染防治</h3>
				<p>
					日月光各廠力求加強與升級廢水（請參考<a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "wastewater_management" })">廢水管理</a>）、固體廢棄物、空氣污染與噪音的防治措施。我們的污染防治是以ISO 14001環境管理系統為基礎，並採用了「規劃 – 執行 – 查核 – 行動」的管理模式推動我們持續地進步。
				</p>
				<h4 class="sub-title">廢棄物管理</h4>
				<p>
					2016年，日月光共產生54,464噸廢棄物，其中49%為有害事業廢棄物，而全部的廢棄物<a href="javascript:;" data-toggle="popover" data-trigger="hover" data-content="此數據涵蓋所有的ATM與EMS廠房。" data-placement="bottom">*</a>中，70%回收（26%有害廢棄物與44%非有害廢棄物）經由掩埋、焚化、固化與其他處理法的廢棄物為16,221噸，較2015年的18,338噸減少12%。<br><br>

					為了達到廢棄物減量，日月光採用生態化設計以減少廢棄物產生。舉例來說，晶片封裝設計輕量化就幫助減少了廢棄塑膠量。我們也持續推動減少污染及廢棄物回收的行動，像是提高汙泥乾燥效率與稼動率，以達到廢水處理廠之污泥減量、製程源頭減量及改善、回收電鍍機組排出之廢液、及禁止使用免洗餐具等。日月光持續與知名大學進行產學合作，為能有效提升自廠處理廢液能力，針對高濃度的含硼、雙氧水與高COD專收廢液進行自廠處理技術研發，以成為業界水資源管理標竿企業為目標。
				</p>
			</article>

			<div class="col-xs-12 col-sm-8 col-md-4 text-center">
				<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/pollution_prevention.png" style="padding-top: 10px"><br>
				<strong>廢棄物管理</strong><br><br>
			</div>
			<div class="col-xs-12 col-sm-8 col-md-4 text-center">
				<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/pollution_prevention1.png" style="padding-top: 10px"><br>
				<strong>有害廢棄物處理方式</strong><br><br>
			</div>
			<div class="col-xs-12 col-sm-8 col-md-4 text-center">
				<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/pollution_prevention2.png" style="padding-top: 10px"><br>
				<strong>非有害廢棄物處理方式</strong><br><br>
			</div>
			<div class="clearfix"></div>
			<article class="col-xs-12">
				<p>
					<strong>綠色包裝材料</strong><br>
					日月光所使用的包裝材料均為可回收材料。2016年，我們回收了3,432噸紙箱、1,001噸棧板、710噸晶舟盒以及890噸其他包裝材料。此外，我們也透過分類與資源回收包裝材料，減少自然資源的浪費。

				</p>
				<div class="blue-box">
					<p>
						<strong>與客戶及供應商合作減少環境衝擊</strong><br>
						我們持續與客戶、供應商以及廠區之間合作，以減少我們營運所帶來的環境衝擊。2016年，高雄及中壢廠與客戶一同合作回收超過24萬個晶舟盒，使包材能重複回收再利用。我們也與化學藥劑供應商合作回收空桶再填裝利用，減少塑膠桶製造，並延長空桶生命週期，於2016年，高雄與中壢廠已回收超過1萬個空桶。
					</p>
				</div><br>
				<h4 class="sub-title">氣體排放控制</h4>
				<p>
					針對日月光工廠產生之主要氣體排放來源－揮發性有機化合物(VOC)，我們採用臭氧洗滌塔處理。更進一步，為了減少臭氧洗滌塔處理過程中產生之廢水，我們採用高效能之洗滌塔，使處理過之揮發性有機化合物濃度遠低於法定標準。有機排氣則使用沸石轉輪將汙染物濃縮後，導入蓄熱式焚化爐(Regenerative Thermal Oxidizer, RTO)焚化後排放。<br><br>

					2016年日月光集團的空氣污染排放量如下。我們產出的揮發性有機化合物為269噸，比2015年的331噸下降19%，該下降是由於透過公正的第三方單位進行原物料檢測，反映實際的VOC排放量。我們未來的空氣污染管理計劃將著重在以下幾個方面來減少廢氣的排放：<br>
					<ul class="nopadding">
						<li>增進原料管控，採用物料管控表以控制原料的使用量符合法規規定。</li>
						<li>減少高揮發性有機化合物原料，或是更換成低汙染物原料。</li>
						<li>每年針對空氣污染防治設備進行效率檢測，對於效率低的設備進行改善，提高空氣污染控制設備之效率。</li>
						<li>引進高效率之處理設備（如，蓄熱式焚化爐、活性碳處理系統）於現有及新建廠房。</li>
						<li>透過校園及企業資源整合，進行產源端排氣分流減量、管末端防治設備化學藥劑及排水量操作參數優化，增加去除效率。</li>
					</ul>
				</p>
				<h4 class="sub-title">噪音管制</h4>
				<p>
					日月光針對設施周界噪音進行監測、報告與管理。於2016年皆無超過法規管制之記錄，我們將會持續加強設施周界噪音之管制，並進行產學合作，建立噪音擴散模式分析、設備噪音評估，改善廠區與工作環境噪音，提升在地民眾生活與員工工作的環境品質。
				</p>
			</article>
		</div>
		
	</section>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script>
	$(document).ready(function(){
	    $('[data-toggle="popover"]').popover();   
	});
	</script>