﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/tw/_Layout.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-csr">
		<h1 class="page-title title-large">企業社會責任</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "/" })"><i class="icon-home"></i><span itemprop="name">首頁</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })"><span itemprop="name">企業社會責任</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("environmental_sustainability", "CSR", new { lang = ViewBag.language.lang })"><span itemprop="name">環境永續</span></a>
					<meta itemprop="position" content="3" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "sustainable_manufacturing" })"><span itemprop="name">永續製造</span></a>
					<meta itemprop="position" content="4" />
				</li>
			</ol>
		</div>
	</div>

	<div class="breadcrumbs-pc pull-left" id="breadcrumbs-pc">
	<!-- PC版選單breadcrumbs內容 -->
		<ul class="breadcrumbs-view" id="breadcrumbs-view">
			<li class="dropdown-item">
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })">技術</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Solution" })">解決方案</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" })">產品</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "ir" })">投資人關係</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })">企業社會責任</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "About" })">關於日月光集團</a></li>
				</ul>
			</li>
			<li class="dropdown-item">
				<a href="csr.html">企業社會責任</a>
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.Action("Letter_Chairman", "CSR", new { lang = ViewBag.language.lang })">董事長的話</a></li>
					<li><a href="@Url.Action("Sustainability_Governance", "CSR", new { lang = ViewBag.language.lang })">永續治理</a></li>
					<li><a href="@Url.Action("Stakeholder_Engagement", "CSR", new { lang = ViewBag.language.lang })">利害關係人專區</a></li>
					<li><a href="http://ir.aseglobal.com/c/ir_corpor.php">公司治理</a></li>
					<li><a href="@Url.Action("environmental_sustainability", "CSR", new { lang = ViewBag.language.lang })" class="active">環境永續</a></li>
					<li><a href="@Url.Action("Employee_Care_Development", "CSR", new { lang = ViewBag.language.lang })">員工關懷與發展</a></li>
					<li><a href="@Url.Action("Supply_Chain_Development", "CSR", new { lang = ViewBag.language.lang })">供應鏈發展</a></li>
					<li><a href="@Url.Action("Corporate_Citizenship_Social_Involvement", "CSR", new { lang = ViewBag.language.lang })">企業公民與社會參與</a></li>
					<li><a href="@Url.Action("Downloads", "CSR", new { lang = ViewBag.language.lang })">企業社會責任報告書下載專區</a></li>
				</ul>
			</li>
		</ul>
	</div>

	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">永續製造</h3>
				<h4 class="sub-title">永續製造聲明</h4>
				<p>
					日月光集團致力提供具生態效益及負責任的服務給我們的客戶，並將永續融入於所有製造環節，包含原料使用、設計、採購、生產及產品包裝，以降低成本、提高競爭力，並減少對環境、安全和健康的影響。<br><br>

					日月光集團承諾：<br>
					<ul class="nopadding">
						<li>遵守所有適用的法律和法規。</li>
						<li>管理用於產品製造之零件及原料的有害物質。</li>
						<li>提供輕薄短小以及具能源效率的產品解決方案。</li>
						<li>持續增加資源再利用及減少溫室氣體與 廢水排放、減少廢棄物產生及減少化學品使用。</li>
						<li>減少產品包裝及產品廢棄物。</li>
					</ul>
				</p>
				<h4 class="sub-title">集團環保實驗室</h4>
				<p>
					日月光設有集團環保實驗室，致力於：<br>
					<ul class="nopadding">
						<li>綠色材料之評估與開發：評估無(低) 毒性之產品原料、製程化學品 。</li>
						<li>發展環境檢測技術：建立監測技術、機制及標準，符合世界環保規章。</li>
						<li>發展綠色製程：提高化學品或原料之利用率；評估廢棄物、廢水與化學品之回收、減量和再製技術。</li>
						<li>開發環境親和性包裝：開發生質複合材料包裝。</li>
					</ul>
				</p>
				<h4 class="sub-title">永續製造措施</h4>
				<p>
					就環境、健康和安全的影響而言，每個製造階段皆相互密切關聯，因此要進行改善和實現技術創新皆需要在每個階段持續努力。日月光的目標是將這些改善和創新努力落實在所有的營運面向，以持續提供客戶永續產品。
				</p>
			</article>
			<div class="col-md-10 col-md-offset-1">
				<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/sustainable_manufacturing.png">
			</div>
			<div class="clearfix"></div><br>
			<article class="col-xs-12">
				<h4 class="sub-title">提升生態效益</h4>
				<p>
					於2016年開始和透過產學合作，建立產品生態效益模型。藉由產品生態效率評估模式的建立，期望在產品價值增加的同時，也能使環境品質得到提升。在公司內部環境管理上，促使減少產品生命週期過程物質的投入，以降低對環境的影響與衝擊，達成公司環境目標，落實永續經營。
				</p>
			</article>
			<div class="col-md-7">
				<p>
					<strong>• BGA生態效益評估模型(EE 模型)</strong><br>
					結果顯示，於相同系統邊界與範疇下，BGA(金線)造成損害之單一得分6.18E-04(Pt)約為BGA(銅線)之單一得分1.02E-04(Pt) 的六倍。整體而言，BGA(銅線)於各項環境損害類別之損害得分皆明顯低於BGA(金線)，故在不影響BGA產品功能的前提下，半導體後端產業應考量逐步以銅線取代金線。<br><br>

					<strong>• 通信模組生態效益評估模型(EE 模型)</strong><br>
					環境衝擊分析結果顯示，主要環境衝擊來自於產品生命週期中之製造階段，外購電力為主要環境衝擊來源，而原物料階段主要環境衝擊產生者為積體電路、陶瓷基板、鐵框等元件；所造成之環境衝擊主要集中於人類毒性風險。
				</p>
			</div>
			<div class="col-md-5 col-sm-6">
				<br>
				<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/sustainable_manufacturing1.png"><br><br>
			</div>
		</div>
	</section>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script>
		$(document).ready(function(){
	    	$("img[usemap]").jMap();
		});
	</script>