﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
    ViewBag.Title = "Stakeholder Engagement";
    ViewBag.zhURL = "/ch/csr/stakeholder_engagement/focus";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-csr">
		<h1 class="page-title-csr title-large">CORPORATE SOCIAL RESPONSIBILITY</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->
	
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">Stakeholder Engagement</h3>
				<h4 class="sub-title">Identification and Communication with Stakeholders</h4>
				<p>
					We define stakeholders as a group or an organization that can affect or be affected by ASE. Based on the 5 major principles (dependency, responsibility, influence, diverse perspective, tension) of the AA1000 SES-2011 Stakeholder Engagement Standard (SES), we have identified 9 major categories of stakeholders. They are categorized into two groups based on whether the impact is direct or indirect. Our direct stakeholders include shareholders, employees, customers, and suppliers; our indirect stakeholders include community residents, government, industry unions and as"NGOs").<br>
					<br>
					We engage with our stakeholders through a variety of means, depending on the nature of the relationship. The methods of engagement will var y depending on the stakeholders, the issues of concern and the purpose of engagement.
				</p>

				<h4 class="sub-title">Our Communication Mechanisms & Focus</h4>
				
				<div class="col-md-4"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/communication.svg" class="stakeholder-small-icons"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Communication Mechanisms</div>
				<div class="col-md-4"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/issues.svg" class="stakeholder-small-icons"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2017 Issues of Concerns</div>
				<div class="col-md-4"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/outcome.svg" class="stakeholder-small-icons"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2017 Communication Key Outcomes</div>
				<div class="clearfix"></div>
				
			</article>
		</div>
	</section>

	<section class="plants-Offices">
		<div class="content-lg row stakeholder-engagement-box">
			<ul id="list-content" class="col-xs-12 list-base list-link office-list-content">
				<li class="gray-bg">
						<h4>Customers</h4>
						<div class="text-box">
							<div class="content-wrapper">								
								<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/communication.svg" class="stakeholder-small-icons">
								<ul class="stakeholder">
									<li>Customer quarterly business review meeting</li>
									<li>Customer audits</li>
									<li>Customer service platform</li>
									<li>Technical forums</li>
								</ul>
								<hr class="stakeholder">
								<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/issues.svg" class="stakeholder-small-icons">
								<ul class="stakeholder">
									<li>Business Strategy and Performance</li>
									<li>Innovation Management</li>
									<li>Customer Relationship Management</li>
								</ul>
								<hr class="stakeholder">
								<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/outcome.svg" class="stakeholder-small-icons">
								<ul class="stakeholder">
									<li>Satisfied customer percentage increased from 90% in 2016 to 92% in 2017, which exceeded our “90% satisfied customer” target.</li>
								</ul>
							</div>							
						</div>
				</li>
				<li>
						<h4>Employees</h4>
						<div class="text-box">
							<div class="content-wrapper">								
								<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/communication.svg" class="stakeholder-small-icons">
								<ul class="stakeholder">
									<li>GM mailbox</li>
									<li>Intranet website</li>
									<li>Satisfaction survey on employees</li>
									<li>Dedicated employee helpline</li>
									
								</ul>
								<hr class="stakeholder">
								<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/issues.svg" class="stakeholder-small-icons">
								<ul class="stakeholder">
									<li>Employee Health & Safety</li>
									<li>Employee Communication</li>
									<li>Talent Development</li>
								</ul>
								<hr class="stakeholder">
								<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/outcome.svg" class="stakeholder-small-icons">
								<ul class="stakeholder">
									<li>Our global facilities conducted in total 327 new employee orientations, 162 foreign employee forums and 477 regular employee communication sessions.</li>
								</ul>
							</div>							
						</div>
				</li>
				<li class="gray-bg">
						<h4>Shareholders</h4>
						<div class="text-box">
							<div class="content-wrapper">								
								<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/communication.svg" class="stakeholder-small-icons">
									<ul class="stakeholder">
										<li>Annual financial reports</li>
										<li>Quarterly earnings conference</li>
										<li>Annual shareholder meeting</li>
										<li>Institutional investors' conference (Quarterly)</li>
									</ul>
									<hr class="stakeholder">
									<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/issues.svg" class="stakeholder-small-icons">
									<ul class="stakeholder">
										<li>Business Strategy and Performance</li>
										<li>Waste Management</li>
									</ul>
									<hr class="stakeholder">
									<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/outcome.svg" class="stakeholder-small-icons">
									<ul class="stakeholder">
										<li>In 2017, ASE set a new record as consolidated revenue reached NT$290.4 billion, an increase of about NT$15.6 billion, or a growth of about 6% from 2016. The 2017 net operating income was NT$25.2 billion, a decrease of NT$1.4 billion, or a decline of 5.4% from 2016.</li>
									</ul>
							</div>							
						</div>
				</li>
				<li>
						<h4>Suppliers</h4>
						<div class="text-box">
							<div class="content-wrapper">								
								<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/communication.svg" class="stakeholder-small-icons">
								<ul class="stakeholder">
									<li>Supplier questionnaire survey</li>
									<li>Supplier on-site audits</li>
									<li>Annual supplier forum</li>
									<li>Supplier capacity-building activities</li>
								</ul>
								<hr class="stakeholder">
								<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/issues.svg" class="stakeholder-small-icons">
								<ul class="stakeholder">
									<li>Business Strategy and Performance</li>
									<li>Sustainable Supply Chain</li>
									<li>Innovation management</li>
								</ul>
								<hr class="stakeholder">
								<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/outcome.svg" class="stakeholder-small-icons">
								<ul class="stakeholder">
									<li>Over 125 companies from all over the world attended our Supplier Awards Ceremony. 17 award winners were recognized for their extraordinary performance in their support to ASE and 3 award winners were recognized for attaining Excellence in Sustainability.</li>
								</ul>
							</div>							
						</div>
				</li>
				<li class="gray-bg">
						<h4>Government</h4>
						<div class="text-box">
							<div class="content-wrapper">								
								<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/communication.svg" class="stakeholder-small-icons">
								<ul class="stakeholder">
									<li>Communication meetings, conferences, forums or seminars held by government authorities</li>
									<li>Proactive dialogue with government authorities</li>
									<li>Reporting through government portal</li>
								</ul>
								<hr class="stakeholder">
								<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/issues.svg" class="stakeholder-small-icons">
								<ul class="stakeholder">
									<li>Regulatory Compliance</li>
									<li>Employee Health & Safety</li>
									<li>Green Solutions</li>
								</ul>
								<hr class="stakeholder">
								<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/outcome.svg" class="stakeholder-small-icons">
								<ul class="stakeholder">
									<li>Co-worked with other companies in the semiconductor packaging and testing industry to establish the TSIA ESH Committee for addressing the issues of industrial safety and environmental protection as well as propose amendments in environmental protection regulations to the government through the Industrial Technology Research Institute.</li>
									<li>Strictly adhere to the standard procedure for dealing with accidents at work and notification to the local authorities within the regulatory time period.  There was no major injuries in 2017, and the total occupational injury accident was reduced by 42% compared to 2017.</li>
								</ul>
							</div>							
						</div>

				</li>
				<li>
					
						<h4>Community</h4>
						<div class="text-box">
							<div class="content-wrapper">								
								<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/communication.svg" class="stakeholder-small-icons">
								<ul class="stakeholder">
									<li>ASE Charity Foundation</li>
									<li>ASE Cultural and Educational Foundation</li>
									<li>Employee volunteer activities</li>
									<li>Community perception surveys and needs assessments</li>
								</ul>
								<hr class="stakeholder">
								<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/issues.svg" class="stakeholder-small-icons">
								<ul class="stakeholder">
									<li>Water Resource Management</li>
									<li>Waste Management</li>
									<li>Significant Community Development</li>
								</ul>
								<hr class="stakeholder">
								<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/outcome.svg" class="stakeholder-small-icons">
								<ul class="stakeholder">
									<li>ASE contributed US$806k in community engagement programs to more than 740 beneficiaries including 122 underprivileged children, scholarships for 638 low-income family students and 42 charitable institutions.</li>
								</ul>
							</div>							
						</div>
					
				</li>
				<li class="gray-bg">
						<h4>Inudstry Unions and Assocations</h4>
						<div class="text-box">
							<div class="content-wrapper">								
								<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/communication.svg" class="stakeholder-small-icons">
								<ul class="stakeholder">
									<li>Organizational member conference</li>
									<li>Technology forums held by industry unions/associations</li>
								</ul>
								<hr class="stakeholder">
								<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/issues.svg" class="stakeholder-small-icons">
								<ul class="stakeholder">
									<li>Waste Management</li>
									<li>Climate Change</li>
									<li>Water Resource Management</li>
								</ul>
								<hr class="stakeholder">
								<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/outcome.svg" class="stakeholder-small-icons">
								<ul class="stakeholder">
									<li>We engaged over 136 external organizations and contributed US$0.54 million in public advocacy wherein US$0.45 million is contributed to public policy and industry development (can be accessed 
									<a tabindex="0" class="blue-link-popover" role="button" data-toggle="popover" data-trigger="hover" data-content="

									As an international corporate citizen, ASE endeavours to advance public welfare while we devote ourselves to business operations and shareholder benefit. We seek to effect positive change and impact across the globe society. Where permitted by laws, ASE supports organizations which have a consistent view with ASE’s priorities on specific issues and provide venues for important discussion regarding public policy issues and opportunities to advocate for common business interests. We are committed to ensuring that any contributions or spending we make are for the purpose of supporting the public affairs, compliance with all applicable regulations of all countries in which we operate, adequately disclosed in accordance with applicable regulations and reporting requirements, and in accordance with our relevant ethical policies and specifications.

									<br><br>Contributions or spendings on public affairs from FY2014 to FY2017
									<div class='table-responsive inside-table'>
										<table class='table table-striped table-hover csr grey-table'>
											<thead>
												<tr>
													<th></th>
													<th class='left-border'>FY2014</th>
													<th class='left-border'>FY2015</th>
													<th class='left-border'>FY2016</th>
													<th class='left-border'>FY2017</th>
												</tr>
											</thead>
											<tbody>
											
												<tr class='grey'>
													<td>Total Amount (USD Thousand)</td>
													<td class='left-border text-center'>309</td>
													<td class='left-border text-center'>318</td>
													<td class='left-border text-center'>327</td>
													<td class='left-border text-center'>456</td>
												</tr>
											</tbody>
										</table>
									</div>
									
									<br>Five largest contributions or spendings on public affairs in FY2017
									<div class='table-responsive inside-table'>
										<table class='table table-striped table-hover csr grey-table'>
											<thead>
												<tr>
													<th>Name of Organizations</th>
													<th class='left-border'>Total Amount<br>(USD Thousand)</th>
												</tr>
											</thead>
											<tbody>
												<tr class='grey'>
													<td>Taiwan Semiconductor Industry Association (TSIA)</td><td class='left-border text-center'>93</td>
												</tr>
												<tr class='grey'>
													<td>Taiwan Alliance for Sustainable Supply (TASS)</td><td class='left-border text-center'>66</td>
												</tr>
												<tr class='grey'>
													<td>Semiconductor Equipment and Materials International (SEMI)</td><td class='left-border text-center'>55</td>
												</tr>
												<tr class='grey'>
													<td>International Electronics Manufacturing Initiative (iNEMI)</td><td class='left-border text-center'>40</td>
												</tr>
												<tr class='grey'>
													<td>Responsible Business Alliance  (RBA)</td><td class='left-border text-center'>35</td>
												</tr>
											</tbody>
										</table>
									</div>

									
									">here</a>).</li>
									<li>Joined the TSIA’s Waste Disposal Contractor Self-Discipline Convention, strictly supervised the poor performance contractors to improve their management capabilities.</li>
								</ul>
							</div>							
						</div>
				</li>
				<li>
						<h4>Media</h4>
						<div class="text-box">
							<div class="content-wrapper">								
								<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/communication.svg" class="stakeholder-small-icons">
								<ul class="stakeholder">
									<li>Press releases</li>
									<li>Spokesperson interviews</li>
									<li>Company's website</li>
								</ul>
								<hr class="stakeholder">
								<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/issues.svg" class="stakeholder-small-icons">
								<ul class="stakeholder">
									<li>Significant Community Development</li>
									<li>Business Strategy and Performance</li>
									<li>Waste Management</li>
								</ul>
								<hr class="stakeholder">
								<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/outcome.svg" class="stakeholder-small-icons">
								<ul class="stakeholder">
									<li>We conduct an annual media seminar to engage media professionals covering our industry and to educate and update them on the global and segment market outlook, technologies and ASE’s progress in corporate sustainability.</li>
								</ul>
							</div>							
						</div>
				</li>
				<li class="gray-bg">
						<h4>NGOs</h4>
						<div class="text-box">
							<div class="content-wrapper">								
								<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/communication.svg" class="stakeholder-small-icons">
								<ul class="stakeholder">
									<li>Communication meetings, forums, seminars or workshops held by NGOs</li>
									<li>Company's website </li>
									<li>Volunteer activity cooperation with NGOs</li>
								</ul>
								<hr class="stakeholder">
								<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/issues.svg" class="stakeholder-small-icons">
								<ul class="stakeholder">
									<li>Waste Management</li>
									<li>Public Policy & Initiatives</li>
									<li>Climate Change</li>
								</ul>
								<hr class="stakeholder">
								<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/outcome.svg" class="stakeholder-small-icons">
								<ul class="stakeholder">
									<li>We contributed US$1.37 million in support of environmental conservation programs, charitable activities and civic educational programs through collaboration with 20 NGOs</li>
								</ul>
							</div>							
						</div>
				</li>
			</ul>
			<div class="col-md-12 nopadding">
				<h4 class="sub-title">Materiality Assessment Procedures</h4>
			</div>
			<div class="col-md-12">
				<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/stakeholder_engagement_details1.png">
				<br><br><br>
			</div>
			<div class="col-md-12 nopadding">
				<h4 class="sub-title">Results of Materiality Assessment</h4>
			</div>
			<div class="col-md-12">
				<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/stakeholder_engagement_details2.png">
				<br><br>
			</div>


		</div>		
	</section>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script>
	$(document).ready(function(){
	    $('[data-toggle="popover"]').popover({
	    	html:true,
	    	trigger: 'hover',
	    	placement: 'bottom',
	    });
	});
	</script>