﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/ch/_Layout_seo.cshtml";
    ViewBag.Title = "日月光文件下載";
    ViewBag.enURL = "/en/downloads";
    ViewBag.zhURL = "/ch/downloads";
}
		<!-- page Banner -->
		<section id="page-vision" class="page-banner-s banner-about">
			<h1 class="page-title title-large">日月光文件下載</h1>
		</section>

		<!--breadcrumbs-->
		<div class="content-lg row">
			<div class="col-xs-12">
				<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch/about"><span itemprop="name">關於日月光</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item"><span itemprop="name">公司資訊</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch/downloads"><span itemprop="name">文件下載</span></a>
					<meta itemprop="position" content="3" />
				</li>
				</ol>
			</div>
		</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->

		<!-- Downloads -->
		<section class="inside-article">
			<div class="content-lg row csr">
				<article class="col-xs-12">
					<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
						<!--    CSR Report Downloads Start    -->
						<div class="col-md-12 bgnews-list list-base panel">
							<div class="content">
								<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
									<span class="black-text-in-box accordion-center-text">企業社會責任報告書下載</span>
									<div class="circle_button-wrapper">
										<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
									</div>
								</a>
							</div>
							<div id="collapseTwo" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingTwo">						
								<div class="panel-body">
									<!-- left -->
									<div class = "col-md-5 col-md-offset-1">
										<!-- 0 -->
										<div class="panel">
											<a role="button" href="https://ase.aseglobal.com/public/downloads/ch/ASE_2017_CSR_CH_Final.pdf" target="_blank">
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">2017 企業社會責任報告書</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
										<!-- 1 -->
										<div class="panel">
											<a role="button" href="https://ase.aseglobal.com/public/downloads/ch/ASE_2016_CSR_CH_Final.pdf" target="_blank">
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">2016 企業社會責任報告書</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
										<!-- 2 -->
										<div class="panel">
											<a role="button" href="https://ase.aseglobal.com/public/downloads/ch/ASE_2015_CSR_CH_Final.pdf" target="_blank">
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">2015 企業社會責任報告書</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
										<!-- 3 -->
										<div class="panel">
											<a role="button" href="https://ase.aseglobal.com/public/downloads/ch/ASE_2014_CSR_CH_Final.pdf" target="_blank">
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">2014 企業社會責任報告書</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
										<!-- 4 -->
										<div class="panel">
											<a role="button" href="https://ase.aseglobal.com/public/downloads/ch/ASE_2013_CSR_CH_Final.pdf" target="_blank">
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">2013 企業社會責任報告書</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
									</div>

									<!-- right -->
									<div class = "col-md-5 col-md-offset-1">
										<!-- 5 -->
										<div class="panel">
											<a role="button" href="https://ase.aseglobal.com/public/downloads/ch/ASE_2012_CSR_CH_A3_Final.pdf" target="_blank">
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">2012 企業社會責任報告書</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
										<!-- 6 -->
										<div class="panel">
											<a role="button" href="https://ase.aseglobal.com/public/downloads/ch/ASE_2011_CSR_Ch_Final.pdf" target="_blank">
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">2011 企業社會責任報告書</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
										<!-- 7 -->
										<div class="panel">
											<a role="button" href="https://ase.aseglobal.com/public/downloads/ch/ASE_2010_CSR_Ch_Final.pdf" target="_blank">
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">2010 企業社會責任報告書</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
										<!-- 8 -->
										<div class="panel">
											<a role="button" href="https://ase.aseglobal.com/public/downloads/ch/ASE_2009_CSR_Ch_Final.pdf" target="_blank">
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">2009 企業社會責任報告書</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--    CSR Report Downloads End    -->

						<!--    Sustainability Document Downloads Start     -->
						<div class="col-md-12 bgnews-list list-base panel">
							<div class="content">
								<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
									<span class="black-text-in-box accordion-center-text">永續治理文件下載</span>
									<div class="circle_button-wrapper">
										<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
									</div>
								</a>
							</div>
							<div id="collapseThree" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingThree">						
								<div class="panel-body">
									<!-- left -->
									<div class = "col-md-5 col-md-offset-1">
										<!-- 0 -->
										<div class="panel">
											<a role="button" href="https://www.aseglobal.com/ch/pdf/2022_aseth_corporatesustainabilityandcitizenshippolicy.pdf" target="_blank">
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">企業永續發展與企業公民政策</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
										<!-- 1 -->
										<div class="panel">
											<a role="button" href="https://ase.aseglobal.com/public/downloads/ch/Code_of_Business_Conduct_Ethics.pdf" target="_blank">
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">商業行為與道德準則</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
										<!-- 2 -->
										<div class="panel">
											<a role="button" href="https://www.aseglobal.com/ch/pdf/human-rights-policy-ch.pdf" target="_blank">
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">人權政策</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
									</div>

									<!-- right -->
									<div class = "col-md-5 col-md-offset-1">
										<!-- 4 -->
										<div class="panel">
											<a role="button" href="https://media-aseholdco.todayir.com/20220304172526197940707_tc.pdf" target="_blank">
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">企業社會責任實務守則</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
										<!-- 5 -->
										<div class="panel">
											<a role="button" href="https://www.aseglobal.com/ch/pdf/2019_aseth_purchasingandsupplychaindevelopmentpolicy.pdf" target="_blank">
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">採購與供應鏈發展政策</h3>
												</div>
											</a>						
											<div class="clearfix"></div>									
										</div>
										<!-- 6 -->
										<div class="panel">
											<a role="button" href="https://www.aseglobal.com/ch/pdf/aseh-supplier-coc-ch.pdf" target="_blank">
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">供應商行為準則</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--    Sustainability Document Downloads End    -->

						<!--    Conflict Minerals Document Downloads Start     -->
						<div class="col-md-12 bgnews-list list-base panel">
							<div class="content">
								<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
									<span class="black-text-in-box accordion-center-text">衝突礦產承諾文件下載</span>
									<div class="circle_button-wrapper">
										<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
									</div>
								</a>
							</div>
							<div id="collapseFive" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingFive">						
								<div class="panel-body">
									<!-- left -->
									<div class = "col-md-5 col-md-offset-1">
										<!-- 1 -->
										<div class="panel">
											<a role="button" href="~/public/downloads/ch/2022_ASETH_ConflictMineralsCompliance_ch.pdf" target="_blank">
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">衝突礦產採購管理政策</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
										<!-- 2 -->
										<div class="panel">
											<a role="button" href="https://ase.aseglobal.com/public/downloads/ch/ASE_SEC_Conflict_Minerals_Filing_for_2017.pdf" target="_blank">
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">2017 美國證券交易委員會(SEC)衝突礦產申報文件</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
										<!-- 3 -->
										<div class="panel">
											<a role="button" href="https://ase.aseglobal.com/public/downloads/ch/ASE_SEC_Conflict_Minerals_Filing_for_2016.pdf" target="_blank">
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">2016 美國證券交易委員會(SEC)衝突礦產申報文件</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
									</div>

									<!-- right -->
									<div class = "col-md-5 col-md-offset-1">
										<!-- 4 -->
										<div class="panel">
											<a role="button" href="https://ase.aseglobal.com/public/downloads/ch/ASE_SEC_Conflict_Minerals_Filing_for_2015.pdf" target="_blank">
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">2015 美國證券交易委員會(SEC)衝突礦產申報文件</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
										<!-- 5 -->
										<div class="panel">
											<a role="button" href="https://ase.aseglobal.com/public/downloads/ch/ASE_SEC_Conflict_Minerals_Filing_for_2014.pdf" target="_blank">
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">2014 美國證券交易委員會(SEC)衝突礦產申報文件</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
										<!-- 6 -->
										<div class="panel">
											<a role="button" href="https://ase.aseglobal.com/public/downloads/ch/ASE_SEC_Conflict_Minerals_Filing_for_2013.pdf" target="_blank">
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">2013 美國證券交易委員會(SEC)衝突礦產申報文件</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--    Conflict Minerals Document Downloads End    -->

						<!--    Video Downloads Start    -->
						<div class="col-md-12 bgnews-list list-base panel">
							<div class="content">
								<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
									<span class="black-text-in-box accordion-center-text">影片下載</span>
									<div class="circle_button-wrapper">
										<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
									</div>
								</a>
							</div>
							<div id="collapseSix" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingSix">						
								<div class="panel-body">
									<!-- left -->
									<div class = "col-md-5 col-md-offset-1">
										<!-- 1 -->
										<div class="panel">
											<a role="button" href="https://youtu.be/QTaPHg7jDuI" target="_blank">
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">日月光集團 30 週年</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
										<!-- 2 -->
										<div class="panel">
											<a role="button" href="https://youtu.be/PHz4UZhSB8E" target="_blank">
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">日月光集團簡介</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
										<!-- 3 -->
										<div class="panel">
											<a role="button" href="https://youtu.be/OfcdPtyKuws" target="_blank">
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">日月光永續發展</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
										<!-- 4 -->
										<div class="panel">
											<a role="button" href="https://youtu.be/0t7WeZXBLZ4" target="_blank">
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">日月光永續策略</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
									</div>

									<!-- right -->
									<div class = "col-md-5 col-md-offset-1">
										<!-- 5 -->
										<div class="panel">
											<a role="button" href="https://youtu.be/cOKeXJInJts" target="_blank">
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">日月光水資源與綠建築</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
										<!-- 6 -->
										<div class="panel">
											<a role="button" href="https://youtu.be/-xHsIxHdf-A" target="_blank">
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">日月光系統級封裝平台</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
										<!-- 7 -->
										<div class="panel">
											<a role="button" href="https://youtu.be/e9K0_7urYX4" target="_blank">
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">日月光智能家居解決方案</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
										<!-- 8 -->
										<div class="panel">
											<a role="button" href="https://youtu.be/TWJjGV7UKHw " target="_blank">
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">日月光智慧城市解決方案</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--    Video Downloads End    -->
					</div>
				</article>
			</div>
		</section>