<div class="ajax-text-and-image white-popup-block">
	<style>
	.ajcol {
		width: 100%; float:left;
	}
	@media all and (max-width:30em) {
		.ajcol { 
			width: 100%;
			float:none;
		}
	}
	</style>
	<div class="ajcol" style="line-height: 1.231;">
		<div style="padding: 20px">
			<h3>ASE Kaohsiung</h3>
		    <p>
		    	<font style="color: #FF0000">Updated Feb 26, 2020</font><br />
				<b>Current Assessment</b><br />
				Effective immediately, the following measures have been updated for ASEKH in light of the rapid rise in the number of COVID-19 infection cases outside of China. This is also in accordance with the directive from Taiwan CDC <a href="https://www.cdc.gov.tw/En" target="_blank">https://www.cdc.gov.tw/En</a>
				<br /><br />

				<b>ASE Response</b><br />
				Employees
				<ol class="nopadding">
					<li>All employees will have their temperature taken at the entrance before being allowed into ASEKH. Employees feeling unwell or with a high temperature are required to take leave and stay home.</li>
					<li>Immediate suspension of all travel (business and personal) to China, Hong Kong, Macau, South Korea, Japan, Singapore, Thailand, Italy, Iran.</li>
					<li>Employees with recent trips to the above mentioned countries are barred from entering ASEKH within 14 days of their arrival into Taiwan. They are to monitor their health closely, wear a face mask, and seek immediate medical attention should they have a fever, and/or any respiratory symptoms.</li>
					<li>Employees are to truthfully disclose any travel history by themselves or by someone he/she is in close contact with, to the above mentioned countries.</li>
					<li>Failure to disclose travel history or fever or respiratory symptoms, are serious offences and the offender will face severe penalties under Taiwan’s law.</li>
					<li>Face-to-face meetings have been reduced and the number of persons within each meeting room is strictly restricted to no more than 10/20 depending on the size of the meeting rooms. Large group meetings are not permitted as of now.</li>
					<li>All public and high traffic areas are routinely cleaned and disinfected.</li>
					<li>Employees are to observe personal hygiene - washing of hands with soap and water, disinfecting with alcohol, reduce face to face meetings, conversations, social distancing, wearing of masks.</li>
				</ol>
				Visitors<br />
				We have also <u>suspended all line tours</u> for customers/visitors till further notice.
				<ol class="nopadding">
					<li>All visitors are required to fill up a travel declaration form and have their temperature taken before entering the facility. Any visitor who register a high temperature will be referred to a medical facility immediately and refused entry into ASE.</li>
					<li>ASE will suspend visitors who have been to China, Hong Kong, Macau, South Korea, Japan, Singapore, Thailand, Italy, Iran recently. Visitors with such travel history will be refused entry into ASE premises for at least 14 days. During which, they are to monitor their health closely, and wear a face mask, and seek immediate medical attention should they have a fever, and/or any respiratory symptoms.</li>
					<li>Failure to disclose travel history or flu/cold/fever symptoms, are serious offences and the offender will face severe penalties under Taiwan’s law.</li>
				</ol>
			</p>
		</div>
	</div>
	<div style="clear:both; line-height: 0;"></div>
</div>