<div class="ajax-text-and-image white-popup-block">
	<style>
	.ajcol {
		width: 100%; float:left;
	}
	@media all and (max-width:30em) {
		.ajcol { 
			width: 100%;
			float:none;
		}
	}
	</style>
	<div class="ajcol" style="line-height: 1.231;">
		<div style="padding: 20px">
			<h3>ASE Korea</h3>
		    <p>
		    	<font style="color: #FF0000">Updated Feb 26, 2020</font><br />
				<b>Current Assessment</b><br />
				Due to the recent rise in number of COVID-19 cases in Korea, the Korean government has declared Daegu city and its adjacent county Cheongdo as “special management zones”. The zones are approximately 350 km from the ASE Korea factory in Paju. The government is also intensifying efforts to block the inflow of infected persons and contain the domestic transmission of the virus.<br />
				To date, ASE Korea has no reported cases of infected/close contact person(s) and all production continues to operate uninterrupted. To protect the ASEKR factory, the factory is suspending all domestic visitors/customer visits and domestic trips by employees until further notice.
				<br /><br />

				<b>ASE Response</b><br />
				A task force coordinating with all departments including GM and top management have been set up. Precautionary measures include:
				<ol class="nopadding">
					<li>With immediate effect, overseas and domestic visitors/customers are not allowed at ASEKR.</li>
					<li>All meetings with overseas/domestic customers & suppliers are to be conducted via conference call or web conferencing.</li>
					<li>All employees are required to have their temperature measured before entering the factory.</li>
					<li>Employees must go through the thermographic imaging scan at the gate and body temp measurement at entrance gate. Any employee who is found to be unwell will be redirected for immediate medical attention and will not be allowed to enter the company.</li>
					<li>All employees are required to wear masks throughout their stay at the factory.</li>
					<li>Employees and resident customers must declare their travel history.  Those who have visited Mainland China, other high risk regions and Korea North Gyeongsang Province in the last 14 days are not allowed to enter the factory.</li>
					<li>For resident customers visiting the Korean branch office and other sub-con offices, it is recommended that they work at their home office instead of going to ASEKR.</li>
					<li>Suspension of all overseas/domestic travel by employees/in-house subcontractors. GM approval and 14-day quarantine period is mandatory if travel is deemed necessary.</li>
					<li>Suppliers or customers with staff stationed at ASE Korea are to co-operate and to strictly comply with the current preventive measures implemented at ASE Korea.</li>
				</ol>
				<b>Prophylactic procedure</b>
				<ul class="nopadding">
					<li>Thoroughly wash your hands with soap and water for at least 20 seconds.</li>
					<li>Clean and disinfect frequently touched surfaces and objects.</li>
					<li>Cover your nose and mouth with a tissue when you cough or sneeze. Throw used tissues in the trash immediately, and then wash your hands carefully.</li>
					<li>Avoid contact with patients with high fever or respiratory symptoms.</li>
					<li>Avoid touching your face, mouth and nose with unwashed hands.</li>
					<li>Do not share cups or other personal items with suspect patients.</li>
					<li>If you have any symptoms, please contact the Health Care Center (0236).</li>
				</ul>
			</p>
		</div>
	</div>
	<div style="clear:both; line-height: 0;"></div>
</div>