<div class="ajax-text-and-image white-popup-block">
	<style>
	.ajcol {
		width: 100%; float:left;
	}
	@media all and (max-width:30em) {
		.ajcol { 
			width: 100%;
			float:none;
		}
	}
	</style>
	<div class="ajcol" style="line-height: 1.231;">
		<div style="padding: 20px">
			<h3>ASE Malaysia</h3>
		    <p>
				<b>Current Assessment</b><br />
				Factory production continues to operate on a full scale during the CNY period.<br />
				All office staff resume to work on 29th Jan 2020 after the CNY celebration.
				<br /><br />

				<b>ASE Response</b><br />
				Company & Employees
				<ol class="nopadding">
					<li>Employees who have returned from Mainland China on or after 29 January 2020 are required to be self-quarantined and not allowed to come in to company premise for 14 days upon arrival in Malaysia.  During the 14-day monitoring period, employee are required to work from home or take leave.</li>
					<li>Employees who have travelled to China in the past 14 days are required to report to Industrial Nurse on their first day of work for a medical screening. Nurse shall advice employee for the next step if any symptoms detected.</li>
					<li>Suspend all meetings and visits from persons travelling to and fro China, replace with conference call if necessary.</li>
					<li>Avoid travelling to areas / countries already affected by the Novel Coronavirus.</li>
					<li>Employees who are not feeling well while working must see Nurse for simple health screening. Nurse shall advice employee for the next step if any symptoms detected.</li>
					<li>Distribute N95 mask to employees dealing with external parties i.e. Security, Warehouse & Shipping.</li>
					<li>No sharing of PPE (Personal Protective Equipment) and must not take used PPE home.</li>
					<li>Daily cleaning and disinfecting of common areas such as cafeteria, meeting rooms, company vehicles and high traffic common areas.</li>
					<li>All employee outdoor activities shall be put on hold until further notice.</li>
					<li>Always maintain good personal hygiene and cleanliness.</li>
				</ol>

				<b>Vendor / Supplier / Customer</b>
				<ol class="nopadding">
					<li>Security shall use forehead temperature to screen their body temperature for all non-employees and disallow them to enter into the plant if shown symptoms of fever and / or cough.</li>
					<li>Vendors / suppliers are required to declare their travel itinerary for the past 14 days. Disallow them to enter into the plant if they have travelled to China.</li>
					<li>Customers are required to declare their travel itinerary for the past 14 days. Security will guide them to see In house Nurse for medical screening if they have travelled to China.</li>
					<li>Avoid visit to or from overseas, replace with telecommuting and teleconferencing.</li>
				</ol>
			</p>
		</div>
	</div>
	<div style="clear:both; line-height: 0;"></div>
</div>