<div class="ajax-text-and-image white-popup-block">
	<style>
	.ajcol {
		width: 100%; float:left;
	}
	@media all and (max-width:30em) {
		.ajcol { 
			width: 100%;
			float:none;
		}
	}
	</style>
	<div class="ajcol" style="line-height: 1.231;">
		<div style="padding: 20px">
			<h3>ASE Singapore Pte Ltd</h3>
		    <p>
		    	<font style="color: #FF0000">Updated Feb 27, 2020</font><br />
				<b>Current Assessment</b><br />
				On Feb 7, Singapore raised the Disease Outbreak Response System Condition (DORSCON) Alert Level from Yellow to Orange in view of the heightened risks associated with an increase in the cases of local infections.<br />
				ASESG has implemented a slew of precautionary measures to protect our employees, customers, vendors and external parties. This is to ensure adequate preparation for business continuity with the guidelines issued by Singapore’s Ministry of Health (MOH) and Ministry of Manpower (MOM).
				<br /><br />

				<b>ASESG Response</b>
				<ol class="nopadding">
					<li>Employees, customer resident engineers and all external parties (visitors, vendors and suppliers) who have returned to Singapore from Mainland China, Cheongdo county and Daegu city (South Korea) are required to self-quarantine for 14 days upon arrival in Singapore.</li>
					<li>All external parties are barred from the company premises until end-May 2020, unless prior approval is granted by the Management. Meetings are to be conducted via tele-conferencing or video-conferencing where possible.</li>
					<li>All external parties must declare their travel history and health condition before they are allowed entry into ASESG. Anyone having flu-like symptoms (eg, cough, runny nose, fever, sore throat) shall be restricted from entering the premises.</li>
					<li>Employees and customer resident engineers returning after the 14-day self-quarantine, or have close contact with suspected case/s or have travelled by air and/or sea must wear a surgical mask in ASESG and are NOT allowed to enter the production area for up to 28 days.</li>
					<li>All non-essential overseas business trips will be deferred until further notice.</li>
					<li>Twice daily temperature screening for all employees and customer resident engineers. Anyone with temperature above 37.5 degree celsius will be redirected for immediate medical attention and not be allowed to enter the company.</li>
					<li>If employees feel unwell or develop flu-like symptoms, they are to report to their Supervisor and seek medical attention promptly.</li>
					<li>Provision of hand sanitizers at strategic areas and surgical masks are available at main staff entrance.</li>
					<li>Increase in daily cleaning and disinfecting frequency in the production areas and common space.</li>
					<li>Promoting education to all Employees on social responsibility and good public and personal hygiene via internal campaign and videos, ensuring a safe and healthy workplace.</li>
				</ol>

				ASESG will continue to monitor the evolving international situation and may take additional and stringent precautionary measures to prevent transmission.
			</p>
		</div>
	</div>
	<div style="clear:both; line-height: 0;"></div>
</div>