<div class="ajax-text-and-image white-popup-block">
	<style>
	.ajcol {
		width: 100%; float:left;
	}
	@media all and (max-width:30em) {
		.ajcol { 
			width: 100%;
			float:none;
		}
	}
	</style>
	<div class="ajcol" style="line-height: 1.231;">
		<div style="padding: 20px">
			<h3>ASE Weihai</h3>
		    <p>
		    	<font style="color: #FF0000">Updated Jan 31, 2020</font><br />
				<b>Current Assessment</b><br />
				On Jan 29, the Shandong provincial department of human resources and social security have issued an order for all businesses to shut down from today (Jan 31) till Feb 9, 2400hr.  ASE Weihai is fully complying with the order and will inform customers individually on the impact.  We will resume to normal operation on Feb 10.<br /><br />

				We strongly support the local authority’s directive to help strengthen the measures to prevent further transmission and guarantee the health and safety of the community, through reducing large gathering of people.
				<br /><br />

				<b>ASE Response</b>
				<ol class="nopadding">
					<li>4 times daily cleaning and disinfecting of communal areas - cafeteria, changing rooms, company transport. 2 times daily cleaning and disinfecting of staff dormitories.</li>
					<li>Daily temperature monitoring of all employees and visitors. Mandatory wearing of face masks. Face masks will be provided if in need.</li>
					<li>Urging all employees to remain vigilant and adopt good personal hygiene practices.
						<ul class="nopadding">
							<li>Frequent hand washing with soap (before handling food or eating, after going to toilet, or when hands are dirtied by respiratory secretions after coughing or sneezing).</li>
							<li>Be vigilant and wear a mask when outdoors or in public areas to prevent the transmission of viruses, avoid crowded places and dispose of used masks properly.</li>
							<li>Observe food hygiene including proper handling of food, cooking food thoroughly and avoiding consumption of raw food.</li>
							<li>Strengthen personal immunity through exercising, proper diet and ample rest.</li>
							<li>Cover your mouth with a tissue paper when coughing or sneezing, and dispose the soiled tissue paper in the rubbish bin immediately; and</li>
							<li>Seek medical attention immediately if you feel unwell.</li>
						</ul>
					</li>
				</ol>
			</p>
		</div>
	</div>
	<div style="clear:both; line-height: 0;"></div>
</div>