<div class="ajax-text-and-image white-popup-block">
	<style>
	.ajcol {
		width: 100%; float:left;
	}
	@media all and (max-width:30em) {
		.ajcol { 
			width: 100%;
			float:none;
		}
	}
	</style>
	<div class="ajcol" style="line-height: 1.231;">
		<div style="padding: 20px">
			<h3>ASE Shanghai - Material</h3>
		    <p>
				<b>Current Assessment</b><br />
				Factory production continues to operate during the CNY period.<br />
				Office staff will return to work on Feb 3<font style="color: #aaa">*</font> following the directive from China’s State Council on the extension of the Chinese New Year holiday to reduce the spread of nCoV.<br />
				<em style="color: #aaa">* Shanghai authorities have advised all businesses to only resume operations on Feb 10, assuming they were already shut down for the CNY period. ASE Shanghai, will continue to operate with existing staff strength and resume full operation on Feb 10.</em><br /><br />

				Out of town employees - A small portion of employees from Hubei (where lockdown measures have been imposed across the province) and some employees in other provinces where public transportation have been affected, will face delays in returning to work. We continue to maintain close contact with them to understand the situation and assist where necessary.<br /><br />

				<b>ASE Response</b>
				<ol class="nopadding">
					<li>Daily temperature monitoring of all employees and visitors before entering the facility, as well as employees, their family members and visitors at the staff housing estate.</li>
					<li>2 times daily cleaning and disinfecting of cafeteria, changing rooms, meeting rooms, elevators, company transport and other high traffic communal areas.</li>
					<li>Factory wide posters and videos promoting vigilance and the adoption of good personal hygiene practices and healthy lifestyle including moderate exercising, proper diet and rest.</li>
					<li>Mandatory face masks when taking company and public transportation, and at meeting rooms.</li>
					<li>A task force has been established to handle high risk cases. Employees are to avoid non-essential travel to Hubei. The task force will track and record employees (as well as family members) who have been to, or passed by Hubei and follow the respective procedures including restricting entry into the facility, home quarantine and medical attention, to prevent any potential nCoV transmission.<br />
					Tighter screening measures including temperature monitoring of employees and family members, and visitors and restricting access to one entrance into/out of the staff housing estate have also been implemented.</li>
					<li>During this period, the company encourages employees to reduce the necessity of face-to-face meetings, and accommodate remote working.</li>
				</ol>
			</p>
		</div>
	</div>
	<div style="clear:both; line-height: 0;"></div>
</div>