<div class="ajax-text-and-image white-popup-block">
	<style>
	.ajcol {
		width: 100%; float:left;
	}
	@media all and (max-width:30em) {
		.ajcol { 
			width: 100%;
			float:none;
		}
	}
	</style>
	<div class="ajcol" style="line-height: 1.231;">
		<div style="padding: 20px">
			<h3>ASE Chungli</h3>
		    <p>
		    	<font style="color: #FF0000">Updated Feb 18, 2020</font><br />
				<b>Current Assessment</b><br />
				ASE Chungli has resumed full operation.<br />
				Our precautionary measures have been further tightened to ensure the health and safety of all employees and visitors (including suppliers and customers). We continue to monitor the situation closely and will adopt guidelines and regulations stipulated by the CDC. For more information, please visit <a href="https://www.cdc.gov.tw/En" target="_blank">https://www.cdc.gov.tw/En</a>.
				<br /><br />

				<b>ASE Response</b><br /><br />

				Employees
				<ol class="nopadding">
					<li>All employees with recent travel history to China, Hong Kong and Macau, and/or those employees with close contact with persons from these regions, are NOT allowed into the ASE premises for at least 14 days from their return/contact. These employees are strongly advised to wear masks, avoid public places and transportation, clean and disinfect themselves regularly and report to designated clinics immediately if they feel unwell.</li>
					<li>Employees who exhibit symptoms such as high temperature, coughing, shortness of breath or generally feeling unwell, are to take medical leave to rest and monitor their symptoms. They should also be wearing a mask.</li>
					<li>All employees with recent travel history to China, Hong Kong, Macau, Japan, Singapore, Thailand and/or those employees with close contact with persons who visited these regions, are to voluntarily disclose their travel to their supervisors as well as the company clinic for close monitoring. Such employees will be required to wear masks and have their temperature taken twice daily.</li>
					<li>Avoid business trips to China, Hong Kong, Macau, Japan, Singapore, Thailand and other high risk regions. The company encourages meetings via conference calls or web conferencing.</li>
					<li>Employees should maintain vigilance and take steps to protect themselves from infection, such as avoiding crowded places and contact with returnees from outbreak zones such as Wuhan.</li>
					<li>Employees with recent travel history to China, Hong Kong, Macau, Japan, Singapore, Thailand and other high risk regions, who exhibit symptoms such as high temperature, coughing, shortness of breath or generally feeling unwell, are to seek immediate medical attention without delay. Failure to disclose travel history or fever/cough/respiratory symptoms are serious offences and the offender will face severe penalties under Taiwan’s law.</li>
				</ol>
				Visitors (including Suppliers and Customers)
				<ol class="nopadding">
					<li>All visitors are strongly discouraged from visiting the factory, but conduct meetings via conference calls/web conferencing.</li>
					<li>We require all visitors to complete a health/travel declaration form, and have their temperature measured before entry is permitted. Entry will be refused to anyone with temperature of 38 deg C and above.</li>
					<li>All visitors should be equipped with their own masks during their stay at the ASECL premises.</li>
					<li>All factory line tours will be suspended until further notice.</li>
					<li>All visitors who had recent travel history to Mainland China, Macau, Hong Kong (including transit), Singapore, Japan, Thailand and other high risk countries, are to self-isolate for at least 14 days from their initial return, before visiting ASECL.</li>
					<li>Suppliers or customers with staff stationed at ASE are to co-operate and to strictly comply with the current preventive measures implemented at ASE Chungli.</li>
				</ol>
			</p>
		</div>
	</div>
	<div style="clear:both; line-height: 0;"></div>
</div>