<div class="ajax-text-and-image white-popup-block">
	<style>
	.ajcol {
		width: 100%; float:left;
	}
	@media all and (max-width:30em) {
		.ajcol { 
			width: 100%;
			float:none;
		}
	}
	</style>
	<div class="ajcol" style="line-height: 1.231;">
		<div style="padding: 20px">
			<h3>ASE Shanghai - A&T & ASE Shanghai - Material</h3>
		    <p>
		    	<font style="color: #FF0000">Updated Feb 27, 2020</font><br />
				<b>Current Assessment</b><br />
				Operation at ASE Shanghai is gradually stabilizing and we continue to report to our key customers on a daily/regular basis. City-wide, the Shanghai government continues to encourage residents to minimize communal activities and to stay home wherever possible. Resumption of work is conducted in a controlled manner.<br /><br />

				<b>Shipment.</b> Shanghai Customs has resumed normal operations.<br /><br />

				<b>ASE Response</b><br />
				<b>Screening and movement</b> of all personnel has been tightened and strictly controlled.
				<ol class="nopadding">
					<li>Daily temperature monitoring of all employees and visitors before entering the facility, as well as employees, their family members and visitors at the staff housing estate.<br />
					Currently 2 screenings per day while at the facility.</li>
					<li>2 times daily cleaning and disinfecting of cafeteria, changing rooms, meeting rooms, elevators, company transport and other high traffic communal areas.</li>
					<li>Factory wide posters and videos promoting vigilance and the adoption of good personal hygiene practices and healthy lifestyle including moderate exercising, proper diet and rest.</li>
					<li>Mandatory face masks when taking company and public transportation, and at meeting rooms. Wearing medical grade masks and disinfecting of hands and clothing, are strictly enforced for personnel before entering the ASE facility.</li>
					<li>A task force has been established to handle high risk cases. Employees are to avoid non-essential travel to Hubei. The task force continues to track and record employees (as well as family members) from outside of Shanghai and follow the respective procedures including restricting entry into the facility, home quarantine and medical attention, to prevent any potential COVID-19 transmission.<br />
					Tighter screening measures including temperature monitoring of employees and family members, and visitors and restricting access to one entrance into/out of the staff housing estate have also been implemented.</li>
					<li>During this period, the company has strictly restricted congregation of people in the ASE facility and staff housing estate, and eliminated large group face-to-face meetings, replacing them with teleconferencing/online meetings. All customer visits and business trips have also been suspended.</li>
					<li>During this period, the company has strictly restricted congregation of people in the ASE facility and staff housing estate, and eliminated large group face-to-face meetings, replacing them with teleconferencing/online meetings.</li>
				</ol>
			</p>
		</div>
	</div>
	<div style="clear:both; line-height: 0;"></div>
</div>