<div class="ajax-text-and-image white-popup-block">
	<style>
	.ajcol {
		width: 100%; float:left;
	}
	@media all and (max-width:30em) {
		.ajcol { 
			width: 100%;
			float:none;
		}
	}
	</style>
	<div class="ajcol" style="line-height: 1.231;">
		<div style="padding: 20px">
			<h3>
				ASE Kunshan & ASE Suzhou
			</h3>
		    <p>
				<b>Current Assessment</b><br />
				Factory production continues to operate during the CNY period on a reduced scale - approximately 70-80% of the work force.<br />
				Most staff will only return to work on Feb 3, following the directive from China’s State Council on the extension of the Chinese New Year holiday to reduce the spread of nCoV. Suzhou authorities have further stipulated that businesses delay re-opening and work force return till Feb 10, if they have closed for the CNY holidays. Therefore, we expect return to full operation only after Feb 10.
				<br /><br />

				<b>ASE Response</b><br />
				A task force coordinating with all departments as well as local/state government authorities have been set up. Precautionary measures include:
				<ol class="nopadding">
					<li>Measure temperature of all personnel (employees/customers/vendors and visitors) entering campus (at the entrance of the campus, buildings, and shop floors) before granting permission.</li>
					<li>It is compulsory for the personnel entering the campuses to wear face masks throughout the stay. Those who do not wear masks are forbidden to stay in the premises.</li>
					<li>Public areas of the campuses shall be sanitized at least once per day.</li>
					<li>Set up inductive water-free hand washer with 75% alcohol in focus areas of the campuses and instant hand sanitizers at the entrance of all the other areas.</li>
					<li>Personnel from or through Hubei are forbidden to enter the plant (such employees will be quarantined for 14 days and be free from any infection before being allowed into the campuses again)</li>
					<li>Daily management war-room meeting is ongoing to monitor the situations, take control measures, and provide needed reports to the ASE group management and the government authorities.</li>
				</ol>
			</p>
		</div>
	</div>
	<div style="clear:both; line-height: 0;"></div>
</div>