<div class="ajax-text-and-image white-popup-block">
	<style>
	.ajcol {
		width: 100%; float:left;
	}
	@media all and (max-width:30em) {
		.ajcol { 
			width: 100%;
			float:none;
		}
	}
	</style>
	<div class="ajcol" style="line-height: 1.231;">
		<div style="padding: 20px">
			<h3>ASE Wuxi</h3>
		    <p>
		    	<font style="color: #FF0000">Updated Feb 3, 2020</font><br />
				<b>Current Assessment</b><br />
				ASE Wuxi will only restart operations on Feb 10, in accordance with the directive issued by the local authorities. ASE Wuxi will record the details of all returning staff from outside Wuxi including their recent travel history, health condition etc for submission to the local authorities. These are part of the measures drawn up to track and prevent the spread of nCoV.
				<br /><br />

				<b>ASE Response</b>
				<ul class="nopadding">
					<li>A task force has been established to manage the current nCoV crisis. The task force will also communicate with the local authorities, and ASE’s regional sites to co-ordinate containment efforts.</li>
					<li>Mandatory temperature screening of all employees and visitors on site. Any employee or visitor recording a high temperature will not be allowed to enter the facility and will be redirected for immediate medical attention.</li>
					<li>We have currently suspended all meetings and visits from persons travelling from Hubei province.</li>
					<li>Daily cleaning and disinfecting of common areas such as cafeteria, meeting rooms, company vehicles and high traffic common areas.</li>
					<li>Mandatory wearing of face masks. Masks will be provided to all employees. We are sourcing masks from our other regions to keep up with the demand.</li>
					<li>Encourage employees to adopt good personal hygiene and strengthen their immunity through exercising, proper diet and rest.</li>
					<li>We are closely tracking all individual employees on their travel during this holiday season and will strictly implement preventive measures accordingly (including quarantine, extended leave, immediate medical treatment). To date, we do not have any employees returning from or passing by Hubei province. All our employees are within the Wuxi proximity.</li>
				</ul>
				<b>Other comments</b><br />
				ASE Wuxi is in close communication with all customers and will update them on a regular basis to ensure minimal disruption and business continuity.
			</p>
		</div>
	</div>
	<div style="clear:both; line-height: 0;"></div>
</div>