﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
    ViewBag.Title = "Stress and Thermal Lab";
    ViewBag.enURL = "/en/lab/package_design/lab_stress_and_thermal";
    ViewBag.zhURL = "/ch/lab/package_design/lab_stress_and_thermal";
    ViewBag.webSiteDesc = "ASE provides package mechanical stress, thermal dissipation efficiency and mold flow phenomena analysis by numerical simulation report to customers for characterization evaluation.";
    ViewBag.webSiteOgImage = "https://ase.aseglobal.com/pic/public/frontend/images/lab/pic_stress-thermal-lab-11.jpg";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-lab">
		<h1 class="page-title title-large">Stress and Thermal Lab</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item"><span itemprop="name">Others</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/lab"><span itemprop="name">Laboratory Services</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/lab/package_design/lab_stress_and_thermal"><span itemprop="name">Stress and Thermal</span></a>
					<meta itemprop="position" content="3" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->
	<!-- Letter from the Chairman -->
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">Stress and Thermal Lab</h3>
				<h3>Modeling and Simulation</h3>
            </article>
            <div class="col-xs-12 col-sm-8">
				<p>Stress-Thermal Laboratory provides package mechanical stress, thermal dissipation efficiency and mold flow phenomena analysis by numerical simulation report to customers for characterization evaluation. The analyses include package level such as die crack, delamination, and optimal design for low stress and high reliability; board-level stress analyses to predict the fatigue life of solder joints, like temperature-cycling-test (TCT), drop test, bending test, and other reliability tests. Besides, dissipating the heat effectively from the chip is a major challenge for engineers. ASE also provides services to conduct component-level and system-level thermal analyses. The modeling and simulation service include:</p>
                <ul class="pro-test">
                    <li>Thermal stress analysis (warpage, die stress, delamination)</li>
                    <li>System/board level analysis (TCT, drop, bending)</li>
                    <li>Wirebonding/wire looping simulation</li>
                    <li>Customized heat sink effects</li>
                    <li>Preliminary thermal studies for MCM/SiP</li>
                    <li>Hot spots impact evaluations</li>
                    <li>Transient analyses for power pulse impacts</li>
                    <li>Compact thermal models (CTMs) for system-level simulations</li>
                    <li>Simulations for packages in sockets (burn-in/HTOL test conditions)</li>
                    <li>Mold flow prediction</li>
                </ul>
                <p class="mb-40">Go to <a href="https://eservice.aseglobal.com/eService/" title="" target="_blank">ASE eService</a> to request electrical modeling and simulation service.</p>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="col-xs-12 picture-padding-2">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/lab/pic_stress-thermal-lab-1.jpg">
                </div>
                <div class="col-xs-12 picture-padding-2">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/lab/pic_stress-thermal-lab-11.jpg">
                </div>
            </div>
            <p>&nbsp;</p>
            <article class="col-xs-12">
				<h3>Measurement</h3>
            </article>
            <div class="col-xs-12 col-sm-8">
				<p>Stress-Thermal Laboratory provides mechanical and thermal measurement services to verify the package and system stress and thermal dissipation performance after the package designed and manufactured. In additional to package level measurements, we also support customers on chip level or board level measurements. The measurement services include:</p>

				<ul class="pro-test">
					<li>Die strength flexural measurement</li>
					<li>Die pull measurement (evaluate UBM/bump structural integrity)</li>
					<li>Wafer/panel level warpage measurement</li>
                    <li>IC static force compression test</li>
                    <li>Stud pull interface strength test</li>
                    <li>Solder ball HBP (hot bump pull) strength test</li>
                    <li>Material dog bone tensile measurement</li>
                    <li>JEDEC/customized board level reliability measurement (TCT, THD, drop, shock, bending, vibration, twist)</li>
                    <li>Board/System level free fall measurement</li>
				</ul>

				<p>Besides, thermal measurements include the measurements for package thermal parameters and material thermal conductivities:</p>

				<ul class="pro-test">
					<li>θJA (junction-to-ambient thermal resistance)</li>
					<li>θJC (junction-to-case thermal resistance)</li>
					<li>θJB (junction-to-board thermal resistance)</li>
					<li>ΨJT (junction-to-top thermal characterization parameter)</li>
					<li>ΨJB (junction-to-board thermal characterization parameter)</li>
					<li>Material thermal conductivity measurements</li>
                    <li>Wind tunnel testing (Integrated circuit thermal test with forced convection)</li>
                    <li>IC hot spot analysis with thermal image</li>
				</ul>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="col-xs-12 picture-padding-2">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/lab/lab_stress02.jpg" alt="">
                </div>
                <div class="col-xs-6 picture-padding-2">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/lab/lab_stress03-1.jpg" alt="">
                </div>
                <div class="col-xs-6 picture-padding-2">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/lab/lab_stress03-2.jpg" alt="">
                </div>
            </div>
            <p>&nbsp;</p>
            <article class="col-xs-12">
				<div class="col-xs-12 nopadding">
					<h3>Package/System Design and Analysis</h3>
					<p>Base on long term experience and large database of package board level reliability, simulation, measurement and co-design projects with customers, ASE Stress-Thermal Laboratory developed package and system design capabilities to provide customers the pre-design solution. Package/System design and analysis service includes:</p>
					<ul class="pro-test">
						<li>Warpage &amp; component stress prediction</li>
						<li>Packaging material selection &amp; structure design</li>
						<li>Package/board level reliability analysis</li>
						<li>Thermal optimal design for packages</li>
						<li>Customized co-design/simulation (system analysis and co-design)</li>
					</ul>
				</div><br>
		
				<br>
			</article>

		</div>
	</section>
    
    <section class="inside-article">
        <div class="content-lg row csr">
            <div class=" col-md-12 tech-cont-link">
            <a class="phone" href="/en/about/plants_offices"><span class="glyphicon glyphicon-earphone"></span>  Contact for enquiries </a>
            </div>
        </div>
        <p>&nbsp;</p>
    </section>

    <section class="csr-bg">
        <div class="content-lg row">
            <div class="col-xs-12 nopadding">
                <div class="lab-2022 col-sm-3">
                    <div class="lab-btn-2022">
                        <img src="/pic/public/frontend/images/lab/bt_electrical-lab.jpg" alt="Electrical Lab">
                        <a class="btn-2022" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Lab", action = "Package_Design", param1 = "lab_electrical" })">
                            Electrical Lab
                        </a>
                    </div>
                </div>

                <div class="lab-2022 col-sm-3">
                    <div class="lab-btn-2022">
                        <img src="/pic/public/frontend/images/lab/bt_material-lab.jpg" alt="Material Lab">
                        <a class="btn-2022" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Lab", action = "Package_Design", param1 = "lab_material" })">
                            Material Lab
                        </a>
                    </div>
                </div>

                <div class="lab-2022 col-sm-3">
                    <div class="lab-btn-2022">
                        <img src="/pic/public/frontend/images/lab/bt_stress-thermal-lab.jpg" alt="Stress & Thermal Lab">
                        <a class="btn-2022" href="@Url.RouteUrl(new { controller = "Lab", action = "Package_Design", lang = ViewBag.language.lang, param1 = "lab_stress_and_thermal" })">
                            Stress & Thermal Lab
                        </a>
                    </div>
                </div>

                <div class="lab-2022 col-sm-3">
                    <div class="lab-btn-2022">
                        <img src="/pic/public/frontend/images/lab/bt_chemical-green-technology-lab.jpg" alt="Chemical & Green Technology Lab">
                        <a class="btn-2022" href="@Url.RouteUrl(new { controller = "Lab", action = "Package_Design", lang = ViewBag.language.lang, param1 = "lab_chemical_and_green" })">
                            Chemical & Green<br />Technology Lab
                        </a>
                    </div>
                </div>

                <div class="lab-2022 col-sm-1 hide-in-small" style="width:4%;">
                    <p>&nbsp;</p>
                </div>
                
                <div class="lab-2022 col-sm-3 col-sm-offset-1">
                    <div class="lab-btn-2022">
                        <img src="/pic/public/frontend/images/lab/bt_failure-analysis-lab.jpg" alt="Failure Analysis Lab">
                        <a class="btn-2022" href="@Url.RouteUrl(new { controller = "Lab", action = "Package_Design", lang = ViewBag.language.lang, param1 = "lab_failure_analysis" })">
                            Failure Analysis Lab
                        </a>
                    </div>
                </div>
                
                <div class="lab-2022 col-sm-3">
                    <div class="lab-btn-2022">
                        <img src="/pic/public/frontend/images/lab/bt_optical-lab.jpg" alt="Optical Lab">
                        <a class="btn-2022" href="@Url.RouteUrl(new { controller = "Lab", action = "Package_Design", lang = ViewBag.language.lang, param1 = "lab_optical" })">
                            Optical Lab
                        </a>
                    </div>
                </div>

                <div class="lab-2022 col-sm-3">
                    <div class="lab-btn-2022">
                        <img src="/pic/public/frontend/images/lab/bt_acoustic-lab.jpg" alt="Acoustic Lab">
                        <a class="btn-2022"href="~/en/lab/acoustic-lab">
                            Acoustic Lab
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <style>
        .lab-2022 {
            overflow: hidden;
            padding: 10px;
        }
        .lab-btn-2022 {
            position: relative;
            overflow: hidden;
        }

        .lab-btn-2022 img {
            width: 100%;
            -webkit-filter: brightness(70%);
            filter: brightness(70%);
            transition: all 500ms;
            -webkit-transition: all 500ms;
        }

        .lab-btn-2022 .btn-2022 {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            color: white;
            font-size: 22px;
            line-height: 22px;
            text-align: center;
            padding: 0;
            margin: 0;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .lab-btn-2022 a:hover {
            text-decoration: none;
        }

        .lab-2022:hover img {
            transform: scale(1.2);
            overflow: hidden;
        }
    </style>
