﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
    ViewBag.Title = "Electrical Lab";
    ViewBag.enURL = "/en/lab/package_design/lab_electrical";
    ViewBag.zhURL = "/ch/lab/package_design/lab_electrical";
    ViewBag.webSiteDesc = "We provide IC package design optimization, system-level SI/PI analysis, high speed/ frequency performance verification, electrical failure analysis, and both chip/system-level antenna test of mmWave antenna-in-package (AiP).";
    ViewBag.webSiteOgImage = "https://ase.aseglobal.com/pic/public/frontend/images/lab/pic_electrical-lab-42.jpg";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-lab">
		<h1 class="page-title title-large">Electrical Lab</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <a itemprop="item"><span itemprop="name">Others</span></a>
                    <meta itemprop="position" content="1" />
                </li>
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <a itemprop="item" href="/en/lab"><span itemprop="name">Laboratory Services</span></a>
                    <meta itemprop="position" content="2" />
                </li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/lab/package_design/lab_electrical"><span itemprop="name">Electrical Lab</span></a>
					<meta itemprop="position" content="3" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->
	<!-- Letter from the Chairman -->
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">Electrical Lab</h3>
                <div class="col-sm-4 nopadding">
    				<p style="margin-right:10px;">
                        The ASE Electrical Laboratory (E-Lab) is dedicated to providing IC package electrical characteristics design, analysis and characterization in terms of simulation and measurement techniques. ASE E-Lab works closely with customers for the IC package design optimization, system-level SI/PI analysis, high speed/ frequency performance verification, and turnkey passive filter solutions. ASE E-Lab also provides customers the advanced and accuracy measurement service for the package characterization, electrical failure analysis, and both chip and system level mmWave antenna-in-package (AiP).
                    </p>
                </div>
				<div class="col-sm-8 nopadding">
					<div class="col-xs-12 nopadding">
                        <img class="col-xs-12 col-sm-7 picture-padding-2 mt-32A nopadding" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/lab/pic_electrical-lab-1.jpg" alt="">
                        <img class="col-xs-12 col-sm-5 picture-padding-2 mt-32A nopadding" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/lab/pic_electrical-lab-2.jpg" alt="">
                    </div>
				</div>
                <p>&nbsp;</p>
            </article>
        </div>
    </section>
    <section class="inside-article">
        <div class="content-lg row">
            <article class="col-xs-12">
                <div class="col-xs-4 col-sm-4 col-md-4 bt_DSS technology-tab-active">Design & Simulation Service</div>
                <div class="col-xs-4 col-sm-4 col-md-4 bt_MS technology-tab-inactive">Measurement Service</div>
                <div class="col-xs-4 col-sm-4 col-md-4 bt_AiPS technology-tab-inactive">Antenna-in-Package Service</div>
                <div class="clearfix"></div>
                <div class="col-xs-12 csr-bg DSS">
                    <div class="col-sm-6">
                        <div class="technology-box">
                            <h4><strong>Design Service</strong></h4>
                            <ul class="nopadding">
                                <li>Impedance</li>
                                <li>Package Design Optimization (DDR, SerDes, Power, ….)</li>
                                <li>RF Filter Design and Characterization</li>
                                <li>Package EMI Shielding Design (Conformal and Compartment)</li>
                            </ul>
                            <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 nopadding">
                                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/lab/pic_electrical-lab-31.jpg?1" class="img-responsive center-block">
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="technology-box">
                            <h4><strong>Modeling Service</strong></h4>
                            <ul class="nopadding">
                                <li>Package R/L/C Modeling</li>
                                <li>S-parameter Modeling</li>
                                <li>Package IBIS/SPICE/S-param. Model Export</li>
                            </ul>
                            <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 nopadding">
                                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/lab/pic_electrical-lab-32.jpg?1" class="img-responsive center-block">
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="technology-box">
                            <h4><strong>SI/PI Service</strong></h4>
                            <ul class="col-xs-12 col-sm-3 nopadding">
                                <li class="col-xs-12 nopadding"><strong>Signal Integrity Analysis</strong>
                                    <ol class="nopadding">
                                        <li>TDR Simulation</li>
                                        <li>Eye Diagram</li>
                                        <li>Crosstalk/Jitter/Timing Analysis</li>
                                    </ol>
                                </li>
                                <li class="col-xs-12 nopadding"><strong>Power Integrity Analysis</strong>
                                    <ol class="nopadding">
                                        <li>DCIR Drop</li>
                                        <li>PDN</li>
                                        <li>De-Cap Optimization</li>
                                        <li>Power Noise</li>
                                    </ol>
                                </li>
                            </ul>
                            <div class="col-xs-12 col-sm-offset-0 col-sm-8 col-sm-offset-1 nopadding">
                                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/lab/pic_electrical-lab-33.jpg?1" class="img-responsive center-block">
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="col-xs-12 csr-bg MS">
                    <div class="col-sm-4">
                        <div class="technology-box">
                            <h4><strong>S-parameter</strong></h4>
                            <ul class="nopadding">
                                <li>Up to 170 GHz, Double-side S-parameter Probe Station</li>
                                <li>Up to 260GHz, Single-side S-parameter Probe Station</li>
                                <li>12” Wafer and Panel-level Size S-parameter Probe Station</li>
                            </ul>
                            <div class="col-xs-6 col-xs-offset-3 nopadding">
                                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/lab/pic_electrical-lab-41.jpg" class="img-responsive center-block">
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="technology-box">
                            <h4><strong>Electrical FA</strong></h4>
                            <ul class="nopadding">
                                <li>TDR Impedance</li>
                                <li>4-Wire DCR (Open/Short)</li>
                                <li style="list-style-type: none;" class="hide-in-small">&nbsp;</li>
                                <li style="list-style-type: none;" class="hide-in-small">&nbsp;</li>
                                <li style="list-style-type: none;" class="hide-in-small">&nbsp;</li>
                                <li style="list-style-type: none;" class="hide-in-small">&nbsp;</li>
                            </ul>
                            <div class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0 nopadding">
                                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/lab/pic_electrical-lab-42.jpg?2" class="img-responsive center-block">
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="technology-box">
                            <h4><strong>Parasitic</strong></h4>
                            <ul class="nopadding">
                                <li>Component level</li>
                                <li>On-Chip Capacitor</li>
                                <li>RF Inductor</li>
                                <li style="list-style-type: none;" class="hide-in-small">&nbsp;</li>
                                <li style="list-style-type: none;" class="hide-in-small">&nbsp;</li>
                                <li style="list-style-type: none;" class="hide-in-small">&nbsp;</li>
                            </ul>
                            <div class="col-xs-6 col-xs-offset-3 nopadding">
                                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/lab/pic_electrical-lab-43.jpg" class="img-responsive center-block">
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="col-xs-12 csr-bg AiPS">
                    <div class="col-sm-6">
                        <div class="technology-box">
                            <h4><strong>Spherical Chamber</strong></h4>
                            <ul class="nopadding">
                                <li>Chip/Package Level Passive Test with A Probing Feed</li>
                                <li>Spherical & Direct Far Field</li>
                                <li>Frequency: 18-110GHz</li>
                                <li>Antenna Gain, 2D Pattern</li>
                                <li style="list-style-type: none;" class="hide-in-small">&nbsp;</li>
                            </ul>
                            <div class="col-xs-12 nopadding">
                                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/lab/pic_electrical-lab-52.jpg" class="img-responsive center-block">
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="technology-box">
                            <h4><strong>Compact Antenna Test Range (CATR) Chamber</strong></h4>
                            <ul class="nopadding">
                                <li>System Level Active Test with A Connector Feed</li>
                                <li>Quiet Zone: 30x30 cm²</li>
                                <li>Frequency: 18-110GHz</li>
                                <li>Antenna Gain, EIRP, 3D Pattern</li>
                                <li>Beamfroming Test</li>
                            </ul>
                            <div class="col-xs-12 nopadding">
                                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/lab/pic_electrical-lab-51.jpg" class="img-responsive center-block">
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <p>&nbsp;</p>
            </article>
        </div>
    </section>

    <!--
    <section class="inside-article">
        <div class="content-lg row">
            <article class="col-xs-12">
                <p>&nbsp;</p>
                <h4 class="sub-title">Characterization Services Summary</h4>
                <div class="col-xs-4 col-sm-4 col-md-4 bt_DS technology-tab-active">Design & Simulation Services</div>
                <div class="col-xs-4 col-sm-4 col-md-4 bt_M technology-tab-inactive">Measurement Services</div>
                <div class="col-xs-4 col-sm-4 col-md-4 bt_AiP technology-tab-inactive">Antenna in Package Services</div>
                <div class="clearfix"></div>
                
                <div class="col-xs-12 nopadding DS">
                    <div style="padding: 20px; background-color: #eee;">
                        <ul class="nopadding" style="vertical-align: top;">
                            <li class="col-xs-12 col-sm-4 nopadding">Impedance Design</li>
                            <li class="col-xs-12 col-sm-4 nopadding">RF Filter Design and Characterization</li>
                            <li class="col-xs-12 col-sm-4 nopadding">Package Design Optimization (DDR, SerDes, Power, ….)</li>
                            <li class="col-xs-12 col-sm-4 nopadding">Package R/L/C Modeling</li>
                            <li class="col-xs-12 col-sm-4 nopadding">S-parameter Modeling</li>
                            <li class="col-xs-12 col-sm-4 nopadding">Package IBIS/SPICE/S-param. Model</li>
                            <li class="col-xs-12 col-sm-4 nopadding">Package EMI Shielding Design
                                <ol class="nopadding">
                                    <li>Conformal</li>
                                    <li>Compartment</li>
                                </ol>
                            </li>
                            <li class="col-xs-12 col-sm-4 nopadding">Signal Integrity Analysis
                                <ol class="nopadding">
                                    <li>TDR Simulation</li>
                                    <li>Eye Diagram</li>
                                    <li>Crosstalk/Jitter/Timing Analysis</li>
                                </ol>
                            </li>
                            <li class="col-xs-12 col-sm-4 nopadding">Power Integrity Analysis
                                <ol class="nopadding">
                                    <li>DCIR Drop</li>
                                    <li>PDN</li>
                                    <li>De-Cap Optimization</li>
                                    <li>Power Noise</li>
                                </ol>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>

                <div class="col-xs-12 nopadding M">
                    <div style="background-color: #EEEEEE; padding: 20px;">
                        <ul class="nopadding">
                            <li class="col-xs-12 col-sm-4 nopadding">Up to 170 GHz, Double-side S-parameter Probe Station</li>
                            <li class="col-xs-12 col-sm-4 nopadding">Up to 260GHz, Single-side S-parameter Probe Station</li>
                            <li class="col-xs-12 col-sm-4 nopadding">12” Wafer and Panel-level Size S-parameter Probe Station</li>
                            <li class="col-xs-12 col-sm-4 nopadding">TDR Impedance Measurement</li>
                            <li class="col-xs-12 col-sm-4 nopadding">4-wire DCR Measurement</li>
                            <li class="col-xs-12 col-sm-4 nopadding">LCR Meter</li>
                            <li class="col-xs-12 col-sm-4 nopadding">On-Chip Capacitor Measurement</li>
                            <li class="col-xs-12 col-sm-4 nopadding">RF Inductor Measurement</li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>

                <div class="col-xs-12 nopadding AiP">
                    <div style="background-color: #EEEEEE; padding: 20px;">
                        <ul class="nopadding">
                            <li class="col-xs-12 col-sm-4 nopadding">Spherical Chamber for Antenna Passive Testing:
                                <ol class="nopadding">
                                    <li>Chip/Package Level Passive Test with A Probing Feed</li>
                                    <li>Spherical & Direct Far Field</li>
                                    <li>Frequency: 18-110GHz</li>
                                    <li>Antenna Gain, 2D Pattern</li>
                                </ol>
                            </li>
                            <li class="col-xs-12 col-sm-4 nopadding">Compact Antenna Test Range (CATR) Chamber:
                                <ol class="nopadding">
                                    <li>System Level Active Test with A Connector Feed</li>
                                    <li>Quiet Zone: 30x30 cm²</li>
                                    <li>Frequency: 18-110GHz</li>
                                    <li>Antenna Gain, EIRP, 3D Pattern</li>
                                    <li>Beamfroming Test</li>
                                </ol>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <p>&nbsp;</p>
            </article>
        </div>
    </section>
    -->
    
    <section class="inside-article">
        <div class="content-lg row csr">
            <div class=" col-md-12 tech-cont-link">
            <a class="phone" href="/en/about/plants_offices"><span class="glyphicon glyphicon-earphone"></span>  Contact for enquiries </a>
            </div>
        </div>
        <p>&nbsp;</p>
    </section>

    <section class="csr-bg">
        <div class="content-lg row">
            <div class="col-xs-12 nopadding">
                <div class="lab-2022 col-sm-3">
                    <div class="lab-btn-2022">
                        <img src="/pic/public/frontend/images/lab/bt_electrical-lab.jpg" alt="Electrical Lab">
                        <a class="btn-2022" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Lab", action = "Package_Design", param1 = "lab_electrical" })">
                            Electrical Lab
                        </a>
                    </div>
                </div>

                <div class="lab-2022 col-sm-3">
                    <div class="lab-btn-2022">
                        <img src="/pic/public/frontend/images/lab/bt_material-lab.jpg" alt="Material Lab">
                        <a class="btn-2022" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Lab", action = "Package_Design", param1 = "lab_material" })">
                            Material Lab
                        </a>
                    </div>
                </div>

                <div class="lab-2022 col-sm-3">
                    <div class="lab-btn-2022">
                        <img src="/pic/public/frontend/images/lab/bt_stress-thermal-lab.jpg" alt="Stress & Thermal Lab">
                        <a class="btn-2022" href="@Url.RouteUrl(new { controller = "Lab", action = "Package_Design", lang = ViewBag.language.lang, param1 = "lab_stress_and_thermal" })">
                            Stress & Thermal Lab
                        </a>
                    </div>
                </div>

                <div class="lab-2022 col-sm-3">
                    <div class="lab-btn-2022">
                        <img src="/pic/public/frontend/images/lab/bt_chemical-green-technology-lab.jpg" alt="Chemical & Green Technology Lab">
                        <a class="btn-2022" href="@Url.RouteUrl(new { controller = "Lab", action = "Package_Design", lang = ViewBag.language.lang, param1 = "lab_chemical_and_green" })">
                            Chemical & Green<br />Technology Lab
                        </a>
                    </div>
                </div>

                <div class="lab-2022 col-sm-1 hide-in-small" style="width:4%;">
                    <p>&nbsp;</p>
                </div>
                
                <div class="lab-2022 col-sm-3 col-sm-offset-1">
                    <div class="lab-btn-2022">
                        <img src="/pic/public/frontend/images/lab/bt_failure-analysis-lab.jpg" alt="Failure Analysis Lab">
                        <a class="btn-2022" href="@Url.RouteUrl(new { controller = "Lab", action = "Package_Design", lang = ViewBag.language.lang, param1 = "lab_failure_analysis" })">
                            Failure Analysis Lab
                        </a>
                    </div>
                </div>
                
                <div class="lab-2022 col-sm-3">
                    <div class="lab-btn-2022">
                        <img src="/pic/public/frontend/images/lab/bt_optical-lab.jpg" alt="Optical Lab">
                        <a class="btn-2022" href="@Url.RouteUrl(new { controller = "Lab", action = "Package_Design", lang = ViewBag.language.lang, param1 = "lab_optical" })">
                            Optical Lab
                        </a>
                    </div>
                </div>

                <div class="lab-2022 col-sm-3">
                    <div class="lab-btn-2022">
                        <img src="/pic/public/frontend/images/lab/bt_acoustic-lab.jpg" alt="Acoustic Lab">
                        <a class="btn-2022"href="~/en/lab/acoustic-lab">
                            Acoustic Lab
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <style>
        .lab-2022 {
            overflow: hidden;
            padding: 10px;
        }
        .lab-btn-2022 {
            position: relative;
            overflow: hidden;
        }

        .lab-btn-2022 img {
            width: 100%;
            -webkit-filter: brightness(70%);
            filter: brightness(70%);
            transition: all 500ms;
            -webkit-transition: all 500ms;
        }

        .lab-btn-2022 .btn-2022 {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            color: white;
            font-size: 22px;
            line-height: 22px;
            text-align: center;
            padding: 0;
            margin: 0;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .lab-btn-2022 a:hover {
            text-decoration: none;
        }

        .lab-2022:hover img {
            transform: scale(1.2);
            overflow: hidden;
        }
    </style>
    
<script>
    $(document).ready(function() {

        $(".DSS").show();
        $(".MS").hide();
        $(".AiPS").hide();

        $(".DS").show();
        $(".M").hide();
        $(".AiP").hide();

        $('.bt_DSS').click(function() {
            $(this).closest(".row").find(".bt_MS,.bt_AiPS").removeClass("technology-tab-active").addClass("technology-tab-inactive");
            $(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
            $(this).closest(".row").find(".MS,.AiPS").hide();
            $(this).closest(".row").find(".DSS").fadeIn(1000);
        });
        $('.bt_MS').click(function() {
            $(this).closest(".row").find(".bt_DSS,.bt_AiPS").removeClass("technology-tab-active").addClass("technology-tab-inactive");
            $(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
            $(this).closest(".row").find(".DSS,.AiPS").hide();
            $(this).closest(".row").find(".MS").fadeIn(1000);
        });
        $('.bt_AiPS').click(function() {
            $(this).closest(".row").find(".bt_DSS,.bt_MS").removeClass("technology-tab-active").addClass("technology-tab-inactive");
            $(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
            $(this).closest(".row").find(".DSS,.MS").hide();
            $(this).closest(".row").find(".AiPS").fadeIn(1000);
        });

        $('.bt_DS').click(function() {
            $(this).closest(".row").find(".bt_M,.bt_AiP").removeClass("technology-tab-active").addClass("technology-tab-inactive");
            $(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
            $(this).closest(".row").find(".M,.AiP").hide();
            $(this).closest(".row").find(".DS").fadeIn(1000);
        });
        $('.bt_M').click(function() {
            $(this).closest(".row").find(".bt_DS,.bt_AiP").removeClass("technology-tab-active").addClass("technology-tab-inactive");
            $(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
            $(this).closest(".row").find(".DS,.AiP").hide();
            $(this).closest(".row").find(".M").fadeIn(1000);
        });
        $('.bt_AiP').click(function() {
            $(this).closest(".row").find(".bt_DS,.bt_M").removeClass("technology-tab-active").addClass("technology-tab-inactive");
            $(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
            $(this).closest(".row").find(".DS,.M").hide();
            $(this).closest(".row").find(".AiP").fadeIn(1000);
        });
    });
</script>