﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/ch/_Layout_seo.cshtml";
    ViewBag.Title = "供應鏈管理";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-csr">
		<h1 class="page-title title-large">永續發展</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch/csr"><span itemprop="name">永續發展</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch/csr/supply_chain_development"><span itemprop="name">供應鏈發展</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch/csr/supply_chain_development/supplier_development"><span itemprop="name">供應鏈管理</span></a>
					<meta itemprop="position" content="3" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->

	<section class="inside-article">
		<div class="content-lg row csr">
			<article class="col-xs-12">
				<h3 class="title">供應鏈管理</h3>
			</article>
			<article class="col-xs-12">
                <p>
                    日月光於半導體產業中佔有一席之地，我們了解採購的整體力量是一項獨特的資源，為了追尋永續成長，同時滿足客戶的需求，在日常採購作業中，除成本與品質的考量外，更評估供應鏈所產生的整體永續價值。透過與供應商發展穩定的夥伴關係，不斷提高整體供應鏈韌性，並具體實踐責任採購，與供應商共同持續成長。
                </p>
                <br>
                <h4 class="sub-title">日月光供應鏈管理策略</h4>
                <p>
                    <ul class="nopadding">
                        <li>價值考量：獲得具競爭力的供應鏈整體價值。</li>
                        <li>多元化供應：維持同種材料至少有兩間以上之供應商，確保原物料之持續供應。</li>
                        <li>品質優先：取得供應商所提供最佳品質之產品與服務。</li>
                        <li>策略性合作：整合供應商之資源與能力協同提升創新力。</li>
                        <li>永續採購：提升供應商經濟、環境與社會面之永續性績效。</li>
                        <li>責任礦物採購：確保供應商提供之產品使用來源可靠的非衝突礦產。</li>
                    </ul>
                </p>
                <a href="https://www.aseglobal.com/ch/pdf/2019_aseth_purchasingandsupplychaindevelopmentpolicy.pdf" target="_blank"><div class="circle_button darkgray facilities-circle-button"><i class="icon-arrow-right facilities-icon-arrow-right"></i></div>&nbsp;採購與供應鏈發展政策</a><br><br>
                <a href="https://www.aseglobal.com/ch/pdf/ase_holding_supplier_coc_ch_2018.pdf" target="_blank"><div class="circle_button darkgray facilities-circle-button"><i class="icon-arrow-right facilities-icon-arrow-right"></i></div>&nbsp;供應商行為準則</a>
                <br>
                <br>
                <h4 class="sub-title">電子化供應鏈協同管理</h4>
                <p>
                    日月光的供應鏈依採購類別分為原物料、設備、廠務/工程承攬商、廢棄物處理承攬商、運輸與物流以及服務型外包商等。面對電子業複雜的供應鏈及全球客戶的需求，我們整合現有採購流程與網際網路，自2011年發展日月光電子化供應鏈協同平台「e-Hub」，讓採購與供應商在此平台進行電子化詢報價、訂單回覆、出貨通知、檢驗CoC(Certificate of Conformance)提交、庫存查詢、貨款查詢等作業，不僅供應鏈資訊即時透明流通，留存電子紀錄供迅速查詢與稽核，更與供應夥伴建立完善的庫存預警機制來滿足供應需求並提升物流效率，雙方得以縮短作業時程，強化營運管理。
                </p>
                <br>
                <h4 class="sub-title">新供應商評核流程</h4>
                <p>
                    供應商在成為正式供應鏈夥伴前，必須通過日月光新供應商評核流程以確保符合標準。以下為日月光新供應商評核流程。
                </p>
                <h4>第一階段 - 新供應商文件審查</h4>
                <p>
                    供應商提供文件給日月光採購部門審核，包含基本資料表、保密條款、供應商行為準則承諾書、衝突礦產聲明…等。若所提供之資訊揭露不實，日月光有權終止合作。
                </p>
                <h4>第二階段 - 新供應商產品評估/實地稽核</h4>
                <p>
                    依不同的供應商業務類別、產品、服務項目，部分供應商於第一階段審查合格後須通過第二階段評估，合格後即可成為供應鏈夥伴。
                </p>
                <br>
                <div class="col-sm-8 nopadding">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/supplier/become_ase_supply_chain_partner2.png">
                </div>
                <div class="clearfix"></div>
                <br>
                <h4 class="sub-title">最佳供應商頒獎典禮</h4>
                <p>
                    日月光每年舉辦「最佳供應商頒獎典禮」，表揚並肯定供應商的努力，除了鼓勵綜合績效表現卓越的供應商，也強調與供應商發展穩定的夥伴關係。同時，我們也將供應商的優秀實績分享給現場供應商，藉此樹立企業標竿學習楷模，展現與上下游供應商攜手建立永續供應鏈的決心，期望提升產業鏈優勢並帶動升級。
                </p>
                <br>
			</article>
            <div class="col-sm-8">
                <h4 class="sub-title">供應商永續獎</h4>
                <p>
                    日月光自2017年開始便首創業界頒發「供應商永續經營獎」，以表揚永續性績效優良之供應商。2020年，為提升供應鏈循環經濟與減碳能力，日月光投控鼓勵供應商提出永續合作計畫案，經遴選後將由日月光環保永續基金會提供一至三年合作基金，以期激發創新的合作模式，共創綠色供應鏈的價值與影響力。更多詳細資料，請參考<a href="https://www.aseglobal.com/ch/csr/responsible-procurement/supplier-sustainability-award/" target="_blank">日月光投控供應商永續獎</a>。
                </p>
            </div>
            <div class="col-sm-4">
                <br>
                <br>
                <img src="https://3711cdn.r.worldssl.net/wp-content/themes/ase-3711/theme/img/pic/pic-supplier-sustainability-awards-c2-ch.jpg">
            </div>
		</div>
		<br>
	</section>