<div class="ajax-text-and-image white-popup-block">
	<h4 class="sub-title">Selective Molding</h4>
	<p>
		ASE provides an advanced module encapsulation technology, called the selective molded module technology. It can solve the sensitivity components cannot put in over molded issue, but also allows the end product space design has greater flexibility.
	</p>
	<h4>Application</h4>
	<p>
		Miniaturization module especially in WiFi and RF.
	</p>
	<h4>Features</h4>
	<p>
		On the same side of the substrate, there are both an mold area and a open area.
	</p>		
	<h4>Capabilities</h4>
	<p>
		<ul class="nopadding">
			<li>Clearance of open area: > 0.3mm</li>
			<li>Clamp width between mold area and open area: > 0.6mm</li>
			<li>Clamp width between open area and package side line: > 0.6mm</li>
		</ul>
	</p>
	<strong>Module Level</strong><br>
	<table class="table table-striped csr" style="border: 1px solid #dedede">
		<tbody>
			<tr>
				<td>Pre-con (L3)</td>
				<td class="left-border">TCT-1000</td>
				<td class="left-border">HAST-264</td>
				<td class="left-border">HTST-1000</td>
			</tr>
			<tr style="background-color: #ebf4fa">
				<td>Passed</td>
				<td class="left-border">Passed</td>
				<td class="left-border">Passed</td>
				<td class="left-border">Passed</td>
			</tr>
		</tbody>
	</table>
	<strong>Board Level</strong><br>
	<table class="table table-striped csr" style="border: 1px solid #dedede">
		<tbody>
			<tr>
				<td>Drop Test</td>
				<td class="left-border">Function</td>
			</tr>
			<tr style="background-color: #ebf4fa">
				<td>Passed</td>
				<td class="left-border">Passed</td>
			</tr>
		</tbody>
	</table>
</div>