<div class="ajax-text-and-image white-popup-block">
	<h4 class="sub-title">High Density SMT</h4>
	<p>
		The ways to reduce form factor of SiP in X/Y size are utilization of tiny passive components and shrinking distance between components to component. ASE HD-SMT technology by using tiny 01005 SMD and 3 mils component to component distance is ready and in mass production.<br><br>

		To expand more functions in restricted body size of a SiP/module, dual side SMT as well as double sides molding technology is adopted.
	</p>
	<h4>Application</h4>
	<p>
		<ul class="nopadding">
			<li>Phone/Tablet</li>
			<li>DWearable Device</li>
			<li>DGlasses, Camera</li>
			<li>DIoT/Smart Home Electronics</li>
			<li>DCar System</li>
		</ul>
	</p>
	<h4>Features</h4>
	<p>
		<ul class="nopadding">
			<li>One side or dual side SMT</li>
			<li>Ultra-high accuracy pick & place</li>
			<li>Ultra-high SPI & AOI for yield insurances</li>
		</ul>
	</p>		
	<h4>Capabilities</h4>
	<p>
		<ul class="nopadding">
			<li>01005 component MP, 008004 ready</li>
			<li>6-layer 0.185mm substrate in mass production</li>
			<li>Minimum 3 mils component to component distance</li>
		</ul>
	</p>
</div>