<div class="ajax-text-and-image white-popup-block">
	<h4 class="sub-title">Compartment Shielding</h4>
	<p>
		ASE had introduced a new, EMI compartment shielding (CPS) structure which was constructed from laser trench and conductive paste. The technology is designed to provide better shielding performance in more compact structure. The distinctive characteristics of CPS technology (Laser trench/Conductive paste filling) are flexible and customized design for high-integration module. This offers customers much more aggressive layout design, and also high-level EMI shielding performance for sensitive components/chipset. In addition, CPS technology enables the smaller form factor of modules which is needs of wearable device, mobile device, and IoT application.
	</p>
	<h4>Application</h4>
	<p>
		<ul class="nopadding">
			<li>Phone/Tablet</li>
			<li>Wearable Device</li>
			<li>Glasses</li>
			<li>Camera</li>
			<li>Car System</li>
		</ul>
	</p>
	<h4>Features</h4>
	<p>
		<ul class="nopadding">
			<li>Higher EMI shielding performance</li>
			<li>Highly flexible and customized shielding pattern design</li>
			<li>Thinner, compact shielding barrier (~150um)</li>
			<li>Mold base compartment shielding solution</li>
		</ul>
	</p>		
	<h4>Capabilities</h4>
	<p>
		<strong>Structure:</strong><br>
		<ul class="nopadding">
			<li>Trench opening width (top/bottom): 400um/80um</li>
			<li>Shielding performance (S.E.): 45~50dB (1GHz – 6GHz)</li>
		</ul>
	</p>
</div>