<div class="ajax-text-and-image white-popup-block">
	<h4 class="sub-title">Double Side Molding</h4>
	<p>
		ASE provides an advanced module encapsulation technology, called the double-side molded module technology. It solves the old single-sided molded technology in the back of the region only the electrical connection of the waste space, thereby achieving the purpose of module miniaturization.
	</p>
	<h4>Application</h4>
	<p>
		Miniaturization module especially in WiFi and RF.
	</p>
	<h4>Features</h4>
	<p>
		Both sides of the substrate are molded with PMC, in the back central area of the placement and around the use of substrate interposer for electrical connection, ultimately connected to the motherboard IPAD using Film mold technology.
	</p>		
	<h4>Capabilities</h4>
	<p>
		<ul class="nopadding">
			<li>Size saving: 10 ~ 40 %</li>
			<li>Pad Pitch: >= 0.4mm</li>
			<li>MUF capability is the same single side molded</li>
		</ul>
	</p>
	<strong>Module Level</strong><br>
	<table class="table table-striped csr" style="border: 1px solid #dedede">
		<tbody>
			<tr>
				<td>Pre-con (L3)</td>
				<td class="left-border">TCT-1000</td>
				<td class="left-border">HAST-264</td>
				<td class="left-border">HTST-1000</td>
			</tr>
			<tr style="background-color: #ebf4fa">
				<td>Passed</td>
				<td class="left-border">Passed</td>
				<td class="left-border">Passed</td>
				<td class="left-border">Passed</td>
			</tr>
		</tbody>
	</table>
	<strong>Board Level</strong><br>
	<table class="table table-striped csr" style="border: 1px solid #dedede">
		<tbody>
			<tr>
				<td>Drop Test</td>
				<td class="left-border">Function</td>
			</tr>
			<tr style="background-color: #ebf4fa">
				<td>Passed</td>
				<td class="left-border">Passed</td>
			</tr>
		</tbody>
	</table>
</div>