<div class="ajax-text-and-image white-popup-block">
	<h4 class="sub-title">Flexible Encapsulation</h4>
	<p>
		ASE provides an advanced encapsulation technology, called the flexible encapsulation technology. It enhances the wearable products in the waterproof function: products can still be bent after encapsulation.
	</p>
	<h4>Application</h4>
	<p>
		Wearable electrical product including clothes, glasses, watches, bracelets, and rings.
	</p>
	<h4>Features</h4>
	<p>
		This technology uses a special flexible sealant material with a soft board (FPC) so that the module can be bending in the end product after module assembly.
	</p>		
	<h4>Capabilities</h4>
	<table class="table table-striped csr" style="border: 1px solid #dedede">
		<tbody>
			<tr style="background-color: #4d8dcd; color: #fff">
				<td>Test Item</td>
				<td class="left-border">Test Condition</td>
				<td class="left-border">Duration</td>
				<td class="left-border">Results</td>
			</tr>
			<tr>
				<td>TCT</td>
				<td class="left-border">-55°C~85°C</td>
				<td class="left-border">100 cycles</td>
				<td class="left-border">Passed</td>
			</tr>
			<tr style="background-color: #ebf4fa">
				<td>Bending</td>
				<td class="left-border">30°C</td>
				<td class="left-border">100 cycles</td>
				<td class="left-border">Passed</td>
			</tr>
			<tr>
				<td>Twist</td>
				<td class="left-border">twist span 45mm, angle 5~30 degrees</td>
				<td class="left-border">100 cycles</td>
				<td class="left-border">Passed</td>
			</tr>
		</tbody>
	</table>
</div>