<div class="ajax-text-and-image white-popup-block">
	<h4 class="sub-title">Conformal Shielding</h4>
	<div class="col-xs-6 col-md-6 nopadding">
		<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/sip_module_solutions2.jpg">
	</div>
	<div class="clearfix"></div>
	<p></p>
	<p>
		ASE had introduced a novel conformal shielding technology (CFS) for electromagnetic interference (EMI) prevention, against external interference, keep chip normal working. For thinner, smaller and lighter product, PVD CFS technology was designed to substitute for metal can/lid. The technology was widely applied in wireless communication, ex: RF, Bluetooth, WiFi, etc.
	</p>
	<h4>Application</h4>
	<p>
		<ul class="nopadding">
			<li>Phone/Tablet</li>
			<li>Wearable Device</li>
			<li>Glasses</li>
			<li>Camera</li>
			<li>Car System</li>
		</ul>
	</p>
	<h4>Features</h4>
	<p>
		CPS technology was prevented package to package and outer signal interference. Developed advanced PVD process replaced metal can/lid to reach product miniaturization, area reduction 17% and thickness reduction 7%.
	</p>		
	<h4>Capabilities</h4>
	<p>
		ASE developed PVD CFS technology was reached over 99.9% (SE value > 30dB) EMI impact in 0.5 to 6GHz frequency when metal layer thickness over 3um.
	</p>
</div>