﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
    ViewBag.Title = "Conflict Minerals Compliance";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-csr">
		<h1 class="page-title-csr title-large">SUSTAINABILITY</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/csr"><span itemprop="name">Sustainability</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/csr/supply_chain_development"><span itemprop="name">Supply Chain Development</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/csr/supply_chain_development/conflict_minerals_compliance"><span itemprop="name">Conflict Minerals Compliance</span></a>
					<meta itemprop="position" content="3" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->

	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-md-12">
				<h3 class="title">Conflict Minerals Compliance</h3>
				<h4 class="sub-title">ASE Group Corporate Policy for Sourcing Conflict Minerals</h4>
				<p>
					The mining and distribution of “conflict minerals”<a href="javascript:;" data-toggle="popover" data-trigger="hover" data-content="“Conflict minerals” are columbite-tantalite (coltan), cassiterite, gold, and wolframite, or their derivatives as defined in the Dodd-Frank Act Section 1502 and SEC Rule 13p-1 under the Securities Exchange Act of 1934." data-placement="bottom">*</a> originating from the Democratic Republic of the Congo (the “DRC”) are sometimes controlled by violent organizations in order to fund conflict in that country and adjacent regions. Our industry supply chains are inadvertently subject to metals derived from these conflict minerals which can be introduced through the metals we use such as gold, tin, tantalum and tungsten. ASE Group is dedicated to the elimination of these conflict minerals in our supply chain and to using only responsibly sourced “conflict-free minerals”<a href="javascript:;" data-toggle="popover" data-trigger="hover" data-content="“Conflict-free minerals” are conflict minerals that through their distribution directly or indirectly do not benefit violent organizations in the Democratic Republic of the Congo and its adjacent regions." data-placement="bottom">*</a>. We expect our suppliers to source conflict-free minerals from smelters or refineries that have been certified by an independent third party audit program to fulfill our objective. It is also our objective to support the continued use of conflict-free minerals from the DRC and its adjacent regions such that responsible mining<a href="javascript:;" data-toggle="popover" data-trigger="hover" data-content="”Responsible mining” is taking the social and environmental responsibility for the mining procedure." data-placement="bottom">*</a> is not diminished. We exercise due diligence with our suppliers on the origin and supply chain of minerals in accordance with the “OECD Due Diligence Guidance for Responsible Supply Chains of Minerals from Conflict-Affected and High-Risk Areas” to establish conflict minerals management mechanism.<br><br>

					To protect the human rights, health and environment for workers in the material production areas, we commit to widening the scope of investigation and information disclosure; in addition to gold, tin, tantalum and tungsten, more minerals (such as cobalt and mica) will be included gradually from conflict-affected and high-risk areas (“CAHRAs”) in accordance with the Responsible Minerals Initiative (“RMI”) standards. ASE Technology Holding requires suppliers must support this policy by the following guidelines and widen their scope of investigations and disclosures to continuously strengthen our responsible sourcing programs.<br>
					<ul class="nopadding">
						<li>Being diligent in their assessment and validation of their supply chains to ensure ASE Group’s objectives of a transparent supply chain and conflict-free purchases are inputs to the services and products we produce.</li>
						<li>Be in compliance at all times with all regional and international regulations for conflict minerals.</li>
						<li>Be in compliance at all times with industry standards for the sourcing and reporting of conflict minerals.</li>
						<li>Being diligent and accurate in their formal assurances of conflict-free minerals provided to us.</li>
					</ul>
				</p>
				<div><a href="~/public/downloads/en/2022_ASETH_ConflictMineralsCompliance_en.pdf" target="_blank"><div class="circle_button darkgray facilities-circle-button"><i class="icon-arrow-right facilities-icon-arrow-right"></i></div> ASE Group Corporate Policy for Sourcing Conflict Minerals</a></div><br>
				<strong>ASE's Regulatory Compliance Management Process</strong><br>
				<a class="image-popup" href="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/conflict_minerals_compliance1.png"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/conflict_minerals_compliance1.png" width="100%"></a>
				<div class="clearfix"></div>
				<br>
				<strong>Conflict Minerals Requirements</strong><br>
				<p>
					Each year, ASE communicates conflict mineral policies and requirements to our suppliers through written communication and website disclosure. The suppliers are required to comply with ASE Group Conflict Minerals Policy and establish their own conflict minerals policies and to their own suppliers.
				</p>
				<strong>Reasonable Country of Origin Inquiry (RCOI)</strong><br>
				<p>
					Each year, ASE performs Reasonable Country of Origin Inquiry (RCOI), to identify and validate the sources of 3TG in our packaging and material services and electronic manufacturing services and products, and whether they come from conflict-affected regions.<br><br>

					Our RCOI includes two steps:<br>
					<ol class="nopadding">
						<li>Identify sources of 3TG SoRs through CMRT by conducting supplier survey.</li>
						<li>Suppliers are asked to sign the Representation Letters of compliance with ASE Conflict Minerals Policy and to fully reveal the source of the SoRs they sourced from.</li>
					</ol>
				</p>
				<strong>Due Diligence (DD)</strong><br>
				<p>
					ASE adopts the "Due Diligence Guidance for Responsible Supply Chains of Minerals from Conflict-Affected and High-Risk Areas" formulated by the Organization for Economic Co-operation and Development (OECD) to identify / assess supplier risks and mitigate these identified risks to maintain an effective management mechanism.
				</p>

				<strong>Independent Private- Sector Audit (IPSA) and Public Disclosure</strong><br>
				<p>
					ASE undertakes an Independent Private Sector Audit ("IPSA") on our Conflict Minerals Report and due diligence procedure to ensure we are in compliance with the requirements set forth by the SEC. Each year, the Conflict Minerals Report is also disclosed publicly.
				</p>

				<strong>ASE SEC Conflict Minerals Filing</strong><br>
				<p>
					We disclose the Conflict Minerals report on our company website annually. For complete file of ASE SEC Conflict Minerals Filing:
				</p>
				<div><a href="/public/downloads/en/ASE_SEC_Conflict_Minerals_Filing_for_2017.pdf" target="_blank"><div class="circle_button darkgray facilities-circle-button"><i class="icon-arrow-right facilities-icon-arrow-right"></i></div> ASE SEC Conflict Minerals Filing for 2017</a></div><br>
				<div><a href="/public/downloads/en/ASE_SEC_Conflict_Minerals_Filing_for_2016.pdf" target="_blank"><div class="circle_button darkgray facilities-circle-button"><i class="icon-arrow-right facilities-icon-arrow-right"></i></div> ASE SEC Conflict Minerals Filing for 2016</a></div><br>
				<div><a href="/public/downloads/en/ASE_SEC_Conflict_Minerals_Filing_for_2015.pdf" target="_blank"><div class="circle_button darkgray facilities-circle-button"><i class="icon-arrow-right facilities-icon-arrow-right"></i></div> ASE SEC Conflict Minerals Filing for 2015</a></div><br>
				<div><a href="/public/downloads/en/ASE_SEC_Conflict_Minerals_Filing_for_2014.pdf" target="_blank"><div class="circle_button darkgray facilities-circle-button"><i class="icon-arrow-right facilities-icon-arrow-right"></i></div> ASE SEC Conflict Minerals Filing for 2014</a></div><br>
				<div><a href="/public/downloads/en/ASE_SEC_Conflict_Minerals_Filing_for_2013.pdf" target="_blank"><div class="circle_button darkgray facilities-circle-button"><i class="icon-arrow-right facilities-icon-arrow-right"></i></div> ASE SEC Conflict Minerals Filing for 2013</a></div><br>

				<p>
					ASE Inc. has become ASE Technology Holding's ("ASEH") subsidiary since 2018. For ASEH SEC Conflict Minerals Filing, please refer to <a href="https://www.aseglobal.com/csr/responsible-procurement/conflict-minerals-compliance/" target="_blank">ASEH's website</a>.<br><br>
				</p>

				<h4 class="sub-title">ASE Conflict Mineral Contact</h4>
				<p>
					If you have any questions, comments or suggestions regarding conflict minerals program, please contact <a href="mailto:ASE_CM@aseglobal.com">ASE_CM@aseglobal.com</a>
				</p>
			</article>
		</div>
	</section>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script>
	$(document).ready(function(){
	    $('[data-toggle="popover"]').popover();   
	    
	});
	</script>