﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
    ViewBag.Title = "Supply Chain Management";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-csr">
		<h1 class="page-title-csr title-large">SUSTAINABILITY</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/csr"><span itemprop="name">Sustainability</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <a itemprop="item" href="/en/csr/supply_chain_development"><span itemprop="name">Supply Chain Development</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/csr/supply_chain_development/supplier_development"><span itemprop="name">Supply Chain Management</span></a>
					<meta itemprop="position" content="3" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->

	<section class="inside-article">
		<div class="content-lg row csr">
			<article class="col-xs-12">
				<h3 class="title">Supply Chain Management</h3>
            </article>
            <article class="col-xs-12">
                <p>
                    As one of the leading companies in the semiconductor industry, we are conscious that we control a significant resource through our purchasing power. In order to pursue sustainable growth while meeting customers' needs, the company evaluates overall sustainable value of the supply chain in addition to cost and quality considerations in our daily procurement operations. We aim to grow together with our suppliers through developing stable partnerships, strengthening supply chain resilience and practicing responsible procurement.
                </p>
                <br>
                <h4 class="sub-title">Supply Chain Management Strategy</h4>
                <p>
                    <ul class="nopadding">
                        <li>Value Oriented: To obtain a competitive overall value in the supply chain.</li>
                        <li>Diversified Sources: To maintain at least two suppliers for the same material to ensure continuous supply.</li>
                        <li>Quality First: To obtain the best quality products and services from suppliers.</li>
                        <li>Strategic Cooperation: To integrate suppliers' resources and capabilities for greater innovation.</li>
                        <li>Sustainable Sourcing: To raise suppliers' economic, environmental and social performance in sustainability.</li>
                        <li>Responsible Minerals Sourcing: To ensure that suppliers are using only responsibly sourced, conflict-free minerals in their products.</li>
                    </ul>
                </p>
                <a href="https://www.aseglobal.com/en/pdf/2019_aseth_purchasingandsupplychaindevelopmentpolicy.pdf" target="_blank"><div class="circle_button darkgray facilities-circle-button"><i class="icon-arrow-right facilities-icon-arrow-right"></i></div>&nbsp;Supply Chain Purchasing and Supply Chain Development Policy</a><br><br>
                <a href="https://www.aseglobal.com/en/pdf/ase_holding_supplier_coc_en_2018.pdf" target="_blank"><div class="circle_button darkgray facilities-circle-button"><i class="icon-arrow-right facilities-icon-arrow-right"></i></div>&nbsp;Supplier Code of Conduct</a>
                <br>
                <br>
                <h4 class="sub-title">e-Supply Chain Collaboration</h4>
                <p>
                    Our supply chain is divided into the following categories according to the procurement type: raw materials, equipment, facility/engineering contractors, waste treatment contractors, transport and logistics as well as service-oriented outsourcers. We have established an integrated procurement system that includes an online portal. In 2011, we developed the ASE Electronic Supply Chain Planning and Collaboration platform named “e-Hub”. Both buyers and suppliers can execute requests for quotations, respond to purchase orders, send shipping notices, review CoC (Certificate of Conformance) submissions, check inventory and make payment inquiries online. The system enables supply chain information to be transparent and exchanged in real time, and the electronic records can be tracked and audited.<br><br>

                    ASE seeks to collaborate with supply partners to build a comprehensive inventory alert mechanism that will meet supply demands and raise the efficiency in logistics management, thus shortening the cycle time on both sides while strengthening business operations.
                </p>
                <br>
                <h4 class="sub-title">Supplier Assessment Process</h4>
                <p>
                    Before becoming a qualified ASE supply chain partner, a potential supplier must meet ASE’s partner standards by completing the ASE Supplier Assessment Process. The ASE Supplier Assessment Process is as follows:
                </p>
                <h4>Phase 1. Supplier Profile Verification</h4>
                <p>
                    Suppliers must provide required documents to ASE’s Purchasing Department for verification, including Vendor Qualification Check List, Non-Disclosure Agreement, Supplier’s Letter of Commitment to ASE’s Supplier Code of Conduct, Conflict Minerals Representation, etc. Information provided must be accurate and suppliers are liable for the information provided. ASE has the right to terminate a supplier if the information provided is inaccurate.
                </p>
                <h4>Phase 2. Supplier Product Evaluation and On-Site Audit</h4>
                <p>
                    After passing Phase 1, depending on suppliers’ business categories, products and services, some suppliers will need to undergo Phase 2 evaluation such as the verification of product or service specifications, sample trial-run, supplier facility on-site audit, etc.
                </p>
                <br>
                <div class="col-sm-8 nopadding">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/supplier/become_ase_supply_chain_partner2.png">
                </div>
                <div class="clearfix"></div>
                <br>
                <h4 class="sub-title">Best Supplier Awards Ceremony</h4>
                <p>
                    ASE holds the "Best Supplier Awards Ceremony" annually to recognize and affirm suppliers for their efforts in the previous year. Besides encouraging outstanding suppliers, ASE also seeks to emphasize the company’s support of strong partner relationships. In addition, we share the results of outstanding partners as a benchmark for other suppliers to follow and to demonstrate our focus on advancing sustainability performance with all our suppliers together for the benefit and progress of the electronics industry.
                </p>
                <br>
            </article>
            <div class="col-sm-8">
                <h4 class="sub-title">Supplier Sustainability Excellence Awards</h4>
                <p>
                    In 2017, ASE established the supplier sustainability award to recognize outstanding sustainability performance among its suppliers. In 2020, a new supplier incentive program focusing on the company’s low carbon and circular goals was launched. The program is created to inspire innovative cooperation models and strengthen connections between supply chain partners, so as to expand business opportunities and output that will create value and a positive impact for green supply chains. Selected projects from suppliers will be funded by the ASE Environmental Protection and Sustainability Foundation for between 1 to 3 years. For more information, please visit the link on <a href="https://www.aseglobal.com/csr/responsible-procurement/supplier-sustainability-award/" target="_blank">ASE Supplier Sustainability Excellence Awards</a>.
                </p>
            </div>
            <div class="col-sm-4">
                <br>
                <br>
                <img src="https://3711cdn.r.worldssl.net/wp-content/themes/ase-3711/theme/img/pic/pic-supplier-sustainability-awards-c2-en.jpg">
            </div>
        </div>
        <br>
	</section>