﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
    ViewBag.Title = "Supplier Sustainability";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-csr">
		<h1 class="page-title-csr title-large">SUSTAINABILITY</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/csr"><span itemprop="name">Sustainability</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/csr/supply_chain_development"><span itemprop="name">Supply Chain Development</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/csr/supply_chain_development/supplier_sustainability_management"><span itemprop="name">Supplier Sustainability</span></a>
					<meta itemprop="position" content="3" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">Supplier Sustainability</h3>
				<p>
					We consider suppliers our important partners and expect our suppliers to offer fair terms and safe working conditions to their employees. ASE does not condone the employment of child labor or forced labor by our suppliers. Any supplier found non-compliant will be removed from our supplier list. No contracts were terminated due to the use of child labor or forced labor in 2017.
				</p>
                <br>
				<h4 class="sub-title">Supplier Sustainability Management Approach</h4>
				<p>
					We abide by ASEH Procurement and Supply Chain Development Policy and Commitment. We established a four-stage sustainability supply management process that is run repeatedly to ensure supplier compliance and enhance their sustainability performance.
				</p>
                <div class="col-md-10 col-md-offset-1 nopadding">
				    <a class="image-popup" href="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/supplier_sustainability_management.png?3"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/supplier_sustainability_management.png?3" style="width: 100%"></a>
                </div>
				<div class="clearfix"></div><br>
				<h4 class="sub-title">Supplier Sustainability Requirement</h4>
				<p>
					To ensure all suppliers comply with the "ASEH Supplier Code of Conduct", we require our new suppliers to sign the "ASEH Supplier Code of Conduct Commitment Letter" and complete our sustainability risk assessment questionnaire covering regulatory compliance, sustainable management, conflict minerals management, environmental protection, health and safety, labor rights, human rights, etc., to assess sustainability risks associated with new suppliers or conduct the on-site audit to make sure their risk. We also encourage all suppliers to obtain international certification standards such as ISO 9001, ISO/TS 16949, ISO 14001, OHSAS 18001, ISO 14064-1, etc.<br><br>

                    ASEH is also devoted to socially responsible procurement and innovation throughout the supply chain, on top of providing responsible and quality services to our customers. Please visit: <a href="https://www.aseglobal.com/en/pdf/2019_aseth_purchasingandsupplychaindevelopmentpolicy.pdf" target="_blank">Supply Chain Purchasing and Supply Chain Development Policy</a>.<br><br>

                    The suppliers are also required to drive their suppliers to meet such standards and oversee their compliance status. Please visit: <a href="https://www.aseglobal.com/en/pdf/ASE_Holding_Supplier_CoC_EN_2018.pdf" target="_blank">Supplier Code of Conduct</a>.

				</p>
                <br>
				<h4 class="sub-title">Supplier Sustainability Risk Assessment</h4>
				<p>
					We abide by ASEH conducts an annual three-step supplier sustainability risk evaluation and analysis. This allows ASEH to identify the suppliers that exhibit potentially high social, economic, and environmental risks. Deficient suppliers will have to undergo audits and follow ASEH's corrective guidelines to ensure effective mitigation and control of risk.
				</p>
                <div class="col-md-10 nopadding hide-in-small">
                    <strong>Supplier Sustainability Risk Assessment Targets and Procedures</strong><br>
                    <a class="image-popup" href="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/supplier_sustainability_management1.png?1"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/supplier_sustainability_management1.png?1" style="padding: 10px 0; width: 100%"></a><br><br>

                    <strong>Sustainability Risk Assessment Factors</strong><br>
                    <a class="image-popup" href="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/supplier_sustainability_management2.png?1"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/supplier_sustainability_management2.png?1" style="padding: 10px 0; width: 100%"></a>
                </div>
                <div class="col-xs-7 nopadding hide-in-large">
                    <strong>Supplier Sustainability Risk Assessment Targets and Procedures</strong><br>
                    <a class="image-popup" href="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/supplier_sustainability_management11.png?1"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/supplier_sustainability_management11.png?1" style="padding: 10px 0; width: 100%"></a><br><br>

                    <strong>Sustainability Risk Assessment Factors</strong><br>
                    <a class="image-popup" href="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/supplier_sustainability_management22.png?1"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/supplier_sustainability_management22.png?1" style="padding: 10px 0; width: 100%"></a>
                </div>
				<div class="clearfix"></div>
			</article>
			<div class="col-md-12">
                <h4 class="sub-title">Suppier Sustainability Audit Mechanism</h4>
				<p>
					We abide by ASEH established a supplier sustainability audit system to carry out routine and ad hoc audits on-site, through document submissions, and through appointing third-party agencies or the RBA VAP. Deficient suppliers are required to draw up corrective action plans and rectify them within a given time frame. We will then review the results of their corrective action plans, followed by another assessment on the status the following year.
				</p>
                <br>
			</div>
		</div>
	</section>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script>
	$(document).ready(function(){
	    $('[data-toggle="popover"]').popover();   
	});
	</script>