body {
    font-family: Arial, Verdana, "微軟正黑體";
}
.required,
.color1 {
    color: #d9534f;
}
.color2 {
    background-color: #f9f9f9;
}
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes shake {
    from,
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }
    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
}
@keyframes shake {
    from,
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }
    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
}
.shake {
    -webkit-animation-name: shake;
    animation-name: shake;
}
.fm-modal {
    z-index: 10011;
    /** Because CKEditor image dialog was at 10010 */
    width: 80%;
    height: 80%;
    top: 10%;
    left: 10%;
    border: 0;
    position: fixed;
    -moz-box-shadow: 0px 1px 5px 0px #656565;
    -webkit-box-shadow: 0px 1px 5px 0px #656565;
    -o-box-shadow: 0px 1px 5px 0px #656565;
    box-shadow: 0px 1px 5px 0px #656565;
    filter: progid: DXImageTransform.Microsoft.Shadow(color=#656565, Direction=180, Strength=5);
}
#captcha_area {
    cursor: pointer;
}
.box-body.with-border {
    border-top: 1px solid #f4f4f4;
}

.login-page{
  background: url(../img/bg03.jpg) top center no-repeat;
  background-size: cover;
}

.nav-tabs-custom.nav-primary > .nav-tabs > li.active {
    border-top-color: #3c8dbc;
}
.nav-tabs-custom.nav-success > .nav-tabs > li.active {
    border-top-color: #00a65a;
}
.nav-tabs-custom.nav-warning > .nav-tabs > li.active {
    border-top-color: #f39c12;
}
.nav-tabs-custom.nav-danger > .nav-tabs > li.active {
    border-top-color: #dd4b39;
}
.nav-tabs-custom.nav-info > .nav-tabs > li.active {
    border-top-color: #00c0ef;
}
.select2 {
    width: 100% !important;
}
.gallery_list {
    list-style: none;
    padding-left: 0;
    padding-bottom: 1px;
    overflow: hidden;
}
.gallery_list > li {
    float: left;
    width: 33.33333%;
    padding: 10px;
    margin: 0 -1px -1px 0;
    text-align: center;
    border: 1px solid #ddd;
}
.gallery_list > li .row {
    margin-top: 10px;
    margin-bottom: 10px;
}
.chartjs_pie .legend li {
    display: block;
    padding-left: 30px;
    position: relative;
    margin-bottom: 4px;
    border-radius: 5px;
    padding: 2px 8px 2px 28px;
    font-size: 14px;
    cursor: default;
    -webkit-transition: background-color 200ms ease-in-out;
    -moz-transition: background-color 200ms ease-in-out;
    -o-transition: background-color 200ms ease-in-out;
    transition: background-color 200ms ease-in-out;
}
.chartjs_pie .legend ul li>span{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border-radius: 5px;
}
.chart-responsive > canvas{
  max-width: 100%;
}
@media (min-width: 992px) {
    .gallery_list > li {
        width: 25%;
    }
}
@media (min-width: 1200px) {
    .gallery_list > li {
        width: 20%;
    }
}
.login-box {
    margin-top: 6%;
}
.login-box-body{
    background: transparent;
    border: 1px solid #eee;
}
.login-box-body .login-box-msg{
    color: #fff;
}
.list-launch-block .label, .list-recommend-block .label {
    cursor: pointer;
}
.iCheck {
    padding-top: 7px;
}
.nav-tabs-custom {
    margin-bottom: 0;
}
.box-header > .box-tools {
    position: relative;
    right: 0;
    top: 0;
}
.file_explorer {
    max-width: 100%;
}
.table-responsive img {
    max-width: 150px;
    max-height: 100px;
}
.main-header .logo img{
    max-width: 90%;
    max-height: 90%;
}