﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-csr">
		<h1 class="page-title-csr title-large">CORPORATE SOCIAL RESPONSIBILITY</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">Supplier Sustainability Management</h3>
				<h4 class="sub-title">ASE Group Purchasing and Supply Chain Development Policy</h4>
				<p>
					We consider suppliers our important partners and expect our suppliers to offer fair terms and safe working conditions to their employees. ASE does not tolerate the employment of child labor or forced labor by our suppliers. Any supplier found non-compliant will be removed from our supplier list. No contracts were terminated due to the use of child labor or forced labor in 2016.
				</p>
				<h4 class="sub-title">Supplier Sustainability Management Approach</h4>
				<p>
					To fulfill ASE Group Purchasing and Supply Chain Development Policy and Commitment, we conduct a four-stage approach to promote suppliers' sustainability performance.
				</p>
				<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/supplier_sustainability_management2.png">
				<div class="clearfix"></div><br>
				<h4 class="sub-title">Supplier Sustainability Requirement</h4>
				<p>
					There are two aspects of our requirements for new suppliers: "Supplier Code of Conduct Commitment Letter" and "Supplier Sustainability Risk Assessment."
				</p>
				<h4 class="sub-title">Supplier Sustainability Risk Assessment</h4>
				<p>
					ASE conducts a supplier sustainability risk assessment via a three-stage approach annually. First, we conduct an initial potential risk analysis on the suppliers according to the manufacturing location, procurement amount, and manufacturing processes. Next, we also conduct sustainability risk assessment questionnaire on critical and tier 1 non-critical suppliers. Finally, after the questionnaire assessment is completed, high-risk suppliers will be subjected to further risk assessment through on-site audits and through the Validated Audit Process (VAP) of EICC.
				</p>
				<h4 class="sub-title">Supplier Sustainability Risk Assessment Targets and Procedures Risk</h4>
				<div class="col-md-7 col-md-offset-2">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/supplier_sustainability_management.png" style="padding-top: 10px">
				</div>
				<div class="clearfix"></div><br>
				<h4 class="sub-title">Supplier Sustainability Audit Mechanism</h4>
			</article>
			<div class="col-md-7 col-sm-6 col-xs-12">
				<p>
					To ensure effective management of our suppliers' sustainability performance, ASE regularly carries out on-site / off-site audits, EICC VAP and appoints third-party agencies to conduct audits on some of our critical suppliers on supplier sustainability.
				</p>
			</div>
			<div class="col-md-5 col-sm-6 col-xs-12">
				<div class="col-xs-11 col-xs-offset-1 nopadding text-center">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/supplier_sustainability_management1.png" style="padding-top: 10px"><br>
					<strong>2016 Supplier Audit Findings by Category</strong><br><br>
				</div>
			</div>
		</div>
	</section>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script>
	$(document).ready(function(){
	    $('[data-toggle="popover"]').popover();   
	});
	</script>