﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-csr">
		<h1 class="page-title-csr title-large">CORPORATE SOCIAL RESPONSIBILITY</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->

	<section class="inside-article">
		<div class="content-lg row csr">
			<article class="col-xs-12">
				<h3 class="title">Supplier Development</h3>
				<p>
					ASE believes proactively engaging in supplier development is the key to ensure the sustainable development of our supply chain. We provide trainings, workshops and seminars to strengthen suppliers' capabilities to face the ever-changing sustainable trends and to help build up suppliers' awareness and capabilities for enhancement of their sustainable practices.
				</p>

				<h4 class="sub-title">Green Supply Chain Program</h4>
				<div class="col-md-7" style="padding-left: 0">
					<p>
						ASE collaborated with universities and industry alliances to implement a three-year (2015~2017) Green Supply Chain Program to improve the sustainability performance of our suppliers and create sustainable value. ASE's Green supply chain promotion program includes the following aspects: "Driving Industrial Innovation", "Using Big Data Advanced Technology" and "Deepening Capability Building".
					</p>
					
				</div>
				<div class="col-md-5 picture-padding-2"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/supplier_development1.jpg"></div>
				<h4 class="sub-title">Supplier Sustainability Education and Training</h4>
				<p>
					To strengthen suppliers' ability to respond to global sustainability trends and risks, ASE organizes education and training on various sustainability issues and at multiple facilities to convey our requirements for supply chain management.
				</p>
			</article>
			<article class="col-xs-12">
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
					<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
								<span class="black-text-in-box accordion-center-text">Sustainable Development Forum</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>
						<div id="collapseOne" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<div class="col-md-8">
									<p>To assist suppliers to successfully integrate and respond to regulatory requirements, ASE Kaohsiung facility held a Sustainable Development Forum with a total of 63 suppliers participating. At the forum, issues related to greenhouse gas management regulations, business sustainability, etc. were shared among the suppliers. The forum covered: Taiwan's Greenhouse Gas Reduction, Explanation of Management Regulations and Industry Response, Enterprise Sustainability and Non-Financial Information Disclosure, and The Correlation between Risk Management and Corporate Social Responsibility.</p>
								</div>
								<div class="col-md-4"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/supplier_development2.jpg"></div>
							</div>
						</div>
	  				</div>

	  				<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
								<span class="black-text-in-box accordion-center-text">EICC Provisions Seminar</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>

						<div id="collapseTwo" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingTwo">
							<div class="panel-body">
								<div class="col-md-8">
									<p>In order to strengthen the implementation and practices of EICC Code of Conduct by suppliers, ASE Malaysia facility held a two-day seminar on EICC provisions, with a total of 160 suppliers, contractors, human resource and service contractors participating. Suppliers' awareness and implementation of EICC were enhanced through this training.</p>
								</div>
								<div class="col-md-4"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/supplier_development3.jpg"></div>
							</div>
						</div>
	  				</div>

	  				<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
								<span class="black-text-in-box accordion-center-text">Supplier Sustainability Seminar </span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>

						<div id="collapseThree" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingThree">
							<div class="panel-body">
								<div class="col-md-8">
									<p>In 2016, a total of 194 suppliers participated in four Supplier Sustainability Seminars held by USI in Zhangjiang, Shenzhen, Kunshan and Taiwan facilities. In these seminars, USI's requirements toward suppliers were introduced to ensure suppliers' understanding of and compliance with USI's sustainability management requirements, EICC provisions, USI's green product requirements, conflict minerals regulations and ASE Group Conflict Minerals Policy, Conflict Minerals Audits, and United Nations' 17 sustainable development goals (SDGs).</p>
								</div>
								<div class="col-md-4"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/supplier_development4.jpg"></div>
							</div>
						</div>
	  				</div>

	  				<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
								<span class="black-text-in-box accordion-center-text">Health and Safety Family Program</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>

						<div id="collapseFour" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingFour">
							<div class="panel-body">
								<div class="col-md-8">
									<p>In 2016, ASE Chungli facility held four sessions of contractor safety and health education training/ advocacy activities, including: advocacy of safety and health laws and regulations, advocacy of occupational disaster related legal responsibility, use and advocacy of protective equipment, and practical operation drills. ASE Chungli facility helps assist and guide the contractors to improve their working environment and enhance their concept of safety and health, through education and training and practical operations. In the future, the counseling targets of the project will continue to expand to eventually cover the suppliers.</p>
								</div>
								<div class="col-md-4"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/supplier_development5.jpg"></div>
							</div>
						</div>
	  				</div>
	  			</div>

				<h4 class="sub-title">ASE Best Supplier Awards Ceremony</h4>
				<div class="col-md-7" style="padding-left: 0">
					<p>
						At ASE Group's 2017 annual "Best Supplier Awards Ceremony", the theme of the ceremony was "Gear Towards a Sustainable World". It served to recognize and affirm the suppliers for their efforts in the previous year. In addition to "Best Supplier Award", the first "ASE Group Supplier Sustainability Award" was launched to highlight suppliers' excellent performance in sustainable development.
					</p>
				</div>
				<div class="col-md-5 picture-padding-2"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/supplier_development6.jpg"></div>
				<div class="clearfix"></div>
				<br>
				<div class="col-md-12 blue-box">
					<div class="col-md-7 nopadding">
						<h4 class="sub-title">ASE Group Supplier Sustainability Award</h4>
						<p>
							The "ASE Group Supplier Sustainability Award" was established as a new category in the "2017 Best Supplier Awards". The selection criteria follows international standards and initiatives outlined by the EICC Code of Conduct, CDP, UN Guiding Principles on Business and Human Rights, Declaration of Fundamental Principles and Rights at Work, and UN Universal Declaration of Human Rights, etc. A total of six elements were covered: sustainable management, supply chain management, environmental protection, occupational health and safety, labor rights and sustainability performance.<br><br>

							The "Supplier Sustainability Award" was designed to not only emphasize the importance and commitment of supply chain sustainable performance in ASE's purchasing policies but also to convey sustainability as a core value in an enterprise.
						</p>
					</div>
					<div class="col-md-5 nopadding"><br><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/supplier_development7.jpg"></div>
				</div>
			</article>
		</div>
		<br>
	</section>