﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-csr">
		<h1 class="page-title-csr title-large">CORPORATE SOCIAL RESPONSIBILITY</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->
	
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">Supply Chain Development Policy and Supplier CoC</h3>
				<h4 class="sub-title">ASE Group Purchasing and Supply Chain Development Policy</h4>
				<p>
					ASE Group is among the leading providers of semiconductor assembly and test services and a major consolidator of systems and converging technologies. It is therefore our responsibility to have a positive influence on the global electronics supply chain. We regard our suppliers as long-term partners and propose to establish together a sustainable supply chain network. We also dedicate ourselves to responsible sourcing and developing technological capabilities in supply chain in order to provide responsible and first-class services continuously to our customers.
				</p>
				ASE Group is committed to the following:
				<ul class="nopadding" style="padding-top:0;">
					<li>Taking proactive measures to ensure our purchasing practices are in compliance with the highest standards of professionalism and business ethics, abiding by all laws and regulations where we operate, and emphasizing fair competitions among suppliers and fair business between suppliers and ASE.</li>
					<li>Fully implementing green procurement and conducting purchasing activities in accordance with ASE’s conflict minerals policy and green product regulations.</li>
					<li>Building stable partnerships with suppliers, pursuing mutual benefits through full communications and collaborations while emphasizing risks and benefits sharing.</li>
					<li>Requiring suppliers to abide by all applicable laws and regulations, adhere to high standards of business ethics, safeguard human rights, attach great importance to physical safety and mental health of employees, protect the environment and use their best efforts to fulfill corporate social responsibility.</li>
					<li>Being actively engaged in supplier management and coaching to assist suppliers with continuous improvement in competitiveness, undertaking supplier risk assessments which include delivery, quality, cost, service, technology and sustainability as criteria, and incorporating the assessment results into ASE’s purchase decisions. Any supplier still unable to meet ASE’s standards after receiving coaching will be replaced by an alternative supplier after full communication.</li>
					<li>Integrating green product design into customers’ requirements as well as collaborating with customers and suppliers on developing innovative materials and equipment with an aim to advance technologies and enhance competitiveness in the whole supply chain network.</li>
				</ul>
				<div><a href="http://www.aseglobal.com/en/Csr/ASE_Group_Purchasing_Supply_Chain_Development_Policy_2016.pdf" target="_blank"><div class="circle_button darkgray facilities-circle-button"><i class="icon-arrow-right facilities-icon-arrow-right"></i></div> ASE Group Purchasing and Supply Chain Development Policy</a></div>
				<br>
				<p>
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/ss_lee_signature.jpg" height="30"><br>
					SS Lee<br>
					General Manager of Group Procurement
				</p>
			</article>
			<article class="col-xs-12">
				<h4 class="sub-title">ASE Supplier Code of Conduct</h4>
				<div class="col-sm-4 pull-right">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/supply_chain_development_policy_and_supplier_coc.png"><br><br>
				</div>

				<div class="col-sm-8" style="padding: 0">
					<p>
						We, Advanced Semiconductor Engineering, Inc., its subsidiaries and affiliates (collectively, “ASE”), being a responsible corporate citizen, have taken proactive measures to ensure the highest standards of professional and ethical business conducts. We believe that ASE’s long-term operation and success shall reply on the corporate sustainability and realization of corporate social responsibilities. Since the supply chain is a critical extension of ASE’s business value chain, we are actively devoted to developing supply chain to ensure that our suppliers, contractors, service providers and subcontractors (collectively, “Suppliers”) collectively achieve the goal of sustainability.<br><br>

						In order to ensure that working conditions in the supply chain are safe, that workers are treated with respect and dignity, and business operations are environmentally responsible and conducted ethically, ASE, by taking UN Guiding Principles on Business and Human Rights, Declaration of Fundamental Principles and Rights at Work and UN Universal Declaration of Human Rights as reference, enacts this Supplier Code of Conduct (“Code”) which follows ASE Group Code of Business Conduct and Ethics as well as the Electronic Industry Citizenship Coalition Code of Conduct (“EICC”), and requires Suppliers’ business conducts with respect to labor, health and safety, environmental, business ethics and the management system to strictly comply with the Code as well as laws and regulations of countries/area where your operations exist.<br><br>

						The Code consists of five sections. Sections A, B, and C outline tenets for Labor, Health and Safety, and the Environment, respectively; Section D sets forth tenets for business ethics; and Section E outlines the elements necessary to an appropriate management system to implement this Code.<br>

	          			<div><a href="http://www.aseglobal.com/en/Csr/ASE_SupplierCodeofConduct_062017V3.pdf" target="_blank"><div class="circle_button darkgray facilities-circle-button"><i class="icon-arrow-right facilities-icon-arrow-right"></i></div> ASE Supplier Code of Conduct (full copy of the Code)</a></div>
	      			</p>
      			</div>
			</article>
		</div>
	</section>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script>
	$(document).ready(function(){
	    $('[data-toggle="popover"]').popover();   
	});
	</script>