﻿@using web.Models;
@using web.Common;
@model List<blog_dtl>
@if (Model.Count() > 0)
{
    foreach (blog_dtl item in Model)
    {
        var blogUrl = String.Format("/{0}/blog/{1}", ViewBag.language.lang, item.blog.urlid);
        <div class="col-sm-6 col-md-4 moving-arrow block_shadow">
            @if (item.blog.urlid == null)
            {
                <a class="link-block" href="@Url.Action("csr_blog_content", "CSR", new {lang = ViewBag.language.lang, param1="" ,  blogid =item.blog.id})">
                    <img src="@(item.blog.picurl)" class="block_img"><br>
                    <h3 class="block_title">@(item.title)</h3>
                    <h5 class="block_brief">@(item.contenttext)</h5>
                </a>
                <div style="height: 40px;">
                    <a class="link-block block_author" href="@Url.Action("csr_blog_author", "CSR", new {lang = ViewBag.language.lang, param1="" ,  authorid =item.blog.blog_author.id})">@(item.blog.blog_author.blog_author_dtl.Where(u => u.lang == ViewBag.language.lang).FirstOrDefault().name)</a>
                    <span class="block_date">@(Convert.ToDateTime(item.blog.apply_date).ToShortDateString())</span>
                    <a class="link-block block_type" href="@Url.Action("csr_blog", "CSR", new { lang = ViewBag.language.lang, param1 = "", authorid = 0, typeid = item.blog.typeid, pagesize = 0, pageno = 0, keyword = "" })">@Html.Raw(Json.Decode(item.blog.blog_type.name)[ViewBag.language.lang])</a>
                    <div class="circle_button darkgray block_arrow">
                        <a class="link-block" href="@Url.Action("csr_blog_content", "CSR", new {lang = ViewBag.language.lang, param1="" , blogid =item.blog.id})">
                            <i class="icon-arrow-right"></i>
                        </a>

                    </div>
                </div>
            }
            else
            {
                 <a class="link-block linkcontent" href="@blogUrl" rel="@(item.blog.urlid)">
                    <img src="@(item.blog.picurl)" class="block_img"><br>
                    <h3 class="block_title">@(item.title)</h3>
                    <h5 class="block_brief">@(item.contenttext)</h5>
                </a>
                <div style="height: 40px;">
                    <a class="link-block block_author" href="@Url.Action("csr_blog_author", "CSR", new {lang = ViewBag.language.lang, param1="" ,  authorid =item.blog.blog_author.id})">@(item.blog.blog_author.blog_author_dtl.Where(u => u.lang == ViewBag.language.lang).FirstOrDefault().name)</a>
                    <span class="block_date">@(Convert.ToDateTime(item.blog.apply_date).ToShortDateString())</span>
                    <a class="link-block block_type linktype" rel="@item.blog.typeid" href="javascript:void(0)">@Html.Raw(Json.Decode(item.blog.blog_type.name)[ViewBag.language.lang])</a>
                    <div class="circle_button darkgray block_arrow">
                        <a class="link-block linkcontent" rel="@(item.blog.urlid)" href="@blogUrl">
                            <i class="icon-arrow-right"></i>
                        </a>

                    </div>
                </div>
            }

        </div>
    }
}
else if (ViewBag.allblogcnt == 0 && !ViewBag.isbottom)
{
    <tr>
        <td colspan="6" align="center">Empty</td>
    </tr>
}

    <script>
    $("a.linkcontent").click(function (e) {
        //console.log($(this).attr("rel"))
        //var url = window.location.origin + window.location.pathname.substring(0, 3) + "/blog/" + $(this).attr("rel");
        //window.location.href = url;
    })
    $("a.linktype").click(function (e) {
        var url = window.location.origin + window.location.pathname.substring(0, 3) + "/blog?typeid=" + $(this).attr("rel");
        window.location.href = url;
    })
    </script>