﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
    ViewBag.Title = "Social Involvement";
    ViewBag.zhURL = "/ch/csr/corporate_citizenship_social_involvement";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-csr">
		<h1 class="page-title-csr title-large">SUSTAINABILITY</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/csr"><span itemprop="name">Sustainability</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/csr/corporate_citizenship_social_involvement"><span itemprop="name">Social Involvement</span></a>
					<meta itemprop="position" content="2" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->
	
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">Social Involvement</h3>
				<p>
					ASE Group is committed to devote ourselves to the community through charity, education and social work which optimize resource allocation and maximize social influences.<br><br>

					ASE continuously engages with local communities, NGOs, government, industry, academic and other stakeholders in strategic ways to establish trust and obtain direct input to support social development, while achieving corporate and societal value. At the same time, we strive to facilitate public advocacy related to our core business and sustainable development to promote a positive corporate image and create a meaningful influence to society.<br><br>

					ASE's social involvement strategy focuses on four aspects: "environment conservation", "industry-academia collaboration", "community engagement" and "public advocacy". The "Social Involvement Taskforce" is established under the "Corporate Sustainability Committee" to promote social involvement and related initiatives within the Group. The taskforce also reviews each development aspect's related inputs, benefits and impacts in accordance with the London Benchmark Group (LBG) mode.
				</p>
				<h4 class="sub-title">
					ASE Group Public Affairs Engagement Policy
				</h4>
				<p>
					As an international corporate citizen, ASE endeavours to advance public welfare while devoting ourselves to conducting stable business operations and managing shareholder returns. We seek to effect positive change and impact across the globe society.<br><br>

					Therefore, we are committed to ensuring that any contributions or spending regarding public affairs we make are:
					<ul class="nopadding">
						<li>For the purpose of supporting public affairs or promoting public policies</li>
						<li>In compliance with all applicable accounting principles and laws and regulations of countries in which we operate</li>
						<li>Adequately disclosed in accordance with applicable laws and regulations and reporting requirements</li>
						<li>In accordance with our relevant ethical policies and specifications</li>
					</ul>
					And the organizations that ASE supports are limited to those:
					<ul class="nopadding">
						<li>Have a consistent view with ASE on the core business and sustainable development relevant issues that ASE cares about</li>
						<li>Provide venues for discussion regarding public policy issues and advocate for common business interests</li>
					</ul>
				</p>
			</article>
		</div>
	</section>

	<section class="csr-bg">
		<div class="content-lg row">
			<div class="col-sm-12 col-md-10 col-md-offset-1">
				<div class="col-sm-6 text-center moving-arrow">
					<a class="link-block" href="@Url.Action("social_involvement", "CSR", new { lang = ViewBag.language.lang, param1 = "environmental_conservation" })">
						<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/corporate_citizenship_and_social_involvement1.jpg" class="navbar-btn"><br>
						Environmental Conservation<br>
						<div class="circle_button darkgray margin-top-5"><i class="icon-arrow-right"></i></div>
					</a><br>
				</div>
				<div class="col-sm-6 text-center moving-arrow">
					<a class="link-block" href="@Url.Action("social_involvement", "CSR", new { lang = ViewBag.language.lang, param1 = "industry-academic_collaboration" })">
						<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/corporate_citizenship_and_social_involvement2.jpg" class="navbar-btn"><br>
						Industry-Academic<br>
						<div class="circle_button darkgray margin-top-5"><i class="icon-arrow-right"></i></div>
					</a><br>
				</div>
			</div>
			<div class="col-sm-12 col-md-10 col-md-offset-1">
				<div class="col-sm-6 text-center moving-arrow">
					<a class="link-block" href="@Url.Action("social_involvement", "CSR", new { lang = ViewBag.language.lang, param1 = "community_engagement" })">
						<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/corporate_citizenship_and_social_involvement3.jpg" class="navbar-btn"><br>
						Community<br>
						<div class="circle_button darkgray margin-top-5"><i class="icon-arrow-right"></i></div>
					</a>
				</div>
				<div class="col-sm-6 text-center moving-arrow">
					<a class="link-block" href="@Url.Action("social_involvement", "CSR", new { lang = ViewBag.language.lang, param1 = "public_advocacy" })">
						<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/corporate_citizenship_and_social_involvement4.jpg" class="navbar-btn"><br>
						Public Advocacy<br>
						<div class="circle_button darkgray margin-top-5"><i class="icon-arrow-right"></i></div>
					</a>
				</div>
			</div>
		</div>
	</section>
	<section class="csr-news" style="background-image: url('https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/social_involvement_bt-bg.jpg');">
        <div class="content-lg row">
            <div class="col-xs-12">
                <div class="content col-sm-6" style="background: rgba(255, 255, 255, 0.7);">
                    <a href="https://www.aseepsfund.org.tw/" target="_blank" style="padding-bottom: 10px;">
                        <div class="textbox">
                            <p style="font-size: 18px;" class="text-center"><b>ASE Environmental Protection<br>and Sustainability Foundation</b></p>
                        </div>
                        <div class="circle_button-wrapper">
                            <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                        </div>
                    </a>
                </div>
                <div class="content col-sm-6" style="background: rgba(255, 255, 255, 0.7);">
                    <a href="http://www.asefund.org.tw/" target="_blank" style="padding-bottom: 10px;">
                        <div class="textbox">
                            <p style="font-size: 18px;" class="text-center"><b>ASE Cultural &amp; Educational Foundation<br>&nbsp;</b></p>
                        </div>
                        <div class="circle_button-wrapper">
                            <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                        </div>
                    </a>
                </div>
                <div class="content col-sm-6" style="background: rgba(255, 255, 255, 0.7);">
                    <a href="http://www.warmer.com.tw/default1.asp" target="_blank" style="padding-bottom: 10px;">
                        <div class="textbox">
                            <p style="font-size: 18px;" class="text-center"><b>ASE Charitable Foundation<br>&nbsp;</b></p>
                        </div>
                        <div class="circle_button-wrapper">
                            <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                        </div>
                    </a>
                </div>
                <div class="content col-sm-6" style="background: rgba(255, 255, 255, 0.7);">
                    <a href="https://www.asemama.org/" target="_blank" style="padding-bottom: 10px;">
                        <div class="textbox">
                            <p style="font-size: 18px;" class="text-center"><b>Chang Yao Hong-Ying Social Welfare<br>& Charity Foundation</b></p>
                        </div>
                        <div class="circle_button-wrapper">
                            <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script>
	$(document).ready(function(){
	    $('[data-toggle="popover"]').popover();   
	});
	</script>
	<style>
        .csr-news .content a:hover{
            background-color: #ffb95f;
        }
    </style>