﻿@using web.Models;
@using web.Common;
@using System.Globalization;
@model csr_news
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
    ViewBag.Title = "Sustainability";
}
<!-- page Banner -->
<section id="page-vision" class="page-banner-s banner-csr">
    <h1 class="page-title-csr title-large">SUSTAINABILITY</h1>
</section>

<!--breadcrumbs-->
<div class="content-lg row">
    <div class="col-xs-12">
        <ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
            <!-- Project-B Fix, Apply New Breadcrumb -->
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
                <meta itemprop="position" content="0" />
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="/en/csr"><span itemprop="name">Sustainability</span></a>
                <meta itemprop="position" content="1" />
            </li>
        </ol>
    </div>
</div>

    <!-- Project-B Fix, Remove Old Breadcrumb -->

<!-- CSR list -->
<section class="inside-article">
    <div class="content-lg row">
        <article class="col-xs-12">
            <p>
                While we continue to strengthen our competitive position, we are also actively fulfilling our corporate social responsibility through multi-faceted sustainability programs. The spirit of CSR is firmly embedded into our corporate culture and forms a significant part of our employees’ everyday lives. We connect with external stakeholders to form an ever-expanding virtuous cycle that helps our business partners understand the culture of sustainability at ASE. We have set a 30-year time frame to advance our sustainability development and continually examine the innovativeness of our plans throughout the process. The core values of ASE's social responsibility are predicated upon these integrated efforts that achieve maximum synergy and keep pace with the times.
            </p>
        </article>
    </div>
</section>
<section id="iconlink" class="iconlink linebg-2">
    <div class="content-lg">
        <ul class="row row_padding_0 item-csr">
            <li class="col-xs-12 col-sm-6 col-md-4 text-center">
                <a href="@Url.Action("sustainability_governance", "CSR", new { lang = ViewBag.language.lang })">
                    <div class="imgbox">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/csr_icon-04.png" alt="Sustainability Governance" data-hover="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/csr_icon-04_hover.png">
                    </div>
                    <div class="textbox">
                        <h4>Sustainability Governance</h4>
                            <div class="text" style="height: 92px;">
                                <p>ASE has taken proactive measures to ensure the highest standards of professional and ethical business conduct.</p>
                            </div>
                    </div>
                    <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                </a>
            </li>
            <li class="col-xs-12 col-sm-6 col-md-4 text-center">
                <a href="/public/en/csr/environment_green_innovation.html">
                    <div class="imgbox">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/csr_icon-10.png" alt="Environment and Green Innovation" data-hover="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/csr_icon-10_hover.png">
                    </div>
                    <div class="textbox">
                            <h4>Environment and Green Innovation</h4>
                            <div class="text" style="height: 92px;">
                                <p>ASE strives to develop and promote a green concept in all facets of its enterprise, and we are committed to ensuring the protection of the earth.</p>
                            </div>
                    </div>
                    <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                </a>
            </li>
            <li class="col-xs-12 col-sm-6 col-md-4 text-center">
                <a href="@Url.Action("Employee_Care_Development", "CSR", new { lang = ViewBag.language.lang })">
                    <div class="imgbox">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/csr_icon-05.png" alt="Employee Care and Development" data-hover="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/csr_icon-05_hover.png">
                    </div>
                    <div class="textbox">
                        <h4>Employee Care & Development</h4>
                            <div class="text" style="height: 92px;">
                                <p>We respect human rights of our employees and we strive to provide and maintain a safe, comfortable, healthy and productive workplace for our employees.</p>
                            </div>
                        
                    </div>
                    <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                </a>
            </li>
            <li class="col-xs-12 col-sm-6 col-md-4 text-center">
                <a href="@Url.Action("Supply_Chain_Development", "CSR", new { lang = ViewBag.language.lang, param1 = "" })">
                    <div class="imgbox">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/csr_icon-13.png" alt="Supply Chain Management" data-hover="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/csr_icon-13_hover.png">
                    </div>
                    <div class="textbox">
                        <h4>Supply Chain Development</h4>
                            <div class="text" style="height: 92px;">
                                <p>We are actively involved in the sustainable development of our supply chain to ensure that our tier 1 suppliers and contractors provide high-quality products and services to ASE in a sustainable, ethical and responsible fashion.</p>
                            </div>
                    </div>
                    <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                </a>
            </li>
            <li class="col-xs-12 col-sm-6 col-md-4 text-center">
                <a href="@Url.Action("Corporate_Citizenship_Social_Involvement", "CSR", new { lang = ViewBag.language.lang })">
                    <div class="imgbox">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/csr_icon-12.png" alt="Social Involvement" data-hover="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/csr_icon-12_hover.png">
                    </div>
                    <div class="textbox">
                        <h4>Social Involvement</h4>
                            <div class="text" style="height: 92px;">
                                <p>ASE continuously engages with local communities, NGOs, government, industry, academic and other stakeholders in strategic ways to establish trust and obtain direct input to support social development, while achieving corporate and societal value.</p>
                            </div>
                    </div>
                    <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                    
                </a>
            </li>
            <li class="col-xs-12 col-sm-6 col-md-4 text-center">
                <a href="@Url.Action("Downloads", "CSR", new { lang = ViewBag.language.lang })">
                    <div class="imgbox">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/csr_icon-06.png" alt="CSR Reports Downloads" data-hover="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/csr_icon-06_hover.png">
                    </div>
                    <div class="textbox">
                        <h4>CSR Report &amp; Video Downloads</h4>
                        <div class="text" style="height: 92px;">
                            <p>Read and download the CSR report. Watch and download ASE sustainability video</p>
                        </div>
                    </div>
                    <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                </a>
            </li>
        </ul>
    </div>
</section>
<section class="csr-bg">
    <div class="content-lg row">
        <div class="col-sm-4 text-center moving-arrow">
            <a class="link-block" href="https://www.aseglobal.com/csr/" target="_blank">
                <img src="/pic/public/frontend/images/csr/icon-aseh-csr.jpg" class="navbar-btn">
                <br>
                <div style="position:absolute; left: 0; right: 0; bottom: 0; margin: 7px 20px; padding: 10px; background-color: rgba(0, 0, 0, 0.3);">
                    <h4 style="color: #fff;">ASE Technology Holding<br />Corporate Social Responsibility</h4>
                    <div class="circle_button darkgray" style="background-color: rgba(255, 255, 255, 0.8);"><i class="icon-arrow-right" style="color: rgba(0, 0, 0, 1.0);"></i></div>
                </div>
            </a>
        </div>
        <div class="col-sm-4 text-center moving-arrow">
            <a class="link-block" href="https://www.aseepsfund.org.tw/" target="_blank">
                <img src="https://3711cdn.r.worldssl.net/wp-content/themes/ase-3711/theme/img/pic/pic-home-environmental-protection-and-sustainability-foundation.jpg" class="navbar-btn">
                <br>
                <div style="position:absolute; left: 0; right: 0; bottom: 0; margin: 7px 20px; padding: 10px; background-color: rgba(0, 0, 0, 0.3);">
                    <h4 style="color: #fff;">ASE Environmental Protection<br />and Sustainability Foundation</h4>
                    <div class="circle_button darkgray" style="background-color: rgba(255, 255, 255, 0.8);"><i class="icon-arrow-right" style="color: rgba(0, 0, 0, 1.0);"></i></div>
                </div>
            </a>
        </div>
        <div class="col-sm-4 text-center moving-arrow">
            <a class="link-block" href="http://www.asefund.org.tw/" target="_blank">
                <img src="https://3711cdn.r.worldssl.net/wp-content/themes/ase-3711/theme/img/pic/pic-home-ase-cultural-educational-foundation.jpg" class="navbar-btn">
                <br>
                <div style="position:absolute; left: 0; right: 0; bottom: 0; margin: 7px 20px; padding: 10px; background-color: rgba(0, 0, 0, 0.3);">
                    <h4 style="color: #fff;">ASE Cultural and Educational<br />Foundation</h4>
                    <div class="circle_button darkgray" style="background-color: rgba(255, 255, 255, 0.8);"><i class="icon-arrow-right" style="color: rgba(0, 0, 0, 1.0);"></i></div>
                </div>
            </a>
        </div>
        <div class="col-sm-4 col-sm-offset-2 text-center moving-arrow">
            <a class="link-block" href="https://www.asemama.org/" target="_blank">
                <img src="https://3711cdn.r.worldssl.net/wp-content/themes/ase-3711/theme/img/pic/pic-home-chang-yao-hong-ying-foundation.jpg" class="navbar-btn">
                <br>
                <div style="position:absolute; left: 0; right: 0; bottom: 0; margin: 7px 20px; padding: 10px; background-color: rgba(0, 0, 0, 0.3);">
                    <h4 style="color: #fff;">Chang Yao Hong-Ying<br />Social Welfare & Charity Foundation</h4>
                    <div class="circle_button darkgray" style="background-color: rgba(255, 255, 255, 0.8);"><i class="icon-arrow-right" style="color: rgba(0, 0, 0, 1.0);"></i></div>
                </div>
            </a>
        </div>
        <div class="col-sm-4 text-center moving-arrow">
            <a class="link-block" href="http://www.warmer.com.tw/default1.asp" target="_blank">
                <img src="https://3711cdn.r.worldssl.net/wp-content/themes/ase-3711/theme/img/pic/pic-home-charity-foundation.jpg" class="navbar-btn">
                <br>
                <div style="position:absolute; left: 0; right: 0; bottom: 0; margin: 7px 20px; padding: 10px; background-color: rgba(0, 0, 0, 0.3);">
                    <h4 style="color: #fff;">ASE Charity Foundation</h4>
                    <div class="circle_button darkgray" style="background-color: rgba(255, 255, 255, 0.8);"><i class="icon-arrow-right" style="color: rgba(0, 0, 0, 1.0);"></i></div>
                </div>
            </a>
        </div>
    </div>
</section>

<!-- CSR News list -->
<!--<section class="csr-news">
    <div class="content-lg row">
        <div class="col-xs-12">
            <div class="list">
                <h4 class="text-center">
                    CSR News<a href="@Url.Action("news", "CSR")" class="circle_button"><i class="icon-cross"></i></a>
                </h4>
                @if (Model != null && Model.id > 0)
                {
                    string culture = ViewBag.language.lang == "tw" ? "zh-tw" : "en-US";
                    DateTime date = new DateTime(Model.publish_date.Value.Year, Model.publish_date.Value.Month, Model.publish_date.Value.Day);
                    <div class="content">
                        <a href="@Url.Action("csr_news_details", "CSR", new { param1 = Model.id })">
                            <div class="textbox">
                                <p class="date">@date.ToString("MMM dd, yyyy", CultureInfo.CreateSpecificCulture(culture))</p>
                                <p class="title">@Model.title</p>
                                <p class="text">@Html.Raw(Model.brief)</p>
                            </div>
                            <div class="circle_button-wrapper">
                                <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                            </div>
                        </a>
                    </div>
                }
                    <div class="content">
                        <a href="@Url.Action("news", "CSR")">
                            <div class="textbox">
                                <p class="title">ASE Technology Holding Named 2020 Industry Leader in the Dow Jones Sustainability Indices</p>
                                <p class="text">ASE has once again been included in the 2020 Dow Jones Sustainability Indices (DJSI) World and the Emerging Market segments. For the fifth year in a row, ASE was also named the industry leader in the Semiconductors and Semiconductor Equipment Industry Group, which demonstrates our achievement in environment, social and governance aspects.</p>
                            </div>
                            <div class="circle_button-wrapper">
                                <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                            </div>
                        </a>
                    </div>
            </div>
        </div>
    </div>
</section>-->
<style>
    .csr-news{padding:20px 0;}
    .csr-news .content-lg.row{margin-top: 20px;}
</style>
