﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
    ViewBag.Title = "Supply Chain";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-csr">
		<h1 class="page-title-csr title-large">SUSTAINABILITY</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/csr"><span itemprop="name">Sustainability</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/csr/supply_chain_development"><span itemprop="name">Supply Chain Development</span></a>
					<meta itemprop="position" content="2" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->
	<!-- Letter from the Chairman -->
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">Supply Chain Development</h3>
				<p>
					Our supply chain is a critical extension of the ASE value chain. We are actively involved in the sustainable development of our supply chain to ensure that our tier 1 suppliers and contractors provide high-quality products and services to ASE in a sustainable, ethical and responsible fashion.<br><br>

                    ASE works closely with its supply chain partners to enable a sustainable operation that contributes to positive impacts to the environment and the community. Through its sustainable supply chain management, ASE ensures that its suppliers are respectful of human rights, conscientious of conflict metal sourcing and conduct their operations in a safe, ethical and responsible environment.<br><br>

                    ASE believes in combining proactivity, mutual trust, integrity and introspection for corporate growth. We maintain strict criteria in our supplier selection process, procurement strategy, supplier and goods consolidation, and standardize our procurement process by leveraging resources from across the organization. ASE deploys a value-oriented approach to educate our suppliers on the supplier code of conduct. This approach drives suppliers to attach greater importance to sustainability issues while pursuing innovation for the benefit of the industry. Supply chain management is an important function within an enterprise and we are doubling our efforts not only on upholding an incorruptible supply chain, but also on formulating supply chain strategies in support of customers’ needs and demands for green solutions. As a leading semiconductor service provider, ASE is in a unique position to play an active role to drive win-win strategies with its supply partners to meet sustainability goals in human rights, responsible sourcing, environmental protection and corporate compliance.

				</p>
			</article>
		</div>
	</section>

	<section class="csr-bg">
		<div class="content-lg row">
            <div class="col-sm-4 text-center moving-arrow">
                <a class="link-block" href="/en/csr/supply_chain_development/supplier_development">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/supply_chain_development3.jpg" class="navbar-btn"><br>
                    Supply Chain Management<br>
                    <div class="circle_button darkgray margin-top-5"><i class="icon-arrow-right"></i></div>
                </a>
            </div>
			<div class="col-sm-4 text-center moving-arrow">
				<a class="link-block" href="/en/csr/supply_chain_development/supplier_sustainability_management">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/supply_chain_development2.jpg" class="navbar-btn"><br>
					Supplier Sustainability<br>
					<div class="circle_button darkgray margin-top-5"><i class="icon-arrow-right"></i></div>
				</a><br>
			</div>
			<div class="col-sm-4 text-center moving-arrow">
				<a class="link-block" href="/en/csr/supply_chain_development/conflict_minerals_compliance">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/supply_chain_development4.jpg" class="navbar-btn"><br>
					Conflict Minerals Policy<br>
					<div class="circle_button darkgray margin-top-5"><i class="icon-arrow-right"></i></div>
				</a>
			</div>
		</div>
	</section>