﻿@using web.Models;
@using System.Globalization;
@model csr_news
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";

    csr_news prev = ViewBag.prev;
    csr_news next = ViewBag.next;
}
<!-- page Banner -->
<section id="page-vision" class="page-banner-s banner-csr">
    <div class="">
        <h1 class="page-title title-large ">CSR News</h1>
        <p>Towards a Sustainable Future</p>
    </div>
</section>

<!--breadcrumbs-->
<div class="content-lg row">
    <div class="col-xs-12">
        <ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
        </ol>
    </div>
</div>

<!-- CSR News -->
<section class="page-list-content">
    <div class="content-lg row">
        <ul class="col-xs-12 list-base list-timetip-line">
            <li>
                @{ 
                    string culture = ViewBag.language.lang == "tw" ? "zh-tw" : "en-US";
                    DateTime date = new DateTime(Model.publish_date.Value.Year, Model.publish_date.Value.Month, Model.publish_date.Value.Day);
                }
                <div class="date">@date.ToString("MMM dd, yyyy", CultureInfo.CreateSpecificCulture(culture))</div>
                <div class="text-box">
                    <h4 class="title blue-text">@Model.title</h4>
                    <p>
                        @Html.Raw(Model.contents)
                    </p>
                </div>
            </li>

        </ul>

        <div class="news-details-bottom">
            <div class="col-sm-6">
                @if (prev != null && prev.id > 0)
                {
                    <a class="link-block" href="@Url.Action("csr_news_details", "CSR", new { param1 = prev.id, lang = ViewBag.language.lang})">
                        <div class="circle_button darkgray news-details-left-arrow"><i class="icon-arrow-left"></i></div>
                        <div class="news-details-orange-text">PREV NEWS</div>
                        <p class="text-left">@prev.title</p>
                    </a>
                }
            </div>
            <div class="col-sm-6">
                @if (next != null && next.id > 0)
                {
                    <a class="link-block" href="@Url.Action("csr_news_details", "CSR", new { param1 = next.id, lang = ViewBag.language.lang})">
                        <div class="circle_button darkgray news-details-right-arrow"><i class="icon-arrow-right"></i></div>
                        <div class="news-details-orange-text news-details-right-text">NEXT NEWS</div>
                        <p class="news-details-right-text">@next.title</p>
                    </a>
                }
            </div>
        </div>

    </div><br>
</section>