﻿@using web.Models;
@using System.Globalization;
@model List<csr_news>
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
    List<int> year_list = ViewBag.year_list;
}
<!-- page Banner -->
<section id="page-vision" class="page-banner-s banner-csr">
    <div class="">
        <h1 class="page-title title-large ">CSR News</h1>
        <p>Towards a Sustainable Future</p>
    </div>
</section>

<!--breadcrumbs-->
<div class="content-lg row">
    <div class="col-xs-12">
        <ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
        </ol>
    </div>
</div>

<!-- List Search -->
<section class="list-search">
    <div class="content-lg row">
        <form action="@Url.Action("csr_news_list", "CSR")" method="get">
            @Html.AntiForgeryToken()
            <div class="search-group col-xs-6 col-md-3">
                <select name="year" id="" class="form-control">
                    <option value="0">Select Year</option>
                    @if (year_list.Count > 0)
                    {
                        foreach (int year in year_list)
                        {
                            <option value="@year" @(ViewBag.year == year ? "selected" : "")>@year</option>
                        }
                    }
                </select>
                <span class="glyphicon glyphicon-triangle-bottom"></span>
            </div>
            <div class="search-group col-xs-6 col-md-3">
                <input type="text" class="form-control" id="" placeholder="Search" name="title" value="@ViewBag.title">
                <button class="" type="submit"><i class="icon-search"></i></button>
            </div>
        </form>
    </div>
</section>

<!-- CSR News list -->
<section class="page-list-content">
    <div class="content-lg row">
        @if (Model.Count > 0)
        {
            string culture = ViewBag.language.lang == "ch" ? "zh-ch" : "en-US";
            <ul class="col-xs-12 list-base list-timetip-line">
                @foreach (csr_news item in Model)
                {
                    DateTime date = new DateTime(item.publish_date.Value.Year, item.publish_date.Value.Month, item.publish_date.Value.Day);
                    <li>
                        <div class="date">@date.ToString("MMM dd, yyyy", CultureInfo.CreateSpecificCulture(culture))</div>
                        <div class="text-box">
                            <h4 class="title">@item.title</h4>
                            <p>@Html.Raw(item.brief) For more information, please visit <a href="@Url.Action("csr_news_details", "CSR", new { param1 = item.id })" target="_blank">related link</a>.</p>
                        </div>
                    </li>
                }
            </ul>
        }
    </div>
    <!-- Loader -->
    <div id="news-loader" class="loader text-center">
        <span>loading more news...</span>
        <ul> <li id='a'></li> <li id='b'></li> <li id='c'></li> <li id='d'></li> <li id='e'></li> <li id='f'></li> <li id='g'></li> <li id='h'></li> <li id='i'></li> </ul>
    </div>
</section>