﻿@using web.Models;
@model List<csr_report>
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
    ViewBag.Title = "CSR Report Downloads";
}
<!-- page Banner -->
<section id="page-vision" class="page-banner-s banner-csr">
    <h1 class="page-title-csr title-large">SUSTAINABILITY</h1>
</section>

<!--breadcrumbs-->
<div class="content-lg row">
    <div class="col-xs-12">
        <ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
			<!-- Project-B Fix, Apply New Breadcrumb -->
			<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
				<meta itemprop="position" content="0" />
			</li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="/en/csr"><span itemprop="name">Sustainability</span></a>
                <meta itemprop="position" content="1" />
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="/en/csr/downloads"><span itemprop="name">CSR Report & Video Downloads</span></a>
                <meta itemprop="position" content="2" />
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="/en/csr"><span itemprop="name">CSR Report Downloads</span></a>
                <meta itemprop="position" content="3" />
            </li>
        </ol>
    </div>
</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->
<section class="inside-article">
    <div class="content-lg row">
		<article class="col-xs-12">
            <h3 class="title">CSR Report Downloads</h3>
            <p>
                Advanced Semiconductor Engineering, Inc (commonly referred to as ‘ASE’) is a legal entity wholly owned by ASE Technology Holding Co., Ltd since 2018. Please visit <a href="https://www.aseglobal.com/csr-download/" target="_blank">https://www.aseglobal.com/csr-download/</a> for the latest CSR Report.
            </p>
		</article>
        @if (Model.Count > 0)
        {
            foreach (csr_report item in Model)
            {
                <div class="col-sm-6 col-md-4 padding-bottom40 text-center">
                    @*<a href="@Url.Action("Download", "CSR", new { param1 = item.id })" class="link-block" data-id="@item.id">*@
                    <a href="@ViewBag.media_bank_path@item.filename" class="link-block download_btn" data-id="@item.id" target="_blank">
                        <img src="@ViewBag.media_bank_path@item.img_filename">
                        <p class="reports">
                            <br>
                            @item.title<br></p>
                            <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                        
                    </a>
                </div>
            }
        }
    </div>
</section>

<!-- Modal -->
<div class="modal modal2 fade" id="csrModal" tabindex="-1" role="dialog" aria-labelledby="csrModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog2">
        <div class="modal-content">
            <div class="modal-body text-center">
                Thank you for your interest in our CSR reports.
                Would you be willing to tell us more about the sustainability issues you concerned?<br><br>
                <div class="moving-arrow">
                    <a class="link-block" href="@Url.Action("csr_report_questionnaire", "CSR", new { lang = ViewBag.language.lang })" target="_blank">
                        Yes, I' ll take the survey<br>
                        <div class="circle_button darkgray margin-top-5"><i class="icon-arrow-right"></i></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>