﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
    ViewBag.Title = "CSR Video Downloads";
}

<!-- page Banner -->
<section id="page-vision" class="page-banner-s banner-csr">
    <h1 class="page-title-csr title-large">SUSTAINABILITY</h1>
</section>

<!--breadcrumbs-->
<div class="content-lg row">
    <div class="col-xs-12">
        <ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
			<!-- Project-B Fix, Apply New Breadcrumb -->
			<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
				<meta itemprop="position" content="0" />
			</li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="/en/csr"><span itemprop="name">Sustainability</span></a>
                <meta itemprop="position" content="1" />
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="/en/csr/downloads"><span itemprop="name">CSR Report & Video Downloads</span></a>
                <meta itemprop="position" content="2" />
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="/en/csr/downloads"><span itemprop="name">CSR Video Downloads</span></a>
                <meta itemprop="position" content="3" />
            </li>
        </ol>
    </div>
</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->
<section class="inside-article">
    <div class="content-lg row">
        <div class="col-xs-12">
            <h3 class="title">CSR Video Downloads</h3>
        </div>
    </div>
</section>
<br>
<section class="inside-article">
    <div class="content-lg row">
			
        <div class="col-md-4">
            <div class="video">
                <a href="~/public/frontend/videos/ASE_Sustability_EN_20171113_final.html" data-toggle="lightbox" data-type="vimeo" data-title="ASE Corporate Sustainability Development">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/video1.jpg" width="100%">
                    <span class="glyphicon glyphicon-play-circle play-icon" aria-hidden="true"></span>
                </a>
            </div>
            <h4 class="text-left" style="font-weight: bold;">ASE Corporate Sustainability Development</h4>
            <p class="text-left">ASE’s efforts and performance on water management, green buildings, green supply chain, employee care and social engagement for corporate sustainability development.</p>
        </div>

        <div class="col-md-4">
            <div class="video">
                <a href="~/public/frontend/videos/ASE_Sustability_2_EN_20180321_final.html" data-toggle="lightbox" data-type="vimeo" data-title="ASE Sustainability Strategy">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/video2.jpg" width="100%">
                    <span class="glyphicon glyphicon-play-circle play-icon" aria-hidden="true"></span>
                </a>
            </div>
            <h4 class="text-left"style="font-weight: bold;">ASE Sustainability Strategy</h4>
            <p class="text-left">ASE’s vision and action for sustainable future development.</p>
        </div>

        <div class="col-md-4">
            <div class="video">
                <a href="~/public/frontend/videos/ASE_WaterManagement_EN_2014_final.html" data-toggle="lightbox" data-type="vimeo" data-title="ASE Water Management">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/video3.jpg" width="100%">
                    <span class="glyphicon glyphicon-play-circle play-icon" aria-hidden="true"></span>
                </a>
            </div>
            <h4 class="text-left"style="font-weight: bold;">ASE Water Management</h4>
            <p class="text-left">ASE built Taiwan’s first water recycling plant with the highest standards at ASE Kaohsiung.</p>
        </div>

        <!--
        <div class="col-md-6">
            <iframe src="https://drive.google.com/file/d/0B5NjMz4c75IaZFBsTGZZYW1sNjg/preview" width="640" height="480"></iframe>
        </div>
        -->
    </div>
</section>
<script src="https://2311cdn.r.worldssl.net/js/public/frontend/js/vendor/lightbox/ekko-lightbox.min.js"></script>
<script>
    // Lightbox
    $(document).delegate('*[data-toggle="lightbox"]', 'click', function(event) {
        event.preventDefault();
        $(this).ekkoLightbox();
    });
</script>
