﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
    ViewBag.Title = "Employee Care & Development";
    ViewBag.zhURL = "/ch/csr/employee_care_development";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-csr">
		<h1 class="page-title-csr title-large">SUSTAINABILITY</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/csr"><span itemprop="name">Sustainability</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/csr/employee_care_development"><span itemprop="name">Employee Care & Development</span></a>
					<meta itemprop="position" content="2" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->
	<!-- Letter from the Chairman -->
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">Employee Care & Development</h3>
				<p>
					ASE Group is committed to protecting the human rights, ensuring diversity in our workforce and providing employees with a safe, healthy, and stimulating work environment.<br><br>

					ASE is committed to investing continuously in talent cultivation and motivating employees to enjoy the significance and value of the company’s career development to retain highly skilled and experienced human capital. We respect human rights of our employees and we strive to provide and maintain a safe, comfortable, healthy and productive workplace for our employees.
				</p>
			</article>
		</div>
	</section>
	<section class="csr-bg">
		<div class="content-lg row">
		
			<div class="col-sm-12 col-md-10 col-md-offset-1">
				<div class="col-sm-6 text-center moving-arrow">
					<a class="link-block" href="@Url.Action("corporate_sustainability_policy_and_management", "CSR", new { lang = ViewBag.language.lang, param1 = "human_rights_management" })">
						<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/sustainability_governance6.jpg" class="navbar-btn"><br>
						Human Rights Management<br>
						<div class="circle_button darkgray margin-top-5"><i class="icon-arrow-right"></i></div>
					</a><br>
				</div>
				<div class="col-sm-6 text-center moving-arrow">
					<a class="link-block" href="@Url.Action("Employee_Care_Development", "CSR", new { lang = ViewBag.language.lang, param1 = "employee_care" })">
						<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/employee_care_and_development2.jpg" class="navbar-btn"><br>
						Employee Care<br>
						<div class="circle_button darkgray margin-top-5"><i class="icon-arrow-right"></i></div>
					</a><br>
				</div>
				<div class="col-sm-6 text-center moving-arrow">
					<a class="link-block" href="@Url.Action("Employee_Care_Development", "CSR", new { lang = ViewBag.language.lang, param1 = "employee_development" })">
						<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/employee_care_and_development3.jpg" class="navbar-btn"><br>
						Employee Development<br>
						<div class="circle_button darkgray margin-top-5"><i class="icon-arrow-right"></i></div>
					</a>
				</div>
				<div class="col-sm-6 text-center moving-arrow">
					<a class="link-block" href="@Url.Action("Employee_Care_Development", "CSR", new { lang = ViewBag.language.lang, param1 = "employee_health_and_safety" })">
						<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/employee_care_and_development4.jpg" class="navbar-btn"><br>
						Employee Health and Safety<br>
						<div class="circle_button darkgray margin-top-5"><i class="icon-arrow-right"></i></div>
					</a>
				</div>
			</div>
			
		</div>
	</section>