﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
    ViewBag.Title = "Management System";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-csr">
		<h1 class="page-title-csr title-large">SUSTAINABILITY</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/csr"><span itemprop="name">Sustainability</span></a>
					<meta itemprop="position" content="1" />
				</li>
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <a itemprop="item" href="/public/en/csr/environment_green_innovation.html"><span itemprop="name">Environment and Green Innovation</span></a>
                    <meta itemprop="position" content="2" />
                </li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/csr/environmental_sustainability"><span itemprop="name">Management System</span></a>
					<meta itemprop="position" content="3" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->
	
	<section class="inside-article">
		<div class="content-lg row csr">
			<article class="col-xs-12">
				<h3 class="title">Environmental Management System and Certification</h3>
            </article>

            <article class="col-md-12">
                <div class="table-responsive inside-table">
                    <table class="table table-striped table-hover csr text-center">
                        <thead>
                            <tr>
                                <th style="font-size: 15px" class="text-center">Facility / Certification</th>
                                <th style="font-size: 15px" class="text-center">ISO 14001<br>Environmental Management Systems</th>
                                <th style="font-size: 15px" class="text-center">ISO 14064-1<br>Greenhouse Gases</th>
                                <th style="font-size: 15px" class="text-center">QC 080000<br>Hazardous Substance Process Management System</th>
                                <th style="font-size: 15px" class="text-center">ISO 50001<br>Energy Management Systems</th>
                                <th style="font-size: 15px" class="text-center">ISO 14067<br>Carbon Footprint</th>
                                <th style="font-size: 15px" class="text-center">ISO 14045<br>Eco-efficiency Assessment of Product Systems</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><strong>ASE Kaohsiung</strong></td>
                                <td>v</td>
                                <td>v</td>
                                <td>v</td>
                                <td>v</td>
                                <td>v</td>
                                <td>v</td>
                            </tr>
                            <tr>
                                <td><strong>ASE Chungli</strong></td>
                                <td>v</td>
                                <td>v</td>
                                <td>v</td>
                                <td>v</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td><strong>ASE Suzhou</strong></td>
                                <td>v</td>
                                <td>v</td>
                                <td>v</td>
                                <td>v</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td><strong>ASE Weihai</strong></td>
                                <td>v</td>
                                <td>v</td>
                                <td>v</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td><strong>ASE Wuxi</strong></td>
                                <td>v</td>
                                <td>v</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td><strong>ASE Shanghai (Material)</strong></td>
                                <td>v</td>
                                <td>v</td>
                                <td>v</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td><strong>ASE Shanghai (A&T)</strong></td>
                                <td>v</td>
                                <td>v</td>
                                <td>v</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td><strong>ISE Labs China</strong></td>
                                <td>&nbsp;</td>
                                <td>v</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td><strong>ASE Kunshan</strong></td>
                                <td>v</td>
                                <td>v</td>
                                <td>v</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td><strong>ASE Japan</strong></td>
                                <td>v</td>
                                <td>v</td>
                                <td>v</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td><strong>ASE Korea</strong></td>
                                <td>v</td>
                                <td>v</td>
                                <td>v</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td><strong>ASE Singapore</strong></td>
                                <td>v</td>
                                <td>v</td>
                                <td>v</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td><strong>ASE Malaysia</strong></td>
                                <td>v</td>
                                <td>V</td>
                                <td>v</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td><strong>ISE Labs</strong><a href="javascript:;" data-toggle="popover" data-trigger="hover" data-content="QC 080000, ISO 14067 and ISO 14045 certifications are not applicable to ISE Labs as it is not a manufacturing facility." data-placement="bottom">*</a></td>
                                <td>v</td>
                                <td>V</td>
                                <td>N/A</td>
                                <td>&nbsp;</td>
                                <td>N/A</td>
                                <td>N/A</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br>
                <br>
                <br>
            </article>
		</div>
	</section>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script>
	$(document).ready(function(){
	    $('[data-toggle="popover"]').popover({
	    	html:true,
	    	trigger: 'hover',
	    	placement: 'bottom',
	    });
	});
	</script>