﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
    ViewBag.Title = "Key Performance";
    ViewBag.zhURL = "/ch/csr/key_performance";
}
    <script>
	function change_tab1(id) {
		document.getElementById("csrlanding-tab-list1-content").innerHTML=document.getElementById(id+"-desc").innerHTML;
		document.getElementById("tab01").className="notselected";
		document.getElementById("tab02").className="notselected";
		document.getElementById("tab03").className="notselected";
		document.getElementById("tab04").className="notselected";
		document.getElementById("tab05").className="notselected";
		document.getElementById(id).className="selected csrlanding-tab-list1";
	}
	function change_tab2(id) {
		document.getElementById("csrlanding-tab-list2-content").innerHTML=document.getElementById(id+"-desc").innerHTML;
		document.getElementById("tab06").className="notselected";
		document.getElementById("tab07").className="notselected";
		document.getElementById("tab08").className="notselected";
		document.getElementById("tab09").className="notselected";
		document.getElementById("tab10").className="notselected";
		document.getElementById(id).className="selected csrlanding-tab-list2";
	}
	function change_tab3(id) {
		document.getElementById("csrlanding-tab-list3-content").innerHTML=document.getElementById(id+"-desc").innerHTML;
		document.getElementById("tab11").className="notselected";
		document.getElementById("tab12").className="notselected";
		document.getElementById("tab13").className="notselected";
		document.getElementById("tab14").className="notselected";
		document.getElementById("tab15").className="notselected";
		document.getElementById(id).className="selected csrlanding-tab-list3";
	}
	function change_tab4(id) {
		document.getElementById("csrlanding-tab-list4-content").innerHTML=document.getElementById(id+"-desc").innerHTML;
		document.getElementById("tab16").className="notselected";
		document.getElementById("tab17").className="notselected";
		document.getElementById("tab18").className="notselected";
		document.getElementById("tab19").className="notselected";
		document.getElementById("tab20").className="notselected";
		document.getElementById(id).className="selected csrlanding-tab-list4";
	}
	</script>

	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-csr">
		<h1 class="page-title-csr title-large">CORPORATE SOCIAL RESPONSIBILITY</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->


	<section class="inside-article">
		<div class="content-lg row">
			<div class="col-xs-12">
				<h3 class="title">Key Performance</h3>
				<p>
					ASE's key performance on environmental sustainability, employee care & development, supply chain development and corporate citizenship & social involvement. ASE was named Industry Group Leader in 2016 and 2017 Dow Jones Sustainability Indices, selected as the Semiconductors and Semiconductor Equipment Industry Group Leader with strong ESG (environmental, social and governance) performance.
				</p>
			</div>
			<div class="col-xs-12">
				<h4 class="csr-subtitle csrlanding-title-list1">ENVIRONMENTAL SUSTAINABILITY</h4>
			</div>
			<div class="csrlanding-box" >
				<div class="col-md-15 ">
					<div class="selected csrlanding-tab-list1" id="tab01" onclick="change_tab1(this.id)"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/csr_landing_01.png"></div>
				</div>
				<div class="col-md-15 ">
					<div class="notselected csrlanding-tab-list1" id="tab02" onclick="change_tab1(this.id)"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/csr_landing_02.png"></div>
				</div>
				<div class="col-md-15 ">
					<div class="notselected csrlanding-tab-list1" id="tab03" onclick="change_tab1(this.id)"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/csr_landing_03.png"></div>
				</div>
				<div class="col-md-15 ">
					<div class="notselected csrlanding-tab-list1" id="tab04" onclick="change_tab1(this.id)"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/csr_landing_04.png"></div>
				</div>
				<div class="col-md-15 ">
					<div class="notselected csrlanding-tab-list1" id="tab05" onclick="change_tab1(this.id)"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/csr_landing_05.png"></div>
				</div>

				<div class="clearfix"></div>
				
				<div class="csrlanding-content csrlanding-content-list1" id="csrlanding-tab-list1-content" style="width:100%;height:auto;overflow:auto;padding:30px 35px;" >
					<div class="col-xs-12 col-md-12">
						<span class="csrlanding-content-highlight">1</span>% Increase Compared to 2015
					</div>
				</div>

				<div class="csrlanding-tab-content-hidden csrlanding-content csrlanding-content-list1" id="tab01-desc">
					<div class="col-xs-12 col-md-12">
						<span class="csrlanding-content-highlight">1</span>% Increase Compared to 2015
					</div>
				</div>

				<div class="csrlanding-tab-content-hidden csrlanding-content csrlanding-content-list1" id="tab02-desc">
					<div class="col-xs-12 col-md-12">
						Process Water Recycling Rate
						<span class="csrlanding_arrowbox csrlanding_arrowbox-list1">
							<span class="csrlanding-arrowbox-highlight">62</span>% 
						</span>
					</div>
				</div>

				<div class="csrlanding-tab-content-hidden csrlanding-content csrlanding-content-list1" id="tab03-desc"  >
					<div class="col-xs-12 col-md-12">
						<span class="csrlanding-content-highlight">21</span> Total Green Building Certifications
						<span class="csrlanding_arrowbox csrlanding_arrowbox-list1">
							<span class="csrlanding-arrowbox-highlight">1</span>Copper-rated EEWH Certifications
							<span class="csrlanding-arrowbox-highlight">1</span>Gold-rated
							<span class="csrlanding-arrowbox-highlight">3</span>Plantinum-rated LEED
						</span>
						<!-- <span class="csrlanding_arrow  box csrlanding_arrowbox-list1">
							<span class="csrlanding-arrowbox-highlight">1</span>Gold-rated
						</span>
						<span class="csrlanding_arrowbox csrlanding_arrowbox-list1">
							<span class="csrlanding-arrowbox-highlight">1</span>Gold-rated
						</span> -->
					</div>
				</div>

				<div class="csrlanding-tab-content-hidden csrlanding-content csrlanding-content-list1" id="tab04-desc">
					<div class="col-xs-12 col-md-12">
						GHG Emissions: <span class="csrlanding-content-highlight">8</span>% Reduction Compared to 2016
					</div>
				</div>

				<div class="csrlanding-tab-content-hidden csrlanding-content csrlanding-content-list1" id="tab05-desc">
					<div class="col-xs-12 col-md-12">
						<span class="csrlanding-content-highlight">2017</span> Renewable Electricity Accounts for 
						<span class="csrlanding_arrowbox csrlanding_arrowbox-list1">
							<span class="csrlanding-arrowbox-highlight">8.5</span>% of Total Electricity Consumption
						</span>
					</div>
				</div>

			</div>
		</div>
	</section>

	<section class="inside-article">
		<div class="content-lg row">
			<div class="col-xs-12">
				<h4 class="csr-subtitle csrlanding-title-list2">EMPLOYEE CARE & DEVELOPMENT</h4>
			</div>
			<div class="csrlanding-box">
				<div class="col-md-15">
					<div class="selected csrlanding-tab-list2" id="tab06" onclick="change_tab2(this.id)"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/csr_landing_06.png"></div>
				</div>
				<div class="col-md-15">
					<div class="notselected csrlanding-tab-list2" id="tab07" onclick="change_tab2(this.id)"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/csr_landing_07.png"></div>
				</div>
				<div class="col-md-15">
					<div class="notselected csrlanding-tab-list2" id="tab08" onclick="change_tab2(this.id)"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/csr_landing_08.png"></div>
				</div>
				<div class="col-md-15">
					<div class="notselected csrlanding-tab-list2" id="tab09" onclick="change_tab2(this.id)"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/csr_landing_09.png"></div>
				</div>
				<div class="col-md-15">
					<div class="notselected csrlanding-tab-list2" id="tab10" onclick="change_tab2(this.id)"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/csr_landing_10.png"></div>
				</div>

				<div class="clearfix"></div>

				<div class="csrlanding-content csrlanding-content-list2" id="csrlanding-tab-list2-content">
					<div class="col-xs-12 col-md-12">
						Employee Engagement Survey: Increased to<span class="csrlanding-content-highlight">73</span>% of Total Facilities.
						<span class="csrlanding_arrowbox csrlanding_arrowbox-list2">
							Employee Engagement Eurvey Result was <span class="csrlanding-arrowbox-highlight">75</span>%
						</span>
					</div>
				</div>

				<div class="csrlanding-tab-content-hidden csrlanding-content csrlanding-content-list2" id="tab06-desc">
					<div class="col-xs-12 col-md-12">
						Employee Engagement Survey: Increased to<span class="csrlanding-content-highlight">73</span>% of Total Facilities.
						<span class="csrlanding_arrowbox csrlanding_arrowbox-list2">
							Employee Engagement Eurvey Result was <span class="csrlanding-arrowbox-highlight">75</span>%
						</span>
					</div>
				</div>

				<div class="csrlanding-tab-content-hidden csrlanding-content csrlanding-content-list2" id="tab07-desc">
					<div class="col-xs-12 col-md-12">
						<span class="csrlanding-content-highlight">2017</span>Occupational Disease and Major Injury
						<span class="csrlanding_arrowbox csrlanding_arrowbox-list2">
							<span class="csrlanding-arrowbox-highlight">0</span> Cases
						</span>
					</div>
				</div>

				<div class="csrlanding-tab-content-hidden csrlanding-content csrlanding-content-list2" id="tab08-desc">
					<div class="col-xs-12 col-md-12">
						<span class="csrlanding-content-highlight">1,138</span> Female Supervisors
						<span class="csrlanding_arrowbox csrlanding_arrowbox-list2">
							<span class="csrlanding-arrowbox-highlight">29</span>% of Total ASE Supervisors
						</span>
					</div>
				</div>

				<div class="csrlanding-tab-content-hidden csrlanding-content csrlanding-content-list2" id="tab09-desc">
					<div class="col-xs-12 col-md-12">
						Generation rate of ASE <span class="csrlanding-content-highlight">6</span>-path employee career development system
						<span class="csrlanding_arrowbox csrlanding_arrowbox-list2">
							Achieved <span class="csrlanding-arrowbox-highlight">81</span>%
						</span>
					</div>
				</div>

				<div class="csrlanding-tab-content-hidden csrlanding-content csrlanding-content-list2" id="tab10-desc">
					<div class="col-xs-12 col-md-12">
						<span class="csrlanding-content-highlight">3,909</span> Internal Certified Trainers 
						<span class="csrlanding_arrowbox csrlanding_arrowbox-list2">
							<span class="csrlanding-arrowbox-highlight">5.6</span>% of Total ASE Headcounts
						</span>
					</div>
				</div>

			</div>
		</div>
	</section>
	
	<section class="inside-article">
		<div class="content-lg row">
			<div class="col-xs-12">
				<h4 class="csr-subtitle csrlanding-title-list3">CORPORATE CITIZENSHIP & SOCIAL INVOLVEMENT</h4>
			</div>
			<div class="csrlanding-box">
				<div class="col-md-15">
					<div class="selected csrlanding-tab-list3" id="tab11" onclick="change_tab3(this.id)"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/csr_landing_11.png"></div>
				</div>
				<div class="col-md-15">
					<div class="notselected csrlanding-tab-list3" id="tab12" onclick="change_tab3(this.id)"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/csr_landing_12.png"></div>
				</div>
				<div class="col-md-15">
					<div class="notselected csrlanding-tab-list3" id="tab13" onclick="change_tab3(this.id)"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/csr_landing_13.png"></div>
				</div>
				<div class="col-md-15">
					<div class="notselected csrlanding-tab-list3" id="tab14" onclick="change_tab3(this.id)"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/csr_landing_14.png"></div>
				</div>
				<div class="col-md-15">
					<div class="notselected csrlanding-tab-list3" id="tab15" onclick="change_tab3(this.id)"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/csr_landing_15.png"></div>
				</div>

				<div class="clearfix"></div>
				
				<div class="csrlanding-content csrlanding-content-list3" id="csrlanding-tab-list3-content">
					<div class="col-xs-12 col-md-12">
						
						<span class="csrlanding-content-highlight">400</span>Million (NT$) Contributed to Environmental Conservation Fund (ECF) Programs (2014 ~ 2017)
						
					</div>
				</div>

				<div class="csrlanding-tab-content-hidden csrlanding-content csrlanding-content-list3" id="tab11-desc">
					<div class="col-xs-12 col-md-12">
						<span class="csrlanding-content-highlight">400</span>Million (NT$) Contributed to Environmental Conservation Fund (ECF) Programs (2014 ~ 2017)
					</div>
				</div>

				<div class="csrlanding-tab-content-hidden csrlanding-content csrlanding-content-list3" id="tab12-desc">
					<div class="col-xs-12 col-md-12">
						<span class="csrlanding-content-highlight">23.9</span>Million (NT$) Contributed to Community Engagement (2017)
					</div>
				</div>

				<div class="csrlanding-tab-content-hidden csrlanding-content csrlanding-content-list3" id="tab13-desc">
					<div class="col-xs-12 col-md-12">
						<span class="csrlanding-content-highlight">26.5</span>Million (NT$) Contributed to Industry-Academia Collaboration (2017)
					</div>
				</div>

				<div class="csrlanding-tab-content-hidden csrlanding-content csrlanding-content-list3" id="tab14-desc">
					<div class="col-xs-12 col-md-12">
						<span class="csrlanding-content-highlight">53,000</span>LED Lamps Installation (2014 - 2017)
					</div>
				</div>

				<div class="csrlanding-tab-content-hidden csrlanding-content csrlanding-content-list3" id="tab15-desc">
					<div class="col-xs-12 col-md-12">
						<span class="csrlanding-content-highlight">91</span>Hectares Plant Areas (2014 - 2017)
					</div>
				</div>

			</div>
		</div>
	</section>

	<section class="inside-article">
		<div class="content-lg row">
			<div class="col-xs-12">
				<h4 class="csr-subtitle csrlanding-title-list4">SUPPLY CHAIN DEVELOPMENT</h4>
			</div>
			<div class="csrlanding-box">
				<div class="col-md-15">
					<div class="selected csrlanding-tab-list4" id="tab16" onclick="change_tab4(this.id)"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/csr_landing_19.png"></div>
				</div>
				<div class="col-md-15">
					<div class="notselected csrlanding-tab-list4" id="tab17" onclick="change_tab4(this.id)"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/csr_landing_16.png"></div>
				</div>
				<div class="col-md-15">
					<div class="notselected csrlanding-tab-list4" id="tab18" onclick="change_tab4(this.id)"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/csr_landing_17.png"></div>
				</div>
				<div class="col-md-15">
					<div class="notselected csrlanding-tab-list4" id="tab19" onclick="change_tab4(this.id)"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/csr_landing_20.png"></div>
				</div>
				<div class="col-md-15">
					<div class="notselected csrlanding-tab-list4" id="tab20" onclick="change_tab4(this.id)"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/csr_landing_18.png"></div>
				</div>

				<div class="clearfix"></div>
				
				<div class="csrlanding-content csrlanding-content-list4" id="csrlanding-tab-list4-content">
					<div class="col-xs-12 col-md-12">
						Percentage of Non-tier 1 Suppliers Included for Management: <br>More than <span class="csrlanding-content-highlight">30</span>%
					</div>
				</div>

				<div class="csrlanding-tab-content-hidden csrlanding-content csrlanding-content-list4" id="tab16-desc">
					<div class="col-xs-12 col-md-12">
						Percentage of Non-tier 1 Suppliers Included for Management: <br>More than <span class="csrlanding-content-highlight">30</span>%
					</div>
				</div>

				<div class="csrlanding-tab-content-hidden csrlanding-content csrlanding-content-list4" id="tab17-desc">
					<div class="col-xs-12 col-md-12">
						Supplier Sustainability Audits by Third Party: <br><span class="csrlanding-content-highlight">18</span>Suppliers
					</div>
				</div>

				<div class="csrlanding-tab-content-hidden csrlanding-content csrlanding-content-list4" id="tab18-desc">
					<div class="col-xs-12 col-md-12">
						Conflict Minerals Survey<br>More than <span class="csrlanding-content-highlight">450</span>Suppliers
					</div>
				</div>

				<div class="csrlanding-tab-content-hidden csrlanding-content csrlanding-content-list4" id="tab19-desc">
					<div class="col-xs-12 col-md-12">
						Conflict Minerals Compliant Suppliers Ratio <span class="csrlanding-content-highlight">100</span>%
					</div>
				</div>

				<div class="csrlanding-tab-content-hidden csrlanding-content csrlanding-content-list4" id="tab20-desc">
					<div class="col-xs-12 col-md-12">
						DRC Conflict-free <span class="csrlanding-content-highlight">100</span>% of Products
					</div>
				</div>

			</div>
		</div>
	</section>

<style>
	.csrlanding-box{border:none;}
</style>
<script src="https://2311cdn.r.worldssl.net/jsjs/csr_index.js" async defer></script>

