﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-csr">
		<h1 class="page-title-csr title-large">CORPORATE SOCIAL RESPONSIBILITY</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->
	<!-- Letter from the Chairman -->
	<section class="inside-article">
		<div class="content-lg row">
			<div class="col-md-12">
				<h3 class="title">Letter from the Chairman</h3>
				<p>
				2017 had been a year filled with challenges from both the political and economic fronts. Nevertheless, the ASE Group managed to report outstanding results and continued to receive recognition from shareholders, investors, employees, customers and suppliers.<br><br>


				The semiconductor industry has experienced dynamic shifts in recent years including a wave of consolidation amongst key players. Similarly, the rise of China's semiconductor industry has heralded an imminent change for the future, an indication that the industry is still in transition. As the leading provider of semiconductor assembly and testing services, and a major consolidator of systems and converging technologies, ASE promotes multi-dimensional integration through strategic partnerships across the value chain to create industry clusters and technological innovation. A collaborative platform that adapts to the market and encourages innovative business models can increase our efficiency and create value to tackle the challenges of global climate change and resource limitations. <br><br>


				At ASE, we place a high value on sustainable governance. In 2017, the ASE Group was recognized for two years in a row, the industry leader for the semiconductor sector and included in the Dow Jones Sustainability Indices' (DJSI) World Index and Emerging Markets Index. We also received the 2017 Dale Carnegie Leadership Award in recognition of the company's efforts on developing human resources, innovation and organizational creativity. ASE's subsidiary Universal Scientific Industrial (USI) was also the only Taiwanese company to receive the China (Shanghai) Corporate Social Responsibility Summit of Listed Companies' Outstanding Enterprise Award for two consecutive years. At the beginning of 2018, ASE was honored as one of the Top 100 Global Technology Leaders by Thomson Reuters. These awards from global accredited organizations represent a major recognition of ASE's efforts and achievements in providing technology, increasing customer and investor satisfaction, and developing corporate sustainability. The ASE Group will endeavor to take on a forward-looking role and adopt a pragmatic approach to deliver positive impact on the industry and society.<br><br>


				In 2017, ASE began studying and analyzing the overall impact of our operations in order to respond appropriately to current and future risks and opportunities in sustainability. We examined the economic, tax, environmental and social impacts on different stakeholders that focused on the interaction among six types of capital––financial, manufacturing, intellectual, human, natural and, social and relationship–– that underscores the company's short-, medium- and long-term value. We have incorporated integrated thinking into the company's strategic decision-making process and made it the basis for the creation of longterm value.<br><br>


				In response to energy restructuring brought about by climate change, ASE has already begun actively promoting smart grids. We are working with the Chung-Hua Institution for Economic Research and the Taiwan Institute of Economic Research to study ways in which the semiconductor industry can accelerate the implementation of smart grids. We plan on introducing a smart grid in our Kaohsiung facility in 2019 and establishing an immediate demand response system and feedback mechanism that is estimated to reduce demand for electricity during peak hours. Initial estimates indicate that the overall investment will reach NT$100 million. ASE is not only realizing its corporate social responsibility through energy savings and carbon emissions reductions, but is also committed to achieving a stable power supply so that the industry can move seamlessly towards highvalue development.<br><br>


				In today's smart world, innovators are designing devices that offer more features, generate higher performance and reduce power consumption. As a leader in system-inpackage (SiP) technologies, ASE is committed to building a complete SiP ecosystem. We have collaborated with Cadence Design Systems, a global leader in electronic design innovation, to launch the SiP-idTM (System-in- Package – intelligent design) solution. With SiP-idTM, designers can greatly reduce design iterations, improve throughput and reduce the time needed to design and verify ultra-complex SiP packages. Such innovations will bring the company tremendous business opportunities, and allow us to expand the scope of our miniaturization technology from the package level to the module, circuit board, and system levels, thereby greatly increasing product value.<br><br>


				We are continuing to create local employment opportunities, recruit talented personnel and cultivate semiconductor professionals, with the aim of expanding Taiwan's semiconductor assembly and testing industry. We broke ground on our Kaohsiung K25 facility in April 2018 which is expected to be completed by 2020 and where we invested a total of NT$12.5 billion. The new plant is a smart factory boasting eco-friendly features in smart manufacturing that incorporates the Internet of things, data analysis, and smart equipment, with high end assembly and testing as its primary R&D functions. Once the facility is at full production capacity, the annual output value will reach NT$10 billion.<br><br>


				Going forward, industry consolidation is key to ASE's corporate growth in a changing market landscape. We will also continue to strategically develop our global footprint and align our manufacturing and R&D efforts. We will seek out transformative business models including collaborations with strategic partners, for greater opportunities in market development. Taiwan's semiconductor industry remains strong, and at an advantageous position with its complete supply chain and agile operational models that position Taiwan on the pulse of the semiconductor industry. ASE will maintain strong ties and investments in Taiwan while at the same time, continue its growth and expansion globally.</p>

				<div class="signature">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/u7632.png"><br>
					Jason C.S. Chang<br>
					Chairman and CEO</div>
					<div class="signature">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/u7634.png"><br>
					Richard H.P. Chang<br>
					Vice Chairman and President
				</div> 
			</div>
			<style>
				.signature{margin:10px;width:auto;}
			</style>
		</div>
	</section>
