﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-csr">
		<h1 class="page-title-csr title-large">CORPORATE SOCIAL RESPONSIBILITY</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->
	<!-- Letter from the Chairman -->
	<section class="inside-article">
		<div class="content-lg row">
			<div class="col-md-12">
				<h3 class="title">Letter from the Chairman</h3>
				<p>
				2016 was a challenging year for the global business environment driven by slowing economic growth and geopolitical uncertainty. Despite facing such strong headwinds, the ASE Group recorded a stellar financial year. Our diligence has helped us strengthen the support from our shareholders, investors, employees, suppliers and key stakeholders.<br><br>


				Today, companies continue to face challenges from environmental degradation, energy and natural resource shortages, rapid climate change, stricter government regulation and the lack of technology breakthroughs that limit enterprise growth and transformation. Nevertheless, the ASE Group believes in upholding a positive and responsive attitude and putting plans into practical action in corporate sustainability development.<br><br>


				The market for smart and connected products such as smartphones and IoT devices continue to shape the changing landscape with increasing demands for higher performance, lower cost, lower power consumption, smaller form factor and faster time-to-market. At the chip manufacturing level, the ability to provide a standardized packaging technology that meets the future of IC packaging in heterogeneous integration is a much discussed topic in recent years. As the leading provider of semiconductor packaging and test services and an enabler in converging system level and its core technologies, the ASE Group continues to play a positive role in transforming our society into a green and low carbon economy. In order to meet the demands of smart and connected product developments, ASE invests in research and development of advanced packaging technologies including FOWLP (fan-out wafer level packaging), heterogeneous integration using SiP (system-in-package) and building smart factories for manufacturing. In addition, we work closely with our material and equipment suppliers as well as our key customers to maximize scale and opportunities in manufacturing technologies.<br><br>


				Aligning closely to key global sustainable development trends promulgated by the UN SDGs (United Nations sustainable development goals) and ASE's sustainability development framework, we formulated a longterm sustainable development strategy based on four pillars of focus in: Low Carbon, Circular, Inclusive, and Collaborative. We will invest our resources on the development and management of human capital and continuous innovation in areas that will strengthen our value proposition, risk control and strategy formulation.<br><br>


				Since 2014, we have set goals for the company to achieve certain milestones in our sustainability mission. As we work towards these goals, we were fortunate to be recognized for our efforts and achievements with accolades from distinguished international organizations. In 2016, ASE was selected to be included in the "DJSI World" and "DJSI Emerging Markets" index of "The Dow Jones Sustainability Indices (DJSI)". In the same year, ASE was also recognized on the highly acclaimed "CDP Climate A List", as well as awarded the "2016 Asia Responsible Entrepreneurship Awards (AREA)" and "2016 Taiwan Corporate Sustainability Awards (TCSA)". The honor of winning these distinctions motivates ASE further to work towards a sustainable corporate citizen through solid, pragmatic actions and recording concrete results.<br><br>


				Employees are our most important assets, and we are pleased to share with you the opening of a brand new female-only employee dormitory in our Kaohsiung facility in 2017. The low carbon and green dormitory is powered by solar energy and can accommodate 3,000 persons. Company shuttles transport the employees to and from their work facilities, ensuring their safety and providing convenience for them. We target to convert these shuttles into electric powered vehicles by 2018, to help reduce carbon emissions and conserve energy. ASE hopes to lead by example amongst the Taiwanese hi-tech companies and to embed sustainability as a strong tenet of a company's corporate culture.<br><br>


				As one of the leading players in the semiconductor industry, ASE envisions a long term sustainability strategy for the company and seeks to communicate this strategy in a regular manner to our stakeholders. We understand that Sustainability is a continuous improvement and we look forward to working with all of you to ensure every success.</p>

				<div class="signature">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/u7632.png"><br>
					Jason C.S. Chang<br>
					Chairman and CEO</div>
					<div class="signature">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/u7634.png"><br>
					Richard H.P. Chang<br>
					Vice Chairman and President
				</div> 
			</div>
			<style>
				.signature{margin:10px;width:auto;}
			</style>
		</div>
	</section>
