﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
    ViewBag.Title = "Stakeholder Engagement";
    ViewBag.zhURL = "/ch/csr/stakeholder_engagement";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-csr">
		<h1 class="page-title-csr title-large">CORPORATE SOCIAL RESPONSIBILITY</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->

	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">Stakeholder Engagement</h3>
				<p>
					ASE Group is committed to conducting effective and strategic stakeholder engagement and communication while emphasizing transparent and balanced information disclosure, at both the corporate and local plant level.<br><br>

					Communicating with our stakeholders is key to the long-term and continuous improvement of our enterprise. Through dedicated communication mechanisms, we collect and incorporate important stakeholder feedback into our strategies and operations worldwide. An important goal of stakeholder engagement is to seek feedback from diverse stakeholder groups, and transform that feedback into action.
				</p>
			</article>
		</div>
	</section>


	<section class="csr-bg">
		<div class="content-lg row">

			<div class="col-sm-4 text-center moving-arrow">
				<a class="link-block" href="@Url.Action("stakeholder_engagement", "CSR", new { lang = ViewBag.language.lang, param1 = "Focus" })">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/stakeholder_engagement1.jpg" class="navbar-btn"><br>
					Stakeholder Engagement<br>
					<div class="circle_button darkgray margin-top-5"><i class="icon-arrow-right"></i></div>
				</a><br>

			</div>
			<div class="col-sm-4 text-center moving-arrow">
				<a class="link-block" href="@Url.Action("csr_report_questionnaire", "CSR", new { lang = ViewBag.language.lang })">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/stakeholder_engagement2.jpg" class="navbar-btn"><br>
					CSR Report Questionnaire<br>
					<div class="circle_button darkgray margin-top-5"><i class="icon-arrow-right"></i></div>
				</a><br>
			</div>
			<div class="col-sm-4 text-center moving-arrow">
				<a class="link-block" href="@Url.Action("Contact", "About", new { lang = ViewBag.language.lang })">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/stakeholder_engagement3.jpg" class="navbar-btn"><br>
					Contact CSR Team<br>
					<div class="circle_button darkgray margin-top-5"><i class="icon-arrow-right"></i></div>
				</a><br>
			</div>
		</div>
	</section>