﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-csr">
		<h1 class="page-title-csr title-large">CORPORATE SOCIAL RESPONSIBILITY</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->
	<!-- Letter from the Chairman -->
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">Supply Chain Development</h3>
				<p>
					ASE Group is committed to partnering with our suppliers to ensure that working conditions in ASE’s supply chain are safe, that workers are treated with respect and dignity, and that business operations are environmentally responsible and conducted ethically.<br><br>

					The supply chain is a critical extension of the ASE value chain. We are actively involved in the sustainable development of our supply chain to ensure that our tier 1 suppliers and contractors provide high-quality products and services to ASE in a sustainable, ethical and responsible fashion.
				</p>
			</article>
		</div>
	</section>

	<section class="csr-bg">
		<div class="content-lg row">
			<div class="col-sm-4 text-center moving-arrow">
				<a class="link-block" href="@Url.Action("Supply_Chain_Development", "CSR", new { lang = ViewBag.language.lang, param1 = "Supplier_Sustainability_Management" })">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/supply_chain_development2.jpg" class="navbar-btn"><br>
					Supplier Sustainability Management<br>
					<div class="circle_button darkgray margin-top-5"><i class="icon-arrow-right"></i></div>
				</a><br>
			</div>
			<div class="col-sm-4 text-center moving-arrow">
				<a class="link-block" href="@Url.Action("Supply_Chain_Development", "CSR", new { lang = ViewBag.language.lang, param1 = "Supplier_Development" })">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/supply_chain_development3.jpg" class="navbar-btn"><br>
					Supplier Development<br>
					<div class="circle_button darkgray margin-top-5"><i class="icon-arrow-right"></i></div>
				</a>
			</div>
			<div class="col-sm-4 text-center moving-arrow">
				<a class="link-block" href="@Url.Action("Supply_Chain_Development", "CSR", new { lang = ViewBag.language.lang, param1 = "Conflict_Minerals_Compliance" })">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/supply_chain_development4.jpg" class="navbar-btn"><br>
					Conflict Minerals Compliance<br>
					<div class="circle_button darkgray margin-top-5"><i class="icon-arrow-right"></i></div>
				</a>
			</div>
	</section>