﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-csr">
		<h1 class="page-title-csr title-large">CORPORATE SOCIAL RESPONSIBILITY</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">Water Reclamation at ASE</h3>
				<div class="col-md-5 col-md-offset-3 text-center padding-5"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/2water.png"></div>
			</article>
		</div>
		<div class="content-lg row csr">
			<article class="col-xs-12">
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

					<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
								<span class="black-text-in-box accordion-center-text"><span style="font-size: 26px; font-weight: bold;">Why</span> investing water reclamation?</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>

						<div id="collapseOne" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne">
						<div class="panel-body">
							<div class="col-xs-10 col-xs-offset-1 hide-in-small">
								<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/sustainability_highlights_water_management1.png" class="img-responsive">
							</div>
							<div class="col-xs-8 col-xs-offset-2 hide-in-large nopadding">
								<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/sustainability_highlights_water_management11.png">
							</div>
							<div class="clearfix"></div>
							<div class="col-sm-12">
								<h3 class="title">Lack of Water Resources</h3>
								<p>
									Although the average rainfall of Taiwan is 2.6 times the global average, its per capita distributed rainfall is only one-fifth of the global average. This is due to the fact that Taiwan has a very high population density and its terrain is too mountainous to effectively collect rain water. In addition, the distribution of rainfall is very uneven in terms of time and location resulting in a huge discrepancy in rainfall between wet and dry seasons. Dams in Taiwan also lack the capacity to store sufficient water, causing shortages during dry seasons.
								</p>
								<h3 class="title">Effect of Climate Change on Water Resources</h3>
								<p>
									In recent years, global climate changes have increased the frequency of droughts and floods. During 2001 to 2004, 2009, 2010 and 2015, insufficient rainfall in Taiwan caused severe droughts. Multiple typhoons brought excessive rainfall to Taiwan in 2004, 2005, 2009, and 2010, causing water turbidity and water supply disruptions. In 2009, Typhoon Morakot inflicted severe damage on Taiwan including the suspension of water supply in the Nanzih District of Kaohsiung for over a week. The production lines at ASE Kaohsiung was seriously impacted. In 2015, Phase Two water restrictions were implemented throughout Taiwan due to severe drought, causing the industrial water supply to decrease by 5% to 10%. These incidents demonstrated the importance of water resource management.
								</p>
								<h3 class="title">Water Demand at ASE</h3>
								<p>
									As ASE continues to grow and expand our production capacity, our water usage has proportionately increased. In order to achieve sustainable growth, ASE stayed focused on water conservation, reducing water usage and effluent reduction.
								</p>
							</div>
						</div>
						</div>
	  				</div>
				
					<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
								<span class="black-text-in-box accordion-center-text"><span style="font-size: 26px; font-weight: bold;">What</span> has ASE done?</span>
								<div class="circle_button-wrapper">
									<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>
						<div id="collapseThree" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingThree">
							<div class="panel-body">
								<div class="col-sm-12">
									<p>In order to respond to the risks of water shortages and restrictions as well as reduce effluents for operational sustainability, ASE invested in the construction of water recycling plants at ASE Kaohsiung and ASE Chungli in 2013. The water recycling plant at ASE Kaohsiung is the largest of its kind in Taiwan and is also the first water recycling plant in Taiwan to use the treated wastewater from off-site manufacturing plants as the source water.. The plant recycles 10,000 metric tons of reclaimed water per day, equivalent to the capacity of four standard-size swimming pools.</p>
									<h3 class="title">ASE Kaohsiung Water Recycling Plant (Phase I)</h3>
									<div class="col-md-10 col-md-offset-1 nopadding">
										<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/sustainability_highlights_water_management4.png" class="img-responsive">
									</div>
									<div class="clearfix"></div>
									<h3 class="title">ASE Chungli Water Recycling Plant</h3>
									<div class="col-md-10 col-md-offset-1 nopadding">
										<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/sustainability_highlights_water_management5.png" class="img-responsive">
									</div>
									<div class="clearfix"></div>
									<h3 class="title">Future Plans</h3>
									<p>
										<strong>ASE Kaohsiung</strong>
										<ul class="nopadding">
											<li>Official operation of Phase II scheduled for 2017. Total investment: NT$400 million.</li>
											<li>Process 40,000 MT of wastewater and produce 20,000 MT of clean, recycled water daily.</li>
											<li>Reduce effluent by 7.2 million MT annually.</li>
											<li>Open up Water recycling plant to visitors for environmental education purposes.</li>
										</ul>
										<strong>ASE Chungli</strong>
										<ul class="nopadding">
											<li>Increase recycling rate to more than 80%</li>
										</ul>
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
								<span class="black-text-in-box accordion-center-text"><span style="font-size: 26px; font-weight: bold;">How</span> does it work?</span>
								<div class="circle_button-wrapper">
									<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>
						<div id="collapseTwo" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingTwo">
							<div class="panel-body">
								<div class="col-sm-12">
									<h3 class="title">What is Water Reclamation?</h3>
									<p>Water reclamation refers to the collection and treatment of domestically used water or lightly used wastewater. The reclaimed water is non-potable water and used for general, commercial and domestic cleaning.</p>
									<h3 class="title">Glossary of Water Reclamation</h3>
									<p>
										<strong>Reclaimed Water</strong><br>
										“Zhongshui”, the Chinese translation of “reclaimed water”, is derived from Japanese, meaning “middle water”. In Japanese, tap water is referred to as “upper water”, and wastewater as “lower water”; water of inferior quality to tap water is thus referred to as “middle water”. In Europe and North America, water of such quality is referred to as “reclaimed water” or “grey water”.<br><br>

										<strong>Multi Media Filter (MMF)</strong><br>
										The filter beds, from top to bottom, are made of anthracite coal, fine quartz sand, coarse quartz sand, fine gravel, and coarse gravel. Using the principle of mechanical filtering, 99.9% of suspended solids larger than 50 μm can be removed.<br><br>

										<strong>Ultrafiltration (UF) System</strong><br>
										Uses fiber membrane filters to filter out molecular particles, which can be insoluble solids as small as 0.03 μm. It can effectively prevent micro-particles and colloidal substances from trickling through the sand filter tower, thus lowering the silt density index of the water.<br><br>

										<strong>Reverse Osmosis (RO) System</strong><br>
										Uses reverse osmosis membranes to filter out electrical conductivity and organic substances, and to purify water to the level required by the manufacturing process.
									</p>
									<h3 class="title">Water Recycling Process at ASE Kaohsiung (Phase I)</h3>
									<div class="col-md-10 col-md-offset-1 margin-bottom-0">
										<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/sustainability_highlights_water_management2.png" class="img-responsive"><br>
									</div>
									<div class="clearfix"></div>
									<h3 class="title">Water Recycling Process at Chungli</h3>
									<div class="col-md-10 col-md-offset-1">
										<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/sustainability_highlights_water_management3.png" class="img-responsive">
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
								<span class="black-text-in-box accordion-center-text">Outreach & <span style="font-size: 26px; font-weight: bold;">Recognition</span></span>
								<div class="circle_button-wrapper">
									<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>
						<div id="collapseFour" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingFour">
							<div class="panel-body">

								<div class="col-sm-12">
									<p>
									As a leading provider of semiconductor manufacturing services in assembly and test, we aim to maximize our positive influence by sharing our experience and success on water management.<br><br>

									ASE’s water recycling plants attract at least one to two external group visits per month. Numerous institutions and corporations including the Southern Taiwan Science Park and the Public Utilities Board of Singapore have visited to learn from our experience. Through participation at local and international symposiums, collaboration with industry organizations and cross-visits to other water recycling sites, we aim to learn and share more information and expertise on water conservation and to support others to improve water management.<br><br>

									As of June 2016, ASE Kaohsiung and ASE Chungli recycling plants have received:
									</p>
									
									<div class="clearfix"></div>
									
									<div class="col-xs-10 col-xs-offset-1 padding-5 hide-in-small">
										<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/sustainability_highlights_water_management7.png" class="img-responsive">
									</div>
									<div class="col-xs-12 hide-in-large nopadding">
										<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/sustainability_highlights_water_management71.png">
									</div>

									<div class="clearfix"></div>

									<div class="col-xs-6 col-md-3 picture-padding-2" style="margin-bottom: 5px"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/sustainability_highlights_water_management11.jpg"></div>
									<div class="col-xs-6 col-md-3 picture-padding-2" style="margin-bottom: 5px"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/sustainability_highlights_water_management12.jpg"></div>
									<div class="col-xs-6 col-md-3 picture-padding-2" style="margin-top: 0"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/sustainability_highlights_water_management13.jpg"></div>
									<div class="col-xs-6 col-md-3 picture-padding-2" style="margin-top: 0"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/sustainability_highlights_water_management14.jpg"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</article>
		</div>
	</section>
	<script>
	$( document ).ready(function() {
		$('.accordion-center-text').click(function(e){
			if ($(this).hasClass('black-text-in-box')) {
				$('.blue-text-in-box').removeClass('blue-text-in-box').addClass('black-text-in-box');
				$(this).removeClass("black-text-in-box");
				$(this).addClass("blue-text-in-box");      //add the class to the clicked element
			} else {
				$(this).removeClass("blue-text-in-box");
				$(this).addClass("black-text-in-box");      //add the class to the clicked element
			}
		});
	})
	</script>