﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
    ViewBag.Title = "Sustainability Governance";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-csr">
		<h1 class="page-title-csr title-large">SUSTAINABILITY</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/csr"><span itemprop="name">Sustainability</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/csr/sustainability_governance"><span itemprop="name">Sustainability Governance</span></a>
					<meta itemprop="position" content="2" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->

	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">Sustainability Governance</h3>
				<p>
					As a responsible corporate citizen, ASE has taken proactive measures to ensure the highest standards of professional and ethical business conduct. We believe that the sustainable development of our enterprise and the realization of its social responsibilities are vital to our long-term strategies and success.
				</p>
			</article>
		</div>
	</section>

    <section class="inside-article">
        <div class="content-lg row active">
            <article class="col-md-8 col-md-offset-2 text-center" style="padding: 40px 0 50px 0;">
                <div class="col-md-12 nopadding active">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/video2.jpg">
                </div>
                <div style="position:absolute; left:35%; top: 42%; z-index:10; margin:0 auto; border-radius: 10px; text-align: center; background-color: rgba(0, 0, 0, 0.7);">
                    <a class="button videoButton popupVideo" href="https://coms.aseglobal.com/marcom/video/ase-introduction-new-en" target="_blank"><span style="padding-top: 4px;">Watch More</span><i class="icon-play"></i></a>
                </div>
            </article>
        </div>
    </section>
	<section class="csr-bg">
		<div class="content-lg row">
			<div class="col-sm-6 col-md-4 text-center moving-arrow">
				<a class="link-block" href="@Url.Action("corporate_sustainability_policy_and_management", "CSR", new { lang = ViewBag.language.lang, param1= "corporate_sustainability_policy" })">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/sustainability_governance1.jpg" class="navbar-btn"><br>
					Corporate Sustainability Policy<br>
					<div class="circle_button darkgray margin-top-5"><i class="icon-arrow-right"></i></div>
				</a><br>
			</div>
			<div class="col-sm-6 col-md-4 text-center moving-arrow">
				<a class="link-block" href="@Url.Action("corporate_sustainability_policy_and_management", "CSR", new { lang = ViewBag.language.lang, param1 = "regulatory_compliance_and_risk_management" })">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/sustainability_governance5.jpg" class="navbar-btn"><br>
					Regulatory Compliance and Risk Management<br>
					<div class="circle_button darkgray margin-top-5"><i class="icon-arrow-right"></i></div>
				</a><br>
			</div>
			<div class="col-sm-6 col-md-4 text-center moving-arrow">
				<a class="link-block" href="@Url.Action("corporate_sustainability_policy_and_management", "CSR", new { lang = ViewBag.language.lang, param1 = "business_conduct_and_ethics" })">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/sustainability_governance4.jpg" class="navbar-btn"><br>
					Business Conduct and Ethics<br>
					<div class="circle_button darkgray margin-top-5"><i class="icon-arrow-right"></i></div>
				</a><br>
			</div>
		</div>
	</section>