﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-csr">
		<h1 class="page-title-csr title-large">CORPORATE SOCIAL RESPONSIBILITY</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">Green Facilities at ASE</h3>
				<div class="col-md-4 col-md-offset-4 text-center padding-5"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/16green.png"></div>
			</article>
		</div>
		<div class="content-lg row csr">
			<article class="col-xs-12">
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
					<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
								<span class="black-text-in-box accordion-center-text"><span style="font-size: 26px; font-weight: bold;">Why</span> investing green buildings?</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>

						<div id="collapseOne" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<div class="col-xs-10 col-xs-offset-1 hide-in-small">
									<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/sustainability_highlights_green_facilities1.png" class="img-responsive">
								</div>
								<div class="col-xs-8 col-xs-offset-2 hide-in-large nopadding">
									<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/sustainability_highlights_green_facilities11.png">
								</div>
								<div class="clearfix"></div>
								<div class="col-sm-12 nopadding">
									<h4 class="title">Reducing Critical GHG Emissions</h4>
									<p>
										According to studies conducted by the United Nations, building construction and usage account for 40%, 25% and 40% of total global consumption of energy, water resources and other resources, respectively; furthermore, greenhouse gases emitted by buildings account for one third of total global greenhouse gas emission, indicating that buildings are among the most critical points for implementing energy conservation and carbon reduction.
									</p>
									<h4 class="title">Managing Our Operational Environmental Footprint</h4>
									<p>
										As ASE continues to grow and expand our production capacity, our operational environmental footprint has proportionatly increased. In order to achieve sustainable growth, ASE stayed focused on reducing operational environmental footprint by enhancing resource efficiency and reducing emissions of pollutants.
									</p>
									<h4 class="title">Creating a physical environment that promotes awareness for sustainability</h4>
									<p>
										Green buildings not only provide a healthier and more comfortable working environment for our employees, but also are concrete illustrations of our dedication to sustainable operations. Through using and passing through the green buildings daily, we expect ASE’s employees to not only recognize ASE’s determination to realize the vision of sustainable business, but also improve their understanding of sustainable development as well as bring sustainability into their lives, deepening all employees’ awareness for sustainability.
									</p>
								</div>

								<div class="col-xs-4 col-md-4 picture-padding-2"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/sustainability_highlights_green_facilities27.jpg"></div>
								<div class="col-xs-4 col-md-4 picture-padding-2"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/sustainability_highlights_green_facilities28.jpg"></div>
								<div class="col-xs-4 col-md-4 picture-padding-2"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/sustainability_highlights_green_facilities29.jpg"></div>
							</div>
						</div>
	  				</div>
				
					<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
								<span class="black-text-in-box accordion-center-text"><span style="font-size: 26px; font-weight: bold;">What</span> has ASE done?</span>
								<div class="circle_button-wrapper">
									<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>
						<div id="collapseThree" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingThree">
							<div class="panel-body">
								<div class="col-sm-12 nopadding">
									<p>In order to create healthy and sustainable working and operational environment, ASE started to invest in the deployment of green buildings in 2012. We first started with modifying existing production facilities and office buildings; starting in 2014, we committed to construct all of ASE’s new production facilities and office buildings in Taiwan following the most up-to-date green building standards.</p>
									<h3 class="title inline">Current status of green buildings at ASE</h3> (Up until October 2016)
									<p>As ASE continues to grow and expand our production capacity, our operational environmental footprint has proportionatly increased. In order to achieve sustainable growth, ASE stayed focused on reducing operational environmental footprint by enhancing resource efficiency and reducing emissions of pollutants.</p>
									<div class="col-sm-10 col-sm-offset-1 nopadding">
										<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/sustainability_highlights_green_facilities19.png" class="img-responsive">
									</div>
									<div class="col-sm-10 col-sm-offset-1 nopadding">
										<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/sustainability_highlights_green_facilities20.png" class="img-responsive padding-5">
									</div>
									<div class="col-sm-8 col-sm-offset-2"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/sustainability_highlights_green_facilities22.png"></div>
									<div class="clearfix"></div>
									<h3 class="title">Future Plan</h3>
									<p>We will continue to upgrade our existing production facilities and office buildings, and ensure that all new buildings are constructed in compliance with green building standards in Taiwan.</p>
									<div class="col-md-10 col-md-offset-1">
										<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/sustainability_highlights_green_facilities25.png" class="img-responsive">
									</div>
									<div></div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
								<span class="black-text-in-box accordion-center-text"><span style="font-size: 26px; font-weight: bold;">How</span> does it work?</span>
								<div class="circle_button-wrapper">
									<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>
						<div id="collapseTwo" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingTwo">
							<div class="panel-body">
								<div class="col-sm-12 nopadding">
									<h3 class="title">What are green buildings?</h3>
									<p>Green buildings refer to buildings that meet the environmental-friendly criteria and achieve effective use of resources in all phases of their lifetime, including site selection, design, construction, operation, maintenance, renovation and even demolition. Both existing and new buildings can be certified with green building label.</p>
									<h3 class="title">Glossary of Green Buildings</h3>
									<div class="color-4box">
										<div class="txt-4box" style="background-color: #cde293">
											<div class="color-4box-heading">LEED</div>
											This green building cerification system was officially launched by U.S Green Building Council (USGBC) in 1998, and is so far the most frequently used system worldwirde. Assessment categories include sustainable sites, water efficiency, energy and atmosphere, indoor environment quality, innovation and design process, and regional priority; LEED certification levels are divided into 4 levels: certified, silver, gold and platinum.
										</div>
										<div class="txt-4box" style="background-color: #cde293">
											<div class="color-4box-heading">EEWH</div>
											This Taiwanese green building label was implemented in 1999, and is the world's second green building certification system ever implemented (only second to LEED). The assessment categories are ecology(E), energy saving (E), waste reduction (W) and health (H). The certification levels are divided into: qualified, bronze, silver, gold and diamond.
										</div>
										<div class="txt-4box" style="background-color: #cde293">
											<div class="color-4box-heading">Intelligent Building Certification</div>
											Establishing the person in charge of regulatory identification in respective responsible departments at each site, and authorizing such person in charge to confirm that site's operations are conforming to applicable laws and regulations and to report the state of compliance to his or her superior.
										</div>
										<div class="txt-4box" style="background-color: #cde293">
											<div class="color-4box-heading">Green Factory Label</div>
											This certification is conducted by the Industrial Development Bureau (IDB) of the Ministry of Economic Affairs (MOEA). The factories that wish to be certified with this label need to acquire both the "green building" and "clean production" certifications.
											
											The production process of a green factory shall be in line with environmental protection characteristics, including energy resource conservation and low pollution.
										</div>
									</div>
									<h3 class="title">Characteristics of Green Building</h3>
									<p class="margin-bottom-0">
										If the green buildings are brand new buildings, the design considerations shall cover all of the following items. If they are modified from existing buildings, the focus shall be placed on daily energy conservation.
									</p>
								</div>
								<div class="panel-group" id="accordion1" role="tablist" aria-multiselectable="true" style="margin: 0 -15px">
									<div class="panel">
										<a role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1" aria-expanded="false" aria-controls="collapseOne1" class="margin-bottom-0 nopadding">
											<div class="left-link"><h3 class="title pull-left font-size-18">Biodiversity/Greenery</h3>&nbsp;&nbsp;<div class="circle_button darkgray facilities-circle-button"><i class="icon-arrow-right facilities-icon-arrow-right"></i></div></div>
										</a>
										
										<div class="clearfix"></div>
										<div id="collapseOne1" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne1">
											<div class="col-sm-12">
												<div class="a">
													<div class="b order1-lg order1-sm">
														<div class="sustainability-grey-box">
															<span class="small-heading">Design methods</span>
															<ul class="nopadding">
																<li>Multi-layered planting and ecological retention basin</li>
																<li>Ecological fence and porous space</li>
																<li>Ecological corridor</li>
																<li>Rooftop garden</li>
															</ul>
														</div>
													</div>
													<div class="b order3-sm order2-lg">
														<div class="sustainability-grey-box">
															<span class="small-heading">Effects</span>
															<ul class="nopadding">
																<li>Enticing birds and butterflies</li>
																<li>Building an ecological network system (ecological restoration)</li>
																<li>Improving base microclimate</li>
															</ul>
														</div>
													</div>
													<div class="b order2-sm order3-lg">
														<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/sustainability_highlights_green_facilities2.jpg" class="img-responsive">Ecological retention basin<br><br>
													</div>
													<div class="b order4-sm order4-lg">
														<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/sustainability_highlights_green_facilities3.jpg" class="img-responsive">Ecological fence<br><br>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="panel">
										<a role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne2" aria-expanded="false" aria-controls="collapseOne2" class="margin-bottom-0">
											<div class="left-link"><h3 class="title pull-left font-size-18">Base Water Retention</h3>&nbsp;&nbsp;<div class="circle_button darkgray facilities-circle-button"><i class="icon-arrow-right facilities-icon-arrow-right"></i></div></div>
										</a>
									
										<div class="clearfix"></div>
										<div id="collapseOne2" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne2">
											<div class="col-sm-12">
												<div class="a">
													<div class="b">
														<div class="sustainability-grey-box">
															<span class="small-heading">Design methods</span>
															<p>Sponge (Breathable) Road -JW Eco-Technology: High load-bearing structure type of permeable concrete pavements are filled in breathable plastic conduit frames. Breathable pipes are densely distributed on the surface layer and are linked to the coarse materials in the bottom to provide excellent breathability, permeability, water retention and water storage.</p>
														</div>
													</div>
													<div class="b">
														<div class="sustainability-grey-box">
															<span class="small-heading">Effects</span>
															<ul class="nopadding">
																<li>40%-78% of vehicle exhaust emissions could be directly or indirectly absorbed</li>
																<li>Service lifetime is 10 times longer than conventional permeable pavements</li>
																<li>Increasing rainwater recycled: water permeability of pavement</li>
																<li>Groundwater storage tank is established and the total rainwater recycling storage capacity reaches 238 metric tons</li>
																<li>Pavement temperature can be</li>
																<li>20°C lower than that of asphalt pavement, thus reducing urban heat island effect</li>
															</ul>
														</div>
													</div>
												</div>
												<div class="d">
													<div class="c">
														<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/sustainability_highlights_green_facilities4.jpg" class="img-responsive"><br><br>
													</div>
												</div>
													<div class="clearfix"></div>
												<div class="a">
													<div class="b">
														<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/sustainability_highlights_green_facilities5.jpg" class="img-responsive">Place the air/water-circulated aqueduct frame on the aggregate (crushed stone or gravel) subbase layer<br><br>
													</div>
													<div class="b">
														<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/sustainability_highlights_green_facilities6.jpg" class="img-responsive">The finished load-bearing permeable pavement<br><br>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="panel">
										<a role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne3" aria-expanded="false" aria-controls="collapseOne3" class="margin-bottom-0">
											<div class="left-link"><h3 class="title pull-left font-size-18">Indoor Environment Quality</h3>&nbsp;&nbsp;<div class="circle_button darkgray facilities-circle-button"><i class="icon-arrow-right facilities-icon-arrow-right"></i></div></div>
										</a>
									
										<div class="clearfix"></div>
										<div id="collapseOne3" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne3">
											<div class="col-sm-12">
												<div class="a">
													<div class="b">
														<div class="sustainability-grey-box">
															<span class="small-heading">Design methods</span>

															<ul class="nopadding">
																<li>Use air handler (also known as a makeup air unit (MAU)) to draw air from outdoors and install a flow meter to monitor the amount of outdoor air drawn in</li>
																<li>Install CO2 sensor</li>
															</ul>
														</div>
													</div>
													<div class="b">
														<div class="sustainability-grey-box">
															<span class="small-heading">Effects</span>
															<ul class="nopadding">
																<li>Ensuring indoor air quality for staff staying indoor over a long period of time</li>
																<li>Avoiding CO2 concentration getting too high and making indoor staff uncomfortable</li>
															</ul>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="panel">
										<a role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne4" aria-expanded="false" aria-controls="collapseOne4" class="margin-bottom-0">
											<div class="left-link"><h3 class="title pull-left font-size-18">Energy Conservation: Electricity</h3>&nbsp;&nbsp;<div class="circle_button darkgray facilities-circle-button"><i class="icon-arrow-right facilities-icon-arrow-right"></i></div></div>
										</a>
									
										<div class="clearfix"></div>
										<div id="collapseOne4" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne4">
											<div class="col-sm-12">
												<div class="a">
													<div class="b">
														<div class="sustainability-grey-box">
															<span class="small-heading">Design methods</span>

															<ul class="nopadding">
																<li>Install power system to monitor and control operating status</li>
																<li>Optimize operational control to ensure equipment operates in the most effective state</li>
															</ul>
														</div>
													</div>
													<div class="b">
														<div class="sustainability-grey-box">
															<span class="small-heading">Effects</span>
															<ul class="nopadding">
																<li>Tracking the operating parameters of power system and compare predicted and actual energy consumption to review and identify optimal operation control mode</li>
															</ul>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="panel">
										<a role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne5" aria-expanded="false" aria-controls="collapseOne5" class="margin-bottom-0">
											<div class="left-link"><h3 class="title pull-left font-size-18">Energy Conservation: Greenery</h3>&nbsp;&nbsp;<div class="circle_button darkgray facilities-circle-button"><i class="icon-arrow-right facilities-icon-arrow-right"></i></div></div>
										</a>
									
										<div class="clearfix"></div>
										<div id="collapseOne5" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne5">
											<div class="col-sm-12">
												<div class="a">
													<div class="b">
														<div class="sustainability-grey-box">
															<span class="small-heading">Design methods</span>
															<ul class="nopadding">
																<li>Apply high-reflectivity coatings on rooftop surfaces</li>
																<li>Install green rooftop</li>
																<li>Reduce hard pavements and increase area of greenery</li>
															</ul>
														</div>
													</div>
													<div class="b">
														<div class="sustainability-grey-box">
															<span class="small-heading">Effects</span>
															<ul class="nopadding">
																<li>Reducing urban heat island (UHI) effect</li>
																<li>Reducing indoor temperature</li>
															</ul>
														</div>
													</div>

													<div class="b order2-sm order3-lg" style="padding-bottom: 5px">
														<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/sustainability_highlights_green_facilities10.jpg" class="img-responsive">
													</div>
													<div class="b order4-sm order4-lg" style="padding-bottom: 5px">
														<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/sustainability_highlights_green_facilities11.jpg" class="img-responsive">
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="panel">
										<a role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne6" aria-expanded="false" aria-controls="collapseOne6" class="margin-bottom-0">
											<div class="left-link"><h3 class="title pull-left font-size-18">Energy Conservation: Air-conditioning</h3>&nbsp;&nbsp;<div class="circle_button darkgray facilities-circle-button"><i class="icon-arrow-right facilities-icon-arrow-right"></i></div></div>
										</a>
									
										<div class="clearfix"></div>
										<div id="collapseOne6" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne6">
											<div class="col-sm-12">
												<div class="a">
													<div class="b order1-lg order1-sm">
														<div class="sustainability-grey-box">
															<span class="small-heading">Design methods</span>
															<ul class="nopadding">
																<li>Use high-efficiency chiller, cooling towers and add VFD (variable frequency drive) to cooling tower fans</li>
																<li>CDA heat recovery system</li>
																<li>Use dual-temperature and high-temperature difference systems for chiller circuit</li>
																<li>Use high-efficiency FFU</li>
																<li>Optimize MAU control mode</li>
																<li>Install top plate insulation</li>
															</ul>
														</div>
													</div>
													<div class="b order3-sm order2-lg">
														<div class="sustainability-grey-box">
															<span class="small-heading">Effects</span>
															<ul class="nopadding">
																<li>Lowering lectricity consumption by air-conditioner’s electricity consumption by approx. 40% than international standards</li>
															</ul>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="panel">
										<a role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne7" aria-expanded="false" aria-controls="collapseOne7" class="margin-bottom-0">
											<div class="left-link"><h3 class="title pull-left font-size-18">Energy Conservation: Lighting</h3>&nbsp;&nbsp;<div class="circle_button darkgray facilities-circle-button"><i class="icon-arrow-right facilities-icon-arrow-right"></i></div></div>
										</a>
										
										<div class="clearfix"></div>
										<div id="collapseOne7" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne7">
											<div class="col-sm-12">
												<div class="a">
													<div class="b order1-lg order1-sm">
														<div class="sustainability-grey-box">
															<span class="small-heading">Design methods</span>
															<ul class="nopadding">
																<li>High-efficiency T5 & LED lighting</li>
																<li>Low power density design for indoor lighting</li>
																<li>Install independent lamp control or multi-stage dimming control for public space, such as meeting room, lobby, etc.</li>
															</ul>
														</div>
													</div>
													<div class="b order3-sm order2-lg">
														<div class="sustainability-grey-box">
															<span class="small-heading">Effects</span>
															<ul class="nopadding">
																<li>Lowering indoor lighting power density by 70% than international standards</li>
																<li>Using dimming control mode to avoid ineffective use of lighting</li>
															</ul>
														</div>
													</div>
													<div class="b order2-sm order3-lg">
														<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/sustainability_highlights_green_facilities16.jpg" class="img-responsive">Multi-stage dimming control for meeting room and cafeteria<br><br>
													</div>
													<div class="b order4-sm order4-lg">
														<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/sustainability_highlights_green_facilities17.jpg" class="img-responsive">Office independent lamp control<br><br>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="panel">
										<a role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne8" aria-expanded="false" aria-controls="collapseOne8" class="margin-bottom-0">
											<div class="left-link"><h3 class="title pull-left font-size-18">Water Resource Management</h3>&nbsp;&nbsp;<div class="circle_button darkgray facilities-circle-button"><i class="icon-arrow-right facilities-icon-arrow-right"></i></div></div>
										</a>
										
										<div class="clearfix"></div>
										<div id="collapseOne8" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne8">
											<div class="col-sm-12">
												<div class="a">
													<div class="b order1-lg order1-sm">
														<div class="sustainability-grey-box">
															<span class="small-heading">Design methods</span>
															<ul class="nopadding">
																<li>Reduce daily water consumption: Install high-efficiency water-saving sanitation equipment and recycle rainwater and air conditioning condensation</li>
																<li>Water-saving landscape design: Install multi-layered planting of indigenous drought-tolerant species and rainwater raft Foundation</li>
															</ul>
														</div>
													</div>
													<div class="b order3-sm order2-lg">
														<div class="sustainability-grey-box">
															<span class="small-heading">Effects</span>
															<ul class="nopadding">
																<li>Substituting 100% of irrigation water with rainwater</li>
																<li>Achieving daily water-conservation rate of approx. 50%</li>
																<li>Reducing water consumption for planting</li>
															</ul>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
				  				</div>
							</div>
						</div>
					</div>

					<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
								<span class="black-text-in-box accordion-center-text">Outreach & <span style="font-size: 26px; font-weight: bold;">Recognition</span></span>
								<div class="circle_button-wrapper">
									<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>
						<div id="collapseFour" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingFour">
							<div class="panel-body">
								<div class="col-xs-12 nopadding">
									<p>
										In addition to leading by example and committing to reducing environmental footprint of our own operation, as the leading independent provider of semiconductor manufacturing services in assembly and test, we aim to maximize our positive influence by sharing our experience and success on green building development.<br><br>

										In 2014, ASE and Bureau of Energy of the Ministry of Economic Affairs (MOEA) jointly held the “Energy Conservation Promotion Demonstration Lecture and Open Day” event to share green building design experiences. Through participation at local and international symposiums, collaboration with industry organizations and cross-visits to other green buildings, we aim to learn and share more information and expertise on how to design a brand new green building or transform existing buildings into green buildings.
									</p>
								</div>
							</div>
						</div>
					</div>
				</article>
			</div>
		</div>
	</section>
	<script>
	$( document ).ready(function() {
		$('.accordion-center-text').click(function(e){
			if ($(this).hasClass('black-text-in-box')) {
				$('.blue-text-in-box').removeClass('blue-text-in-box').addClass('black-text-in-box');
				$(this).removeClass("black-text-in-box");
				$(this).addClass("blue-text-in-box");      //add the class to the clicked element
			} else {
				$(this).removeClass("blue-text-in-box");
				$(this).addClass("black-text-in-box");      //add the class to the clicked element
			}
		});
	})
	</script>