﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/ch/_Layout_seo.cshtml";
}
    <!-- page Banner -->
    <section id="page-vision" class="page-banner-s banner-csr">
        <h1 class="page-title title-large">企業社會責任</h1>
    </section>

    <!--breadcrumbs-->
    <div class="content-lg row">
        <div class="col-xs-12">
            <ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
            </ol>
        </div>
    </div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->
	
	<section class="timeline_section inside-article">
        <div class="content-lg row">
            <article class="col-xs-12">
                <h3 class="title">社區營造</h3>
            </article>
        </div>
        <div class="content-lg row">
            <div class="col-xs-12">
                <h4 class="sub-title">日月光</h4><br>
                <div id="community_engagement" class="timeline_div">    
                    <div class="timeline_container">
                        <div class="timeline">
                            <div class="plus"></div>
                        </div>
                    </div>                                   
                    <div class="item offset-first">  
                        <span class="corner current"></span>                     
                        <div class="factory"><b>高雄廠</b></div>
                        <div class="event">
                            <ul class="current">
                                <li>
                                    關懷弱勢，慈善捐助<br />
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/community_engagement1.jpg" />
                                </li>
                            </ul>    
                        </div>
                    </div> 
                    <div class="item">  
                        <span class="corner current"></span>                     
                        <div class="factory"><b>中壢廠</b></div>
                        <div class="event">
                            <ul class="current">
                                <li>
                                    身障孩童慈善公演<br />
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/community_engagement2.jpg" />
                                </li> 
                            </ul>    
                        </div>
                    </div>
                    <div class="item">  
                        <span class="corner current"></span>                     
                        <div class="factory"><b>無錫廠</b></div>
                        <div class="event">
                            <ul class="current">
                                <li>
                                    社區環境清潔<br />
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/community_engagement3.jpg"  />
                                </li> 
                            </ul>    
                        </div>
                    </div> 
                    <div class="item">  
                        <span class="corner current"></span>                     
                        <div class="factory"><b>蘇州廠</b></div>
                        <div class="event">
                            <ul class="current">
                                <li>
                                    關懷弱勢孩童，慈善捐助<br />
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/community_engagement4.jpg" />
                                </li>               
                            </ul>    
                        </div>
                    </div>
                    <div class="item">  
                        <span class="corner current"></span>                     
                        <div class="factory"><b>昆山廠</b></div>
                        <div class="event">
                            <ul class="current">
                                <li>
                                    社區中秋節活動<br />
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/community_engagement5.jpg" />
                                </li>
                            </ul>    
                        </div>
                    </div>
                    <div class="item">  
                        <span class="corner current"></span>                     
                        <div class="factory"><b>韓國廠</b></div>
                        <div class="event">
                            <ul class="current">
                                <li>
                                    關懷弱勢，房屋修繕<br />
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/community_engagement6.jpg" />
                                </li>                       
                            </ul>    
                        </div>
                    </div>
                    <div class="item">  
                        <span class="corner current"></span>                     
                        <div class="factory"><b>日本廠</b></div>
                        <div class="event">
                            <ul class="current">
                                <li>
                                    社區環境清潔<br />
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/community_engagement7.jpg" />
                                </li>                       
                            </ul>    
                        </div>
                    </div>
                    <div class="item">  
                        <span class="corner current"></span>                     
                        <div class="factory"><b>新加坡廠</b></div>
                        <div class="event">
                            <ul class="current">
                                <li>
                                    社區關懷 – 黃絲帶活動<br />
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/community_engagement8.jpg" />
                                </li>                       
                            </ul>    
                        </div>
                    </div>
                    <div class="item">  
                        <span class="corner current"></span>                     
                        <div class="factory"><b>馬來西亞廠</b></div>
                        <div class="event">
                            <ul class="current">
                                <li>
                                    關懷弱勢，慈善捐助<br />
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/community_engagement9.jpg" />
                                </li>                       
                            </ul>    
                        </div>
                    </div>
                    <div class="item">  
                        <span class="corner current"></span>                     
                        <div class="factory"><b>上海材料廠</b></div>
                        <div class="event">
                            <ul class="current">
                                <li>
                                    社區關懷 – 公益捐助<br />
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/community_engagement10.jpg" />
                                </li>                       
                            </ul>    
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12">
                <h4 class="sub-title">環電</h4>
                <div id="community_engagement" class="timeline_div">    
                    <div class="timeline_container">
                        <div class="timeline">
                            <div class="plus"></div>
                        </div>
                    </div>
                    <div class="item">  
                        <span class="corner past"></span>                     
                        <div class="factory past"><b>墨西廠</b></div>
                        <div class="event">
                            <ul class="before">
                                <li>
                                    關懷弱勢，慈善捐助<br />
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/community_engagement11.jpg" />
                                </li>                       
                            </ul>    
                        </div>
                    </div>
                    <div class="item">  
                        <span class="corner past"></span>                     
                        <div class="factory past"><b>張江廠</b></div>
                        <div class="event">
                            <ul class="before">
                                <li>
                                    關懷弱勢，公益路跑<br />
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/community_engagement12.jpg" />
                                </li>                        
                            </ul>    
                        </div>
                    </div>
                    <div class="item">  
                        <span class="corner past"></span>                     
                        <div class="factory past"><b>台灣廠</b></div>
                        <div class="event">
                            <ul class="before">
                                <li>
                                    閱讀文化，親子共讀<br />
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/community_engagement13.jpg" />
                                </li>                        
                            </ul>    
                        </div>
                    </div>
                    <div class="item">  
                        <span class="corner past"></span>                     
                        <div class="factory past"><b>上海廠</b></div>
                        <div class="event">
                            <ul class="before">
                                <li>
                                    內蒙百萬植樹計畫<br />
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/community_engagement14.jpg" />
                                </li>                       
                            </ul>    
                        </div>
                    </div>
                    <div class="item">  
                        <span class="corner past"></span>                     
                        <div class="factory past"><b>金穚廠</b></div>
                        <div class="event">
                            <ul class="before">
                                <li>
                                    海洋淨灘<br />
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/community_engagement15.jpg" />
                                </li>                                                    
                            </ul>    
                        </div>
                    </div>
                    <div class="item">  
                        <span class="corner past"></span>                     
                        <div class="factory past"><b>昆山廠</b></div>
                        <div class="event">
                            <ul class="before">
                                <li>
                                    社區藝文千燈鎮<br />
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/community_engagement16.jpg" />
                                </li>                 
                            </ul>    
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12">
                <h4 class="sub-title">日月光慈善會</h4>
                <div id="community_engagement" class="timeline_div">    
                    <div class="timeline_container">
                        <div class="timeline">
                            <div class="plus"></div>
                        </div>
                    </div>
                    <div class="item">  
                        <span class="corner before" style="background-color: #326fba"></span>                     
                        <div class="factory before" style="color: #326fba"><b>中壢</b></div>
                        <div class="event">
                            <ul class="past">
                                <li>
                                    關懷弱勢孩童，慈善捐助<br />
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/community_engagement17.jpg" />
                                </li>                                          
                            </ul>    
                        </div>
                    </div>
                    <div class="item">  
                        <span class="corner before" style="background-color: #326fba"></span>                     
                        <div class="factory before" style="color: #326fba"><b>上海</b></div>
                        <div class="event">
                            <ul class="past">
                                <li>
                                    急難關懷及照護<br />
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/community_engagement18.jpg" />
                                </li>                  
                            </ul>    
                        </div>
                    </div> 
                    <div class="item">  
                        <span class="corner before" style="background-color: #326fba"></span>                     
                        <div class="factory before" style="color: #326fba"><b>高雄</b></div>
                        <div class="event">
                            <ul class="past">
                                <li>
                                    慈善獎助學金<br />
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/community_engagement19.jpg" />
                                </li>                  
                            </ul>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>