﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/ch/_Layout_seo.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-csr">
		<h1 class="page-title title-large">企業社會責任</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->
	
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">產學教育</h3>
					<p>
						封裝產業技術需日益精進，日月光重視封裝技術研究，已長年投入人力物力及研究資金，與台灣頂尖大學合作，期待透過結合產學的研發能量，建立與強化日月光製程各方面技術，以持續掌握市場趨勢，讓企業得以永續發展。我們亦秉持著「產業進入大學，大學走入產業」的精神，促進在地學生就業機會，為國家競爭力與社會經濟發展努力。日月光多年以來持續與教育主管機關及當地學校進行多項產學教育合作專案，執行主軸包括「建教合作與企業實習」、「學術研究合作」及「獎助學金」，期盼與校園資源整合後發揮最大化的效益。2016年日月光持續與在地學校合作，總投入金額超過新台幣3,120萬元，其中技術研究合作專案經費約新台幣1,860萬元，提供獎助學金約新台幣900萬元，並提供約793位學生企業實習機會，亦有105位學生參與了半導體學程。合作學校主要包括台灣、中國大陸、新加坡等地區近30所學校。
					</p>
			</article>

		</div>

		<div class="content-lg row csr">
			<article class="col-xs-12">
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
					<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
								<span class="black-text-in-box accordion-center-text">封裝技術研究合作計畫</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>
						<div id="collapseOne" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<div class="col-md-8">
									<p>
										日月光高雄廠自2011年起廣邀半導體封裝專業領域教授及研究生參與產學研究合作。2016年舉辦 第四屆封裝技術研究合作期末發表會，發表17項研究成果，包括中山大學9件及成功大學8件。其中中山大學的「光通訊元件之最佳散熱效能設計準則」研究、成功大學的「先進製程封裝之晶圓級模流分析與參數最佳化設計」研究等，研究成果均走在產業最前線，除了協助日月光改善製程上會面臨的問題外，更讓台灣半導體封裝技術研究領域更上一層樓，將這些技術從學理中轉移至實際的應用面。
									</P>
								</div>
								<div class="col-md-4"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/industry-academic_collaboration1.jpg"></div>
							</div>
						</div>
	  				</div>

					<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
								<span class="black-text-in-box accordion-center-text"">工業4.0產學合作計畫</span>
								<div class="circle_button-wrapper">
									<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>
						<div id="collapseTwo" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingTwo">
							<div class="panel-body">
								<div class="col-md-8">
									<p>
										日月光中壢廠與中原大學產學合作共組專案團隊，導入大數據與物聯網等工業4.0之專業技術，協助改善物流、設計流及訂單流等管理流程，提升效率縮短開發時程及企業國際競爭力。探討從客戶接單開始，生產排程規劃、新產品導入流程分析及供應商精進管理等現有問題。而中原大學透過讓學生參與「日月光半導體就業學程」，讓學生跨領域銜接就業。
									</P>
								</div>
								<div class="col-md-4"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/industry-academic_collaboration2.jpg"></div>
							</div>
						</div>
					</div>
				
					<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
								<span class="black-text-in-box accordion-center-text"">日月光聯合技術研究中心</span>
								<div class="circle_button-wrapper">
									<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>
						<div id="collapseThree" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingThree">
							<div class="panel-body">
								<div class="col-md-8">
									<p>
										日月光高雄廠與中山大學自2011年起，長期合作，如產學技術研究、獎助學金等，透過雙方密切合作，在五年內共執行了35件專案，投入約新台幣5,000萬元的經費，並再斥資新台幣600萬元成立「國立 中山大學暨日月光聯合技術研究中心」，承載著半導體封裝技術研究、智慧自動化工廠技術研究、環境保護技術研究等議題的產學合作交流中心正式啟用，帶領技術研究邁向全新階段，讓南部成為台灣的半導體研發重鎮。
									</P>
								</div>
								<div class="col-md-4"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/industry-academic_collaboration3.jpg"></div>
							</div>
						</div>
					</div>
				</div>
			</article>
		</div>
	</section>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script>
	$( document ).ready(function() {
		$('.accordion-center-text').click(function(e){
			if ($(this).hasClass('black-text-in-box')) {
				$('.blue-text-in-box').removeClass('blue-text-in-box').addClass('black-text-in-box');
				$(this).removeClass("black-text-in-box");
				$(this).addClass("blue-text-in-box");      //add the class to the clicked element
			} else {
				$(this).removeClass("blue-text-in-box");
				$(this).addClass("black-text-in-box");      //add the class to the clicked element
			}
		});
	})
	</script>