﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
}
<!-- page Banner -->
<section id="page-vision" class="page-banner-s banner-technology">
    <h1 class="page-title title-large">Technology</h1>
</section>

<!--breadcrumbs-->
<div class="content-lg row">
    <div class="col-xs-12">
        <ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
        </ol>
    </div>
</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->

	<!-- Technology list -->
<section class="inside-article">
    <div class="content-lg row">
        <article class="col-xs-12">
            <h3 class="title">Semiconductor Test</h3>
            <p>
                With leadership in test technologies through a broad variety of test platforms, ASE Group provides a complete range of semiconductor test services to our customers, including front-end engineering test; wafer probing; final test of logic, mixed signal, RF, SLT (System Level Test) and memory semiconductors; and other test-related services encompassing burn-in test, dry-pack, and tape and reel. Our test    services employ technology and expertise and are the most advanced in the semiconductor industry.<br><br>

                In addition to our huge capacity of test equipment enabling quick ramp-up to our customers' requirements, ASE is outstanding in multi-functional test with expertise in test platforms, program conversion and test program development, empowering SoC/MCM/SiP testing technology to meet the increasing need to pack more functions onto a single chip or a package.<br><br>

                <strong>Engineering Development Procedure & Production Value Added</strong><br><br>
                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/test_technology1.jpg" class="hide-in-small">
                <div class="col-xs-8 col-xs-offset-2 hide-in-large">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/test_technology2.jpg">
                </div>
                <div class="clearfix"></div>
                <br>

                Our excellent test capabilities in chipset, graphics, embedded DRAM/MCM, CPU, RF, analog, analog to digital/digital to analog, and digital signal processors makes ASE an effective test solution provider, offering rapid time to market and cost effective solutions.
            </p>
        </article>
    </div>
</section><br>
