﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
}
		<!-- page Banner -->
		<section id="page-vision" class="page-banner-s banner-product">
			<h1 class="page-title title-large">Downloads</h1>
		</section>

		<!--breadcrumbs-->
		<div class="content-lg row">
			<div class="col-xs-12">
				<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
				</ol>
			</div>
		</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->

		<!-- Downloads -->
		<section class="inside-article">

			<div class="content-lg row csr">
				<article class="col-xs-12">
					<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
						<!--    CSR Report Downloads Start    -->
						<div class="col-md-12 bgnews-list list-base panel">
							<div class="content">
								<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
									<span class="black-text-in-box accordion-center-text">CSR Report Downloads</span>
									<div class="circle_button-wrapper">
										<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
									</div>
								</a>
							</div>
							<div id="collapseTwo" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingTwo">						
								<div class="panel-body">
									<!-- left -->
									<div class = "col-md-5 col-md-offset-1">
										<!-- 1 -->
										<div class="panel">
											<a role="button" href="xxx/ASE_2016_CSR_EN_Final.pdf" download>
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">CSR Report 2016</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
										<!-- 2 -->
										<div class="panel">
											<a role="button" href="xxx/ASE_2015_CSR_EN_Final.pdf" download>
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">CSR Report 2015</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
										<!-- 3 -->
										<div class="panel">
											<a role="button" href="xxx/ASE_2014_CSR_EN_Final.pdf" download>
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">CSR Report 2014</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
										<!-- 4 -->
										<div class="panel">
											<a role="button" href="xxx/ASE_2013_CSR_EN_Final.pdf" download>
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">CSR Report 2013</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
										<!-- 5 -->
										<div class="panel">
											<a role="button" href="xxx/ASE_2012_CSR_EN_A3_Final.pdf" download>
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">CSR Report 2012</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
									</div>

									<!-- right -->
									<div class = "col-md-5 col-md-offset-1">
										<!-- 6 -->
										<div class="panel">
											<a role="button" href="xxx/ASE_2011_CSR_EN_Final.pdf" download>
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">CSR Report 2011</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
										<!-- 7 -->
										<div class="panel">
											<a role="button" href="xxx/ASE_2010_CSR_EN_Final.pdf" download>
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">CSR Report 2010</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
										<!-- 8 -->
										<div class="panel">
											<a role="button" href="xxx/ASE_2009_CSR_EN_Final.pdf" download>
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">CSR Report 2009</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
										<!-- 9 -->
										<div class="panel">
											<a role="button" href="http://csr.usish.com/e_download.php" target="_blank">
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">USI CSR Report</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--    CSR Report Downloads End    -->

						<!--    CSR Documents Downloads Start     -->
						<div class="col-md-12 bgnews-list list-base panel">
							<div class="content">
								<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
									<span class="black-text-in-box accordion-center-text">CSR Documents Downloads</span>
									<div class="circle_button-wrapper">
										<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
									</div>
								</a>
							</div>
							<div id="collapseThree" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingThree">						
								<div class="panel-body">
									<!-- left - Sustainability Governance -->
									<div class = "col-md-5 col-md-offset-1">
										<h3 class = "title">Sustainability Governance</h3>
										<div class="clearfix"></div>
										<!-- 1 -->
										<div class="panel">
											<a role="button" href="xxx/ASE_Group_Corporate_Sustainability_Citizenship_Policy.pdf" download>
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">ASE Group Corporate Sustainability and Citizenship Policy</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
										<!-- 2 -->
										<div class="panel">
											<a role="button" href="xxx/Code of Business Conduct and Ethics.pdf" download>
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">Code of Business Conduct and Ethics</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
										<!-- 3 -->
										<div class="panel">
											<a role="button" href="xxx/Corporate Governance Best Practice Principles.pdf" download>
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">Corporate Governance Best Practice Principles</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
										<!-- 4 -->
										<div class="panel">
											<a role="button" href="xxx/Corporate Social Responsibility Best Practice Principles.pdf" download>
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">Corporate Social Responsibility Best Practice Principles</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
										<!-- 5 -->
										<div class="panel">
											<a role="button" href="xxx/Ethical Corporate Management Best Practice Principles.pdf" download>
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">Ethical Corporate Management Best Practice Principles</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
										<!-- 6 -->
										<div class="panel">
											<a role="button" href="xxx/Procedures for Ethical Management and Guidelines for Conduct.pdf" download>
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">Procedures for Ethical Management and Guidelines for Conduct</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
										<!-- 7 -->
										<div class="panel">
											<a role="button" href="xxx/Accounting or Auditing Complaints.pdf" download>
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">Accounting or Auditing Complaints</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
									</div>

									<!-- right - Supply Chain Development -->
									<div class = "col-md-5 col-md-offset-1">
										<h3 class = "title">Supply Chain Development</h3>
										<div class="clearfix"></div>
										<!-- 1 -->
										<div class="panel">
											<a role="button" href="xxx/ASE Supplier Code of Conduct.pdf" download>
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">ASE Supplier Code of Conduct</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
										<!-- 2 -->
										<div class="panel">
											<a role="button" href="xxx/ASE Supplier Code of Conduct.pdf" download>
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">ASE Supplier Code of Conduct (full copy of the Code)</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
										<!-- 3 -->
										<div class="panel">
											<a role="button" href="xxx/ASE_Group_CM_Policy_2017.pdf" download>
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">ASE Group Corporate Policy for Sourcing Conflict Minerals</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
										<!-- 4 -->
										<div class="panel">
											<a role="button" href="xxx/ASE_SEC_Conflict_Minerals_Filing_for_2016.pdf" download>
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">ASE SEC Conflict Minerals Filing for 2016</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
										<!-- 5 -->
										<div class="panel">
											<a role="button" href="xxx/ASE_SEC_Conflict_Minerals_Filing_for_2015.pdf" download>
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">ASE SEC Conflict Minerals Filing for 2015</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
										<!-- 6 -->
										<div class="panel">
											<a role="button" href="xxx/ASE_SEC_Conflict_Minerals_Filing_for_2014.pdf" download>
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">ASE SEC Conflict Minerals Filing for 2014</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
										<!-- 7 -->
										<div class="panel">
											<a role="button" href="xxx/ASE_SEC_Conflict_Minerals_Filing_for_2013.pdf" download>
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">ASE SEC Conflict Minerals Filing for 2013</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
									</div>

									<!-- left - Human Rights Management -->
									<div class = "col-md-5 col-md-offset-1">
										<h3 class = "title">Human Rights Management</h3>
										<div class="clearfix"></div>
										<!-- 1 -->
										<div class="panel">
											<a role="button" href="xxx/Code of Business Conduct and Ethics.pdf" download>
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">Code of Business Conduct and Ethics</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
										<!-- 2 -->
										<div class="panel">
											<a role="button" href="xxx/ASE Group Human Rights Policy.pdf" download>
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">ASE Group Human Rights Policy</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
										<!-- 3 -->
										<div class="panel">
											<a role="button" href="xxx/ASE Corporate Social Responsibility Best Practice Principles.pdf" download>
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">ASE Corporate Social Responsibility Best Practice Principles</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
										<!-- 4 -->
										<div class="panel">
											<a role="button" href="xxx/Code of Business Conduct and Ethics.pdf" download="">
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">ASE Group Code of Business Conduct and Ethics</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--    CSR Documents Downloads End    -->

						<!--    IR Reports Downloads Start     -->
						<div class="col-md-12 bgnews-list list-base panel">
							<div class="content">
								<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
									<span class="black-text-in-box accordion-center-text">IR Reports Downloads</span>
									<div class="circle_button-wrapper">
										<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
									</div>
								</a>
							</div>
							<div id="collapseFour" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingFour">						
								<div class="panel-body">
									<!-- left - 2017 -->
									<div class = "col-md-5 col-md-offset-1">
										<h3 class = "title">2017</h3>
										<div class="clearfix"></div>
										<!-- 1 -->
										<div class="panel">
											<a role="button" href="xxx/2017 20-F.pdf" download>
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">2017 20-F</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
									</div>

									<!-- right - 2016 -->
									<div class = "col-md-5 col-md-offset-1">
										<h3 class = "title">2016</h3>
										<div class="clearfix"></div>
										<!-- 1 -->
										<div class="panel">
											<a role="button" href="xxx/2016 Annual Report.pdf" download>
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">2016 Annual Report</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
										<!-- 2 -->
										<div class="panel">
											<a role="button" href="xxx/2016 20-F.pdf" download>
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">2016 20-F</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
									</div>

									<!-- left - 2015 -->
									<div class = "col-md-5 col-md-offset-1">
										<h3 class = "title">2015</h3>
										<div class="clearfix"></div>
										<!-- 1 -->
										<div class="panel">
											<a role="button" href="xxx/2015 Annual Report.pdf" download>
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">2015 Annual Report</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
										<!-- 2 -->
										<div class="panel">
											<a role="button" href="xxx/2015 20-F.pdf" download>
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">2015 20-F</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
									</div>

									<!-- right - 2014 -->
									<div class = "col-md-5 col-md-offset-1">
										<h3 class = "title">2014</h3>
										<div class="clearfix"></div>
										<!-- 1 -->
										<div class="panel">
											<a role="button" href="xxx/2014 Annual Report.pdf" download>
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">2014 Annual Report</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
										<!-- 2 -->
										<div class="panel">
											<a role="button" href="xxx/2014 20-F.pdf" download>
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">2014 20-F</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
									</div>

									<!-- left - 2013 -->
									<div class = "col-md-5 col-md-offset-1">
										<h3 class = "title">2013</h3>
										<div class="clearfix"></div>
										<!-- 1 -->
										<div class="panel">
											<a role="button" href="xxx/2013 Annual Report.pdf" download>
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">2013 Annual Report</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
										<!-- 2 -->
										<div class="panel">
											<a role="button" href="xxx/2013 20-F.pdf" download>
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">2013 20-F</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
									</div>

									<!-- right - 2012 -->
									<div class = "col-md-5 col-md-offset-1">
										<h3 class = "title">2012</h3>
										<div class="clearfix"></div>
										<!-- 1 -->
										<div class="panel">
											<a role="button" href="xxx/2012 Annual Report.pdf" download>
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">2012 Annual Report</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
										<!-- 2 -->
										<div class="panel">
											<a role="button" href="https://2311cdn.r.worldssl.net/picxxx/2012 20-F.jpg" download>
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">2012 20-F</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
									</div>

									<!-- left - 2011 -->
									<div class = "col-md-5 col-md-offset-1">
										<h3 class = "title">2011</h3>
										<div class="clearfix"></div>
										<!-- 1 -->
										<div class="panel">
											<a role="button" href="xxx/2011 Annual Report.pdf" download>
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">2011 Annual Report</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
										<!-- 2 -->
										<div class="panel">
											<a role="button" href="xxx/2011 20-F.pdf" download>
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">2011 20-F</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
									</div>

									<!-- right - 2010 -->
									<div class = "col-md-5 col-md-offset-1">
										<h3 class = "title">2010</h3>
										<div class="clearfix"></div>
										<!-- 1 -->
										<div class="panel">
											<a role="button" href="xxx/2010 Annual Report.pdf" download>
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">2010 Annual Report</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
										<!-- 2 -->
										<div class="panel">
											<a role="button" href="xxx/2010 20-F.pdf" download>
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">2010 20-F</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
									</div>

									<!-- left - 2009 -->
									<div class = "col-md-5 col-md-offset-1">
										<h3 class = "title">2009</h3>
										<div class="clearfix"></div>
										<!-- 1 -->
										<div class="panel">
											<a role="button" href="xxx/2009 Annual Report.pdf" download>
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">2009 Annual Report</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
										<!-- 2 -->
										<div class="panel">
											<a role="button" href="xxx/2009 20-F.pdf" download>
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">2009 20-F</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
									</div>

									<!-- right - 2008 -->
									<div class = "col-md-5 col-md-offset-1">
										<h3 class = "title">2008</h3>
										<div class="clearfix"></div>
										<!-- 1 -->
										<div class="panel">
											<a role="button" href="xxx/2008 Annual Report.pdf" download>
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">2008 Annual Report</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
										<!-- 2 -->
										<div class="panel">
											<a role="button" href="xxx/2008 20-F.pdf" download>
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">2008 20-F</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
									</div>

									<!-- left - 2007 -->
									<div class = "col-md-5 col-md-offset-1">
										<h3 class = "title">2007</h3>
										<div class="clearfix"></div>
										<!-- 1 -->
										<div class="panel">
											<a role="button" href="xxx/2007 Annual Report.pdf" download>
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">2007 Annual Report</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
										<!-- 2 -->
										<div class="panel">
											<a role="button" href="xxx/2007 20-F.pdf" download>
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">2007 20-F</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
									</div>

									<!-- right - 2006 -->
									<div class = "col-md-5 col-md-offset-1">
										<h3 class = "title">2006</h3>
										<div class="clearfix"></div>
										<!-- 1 -->
										<div class="panel">
											<a role="button" href="xxx/2006 Annual Report.pdf" download>
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">2006 Annual Report</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
										<!-- 2 -->
										<div class="panel">
											<a role="button" href="xxx/2006 20-F.pdf" download>
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">2006 20-F</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
									</div>

									<!-- left - 2005 -->
									<div class = "col-md-5 col-md-offset-1">
										<h3 class = "title">2005</h3>
										<div class="clearfix"></div>
										<!-- 1 -->
										<div class="panel">
											<a role="button" href="xxx/2005 Annual Report.pdf" download>
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">2005 Annual Report</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
										<!-- 2 -->
										<div class="panel">
											<a role="button" href="xxx/2005 20-F.pdf" download>
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">2005 20-F</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
									</div>

									<!-- right - 2004 -->
									<div class = "col-md-5 col-md-offset-1">
										<h3 class = "title">2004</h3>
										<div class="clearfix"></div>
										<!-- 1 -->
										<div class="panel">
											<a role="button" href="xxx/2004 Annual Report.pdf" download>
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">2004 Annual Report</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
										<!-- 2 -->
										<div class="panel">
											<a role="button" href="xxx/2004 20-F.pdf" download>
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">2004 20-F</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
									</div>

									<!-- left - 2003 -->
									<div class = "col-md-5 col-md-offset-1">
										<h3 class = "title">2003</h3>
										<div class="clearfix"></div>
										<!-- 1 -->
										<div class="panel">
											<a role="button" href="xxx/2003 Annual Report.pdf" download>
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">2003 Annual Report</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
										<!-- 2 -->
										<div class="panel">
											<a role="button" href="xxx/2003 20-F.pdf" download>
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">2003 20-F</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
									</div>

									<!-- right - 2002 -->
									<div class = "col-md-5 col-md-offset-1">
										<h3 class = "title">2002</h3>
										<div class="clearfix"></div>
										<!-- 1 -->
										<div class="panel">
											<a role="button" href="xxx/2002 Annual Report.pdf" download>
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">2002 Annual Report</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
										<!-- 2 -->
										<div class="panel">
											<a role="button" href="xxx/2002 20-F.pdf" download>
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">2002 20-F</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
									</div>

									<!-- left - 2001 -->
									<div class = "col-md-5 col-md-offset-1">
										<h3 class = "title">2001</h3>
										<div class="clearfix"></div>
										<!-- 1 -->
										<div class="panel">
											<a role="button" href="xxx/2001 Annual Report.pdf" download>
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">2001 Annual Report</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
										<!-- 2 -->
										<div class="panel">
											<a role="button" href="xxx/2001 20-F.pdf" download>
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">2001 20-F</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
									</div>

									<!-- right - 2000 -->
									<div class = "col-md-5 col-md-offset-1">
										<h3 class = "title">2000</h3>
										<div class="clearfix"></div>
										<!-- 1 -->
										<div class="panel">
											<a role="button" href="xxx/2000 Annual Report.pdf" download>
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">2000 Annual Report</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
										<!-- 2 -->
										<div class="panel">
											<a role="button" href="xxx/2000 20-F.pdf" download>
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">2000 20-F</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--    IR Reports Downloads End    -->

						<!--    Video Downloads Start    -->
						<div class="col-md-12 bgnews-list list-base panel">
							<div class="content">
								<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
									<span class="black-text-in-box accordion-center-text">Video Downloads</span>
									<div class="circle_button-wrapper">
										<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
									</div>
								</a>
							</div>
							<div id="collapseFive" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingFive">						
								<div class="panel-body">
									<!-- left -->
									<div class = "col-md-5 col-md-offset-1">
										<div class="clearfix"></div>
										<!-- 1 -->
										<div class="panel">
											<a role="button" href="xxx/ASE Video_Sustainability_EN_final-20171113.mp4" download>
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">ASE Corporate Sustainability</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
										<!-- 2 -->
										<div class="panel">
											<a role="button" href="xxx/ASE Video_Sustainability 2_(EN)-20180321-FINAL.mp4" download>
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">ASE Corporate Sustainability 2</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
										<!-- 3 -->
										<div class="panel">
											<a role="button" href="xxx/" download>
												<div class="downloads-link">
													<div class="circle_button downloads-circle-button darkgray">
														<i class="icon-arrow-right facilities-icon-arrow-right"></i>
													</div>
													<h3 class="title pull-left downloads-link-title">ASE SiP Platform</h3>
												</div>
											</a>									
											<div class="clearfix"></div>									
										</div>
									</div>

									<!-- right -->
									<div class = "col-md-5 col-md-offset-1">
										<div class="clearfix"></div>
											<!-- 4 -->
											<div class="panel">
												<a role="button" href="xxx/ASE GROUP Corporate video_EN[1280x720]-20160630_final.mp4" download>
													<div class="downloads-link">
														<div class="circle_button downloads-circle-button darkgray">
															<i class="icon-arrow-right facilities-icon-arrow-right"></i>
														</div>
														<h3 class="title pull-left downloads-link-title">ASE Group Corporate Video</h3>
													</div>
												</a>									
												<div class="clearfix"></div>									
											</div>
											<!-- 5 -->
											<div class="panel">
												<a role="button" href="xxx/日月光水資源與綠建築影片2014_英文字幕版H.mp4" download>
													<div class="downloads-link">
														<div class="circle_button downloads-circle-button darkgray">
															<i class="icon-arrow-right facilities-icon-arrow-right"></i>
														</div>
														<h3 class="title pull-left downloads-link-title">ASE Water Resource Management and Green Facility</h3>
													</div>
												</a>									
												<div class="clearfix"></div>									
											</div>
											<!-- 6 -->
											<div class="panel">
												<a role="button" href="xxx/ASE Group 30th Video_Final_2014.mp4" download>
													<div class="downloads-link">
														<div class="circle_button downloads-circle-button darkgray">
															<i class="icon-arrow-right facilities-icon-arrow-right"></i>
														</div>
														<h3 class="title pull-left downloads-link-title">ASE Group 30th Anniversary</h3>
													</div>
												</a>									
												<div class="clearfix"></div>									
											</div>
										</div>
									</div>
							</div>
						</div>
						<!--    Video Downloads End    -->
					</div>
				</article>
			</div>
		</section>