﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
}
<!-- page Banner -->
<section id="page-vision" class="page-banner-s banner-technology">
    <h1 class="page-title title-large">Technology</h1>
</section>

<!--breadcrumbs-->
<div class="content-lg row">
    <div class="col-xs-12">
        <ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
        </ol>
    </div>
</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->

<!-- Technology list -->
<section class="inside-article">
    <div class="content-lg row">
        <article class="col-xs-12">
            <h3 class="title">Fan Out</h3>
            <p>
                IC packaging technologies in the past decade developed rapidly for various devices, such as FO-WLP (Fan-Out Wafer Level Package), SiP (System in Package), 3D IC, 2.5D TSV (Through Silicon Via) interposer and so on. Among the various technologies, FO-WLPs benefit in miniaturization, total system cost reduced, and heterogeneous integration. FO-WLPs are in wide range of applications, e.g. FPGA (Field Programmable Gate Array), GPU (Graphics Processing Unit), networking, RF/WiFi (Radio frequency/Wireless Fidelity) module, PA (Power Amplifier) module, etc. FO-WLPs have two categories: one is called Chip-First and another is Chip-Last.<br><br>

                <strong>(I) Chip-First</strong>, the chip is buried in the substrate material firstly and followed by RDL (Redistribution Layer) forming processes. Chip-First has substrate-like processes and fabricates larger pitch e.g. 20um, which provides a lower cost solution. Thus, its application is suitable for low I/Os.<br><br>

                <strong>(II) Chip-Last</strong>, chips are not integrated into the packaging processes until the circuits on the chip carrier are pre-formed. The chip-last process is known with less KGD yield concern compared with the Chip-First one.  Chip-Last has better electrical performance, implies the package accommodated more I/Os, and possesses more ultra-fine pitch e.g. 2um and small through-via capabilities.<br><br>

                ASE currently FO-WLPs have achieved by chip-first involving dies embedding in a laminate or organic wafer with face up/face down followed by thin through-via and RDL interconnections. FO-WLPs also means that the interconnections need to be 3-8X smaller in dimensions as compared to existing flip-chip technologies (70um-80um) in order to achieve ultra-fine pitch interconnections. ASE offers both chip-first and chip-last packaging solutions. There are several different package groups belong to this embedded-chip family:
            </p>
        </article>
    </div>
</section>

<section class="csr-bg">
    <div class="content-lg row">
        <div class="col-md-6">
            <div class="technology-box">
                <h4 class="sub-title">aWLP</h4>
                <p>Chip-First, chip embedded in mold compound, fan-out by wafer-level RDL<br><br></p>
                <div class="col-sm-6 col-sm-offset-3 col-md-8 col-md-offset-2">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/fan_out1.png" class="img-responsive center-block">
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="technology-box">
                <h4 class="sub-title">aEASI</h4>
                <p>Chip-First, chip embedded in mold compound, fan-out by wafer-level RDL<br><br></p>
                <div class="col-sm-6 col-sm-offset-3 col-md-8 col-md-offset-2">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/fan_out2.png" class="img-responsive center-block">
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="technology-box">
                <h4 class="sub-title">Laminated FCCSP</h4>
                <p>Chip Last, chip embedded in organic dielectric, fan-out by Flip Chip substrate<br><br></p>
                <div class="col-sm-6 col-sm-offset-3 col-md-8 col-md-offset-2">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/fan_out3.png" class="img-responsive center-block">
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="technology-box">
                <div class="col-md-6">
                    <h4 class="sub-title">Panel Level Platform Fan Out Package</h4>
                    <p>Chip Last, chip embedded in organic dielectric, fan-out by Flip Chip substrate</p>
                </div>
                <div class="col-md-6">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/fan_out4.jpg" class="img-responsive center-block">
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</section>

<section class="inside-article">
    <div class="content-lg row">
        <br><br>
        <div class="col-xs-6">
            <div id="" class="technology-application technology-tab-active">Application</div>
        </div>
        <div class="col-xs-6">
            <div id="" class="technology-features technology-tab-inactive">Features</div>
        </div>

        <div class="col-xs-12 technology-application-content">
            FPGA, CPU/GPU, Networking, Servers, RF Devices, Power Management IC Module, Baseband, Mobile Devices, Consumer, WiFi Devices, Transducers, etc
        </div>
        <div class="col-xs-12 col-md-10 technology-features-content">
            <div class="table-responsive inside-table">
                <table class="table table-striped table-hover csr">
                    <thead>
                        <tr>
                            <th class="col-sm-1 left-border">Item</th>
                            <th class="col-sm-1 left-border">Benefit</th>
                            <th class="col-sm-3 left-border">Process</th>
                            <th class="col-sm-1 left-border">I/O Characteristic</th>
                            <th class="col-sm-1 left-border">Interposer</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="left-border">Chip-First</td>
                            <td class="left-border">Short cycle time</td>
                            <td class="left-border">Substrate firstly and followed by RDL processes</td>
                            <td class="left-border">Lower I/Os</td>
                            <td class="left-border">No need</td>
                        </tr>
                        <tr>
                            <td class="left-border">Chip-First</td>
                            <td class="left-border">Less KGD yield concern</td>
                            <td class="left-border">Chip not integrated into RDL processes</td>
                            <td class="left-border">More I/Os</td>
                            <td class="left-border">No need</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<br>
<section class="inside-article">
    <div class="content-lg row">
        <div class="col-xs-10">
            <h4 class="sub-title">Capabilities</h4>
            <div class="table-responsive inside-table">
                <table class="table table-striped table-hover csr">
                    <thead>
                        <tr>
                            <th class="col-sm-1 left-border">Item</th>
                            <th class="col-sm-2 left-border">Platform</th>
                            <th class="col-sm-2 left-border">Package Size</th>
                            <th class="col-sm-1 left-border">RDL Number</th>
                            <th class="col-sm-1 left-border">RDL Pitch (min.)</th>
                            <th class="col-sm-1 left-border">Direct Opening (min.)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="left-border">Chip-First</td>
                            <td class="left-border">Wafer Based</td>
                            <td class="left-border">5x5mm<sup>2</sup> - 55x55mm<sup>2</sup></td>
                            <td class="left-border">< 3</td>
                            <td class="left-border">< 20um</td>
                            <td class="left-border">< 20um</td>
                        </tr>
                        <tr>
                            <td class="left-border">Chip-First</td>
                            <td class="left-border">Wafer or Panel Based</td>
                            <td class="left-border">12x12mm<sup>2</sup> - 60x60mm<sup>2</sup></td>
                            <td class="left-border">< 3</td>
                            <td class="left-border">< 2um</td>
                            <td class="left-border">< 10um</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<section class="inside-article">
    <div class="content-lg row">
        <div class="col-xs-12"><hr></div>
        <div class="col-xs-12">
            <div class="color-318AC6">More Technology</div>
            <div class="technology-bottom-flex">
                <div class="technology-bottom opacity-50"><a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "fan_out" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-01.png"><br>Fan Out</a></div>
                <div class="technology-bottom"><a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "sip_module_solutions" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-02.png"><br>SiP & Module Solutions</a></div>
                <div class="technology-bottom"><a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "flip_chip" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-03.png"><br>Flip Chip</a></div>
                <div class="technology-bottom"><a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "tsv_interposer_integration" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-04.png"><br>TSV-interposer integration</a></div>

                <div class="technology-bottom"><a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "ipd" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-06.png"><br>IPD</a></div>
                <div class="technology-bottom"><a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "wafer_level_mems" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-07.png"><br>Wafer-Level MEMS</a></div>
                <div class="technology-bottom"><a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "mems_sensor_solutions" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-08.png"><br>MEMS & Sensor Solutions</a></div>
                <div class="technology-bottom"><a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "embedded_die_technology" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-09.png"><br>Embedded Die Technology</a></div>
            </div>
        </div>
        <!-- technolog carousel -->
        <div class="row">
            <div class="col-xs-12">
                <div class="container technology-carousel">
                    <div class='row'>
                        <div class='col-xs-12'>
                            <div class="carousel slide media-carousel" id="media">
                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#media" data-slide-to="0" class="active"></li>
                                    <li data-target="#media" data-slide-to="1"></li>
                                    <li data-target="#media" data-slide-to="2"></li>
                                </ol>
                                <div class="carousel-inner">
                                    <div class="item  active">
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "fan_out" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-01.png"><br>Fan Out</a>
                                            </div>
                                            <div class="col-xs-4">
                                                <a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "sip_module_solutions" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-02.png"><br>SiP & Module Solutions</a>
                                            </div>
                                            <div class="col-xs-4">
                                                <a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "flip_chip" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-03.png"><br>Flip Chip</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "tsv_interposer_integration" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-04.png"><br>TSV-interposer integration</a>
                                            </div>
                                            <div class="col-xs-4">
                                                <a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "ipd" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-06.png"><br>IPD</a>
                                            </div>
                                            <div class="col-xs-4">
                                                <a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "wafer_level_mems" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-07.png"><br>Wafer-Level MEMS</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "mems_sensor_solutions" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-08.png"><br>MEMS & Sensor Solutions</a>
                                            </div>
                                            <div class="col-xs-4">
                                                <a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "embedded_die_technology" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-09.png"><br>Embedded Die Technology</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a data-slide="prev" href="#media" class="left carousel-control">‹</a>
                                <a data-slide="next" href="#media" class="right carousel-control">›</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end technology carousel -->
    </div>
</section>

<script>
	$(document).ready(function() {

		$('#media').carousel({
			pause: true,
			interval: false,
		});
		$("#media").swiperight(function() { /* enables the swiping on phone */
			$(this).carousel('prev');
		});
		$("#media").swipeleft(function() { /* enables the swiping on phone */
			$(this).carousel('next');
		});
		$(".technology-features-content").hide();

		$('.technology-application').click(function() {
			$(this).closest(".row").find(".technology-features").removeClass("technology-tab-active").addClass("technology-tab-inactive");
			$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
			$(this).closest(".row").find(".technology-features-content").hide();
			$(this).closest(".row").find(".technology-application-content").fadeIn(1000);
		});
		$('.technology-features').click(function() {
			$(this).closest(".row").find(".technology-application").removeClass("technology-tab-active").addClass("technology-tab-inactive");
			$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
			$(this).closest(".row").find(".technology-application-content").hide();
			$(this).closest(".row").find(".technology-features-content").fadeIn(1000);
		});
	});
</script>
