﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
}
<!-- page Banner -->
<section id="page-vision" class="page-banner-s banner-technology">
    <h1 class="page-title title-large">Technology</h1>
</section>

<!--breadcrumbs-->
<div class="content-lg row">
    <div class="col-xs-12">
        <ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
        </ol>
    </div>
</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->

<!-- Technology list -->
<section class="inside-article">
    <div class="content-lg row">
        <article class="col-xs-12">
            <div class="col-sm-8 col-md-6 col-lg-4"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/flip_chip_csp1.jpg"></div>
            <div class="clearfix"></div>
            <h3 class="title">Flip Chip CSP</h3>
            <p>
                FCCSP (Flip Chip Chip Scale Package) offers chip scale capacity for I/Os around 200 or less. FCCSP provides better protection for chip and better solder joint reliability compared with direct chip attach (DCA) or chip on board (COB). FCCSP is more superior to known good die (KGD) in low-cost test and burn-in, and performs comparable electrical function with KGD. FCCSP features thin and small profile, and    lightweight packages.
            </p>
        </article>
    </div>
</section>

<section class="inside-article">
    <div class="content-lg row">
        <br><br>
        <div class="col-xs-6">
            <div class="technology-application technology-tab-active">Application</div>
        </div>
        <div class="col-xs-6">
            <div class="technology-features technology-tab-inactive">Features</div>
        </div>
        <div class="clearfix"></div>
        <div class="technology-application-content">
            <div class="col-sm-4 col-md-4">
                <strong>Consumer</strong>
                <ul class="nopadding">
                    <li>Camcorders</li>
                    <li>Digital Camera</li>
                    <li>DVD</li>
                </ul>
            </div>
            <div class="col-sm-4 col-md-4">
                <strong>Computer</strong>
                <ul class="nopadding">
                    <li>Voltage Regulators</li>
                    <li>High-speed Memory</li>
                    <li>Card</li>
                    <li>PC Peripherals</li>
                </ul>
            </div>
            <div class="col-sm-4 col-md-4">
                <strong>Telecommunication</strong>
                <ul class="nopadding">
                    <li>Pagers</li>
                    <li>Cellular Handsets</li>
                    <li>GPS</li>
                </ul>
            </div>
        </div>
        <div class="technology-features-content">
            <div class="col-xs-12 col-md-12">
                <ul class="nopadding">
                    <li>Thinner Profile: “Wafer Thinning” capability (down to 6~8 mils) to support packages thinner than 1.0 mm</li>
                    <li>Substrate: 2-layer BT laminate substrate is used to reduce overall package cost</li>
                    <li>Improved Performance: Thin core (100um) substrate & via-on-pad design can be adopted to achieve better electrical performance</li>
                    <li>Robust Structure: Overmolded process can enhance throughput, component and board level reliability</li>
                    <li>NSMD with OSP C4 pad: Low cost solutions for electric interconnect between solder bump and substrate</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<br>
<section class="inside-article">
    <div class="content-lg row">
        <div class="col-xs-12 col-md-12">
            <h4 class="sub-title">Reliability</h4>
        </div>
        <div class="col-md-4">
            <strong>Package Level</strong>
            <div class="table-responsive inside-table">
                <table class="table table-striped table-hover csr">

                    <tbody>
                        <tr>
                            <td class="left-border">MSL Level 3</td>
                            <td class="left-border">220 °C</td>
                        </tr>
                        <tr>
                            <td class="left-border">TCT-B</td>
                            <td class="left-border">1000 cycles</td>
                        </tr>
                        <tr>
                            <td class="left-border">THT</td>
                            <td class="left-border">1000 hrs</td>
                        </tr>
                        <tr>
                            <td class="left-border">THST</td>
                            <td class="left-border">1000 hrs</td>
                        </tr>
                        <tr>
                            <td class="left-border">PCT</td>
                            <td class="left-border">168 hrs</td>
                        </tr>
                        <tr>
                            <td class="left-border">HAST</td>
                            <td class="left-border">100 hrs</td>
                        </tr>
                    </tbody>
                </table>
            </div><br>
        </div>

        <div class="col-md-5 col-md-offset-2">
            <strong>Board Level</strong>
            <ul class="nopadding">
                <li>Weibull distribution of FCCSP 48L with different surface finish</li>
                <li>0.30 mm dia. SN63/Pb37 solder ball</li>
                <li>Test Condition: -40 ~ 125 degree. Celsius air-to-air</li>
                <li>Ball composition of LF35 or SAC105 were applied on green/RoHS package</li>
            </ul>
            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/flip_chip_csp2.jpg">
        </div>

        <!-- more technology link -->
        <div class="col-md-12">
            <div class="circle_button-wrapper pull-left">
                <a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })">
                    <div class="circle_button darkgray pull-left"><i class="icon-arrow-left"></i></div><span class="more-tech-link">More Technology</span>
                </a>
            </div>
        </div>

        <div class="clearfix"></div>



    </div>
</section>

<br><br>
<section class="csr-bg">
    <div class="content-lg row">
        <div class="col-xs-12 csr">
            <div class="col-md-4 bgnews-list list-base">
                <div class="content">
                    <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "flip_chip_csp" })">
                        <span class="blue-text-in-box">Flip Chip CSP</span>
                        <div class="circle_button-wrapper pull-right">
                            <div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-4 bgnews-list list-base">
                <div class="content">
                    <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "flip_chip_bga" })">
                        <span class="blue-text-in-box">Flip Chip BGA</span>
                        <div class="circle_button-wrapper">
                            <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-4 bgnews-list list-base">
                <div class="content">
                    <a href="hp_@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "flip_chip_bga" })">
                        <span class="blue-text-in-box">HP Flip Chip BGA</span>
                        <div class="circle_button-wrapper">
                            <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-4 bgnews-list list-base">
                <div class="content">
                    <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "cu_pillar" })">
                        <span class="blue-text-in-box">Cu Pillar</span>
                        <div class="circle_button-wrapper">
                            <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-4 bgnews-list list-base">
                <div class="content">
                    <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "solder_bumping" })">
                        <span class="blue-text-in-box">Solder Bumping</span>
                        <div class="circle_button-wrapper">
                            <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
	$(document).ready(function() {
		$(".technology-features-content").hide();

		$('.technology-application').click(function() {
			$(this).closest(".row").find(".technology-features").removeClass("technology-tab-active").addClass("technology-tab-inactive");
			$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
			$(this).closest(".row").find(".technology-features-content").hide();
			$(this).closest(".row").find(".technology-application-content").fadeIn(1000);
		});
		$('.technology-features').click(function() {
			$(this).closest(".row").find(".technology-application").removeClass("technology-tab-active").addClass("technology-tab-inactive");
			$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
			$(this).closest(".row").find(".technology-application-content").hide();
			$(this).closest(".row").find(".technology-features-content").fadeIn(1000);
		});
	});
</script>
