﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
}
<!-- page Banner -->
<section id="page-vision" class="page-banner-s banner-fit long-text">
    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/supplier/banner_supplier.jpg" />
    <h1 class="page-title">SUPPLIER MANAGEMENT</h1>
</section>

<!--breadcrumbs-->
<div class="content-lg row">
    <div class="col-xs-12">
        <ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
        </ol>
    </div>
</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->

<section class="inside-article">
    <div class="content-lg row">
        <div class="col-xs-12">
            <h3 class="title">Sustainable Supply Chain Initiatives</h3>
            <p class="spacing2em">As the leading provider of semiconductor assembly and test, ASE seeks to extend its influence for the benefit of the industry. We are members of the following organizations promoting the above initiatives.</p>


            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/supplier/grow_with_supply_chain1.gif" height="100" class="pull-right">
            <h4 class="sub-title">Electronic Industry Citizenship Coalition (EICC)</h4>
            <p class="spacing2em">In 2015, we became an applicant member of EICC. We actively participate at EICC annual meetings and engage with member companies to learn and exchange best practices in supply chain management.</p>


            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/supplier/grow_with_supply_chain2.png" height="120" class="pull-right margin-right-80">
            <h4 class="sub-title">Conflict-Free Sourcing Initiative (CFSI)</h4>
            <p class="spacing2em">In 2015, we became a member of the Conflict-Free Sourcing Initiative (CFSI) and also joined the CMRT and Due Diligence (DD) work team.</p>

        </div>
    </div>
</section>
