﻿@using web.Models;
@using web.Common;
@using System.Globalization;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
    List<ir_news> event_list = ViewBag.event_list;
    List<ir_news> financial_list = ViewBag.financial_list;
    string culture = "en-US";
}

<!-- PAGE BANNER -->
<section id="page-vision" class="page-banner-s banner-fit">
    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/ir/banner_ir.jpg" />
    <h1 class="page-title">Investor Relations</h1>
</section>

<!--breadcrumbs-->
<div class="content-lg row">
    <div class="col-xs-12">
        <ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
        </ol>
    </div>
</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->

<!-- IR list -->
<section id="ir-list" class="ir-list bgnews-list">
    <!-- List -->
    <div class="content-lg row">
        <div class="col-xs-12 col-md-6">
            @if (event_list.Count > 0)
            {
                <div class="list">
                    <h4 class="text-center">
                        Events
                        <a href="javascript:;" class="circle_button"><i class="icon-cross"></i></a>
                    </h4>
                    <div class="content">
                        @foreach (ir_news item in event_list)
                        {
                            DateTime dateS = new DateTime(item.start_date.Value.Year, item.start_date.Value.Month, item.start_date.Value.Day);
                            DateTime dateE = (item.end_date == null ? new DateTime() : new DateTime(item.end_date.Value.Year, item.end_date.Value.Month, item.end_date.Value.Day));
                            string temp_link = string.IsNullOrEmpty(item.link) ? "" : item.link;

                            <a @(string.IsNullOrEmpty(temp_link) ? "class=\"link-disable\"" : "href="+temp_link+" target=_blank")>
                                <div class="textbox">
                                    <p class="date">@dateS.ToString("MMM dd, yyyy", CultureInfo.CreateSpecificCulture(culture)) @(item.end_date != null ? "– " + dateE.ToString("MMM dd, yyyy", CultureInfo.CreateSpecificCulture(culture)) : "")</p>
                                    <p class="title">@item.title</p>
                                </div>
                                <div class="circle_button-wrapper">
                                    <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                                </div>
                            </a>
                        }
                    </div>
                </div>
            }
        </div>

        <div class="col-xs-12 col-md-6">
            @if (financial_list.Count > 0)
            {
                <div class="list">
                    <h4 class="text-center">
                        Financial Update
                        <a href="javascript:;" class="circle_button"><i class="icon-cross"></i></a>
                    </h4>
                    <div class="content">
                        @foreach (ir_news item in financial_list)
                        {
                            DateTime dateS = new DateTime(item.start_date.Value.Year, item.start_date.Value.Month, item.start_date.Value.Day);
                            DateTime dateE = (item.end_date == null?new DateTime(): new DateTime(item.end_date.Value.Year, item.end_date.Value.Month, item.end_date.Value.Day));
                            string temp_link = string.IsNullOrEmpty(item.link) ? "" : item.link;

                            <a @(string.IsNullOrEmpty(temp_link) ? "class=\"link-disable\"" : "href=" + temp_link + " target=_blank")>
                                <div class="textbox">
                                    <p class="date">@dateS.ToString("MMM dd, yyyy", CultureInfo.CreateSpecificCulture(culture)) @(item.end_date == null ? "":"– " + dateE.ToString("MMM dd, yyyy", CultureInfo.CreateSpecificCulture(culture)))</p>
                                    <p class="title">@item.title</p>
                                </div>
                                <div class="circle_button-wrapper">
                                    <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                                </div>
                            </a>
                        }
                    </div>
                </div>
            }
        </div>

    </div>
</section>

<!-- IR Disclaimer -->
<section class="ir-dis">
    <div class="content-lg row">
        <div class="col-xs-12">
            <h2 class="section-title">Disclaimer</h2>
            <p>ASE provides access to certain previously distributed information on this web site for general reference only. This information is accurate only as of its date and ASE undertakes no obligation to update this information. Some of the information on this web site contains forward-looking statements, which may include statements regarding ASE's future results of operations, financial condition or business prospects. Please see the documents ASE files with the United States Securities and Exchange Commission, particularly ASE's most recent annual report on Form 20-F and periodic reports on Form 6-K, which identify important factors that could cause actual results and events to differ materially from those contained in such forward-looking statements, including risks associated with cyclicality and market conditions in the semiconductor industry, demand for outsourced semiconductor packaging and testing services, the highly competitive semiconductor industry and our ability to introduce new packaging, interconnect materials and testing technologies in order to remain competitive. Please also read our <a href="javascript:;">Web Site Terms and Conditions of Use</a>.</p>
        </div>
    </div>
</section>

