﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-fit">
		<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/products/banner_products_csp.jpg">
		<h1 class="page-title title-large">Products</h1>
	</section>

	<!--麵包屑-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->

	<!-- Products Content -->
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 nopadding"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/products/Sensor-Sip.png"></div>
				<div class="clearfix"></div>
				<h3 class="title">Sensor SiP Module</h3>
			</article>
		</div>
	</section>
	<section class="inside-article">
		<div class="content-lg row">
			<br>
			<div class="col-xs-6">
				<div class="technology-application technology-tab-active">Application</div>
			</div>
			<div class="col-xs-6">
				<div class="technology-features technology-tab-inactive">Features</div>
			</div>
			<div class="clearfix"></div>
			<div class="technology-application-content">
				<div class="col-sm-12 col-md-12">
					<p>
						Physiological sign sensing
					</p>
				</div>
			</div>
			<div class="technology-features-content">
				<div class="col-sm-12 col-md-12">
					<p>
						<ul class="nopadding">
							<li>Structure: optical molding + EDS</li>
							<li>LED x 3pcs + photo-die x 1pcs wire bond</li>
							<li>EDS: 2L embedded-die substrate</li>
							<li>Dimension: LGA 5.5 X 4.2 mm&sup2;</li>
							<li>Protection: molding with clean CPD</li>
						</ul>
					</p>
				</div>
			</div>

			<div class="col-md-12"><br>
				<div class="circle_button-wrapper pull-left">
					<a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" })">
						<div class="circle_button darkgray pull-left"><i class="icon-arrow-left"></i></div><span class="more-tech-link">More Products</span>
					</a>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</section>
	<br><br>
	<section class="csr-bg">
		<div class="content-lg row">
			<div class="products-menu1-content col-xs-12 csr">

				<div class="col-md-6 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "ssd_sip_module" })">
							<span class="blue-text-in-box">SSD SiP Module</span>
							<div class="circle_button-wrapper pull-right">
								<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-6 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "aeasi_power_module" })">
							<span class="blue-text-in-box">aEASI Power Module</span>
							<div class="circle_button-wrapper">
								<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-6 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "sensor_sip_module" })">
							<span class="blue-text-in-box">Sensor SiP Module</span>
							<div class="circle_button-wrapper">
								<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-6 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "optical_sip_module" })">
							<span class="blue-text-in-box">Optical SiP Module</span>
							<div class="circle_button-wrapper">
								<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>
				<div class="clearfix"></div>

			</div>
		</div>
	</section>
