﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/ch/_Layout_seo.cshtml";
    ViewBag.Title = "Advanced Embedded Active System Integration ";
    ViewBag.enURL = "/en/technology/aeasi";
    ViewBag.zhURL = "/ch/technology/aeasi";
}
<!-- page Banner -->
<section id="page-vision" class="page-banner-s banner-technology">
    <h1 class="page-title title-large">Advanced Embedded Active System Integration</h1>
</section>

<!--breadcrumbs-->
<div class="content-lg row">
    <div class="col-xs-12">
        <ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
        </ol>
    </div>
</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->

<!-- Technology list -->
<section class="inside-article">
    <div class="content-lg row">
        <article class="col-xs-12">
            <div class="col-xs-6 col-md-4 col-lg-2"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/aeasi1.jpg"></div>
            <div class="clearfix"></div>
            <h3 class="title">Advanced Embedded Active System Integration (a-EASI)</h3>
            <p>
                ASE's Embedded (Chip) Technology is considered an alternative solution to achieve higher level integration with multi-functionalities and form factor shrinkage advantages. ASE a-EASI is suitable for power electronics applications to reduce power loss and high thermal dissipation which also had robust mechanism. Embedded Technology provides SMT integration and flexible routing solution to reduce PCB size. The short connection path though Cu via structure. a-EASI applied metal lead frame to die placement which has high thermal dissipation and EMI benefit.
            </p>
        </article>
    </div>
</section>

<section class="inside-article">
    <div class="content-lg row">
        <br><br>
        <div class="col-xs-6">
            <div class="technology-application technology-tab-active">Application</div>
        </div>
        <div class="col-xs-6">
            <div class="technology-features technology-tab-inactive">Features</div>
        </div>
        <div class="clearfix"></div>
        <div class="technology-application-content">
            <div class="col-sm-12 col-md-12">
                <p>All integrated power devices and driver can be packaged in the sample package, intelligent power switches which combined function of driver, power switch, protection circuitry and diagnostic feedback on a single IC, or power analog application are suitable to the kinds embedded technology.</p>
            </div>
        </div>
        <div class="technology-features-content">
            <!--
            <div class="col-sm-12">
                The figure below shows cross-section illustrations of a multi die in a-EASI structure which integrates power chips and a controller. The package includes a metal lead frame, RDL layers, via connect to chips and lead frame for connection, the back side of package could be for SMT if necessary.<br><br>
                The structure properties include
            </div>
            -->
            <div class="col-xs-10 col-xs-offset-1 col-sm-3 col-sm-offset-0">
                <p><strong>P1 Structure</strong></p>
                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/aeasi2.jpg">
                <br>
                <br>
                <p>via direct on chip pad</p>
                <ul class="nopadding">
                    <li>Excellent electrical & thermal performance</li>
                    <li>HVM production proven</li>
                </ul>
            </div>
            <div class="col-xs-10 col-xs-offset-1 col-sm-3 col-sm-offset-1">
                <p><strong>P2 Structure</strong></p>
                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/aeasi3.png">
                <br>
                <br>
                <ul class="nopadding">
                    <li>Thermal enhance (exposed pad)</li>
                    <li>Thinner package</li>
                    <li>Support various footprint (BGA, LGA, QFN)</li>
                    <li>Single die pass AEC-Q100 G1 by customer</li>
                    <li>Embedded 8 chips max. (under customer qualification)</li>
                </ul>
            </div>
            <div class="col-xs-10 col-xs-offset-1 col-sm-3 col-sm-offset-1">
                <p><strong>P3 Structure</strong></p>
                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/aeasi4.png">
                <br>
                <br>
                <p>via direct on chip pad</p>
                <ul class="nopadding">
                    <li>Improve design flexibility for vertical current device</li>
                    <li>Highly integration – smaller form factor</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<br>
<section class="inside-article">
    <div class="content-lg row">
        <div class="col-xs-12 col-md-12">
            <h4 class="sub-title">Reliability</h4>
            <p>Key embedded chip technology will be copper via on die pad, Cu pad on die provided good connection structure, both of bare Cu pad or polyimide layer cover Cu. Compare with traditional lead frame package solution, a-EASI is the solution for low loss and high thermal performance requirement. In high current output, the power efficiency still achieves more than 90%.</p>
        </div>
        <div class="col-md-8">
            <strong>Package Level</strong>
            <div class="table-responsive inside-table">
                <table class="table table-striped table-hover csr">
                    <thead>
                        <tr>
                            <th>Test Item</td>
                            <th class="left-border">Test Condition</td>
                            <th class="left-border">Duration</td>
                            <th class="left-border">Quantity</td>
                            <th class="left-border">Results</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>PRECONDITON</td>
                            <td class="left-border">MSL3 (Soak: 30&deg;C/60% RH)</td>
                            <td class="left-border">N/A</td>
                            <td class="left-border">100</td>
                            <td class="left-border">Passed</td>
                        </tr>
                        <tr>
                            <td>HAST</td>
                            <td class="left-border">130&deg;C/85 % 33,3 PSIA</td>
                            <td class="left-border">96 hrs, 192 hrs</td>
                            <td class="left-border">75</td>
                            <td class="left-border">Passed</td>
                        </tr>
                        <tr>
                            <td>TCT</td>
                            <td class="left-border">-65&deg;C~150&deg;C</td>
                            <td class="left-border">500/1000/1500/1700/2000 cycles</td>
                            <td class="left-border">75</td>
                            <td class="left-border">Passed</td>
                        </tr>
                        <tr>
                            <td>HTST</td>
                            <td class="left-border">150&deg;C</td>
                            <td class="left-border">500/1000/1500/2000 cycles</td>
                            <td class="left-border">75</td>
                            <td class="left-border">Passed</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <br>
            <strong>Board Level</strong>
            <div class="table-responsive inside-table">
                <table class="table table-striped table-hover csr">
                    <thead>
                        <tr>
                            <th>Test Item</td>
                            <th class="left-border">Test Condition</td>
                            <th class="left-border">Quantity</td>
                            <th class="left-border">Results</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Drop Test</td>
                            <td class="left-border">-1500 G, 0.5 ms</td>
                            <td class="left-border">60</td>
                            <td class="left-border">Passed</td>
                        </tr>
                        <tr>
                            <td>Cyclic Bend Test</td>
                            <td class="left-border">
                                Deflection: 2mm<br>
                                Frequency: 1Hz
                            </td>
                            <td class="left-border">36</td>
                            <td class="left-border">Passed</td>
                        </tr>
                        <tr>
                            <td>TCT</td>
                            <td class="left-border">-40&deg;C~125&deg;C, 50min</td>
                            <td class="left-border">30</td>
                            <td class="left-border">Passed</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="content-wrapper col-md-12 tech-cont-link">
            <br><a class="phone" href="@Url.Action("plants_offices", "About", new { lang = ViewBag.language.lang })"><span class="glyphicon glyphicon-earphone"></span>  聯絡我們</a>
        </div>

        <!-- more technology link -->


        <div class="col-md-12">
            <br>
            <div class="circle_button-wrapper pull-left">
                <br>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="clearfix"></div>



    </div>


</section>


<section class="csr-bg">
    <div class="content-lg row">
        <div class="col-xs-12 csr">
            <div class="col-md-2 bgnews-list list-base">

            </div>
            <div class="col-sm-6 col-md-4 bgnews-list list-base">
                <div class="content">
                    <a href="@Url.Action("aeasi", "technology", new { lang = ViewBag.language.lang })">
                        <span class="blue-text-in-box">a-EASI</span>
                        <div class="circle_button-wrapper pull-right">
                            <div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 bgnews-list list-base">
                <div class="content">
                    <a href="@Url.Action("sesub", "technology", new { lang = ViewBag.language.lang })">
                        <span class="blue-text-in-box">SESUB</span>
                        <div class="circle_button-wrapper">
                            <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {

        $('#media').carousel({
            pause: true,
            interval: false,
        });
        $("#media").swiperight(function () { /* enables the swiping on phone */
            $(this).carousel('prev');
        });
        $("#media").swipeleft(function () { /* enables the swiping on phone */
            $(this).carousel('next');
        });
        $(".technology-features-content").hide();

        $('.technology-application').click(function () {
            $(this).closest(".row").find(".technology-features").removeClass("technology-tab-active").addClass("technology-tab-inactive");
            $(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
            $(this).closest(".row").find(".technology-features-content").hide();
            $(this).closest(".row").find(".technology-application-content").fadeIn(1000);
        });
        $('.technology-features').click(function () {
            $(this).closest(".row").find(".technology-application").removeClass("technology-tab-active").addClass("technology-tab-inactive");
            $(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
            $(this).closest(".row").find(".technology-application-content").hide();
            $(this).closest(".row").find(".technology-features-content").fadeIn(1000);
        });
    });
</script>