﻿@using web.Models;
@{ 
    admin_emp admin = ViewBag.web_admin;
}
<header class="main-header">
    <a href="@Url.Action("Index", "Dashboard")" class="logo">
        <!-- LOGO -->
        <img src="@Url.Content("~/public/backend/img/logo-en.png")" alt="ASE Group" />
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li><a href="@Url.RouteUrl("Default", new { Controller = "Home", Action = "Index"})" target="_blank">Open URL</a></li>
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-user-o" aria-hidden="true" style="font-size: 1em;color:white;"></i>
                        <span class="hidden-xs">@(admin.ae_empnm)</span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header" style="height:initial;">
                            <p>@(admin.ae_empnm)</p>
                        </li>
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                @*<a href="#" class="btn btn-default btn-flat">Profile</a>*@
                            </div>
                            <div class="pull-right">
                                <a href="@Url.Action("Index", "Logout")" class="btn btn-default btn-flat">登出</a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>