﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>網站 Backend | 日月光 ASE Group</title>
    <meta http-equiv="X-UA-Compatible" content="IE=11; IE=10;" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta http-equiv="Expires" content="0" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Pragma-directive" content="no-cache" />
    <meta http-equiv="Cache-Directive" content="no-cache" />

    <!-- CSS -->
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/admin-lte/css/AdminLTE.min.css">
    <!-- Theme skin style -->
    <link rel="stylesheet" href="~/admin-lte/css/skins/skin-blue.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/Content/ionicons.min.css">
    <!-- Theme switch style -->
    <link rel="stylesheet" href="~/Content/bootstrap-switch.min.css">
    <!-- iCheck -->
    <link href="~/Content/iCheck/flat/red.css" rel="stylesheet" />
    <!-- datepicker3 -->
    <link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <!-- Custom style -->
    <link rel="stylesheet" href="~/public/backend/css/style.css">

    <link href="~/Content/sweetalert2.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.1.1.min.js" type="text/javascript"></script>
    <script>
        jQuery.browser = {}; (function () { jQuery.browser.msie = false; jQuery.browser.version = 0; if (navigator.userAgent.match(/MSIE ([0-9]+)./)) { jQuery.browser.msie = true; jQuery.browser.version = RegExp.$1; } })();
    </script>
</head>
<body class="skin-blue sidebar-mini">
    <div class="wrapper">
        <!-- header -->
        @Html.Partial("_header")
        <!-- left sideBar -->
        @Html.Partial("_sidebar")
        <!-- Content -->
        <div class="content-wrapper" style="min-height: 849px;">
            <div class="content-header">
                <h1>
                    @(ViewBag.content_header_title)
                    <small>@(ViewBag.content_header_sub_title)</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="@Url.Action("Index", "Dashboard")"><i class="fa fa-dashboard"></i> Home</a></li>
                </ol>
            </div>
            <div class="content body">
                @RenderBody()
            </div>
        </div>
        <!-- footer -->
        @Html.Partial("_footer")
    </div>
    @*<!-- JS -->*@
    <script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=080r1e2deba9592hlb5gt4ykxa9h5hxjbtgqiup90d0uqbzg"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.icheck.min.js"></script>
    <script src="~/Scripts/moment-with-locales.min.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.js"></script>
    <script src="~/Scripts/bootstrap-switch.min.js" type="text/javascript"></script>
    <script src="~/admin-lte/js/app.min.js" type="text/javascript"></script>
    <script src="~/Scripts/sweetalert2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.min.js"></script>*@
    <script src="~/public/backend/js/init.js" type="text/javascript"></script>
    @if (TempData["mesage"] != null)
    {
        @Html.Raw(TempData["mesage"].ToString())
    }
</body>
</html>
