﻿@using web.Models;
@{
    admin_emp admin = ViewBag.web_admin;
    //List<web_menu> auth_web_menu_list = ViewBag.auth_web_menu_list;
    List<web_menu> unit_menu_list = ViewBag.unit_menu_list;
    List<web_menu> backend_menu_list = unit_menu_list.Where(x => x.wm_category_id == 0).OrderBy(x => x.wm_sort).ThenBy(x => x.wm_id).ToList();
    List<web_menu> frontend_menu_list = unit_menu_list.Where(x => x.wm_category_id == 1).OrderBy(x => x.wm_sort).ThenBy(x => x.wm_id).ToList();

}
<aside class="main-sidebar">
    <!-- Inner sidebar -->
    <section class="sidebar">
        <!-- user panel (Optional) -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="~/public/backend/img/touch-icon.png" class="img-circle" alt="User Image">
                @*<i class="fa fa-user-o" aria-hidden="true" style="font-size: 3em;color:white;"></i>*@
            </div>
            <div class="pull-left info">
                <p>@(admin.ae_empnm)</p>

                <a href="@Url.Action("Index", "Logout")"><i class="fa fa-circle text-success"></i> 登出</a>
            </div>
        </div><!-- /.user-panel -->
        <!-- Sidebar Menu -->
        <ul class="sidebar-menu">
            @if (backend_menu_list.Count() > 0)
            {
                <li class="header">一般設定</li>
                <!-- Optionally, you can add icons to the links -->
                foreach (web_menu item in backend_menu_list)
                {
                    if (item.wm_parent_id == null)
                    {
                        <li class="treeview">
                            <a href="@Url.Action("Index", item.wm_controller, new { id = item.wm_url_id })"><i class="@(item.wm_icon)"></i> <span>@(item.wm_title)</span></a>
                        </li>
                    }
                }
            }

            @if (frontend_menu_list.Count() > 0)
            {
                <li class="header">單元設定</li>
                <!-- Optionally, you can add icons to the links -->
                foreach (web_menu item in frontend_menu_list)
                {
                    if (item.wm_parent_id == null)
                    {
                        <li>
                            <a href="@Url.Action("Index", item.wm_controller, new { id = item.wm_url_id })"><i class="@(item.wm_icon)"></i> <span>@(item.wm_title)</span></a>
                        </li>
                    }
                }
            }
        </ul><!-- /.sidebar-menu -->

    </section><!-- /.sidebar -->
</aside><!-- /.main-sidebar -->