﻿@{
    Layout = null;
    ViewBag.media_bank_physical_path = Server.MapPath(Url.Content("~/" + ViewBag.media_bank_path)).Replace("\\", "\\\\");
    ViewBag.media_bank_virtual_path = Url.Content("~/" + ViewBag.media_bank_path);

    List<Dictionary<string, int>> ratio_list = (List<Dictionary<string, int>>)ViewBag.ratio;
}

<link href="~/Content/imgareaselect/imgareaselect-default.css" rel="stylesheet" />
<script src="~/Scripts/imgareaselect/jquery.imgareaselect.pack.js"></script>
<script src="~/Scripts/jqueryfiletree/jqueryFileTree.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(
        function () {
            $('#file_explorer').fileTree(
                {
                    root: '@ViewBag.media_bank_physical_path',
                    script: '@Url.Content("~/Scripts/jqueryfiletree/jqueryFileTree.aspx")',
                    //folderEvent: 'click',
                    expandSpeed: 1,
                    collapseSpeed: 1
                },
                function (file) {
                    file = file.replace(/@(ViewBag.media_bank_physical_path)/i, '@(ViewBag.media_bank_virtual_path)');

                    var file_string_ary = file.split("/");

                    $("#filename").val(file);
                    $("#display_filename").val(file);
                    $("#btn_cancel_filename").show();
                    $("#preview").attr("href", file);
                    $("#preview").html('已選擇檔案 : '+file_string_ary[file_string_ary.length -1]);
                    $("#preview").css("display", "");

                }
            );
            $("#btn_cancel_filename").click(function()
            {
                $("#filename").val('');
                $("#display_filename").val('');
                $("#preview").hide();
                $("#btn_cancel_filename").hide();
            });

            // ----------------------------------------------------------------------------------------------------------------------------------------------------------------------

            $('#img_explorer').fileTree({
                    root: '@ViewBag.media_bank_physical_path',
                    script: '@Url.Content("~/Scripts/jqueryfiletree/jqueryFileTree.aspx")',
                    //folderEvent: 'click',
                    expandSpeed: 1
                    ,collapseSpeed: 1
                    ,filter: "jpg,gif,png,jpeg,bmp"
                },
                    function (file) {
                        file = file.replace(/@(ViewBag.media_bank_physical_path)/i, '@(ViewBag.media_bank_virtual_path)');

                        $("#img_filename").val(file);
                        $("#preview_img_filename").attr("src", file);
                        $("#btn_cancel_img_filename").show();
                        var max_width = 600;

                        var img = new Image();
                        img.src = file;
                        img.onload = function()
                        {
                            $('input[name="img1_scale"]').val(1);
                            if (img.width > max_width) {
                                $('input[name="img1_scale"]').val(max_width / img.width);
                                img.width = max_width;
                                //$("#preview_img_filename").css("width", img.width);
                            }
                            else {
                                //$("#preview_img_filename").css("width", "auto");
                            }

                            $("#preview_img_filename").css("display", "");
                        }


                        $('#preview_img_filename').imgAreaSelect(
                        {
                            @if( ratio_list.Count > 0 )
                            {
                                @:aspectRatio: "@(ratio_list[0]["width"]):@(ratio_list[0]["height"])",
                            }
                            fadeSpeed: 100,
                            handles: true,
                            instance: true,
                            onSelectChange: preview
                        }
                    );

                    }
            );
            $("#btn_cancel_img_filename").click(function()
            {
                $("#img_filename").val('');
                $("#preview_img_filename").hide();
                $("#btn_cancel_img_filename").hide();
            });

        }
    );
    
    function preview(img, selection)
    {
        $('input[name="img1_x1"]').val(selection.x1);
        $('input[name="img1_y1"]').val(selection.y1);
        $('input[name="img1_x2"]').val(selection.x2);
        $('input[name="img1_y2"]').val(selection.y2);
    }

    function preview2(img, selection)
    {
        $('input[name="img2_x1"]').val(selection.x1);
        $('input[name="img2_y1"]').val(selection.y1);
        $('input[name="img2_x2"]').val(selection.x2);
        $('input[name="img2_y2"]').val(selection.y2);
    }

    function preview3(img, selection)
    {
        $('input[name="img3_x1"]').val(selection.x1);
        $('input[name="img3_y1"]').val(selection.y1);
        $('input[name="img3_x2"]').val(selection.x2);
        $('input[name="img3_y2"]').val(selection.y2);
    }
</script>

