﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/tw/_Layout.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-fit">
		<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/products/banner_products_csp.jpg">
		<h1 class="page-title title-large">產品</h1>
	</section>

	<!--麵包屑-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "/" })"><i class="icon-home"></i><span itemprop="name">首頁</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" })"><span itemprop="name">產品</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Assembly", "Products", new { lang = ViewBag.language.lang })"><span itemprop="name">封裝</span></a>
					<meta itemprop="position" content="3" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "leadframe_solution" })"><span itemprop="name">Leadframe Solution</span></a>
					<meta itemprop="position" content="4" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "aqfn" })"><span itemprop="name">aQFN</span></a>
					<meta itemprop="position" content="5" />
				</li>
			</ol>
		</div>
	</div>

	<div class="breadcrumbs-pc pull-left" id="breadcrumbs-pc">
		<ul class="breadcrumbs-view" id="breadcrumbs-view">
			<li class="dropdown-item">
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })">技術</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" })" class="active">產品</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Solution" })">解決方案</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "ir" })">投資人關係</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })">企業社會責任</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "About" })">了解日月光</a></li>
				</ul>
			</li>
			<li class="dropdown-item">
				<a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" })">產品</a>
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.Action("Assembly", "Products", new { lang = ViewBag.language.lang })" class="active">封裝</a></li>
					<li><a href="@Url.Action("Test", "Products", new { lang = ViewBag.language.lang })">測試</a></li>
					<li><a href="@Url.Action("Material", "Products", new { lang = ViewBag.language.lang })">材料</a></li>
					<li><a href="@Url.Action("Tray", "Products", new { lang = ViewBag.language.lang })">IC承載盤</a></li>
				</ul>
			</li>
			<li class="dropdown-item">
				<a href="@Url.Action("Assembly", "Products", new { lang = ViewBag.language.lang })">封裝</a>
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "bumping_solution" })">Wafer  Bumping Solution</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "wafer_level_package_solution" })">Wafer Level Package Solution</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "flip_chip_solution" })">Flip Chip Solution</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "sip_module_solutions" })">SiP & Module Solutions</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "wire_bond_bga_solution" })">Wire Bond BGA Solution</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "leadframe_solution" })" class="active">Leadframe Solution</a></li>
				</ul>
			</li>
			<li class="dropdown-item">
				<a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "leadframe_solution" })">Leadframe Solution</a>
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "qfn" })">QFN</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "aqfn" })" class="active">aQFN</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "qfp" })">QFP</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "lqfp_tqfp" })">LQFP/TQFP</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "plcc" })">PLCC</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "so" })">SO</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "pdip" })">PDIP</a></li>
				</ul>
		</ul>
	</div>
	
	<!-- Products Content -->
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<div class="col-xs-8 col-sm-6 col-md-4 nopadding"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/products/aQFN.png"></div>
				<div class="clearfix"></div>
				<h3 class="title">aQFN</h3>
				<p>
					Advanced Quad Flat No-lead. aQFN™ is solution for Lead less, multi-row and fine pitch lead frame package with enhanced Thermal/ Electrical performance. aQFN™ is a cost-effective packaging solution due to its economical materials and simpler packaging process.
				</p>
			</article>
		</div>
	</section>
	<section class="inside-article">
		<div class="content-lg row">
			<br>
			<div class="col-xs-6">
				<div class="products-application technology-tab-active">Application</div>
			</div>
			<div class="col-xs-6">
				<div class="products-features technology-tab-inactive">Features</div>
			</div>
			<div class="clearfix"></div>
			<div class="products-application-content">
				<div class="col-md-4">
					<p>
						<strong>Telecommunication products</strong><br>
						Cellular phones<br>
						Wireless LAN
					</p>
				</div>
				<div class="col-md-4">
					<p>
						<strong>Portable products</strong><br>
						Personal digital assistants<br>
						Digital cameras
					</p>
				</div>
				<div class="col-md-4">
					<p>
						<strong>Low to medium lead count packages</strong><br>
						Information appliances
					</p>
				</div>
			</div>
			<div class="products-features-content">
				<div class="col-xs-12 col-md-12">
					<ul class="nopadding">
						<li>Low profile, small footprint and light weight</li>
						<li>Free-form I/O design</li>
						<li>Fine lead pitch 0.4mm</li>
						<li>Excellent thermal performance</li>
						<li>Excellent electrical performance</li>
						<li>Good SMT performance</li>
						<li>Cost effective package</li>
						<li>Extend QFN I/O count up to 400</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<br>
	<section class="inside-article">
		<div class="content-lg row">
			<div class="content-wrapper col-md-12 tech-cont-link">
				<a class="phone" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "plants_offices_ase" })"><span class="glyphicon glyphicon-earphone"></span>  聯絡我們</a><br><br>
			</div>
			<div class="clearfix"></div>
		</div>
	</section>
	<section class="csr-bg">
		<div class="content-lg row">
			<div class="col-xs-12 csr">

				<div class="col-md-4 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "qfn" })">
							<span class="blue-text-in-box">QFN</span>
							<div class="circle_button-wrapper pull-right">
								<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>
			
				<div class="col-md-4 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "aqfn" })">
							<span class="blue-text-in-box">aQFN</span>
							<div class="circle_button-wrapper">
								<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>
			
				<div class="col-md-4 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "qfp" })">
							<span class="blue-text-in-box">QFP</span>
							<div class="circle_button-wrapper">
								<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-3 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "lqfp_tqfp" })">
							<span class="blue-text-in-box">LQFP/TQFP</span>
							<div class="circle_button-wrapper pull-right">
								<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>
			
				<div class="col-md-3 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "plcc" })">
							<span class="blue-text-in-box">PLCC</span>
							<div class="circle_button-wrapper">
								<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>
			
				<div class="col-md-3 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "so" })">
							<span class="blue-text-in-box">SO</span>
							<div class="circle_button-wrapper">
								<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>
			
				<div class="col-md-3 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "pdip" })">
							<span class="blue-text-in-box">PDIP</span>
							<div class="circle_button-wrapper">
								<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>
				<div class="clearfix"></div>

			</div>
		</div>
	</section>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

	<script>
		$(document).ready(function() { 
			$(".products-features-content").hide();

			$('.products-application').click(function() {
				$(this).closest(".row").find(".products-features").removeClass("technology-tab-active").addClass("technology-tab-inactive");
				$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
				$(this).closest(".row").find(".products-features-content").hide();
				$(this).closest(".row").find(".products-application-content").fadeIn(1000);
			});
			$('.products-features').click(function() {
				$(this).closest(".row").find(".products-application").removeClass("technology-tab-active").addClass("technology-tab-inactive");
				$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
				$(this).closest(".row").find(".products-application-content").hide();
				$(this).closest(".row").find(".products-features-content").fadeIn(1000);
			});
		});
	</script>