﻿@{
    Layout = "~/Areas/Backend/Views/Admin/Index.cshtml";
    admin_emp admin = ViewBag.web_admin;
}

@using web.Models
@using web.Common
@model List<admin_emp_group>

<div class="box-header with-border">
    <h3 class="box-title"></h3>
    <div class="box-tools pull-right">
        @if (admin.ae_super_admin == 1)
        {
            <a class="btn btn-primary" href="@Url.Action("GroupContent", "Permission", new { id = ViewBag.node.wm_url_id, param1 = 0 })" role="button"> 新增 </a>
        }
    </div>
</div>

<div class="table-responsive">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>名稱</th>
                <th>啟用</th>
                @if (admin.ae_super_admin == 1)
                {
                    <th>權限管理</th>
                    <th>編輯</th>
                    <th>刪除</th>
                }
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() > 0)
            {
                foreach (admin_emp_group item in Model)
                {
                    <tr>
                        <td>@(item.aeg_name)</td>
                        @if (admin.ae_super_admin == 1)
                        {
                            if (item.aeg_super_group == 1)
                            {
                                <td>
                                    @if (item.aeg_launch == 1)
                                    {
                                        <span class="label label-success"><i class="fa fa-check"></i></span>
                                    }
                                    else
                                    {
                                        <span class="label label-danger"><i class="fa fa-ban"></i></span>
                                    }
                                    @Html.AntiForgeryToken()
                                    <div class="hidden id" data-id="@(item.aeg_id)"></div>
                                </td>
                            }
                            else
                            {
                                <td class="@(admin.ae_super_admin == 1?"list-launch-block":"")">
                                    @if (item.aeg_launch == 1)
                                    {
                                        <span class="label label-success"><i class="fa fa-check"></i></span>
                                    }
                                    else
                                    {
                                        <span class="label label-danger"><i class="fa fa-ban"></i></span>
                                    }
                                    @Html.AntiForgeryToken()
                                    <div class="hidden id" data-id="@(item.aeg_id)"></div>
                                </td>
                            }
                            <td>
                                <a class="btn btn-info btn-sm" href="@(Url.Action("PermissionContent", "Permission", new { id = ViewBag.node.wm_url_id, param1 = item.aeg_id }))"><i class="fa fa-edit"></i></a>
                            </td>
                            <td>
                                <a class="btn btn-warning btn-sm" href="@(Url.Action("GroupContent", "Permission", new { id = ViewBag.node.wm_url_id ,param1 = item.aeg_id }))"><i class="fa fa-edit"></i></a>
                            </td>
                            <td>
                                @if (item.aeg_super_group == 1)
                                {
                                    <button class="btn btn-ban btn-sm"><i class="fa fa-ban"></i></button>
                                }
                                else
                                {
                                    using (Html.BeginForm("DeleteGroupData", "Permission", new { id = ViewBag.node.wm_url_id, param1 = item.aeg_id }, FormMethod.Post))
                                    {
                                        @Html.AntiForgeryToken()
                                        <button class="btn btn-danger btn-sm delete_btn" type="submit"><i class="fa fa-trash-o"></i></button>
                                    }
                                }
                            </td>
                        }
                        else
                        {
                            <td>
                                @if (item.aeg_launch == 1)
                                {
                                    <span class="label label-success"><i class="fa fa-check"></i></span>
                                }
                                else
                                {
                                    <span class="label label-danger"><i class="fa fa-ban"></i></span>
                                }
                            </td>
                        }
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="@(admin.ae_super_admin == 1?"4":"2")" align="center">Empty</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>

    $('.list-launch-block').find('.label').click(function () {
        $label = $(this);
        $id = $(this).siblings('div.id').data('id');
        $token = $(this).siblings('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            url: '@(Url.Action("AjaxUpdateGroupLaunch"))',
            type: "POST",
            cache: false,
            async: true,
            data: { param1: $id, __RequestVerificationToken: $token },
            datatype: "json",
            success: function (data) {
                if (data == 1) {
                    $label.removeClass('label-danger').addClass('label-success').html('<i class="fa fa-check"></i>');
                } else if (data == 0) {
                    $label.removeClass('label-success').addClass('label-danger').html('<i class="fa fa-ban"></i>');
                }
            }
        });
    });
</script>