﻿@{
    Layout = "~/Areas/Backend/Views/Admin/Index.cshtml";
    Dictionary<string, string> error = (Dictionary<string, string>)TempData["error"];
    string str = "";
}

@using web.Models
@using web.Common
@model admin_emp_group

<div class="box-header with-border">
    <h3 class="box-title"></h3>
    <div class="box-tools pull-right">
        <a class="btn btn-warning" href="@Url.Action("GroupList")" role="button"> Back </a>
    </div>
</div>
<div class="box-body form-horizontal">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.HiddenFor(x => x.aeg_id)
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group ">
                    <label class="col-sm-2 control-label" for="title"><i class="required"> * </i> 名稱:</label>
                    <div class="col-sm-5">
                        @{
                            str = "aeg_name";
                        }
                        @Html.TextBox(str, Model.aeg_name, new { @class = "form-control", maxlength = 120, @required = "required" })
                        <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
                    </div>
                </div>
            </div>
        </div>
        if (Model.aeg_super_group == 1)
        {
            <input name="aeg_launch" id="aeg_launch" value="1" type="hidden">
        }
        else
        {
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="launch">啟用:</label>
                        <div class="col-sm-10 iCheck">
                            @{
                                str = "aeg_launch";
                            }
                            <input name="aeg_launch" id="aeg_launch" value="1" type="checkbox" @(Model.aeg_launch == 1 ? "checked" : "") class="form-control">
                            <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
                            <div class="fc text-yellow">資料上線系統判定順序：啟用>上下線時間</div>
                        </div>
                    </div>
                </div>
            </div>
        }
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <div class="col-sm-2 col-sm-offset-2">
                        <button class="btn btn-success btn-block" type="submit">Submit</button>
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-danger btn-block" type="reset">Reset</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
