﻿
@{
    Layout = "~/Areas/Backend/Views/Admin/Index.cshtml";
    Dictionary<string, string> error = (Dictionary<string, string>)TempData["error"];
    string str = "";

    List<web_menu> menu_list = ViewBag.menu_list;
    List<web_menu> frontend_menu_list = menu_list.Where(x => x.wm_category_id == 1).ToList();
    List<web_menu> backend_menu_list = menu_list.Where(x => x.wm_category_id == 0).ToList();
}

@using web.Models
@using web.Common
@model List<admin_emp_group_belong_menu>

<div class="box-header with-border">
    <h3 class="box-title"></h3>
    <div class="box-tools pull-right">
        <a class="btn btn-warning" href="@Url.Action("GroupList")" role="button"> Back </a>
    </div>
</div>
<div class="box-body form-horizontal">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <input type="hidden" name="group_id" value="@(ViewBag.group_id) " />

        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <span class="label label-info">一般設定</span>
            </div>
        </div>
        if (backend_menu_list.Count() > 0)
        {
            foreach (web_menu item in backend_menu_list)
            {
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            @if (item.wm_parent_id == null)
                            {
                                <label class="col-sm-5 control-label" for="group_auth[]">@(item.wm_title)</label>
                            }
                            else
                            {
                                <label class="col-sm-6 control-label" for="group_auth[]">@(item.wm_title)</label>
                            }
                            <div class="col-sm-3 iCheck">
                                @{
                                    str = "wm_id";
                                }
                                <input name="@(str)[]" id="@(str)" value="@(item.wm_id)" type="checkbox" @(Model.Where(x => x.wm_id == item.wm_id).Count() > 0 || item.wm_id == 1 ? "checked" : "") class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <span class="label label-info">單元設定</span>
            </div>
        </div>
        if (frontend_menu_list.Count() > 0)
        {
            foreach (web_menu item in frontend_menu_list)
            {
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            @if (item.wm_parent_id == null)
                            {
                                <label class="col-sm-5 control-label" for="group_auth[]">@(item.wm_title)</label>
                            }
                            else
                            {
                                <label class="col-sm-6 control-label" for="group_auth[]">@(item.wm_title)</label>
                            }
                            <div class="col-sm-3 iCheck">
                                @{
                                    str = "wm_id";
                                }
                                <input name="@(str)[]" id="@(str)" value="@(item.wm_id)" type="checkbox" @(Model.Where(x => x.wm_id == item.wm_id).Count() > 0 ? "checked" : "") class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            }
        }


        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <div class="col-sm-2 col-sm-offset-2">
                        <button class="btn btn-success btn-block" type="submit">Submit</button>
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-danger btn-block" type="reset">Reset</button>
                    </div>
                </div>
            </div>
        </div>
        }
</div>
