﻿@using web.Models;
@using web.Common;
@model supplier
@{
    Layout = "~/Views/Shared/ch/_Layout_seo.cshtml";
    Dictionary<string, string> error = (Dictionary<string, string>)TempData["error"];
    List<string> country_list = ViewBag.country_list;
    string[] currencySymbols = ViewBag.currencySymbols;
}

<!-- page Banner -->
<section id="page-vision" class="page-banner-s banner-fit long-text">
    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/supplier/banner_supplier.jpg" />
    <h1 class="page-title">供應商專區</h1>
</section>

<!--breadcrumbs-->
<div class="content-lg row">
    <div class="col-xs-12">
        <ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
            <!-- Project-B Fix, Apply New Breadcrumb -->
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="/ch"><i class="icon-home"></i><span itemprop="name">Home</span></a>
                <meta itemprop="position" content="0" />
            </li>
        </ol>
    </div>
</div>

<!-- Project-B Fix, Remove Old Breadcrumb -->

<section class="csr-bg">
    <div class="content-lg row">
        <div class="col-xs-12">
            <strong>*為必填項目</strong><br>
            @using (Html.BeginForm("Content", "Supplier", FormMethod.Post, new { enctype = "multipart/form-data", @class = "partner-form", id = "form1" }))
            {
                @Html.AntiForgeryToken()
                <div class="panel panel-default">
                    <div class="panel-heading text-center"><h3 style="margin:0;">公司基本資料</h3></div>
                    <div class="panel-body">
                        <div class="form-group row row_padding_0">
                            <label for="" class="col-sm-4 col-md-4 text-right">*公司名稱 :</label>
                            <div class="col-sm-8 col-md-6">
                                <input type="text" class="form-control" name="company" required value="@(Model.company)">
                                <span class="text-red">@ViewHelper.GetErrorMsg(error, "company")</span>
                            </div>
                        </div>
                        <div class="form-group row row_padding_0">
                            <label for="" class="col-sm-4 col-md-4 text-right">*統一編號 :</label>
                            <div class="col-sm-8 col-md-6">
                                <input type="text" class="form-control" name="business_register_number" required value="@(Model.business_register_number)">
                                <span class="text-red">@ViewHelper.GetErrorMsg(error, "business_register_number")</span>
                            </div>
                        </div>
                        <div class="form-group row row_padding_0">
                            <label for="" class="col-sm-4 col-md-4 text-right">*國別 :</label>
                            <div class="col-sm-8 col-md-6">
                                <select class="form-control form-control-sm" name="country">
                                    <option value="">請選擇</option>
                                    @foreach (string item in country_list)
                                    {
                                        <option value="@(item)" @(Model.country == item ? "selected" : "")>@(item)</option>
                                    }
                                </select>
                                <span class="text-red">@ViewHelper.GetErrorMsg(error, "country")</span>
                            </div>
                        </div>
                        <div class="form-group row row_padding_0">
                            <label for="" class="col-sm-4 col-md-4 text-right">公司網頁 :</label>
                            <div class="col-sm-8 col-md-6">
                                <input type="text" class="form-control" name="website" value="@(Model.website)">
                            </div>
                        </div>
                        <div class="form-group row row_padding_0">
                            <label for="" class="col-xs-12 col-sm-4 col-md-4 text-right label-name">*電話 (+ 國碼) :</label>
                            <div class="col-xs-4 col-sm-2 col-md-2">
                                <span style="position:absolute; margin-top:5px;">+</span>
                                <select class="form-control form-control-sm" style="margin-left:20px;" name="country_code">
                                    @foreach (string item in ViewBag.country_code)
                                    {
                                        if (Tool.IsNumeric(item))
                                        {
                                            <option value="@(item)" @(Model.country_code == item ? "selected" : "")>@(item)</option>
                                        }
                                    }
                                </select>
                                <span class="text-red">@ViewHelper.GetErrorMsg(error, "country_code")</span>
                            </div>
                            <div class="col-xs-8 col-sm-6 col-md-4">
                                <input type="tel" class="form-control" name="tel" required value="@(Model.tel)">
                                <span class="text-red">@ViewHelper.GetErrorMsg(error, "tel")</span>
                            </div>
                        </div>
                        <div class="form-group row row_padding_0">
                            <label for="" class="col-sm-4 col-md-4 text-right">傳真 :</label>
                            <div class="col-sm-8 col-md-6">
                                <input type="tel" class="form-control" name="fax" value="@(Model.fax)">
                            </div>
                        </div>
                        <div class="form-group row row_padding_0">
                            <label for="" class="col-sm-4 col-md-4 text-right">*地址 :</label>
                            <div class="col-sm-8 col-md-6">
                                <input type="text" class="form-control" name="address" required value="@(Model.address)">
                                <span class="text-red">@ViewHelper.GetErrorMsg(error, "address")</span>
                            </div>
                        </div>
                        <div class="form-group row row_padding_0">
                            <label for="" class="col-xs-12 col-sm-4 col-md-4 text-right label-name">*資本額 :</label>
                            <div class="col-xs-6 col-sm-4 col-md-3">
                                <select class="form-control form-control-sm" name="capital_currency">
                                    <option>幣別</option>
                                    <option value="CNY">CNY</option>
                                    <option value="EUR">EUR</option>
                                    <option value="JPY">JPY</option>
                                    <option value="KRW">KRW</option>
                                    <option value="TWD">TWD</option>
                                    <option value="USD">USD</option>
                                </select>
                                <span class="text-red">@ViewHelper.GetErrorMsg(error, "capital_currency")</span>
                            </div>
                            <div class="col-xs-6 col-sm-4 col-md-3">
                                <input type="text" class="form-control" id="" placeholder="Capital" name="capital" required value="@(Model.capital)">
                                <span class="text-red">@ViewHelper.GetErrorMsg(error, "capital")</span>
                            </div>
                        </div>
                        <div class="form-group row row_padding_0">
                            <label for="" class="col-xs-12 col-sm-4 col-md-4 text-right label-name">*年營業額 : </label>
                            <div class="col-xs-6 col-sm-4 col-md-3">
                                <select class="form-control form-control-sm" name="annual_revenue_currency">
                                    <option>幣別</option>
                                    <option value="CNY">CNY</option>
                                    <option value="EUR">EUR</option>
                                    <option value="JPY">JPY</option>
                                    <option value="KRW">KRW</option>
                                    <option value="TWD">TWD</option>
                                    <option value="USD">USD</option>
                                </select>
                                <span class="text-red">@ViewHelper.GetErrorMsg(error, "annual_revenue_currency")</span>
                            </div>
                            <div class="col-xs-6 col-sm-4 col-md-3">
                                <input type="text" class="form-control" id="" placeholder="Revenue" name="annual_revenue" required value="@(Model.annual_revenue)">
                                <span class="text-red">@ViewHelper.GetErrorMsg(error, "annual_revenue")</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- ------------------- Applicant Information --------------------->
                <div class="panel panel-default">
                    <div class="panel-heading text-center"><h3 style="margin:0;">聯絡窗口</h3></div>
                    <div class="panel-body">
                        <div class="form-group row row_padding_0">
                            <label for="" class="col-sm-4 col-md-4 text-right">*姓名 :</label>
                            <div class="col-sm-8 col-md-6">
                                <input type="text" class="form-control" name="name" required value="@(Model.name)">
                                <span class="text-red">@ViewHelper.GetErrorMsg(error, "name")</span>
                            </div>
                        </div>
                        <div class="form-group row row_padding_0">
                            <label for="" class="col-sm-4 col-md-4 text-right">性別 :</label>
                            <div class="col-sm-8 col-md-6">
                                <label class="radio-inline">
                                    <input type="radio" name="gender" id="" value="1" @(Model.gender == 1 ? "checked" : "")> 先生
                                </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <label class="radio-inline">
                                    <input type="radio" name="gender" id="" value="0" @(Model.gender == 0 ? "checked" : "")> 女士
                                </label>
                            </div>
                        </div>
                        <div class="form-group row row_padding_0">
                            <label for="" class="col-sm-4 col-md-4 text-right">職銜 :</label>
                            <div class="col-sm-8 col-md-6">
                                <input type="text" class="form-control" name="title" value="@(Model.title)">
                            </div>
                        </div>
                        <div class="form-group row row_padding_0">
                            <label for="" class="col-sm-4 col-md-4 text-right">*電子郵件 :</label>
                            <div class="col-sm-8 col-md-6">
                                <input type="email" class="form-control" name="email" required value="@(Model.email)">
                                <span class="text-red">@ViewHelper.GetErrorMsg(error, "email")</span>
                            </div>
                        </div>
                        <div class="form-group row row_padding_0">
                            <label for="" class="col-xs-12 col-sm-4 col-md-4 text-right label-name">*連絡電話 :</label>
                            <div class="col-xs-4 col-sm-2 col-md-2">
                                <span style="position:absolute; margin-top:5px;">+</span>
                                <select class="form-control form-control-sm" style="margin-left:20px;" name="contact_tel_country_code">
                                    @foreach (string item in ViewBag.country_code)
                                    {
                                        if (Tool.IsNumeric(item))
                                        {
                                            <option value="@(item)" @(Model.contact_tel_country_code == item ? "selected" : "")>@(item)</option>
                                        }
                                    }
                                </select>
                                <span class="text-red">@ViewHelper.GetErrorMsg(error, "contact_tel_country_code")</span>
                            </div>
                            <div class="col-xs-4 col-sm-3 col-md-2">
                                <input type="text" class="form-control" name="contact_tel" required value="@(Model.contact_tel)">
                                <span class="text-red">@ViewHelper.GetErrorMsg(error, "contact_tel")</span>
                            </div>

                            <div class="col-xs-4 col-sm-3 col-md-2">
                                <span style="position:absolute; margin-left:-35px; margin-top:7px;">(Ext)</span>
                                <input type="text" class="form-control" name="ext" value="@(Model.ext)">
                            </div>
                            <span class="text-red">@ViewHelper.GetErrorMsg(error, "ext")</span>
                        </div>


                    </div>
                </div>
                <!-- ------------------- Main Business ------------------- -->
                <div class="panel panel-default">
                    <div class="panel-heading text-center"><h3 style="margin:0;">主要營業項目</h3></div>
                    <div class="panel-body">

                        <div class="form-group row row_padding_0" style="margin-top:15px;">
                            <label for="" class="col-sm-4 col-md-4 text-right">*廠商類別 :</label>
                            <div class="col-sm-8 col-md-6">
                                <div class="business-fields">
                                    <label class="radio">
                                        <input type="radio" name="business_model" id="" value="0" @(Model.business_model == 0 ? "checked" : "")> 製造商
                                    </label>
                                    <label class="radio">
                                        <input type="radio" name="business_model" id="" value="1" @(Model.business_model == 1 ? "checked" : "")> 經銷商, 請詳列代理品牌:
                                    </label>
                                    <input type="text" class="form-control" name="business_model_remark" value="@(Model.business_model_remark)">
                                    <label class="radio">
                                        <input type="radio" name="business_model" id="" value="2" @(Model.business_model == 2 ? "checked" : "")> 仲介
                                    </label>
                                </div>
                                <span class="text-red">@ViewHelper.GetErrorMsg(error, "business_model")</span>
                            </div>
                        </div>


                        <div class="form-group row row_padding_0">
                            <label for="" class="col-sm-4 col-md-4 text-right">*營業類別 :</label>
                            <div class="col-sm-8 col-md-6">
                                <div class="business-fields">
                                    <label class="radio">
                                        <input type="radio" name="business_varieties" id="" value="0" @(Model.business_varieties == 0 ? "checked" : "")>材料, 請詳列材料:
                                    </label>
                                    <input type="text" class="form-control" name="business_varieties_remark" value="@(Model.business_varieties == 0 ? Model.business_varieties_remark : "")">
                                    <span class="text-red">@ViewHelper.GetErrorMsg(error, "business_model0")</span>
                                    <label class="radio">
                                        <input type="radio" name="business_varieties" id="" value="1" @(Model.business_varieties == 1 ? "checked" : "")>機器設備, 請詳列機器類別:
                                    </label>
                                    <input type="text" class="form-control" name="business_varieties_remark" value="@(Model.business_varieties == 1 ? Model.business_varieties_remark : "")">
                                    <span class="text-red">@ViewHelper.GetErrorMsg(error, "business_model1")</span>
                                    <label class="radio">
                                        <input type="radio" name="business_varieties" id="" value="2" @(Model.business_varieties == 2 ? "checked" : "")> 建築/室內設計/修繕
                                    </label>
                                    <label class="radio" style="margin-top:10px; margin-bottom:-3px;">
                                        <input type="radio" name="business_varieties" id="" value="3" @(Model.business_varieties == 3 ? "checked" : "")> 清潔環保/廢棄物處理
                                    </label>

                                    <div class="col-sm-3">
                                        <label class="radio radio-inline" style="margin-left:-20px;">
                                            <input type="radio" name="business_varieties" id="" value="4" @(Model.business_varieties == 4 ? "checked" : "")> 資訊類
                                        </label>
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="radio radio-inline" style="margin-left:-20px;">
                                            <input type="radio" name="business_varieties" id="" value="5" @(Model.business_varieties == 5 ? "checked" : "")> 運輸交通
                                        </label>
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="radio radio-inline" style="margin-left:-20px;">
                                            <input type="radio" name="business_varieties" id="" value="6" @(Model.business_varieties == 6 ? "checked" : "")> 人力仲介
                                        </label>
                                    </div>
                                    <div class="clearfix"></div>

                                    <label class="radio">
                                        <input type="radio" name="business_varieties" id="" value="7" @(Model.business_varieties == 7 ? "checked" : "")>其他, 請詳述:
                                    </label>
                                    <input type="text" class="form-control" name="business_varieties_remark" value="@(Model.business_varieties == 7 ? Model.business_varieties_remark : "")">
                                    <span class="text-red">@ViewHelper.GetErrorMsg(error, "business_model7")</span>
                                </div>
                            </div>
                        </div>
                        <br>

                        <div class="form-group row row_padding_0">
                            <label for="" class="col-sm-4 col-md-4 text-right">*主要客戶名稱 :</label>
                            <div class="col-sm-8 col-md-6">
                                <div class="business-fields">
                                    <textarea class="form-control" rows="2" name="major_customers" required>@(Model.major_customers)</textarea>
                                    <span class="text-red">@ViewHelper.GetErrorMsg(error, "major_customers")</span>
                                </div>
                            </div>
                        </div>
                        <br>

                        <div class="form-group row row_padding_0">
                            <label for="" class="col-sm-4 col-md-4 text-right">管理系統認證 :</label>
                            <div class="col-sm-8 col-md-6">
                                <div class="business-fields">
                                    <div class="col-sm-12 col-md-3 nopadding" style="margin-top:10px;">品質認證</div>
                                    <div class="col-sm-4 col-md-3 nopadding">
                                        <label class="radio radio-inline nopadding">
                                            <input type="radio" name="qms" id="" value="ISO 9001" @(Model.qms == "ISO 9001" ? "checked" : "")> ISO 9001
                                        </label>
                                    </div>
                                    <div class="col-sm-4 col-md-3 nopadding">
                                        <label class="radio radio-inline nopadding">
                                            <input type="radio" name="qms" id="" value="ISO/TS 16949" @(Model.qms == "ISO/TS 16949" ? "checked" : "")> ISO/TS 16949
                                        </label>
                                    </div>
                                    <div class="col-sm-4 col-md-3 nopadding">
                                        <label class="radio radio-inline nopadding">
                                            <input type="radio" name="qms" id="" value="ISO 17025" @(Model.qms == "ISO 17025" ? "checked" : "")> ISO 17025
                                        </label>
                                    </div>
                                    <div class="clearfix"></div>

                                    <div class="col-sm-12 col-md-3 nopadding" style="margin-top:10px;">環境認證</div>
                                    <div class="col-sm-4 col-md-3 nopadding">
                                        <label class="radio radio-inline nopadding">
                                            <input type="radio" name="environment" id="" value="ISO 14001" @(Model.environment == "ISO 14001" ? "checked" : "")> ISO 14001
                                        </label>
                                    </div>
                                    <div class="col-sm-4 col-md-3 nopadding">
                                        <label class="radio radio-inline nopadding">
                                            <input type="radio" name="environment" id="" value="QC 080000" @(Model.environment == "QC 080000" ? "checked" : "")> QC 080000
                                        </label>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-sm-12 col-md-3 nopadding" style="margin-top:10px;">勞工安全<br>與健康認證</div>
                                    <div class="col-sm-4 col-md-3 nopadding">
                                        <label class="radio radio-inline nopadding">
                                            <input type="radio" name="health" id="" value="OHAS 18001" @(Model.health == "OHAS 18001" ? "checked" : "")> OHAS 18001
                                        </label>
                                    </div>
                                    <div class="col-sm-4 col-md-3 nopadding">
                                        <label class="radio radio-inline nopadding">
                                            <input type="radio" name="health" id="" value="SA 8000" @(Model.health == "SA 8000" ? "checked" : "")> SA 8000
                                        </label>
                                    </div>

                                    <div class="clearfix"></div>
                                    <div class="col-sm-12 col-md-3 nopadding" style="margin-top:10px;">安全認證</div>
                                    <div class="col-sm-4 col-md-3 nopadding">
                                        <label class="radio radio-inline nopadding">
                                            <input type="radio" name="securities" id="" value="EAL6" @(Model.securities == "EAL6" ? "checked" : "")> EAL6
                                        </label>
                                    </div>
                                    <div class="col-sm-4 col-md-3 nopadding">
                                        <label class="radio radio-inline nopadding">
                                            <input type="radio" name="securities" id="" value="ISO 27001" @(Model.securities == "ISO 27001" ? "checked" : "")> ISO 27001
                                        </label>
                                    </div>
                                    <div class="col-sm-4 col-md-3 nopadding">
                                        <label class="radio radio-inline nopadding">
                                            <input type="radio" name="securities" id="" value="ISO 28001" @(Model.securities == "ISO 28001" ? "checked" : "")> ISO 28001
                                        </label>
                                    </div>
                                    <div class="clearfix"></div>
                                    <label class="radio">
                                        <input type="radio" name="securities" id="" value="others" @(Model.securities == "others" ? "checked" : "")>其他, 請敘述:
                                    </label>
                                    <input type="text" class="form-control" name="management_system_remark" value="@(Model.management_system_remark)">
                                </div>
                            </div>
                        </div>
                        <br>

                        <div class="form-group row row_padding_0">
                            <label for="" class="col-xs-12 col-sm-4 col-md-4 text-right label-name">*公司簡介 (200字以內) 或<br>附件 (檔案大小限 2MB) :</label>
                            <div class="col-sm-8 col-md-6">
                                <div class="business-fields">
                                    <textarea class="form-control" rows="2" name="company_introduction">@(Model.company_introduction)</textarea>
                                    <input style="margin-top:15px;" type="file" id="file" placeholder="" name="file">
                                    <span class="text-red">@ViewHelper.GetErrorMsg(error, "company_introduction")</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row row_padding_0">
                            <label for="" class="col-xs-12 col-sm-4 col-md-4 text-right label-name">*驗證碼</label>
                            <div class="col-sm-8 col-md-6">
                                <div class="business-fields">
                                    <input type="hidden" name="_vcodeKey" value="@ViewData["key"]" />
                                    <img id="vcode_img" class="vcode" src="@ViewData["img"]" style="max-width: 100px; border: 0;" />
                                    <input style="margin-top:15px;" required type="text" placeholder="" name="_vcode">

                                    <span class="text-red">@ViewHelper.GetErrorMsg(error, "_vcode")</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end form -->
                <div class="col-xs-12 section-contact">
                    <div class="content-wrapper text-center">
                        您將資料送出後，代表您已同意本公司依<a href="/public/ch/ase_privacy.html">隱私權政策</a>之規定，蒐集、處理及利用您的個人資料。<br /><br />
                        <button type="submit" style="float:none;" id="submit_btn">送出</button>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        @*$('#submit_btn').click(function (e) {
            e.preventDefault();
            var postData = new FormData($("#form1")[0]);
            $.ajax({
                url: "@Url.Action("Content", "Supplier")",
                type: "POST",
                data: postData,
                cache: false,
                dataType: 'json',
                processData: false,
                contentType: false,
                success: function (data) {
                    if (data.result == "true") {
                        swal(
                            'Thank you',
                            '',
                            'success'
                        );
                        location.href = "@Url.Action("become_ase_supply_chain_partner_form", "Supplier")";
                    }
                    else {
                        swal(
                            'Oops...',
                            data.msg,
                            'error'
                        );
                    }
                }
            });
        });*@
    });
</script>
<style>
    .text-red {
        color: red;
    }
</style>