﻿@{
    Layout = "~/Views/Shared/ch/_Layout_seo.cshtml";
}
<!-- page Banner -->
<section id="page-vision" class="page-banner-s banner-fit long-text">
    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/supplier/banner_supplier.jpg" />
    <h1 class="page-title">供應商專區</h1>
</section>

<!--breadcrumbs-->
<div class="content-lg row">
    <div class="col-xs-12">
        <ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch/about"><span itemprop="name">關於日月光</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch/supplier"><span itemprop="name">供應商專區</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch/supplier/become_ase_supply_chain_partner"><span itemprop="name">成為供應鏈夥伴</span></a>
					<meta itemprop="position" content="3" />
				</li>
        </ol>
    </div>
</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->

<section class="inside-article">
    <div class="content-lg row">
        <div class="col-xs-12">
            <h3 class="title">成為日月光供應鏈夥伴</h3>
            <h4 class="sub-title">日月光新供應商評核流程</h4>
            <p>
                供應商在成為正式供應鏈夥伴前，必須通過日月光新供應商評核流程以確保符合標準。以下為日月光新供應商評核流程。
            </p>
        </div>
        <div class="sol-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3	">
            <br><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/supplier/become_ase_supply_chain_partner1.png" class="img-responsive">
        </div>
        <div class="col-xs-12">
            <p>
                <strong>第一階段 - 新供應商文件審查</strong><br>
                供應商提供文件給日月光採購部門審核，包含基本資料表、保密條款、供應商行為準則承諾書、衝突礦產聲明…等。若所提供之資訊揭露不實，日月光有權終止合作。<br><br>

                <strong>第二階段 - 新供應商產品評估/實地稽核</strong><br>
                依不同的供應商業務類別、產品、服務項目，部分供應商於第一階段審查合格後須通過第二階段評估，合格後即可成為供應鏈夥伴。<br><br>
            </p>
        </div>
        <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
            <br><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/supplier/become_ase_supply_chain_partner2.png" class="img-responsive"><br><br>
        </div>
    </div>
</section>
