﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/ch/_Layout_seo.cshtml";
}
<!-- page Banner -->
<section id="page-vision" class="page-banner-s banner-supplier long-text">
    <h1 class="page-title  title-large">供應商專區</h1>
</section>

<!--breadcrumbs-->
<div class="content-lg row">
    <div class="col-xs-12">
        <ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch/about"><span itemprop="name">關於日月光</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch/supplier"><span itemprop="name">供應商專區</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch/supplier/supply_chain_development_and_sustainability_management"><span itemprop="name">供應鏈發展</span></a>
					<meta itemprop="position" content="3" />
				</li>
        </ol>
    </div>
</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->

<section class="inside-article">
    <div class="content-lg row">
        <div class="col-xs-12">
            <h3 class="title">供應鏈發展與永續管理</h3>
            <h4 class="sub-title">供應商永續風險評估</h4>
            <p>
                為掌握供應鏈永續風險，日月光每年進行供應商永續風險調查。更多詳細資料，請參考<a href="@Url.Action("Supply_Chain_Development", "CSR", new { lang = ViewBag.language.lang, param1 = "Supplier_Sustainability_Management" }) ">供應商永續管理</a>。
            </p>
            <br />
            <h4 class="sub-title">供應商永續管理能力建置</h4>
            <p>
                為強化供應商因應全球永續趨勢與風險的能力，日月光透過舉辦不同議題的永續教育訓練，傳達我們供應鏈管理的要求，以幫助供應商提升其永續意識及建立永續經營能力。
            </p>
            <br />
            <h4 class="sub-title">日月光最佳供應商頒獎典禮</h4>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-8">
            <p>
                日月光集團每年舉辦「最佳供應商頒獎典禮」，表揚並肯定供應商的努力，除了鼓勵綜合績效表現卓越的供應商，也強調與供應商發展穩定的夥伴關係。同時，我們也將供應商的優秀實績分享給現場供應商，藉此樹立企業標竿學習楷模，展現與上下游供應商攜手建立永續供應鏈的決心，期望提升產業鏈優勢並帶動升級。
            </p>
            <br />
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/supplier/supply_img_1.png" style="padding-bottom: 5px">
            <p>2017年日月光最佳供應商頒獎典禮</p>
            <br />
        </div>
        <div class="col-xs-12">
            <h4 class="sub-title">日月光投控供應商永續獎</h4>
            <p>
                為提升供應鏈循環經濟與減碳能力，日月光投控鼓勵供應商提出永續合作計畫案，經遴選後將由日月光環保永續基金會提供一至三年合作基金，以期激發創新的合作模式，共創綠色供應鏈的價值與影響力。更多詳細資料，請參考<a href="https://www.aseglobal.com/ch/csr/responsible-procurement/supplier-sustainability-award/" target="_blank">日月光投控供應商永續獎</a>。
            </p>
            <br />
        </div>
    </div>
</section>