﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/ch/_Layout_seo.cshtml";
    ViewBag.Title = "供應鏈管理";
    ViewBag.zhURL = "/ch/supplier/supply_chain_management";
}
<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-supplier long-text">

		<h1 class="page-title title-large">供應商專區</h1>
	</section>

<!--breadcrumbs-->
<div class="content-lg row">
    <div class="col-xs-12">
        <ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch/about"><span itemprop="name">關於日月光</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch/supplier"><span itemprop="name">供應商專區</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch/supplier/supply_chain_management"><span itemprop="name">供應鏈管理</span></a>
					<meta itemprop="position" content="3" />
				</li>
        </ol>
    </div>
</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->

<section class="inside-article">
    <div class="content-lg row">
        <div class="col-xs-12">
            <h3 class="title">供應鏈管理</h3>
            <h4 class="sub-title">供應鏈策略</h4>
            <p>
                日月光集團於半導體產業中佔有一席之地，我們了解採購的整體力量是一項獨特的資源，為了追尋永續成長，同時滿足客戶的需求，在日常採購作業中，除成本與品質的考量外，更評估供應鏈所產生的整體永續價值。透過與供應商發展穩定的夥伴關係，不斷提高整體供應鏈韌性，並具體實踐責任採購，與供應商共同持續成長。<br><br>

                日月光集團供應鏈管理策略：
                <ul class="no-padding " style="margin-left:16px;">
                    <li>價值考量：獲得具競爭力的供應鏈整體價值。</li>
                    <li>多元化供應：維持同種材料至少有兩間以上之供應商，確保原物料之持續供應。</li>
                    <li>品質優先：取得供應商所提供最佳品質之產品與服務。</li>
                    <li>策略性合作：整合供應商之資源與能力協同提升創新力。</li>
                    <li>永續採購：提升供應商經濟、環境與社會面之永續性績效。</li>
                    <li>責任礦物採購：確保供應商提供之產品使用來源可靠的非衝突礦產。請參考<a href="http://www.aseglobal.com/ch/csr_conflict_minerals_compliance.html" target="_blank">日月光集團衝突礦產採購管理政策</a>。</li>
                </ul>
            </p>

            <h4 class="sub-title">電子化供應鏈協同管理</h4>
            <p>
                日月光的供應鏈依採購類別分為原物料、設備、廠務/工程承攬商、廢棄物處理承攬商、運輸與物流以及服務型外包商等。面對電子業複雜的供應鏈及全球客戶的需求，我們整合現有採購流程與網際網路，自2011年發展日月光電子化供應鏈協同平台「e-Hub」，讓採購與供應商在此平台進行電子化詢報價、訂單回覆、出貨通知、檢驗CoC(Certificate of Conformance)提交、庫存查詢、貨款查詢等作業，不僅供應鏈資訊即時透明流通，留存電子紀錄供迅速查詢與稽核，更與供應夥伴建立完善的庫存預警機制來滿足供應需求並提升物流效率，雙方得以縮短作業時程，強化營運管理。
            </p>
            <br />
            <a href="https://www.aseglobal.com/ch/pdf/2019_aseth_purchasingandsupplychaindevelopmentpolicy.pdf" target="_blank"><div class="no-margin circle_button darkgray facilities-circle-button"><i class="icon-arrow-right facilities-icon-arrow-right"></i></div> 採購與供應鏈發展政策</a>
            <br /><br />
            <a href="https://www.aseglobal.com/ch/pdf/ase_holding_supplier_coc_ch_2018.pdf" target="_blank"><div class="no-margin circle_button darkgray facilities-circle-button"><i class="icon-arrow-right facilities-icon-arrow-right"></i></div> 供應商行為準則</a>
            <br /><br />
        </div>
    </div>
</section>