﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/ch/_Layout_seo.cshtml";
}
<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-supplier long-text">

		<h1 class="page-title title-large">供應商專區</h1>
	</section>

<!--breadcrumbs-->
<div class="content-lg row">
    <div class="col-xs-12">
        <ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch/about"><span itemprop="name">關於日月光</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch/supplier"><span itemprop="name">供應商專區</span></a>
					<meta itemprop="position" content="2" />
				</li>
        </ol>
    </div>
</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->

<section class="inside-article">
    <div class="content-lg row">
        <article class="col-xs-12">
            <p>
                供應鏈是日月光價值鏈的重要延伸，因應經濟景氣、全球氣候變化與市場競爭，日月光集團承諾建立緊密的供應商夥伴關係，積極投入供應鏈永續管理以確保供應商和承攬商具備安全的工作環境，員工受到尊重並享有尊嚴，且其營運對環境負責並符合商業道德，以負責任的方式提供高品質的產品和服務。<br><br>

                日月光秉持「積極、互信、誠正、自省」的核心價值追求持續成長，對於供應鏈管理日月光與時俱進，從選商、運用策略執行採購品項、供應商整合，到集結各領域資源建構平台與集團採購制度標準化，更將永續供應落實到採購日常管理，規範供應夥伴遵守行為準則，以「價值導向」引導供應商重視永續發展，促進產業創新。供應鏈管理為企業營運重要的一環，日月光除了堅持廉潔反貪的基本原則，並擬訂整合性採購策略協助達成營運目標；對內運用跨部門資源以兼顧綠色設計與客戶需求，對外與供應商發展穩定的夥伴關係以追求雙贏，並致力於上下游供應鏈合作開發創新的設備與材料，以期持續為客戶提供卓越的產品及服務。
                <br><br>
                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/supplier/message_from_top_management1.png" class="center-block" style="width:90%;">
            </p>
        </article>
    </div>
</section>

<!-- 供應商專區 list -->
<section id="iconlink" class="iconlink linebg-2">
    <div class="content-lg">
        <ul class="row item-3">
            <!--
            <li class="col-xs-12 col-sm-6 col-md-4 text-center">
                <a href="@Url.Action("message_from_top_management", "Supplier", new { lang = ViewBag.language.lang })">
                    <div class="imgbox">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/supplier_icon-01.png" data-hover="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/supplier_icon-01_hover.png")">
                    </div>
                    <div class="textbox">
                        <h4>總經理的話</h4>
                    </div>
                    <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                </a>
            </li>
            <li class="col-xs-12 col-sm-6 col-md-3 text-center">
                <a href="@Url.Action("supply_chain_development_policy__coc", "Supplier", new { lang = ViewBag.language.lang })">
                    <div class="imgbox">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/supplier_icon-02.png" alt="供應鏈政策與行為準則" data-hover="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/supplier_icon-02_hover.png">
                    </div>
                    <div class="textbox">
                        <h4>供應鏈政策與行為準則</h4>
                    </div>
                    <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                </a>
            </li>
            -->
            <li class="col-xs-12 col-sm-6 col-md-4 text-center">
                <a href="@Url.Action("supply_chain_management", "Supplier", new { lang = ViewBag.language.lang })">
                    <div class="imgbox">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/supplier_icon-03.png" alt="供應鏈管理" data-hover="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/supplier_icon-03_hover.png">
                    </div>
                    <div class="textbox">
                        <h4>供應鏈管理</h4>
                    </div>
                    <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                </a>
            </li>

            <li class="col-xs-12 col-sm-6 col-md-4 text-center">
                <a href="@Url.Action("supply_chain_development_and_sustainability_management", "Supplier", new { lang = ViewBag.language.lang })">
                    <div class="imgbox">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/supplier_icon-04.png" alt="供應鏈發展與永續管理" data-hover="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/supplier_icon-04_hover.png">
                    </div>
                    <div class="textbox">
                        <h4>供應鏈發展與永續管理</h4>
                    </div>
                    <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                </a>
            </li>
            <!--
            <li class="col-xs-12 col-sm-6 col-md-4 text-center">
                <a href="@Url.Action("sustainable_supply_chain_initiatives", "Supplier", new { lang = ViewBag.language.lang })">
                    <div class="imgbox">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/supplier_icon-06.png" alt="Die Stacking" data-hover="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/supplier_icon-06_hover.png")">
                    </div>
                    <div class="textbox">
                        <h4>供應鏈永續倡議</h4>
                    </div>
                    <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                </a>
            </li>
            -->
            <li class="col-xs-12 col-sm-6 col-md-4 text-center">
                <a href="@Url.Action("become_ase_supply_chain_partner", "Supplier", new { lang = ViewBag.language.lang })">
                    <div class="imgbox">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/supplier_icon-05.png" alt="成為供應鏈夥伴" data-hover="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/supplier_icon-05_hover.png">
                    </div>
                    <div class="textbox">
                        <h4>成為供應鏈夥伴</h4>
                    </div>
                    <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                </a>
            </li>
        </ul>
    </div>
</section>
