﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/ch/_Layout_seo.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-supplier long-text">

		<h1 class="page-title title-large">供應商專區</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->

	<section class="inside-article">
		<div class="content-lg row">
			<div class="col-xs-12">
				<h3 class="title">供應鏈永續倡議</h3>
				<p >日月光致力於供應鏈管理與永續發展領域相關的對外倡議，並積極參與相關組織包含:</p>



				<h4 class="sub-title">Responsible Business Alliance (RBA)</h4>
				<p >2015年成為其會員，積極主動參與其年度會議，與其他會員共同於供應商管理議題上進行討論。</p>



				<h4 class="sub-title">Responsible Minerals Initiative (RMI)</h4>
				<p >2015年成為其會員，並參與CMRT和盡責調查(Due Diligence, DD)工作團隊。</p>

			</div>
		</div>
	</section>
<style>
	    h4.sub{font-size:20px;}
</style>
