﻿@{
    Layout = "~/Areas/Backend/Views/CsrReport/index.cshtml";
    List<int> year_list = ViewBag.year_list;
}
@using web.Areas.backend.Models
@model List<result>

<div class="box-header with-border">
    <h3 class="box-title"></h3>
    <div class="box-tools">
        <div class="col-xs-10">
            <form action="@Url.Action("List", "FormCount", new { id = ViewBag.node.wm_url_id })" method="get">
                <div class="col-xs-4">
                    <select class="form-control" name="year">
                        <option value="0" @(ViewBag.year == 0 ? "selected" : "")>-- 年份 --</option>
                        @foreach (int item in year_list)
                        {
                            <option value="@(item)" @(ViewBag.year == item ? "selected" : "")>@(item)</option>
                        }
                    </select>
                </div>
                <div class="col-xs-4">
                    <select class="form-control" name="month">
                        <option value="0" @(ViewBag.month == 0 ? "selected" : "")>-- 月份 --</option>
                        <option value="1" @(ViewBag.month == 1 ? "selected" : "")>1月</option>
                        <option value="2" @(ViewBag.month == 2 ? "selected" : "")>2月</option>
                        <option value="3" @(ViewBag.month == 3 ? "selected" : "")>3月</option>
                        <option value="4" @(ViewBag.month == 4 ? "selected" : "")>4月</option>
                        <option value="5" @(ViewBag.month == 5 ? "selected" : "")>5月</option>
                        <option value="6" @(ViewBag.month == 6 ? "selected" : "")>6月</option>
                        <option value="7" @(ViewBag.month == 7 ? "selected" : "")>7月</option>
                        <option value="8" @(ViewBag.month == 8 ? "selected" : "")>8月</option>
                        <option value="9" @(ViewBag.month == 9 ? "selected" : "")>9月</option>
                        <option value="10" @(ViewBag.month == 10 ? "selected" : "")>10月</option>
                        <option value="11" @(ViewBag.month == 11 ? "selected" : "")>11月</option>
                        <option value="12" @(ViewBag.month == 12 ? "selected" : "")>12月</option>
                    </select>
                </div>
                <div class="col-xs-2">
                    <button type="submit" class="btn">送出</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>報告標題</th>
                <th>月份</th>
                <th>人數</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() > 0)
            {
                foreach (result item in Model)
                {
                    <tr>
                        <td>@(item.title)</td>
                        <td>@(item.year)/@(item.month)</td>
                        <td>@(item.count)</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="3" align="center">Empty</td>
                </tr>
            }
        </tbody>
    </table>
</div>