<div class="ajax-text-and-image white-popup-block">
	<style>
	.ajcol {
		width: 100%; float:left;
	}
	@media all and (max-width:30em) {
		.ajcol { 
			width: 100%;
			float:none;
		}
	}
	</style>
	<div class="ajcol" style="line-height: 1.231;">
		<div style="padding: 20px">
			<h3>Merrill Lynch Global Emerging Markets One on One Investor Forum</h3>
			<table width="100%">
				<tbody>
				  	<tr>
				  		<td width="80" height="30" valign="top">Date:</td>
				  		<td valign="top">2008-06-03</td>
				  	</tr>
				  	<tr>
				  		<td height="30" valign="top">Speakers:</td>
				  		<td valign="top">Joseph Tung, CFO / VP</td>
				  	</tr>
			  	</tbody>
			</table>
		</div>
	</div>
	<div style="clear:both; line-height: 0;"></div>
</div>