<div class="ajax-text-and-image white-popup-block">
	<style>
	.ajcol {
		width: 100%; float:left;
	}
	@media all and (max-width:30em) {
		.ajcol { 
			width: 100%;
			float:none;
		}
	}
	</style>
	<div class="ajcol" style="line-height: 1.231;">
		<div style="padding: 20px">
			<h3>ASE BOD expects to acquire Yang Ting Tech Limited shareholding</h3>
            <table width="100%">
              	<tbody>
                	<tr>
                		<td width="20%" height="30" valign="top">Date:</td>
                		<td width="40%" valign="top">2009-12-28</td>
                		<td width="40%" valign="top"></td>
                	</tr>
                	<tr>
                		<td height="30" valign="top" colspan="3">
                			Taipei, Taiwan, R.O.C., December 28, 2009 - Advanced Semiconductor Engineering, Inc. (TAIEX: 2311, NYSE: ASX) (hereinafter "ASE", or the "Company") along with its two subsidiaries, J&R Holding Limited and ASE Test Limited, today announced the extension of the stock tender offer for Universal Scientific Industrial Co., Ltd. (TAIEX: 2350) (hereinafter “USI”) to February 3, 2010.<br><br>
                		</td>
                	</tr>
                	<tr>
                		<td height="30" valign="top">Media Contacts:</td>
                		<td valign="top">Joseph Tung<br>
                			Tel: +886-2-66365678<br>
                			Email: <a href="mailto:ir@aseglobal.com">ir@aseglobal.com</a>
                		</td>
                		<td valign="top">
                			Allen Kan<br>
                			Tel: +886-2-66365678<br>
                			Email: <a href="mailto:ir@aseglobal.com">ir@aseglobal.com</a>
                		</td>
                	</tr>
                </tbody>
            </table>
		</div>
	</div>
	<div style="clear:both; line-height: 0;"></div>
</div>