<div class="ajax-text-and-image white-popup-block">
	<style>
	.ajcol {
		width: 100%; float:left;
	}
	@media all and (max-width:30em) {
		.ajcol { 
			width: 100%;
			float:none;
		}
	}
	</style>
	<div class="ajcol" style="line-height: 1.231;">
		<div style="padding: 20px">
			<h3>ASE BOD expects to acquire Yang Ting Tech Limited shareholding</h3>
            <table width="100%">
              	<tbody>
                	<tr>
                		<td width="30%" height="30" valign="top">Date:</td>
                		<td width="35%" valign="top">2012-01-13</td>
                		<td width="35%" valign="top"></td>
                	</tr>
                	<tr>
                		<td height="30" valign="top">Volume:</td>
                		<td valign="top">20,820,000 shares</td>
                		<td valign="top"></td>
                	</tr>
                	<tr>
                		<td height="30" valign="top">Unit price:</td>
                		<td valign="top">NT$14.41</td>
                		<td valign="top"></td>
                	</tr>
                	<tr>
                		<td height="30" valign="top">Total monetary amount:</td>
                		<td valign="top">NT$300,016,200</td>
                		<td valign="top"></td>
                	</tr>
                	<tr>
                		<td height="30" valign="top">Shareholding ratio:</td>
                		<td valign="top">100%</td>
                		<td valign="top"></td>
                	</tr>
                	<tr>
                		<td height="30" valign="top">Media Contacts:</td>
                		<td valign="top">Joseph Tung<br>
                			Tel: +886-2-66365678<br>
                			Email: <a href="mailto:ir@aseglobal.com">ir@aseglobal.com</a>
                		</td>
                		<td valign="top">
                			Allen Kan<br>
                			Tel: +886-2-66365678<br>
                			Email: <a href="mailto:ir@aseglobal.com">ir@aseglobal.com</a>
                		</td>
                	</tr>
                </tbody>
            </table>
		</div>
	</div>
	<div style="clear:both; line-height: 0;"></div>
</div>