<div class="ajax-text-and-image white-popup-block">
	<style>
	.ajcol {
		width: 100%; float:left;
	}
	@media all and (max-width:30em) {
		.ajcol { 
			width: 100%;
			float:none;
		}
	}
	</style>
	<div class="ajcol" style="line-height: 1.231;">
		<div style="padding: 20px">
			<h3>2014 Q2 Earnings Conference Call</h3>
            <table width="100%">
              	<tbody>
                	<tr>
                		<td width="80" height="30" valign="top">Date:</td>
                		<td valign="top">2014-07-30</td>
                	</tr>
                	<tr>
                		<td height="30" valign="top">Speakers:</td>
                		<td valign="top">Mr. Joseph Tung, Chief Financial Officer</td>
                	</tr>
                </tbody>
            </table>
            <br>
		    <p>
		    	<img src="https://2311cdn.r.worldssl.net/pic/public/en/pdf/icon_cast.gif" style="width:auto;height:20px;border:0;" /> <a href="http://edge.media-server.com/m/p/xprdpxth" target="_blank">Webcast link</a><br><br>
				<img src="https://2311cdn.r.worldssl.net/pic/public/en/pdf/pdf.png" style="width:auto;height:20px;border:0;" /> <a href="../pdf/201602041430041757297248_en.pdf" target="_blank">Earnings Release</a><br><br>
				<img src="https://2311cdn.r.worldssl.net/pic/public/en/pdf/pdf.png" style="width:auto;height:20px;border:0;" /> <a href="../pdf/201501161200447_en.pdf" target="_blank">Presentation</a>
			</p>
		</div>
	</div>
	<div style="clear:both; line-height: 0;"></div>
</div>