<div class="ajax-text-and-image white-popup-block">
	<style>
	.ajcol {
		width: 100%; float:left;
	}
	@media all and (max-width:30em) {
		.ajcol { 
			width: 100%;
			float:none;
		}
	}
	</style>
	<div class="ajcol" style="line-height: 1.231;">
		<div style="padding: 20px">
			<h3>Credit Suisse 19th Annual Asian Investment Conference</h3>
			<table width="100%">
				<tbody>
				  	<tr>
				  		<td width="80" height="30" valign="top">Date:</td>
				  		<td valign="top">2016-04-07~08</td>
				  	</tr>
				  	<tr>
				  		<td height="30" valign="top">Venue:</td>
				  		<td valign="top">Conrad Hotel, Hong Kong</td>
				  	</tr>
				  	<tr>
				  		<td height="30" valign="top">Speakers:</td>
				  		<td valign="top">Mr. Kenneth Hsiang, Head of Investor Relations; Ms. Iris Wu, Manager</td>
				  	</tr>
			  	</tbody>
			</table>
		</div>
	</div>
	<div style="clear:both; line-height: 0;"></div>
</div>