<div class="ajax-text-and-image white-popup-block">
	<style>
	.ajcol {
		width: 100%; float:left;
	}
	@media all and (max-width:30em) {
		.ajcol { 
			width: 100%;
			float:none;
		}
	}
	</style>
	<div class="ajcol" style="line-height: 1.231;">
		<div style="padding: 20px">
			<h3>2018 Q1 Earnings Conference/Conference Call</h3>
            <table width="100%">
              	<tbody>
                	<tr>
                		<td width="80" height="30" valign="top">Date:</td>
                		<td valign="top">2018-04-27</td>
                	</tr>
                	<tr>
                		<td height="30" valign="top">Time:</td>
                		<td valign="top">15:00 (GMT+08:00)</td>
                	</tr>
               		<tr>
                		<td height="30" valign="top">Duration:</td>
                		<td valign="top">90 minutes</td>
                	</tr>
                	<tr>
                		<td height="30" valign="top">Venue:</td>
                		<td valign="top">VIP, 4F, Taipei International Convention Center</td>
                	</tr>
                	<tr>
                		<td height="30" valign="top">Speakers:</td>
                		<td valign="top">Mr. Joseph Tung, Chief Financial Officer</td>
                	</tr>
                </tbody>
            </table>
            <br>
		    <p>
		    	<!-- <img src="https://2311cdn.r.worldssl.net/pic/public/en/pdf/icon_cast.gif" style="width:auto;height:20px;border:0;" /> <a href="http://livewebcast.todayir.com/ase_18q1_e/" target="_blank">Webcast link</a><br><br> -->
			 	<img src="https://2311cdn.r.worldssl.net/pic/public/en/pdf/pdf.png" style="width:auto;height:20px;border:0;" /> <a href="../pdf/201804121013521498998488_en.pdf" target="_blank">Call Dial-in Information</a><br><br>
				<img src="https://2311cdn.r.worldssl.net/pic/public/en/pdf/pdf.png" style="width:auto;height:20px;border:0;" /> <a href="../pdf/201805231801461761483843_en.pdf" target="_blank">Earnings Release</a><br><br>
				<img src="https://2311cdn.r.worldssl.net/pic/public/en/pdf/pdf.png" style="width:auto;height:20px;border:0;" /> <a href="../pdf/20180523180146761483843_en.pdf" target="_blank">Presentation</a><br><br>
				<img src="https://2311cdn.r.worldssl.net/pic/public/en/pdf/pdf.png" style="width:auto;height:20px;border:0;" /> <a href="../pdf/20180523180146861483843_en.pdf" target="_blank">Conference Transcript</a>
			</p>
		</div>
	</div>
	<div style="clear:both; line-height: 0;"></div>
</div>