<div class="ajax-text-and-image white-popup-block">
	<style>
	.ajcol {
		width: 100%; float:left;
	}
	@media all and (max-width:30em) {
		.ajcol { 
			width: 100%;
			float:none;
		}
	}
	</style>
	<div class="ajcol" style="line-height: 1.231;">
		<div style="padding: 20px">
			<h3>日月光半導體製造股份有限公司及其子公司公開收購環隆電氣股份有限公司案延長公開收購期間</h3>
            <table width="100%">
              	<tbody>
                	<tr>
                		<td width="25%" height="30" valign="top">日期：</td>
                		<td width="75%" valign="top">2009-12-28</td>
                	</tr>
                	<tr>
                		<td height="30" valign="top" colspan="2">
                			公開收購人日月光半導體製造股份有限公司、J&R Holding Limited及新加坡福雷電子股份有限公司(ASE Test Limited) (以下合稱 "公開收購人")公開收購環隆電氣股份有限公司普通股股份案，公開收購人依規定，延長本次公開收購期間至民國99年2月3日下午3時30分。<br><br>
                		</td>
                	</tr>
                	<tr>
                		<td height="30" valign="top">媒體聯絡人：</td>
                		<td valign="top">
                			甘智文 經理<br>
                			電話：+886-2-87805489<br>
                			電郵：<a href="mailto:ir@aseglobal.com">ir@aseglobal.com</a>
                		</td>
                	</tr>
                </tbody>
            </table>
		</div>
	</div>
	<div style="clear:both; line-height: 0;"></div>
</div>