<div class="ajax-text-and-image white-popup-block">
	<style>
	.ajcol {
		width: 100%; float:left;
	}
	@media all and (max-width:30em) {
		.ajcol { 
			width: 100%;
			float:none;
		}
	}
	</style>
	<div class="ajcol" style="line-height: 1.231;">
		<div style="padding: 20px">
			<h3>日月光半導體收購EEMS Test Singapore</h3>
            <table width="100%">
              	<tbody>
                	<tr>
                		<td width="120" height="30" valign="top">日期：</td>
                		<td valign="top">2010-08-22</td>
                	</tr>
                	<tr>
                		<td valign="top" colspan="2">2010年8月2日 － 日月光半導體製造股份有限公司（紐約證交所代碼ASX，臺灣證交所代碼2311）（下稱「日月光」）為強化其新加坡子公司之半導體測試業務， 於今日透過其子公司ASE Singapore Pte. Ltd. 與EEMS Asia Pte Ltd.（下稱「EEMS Asia」）簽屬股權收購合約，以67.7百萬美元企業價值完成收購EEMS Asia之子公司EEMS Test Singapore 100% 股權。<br><br></td>
                	</tr>
                	<tr>
                		<td valign="top">媒體聯絡人：</td>
                		<td valign="top">甘智文 處長<br>
                			電話：+886-2-87805489<br>
                			電郵：<a href="mailto:ir@aseglobal.com">ir@aseglobal.com</a>
                		</td>
                	</tr>
                </tbody>
            </table>
		</div>
	</div>
	<div style="clear:both; line-height: 0;"></div>
</div>