<div class="ajax-text-and-image white-popup-block">
	<style>
	.ajcol {
		width: 100%; float:left;
	}
	@media all and (max-width:30em) {
		.ajcol { 
			width: 100%;
			float:none;
		}
	}
	</style>
	<div class="ajcol" style="line-height: 1.231;">
		<div style="padding: 20px">
			<h3>2011年第一季財務報告電話會議</h3>
            <table width="100%">
              	<tbody>
                	<tr>
                		<td width="50" height="30" valign="top">日期：</td>
                		<td valign="top">2011-04-29</td>
                	</tr>
                	<tr>
                		<td height="30" valign="top">講者：</td>
                		<td valign="top">董宏思, 財務長</td>
                	</tr>
                </tbody>
            </table>
            <br>
		    <p>
				<img src="https://2311cdn.r.worldssl.net/pic/public/en/pdf/pdf.png" style="width:auto;height:20px;border:0;" /> <a href="../pdf/201602041439421796101397_tc.pdf" target="_blank">新聞稿</a><br><br>
				<img src="https://2311cdn.r.worldssl.net/pic/public/en/pdf/pdf.png" style="width:auto;height:20px;border:0;" /> <a href="../pdf/201501161744247_tc.pdf" target="_blank">簡報</a>
			</p>
		</div>
	</div>
	<div style="clear:both; line-height: 0;"></div>
</div>