<div class="ajax-text-and-image white-popup-block">
	<style>
	.ajcol {
		width: 100%; float:left;
	}
	@media all and (max-width:30em) {
		.ajcol { 
			width: 100%;
			float:none;
		}
	}
	</style>
	<div class="ajcol" style="line-height: 1.231;">
		<div style="padding: 20px">
			<h3>日月光半導體董事會決議通過取得洋鼎科技股份有限公司股權</h3>
            <table width="100%">
              	<tbody>
                	<tr>
                		<td width="120" height="30" valign="top">日期：</td>
                		<td valign="top">2012-01-13</td>
                	</tr>
                	<tr>
                		<td height="30" valign="top">交易數量：</td>
                		<td valign="top">20,820,000股</td>
                	</tr>
                	<tr>
                		<td height="30" valign="top">每單位價格：</td>
                		<td valign="top">NT$14.41</td>
                	</tr>
                	<tr>
                		<td height="30" valign="top">交易總金額：</td>
                		<td valign="top">NT$300,016,200</td>
                	</tr>
                	<tr>
                		<td height="30" valign="top">持股比例：</td>
                		<td valign="top">100%</td>
                	</tr>
                	<tr>
                		<td valign="top">媒體聯絡人：</td>
                		<td valign="top">甘智文 處長<br>
                			電話：+886-2-66365678<br>
                			電郵：<a href="mailto:ir@aseglobal.com">ir@aseglobal.com</a>
                		</td>
                	</tr>
                </tbody>
            </table>
		</div>
	</div>
	<div style="clear:both; line-height: 0;"></div>
</div>