<div class="ajax-text-and-image white-popup-block">
	<style>
	.ajcol {
		width: 100%; float:left;
	}
	@media all and (max-width:30em) {
		.ajcol { 
			width: 100%;
			float:none;
		}
	}
	</style>
	<div class="ajcol" style="line-height: 1.231;">
		<div style="padding: 20px">
			<h3>UBS Taiwan Conference 2013</h3>
			<table width="100%">
				<tbody>
				  	<tr>
				  		<td width="50" height="30" valign="top">日期：</td>
				  		<td valign="top">2013-06-27</td>
				  	</tr>
				  	<tr>
				  		<td height="30" valign="top">講者：</td>
				  		<td valign="top">蘇頌凱, 經理</td>
				  	</tr>
			  	</tbody>
			</table>
		</div>
	</div>
	<div style="clear:both; line-height: 0;"></div>
</div>