<div class="ajax-text-and-image white-popup-block">
	<style>
	.ajcol {
		width: 100%; float:left;
	}
	@media all and (max-width:30em) {
		.ajcol { 
			width: 100%;
			float:none;
		}
	}
	</style>
	<div class="ajcol" style="line-height: 1.231;">
		<div style="padding: 20px">
			<h3>2014年第二季法人說明會</h3>
            <table width="100%">
              	<tbody>
                	<tr>
                		<td width="50" height="30" valign="top">日期：</td>
                		<td valign="top">2014-07-30</td>
                	</tr>
                	<tr>
                		<td height="30" valign="top">講者：</td>
                		<td valign="top">吳田玉, 營運長; 董宏思, 財務長</td>
                	</tr>
                </tbody>
            </table>
            <br>
		    <p>
                <img src="https://2311cdn.r.worldssl.net/pic/public/en/pdf/icon_cast.gif" style="width:auto;height:20px;border:0;" /> <a href="http://edge.media-server.com/m/p/9ws3f7ia/lan/zht" target="_blank">網路廣播</a><br><br>
                <img src="https://2311cdn.r.worldssl.net/pic/public/en/pdf/pdf.png" style="width:auto;height:20px;border:0;" /> <a href="../pdf/201601281025181767004783_tc.pdf" target="_blank">新聞稿</a><br><br>
                <img src="https://2311cdn.r.worldssl.net/pic/public/en/pdf/pdf.png" style="width:auto;height:20px;border:0;" /> <a href="../pdf/201501161208247_tc.pdf" target="_blank">簡報</a>
			</p>
		</div>
	</div>
	<div style="clear:both; line-height: 0;"></div>
</div>