<div class="ajax-text-and-image white-popup-block">
	<style>
	.ajcol {
		width: 100%; float:left;
	}
	@media all and (max-width:30em) {
		.ajcol { 
			width: 100%;
			float:none;
		}
	}
	</style>
	<div class="ajcol" style="line-height: 1.231;">
		<div style="padding: 20px">
			<h3>一O五年股東常會</h3>
			<table width="100%">
				<tbody>
				  	<tr>
				  		<td width="50" height="30" valign="top">日期：</td>
				  		<td valign="top">2016-06-28</td>
				  	</tr>
				  	<tr>
				  		<td height="30" valign="top">時間：</td>
				  		<td valign="top">10:00上午 (台北時間)</td>
				  	</tr>
				  	<tr>
				  		<td height="30" valign="top">會場：</td>
				  		<td valign="top">高雄市楠梓加工出口區加昌路600號楠梓加工出口區莊敬堂</td>
				  	</tr>
			  	</tbody>
			</table>
		</div>
	</div>
	<div style="clear:both; line-height: 0;"></div>
</div>