<div class="ajax-text-and-image white-popup-block">
	<style>
	.ajcol {
		width: 100%; float:left;
	}
	@media all and (max-width:30em) {
		.ajcol { 
			width: 100%;
			float:none;
		}
	}
	</style>
	<div class="ajcol" style="line-height: 1.231;">
		<div style="padding: 20px">
			<h3>2017年第三季法人說明會/電話會議</h3>
            <table width="100%">
              	<tbody>
                	<tr>
                		<td width="50" height="30" valign="top">日期：</td>
                		<td valign="top">2017-10-27</td>
                	</tr>
                	<tr>
                		<td height="30" valign="top">時間：</td>
                		<td valign="top">15:00 台灣時間</td>
                	</tr>
               		<tr>
                		<td height="30" valign="top">歷時：</td>
                		<td valign="top">90 分鐘</td>
                	</tr>
                	<tr>
                		<td height="30" valign="top">會場：</td>
                		<td valign="top">台北國際會議中心四樓貴賓廳</td>
                	</tr>
                	<tr>
                		<td height="30" valign="top">講者：</td>
                		<td valign="top">董宏思, 財務長</td>
                	</tr>
                </tbody>
            </table>
            <br>
		    <p>
		    	<!-- <img src="https://2311cdn.r.worldssl.net/pic/public/en/pdf/icon_cast.gif" style="width:auto;height:20px;border:0;" /> <a href="http://livewebcast.todayir.com/ase_17q3_c/" target="_blank">網路廣播</a><br><br> -->
			 	<img src="https://2311cdn.r.worldssl.net/pic/public/en/pdf/pdf.png" style="width:auto;height:20px;border:0;" /> <a href="../pdf/201710131054091434218289_tc.pdf" target="_blank">線上邀請函</a><br><br>
				<img src="https://2311cdn.r.worldssl.net/pic/public/en/pdf/pdf.png" style="width:auto;height:20px;border:0;" /> <a href="../pdf/201710271620291744952618_tc.pdf" target="_blank">新聞稿</a><br><br>
				<img src="https://2311cdn.r.worldssl.net/pic/public/en/pdf/pdf.png" style="width:auto;height:20px;border:0;" /> <a href="../pdf/20171027162029744952618_tc.pdf" target="_blank">簡報</a><br><br>
				<img src="https://2311cdn.r.worldssl.net/pic/public/en/pdf/pdf.png" style="width:auto;height:20px;border:0;" /> <a href="../pdf/20171030103342858660417_tc.pdf" target="_blank">法人說明會逐字稿</a>
			</p>
		</div>
	</div>
	<div style="clear:both; line-height: 0;"></div>
</div>