﻿@using web.Models;
@using System.Globalization;
@model press_room
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";

    press_room prev = ViewBag.prev;
    press_room next = ViewBag.next;
}

<!-- page Banner -->
<section id="page-vision" class="page-banner-s banner-press_room">
    <h1 class="page-title title-large ">Press Room</h1>
</section>

<!--breadcrumbs-->
<div class="content-lg row">
    <div class="col-xs-12">
        <ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
            <!-- Project-B Fix, Apply New Breadcrumb -->
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
                <meta itemprop="position" content="0" />
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="/en/about"><span itemprop="name">About ASE</span></a>
                <meta itemprop="position" content="1" />
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item"><span itemprop="name">Press Center</span></a>
                <meta itemprop="position" content="2" />
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="/en/press_room"><span itemprop="name">Press Room</span></a>
                <meta itemprop="position" content="3" />
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item"><span itemprop="name">@Model.title</span></a>
                <meta itemprop="position" content="3" />
            </li>
        </ol>
    </div>
</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->

<!-- Press room Content -->
<section class="page-list-content">
    <div class="content-lg row">
        <div class="col-xs-12 list-base article-wrapper">
            <article class="article-detail">
                @{
                    string culture = ViewBag.language.lang == "ch" ? "zh-ch" : "en-US";
                    DateTime date = new DateTime(Model.publish_date.Value.Year, Model.publish_date.Value.Month, Model.publish_date.Value.Day);
                }
                <div class="date">@date.ToString("MMM dd, yyyy", CultureInfo.CreateSpecificCulture(culture))</div>
                <div class="text-box">
                    <h2 class="title">@Model.title</h2>
                    @Html.Raw(Model.contents)
                    <div class="twitter-share-button" style="display:inline-block">
                        <a onclick="window.open('https://twitter.com/intent/tweet?url=@(Request.Url.AbsoluteUri.Replace("localhost:52845", "www.aseglobal.com"))&openExternalBrowser=1')">
                            <img id="imgTWT" src="~/public/frontend/images_ch/icon/twt-17.png" class="blog_content_icon_img" />
                        </a>
                    </div>
                    <div style="display:inline-block">
                        <a target="_blank" href="https://www.linkedin.com/sharing/share-offsite/?url=@(Request.Url.AbsoluteUri.Replace("localhost:52845", "www.aseglobal.com"))&openExternalBrowser=1">
                            <img src="~/public/frontend/images_ch/icon/in-19.png" class="blog_content_icon_img" border="0" />
                        </a>
                    </div>
                </div>

                
            </article>
        </div>

        <!-- Prev+Next -->
        <div class="col-xs-12 article-arrow">
            @if (prev != null && prev.id > 0)
            {
                //next.id
                <a href="@HttpUtility.UrlDecode(Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Press_Room", action = "Content", param1 = HttpUtility.UrlDecode(prev.urlid) }))" class="prev">
                    <div class="circle_button-wrapper">
                        <div class="circle_button darkgray"><i class="icon-arrow-left"></i></div>
                    </div>
                    <div class="text-wrapper">
                        <span class="tip">PREV NEWS</span>
                        <p class="text-box">@prev.title</p>
                    </div>
                </a>
            }
            @if (next != null && next.id > 0)
            {
                //next.id
                <a href="@HttpUtility.UrlDecode(Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Press_Room", action = "Content", param1 =HttpUtility.UrlDecode(next.urlid) }))" class="next">
                    <div class="text-wrapper">
                        <span class="tip">NEXT NEWS</span>
                        <p class="text-box">@next.title</p>
                    </div>
                    <div class="circle_button-wrapper">
                        <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                    </div>
                </a>
            }
        </div>
    </div>
</section>

<!-- Press Info -->
<section class="pressroom-info text-center">
    <h2 class="title">ASE Press Information</h2>
    <ul class="pressroom-info-list">
        <li class="item">
            <span class="country">USA/Europe</span>
            <h4 class="name">Patricia MacLeod</h4>
            <p class="tel"><i class="icon-tel"></i>+1-408-6369500</p>
            <p class="mail"><i class="icon-mail"></i><a href="mailto:patricia.macleod@aseus.com">patricia.macleod@aseus.com</a></p>
        </li>
        <li class="item">
            <span class="country">Asia Pacific</span>
            <h4 class="name">Jennifer Yuen</h4>
            <p class="tel"><i class="icon-tel"></i>+65-6631-4229</p>
            <p class="mail"><i class="icon-mail"></i><a href="mailto:jennifer.yuen@aseus.com">jennifer.yuen@aseus.com</a></p>
        </li>
    </ul>
</section>
<style>
    .pressroom-info-list .country {
        width: 90px;
        text-align: center;
    }
</style>
