﻿
@using web.Models;
@using System.Globalization;
@model List<press_room>
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
    List<int> year_list = ViewBag.year_list;
}


<div id="media-wrapper">
	<!-- page banner -->
	<section id="page-vision" class="page-banner-s banner-press_room">
		<h1 class="page-title title-large">LATEST</h1>
	</section>
	

	<div class="content-lg row">
    <div class="col-xs-12">
        <ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
        </ol>
    </div>
</div>
	<!-- Project-B Fix, Remove Old Breadcrumb -->

	<!-- btn -->
	<section class="content-lg row">
		<div class="col-xs-12 col-md-4 press-switch">
			<div class="col-xs-6 col-md-2 media-btn"><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Press_Room" })">
				<h5 class="text-center">NEWS</h5></a>
			</div>
			<div class="col-xs-6 col-md-2 media-btn-active"><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Press_Room", action="Latest" })">
				<h5 class="text-center">LATEST</h5></a>
			</div>
		</div>
	</section>

	<!-- news -->
	<section class="content-lg row">
		<div class="col-xs-12 media-header">
			<h2 class="media-type">Recent News</h2>
		</div>
		<div class="col-xs-12 col-md-12 row-news">
			<div class="col-md-3">
				<a href="http://www.taipeitimes.com/News/biz/archives/2018/04/04/2003690607" target="_blank">
					<div class="media-list">
						<h3 class="media-source">TAIPEI TIMES</h3>
						<div class="media-content">
							<p class="media-date">April 04 2018</p>								
							<p class="media-title">ASE investing NT$12.5bn on new fab</p>
							<p class="media-text">"Our factories are fully utilized after the consolidation of ASE and Siliconware Precision Industries Co (SPIL,). This proves that the concern that the combination of the two firms would undermine ASE’s customer base and...</p>
						</div>
					</div>
				</a>
			</div>
			<div class="col-md-3">
				<a href="http://markets.on.nytimes.com/research/stocks/news/press_release.asp?docTag=201803220530BIZWIRE_USPRX____BW5512&feedID=600&press_symbol=49479" target="_blank">
					<div class="media-list">
						<h3 class="media-source">NY Times</h3>
						<div class="media-content">
							<p class="media-date">March 22 2018</p>								
							<p class="media-title">ASE announces recipients of the 20...</p>
							<p class="media-text">“Technology is advancing faster than ever and clearly driving the semiconductor industry to develop next generation applications in areas such as robotics, artificial intelligence, virtual reality, Internet of Things and...</p>
						</div>
					</div>
				</a>
			</div>
			<div class="col-md-3">
				<a href="http://www.taipeitimes.com/News/biz/archives/2018/02/13/2003687536" target="_blank">
					<div class="media-list">
						<h3 class="media-source">TAIPEI TIMES</h3>
						<div class="media-content">
							<p class="media-date">February 13 2018</p>								
							<p class="media-title">ASE, SPIL shareholders approve mer-...</p>
							<p class="media-text">The two IC giants are to join forces under a company that would own them entirely while retaining their own management teams and employees. Shareholders of Advanced Semiconductor Engineering Inc and...</p>
						</div>
					</div>
				</a>
			</div>
		</div>
	</section>

	<!-- wechat -->
	<!--
	<section class="content-lg row">
		<div class="media-header">
			<h2 class="media-type">WeChat</h2>
			<img class="media-logo" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/wechat_logo_icon.png" height="30" alt="WeChat"></img>
		</div>
		<div class="row-news">
			<div class="col-xs-12 col-md-3">
				<a href="#">
					<div class="media-list">
						<h3 class="media-source media-wechat">ASE Group</h3>
						<div class="media-content">
							<p class="media-date">January 14 2018</p>								
							<p class="media-title">ASE Named 2018 Thomson Reuters Top 100 Global Technology Leader</p>
							<p class="media-text">Another week, another continent! ASE's John Hunt rocks the 3D Summit stage in #Europe today, talking #fanout, and its...</p>
						</div>
					</div>
				</a>
			</div>
			<div class="col-xs-12 col-md-3">
				<a href="#">
					<div class="media-list">
						<h3 class="media-source media-wechat">ASE Group</h3>
						<div class="media-content">
							<p class="media-date">January 14 2018</p>								
							<p class="media-title">ASE Named 2018 Thomson Reuters Top 100 Global Technology Leader</p>
							<p class="media-text">Another week, another continent! ASE's John Hunt rocks the 3D Summit stage in #Europe today, talking #fanout, and its...</p>
						</div>
					</div>
				</a>
			</div>
			<div class="col-xs-12 col-md-3">
				<a href="#">
					<div class="media-list">
						<h3 class="media-source media-wechat">ASE Group</h3>
						<div class="media-content">
							<p class="media-date">January 14 2018</p>								
							<p class="media-title">ASE Named 2018 Thomson Reuters Top 100 Global Technology Leader</p>
							<p class="media-text">Another week, another continent! ASE's John Hunt rocks the 3D Summit stage in #Europe today, talking #fanout, and its...</p>
						</div>
					</div>
				</a>
			</div>
			<div class="col-xs-12 col-md-3">
				<a href="#">
					<div class="media-list">
						<h3 class="media-source media-wechat">ASE Group</h3>
						<div class="media-content">
							<p class="media-date">January 14 2018</p>								
							<p class="media-title">ASE Named 2018 Thomson Reuters Top 100 Global Technology Leader</p>
							<p class="media-text">Another week, another continent! ASE's John Hunt rocks the 3D Summit stage in #Europe today, talking #fanout, and its...</p>
						</div>
					</div>
				</a>
			</div>
		</div>
	</section>
	-->

	<!-- twitter -->
	<section class="content-lg row">
		<div class="col-xs-12 media-header">
			<h2 class="media-type">Twitter</h2>
			<img class="media-logo" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/twitter_logo_icon.png" height="25" alt="Twitter"></img>
		</div>
		<div class="col-xs-12 col-md-12 row-news">
			<div class="col-md-3">
				<a href="https://twitter.com/asegroup_global/status/981063096067276800" target="_blank">
					<div class="media-list">
						<h3 class="media-source media-wechat">ASE Group</h3>
						<div class="media-content">
							<p class="media-date">April 02 2018</p>
							<p class="media-text">Building K25 Groundbreaking ceremony in Kaohsiung. Scheduled to complete in 2020 & will create 1800+ jobs.</p>
							<p class="twitter-img"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/press_room/twitter-01.jpg"></img></p>
						</div>
					</div>
				</a>
			</div>
			<div class="col-md-3">
				<a href="https://twitter.com/asegroup_global/status/976715558983909376" target="_blank">
					<div class="media-list">
						<h3 class="media-source media-wechat">ASE Group</h3>
						<div class="media-content">
							<p class="media-date">March 22 2018</p>
							<p class="media-text">Presenting the Oscars of the Semicon outsourcing industry - the ASE Supplier award ceremony recognising...</p>
							<p class="twitter-img"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/press_room/twitter-02.jpg"></img></p>
						</div>
					</div>
				</a>
			</div>
			<div class="col-md-3">
				<a href="https://twitter.com/asegroup_global/status/971746392623398912" target="_blank">
					<div class="media-list">
						<h3 class="media-source media-wechat">ASE Group</h3>
						<div class="media-content">
							<p class="media-date">March 08 2018</p>
							<p class="media-text">ASE Embedded Electronics signage unveiled at Kaohsiung City. An ASE-TDK JV to manufacture SESUB substrates...</p>
							<p class="twitter-img"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/press_room/twitter-03.jpg"></img></p>
						</div>
					</div>
				</a>
			</div>
			<div class="col-xs-12 col-md-3">
				<a href="https://twitter.com/asegroup_global/status/969258594829914113" target="_blank">
					<div class="media-list">
						<h3 class="media-source media-wechat">ASE Group</h3>
						<div class="media-content">
							<p class="media-date">March 01 2018</p>
							<p class="media-text">Nice Thursday read from Dr. Phil Garrou of Solid_StateTech covering Fanout. Fan Out adds value for all densities of...</p>
							<p class="twitter-img"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/press_room/twitter-04.jpg"></img></p>
						</div>
					</div>
				</a>
			</div>
		</div>
	</section>
		
