﻿@using web.Models;
@using System.Globalization;
@model List<press_room>
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
    List<int> year_list = ViewBag.year_list;
    ViewBag.Title = "News";
    ViewBag.zhURL = "/ch/pressroom/list";
}

<!-- page Banner -->
<section id="page-vision" class="page-banner-s banner-press_room">

    <h1 class="page-title title-large ">Press Room</h1>
</section>

<!--breadcrumbs-->
<div class="content-lg row">
    <div class="col-xs-12">
        <ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/about"><span itemprop="name">About ASE</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item"><span itemprop="name">Press Center</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/press_room"><span itemprop="name">Press Room</span></a>
					<meta itemprop="position" content="3" />
				</li>
        </ol>
    </div>
</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->

<!-- List Search -->


<section class="list-search">
    <div class="content-lg row">
        <form action="@Url.Action("Index", "Press_Room")" method="get">
            @Html.AntiForgeryToken()
            <div class="search-line search-group col-xs-6 col-md-3" style="float:left">
                <select name="year" id="" class="form-control" onchange="submit();">
                    <option value="0">All News</option>
                    @if (year_list.Count > 0)
                    {
                        foreach (int year in year_list)
                        {
                            <option value="@year" @(ViewBag.year == year ? "selected" : "")>@year</option>
                        }
                    }
                </select>
                <span class="glyphicon glyphicon-triangle-bottom"></span>
            </div>
            <div class="search-line search-group col-xs-6 col-md-3" style="float:left">
                <input type="text" class="form-control" id="" placeholder="Search" name="title" value="@ViewBag.query">
                <button class="" type="submit"><i class="icon-search"></i></button>
            </div>
        </form>
    </div>
</section>

<!-- News list -->
<section class="page-list-content">
    <div class="content-lg row">
        @if (Model.Count > 0)
        {
            int prev_year = 0;
            string culture = ViewBag.language.lang == "ch" ? "zh-ch" : "en-US";
            <ul class="col-xs-12 list-base list-link list-timetip-line">
                @foreach (press_room item in Model)
                {
                    DateTime date = new DateTime(item.publish_date.Value.Year, item.publish_date.Value.Month, item.publish_date.Value.Day);

                    if (prev_year == 0 || prev_year != item.publish_date.Value.Year)
                    {
                        prev_year = item.publish_date.Value.Year;
                        <li class="time-tip">Posts from @prev_year</li>
                    }
                    <li>
                        @*item.id*@
                        <a href="@HttpUtility.UrlDecode(Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Press_Room", action = "Content", param1 = HttpUtility.UrlDecode(item.urlid)}))">
                            <div class="date">@date.ToString("MMM dd, yyyy", CultureInfo.CreateSpecificCulture(culture))</div>
                            <div class="text-box">
                                <h4 class="title">@item.title</h4>
                                <div class="circle_button-wrapper">
                                    <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                                </div>
                            </div>
                        </a>
                    </li>
                }
            </ul>
        }
    </div>
    <!-- Loader -->
    <!--<div id="news-loader" class="loader text-center">
        <span>loading more news...</span>
        <ul> <li id='a'></li> <li id='b'></li> <li id='c'></li> <li id='d'></li> <li id='e'></li> <li id='f'></li> <li id='g'></li> <li id='h'></li> <li id='i'></li> </ul>
    </div>-->
</section>
