﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/ch/_Layout_seo.cshtml";
    ViewBag.Title = "測試服務";
    ViewBag.enURL = "/en/products/test";
    ViewBag.zhURL = "/ch/products/test";
    ViewBag.webSiteDesc = "日月光提供完整的測試服務，包括前端工程測試、晶圓探測、最終測試（高性能邏輯、混合信號、RF、2.5D/3D 封裝）、模組測試（SiP/MEMS/Discrete & 5G mmWave模組OTA測試）和系統級測試（SLT）。";
    ViewBag.webSiteOgImage = "https://ase.aseglobal.com/pic/public/frontend/images/products/pro_test05.jpg";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-lab">
		<h1 class="page-title title-large">測試服務</h1>
		<!-- <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/products/banner_product_test.jpg" alt=""> -->
	</section>

	<!--麵包屑-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item"><span itemprop="name">其它服務</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item"><span itemprop="name">測試服務</span></a>
					<meta itemprop="position" content="2" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->

	<!-- About Content A -->
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">測試服務</h3>
				<div class="content">
					<div class="col-sm-7 pl-0">
						<p>
                            With leadership in test technologies through a broad variety of test platforms, ASE provides a complete range of semiconductor test services to our customers, including:
                        </p>
                        <ul class="nopadding">
                            <li>Front-end engineering test</li>
                            <li>Wafer probing</li>
                            <li>Final test of high-performance logic, mixed signal, RF, 2.5D/3D Packages</li>
                            <li>Modules test of SiP/MEMS/Discrete and over-the-air (OTA) testing of 5G mmWave module</li>
                            <li>System level test (SLT)</li>
                        </ul>
                        <p>
                            In addition, we provide a broad range of test-related services, such as electric Interface Board and mechanical test tool design, program conversion, program efficiency improvement burn-in testing, dry-pack, and tape and reel.
                        </p>
                        <p>
                            Our testing services employ technology and expertise that are among the most advanced in the semiconductor industry. The products we test include applications for wired, wireless and mobile communications, automotive, home entertainment, IoT, personal computer, artificial intelligence, and high-performance computing applications, as well as a variety of consumer and application-specific integrated circuits for various specialized applications.
                        </p>
					</div>
					<div class="col-sm-5 pl-0">
						<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/products/pro_test05.jpg" alt="">
					</div>
                    <div class="clearfix"></div>
                    <div class="col-xs-12 pl-0">
                        <p>&nbsp;</p>
                        <p>
                            In addition to our huge capacity of test equipment enabling quick ramp-up to our customers' requirements, ASE is outstanding in multi-functional test with expertise in test platforms, program conversion and test program development, empowering SoC/MCM/SiP testing technology to meet the increasing need to pack more functions onto a single chip or a package.application-specific integrated circuits for various specialized applications.
                        </p>
                        <p>
                            <strong>Engineering Development Procedure &amp; Production Value Added</strong>
                        </p>
                        <div class="col-sm-7 nopadding hide-in-small" style="margin-bottom:10px; margin-top: 5px;">
                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/products/pro_test01.svg" alt="">
                        </div>
                        <div class="col-xs-6 col-xs-offset-3 nopadding hide-in-large" style="margin-bottom:10px; margin-top: 5px;">
                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/products/pro_test01_1.svg?2" alt="">
                        </div>
                        <div class="clearfix"></div>
                        <p>
                            Our excellent test capabilities in chipset, graphics, embedded DRAM/MCM, CPU, RF, analog, analog to digital/digital to analog, and digital signal processors makes ASE an effective test solution provider, offering rapid time to market and cost effective solutions.
                        </p>
                        <p>&nbsp;</p>
                    </div>
				</div>

                <div class="content">
                    <div class="col-sm-7 pl-0">
                        <h4 class="pro_h4">Customer Orientation</h4>
                        <p>
                            In front-end engineering testing services, we help customers develop customized test solution to test their semiconductors on advanced test equipment.
                        </p>
                        <p>
                            In addition, we also perform the following services:
                        </p>
                        <ul class="nopadding">
                            <li>Electrical verification to assess whether a semiconductor device complies with a variety of different operating specifications.</li>
                            <li>Reliability analysis to assess the long-term reliability of the semiconductor and its suitability of use for intended applications.</li>
                            <li>Failure analysis when a semiconductor device does not function to specifications during either the electrical verification or reliability testing processes.</li>
                        </ul>
                    </div>
                    <div class="col-sm-5">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/products/pro_test01.jpg" alt="">
                    </div>
                    <div class="clearfix"></div>
                    <p>&nbsp;</p>
                </div>

                <div class="content">
                    <div class="col-sm-7 pl-0">
                        <h4 class="pro_h4">Automatic Manufacturing</h4>
                        <p>
                            We implement the automatic production starting from pre-test to product delivery and equipment management.
                        </p>
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/products/pro_test02.png" alt="" class="col-xs-12 nopadding hide-in-large">
                        <p>&nbsp;</p>
                        <h4>Singulated Re-Screen Process</h4>
                        <p>
                            ASE created the Singulated Re-Screen Process to rework the singulated die in tape-reel if customers need to re-probe the die. Singulated Re-Screen process could reprocess the WLCSP die packed in tape & reel. The reprocess starts from de-tape, reconfigure singluated die in film frame, singluated die probing, pick & place to tape & reel. The probe card is the same as production so that no new probe card is required.
                        </p>
                        <img src="/pic/public/frontend/images/products/pro_test03.svg" alt="" class="col-xs-12 nopadding hide-in-small" style="margin-top: 10px;">
                        <img src="/pic/public/frontend/images/products/pro_test03_1.svg?2" alt="" class="col-xs-6 col-xs-offset-3 nopadding hide-in-large" style="margin-top: 10px;">
                        <div class="clearfix"></div>
                        <p>&nbsp;</p>
                    </div>
                    <div class="col-sm-5 hide-in-small">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/products/pro_test02.png" alt="">
                    </div>
                    <div class="clearfix"></div>
                    <p>&nbsp;</p>
                </div>

				<h4 class="pro_h4">Test Engineering Capability</h4>
                <div class="content">
                    <p>
                        In test solution development services, we provide customers to develop customized test solution to test their semiconductors on advanced test equipment.
                    </p>
                    <p>
                        Besides, we also fulfill the following services,
                    </p>
                    <ul class="pro-test">
                        <li>We carry out visual inspection and electrical testing of processed wafers to ensure that they meet our customers' specifications.</li>
                        <li>In the final testing of logic, mixed signal, memory, and RF semiconductors, we test devices with leads ranging from the single digits to several hundreds and operating frequencies up to several gigahertzes on test equipment from major international manufacturers.</li>
                    </ul>
                </div>
			</article>
		</div>
	</section>

    <section class="inside-article">
        <div class="content-lg row">
            <article class="col-xs-12 hide-in-small">
                <p>&nbsp;</p>
                <div class="col-xs-4 bt_WSEO technology-tab-active">Wafer Sort Experience Overview</div>
                <div class="col-xs-4 bt_FTEO technology-tab-inactive">Final Test Experience Overview</div>
                <div class="col-xs-4 bt_BIEO technology-tab-inactive">Burn-In Experience Overview</div>
                <div class="clearfix"></div>
                
                <div class="col-xs-12 nopadding WSEO">
                    <div style="padding: 20px; background-color: #eee;">
                        <p>
                            In wafer sort, we carry out visual inspection and electrical testing of processed wafers to ensure that they meet our customers' specifications. We probe devices with pins number from ten thousands to multi-site of hundreds, wafer size ranging from 6 to 12 inches, probe card types of micro-spring, vertical prober card, cantilever prober card, membrane, etc. Temperature ranges from -40 to 125℃ and experienced in digital, analog, RF, automotive devices wafer sort. ASE provides the services of WLP singulated re-screen process and test solution development including test program coding and probe card design & fabrication.
                        </p>

                        <p>Wafer Sort:</p>
                        <ul class="nopadding">
                            <li >Wafer sort coding</li>
                            <li >Probing card fabrication</li>
                            <li >Debugging</li>
                            <li >Correlation & release</li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>

                <div class="col-xs-12 nopadding FTEO">
                    <div style="background-color: #EEEEEE; padding: 20px;">
                        <p>
                            In the final testing of logic, mixed signal and RF semiconductors, we test devices with leads ranging from the single digits to several hundreds and operating frequencies up to several gigahertzes on test equipment from major international manufacturers. We have, by far, the largest installed base of test equipment among independent service providers.
                        </p>
                        <p>
                            In FT test solution development, we provide the solution services including test program development of digital, analog, RF, automotive devices, load board design & fabrication, handler change kit, socket design & fabrication, etc.
                            We also provide a range of additional test-related services, including burn-in testing, system level testing, visual inspection, singulated top marking, dry pack, and tape & reel.
                        </p>
                        <p>Final Test:</p>
                        <ul class="nopadding">
                            <li >Wafer sort coding</li>
                            <li >Probing card fabrication</li>
                            <li >Debugging</li>
                            <li >Correlation & release</li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>

                <div class="col-xs-12 nopadding BIEO">
                    <div style="background-color: #EEEEEE; padding: 20px;">
                        <p>
                            For Burn-In, we carry out burn-in stress service for different power requirement to ensure product lifecycle validation especially for automotive devices. Power capability covered 5~600W requirement. ASE provides the services of total test solution development including software coding and test hardware design & fabrication.
                        </p>
                        <p>Burn-In:</p>
                        <ul class="nopadding">
                            <li >Software coding</li>
                            <li >Burn In board and socket design/fabrication</li>
                            <li >Burn-In validation & release</li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <p>&nbsp;</p>
            </article>
            <article class="col-xs-12 hide-in-large">
                <p>&nbsp;</p>
                <div class="col-xs-4 bt_WSEO technology-tab-active">Wafer Sort<br />Experience<br />Overview</div>
                <div class="col-xs-4 bt_FTEO technology-tab-inactive">Final Test<br />Experience<br />Overview</div>
                <div class="col-xs-4 bt_BIEO technology-tab-inactive">Burn-In<br />Experience<br />Overview</div>
                <div class="clearfix"></div>
                
                <div class="col-xs-12 nopadding WSEO">
                    <div style="padding: 20px; background-color: #eee;">
                        <p>
                            In wafer sort, we carry out visual inspection and electrical testing of processed wafers to ensure that they meet our customers' specifications. We probe devices with pins number from ten thousands to multi-site of hundreds, wafer size ranging from 6 to 12 inches, probe card types of micro-spring, vertical prober card, cantilever prober card, membrane, etc. Temperature ranges from -40 to 125℃ and experienced in digital, analog, RF, automotive devices wafer sort. ASE provides the services of WLP singulated re-screen process and test solution development including test program coding and probe card design & fabrication.
                        </p>

                        <p>Wafer Sort:</p>
                        <ul class="nopadding">
                            <li >Wafer sort coding</li>
                            <li >Probing card fabrication</li>
                            <li >Debugging</li>
                            <li >Correlation & release</li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>

                <div class="col-xs-12 nopadding FTEO">
                    <div style="background-color: #EEEEEE; padding: 20px;">
                        <p>
                            In the final testing of logic, mixed signal and RF semiconductors, we test devices with leads ranging from the single digits to several hundreds and operating frequencies up to several gigahertzes on test equipment from major international manufacturers. We have, by far, the largest installed base of test equipment among independent service providers.
                        </p>
                        <p>
                            In FT test solution development, we provide the solution services including test program development of digital, analog, RF, automotive devices, load board design & fabrication, handler change kit, socket design & fabrication, etc.
                            We also provide a range of additional test-related services, including burn-in testing, system level testing, visual inspection, singulated top marking, dry pack, and tape & reel.
                        </p>
                        <p>Final Test:</p>
                        <ul class="nopadding">
                            <li >Wafer sort coding</li>
                            <li >Probing card fabrication</li>
                            <li >Debugging</li>
                            <li >Correlation & release</li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>

                <div class="col-xs-12 nopadding BIEO">
                    <div style="background-color: #EEEEEE; padding: 20px;">
                        <p>
                            For Burn-In, we carry out burn-in stress service for different power requirement to ensure product lifecycle validation especially for automotive devices. Power capability covered 5~600W requirement. ASE provides the services of total test solution development including software coding and test hardware design & fabrication.
                        </p>
                        <p>Burn-In:</p>
                        <ul class="nopadding">
                            <li >Software coding</li>
                            <li >Burn In board and socket design/fabrication</li>
                            <li >Burn-In validation & release</li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </article>
        </div>
    </section>

    <section class="inside-article">
        <div class="content-lg row csr">
            <div class=" col-md-12 tech-cont-link">
            <a class="phone" href="~/ch/about/plants_offices"><span class="glyphicon glyphicon-earphone"></span>  聯絡我們</a>
            </div>
        </div>
        <p>&nbsp;</p>
    </section>
<script>
    $(document).ready(function() {

        $(".WSEO").show();
        $(".FTEO").hide();
        $(".BIEO").hide();

        $('.bt_WSEO').click(function() {
            $(this).closest(".row").find(".bt_FTEO,.bt_BIEO").removeClass("technology-tab-active").addClass("technology-tab-inactive");
            $(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
            $(this).closest(".row").find(".FTEO,.BIEO").hide();
            $(this).closest(".row").find(".WSEO").fadeIn(1000);
        });
        $('.bt_FTEO').click(function() {
            $(this).closest(".row").find(".bt_WSEO,.bt_BIEO").removeClass("technology-tab-active").addClass("technology-tab-inactive");
            $(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
            $(this).closest(".row").find(".WSEO,.BIEO").hide();
            $(this).closest(".row").find(".FTEO").fadeIn(1000);
        });
        $('.bt_BIEO').click(function() {
            $(this).closest(".row").find(".bt_WSEO,.bt_FTEO").removeClass("technology-tab-active").addClass("technology-tab-inactive");
            $(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
            $(this).closest(".row").find(".WSEO,.FTEO").hide();
            $(this).closest(".row").find(".BIEO").fadeIn(1000);
        });
    });
</script>