﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/ch/_Layout_seo.cshtml";
    ViewBag.Title = "IC承載盤";
    ViewBag.zhURL = "/ch/products/tray";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-product">
		<h1 class="page-title title-large">IC承載盤</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item"><span itemprop="name">其它服務</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item"><span itemprop="name">IC承載盤</span></a>
					<meta itemprop="position" content="2" />
				</li>=
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->
	<!-- Letter from the Chairman -->
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/products/pro_tray01.png" alt="">
				<h3 class="title">IC承載盤</h3>
				<p>日月光包裝材料廠的成立是基於能讓封裝及測試的生產線更流暢及更有效的配合客戶新產品問世及時承載IC產品，從承載盤的設計到生產為客戶提供一貫化的服務。目前大部分客戶均以日月光自家生產的承載盤做為其標準載具以爭取更高效能。</p>

				<h3>優勢</h3>
				<ul class="nopadding">
					<li>擁有20年設計與製造經驗的團隊</li>
					<li>具備高品質的標準 (ISO 9001:2000)</li>
					<li>最短交期符合客戶需求 (Ship to Line)</li>
					<li>配合客戶新產品開發同步設計包裝承載盤</li>
					<li>提供及時且專業的服務以應客戶需求</li>
				</ul>

				<h3>製造能力</h3>
				<ul class="nopadding">
					<li>完全符合JEDEC 標準嚴謹製造，包括設計尺寸，座穴尺寸及IC置放位置等</li>
					<li>可堆疊且能符合封裝.測試及相關後製程作業需求</li>
					<li>所有ASE製造的承載盤都確保產品品質且符合綠色產品規定</li>
				</ul>

				<h3>特色</h3>
				<ul class="pro-test">
					<li>可以同時與上、下游客戶共同開發新產品並導入包材標準化，進而縮短新產品上市時間</li>
					<li>可依據客戶需求提供最完整之庫存管理</li>
					<li>可運用日月光集團的整體資源提供品質穩定的貨源</li>
					<li>ASE的IC承載盤已在市場得到客戶的肯定並將之列為標準包裝材料</li>
				</ul>

				<h3>產品類別</h3>
				<ul class="nopadding">
					<li>依JEDEC標準區分有 QFP, LQFP, TQFP, TSOP, QFN, BGA, FCBGA, SiP</li>
   					<li>可依客戶特別要求量身訂做承載盤</li>
				</ul>
				
				<h3>材料種類</h3>
				<ul class="nopadding">
					<li>Carbon Powder碳粉/碳黑材質</li>
   					<li>Glass Fiber玻璃纖維/Carbon Fiber碳纖材質</li>
					<li>PES (耐高溫材質)</li>
					<li>ABS (無需烘烤或有色承載盤所使用之材質)</li>
				</ul>

				<h3>沿革</h3>
				<p>日月光包裝材料廠於2006年成立，當初延攬業界菁英組隊於日月光高雄楠梓加工區僅以三個月時間即開始量產；累積多年從設計到生產經驗，為客戶提供優質IC承載盤。</p>
				<ul class="tray-events">
					<li>
						<span class="year">Jan 12 ~ Now</span>
						<span class="year-event">量產供應日月光各國廠區所需和所有客戶及其下包廠</span>
					</li>
					<li>
						<span class="year">Jan  2012</span>
						<span class="year-event">通過能源管理系統(ISO 50001)</span>
					</li>
					<li>
						<span class="year">Jan  2010</span>
						<span class="year-event">
							<ol class="no-padding">通過職業安全衛生管理系統(OHSAS18001)</ol>
							<ol class="no-padding">過台灣職安衛生管理系統(TOSHMS)</ol>
							<ol class="no-padding">通過社會責任管理系統(SA8000)</ol>
							<ol class="no-padding">通過有害物質管理系統(QC080000) </ol>
						</span>
					</li>
					<li>
						<span class="year">Jan  2008</span>
						<span class="year-event">通過環境管理系統(ISO 14001)認證</span>
					</li>
					<li>
						<span class="year">Dec 2007</span>
						<span class="year-event">通過品質管理系統(ISO 9001)認證</span>
					</li>
					<li>
						<span class="year">Apr 2007</span>
						<span class="year-event">正式開始量產</span>
					</li>
					<li>
						<span class="year">Jan  2007</span>
						<span class="year-event">首件樣品順利提交</span>
					</li>
					<li>
						<span class="year">Nov 2006</span>
						<span class="year-event">成立日月光包裝材料廠</span>
					</li>
				</ul>

				<h3>業務聯絡窗口</h3>
				<div class="col-xs-12 products nopadding">
					<ul class="col-xs-12 list-base list-link products-list-content list-base-ali">
						<li class="col-xs-12 col-md-6 service-contact">
							<h4 class="date mt-0">聯絡人</h4>
							<div class="link-box">
								<div>
									<p class="tray-item"><span class="glyphicon glyphicon-earphone"></span>+886.7.360.1656 (專線)</p>
								</div>
								<div>
									<p class="tray-item"><span class="glyphicon glyphicon-user"></span>陳慧玲 Eliza Chen</p>
								</div>
								<div>
									<p class="tray-item"><span class="glyphicon glyphicon-envelope"></span>Eliza_Chen@aseglobal.com</p>
								</div>
								<div>
									<p class="tray-item"><span class="glyphicon glyphicon-print"></span>+886.7.360.1603</p>
								</div>
							</div>
							<div class="link-box">
								<div>
									<p class="tray-item"><span class="glyphicon glyphicon-earphone"></span>+886.7.363.6641 ext:8620</p>
								</div>
								<div>
									<p class="tray-item"><span class="glyphicon glyphicon-user"></span>劉冠美 Lacey Liu</p>
								</div>
								<div>
									<p class="tray-item"><span class="glyphicon glyphicon-envelope"></span>Lacey_Liu@aseglobal.com</p>
								</div>
								<div>
									<p class="tray-item"><span class="glyphicon glyphicon-print"></span>+886.7.360.1603</p>
								</div>
							</div>
						</li>
						<style>
							.link-box{display: inline-block;padding-right:50px;}
							.service-contact{width:50% !important;}
							@@media only screen and (max-width: 770px){
								.service-contact{width:100% !important;}
							}
						</style>
						<!-- <li class="col-xs-12 col-md-4 no-margin">
							<h4 class="date mt-0">聯絡人 2</h4>
							<div class="link-box">
								<div>
									<p class="tray-item"><span class="glyphicon glyphicon-earphone"></span>+886.7.363.6641 ext:8620</p>
								</div>
								<div>
									<p class="tray-item"><span class="glyphicon glyphicon-user"></span>劉冠美 Lacey Liu</p>
								</div>
								<div>
									<p class="tray-item"><span class="glyphicon glyphicon-envelope"></span>Lacey_Liu@aseglobal.com</p>
								</div>
								<div>
									<p class="tray-item"><span class="glyphicon glyphicon-print"></span>+886.7.360.1603</p>
								</div>
							</div>
						</li> -->
					</ul>
				</div>
				<h3>廠址</h3>
				<p>811台灣高雄市楠梓加工出口區西八街21號</p>

			</article>

		</div>
	</section>

<br>


