﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-csr">
        <h1 class="page-title-csr title-large">CORPORATE SOCIAL RESPONSIBILITY</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->
	
	<section class="timeline_section inside-article">
        <div class="content-lg row">
            <article class="col-xs-12">
                <h3 class="title">Community Engagement</h3>
            </article>
        </div>
        <div class="content-lg row">
            <div class="col-xs-12">
                <h4 class="sub-title">ASE</h4><br>
                <div id="community_engagement" class="timeline_div">
                    <div class="timeline_container">
                        <div class="timeline">
                            <div class="plus"></div>
                        </div>
                    </div>                                   
                    <div class="item offset-first">  
                        <span class="corner current"></span>                     
                        <div class="factory"><b>Kaohsiung</b></div>
                        <div class="event">
                            <ul class="current">
                                <li>
                                    Donate to low-income family care<br />
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/community_engagement1.jpg" />
                                </li>
                            </ul>    
                        </div>
                    </div> 
                    <div class="item">  
                        <span class="corner current"></span>                     
                        <div class="factory"><b>Chungli</b></div>
                        <div class="event">
                            <ul class="current">
                                <li>
                                    Disabled children charitable drama<br />
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/community_engagement2.jpg" />
                                </li> 
                            </ul>    
                        </div>
                    </div>
                    <div class="item">  
                        <span class="corner current"></span>                     
                        <div class="factory"><b>Wuxi</b></div>
                        <div class="event">
                            <ul class="current">
                                <li>
                                    Community clean-up<br />
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/community_engagement3.jpg"  />
                                </li> 
                            </ul>    
                        </div>
                    </div> 
                    <div class="item">  
                        <span class="corner current"></span>                     
                        <div class="factory"><b>Suzhou</b></div>
                        <div class="event">
                            <ul class="current">
                                <li>
                                    Donate to low-income family children<br />
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/community_engagement4.jpg" />
                                </li>               
                            </ul>    
                        </div>
                    </div>
                    <div class="item">  
                        <span class="corner current"></span>                     
                        <div class="factory"><b>Kunshan</b></div>
                        <div class="event">
                            <ul class="current">
                                <li>
                                    Mid-Autumn festival<br />
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/community_engagement5.jpg" />
                                </li>
                            </ul>    
                        </div>
                    </div>
                    <div class="item">  
                        <span class="corner current"></span>                     
                        <div class="factory"><b>Korea</b></div>
                        <div class="event">
                            <ul class="current">
                                <li>
                                    MLow-income family care - house repair<br />
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/community_engagement6.jpg" />
                                </li>                       
                            </ul>    
                        </div>
                    </div>
                    <div class="item">  
                        <span class="corner current"></span>                     
                        <div class="factory"><b>Japan</b></div>
                        <div class="event">
                            <ul class="current">
                                <li>
                                    Community clean-up<br />
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/community_engagement7.jpg" />
                                </li>                       
                            </ul>    
                        </div>
                    </div>
                    <div class="item">  
                        <span class="corner current"></span>                     
                        <div class="factory"><b>Singapore</b></div>
                        <div class="event">
                            <ul class="current">
                                <li>
                                    Community care – Yellow Ribbon Prison Run<br />
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/community_engagement8.jpg" />
                                </li>                       
                            </ul>    
                        </div>
                    </div>
                    <div class="item">  
                        <span class="corner current"></span>                     
                        <div class="factory"><b>Malaysia</b></div>
                        <div class="event">
                            <ul class="current">
                                <li>
                                    Donate to low-income family care<br />
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/community_engagement9.jpg" />
                                </li>                       
                            </ul>    
                        </div>
                    </div>
                    <div class="item">  
                        <span class="corner current"></span>                     
                        <div class="factory"><b>Shanghai (Material)</b></div>
                        <div class="event">
                            <ul class="current">
                                <li>
                                    Donate to community care<br />
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/community_engagement10.jpg" />
                                </li>                       
                            </ul>    
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <h4 class="sub-title">USI</h4>
                <div id="community_engagement" class="timeline_div">
                    <div class="timeline_container">
                        <div class="timeline">
                            <div class="plus"></div>
                        </div>
                    </div>
                    <div class="item">  
                        <span class="corner past"></span>                     
                        <div class="factory past"><b>Mexico</b></div>
                        <div class="event">
                            <ul class="before">
                                <li>
                                    Donate to low-income family care<br />
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/community_engagement11.jpg" />
                                </li>                       
                            </ul>    
                        </div>
                    </div>
                    <div class="item">  
                        <span class="corner past"></span>                     
                        <div class="factory past"><b>Zhangjiang</b></div>
                        <div class="event">
                            <ul class="before">
                                <li>
                                    Charitable road running<br />
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/community_engagement12.jpg" />
                                </li>                        
                            </ul>    
                        </div>
                    </div>
                    <div class="item">  
                        <span class="corner past"></span>                     
                        <div class="factory past"><b>Nantou</b></div>
                        <div class="event">
                            <ul class="before">
                                <li>
                                    Reading culture and parental involvement<br />
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/community_engagement13.jpg" />
                                </li>                        
                            </ul>    
                        </div>
                    </div>
                    <div class="item">  
                        <span class="corner past"></span>                     
                        <div class="factory past"><b>Shanghai</b></div>
                        <div class="event">
                            <ul class="before">
                                <li>
                                    Tree Planting at Inner Mongolia<br />
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/community_engagement14.jpg" />
                                </li>                       
                            </ul>    
                        </div>
                    </div>
                    <div class="item">  
                        <span class="corner past"></span>                     
                        <div class="factory past"><b>Jinqiao</b></div>
                        <div class="event">
                            <ul class="before">
                                <li>
                                    Beach clean-up<br />
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/community_engagement15.jpg" />
                                </li>                                                    
                            </ul>    
                        </div>
                    </div>
                    <div class="item">  
                        <span class="corner past"></span>                     
                        <div class="factory past"><b>Kunshan</b></div>
                        <div class="event">
                            <ul class="before">
                                <li>
                                    Community arts activity – Lantern festival<br />
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/community_engagement16.jpg" />
                                </li>                 
                            </ul>    
                        </div>
                    </div>
                 
                </div>
            </div>
            <div class="col-xs-12">
                <h4 class="sub-title">ASE Charitable Foundation</h4>
                <div id="community_engagement" class="timeline_div">
                    <div class="timeline_container">
                        <div class="timeline">
                            <div class="plus"></div>
                        </div>
                    </div>
                    <div class="item">  
                        <span class="corner before" style="background-color: #326fba"></span>                     
                        <div class="factory before" style="color: #326fba"><b>Chungli</b></div>
                        <div class="event">
                            <ul class="past">
                                <li>
                                    Donate to low-income family children<br />
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/community_engagement17.jpg" />
                                </li>                                          
                            </ul>    
                        </div>
                    </div>
                    <div class="item">  
                        <span class="corner before" style="background-color: #326fba"></span>                     
                        <div class="factory before" style="color: #326fba"><b>Shanghai</b></div>
                        <div class="event">
                            <ul class="past">
                                <li>
                                    Emergency care and assistance<br />
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/community_engagement18.jpg" />
                                </li>                  
                            </ul>    
                        </div>
                    </div> 
                    <div class="item">  
                        <span class="corner before" style="background-color: #326fba"></span>                     
                        <div class="factory before" style="color: #326fba"><b>Kaohsiung</b></div>
                        <div class="event">
                            <ul class="past">
                                <li>
                                    Donate to low-income family care<br />
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/community_engagement19.jpg" />
                                </li>                  
                            </ul>    
                        </div>
                    </div>
                 
                </div>
            </div>
        </div>
    </section>