﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-csr">
		<h1 class="page-title-csr title-large">CORPORATE SOCIAL RESPONSIBILITY</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-md-12">
				<h3 class="title">Environmental Conservation</h3>
			</article>
			<div class="col-md-8">
				<p>
					Since 2014, ASE has committed to donating at least NT$100 million per year for at least 30 years, to environmental protection in Taiwan. In 2017, NT$100 million was allocated for the <a href="http://www.asefund.org.tw/" target="_blank">ASE Cultural and Educational Foundation</a> to implement "Environmental Conservation Fund (ECF)" programs. The focused aspects of the environmental conservation programs include "Environmental Education Promotion", "Environmental Quality Enhancement", "Environmental Impact Minimization" and "Environmental Arts Promotion".
				</p>
			</div>
			<div class="col-md-4 text-center">
				<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/environmental_conservation1.png" style="padding-bottom: 10px"><br>	
				<strong>Distribution by 2017 ECF Programs</strong>
			</div>
			<div class="clearfix"></div>
			<article class="col-md-12">
				<h4 title="sub-title">2017 Accomplishments of ECF Programs</h4>
				<div class="color-4box">
					<div class="orange-4box" style="background-color: #8ebd92">
						<p>Environmental Education Promotion</p>
						<div class="color-4box-heading">Major Projects</div>
						<ul class="nopadding">
							<li>Environmental Thesis/Dissertation Awards</li>
							<li>Environmental Technology Research Proje</li>
							<li>Southern Taiwan Environmental Education Projects</li>
							<li>Environmental Issues Debate Competition</li>
							<li>"CommonWealth" Magazine in Taiwan - Creative Teaching Material Competition</li>
							<li>River Water Resource Documentary Films</li>
							<li>Environmental and Ecological Courses for School Students</li>
							<li>Environmental Education Films Projects</li>
						</ul>
					</div>
					<div class="light-yellow-4box" style="background-color: #a4cba2">
						<p>Environmental Impact Minimization</p>
						<div class="color-4box-heading">Major Projects</div>
						<ul class="nopadding">
							<li>Campus LED Donation Projects</li>
							<li>Water Recycling Model Plant Operation Sponsorship in NEPZ</li>
							<li>Cuora Flavomarginata (yellow-margined box turtle) Conservation and Restoration</li>
							<li>Green Supply Chain Projects</li>
							<li>Sustainable Circular Economy Forum</li>
						</ul>
					</div>
					<div class="orange-4box" style="background-color: #c3dbbb">
						<p>Environmental Quality Enhancement</p>
						<div class="color-4box-heading">Major Projects</div>
						<ul class="nopadding">
							<li>Afforestation projects</li>
							<li>Reef conservation projects</li>
							<li>EcoMobility World Festival and Congress 2017</li>
							<li>Beach cleanup activities</li>
						</ul>
					</div>
					<div class="light-yellow-4box" style="background-color: #f9ebcf">
						<p>Environmental Arts Promotion</p>
						<div class="color-4box-heading">Major Projects</div>
						<ul class="nopadding">
							<li>Environmental Arts Projects</li>
							<li>Lantern Festival in Kaohsiung</li>
							<li>Spring Arts Festival in Kaohsiung</li>
							<li>Public Social Welfare Sponsorships</li>
						</ul>
					</div>
				</div>
			</article>
		</div>
	</section>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script>
	$( document ).ready(function() {
		$('.accordion-center-text').click(function(e){
			if ($(this).hasClass('black-text-in-box')) {
				$('.blue-text-in-box').removeClass('blue-text-in-box').addClass('black-text-in-box');
				$(this).removeClass("black-text-in-box");
				$(this).addClass("blue-text-in-box");      //add the class to the clicked element
			} else {
				$(this).removeClass("blue-text-in-box");
				$(this).addClass("black-text-in-box");      //add the class to the clicked element
			}
		});
	})
	</script>