﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-csr">
		<h1 class="page-title-csr title-large">CORPORATE SOCIAL RESPONSIBILITY</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">Industry-Academic Collaboration</h3>
					<p>
						Industry-academia collaboration helps ASE to continue its innovative leadership within the semiconductor industry. For many years, we have worked with Taiwan's top universities to create job opportunities for the graduates and increase the country's competitiveness and improve social and economic environment. ASE has created key programs like "cooperative education and internship", "academic research collaboration", and "scholarships" to leverage on the expertise from these academic resources. In 2016, ASE contributed US$ 0.97 million, in technology research collaboration (US$ 0.6 million) and scholarships (US$ 0.28 million). About 793 students were offered internship opportunities and 105 students participated in our semiconductor program. Nearly 30 educational institutions from Taiwan, mainland China, and Singapore, etc. were involved in these collaborations.
					</p>
			</article>

		</div>

		<div class="content-lg row csr">
			<article class="col-xs-12">
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
					<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
								<span class="black-text-in-box accordion-center-text">Packaging Technology Research Project</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>
						<div id="collapseOne" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<div class="col-md-8">
									<p>
										Since 2011, ASE Kaohsiung Plant has invited semiconductor assembly professors and graduate students in the professional field to participate in the industry-academia collaborations. In 2016, the final presentation of the fourth Packaging Technology Research Collaboration was held, and a total of 17 research results were published, including 9 by National Sun Yat-sen University and 8 by National Cheng Kung University. Among them, the research results of National Sun Yat-sen University's "Optimal thermal performance design guidelines for optical communication components" and National Cheng Kung University's "Wafer level mold-flow analysis and parameter optimization design for advanced process package" were both outstanding. These research projects not only assisted ASE to improve its technological processes, but also elevated Taiwan's semiconductor packaging technology research field onto the next level by transferring the technologies from theories to practical applications.
									</P>
								</div>
								<div class="col-md-4"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/industry-academic_collaboration1.jpg"></div>
							</div>
						</div>
	  				</div>

					<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
								<span class="black-text-in-box accordion-center-text"">Industry 4.0 Industry-Academia Collaboration Project</span>
								<div class="circle_button-wrapper">
									<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>
						<div id="collapseTwo" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingTwo">
							<div class="panel-body">
								<div class="col-md-8">
									<p>
										ASE Chungli Plant and Chung Yuan Christian University jointly developed improvement processes related to Industry 4.0 including the application of Big Data and Internet of Things in areas such as logistics, design flow and purchase order flow, etc., and to enhance enterprise's international competitiveness and efficiency by reducing development lead time. Studies were conducted on ASE's processing of purchase orders, production schedule planning, new product introduction process analysis to supplier excellence management, etc. Chung Yuan Christian University also encourages its students to participate in "ASE Semiconductor Employment Program" which links up interdisciplinary students with employment opportunities.
									</P>
								</div>
								<div class="col-md-4"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/industry-academic_collaboration2.jpg"></div>
							</div>
						</div>
					</div>
				
					<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
								<span class="black-text-in-box accordion-center-text"">ASE Joint Technology Research Center</span>
								<div class="circle_button-wrapper">
									<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>
						<div id="collapseThree" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingThree">
							<div class="panel-body">
								<div class="col-md-8">
									<p>
										ASE Chungli Plant and Chung Yuan Christian University jointly developed improvement processes related to Industry 4.0 including the application of Big Data and Internet of Things in areas such as logistics, design flow and purchase order flow, etc., and to enhance enterprise's international competitiveness and efficiency by reducing development lead time. Studies were conducted on ASE's processing of purchase orders, production schedule planning, new product introduction process analysis to supplier excellence management, etc. Chung Yuan Christian University also encourages its students to participate in "ASE Semiconductor Employment Program" which links up interdisciplinary students with employment opportunities.
									</P>
								</div>
								<div class="col-md-4"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/industry-academic_collaboration3.jpg"></div>
							</div>
						</div>
					</div>
				</div>
			</article>
		</div>
	</section>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script>
	$( document ).ready(function() {
		$('.accordion-center-text').click(function(e){
			if ($(this).hasClass('black-text-in-box')) {
				$('.blue-text-in-box').removeClass('blue-text-in-box').addClass('black-text-in-box');
				$(this).removeClass("black-text-in-box");
				$(this).addClass("blue-text-in-box");      //add the class to the clicked element
			} else {
				$(this).removeClass("blue-text-in-box");
				$(this).addClass("black-text-in-box");      //add the class to the clicked element
			}
		});
	})
	</script>