﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-csr">
		<h1 class="page-title-csr title-large">CORPORATE SOCIAL RESPONSIBILITY</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->

	<section class="inside-article">
		<div class="content-lg row">
			<div class="col-md-12">
				<h3 class="title">Public Advocacy</h3>
				<p>
					As the global leader in semiconductor assembly and test, ASE seeks to extend its influence on the benefits of the industry, the environment, the society and the economy. We are actively involved in industrial economic development, technological innovation and development, sustainability development and climate change, supply chain management, conflict minerals management, human rights and social participation. In 2016, ASE contributed US$ 0.42 million in public advocacy and is active in over 116 external organizations.
				</p>
			</div>
		</div>

		<div class="content-lg row csr">
			<article class="col-xs-12">
				<h4 class="sub-title">2016 key advocacy, initiatives and industry associations supported by ASE:</h4>
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

					<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
								<span class="black-text-in-box accordion-center-text">Global Semiconductor Alliance (GSA) and Semiconductor Equipment and Materials International (SEMI)</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>

						<div id="collapseOne" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<div class="col-sm-12">
									<p>
										ASE's Chief Operating Officer, Dr. Tien Wu, serves as a board member of the GSA and SEMI concurrently. GSA and SEMI are global industry associations dedicated to the overall development of the manufacturing supply chain for the micro- and nano-electronics industries.
									</p>
								</div>
							</div>
						</div>
	  				</div>

	  				<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
								<span class="black-text-in-box accordion-center-text">CDP Initiatives and Commitments</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>

						<div id="collapseTwo" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingTwo">
							<div class="panel-body">
								<div class="col-sm-12">
									<p>
										ASE participates in CDP initiatives and commitments. In 2015, ASE entered into the "commitment to climate change information in mainstream reports as a fiduciary duty" and "commitment to responsible corporate engagement in climate policy". In 2016, ASE participated in the signing of "Improve Water Security" initiative. Please refer to "Climate Change Management and Energy Efficiency" and "Water Resource Management" sections for details.
									</p>
								</div>
							</div>
						</div>
	  				</div>

	  				<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
								<span class="black-text-in-box accordion-center-text">Electronic Industry Citizenship Coalition (EICC)</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>

						<div id="collapseThree" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingThree">
							<div class="panel-body">
								<div class="col-sm-12">
									<p>
										We are a member of EICC, and through our membership, we require our global facilities and suppliers to comply with the EICC Code of Conduct and guide them to participate in the EICC Validated Audit Process (VAP). Please refer to "Supplier Sustainability Management" section for details.
									</p>
								</div>
							</div>
						</div>
	  				</div>

	  				<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
								<span class="black-text-in-box accordion-center-text">Conflict-Free Sourcing Initiative (CFSI)</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>

						<div id="collapseFour" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingFour">
							<div class="panel-body">
								<div class="col-sm-12">
									<p>
										ASE is member of the CFSI advocated by EICC-GeSI and also a part of the CMRT and Due Diligence (DD) work team. Please refer to "Conflict Minerals Compliance" section for details.
									</p>
								</div>
							</div>
						</div>
	  				</div>

	  				<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
								<span class="black-text-in-box accordion-center-text">Business Council for Sustainable Development (BCSD - Taiwan)</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>

						<div id="collapseFive" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingFive">
							<div class="panel-body">
								<div class="col-sm-12">
									<p>
										ASE is a member of the Business Council for Sustainable Development (BCSD) and is also active in the Taiwan Corporate Sustainability Forum (TCSF). The objective is to encourage voluntary sharing of information relating to environment and sustainability and to also establish energy efficiency and water resource task force team. Through cross-industry sharing of sustainability issues and learning program of industry-specific actions, in 2016, ASE shared its experiences in Green Bond issuing and reclaimed water recycling plant with the business community.
									</p>
								</div>
							</div>
						</div>
	  				</div>

	  				<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
								<span class="black-text-in-box accordion-center-text">Taiwan Semiconductor Industry Association (TSIA)</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>

						<div id="collapseSix" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingSix">
							<div class="panel-body">
								<div class="col-sm-12">
									<p>
										ASE is a member of the Taiwan Semiconductor Industry Association (TSIA), and has established the TSIA Packaging and Testing Industry ESH Task Force with semiconductor packaging and testing industry peers to share ESH tasks and jointly resolve occupational safety and environmental protection issues in the domestic semiconductor industry as well as participate in international occupational safety and environmental protection organizations and activities, such as ESH Task Force Conference of WSC and ITRS Conference, ISESH (International Semiconductor Environment Safety Health) Technology research meeting, etc. Through the assistance of Industrial Technology Research Institute (ITRI), we executed environmental safety related projects, including environmental safety statistical analysis and performance integration, the establishment of green plant indicators, chemicals management, greenhouse gas verification and inventory training, construction safety regulation training, and OHSAS 18000 / TOSHMS internal audit courses, etc.
									</p>
								</div>
							</div>
						</div>
	  				</div>

	  				<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
								<span class="black-text-in-box accordion-center-text">Taiwan Alliance for Sustainable Supply (TASS)</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>

						<div id="collapseSeven" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingSeven">
							<div class="panel-body">
								<div class="col-sm-12">
									<p>
										In 2016, ASE initiated the establishment of the Taiwan Alliance for Sustainable Supply (TASS), jointly with Taiwan semiconductor suppliers to actively and continuously promote the overall supply management capacity of various industries, and to implement the Industrial Development Bureau's "Taiwan Packaging and Testing Industry Green Environmental Safety Cloud Application Development Program" by building a sustainable development platform for integrating supply management, operation processes, certification standards, and information sharing.
									</p>
								</div>
							</div>
						</div>
	  				</div>

	  				<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
								<span class="black-text-in-box accordion-center-text">International Electronics Manufacturing Initiative (iNEMI)</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>

						<div id="collapseEight" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingEight">
							<div class="panel-body">
								<div class="col-sm-12">
									<p>
										The purpose of this Initiative is to identify electronic industry related key technologies and infrastructure development to ensure the competitiveness of the next generation's supply chain. Once every two years, the Initiative publishes a development blueprint of the manufacturing technologies which will be needed for global electronic industry in the future. ASE has joined the "Large-size Warpage" and "Panel-level Packaging" projects.
									</p>
								</div>
							</div>
						</div>
	  				</div>

	  				<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
								<span class="black-text-in-box accordion-center-text">Taiwan IOT Technology and Industry Association (TwIoTA)</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>

						<div id="collapseNine" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingNine">
							<div class="panel-body">
								<div class="col-sm-12">
									<p>
										This association was established for the development of Internet of Things technologies, by integrating companies of Taiwan semiconductor key components, midstream and downstream hardware and software devices, application service providers, Internet of Things platform, etc. and by collaborating with the world and all sectors in mainland China, to develop and promote industry standards in Taiwan, mainland China and international markets and to enhance Taiwan's core competitiveness in Internet of Things emerging industries.
									</p>
								</div>
							</div>
						</div>
	  				</div>

	  			</div>
  			</article>
  		</div>

		<div class="content-lg row">
			<div class="col-md-12">
	  			<h4 class="sub-title">Industry Organizations in which ASE Actively Participated</h4>
				<ul class="spacing1-5em nopadding">
					<li>Global Semiconductor Alliance (GSA)</li>
					<li>Semiconductor Equipment and Materials International (SEMI)</li>
					<li>International Electronics Manufacturing Initiative (iNEMI)</li>
					<li>MicroElectronics Packaging and Test Engineering Council (MEPTEC)</li>
					<li>International Microelectronics Assembly and Packaging Society (IMAPS)</li>
					<li>PCI-SIG Association</li>
					<li>Universal Serial Bus Association</li>
					<li>China Semiconductor Industry Association (CSIA)</li>
					<li>Taiwan Semiconductor Industry Association (TSIA)</li>
					<li>Taiwan IOT Technology and Industry Association (TWIoTA)</li>
					<li>Taiwan Printed Circuit Association (TPCA)</li>
					<li>Electronics Industry Citizenship Coalition (EICC)</li>
					<li>Conflict-Free Sourcing Initiative (CFSI)</li>
					<li>CDP</li>
					<li>ROC-USA Business Council</li>
					<li>Taiwan Business Council for Sustainable Development (BCSD-Taiwan)</li>
					<li>Taiwan Alliance for Sustainable Supply (TASS)</li>
					<li>Industrial Safety and Health Association, Taiwan (ISHA-Taiwan)</li>
					<li>Taiwan Institute for Sustainable Energy (TAISE)</li>
					<li>Free Industrial Zone, Penang, Companies' Association (FREPENCA)</li>
					<li>Shanghai Integrated Circuit Industry Association (SICA)</li>
					<li>Semiconductor Industry Association, Yamagata Prefecture, Japan</li>
					<li>Yonezawa Electronics Industrial Association (YEIA)</li>
					<li>Suzhou Park Semiconductor and Electronic Product Association</li>
					<li>Shanghai Environmental Protection Industry Association</li>
					<li>Taiwan IC Industry & Academia Research Alliance (TIARA)</li>
				</ul>
			</div>
		</div>
	</section>