﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/tw/_Layout.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-product">
		<h1 class="page-title title-large">產品</h1>
	</section>

	<!--麵包屑-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "/" })"><i class="icon-home"></i><span itemprop="name">首頁</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" })"><span itemprop="name">產品</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Assembly", "Products", new { lang = ViewBag.language.lang })"><span itemprop="name">封裝</span></a>
					<meta itemprop="position" content="3" />
				</li>
			</ol>
		</div>
	</div>

	<div class="breadcrumbs-pc pull-left" id="breadcrumbs-pc">
	<!-- PC版選單麵包屑內容 -->
		<ul class="breadcrumbs-view" id="breadcrumbs-view">
			<li class="dropdown-item">
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })">技術</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" })" class="active">產品</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Solution" })">解決方案</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "ir" })">投資人關係</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })">企業社會責任</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "About" })">了解日月光</a></li>
				</ul>
			</li>
			<li class="dropdown-item">
				<a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" })">產品</a>
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.Action("Assembly", "Products", new { lang = ViewBag.language.lang })" class="active">封裝</a></li>
					<li><a href="@Url.Action("Test", "Products", new { lang = ViewBag.language.lang })">測試</a></li>
					<li><a href="@Url.Action("Material", "Products", new { lang = ViewBag.language.lang })">材料</a></li>
					<li><a href="@Url.Action("Tray", "Products", new { lang = ViewBag.language.lang })">IC承載盤</a></li>
				</ul>
			</li>
			<li class="dropdown-item">
				<a href="@Url.Action("Assembly", "Products", new { lang = ViewBag.language.lang })">封裝</a>
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "bumping_solution" })">Wafer  Bumping Solution</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "wafer_level_package_solution" })">Wafer Level Package Solution</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "flip_chip_solution" })">Flip Chip Solution</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "sip_module_solutions" })">SiP & Module Solutions</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "wire_bond_bga_solution" })">Wire Bond BGA Solution</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "leadframe_solution" })">Leadframe Solution</a></li>
				</ul>
			</li>
		</ul>
	</div>
	
	<!-- Products list -->
	<section id="iconlink" class="iconlink linebg-2">
		<div class="content-lg">
			<ul class="row item-3">
				<li class="col-xs-12 col-sm-6 col-md-4 text-center">
					<a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "bumping_solution" })">
						<div class="imgbox">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/products_icon-01.png" alt="Bumping Solution" data-hover="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/products_icon-01_hover.png">
						</div>
						<div class="textbox">
							<h4>Wafer  Bumping Solution</h4>
						</div>
						<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
					</a>
				</li>
				<li class="col-xs-12 col-sm-6 col-md-4 text-center">
					<a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "wafer_level_package_solution" })">
						<div class="imgbox">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/products_icon-02.png" alt="Wafer Level Package Solution" data-hover="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/products_icon-02_hover.png">
						</div>
						<div class="textbox">
							<h4>Wafer Level Package Solution</h4>
						</div>
						<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
					</a>
				</li>
				<li class="col-xs-12 col-sm-6 col-md-4 text-center">
					<a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "flip_chip_solution" })">
						<div class="imgbox">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/products_icon-03.png" alt="Flip Chip Solution" data-hover="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/products_icon-03_hover.png">
						</div>
						<div class="textbox">
							<h4>Flip Chip Solution</h4>
						</div>
						<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
					</a>
				</li>

				<li class="col-xs-12 col-sm-6 col-md-4 text-center">
					<a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "sip_module_solutions" })">
						<div class="imgbox">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/products_icon-04.png" alt="SiP Module Solutions" data-hover="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/products_icon-04_hover.png">
						</div>
						<div class="textbox">
							<h4>SiP &amp; Module Solutions</h4>
						</div>
						<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
					</a>
				</li>
				<li class="col-xs-12 col-sm-6 col-md-4 text-center">
					<a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "wire_bond_bga_solution" })">
						<div class="imgbox">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/products_icon-05.png" alt="Wire Bond BGA Solution" data-hover="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/products_icon-5_hover.png">
						</div>
						<div class="textbox">
							<h4>Wire Bond BGA Solution</h4>
						</div>
						<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
					</a>
				</li>
				<li class="col-xs-12 col-sm-6 col-md-4 text-center">
					<a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "leadframe_solution" })">
						<div class="imgbox">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/products_icon-06.png" alt="Leadframe Solution" data-hover="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/products_icon-06_hover.png">
						</div>
						<div class="textbox">
							<h4>Leadframe Solution</h4>
						</div>
						<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
					</a>
				</li>
			</ul>
		</div>
	</section>