﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/tw/_Layout.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-product">
		<h1 class="page-title title-large">產品</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Index", "Home", new { lang = ViewBag.language.lang })"><i class="icon-home"></i><span itemprop="name">首頁</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" })"><span itemprop="name">產品</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="#"><span itemprop="name">材料</span></a>
					<meta itemprop="position" content="3" />
				</li>

			</ol>
		</div>
	</div>

	<div class="breadcrumbs-pc pull-left" id="breadcrumbs-pc">
	<!-- PC版選單breadcrumbs內容 -->
		<ul class="breadcrumbs-view" id="breadcrumbs-view">
			<li class="dropdown-item">
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })">技術</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" })" class="active">產品</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })">解決方案</a></li>
					
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "ir" })"  >投資人關係</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })">企業社會責任</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "About" })">了解日月光</a></li>
				</ul>
			</li>
			<li class="dropdown-item">
				<a href="javascript:;">產品</a>
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.Action("Assembly", "Products", new { lang = ViewBag.language.lang })">封裝</a></li>
					<li><a href="@Url.Action("Test", "Products", new { lang = ViewBag.language.lang })">測試</a></li>
					<li><a href="@Url.Action("Material", "Products", new { lang = ViewBag.language.lang })">材料</a></li>
					<li><a href="@Url.Action("Tray", "Products", new { lang = ViewBag.language.lang })">IC承載盤</a></li>
				</ul>
			</li>
		</ul>
	</div>
	<!-- Letter from the Chairman -->
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">材料</h3>

				<p>
				Developments in the IC industry have triggered the rapid growth of the computing, communications and consumer electronics market in the last decade. Recently, the outsourcing trend has thrived in semiconductor backend services and the substrate business is a necessary complement to the assembly service of ICs. Continuing the momentum, ASE Group has focused on the research and development of substrate technology for low cost, high performance, thin, miniature, reliable and environmentally compatible next generation IC package solutions.
				</p>
				<p>
				We expect substrates will become an increasingly important value-added component of the semiconductor packaging business. The demand for higher performance semiconductors in smaller packages will continue to spur the development of advanced substrates that can support the advancement in circuit design and fabrication. As a result, we believe that the market for substrates will grow and the cost of substrates as a percentage of the total packaging process is getting more significant, especially for advanced packages such as flip-chip BGA packages.
				</p>
				<div class="col-xs-12 col-md-12  nopadding">
					<div class="col-xs-12 col-sm-8 nopadding md-plr20"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/lab/lab_mo01.png" alt=""></div>
					<div class="col-xs-12 col-sm-4 md-plr20">
						<div class="col-xs-12 nopadding mt-32A"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/lab/lab_mo02.png" alt=""></div>
						<div class="col-xs-12 nopadding mt-32"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/lab/lab_mo03.png" alt=""></div>
					</div>
				</div>
				<div class="clearfix"></div><br>
				<p>
				We leverage the expertise of ASE Group's capabilities to achieve integrated design by integrating the assembly technologies and substrate technologies as well as to provide our customers with reliable quality, cost effectiveness and fast cycle time. ASE well prepares in stable high volume manufacturing ability with consistently increasing capacity for customers' quick ramp up.
				</p>

				<p>
				ASE's substrate design and manufacturing capability enables the interconnection materials of a wide range of wire-bond BGA and flip chip product applications. We also provide stub-less solution with etching back and GPP process for substrates for high frequency and high performance package applications.
				</p>
				<p>
				We believe that interconnect technology and materials have become an increasingly value-added element for the semiconductor packaging business. Consequently, ASE continues to focus on developing and enhancing the in-house capability and capacity of substrate design and

manufacturing to benefit our customers with our fast cycle time, largest capacity, mature technology and competitive price.
				</p>

			</article>
		</div>

		<div class="content-lg row csr">
			<article class="col-xs-12">
			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
							<!--    Package & Module Start      -->
				<div class="col-md-12 bgnews-list list-base panel">
					<div class="content">
						<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
							<span class="black-text-in-box accordion-center-text">Package &amp; Module Substrate</span>
							<div class="circle_button-wrapper">
								<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
					<div id="collapseTwo" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingTwo">
						<div class="panel-body">
							<div class = "col-md-5 col-md-offset-1">
								<h3 class = "title">Wire Bond Substrate</h3>
								<div class="clearfix"></div>
<!--    start of another accordion      -->
								<div class="panel-group" id="accordion1" role="tablist" aria-multiselectable="true">
	<!-- =====================first===================== -->
									<div class="panel">
										<a role="button"  data-parent="#accordion1" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "pro_pbga" })" class="margin-bottom-0">
											<div class="left-link"><h3 class="title pull-left font-size-20">PBGA Substrate</h3>&nbsp;&nbsp;<div class="circle_button circle-button-35 darkgray" style="position: relative; top:-7px;"><i class="icon-arrow-right facilities-icon-arrow-right"></i></div></div>
										</a>
										<div class="clearfix"></div>
									</div>
	<!-- =====================second===================== -->
									<div class="panel">
										<a role="button"  data-parent="#accordion1" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "pro_BOC" })" class="margin-bottom-0">
											<div class="left-link"><h3 class="title pull-left font-size-20">BOC (DDR Substrate)</h3>&nbsp;&nbsp;<div class="circle_button circle-button-35 darkgray" style="position: relative; top:-7px;"><i class="icon-arrow-right facilities-icon-arrow-right"></i></div></div>
										</a>
										<div class="clearfix"></div>
									</div>
	<!-- =====================third===================== -->
									<div class="panel">
										<a role="button"  data-parent="#accordion1" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "pro_memory_card_substrate" })" class="margin-bottom-0">
											<div class="left-link"><h3 class="title pull-left font-size-20">Memory Card Substrate</h3>&nbsp;&nbsp;<div class="circle_button circle-button-35 darkgray" style="position: relative; top:-7px;"><i class="icon-arrow-right facilities-icon-arrow-right"></i></div></div>
										</a>
										<div class="clearfix"></div>
									</div>
	<!-- =====================fourth===================== -->
									<div class="panel">
										<a role="button"  data-parent="#accordion1" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "pro_module_substrate" })" class="margin-bottom-0">
											<div class="left-link"><h3 class="title pull-left font-size-20">Module Substrate</h3>&nbsp;&nbsp;<div class="circle_button circle-button-35 darkgray" style="position: relative; top:-7px;"><i class="icon-arrow-right facilities-icon-arrow-right"></i></div></div>
										</a>
										<div class="clearfix"></div>
									</div>
	<!-- =====================fifth===================== -->
									<div class="panel">
										<a role="button"  data-parent="#accordion1" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "pro_as3_substrate" })" class="margin-bottom-0">
											<div class="left-link"><h3 class="title pull-left font-size-20">a-S<sup>3</sup> Substrate</h3>&nbsp;&nbsp;<div class="circle_button circle-button-35 darkgray" style="position: relative; top:-7px;"><i class="icon-arrow-right facilities-icon-arrow-right"></i></div></div>
										</a>
										<div class="clearfix"></div>
									</div>
								</div>
							</div>
							<!--    start of another accordion      -->
							<div class = "col-md-5 col-md-offset-1">
								<h3 class = "title">Flip Chip Substrate</h3>
								<div class="clearfix"></div>
								<div class="panel-group" id="accordion1" role="tablist" aria-multiselectable="true">
	<!-- =====================first===================== -->
									<div class="panel">
										<a role="button"  data-parent="#accordion1" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "pro_fccsp" })" class="margin-bottom-0">
											<div class="left-link"><h3 class="title pull-left font-size-20">FCCSP Substrate</h3>&nbsp;&nbsp;<div class="circle_button circle-button-35 darkgray" style="position: relative; top:-7px;"><i class="icon-arrow-right facilities-icon-arrow-right"></i></div></div>
										</a>
										<div class="clearfix"></div>
									</div>
	<!-- =====================second===================== -->
									<div class="panel">
										<a role="button"  data-parent="#accordion1" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "pro_epp" })" class="margin-bottom-0">
											<div class="left-link"><h3 class="title pull-left font-size-20">EPP</h3>&nbsp;&nbsp;<div class="circle_button circle-button-35 darkgray" style="position: relative; top:-7px;"><i class="icon-arrow-right facilities-icon-arrow-right"></i></div></div>
										</a>
										<div class="clearfix"></div>
									</div>
								</div>
							</div>
					</div>
				</div>


			</div>
			<!--    Package & Module End      -->
				<!--    Advanced Start      -->
				<div class="col-md-12 bgnews-list list-base panel">
					<div class="content">
						<a role="button" data-parent="#accordion" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "pro_advanced_substrate" })">
							<span class="black-text-in-box accordion-center-text">Advanced Substrate</span>
							<div class="circle_button-wrapper">
								<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>
				<!--    Advanced End      -->
		</article>
		</div>
	</section>