﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/tw/_Layout.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-product">
		<h1 class="page-title title-large">產品</h1>
		<!-- <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/products/banner_product_test.jpg" alt=""> -->
	</section>

	<!--麵包屑-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Index", "Home", new { lang = ViewBag.language.lang })"><i class="icon-home"></i><span itemprop="name">首頁</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("products", "Products", new { lang = ViewBag.language.lang })"><span itemprop="name">產品</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "pro_testService" })"><span itemprop="name">測試</span></a>
					<meta itemprop="position" content="3" />
				</li>
			</ol>
		</div>
	</div>

	<div class="breadcrumbs-pc pull-left" id="breadcrumbs-pc">
	<!-- PC版選單麵包屑內容 -->
		<ul class="breadcrumbs-view" id="breadcrumbs-view">
			<li class="dropdown-item">
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.Action("technology", "Technology", new { lang = ViewBag.language.lang })">技術</a></li>
					<li><a href="@Url.Action("products", "Products", new { lang = ViewBag.language.lang })">產品</a></li>
					<li><a href="@Url.Action("solutions", "SolutionPlatform", new { lang = ViewBag.language.lang })">解決方案</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "ir" })"  >投資人關係</a></li>
					<li><a href="@Url.Action("csr", "CSR", new { lang = ViewBag.language.lang })">企業社會責任</a></li>
					<li><a href="@Url.Action("about", "About", new { lang = ViewBag.language.lang })">了解日月光</a></li>
				</ul>
			</li>
			<li class="dropdown-item">
				<a href="javascript:;">產品</a>
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.Action("products_assembly_offerings", "Products", new { lang = ViewBag.language.lang })">封裝</a></li>
					<li><a href="@Url.Action("pro_test_service", "Products", new { lang = ViewBag.language.lang })">測試</a></li>
					<li><a href="@Url.Action("product_material_offerings", "Products", new { lang = ViewBag.language.lang })">材料</a></li>
					<li><a href="@Url.Action("pro_tray_service_offerings", "Products", new { lang = ViewBag.language.lang })">IC承載盤</a></li>
				</ul>
			</li>
		</ul>
	</div>

	<!-- About Content A -->
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">測試</h3>
				<h4 class="pro_h4">Exhaustive Range of Testing Service</h4>
				<div class="content">
					<div class="col-md-6 pl-0">
						<p>ASE provides a complete range of semiconductor testing services to our customers, including front-end engineering testing, wafer probing, final testing of logic, mixed signal, System-in-Package (Module), RF, and memory, and other test-related services. Our testing services employ technology and expertise that are among the most advanced in the semiconductor industry.</p>
					</div>
					<div class="col-md-6">
						<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/products/pro_test01.jpg" alt="">
					</div>
				</div>

				<h4 class="pro_h4">Customer Orientation</h4>
				<div>In front-end engineering testing services, we help customers develop customized test solution to test their semiconductors on advanced test equipment.</div>
				<div>In addition, we also perform the following services: </div>
				<ul class="pro-test">
					<li>Electrical verification to assess whether a semiconductor device complies with a variety of different operating specifications.</li>
					<li>Reliability analysis to assess the long-term reliability of the semiconductor and its suitability of use for intended applications</li>
					<li>Failure analysis when a semiconductor device does not function to specifications during either the electrical verification or reliability testing processes.</li>
				</ul>
				<h4 class="pro_h4">Test Engineering Capability</h4>
				<div>In test solution development services, we provide customers to develop customized test solution to test their semiconductors on advanced test equipment.</div>
				<div>Besides, we also fulfill the following services,</div>
				<ul class="pro-test">
					<li>We carry out visual inspection and electrical testing of processed wafers to ensure that they meet our customers' specifications.</li>
					<li>In the final testing of logic, mixed signal, memory, and RF semiconductors, we test devices with leads ranging from the single digits to several hundreds and operating frequencies up to several gigahertzes on test equipment from major international manufacturers.</li>
				</ul>
			</article>
		</div>
		<div class="content-lg row csr pro">
		<article class="col-xs-12">
			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
				<div class="col-md-12 bgnews-list list-base panel">
					<div class="content">
						<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
							<span class="black-text-in-box accordion-center-text">Test Solution Development</span>
							<div class="circle_button-wrapper pull-right">
								<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>

					<div id="collapseOne" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne">
						<div class="panel-body">
							<h3 class="title pro-title">Wafer Sort Experience Overview</h3>
							<div class="col-xs-12 pl-0">
								<p>In wafer sort, we carry out visual inspection and electrical testing of processed wafers to ensure that they meet our customers' specifications. We probe devices with pins number from ten thousands to multi-site of hundreds, wafer size ranging from 6 to 12 inches, probe card types of micro-spring, vertical prober card, cantilever prober card, membrane, etc. Temperature ranges from -40 to 125℃ and     experienced in digital, analog, RF, automotive devices wafer sort. ASE provides the services of WLP singulated re-screen process and test solution development including test program coding and probe card design &amp; fabrication.</p>
							</div>
							<h3 class="title pro-title">Wafer Sort:</h3>
							<div class="col-xs-12 pl-0">
								<ul class="pro-test">
									<li>Wafer sort coding</li>
									<li>Probing card fabrication</li>
									<li>Debugging</li>
									<li>Correlation &amp; release</li>
								</ul>
							</div>
							<h3 class="title pro-title">Final Test Experience Overview</h3>
							<div class="col-xs-12 pl-0">
								<p>In the final testing of logic, mixed signal and RF semiconductors, we test devices with leads ranging from the single digits to several hundreds and operating frequencies up to several gigahertzes on test equipment from major international manufacturers. We have, by far, the largest installed base of test equipment among independent service providers.</p>
								<p>In FT test solution development, we provide the solution services including test program development of digital, analog, RF, automotive devices, load board design &amp; fabrication, handler change kit, socket design &amp; fabrication, etc.</p>
								<p>We also provide a range of additional test-related services, including burn-in testing, system level testing, visual inspection, singulated top marking, dry pack, and tape &amp; reel.</p>
							</div>
							<h3 class="title pro-title">Final Test:</h3>
							<div class="col-xs-12 pl-0">
								<ul class="pro-test" style="margin-bottom:0">
									<li>Wafer sort coding</li>
									<li>Probing card fabrication</li>
									<li>Debugging</li>
									<li>Correlation &amp; release</li>
								</ul>
							</div>
						</div>
					</div>
  				</div>

  				<div class="col-md-12 bgnews-list list-base panel">
					<div class="content">
						<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseTwo">
							<span class="black-text-in-box accordion-center-text">Automatic Manufacturing</span>
							<div class="circle_button-wrapper pull-right">
								<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>

					<div id="collapseThree" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne">
						<div class="panel-body">
							<p>We implement the automatic production starting from pre-test to product delivery and equipment management.</p>
							<div class="col-sm-6 col-sm-offset-3 test02">
								<div class="star-hover"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/products/pro_test02_1.png" alt=""></div>
								<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/products/pro_test02.svg" alt="">
							</div>
							<div class="col-xs-12">
								<h3 class="title pro-title" style="margin-top:10px;">Singulated Re-Screen Process</h3>
								<p>ASET created the Singulated Re-Screen Process to rework the singulated die in tape-reel if customers need to re-probe the die. Singulated Re-Screen process could reprocess the WLCSP die packed in tape &amp; reel. The reprocess starts from de-tape, reconfigure singluated die in film frame, singluated die probing, pick &amp; place to tape &amp; reel. The probe card is the same as production so that no new probe card is required.</p>
							</div>
							<p class="text-center">
								<img class="test03 pc" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/products/pro_test03.svg" alt="">
								<img class="test03 mobile" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/products/pro_test03_1.svg" alt="">
							</p>

						</div>
					</div>
  				</div>
  				<div class="col-md-12 bgnews-list list-base panel">
					<div class="content">
						<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseTwo">
							<span class="black-text-in-box accordion-center-text">Talent Bank</span>
							<div class="circle_button-wrapper pull-right">
								<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>

					<div id="collapseFour" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne">
						<div class="panel-body">
							<p>ASE planned to build up the talents through the programs of OJT (On Job Training), outside &amp; inside training, and coaching.</p>
							<p class="text-center"><img class="test04" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/products/pro_test04.svg" alt=""></p>
						</div>
					</div>
  				</div>
			</div>
			</article>
		</div>
	</section>
<script>
$( document ).ready(function() {
	$('.accordion-center-text').click(function(e){
		if ($(this).hasClass('black-text-in-box')) {
			$('.blue-text-in-box').removeClass('blue-text-in-box').addClass('black-text-in-box');
			$(this).removeClass("black-text-in-box");
			$(this).addClass("blue-text-in-box");      //add the class to the clicked element
		} else {
			$(this).removeClass("blue-text-in-box");
			$(this).addClass("black-text-in-box");      //add the class to the clicked element
		}
	});
	
})
</script>