﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/ch/_Layout_seo.cshtml";
    ViewBag.Title = "聲學實驗室";
    ViewBag.enURL = "/en/lab/acoustic-lab";
    ViewBag.zhURL = "/ch/lab/acoustic-lab";
    ViewBag.webSiteDesc = "聲學實驗室（A-Lab）致力於在模擬和測量技術方面提供電聲器件特性設計、分析和表徵。 我們與客戶密切合作協助提供電聲設備解決方案，進行電聲元件設計優化、模組分析、主動降噪 (ANC) 調諧以及助聽器調諧。";
    ViewBag.webSiteOgImage = "https://ase.aseglobal.com/pic/public/frontend/images/lab/og_acoustic-lab.jpg";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-lab">
		<h1 class="page-title title-large">聲學實驗室</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item"><span itemprop="name">特色服務</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch/lab"><span itemprop="name">實驗室服務</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item"><span itemprop="name">聲學實驗室</span></a>
					<meta itemprop="position" content="3" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">聲學實驗室</h3>
                <p>
                    The ASE Acoustic Laboratory (A-Lab) is dedicated to providing electro-acoustic device characteristics design, analysis and characterization in terms of simulation and measurement techniques. ASE A-Lab works closely with customers for the electro-acoustic device design optimization, module analysis, active noise cancellation (ANC) tuning and hearing aid tuning, and electro-acoustic device solutions.
                </p>
                <p>
                    ASE A-Lab can provide complete acoustic information that allows manufacturers to better understand the characteristics of products, thereby improving the overall product quality.
                </p>
                <p>&nbsp;</p>
				<div class="col-xs-12 nopadding">
                    <img class="col-xs-12 col-sm-7 picture-padding-2 mt-32A nopadding" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/lab/pic_acoustic-lab-1.jpg" alt="">
                    <img class="col-xs-8 col-xs-offset-2 col-sm-5 col-sm-offset-0 picture-padding-2 mt-32A nopadding" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/lab/pic_acoustic-lab-2.jpg" alt="">
                </div>
                <p>&nbsp;</p>
            </article>
        </div>
    </section>
    <section class="inside-article">
        <div class="content-lg row">
            <article class="col-xs-12">
                <div class="col-xs-6 bt_DSS technology-tab-active">Design & Simulation Service</div>
                <div class="col-xs-6 bt_MS technology-tab-inactive">Measurement Service</div>
                <div class="clearfix"></div>
                <div class="col-xs-12 csr-bg DSS">
                    <div class="col-sm-6">
                        <div class="technology-box">
                            <h4><strong>Audio Service</strong></h4>
                            <ul class="nopadding">
                                <li>ANC Filter Design and Characterization</li>
                                <li>Personal Sound Amplification Product (PSAP)<br>Filter Design and Characterization</li>
                                <li>Equalizer<br>(Audio, Voice, Hear Through)</li>
                            </ul>
                            <div class="col-xs-12 nopadding">
                                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/lab/pic_acoustic-lab-3.jpg" class="img-responsive center-block">
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="technology-box">
                            <h4><strong>Hearing Aid Service</strong></h4>
                            <ul class="nopadding">
                                <li>Wide Dynamic Range Compression<br>(Millisecond Frequency Adjustment (MFA) Target, Gain)</li>
                                <li>Adaptive feedback cancellation<br>(Howling prevention, MIC Design)</li>
                                <li style="list-style-type: none;" class="hide-in-small">&nbsp;</li>
                            </ul>
                            <div class="col-xs-12 nopadding">
                                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/lab/pic_acoustic-lab-4.jpg" class="img-responsive center-block">
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="col-xs-12 csr-bg MS">
                    <div class="col-sm-4">
                        <div class="technology-box">
                            <h4><strong>Electro Acoustic Service</strong></h4>
                            <ul class="nopadding">
                                <li>Frequency response<br>(20Hz to 20kHz)</li>
                                <li>Sensitivity<br>(94dB SPL@1Watt/1m)</li>
                                <li>Noise floor Total Harmonic Distortion<br>(THD) Sound Pressure Level (SPL)</li>
                            </ul>
                            <div class="col-xs-12 nopadding">
                                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/lab/pic_acoustic-lab-5.jpg" class="img-responsive center-block">
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="technology-box">
                            <h4><strong>Hearing Aid</strong></h4>
                            <ul class="nopadding">
                                <li>Max Output Sound Pressure Level 90 (OSPL90)<br>Full-on Gain 50 (FOG50)<br>Frequency Response at 60dB SPL input (RESP60)</li>
                                <li>Reference Test Gain (RTG)<br>Total Harmonic Distortion (THD)<br>Equivalent Input Noise (EIN)</li>
                            </ul>
                            <div class="col-xs-12 nopadding">
                                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/lab/pic_acoustic-lab-6.jpg" class="img-responsive center-block">
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="technology-box">
                            <h4><strong>Acoustic Mechanism</strong></h4>
                            <ul class="nopadding">
                                <li>ComponAirtight Evaluation<br>(ANC FeedForward(FF) MIC)</li>
                                <li>Isolation Evaluation<br>(SPK To FF MIC)</li>
                                <li style="list-style-type: none;" class="hide-in-small">&nbsp;</li>
                                <li style="list-style-type: none;" class="hide-in-small">&nbsp;</li>
                            </ul>
                            <div class="col-xs-12 nopadding">
                                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/lab/pic_acoustic-lab-7.jpg" class="img-responsive center-block">
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </article>
        </div>
    </section>

    <section class="inside-article">
        <div class="content-lg row">
            <article class="col-xs-12">
                <p>&nbsp;</p>
                <h4 class="sub-title">Characterization Services Summary</h4>
                <div class="col-xs-6 bt_DS technology-tab-active">Design & Simulation Services</div>
                <div class="col-xs-6 bt_M technology-tab-inactive">Measurement Services</div>
                <div class="clearfix"></div>
                
                <div class="col-xs-12 csr-bg nopadding DS">
                    <div style="padding: 20px;">
                        <ul class="nopadding" style="vertical-align: top;">
                            <li class="col-xs-12 col-sm-6 nopadding">Acoustic Mechanism Design
                                <ol class="nopadding" style="padding-bottom:5px;">
                                    <li>Recommend for Speaker Frequency Response (FR)</li>
                                    <li>Microphone position</li>
                                    <li>Airtight & Isolation</li>
                                </ol>
                            </li>
                            <li class="col-xs-12 col-sm-6 nopadding">Active Noise Cancellation tuning
                                <ol class="nopadding" style="padding-bottom:5px;">
                                    <li>Filter design</li>
                                    <li>Feedback MIC filter / Gain / Q</li>
                                    <li>Feedforward MIC filter / Gain / Q</li>
                                </ol>
                            </li>
                            <li class="col-xs-12 col-sm-6 nopadding">Equalizer tuning
                                <ol class="nopadding" style="padding-bottom:5px;">
                                    <li>Audio</li>
                                    <li>Voice</li>
                                    <li>Hear Through</li>
                                </ol>
                            </li>
                            <li class="col-xs-12 col-sm-6 nopadding">Hearing Aid Tuning
                                <ol class="nopadding">
                                    <li>WDRC</li>
                                    <li>MFA Target Frequency</li>
                                    <li>Adaptive Noise Reduction (ANR)</li>
                                    <li>Instance Noise Reduction (INR)</li>
                                    <li>Adaptive Feedback control (AFC)</li>
                                </ol>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>

                <div class="col-xs-12 csr-bg nopadding M">
                    <div style="padding: 20px;">
                        <ul class="nopadding">
                            <li class="col-xs-12 col-sm-6 nopadding">20Hz to 20kHz Frequency response measurement</li>
                            <li class="col-xs-12 col-sm-6 nopadding">Sensitivity & THD & Relative level measurement</li>
                            <li class="col-xs-12 col-sm-6 nopadding">Nosie floor measurement
                                <ol class="nopadding" style="padding-bottom:5px;">
                                    <li>Printed Circuit Board Assembly (PCBA)</li>
                                    <li>ANC on/off</li>
                                    <li>Advanced Audio Distribution Profile (A2DP) & Hands-free Profile (HFP) mode </li>
                                </ol>
                            </li>
                            <li class="col-xs-12 col-sm-6 nopadding">Airtight & Isolation measurement</li>
                            <li class="col-xs-12 col-sm-6 nopadding">MA OSPL90 & FOG50 & RESP60</li>
                            <li class="col-xs-12 col-sm-6 nopadding">RTG & EIN</li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </article>
        </div>
    </section>

    <section class="inside-article">
        <div class="content-lg row csr">
            <div class=" col-md-12 tech-cont-link"><br>
            <a class="phone" href="~/ch/about/plants_offices"><span class="glyphicon glyphicon-earphone"></span>  聯絡我們</a>
            </div>
        </div>
        <p>&nbsp;</p>
    </section>

    <section class="csr-bg">
        <div class="content-lg row">
            <div class="col-xs-12 nopadding">
                <div class="lab-2022 col-sm-3">
                    <div class="lab-btn-2022">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/lab/bt_electrical-lab.jpg" alt="電性實驗室">
                        <a class="btn-2022" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Lab", action = "Package_Design", param1 = "lab_electrical" })">
                            電性實驗室
                        </a>
                    </div>
                </div>

                <div class="lab-2022 col-sm-3">
                    <div class="lab-btn-2022">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/lab/bt_material-lab.jpg" alt="材料實驗室">
                        <a class="btn-2022" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Lab", action = "Package_Design", param1 = "lab_material" })">
                            材料實驗室
                        </a>
                    </div>
                </div>

                <div class="lab-2022 col-sm-3">
                    <div class="lab-btn-2022">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/lab/bt_stress-thermal-lab.jpg" alt="應力/熱傳實驗室">
                        <a class="btn-2022" href="@Url.RouteUrl(new { controller = "Lab", action = "Package_Design", lang = ViewBag.language.lang, param1 = "lab_stress_and_thermal" })">
                            應力/熱傳實驗室
                        </a>
                    </div>
                </div>

                <div class="lab-2022 col-sm-3">
                    <div class="lab-btn-2022">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/lab/bt_chemical-green-technology-lab.jpg" alt="化學和綠色實驗室">
                        <a class="btn-2022" href="@Url.RouteUrl(new { controller = "Lab", action = "Package_Design", lang = ViewBag.language.lang, param1 = "lab_chemical_and_green" })">
                            化學和綠色實驗室
                        </a>
                    </div>
                </div>

                <div class="lab-2022 col-sm-1 hide-in-small" style="width:4%;">
                    <p>&nbsp;</p>
                </div>
                
                <div class="lab-2022 col-sm-3 col-sm-offset-1">
                    <div class="lab-btn-2022">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/lab/bt_failure-analysis-lab.jpg" alt="失效分析實驗室">
                        <a class="btn-2022" href="@Url.RouteUrl(new { controller = "Lab", action = "Package_Design", lang = ViewBag.language.lang, param1 = "lab_failure_analysis" })">
                            失效分析實驗室
                        </a>
                    </div>
                </div>
                
                <div class="lab-2022 col-sm-3">
                    <div class="lab-btn-2022">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/lab/bt_optical-lab.jpg" alt="光學實驗室">
                        <a class="btn-2022" href="@Url.RouteUrl(new { controller = "Lab", action = "Package_Design", lang = ViewBag.language.lang, param1 = "lab_optical" })">
                            光學實驗室
                        </a>
                    </div>
                </div>

                <div class="lab-2022 col-sm-3">
                    <div class="lab-btn-2022">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/lab/bt_acoustic-lab.jpg" alt="聲學實驗室">
                        <a class="btn-2022" href="~/ch/lab/acoustic-lab">
                            聲學實驗室
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <style>
        .lab-2022 {
            overflow: hidden;
            padding: 10px;
        }
        .lab-btn-2022 {
            position: relative;
            overflow: hidden;
        }

        .lab-btn-2022 img {
            width: 100%;
            -webkit-filter: brightness(70%);
            filter: brightness(70%);
            transition: all 500ms;
            -webkit-transition: all 500ms;
        }

        .lab-btn-2022 .btn-2022 {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            color: white;
            font-size: 22px;
            line-height: 22px;
            text-align: center;
            padding: 0;
            margin: 0;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .lab-btn-2022 a:hover {
            text-decoration: none;
        }

        .lab-2022:hover img {
            transform: scale(1.2);
            overflow: hidden;
        }
    </style>

<script>
    $(document).ready(function() {

        $(".DSS").show();
        $(".MS").hide();

        $(".DS").show();
        $(".M").hide();

        $('.bt_DSS').click(function() {
            $(this).closest(".row").find(".bt_MS").removeClass("technology-tab-active").addClass("technology-tab-inactive");
            $(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
            $(this).closest(".row").find(".MS").hide();
            $(this).closest(".row").find(".DSS").fadeIn(1000);
        });
        $('.bt_MS').click(function() {
            $(this).closest(".row").find(".bt_DSS").removeClass("technology-tab-active").addClass("technology-tab-inactive");
            $(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
            $(this).closest(".row").find(".DSS").hide();
            $(this).closest(".row").find(".MS").fadeIn(1000);
        });

        $('.bt_DS').click(function() {
            $(this).closest(".row").find(".bt_M").removeClass("technology-tab-active").addClass("technology-tab-inactive");
            $(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
            $(this).closest(".row").find(".M").hide();
            $(this).closest(".row").find(".DS").fadeIn(1000);
        });
        $('.bt_M').click(function() {
            $(this).closest(".row").find(".bt_DS").removeClass("technology-tab-active").addClass("technology-tab-inactive");
            $(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
            $(this).closest(".row").find(".DS").hide();
            $(this).closest(".row").find(".M").fadeIn(1000);
        });
    });
</script>