﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/ch/_Layout_seo.cshtml";
    ViewBag.Title = "Web-based 封裝設計服務 ";
    ViewBag.enURL = "/en/lab/eservice";
    ViewBag.zhURL = "/ch/lab/eservice";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-lab">
		<h1 class="page-title title-large">Web-based 封裝設計服務</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item"><span itemprop="name">基板服務及其它</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch/lab/package_design"><span itemprop="name">封裝設計服務</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch/lab/eservice"><span itemprop="name">e化服務</span></a>
					<meta itemprop="position" content="3" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->
	<!-- Letter from the Chairman -->
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">e化服務</h3>
				<p>To enhance customer service quality, ASE began developing real time web-based packaging services to our customers in 1999. This design service is referred to as e-Service, a project initiated by the R&D division of ASE. e-Service is intended to speed up the development process of IC packaging. Through interactive windows, users can assign simulation models to derive the optimal results according to the specifications in electrical and thermal performance. In addition, e-Service has the capability to generate bonding diagrams, based on a specific lead frame or substrate by IC designers. Another specialty of e-Service is to provide a direct channel for customers to issue cases to our characterization labs via OLES. Besides, e-Service is also the system to request the simulation and measurement service.</p>
				<!-- Other Products link -->
				<div class="col-md-12 nopadding">
					<div class="circle_button-wrapper pull-left">
						<a href="https://eservice.aseglobal.com/eService/">
							<div class="circle_button darkgray pull-left"><i class="icon-arrow-right"></i></div><span class="more-tech-link">ASE e-Service</span>
						</a>
					</div>
				</div>
				<div class="clearfix"></div>
				<br>
				<div class="col-xs-12 text-center mbt-20">
					<img class = "pc" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/lab/lab_eservice01.png" alt="">
					<img class = "mobile" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/lab/lab_eservice01_m.png" alt="">
				</div>
				<h3>e-Thermal Simulator</h3>
				<p>e-Thermal Simulator, in service since 1999, allows users to conduct thermal simulation for IC packages from a remote site. By simply entering the design parameters, users can obtain the thermal resistance of any package within 3 hours. Based on finite element methods (FEM), e-Thermal Simulator adopts popular commercial software-ANSYS, for the thermal calculations. Once the basic dimensions and conditions of a package are acquired from the remote site, e-Thermal Simulator collects this data and then calls the ANSYS server. After completing the simulation, the results will be e-mailed back to the user. Up-to-date models for QFP (including PQFP, LQFP and TQFP) and BGA (PBGA and HSBGA) are available.</p>

				<h3>e-Stress Simulator</h3>
				<p>e-Stress Simulator, in service since 2008, allows users to conduct stress simulation for IC package from a remote site via the internet. After accessing the e-Stress Simulator Web page and entering the design parameters, users can obtain the stress and warpage distribution of BGA package type. Based on finite element method (FEM), the popular commercial software-ANSYS will be used to do numerical analysis. The basic dimensions and conditions of a package are acquired from the Web site. After completing the simulation, the reports will be e-mailed back to the user.</p>

				<h3>e-Electrical Simulator</h3>
				<p>ASE Electrical Laboratory compiled simulation and design cases and experience to be a cloud database, ASE e-Service. Through e-Service, ASE customers could inquire the estimated package electrical data wherever and whenever. If ASE customer wants the accurate electrical model by 3D electromagnetic solver, e-Service is also the system to request the simulation service.</p>
			</article>

		</div>
	</section>

