﻿@{
    Layout = "~/Areas/Backend/Views/Blogauthor/index.cshtml";
    Dictionary<string, string> error = (Dictionary<string, string>)TempData["error"];
    string str = "";
}

@using web.Models
@using web.Common
@model blog_author

<div class="box-header with-border">
    <h3 class="box-title"></h3>
    <div class="box-tools pull-right">
        <a class="btn btn-warning" href="@Url.Action("List")" role="button"> Back </a>
    </div>
</div>
<div class="box-body form-horizontal">
    @using (Html.BeginForm("Content", "Blogauthor", FormMethod.Post, new { enctype = "multipart/form-data",id="form1" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.HiddenFor(x => x.id)
        @*<div class="row">
                <div class="col-sm-12">
                    <div class="form-group ">
                        <label class="col-sm-2 control-label">語系:</label>
                        <div class="col-sm-6">
                            @{
                                str = "lang";
                            }
                            <select class="form-control" name="@(str)">
                                <option value="en" @(ViewBag.lang == "en" ? "selected" : "")>English</option>
                                <option value="ch" @(ViewBag.lang == "ch" ? "selected" : "")>繁體中文</option>
                            </select>
                            <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
                        </div>
                    </div>
                </div>
            </div>*@
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group ">
                    <label class="col-sm-2 control-label"><i class="required"> * </i> 作者(中文):</label>
                    <div class="col-sm-6">
                        @{
                            str = "ch_name";
                        }
                        @if ((Model.blog_author_dtl.Where(u => u.lang == "ch").FirstOrDefault().name == "(未設定)"))
                        {
                            @Html.TextBox(str, Model.blog_author_dtl.Where(u => u.lang == "ch").FirstOrDefault().name, new { @class = "form-control", maxlength = 250, @required = "required", @name = "ch_name", @disabled = "disabled" })
                        }
                        else
                        {
                            @Html.TextBox(str, Model.blog_author_dtl.Where(u => u.lang == "ch").FirstOrDefault().name, new { @class = "form-control", maxlength = 250, @required = "required", @name = "ch_name"})
                        }

                        <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group ">
                    <label class="col-sm-2 control-label"><i class="required"> * </i> 作者(英文):</label>
                    <div class="col-sm-6">
                        @{
                            str = "en_name";
                        }
                        @if (Model.blog_author_dtl.Where(u => u.lang == "en").FirstOrDefault().name == "(none)")
                        {
                            @Html.TextBox(str, Model.blog_author_dtl.Where(u => u.lang == "en").FirstOrDefault().name, new { @class = "form-control", maxlength = 250, @required = "required", @name = "en_name", @disabled = "disabled" })
                        }
                        else
                        {
                            @Html.TextBox(str, Model.blog_author_dtl.Where(u => u.lang == "en").FirstOrDefault().name, new { @class = "form-control", maxlength = 250, @required = "required", @name = "en_name"})
                        }
                        <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group ">
                    <label class="col-sm-2 control-label">照片:</label>
                    <div class="col-sm-4">
                        <div id="img_preview">
                            <img id="imgPic" src="@(Model.picurl)" style="max-width:270px; max-height:270px; margin-right:10px;margin-top:5px;" onError="this.style.display = 'none'" />
                        </div>
                        <br />
                        @{
                            str = "tmppicurl";
                        }
                        @Html.TextBox(str, Model.picurl, new { @class = "form-control", @style = "display:none", @name = "tmppicurl" })
                        <input type="file" accept=".jpg, .png, .jpeg, .gif, .bmp, .tif, .tiff|image/*" id="picurl" name="picurl" />
                        <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group ">
                    <label class="col-sm-2 control-label"> 中文描述:</label>
                    <div class="col-sm-8">
                        @{
                            str = "ch_brief";
                        }
                        @Html.TextBox(str, Model.blog_author_dtl.Where(u => u.lang == "ch").FirstOrDefault().brief, new { @class = "form-control tinymce" })
                        <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group ">
                    <label class="col-sm-2 control-label"> 英文描述:</label>
                    <div class="col-sm-8">
                        @{
                            str = "en_brief";
                        }
                        @Html.TextBox(str, Model.blog_author_dtl.Where(u => u.lang == "en").FirstOrDefault().brief, new { @class = "form-control tinymce" })
                        <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <div class="col-sm-2 col-sm-offset-2">
                        <a id="btnSubmit" class="btn btn-success btn-block" onclick="postform()">Submit</a>
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-danger btn-block" type="reset">Reset</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<script>
    function postform() {
        if (!chkImage()) {
            swal({ title: "請上傳圖片檔", timer: 3000, type: 'error' })
        }
        else {
            $("#form1").submit();
        }
    }
    function chkImage() {
        var imgs = ["jpg", "png", "jpeg", "gif", "bmp", "tif", "tiff", "svg", "ico"];
        var uploadpath = String($(src).val()).toLowerCase();
        var fileExtension = uploadpath.substring(uploadpath.lastIndexOf(".") + 1, uploadpath.length);
        return (imgs.indexOf(fileExtension) > -1 || $(target).attr("src") != "");
    }
    function showImage(src, target) {
        var fr = new FileReader();
        // when image is loaded, set the src of the image where you want to display it
        fr.onload = function (e) { target.src = this.result; };
        src.addEventListener("change", function () {
            $("#btnSubmit").d
            if (!chkImage()) {
                swal({ title: "請上傳圖片檔", timer: 3000, type: 'error' })
            }
            else {
                // fill fr with image data
                fr.readAsDataURL(src.files[0]);
            }
        });
    }
    var src = document.getElementById("picurl");
    var target = document.getElementById("imgPic");
    showImage(src, target);

    $(document).ready(function () {
        @*$("input[name=picurl]").on("change", function (e) {
            e.preventDefault();
            $token = $('input[name="__RequestVerificationToken"]').val();
            console.log($token);
            //$("#imgPic").attr("src", "/public/uploads/5cded6c981ad0ba86d7e63485daeb469.jpg")
            //$("input[name=tmppicurl]").val("/public/uploads/5cded6c981ad0ba86d7e63485daeb469.jpg")
            var files = e.target.files;
            if (files.length > 0) {
                if (window.FormData !== undefined) {
                    var data = new FormData();
                    //data.append(files[0].name, files[0]);

                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("AjaxUploadImage", "Blogauthor")',
                        //contentType: false,
                        //processData: false,
                        cache: false,
                        async: true,
                        data: data, //{ data, __RequestVerificationToken: $token },
                        //datatype: "json",
                        success: function (result) {
                            console.log(result);
                            $("#imgPic").attr("src", result)
                            $("input[name=tmppicurl]").val(result)
                        },
                        error: function (xhr, status) {                                
                            console.log("上傳失敗");
                        }
                    });
                } else {
                    alert("此瀏覽器不支援HTML5檔案上傳");
                }
            }
        })*@
    })
</script>
