﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
    ViewBag.Title = "Amplifying the Future of Smart Hearables with ASE SiP Solutions";
    ViewBag.enURL = "/en/sip-enabling-smart-hearable-applications";
    ViewBag.zhURL = "/ch/sip-enabling-smart-hearable-applications";
    ViewBag.webSiteDesc = "At ASE, we offer a suite of SiP (System-in-package) solutions with detailed reference designs for hearing aid products. This help to accelerate customers’ time-to-market with innovative and cost effective SiP technologies that deliver high performance.";
    ViewBag.webSiteOgImage = "~/pic/public/frontend/images/technology/og_sip-smart-hearable.jpg";
}
	<!-- page Banner -->
    <section id="page-vision" class="page-banner-s banner-technology"  style="background: url(https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/banner_sip-smart-hearable-m.jpg) no-repeat center; background-size: cover;">
        <h1 class="page-title title-large" style="text-transform: none;">SiP for Smart Hearables</h1>
    </section>

    <div class="content-lg row">
        <div class="col-xs-12">
            <ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
                <!-- Project-B Fix, Apply New Breadcrumb -->
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
                    <meta itemprop="position" content="0" />
                </li>
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <a itemprop="item" href="/en/vipack"><span itemprop="name">Amplifying the Future of Smart Hearables with ASE System-in-Package Solutions</span></a>
                    <meta itemprop="position" content="1" />
                </li>
            </ol>
        </div>
    </div>

    <section class="inside-article">
        <div class="content-lg row">
            <article class="col-xs-12">
                <h3 class="title">Amplifying the Future of Smart Hearables with ASE System-in-Package Solutions</h3>
                <p>&nbsp;</p>
                <p>
                    The ubiquitous earphones have become a high tech necessity in the digital era, connecting us to our smart phones, computers, gaming consoles, TVs and much more. With the rise of IoT (internet-of-things), earphones have advanced from just a device for listening to music and making phone calls, to connecting intelligently with other smart devices by transmitting data to make life more comfortable. Technologies that integrate these functions include TWS (true wireless stereo) that uses Bluetooth signals to transfer sound, and biometric sensors. Designing modern hearing aids including earbuds come with various challenges due to the small real estate space of the device. Meanwhile, the chip industry is constantly looking for cost-effective solutions that will reduce noise and cross talk, and increase performance.
                </p>
                <p>&nbsp;</p>
                <h4 class="sub-title">Miniaturization, Optimization, Simplification</h4>
                <p>
                    At ASE, we offer a suite of SiP (System-in-package) solutions that help customers improve their manufacturing yield and quality, ensure ultimate functional reliability of their end products, and accelerate time-to-market.
                </p>
                <p>
                    Customers leverage on the ASE advantage for supreme smart hearable designs through our expertise in SiP technology to:
                </p>
                <ul class="nopadding">
                    <li>deliver pristine sound quality</li>
                    <li>optimize RF technology for seamless wireless connection</li>
                    <li>integrate more sensors and chip functions</li>
                    <li>incorporate waterproof and noise cancellation features</li>
                    <li>enable miniaturization</li>
                </ul>
                <p>
                    We offer customers a customizable open source module platform comprising a SiP reference design, a SiP development module and sensor module integration to address electrical design challenges and support the integration of multiple microphones and chip functions. Our platform also has the flexibility to allow the heterogeneous integration of single or multiple chips (for example, special purpose processors, DRAM, flash memory), surface mount devices (SMDs), filters, MEMS, sensors and other active/passive components and pre-assembled packages or subsystems for heterogeneous integration.
                </p>
                <p>&nbsp;</p>
                <h4>Detailed ASE Reference Designs for Hearing Aid Products</h4>
                <div class="col-sm-4" style="padding: 5px;">
                    <div class="technology-box" style="background-color:#ffd7c4;">
                        <h4><strong>SiP Platform</strong></h4>
                        <div class="col-xs-6 nopadding">
                            <p>TWS/Hearing device platform</p>
                        </div>
                        <div class="col-xs-6 text-center nopadding" style="padding:20px;">
                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/pic_SiP-A1.png">
                        </div>
                    </div>
                </div>
                <div class="col-sm-4" style="padding: 5px;">
                    <div class="technology-box" style="background-color:#ffeeb8;">
                        <h4><strong>Open Source Modules</strong></h4>
                        <div class="col-xs-6 nopadding">
                            <ul class="nopadding">
                                <li>SiP Reference Design</li>
                                <li>SiP Development Module</li>
                                <li>Sensor Module Integration Design</li>
                            </ul>
                        </div>
                        <div class="col-xs-6 text-center" style="padding:20px;">
                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/pic_SiP-A2.png">
                        </div>
                    </div>
                </div>
                <div class="col-sm-4" style="padding: 5px;">
                    <div class="technology-box" style="background-color:#e2f0d9;">
                        <h4><strong>Product Application Design</strong></h4>
                        <div class="col-xs-6 nopadding">
                            <ul class="nopadding">
                                <li>TWS/Hearable Product Designs</li>
                                <li>Gaming earphones</li>
                                <li>Motion sensors</li>
                                <li>Electronic Stethoscopes</li>
                                <li>Wearable Health and Monitoring Devices</li>
                            </ul>
                        </div>
                        <div class="col-xs-6 text-center" style="padding:20px;">
                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/pic_SiP-A3.png">
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <h4 class="sub-title">Introducing the ASE ATOM Earbud</h4>
                <p>
                    To demonstrate the efficacy of ASE’s SiP platform, we created an ASE Atom earbud through 3D printing. The ASE Atom features electro-acoustic components, a bottom ID (industrial design), battery, PCB board, microphone with antenna bracket and a top ID. Through a simplified SiP design and an optimized hardware layout that combine components such as IMUx6 axis sensors, antennas and microphones, an engineer would be able to assemble a piece of earbud in just 2 minutes 42 seconds.  The solution platform allows us to maintain an extremely small formfactor despite integrating many different chips and sensors. It also enables the standardization of passive component design rules, while achieving miniaturization and optimizing the performance.
                </p>
                <p>
                    In addition, different housing designs and sound processing algorithms provide different levels of performance standards and ANC (Active Noise Cancellation). A wide range of TWS earbuds or hearing devices can be designed to meet specifications of 2Mic and 20dB (earbuds), 1Mic and 45dB (hearing aids), and 2Mic and 45dB (hearing aids).
                </p>
            </article>
            <div class="col-sm-6" style="padding: 25px;">
                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/pic_sip-smart-hearable-2.jpg" style="margin-bottom:10px;">
                <p class="text-center">An inside look at the ASE ATOM Earbud<br>Dimension(mm): 15.7 x 14 x 25.5</p>
            </div>
            <div class="col-sm-6" style="padding: 25px;">
                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/pic_sip-smart-hearable-3.jpg" style="margin-bottom:10px;">
                <p class="text-center">Max: ANC can achieve 35dB<br>Average: 27dB(<500Hz) 24dB(1000Hz)</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </section>
    <section class="csr-bg">
        <div class="content-lg row">
            <div class="col-xs-12">
                <h4 class="sub-title">ASE SiP Platform for Hearing Aid Products</h4>
                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/pic_sip-smart-hearable-4-en.svg?3" class="img-responsive center-block hide-in-small">
                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/pic_sip-smart-hearable-4-en-m.svg?3" class="img-responsive center-block hide-in-large">
            </div>
        </div>
    </section>
    <section class="inside-article">
        <div class="content-lg row">
            <div class="clearfix">
                <p>&nbsp;</p>
            </div>
            <article class="col-xs-12">
                <h4 class="sub-title">ASE Chung Li - Leading the Charge in SiP for Smart Wearables</h4>
                <p>
                    ASE Chung Li has set up an SiP team dedicated to the development of hearable applications through the integration of Bluetooth and biometric sensors. The team is armed with many years of proven experience in developing high performance hearables with lower power consumption and excellent cavity resonance. Our solutions enable high fidelity and smarter hearables that provide an unparalleled user-experience. At the same time, we are also working actively across the industry to innovate and develop technologies in support of hearables for entertainment and helping people hear better.
                </p>
                <p>
                    The ASE system integration and miniaturization development center has collaborated closely with the acoustics industry in many areas from product planning, system design to manufacturing. As such, we can easily adapt to customers’ needs while simplifying the overall design of hearables, optimizing acoustic cavity space and increasing battery life.
                </p>
                <div class="col-sm-offset-1 col-sm-10">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/pic_sip-smart-hearable-5.jpg">
                </div>
                <div class="clearfix"></div>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <h4 class="sub-title">Driving the Development of Smart Hearables with ASE SiP Platform</h4>
                <p>With SiP, chip designers can integrate a wide array of sensors to increase the functionality and performance of hearables.</p>
                <ul class="nopadding">
                    <li>Enabling hand gesture and movement-controlled functions through gesture radar SiP and AI-enabled gesture recognition</li>
                    <li>Combining the internal DSP’s virtual 360-degree spatial audio algorithm with the IMU sensor’s head tracking to enable spatial audio functions</li>
                    <li>Developing Bluetooth electronic stethoscopes/headphones that can transmit and receive physiological data, record the data from patients/pregnant women onto a computer and also support traditional auscultation instruments</li>
                    <li>Incorporating a movement tracker to detect movements such as a hard fall, sports and other activity related movements</li>
                    <li>Incorporating health monitoring features to measure body temperature, heart rate and blood oxygen.</li>
                </ul>
                <p>
                    As a key industry player in heterogeneous integration, ASE is accelerating customers’ time-to-market with innovative and cost effective SiP technologies that deliver high performance. The opportunities are endless with Team ASE as we amplify our unique strengths to create a bright and sound future.
                </p>
                <div class="col-sm-offset-1 col-sm-10">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/pic_sip-smart-hearable-6.jpg">
                </div>
                <div class="clearfix"></div>
                <p>&nbsp;</p>
            </article>
        </div>
    </section>