﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
    ViewBag.Title = "ASE Trademarks ";
    ViewBag.enURL = "/en/technology/ase_trademarks";
    ViewBag.zhURL = "/ch/technology/ase_trademarks";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-technology">
		<h1 class="page-title title-large">ASE Trademarks</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/about"><span itemprop="name">About ASE</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item"><span itemprop="name">IP & Trademarks</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/technology/ase_trademarks"><span itemprop="name">ASE Trademarks</span></a>
					<meta itemprop="position" content="3" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->

	<!-- Technology list -->
	<section class="inside-article">
		<div class="content-lg row">
			<div class="col-xs-12">
				<h3 class="title">ASE Trademarks and Service Marks</h3>
				<h4 class="sub-title">ASE Trademark List</h4>
				<p>
				This is a non-exclusive list of ASE’s trademarks and may be updated by ASE from time to time without notice in advance. Any name, service mark or logo that has been used for or incorporated into ASE’s services but not specified under this list shall not constitute a waiver of ASE’s trademark or other intellectual property rights over that name or logo. 
				</p>

				<div class="col-xs-6 col-sm-5cols">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/trademark1.png">
				</div>
				<div class="col-xs-6 col-sm-5cols">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/trademark2.png">
				</div>
				<div class="col-xs-6 col-sm-5cols">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/trademark3.png">
				</div>
				<div class="col-xs-6 col-sm-5cols">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/trademark4.png">
				</div>
				<div class="col-xs-6 col-sm-5cols">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/trademark5.png">
				</div>
				<div class="col-xs-6 col-sm-5cols">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/trademark6.png">
				</div>
				<div class="col-xs-6 col-sm-5cols">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/trademark7.png">
				</div>
				<div class="col-xs-6 col-sm-5cols">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/trademark8.png">
				</div>
				<div class="col-xs-6 col-sm-5cols">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/trademark9.png">
				</div>
				<div class="col-xs-6 col-sm-5cols">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/trademark10.png">
				</div>
				<div class="col-xs-6 col-sm-5cols">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/trademark11.png">
				</div>
				<div class="col-xs-6 col-sm-5cols">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/trademark12.png">
				</div>
				<div class="col-xs-6 col-sm-5cols">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/trademark13.png">
				</div>
				<div class="col-xs-6 col-sm-5cols">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/trademark14.png">
				</div>
				<div class="col-xs-6 col-sm-5cols">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/trademark15.png">
				</div>
				<div class="col-xs-6 col-sm-5cols">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/trademark16.png">
				</div>
				<div class="col-xs-6 col-sm-5cols">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/trademark17.png">
				</div>
				<div class="col-xs-6 col-sm-5cols">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/trademark18.png">
				</div>
				<div class="col-xs-6 col-sm-5cols">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/trademark23.png">
				</div>
				<div class="col-xs-6 col-sm-5cols">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/trademark24.png">
				</div>
				<div class="col-xs-6 col-sm-5cols">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/trademark21.png">
				</div>
				<div class="col-xs-6 col-sm-5cols">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/trademark22.png">
				</div>
				<div class="col-xs-6 col-sm-5cols">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/trademark20.png">
				</div>
				<div class="col-xs-6 col-sm-5cols">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/trademark19.png">
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</section><br>
<script>
	$(document).ready(function() { 

		$('#media').carousel({
			pause: true,
			interval: false,
		});
		$("#media").swiperight(function() { /* enables the swiping on phone */
			$(this).carousel('prev');
		});
		$("#media").swipeleft(function() { /* enables the swiping on phone */
			$(this).carousel('next');
		});
		$(".technology-features-content").hide();

		$('.technology-application').click(function() {
			$(this).closest(".row").find(".technology-features").removeClass("technology-tab-active").addClass("technology-tab-inactive");
			$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
			$(this).closest(".row").find(".technology-features-content").hide();
			$(this).closest(".row").find(".technology-application-content").fadeIn(1000);
		});
		$('.technology-features').click(function() {
			$(this).closest(".row").find(".technology-application").removeClass("technology-tab-active").addClass("technology-tab-inactive");
			$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
			$(this).closest(".row").find(".technology-application-content").hide();
			$(this).closest(".row").find(".technology-features-content").fadeIn(1000);
		});
	});
</script>