﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
    ViewBag.Title = "VIPack™";
    ViewBag.enURL = "/en/vipack";
    ViewBag.zhURL = "/ch/vipack";
    ViewBag.webSiteDesc = "Enabling vertically integrated package solutions";
    ViewBag.webSiteOgImage = "~/pic/public/frontend/images/technology/logo_vipack-og.jpg";
}
	<!-- page Banner -->
    <section id="page-vision" class="page-banner-s banner-technology"  style="background: url(https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/banner_vipack.jpg) no-repeat center; background-size: cover;">
        <h1 class="page-title title-large"></h1>
    </section>

    <div class="content-lg row">
        <div class="col-xs-12">
            <ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
                <!-- Project-B Fix, Apply New Breadcrumb -->
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
                    <meta itemprop="position" content="0" />
                </li>
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <a itemprop="item" href="/en/vipack"><span itemprop="name">VIPack™</span></a>
                    <meta itemprop="position" content="1" />
                </li>
            </ol>
        </div>
    </div>

    <section class="inside-article">
        <div class="content-lg row">
            <article class="col-xs-12">
                <!-- <h3 class="title">VIPack™</h3> -->
                <!-- <p>&nbsp;</p> -->
                <div class="col-xs-5 col-sm-3 col-md-2 col-lg-2 nopadding"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/logo_vipack.jpg"></div>
                <div class="clearfix"></div>
                <p>&nbsp;</p>
                <p>
                    ASE has introduced VIPack™, an advanced packaging platform designed to enable vertically integrated package solutions.  VIPack™ represents ASE’s next generation of 3D heterogeneous integration architecture that extends design rules and achieves ultra-high density and performance. The platform leverages advanced redistribution layer (RDL) processes, embedded integration, and 2.5D and 3D technologies to help customers achieve unprecedented innovation when integrating multiple chips within a single package.<br><br>

                    As our world navigates the data centric era, the semiconductor market is growing exponentially, with the growth behind the data coming from devices used across Artificial Intelligence (AI), Machine Learning (ML), 5G Communications, High Performance Computing (HPC), Internet-of-Things (IoT), and Automotive applications.  Demand for innovative package and IC co-design, cutting-edge wafer level fabrication processes, sophisticated packaging technologies, and comprehensive product and testing solutions has never been greater. The role of packaging has become increasingly critical, as applications call for solutions to enable higher performance, greater functionality, and improved power, while meeting stringent cost parameters. The rising adoption of chiplet-based co-designs is further fueling demand for multi-chip integration into a single package. The launch of VIPack™ firmly establishes a collaborative platform for exceptional interconnect solutions where 3D heterogeneous integration has become critical.<br><br>

                    ASE’s VIPack™ is comprised of six core packaging technology pillars supported by a comprehensive and integrated co-design ecosystem:
                </p>
            </article>
        </div>
    </section>
    <section class="csr-bg hide-in-small">
        <div class="content-lg row">
            <div class="col-xs-12">
                <div class="col-xs-4 col-sm-2" style="padding: 5px;">
                    <a href="https://ase.aseglobal.com/en/technology/fopop">
                    <div class="technology-box" style="margin-bottom: 0; padding: 10px; min-height: 180px;">
                        <h4 class="text-center" style="font-size: 14px;"><b>FOPoP</b></h4>
                        <div class="nopadding">
                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/pic_fopop.jpg">
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-xs-4 col-sm-2" style="padding: 5px;">
                    <a href="https://ase.aseglobal.com/public/en/technology/focos.html">
                    <div class="technology-box" style="margin-bottom: 0; padding: 10px; min-height: 180px;">
                        <h4 class="text-center" style="font-size: 14px;"><b>FOCoS</b></h4>
                        <div class="nopadding">
                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/pic_focos.jpg">
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-xs-4 col-sm-2" style="padding: 5px;">
                    <a href="https://ase.aseglobal.com/public/en/technology/focos.html">
                    <div class="technology-box" style="margin-bottom: 0; padding: 10px; min-height: 180px;">
                        <h4 class="text-center" style="font-size: 14px;"><b>FOCoS - Bridge</b></h4>
                        <div class="nopadding">
                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/pic_focos-bridge.jpg">
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-xs-4 col-sm-2" style="padding: 5px;">
                    <a href="https://ase.aseglobal.com/en/technology/fan-out-sip">
                    <div class="technology-box" style="margin-bottom: 0; padding: 10px; min-height: 180px;">
                        <h4 class="text-center" style="font-size: 14px;"><b>FOSiP</b></h4>
                        <div class="nopadding">
                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/pic_fosip.jpg">
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-xs-4 col-sm-2" style="padding: 5px;">
                    <a href="https://ase.aseglobal.com/en/technology/advanced_25dic">
                    <div class="technology-box" style="margin-bottom: 0; padding: 10px; min-height: 180px;">
                        <h4 class="text-center" style="font-size: 14px;"><b>2.5D/3D</b></h4>
                        <div class="nopadding">
                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/pic_25-3_dic.jpg">
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-xs-4 col-sm-2" style="padding: 5px;">
                    <a href="https://ase.aseglobal.com/en/technology/silicon-photonics">
                    <div class="technology-box" style="margin-bottom: 0; padding: 10px; min-height: 180px;">
                        <h4 class="text-center" style="font-size: 14px;"><b>Co-Packaged Optics</b></h4>
                        <div class="nopadding">
                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/pic_co-packaged-optics.jpg">
                        </div>
                    </div>
                    </a>
                </div>
                <div class="clearfix"></div>
                <div class="col-sm-12 hide-in-small" style="padding: 5px;">
                    <div class="text-center" style="margin-bottom: 0; min-height: 15px !important;">
                        <h4 style="margin: 0; padding-top: 10px;"><b>Integrated Design Ecosystem</b></h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="csr-bg hide-in-large">
        <div class="content-lg row">
            <div class="col-xs-12">
                <div class="col-xs-4 col-sm-2" style="padding: 5px;">
                    <a href="https://ase.aseglobal.com/en/technology/fan_out">
                    <div class="technology-box" style="margin-bottom: 0; padding: 10px; min-height: 120px;">
                        <h4 class="text-center" style="font-size: 14px;"><b>FOPoP<br>&nbsp;</b></h4>
                        <div class="nopadding">
                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/pic_fopop.jpg">
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-xs-4 col-sm-2" style="padding: 5px;">
                    <a href="https://ase.aseglobal.com/public/en/technology/focos.html">
                    <div class="technology-box" style="margin-bottom: 0; padding: 10px; min-height: 120px;">
                        <h4 class="text-center" style="font-size: 14px;"><b>FOCoS<br>&nbsp;</b></h4>
                        <div class="nopadding">
                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/pic_focos.jpg">
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-xs-4 col-sm-2" style="padding: 5px;">
                    <a href="https://ase.aseglobal.com/public/en/technology/focos.html">
                    <div class="technology-box" style="margin-bottom: 0; padding: 10px; min-height: 120px;">
                        <h4 class="text-center" style="font-size: 14px;"><b>FOCoS -<br>Bridge</b></h4>
                        <div class="nopadding">
                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/pic_focos-bridge.jpg">
                        </div>
                    </div>
                    </a>
                </div>
                <div class="clearfix hide-in-large"></div>
                <div class="col-sm-12 hide-in-large" style="padding: 5px;">
                    <div class="text-center" style="margin-bottom: 0; min-height: 15px !important;">
                        <h4 style="margin: 0; padding-top: 10px;"><b>Integrated Design Ecosystem</b></h4>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-2" style="padding: 5px;">
                    <a href="https://ase.aseglobal.com/en/technology/fan-out-sip">
                    <div class="technology-box" style="margin-bottom: 0; padding: 10px; min-height: 120px;">
                        <h4 class="text-center" style="font-size: 14px;"><b>FOSiP<br>&nbsp;</b></h4>
                        <div class="nopadding">
                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/pic_fosip.jpg">
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-xs-4 col-sm-2" style="padding: 5px;">
                    <a href="https://ase.aseglobal.com/en/technology/advanced_25dic">
                    <div class="technology-box" style="margin-bottom: 0; padding: 10px; min-height: 120px;">
                        <h4 class="text-center" style="font-size: 14px;"><b>2.5D/3D<br>&nbsp;</b></h4>
                        <div class="nopadding">
                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/pic_25-3_dic.jpg">
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-xs-4 col-sm-2" style="padding: 5px;">
                    <a href="https://ase.aseglobal.com/en/technology/silicon-photonics">
                    <div class="technology-box" style="margin-bottom: 0; padding: 10px; min-height: 120px;">
                        <h4 class="text-center" style="font-size: 14px;"><b>Co-Packaged<br>Optics</b></h4>
                        <div class="nopadding">
                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/pic_co-packaged-optics.jpg">
                        </div>
                    </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="inside-article">
        <div class="col-xs-12 living-box">
            <div class="row csr pro" style="margin: 0;">
                <article class="col-md-8 col-md-offset-2 text-center" style="padding: 40px 0 40px 0;">
                    <div class="col-md-12 nopadding">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/mov_vipack.jpg">
                    </div>
                    <div style="position:absolute; left:35%; top: 42%; z-index:10; margin:0 auto; border-radius: 10px; text-align: center; background-color: rgba(0, 0, 0, 0.7);">
                        <a class="button videoButton popupVideo" href="https://coms.aseglobal.com/marcom/video/vipack" target="_blank"><span style="padding-top: 4px;">Watch More</span><i class="icon-play"></i></a>
                    </div>
                </article>
            </div>
        </div>
    </section>
    <section class="inside-article">
        <div class="content-lg row">
            <article class="col-xs-12">
                <p>
                    These include ASE’s high density RDL-based Fanout Package-on Package (FOPoP), Fanout Chip-on-Substrate, (FOCoS), Fanout Chip-on-Substrate-Bridge (FOCoS-Bridge), and Fanout System-in-Package (FOSiP) as well as Through Silicon Via (TSV)-based 2.5D and 3D IC and Co-Packaged Optics processing capabilities. The VIPack™ platform provides the capabilities necessary to enable trailblazing highly integrated silicon packaging solutions required to optimize clock speed, bandwidth, and power delivery, and to reduce co-design time, product development, and time to market.<br><br>


                    The VIPack™ platform delivers the dense horizontal and vertical interconnect solutions required to interconnect disaggregated SoCs (System-on-Chip) and HBM (High Bandwidth Memory) used for leading-edge HPC, AI, ML, and Network applications. High-speed networking is also being challenged with several complex components for optical packaging that require VIPack™ innovation to bring these components together in a vertical structure for both space and performance enablement. Applications supported by VIPack™ further extend to the mobile market with ultra-low profile SIP modules to address the common RF iterative design process and enable a higher level of performance with integrated passives in the RDL layers. Additionally, the next generation of application processors address the demand for lower profile package solutions, while solving power delivery issues for advanced silicon nodes.<br><br>

                    Available now, ASE’s VIPack™ is a scalable platform that will expand in alignment with industry roadmaps.<br><br>

                    <a href="https://ase.aseglobal.com/en/blog/vipack" target="_blank">Blog</a>: Introducing VIPack™ by Mark Gerber
                </p>
            </article>
        </div>
    </section>