﻿<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# business: http://ogp.me/ns/business#">
    <!--
    <link rel="canonical" href="http://ase.begonia.tw/">
    <link rel="alternate" href="http://ase.begonia.tw/index" hreflang="en">
    -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>ASE Group</title>
    <link rel="shortcut icon" type="image/x-icon" href="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/favicon.png" />
    <link rel="apple-touch-icon" href="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/touch-icon.png" />
    <link rel="stylesheet" href="https://2311cdn.r.worldssl.net/css/public/frontend/css_ch/ase.min.css?ver=@(DateTime.Now.ToString("yyyyMMddhh"))" />
    @Html.Raw(ViewBag.css)
    <link href="https://2311cdn.r.worldssl.net/css/Content/sweetalert2.min.css" rel="stylesheet" />
    <script src="https://2311cdn.r.worldssl.net/js/public/frontend/js/vendor/jquery/jquery-2.2.2.min.js"></script>
    <style>/* Custom header  */
        #wrapper{margin-top:62.6px;}
        header{padding: 0px 50px;height: 62.6px;}
        header a.logo > img{height:52px;margin:5px;}
        .nav-pc{top: 62.6px;}
        .breadcrumbs-dropdown-view{top:62.6px;}
        html.nav-open .nav-mobile{top:62.6px;}
        .nav-mobile{height:calc(100% - 62.6px);}
        @@media only screen and (max-width: 768px) {
            header .hamburger{margin-top:0px;}
        }
        @@media only screen and (max-width: 450px) {
            header{padding: 0px 20px;}
            header .hamburger{margin-top:0px;}
        }
    </style>
</head>

<body>
    <div id="page-loader" class="loader">
        <span>loading</span>
        <ul>
            <li id='a'></li>
            <li id='b'></li>
            <li id='c'></li>
            <li id='d'></li>
            <li id='e'></li>
            <li id='f'></li>
            <li id='g'></li>
            <li id='h'></li>
            <li id='i'></li>
        </ul>
    </div>
    <header>
        <!-- <a class="logo pull-left" href="@Url.Action("Index", "Home", new { lang = ViewBag.language.lang })"><div>ASE Group</div></a> -->
        <a class="logo pull-left" href="@Url.Action("Index", "Home", new { lang = ViewBag.language.lang })"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/logo-ch.png" alt=""></a>

        <!-- PC版選單breadcrumbs -->
        <nav class="hidden-xs hidden-sm breadcrumbs-dropdown-view" id="dropdown-view"></nav>

        <div class="pull-right">
            <!-- Search PC -->
            <form action="" autocomplete="off" class="hidden-xs hidden-sm form-search-pc">
                <div class="search-group">
                    <input type="text" class="form-control" id="" placeholder="搜尋">
                    <button class="" type="submit" onclick="alert('PC'); return false"><i class="icon-search"></i></button>
                </div>
            </form>
            <div class="dropdown lan hidden-xs hidden-sm">
                <a data-target="#" href="@Url.Action("Index", "Home", new { lang = ViewBag.language.lang })" data-toggle="dropdown">
                    <i class="icon-lang"></i> @ViewBag.language.title <span class="glyphicon glyphicon-menu-down"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="@Url.Action("Index", "Home", new { lang = "en" })">English</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Home", new { lang = "tw" })">繁體中文</a>
                    </li>
                </ul>
            </div>
            <div class="hamburger hamburger--collapse">
                <div class="hamburger-box">
                    <div class="hamburger-inner"></div>
                </div>
            </div>
        </div>

        <!-- Mobile Menu -->
        <nav class="hidden-md hidden-lg nav-mobile">
            <form action="" autocomplete="off">
                <div class="search-group">
                    <input type="text" class="form-control" id="" placeholder="Search">
                    <button class="" type="submit" onclick="alert('mobile'); return false"><i class="icon-search"></i></button>
                </div>
            </form>
            <ul class="main">
				<li class="has-next">
                    <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology" })">技術</a>
                    <ul>
                        <li>
                            <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "Technology_Innovation" })">創新技術</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "intellectual_property" })">智財</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "trademarks" })">日月光商標</a>
                        </li>
                    </ul>
                </li>
				<li class="has-next">
                    <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "products" })">產品</a>
                    <ul>
						<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "Assembly" })">封裝</a></li>
                        <li>
                            <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "Test" })">測試</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "Material" })">材料</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "Tray" })">IC乘載盤</a>
                        </li>
                    </ul>
                </li>
				<li class="has-next">
                    <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "solutions" })">解決方案</a>
					<ul>
                        <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "solutions_smart_living" })">智能家居</a></li>
                        <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "solutions_smart_bike" })">智能單車</a></li>
                        <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "solutions_smart_city" })">智慧城市</a></li>
                        <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "solutions_smart_automotive" })">智能汽車</a></li>
                    </ul>
				</li>	
                <li class="has-next">
                    <a href="http://ir.aseglobal.com/html/ir_view.php">投資人關係</a>
                    <ul>
                        <li>
                            <a href="http://ir.aseglobal.com/html/index.php">投資人關係總覽</a>
                        </li>
                        <li>
                            <a href="http://ir.aseglobal.com/html/ir_profile.php">公司基本資料</a>
                        </li>
                        <li>
                            <a href="http://ir.aseglobal.com/html/ir_financials.php">財務資訊</a>
                        </li>
                        <li>
                            <a href="http://ir.aseglobal.com/html/ir_corpor.php">公司治理</a>
                        </li>
                        <li>
                            <a href="http://ir.aseglobal.com/html/ir_ev.php">活動與新聞</a>
                        </li>
                        <li>
                            <a href="http://ir.aseglobal.com/html/ir_share.php">股東服務</a>
                        </li>
                        <li>
                            <a href="http://ir.aseglobal.com/html/ir_faq.php">問答集</a>
                        </li>
                        <li>
                            <a href="http://ir.aseglobal.com/html/ir_contact.php">聯絡日月光</a>
                        </li>
                    </ul>
                </li>
				<li class="has-next">
                    <a href="@Url.Action("Index", "CsrNews", new { lang = ViewBag.language.lang })">企業社會責任</a>
                    <ul>
                        <li>
                            <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "Letter_Chairman" })">董事長的話</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "corporate_sustainability_policy_and_management" })">永續治理</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "Stakeholder_Engagement" })">利害關係人專區</a>
                        </li>
                        <li>
                            <a href="http://ir.aseglobal.com/html/ir_corpor.php">公司治理</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "environmental_sustainability" })">環境永續</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "Employee_Care_Development" })">員工關懷與發展</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "Supply_Chain_Development" })">供應鏈發展</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "Corporate_Citizenship_Social_Involvement" })">企業公民與社會參與</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Downloads", "CSR", new { lang = ViewBag.language.lang })">下載專區</a>
                        </li>
                    </ul>
                </li>
                <li class="has-next">
                    <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "about" })">了解日月光</a>
                    <ul>
                        <li>
                            <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "milestones" })">大事紀</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "award" })">獎項肯定</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "ASE_Turnkey_Services" })">日月光一元化服務</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "Manufacturing_Facilities" })">全球工廠據點</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "plants_offices" })">營運據點</a>
                        </li>
                        <li>
                            <a href="@Url.Action("List", new { controller = "PressRoom", lang = ViewBag.lang })">活動</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", new { controller = "Events", lang = ViewBag.lang })">新聞</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "Careers" })">人才招募</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", new { controller = "Contact", lang = ViewBag.lang })">聯絡日月光</a>
                        </li>
                    </ul>
                </li>				
            </ul>
        </nav>

        <!-- PC Menu -->
        <nav class="hidden-xs hidden-sm nav-pc">
            <ul class="nav nav-pills">
                <li>
                    <a data-toggle="tab" href="#menu1" style="text-transform:uppercase;" data-href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology" })">技術</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#menu2" style="text-transform:uppercase;" data-href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "products" })">產品</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#menu3" style="text-transform:uppercase;" data-href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "solutions" })">解決方案</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#menu4" style="text-transform:uppercase;" data-href="http://ir.aseglobal.com/html/ir_view.php">投資人關係</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#menu5" style="text-transform:uppercase;" data-href="@Url.Action("Index", "CsrNews", new { lang = ViewBag.language.lang })">企業社會責任</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#menu6" style="text-transform:uppercase;" data-href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "about" })">了解日月光</a>
                </li>
            </ul>

            <div class="tab-content">
                <div id="menu1" class="tab-pane active">
                    <!-- Technology -->
                    <ul>
                        <li>
                            <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "Technology_Innovation" })">創新技術</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "intellectual_property" })">智財</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "trademarks" })">日月光商標</a>
                        </li>
                    </ul>
                </div>
                <div id="menu2" class="tab-pane">
                    <!-- Products -->
                    <ul>
                        <li>
                            <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "Assembly" })">封裝</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "Test" })">測試</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "Material" })">材料</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "Tray" })">IC乘載盤</a>
                        </li>
                    </ul>
                </div>
                <div id="menu3" class="tab-pane">
                    <!-- Solution Platform -->
                    <ul>
                        <li>
                            <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "solutions_smart_living" })">智能居家</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "solutions_smart_bike" })">智能單車</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "solutions_smart_city" })">智慧城市</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "solutions_smart_automotive" })">智能汽車</a>
                        </li>
                    </ul>
                </div>
                <div id="menu4" class="tab-pane">
                    <!-- IR -->
                    <ul>
                        <li>
                            <a href="http://ir.aseglobal.com/html/index.php">投資人關係總覽</a>
                        </li>
                        <li>
                            <a href="http://ir.aseglobal.com/html/ir_profile.php">公司基本資料</a>
                        </li>
                        <li>
                            <a href="http://ir.aseglobal.com/html/ir_financials.php">財務資訊</a>
                        </li>
                        <li>
                            <a href="http://ir.aseglobal.com/html/ir_corpor.php">公司治理</a>
                        </li>
                        <li>
                            <a href="http://ir.aseglobal.com/html/ir_ev.php">活動與新聞</a>
                        </li>
                        <li>
                            <a href="http://ir.aseglobal.com/html/ir_share.php">股東服務</a>
                        </li>
                        <li>
                            <a href="http://ir.aseglobal.com/html/ir_faq.php">問答集</a>
                        </li>
                        <li>
                            <a href="http://ir.aseglobal.com/html/ir_contact.php">聯絡日月光</a>
                        </li>
                    </ul>
                </div>
                <div id="menu5" class="tab-pane">
                    <!-- CSR -->
                    <ul>
                        <li>
                            <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "Letter_Chairman" })">董事長的話</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "corporate_sustainability_policy_and_management" })">永續治理</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "Stakeholder_Engagement" })">利害關係人專區</a>
                        </li>
                        <li>
                            <a href="http://ir.aseglobal.com/html/ir_corpor.php">公司治理</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "environmental_sustainability" })">環境永續</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "Employee_Care_Development" })">員工關懷與發展</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "Supply_Chain_Development" })">供應鏈發展</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "Corporate_Citizenship_Social_Involvement" })">企業公民與社會參與</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Downloads", "CSR", new { lang = ViewBag.language.lang })">下載專區</a>
                        </li>
                    </ul>
                </div>
                <div id="menu6" class="tab-pane">
                    <!-- About -->
                    <ul>
                        <li>
                            <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "milestones" })">大事紀</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "award" })">獎項肯定</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "ASE_Turnkey_Services" })">日月光一元化服務</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "Manufacturing_Facilities" })">全球工廠據點</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "plants_offices" })">營運據點</a>
                        </li>
                        <li>
                            <a href="@Url.Action("List", new { controller = "PressRoom", lang = ViewBag.lang })">活動</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", new { controller = "Events", lang = ViewBag.lang })">新聞</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "Careers" })">人才招募</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", new { controller = "Contact", lang = ViewBag.lang })">聯絡日月光</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="page">
        <div id="wrapper" style="">
            @RenderBody()
        </div>

        <footer style="padding:30px 0px;">
            <a class="gotop" href="javascript:;"><i class="icon-arrow-top"></i><span>TOP</span></a>
                  <div class="content-lg row text-center">
                <ul class="sitemap no-margin" style="list-style-type:decimal;">
                    <li>
                        <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology" })" class="toggle">技術<span class="arrow"></span></a>
                    </li>
					<li class="sline">|</li>
                    <li>
                        <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "products" })" class="toggle">產品<span class="arrow"></span></a>
                    </li>
					<li class="sline">|</li>
                    <li>
                        <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "solutions" })" class="toggle">解決方案<span class="arrow"></span></a>
                    </li>
					<li class="sline">|</li>
                    <li>
                        <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "lab" })" class="toggle">LAB<span class="arrow"></span></a>
                    </li>
					<li class="sline">|</li>
                    <li>
                        <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "about" })" class="toggle">了解日月光<span class="arrow"></span></a>
                    </li>
					<li class="sline">|</li>
                    <li>
                        <a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Events" })" class="toggle">活動<span class="arrow"></span></a>
                    </li>
					<li class="sline">|</li>
                    <li>
                        <a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Press_Room" })" class="toggle">新聞<span class="arrow"></span></a>
                    </li>
                </ul>
                <ul class="sitemap" style="list-style-type:decimal;padding:0;">
                    <li>
                        <a href="@Url.Action("Index", "CsrNews", new { lang = ViewBag.language.lang })" class="toggle">企業社會責任<span class="arrow"></span></a>
                    </li>
					<li class="sline">|</li>
                    <li>
                        <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "supplier_management" })" class="toggle">供應商專區<span class="arrow"></span></a>
                    </li>
					<li class="sline">|</li>
                    <li>
                        <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "ir" })" class="toggle">投資人關係<span class="arrow"></span></a>
                    </li>
					<!-- <li class="sline">|</li>
                    <li>
                        <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "Careers" })" class="toggle">人才招募<span class="arrow"></span></a>
                    </li> -->
					<li class="sline">|</li>
                    <li>
                        <a href="javascript:;" class="toggle">下載專區<span class="arrow"></span></a>
                    </li>
                </ul>
            </div>
            <div class="dot">
                <div class="bottom_info row content-lg">
                    <div class="col-xs-12 col-sm-5 pull-right">
                        語言 :
                        <div class="dropup lan dropup-ali">
                            <a data-target="#" href="@Url.Action("Index", "Home", new { lang = ViewBag.language.lang })" data-toggle="dropdown">
                                <i class="icon-lang"></i>@ViewBag.language.title
                                <span class="glyphicon glyphicon-menu-down"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("Index", "Home", new { lang = "en" })">English</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "Home", new { lang = "tw" })">繁體中文</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-7 copyright nopadding">
                        <span style="display: inline-block"class="copyr"> Copyright © 2018 日月光集團 著作權所有</span>
                        <span style="display: inline-block">
                            <a href="@Url.Action("Index", "Contact", new { lang = ViewBag.language.lang })">聯絡日月光</a> | <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "Careers" })">人才招募</a> | <a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Terms_of_Use" })">網站使用者條款</a> <span class="sl">|</span>
                            <span class="media-icon">
							<a href="https://www.youtube.com/channel/UCMRXM62u2zqCm_uxcwkME1A/featured" target="_blank">
                                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/youtube.png"  alt="Ase Group YouTube" />
                            </a>
                            <a href="https://twitter.com/asegroup_global" target="_blank">
                                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/twitter.png"  alt="Ase Group Twitter" />
                            </a>
                            <a href="https://tw.linkedin.com/company/ase-group" target="_blank">
                                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/linkedin.png"  alt="Ase Group Linkedin" />
                            </a>
							</span> 
                        </span>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <!-- JS -->
    <script src="https://2311cdn.r.worldssl.net/js/public/frontend/js/vendor/jquery.mobile.custom.min.js"></script>
    <script src="https://2311cdn.r.worldssl.net/js/public/frontend/js/vendor/modernizr-custom.js"></script>
    <script src="https://2311cdn.r.worldssl.net/js/public/frontend/js/vendor/jquery.matchHeight-min.js"></script>
    <script src="https://2311cdn.r.worldssl.net/js/public/frontend/js/vendor/TweenMax.min.js"></script>
    <script src="https://2311cdn.r.worldssl.net/js/public/frontend/js/vendor/ScrollMagic.min.js"></script>
    <script src="https://2311cdn.r.worldssl.net/js/public/frontend/js/vendor/bootstrap.min.js"></script>
    <script src="https://2311cdn.r.worldssl.net/js/public/frontend/js/all.js" async defer></script>

    <script src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-596737dd60adacf7"></script>

    <!-- For Form -->
    <script src="https://2311cdn.r.worldssl.net/js/Scripts/sweetalert2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
    <!-- Each Page JS -->
    @Html.Raw(ViewBag.js)
    <!-- Message -->
    @if (TempData["mesage"] != null)
    {
        @Html.Raw(TempData["mesage"].ToString())
    }
</body>
</html>
