﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/tw/_Layout.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-technology">
		<h1 class="page-title title-large">技術</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Index", "Home", new { lang = ViewBag.language.lang })"><i class="icon-home"></i><span itemprop="name">首頁</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })"><span itemprop="name">技術</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Technology_Innovation", "Technology", new { lang = ViewBag.language.lang })"><span itemprop="name">領先技術</span></a>
					<meta itemprop="position" content="3" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="#"><span itemprop="name">SiP &amp; Module</span></a>
					<meta itemprop="position" content="4" />
				</li>
			</ol>
		</div>
	</div>

	<div class="breadcrumbs-pc pull-left" id="breadcrumbs-pc">
		<!-- PC版選單breadcrumbs內容 -->
		<ul class="breadcrumbs-view" id="breadcrumbs-view">
			<li class="dropdown-item">
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })">技術</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" })">產品</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Solution" })">解決方案</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "ir" })" >投資人關係</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })">企業社會責任</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "About" })">了解日月光</a></li>
				</ul>
			</li>
			<li class="dropdown-item">
				<a href="javascript:;">技術</a>
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.Action("Technology_Innovation", "Technology", new { lang = ViewBag.language.lang })">領先技術</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "Intellectual_Property" })">智財</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "ASE_Trademarks" })">日月光商標</a></li>
				</ul>
			</li>
			<li class="dropdown-item">
				<a href="javascript:;">領先技術</a>
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_25d_ic" })">2.5D IC</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_fan_out" })">Fan Out</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_sip_id" })">SiP-id™</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_sip_module_solutions" })">SiP &amp; Module</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_flip_chip" })">Flip Chip</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_tsv_interposer_integration" })">TSV-Interposer Integration</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_ipd" })">WL IPD</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_wafer_level_mems" })">Wafer-Level MEMS</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_mems_sensor_solutions" })">MEMS &amp; Sensor</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_embedded_die_technology" })">Embedded Die Technology</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_core_test" })">Semiconductor Test</a></li>
				</ul>
			</li>
		</ul>
	</div>

	<!-- Technology list -->
	<section class="inside-article">
		<div class="content-lg row csr">
			<article class="col-xs-12">
				<div class="col-xs-6 col-md-6 col-lg-3"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/sip_module_solutions1.jpg"></div>
				<div class="clearfix"></div>
				<h3 class="title">SiP & Module</h3>
				<p>
					Since miniaturization and function integration became inevitable trend in semiconductor packaging industry, as a pioneer of OSAT, ASE Group has developed worldwide leading System in Package (SiP) technologies combining high density surface mount technology (HD-SMT), ultra-thin molding, irregular forming and RF shielding technologies to meet demand from our customers. Rather than generic IC packaging technologies, development of SiP requires heterogeneous integration of single or multiple chips, surface mount device (SMD) resistor / capacitor / inductor, filters, connectors and other active / passive components. The following results of SiP provide smaller form factor module to reduce body size of electronic products as well as more functions in a module to fit more complete application of end device. Moreover, comparing with single chips assembly on PCB, utilization of SiP reduces design complexity and provides easy SKU management for XXX field. The consequent benefits are time to market is shorten and total development cost is reduced.<br><br>
				</p>
			</article>
		</div>
		<div class="content-lg row csr">
		<article class="col-xs-12">
			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

<!-- ============================================== HIGH DENSITY SMT ============================================== -->
				<div class="col-md-12 bgnews-list list-base panel">
					<div class="content">
						<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
							<span class="black-text-in-box accordion-center-text">High Density SMT</span>
							<div class="circle_button-wrapper pull-right">
								<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
					<div id="collapseTwo" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingTwo">
						<div class="panel-body tech">
							<div class="col-md-12">
								The ways to reduce form factor of SiP in X/Y size are utilization of tiny passive components and shrinking distance between components to component. ASE HD-SMT technology by using tiny 01005 SMD and 3 mils component to component distance is ready and in mass production.<br><br>

								To expand more functions in restricted body size of a SiP/module, dual side SMT as well as double sides molding technology is adopted.
							</div>
							<div class="col-xs-6 col-md-6">
								<div class="technology-application technology-tab-active no-margin">Application</div>
							</div>
							<div class="col-xs-6 col-md-6">
								<div class="technology-features technology-tab-inactive no-margin">Features</div>
							</div>

							<div class="col-xs-12 col-md-12 technology-application-content no-margin">
								<ul class="nopadding">
									<li>Phone/Tablet</li>
									<li>Wearable Device</li>
									<li>Glasses, Camera</li>
									<li>IoT/Smart Home Electronics</li>
									<li>Car System</li>
								</ul>
							</div>
							<div class="col-xs-12 col-md-12 technology-features-content no-margin">
								<ul class="nopadding">
									<li>One side or dual side SMT</li>
									<li>Ultra-high accuracy pick & place</li>
									<li>Ultra-high SPI & AOI for yield insurances</li>
								</ul>
							</div>
							<div class="col-xs-12 col-md-12"><br>
								<h4 class="sub-title no-margin" style="font-weight:400">Capabilities</h4>
								<ul class="nopadding">
									<li>01005 component MP, 008004 ready</li>
									<li>6-layer 0.185mm substrate in mass production</li>
									<li>Minimum 3 mils component to component distance</li>
								</ul>
							</div>
						</div>
					</div>
  				</div>

<!-- ============================================== DOUBLE SIDE MOLDED ============================================== -->
  				<div class="col-md-12 bgnews-list list-base panel">
					<div class="content">
						<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
							<span class="black-text-in-box accordion-center-text">Double Side Molded</span>
							<div class="circle_button-wrapper pull-right">
								<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
					<div id="collapseThree" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingThree">
						<div class="panel-body tech">
							<div class="col-md-12">
								ASE provides an advanced module encapsulation technology, called the double-side molded module technology. It solves the old single-sided molded technology in the back of the region only the electrical connection of the waste space, thereby achieving the purpose of module miniaturization.
							</div>
							<div class="col-xs-6 col-md-6">
								<div class="technology-application technology-tab-active no-margin">Application</div>
							</div>
							<div class="col-xs-6 col-md-6">
								<div class="technology-features technology-tab-inactive no-margin">Features</div>
							</div>
							<div class="clearfix"></div>
							<div class="technology-application-content no-margin">
								<div class="col-md-12">
									Miniaturization module especially in WiFi and RF<br>
								</div>

							</div>
							<div class="technology-features-content no-margin">
								<div class="col-md-12">
									Both sides of the substrate are molded with PMC, in the back central area of the placement and around the use of substrate interposer for electrical connection, ultimately connected to the motherboard IPAD using Film mold technology.<br>
								</div>
								
							</div>
							<div class="col-xs-12 col-md-3"><br>
								<h4 class="sub-title" style="font-weight:400;margin-top:0;">Capabilities</h4>
								<ul class="nopadding">
									<li>Size saving: 10 ~ 40 %</li>
									<li>Pad Pitch: > 0.5mm</li>
									<li>MUF capability is the same single side molded</li>
								</ul>
							</div>
							<div class="col-xs-12 col-md-6">
								<strong>Module Level</strong>
								<div class="table-responsive inside-table">
									<table class="table table-striped table-hover csr">
										<tbody>
											<tr>
												<td class="left-border">Pre-con (L3)</td>
												<td class="left-border">TCT-1000</td>
												<td class="left-border">HAST-264</td>
												<td class="left-border">HTST-1000</td>
											</tr>
											<tr>
												<td class="left-border">Passed</td>
												<td class="left-border">Passed</td>
												<td class="left-border">Passed</td>
												<td class="left-border">Passed</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>

							<div class="col-xs-12 col-md-3">
								<strong>Board Level</strong>
								<div class="table-responsive inside-table">
									<table class="table table-striped table-hover csr">
										<tbody>
											<tr>
												<td class="left-border">Drop Test</td>
												<td class="left-border">Function</td>
											</tr>
											<tr>
												<td class="left-border">Passed</td>
												<td class="left-border">Passed</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
  				</div>

<!-- ============================================== SELECTIVE MOLDED ============================================== -->
  				<div class="col-md-12 bgnews-list list-base panel">
					<div class="content">
						<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
							<span class="black-text-in-box accordion-center-text">Selective Molded</span>
							<div class="circle_button-wrapper pull-right">
								<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
					<div id="collapseFour" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingFour">
						<div class="panel-body tech">
							<div class="col-md-12">
								ASE provides an advanced module encapsulation technology, called the selective molded module technology. It can solve the sensitivity components cannot put in over molded issue, but also allows the end product space design has greater flexibility.
							</div>

							<div class="col-xs-6 col-md-6">
								<div class="technology-application technology-tab-active no-margin">Application</div>
							</div>
							<div class="col-xs-6 col-md-6">
								<div class="technology-features technology-tab-inactive no-margin">Features</div>
							</div>

							<div class="col-xs-12 col-md-12 technology-application-content no-margin">
								Miniaturization module especially in WiFi and RF
							
							</div>
							<div class="col-xs-12 col-md-12 technology-features-content no-margin">
								On the same side of the substrate, there are both a mold area and a open area.
								
							</div>
							<div class="col-xs-12 col-md-3 "><br>
								<h4 class="sub-title" style="font-weight:400;margin-top:0">Capabilities</h4>
								<ul class="nopadding">
									<li>Clearance of open area: > 0.3mm</li>
									<li>Clamp width between mold area and open area: > 0.6mm</li>
									<li>Clamp width between open area and package side line: > 0.6mm</li>
								</ul>
							</div>
							<div class="col-xs-12 col-md-6">
									<strong>Module Level</strong>
									<div class="table-responsive inside-table">
										<table class="table table-striped table-hover csr">
											<tbody>
												<tr>
													<td class="left-border">Pre-con (L3)</td>
													<td class="left-border">TCT-1000</td>
													<td class="left-border">HAST-264</td>
													<td class="left-border">HTST-1000</td>
												</tr>
												<tr>
													<td class="left-border">Passed</td>
													<td class="left-border">Passed</td>
													<td class="left-border">Passed</td>
													<td class="left-border">Passed</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<div class="col-xs-12 col-md-3">
									<strong>Board Level</strong>
									<div class="table-responsive inside-table">
										<table class="table table-striped table-hover csr">
											<tbody>
												<tr>
													<td class="left-border">Drop Test</td>
													<td class="left-border">Function</td>
												</tr>
												<tr>
													<td class="left-border">Passed</td>
													<td class="left-border">Passed</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
						</div>
					</div>
  				</div>

<!-- ============================================== CONFORMAL SHIELDING ============================================== -->
  				<div class="col-md-12 bgnews-list list-base panel">
					<div class="content">
						<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
							<span class="black-text-in-box accordion-center-text">Conformal Shielding</span>
							<div class="circle_button-wrapper pull-right">
								<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
					<div id="collapseFive" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingFive">
						<div class="panel-body tech">
							<div class="col-xs-6 col-md-3">
								<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/sip_module_solutions2.jpg">
							</div>
							<div class="clearfix"></div>
							<div class="col-md-12">
								ASE had introduced a novel conformal shielding technology (CFS) for electromagnetic interference (EMI) prevention, against external interference, keep chip normal working. For thinner, smaller and lighter product, PVD CFS technology was designed to substitute for metal can/lid. The technology was widely applied in wireless communication, ex: RF, Bluetooth, WiFi, etc.
							</div>

							<div class="col-xs-6 col-md-6">
								<div class="technology-application technology-tab-active no-margin">Application</div>
							</div>
							<div class="col-xs-6 col-md-6">
								<div class="technology-features technology-tab-inactive no-margin">Features</div>
							</div>

							<div class="col-xs-12 col-md-12 technology-application-content no-margin">
								<ul class="nopadding">
									<li>Phone/Tablet</li>
									<li>Wearable Device</li>
									<li>Glasses</li>
									<li>Camera</li>
									<li>Car System</li>
								</ul>
							</div>
							<div class="col-xs-12 col-md-12 technology-features-content no-margin">
								CPS technology was prevented PKG to PKG and outer signal interference. Developed advanced PVD process replaced metal can/lid to reach product miniaturization, area reduction 17% and thickness reduction 7%.
							</div>
							<div class="col-xs-12 col-md-12"><br>
								<h4 class="sub-title" style="font-weight:400;margin-top:-10px;">Capabilities</h4>
								ASE developed PVD CFS technology was reached over 99.9% (SE value > 30dB) EMI impact in 0.5 to 6 GHz frequency when metal layer thickness over 3 um.
							</div>
						</div>
					</div>
  				</div>


<!-- ============================================== COMPARTMENT SHIELDING ============================================== -->
  				<div class="col-md-12 bgnews-list list-base panel">
					<div class="content">
						<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
							<span class="black-text-in-box accordion-center-text">Compartment Shielding</span>
							<div class="circle_button-wrapper pull-right">
								<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
					<div id="collapseSeven" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingSeven">
						<div class="panel-body tech">
							<div class="col-md-12">
								ASE had introduced a new, EMI compartment shielding (CPS) structure which was constructed from laser trench and conductive paste. The technology is designed to provide better shielding performance in more compact structure. The distinctive characteristics of CPS technology (Laser trench/Conductive paste filling) are flexible and customized design for high-integration module. This offers customers much more aggressive layout design, and also high-level EMI shielding performance for sensitive components/chipset. In addition, CPS technology enables the smaller form factor of modules which is needs of wearable device, mobile device, and IoT application.
							</div>

							<div class="col-xs-6 col-md-6">
								<div class="technology-application technology-tab-active no-margin">Application</div>
							</div>
							<div class="col-xs-6 col-md-6">
								<div class="technology-features technology-tab-inactive no-margin">Features</div>
							</div>

							<div class="col-xs-12 col-md-12 technology-application-content no-margin">
								<ul class="nopadding">
									<li>Phone/Tablet</li>
									<li>Wearable Device</li>
									<li>Glasses</li>
									<li>Camera</li>
									<li>Car System</li>
								</ul>

							</div>
							<div class="col-xs-12 col-md-12 technology-features-content no-margin">
								<ul class="nopadding">
									<li>Higher EMI shielding performance</li>
									<li>Highly flexible and customized shielding pattern design</li>
									<li>Thinner, compact shielding barrier (~150um)</li>
									<li>Mold base compartment shielding solution</li>
								</ul>
							</div>
							<div class="col-xs-12 col-md-12 no-margin"><br>
							<h4 class="sub-title" style="font-weight:400;margin-top:0">Capabilities</h4>
							<strong>Structure: </strong>
							<ul class="nopadding">
								<li>Trench opening width (top/bottom): 400um/120um</li>
								<li>Shielding performance (S.E.): 45~50dB (1GHz – 6GHz)</li>
							</ul>
							</div>
						</div>
					</div>
  				</div>

<!-- ============================================== ANTENNA ON PACKAGE ============================================== -->
  				<div class="col-md-12 bgnews-list list-base panel">
					<div class="content">
						<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
							<span class="black-text-in-box accordion-center-text">Antenna on Package (AoP)</span>
							<div class="circle_button-wrapper pull-right">
								<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
					<div id="collapseEight" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingEight">
						<div class="panel-body tech">
							<div class="col-md-5">
								<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/sip_module_solutions3.jpg">
							</div>
							<div class="clearfix"></div>
							<div class="col-md-12">
								Antenna on Package (AoP) is a new approach to minimize the antenna size at the package level, which not only can provide the smallest antenna, but also a highly integrated RF SiP module to reduce the difficulty at the system level.
							</div>

							<div class="col-xs-6 col-md-6">
								<div class="technology-application technology-tab-active no-margin">Application</div>
							</div>
							<div class="col-xs-6 col-md-6">
								<div class="technology-features technology-tab-inactive no-margin">Features</div>
							</div>

							<div class="col-xs-12 col-md-12 technology-application-content no-margin">
								AoP technology allows much more applications in mobile device and wireless communication, such as 2.4GHz BLE in BT4.2 and future BT5.0, WiHD in IEEE 802.15.3c, WiGig in IEEE 802.11ad. In addition, AoP technology enables the advanced 3D patterning on package that addresses the need in the challenging 77GHz for car radar and 94GHz for imaging.
<br><br>
							</div>
							<div class="col-xs-12 col-md-12 technology-features-content no-margin">
								AoP technology is designed to provide a good radiation performance with the low insertion loss and good impedance matching between the RF SiP and the antenna. Base on a completed material and process database system in ASE, the electromagnetic simulation can be performed for different customer requested conditions. The key to realize the optimum design into a successful AoP product is through the powerful 3D patterning ability on a conformal and good quality metal film.<br><br>

							</div>
							<div class="col-xs-12 col-md-12 no-margin">		
								<h4 class="sub-title" style="font-weight:400;margin-top:0px;">Capabilities</h4>
								ASE concentrates on advanced 3D patterning developing with high accuracy control and high automation throughput and these unique capabilities include:<br><br>
								<ul class="nopadding">
									<li>Min. package size: 6.5mm*6.5mm (achieved at 2.4GHz)</li>
									<li>Film step coverage: >30%</li>
									<li>Min. line/space on top: 3μm</li>
									<li>Dimension tolerance on side wall: within +/-35um</li>
								</ul>
							</div>
						</div>
					</div>
  				</div>

<!-- ============================================== FLEXIBLE ENCAPSULATION ============================================== -->
  				<div class="col-md-12 bgnews-list list-base panel">
					<div class="content">
						<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
							<span class="black-text-in-box accordion-center-text">Flexible Encapsulation</span>
							<div class="circle_button-wrapper pull-right">
								<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
					<div id="collapseNine" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingNine">
						<div class="panel-body tech">
							<div class="col-md-12">
								ASE provides an advanced encapsulation technology, called the flexible encapsulation technology. It can provide products can still be bent after encapsulation to enhance the wearable products in the waterproof function.
							</div>

							<div class="col-xs-6 col-md-6">
								<div class="technology-application technology-tab-active no-margin">Application</div>
							</div>
							<div class="col-xs-6 col-md-6">
								<div class="technology-features technology-tab-inactive no-margin">Features</div>
							</div>
							<div class="col-xs-12 col-md-12 technology-application-content no-margin">
								Wearable electrical product including clothes, glasses, watches, bracelets, and rings.<br><br>
							</div>
							<div class="col-xs-12 col-md-12 technology-features-content no-margin">
								This technology uses a special flexible sealant material with a soft board (FPC) so that the module can be bending in the end product after module assembly.<br><br>
							</div>
							<div class="col-xs-12 col-md-12 no-margin">
							<h4 class="sub-title" style="font-weight:400;margin-top:0;">Capabilities</h4>
								Passed bending test: 100 cycles (30℃)
							</div>
						</div>
					</div>
  				</div>
			<div class=" col-md-12 tech-cont-link nopadding">
			<a class="phone" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "plants_offices_ase"})"><span class="glyphicon glyphicon-earphone"></span>  聯絡我們 </a>
			
			</div>

			</div></article>
		</div>
	</section>








	<!-- start of bottom technology icons -->
<section class="inside-article">
		<div class="content-lg row">

			<div class="col-xs-12">
				
				<div class="technology-bottom-flex">
					<div class="technology-bottom"><a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_25d_ic" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-10.png"><br>2.5D IC</a></div>
					<div class="technology-bottom"><a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_fan_out" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-01.png"><br>Fan Out</a></div>
					<div class="technology-bottom"><a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_sip_id" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-11.png"><br>SiP-id™</a></div>
					<div class="technology-bottom opacity-50"><a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_sip_module_solutions" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-02.png"><br>SiP &amp; Module Solution</a></div>
					<div class="technology-bottom"><a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_flip_chip" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-03.png"><br>Flip Chip</a></div>
					<div class="technology-bottom"><a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_tsv_interposer_integration" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-04.png"><br>TSV-Interposer Integration</a></div>
					<div class="technology-bottom"><a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_ipd" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-06.png"><br>WL IPD</a></div>
					<div class="technology-bottom"><a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_wafer_level_mems" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-07.png"><br>Wafer-Level MEMS</a></div>
					<div class="technology-bottom"><a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_mems_sensor_solutions" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-08.png"><br>MEMS &amp; Sensors</a></div>
					<div class="technology-bottom"><a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_embedded_die_technology" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-09.png"><br>Embedded Die Technology</a></div>
					<div class="technology-bottom"><a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_core_test" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-05.png"><br>Semiconductor Test</a></div>
				</div>
			</div>
			<!-- technolog carousel -->
			<div class="row">
			<div class="col-xs-12">
				<div class="container technology-carousel">
					<div class='row'>
						<div class='col-xs-12'>
							<div class="carousel slide media-carousel" id="media">
								<!-- Indicators -->
								<ol class="carousel-indicators">
									<li data-target="#media" data-slide-to="0" class="active"></li>
									<li data-target="#media" data-slide-to="1"></li>
									<li data-target="#media" data-slide-to="2"></li>
									<li data-target="#media" data-slide-to="3"></li>
								</ol>
								<div class="carousel-inner">
									<div class="item  active">
										<div class="row">
											<div class="col-xs-4">
												<a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_25d_ic" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-10.png"><br>2.5D IC</a>
											</div>
											<div class="col-xs-4">
												<a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_fan_out" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-01.png"><br>Fan Out</a>
											</div>
											<div class="col-xs-4">
												<a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_sip_id" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-11.png"><br>SiP-id™</a>
											</div>
										</div>
									</div>
									<div class="item">
										<div class="row">
											<div class="col-xs-4">
												<a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_sip_module_solutions" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-02.png"><br>SiP &amp; Module</a>
											</div>
											<div class="col-xs-4">
												<a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_flip_chip" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-03.png"><br>Flip Chip</a>
											</div>
											<div class="col-xs-4">
												<a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_tsv_interposer_integration" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-04.png"><br>TSV-Interposer Integration</a>
											</div>
										</div>
									</div>
									<div class="item">
										<div class="row">
											<div class="col-xs-4">
												<a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_ipd" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-06.png"><br>WL IPD</a>
											</div>
											<div class="col-xs-4">
												<a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_wafer_level_mems" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-07.png"><br>Wafer-Level MEMS</a>
											</div>
											<div class="col-xs-4">
												<a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_mems_sensor_solutions" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-08.png"><br>MEMS &amp; Sensors</a>
											</div>
										</div>
									</div>
									<div class="item">
										<div class="row">
											<div class="col-xs-4">
												<a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_embedded_die_technology" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-09.png"><br>Embedded Die Technology</a>
											</div>
											<div class="col-xs-4">
												<a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_core_test" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-05.png"><br>Semiconductor Test</a>
											</div>
										</div>
									</div>
								</div>
								<a data-slide="prev" href="#media" class="left carousel-control">‹</a>
								<a data-slide="next" href="#media" class="right carousel-control">›</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
			<!-- end technology carousel -->
		</div>
	</section>

<script>
	$(document).ready(function() { 
		$('#media').carousel({
			pause: true,
			interval: false,
		});
		$("#media").swiperight(function() { /* enables the swiping on phone */
			$(this).carousel('prev');
		});
		$("#media").swipeleft(function() { /* enables the swiping on phone */
			$(this).carousel('next');
		});
		$('.accordion-center-text').click(function(e){
		if ($(this).hasClass('black-text-in-box')) {
			$('.blue-text-in-box').removeClass('blue-text-in-box').addClass('black-text-in-box');
			$(this).removeClass("black-text-in-box");
			$(this).addClass("blue-text-in-box");      //add the class to the clicked element
		} else {
			$(this).removeClass("blue-text-in-box");
			$(this).addClass("black-text-in-box");      //add the class to the clicked element
		}
	});
		$(".technology-features-content").hide();

		$('.technology-application').click(function() {
			$(this).closest(".tech").find(".technology-features").removeClass("technology-tab-active").addClass("technology-tab-inactive");
			$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
			$(this).closest(".tech").find(".technology-features-content").hide();
			$(this).closest(".tech").find(".technology-application-content").fadeIn(1000);
		});
		$('.technology-features').click(function() {
			$(this).closest(".tech").find(".technology-application").removeClass("technology-tab-active").addClass("technology-tab-inactive");
			$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
			$(this).closest(".tech").find(".technology-application-content").hide();
			$(this).closest(".tech").find(".technology-features-content").fadeIn(1000);
		});
	});
</script>