﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/tw/_Layout.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-technology">
		<h1 class="page-title title-large">技術</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Index", "Home", new { lang = ViewBag.language.lang })"><i class="icon-home"></i><span itemprop="name">首頁</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })"><span itemprop="name">技術</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Technology_Innovation", "Technology", new { lang = ViewBag.language.lang })"><span itemprop="name">領先技術</span></a>
					<meta itemprop="position" content="3" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="#"><span itemprop="name">Semiconductor Test</span></a>
					<meta itemprop="position" content="4" />
				</li>
			</ol>
		</div>
	</div>

	<div class="breadcrumbs-pc pull-left" id="breadcrumbs-pc">
		<!-- PC版選單breadcrumbs內容 -->
		<ul class="breadcrumbs-view" id="breadcrumbs-view">
			<li class="dropdown-item">
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })">技術</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" })">產品</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Solution" })">解決方案</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "ir" })" >投資人關係</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })">企業社會責任</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "About" })">了解日月光</a></li>
				</ul>
			</li>
			<li class="dropdown-item">
				<a href="javascript:;">技術</a>
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.Action("Technology_Innovation", "Technology", new { lang = ViewBag.language.lang })">領先技術</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "Intellectual_Property" })">智財</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "ASE_Trademarks" })">日月光商標</a></li>
				</ul>
			</li>
			<li class="dropdown-item">
				<a href="javascript:;">領先技術</a>
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_25d_ic" })">2.5D IC</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_fan_out" })">Fan Out</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_sip_id" })">SiP-id™</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_sip_module_solutions" })">SiP &amp; Module</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_flip_chip" })">Flip Chip</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_tsv_interposer_integration" })">TSV-Interposer Integration</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_ipd" })">WL IPD</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_wafer_level_mems" })">Wafer-Level MEMS</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_mems_sensor_solutions" })">MEMS &amp; Sensor</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_embedded_die_technology" })">Embedded Die Technology</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_core_test" })">Semiconductor Test</a></li>
				</ul>
			</li>
		</ul>
	</div>

	<!-- Technology list -->
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">Semiconductor Test</h3>
				<p>
					With leadership in test technologies through a broad variety of test platforms, ASE Group provides a complete range of semiconductor test services to our customers, including front-end engineering test; wafer probing; final test of logic, mixed signal, RF, SLT (System Level Test) and memory semiconductors; and other test-related services encompassing burn-in test, dry-pack, and tape and reel. Our test    services employ technology and expertise and are the most advanced in the semiconductor industry.<br><br>

					In addition to our huge capacity of test equipment enabling quick ramp-up to our customers' requirements, ASE is outstanding in multi-functional test with expertise in test platforms, program conversion and test program development, empowering SoC/MCM/SiP testing technology to meet the increasing need to pack more functions onto a single chip or a package.<br><br>

					<strong>Engineering Development Procedure & Production Value Added</strong><br><br>
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/test_technology1.jpg" class="hide-in-small">
					<div class="col-xs-8 col-xs-offset-2 hide-in-large">
						<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/test_technology2.jpg">
					</div>
					<div class="clearfix"></div>
					<br>

					Our excellent test capabilities in chipset, graphics, embedded DRAM/MCM, CPU, RF, analog, analog to digital/digital to analog, and digital signal processors makes ASE an effective test solution provider, offering rapid time to market and cost effective solutions.
				</p>
			<div class="col-md-12 tech-cont-link nopadding">
			<a class="phone" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "plants_offices_ase"})"><span class="glyphicon glyphicon-earphone"></span>  聯絡我們 </a>
			</div>
			</article>
		</div>
	</section><br>
<section class="inside-article">
		<div class="content-lg row">

			<div class="col-xs-12">
				<div class="technology-bottom-flex">
					<div class="technology-bottom "><a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_25d_ic" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-10.png"><br>2.5D IC</a></div>
					<div class="technology-bottom"><a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_fan_out" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-01.png"><br>Fan Out</a></div>
					<div class="technology-bottom"><a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_sip_id" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-11.png"><br>SiP-id™</a></div>
					<div class="technology-bottom"><a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_sip_module_solutions" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-02.png"><br>SiP &amp; Module</a></div>
					<div class="technology-bottom"><a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_flip_chip" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-03.png"><br>Flip Chip</a></div>
					<div class="technology-bottom"><a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_tsv_interposer_integration" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-04.png"><br>TSV-Interposer Integration</a></div>
					<div class="technology-bottom"><a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_ipd" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-06.png"><br>WL IPD</a></div>
					<div class="technology-bottom"><a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_wafer_level_mems" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-07.png"><br>Wafer-Level MEMS</a></div>
					<div class="technology-bottom"><a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_mems_sensor_solutions" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-08.png"><br>MEMS &amp; Sensors</a></div>
					<div class="technology-bottom"><a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_embedded_die_technology" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-09.png"><br>Embedded Die Technology</a></div>
					<div class="technology-bottom opacity-50"><a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_core_test" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-05.png"><br>Semiconductor Test</a></div>
				</div>
			</div>
			<!-- technolog carousel -->
			<div class="row">
			<div class="col-xs-12">
				<div class="container technology-carousel">
					<div class='row'>
						<div class='col-xs-12'>
							<div class="carousel slide media-carousel" id="media">
								<!-- Indicators -->
								<ol class="carousel-indicators">
									<li data-target="#media" data-slide-to="0" class="active"></li>
									<li data-target="#media" data-slide-to="1"></li>
									<li data-target="#media" data-slide-to="2"></li>
									<li data-target="#media" data-slide-to="3"></li>
								</ol>
								<div class="carousel-inner">
									<div class="item  active">
										<div class="row">
											<div class="col-xs-4">
												<a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_25d_ic" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-10.png"><br>2.5D IC</a>
											</div>
											<div class="col-xs-4">
												<a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_fan_out" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-01.png"><br>Fan Out</a>
											</div>
											<div class="col-xs-4">
												<a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_sip_id" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-11.png"><br>SiP-id™</a>
											</div>
										</div>
									</div>
									<div class="item">
										<div class="row">
											<div class="col-xs-4">
												<a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_sip_module_solutions" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-02.png"><br>SiP &amp; Module</a>
											</div>
											<div class="col-xs-4">
												<a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_flip_chip" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-03.png"><br>Flip Chip</a>
											</div>
											<div class="col-xs-4">
												<a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_tsv_interposer_integration" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-04.png"><br>TSV-Interposer Integration</a>
											</div>
										</div>
									</div>
									<div class="item">
										<div class="row">
											<div class="col-xs-4">
												<a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_ipd" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-06.png"><br>WL IPD</a>
											</div>
											<div class="col-xs-4">
												<a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_wafer_level_mems" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-07.png"><br>Wafer-Level MEMS</a>
											</div>
											<div class="col-xs-4">
												<a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_mems_sensor_solutions" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-08.png"><br>MEMS &amp; Sensors</a>
											</div>
										</div>
									</div>
									<div class="item">
										<div class="row">
											<div class="col-xs-4">
												<a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_embedded_die_technology" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-09.png"><br>Embedded Die Technology</a>
											</div>
											<div class="col-xs-4">
												<a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_core_test" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-05.png"><br>Semiconductor Test</a>
											</div>
										</div>
									</div>
								</div>
								<a data-slide="prev" href="#media" class="left carousel-control">‹</a>
								<a data-slide="next" href="#media" class="right carousel-control">›</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
			<!-- end technology carousel -->
		</div>
	</section>
<script>
	$(document).ready(function() { 

		$('#media').carousel({
			pause: true,
			interval: false,
		});
		$("#media").swiperight(function() { /* enables the swiping on phone */
			$(this).carousel('prev');
		});
		$("#media").swipeleft(function() { /* enables the swiping on phone */
			$(this).carousel('next');
		});
		$(".technology-features-content").hide();

		$('.technology-application').click(function() {
			$(this).closest(".row").find(".technology-features").removeClass("technology-tab-active").addClass("technology-tab-inactive");
			$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
			$(this).closest(".row").find(".technology-features-content").hide();
			$(this).closest(".row").find(".technology-application-content").fadeIn(1000);
		});
		$('.technology-features').click(function() {
			$(this).closest(".row").find(".technology-application").removeClass("technology-tab-active").addClass("technology-tab-inactive");
			$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
			$(this).closest(".row").find(".technology-application-content").hide();
			$(this).closest(".row").find(".technology-features-content").fadeIn(1000);
		});
	});
</script>