﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/tw/_Layout.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-technology">
		<h1 class="page-title title-large">技術</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Index", "Home", new { lang = ViewBag.language.lang })"><i class="icon-home"></i><span itemprop="name">首頁</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })"><span itemprop="name">技術</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Technology_Innovation", "Technology", new { lang = ViewBag.language.lang })"><span itemprop="name">領先技術</span></a>
					<meta itemprop="position" content="3" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="#"><span itemprop="name"><li><a href="#">MEMS &amp; Sensors</a></span></a>
					<meta itemprop="position" content="4" />
				</li>
			</ol>
		</div>
	</div>

	<div class="breadcrumbs-pc pull-left" id="breadcrumbs-pc">
		<!-- PC版選單breadcrumbs內容 -->
		<ul class="breadcrumbs-view" id="breadcrumbs-view">
			<li class="dropdown-item">
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })">技術</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" })">產品</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Solution" })">解決方案</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "ir" })" >投資人關係</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })">企業社會責任</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "About" })">了解日月光</a></li>
				</ul>
			</li>
			<li class="dropdown-item">
				<a href="javascript:;">技術</a>
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.Action("Technology_Innovation", "Technology", new { lang = ViewBag.language.lang })">領先技術</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "Intellectual_Property" })">智財</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "ASE_Trademarks" })">日月光商標</a></li>
				</ul>
			</li>
			<li class="dropdown-item">
				<a href="javascript:;">領先技術</a>
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_25d_ic" })">2.5D IC</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_fan_out" })">Fan Out</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_sip_id" })">SiP-id™</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_sip_module_solutions" })">SiP &amp; Module</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_flip_chip" })">Flip Chip</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_tsv_interposer_integration" })">TSV-Interposer Integration</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_ipd" })">WL IPD</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_wafer_level_mems" })">Wafer-Level MEMS</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "mems_sensor_solutions" })">MEMS &amp; Sensors</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_embedded_die_technology" })">Embedded Die Technology</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_core_test" })">Semiconductor Test</a></li>
				</ul>
			</li>
		</ul>
	</div>

	<!-- Technology list -->
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">

				<h3 class="title">MEMS &amp; Sensors</h3>
				<p>
					In MEMS and sensor, the package protects the sensitive internal structures from environmental influences such as temperature, moisture, high pressure and oxidizing species. The long-term stability andreliability of the functional elements depend on the encapsulation process. Metal bonding which is one of bonding technology using molten metal entails heat, applied locally or generally and a molten metal phase, either provided from the parent material of the parts being joining, as in welding, or from a molten metal phase.
				</p>
			</article>
		</div>
	</section>

	<section class="inside-article">
		<div class="content-lg row">
			<br><br>
			<div class="col-xs-6">
				<div class="technology-application technology-tab-active">Application</div>
			</div>
			<div class="col-xs-6">
				<div class="technology-features technology-tab-inactive">Features</div>
			</div>
			<div class="clearfix"></div>
			<div class="technology-application-content">
				<div class="col-xs-12 col-md-12">
					<p>For certain MEMS device, such as RF MEMS, vacuum or atmosphere is a necessity and influence sensor performance directly. Therefore, metal-to-metal (M2M) technology is focused recently to provide not only high quality hermetic but also fine pitch interconnection.</p>
				</div>
			</div>
			<div class="technology-features-content">
				<div class="col-xs-12 col-md-12">
					<p>Internal structure protecting device packages and direct electrical interconnect structures without additional steps.</p>
				</div>
			</div>
		</div>
	</section>
<br>
	<section class="inside-article">
		<div class="content-lg row">
			<div class="col-xs-12 col-md-12">
				<h4 class="sub-title">Capabilities</h4>
				<p>
					Thin film solder bonding is achievable through metal to metal bonding by test vehicle validation.<br><br>
				</p>
			</div>
			<div class=" col-md-12 tech-cont-link">
			<a class="phone" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "plants_offices_ase"})"><span class="glyphicon glyphicon-earphone"></span>  聯絡我們 </a>
			</div>
		</div>
	</section>

	<br><br>
<section class="inside-article">
		<div class="content-lg row">

			<div class="col-xs-12">
				
				<div class="technology-bottom-flex">
					<div class="technology-bottom"><a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_25d_ic" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-10.png"><br>2.5D IC</a></div>
					<div class="technology-bottom"><a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_fan_out" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-01.png"><br>Fan Out</a></div>
					<div class="technology-bottom"><a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_sip_id" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-11.png"><br>SiP-id™</a></div>
					<div class="technology-bottom"><a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_sip_module_solutions" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-02.png"><br>SiP &amp; Module</a></div>
					<div class="technology-bottom"><a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_flip_chip" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-03.png"><br>Flip Chip</a></div>
					<div class="technology-bottom"><a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_tsv_interposer_integration" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-04.png"><br>TSV-Interposer Integration</a></div>
					<div class="technology-bottom"><a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_ipd" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-06.png"><br>WL IPD</a></div>
					<div class="technology-bottom"><a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_wafer_level_mems" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-07.png"><br>Wafer-Level MEMS</a></div>
					<div class="technology-bottom opacity-50"><a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_mems_sensor_solutions" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-08.png"><br>MEMS &amp; Sensors</a></div>
					<div class="technology-bottom"><a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_embedded_die_technology" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-09.png"><br>Embedded Die Technology</a></div>
					<div class="technology-bottom"><a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_core_test" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-05.png"><br>Semiconductor Test</a></div>
				</div>
			</div>
			<!-- technolog carousel -->
			<div class="row">
			<div class="col-xs-12">
				<div class="container technology-carousel">
					<div class='row'>
						<div class='col-xs-12'>
							<div class="carousel slide media-carousel" id="media">
								<!-- Indicators -->
								<ol class="carousel-indicators">
									<li data-target="#media" data-slide-to="0" class="active"></li>
									<li data-target="#media" data-slide-to="1"></li>
									<li data-target="#media" data-slide-to="2"></li>
									<li data-target="#media" data-slide-to="3"></li>
								</ol>
								<div class="carousel-inner">
									<div class="item  active">
										<div class="row">
											<div class="col-xs-4">
												<a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_25d_ic" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-10.png"><br>2.5D IC</a>
											</div>
											<div class="col-xs-4">
												<a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_fan_out" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-01.png"><br>Fan Out</a>
											</div>
											<div class="col-xs-4">
												<a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_sip_id" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-11.png"><br>SiP-id™</a>
											</div>
										</div>
									</div>
									<div class="item">
										<div class="row">
											<div class="col-xs-4">
												<a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_sip_module_solutions" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-02.png"><br>SiP &amp; Module</a>
											</div>
											<div class="col-xs-4">
												<a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_flip_chip" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-03.png"><br>Flip Chip</a>
											</div>
											<div class="col-xs-4">
												<a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_tsv_interposer_integration" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-04.png"><br>TSV-Interposer Integration</a>
											</div>
										</div>
									</div>
									<div class="item">
										<div class="row">
											<div class="col-xs-4">
												<a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_ipd" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-06.png"><br>WL IPD</a>
											</div>
											<div class="col-xs-4">
												<a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_wafer_level_mems" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-07.png"><br>Wafer-Level MEMS</a>
											</div>
											<div class="col-xs-4">
												<a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_mems_sensor_solutions" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-08.png"><br>MEMS &amp; Sensors</a>
											</div>
										</div>
									</div>
									<div class="item">
										<div class="row">
											<div class="col-xs-4">
												<a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_embedded_die_technology" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-09.png"><br>Embedded Die Technology</a>
											</div>
											<div class="col-xs-4">
												<a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_core_test" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-05.png"><br>Semiconductor Test</a>
											</div>
										</div>
									</div>
								</div>
								<a data-slide="prev" href="#media" class="left carousel-control">‹</a>
								<a data-slide="next" href="#media" class="right carousel-control">›</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
			<!-- end technology carousel -->
		</div>
	</section>
<script>
	$(document).ready(function() { 

		$('#media').carousel({
			pause: true,
			interval: false,
		});
		$("#media").swiperight(function() { /* enables the swiping on phone */
			$(this).carousel('prev');
		});
		$("#media").swipeleft(function() { /* enables the swiping on phone */
			$(this).carousel('next');
		});
		$(".technology-features-content").hide();

		$('.technology-application').click(function() {
			$(this).closest(".row").find(".technology-features").removeClass("technology-tab-active").addClass("technology-tab-inactive");
			$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
			$(this).closest(".row").find(".technology-features-content").hide();
			$(this).closest(".row").find(".technology-application-content").fadeIn(1000);
		});
		$('.technology-features').click(function() {
			$(this).closest(".row").find(".technology-application").removeClass("technology-tab-active").addClass("technology-tab-inactive");
			$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
			$(this).closest(".row").find(".technology-application-content").hide();
			$(this).closest(".row").find(".technology-features-content").fadeIn(1000);
		});
	});
</script>
