﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
    ViewBag.Title = "Antenna in Package";
    ViewBag.enURL = "/en/technology/antenna_in_package";
    ViewBag.zhURL = "/ch/technology/antenna_in_package";
    ViewBag.webSiteDesc = "AiP integrates RF chip (transceiver) and the antenna into one package. Key advantages of AiP include shorter interconnection between the antenna and the RF chip, reduced design difficulty at the system level, and small form factor.";
    ViewBag.webSiteOgImage = "https://ase.aseglobal.com/pic/public/frontend/images/technology/aip-1.png";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-technology">
		<h1 class="page-title title-large">Antenna in Package</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/technology/technology_innovation"><span itemprop="name">Advanced Technologies</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/technology/antenna_in_package"><span itemprop="name">Antenna in Package</span></a>
					<meta itemprop="position" content="2" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->

	<!-- Technology list -->
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">Antenna in Package (AiP)</h3>
				<p>
                    Antenna in Package (AiP) or antenna on Package (AoP) has emerged as the mainstream antenna packaging technology for various millimeter-wave (mmWave) applications. ASE develops and offers cutting-edge AiP solutions through our leadership in SiP technology. We provide a complete suite of AiP manufacturing capabilities from system design, software development, module testing to electro-thermal simulation that enable our customers to develop smaller, higher performance, lower power consumption and more cost effective mmWave products.<br><br>
                </p>
                <h4 class="sub-title">Introduction</h4>
                <p>
                    Developments in 5G is advancing rapidly, and this 5th generation mobile network will transform the way we interact with our world by bringing a higher level of user experience over existing wireless technologies in terms of latency, reliability, efficiency, user and system capacity.<br><br>

                    Today, each mobile device contains numerous communication modules that exchange wireless data with the external environment. In most 4G devices as well as sub-6GHz applications, antennas are manufactured in discrete form, e.g., as a printed shape on the PCB or as an individual component to be assembled near the RF front end chip (transceiver) with an associated matching circuit. Thanks to significantly smaller antennas at mmWave frequencies, the antenna in the mmWave band can be directly integrated in the package. The industry is already developing new IC packages for 5G mmWave by combining the transceiver and the antenna in the same package to position the transceiver closer to the antenna to boost the signal.<br><br>
                </p>
                <h4 class="sub-title">What is Antenna in Package (AiP)?</h4>
            </article>
            <div class="col-md-8">
                <p>
                    AiP technology is an antenna packaging solution that implements an antenna or antennas in an IC package that can carry a bare RF chip (transceiver). The AiP can be further integrated with front-end components (e.g., power amplifiers (PA) or low-noise amplifiers (LNA)), switches, filters and even power management integrated circuit (PMIC) to form an antenna module using <a href="https://ase.aseglobal.com/en/technology/sip_module">System-in-Package (SiP)</a> technologies. The SiP process applies double side molding, selective molding, passive component integration, and various electromagnetic interference (EMI) shielding techniques.<br><br>

                    A typical FCBGA AiP includes a RF chip (transceiver) attached to a package substrate with solder balls for connection to a main PCB. An array of antennas sits atop the upper portion of the package substrate, allowing wireless communication and detection. Flip-chip techniques are utilized to connect the RF chip to the substrate, thereby mitigating the interconnect loss.
                </p>
            </div>
            <div class="col-xs-10 col-xs-offset-1 col-md-4  col-md-offset-0">
                <div class="nopadding">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/aip-1.png?1">
                </div>
            </div>
            <div class="clearfix"></div>
            <br>
            <article class="col-xs-12">
                <h4 class="sub-title">Advantages of Antenna in Package (AiP)</h4>
                <p>
                   Compared with placing the antenna as a separate component on the system PCB, the key benefits of integrating an RF chip (transceiver) and the antenna into one package include:
                </p>
            </article>
            <div class="col-md-4">
                <p>
                    <strong>Shorter interconnection between the antenna and the RF chip</strong><br>
                    <ul class="nopadding">
                        <li>Improved signal integrity with reduced signal attenuation</li>
                        <li>Addressing the range and propagation challenges that occur at higher frequencies</li>
                    </ul>
                </p>
            </div>
            <div class="col-md-4">
                <p>
                    <strong>Reduced design difficulty at the system level</strong><a href="javascript:" data-toggle="popover" data-trigger="hover" data-content="Minimal RF expertise needed to design and develop AiP since the system integrator no longer needs to design complex RF circuits at the application PCB level." data-placement="bottom" data-original-title="" title="">*</a><br>
                    <ul class="nopadding">
                        <li>Greater design flexibility in product development</li>
                        <li>Faster time to market</li>
                    </ul>
                </p>
            </div>
            <div class="col-md-4">
                <p>
                    <strong>Small form factor</strong><br>
                    <ul class="nopadding">
                        <li>Viable for 5G or IoT applications that require smaller package footprints</li>
                    </ul>
                </p>
            </div>
            <div class="clearfix"></div>
            <br>
        </div>
    </section>
    <section class="csr-bg">
        <div class="content-lg row">
            <div class="col-md-12">
                <h4 class="sub-title">ASE mmWave AiP Offerings</h4>
                <p>
                   ASE offers a variety of AiP solutions that leverage upon established <a href="https://ase.aseglobal.com/en/heterogeneous_integration">Heterogeneous Integration (HI)</a> capabilities to support the design of the next generation mmWave products. Each package solution aims to address design constraints such as electrical performance, thermo-mechanical reliability, compactness, manufacturability and cost.<br><br>
                </p>
            </div>
            <div class="col-md-4">
                <div class="technology-box">
                    <h4>Flip Chip Ball Grid Array (FCBGA) based AiP</h4>
                    <p>
                        FCBGA based AiP includes an RF chip mounted on the bottom of a ball grid array (BGA) substrate and an antenna array formed on top of the substrate. We have designed a mmWave 28-GHz AiP using a FCBGA structure with 2x2 stacked patch antenna array formed on on a low loss multilayer organic substrate<a href="javascript:" data-toggle="popover" data-trigger="hover" data-content="Source: mmWave AiP Measurement Turnkey Solution in Millimeter-Wave Wireless Communication Applications, Sheng-chi Hsieh (ASE) ECTC 2020." data-placement="bottom" data-original-title="" title="">*</a>.
                    </p>
                    <div class="nopadding">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/aip-2.jpg">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="technology-box">
                    <h4>AiP Modules</h4>
                    <p>
                        In an AiP module designed for smartphones, the RF chip is mounted on top of a multi-layers (typically > 12 layers) antenna board with an antenna array formed on the bottom side thereof. It is designed to include a connector that simultaneously carries multiple high frequency signals to the phone’s main board via a flexible printed circuit board.
                    </p>
                    <div class="nopadding">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/aip-4.jpg">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="technology-box">
                    <h4>Hybrid substrate based AiP</h4>
                    <p>
                        This packaging architecture is characterized by mounting the RF chip on top of a hybrid substrate including a typical BT substrate and an antenna flexible printed circuit (FPC). The antenna FPC is built from low dielectric constant (Dk)/dissipation factor (Df) materials that enable the lowest possible signal loss for high-frequency applications.
                    </p>
                    <div class="nopadding">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/aip-3.jpg?1">
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <br>
        </div>
    </section>
    <section class="inside-article">
        <div class="content-lg row">
            <article class="col-xs-12">
                <br>
                <h4 class="sub-title">Antenna in Package (AiP) Applications</h4>
                <p>
                    As the antenna size can be small enough to fit into a small package, AiP technology is widely adopted in high-frequency applications such as 60-GHz radios and gesture radars, 77-GHz automotive radars, 94-GHz phased arrays, 122-GHz imaging sensors, 300-GHz wireless links as well as 5G mobile networks operating at mmWave frequencies (e.g., 28, 39, 60, 77 and beyond 90 GHz).<br><br>
                </p>
                <h4 class="sub-title">Precise AiP Measurement System</h4>
                <p>
                    5G is poised to dominate the wireless world, but over-the-air (OTA) testing of 5G beamforming antennas, test validation of the antenna array integrated in 5G mmWave, and other antenna testing issues remain a challenge.<br><br>

                    ASE, in collaboration with Keysight Technologies, has developed a leading edge AiP measurement system which offers best-in-class measurement integrity and high repeatability that enable customers to transform advanced designs into competitive products. The AiP measurement system is designed to test various parameters in an AiP with precise accuracy and provides our customers an edge over the competition to deliver their products to market fast.<br><br>

                    <strong>mmWave Antenna Measurement Chamber</strong>
                </p>
            </article>
            <div class="col-xs-6 col-md-3">
                <div class="nopadding">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/aip-5.jpg" class="img-responsive center-block">
                    <h6>CATR – Compact Antenna Test Range</h6>
                </div>
            </div>
            <div class="col-xs-6 col-md-3">
                <div class="nopadding">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/aip-6.jpg" class="img-responsive center-block">
                    <h6>Spherical Probing</h6>
                </div>
            </div>
            <div class="clearfix"></div>
            <br>
            <article class="col-xs-12">
                <h4>ASE mmWave Measurement Capability</h4>
            </article>
            <div class="col-md-4">
                <p>
                    <strong>S-Parameter Measurement</strong><br>
                    <ul class="nopadding">
                        <li>PNA: 10MHz-67GHz</li>
                        <li>VDI Extension Module : 67GHz-115GHz</li>
                        <li>Broadband frequency extender: 10MHz-110GHz</li>
                    </ul>
                </p>
            </div>
            <div class="col-md-4">
                <p>
                    <strong>Probe-station</strong><br>
                    <ul class="nopadding">
                        <li>8” wafer level double side measurement</li>
                        <li>Panel level double side measurement (600mmx600mm)</li>
                    </ul>
                </p>
            </div>
            <div class="clearfix"></div>
        </div>
    </section>
	<br>

	<section class="inside-article">
		<div class="content-lg row">

			<div class="col-xs-12">
				
				<div class="technology-bottom-flex">
					<div class="technology-bottom"><a class="" href="@Url.Action("advanced_25DIC", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-10.png"><br>2.5D & 3D</a></div>
					<div class="technology-bottom"><a class="" href="@Url.Action("fan_out", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-01.png"><br>Fan Out</a></div>
					<div class="technology-bottom"><a class="" href="@Url.Action("sip_module", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-02.png"><br>System-in-Package</a></div>
					<div class="technology-bottom"><a class="" href="@Url.Action("mems_sensors", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-08.png"><br>MEMS &amp; Sensors</a></div>
					<div class="technology-bottom"><a class="" href="@Url.Action("embedded_die", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-09.png"><br>Embedded Die Substrate</a></div>
				</div>
			</div>
			<!-- technolog carousel -->
			<div class="row">
			<div class="col-xs-12">
				<div class="container technology-carousel">
					<div class='row'>
						<div class='col-xs-12'>
							<div class="carousel slide media-carousel" id="media">
								<!-- Indicators -->
								<ol class="carousel-indicators">
									<li data-target="#media" data-slide-to="0" class="active"></li>
									<li data-target="#media" data-slide-to="1"></li>
								</ol>
								<div class="carousel-inner">
									<div class="item  active">
										<div class="row">
											<div class="col-xs-4">
												<a class="" href="@Url.Action("advanced_25DIC", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-10.png?1"><br>2.5D & 3D</a>
											</div>
											<div class="col-xs-4">
												<a class="" href="@Url.Action("fan_out", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-01.png?1"><br>Fan Out</a>
											</div>
                                            <div class="col-xs-4">
                                                <a class="" href="@Url.Action("sip_module", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-02.png"><br>System-in-Package</a>
                                            </div>
										</div>
									</div>
									<div class="item">
										<div class="row">
                                            <div class="col-xs-4">
                                                <a class="" href="@Url.Action("mems_sensors", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-08.png"><br>MEMS &amp; Sensors</a>
                                            </div>
                                            <div class="col-xs-4">
                                                <a class="" href="@Url.Action("embedded_die", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-09.png"><br>Embedded Die Substrate</a>
                                            </div>
										</div>
									</div>
								</div>
								<a data-slide="prev" href="#media" class="left carousel-control">‹</a>
								<a data-slide="next" href="#media" class="right carousel-control">›</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
			<!-- end technology carousel -->
		</div>
	</section>
<script>
	$(document).ready(function() { 

		$('#media').carousel({
			pause: true,
			interval: false,
		});
		$("#media").swiperight(function() { /* enables the swiping on phone */
			$(this).carousel('prev');
		});
		$("#media").swipeleft(function() { /* enables the swiping on phone */
			$(this).carousel('next');
		});
		$(".technology-features-content").hide();

		$('.technology-application').click(function() {
			$(this).closest(".row").find(".technology-features").removeClass("technology-tab-active").addClass("technology-tab-inactive");
			$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
			$(this).closest(".row").find(".technology-features-content").hide();
			$(this).closest(".row").find(".technology-application-content").fadeIn(1000);
		});
		$('.technology-features').click(function() {
			$(this).closest(".row").find(".technology-application").removeClass("technology-tab-active").addClass("technology-tab-inactive");
			$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
			$(this).closest(".row").find(".technology-application-content").hide();
			$(this).closest(".row").find(".technology-features-content").fadeIn(1000);
		});
	});
</script>
