﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
    ViewBag.Title = "Double Side Molding";
    ViewBag.enURL = "/en/technology/double-side-molding";
    ViewBag.zhURL = "/ch/technology/double-side-molding";
    ViewBag.webSiteDesc = "Current mobile/IoT product design trend is requiring small form factor, conventional single side packaging is no longer on optimized solution due to its larger package size. Double side molding (DSM) Packages enable top and bottom side assembly with high function integration, especially suitable for RF Front-End Module (FEM) with surging number of components integrated therein for 5G applications.";
    ViewBag.webSiteOgImage = "https://ase.aseglobal.com/pic/public/frontend/images/technology/DSM.jpg";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-technology">
		<h1 class="page-title title-large">Double Side Molding</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
            <ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
                <!-- Project-B Fix, Apply New Breadcrumb -->
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
                    <meta itemprop="position" content="0" />
                </li>

                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <a itemprop="item" href="/en/technology/technology_innovation"><span itemprop="name">Advanced Technologies</span></a>
                    <meta itemprop="position" content="1" />
                </li>
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <a itemprop="item" href="/en/technology/double-side-molding"><span itemprop="name">Double Side Molding (DSM) BGA/LGA</span></a>
                    <meta itemprop="position" content="2" />
                </li>
            </ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->

	<!-- Technology list -->
	<section class="inside-article">
        <div class="content-lg row">
            <article class="col-xs-12">
                <h3 class="title">Double Side Molding (DSM) BGA/LGA</h3>
                <div class="col-xs-4 col-sm-2 nopadding"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/DSM.jpg"></div>
                <div class="clearfix"></div>
                <p>
                    With consumer functionality increasing, there are more and more active die and passive component integrated into one package/module. Current mobile/IoT product design trend is requiring small form factor, conventional single side packaging is no longer on optimized solution due to its larger package size. Double side molding (DSM) Packages enable top and bottom side assembly with high function integration, especially suitable for RF Front-End Module (FEM) with surging number of components integrated therein for 5G applications.
                </p>
                <p>&nbsp;</p>
                <h4 class="sub-title">Features of DSM BGA/LGA</h4>
                <p>
                    DSM Packages have a two side assembly structure and typically adopt a fine pitch SMT process for small form factor as well as a backside grinding process to reduce the height of bottom molding compound, die, and solder ball (or Cu pillar) for thinner solution. Optionally, compartment shielding (such as wire cage, wire fence or vertical wire) is introduced to provide EMI shielding for sensitive components/chipset.
                </p>
                <div class="col-xs-12 col-xs-offset-0 col-sm-8 col-sm-offset-2 nopadding hide-in-small"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/pic_DSM.jpg"></div>
                <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 nopadding hide-in-large"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/pic_DSM_h.jpg"></div>
                <div class="clearfix"></div>
                <h4>Capabilities</h4>
                <ul class="nopadding">
                    <li>I/O Pitch in BGA > = 0.35mm, LGA > = 0.28mm</li>
                    <li>Package Level Reliability pass</li>
                    <li>Board Level Reliability pass</li>
                </ul>
                <p>&nbsp;</p>
                <h4 class="sub-title">ASE DSM Package Offerings</h4>
                <p>
                    ASE DSM package offerings include Ball Grid Array (BGA) and Land Grid Array (ENIG (Electroless Nickel Immersion Gold) or pre-solder) solutions.
                </p>
                <div class="col-xs-12 col-sm-4 picture-padding-2 nopadding">
                    <h4 class="text-center" style="background-color: #2F8AC6; color: #ffffff; padding: 10px; margin: 0;">DSM BGA (Solder ball)</h4>
                    <div style="background-color: #EEEEEE; padding: 20px;">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/pic_DSM-1.jpg" class="img-responsive center-block">
                        <p>&nbsp;</p>
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/pic_DSM-11.jpg" class="img-responsive center-block">
                        <p>&nbsp;</p>
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/pic_DSM-12.jpg" class="img-responsive center-block" style="width: 50%">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 picture-padding-2 nopadding mt-32A">
                    <h4 class="text-center" style="background-color: #2F8AC6; color: #ffffff; padding: 10px; margin: 0;">DSM LGA (ENIG Solution)</h4>
                    <div style="background-color: #EEEEEE; padding: 20px;">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/pic_DSM-2.jpg" class="img-responsive center-block">
                        <p>&nbsp;</p>
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/pic_DSM-21.jpg" class="img-responsive center-block">
                        <p>&nbsp;</p>
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/pic_DSM-22.jpg?1" class="img-responsive center-block" style="width: 50%">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 picture-padding-2 nopadding">
                    <h4 class="text-center" style="background-color: #2F8AC6; color: #ffffff; padding: 10px; margin: 0;">DSM LGA (Pre-solder Solution)</h4>
                    <div style="background-color: #EEEEEE; padding: 20px;">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/pic_DSM-3.jpg" class="img-responsive center-block">
                        <p>&nbsp;</p>
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/pic_DSM-31.jpg" class="img-responsive center-block">
                        <p>&nbsp;</p>
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/pic_DSM-32.jpg" class="img-responsive center-block" style="width: 50%">
                    </div>
                </div>
                <div class="clearfix"></div>
                <p>&nbsp;</p>
                <h4 class="sub-title">Key Advantages of Applying DSM</h4>
                <ul class="nopadding">
                    <li>20~40% X-Y size smaller than Single Side Molding package</li>
                    <li>Thinner than Single side Molding package</li>
                    <li>Lower packaging cost due to increased integration density of components within the mold tool</li>
                    <li>Allow more functionality through double side integration</li>
                    <li>Exposed die for better external thermal dissipation requirements</li>
                </ul>
                <p>&nbsp;</p>
                <h4 class="sub-title">DSM BGA/LGA Applications</h4>
                <p>
                    DSM is ideal for any system in packages with high function integration in a smaller package footprint, suitable for use in applications such as RF front-end modules (FEM) (such as PAMiD<a href="javascript:" data-toggle="popover" data-trigger="hover" data-content="Power amplifier module in duplexer." data-placement="bottom" data-original-title="" title="">*</a>, PAMiF<a href="javascript:" data-toggle="popover" data-trigger="hover" data-content="Power amplifier module with integrated filters." data-placement="bottom" data-original-title="" title="">*</a>, Triplexer) , WiFi module, mmWave FEM module, or wearable device(Watch, TWS).
                </p>
            </article>
        </div>
		<div class="content-lg row">
			<div class=" col-md-12 tech-cont-link">
			<a class="phone" href="@Url.Action("plants_offices", "About", new { lang = ViewBag.language.lang })"><span class="glyphicon glyphicon-earphone"></span>  Contact for enquiries </a>
			</div>
		</div>

	</section>

	<section class="inside-article">
		<div class="content-lg row">

			<div class="col-xs-12"><br>
				<div class="technology-bottom-flex">
					<div class="technology-bottom"><a class="" href="@Url.Action("advanced_25DIC", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-10.png"><br>2.5D & 3D</a></div>
					<div class="technology-bottom"><a class="" href="@Url.Action("fan_out", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-01.png"><br>Fan Out</a></div>
					<div class="technology-bottom"><a class="" href="@Url.Action("sip_module", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-02.png"><br>System-in-Package</a></div>
					<div class="technology-bottom"><a class="" href="@Url.Action("mems_sensors", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-08.png"><br>MEMS &amp; Sensors</a></div>
					<div class="technology-bottom"><a class="" href="@Url.Action("embedded_die", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-09.png"><br>Embedded Die Substrate</a></div>
				</div>
			</div>
			<!-- technolog carousel -->
			<div class="row">
			<div class="col-xs-12">
				<div class="container technology-carousel">
					<div class='row'>
						<div class='col-xs-12'>
							<div class="carousel slide media-carousel" id="media">
								<!-- Indicators -->
								<ol class="carousel-indicators">
									<li data-target="#media" data-slide-to="0" class="active"></li>
									<li data-target="#media" data-slide-to="1"></li>
								</ol>
								<div class="carousel-inner">
									<div class="item active">
										<div class="row">
											<div class="col-xs-4">
												<a class="" href="@Url.Action("advanced_25DIC", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-10.png"><br>2.5D & 3D</a>
											</div>
											<div class="col-xs-4">
												<a class="" href="@Url.Action("fan_out", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-01.png"><br>Fan Out</a>
											</div>
                                            <div class="col-xs-4">
                                                <a class="" href="@Url.Action("sip_module", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-02.png"><br>System-in-Package</a>
                                            </div>
										</div>
									</div>
									<div class="item">
										<div class="row">
                                            <div class="col-xs-4">
                                                <a class="" href="@Url.Action("mems_sensors", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-08.png"><br>MEMS &amp; Sensors</a>
                                            </div>
                                            <div class="col-xs-4">
                                                <a class="" href="@Url.Action("embedded_die", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-09.png"><br>Embedded Die Substrate</a>
                                            </div>
										</div>
									</div>
								</div>
								<a data-slide="prev" href="#media" class="left carousel-control">‹</a>
								<a data-slide="next" href="#media" class="right carousel-control">›</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
			<!-- end technology carousel -->
		</div>
	</section>