﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
    ViewBag.Title = "Fan-Out System-in-Package";
    ViewBag.enURL = "/en/technology/fan-out-sip";
    ViewBag.zhURL = "/ch/technology/fan-out-sip";
    ViewBag.webSiteDesc = "As the existing technology has almost approached its limits, Fan-Out SiP provides fine line design capability which is better than mainstream substrates to enhance the function matching in SiP. ASE offers customers a complete toolbox to serve Fan-Out SiP packaging.";
    ViewBag.webSiteOgImage = "https://ase.aseglobal.com/pic/public/frontend/images/technology/fan-out-sip.jpg";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-technology">
		<h1 class="page-title title-large">Fan-Out System-in-Package</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/technology/technology_innovation"><span itemprop="name">Advanced Technologies</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item"><span itemprop="name">Fan-Out System-in-Package</span></a>
					<meta itemprop="position" content="2" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->

	<!-- Technology list -->
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">Fan-Out System-in-Package (Fan-Out SiP)</h3>
                <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 nopadding"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/fan-out-sip.jpg"></div>
                <div class="clearfix"></div>
				<p>
					Furnishing every year’s new generation mobile with higher performance and smaller form factor, System-in-Package (SiP) has become a certain path for innovation and an unstoppable trend for decade. Multi-functional active chips and related passive components are pre-assembled into a system or sub-system through heterogeneous integration design on laminated substrate. By the time when SiP was introduced to the mobile devices, new challenges emerged. Cost-effective integrated substrate became essential to achieve the sweat spot of consumer application. Small form factor is another key feature additional to the previous needs. As the existing technology has almost approached its limits, innovation is needed on the corresponding package of SiP for now and the future. Fan-Out re-distribution layers (RDL) can be an advanced substrate to break through the constrain so that RDL platform will be the core technology to evolve SiP to Fan-Out SiP.
                </p>
                <p>&nbsp;</p>
                <h4 class="sub-title">Features of Fan-Out System-in-Package</h4>
                <p>
                    Several core technology building blocks including chip-last RDL manufacturing, carrier system, wafer level assembly and shielding sputtering enables Fan-Out SiP as illustrated in following figure. First, Fan-Out RDL provides fine line design capability which is better than mainstream substrates to enhance the function matching in SiP. Second, carrier system makes thin wafer handling possible. In addition, wafer level assembly delivers high speed (> 60 k units per hour) SMT service and Molded Underfill (MUF) technique for advanced encapsulation. Finally, shielding sputtering provides an option to apply on specific RF applications. In brief, ASE offers customers a complete toolbox to serve Fan-Out SiP packaging.
                </p>
            </article>
            <div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/pic_fan-out-sip-1.jpg">
                <h6>Cross-section of Fan-Out SiP and Technology Building Blocks</h6>
                <p>&nbsp;</p>
            </div>
            <article class="col-xs-12">
                <h4 class="sub-title">Benefits of Fan-Out System-in-Package</h4>
                <ul class="nopadding">
                    <li>Flexible RDL Design to Tune System Performance (Compared to Wire Bonding)</li>
                    <li>Finer RDL Line Width and Space for Higher Performance Control (Achieve about 5X Enhancement)</li>
                    <li>Substrate Layer Reduction (about 3 Layers Cutdown)</li>
                    <li>Form Factor Shrinkage (Approach ~24%, compared to typical substrate-based SiP)</li>
                    <li>Cost-effective Process by Wafer Level Platform and High Speed SMT Capability (Compatible with Bumping Process)</li>
                    <li>Wider Radio frequency (RF) Application Based on Optional Shielding Technology (Five Side Sputtering)</li>
                </ul>
            </article>
        </div>
    </section>

    <section class="inside-article">
        <div class="clearfix"><br></div>
        <div class="content-lg row">
            <div class="col-md-7">
                <h4 class="sub-title">Fan-Out SiP Applications</h4>
                <p>
                    The available market approach scope can be categorized into: smartphones, tablets, RF infrastructures, edge computing, and internet of things (IOT) as shown in following figure. Higher frequency applications, better performance and cost-effectiveness are driving the innovation and integration of packages. Fan-Out SiP provides a new platform to fulfill the demand from these markets to make the next generation products possible.
                </p>
            </div>
            <div class="col-md-5">
                <div class="col-md-12">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/pic_fan-out-sip-2.jpg" class="col-xs-10 col-xs-offset-1 col-md-12 col-md-offset-0" style="padding-top:15px;">
                </div>
            </div>
        </div>
    </section>
    <section class="inside-article">
        <div class="content-lg row csr">
            <div class=" col-md-12 tech-cont-link"><br>
            <a class="phone" href="/en/about/plants_offices"><span class="glyphicon glyphicon-earphone"></span>  Contact for enquiries </a>
            </div>
        </div>
    </section>


	<!-- start of bottom technology icons -->
	<section class="inside-article">
		<div class="content-lg row">

			<div class="col-xs-12">
				<div class="technology-bottom-flex">
					<div class="technology-bottom"><a class="" href="@Url.Action("advanced_25DIC", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-10.png"><br>2.5D & 3D</a></div>
					<div class="technology-bottom"><a class="" href="@Url.Action("fan_out", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-01.png"><br>Fan Out</a></div>
					<div class="technology-bottom"><a class="" href="@Url.Action("sip_module", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-02.png"><br>System-in-Package</a></div>
					<div class="technology-bottom"><a class="" href="@Url.Action("mems_sensors", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-08.png"><br>MEMS &amp; Sensors</a></div>
					<div class="technology-bottom"><a class="" href="@Url.Action("embedded_die", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-09.png"><br>Embedded Die Technology</a></div>
				</div>
			</div>
			<!-- technolog carousel -->
			<div class="row">
			<div class="col-xs-12">
				<div class="container technology-carousel">
					<div class='row'>
						<div class='col-xs-12'>
							<div class="carousel slide media-carousel" id="media">
								<!-- Indicators -->
								<ol class="carousel-indicators">
									<li data-target="#media" data-slide-to="0" class="active"></li>
									<li data-target="#media" data-slide-to="1"></li>
								</ol>
								<div class="carousel-inner">
									<div class="item active">
										<div class="row">
											<div class="col-xs-4">
												<a class="" href="@Url.Action("advanced_25DIC", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-10.png"><br>2.5D & 3D</a>
											</div>
											<div class="col-xs-4">
												<a class="" href="@Url.Action("fan_out", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-01.png"><br>Fan Out</a>
											</div>
                                            <div class="col-xs-4">
                                                <a class="" href="@Url.Action("sip_module", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-02.png"><br>System-in-Package</a>
                                            </div>
										</div>
									</div>
									<div class="item">
										<div class="row">
                                            <div class="col-xs-4">
                                                <a class="" href="@Url.Action("mems_sensors", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-08.png"><br>MEMS &amp; Sensors</a>
                                            </div>
                                            <div class="col-xs-4">
                                                <a class="" href="@Url.Action("embedded_die", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-09.png"><br>Embedded Die Technology</a>
                                            </div>
										</div>
									</div>
								</div>
								<a data-slide="prev" href="#media" class="left carousel-control">‹</a>
								<a data-slide="next" href="#media" class="right carousel-control">›</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
			<!-- end technology carousel -->
		</div>
	</section>