﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
    ViewBag.Title = "FOPoP";
    ViewBag.enURL = "/en/technology/fopop";
    ViewBag.zhURL = "/ch/technology/fopop";
    ViewBag.webSiteDesc = "Fan-Out Package on Package (FOPoP) has become a promising 3D integration solution for logic devices such as baseband and application processors with high performance memory (e.g., high-bandwidth memories (HBM)) in internet of things (IoT), mobile phone, wearable electronics applications.";
    ViewBag.webSiteOgImage = "https://ase.aseglobal.com/pic/public/frontend/images/technology/FOPoP.png";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-technology">
		<h1 class="page-title title-large" style="text-transform: none;">FOPoP</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/technology/technology_innovation"><span itemprop="name">Advanced Technologies</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item"><span itemprop="name">FOPoP</span></a>
					<meta itemprop="position" content="2" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->

	<!-- Technology list -->
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">Fan-Out Package on Package (FOPoP)</h3>
                <div class="col-xs-5 col-sm-3 col-md-2 col-lg-2 nopadding"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/FOPoP-2022.jpg"></div>
                <div class="clearfix"></div>
                <p>
                    Today’s portable electronic products such as mobile products and wearable electronics require smaller size, more functionality, better performance and lower cost. Via stacking of two or more packages on top of one another, conventional interposer based PoP (Package-on-Package) can integrate multiple functionalities while maintaining a compact size as well as offer procurement flexibility, better total system costs and faster time to market. To further reduce package profile and improve electrical and thermal performances, a redistribution layer (RDL) based POP called fan-out package on package (FOPOP) is introduced, typically for integrating mobile application processor (AP) with DRAM package stacking above for mobile application.
                </p>
            </article>
            <p>&nbsp;</p>
            <div class="col-sm-12">
                <h4 class="sub-title">What is Fan-Out Package on Package (FOPoP)?</h4>
            </div>
            <div class="col-sm-4">
                <p>
                    FOPoP, as one of the core packaging technology pillars in <a href="https://ase.aseglobal.com/en/vipack" target="_blank">VIPack™ platform</a>, is a RDL based package which combines a fan-out bottom package with a standard package mounted on the top side and utilizes fine pitch plated Cu posts for through-mold vertical interconnections. The bottom package has two RDLs (top and bottom routing planes) connected by the Cu posts, which are formed by a wafer-level fan-out technology which enables thinner and finer electrical traces. 
                </p>
            </div>
            <article class="col-sm-5 text-center">
                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/pic_FOPoP-1.svg?6">
                <h5>Fan-Out Package on Package (FOPoP)</h5>
            </article>
            <article class="col-sm-3 text-center">
                <img src="/pic/public/frontend/images/technology/FOPoP.jpg" class="col-xs-6 col-xs-offset-3 col-sm-10 col-sm-offset-1 nopadding">
                <div class="clearfix"></div>
                <h5>Partial Cross-section view of FOPoP</h5>
            </article>
            <div class="clearfix"></div>
            <p>&nbsp;</p>
            <article class="col-xs-12">
                <h4 class="sub-title">Fabrication Process of Fan-Out Package on Package (FOPoP)</h4>
                <p>
                    The FOPoP fabrication process is similar to conventional PoP process except that the bottom package is formed by a RDL-first fan-out process mainly including the following steps:
                </p>
                <ul class="nopadding" style="list-style-type: lower-alpha;">
                    <li>First routing plane/fine pitch Cu posts built on carrier</li>
                    <li>Die attach</li>
                    <li>Molding reconstitution process & Surface grinding to expose Cu posts</li>
                    <li>Second routing plane process/Solder ball mount and IPD mount</li>
                </ul>
                <p>
                    Note that the copper posts are plated onto the temporary carrier prior to die attach, and the second routing plane is connected to the copper posts exposed from the molding material by grinding.
                </p>
                <div class="col-xs-6 col-sm-3">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/pic_FOPoP-21.svg?3" class="img-responsive center-block">
                    <h4 class="text-center">a</h4>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/pic_FOPoP-22.svg?3" class="img-responsive center-block">
                    <h4 class="text-center">b</h4>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/pic_FOPoP-23.svg?3" class="img-responsive center-block">
                    <h4 class="text-center">c</h4>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/pic_FOPoP-24.svg?3" class="img-responsive center-block">
                    <h4 class="text-center">d</h4>
                </div>
                <div class="clearfix"></div>
            </article>
            <p>&nbsp;</p>
            <article class="col-xs-12">
                <h4 class="sub-title">Benefits of Fan-Out Package on Package (FOPoP)</h4>
                <p>
                    Compared with conventional interposer based PoP, FOPOP has a thinner profile and better electrical and thermal performances since the bottom package eliminates the need for an interposer. By using PoP technology, the KGD issue can be mitigated since the top package can be burn-in and tested before mounting to the bottom package. The development cycle time and cost can also be reduced since top and bottom packages can be decoupled from each other from the perspective of qualification, yield, sourcing, procurement timing and logistic handling.
                </p>
                <p>
                    <strong>Key Advantages of Applying FOPoP:</strong>
                </p>
                <ul class="nopadding">
                    <li>3D integration of Memory device and Logic device</li>
                    <li>System size reduction and Board space savings</li>
                    <li>Memory architecture flexibility</li>
                    <li>Shorten signal routes</li>
                    <li>Compatible with current assembly technologies</li>
                </ul>
                <p>&nbsp;</p>
                <h4 class="sub-title">Fan-Out Package on Package (FOPoP) Applications</h4>
                <p>
                    FOPOP has become a promising 3D integration solution for logic devices such as baseband and application processors with high performance memory (e.g., high-bandwidth memories (HBM)) in internet of things (IoT), mobile phone, wearable electronics applications.
                </p>
            </article>
        </div>
    </section>
    <section class="inside-article">
        <div class="content-lg row csr">
            <div class=" col-md-12 tech-cont-link"><br>
            <a class="phone" href="/en/about/plants_offices"><span class="glyphicon glyphicon-earphone"></span>  Contact for enquiries </a>
            </div>
        </div>
    </section>


	<!-- start of bottom technology icons -->
	<section class="inside-article">
		<div class="content-lg row">

			<div class="col-xs-12">
				<div class="technology-bottom-flex">
					<div class="technology-bottom"><a class="" href="@Url.Action("advanced_25DIC", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-10.png"><br>2.5D & 3D</a></div>
					<div class="technology-bottom"><a class="" href="@Url.Action("fan_out", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-01.png"><br>Fan Out</a></div>
					<div class="technology-bottom"><a class="" href="@Url.Action("sip_module", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-02.png"><br>System-in-Package</a></div>
					<div class="technology-bottom"><a class="" href="@Url.Action("mems_sensors", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-08.png"><br>MEMS &amp; Sensors</a></div>
					<div class="technology-bottom"><a class="" href="@Url.Action("embedded_die", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-09.png"><br>Embedded Die Technology</a></div>
				</div>
			</div>
			<!-- technolog carousel -->
			<div class="row">
			<div class="col-xs-12">
				<div class="container technology-carousel">
					<div class='row'>
						<div class='col-xs-12'>
							<div class="carousel slide media-carousel" id="media">
								<!-- Indicators -->
								<ol class="carousel-indicators">
									<li data-target="#media" data-slide-to="0" class="active"></li>
									<li data-target="#media" data-slide-to="1"></li>
								</ol>
								<div class="carousel-inner">
									<div class="item active">
										<div class="row">
											<div class="col-xs-4">
												<a class="" href="@Url.Action("advanced_25DIC", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-10.png"><br>2.5D & 3D</a>
											</div>
											<div class="col-xs-4">
												<a class="" href="@Url.Action("fan_out", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-01.png"><br>Fan Out</a>
											</div>
                                            <div class="col-xs-4">
                                                <a class="" href="@Url.Action("sip_module", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-02.png"><br>System-in-Package</a>
                                            </div>
										</div>
									</div>
									<div class="item">
										<div class="row">
                                            <div class="col-xs-4">
                                                <a class="" href="@Url.Action("mems_sensors", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-08.png"><br>MEMS &amp; Sensors</a>
                                            </div>
                                            <div class="col-xs-4">
                                                <a class="" href="@Url.Action("embedded_die", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-09.png"><br>Embedded Die Technology</a>
                                            </div>
										</div>
									</div>
								</div>
								<a data-slide="prev" href="#media" class="left carousel-control">‹</a>
								<a data-slide="next" href="#media" class="right carousel-control">›</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
			<!-- end technology carousel -->
		</div>
	</section>