﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
    ViewBag.Title = "Embedded Die Technology";
    ViewBag.enURL = "/en/technology/embedded_die";
    ViewBag.zhURL = "/ch/technology/embedded_die";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-technology">
		<h1 class="page-title title-large">Embedded Die Substrate</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/technology/technology_innovation"><span itemprop="name">Advanced Technologies</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/technology/embedded_die"><span itemprop="name">Embedded Die Substrate</span></a>
					<meta itemprop="position" content="2" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->

	<!-- Technology list -->
	<section class="inside-article">
        <div class="content-lg row">
            <article class="col-xs-12">
                <h3 class="title">Embedded Die Substrate</h3>
                <p>
                    With the anticipated market needs of integrating more chips and functions, higher performance, lower power consumption and better heat dissipation onto a smaller form factor, demand for embedded die substrates, such as a-EASI® or SESUB, is expected to increase globally.<br><br>

                    ASE offers customers a full turnkey solution of embedded die substrates through our advanced packaging and test expertise as well as substrate design and manufacturing capability.
                </p>
            </article>
        </div>
    </section>
    <section class="inside-article">
        <div class="content-lg row">
            <article class="col-md-5 text-center" style="float: right; padding-top: 10px;">
                <div class="col-md-12 nopadding">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/mov_embedded_die.jpg">
                </div>
                <div style="position:absolute; left:50%; top: 50%; transform: translate(-50%, -50%); z-index:10; border-radius: 10px; background-color: rgba(0, 0, 0, 0.4);">
                    <a class="button videoButton popupVideo" href="https://coms.aseglobal.com/marcom/video/embedded-2018" target="_blank"><span style="padding-top: 4px;">Watch&nbsp;More</span><i class="icon-play"></i></a>
                </div>
            </article>
            <div class="col-md-7">
                <h4 class="sub-title">What is Embedded Die Substrate?</h4>
                <p>
                    Conventionally, active semiconductor chips (or dies) are mounted on top of a substrate for structural support and electrical interconnect. But in the embedded die substrate, a semiconductor die is embedded within standard PCB material (i.e., a plurality of organic laminated layers) and/or a lead frame during formation of the substrate. The semiconductor die is then electrically connected to other components (MEMS or passives) on/in the substrate through copper-plated vias and conductive traces of the substrate.
                </p>
            </div>
            <article class="col-xs-12">
                <h4 class="sub-title">Advantages of Embedded Die Packaging</h4>
                <div class="col-md-4">
                    <p><strong>Miniaturization &amp; Design Flexibility</strong><br>
                        </p><ul class="nopadding">
                            <li>Embedded chip enables more space for other components or shrinks overall solution</li>
                            <li>Design flexibility now shifts from 2D to 3D</li>
                        </ul>
                    <p></p>
                </div>
                <div class="col-md-4">
                    <p><strong>Improved Thermal &amp; Electrical Thermal Performance</strong><br>
                        </p><ul class="nopadding">
                            <li>Shorter interconnections reduce parasitics - minimizes distortion and power loss</li>
                            <li>Lower electrical &amp; thermal resistivity in package improves power performance</li>
                        </ul>
                    <p></p>
                </div>
                <div class="col-md-4">
                    <p><strong>Improved Reliability and Mechanical Stability</strong><br>
                        </p><ul class="nopadding">
                            <li>High mechanical system stability due to stable Cu interconnections</li>
                        </ul>
                    <p></p>
                </div>
                <div class="clearfix"></div>
            </article>
        </div>
    </section>

    <section class="inside-article">
        <div class="content-lg row">
            <article class="col-xs-12">
                <p>&nbsp;</p>
            </article>
            <article class="col-xs-12">
                <div class="col-xs-6 bt_aeasi technology-tab-active">Advanced Embedded Active System Integration (a-EASI®)</div>
                <div class="col-xs-6 bt_sesub technology-tab-inactive">Semiconductor Embedded in Substrate (SESUB)</div>
                <div class="clearfix"></div>
                <div class="col-xs-12 aeasi">
                    <p>&nbsp;</p>
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 nopadding"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/aeasi1.jpg"></div>
                    <div class="clearfix"></div>
                    <p>
                        ASE's Embedded (Chip) Technology is considered an alternative solution to achieve higher level integration with multi-functionalities and form factor shrinkage advantages. ASE a-EASI® is suitable for power electronics applications to reduce power loss and high thermal dissipation which also had robust mechanism. Embedded Technology provides SMT integration and flexible routing solution to reduce PCB size. The short connection path though Cu via structure. a-EASI® applied metal lead frame to die placement which has high thermal dissipation and EMI benefit.
                    </p>
                    <h4 class="sub-title">Applications</h4>
                    <ul class="nopadding">
                        <li>MOSFET</li>
                        <li>Regulator</li>
                        <li>DCDC</li>
                        <li>IGBT</li>
                        <li>Power modules</li>
                    </ul>
                    <h4 class="sub-title">Features</h4>
                    <ul class="nopadding">
                        <li>Pinout: BGA/LGA/QFN</li>
                        <li>Package size: <50 (mm²)</li>
                        <li>Thermal: Excellent</li>
                        <li>IOs: Up to 100</li>
                        <li>Power: 1000+ (W)</li>
                    </ul>
                    <div class="col-xs-10 col-sm-3 col-sm-offset-0 nopadding">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/aeasi2.jpg">
                        <br>
                        <h4>P1 Structure</h4>
                        <p>via direct on chip pad</p>
                        <ul class="nopadding">
                            <li>Excellent electrical &amp; thermal performance</li>
                            <li>HVM production proven</li>
                        </ul>
                        <p>&nbsp;</p>
                    </div>
                    <div class="col-xs-10 col-sm-3 col-sm-offset-1 nopadding">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/aeasi3.png">
                        <br>
                        <h4>P2 Structure</h4>
                        <ul class="nopadding">
                            <li>Thermal enhance (exposed pad)</li>
                            <li>Thinner package</li>
                            <li>Support various footprint (BGA, LGA, QFN)</li>
                            <li>Single die pass AEC-Q100 G1 by customer</li>
                            <li>Embedded 8 chips max. (under customer qualification)</li>
                        </ul>
                        <p>&nbsp;</p>
                    </div>
                    <div class="col-xs-10 col-sm-3 col-sm-offset-1 nopadding">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/aeasi4.png">
                        <br>
                        <h4>P3 Structure</h4>
                        <p>via direct on chip pad</p>
                        <ul class="nopadding">
                            <li>Improve design flexibility for vertical current device</li>
                            <li>Highly integration – smaller form factor</li>
                        </ul>
                        <p>&nbsp;</p>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="col-xs-12 sesub">
                    <p>&nbsp;</p>
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 nopadding"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/sesub1.jpg"></div>
                    <div class="clearfix"></div>
                    <p>&nbsp;</p>
                    <p>
                        SESUB (Semiconductor Embedded in SUBstrate) is a technology that embeds the IC in the laminated substrate. This substrate with the thinned IC embedded can be mounted with various electronic components to form a highly integrated, multiple function module/package. SESUB enables the micro-modularization of functional circuitry such as high-performance PMUs for smartphones as well as Bluetooth modules. SESUB has already been a proven technology by many customers and IC vendors.
                    </p>
                    <h4 class="sub-title">Applications</h4>
                    <p><strong>A broad application coverage including: </strong></p>
                    <div class="col-xs-12 col-sm-4 nopadding">
                        <ul class="nopadding">
                            <li>MCU</li>
                            <li>FEM</li>
                            <li>PMIC</li>
                            <li>Optical</li>
                            <li>Memory</li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-4 nopadding">
                        <ul class="nopadding">
                            <li>Audio</li>
                            <li>Power</li>
                            <li>Sensor</li>
                            <li>Processor</li>
                            <li>Connectivity</li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-4 nopadding">
                        <ul class="nopadding">
                            <li>Image module</li>
                            <li>Automotive ADAS</li>
                            <li>High Frequency Application</li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <h4 class="sub-title">Features</h4>
                    <ul class="nopadding">
                        <li>Pinout: BGA/LGA</li>
                        <li>Package size: 200+ (mm²)</li>
                        <li>Thermal: Good</li>
                        <li>IOs: Up to 1000</li>
                        <li>Power: <20+ (W)</li>
                    </ul>
                    <div class="col-sm-12 col-md-6" style="float: right;">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/sesub2.png">
                    </div>
                    <p>The figure below illustrates the cross-section view of a multi die embedded module utilizing SESUB technology. The SESUB is a 1-2-1 4-layer structure which provides properties for size reduction, thermal dissipation, mechanical robustness, performance improvement. SESUB not only serves as module, but also as package with thin thickness.</p>
                    <p><strong>The properties include</strong></p>
                    <ul class="nopadding">
                        <li>Multi-die embedded in substrate</li>
                        <li>Very thin die thickness min. 50um</li>
                        <li>Thin substrate thickness max. 280um</li>
                        <li>High integration package</li>
                        <li>Small form factor</li>
                        <li>Space saving</li>
                        <li>Low profile</li>
                        <li>Low noise emission</li>
                        <li>Enhance heat dissipation</li>
                        <li>Robust copper connection</li>
                        <li>Mitigate unwanted noise radiation</li>
                        <li>SMT on surface of substrate</li>
                        <li>JEDEC MSL3 certified</li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </article>
        </div>
    </section>
    <section class="inside-article">
        <div class="content-lg row">
            <div class="col-xs-12 col-md-12 tech-cont-link">
                <a class="phone" href="@Url.Action("plants_offices", "About", new { lang = ViewBag.language.lang })"><span class="glyphicon glyphicon-earphone"></span>  Contact for enquiries </a>
            </div>
        </div>
    </section>

	<br><br>
<section class="inside-article">
		<div class="content-lg row">

			<div class="col-xs-12">
				<div class="technology-bottom-flex">
					<div class="technology-bottom"><a class="" href="@Url.Action("advanced_25DIC", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-10.png"><br>2.5D & 3D</a></div>
					<div class="technology-bottom"><a class="" href="@Url.Action("fan_out", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-01.png"><br>Fan Out</a></div>
					<div class="technology-bottom"><a class="" href="@Url.Action("sip_module", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-02.png"><br>System-in-Package</a></div>
					<div class="technology-bottom"><a class="" href="@Url.Action("mems_sensors", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-08.png"><br>MEMS &amp; Sensors</a></div>
					<div class="technology-bottom opacity-50"><a class="" href="@Url.Action("embedded_die", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-09.png"><br>Embedded Die Substrate</a></div>
				</div>
			</div>
			<!-- technolog carousel -->
			<div class="row">
			<div class="col-xs-12">
				<div class="container technology-carousel">
					<div class='row'>
						<div class='col-xs-12'>
							<div class="carousel slide media-carousel" id="media">
								<!-- Indicators -->
								<ol class="carousel-indicators">
									<li data-target="#media" data-slide-to="0" class="active"></li>
									<li data-target="#media" data-slide-to="1"></li>
								</ol>
								<div class="carousel-inner">
									<div class="item active">
										<div class="row">
											<div class="col-xs-4">
												<a class="" href="@Url.Action("advanced_25DIC", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-10.png"><br>2.5D & 3D</a>
											</div>
											<div class="col-xs-4">
												<a class="" href="@Url.Action("fan_out", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-01.png"><br>Fan Out</a>
											</div>
                                            <div class="col-xs-4">
                                                <a class="" href="@Url.Action("sip_module", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-02.png"><br>System-in-Package</a>
                                            </div>
										</div>
									</div>
									<div class="item">
										<div class="row">
                                            <div class="col-xs-4">
                                                <a class="" href="@Url.Action("mems_sensors", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-08.png"><br>MEMS &amp; Sensors</a>
                                            </div>
                                            <div class="col-xs-4">
                                                <a class="" href="@Url.Action("embedded_die", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-09.png"><br>Embedded Die Substrate</a>
                                            </div>
										</div>
									</div>
								</div>
								<a data-slide="prev" href="#media" class="left carousel-control">‹</a>
								<a data-slide="next" href="#media" class="right carousel-control">›</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
			<!-- end technology carousel -->
		</div>
	</section>
<script>
    $(document).ready(function() {

        $(".aeasi").show();
        $(".sesub").hide();

        $('.bt_aeasi').click(function() {
            $(this).closest(".row").find(".bt_sesub").removeClass("technology-tab-active").addClass("technology-tab-inactive");
            $(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
            $(this).closest(".row").find(".sesub").hide();
            $(this).closest(".row").find(".aeasi").fadeIn(1000);
        });
        $('.bt_sesub').click(function() {
            $(this).closest(".row").find(".bt_aeasi").removeClass("technology-tab-active").addClass("technology-tab-inactive");
            $(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
            $(this).closest(".row").find(".aeasi").hide();
            $(this).closest(".row").find(".sesub").fadeIn(1000);
        });
    });
</script>