﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
    ViewBag.Title = "2.5D and 3D IC Packaging";
    ViewBag.enURL = "/en/technology/advanced_25dic";
    ViewBag.zhURL = "/ch/technology/advanced_25dic";
    ViewBag.webSiteDesc = "ASE continues to push boundaries by innovating the 2.5D & 3D technologies that will play more and more significant roles in applications such as CPU, Mobile AP, Si photonics, display driver IC and lots more.";
    ViewBag.webSiteOgImage = "https://ase.aseglobal.com/pic/public/frontend/images/technology/25_dic.jpg";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-technology">
		<h1 class="page-title title-large">2.5D and 3D IC Packaging</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/technology/technology_innovation"><span itemprop="name">Advanced Technologies</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/technology/advanced_25dic"><span itemprop="name">2.5D and 3D IC Packaging</span></a>
					<meta itemprop="position" content="2" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->

	<!-- Technology list -->
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">2.5D and 3D IC Packaging</h3>
				<div class="col-xs-10 col-md-6 col-lg-5"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/25_dic.jpg"></div>
				<div class="clearfix"></div>
				<p>
					As 5G, AI, and high-performance computing continue to make inroads into our world, there’s escalating demand for semiconductor devices that deliver enhanced performance, lower latency, increased bandwidth and power efficiency. 2.5D & 3D technologies deliver that, and more. ASE continues to push boundaries by innovating the 2.5D & 3D technologies that are becoming more and more crucial within the industry. ASE has well-established itself as a leader in 2.5D technology, having successfully delivered pioneering 2.5D solutions that helped bring advanced ASIC and HBM products to the market place. To continue this technology innovation momentum, ASE is introducing high density Fan Out technology for die stacking & multi-die solutions to achieve high bandwidth & high performance across the market landscape, addressing demand from high density data centers to consumer & mobile space.
				</p>
			</article>
		</div>
        <div class="clearfix"><br><br></div>
	</section>
    <section class="inside-article">
        <div class="content-lg row">
            <div class="col-md-7">
                <h4 class="sub-title" style="margin-top: 0;">What is 2.5D & 3D IC Packaging?</h4>
                <p>
                    2.5D / 3D are packaging methodology for including multiple IC inside the same package. In 2.5D structure, two or more active semiconductor chips are placed side-by-side on a silicon interposer for achieving extremely high die-to-die interconnect density. In 3D structure, active chips are integrated by die stacking for shortest interconnect and smallest package footprint.<br><br>

                    In recent years, 2.5D & 3D has gained momentum as an ideal chiplet integration<a href="javascript:" data-toggle="popover" data-trigger="hover" data-content="In the chiplet integration approach, a chipmaker may have a menu of modular chiplets in a library. Each chiplet is a functional circuit block and includes reusable IP blocks. These chiplets can have different functions and could be developed at various process nodes." data-placement="bottom" data-original-title="" title="">*</a> platform due to their merits on achieving extremely high packaging density and high energy efficiency.<br><br>

                    ASE is one of the pioneers in 2.5D/3D packaging technology and has successfully launched world’s first mass production of 2.5D IC package equipped with High Bandwidth Memory (HBM).
                </p>
            </div>
            <article class="col-md-5 text-center">
                <div class="col-md-12 nopadding">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/mov_2_5.jpg">
                </div>
                <div style="position:absolute; left:50%; top: 80%; transform: translate(-50%, -50%); z-index:10; border-radius: 10px; background-color: rgba(0, 0, 0, 0.4);">
                    <a class="button videoButton popupVideo" href="https://coms.aseglobal.com/marcom/video/25d-ic" target="_blank"><span style="padding-top: 4px;">Watch&nbsp;More</span><i class="icon-play"></i></a>
                </div>
            </article>
        </div>
        <div class="clearfix"><br><br></div>
    </section>

    <section class="inside-article">
        <div class="content-lg row">
            <div class="col-md-7" style="float: right;">
                <h4 class="sub-title" style="margin-top: 0;">Benefits of 2.5D & 3D IC Packaging</h4>
                <p>
                    Our 2.5D/3D IC packaging solution provides the benefit of integrating GPU, CPU and memory along with decoupling capacitor. Si interposer with TSV (Through Silicon Via) can be used as a platform to bridge fine pitch capability gap between assembly substrate and integrated circuit board. It also helps to keep pad pitch scaling path without being limited by assembly substrate technology.
                </p>
                <p><b>Key advantages of applying 2.5D & 3D IC Packaging:</b></p>
                <ul class="nopadding">
                    <li>Ultra high routing density (L/S: 0.4/0.4&micro;m)</li>
                    <li>Ultra high I/O density (> 400 &micro;bumps/mm²) & I/O pitch scalability</li>
                    <li>Homogeneous / heterogeneous memory, power and/or optics integration</li>
                    <li>Interposer capable of embedding decoupling capacitor or active devices feasible</li>
                    <li>Excellent package reliability to meet automotive requirements</li>
                </ul>
            </div>
            <div class="col-md-5">
                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/pic_25_dic-1.jpg">
            </div>
        </div>
        <div class="clearfix"><br><br></div>
    </section>

    <section class="inside-article">
        <div class="content-lg row">
            <div class="col-md-7">
                <h4 class="sub-title" style="margin-top: 0;">2.5D & 3D IC Applications</h4>
                <p><b>2.5D/3D IC packaging is mainly used to integrate HBMs of the following applications:</b></p>
                <ul class="nopadding">
                    <li>High-end GPU</li>
                    <li>High-end FPGA</li>
                    <li>Network switch / router for data center & 5G infrastructure</li>
                    <li>AI accelerator for AI training</li>
                </ul>
                <p>In the era of chiplet, 2.5D & 3D IC packaging will play more and more significant roles in applications such as CPU, Mobile AP, Si photonics, display driver IC and lots more.</p>
            </div>
            <div class="col-md-5">
                <p><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/pic_25_dic-2.jpg"></p>
            </div>
        </div>
    </section>
    <section class="inside-article">
        <div class="content-lg row">
            <div class="col-xs-12 col-md-12 tech-cont-link">
				<a class="phone" href="@Url.Action("plants_offices", "About", new { lang = ViewBag.language.lang })"><span class="glyphicon glyphicon-earphone"></span>  Contact for enquiries </a>
			</div>
        </div>
    </section>
    <br><br>

	<section class="inside-article">
		<div class="content-lg row">

			<div class="col-xs-12">
				
				<div class="technology-bottom-flex">
					<div class="technology-bottom opacity-50"><a class="" href="@Url.Action("advanced_25DIC", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-10.png"><br>2.5D & 3D</a></div>
					<div class="technology-bottom"><a class="" href="@Url.Action("fan_out", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-01.png"><br>Fan Out</a></div>
					<div class="technology-bottom"><a class="" href="@Url.Action("sip_module", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-02.png"><br>System-in-Package</a></div>
					<div class="technology-bottom"><a class="" href="@Url.Action("mems_sensors", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-08.png"><br>MEMS &amp; Sensors</a></div>
					<div class="technology-bottom"><a class="" href="@Url.Action("embedded_die", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-09.png"><br>Embedded Die Substrate</a></div>
				</div>
			</div>
			<!-- technolog carousel -->
			<div class="row">
			<div class="col-xs-12">
				<div class="container technology-carousel">
					<div class='row'>
						<div class='col-xs-12'>
							<div class="carousel slide media-carousel" id="media">
								<!-- Indicators -->
								<ol class="carousel-indicators">
									<li data-target="#media" data-slide-to="0" class="active"></li>
									<li data-target="#media" data-slide-to="1"></li>
								</ol>
								<div class="carousel-inner">
									<div class="item active">
										<div class="row">
											<div class="col-xs-4">
												<a class="" href="@Url.Action("advanced_25DIC", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-10.png"><br>2.5D & 3D</a>
											</div>
											<div class="col-xs-4">
												<a class="" href="@Url.Action("fan_out", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-01.png"><br>Fan Out</a>
											</div>
											<div class="col-xs-4">
												<a class="" href="@Url.Action("sip_module", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-02.png"><br>System-in-Package</a>
											</div>
										</div>
									</div>
									<div class="item">
										<div class="row">
											<div class="col-xs-4">
												<a class="" href="@Url.Action("mems_sensors", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-08.png"><br>MEMS &amp; Sensors</a>
											</div>
											<div class="col-xs-4">
												<a class="" href="@Url.Action("embedded_die", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-09.png"><br>Embedded Die Substrate</a>
											</div>
										</div>
									</div>
								</div>
								<a data-slide="prev" href="#media" class="left carousel-control">‹</a>
								<a data-slide="next" href="#media" class="right carousel-control">›</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
			<!-- end technology carousel -->
		</div>
	</section>
<script>
	$(document).ready(function() { 

		$('#media').carousel({
			pause: true,
			interval: false,
		});
		$("#media").swiperight(function() { /* enables the swiping on phone */
			$(this).carousel('prev');
		});
		$("#media").swipeleft(function() { /* enables the swiping on phone */
			$(this).carousel('next');
		});
		$(".technology-features-content").hide();

		$('.technology-application').click(function() {
			$(this).closest(".row").find(".technology-features").removeClass("technology-tab-active").addClass("technology-tab-inactive");
			$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
			$(this).closest(".row").find(".technology-features-content").hide();
			$(this).closest(".row").find(".technology-application-content").fadeIn(1000);
		});
		$('.technology-features').click(function() {
			$(this).closest(".row").find(".technology-application").removeClass("technology-tab-active").addClass("technology-tab-inactive");
			$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
			$(this).closest(".row").find(".technology-application-content").hide();
			$(this).closest(".row").find(".technology-features-content").fadeIn(1000);
		});
	});
</script>
