﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
    ViewBag.Title = "Flip Chip Packaging";
    ViewBag.enURL = "/en/technology/flip_chip";
    ViewBag.zhURL = "/ch/technology/flip_chip";
    ViewBag.webSiteDesc = "Over the past three decades, ASE has invested heavily on infrastructure that offers customers a full turnkey solution, including wafer probing, wafer bumping, flip chip assembly, and final testing.";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-technology">
		<h1 class="page-title title-large">Flip Chip Packaging</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/products/assembly"><span itemprop="name">IC Packaging</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/technology/flip_chip"><span itemprop="name">Flip Chip Packaging</span></a>
					<meta itemprop="position" content="2" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->

	<!-- Technology list -->
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">Flip Chip Packaging</h3>
                <div class="col-xs-6 col-sm-3 nopadding"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/flip_chip_csp1.jpg"></div>
                <div class="clearfix"></div>
				<p>
					Flip chip derived its name from the method of flipping over the chip to connect with the substrate or leadframe. Unlike conventional interconnection through wire bonding, flip chip uses solder or gold bumps. Therefore, the I/O pads can be distributed all over the surface of the chip and not only on the peripheral region. The chip size can be shrunk and the circuit path, optimized. Another advantage of flip chip is the absence of bonding wire reducing signal inductance.<br><br>
					An essential process for flip chip packaging is wafer bumping. Wafer bumping is an advanced packaging technique where ‘bumps’ or ‘balls’ made of solder are formed on the wafers before being diced into individual chips. ASE has invested significantly in the research and development as well as in equipment for wafer bumping. It has the capacity to bump 6-inch, 8-inch and 12-inch wafers.
					<br><br></p>

					<h4 class="sub-title">Benefits of Flip Chip</h4>

					<ul class="nopadding">
						<li><strong>Shorter assembly cycle time</strong><br>
   							All the bonding for flip chip packages is completed in one process.</li>

						<li><strong>Higher signal density & smaller die size</strong><br>
						   Area array pad layout increases I/O density. Also, based on the same number of I/Os, the size of the die can be significantly shrunk.</li>

						<li><strong>Good electrical performance</strong><br>
						   Shorter path between die and substrate improves the electrical performance.</li>

						<li><strong>Direct thermal dissipation path</strong><br>
						   External heat sink can be directly added to the chip to remove the heat.</li>

						<li><strong>Lower packaging profile</strong><br>
						   Absence of wire and molding allows flip chip packages to feature lower profiles.</li>
					</ul>

				<div class="col-xs-12 col-md-10 nopadding">
					<h4 class="sub-title">Capabilities</h4>
					ASE offers several BGA packages using flip chip technology. There are:
					<div class="table-responsive inside-table">
						<table class="table table-striped table-hover csr ">
							<thead>
								<tr>
									<th class="col-sm-1 left-border"></th>
									<th class="col-sm-1 left-border">I/O</th>
									<th class="col-sm-1 left-border">Package Size (mm)</th>
									<th class="col-sm-1 left-border">Substate</th>
									<th class="col-sm-1 left-border">Ball Pitch (mm)</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="left-border">FCCSP</td>
									<td class="left-border">16 ~ 200</td>
									<td class="left-border">4x4 ~ 14.0x22.0</td>
									<td class="left-border">2/4 Layer Laminate</td>
									<td class="left-border">0.5 ~ 1.00</td>
								</tr>
								<tr>
									<td class="left-border">Ceramic FCBGA/PGA</td>
									<td class="left-border">&#60; 1556</td>
									<td class="left-border">27x27 ~ 49.5x49.5</td>
									<td class="left-border">Ceramic</td>
									<td class="left-border">0.8 ~ 1.27</td>
								</tr>
								<tr>
									<td class="left-border">FCBGA</td>
									<td class="left-border">100 ~ 1521</td>
									<td class="left-border">27x27 ~ 40.0x40.0</td>
									<td class="left-border">2/4 Laminate,<br>4-8 Layer Build-up</td>
									<td class="left-border">1.0/1.27</td>
								</tr>
								<tr>
									<td class="left-border">HFCBGA</td>
									<td class="left-border">256 ~ 2401</td>
									<td class="left-border">12x12 ~ 52.5x52.5</td>
									<td class="left-border">4-12 Layer Build-up</td>
									<td class="left-border">1.0/1.27</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

			</article>
		</div>
	</section>
	<section class="inside-article">
		<div class="content-lg row">
			<div class="col-xs-12 col-md-12">
				The thickness and the available ball count of flip chip packages are mostly customized. ASE provides several options for enhancing the performance of flip chip packages. They are:<br><br>
			</div>
			<div class="col-md-12 ">
				<strong>Overall molding (for FCCSP)</strong><br>
				The molding is used to protect the chip, substitute underfill for lower cost and improve the thermal performance and 2nd level reliability.<br><br>
			</div>
			<div class="col-md-12">
				<strong>Heat spreader (for FCBGA)</strong><br>
				The heat spreader provides direct heat conduction by adhering to the rear side of the silicon chip. This method provides 6~8W of thermal dissipation under natural convection.<br><br>
			</div>
		</div>
	</section>
    <section class="inside-article">
        <div class="content-lg row">

            <article class="col-xs-12">
                <h4 class="sub-title">ASE Flip Chip Packaging Offerings</h4>
                <div class="col-xs-4 col-sm-4 bt_fccsp technology-tab-active hide-in-small">Flip Chip CSP</div>
                <div class="col-xs-4 col-sm-4 bt_fcbga technology-tab-inactive hide-in-small">Flip Chip BGA</div>
                <div class="col-xs-4 col-sm-4 bt_hp-fcbga technology-tab-inactive hide-in-small">High Performance Flip Chip BGA</div>
                <div class="col-xs-4 col-sm-4 bt_fccsp technology-tab-active hide-in-large">Flip Chip CSP<br>&nbsp;</div>
                <div class="col-xs-4 col-sm-4 bt_fcbga technology-tab-inactive hide-in-large">Flip Chip BGA<br>&nbsp;</div>
                <div class="col-xs-4 col-sm-4 bt_hp-fcbga technology-tab-inactive hide-in-large">High Performance Flip Chip BGA</div>
                <div class="clearfix"></div>

                <div class="col-xs-12 fccsp">
                    <p>&nbsp;</p>
                    <p>
                        FCCSP (Flip Chip Chip Scale Package) offers chip scale capacity for I/Os around 200 or less. FCCSP provides better protection for chip and better solder joint reliability compared with direct chip attach (DCA) or chip on board (COB). FCCSP is more superior to known good die (KGD) in low-cost test and burn-in, and performs comparable electrical function with KGD. FCCSP features thin and small profile, and lightweight packages.
                    </p>
                    <div class="col-xs-12 col-sm-4 nopadding"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/flip_chip_csp1.jpg" class="col-xs-6 col-sm-10 nopadding"></div>
                    <div class="col-xs-12 col-sm-4 nopadding">
                        <h4>Applications</h4>
                        <strong>Consumer</strong>
                        <ul class="nopadding">
                            <li>Camcorders</li>
                            <li>Digital Camera</li>
                            <li>DVD</li>
                        </ul>
                        <strong>Computer</strong>
                        <ul class="nopadding">
                            <li>Voltage Regulators</li>
                            <li>High-speed Memory</li>
                            <li>Card</li>
                            <li>PC Peripherals</li>
                        </ul>
                        <strong>Telecommunication</strong>
                        <ul class="nopadding">
                            <li>Pagers</li>
                            <li>Cellular Handsets</li>
                            <li>GPS</li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-4 nopadding">
                        <h4>Features</h4>
                        <ul class="nopadding">
                            <li>Thinner Profile: “Wafer Thinning” capability (down to 6~8 mils) to support packages thinner than 1.0 mm</li>
                            <li>Substrate: 2-layer BT laminate substrate is used to reduce overall package cost</li>
                            <li>Improved Performance: Thin core (100um) substrate &amp; via-on-pad design can be adopted to achieve better electrical performance</li>
                            <li>Robust Structure: Over molded process can enhance throughput, component and board level reliability</li>
                            <li>NSMD with OSP C4 pad: Low cost solutions for electric interconnect between solder bump and substrate</li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <p>&nbsp;</p>
                </div>

                <div class="col-xs-12 fcbga">
                    <p>&nbsp;</p>
                    <p>
                        <strong>Flip Chip Organic BGA</strong><br>
                        Laminate or build-up organic substrate offers better electrical performance than wire-bond type BGA package especially in high frequency applications.
                    </p>
                    <p>
                        <strong>Flip Chip Ceramic BGA</strong><br>
                        Alumina ceramic substrate offers better moisture resistance, electrical insulating property and higher thermal conductivity than organic substrate. FCBGA is used primarily for high-reliability commercial applications (e.g. CPU).
                    </p>
                    <div class="col-xs-12 col-sm-4 nopadding"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/flip_chip_bga1.jpg" class="col-xs-6 col-sm-10 nopadding"></div>
                    <div class="col-xs-12 col-sm-4 nopadding">
                        <h4>Applications</h4>
                        <strong>Consumer</strong>
                        <ul class="nopadding">
                            <li> Graphics/Chipsets for PC</li>
                            <li> Server</li>
                            <li> Game Console and High-end Application</li>
                            <li> Microprocessor for PC &amp; Server</li>
                            <li> Memory</li>
                        </ul>
                        <strong>Telecommunication</strong>
                        <ul class="nopadding">
                            <li>Network Products (LAN)</li>
                            <li>Switching</li>
                            <li>Transmission</li>
                            <li>Cellular Base Stations</li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-4 nopadding">
                        <h4>Features</h4>
                        <ul class="nopadding">
                            <li>Substrate: 4 layer laminate, 4~12 layer &amp; 800/400um. Build-up substrates, and ceramic substrates are available for different application</li>
                            <li>Passive Component: Passive component attaching is available. It can be placed on the top or bottom side of the package</li>
                            <li>Ceramic BGA: High Pb solder ball with eutectic solder paste improves board level reliability performance of ceramic packages</li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <p>&nbsp;</p>
                </div>

                <div class="col-xs-12 hp-fcbga">
                    <p>&nbsp;</p>
                    <p>
                        HFC BGA (High Performance FCBGA), a thermally enhanced FCBGA, is the composite package of FCBGA with heat spreader made of Cu, Al, or AlSiC. The heat spreader is used to extend the heat conduction area by connecting itself to the rear side of the silicon chip.
                    </p>
                    <p>
                        This method desensitizes the performance deviation out of the chip size, lowers the thermal resistance of junction-to-case (θjc) and enables the external heat sink or fan to work more effectively. HFCBGA can produce 6~8 watts of power dissipation under natural convection.
                    </p>
                    <div class="col-xs-12 col-sm-4 nopadding"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/hp_flip_chip_bga1.jpg" class="col-xs-6 col-sm-10 nopadding"></div>
                    <div class="col-xs-12 col-sm-4 nopadding">
                        <h4>Applications</h4>
                        <strong>Consumer</strong>
                        <ul class="nopadding">
                            <li>Graphics/Chipsets for PC</li>
                            <li>Server</li>
                            <li>High-end Application</li>
                            <li>Microprocessor for PC &amp; Server</li>
                        </ul>
                        <strong>Telecommunication</strong>
                        <ul class="nopadding">
                            <li>Network Products (LAN)</li>
                            <li>Switching</li>
                            <li>Transmission</li>
                            <li>Cellular Base Stations</li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-4 nopadding">
                        <h4>Features</h4>
                        <ul class="nopadding">
                            <li>Substrate: 4 layer laminate, 4~12 layer build-up, ceramic, and PTFE substrates are available</li>
                            <li>Thermal Lids: Heat spreaders made of Cu with Ni plating, Aluminum, Ceramic, AlSiC</li>
                            <li>Passive Component: Passive component attaching. It can be placed on the top or bottom side of the package</li>
                            <li>Ceramic BGA: High Pb solder ball with eutectic solder paste improves board level reliability performance of ceramic packages</li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <p>&nbsp;</p>
                </div>
            </article>

            <article class="col-xs-12">
                <a href="~/en/products/assembly_offerings/bumping_solution"><div class="circle_button darkgray facilities-circle-button active"><i class="icon-arrow-right facilities-icon-arrow-right"></i></div>&nbsp;Bumping Services</a>
            </article>
        </div>
    </section>
    <section class="inside-article">
        <div class="content-lg row">
            <p>&nbsp;</p>
			<div class="clearfix"></div>		<div class="col-md-12 tech-cont-link">
			<a class="phone" href="@Url.Action("plants_offices", "About", new { lang = ViewBag.language.lang })"><span class="glyphicon glyphicon-earphone"></span>  Contact for enquiries </a>
			</div>
        </div>
    </section>

	<br><br>
	<section class="inside-article">
		<div class="content-lg row">

			<div class="col-xs-12">
				
				<div class="technology-bottom-flex">
                    <div class="technology-bottom opacity-50"><a class="" href="@Url.Action("flip_chip", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-03.png"><br>Flip Chip Packaging</a></div>
                    <div class="technology-bottom"><a class="" href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "wire_bond_bga_solution" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/products_icon-05.png"><br>Wire Bond BGA</a></div>
                    <div class="technology-bottom"><a class="" href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "leadframe_solution" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/products_icon-06.png"><br>Leadframe Packaging</a></div>
                    <div class="technology-bottom"><a class="" href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "wafer_level_package_solution" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/products_icon-02.png"><br>Wafer Level Packaging</a></div>
				</div>
			</div>
			<!-- technolog carousel -->
			<div class="row">
			<div class="col-xs-12">
				<div class="container technology-carousel">
					<div class='row'>
						<div class='col-xs-12'>
							<div class="carousel slide media-carousel" id="media">
								<!-- Indicators -->
								<ol class="carousel-indicators">
									<li data-target="#media" data-slide-to="0" class="active"></li>
									<li data-target="#media" data-slide-to="1"></li>
								</ol>
								<div class="carousel-inner">
                                    <div class="item active">
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <a class="" href="@Url.Action("flip_chip", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-03.png"><br>Flip Chip Packaging</a>
                                            </div>
                                            <div class="col-xs-4">
                                                <a class="" href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "wire_bond_bga_solution" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/products_icon-05.png"><br>Wire Bond BGA</a>
                                            </div>
                                            <div class="col-xs-4">
                                                <a class="" href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "leadframe_solution" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/products_icon-06.png"><br>Leadframe Packaging</a>
                                            </div>     
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <a class="" href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "wafer_level_package_solution" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/products_icon-02.png"><br>Wafer Level Packaging</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
								<a data-slide="prev" href="#media" class="left carousel-control">‹</a>
								<a data-slide="next" href="#media" class="right carousel-control">›</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
			<!-- end technology carousel -->
		</div>
	</section>
<script>
    $(document).ready(function() {

        $(".fccsp").show();
        $(".fcbga").hide();
        $(".hp-fcbga").hide();

        $('.bt_fccsp').click(function() {
            $(this).closest(".row").find(".bt_fcbga,.bt_hp-fcbga").removeClass("technology-tab-active").addClass("technology-tab-inactive");
            $(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
            $(this).closest(".row").find(".fcbga,.hp-fcbga").hide();
            $(this).closest(".row").find(".fccsp").fadeIn(1000);
        });
        $('.bt_fcbga').click(function() {
            $(this).closest(".row").find(".bt_fccsp,.bt_hp-fcbga").removeClass("technology-tab-active").addClass("technology-tab-inactive");
            $(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
            $(this).closest(".row").find(".fccsp,.hp-fcbga").hide();
            $(this).closest(".row").find(".fcbga").fadeIn(1000);
        });
        $('.bt_hp-fcbga').click(function() {
            $(this).closest(".row").find(".bt_fccsp,.bt_fcbga").removeClass("technology-tab-active").addClass("technology-tab-inactive");
            $(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
            $(this).closest(".row").find(".fccsp,.fcbga").hide();
            $(this).closest(".row").find(".hp-fcbga").fadeIn(1000);
        });
    });
</script>
