﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
    ViewBag.Title = "MEMS and Sensor Packaging";
    ViewBag.enURL = "/en/technology/mems_sensors";
    ViewBag.zhURL = "/ch/technology/mems_sensors";
    ViewBag.webSiteDesc = "MEMS and sensors are the essential enabling components that allow people to experience and interact with the world in revolutionary new ways. ASE offers extensive modeling lab capabilities, including optical lab simulation and measurement, as well as expertise in material measurement and stress simulation, which are all areas of extreme importance to MEMS & Sensor manufacturing.";
    ViewBag.webSiteOgImage = "https://ase.aseglobal.com/pic/public/frontend/images/technology/og_wafer_level_mems.jpg";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-technology">
		<h1 class="page-title title-large">MEMS and Sensor Packaging</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/technology/technology_innovation"><span itemprop="name">Advanced Technologies</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/technology/mems_sensors"><span itemprop="name">MEMS and Sensor Packaging</span></a>
					<meta itemprop="position" content="2" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->

	<!-- Technology list -->
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">MEMS and Sensor Packaging</h3>
                <div class="col-xs-7 col-sm-4 col-md-3 col-lg-3 nopadding"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/wafer_level_mems1.jpg"></div>
                <div class="clearfix"></div>
            </article>
        </div>
    </section>
    <section class="inside-article">
        <div class="content-lg row">
            <article class="col-md-5 text-center" style="float: right;">
                <div class="col-md-12 nopadding">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/mov_mems.jpg">
                </div>
                <div style="position:absolute; left:50%; top: 75%; transform: translate(-50%, -50%); z-index:10; border-radius: 10px; background-color: rgba(0, 0, 0, 0.4);">
                    <a class="button videoButton popupVideo" href="https://coms.aseglobal.com/marcom/video/mems-sensors-packaging" target="_blank"><span style="padding-top: 4px;">Watch&nbsp;More</span><i class="icon-play"></i></a>
                </div>
            </article>
            <div class="col-md-7">
                <p>
                    Micro-Electro-Mechanical Systems (MEMS) and sensors contribute to the myraid semiconductor technologies that allow us to experience and interact with our surroundings in revolutionary new ways. MEMS devices consist of mechanical elements, sensing features and electronic circuits integrated onto a silicon substrate. The elements in MEMS gather information from the environment through the measurement of mechanical, thermal, biological, chemical, acoustic, optical and magnetic stimuli. Wafer level packaging and TSV technologies are key enabling packaging technologies that optimize size, functionality, performance as well as deliver cost effective integration for MEMS packaging. ASE has extensive modeling lab capabilities, including optical lab simulation and measurement, as well as expertise in material measurement and stress simulation. These services are all areas of extreme importance to MEMS & Sensor manufacturing.
                </p>
            </div>
        </div>
    </section>
    <section class="inside-article">
        <div class="content-lg row">
            <article class="col-xs-12">
                <h4 class="sub-title">Introduction</h4>
                <p>
                    MEMS and sensors serve as gears to connect people with their surroundings, and enable deeper perception and interaction to the environment. We are able to leverage the information that sensors perceive to develop functions that improve the quality of life. The rise in robotics, autonomous vehicles, smart homes, IoT, AR/VR/MR, and environmental hubs has become the driving force for the acceleration and development of MEMS and sensor technology.
                </p>
                <h4><a href="javascript:" id="bt-DToS"><i class="icon-arrow-right" style="font-size:14px;"></i> Different Types of Sensors</a></h4>
                <div class="col-xs-12 col-md-12 nopadding" id="DToS">
                    <div class="col-xs-6 col-sm-5cols">
                        <strong>Inertial</strong>
                        <ul class="nopadding">
                            <li>Gyroscope</li>
                            <li>Accelerometer</li>
                            <li>Magnetometer/Hall-Effect Sensor</li>
                            <li>Combo & IMU</li>
                        </ul>
                    </div>
                    <div class="col-xs-6 col-sm-5cols">
                        <strong>Light & Radiations</strong>
                        <ul class="nopadding">
                            <li>X-ray Sensor</li>
                            <li>Bolometer</li>
                            <li>IR Sensor</li>
                            <li>IR Thermopile</li>
                            <li>UV Sensor</li>
                            <li>PALS/ALS</li>
                            <li>LiDAR</li>
                        </ul>
                    </div>
                    <div class="col-xs-6 col-sm-5cols">
                        <strong>RF</strong>
                        <ul class="nopadding">
                            <li>Oscillators</li>
                            <li>Switches</li>
                            <li>SAW Filters</li>
                            <li>FBAR/BAW Filters</li>
                        </ul>
                    </div>
                    <div class="col-xs-6 col-sm-5cols">
                        <strong>Environmental</strong>
                        <ul class="nopadding">
                            <li>TPMS Module</li>
                            <li>Gas Sensor</li>
                            <li>Pressure Sensor</li>
                            <li>Temperature Sensor</li>
                            <li>Humidity Sensor</li>
                            <li>Si Microphone</li>
                        </ul>
                    </div>
                    <div class="col-xs-6 col-sm-5cols">
                        <strong>Others</strong>
                        <ul class="nopadding">
                            <li>Optical/micromirror</li>
                            <li>LED</li>
                            <li>Ultrasonic Sensor</li>
                            <li>Medical Sensor</li>
                        </ul>
                    </div>
                </div>
                <p>&nbsp;</p>
            </article>
        </div>
    </section>
    <section class="csr-bg">
        <div class="content-lg row">
            <div class="col-xs-12">
                <h4 class="sub-title">What is MEMS and Sensors Packaging?</h4>
                <p>
                    MEMS are a process technology used to create tiny integrated devices or systems that combine mechanical and electrical components. These devices have the ability to sense, control and actuate according to set parameters. While traditional packaging serves to protect chips, MEMS packaging is part of the device function. Each sensor device has unique packaging requirements to meet specific functions for interacting with external devices or the environment.  For example, speakers, microphones and pressure sensors must have sound or pressure inlets integrated using MEMS and sensor packaging techniques. Optical devices may require certain types of materials to be used so that the desired optical wavelengths may be detected. MEMS and sensor packages can be further differentiated into mold type, air type with leadframe/organic substrate/ceramic substrate and metal/plastic packages and wafer-level packaging, providing comprehensive solutions for sensor and device protection according to the type of application and the commercial/reliability requirements.
                </p>
                <div class="col-xs-12 col-sm-4">
                    <div class="col-xs-10 col-sm-12 nopadding"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/pic_sensor-hub.png"></div>
                    <div class="clearfix"></div>
                    <p>Integrated sensor hub/sensor fusion<a href="javascript:" data-toggle="popover" data-trigger="hover" data-content="Multiple types of sensors working together to solve a problem" data-placement="top" data-original-title="" title="">*</a> has become more and more important in the latest cellphones and wearable devices.</p>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="col-xs-8 col-sm-12 nopadding"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/pic_qfn-sensor.png"></div>
                    <div class="clearfix"></div>
                    <p>QFN metal oxide gas sensor</p>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="col-xs-8 col-sm-12 nopadding"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/pic_lga-sensor.png"></div>
                    <div class="clearfix"></div>
                    <p>LGA metal oxide gas sensor</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </section>
    <section class="inside-article">
        <div class="content-lg row">
            <article class="col-xs-12">
                <p>&nbsp;</p>
                <h4 class="sub-title">Advantages of MEMS and Sensors Packaging</h4>
                <p>
                    The integration of MEMS sensors in chips are used in a diverse array of industries including automotive, consumer and industrial applications. MEMS and Sensor packaging offer advantages such as modularity, high flexibility and reasonably low fabrication complexity with integration of the integrated circuit and micromechanical components. Compared with conventional packaging processes, MEMS and sensor packaging are more application dependent and provide several benefits that include:
                </p>
                <div class="col-xs-12 col-sm-6 nopadding">
                    <strong>Support optically compatible material</strong>
                    <ul class="nopadding">
                        <li>Clear molding/encapsulation</li>
                        <li>Customized dyed encapsulant</li>
                        <li>Filter coating</li>
                        <li>Silicon or plastic lens and Microlens array</li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-6 nopadding">
                    <strong>Improve sensor function</strong>
                    <ul class="nopadding">
                        <li>Optical simulation</li>
                        <li>Hermetic sealing</li>
                        <li>Dedicated assembly methodology</li>
                    </ul>
                </div>
                <div class="clearfix" style="margin-bottom: 10px;"></div>
            </article>
        </div>
    </section>
    <section class="csr-bg">
        <div class="content-lg row">
            <div class="col-xs-12">
                <h4 class="sub-title">ASE MEMS and Sensors Packaging Offerings</h4>
                <p>
                    ASE offers a variety of sensor packaging solutions that leverage upon an established database of material properties and assembly experience to address dedicated sensor requirements of different microelectronic, optoelectronic, RF, biomedical device, sensor, actuator and microsystem applications.
                </p>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-4">
                <div class="technology-box">
                    <h4 class="sub-title">OCQFN</h4>
                    <strong>Pressure Sensor</strong>
                    <ul class="nopadding">
                        <li>Pkg~ 7x7</li>
                        <li>MEMS(accelerometer & pressure), MCU integration</li>
                        <li>Since 2014</li>
                    </ul>
                    <strong>OCQFN (Open Cavity Quad Flat No-lead):</strong>
                    <ul class="nopadding">
                        <li>Cost-efficient and mature packaging</li>
                        <li>Also suitable for gas sensor, emitter/receiver</li>
                    </ul>
                    <div class="col-xs-8 col-xs-offset-2 col-sm-12 col-sm-offset-0 nopadding">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/pic_ocqfn.png" class="img-responsive center-block">
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="technology-box">
                    <h4 class="sub-title">OQFN</h4>
                    <strong>Ambient Light Sensor</strong>
                    <ul class="nopadding">
                        <li>Pkg~ 2x2</li>
                        <li>Support consumer, automotive application</li>
                        <li>Since 2016</li>
                    </ul>
                    <strong>OQFN (Optical Quad Flat No-lead):</strong>
                    <ul class="nopadding">
                        <li>Transparent molding compound is available</li>
                        <li>Also suitable for gesture sensor, emitter/receive</li>
                    </ul>
                    <div class="col-xs-8 col-xs-offset-2 col-sm-12 col-sm-offset-0 nopadding">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/pic_oqfn.png" class="img-responsive center-block">
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="technology-box">
                    <h4 class="sub-title">CoW</h4>
                    <strong>Timing</strong>
                    <ul class="nopadding">
                        <li>Pkg~ 1.5x1</li>
                        <li>MEMS oscillator</li>
                        <li>Since 2017</li>
                    </ul>
                    <strong>CoW (Chip on Wafer):</strong>
                    <ul class="nopadding">
                        <li>WLCSP</li>
                        <li>Also suitable for silicon photonics, imaging sensor</li>
                    </ul>
                    <div class="col-xs-8 col-xs-offset-2 col-sm-12 col-sm-offset-0 nopadding">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/pic_cow.png" class="img-responsive center-block">
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-4">
                <div class="technology-box">
                    <h4 class="sub-title">OLGA</h4>
                    <strong>Proximity Sensor</strong>
                    <ul class="nopadding">
                        <li>Pkg~ 2.5x1.5</li>
                        <li>ALS, color, gesture integration</li>
                        <li>Since 2015</li>
                    </ul>
                    <strong>OLGA (Optical Land Grid Array):</strong>
                    <ul class="nopadding">
                        <li>Assembly of proprietary plastic panel</li>
                        <li>Clear molding</li>
                        <li>Customized molding lens</li>
                        <li>Also suitable for bio sensor, ToF<a href="javascript:" data-toggle="popover" data-trigger="hover" data-content="time-of-flight" data-placement="bottom" data-original-title="" title="">*</a> sensor, imaging sensor</li>
                    </ul>
                    <div class="col-xs-8 col-xs-offset-2 col-sm-12 col-sm-offset-0 nopadding">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/pic_olga-.png" class="img-responsive center-block">
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="technology-box">
                    <h4 class="sub-title">PMQFN</h4>
                    <strong>RFIC</strong>
                    <ul class="nopadding">
                        <li>Pkg~ 5x5</li>
                        <li>Molded fence with cover</li>
                        <li>Automotive grade reliability</li>
                        <li>Since 2015</li>
                    </ul>
                    <strong>PMQFN (Pre-mold Quad Flat No-lead):</strong>
                    <ul class="nopadding">
                        <li>Semi-hermetic</li>
                        <li>Also suitable for illuminator capable of fall-off detection, LiDAR receiver, emitter</li>
                        <li style="list-style-type: none;" class="hide-in-small">&nbsp;</li>
                    </ul>
                    <div class="col-xs-8 col-xs-offset-2 col-sm-12 col-sm-offset-0 nopadding">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/pic_pmqfn.png" class="img-responsive center-block">
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="technology-box">
                    <h4 class="sub-title">iLGA</h4>
                    <strong>Fingerprint Sensor</strong>
                    <ul class="nopadding">
                        <li>Pkg~ 16x6</li>
                        <li>Collimator integration</li>
                        <li>Dispensed/Molded encapsulant</li>
                        <li>Since 2016</li>
                    </ul>
                    <strong>iLGA (image Land Grid Array):</strong>
                    <ul class="nopadding">
                        <li>Wafer-level collimator/lens</li>
                        <li>Strip-level filter coating</li>
                        <li>Also suitable for LiDAR imaging,<br />CMOS image sensor</li>
                    </ul>
                    <div class="col-xs-8 col-xs-offset-2 col-sm-12 col-sm-offset-0 nopadding">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/pic_ilga.png" class="img-responsive center-block">
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-xs-12">
                <h4><a href="javascript:" id="bt-LiDAR"><i class="icon-arrow-right" style="font-size:14px;"></i> LiDAR Receiver Packaging Offerings</a></h4>
                <div class="col-xs-12 nopadding" id="LiDAR" style="background-color: #ffffff; padding: 20px 0 0 0; border-radius: 5px; margin-bottom: 20px;">
                    <p class="col-xs-12">
                        ASE offers advanced sensor solutions for the automotive industry, in particular the application of LiDAR (light detection and ranging) remote sensing technology in autonomous vehicles. LiDAR sensors measure distances and scan the environment with a high level of accuracy. Conventional LiDAR sensors can send out infrared light, and measure the time it takes for the light to bounce off an object and back to the sensor, creating a three-dimensional map. In addition to the spatial coordinates (distance), advanced LiDAR such as Frequency Modulated Continuous Wave (FMCW) LiDAR can further determine the reflectivity<a href="javascript:" data-toggle="popover" data-trigger="hover" data-content="LiDAR reflectivity is based, in part, on the reflectivity of the object struck by the laser pulse. The strength of the returns varies with the composition of the surface object reflecting the return." data-placement="bottom" data-original-title="" title="">*</a> and speed of the object (5D). The 3D or 5D maps provide information that allows autonomous vehicles to react promptly and take preventive measures in different traffic scenarios. Our packaging solutions support mechanically spinning LiDAR or solid-state LiDAR using avalanche photodiode (APD), single photon avalanche photodiode (SPAD) or silicon photomultiplier (SiPM).
                    </p>
                    <div class="col-sm-4">
                        <div class="technology-box">
                            <h4 class="sub-title">CoW LGA</h4>
                            <p>CoW for compound semiconductor & CMOS ROIC integration, spacer for interference immune, glass sealing process, bandpass filter on glass, wire coating</p>
                            <div class="col-xs-8 col-xs-offset-2 col-sm-12 col-sm-offset-0 nopadding">
                                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/pic_cow-lga.png" class="img-responsive center-block">
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="technology-box">
                            <h4 class="sub-title">QFN</h4>
                            <p>Pre-mold flat lead-frame, plastic lid with glass cover, semi-hermetic sealing<br /><br /></p>
                            <div class="col-xs-8 col-xs-offset-2 col-sm-12 col-sm-offset-0 nopadding">
                                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/pic_qfn.png" class="img-responsive center-block">
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="technology-box">
                            <h4 class="sub-title">OLGA</h4>
                            <p>CoW for compound semiconductor & CMOS ROIC integration, double plastic lid for particle resistance, bandpass filter on glass</p>
                            <div class="col-xs-8 col-xs-offset-2 col-sm-12 col-sm-offset-0 nopadding">
                                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/pic_olga.png" class="img-responsive center-block">
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="inside-article">
        <div class="content-lg row">
            <article class="col-xs-12">
                <p>&nbsp;</p>
                <h4 class="sub-title">Key Growth for MEMS and Sensors Applications</h4>
                <div class="clearfix"></div>
            </article>
            <article class="col-xs-12">
                <div class="flex-mems">
                    <div class="mems-item">
                        <h4 class="text-center" style="background-color: #2F8AC6; color: #ffffff; padding: 10px; margin: 0;">Mobile/Consumer</h4>
                        <div style="background-color: #EEEEEE; padding: 20px;">
                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/pic-mobile-consumer.jpg" class="img-responsive center-block">
                            <p>&nbsp;</p>
                            <ul class="nopadding" style="vertical-align: top;">
                                <li>Smartphone</li>
                                <li>Wearable device</li>
                                <li>AR/VR/MR</li>
                                <li>Medical & Biometrics</li>
                            </ul>
                        </div>
                    </div>
                    <div class="mems-item">
                        <h4 class="text-center" style="background-color: #2F8AC6; color: #ffffff; padding: 10px; margin: 0;">Industrial/Automotive</h4>
                        <div style="background-color: #EEEEEE; padding: 20px;">
                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/pic-industrial-automotive.jpg" class="img-responsive center-block">
                            <p>&nbsp;</p>
                            <ul class="nopadding" style="vertical-align: top;">
                                <li>Automotive</li>
                                <li>ADAS & Autonomous system</li>
                                <li>Robotics & Automation</li>
                                <li>Industry 4.0</li>
                            </ul>
                        </div>
                    </div>
                    <div class="mems-item">
                        <h4 class="text-center" style="background-color: #2F8AC6; color: #ffffff; padding: 10px; margin: 0;">Communication</h4>
                        <div style="background-color: #EEEEEE; padding: 20px;">
                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/pic-communication.jpg" class="img-responsive center-block">
                            <p>&nbsp;</p>
                            <ul class="nopadding" style="vertical-align: top;">
                                <li>High Performance Computing</li>
                                <li>5G/IoT/Environmental hubs</li>
                                <li>Artificial Intelligence & Machine Learning</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </article>
        </div>
    </section>

    <style>
        .flex-mems{
          display: flex;
          flex-wrap: wrap;
        }
        .mems-item {
          background-color: #EEEEEE;
          flex: 32%;
          margin: 2px;
        }
        @@media (max-width: 768px) {
          .mems-item {
            flex: 100%;
          }
        }
    </style>
    <br>
	<section class="inside-article">
		<div class="content-lg row">
			<div class=" col-md-12 tech-cont-link">
			<a class="phone" href="@Url.Action("plants_offices", "About", new { lang = ViewBag.language.lang })"><span class="glyphicon glyphicon-earphone"></span>  Contact for enquiries </a>
			</div>
		</div>
	</section>

	<br><br>
<section class="inside-article">
		<div class="content-lg row">

			<div class="col-xs-12">
				<div class="technology-bottom-flex">
					<div class="technology-bottom"><a class="" href="@Url.Action("advanced_25DIC", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-10.png"><br>2.5D & 3D</a></div>
					<div class="technology-bottom"><a class="" href="@Url.Action("fan_out", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-01.png"><br>Fan Out</a></div>
					<div class="technology-bottom"><a class="" href="@Url.Action("sip_module", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-02.png"><br>System-in-Package</a></div>
					<div class="technology-bottom opacity-50"><a class="" href="@Url.Action("mems_sensors", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-08.png"><br>MEMS &amp; Sensors</a></div>
					<div class="technology-bottom"><a class="" href="@Url.Action("embedded_die", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-09.png"><br>Embedded Die Substrate</a></div>
				</div>
			</div>
			<!-- technolog carousel -->
			<div class="row">
			<div class="col-xs-12">
				<div class="container technology-carousel">
					<div class='row'>
						<div class='col-xs-12'>
							<div class="carousel slide media-carousel" id="media">
								<!-- Indicators -->
								<ol class="carousel-indicators">
									<li data-target="#media" data-slide-to="0" class="active"></li>
									<li data-target="#media" data-slide-to="1"></li>
								</ol>
								<div class="carousel-inner">
									<div class="item active">
										<div class="row">
											<div class="col-xs-4">
												<a class="" href="@Url.Action("advanced_25DIC", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-10.png"><br>2.5D & 3D</a>
											</div>
											<div class="col-xs-4">
												<a class="" href="@Url.Action("fan_out", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-01.png"><br>Fan Out</a>
											</div>
											<div class="col-xs-4">
												<a class="" href="@Url.Action("sip_module", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-02.png"><br>System-in-Package</a>
											</div>
										</div>
									</div>
									<div class="item">
										<div class="row">
											<div class="col-xs-4">
												<a class="" href="@Url.Action("mems_sensors", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-08.png"><br>MEMS &amp; Sensors</a>
											</div>
											<div class="col-xs-4">
												<a class="" href="@Url.Action("embedded_die", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-09.png"><br>Embedded Die Substrate</a>
											</div>
										</div>
									</div>
								</div>
								<a data-slide="prev" href="#media" class="left carousel-control">‹</a>
								<a data-slide="next" href="#media" class="right carousel-control">›</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
			<!-- end technology carousel -->
		</div>
	</section>
<script type="text/javascript">
  $("#DToS").hide();
  $("#LiDAR").hide();
  $(document).ready(function(){
    $("#bt-DToS").click(function(){
      $("#DToS").toggle(1000);
    });
    $("#bt-LiDAR").click(function(){
      $("#LiDAR").toggle(1000);
    });
  });
</script>