﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
    ViewBag.Title = "System in Package";
    ViewBag.enURL = "/en/technology/sip_module";
    ViewBag.zhURL = "/ch/technology/sip_module";
    ViewBag.webSiteDesc = "Our leadership in SiP enable us to develop cutting-edge AiP solutions for 5G applications.";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-technology">
		<h1 class="page-title title-large">System-in-Package</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/technology/technology_innovation"><span itemprop="name">Advanced Technologies</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/technology/sip_module"><span itemprop="name">System-in-Package </span></a>
					<meta itemprop="position" content="2" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->

	<!-- Technology list -->
	<section class="inside-article">
        <div class="content-lg row csr">
            <article class="col-xs-12">
                <h2 class="title">System-in-Package (SiP)</h2>
                <div class="col-xs-6 col-md-6 col-lg-3"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/sip_module_solutions1.jpg"></div>
                <div class="clearfix"></div>
                <p>&nbsp;</p>
                <p>
                    The drive towards semiconductor miniaturization and integration is rapidly unleashing the power and potential of System-in-Package (SiP), a package or module containing a functional electronic system or sub-system that is integrated and miniaturized through IC assembly technologies. ASE is the leader in System-in-Package (SiP) technologies from design to assembly and high volume manufacturing while serving a broad spectrum of applications and markets. With attributes that deliver higher performance, cost effectiveness, and shorter time to market, SiP technology is enabling functionality and creating opportunity across limitless electronics applications.
                </p>
            </article>
        </div>
    </section>
    <section class="inside-article">
        <div class="content-lg row">
            <article class="col-md-5 text-center" style="float: right; padding-top: 10px;">
                <div class="col-md-12 nopadding">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/mov_sip_module.jpg">
                </div>
                <div style="position:absolute; left:50%; top: 50%; transform: translate(-50%, -50%); z-index:10; border-radius: 10px; background-color: rgba(0, 0, 0, 0.4);">
                    <a class="button videoButton popupVideo" href="https://coms.aseglobal.com/marcom/video/sip-platform" target="_blank"><span style="padding-top: 4px;">Watch&nbsp;More</span><i class="icon-play"></i></a>
                </div>
            </article>
            <div class="col-md-7">
                <h4 class="sub-title">What is System-in-Package (SiP)?</h4>
                <p>
                    ASE defines SiP as a package or module that contains a functional electronic system or subsystem that is integrated and miniaturized through IC assembly technologies. Rather than generic IC packaging technologies, development of SiP requires heterogeneous integration of single or multiple chips (such as a specialized processor, DRAM, flash memory), surface mount device (SMD) resistor/capacitor/inductor, filters, connectors, MEMS device, sensors, other active/passive components and pre-assembled package or subsystem.
                </p>
            </div>
        </div>
    </section>
    <section class="inside-article">
        <div class="content-lg row csr">
            <article class="col-xs-12">
                <h4 class="sub-title">Enabling Technologies</h4>
                <p>
                    ASE’s SiP solutions leverage upon established IC assembly capabilities including copper wiring, flip chip packaging, wafer level packaging, fan-out wafer level packaging, 2.5D/3D IC and embedded chip packaging to address ongoing trends in mobile, IoT (Internet of Things), high performance computing, automotive, and artificial intelligence.
                </p>
            </article>
        </div>
    </section>

    <section class="csr-bg hide-in-small">
        <div class="content-lg row">
            <div class="col-sm-12">
                <div class="technology-box">
                    <div class="col-xs-3 nopadding">
                        <p>
                            <b>Shielding</b><br>
                            • <a class="simple-ajax-popup" href="/public/en/Technology/ajax/SiP_ConformalShielding.html">Conformal Shielding</a><br>
                            • <a class="simple-ajax-popup" href="/public/en/Technology/ajax/SiP_CompartmentShielding.html">Compartment Shielding</a><br>
                            • Selective Shielding<br>
                            • Magnetic shielding
                        </p>
                    </div>
                    <div class="col-xs-3 nopadding">
                        <p>
                            <b>Interconnection</b><br>
                            • Cap Wire Bond<br>
                            • Wire Bond<br>
                            • <a href="//ase.aseglobal.com/en/technology/flip_chip" target="_blank">Flip Chip</a>
                        </p>
                    </div>
                    <div class="col-xs-3 nopadding">
                        <p>
                            <b>Die / Package Stacking</b><br>
                            • <a href="//ase.aseglobal.com/en/technology/advanced_25DIC" target="_blank">2.5D</a><br>
                            • Die Thinning/<a href="https://asekhsite.aseglobal.com/content/2-7-6.html" target="_blank">Stacking</a><br>
                            • <a href="https://asekhsite.aseglobal.com/content/2-7-9.html" target="_blank">Package on Package</a><br>
                            • <a href="https://asekhsite.aseglobal.com/content/2-7-8.html" target="_blank">Package in Package</a>
                        </p>
                    </div>
                    <div class="col-xs-3 nopadding">
                        <p>
                            <b>Antenna</b><br>
                            • <a class="simple-ajax-popup" href="/public/en/Technology/ajax/SiP_AntennaOnPackage.html">Antenna on Package</a><br>
                            • <a href="//ase.aseglobal.com/en/technology/antenna_in_package" target="_blank">Antenna in Package</a>
                        </p>
                    </div>
                    <div class="nopadding">
                        <img src="/pic/public/frontend/images/technology/pic_sip.jpg?1" class="img-responsive">
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-xs-3 nopadding">
                        <p>
                            <b>Encapsulation</b><br>
                            • <a href="//ase.aseglobal.com/en/technology/double-side-molding" target="_blank">Double Side Molding</a><br>
                            • <a class="simple-ajax-popup" href="/public/en/Technology/ajax/SiP_SelectiveMolding.html">Selective Molding</a><br>
                            • <a class="simple-ajax-popup" href="/public/en/Technology/ajax/SiP_FlexibleEncapsulation.html">Flexible Encapsulation</a><br>
                            • Molded Underfill<br>
                            • Irregular Packaging
                        </p>
                    </div>
                    <div class="col-xs-3 nopadding">
                        <p>
                            <b>Wafer Level Package</b><br>
                            • <a href="//ase.aseglobal.com/en/products/assembly_offerings/bumping_solution" target="_blank">Wafer Bumping</a><br>
                            • <a href="//ase.aseglobal.com/en/products/assembly_offerings/bumping_solution" target="_blank">Cu Pillar</a><br>
                            • <a href="//ase.aseglobal.com/en/technology/fan_out" target="_blank">Fan-out WLP</a><br>
                            • <a href="//ase.aseglobal.com/en/products/assembly_offerings/wafer_level_package_solution" target="_blank">Wafer Level IPD</a><br>
                            • <a href="//ase.aseglobal.com/en/technology/mems_sensors" target="_blank">Wafer Level MEMS</a>
                        </p>
                    </div>
                    <div class="col-xs-3 nopadding">
                        <p>
                            <b>Embedded Substrate</b><br>
                            • <a href="//ase.aseglobal.com/en/technology/embedded_die" target="_blank">SESUB</a><br>
                            • <a href="//ase.aseglobal.com/en/technology/embedded_die" target="_blank">a-EASI®</a>
                        </p>
                    </div>
                    <div class="col-xs-3 nopadding">
                        <p>
                            <b>Board Assembly</b><br>
                            • <a class="simple-ajax-popup" href="/public/en/Technology/ajax/SiP_HighDensitySMT.html">High Density SMT</a><br>
                            • ACF Bonding<br>
                            • Wire Bond on Flex<br>
                            • Laser Welding<br>
                            • Flex Bending
                        </p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>

    <section class="csr-bg hide-in-large">
        <div class="content-lg row">
            <div class="col-md-6">
                <div class="technology-box">
                    <h4 class="sub-title">ASE SiP Technologies</h4>
                    <div class="col-xs-6 nopadding">
                        <p>
                            <b>Shielding</b><br>
                            • <a class="simple-ajax-popup" href="/public/en/Technology/ajax/SiP_ConformalShielding.html">Conformal Shielding</a><br>
                            • <a class="simple-ajax-popup" href="/public/en/Technology/ajax/SiP_CompartmentShielding.html">Compartment Shielding</a><br>
                            • Selective Shielding<br>
                            • Magnetic shielding
                        </p>
                    </div>
                    <div class="col-xs-6 nopadding">
                        <p>
                            <b>Antenna</b><br>
                            • <a class="simple-ajax-popup" href="/public/en/Technology/ajax/SiP_AntennaOnPackage.html">Antenna on Package</a><br>
                            • Antenna in Package
                        </p>
                    </div>
                    <div class="clearfix"></div>
                    <div class="nopadding">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/sip-1.jpg?2" class="img-responsive">
                    </div>
                    <div class="col-xs-6 nopadding">
                        <p>
                            <b>Encapsulation</b><br>
                            • <a href="//ase.aseglobal.com/en/technology/double-side-molding" target="_blank">Double Side Molding</a><br>
                            • <a class="simple-ajax-popup" href="/public/en/Technology/ajax/SiP_SelectiveMolding.html">Selective Molding</a><br>
                            • <a class="simple-ajax-popup" href="/public/en/Technology/ajax/SiP_FlexibleEncapsulation.html">Flexible Encapsulation</a><br>
                            • Molded Underfill<br>
                            • Irregular Packaging
                        </p>
                    </div>
                    <div class="col-xs-6 nopadding">
                        <p>
                            <b>Board Assembly</b><br>
                            • <a class="simple-ajax-popup" href="/public/en/Technology/ajax/SiP_HighDensitySMT.html">High Density SMT</a><br>
                            • ACF Bonding<br>
                            • Wire Bond on Flex<br>
                            • Laser Welding<br>
                            • Flex Bending
                        </p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="technology-box">
                    <h4 class="sub-title">ASE SiP Technologies (continued)</h4>
                    <div class="col-xs-6 nopadding">
                        <p>
                            <b>Interconnection</b><br>
                            • Cap Wire Bond<br>
                            • Wire Bond<br>
                            • <a href="//ase.aseglobal.com/en/technology/flip_chip" target="_blank">Flip Chip</a>
                        </p>
                    </div>
                    <div class="col-xs-6 nopadding">
                        <p>
                            <b>Die / Package Stacking</b><br>
                            • <a href="//ase.aseglobal.com/en/technology/advanced_25DIC" target="_blank">2.5D</a><br>
                            • Die Thinning/<a href="https://asekhsite.aseglobal.com/content/2-7-6.html" target="_blank">Stacking</a><br>
                            • <a href="https://asekhsite.aseglobal.com/content/2-7-9.html" target="_blank">Package on Package</a><br>
                            • <a href="https://asekhsite.aseglobal.com/content/2-7-8.html" target="_blank">Package in Package</a>
                        </p>
                    </div>
                    <div class="nopadding">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/sip-2.jpg?2" class="img-responsive">
                    </div>
                    <div class="col-xs-6 nopadding">
                        <p>
                            <b>Wafer Level Package</b><br>
                            • <a href="//ase.aseglobal.com/en/products/assembly_offerings/bumping_solution" target="_blank">Wafer Bumping</a><br>
                            • <a href="//ase.aseglobal.com/en/products/assembly_offerings/bumping_solution" target="_blank">Cu Pillar</a><br>
                            • <a href="//ase.aseglobal.com/en/technology/fan_out" target="_blank">Fan-out WLP</a><br>
                            • <a href="//ase.aseglobal.com/en/products/assembly_offerings/wafer_level_package_solution" target="_blank">Wafer Level IPD</a><br>
                            • <a href="//ase.aseglobal.com/en/technology/mems_sensors" target="_blank">Wafer Level MEMS</a>
                        </p>
                    </div>
                    <div class="col-xs-6 nopadding">
                        <p>
                            <b>Embedded Substrate</b><br>
                            • <a href="//ase.aseglobal.com/en/technology/embedded_die" target="_blank">SESUB</a><br>
                            • <a href="//ase.aseglobal.com/en/technology/embedded_die" target="_blank">a-EASI®</a>
                        </p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>

    <section class="inside-article">
        <div class="content-lg row">
            <article class="col-xs-12">
                <p>&nbsp;</p>
                <h4 class="sub-title">Turnkey Solution</h4>
                <p>
                    ASE offers customers complete SiP manufacturing capability including system design, software development, module testing and electrical heat transfer simulation technology to enable smaller, higher performance, lower power consumption and more cost effective end products.
                </p>
                <div class="col-md-4 nopadding">
                    <p>
                        <b>System Co-Design</b><br>
                        • SiP Electronic Design Automation (EDA) solution<br>
                        • RF Circuit design<br>
                        • Antenna Design<br>
                        • Shielding Solution<br>
                        • Substrate Layout design
                    </p>
                </div>
                <div class="col-md-4 nopadding">
                    <p>
                        <b>Packaging Consultancy</b><br>
                        • Package selection &amp; configuration<br>
                        • Design rule guideline<br>
                        • Process capability<br>
                        • Reliability verification
                    </p>
                </div>
                <div class="col-md-4 nopadding">
                    <p>
                        <b>System Test Consultancy</b><br>
                        • RF Wafer probing<br>
                        • RF ATE Platform<br>
                        • EVB design &amp; fabrication<br>
                        • Testing tooling design<br>
                        • Final test solution development
                    </p>
                </div>
                <div class="clearfix"></div>
                <p><b>System-in-Package Intelligent Design (SiP-id®)</b></p>
                <p>
                    SiP-id® stands for System-in-Package – Intelligent Design. The solution consists of an enhanced reference flow that includes IC packaging and verification tools from Cadence, and a new methodology that aggregates the requirements of wafer-, package- and system-level design into a unified and automated flow. By deploying the SiP-id® methodology, chip designers can reduce design iterations and greatly improve throughput as compared to existing advanced packaging EDA tools. The end result is a vast reduction in the time needed to design and verify ultra-complex SiP packages.
                </p>
                <p>
                    It is our intention to offer all ASE customers a set of efficient tools where designers can freely experiment with designs which can go beyond the current packaging limits. This set of design tools are available to eligible customers immediately. However, some of the proprietary libraries and design rules will be subject to an agreement with ASE. It is our belief that IoT, AI, VR, AR, EV and all future applications will demand more SiPs and modules. This is an ongoing effort by ASE, not only to develop fanout (such as Fan-Out Chip on Substrate, FOCoS), panel fanout, embedded substrates, 2.5D, but also to making design tools more user friendly, up-to-date and efficient.
                </p>
                <p>
                    What is required to start a package design with SiP-id®, DRC deck is required for fan-out design and 3D DRC deck, for SiP design. The customer can engage our in-house engineering to begin the process.
                </p>
                <div class="col-xs-12 pc"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/sipid.png"></div>
                <div class="col-xs-12 mobile" style="width: 100% !important"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/sipid_m.png"></div>
                <p>&nbsp;</p>
            </article>
        </div>
    </section>
    <section class="inside-article">
        <div class="content-lg row">
            <article class="col-xs-12">
                <h4 class="sub-title">System-in-Package Applications</h4>
                <p>
                    SiP solutions are highly adopted by end customers for applications including wireless communication, computer storage, power and sensor. In addition, ASE SiP solutions enable a wide range of smart applications including <a href="//ase.aseglobal.com/en/Solution/smart_living" target="_blank">smart living</a>, <a href="//ase.aseglobal.com/en/Solution/smart_bike" target="_blank">smart bike</a>, <a href="//ase.aseglobal.com/en/Solution/smart_city" target="_blank">smart city</a>, <a href="//ase.aseglobal.com/en/Solution/smart_automotive" target="_blank">smart automotive</a> and <a href="//ase.aseglobal.com/en/sip-enabling-smart-hearable-applications" target="_blank">smart hearables</a>. Advanced SMT, encapsulation, shielding as well as interconnection assembly technologies are developed to meet future requirement arised from 5G communication, AR/VR sensing, and health caring applications.
                </p>
            </article>
            <article class="col-xs-12">
                <div class="col-xs-3 col-sm-4 col-md-4 bt_wireless-sip-module technology-tab-active">Wireless SiP Module</div>
                <div class="col-xs-5 col-sm-4 col-md-4 bt_computing-storage-sip-module technology-tab-inactive">Computing Storage SiP Module</div>
                <div class="col-xs-4 col-sm-4 col-md-4 bt_sensor-optical-sip-module technology-tab-inactive">Sensor &amp; Optical SiP Module</div>
                <div class="clearfix"></div>
                <div class="col-xs-12 wireless-sip-module">
                    <h3>BT/BLE+MCU SiP Module</h3>
                    <div class="col-xs-4 col-sm-4 nopadding"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/products/ble_mcu.png" class="col-xs-12 col-sm-10 nopadding"></div>
                    <div class="col-xs-8 col-sm-4">
                        <h4>Applications</h4>
                        <ul class="nopadding">
                            <li>Remote Control</li>
                            <li>Health, Fitness and Medical Devices</li>
                            <li>Home Automation, Energy</li>
                        </ul>
                    </div>
                    <div class="col-xs-8 col-xs-offset-4 col-sm-4 col-sm-offset-0">
                        <h4>Features</h4>
                        <ul class="nopadding">
                            <li>2.4 GHz BLE transceiver</li>
                            <li>ARM<sup>®</sup>sup&gt; Cortex – M0 32 bit processor</li>
                            <li>256 kb embedded flash program memory</li>
                            <li>16 kb RAM</li>
                            <li>Dimension: 6.5x6.5x1.2mm</li>
                            <li>Package: AoP, LGA</li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <p>&nbsp;</p>

                    <h3>WLAN+MCU SiP Module</h3>
                    <div class="col-xs-4 col-sm-4 nopadding"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/products/wlan_mcu.png" class="col-xs-6 col-sm-5 nopadding"></div>
                    <div class="col-xs-8 col-sm-4">
                        <h4>Applications</h4>
                        <ul class="nopadding">
                            <li>IoT</li>
                            <li>Smart Home</li>
                            <li>Security</li>
                            <li>Energy Harvesting</li>
                        </ul>
                    </div>
                    <div class="col-xs-8 col-xs-offset-4 col-sm-4 col-sm-offset-0">
                        <h4>Features</h4>
                        <ul class="nopadding">
                            <li>Dimension: LGA 11x11mm²</li>
                            <li>Structure: FC+W/B</li>
                            <li>WiFi 11b/g + 32bit MCU (50MHz)</li>
                            <li>128kb flash + 512kb EEPROM</li>
                            <li>Protection: molding, conformal shielding</li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <p>&nbsp;</p>

                    <h3>LoRa/SigFox/NB-IoT SiP Module</h3>
                    <div class="col-xs-4 col-sm-4 nopadding"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/products/lora_mcu.png" class="col-xs-6 col-sm-5 nopadding"></div>
                    <div class="col-xs-8 col-sm-4">
                        <h4>Applications</h4>
                        <ul class="nopadding">
                            <li>Wireless Alarm and Security Systems</li>
                            <li>Internet of Things (IoT)</li>
                            <li>Smart City</li>
                        </ul>
                    </div>
                    <div class="col-xs-8 col-xs-offset-4 col-sm-4 col-sm-offset-0">
                        <h4>Features</h4>
                        <ul class="nopadding">
                            <li>SX1276 transceiver</li>
                            <li>Intel 32MHz Quark MCU</li>
                            <li>DSP for sensor subsystem</li>
                            <li>Worldwide LoRa ISM band embedded</li>
                            <li>384 kb of on-die NVM+8 kb OTP on-die NVM</li>
                            <li>80kb of on-die SRAM</li>
                            <li>Dimension: 12x12x1.3mm</li>
                            <li>Package: Conformal shielding, WLCSP</li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <p>&nbsp;</p>
                </div>

                <div class="col-xs-12 computing-storage-sip-module">
                    <h3>SSD SiP Module</h3>
                    <div class="col-xs-4 col-sm-4 nopadding"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/products/SiP_SSD.png" class="col-xs-10 col-sm-8 nopadding"></div>
                    <div class="col-xs-8 col-sm-4">
                        <h4>Applications</h4>
                        <ul class="nopadding">
                            <li>Notebook</li>
                            <li>Tablet</li>
                        </ul>
                    </div>
                    <div class="col-xs-8 col-xs-offset-4 col-sm-4 col-sm-offset-0">
                        <h4>Features</h4>
                        <ul class="nopadding">
                            <li>Dimension: 22x42x1.8mm</li>
                            <li>Structure: Double sided structure in single sided NGFF card thickness</li>
                            <li>Protection: Molding</li>
                            <li>Capacity: NAND flash, 120GB/240 GB</li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <p>&nbsp;</p>
                </div>

                <div class="col-xs-12 sensor-optical-sip-module">
                    <h3>Sensor SiP Module</h3>
                    <div class="col-xs-4 col-sm-4 nopadding"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/products/Sensor-Sip.png" class="col-xs-12 col-sm-8 nopadding"></div>
                    <div class="col-xs-8 col-sm-4">
                        <h4>Applications</h4>
                        <ul class="nopadding">
                            <li>Physiological Signal Sensing</li>
                        </ul>
                    </div>
                    <div class="col-xs-8 col-xs-offset-4 col-sm-4 col-sm-offset-0">
                        <h4>Features</h4>
                        <ul class="nopadding">
                            <li>Structure: Optical molding + EDS</li>
                            <li>LED x 3pcs + photo-die x 1pcs W/B</li>
                            <li>EDF: 2L embedded-die substrate</li>
                            <li>Dimension: LGA 5.5x4.2mm²</li>
                            <li>Protection: Molding with clean CPD</li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <p>&nbsp;</p>

                    <h3>Optical SiP Module</h3>
                    <div class="col-xs-4 col-sm-4 nopadding"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/products/Optical-Sensing-SiP.png" class="col-xs-12 col-sm-8 nopadding"></div>
                    <div class="col-xs-8 col-sm-4">
                        <h4>Applications</h4>
                        <ul class="nopadding">
                            <li>Heart Rate Monitoring &amp; Heart Rate Variability, SpO2, Skin Temperature, Blood Pressure</li>
                            <li>Handset, Wearables &amp; Fitness</li>
                        </ul>
                    </div>
                    <div class="col-xs-8 col-xs-offset-4 col-sm-4 col-sm-offset-0">
                        <h4>Features</h4>
                        <ul class="nopadding">
                            <li>Integrated ARM-Cortex M4 MCU</li>
                            <li>Integrated 24bits AFE (Analog front-end) for optical sensing</li>
                            <li>Optical photo sensor with Red &amp; IR &amp; Green LED</li>
                            <li>Embedded motion cancellation algorithm &amp;skin variation</li>
                            <li>Embedded die substrate: SESUB</li>
                            <li>Micro LENs molding, double molding</li>
                            <li>Lid open-cavity capping</li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <p>&nbsp;</p>

                    <h3>Environment Sensor SiP Module</h3>
                    <div class="col-xs-4 col-sm-4 nopadding"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/products/environment_sensor.png" class="col-xs-12 col-sm-8 nopadding"></div>
                    <div class="col-xs-8 col-sm-4">
                        <h4>Applications</h4>
                        <ul class="nopadding">
                            <li>Handset, Wearables, IoT</li>
                            <li>Smart Home &amp; Building</li>
                            <li>Automotive, Industry</li>
                        </ul>
                    </div>
                    <div class="col-xs-8 col-xs-offset-4 col-sm-4 col-sm-offset-0">
                        <h4>Features</h4>
                        <ul class="nopadding">
                            <li>All-in-one SiP: Bluetooth v4.2 (BLE), ARM Cortex – M0 MCU</li>
                            <li>Temperature/Humidity/Pressure sensing</li>
                            <li>Package: open cavity WL SiP, TSV</li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <p>&nbsp;</p>

                    <h3>Ambient Light/UV Sensor SiP Module</h3>
                    <div class="col-xs-4 col-sm-4 nopadding"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/products/uv_sensor.png" class="col-xs-8 col-sm-5 nopadding"></div>
                    <div class="col-xs-8 col-sm-4">
                        <h4>Applications</h4>
                        <ul class="nopadding">
                            <li>Environment</li>
                            <li>Smart Home &amp; Building</li>
                        </ul>
                    </div>
                    <div class="col-xs-8 col-xs-offset-4 col-sm-4 col-sm-offset-0">
                        <h4>Features</h4>
                        <ul class="nopadding">
                            <li>All-in-one SiP: Bluetooth v4.2 (BLE), ARM Cortex – M0 MCU</li>
                            <li>High resolution ADC for lighting channel (green/white/UV/IR)</li>
                            <li>Excellent UV sensibility</li>
                            <li>UV/ALS software for UV level &amp; lighting control</li>
                            <li>Package: FOCSP, Micro LENs molding</li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <p>&nbsp;</p>

                    <h3>Motion Sensor SiP Module</h3>
                    <div class="col-xs-4 col-sm-4 nopadding"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/products/motion_sensor.png" class="col-xs-12 col-sm-8 nopadding"></div>
                    <div class="col-xs-8 col-sm-4">
                        <h4>Applications</h4>
                        <ul class="nopadding">
                            <li>Wearables, Fitness</li>
                            <li>Smart Home &amp; Building</li>
                            <li>Industry</li>
                        </ul>
                    </div>
                    <div class="col-xs-8 col-xs-offset-4 col-sm-4 col-sm-offset-0">
                        <h4>Features</h4>
                        <ul class="nopadding">
                            <li>All-in-one SiP: Bluetooth v4.2 (BLE), ARM Cortex – M0 MCU</li>
                            <li>3-axis acceleration sensor (range: 16G)</li>
                            <li>Embedded motion software for security detection</li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <p>&nbsp;</p>

                    <h3>Gas Sensor SiP Module</h3>
                    <div class="col-xs-4 col-sm-4 nopadding"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/products/gas_sensor.png" class="col-xs-8 col-sm-5 nopadding"></div>
                    <div class="col-xs-8 col-sm-4">
                        <h4>Applications</h4>
                        <ul class="nopadding">
                            <li>IAQ Monitoring for Smartphones, Accessories and Connected Home Devices</li>
                            <li>Alcohol Breathalyzer in Consumer Devices</li>
                            <li>Smart City</li>
                        </ul>
                    </div>
                    <div class="col-xs-8 col-xs-offset-4 col-sm-4 col-sm-offset-0">
                        <h4>Features</h4>
                        <ul class="nopadding">
                            <li>Air quality sensor<br>
                                CO<sub>2</sub> (eCO<sub>2</sub>): from 400ppm TO 5000oom<br>
                                TVOC (the total volatile organic compound): from 0ppb to 1000ppb<br>
                                Dimension: 4x2.7x1.1mm</li>
                            <li>Temperature/Humidity/Pressure sensing</li>
                            <li>Package: Open cavity WL SiP, TSV</li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <p>&nbsp;</p>

                    <h3>Gesture Sensor SiP Module</h3>
                    <div class="col-xs-4 col-sm-4 nopadding"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/products/gesture.png" class="col-xs-8 col-sm-5 nopadding"></div>
                    <div class="col-xs-8 col-sm-4">
                        <h4>Applications</h4>
                        <ul class="nopadding">
                            <li>Handset, Wearables, IoT</li>
                            <li>Smart Home &amp; Building, Hospital</li>
                            <li>Automotive</li>
                        </ul>
                    </div>
                    <div class="col-xs-8 col-xs-offset-4 col-sm-4 col-sm-offset-0">
                        <h4>Features</h4>
                        <ul class="nopadding">
                            <li>All-in-one SiP: Bluetooth v4.2 (BLE), ARM Cortex – M0 MCU</li>
                            <li>R transmitter/receiver</li>
                            <li>Embedded gesture software for application control</li>
                            <li>Package: MEMS, TSV, Optical, IR sensing, cavity, selective molding</li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <p>&nbsp;</p>

                    <h3>Magnetic/IR Sensor SiP Module</h3>
                    <div class="col-xs-4 col-sm-4 nopadding"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/products/magnetic_ir_sensor.png" class="col-xs-12 col-sm-8 nopadding"></div>
                    <div class="col-xs-8 col-sm-4">
                        <h4>Applications</h4>
                        <b>Magnetic sensor</b>
                        <ul class="nopadding">
                            <li>Magnetic Temper Detection</li>
                        </ul>
                        <b>IR sensor</b>
                        <ul class="nopadding">
                            <li>Stationary Human Detection</li>
                            <li>Sunlight &amp; Motion Detection</li>
                        </ul>
                    </div>
                    <div class="col-xs-8 col-xs-offset-4 col-sm-4 col-sm-offset-0">
                        <h4>Features</h4>
                        <b>Magnetic sensor</b>
                        <ul class="nopadding">
                            <li>16 bit data out for each magnetic component</li>
                            <li>Dimension: 3.0x3.0x0.75mm</li>
                            <li>Package: MEMS, TSV</li>
                        </ul>
                        <b>IR sensor</b>
                        <ul class="nopadding">
                            <li>Quantum-type with four IR elements</li>
                            <li>Dimension: 4.6x3.8x1.9mm</li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <p>&nbsp;</p>
                </div>
            </article>
        </div>
    </section>
    <section class="inside-article">
        <div class="content-lg row csr">
            <div class=" col-md-12 tech-cont-link"><br>
            <a class="phone" href="/en/about/plants_offices"><span class="glyphicon glyphicon-earphone"></span>  Contact for enquiries </a>
            </div>
        </div>
    </section>


	<!-- start of bottom technology icons -->
	<section class="inside-article">
		<div class="content-lg row">

			<div class="col-xs-12">
				<div class="technology-bottom-flex">
					<div class="technology-bottom"><a class="" href="@Url.Action("advanced_25DIC", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-10.png"><br>2.5D & 3D</a></div>
					<div class="technology-bottom"><a class="" href="@Url.Action("fan_out", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-01.png"><br>Fan Out</a></div>
					<div class="technology-bottom opacity-50"><a class="" href="@Url.Action("sip_module", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-02.png"><br>System-in-Package</a></div>
					<div class="technology-bottom"><a class="" href="@Url.Action("mems_sensors", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-08.png"><br>MEMS &amp; Sensors</a></div>
					<div class="technology-bottom"><a class="" href="@Url.Action("embedded_die", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-09.png"><br>Embedded Die Technology</a></div>
				</div>
			</div>
			<!-- technolog carousel -->
			<div class="row">
			<div class="col-xs-12">
				<div class="container technology-carousel">
					<div class='row'>
						<div class='col-xs-12'>
							<div class="carousel slide media-carousel" id="media">
								<!-- Indicators -->
								<ol class="carousel-indicators">
									<li data-target="#media" data-slide-to="0" class="active"></li>
									<li data-target="#media" data-slide-to="1"></li>
								</ol>
								<div class="carousel-inner">
									<div class="item active">
										<div class="row">
											<div class="col-xs-4">
												<a class="" href="@Url.Action("advanced_25DIC", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-10.png"><br>2.5D & 3D</a>
											</div>
											<div class="col-xs-4">
												<a class="" href="@Url.Action("fan_out", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-01.png"><br>Fan Out</a>
											</div>
                                            <div class="col-xs-4">
                                                <a class="" href="@Url.Action("sip_module", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-02.png"><br>System-in-Package</a>
                                            </div>
										</div>
									</div>
									<div class="item">
										<div class="row">
                                            <div class="col-xs-4">
                                                <a class="" href="@Url.Action("mems_sensors", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-08.png"><br>MEMS &amp; Sensors</a>
                                            </div>
                                            <div class="col-xs-4">
                                                <a class="" href="@Url.Action("embedded_die", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-09.png"><br>Embedded Die Technology</a>
                                            </div>
										</div>
									</div>
								</div>
								<a data-slide="prev" href="#media" class="left carousel-control">‹</a>
								<a data-slide="next" href="#media" class="right carousel-control">›</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
			<!-- end technology carousel -->
		</div>
	</section>
<script>
    $(document).ready(function() {

        $(".wireless-sip-module").show();
        $(".computing-storage-sip-module").hide();
        $(".sensor-optical-sip-module").hide();

        $('.bt_wireless-sip-module').click(function() {
            $(this).closest(".row").find(".bt_computing-storage-sip-module,.bt_sensor-optical-sip-module").removeClass("technology-tab-active").addClass("technology-tab-inactive");
            $(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
            $(this).closest(".row").find(".computing-storage-sip-module,.sensor-optical-sip-module").hide();
            $(this).closest(".row").find(".wireless-sip-module").fadeIn(1000);
        });
        $('.bt_computing-storage-sip-module').click(function() {
            $(this).closest(".row").find(".bt_wireless-sip-module,.bt_sensor-optical-sip-module").removeClass("technology-tab-active").addClass("technology-tab-inactive");
            $(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
            $(this).closest(".row").find(".wireless-sip-module,.sensor-optical-sip-module").hide();
            $(this).closest(".row").find(".computing-storage-sip-module").fadeIn(1000);
        });
        $('.bt_sensor-optical-sip-module').click(function() {
            $(this).closest(".row").find(".bt_wireless-sip-module,.bt_computing-storage-sip-module").removeClass("technology-tab-active").addClass("technology-tab-inactive");
            $(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
            $(this).closest(".row").find(".wireless-sip-module,.computing-storage-sip-module").hide();
            $(this).closest(".row").find(".sensor-optical-sip-module").fadeIn(1000);
        });
    });
</script>