﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
    ViewBag.Title = "Fan-Out Packaging";
    ViewBag.enURL = "/en/technology/fan_out";
    ViewBag.zhURL = "/ch/technology/fan_out";
    ViewBag.webSiteDesc = "As we move further into the era of system-in-package (SIP) and heterogeneous integration, Fan-Out packaging will become increasingly significant. ASE is evolving Fan-Out packaging platform to meet application demands for smaller form factors and improved electrical and thermal performance.";
    ViewBag.webSiteOgImage = "https://ase.aseglobal.com/pic/public/frontend/images/technology/fan_out-2.png";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-technology">
		<h1 class="page-title title-large">Fan-Out Packaging</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
            <ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
                <!-- Project-B Fix, Apply New Breadcrumb -->
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
                    <meta itemprop="position" content="0" />
                </li>
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <a itemprop="item" href="/en/technology/technology_innovation"><span itemprop="name">Advanced Technologies</span></a>
                    <meta itemprop="position" content="1" />
                </li>
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <a itemprop="item" href="~/en/technology/fan_out"><span itemprop="name">Fan-Out Packaging</span></a>
                    <meta itemprop="position" content="2" />
                </li>
            </ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->

	<!-- Technology list -->
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">Fan-Out Packaging</h3>
                <p>
                    Fan-Out packaging continues to gain prominence within the industry, based on significant technical advantages that have led to its broad commercialization. As we move further into the era of system-in-package (SIP) and heterogeneous integration, Fan-Out packaging will become increasingly significant. ASE is evolving this advanced packaging platform to meet application demands for smaller form factors and improved electrical and thermal performance.
                </p>
                <h4 class="sub-title">What is Fan-Out Packaging?</h4>
                <p>
                    Literally speaking, “Fan-Out” packaging can be defined as any package with connections fanned-out of the chip surface, enabling more external I/Os. Conventional fan-out packages use an epoxy mold compound to fully embed the dies, rather than placing them upon a substrate or interposer. Fan-Out packaging typically involves dicing chips on a silicon wafer, and then very precisely positioning the known-good chips on a thin “reconstituted” or carrier wafer/panel, which is then molded and followed by a redistribution layer (RDL) atop the molded area (chip and fan-out area), and then forming solder balls on top.<br /><br />

                    A popular packaging technique now is to build packages with a standard Fan-Out type RDL, but with dies embedded in materials such as organic laminate or silicon wafer instead of the mold compound. Please refer to “<a href="/en/technology/embedded_die">Embedded die packaging</a>” for more details.<br /><br />

                    Fan-Out is a wafer-level packaging (WLP) technology. It is essentially a true chip-scale packaging (CSP) technology since the resulting package is roughly the same size as the die itself. When dealing with shrinking pitch design requirements, Fan-In WLP faces processing challenges as the area available for I/O layout is limited to the die surface. Fan-Out WLP, however, does not have this limitation as the technique allows for the redistribution of I/Os beyond the die surface and onto the over-mold which, in turn supports a thinner package.
                </p>
            </article>
        </div>
    </section>
    <section class="csr-bg">
        <div class="content-lg row">
            <div class="col-md-6">
                <div class="technology-box">
                    <h4 class="sub-title">Fan-In WLP</h4>
                    <p>All RDL traces are routed in towards the center of the die<br><br></p>
                    <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4 col-md-6 col-md-offset-3">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/fan_out-1.png" class="img-responsive center-block">
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="technology-box">
                    <h4 class="sub-title">Fan-Out WLP</h4>
                    <p>RDL traces are routed both inwards and outwards beyond the limits of the die<br><br></p>
                    <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4 col-md-6 col-md-offset-3">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/fan_out-2.png" class="img-responsive center-block">
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="inside-article">
        <div class="content-lg row">
            <article class="col-xs-12">
                <h4 class="sub-title">Features of Fan-Out Packaging</h4>
                <ul class="nopadding">
                    <li>Die Shrinkage: Fan-Out allows ball placement beyond the die area</li>
                    <li>Heterogeneous & Homogeneous Integration: Excellent electrical connectivity</li>
                    <li>System in Package (SiP): Ability to combine multiple dies and components such as MEMS, filters, crystals and passives in a relatively small size package</li>
                </ul>
            </article>
            <div class="col-md-12">
                <h4>Comparative Advantages:</h4>
            </div>
            <div class="col-md-6">
                <div class="technology-box">
                    <h4>vs Flip-Chip Packaging</h4>
                    <ul class="nopadding">
                        <li>Slightly smaller footprint</li>
                        <li>Lower profile</li>
                        <li>Better electrical performance</li>
                        <li>Better thermal performance</li>
                        <li>Substrate-less package</li>
                        <li>SiP and 3D integration advantage</li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="technology-box">
                    <h4>vs Fan-In WLCSP</h4>
                    <ul class="nopadding">
                        <li>Higher board-level reliability</li>
                        <li>Fan-out area to counter the pad limitation issue, adaptable to customer needs</li>
                        <li>The use of known good die (KGD)</li>
                        <li>Better thermal performance</li>
                        <li>Built-in back-side protection</li>
                        <li>No restriction in bump pitch</li>
                        <li>SiP and 3D integration advantage</li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="inside-article">
        <div class="content-lg row">
            <div class="col-md-12">
                <h4 class="sub-title">Fan-Out Structures/Processes</h4>
            </div>
            <article class="col-xs-12 nopadding" style="margin: 10px 0;">
                <div class="col-sm-6">
                    <p>
                        <b>(I) Chip-First:</b> the chips are first embedded in a temporary or permanent material structure, followed by the RDL (Redistribution Layer) forming processes. The Chip-First process provides a lower cost solution suitable for low I/O applications. However, the Chip-First process faces challenges of die shift, die protrusion, wafer warpage and RDL scaling, which limits its usage for complex multi-chip packaging and system-in-package (SiP) with passives integration.
                    </p>
                </div>
                <div class="col-sm-6">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/fan_out-3.jpg" class="img-responsive center-block">
                </div>
                <div class="clearfix"></div>
            </article>
            <article class="col-xs-12 nopadding" style="background-color: #f6f6f6; margin: 10px 0;">
                <div class="col-sm-6" style="margin: 20px 0 10px 0;">
                    <p>
                        <b>(II) Chip-Last:</b> also known as RDL first: the chips are not integrated into the packaging processes until the RDL on the carrier wafer are pre-formed. The Chip-Last process has less KGD (known good dice) yield concerns compared with the Chip-First process. Furthermore, in Chip-Last, molding is conducted after chips are secured on the RDL with flip chip bonds, thereby eliminating die shift, die protrusion and wafer warpage issues during the RDL fabrication, and allows the fabrication of fine pitch RDL on the carrier wafer. Chip-Last has better electrical performance and allows ultra-fine pitch scales e.g. 2um as well as small through-via capabilities.
                    </p>
                </div>
                <div class="col-sm-6" style="margin: 20px 0 10px 0;">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/fan_out-4.jpg?2" class="img-responsive center-block">
                </div>
                <div class="clearfix"></div>
            </article>
            <article class="col-xs-12 nopadding" style="margin: 10px 0;">
                <div class="col-sm-6">
                    <p>
                        <b>(III) Panel FO:</b> Both of the previous mentioned processes utilize the round wafers as the reconstituted carrier for supporting the chips, the RDL and the molding process. By using a rectangular panel as the reconstituted carrier, panel level fan-out (Panel FO) offers the potential for lower production cost due to higher area utilization ratio of the carrier and better economical manufacturing, especially for large packages.
                    </p>
                </div>
                <div class="col-sm-6">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/fan_out-17.jpg?1" class="img-responsive col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3">
                </div>
            </article>
        </div>
    </section>
    <section class="csr-bg">
        <div class="content-lg row">
            <div class="col-md-12">
                <h4 class="sub-title">ASE Fan-Out Package Offerings</h4>
            </div>
            <div class="col-md-4">
                <div class="technology-box" style="min-height: 433px;">
                    <div class="col-xs-6 col-xs-offset-3 nopadding"  style="margin-top: 15px;">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/fan_out-11.png" class="img-responsive center-block">
                    </div>
                    <div class="clearfix" style="margin-bottom: 15px;"></div>
                    <div class="col-md-12 nopadding" style="padding: 2px 0">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/fan_out-5.jpg" class="img-responsive center-block">
                    </div>
                    <div class="clearfix" style="margin-bottom: 15px;"></div>
                    <h4>eWLB</h4>
                    <p>BB, RF, Codec, Car Radar</p>
                    <ul class="nopadding">
                        <li>Pkg ~ 12x12</li>
                        <li>RDL 12/12um</li>
                        <li>2L RDL</li>
                        <li>Since 2009</li>
                    </ul>
                    <p><b>eWLB</b> (embedded wafer-level ball-grid array), also known as ASE <a href="/en/products/assembly_offerings/wafer_level_package_solution">aWLP</a>: Chip-First, Face-Down, licensed from Infineon.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="technology-box" style="min-height: 433px;">
                    <div class="col-xs-6 col-xs-offset-3 nopadding"  style="margin-top: 15px;">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/fan_out-12.png" class="img-responsive center-block">
                    </div>
                    <div class="clearfix" style="margin-bottom: 15px;"></div>
                    <div class="col-md-12 nopadding" style="padding: 8px 0">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/fan_out-6.jpg" class="img-responsive center-block">
                    </div>
                    <div class="clearfix" style="margin-bottom: 15px;"></div>
                    <h4>FOCoS</h4>
                    <p>Networking, Server</p>
                    <ul class="nopadding">
                        <li>Pkg ~ 67x67</li>
                        <li>RDL 2/2um</li>
                        <li>3L RDL</li>
                        <li>Since 2016</li>
                    </ul>
                    <p><b><a href="/public/en/technology/focos.html">FOCoS</a></b> (Fan-Out Chip on Substrate): ASE In-house developed technology.</p>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="technology-box" style="min-height: 433px;">
                    <div class="col-xs-6 col-xs-offset-3 nopadding"  style="margin-top: 15px;">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/fan_out-13.png" class="img-responsive center-block">
                    </div>
                    <div class="clearfix" style="margin-bottom: 15px;"></div>
                    <div class="col-md-12 nopadding">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/fan_out-7.jpg" class="img-responsive center-block">
                    </div>
                    <div class="clearfix" style="margin-bottom: 15px;"></div>
                    <h4>M-Series</h4>
                    <p>RF, BB, PMIC, Codec</p>
                    <ul class="nopadding">
                        <li>Pkg ~ 12x12</li>
                        <li>RDL 8/8um</li>
                        <li>2L RDL</li>
                        <li>Since 2018</li>
                    </ul>
                    <p><b>M-Series:</b> Chip-First, Face-Up, licensed from Deca Technologies.</p>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="technology-box" style="min-height: 433px;">
                    <div class="col-xs-6 col-xs-offset-3 nopadding"  style="margin-top: 15px;">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/fan_out-14.png" class="img-responsive center-block">
                    </div>
                    <div class="clearfix" style="margin-bottom: 15px;"></div>
                    <div class="col-md-12 nopadding">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/fan_out-8.jpg" class="img-responsive center-block">
                    </div>
                    <div class="clearfix" style="margin-bottom: 15px;"></div>
                    <h4>FOPoP</h4>
                    <p>AP & Memory</p>
                    <ul class="nopadding">
                        <li>Pkg ~ 15x15</li>
                        <li>RDL 5/5um</li>
                        <li>3L RDL</li>
                        <li>Since 2016</li>
                    </ul>
                    <p><b>FOPoP</b> (Fan-Out Package on Package)</p>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="technology-box" style="min-height: 433px;">
                    <div class="col-xs-6 col-xs-offset-3 nopadding"  style="margin-top: 15px;">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/fan_out-15.png" class="img-responsive center-block">
                    </div>
                    <div class="clearfix" style="margin-bottom: 15px;"></div>
                    <div class="col-md-12 nopadding" style="padding: 2px 0">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/fan_out-9.jpg" class="img-responsive center-block">
                    </div>
                    <div class="clearfix" style="margin-bottom: 15px;"></div>
                    <h4>FOSiP</h4>
                    <p>RF, FEM, Power, MCU</p>
                    <ul class="nopadding">
                        <li>Pkg ~ 15x15</li>
                        <li>RDL 5/5um</li>
                        <li>5L RDL</li>
                        <li>Since 2017</li>
                    </ul>
                    <p><b>FOSiP</b> (Fan-Out System in Package)</p>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="technology-box" style="min-height: 433px;">
                    <div class="col-xs-6 col-xs-offset-3 nopadding"  style="margin-top: 15px;">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/fan_out-16.png" class="img-responsive center-block">
                    </div>
                    <div class="clearfix" style="margin-bottom: 15px;"></div>
                    <div class="col-md-12 nopadding" style="padding: 2px 0">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/fan_out-10.jpg" class="img-responsive center-block">
                    </div>
                    <div class="clearfix" style="margin-bottom: 15px;"></div>
                    <h4>Panel FO</h4>
                    <p>RF, FEM, Power, Server</p>
                    <ul class="nopadding">
                        <li>Pkg ~ 67x67</li>
                        <li>RDL 2/2um</li>
                        <li>5L RDL</li>
                        <li>Since 2019</li>
                    </ul>
                    <p><b>Panel FO</b> (Panel level Fan-Out): 300 x 300 mm panels for high-density solution (Chip-Last), 600 x 600 mm panels for low-density solution (Chip-First)</p>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="inside-article">
        <div class="content-lg row">
            <article class="col-xs-12">
                <h4 class="sub-title">Fan-Out Packaging Applications</h4>
                <p>
                    Fan-Out packaging is mainly driven by mobile applications, which require high-performace, energy-efficient thin- and small-form-factor packages. Today, fan-out is in high volume applications for a wide variety of products, including PMICs, RF packages, Baseband processors, and high-end networking systems.
                </p>
                <h4>New Fan-Out Opportunities for High Frequency:</h4>
                <p>
                    Automotive Radar (76-81GHz)<br />
                    5G Backhaul (>20GHz)<br />
                    5G Fronthaul (>20GHz)<br />
                    WiGig (60GHz)<br />
                    Antenna in Package (AiP)<br />
                </p>
            </article>
        </div>
    </section>
	<section class="inside-article">
		<div class="content-lg row">
			<div class=" col-md-12 tech-cont-link">
			<a class="phone" href="@Url.Action("plants_offices", "About", new { lang = ViewBag.language.lang })"><span class="glyphicon glyphicon-earphone"></span>  Contact for enquiries </a>
			</div>
		</div>
	</section>

	<section class="inside-article">
		<div class="content-lg row">

			<div class="col-xs-12"><br>
				<div class="technology-bottom-flex">
					<div class="technology-bottom"><a class="" href="@Url.Action("advanced_25DIC", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-10.png"><br>2.5D & 3D</a></div>
					<div class="technology-bottom opacity-50"><a class="" href="@Url.Action("fan_out", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-01.png"><br>Fan Out</a></div>
					<div class="technology-bottom"><a class="" href="@Url.Action("sip_module", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-02.png"><br>System-in-Package</a></div>
					<div class="technology-bottom"><a class="" href="@Url.Action("mems_sensors", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-08.png"><br>MEMS &amp; Sensors</a></div>
					<div class="technology-bottom"><a class="" href="@Url.Action("embedded_die", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-09.png"><br>Embedded Die Substrate</a></div>
				</div>
			</div>
			<!-- technolog carousel -->
			<div class="row">
			<div class="col-xs-12">
				<div class="container technology-carousel">
					<div class='row'>
						<div class='col-xs-12'>
							<div class="carousel slide media-carousel" id="media">
								<!-- Indicators -->
								<ol class="carousel-indicators">
									<li data-target="#media" data-slide-to="0" class="active"></li>
									<li data-target="#media" data-slide-to="1"></li>
								</ol>
								<div class="carousel-inner">
									<div class="item active">
										<div class="row">
											<div class="col-xs-4">
												<a class="" href="@Url.Action("advanced_25DIC", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-10.png"><br>2.5D & 3D</a>
											</div>
											<div class="col-xs-4">
												<a class="" href="@Url.Action("fan_out", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-01.png"><br>Fan Out</a>
											</div>
                                            <div class="col-xs-4">
                                                <a class="" href="@Url.Action("sip_module", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-02.png"><br>System-in-Package</a>
                                            </div>
										</div>
									</div>
									<div class="item">
										<div class="row">
                                            <div class="col-xs-4">
                                                <a class="" href="@Url.Action("mems_sensors", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-08.png"><br>MEMS &amp; Sensors</a>
                                            </div>
                                            <div class="col-xs-4">
                                                <a class="" href="@Url.Action("embedded_die", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-09.png"><br>Embedded Die Substrate</a>
                                            </div>
										</div>
									</div>
								</div>
								<a data-slide="prev" href="#media" class="left carousel-control">‹</a>
								<a data-slide="next" href="#media" class="right carousel-control">›</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
			<!-- end technology carousel -->
		</div>
	</section>
<script>
	$(document).ready(function() { 

		$('#media').carousel({
			pause: true,
			interval: false,
		});
		$("#media").swiperight(function() { /* enables the swiping on phone */
			$(this).carousel('prev');
		});
		$("#media").swipeleft(function() { /* enables the swiping on phone */
			$(this).carousel('next');
		});
		$(".technology-features-content").hide();

		$('.technology-application').click(function() {
			$(this).closest(".row").find(".technology-features").removeClass("technology-tab-active").addClass("technology-tab-inactive");
			$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
			$(this).closest(".row").find(".technology-features-content").hide();
			$(this).closest(".row").find(".technology-application-content").fadeIn(1000);
		});
		$('.technology-features').click(function() {
			$(this).closest(".row").find(".technology-application").removeClass("technology-tab-active").addClass("technology-tab-inactive");
			$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
			$(this).closest(".row").find(".technology-application-content").hide();
			$(this).closest(".row").find(".technology-features-content").fadeIn(1000);
		});
	});
</script>