﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/tw/_Layout.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-csr">
		<h1 class="page-title title-large">企業社會責任</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "/" })"><i class="icon-home"></i><span itemprop="name">首頁</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("csr", "CSR", new { lang = ViewBag.language.lang })"><span itemprop="name">企業社會責任</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("stakeholder_engagement", "CSR", new { lang = ViewBag.language.lang })"><span itemprop="name">利害關係人專區</span></a>
					<meta itemprop="position" content="3" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "stakeholder_engagement_details" })"><span itemprop="name">溝通與議題管理</span></a>
					<meta itemprop="position" content="4" />
				</li>
			</ol>
		</div>
	</div>

	<div class="breadcrumbs-pc pull-left" id="breadcrumbs-pc">
	<!-- PC版選單breadcrumbs內容 -->
		<ul class="breadcrumbs-view" id="breadcrumbs-view">
			<li class="dropdown-item">
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.Action("technology", "Technology", new { lang = ViewBag.language.lang })">技術</a></li>
					<li><a href="@Url.Action("solutions", "SolutionPlatform", new { lang = ViewBag.language.lang })">解決方案</a></li>
					<li><a href="@Url.Action("products", "Products", new { lang = ViewBag.language.lang })">產品</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "ir" })">投資人關係</a></li>
					<li><a href="@Url.Action("csr", "CSR", new { lang = ViewBag.language.lang })">企業社會責任</a></li>
					<li><a href="@Url.Action("about", "About", new { lang = ViewBag.language.lang })">關於日月光集團</a></li>
				</ul>
			</li>
			<li class="dropdown-item">
				<a href="csr.html">企業社會責任</a>
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.Action("letter_from_chairman", "CSR", new { lang = ViewBag.language.lang })">董事長的話</a></li>
					<li><a href="@Url.Action("sustainability_governance", "CSR", new { lang = ViewBag.language.lang })">永續治理</a></li>
					<li><a href="@Url.Action("stakeholder_engagement", "CSR", new { lang = ViewBag.language.lang })" class="active">利害關係人專區</a></li>
					<li><a href="http://ir.aseglobal.com/c/ir_corpor.php">公司治理</a></li>
					<li><a href="@Url.Action("environmental_sustainability", "CSR", new { lang = ViewBag.language.lang })">環境永續</a></li>
					<li><a href="@Url.Action("employee_care_and_development", "CSR", new { lang = ViewBag.language.lang })">員工關懷與發展</a></li>
					<li><a href="@Url.Action("csr_supply_chain_development", "CSR", new { lang = ViewBag.language.lang })">供應鏈發展</a></li>
					<li><a href="@Url.Action("corporate_citizenship_and_social_involvement", "CSR", new { lang = ViewBag.language.lang })">企業公民與社會參與</a></li>
					<li><a href="@Url.Action("csr_reports", "CSR", new { lang = ViewBag.language.lang })">企業社會責任報告書下載專區</a></li>
				</ul>
			</li>
		</ul>
	</div>

	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">溝通與議題管理</h3>
				<h4 class="sub-title">利害關係人之鑑別與溝通</h4>
				<p>
					日月光將利害關係人界定為影響日月光或受日月光影響的團體或組織。我們透過AA1000 SES-2011利害關係人議合標準(Stakeholder Engagement Standard, SES) 的五大原則(依賴性、責任、影響、多元觀點、張力)，鑑別出九大類主要的利害關係人。根據其影響的方式( 直接或間接)，可區分為兩大群組—直接利害關係人包括股東、員工、客戶及供應商；間接利害關係人包括社區居民、政府、非政府組織(NGO)、產業公會和協會及媒體。<br>
					<br>
					日月光以利害關係人的本質、關心的議題以及議合的目的為考量，選擇不同的方式進行利害關係人議合。
				</p>

				<h4 class="sub-title">溝通機制與重點</h4>
				
					<div class="col-md-4"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/communication.svg" class="stakeholder-small-icons"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;溝通機制<a href="javascript::" data-container="body" data-toggle="popover" data-trigger="hover" data-content="除了特別說明的項目外，其餘皆採不定期方式與各利害關係人溝通。" data-placement="bottom">*</a></div>
					<div class="col-md-4"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/issues.svg" class="stakeholder-small-icons"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2016年關心議題</div>
					<div class="col-md-4"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/outcome.svg" class="stakeholder-small-icons"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2016年關鍵溝通結果**</div>
					<div class="clearfix"></div>
				
			</article>
		</div>
	</section>

	<section class="plants-Offices">
		<div class="content-lg row stakeholder-engagement-box">
			<ul id="list-content" class="col-xs-12 list-base list-link office-list-content">
				<li class="gray-bg">
					<h4>客戶</h4>
					<div class="text-box">
						<div class="content-wrapper">								
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/communication.svg" class="stakeholder-small-icons">
							<ul class="stakeholder">
								<li>客戶季度業務評審會議</li>
								<li>客戶稽核</li>
								<li>客戶服務平台</li>
								<li>技術論壇</li>
							</ul>
							<hr class="stakeholder">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/issues.svg" class="stakeholder-small-icons">
							<ul class="stakeholder">
								<li>商業道德</li>
								<li>風險管理</li>
								<li>法律遵循</li>
							</ul>
							<hr class="stakeholder">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/outcome.svg" class="stakeholder-small-icons">
							<ul class="stakeholder">
								<li>客戶滿意百分比從89％ (2015年) 增加至90％(2016年)，達到所設定之「90％客戶滿意」的目標</li>
							</ul>
						</div>							
					</div>
				</li>
				<li>
					<h4>員工</h4>
					<div class="text-box">
						<div class="content-wrapper">								
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/communication.svg" class="stakeholder-small-icons">
							<ul class="stakeholder">
								<li>總經理信箱</li>
								<li>內部網站</li>
								<li>員工滿意度調查</li>
								<li>員工熱線</li>
							</ul>
							<hr class="stakeholder">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/issues.svg" class="stakeholder-small-icons">
							<ul class="stakeholder">
								<li>勞資關係</li>
								<li>員工健康與安全</li>
								<li>人才培訓與發展</li>
							</ul>
							<hr class="stakeholder">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/outcome.svg" class="stakeholder-small-icons">
							<ul class="stakeholder">
								<li>全球各廠區與新進員工共進行了320場溝通會；與外籍員工舉辦了341場座談會；和一般員工進行了263場意見交流會</li>
							</ul>
						</div>							
					</div>
				</li>
				<li class="gray-bg">
					<h4>股東</h4>
					<div class="text-box">
						<div class="content-wrapper">								
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/communication.svg" class="stakeholder-small-icons">
							<ul class="stakeholder">
								<li>年度財務報告</li>
								<li>季度法人說明會</li>
								<li>年度股東大會</li>
								<li>季度機構投資者會議</li>
							</ul>
							<hr class="stakeholder">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/issues.svg" class="stakeholder-small-icons">
							<ul class="stakeholder">
								<li>環境管理系統</li>
								<li>公司治理</li>
								<li>經營策略與績效</li>
							</ul>
							<hr class="stakeholder">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/outcome.svg" class="stakeholder-small-icons">
							<ul class="stakeholder">
								<li>「台灣證交所」公司治理評鑑上市公司排名前百分之二十</li>
							</ul>
						</div>							
					</div>
				</li>
				<li>
					<h4>供應商/承攬商</h4>
					<div class="text-box">
						<div class="content-wrapper">								
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/communication.svg" class="stakeholder-small-icons">
							<ul class="stakeholder">
								<li>供應商問卷調查</li>
								<li>供應商現場稽核</li>
								<li>年度供應商大會</li>
								<li>供應商能力建置活動</li>
							</ul>
							<hr class="stakeholder">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/issues.svg" class="stakeholder-small-icons">
							<ul class="stakeholder">
								<li>經營策略與績效</li>
								<li>供應鏈發展</li>
								<li>創新研發管理</li>
							</ul>
							<hr class="stakeholder">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/outcome.svg" class="stakeholder-small-icons">
							<ul class="stakeholder">
								<li>全球115家企業參加年度供應商頒獎典禮，3家供應商獲頒首屆「日月光集團供應商永續經營獎」，20家供應商以傑出的表現展現對日月光的支持，獲得日月光最佳供應商獎項的肯定</li>
							</ul>
						</div>							
					</div>
				</li>
				<li class="gray-bg">
					<h4>政府</h4>
					<div class="text-box">
						<div class="content-wrapper">								
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/communication.svg" class="stakeholder-small-icons">
							<ul class="stakeholder">
								<li>政府部門舉行的溝通會議/論壇/研討會或公開聽證會</li>
								<li>與政府部門主動對話</li>
								<li>呈報至政府門戶網站</li>
							</ul>
							<hr class="stakeholder">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/issues.svg" class="stakeholder-small-icons">
							<ul class="stakeholder">
								<li>員工健康與安全</li>
								<li>公司治理</li>
								<li>人才培訓與發展</li>
							</ul>
							<hr class="stakeholder">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/outcome.svg" class="stakeholder-small-icons">
							<ul class="stakeholder">
								<li>主動參與金融監督管理委員會發起的公司治理自評，以進一步形塑和提升日月光的公司治理</li>
							</ul>
						</div>							
					</div>
				</li>
				<li>
					<h4>社區</h4>
					<div class="text-box">
						<div class="content-wrapper">								
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/communication.svg" class="stakeholder-small-icons">
							<ul class="stakeholder">
								<li>日月之光慈善基金會</li>
								<li>日月光文教基金會</li>
								<li>員工志工活動</li>
								<li>社區意見調查和需求評估</li>
							</ul>
							<hr class="stakeholder">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/issues.svg" class="stakeholder-small-icons">
							<ul class="stakeholder">
								<li>水資源管理</li>
								<li>社區發展</li>
								<li>環境管理系統</li>
							</ul>
							<hr class="stakeholder">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/outcome.svg" class="stakeholder-small-icons">
							<ul class="stakeholder">
								<li>中水廠開放予社區民眾進行環境教育導覽共約1,100人次捐助社區參與計劃約新台幣8,320 萬元(約258萬美元)，其幫助870多名受益者，包括129名貧困兒童，682名低收入家庭學生和68個慈善機構</li>
							</ul>
						</div>							
					</div>
				</li>
				<li class="gray-bg">
					<h4>產業公會/協會</h4>
					<div class="text-box">
						<div class="content-wrapper">								
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/communication.svg" class="stakeholder-small-icons">
							<ul class="stakeholder">
								<li>會員大會</li>
								<li>公會/協會舉行的技術研討會</li>
							</ul>
							<hr class="stakeholder">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/issues.svg" class="stakeholder-small-icons">
							<ul class="stakeholder">
								<li>人才培訓與發展</li>
								<li>環境管理系統</li>
								<li>勞資關係</li>
							</ul>
							<hr class="stakeholder">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/outcome.svg" class="stakeholder-small-icons">
							<ul class="stakeholder">
								<li>參與超過116個外部組織，贊助公共倡議新台幣1,350萬元(約41萬美元)，其中新台幣1,031萬元(約32萬美元)是用於支持公共政策與產業發展(
								<a tabindex="0" class="blue-link-popover" role="button" data-toggle="popover" data-trigger="hover" data-content="

								身為國際企業公民，日月光在致力於公司營運與維護股東利益的同時，也力求促進公共福祉。我們希望能在全球社會帶來正面的改變和影響。在法律允許的情況下，我們支持與日月光關注之特定議題有相同觀點，而同時能作為公共政策議題之討論平台且能為共同商業利益進行倡議之組織。我們力求確保所做的捐贈或支出是以支持公共事務為目的，恪遵營運所在地所有應適用法規並依據應適用之法規及報導需求適當揭露，同時也會遵守公司相關的道德政策與規範。

								<br><br>2013-2016年公共事務捐贈或支出
								<div class='table-responsive inside-table'>
									<table class='table table-striped table-hover csr grey-table'>
										<thead>
											<tr>
												<th></th>
												<th class='left-border'>2013年</th>
												<th class='left-border'>2014年</th>
												<th class='left-border'>2015年</th>
												<th class='left-border'>2016年</th>
											</tr>
										</thead>
										<tbody>
										
											<tr class='grey'>
												<td>總計</td>
												<td class='left-border text-center'>US$ 301K</td>
												<td class='left-border text-center'>US$ 309K</td>
												<td class='left-border text-center'>US$ 318K</td>
												<td class='left-border text-center'>US$ 327K/td>
											</tr>
										</tbody>
									</table>
								</div>
								
								<br>2016年前五大公共事務捐贈或支出
								<div class='table-responsive inside-table'>
									<table class='table table-striped table-hover csr grey-table'>
										<thead>
											<tr>
												<th>組織名稱</th>
												<th class='left-border'>總計</th>
											</tr>
										</thead>
										<tbody>
											<tr class='grey'>
												<td>國際半導體產業協會 (SEMI)</td><td class='left-border text-center'>US$ 80K</td>
											</tr>
											<tr class='grey'>
												<td>台灣半導體產業協會 (TSIA)</td><td class='left-border text-center'>US$ 74K</td>
											</tr>
											<tr class='grey'>
												<td>國際電子生產商聯盟 (iNEMI)</td><td class='left-border text-center'>US$ 49K</td>
											</tr>
											<tr class='grey'>
												<td>韓國雇主協會 (KEF)</td><td class='left-border text-center'>US$ 10K</td>
											</tr>
											<tr class='grey'>
												<td>中華民國工商協進會 (CNAIC)</td><td class='left-border text-center'>US$ 5K</td>
											</tr>
										</tbody>
									</table>
								</div>

								
								">詳細資料</a>)</li>
							</ul>
						</div>							
					</div>
				</li>
				<li>
					<h4>媒體</h4>
					<div class="text-box">
						<div class="content-wrapper">								
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/communication.svg" class="stakeholder-small-icons">
							<ul class="stakeholder">
								<li>新聞稿</li>
								<li>發言人接受採訪</li>
								<li>公司網站</li>
							</ul>
							<hr class="stakeholder">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/issues.svg" class="stakeholder-small-icons">
							<ul class="stakeholder">
								<li>經營策略與績效</li>
								<li>環境管理系統</li>
								<li>社區發展</li>
							</ul>
							<hr class="stakeholder">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/outcome.svg" class="stakeholder-small-icons">
							<ul class="stakeholder">
								<li>舉辦年度媒體研討會，通過演講、討論和實地考察，讓關心日月光的媒體專業人士了解我們的尖端技術與環保績效</li>
							</ul>
						</div>							
					</div>
				</li>
				<li class="gray-bg">
					<h4>非政府組織(NGO)</h4>
					<div class="text-box">
						<div class="content-wrapper">								
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/communication.svg" class="stakeholder-small-icons">
							<ul class="stakeholder">
								<li>NGOs舉行的溝通會議/論壇/研討會</li>
								<li>公司網站</li>
								<li>與NGOs合作的志工活動</li>
							</ul>
							<hr class="stakeholder">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/issues.svg" class="stakeholder-small-icons">
							<ul class="stakeholder">
								<li>環境管理系統</li>
								<li>廢棄物管理</li>
								<li>水資源管理</li>
							</ul>
							<hr class="stakeholder">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/outcome.svg" class="stakeholder-small-icons">
							<ul class="stakeholder">
								<li>贊助新台幣41,430萬元(約127萬美元)與9個NGOs合作支持環保方案、慈善活動以及公民教育方案</li>
							</ul>
						</div>							
					</div>
				</li>
			</ul>
			<div class="col-md-12 nopadding">
				<h4 class="sub-title">重大性分析流程</h4>
			</div>
			<div class="col-md-12">
				<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/stakeholder_engagement_details1.png">
				<br><br><br>
			</div>
			<div class="col-md-12 nopadding">
				<h4 class="sub-title">2016重大性分析結果</h4>
			</div>
			<div class="col-md-12">
				<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/stakeholder_engagement_details2.png">
				<br><br>
			</div>
		</div>		
	</section>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script>
	$(document).ready(function(){
	    $('[data-toggle="popover"]').popover({
	    	html:true,
	    	trigger: 'hover',
	    	placement: 'bottom',
	    });
	});
	</script>