﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/ch/_Layout_seo.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-about">
		<h1 class="page-title title-large">了解日月光</h1>
		<video poster="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/about/video.jpg")" class="about-video" id="bgvid" playsinline autoplay muted loop>
			<!-- 使用JS增加Source -->
		</video>
	</section>

	<!--麵包屑-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->

	<!-- Content -->
	<section class="inside-article">
		<div class="content-lg row">
			<div class="col-md-12">
				<h3 class="title">全球工廠據點</h3>
			</div>
		</div>
	</section>
<br>
	<div class="content-lg row">
		<div class="facilities-top col-xs-12">

		<div class="dropdown">
			<button class="btn btn-white dropdown-toggle border-999" type="button" data-toggle="dropdown"><span class="color-999">選擇據點</span>
			<i class="form-control-feedback icon-align-right glyphicon glyphicon-triangle-bottom color-999"></i></button>
			<ul class="dropdown-menu dropdown-menu-facilities">
				<li><a href="#Kaohsiung">日月光高雄廠</a></li>
				<li><a href="#Chungli">日月光中壢廠</a></li>
				<li><a href="#Korea">日月光韓國廠</a></li>
				<li><a href="#Japan">日月光日本廠</a></li>
				<li><a href="#Singapore">日月光新加坡廠</a></li>
				<li><a href="#Malaysia">日月光馬來西亞廠</a></li>
				<li><a href="#Shanghai">日月光上海廠</a></li>
				<li><a href="#Kunshan">日月光昆山廠</a></li>
				<li><a href="#ASEN">蘇州日月新</a></li>
				<li><a href="#Weihai">日月光威海廠</a></li>
				<li><a href="#Wuxi">日月光無錫廠</a></li>
				<li><a href="#Labs">ISE Labs</a></li>
				<li><a href="#USI">環隆電氣</a></li>
			</ul>
		</div> 

<form role="form"> 
  <div class="form-group has-feedback">
    <label class="control-label sr-only">Username</label>
    <input type="text" class="form-control border-999" placeholder="搜尋" />
    <i class="form-control-feedback glyphicon glyphicon-search color-999"></i>
  </div>
</form>
		</div>
	</div>



	<!-- ================ start of content ================  -->
	<section class="page-list-content facilities">

		<div class="content-lg row bgnews-list">

			<div class="col-xs-12 list-base special" id="Kaohsiung">
				<div class="panel panel-default">
					<div class="panel-body facilities-content-box-header">
	    				<div class="col-md-12 panel-body">
	    					<div class="facilities-heading">日月光高雄廠</div>
	    				</div>
					</div>
					<div class="panel-body">
						<div class="col-md-9 panel-body left">
							<div class="content">
								<p>日月光高雄廠為日月光集團旗艦廠，設置集團研發中心，提供完整的封裝、晶圓凸塊、材料、測試的一元化服務。</p>
								<div class="facilities-subheading">服務</div>
								<p>
								封裝、晶圓針測、材料及成品測試。
								</p>
							</div>
							<div class="information-box">
								<div class="information">
									<a href="http://www.asekh.aseglobal.com" target="_blank"><img src="~/public/frontend/images_ch/about/facilities/url.svg")" class="small-icons">&nbsp;網站連結</a>
								</div>
								<div class="information address-information">								

									<a href="https://goo.gl/maps/aEkAzAn4fzo" target="_blank">
									<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/facilities/address.svg" class="small-icons">&nbsp;工廠位置圖</a>
								</div>
							</div>
						</div>
						<div class="col-md-3 panel-body right">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/about/facilities/kaohsiung.jpg")" class="responsive">
						</div>
					</div>
				</div>
			</div>

			<div class="col-xs-12 list-base special" id="Chungli">
				<div class="panel panel-default">
					<div class="panel-body facilities-content-box-header">
	    				<div class="col-md-12 panel-body">
	    					<div class="facilities-heading">日月光中壢廠</div>
	    				</div>
					</div>
					<div class="panel-body">
						<div class="col-md-9 panel-body left">
							<div class="content">
								<p>日月光中壢廠是日月光集團的智慧型工業園區，提供IC封裝、測試及材料一元化服務。中壢廠在無線通訊領域擁有豐富經驗，提供影像感測器與QFN封裝應用方案。</p>
								<div class="facilities-subheading">服務</div>
								<p>
								封裝設計、組裝、模組封裝與測試、材料製造。
								</p>
							</div>
							<div class="information-box">
								<div class="information">
									<a href="http://www.asecl.aseglobal.com" target="_blank"><img src="~/public/frontend/images_ch/about/facilities/url.svg")" class="small-icons">&nbsp;網站連結</a>
								</div>
								<div class="information address-information">
									<a target="_blank" href="https://goo.gl/maps/SkbSP2WZnx82">
									<img src="~/public/frontend/images_ch/about/facilities/address.svg")" class="small-icons">&nbsp;工廠位置圖
									</a>
								</div>
							</div>
						
						</div>
						<div class="col-md-3 panel-body right">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/about/facilities/chungli.jpg")" class="responsive">
						</div>
					</div>
				</div>
			</div>

			<div class="col-xs-12 list-base special" id="Shanghai">
				<div class="panel panel-default">
					<div class="panel-body facilities-content-box-header">
	    				<div class="col-md-12 panel-body">
	    					<div class="facilities-heading">日月光上海封測廠</div>
	    				</div>
					</div>
					<div class="panel-body">
						<div class="col-md-9 panel-body left">
							<div class="content">
								<p>日月光上海材料廠位於上海張江高科技園區，經由專業IC載板生產經驗及持續研發創新，為全球半導體封裝產業客戶提供整合性IC載板設計服務與生產製造。</p>
								<div class="facilities-subheading">服務</div>
								<p>
								PBGA、TFBGA、BOC、fcCSP、Memory、SiP Module載板設計及生產。
								</p>
							</div>
							<div class="information-box">
								<div class="information">
									<a href="http://www.asesh.aseglobal.com/" target="_blank"><img src="~/public/frontend/images_ch/about/facilities/url.svg")" class="small-icons">&nbsp;網站連結</a>
								</div>
								<div class="information address-information">
								<a href="https://goo.gl/maps/om3UjTK5pSo" target="_blank">
									<img src="~/public/frontend/images_ch/about/facilities/address.svg")" class="small-icons">&nbsp;工廠位置圖
									</a>
								</div>
							</div>
						</div>
						<div class="col-md-3 panel-body right">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/about/facilities/shanghi.jpg")" class="responsive">
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-xs-12 list-base special" id="Shanghai2">
				<div class="panel panel-default">
					<div class="panel-body facilities-content-box-header">
	    				<div class="col-md-12 panel-body">
	    					<div class="facilities-heading">日月光上海材料廠</div>
	    				</div>
					</div>
					<div class="panel-body">
						<div class="col-md-9 panel-body left">
							<div class="content">
								<p>日月光上海材料廠提供半導體封裝導體材料(如基板)設計與生產，提升全球IDM與無晶圓廠晶片設計公司成本競爭力與性能優勢。</p>
								<div class="facilities-subheading">服務</div>
								<p>
								日月光上海材料廠專注研發先進基板技術，提供IC封裝具有成本競爭力、高性能並符合環保規範的解決方案。
								</p>
							</div>
							<div class="information-box">								
								<div class="information address-information">
									<a href="https://goo.gl/maps/mtGRh138ETo" target="_blank">
									<img src="~/public/frontend/images_ch/about/facilities/address.svg")" class="small-icons">&nbsp;工廠位置圖
									</a>
								</div>
							</div>
						</div>
						<div class="col-md-3 panel-body right">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/about/facilities/shanghai2.jpg")" class="responsive">
						</div>
					</div>
				</div>
			</div>

			<div class="col-xs-12 list-base special" id="Kunshan">
				<div class="panel panel-default">
					<div class="panel-body facilities-content-box-header">
	    				<div class="col-md-12 panel-body">
	    					<div class="facilities-heading">日月光昆山廠</div>
	    				</div>
					</div>
					<div class="panel-body">
						<div class="col-md-9 panel-body left">
							<div class="content">
								<p>日月光昆山廠提供客戶更廣泛的服務，包含傳統銲線、先進微間距技術產品和系統組裝服務。</p>
								<div class="facilities-subheading">服務</div>
								<p>
								提供SO、PDIP、QFN、QFP和BGA封裝等傳統銲線和先進微間距技術產品。
								</p>
							</div>
							<div class="information-box">
								<div class="information">
									<a href="http://www.aseks.aseglobal.com/" target="_blank"><img src="~/public/frontend/images_ch/about/facilities/url.svg")" class="small-icons">&nbsp;網站連結</a>
								</div>
							<div class="information address-information">	
									<a href="https://goo.gl/maps/3CLTzU8r49w" target="_blank">
									<img src="~/public/frontend/images_ch/about/facilities/address.svg")" class="small-icons">&nbsp;工廠位置圖
								</a>
								</div>
							</div>
						</div>
						<div class="col-md-3 panel-body right">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/about/facilities/kunshan.jpg")" class="responsive">
						</div>
					</div>
				</div>
			</div>

			<div class="col-xs-12 list-base special" id="ASEN">
				<div class="panel panel-default">
					<div class="panel-body facilities-content-box-header">
	    				<div class="col-md-12 panel-body">
	    					<div class="facilities-heading">蘇州日月新</div>
	    				</div>
					</div>
					<div class="panel-body">
						<div class="col-md-9 panel-body left">
							<div class="content">
								<p>日月光集團與NXP於2007年合資設立蘇州日月新，2018 年日月光取得蘇州日月新100%股權，拓展並服務全球半導體封裝及測試市場。</p>
								<div class="facilities-subheading">服務</div>
								<p>
								提供QFN、LFBGA、SO、TSSO與應用於手持式裝置的封裝產品。
								</p>
							</div>
							<div class="information-box">
								<div class="information">
									<a href="http://www.asen.aseglobal.com" target="_blank"><img src="~/public/frontend/images_ch/about/facilities/url.svg")" class="small-icons">&nbsp;網站連結</a>
								</div>
									<div class="information address-information">
									<a href="https://goo.gl/maps/cpBGd7EpRkx" target="_blank">
									<img src="~/public/frontend/images_ch/about/facilities/address.svg")" class="small-icons">&nbsp;工廠位置圖
									</a>
								</div>
							</div>
						</div>
						<div class="col-md-3 panel-body right">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/about/facilities/asen.jpg")" class="responsive">
						</div>
					</div>
				</div>
			</div>

			<div class="col-xs-12 list-base special" id="Wuxi">
				<div class="panel panel-default">
					<div class="panel-body facilities-content-box-header">
	    				<div class="col-md-12 panel-body">
	    					<div class="facilities-heading">日月光無錫廠</div>
	    				</div>
					</div>
					<div class="panel-body">
						<div class="col-md-9 panel-body left">
							<div class="content">
								<p>日月光取得無錫通芝微電子有限公司股權，成立日月光無錫廠，強化日月光在大陸半導體封裝測試業務。</p>
								<div class="facilities-subheading">服務</div>
								<p>
								提供QFP、LQFP、SOP、PDIP等應用於家用電器、通訊以及娛樂應用類電子產品的封裝與測試整合型服務。</p>
							</div>
							<div class="information-box">
									<div class="information address-information">
									<a href="https://goo.gl/maps/upkGc9e54eT2" target="_blank">
									<img src="~/public/frontend/images_ch/about/facilities/address.svg")" class="small-icons">&nbsp;工廠位置圖
									</a>
								</div>
							</div>
						</div>
						<div class="col-md-3 panel-body right">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/about/facilities/wuxi.jpg")" class="responsive">
						</div>
					</div>
				</div>
			</div>
						<div class="col-xs-12 list-base special" id="Weihai">
				<div class="panel panel-default">
					<div class="panel-body facilities-content-box-header">
	    				<div class="col-md-12 panel-body">
	    					<div class="facilities-heading">日月光威海廠</div>
	    				</div>
					</div>
					<div class="panel-body">
						<div class="col-md-9 panel-body left">
							<div class="content">
								<p>日月光威海廠提供封裝與分離元件製造服務。</p>
								<div class="facilities-subheading">服務</div>
								<p>
								分離式元件製造服務。通訊、消費性與電腦IC應用方案封裝和測試服務。
								</p>
							</div>
							<div class="information-box">
								<div class="information address-information">	
								<a href="https://goo.gl/maps/KbLsUomTSqr" target="_blank">
									<img src="~/public/frontend/images_ch/about/facilities/address.svg")" class="small-icons">&nbsp;工廠位置圖
								</a>
								</div>
							</div>
						</div>
						<div class="col-md-3 panel-body right">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/about/facilities/weihai.jpg")" class="responsive">
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 list-base special" id="Korea">
				<div class="panel panel-default">
					<div class="panel-body facilities-content-box-header">
	    				<div class="col-md-12 panel-body">
	    					<div class="facilities-heading">日月光韓國廠</div>
	    				</div>
					</div>
					<div class="panel-body">
						<div class="col-md-9 panel-body left">
							<div class="content">
								<p>日月光韓國廠提供射頻、汽車電子和電信類比、微機電影像感測器元件封裝和測試服務。</p>
								<div class="facilities-subheading">服務</div>
								<p>
								感測器、通訊、無線和汽車電子半導體封裝與測試服務。<br><br>
								</p>
							</div>
							<div class="information-box">
								<div class="information">
									<a href="http://www.asekr.com/asekr_new/" target="_blank"><img src="~/public/frontend/images_ch/about/facilities/url.svg")" class="small-icons">&nbsp;網站連結</a>
								</div>
								<div class="information address-information">
									<a href="https://goo.gl/maps/dcSGwhThNJC2" target="_blank">
									<img src="~/public/frontend/images_ch/about/facilities/address.svg")" class="small-icons">&nbsp;工廠位置圖
									</a>
								</div>
							</div>
						</div>
						<div class="col-md-3 panel-body right">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/about/facilities/korea.jpg")" class="responsive">
						</div>
					</div>
				</div>
			</div>

			<div class="col-xs-12 list-base special" id="Japan">
				<div class="panel panel-default">
					<div class="panel-body facilities-content-box-header">
	    				<div class="col-md-12 panel-body">
	    					<div class="facilities-heading">日月光日本廠</div>
	    				</div>
					</div>
					<div class="panel-body">
						<div class="col-md-9 panel-body left">
							<div class="content">
								<p>日月光收購日本NEC電子封裝與測試廠成立日月光日本廠，提供BGA、QFP封裝及IC測試服務。</p>
								<div class="facilities-subheading">服務</div>
								<p>
								BGA與接腳型封裝和測試。<br><br>
								</p>
							</div>
							<div class="information-box">
								<div class="information">
									<a href="http://www.asejp.aseglobal.com" target="_blank"><img src="~/public/frontend/images_ch/about/facilities/url.svg")" class="small-icons">&nbsp;網站連結</a>
								</div>
								<div class="information address-information">								
								<a href="https://goo.gl/maps/pDUDr7Cga7z" target="_blank">
									<img src="~/public/frontend/images_ch/about/facilities/address.svg")" class="small-icons">&nbsp;工廠位置圖
									</a>
								</div>
							</div>
						</div>
						<div class="col-md-3 panel-body right">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/about/facilities/japan.jpg")" class="responsive">
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-xs-12 list-base special" id="Malaysia">
				<div class="panel panel-default">
					<div class="panel-body facilities-content-box-header">
	    				<div class="col-md-12 panel-body">
	    					<div class="facilities-heading">日月光馬來西亞廠</div>
	    				</div>
					</div>
					<div class="panel-body">
						<div class="col-md-9 panel-body left">
							<div class="content">
								<p>日月光馬來西亞廠服務通訊、電腦、工業及汽車電子市場廣大客戶群，透過高度自動化製程與先進設備，開發包括QFP、TQFP、BGA、SOIC、SOJ、PDIP與相機模組等封裝測試產品。</p>
								<div class="facilities-subheading">服務</div>
								<p>
								通訊、消費性電子、工業和工業市場領域封裝與測試服務。
								</p>
							</div>
							<div class="information-box">
								<div class="information">
									<a href="http://www3.asemal.com.my/" target="_blank"><img src="~/public/frontend/images_ch/about/facilities/url.svg")" class="small-icons">&nbsp;網站連結</a>
								</div>
								<div class="information address-information">
									<a href="https://goo.gl/maps/SVaeZ7pQKN22" target="_blank">
									<img src="~/public/frontend/images_ch/about/facilities/address.svg")" class="small-icons">&nbsp;工廠位置圖
									</a>
								</div>
							</div>
						</div>
						<div class="col-md-3 panel-body right">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/about/facilities/malaysia.jpg")" class="responsive">
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 list-base special" id="Singapore">
				<div class="panel panel-default">
					<div class="panel-body facilities-content-box-header">
	    				<div class="col-md-12 panel-body">
	    					<div class="facilities-heading">日月光新加坡廠</div>
	    				</div>
					</div>
					<div class="panel-body">
						<div class="col-md-9 panel-body left">
							<div class="content">
								<p>日月光新加坡廠，前身為ISE Labs，提供前段測試及晶圓測試服務。</p>
								<div class="facilities-subheading">服務</div>
								<p>
								測試開發、晶圓針測、IC成品測試、混合訊號與RF測試。
								</p>
							</div>
							<div class="information-box">
								<div class="information">
									<a href="https://www.aseglobal.com.sg/" target="_blank"><img src="~/public/frontend/images_ch/about/facilities/url.svg")" class="small-icons">&nbsp;網站連結</a>
								</div>
								<div class="information address-information">		 
								<a href="https://goo.gl/maps/9x3TkPZBvH42" target="_blank">
									<img src="~/public/frontend/images_ch/about/facilities/address.svg")" class="small-icons">&nbsp;工廠位置圖
								</a>
								</div>
							</div>
						</div>
						<div class="col-md-3 panel-body right">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/about/facilities/singapore.jpg")" class="responsive">
						</div>
					</div>
				</div>
			</div>

			<div class="col-xs-12 list-base special" id="USI">
				<div class="panel panel-default">
					<div class="panel-body facilities-content-box-header">
	    				<div class="col-md-12 panel-body">
	    					<div class="facilities-heading">環隆電氣</div>
	    				</div>
					</div>
					<div class="panel-body">
						<div class="col-md-9 panel-body left">
							<div class="content">
								<p>環隆電氣（USI）提供零組件至系統的電子封裝、SMT電路板組裝和系統組裝的專業電子代工製造服務，滿足客戶各種產品需求。環電提供通訊、電腦及消費性電子等3C產業及零組件的代工製造及一元化服務，以及提供一系列的標準和客製化設計產品。</br>
								環電全球製造據點包括台灣、中國和墨西哥等地。
								</p>
								<div class="facilities-subheading">服務</div>
								<p>
								3C產業與特殊應用裝置電子代工製造服務。
								</p>
							</div>
							<div class="information-box">
								<div class="information">
									<a href="http://www.usish.com/english/default.php" target="_blank"><img src="~/public/frontend/images_ch/about/facilities/url.svg")" class="small-icons">&nbsp;網站連結</a>
								</div>
									<div class="information address-information">
									<a href="https://goo.gl/maps/8ykoN9kP4xB2" target="_blank">
									<img src="~/public/frontend/images_ch/about/facilities/address.svg")" class="small-icons">&nbsp;工廠位置圖
									</a>
								</div>
							</div>
						</div>
						<div class="col-md-3 panel-body right">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/about/facilities/usi.jpg")" class="responsive">
						</div>
					</div>
				</div>
			</div>
			
						<div class="col-xs-12 list-base special" id="Labs">
				<div class="panel panel-default">
					<div class="panel-body facilities-content-box-header">
	    				<div class="col-md-12 panel-body">
	    					<div class="facilities-heading">ISE Labs</div>
	    				</div>
					</div>
					<div class="panel-body">
						<div class="col-md-9 panel-body left">
							<div class="content">
								<p>ISE Labs (International Semiconductor Engineering Laboratories) 是美國加州矽谷最大的積體電路測試實驗室，提供一元化測試服務。ISE Labs全球服務據點包括美國矽谷、新加坡、香港。</p>
								<div class="facilities-subheading">服務</div>
								<p>
								積體電路前段工程測試和成品測試服務。
								</p>
							</div>
							<div class="information-box">
								<div class="information">
									<a href="http://www.iselabs.com/Template/" target="_blank"><img src="~/public/frontend/images_ch/about/facilities/url.svg")" class="small-icons">&nbsp;網站連結</a>
								</div>
									<div class="information address-information">
									<a href="https://goo.gl/maps/YhZEVrAmTa22" target="_blank">
									<img src="~/public/frontend/images_ch/about/facilities/address.svg")" class="small-icons">&nbsp;工廠位置圖
									</a>
								</div>
							</div>
						</div>
						<div class="col-md-3 panel-body right">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/about/facilities/labs.jpg")" class="responsive">
						</div>
					</div>
				</div>
			</div>
		</div>		
	</section>
