﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/ch/_Layout_seo.cshtml";
    ViewBag.Title = "關於日月光";
}
<style>
    .timeline_section .item ul li{
        margin-bottom:30px;
    }
</style>
    <!-- page Banner -->
    <section id="page-vision" class="page-banner-s banner-about">
        <h1 class="page-title title-large">關於日月光</h1>
        <video poster="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/about/video.jpg")" class="about-video" id="bgvid" playsinline autoplay muted loop>
            <!-- 使用JS增加Source -->
        </video>
    </section>

    <!--麵包屑-->
    <div class="content-lg row">
        <div class="col-xs-12">
            <ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
                <!-- Project-B Fix, Apply New Breadcrumb -->
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <a itemprop="item" href="/ch"><i class="icon-home"></i><span itemprop="name">Home</span></a>
                    <meta itemprop="position" content="0" />
                </li>
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <a itemprop="item" href="/ch/about"><span itemprop="name">關於日月光</span></a>
                    <meta itemprop="position" content="1" />
                </li>
            </ol>
        </div>
    </div>

    <!-- Project-B Fix, Remove Old Breadcrumb -->
    <!--content-->
    <section class="inside-article">
        <div class="content-lg row">
            <article class="col-xs-12">
                <h3 class="title">我們的使命</h3>
                <p>
                    無所不在的數位轉型正悄然改變我們的生活、工作、娛樂和溝通方式。作為全球半導體封測製造服務領導廠商，日月光致力於推動與延續摩爾定律發展，不遺餘力將技術整合並應用於全球創新的電子產品上，協助客戶創造高效能、低功耗、高速及卓越連結性的尖端產品。
                </p>
            </article>
        </div>
    </section>

    <section class="inside-article">
        <div class="content-lg row">
            <article class="col-xs-12">
                <br>
                <div class="col-xs-4 col-xs-offset-0 col-md-2 col-md-offset-1">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/about_capabilities_02.png"><br>
                    <h2 class="text-center" style="margin: 15px 0 0 0;">1984</h2>
                    <p class="text-center"><strong>成立</strong></p>
                </div>
                <div class="col-xs-4 col-md-2">
                    <img src="https://2311cdn.r.worldssl.net//pic/public/frontend/images/about/about_capabilities_05.png"><br>
                    <h2 class="text-center" style="margin: 15px 0 0 0;">2018</h2>
                    <p class="text-center"><strong>日月光投控成員<br>(TWSE: 3711, NYSE: ASX)</strong></p>
                </div>
                <div class="col-xs-4 col-md-2">
                    <img src="https://2311cdn.r.worldssl.net//pic/public/frontend/images/about/about_capabilities_04.png"><br>
                    <h2 class="text-center" style="margin: 15px 0 0 0;">2020</h2>
                    <p class="text-center"><strong>建立首座5G mmWave智能工廠</strong></p>
                </div>
                <div class="col-xs-4 col-xs-offset-2 col-md-2 col-md-offset-0">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/about_capabilities_03.png"><br>
                    <h2 class="text-center" style="margin: 15px 0 0 0;">45,000</h2>
                    <p class="text-center"><strong>全球員工人數</strong></p>
                </div>
                <div class="col-xs-4 col-md-2">
                    <img src="https://2311cdn.r.worldssl.net//pic/public/frontend/images/about/about_capabilities_06.png"><br>
                    <h2 class="text-center" style="margin: 15px 0 0 0;">25</h2>
                    <p class="text-center"><strong>智能工廠數量</strong></p>
                </div>
            </article>
        </div>
    </section>

    <section class="inside-article">
        <div class="content-lg row">
            <article class="col-xs-12">
                <h3 class="title">我們是技術先行者</h3>
                <p>
                    日月光是異質整合（Heterogeneous Integration, HI）技術先行者。異質整合是將原本分別製造組裝的電子元件，整合為單一封裝構造（系統級封裝System-in-Package, SiP），提供更強大的功能與更完善的運作特性。<br><br>

                    異質整合是系統整合發展的關鍵技術，在兼顧成本的前提下，不僅能大為降低訊號延遲和能耗，更能大幅提升頻寬和性能，實現卓越的智能性和連結性。更多日月光異質整合技術資訊，請點擊<a href="https://ase.aseglobal.com/ch/heterogeneous_integration">此處</a>，SiP資訊請點擊<a href="https://ase.aseglobal.com/ch/technology/sip_module">此處</a>。<br><br>

                    市場需求的轉變及5G互聯技術的出現，促進日月光智慧製造轉型和工業4.0加速發展。智慧工廠代表產業的未來，是日月光營運不可或缺的一部分。我們的策略是利用AI、大數據和智慧自動化實現全面數位轉型。善用智慧製造提高生產力、提升供應鏈價值並追求完美，進而走在時代前沿。更多日月光智慧工廠信息，請點擊<a href="https://ase.aseglobal.com/ch/solution/smart_factory_5g">此處</a>。
                </p>
                <p>&nbsp;</p>
                <h3 class="title">我們的願景 : 用科技實現美好未來</h3>
                <p>
                    日月光深信科技可以創建美好未來，通過創新、社會、經濟和環境管理致力於企業永續發展。<br><br>

                    我們始終推行強而有力的政策，對抗氣候變遷，實踐綠色環保技術和製造業發展，促進經濟快速發展並服務公共利益。2021年，日月光連續第六年被評為道瓊永續發展指數（Dow Jones Sustainability indices, DJSI）中的「半導體和半導體設備行業領導者｣。同年，被列入國際CDP氣候變遷和水安全兩項專案評比A Lists等級 ，進一步表明日月光致力於應對氣候變遷和建設水安全世界的承諾。更多日月光永續發展資訊，請點擊<a href="https://ase.aseglobal.com/ch/csr">此處</a>。
                </p>
            </article>
        </div>
    </section>
    <section class="inside-article">
        <div class="content-lg row">
            <article class="col-xs-12">
                <h3 class="title">領先群雄的IC製造服務</h3>
                <p>日月光以「自動化」、「高異質性機器設備整合」與「高異質性微系統封裝整合」三大主軸推動工廠智慧化 / 智能化的數位轉型。我們從自動化開始扎根，實踐客戶、供應商與日月光製造流程的三維度異質整合，以先進的資訊科技贏得客戶信任，並期許帶動整個半導體供應鏈的升級與創新。</p>
                <p>我們與環旭電子協同合作，提供前段工程測試、晶圓針測、IC封裝設計、基板設計製造、IC封裝、成品測試以及模組、電路板封裝和測試的一元化服務。<br /><br /></p>
                <h4>更多智慧製造／工業4.0資訊請參閱</h4>
                <p>
                    <a href="https://ase.aseglobal.com/ch/solution/industry4point0">» Industry 4.0</a><br /><br />
                </p>
                <h4>更多半導體供應鏈資訊請參閱</h4>
                <p>
                    <a href="https://ase.aseglobal.com/ch/solution/semiconductor-supply-chain">» Semiconductor Supply Chain</a>
                </p>
            </article>
        </div>
    </section>
    <section class="turnkey-services">
        <div class="content-lg row">
            <article class="col-xs-12">
                <div class="text-center">
                    <img class = "pc" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/about/turnkey_services.png?1" alt="ASE Turnkey Services">
                    <img class = "mobile" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/about/turnkey_services_m.png?1" alt="ASE Turnkey Services">
                </div>
            </article>
        </div>
    </section>
    <section class="inside-article">
        <div class="content-lg row">

            <!--<article class="col-sm-6 text-center" style="padding: 60px 10px 50px 10px;">
                <div class="col-md-12 nopadding">
                    <img src="https://2311cdn.r.worldssl.net/pic/bg-smart-manufacturing.jpg">
                </div>
                <div style="position:absolute; left:15%; top: 31%; z-index:100; margin:0 auto; background-color: rgba(0, 0, 0, 0.5); border-radius: 5px; width: 70%; height: 42%; padding: 2%; text-align: center;">
                    <h3 style="color:#fff; font-size: 32px;">智慧製造</h3>
                    <a class="button videoButton popupVideo" href="" target="_blank"><span style="padding-top: 4px;">立即觀看</span><i class="icon-play"></i></a>
                </div>
            </article>-->
            <article class="col-sm-8 col-sm-offset-2 text-center" style="padding: 60px 10px 50px 10px;">
                <div class="col-md-12 nopadding">
                    <img src="https://2311cdn.r.worldssl.net/pic/bg-semiconductor-turnkey-solutions.jpg">
                </div>
                <div style="position:absolute; left:15%; top: 31%; z-index:100; margin:0 auto; background-color: rgba(0, 0, 0, 0.5); border-radius: 5px; width: 70%; height: 42%; padding: 2%; text-align: center;">
                    <h3 style="color:#fff; font-size: 32px;">半導體一元化服務</h3>
                    <a class="button videoButton popupVideo" href="https://coms.aseglobal.com/marcom/video/services-at-a-glance-new-ch" target="_blank"><span style="padding-top: 4px;">立即觀看</span><i class="icon-play"></i></a>
                </div>
            </article>
        </div>
    </section>
    <section class="inside-article turnkey-services" style="padding: 60px 0;">
        <div class="content-lg row">
            <div class="products-menu1-content col-xs-12 csr">
            
                <div class="col-md-2">
                </div>
            
                <div class="col-md-4 bgnews-list list-base">
                    <div class="content">
                        <a href="https://ase.aseglobal.com/ch/about/milestones">
                            <span class="blue-text-in-box">大事紀</span>
                            <div class="circle_button-wrapper">
                                <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                            </div>
                        </a>
                    </div>
                </div>
            
                <div class="col-md-4 bgnews-list list-base">
                    <div class="content">
                        <a href="https://ase.aseglobal.com/ch/about/awards">
                            <span class="blue-text-in-box">獎項肯定</span>
                            <div class="circle_button-wrapper">
                                <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </section>