﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/ch/_Layout_seo.cshtml";
    ViewBag.Title = "日月光一元化服務";
    ViewBag.zhURL = "/ch/about/ase_turnkey_services";
}
<style>
    .foundation_link a {
        background-color: rgb(47, 138, 198, 1);
    }
</style>
<!-- page Banner -->
<section id="page-vision" class="page-banner-s banner-about">
    <h1 class="page-title title-large">了解日月光</h1>
    <video poster="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/video.jpg" class="about-video" id="bgvid" playsinline autoplay muted loop>
        <!-- 使用JS增加Source -->
    </video>
</section>

<!--麵包屑-->
<div class="content-lg row">
    <div class="col-xs-12">
        <ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch/about"><span itemprop="name">關於日月光</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item"><span itemprop="name">公司資訊</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch/about/ase_turnkey_services"><span itemprop="name">一元化服務</span></a>
					<meta itemprop="position" content="3" />
				</li>
        </ol>
    </div>
</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->

<!-- Content -->
<section class="inside-article">
    <div class="content-lg row">
        <article class="col-xs-12">
            <h3 class="title">領先群雄的IC製造服務</h3>
            <p>日月光與環旭電子協同合作，提供前段工程測試、晶圓針測、IC封裝設計、基板設計製造、IC封裝、成品測試以及模組、電路板封裝和測試的一元化服務。</p>
        </article>
    </div>
</section>
<section class="turnkey-services">
    <div class="content-lg row">
        <article class="col-xs-12">
            <div class="text-center">
                <img class = "pc" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/about/turnkey_services.png?1" alt="ASE Turnkey Services">
                <img class = "mobile" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/about/turnkey_services_m.png?1" alt="ASE Turnkey Services">
            </div>
        </article>
    </div>
</section>
<section class="inside-article">
    <div class="content-lg row">
        <article class="col-md-8 col-md-offset-2 text-center" style="padding: 60px 0 50px 0;">
            <div class="col-md-12 nopadding">
                <img src="https://2311cdn.r.worldssl.net/pic/bg-semiconductor-turnkey-solutions.jpg">
            </div>
            <div style="position:absolute; left:15%; top: 35%; z-index:100; margin:0 auto; background-color: rgba(0, 0, 0, 0.5); border-radius: 5px; width: 70%; height: 30%; padding: 6%; text-align: center;">
                <a class="button videoButton popupVideo" href="https://coms.aseglobal.com/marcom/video/services-at-a-glance-ch" target="_blank"><span style="padding-top: 4px;">立即觀看</span><i class="icon-play"></i></a>
            </div>
        </article>
    </div>
</section>
<section class="foundation_link" style="padding: 60px 0;">
    <div class="content-lg row">
        <div class="col-xs-12">
            <div class="list">
                <div class="content">
                    <a class="button" href="https://ase.aseglobal.com/ch/products/assembly"><span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 封裝&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </span><i class="icon-arrow-right"></i></a>
                    <a class="button" href="https://ase.aseglobal.com/ch/products/test"><span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 測試&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </span><i class="icon-arrow-right"></i></a>
                    <a class="button" href="https://ase.aseglobal.com/ch/products/material"><span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 材料&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </span><i class="icon-arrow-right"></i></a>
                </div>      
            </div>
        </div>
    </div>
</section>