﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/ch/_Layout_seo.cshtml";
    ViewBag.Title = "獎項肯定";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-about">
		<h1 class="page-title title-large">關於日月光</h1>
		<video poster="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/about/video.jpg" class="about-video" id="bgvid" playsinline autoplay muted loop>
			<!-- 使用JS增加Source -->
		</video>
	</section>

	<!--麵包屑-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch/about"><span itemprop="name">關於日月光</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item"><span itemprop="name">公司資訊</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch/about/awards"><span itemprop="name">獎項肯定</span></a>
					<meta itemprop="position" content="3" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->
	<!--content -->
	<section class="timeline_section inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">獎項肯定</h3>				
			</article>
		</div>
        <div class="content-lg row">
        	<div class="col-xs-12">
				<div id="award" class="timeline_div">    
                    <div class="timeline_container">
                        <div class="timeline">
                            <div class="plus"></div>
                        </div>   
                    </div>
                    <div class="item offset-first">
                        <span class="corner big past"></span>
                        <div class="year past"><b>2023</b></div>
                        <div class="event">
                            <ul class="current">
                                <li>
                                    日月光先進晶圓級封裝廠獲選世界經濟論壇燈塔工廠<br><br>

                                    <img class="col-md-4" src="@Url.Content("https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/pic-milestones-2023-1.png")" />
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="item">
                        <span class="corner past"></span>                  
                        <div class="year past"><b>2016 ~ 2022</b></div>
                        <div class="event">
                            <ul class="current">
                                <li>
                                    2016~2022連續七年 榮獲道瓊永續「半導體及半導體設備產業」產業最高分<br><br>

                                    <img class="col-sm-12 col-md-12 no-margin" src="@Url.Content("https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/pic-milestones-2020-5.png")" />      
                                </li>                               
                            </ul>    
                        </div>
                    </div> 
				    <div class="item">   
                        <span class="corner past"></span>                     
                        <div class="year past"><b>2018</b></div>
                        <div class="event">
                            <ul class="current">
                                <li>                         
								    日月光集團榮登《湯森路透》2018年全球百大技術領袖（Thomson Reuters Top 100 Global Technology Leader），該獎項肯定日月光在科技產業營運與財務面的傑出表現<br><br>

								    <img class="col-sm-12 col-md-12 no-margin" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/award_2018_1.jpg" />
								</li>
                                <li>
                                    日月光於2016和2018年CDP氣候變遷專案評比中，榮獲最高等級的A List評價(The Climate A List)，是台灣首家入選兩次A List的企業。<br><br>

                                    <img class="col-md-6 no-margin" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/award_2019_img03.png")" />
                                </li>                              
                            </ul>    
                        </div>
                    </div> 					
                    <div class="item">   
                        <span class="corner  past"></span>                     
                        <div class="year past"><b>2017</b></div>
                        <div class="event">
                            <ul class="current">
                                <!--<li>
                                    榮登亞洲通訊 (Asian Correspondent) CSR 50指數，日月光集團獲評為50家入選公司之一，同時也是台灣5家入選公司之一。亞洲通訊所發布的CSR指數評選於亞洲地區重視環保意識，且全面推動落實永續政策的公司。</li>
								<li>
                                    日月光集團榮獲RobecoSAM"2017年世界企業永續年鑑"之金級獎，日月光是「全球半導體及半導體設備」產業中排名前1%的企業，同時獲得「金級」與「最佳進步」兩項殊榮，公司致力於企業社會責任與永續發展之作為獲得高度肯定。</p>
								</li>-->
                                <li>
                                    日月光集團董事長張虔生榮獲卡內基卓越領導人獎，該獎項表揚帶領全球員工創新與人才發展，獲得國際級獎項的肯定<br><br>

                                    <img class="col-md-4 no-margin" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/about/award_2017_img01.png")" /><br><br>
                                </li>
                            </ul>    <br><br>
                        </div>
                    </div> 
                    <div class="item">  
                        <span class="corner past"></span>                     
                        <div class="year past"><b>2016</b></div>
                        <div class="event">
                            <ul class="current">
								<li>
                                    榮獲「2016 AREA亞洲企業社會責任獎」，以「日月光30環保基金專案」榮獲「社會公益發展獎」項目<br><br>

                                    <img class="col-md-4" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/about/award_2016_img01.png")"  />
                                </li>
                                <li>                                    
                                    獲頒台灣永續能源研究基金會評選之2016 TCSA台灣企業永續獎，榮獲「台灣TOP 50企業永續報告」金獎、台灣企業永續之單項績效類「氣候領袖獎」及「供應鏈管理獎」。
								</li>               
                            </ul>    
                        </div>
                    </div>
                    <div class="item">  
                        <span class="corner past"></span>                     
                        <div class="year past"><b>2015</b></div>
                        <div class="event">
                            <ul class="current">
                                <li>
                                    集團董事長張虔生成功將銅打線技術導入成為業界標準，榮獲 SEMI (國際半導體協會) 卓越貢獻獎。
                                    <br><br>

                                    <img class="col-md-4" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/about/award_2016_img04.png")" />
                                </li>            
                            </ul>    
                        </div>
                    </div>
                    <div class="item">  
                        <span class="corner past"></span>                     
                        <div class="year past"><b>2014</b></div>
                        <div class="event">
                            <ul class="current">
                                <li>
                                    榮獲富比世 (Forbes) 雜誌評選為亞洲企業五十強 (Fab 50)，亦是2014年台灣唯一上榜之上市公司<br><br>
                                   
                                    <img class="col-sm-12 col-md-5  no-margin" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/about/award_2014_img01.png")"  />
                                </li>                          
                            </ul>    
                        </div>
                    </div> 
                    <div class="item">  
                        <span class="corner past"></span>                     
                        <div class="year past"><b>2011</b></div>
                        <div class="event">
                            <ul class="current">
                                <li>
                                    榮獲經濟部頒發「一百年國家發明創作獎」殊榮<br><br>
                             
                                    <img class="col-sm-10 col-md-8 no-margin"  src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/about/award_2011_img01.png")" />                                    
                                </li> 
                               <li>
                                    日月光榮獲數位時代「科技100強」臺灣第三名與亞洲前十強，名列亞洲/臺灣的雙榜得主
                               </li>          
                            </ul>    
                        </div>
                    </div>
                    <div class="item">  
                        <span class="corner past"></span>                     
                        <div class="year past"><b>2002</b></div>
                        <div class="event">
                            <ul class="past">
                                <li>
                                    榮獲美國半導體設計協會 (Fabless Semiconductor Association) 評選為最佳封裝測試服務供應商                          
                                </li> 
                                <li>
                                    榮獲第十屆經濟部產業科技發展獎之傑出獎
                                </li>                          
                            </ul>    
                        </div>
                    </div>
                  </div>   
            </div>
            </div>
        </div>
	</section>
