﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/ch/_Layout_seo.cshtml";
    ViewBag.Title = "人才招募";
    ViewBag.zhURL = "/ch/about/careers";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-about">
		<h1 class="page-title title-large">關於日月光</h1>
		<video poster="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/about/video.jpg")" class="about-video" id="bgvid" playsinline autoplay muted loop>
			<!-- 使用JS增加Source -->
		</video>
	</section>

	<!--麵包屑-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch/about"><span itemprop="name">關於日月光</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch/about/careers"><span itemprop="name">人才招募</span></a>
					<meta itemprop="position" content="2" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->

	<!-- Content -->


	<!-- ================ start of content ================  -->
	<section class="inside-article">
		<div class="content-lg row">
			<div class="col-md-12">
				<h3 class="title">人才招募</h3>
			</div>

			<div class="col-md-7">
				<p><h4>日月光工作機會</h4></p>
				<p>
					日月光為全球最大半導體製造服務公司，自1984年起即提供包括晶片前段測試及晶圓針測至後段之封裝、材料及成品測試的一元化服務。我們專注於運用我們先進封裝、材料、及測試技術，在半導體製程每個階段皆提供附加價值給全球客戶。<br><br>
				
                	身為全球電子供應鏈中不可或缺的環節，日月光在全球各地有製造據點。日月光專注投入做為客戶的虛擬工廠，以務實勤奮的精神提供猷如客戶團隊延伸的服務，協助客戶有效縮短整體製造流程時間，確保產品的高良率與高可靠度。
				</p>
			</div>
			<div class="col-md-5 padding-bottom10">
				<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/about/careers/careers1.jpg">
			</div>
            <div class="clearfix"><p>&nbsp;<br><br></p></div>			
			<div class="col-md-5 padding-bottom10">
				<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/about/careers/careers2.jpg">
			</div>
			<div class="col-md-7">
				<p>
					日月光全球營運據點包括臺灣、中國、南韓、日本、馬來西亞、新加坡等地。除此之外，我們在美國與歐洲設立業務辦公室。日月光的全球策略性營運服務平均分佈於3C市場的客戶群，使日月光成為全球半導體產業的知名企業。<br><br>

                    日月光承諾持續進行人才的投資與培育，促進員工在公司的職涯發展，為公司累積高技能及經驗豐富的人力資本。我們致力於提供及維護舒適安全及照護員工身心健康的工作環境，促進員工工作效率及生產力。
				</p>				
			</div>
			<div class="col-md-12 padding-top40 padding-bottom40">
				<p><h4>日月光全球營運據點工作機會：</h4>
					日月光高雄廠：<a href="https://asekhsite.aseglobal.com/content/5-51c.html" target="_blank">線上召募</a><br>
					日月光中壢廠：<a href="mailto:asecl_recruit@aseglobal.com">asecl_recruit@aseglobal.com</a><br>
					日月光日本廠：<a href="https://www.asejp.aseglobal.com/recruit/" target="_blank">線上召募</a><br>
					日月光韓國廠：<a href="mailto:career@asekr.com">career@asekr.com</a><br>
					日月光馬來西亞廠：<a href="https://www.asemal.com.my/Content/HR/jobs" target="_blank">線上召募</a><br>
					日月光新加坡廠：<a href="https://www.aseglobal.com.sg/index.php/career/job-application/" target="_blank">線上召募</a><br>
					<!--
					日月光上海廠：<a href="http://www.asesh.aseglobal.com/content/5-5c.html" target="_blank">線上召募</a><br>
					日月光昆山廠：<a href="http://www.aseks.aseglobal.com/content/5-5c.html" target="_blank">線上召募</a><br>
					蘇州日月新：<a href="http://www.asen.aseglobal.com/content/CareerOpportunities.html" target="_blank">線上召募</a><br>
					-->
					日月光美國辦公室：<a href="mailto:hr@aseus.com">hr@aseus.com</a><br>
					日月光歐洲辦公室：<a href="mailto:juliette.handwerker@aseeu.com">juliette.handwerker@aseeu.com</a><br>
					ISE Labs: <a href="mailto:careers@iselabs.com">careers@iselabs.com</a><br>
					研發替代役 (日月光高雄廠及中壢廠)：<a href="mailto:ASEKH_recruiting@aseglobal.com">ASEKH_recruiting@aseglobal.com</a>
				</p>
			</div>



		</div>
	</section>