﻿@using web.Models;
@using web.Common;
@model contact
@{
    Layout = "~/Views/Shared/ch/_Layout_seo.cshtml";
    Dictionary<string, string> error = (Dictionary<string, string>)TempData["error"];
    List<string> country_list = ViewBag.country_list;
}

<!-- page Banner -->
<section id="page-vision" class="page-banner-s banner-about">
    <h1 class="page-title title-large">了解日月光</h1>
    <video poster="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/video.jpg" class="about-video" id="bgvid" playsinline autoplay muted loop>
        <!-- 使用JS增加Source -->
    </video>
</section>

<!--麵包屑-->
<div class="content-lg row">
    <div class="col-xs-12">
        <ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
        </ol>
    </div>
</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->

<section class="inside-article">
    <div class="content-lg row">
        <article class="col-xs-12">
            <h3 class="title">聯絡日月光</h3>
        </article>
    </div>
</section>
<section class="page-list-content section-contact">
   <!--<div class="content-lg row">
        <div class="col-xs-12">
            <h4>*必填欄位</h4>
        </div>
    </div>
    <div class="content-lg row">
        <div class="col-xs-12">
            <div>
            @using (Html.BeginForm("Form", "About", FormMethod.Post, new { enctype = "multipart/form-data", id = "form1" }))
            {
                @Html.AntiForgeryToken()
                <div class="list">
                    <div class="remind">若您有任何問題、意見或建議，請填寫以下資料。謝謝您!</div>
                    <div class="row row_padding_0">
                        <div class="col-xs-12 col-sm-12 col-md-6">
                            <div class="content-wrapper">
                                <div class="require">
                                    <label>問題類型 :</label>
                                    <select name="type">
                                        <option value="">Please Select</option>
                                        <option value="1" @(Model.type == 1 ? "selected" : "")>網站詢問</option>
                                        <option value="2" @(Model.type == 2 ? "selected" : "")>媒體聯絡 - 美國/歐洲媒體窗口</option>
                                        <option value="3" @(Model.type == 3 ? "selected" : "")>媒體聯絡 - 亞洲媒體窗口</option>
                                        <option value="4" @(Model.type == 4 ? "selected" : "")>企業社會責任詢問</option>
                                    </select>
                                    <span class="text-red">@ViewHelper.GetErrorMsg(error, "type")</span>
                                </div>
                                <div class="require"><label>姓名:</label><input name="name" type="text" required value="@(Model.name)"/></div>
                                <span class="text-red">@ViewHelper.GetErrorMsg(error, "name")</span>
                                <div class="require"><label>電子信箱:</label><input name="email" type="email" required value="@(Model.email)"/></div>
                                <span class="text-red">@ViewHelper.GetErrorMsg(error, "email")</span>

                                <div class="phone">
                                    <label>電話 :</label>
                                    <div>
                                        <span>+</span>
                                        <span>
                                            <select name="country_code">
                                                @foreach (string item in ViewBag.country_code)
                                                {
                                                    if (Tool.IsNumeric(item))
                                                    {
                                                        <option value="@(item)" @(Model.country_code == item ? "selected" : "")>@(item)</option>
                                                    }
                                                }
                                            </select>
                                        </span>
                                        <span><input name="phone" type="text"  value="@(Model.phone)"/></span>
                                        <span>(分機)</span>
                                        <span><input name="ext" type="text" value="@(Model.ext)" /></span>
                                    </div>
                                </div>
                                <div>
                                    <label>公司 / 組織:</label><input name="company" type="text" value="@(Model.company)" />
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6">
                            <div class="content-wrapper fixed">
                                <div class="require question">
                                    <label>問題，意見或建議:</label>
                                    <textarea name="contents" required>@(Model.contents)</textarea>
                                    <span class="text-red">@ViewHelper.GetErrorMsg(error, "contents")</span>
                                </div>
                                <div class="agree-div">
                                    <div>
                                        <input name="agree" type="checkbox" value="" id='agree01' required/><label for="agree01">I agree to the <a href="javascript:;">Terms of Use</a></label>
                                    </div>
                                    <button type="submit" id="submit_btn">提交問卷</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>-->
    <div class="content-lg row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="list">
                <div class="title">
                    網站詢問
                    <a href="#open01" data-toggle="collapse" class="collapsed feedback"></a>
                </div>
                <div class="content-wrapper content-feedback">
                    <div id="open01" class="collapse text-center">
                        若您有任何關於網站的問題、意見或建議，請<a href="mailto:ase_webmaster@aseglobal.com">直接聯繫</a> 我們。
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-lg row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="list">
                <div class="title">
                    業務聯絡
                    <a href="#open02" data-toggle="collapse" class="collapsed feedback"></a>
                </div>
                <div class="content-wrapper content-feedback">
                    <div id="open02" class="collapse text-center">
                        聯絡各地業務代表，詳細資訊請瀏覽<a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "plants_offices_ase" })">業務據點</a>。
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-lg row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="list">
                <div class="title">
                    媒體查詢
                    <a href="#open03" data-toggle="collapse" class="collapsed feedback"></a>
                </div>
                <div class="content-wrapper content-feedback">
                    <div id="open03" class="collapse text-center">
                        <div class="media-enquiries">
                            
                            
                                <div class="col text-center">
                                    <b>美國/歐洲</b><br />
                                    Patricia MacLeod<br />
                                    1-408-636-9500<br />
                                    <a href="mailto:patricia.macleod@aseus.com">patricia.macleod@aseus.com</a>
                                </div>
                                <div class="col text-center">
                                    <b>亞洲</b><br />
                                    Jennifer Yuen<br />
                                    65-6631-4229<br />
                                    <a href="mailto:jennifer.yuen@aseus.com">jennifer.yuen@aseus.com</a>
                                </div>
                         
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	    <div class="content-lg row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="list">
                <div class="title">
                    企業社會責任詢問
                    <a href="#open05" data-toggle="collapse" class="collapsed feedback"></a>
                </div>
                <div class="content-wrapper content-feedback">
                    <div id="open05" class="collapse text-center">
                        若您對於日月光企業社會責任有任何建議與問題，請聯繫：<a href="mailto:ase_csr@aseglobal.com">ase_csr@aseglobal.com</a>.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-lg row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="list">
                <div class="title">
                    投資人關係聯絡
                    <a href="#open04" data-toggle="collapse" class="collapsed feedback"></a>
                </div>
                <div class="content-wrapper content-feedback">
                    <div id="open04" class="collapse text-center">
                        若您有任何關於日月光投資人關係服務的資訊與建議，請瀏覽<a href="/public/ch/ir.html">投資人關係網頁</a>。
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<style>
    .text-red {
        color: red;
    }
    .text-center{
        text-align:center !important;
    }
</style>
<script>
    $(document).ready(function () {
        $('#submit_btn').on('click', function (e) {
            e.preventDefault();
            if (!$('#agree01').prop('checked')) {
                swal(
                    'OOPS ...',
                    'Sorry, please agree to ASE "Terms of Use" to complete form',
                    'warning'
                );
            } else {
                $('#form1').submit();
            }
        });
    });
</script>
