﻿@using web.Models;
@using web.Common;
@model contact
@{
    Layout = "~/Views/Shared/ch/_Layout_seo.cshtml";
    Dictionary<string, string> error = (Dictionary<string, string>)TempData["error"];
    List<string> country_list = ViewBag.country_list;
    ViewBag.Title = "聯絡我們";
}

<!-- page Banner -->
<section id="page-vision" class="page-banner-s banner-about">
    <h1 class="page-title title-large">關於日月光</h1>
    <video poster="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/video.jpg" class="about-video" id="bgvid" playsinline autoplay muted loop>
        <!-- 使用JS增加Source -->
    </video>
</section>

<!--麵包屑-->
<div class="content-lg row">
    <div class="col-xs-12">
        <ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
			<!-- Project-B Fix, Apply New Breadcrumb -->
			<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				<a itemprop="item" href="/ch"><i class="icon-home"></i><span itemprop="name">Home</span></a>
				<meta itemprop="position" content="0" />
			</li>
			<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				<a itemprop="item" href="/ch/about"><span itemprop="name">關於日月光</span></a>
				<meta itemprop="position" content="1" />
			</li>
			<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				<a itemprop="item"><span itemprop="name">聯絡我們</span></a>
				<meta itemprop="position" content="2" />
			</li>
        </ol>
    </div>
</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->

<section class="inside-article">
    <div class="content-lg row">
        <article class="col-xs-12">
            <h3 class="title">聯絡我們</h3>
            <br>
            <h4 class="sub-title">業務聯絡</h4>
            <p>聯絡各地業務代表，詳細資訊請瀏覽<a href="@Url.Action("plants_offices", "About", new { lang = ViewBag.language.lang })">業務據點</a>。</p>
            <br>
            <h4 class="sub-title">媒體查詢</h4>
            <p style="padding-bottom: 5px;"><b>美國/歐洲</b><br />
                Patricia MacLeod<br />
                1-408-636-9500<br />
                <a href="mailto:patricia.macleod@aseus.com">patricia.macleod@aseus.com</a></p>
            <p><b>亞洲</b><br />
                Jennifer Yuen<br />
                65-6631-4229<br />
                <a href="mailto:jennifer.yuen@aseus.com">jennifer.yuen@aseus.com</a></p>
            <br>
            <h4 class="sub-title">企業社會責任詢問</h4>
            <p>若您對於日月光企業社會責任有任何建議與問題，請聯繫：<a href="mailto:ase_csr@aseglobal.com">ase_csr@aseglobal.com</a>。</p>
            <br>
            <h4 class="sub-title">網站詢問</h4>
            <p>若您有任何關於網站的問題、意見或建議，請直接<a href="mailto:ase_webmaster@aseglobal.com">聯繫我們</a>。</p>
            <br>
            <h4 class="sub-title">Logo與視覺規範指南</h4>
            <p>對於正確使用日月光與相關公司的Logo或其它受版權保護素材，如有任何問題或欲申請授權使用，請聯繫：<a href="mailto:corp_comms@aseglobal.com">corp_comms@aseglobal.com</a>。</p>
            <br>
        </article>
    </div>
</section>
