﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/ch/_Layout_seo.cshtml";
    ViewBag.Title = "全球工廠";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-about">
		<h1 class="page-title title-large">關於日月光</h1>
		<video poster="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/about/video.jpg")" class="about-video" id="bgvid" playsinline autoplay muted loop>
			<!-- 使用JS增加Source -->
		</video>
	</section>

	<!--麵包屑-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch/about"><span itemprop="name">關於日月光</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch/about/manufacturing_facilities"><span itemprop="name">全球工廠</span></a>
					<meta itemprop="position" content="2" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->

	<!-- Content -->
	<section class="inside-article">
		<div class="content-lg row">
			<div class="col-md-12">
				<h3 class="title">全球工廠</h3>
			</div>
		</div>
	</section>
<br>
	<div class="content-lg row">
		<div class="facilities-top col-xs-12">

		<div class="dropdown">
			<button class="btn btn-white dropdown-toggle border-999" type="button" data-toggle="dropdown"><span class="color-999">選擇據點</span>
			<i class="form-control-feedback icon-align-right glyphicon glyphicon-triangle-bottom color-999"></i></button>
			<ul class="dropdown-menu dropdown-menu-facilities">
				<li><a href="#Kaohsiung">日月光高雄廠</a></li>
				<li><a href="#Chungli">日月光中壢廠</a></li>
				<li><a href="#Shanghai2">日月光上海材料廠</a></li>
				<li><a href="#Wuxi">日月光無錫廠</a></li>
				<li><a href="#Korea">日月光韓國廠</a></li>
				<li><a href="#Japan">日月光日本廠</a></li>
				<li><a href="#Malaysia">日月光馬來西亞廠</a></li>
				<li><a href="#Singapore">日月光新加坡廠</a></li>	
				<li><a href="#Labs">ISE Labs</a></li>		
        <li><a href="#Labs-China">上海月芯科技</a></li>		
			</ul>
		</div> 

<form role="form"> 
  <div class="form-group has-feedback">
    <label class="control-label sr-only">Username</label>
    <input type="text" class="form-control border-999" placeholder="搜尋" />
    <i class="form-control-feedback glyphicon glyphicon-search color-999"></i>
  </div>
</form>
		</div>
	</div>



	<!-- ================ start of content ================  -->
	<section class="page-list-content facilities">

		<div class="content-lg row bgnews-list">

			<div class="col-xs-12 list-base special" id="Kaohsiung">
				<div class="panel panel-default">
					<div class="panel-body facilities-content-box-header">
	    				<div class="col-md-12 panel-body">
	    					<div class="facilities-heading">日月光高雄廠</div>
	    				</div>
					</div>
					<div class="panel-body">
						<div class="col-md-9 panel-body left">
							<div class="content">
								<p>日月光高雄廠為旗艦廠，設置研發中心，提供完整的封裝、晶圓凸塊、材料、測試的一元化服務。</p>
								<div class="facilities-subheading">服務</div>
								<p>
								封裝、晶圓針測、材料及成品測試。
								</p>
							</div>
							<div class="information-box">
                                <p class="information"><a><span class="glyphicon glyphicon-earphone"></span>&nbsp;886-7-361-7131 #16518</a></p><br>
                                <p class="information"><a><span class="glyphicon glyphicon-user"></span>&nbsp;Stone Shi</a></p><br>
                                <p class="information"><a href="mailto:ASEKH_Info@aseglobal.com"><span class="glyphicon glyphicon-envelope"></span>&nbsp;ASEKH_Info@aseglobal.com</a></p><br>
                                <p class="information"><a href="https://goo.gl/maps/SVRM4SBWAtxPoCiL7" target="_blank"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;高雄市楠梓區經三路26號</a></p><br>
								<p class="information">
									<a href="https://asekhsite.aseglobal.com" target="_blank"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/about/facilities/url.svg")" class="small-icons">&nbsp;網站連結</a>
								</p>
							</div>
						</div>
						<div class="col-md-3 panel-body right">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/about/facilities/kaohsiung.jpg")" class="responsive">
						</div>
					</div>
				</div>
			</div>

			<div class="col-xs-12 list-base special" id="Chungli">
				<div class="panel panel-default">
					<div class="panel-body facilities-content-box-header">
	    				<div class="col-md-12 panel-body">
	    					<div class="facilities-heading">日月光中壢廠</div>
	    				</div>
					</div>
					<div class="panel-body">
						<div class="col-md-9 panel-body left">
							<div class="content">
								<p>日月光中壢廠是智慧型工業園區，提供IC封裝、測試及材料一元化服務。中壢廠在無線通訊領域擁有豐富經驗，提供影像感測器與QFN封裝應用方案。</p>
								<div class="facilities-subheading">服務</div>
								<p>
								封裝設計、組裝、模組封裝與測試、材料製造。
								</p>
							</div>
							<div class="information-box"><p class="information"><a><span class="glyphicon glyphicon-earphone"></span>&nbsp;886-3-452-7121 #67915</a></p><br>
                                <p class="information"><a><span class="glyphicon glyphicon-user"></span>&nbsp;Kevin Huang</a></p><br>
                                <p class="information"><a href="mailto:Kevin2_Huang@aseglobal.com"><span class="glyphicon glyphicon-envelope"></span>&nbsp;Kevin2_Huang@aseglobal.com</a></p><br>
                                <p class="information"><a href="https://goo.gl/maps/SkbSP2WZnx82" target="_blank"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;桃園縣中壢市中華路一段550號</a></p><br>
								<p class="information">
									<a href="https://www.asecl.com.tw" target="_blank"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/about/facilities/url.svg")" class="small-icons">&nbsp;網站連結</a>
								</p>
							</div>
						
						</div>
						<div class="col-md-3 panel-body right">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/about/facilities/chungli.jpg")" class="responsive">
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-xs-12 list-base special" id="Shanghai2">
				<div class="panel panel-default">
					<div class="panel-body facilities-content-box-header">
	    				<div class="col-md-12 panel-body">
	    					<div class="facilities-heading">日月光上海材料廠</div>
	    				</div>
					</div>
					<div class="panel-body">
						<div class="col-md-9 panel-body left">
							<div class="content">
								<p>日月光上海材料廠位於上海張江高科技園區，經由專業IC載板生產經驗及持續研發創新，為全球半導體封裝產業客戶提供整合性IC載板設計服務與生產製造。</p>
								<div class="facilities-subheading">服務</div>
								<p>
								PBGA、TFBGA、BOC、fcCSP、Memory、SiP Module載板設計及生產。
								</p>
							</div>
							<div class="information-box">								
								<p class="information"><a><span class="glyphicon glyphicon-earphone"></span>&nbsp;86-21-5080-5888 #53808</a></p><br>
                                <p class="information"><a><span class="glyphicon glyphicon-user"></span>&nbsp;紹輝</a></p><br>
                                <p class="information"><a href="mailto:h_shao@aseglobal.com"><span class="glyphicon glyphicon-envelope"></span>&nbsp;h_shao@aseglobal.com</a></p><br>
                                <p class="information"><a href="https://goo.gl/maps/mtGRh138ETo" target="_blank"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;中國上海市浦東新區張江高科技園區金科路2300號</a></p>
							</div>
						</div>
						<div class="col-md-3 panel-body right">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/about/facilities/shanghai2.jpg")" class="responsive">
						</div>
					</div>
				</div>
			</div>

			<div class="col-xs-12 list-base special" id="Wuxi">
				<div class="panel panel-default">
					<div class="panel-body facilities-content-box-header">
	    				<div class="col-md-12 panel-body">
	    					<div class="facilities-heading">日月光無錫廠</div>
	    				</div>
					</div>
					<div class="panel-body">
						<div class="col-md-9 panel-body left">
							<div class="content">
								<p>日月光取得無錫通芝微電子有限公司股權，成立日月光無錫廠，強化日月光在大陸半導體封裝測試業務。</p>
								<div class="facilities-subheading">服務</div>
								<p>
								提供QFP、LQFP、SOP、PDIP等應用於家用電器、通訊以及娛樂應用類電子產品的封裝與測試整合型服務。</p>
							</div>
							<div class="information-box">
								<p class="information"><a><span class="glyphicon glyphicon-earphone"></span>&nbsp;86-510-8522-5352</a></p><br>
                                <p class="information"><a><span class="glyphicon glyphicon-user"></span>&nbsp;Tina Guo</a></p><br>
                                <p class="information"><a href="mailto:yinjie_guo@aseglobal.com"><span class="glyphicon glyphicon-envelope"></span>&nbsp;yinjie_guo@aseglobal.com</a></p><br>
                                <p class="information"><a href="https://goo.gl/maps/upkGc9e54eT2" target="_blank"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;中國江蘇省無錫市無錫高新技術開發區52號地塊29-B廠房閩江路21號</a></p>
							</div>
						</div>
						<div class="col-md-3 panel-body right">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/about/facilities/wuxi.jpg")" class="responsive">
						</div>
					</div>
				</div>
			</div>

			<div class="col-xs-12 list-base special" id="Korea">
				<div class="panel panel-default">
					<div class="panel-body facilities-content-box-header">
	    				<div class="col-md-12 panel-body">
	    					<div class="facilities-heading">日月光韓國廠</div>
	    				</div>
					</div>
					<div class="panel-body">
						<div class="col-md-9 panel-body left">
							<div class="content">
								<p>日月光韓國廠提供射頻、汽車電子和電信類比、微機電影像感測器元件封裝和測試服務。</p>
								<div class="facilities-subheading">服務</div>
								<p>
								感測器、通訊、無線和汽車電子半導體封裝與測試服務。<br><br>
								</p>
							</div>
							<div class="information-box">
								<p class="information"><a><span class="glyphicon glyphicon-earphone"></span>&nbsp;82-31-940-0361</a></p><br>
                                <p class="information"><a><span class="glyphicon glyphicon-user"></span>&nbsp;Robinson Hwang</a></p><br>
                                <p class="information"><a href="mailto:robinsonhwang@asekr.com"><span class="glyphicon glyphicon-envelope"></span>&nbsp;robinsonhwang@asekr.com</a></p><br>
                                <p class="information"><a href="https://goo.gl/maps/dcSGwhThNJC2" target="_blank"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;76 Saneopdanji-gil, Paju-si, Gyeonggi-do, 10878, Korea</a></p><br>
								<p class="information">
									<a href="https://www.asekr.com/asekr_new/" target="_blank"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/facilities/url.svg" class="small-icons">&nbsp;網站連結</a>
								</p>
							</div>
						</div>
						<div class="col-md-3 panel-body right">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/about/facilities/korea.jpg")" class="responsive">
						</div>
					</div>
				</div>
			</div>

			<div class="col-xs-12 list-base special" id="Japan">
				<div class="panel panel-default">
					<div class="panel-body facilities-content-box-header">
	    				<div class="col-md-12 panel-body">
	    					<div class="facilities-heading">日月光日本廠</div>
	    				</div>
					</div>
					<div class="panel-body">
						<div class="col-md-9 panel-body left">
							<div class="content">
								<p>日月光收購日本NEC電子封裝與測試廠成立日月光日本廠，提供BGA、QFP封裝及IC測試服務。</p>
								<div class="facilities-subheading">服務</div>
								<p>
								BGA與接腳型封裝和測試。<br><br>
								</p>
							</div>
							<div class="information-box">
								<p class="information"><a><span class="glyphicon glyphicon-earphone"></span>&nbsp;81-238-57-3894</a></p><br>
                                <p class="information"><a href="mailto:asej_market@asejp.aseglobal.com"><span class="glyphicon glyphicon-envelope"></span>&nbsp;asej_market@asejp.aseglobal.com</a></p><br>
                                <p class="information"><a href="https://goo.gl/maps/pDUDr7Cga7z" target="_blank"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;1863, Ooazairyuda, Takahata-machi Higashiokitama-gun, Yamagata, 992-0324, Japan</a></p><br>
								<p class="information">
									<a href="https://www.asejp.aseglobal.com" target="_blank"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/facilities/url.svg" class="small-icons">&nbsp;網站連結</a>
								</p>
							</div>
						</div>
						<div class="col-md-3 panel-body right">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/about/facilities/japan.jpg")" class="responsive">
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-xs-12 list-base special" id="Malaysia">
				<div class="panel panel-default">
					<div class="panel-body facilities-content-box-header">
	    				<div class="col-md-12 panel-body">
	    					<div class="facilities-heading">日月光馬來西亞廠</div>
	    				</div>
					</div>
					<div class="panel-body">
						<div class="col-md-9 panel-body left">
							<div class="content">
								<p>日月光馬來西亞廠服務通訊、電腦、工業及汽車電子市場廣大客戶群，透過高度自動化製程與先進設備，開發包括QFP、TQFP、BGA、SOIC、SOJ、PDIP與相機模組等封裝測試產品。</p>
								<div class="facilities-subheading">服務</div>
								<p>
								通訊、消費性電子、工業和工業市場領域封裝與測試服務。
								</p>
							</div>
							<div class="information-box">
								<p class="information"><a><span class="glyphicon glyphicon-earphone"></span>&nbsp;60-4-632-8105</a></p><br>
                                <p class="information"><a><span class="glyphicon glyphicon-user"></span>&nbsp;Kelvin Ho</a></p><br>
                                <p class="information"><a href="mailto:kelvinho@asemal.com.my"><span class="glyphicon glyphicon-envelope"></span>&nbsp;kelvinho@asemal.com.my</a></p><br>
                                <p class="information"><a href="https://goo.gl/maps/F2XtjnPKPhBpmXmc7" target="_blank"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;Plot 20, Phase IV, Free Industrial Zone, 11900 Bayan Lepas, Penang, Malaysia.</a></p><br>
								<p class="information">
									<a href="https://www.asemal.com.my/" target="_blank"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/facilities/url.svg" class="small-icons">&nbsp;網站連結</a>
								</p>
							</div>
						</div>
						<div class="col-md-3 panel-body right">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/about/facilities/malaysia.jpg")" class="responsive">
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 list-base special" id="Singapore">
				<div class="panel panel-default">
					<div class="panel-body facilities-content-box-header">
	    				<div class="col-md-12 panel-body">
	    					<div class="facilities-heading">日月光新加坡廠</div>
	    				</div>
					</div>
					<div class="panel-body">
						<div class="col-md-9 panel-body left">
							<div class="content">
								<p>日月光新加坡廠，前身為ISE Labs，提供前段測試及晶圓測試服務。</p>
								<div class="facilities-subheading">服務</div>
								<p>
								測試開發、晶圓針測、IC成品測試、混合訊號與RF測試。
								</p>
							</div>
							<div class="information-box">
								<p class="information"><a><span class="glyphicon glyphicon-earphone"></span>&nbsp;65-6631-4499</a></p><br>
                                <p class="information"><a><span class="glyphicon glyphicon-user"></span>&nbsp;CP Chew</a></p><br>
                                <p class="information"><a href="mailto:Chew.Choonping@aseglobal.com.sg"><span class="glyphicon glyphicon-envelope"></span>&nbsp;Chew.Choonping@aseglobal.com.sg</a></p><br>
                                <p class="information"><a href="https://goo.gl/maps/f5MdNAwMV8ifu7wY9" target="_blank"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;2 Woodlands Loop, Singapore 738074</a></p><br>
								<p class="information">
									<a href="https://www.aseglobal.com.sg/" target="_blank"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/facilities/url.svg" class="small-icons">&nbsp;網站連結</a>
								</p>
							</div>
						</div>
						<div class="col-md-3 panel-body right">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/about/facilities/singapore.jpg")" class="responsive">
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-xs-12 list-base special" id="Labs">
				<div class="panel panel-default">
					<div class="panel-body facilities-content-box-header">
	    				<div class="col-md-12 panel-body">
	    					<div class="facilities-heading">ISE Labs</div>
	    				</div>
					</div>
					<div class="panel-body">
						<div class="col-md-9 panel-body left">
							<div class="content">
								<p>ISE Labs (International Semiconductor Engineering Laboratories) 是美國加州矽谷最大的積體電路測試實驗室，提供一元化測試服務。ISE Labs全球服務據點包括美國矽谷、新加坡、香港。</p>
								<div class="facilities-subheading">服務</div>
								<p>
								積體電路前段工程測試和成品測試服務。
								</p>
							</div>
							<div class="information-box">
								<p class="information"><a><span class="glyphicon glyphicon-earphone"></span>&nbsp;1-510-687-2500</a></p><br>
                                <p class="information"><a><span class="glyphicon glyphicon-user"></span>&nbsp;Vince Sy</a></p><br>
                                <p class="information"><a href="mailto:info@iselabs.com"><span class="glyphicon glyphicon-envelope"></span>&nbsp;info@iselabs.com</a></p><br>
                                <p class="information"><a href="https://goo.gl/maps/YhZEVrAmTa22" target="_blank"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;46800 Bayside Parkway Fremont, CA 94538, USA</a></p><br>
								<p class="information">
									<a href="http://www.iselabs.com/Template/" target="_blank"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/facilities/url.svg" class="small-icons">&nbsp;網站連結</a>
								</p>
							</div>
						</div>
						<div class="col-md-3 panel-body right">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/about/facilities/labs.jpg")" class="responsive">
						</div>
					</div>
				</div>
			</div>

      <div class="col-xs-12 list-base special" id="Labs-China">
          <div class="panel panel-default">
              <div class="panel-body facilities-content-box-header">
                  <div class="col-md-12 panel-body">
                      <div class="facilities-heading">上海月芯科技</div>
                  </div>
              </div>
              <div class="panel-body">
                  <div class="col-md-9 panel-body left">
                      <div class="content">
                          <p>月芯科技（ISE Labs China）設立在上海張江高科技園區，利用“工程中心+迷你工廠”一站式服務模式，結合日月光封裝測試的扎實技術與創新研發能力，滿足不同客戶對生產測試不同需求，解決產品開發中的各類問題。</p>
                          <div class="facilities-subheading">服務</div>
                          <p>
                          新產品功能驗證、測試程式開發、工程批驗證與測試、產品可靠性驗證及測試。產品應用範圍包括醫療生技、國防航太軍用、電動車、網路伺服器、汽車產品包括導航系統、自動駕駛等。
                          </p>
                      </div>
                      <div class="information-box">
                          <p class="information"><a><span class="glyphicon glyphicon-earphone"></span>&nbsp;86-21-50877568</a></p><br>
                          <p class="information"><a><span class="glyphicon glyphicon-user"></span>&nbsp;王鈞鋒</a></p><br>
                          <p class="information"><a href="mailto:Leo.Wang@iselabscn. com"><span class="glyphicon glyphicon-envelope"></span>&nbsp;Leo.Wang@iselabscn. com</a></p><br>
                          <p class="information"><a href="https://goo.gl/maps/vTYhg59rMm6hJ6JE7" target="_blank"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;上海浦東新區張江高科技術園盛夏路169號1號樓3樓</a></p>
                      </div>
                  </div>
                  <div class="col-md-3 panel-body right">
                      <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/facilities/ise-labs-china.jpg" class="responsive">
                  </div>
              </div>
          </div>
      </div>

		</div>		
	</section>
