﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/ch/_Layout_seo.cshtml";
    ViewBag.Title = "大事紀";
}
<style>
    .timeline_section .item ul li{
        margin-bottom:30px;
    }
</style>
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-about">
		<h1 class="page-title title-large">關於日月光</h1>
		<video poster="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/about/video.jpg")" class="about-video" id="bgvid" playsinline autoplay muted loop>
			<!-- 使用JS增加Source -->
		</video>
	</section>

	<!--麵包屑-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch/about"><span itemprop="name">關於日月光</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item"><span itemprop="name">公司資訊</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch/about/milestones"><span itemprop="name">大事紀</span></a>
					<meta itemprop="position" content="3" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->
	<!--content-->
	<section class="timeline_section inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">大事紀</h3>				
			</article>
		</div>
        <div class="content-lg row">
        	<div class="col-xs-12">
				<div id="milestone" class="timeline_div">    
                <div class="timeline_container">
                    <div class="timeline">
                        <div class="plus"></div>
                    </div>
                </div>
                <div class="item offset-first">  
                    <span class="corner big current"></span>                     
                    <div class="year"><b>2020</b></div>
                    <div class="event">
                        <ul class="current">
                            <li>
                                中國大陸反壟斷法執法機構於3月25日解除日月光與矽品共組控股公司案之限制條件
                                <br />                            
                            </li>   
                        </ul>  
                    </div>
                </div>
				<div class="item">  
                	<span class="corner current"></span>                     
                    <div class="year"><b>2018</b></div>
                    <div class="event">
                    	<ul class="current">
                        	<li>
                            	日月光投資控股公司於4月30日正式掛牌上市，臺灣證交所股票代號: 3711，美國紐約證交所股票代號: ASX
                                <br />	                          
                            </li>
							<li>
                            	日月光與矽品於2月12日分別召開股東臨時會，分別通過股份轉換案，由新設之日月光投資控股取得雙方100%股份
                                <br />	                          
                            </li>   
                        </ul>  
                    </div>
                </div>
				<div class="item">  
                	<span class="corner current"></span>                     
                    <div class="year"><b>2016</b></div>
                    <div class="event">
                    	<ul class="current">
                        	<li>
                            	日月光與矽品董事會於6月分別決議通過雙方簽訂「共同轉換股份協議」，雙方合意共同籌組新設產業控股公司
                                <br />	                          
                            </li>                          
                        </ul>   
                    </div>
                </div>
				<div class="item">  
                	<span class=" corner current"></span>                     
                    <div class="year"><b>2015</b></div>
                    <div class="event">
                    	<ul class="current">
                        	<li>
                            	日月光與TDK於台灣高雄合資成立日月暘電子股份有限公司，採用SESUB® (Semiconductor Embedded SUBstrate) 技術投入積體電路內埋式基板之生產製造服務，驅動可攜式及穿戴應用裝置半導體微型化技術的業界典範
                                <br />												   
                                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/about/milestone_2015_img01.png")" />                                
                            </li>
                            <li>                            	
                                2015年10月日月光中水回收廠正式啟用，為台灣回收使用量最大的中水回收廠
								<br />												   
                                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/about/milestone_2015_img02.png")"  />                                
                            </li>
                        </ul>    <br>
                    </div>
                </div> 
                <div class="item">  
                	<span class="corner current"></span>                     
                    <div class="year"><b>2014</b></div>
                    <div class="event">
                    	<ul class="current">
                        	<li>
                            	日月光集團三十週年
                                <br />												   
                                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/about/milestone_2014_img01.png")" />                                
                            </li>                          
                        </ul>    <br>
                    </div>
                </div>
                <div class="item">  
                	<span class="corner current"></span>                     
                    <div class="year"><b>2013</b></div>
                    <div class="event">
                    	<ul class="current">
                        	<li>                            	
                            	取得無錫通芝微電子有限公司股權，強化日月光在大陸半導體封裝測試業務
								<br />												   
                                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/about/milestone_2013_img01.png")"  />                                
                            </li>                          
                        </ul>    <br>
                    </div>
                </div> 
                <div class="item">  
                	<span class="corner current"></span>                     
                    <div class="year"><b>2012</b></div>
                    <div class="event">
                    	<ul class="current">
                        	<li>                            	
                            	集團旗下EMS大廠環旭電子股份有限公司正式在上海A股股票上巿
                                <br />												   
                                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/about/milestone_2012_img01.png")" />                                
                            </li> 
							<li>                           		
                            	韓國廠 (ASE Korea) 與坡州巿交河邑文發工業園區，簽署引資備忘錄，持續發展通訊IC封裝測試產線
								<br />												   
                                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/about/milestone_2012_img02.png")" />                                
                           </li> 
                           <!-- <li>
                            	收購洋鼎科技，強化分離式元件封裝與測試製造能力                                
                           </li> -->                 
                        </ul>    <br>
                    </div>
                </div>
                <div class="item">  
                	<span class="corner current"></span>                     
                    <div class="year"><b>2011</b></div>
                    <div class="event">
                    	<ul class="current">
                        	<li>
                            	全球第一座榮獲EEWH鑽石級與LEED白金級雙認證的半導體測試與封裝廠，日月光高雄K12廠正式運營
                                	<br />
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/about/milestone_2011_img01.png")"  />															 
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/about/milestone_2011_img02.png")" class="fix-height" />                                    
                            </li>                          
                        </ul>    <br>
                    </div>
                </div>
                <div class="item">  
                	<span class="corner current"></span>                     
                    <div class="year"><b>2010</b></div>
                    <div class="event">
                    	<ul class="current">
                        	<li>                            	
                            	收購EEMS Singapore Pte Ltd，強化新加坡子公司 (ASE Singapore ) 的半導體測試業務
                                <br />												   
                                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/about/milestone_2010_img01.png")"  />                                
                            </li>  
                            <li>                            	
                            	完成收購環隆電氣，拓展從封裝測試到下游系統與模組組裝的事業版圖
                                <br />												   
                                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/about/milestone_2010_img02.png")"  />                                
                            </li>
                            <li>                            	
                            	日月光昆山廠2010年正式營運，提供客戶更廣泛的服務，包含傳統銲線、先進微間距技術產品和系統組裝服務。
								<br />												   
                                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/about/milestone_2010_img03.png")" />                                
                            </li>                        
                        </ul>    <br>
                    </div>
                </div>
                
			   <div class="item">  
                	<span class="corner big before"></span>                     
                    <div class="year before"><b>2009</b></div>
                    <div class="event">
                    	<ul class="before">
                        	<li>                            	
                            	銅製程正式進入量產
                                <br />												   
                                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/about/milestone_2009_img01.png")"  />
                                
                            </li>                          
                        </ul>    <br>
                    </div>
                </div> 
                <div class="item">  
                	<span class="corner before"></span>                     
                    <div class="year before"><b>2008</b></div>
                    <div class="event">
                    	<ul class="before">
                        	<li>                            
                            	收購大陸山東威海「愛一和一電子公司」，成立日月光威海廠，提供低階封裝與分離式元件的生產製造
                                <br />
                                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/about/milestone_2008_img01.png")" />
                               	<br />												   
                                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/about/milestone_2008_img02.png")" />                                
                            </li>                          
                        </ul>    <br>
                    </div>
                </div>
                <div class="item">  
                	<span class="corner before"></span>                     
                    <div class="year before"><b>2007</b></div>
                    <div class="event">
                    	<ul class="before">
                        	<li>
                            	恩智浦半導體 (NXP Semiconductors) 與日月光於中國蘇州合資成立封測廠，公司命名為蘇州日月新半導體，提供低階封裝服務，如QFN、LFBGA、SO、TSSO與手持式裝置應用的封裝產品
                                <br />												   
                                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/about/milestone_2007_img01.png")" />                                
                            </li> 
                            <li>                            	
                            	整合大陸上海威宇科技測試封裝有限公司，更名為「日月光封裝測試(上海)有限公司」
                                <br />												   
                                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/about/milestone_2007_img02.png")" />                                
                            </li>                         
                        </ul>    <br>
                    </div>
                </div>
                <div class="item">  
                	<span class="corner before"></span>                     
                    <div class="year before"><b>2006</b></div>
                    <div class="event">
                    	<ul class="before">
                        	<li>
                            	日月光材料事業部門分割並轉移至子公司日月光電子，以專業分工與強化企業核心競爭力
                            </li> 
                            <li>                            	
                            	日月光與力晶半導體成立日月鴻科技，進軍記憶體封裝測試業務
                                <br />												   
                                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/about/milestone_2006_img01.png")"  />                                
                            </li>                         
                        </ul>    <br>
                    </div>
                </div>
                <div class="item">  
                	<span class="corner before"></span>                     
                    <div class="year before"><b>2005</b></div>
                    <div class="event">
                    	<ul class="before">
                        	<li>                            	
                            	正式量產晶圓級晶片尺寸封裝
                                <br />												   
                                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/about/milestone_2005_img01.png")" />                                
                            </li>                                                     
                        </ul>    <br>
                    </div>
                </div>
                <div class="item" style="padding-top: 25px">  
                	<span class="corner big past"></span>                     
                    <div class="year past"><b>2004</b></div>
                    <div class="event">
                    	<ul class="past">
                        	<li>                            	
                            	併購NEC日本山形縣的封裝測試廠，日月光成功在日本半導體市場建立營運平台
                                <br />												   
                                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/about/milestone_2004_img01.png")"  />                                
                            </li>
                            <li>
                            	大陸上海設立基板材料及IC模組生產據點
                                <br />
                                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/milestone_2004_img04.jpg" />
                                <br />
                                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/milestone_2004_img05.jpg" />
                            </li>
                            <li>                            	
                            	日月光集團二十週年
                                <br />												   
                                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/about/milestone_2004_img03.png")"  />                                
                            </li>                   
                        </ul>    <br>
                    </div>
                </div> 
                <div class="item">  
                	<span class="corner past"></span>                     
                    <div class="year past"><b>2003</b></div>
                    <div class="event">
                    	<ul class="past">
                            <li>                                
                                全年營收超越最大競爭對手，成為全球第一大IC封裝測試公司
                                <br />                                                 
                                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/about/milestone_2004_img02.png")"  />
                            </li>                                           
                        </ul>    <br>
                    </div>
                </div>
                <div class="item">  
                	<span class="corner past"></span>                     
                    <div class="year past"><b>2001</b></div>
                    <div class="event">
                    	<ul class="past">
                        	<li>
                            	成立中壢智慧型工業園區，提供完整之一元化服務廠區，為北臺灣的生產主要據點
                                <br />						   
                                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/about/milestone_2001_img01.png")"  />                                
                            </li>                            
                            <li>
                            	完成12吋晶圓凸塊技術開發並正式提供生產製造
                                <br />												   
                                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/about/milestone_2001_img02.png")"  />                                
                            </li>                   
                        </ul>    <br>
                    </div>
                </div> 
                <div class="item">  
                	<span class="corner past"></span>                     
                    <div class="year past"><b>2000</b></div>
                    <div class="event">
                    	<ul class="past">
                        	<li>
                            	日月光半導體 (ASE Inc.) 於美國紐約證交所正式掛牌買賣
                            </li>                            
                            <li>
                            	覆晶封裝正式進入量產
                                <br />												   
                                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/about/milestone_2000_img01.png")"  />                                
                            </li>                   
                        </ul>    <br>
                    </div>
                </div>
                <div class="item">  
                	<span class="corner past"></span>                     
                    <div class="year past"><b>1999</b></div>
                    <div class="event">
                    	<ul class="past">
                        	<li>
                            	透過福雷電子收購全美最大的獨立測試廠ISE Labs過半數股權，擴展日月光全球測試實力
                            </li>
                        	<li>                            	
                            	併購摩托羅拉臺灣中壢廠及南韓PAJU廠，創下與IDM大廠之合作先例，擴大產品範圍
                                <br />												   
                                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/about/milestone_1999_img01.png")" />                                
                            </li>                            
                            <li>                            	
                            	購得環隆電氣控股權，進一步拓展系統組裝事業版圖
                                <br />                            																				  
                                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/about/milestone_1999_img02.png")"  />                                
                            </li>                   
                        </ul>    <br>
                    </div>
                </div> 
                <div class="item">  
                	<span class="corner past"></span>                     
                    <div class="year past"><b>1998</b></div>
                    <div class="event">
                    	<ul class="past">
                        	<li>
                            	子公司福雷電子正式於臺灣證券交易所掛牌買賣                                
                            </li>
                        	<li>                           	
                            	建立覆晶封裝及測試生產能力
                                <br />												   
                                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/about/milestone_1998_img01.png")" class="fix-height" />                                
                            </li>            
                        </ul>    <br>
                    </div>
                </div>
                <div class="item">  
                	<span class="corner past"></span>                     
                    <div class="year past"><b>1996</b></div>
                    <div class="event">
                    	<ul class="past">
                        	<li>                           	
                            	成立日月宏科技股份有限公司，建立封裝材料之內供能力
                                <br />												   
                                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/about/milestone_1996_img01.png")"  />                                
                            </li>            
                        </ul>    <br>
                    </div>
                </div>
                <div class="item">  
                	<span class="corner past"></span>                     
                    <div class="year past"><b>1991</b></div>
                    <div class="event">
                    	<ul class="past">
                        	<li>                            	
                            	於馬來西亞檳城設立半導體封裝和測試廠
                                <br />												   
                                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/about/milestone_1991_img01.png")" />                                
                            </li>            
                        </ul>    <br>
                    </div>
                </div>
                <div class="item">  
                	<span class="corner past"></span>                     
                    <div class="year past"><b>1990</b></div>
                    <div class="event">
                    	<ul class="past">
                        	<li>                            	
                            	收購福雷電子，建立IC測試事業版圖
                                <br />												   
                                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/about/milestone_1990_img01.png")"  />                                
                            </li>            
                        </ul>    <br>
                    </div>
                </div>
                <div class="item">  
                	<span class="corner past"></span>                     
                    <div class="year past"><b>1989</b></div>
                    <div class="event">
                    	<ul class="past">
                        	<li>
                            	日月光半導體正式於臺灣證券交易所公開上市        
							<img  src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/about/milestone_1989_img01.jpg")" class = "col-md-6" />								
                            </li>            
                        </ul>    <br>
                    </div>
                </div>
                <div class="item">  
                	<span class="corner past"></span>                     
                    <div class="year past"><b>1984</b></div>
                    <div class="event">
                    	<ul class="past">
                        	<li>                            	
                            	張虔生與張洪本兄弟創立日月光半導體，於三月首座封裝廠在臺灣高雄正式開始營運
                                <br />												   
                                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/about/milestone_1984_img01.png")"   />                                
                            </li>            
                        </ul>    <br>
                    </div>
                </div>                 
            </div>
            </div>
        </div>
	</section>
