﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/ch/_Layout_seo.cshtml";
}
<!-- page Banner -->
<section id="page-vision" class="page-banner-s banner-about">
    <h1 class="page-title title-large">了解日月光</h1>
    <video poster="https://2311cdn.r.worldssl.net/picimages/about/video.jpg" class="about-video" id="bgvid" playsinline autoplay muted loop>
        <!-- 使用JS增加Source -->
    </video>
</section>

<!--麵包屑-->
<div class="content-lg row">
    <div class="col-xs-12">
        <ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
        </ol>
    </div>
</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->

<!-- Content -->
<section class="inside-article">
    <div class="content-lg row">
        <article class="col-xs-12">
            <h3 class="title">集團組織圖</h3>
            <h3 class="title text-center gray">日月光集團組織圖</h3>
            <div class="organization-chart-responsive text-center">
                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/about/organization_chart.png" alt="ASE Group Organization Chart">
            </div>
        </article>
    </div>
</section>
