﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/ch/_Layout_seo.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-about">
		<h1 class="page-title title-large">了解日月光</h1>
		<video poster="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/about/video.jpg")" class="about-video" id="bgvid" playsinline autoplay muted loop>
			<!-- 使用JS增加Source -->
		</video>
	</section>

	<!--麵包屑-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
			</ol>
		</div>
	</div>

<!-- Auto Remove Breadcrumbs-PC -->
	
	<!-- Content -->
	<section class="plants-Offices">
		<div class="content-lg row">
			<div class="col-xs-12">
				<ul class="tabs">
					<li>
						<a href="@Url.Action("plants_offices", "About", new { lang = ViewBag.language.lang })">日月光</a>
					</li>
					<!--<li>
						<a href="plants_offices_ise.html">ISE Labs</a>
					</li>-->
					<li class="active">
						<a href="@Url.Action("plants_offices_usi", "About", new { lang = ViewBag.language.lang })">環隆電氣</a>
					</li>
				</ul>
			</div>			
		</div>		
	</section>
	<section  class="ir-list bgnews-list plants-list">		
				<!-- List -->
		<div class="content-lg row">
			<div class="col-xs-12 col-md-5">
				<div class="list">
					<h4 class="text-center">工廠
						<a href="*PLANTS" class="circle_button"><i class="icon-cross"></i></a>
					</h4>
					<div class="content">
						<div class="row plants-row">
							<div class="col-xs-12 col-md-6">
								<ul class="plants-ul">
									<li class="ic"><a href="#TAIWAN">草屯廠</a></li>									
									<li class="ic"><a href="#SHANGHAI-ZHANG">上海廠</a></li>																			 									
								</ul>	
							</div>
							<div class="col-xs-12 col-md-6">
								<ul class="plants-ul">
									<li class="ic"><a href="#KUNSHAN">昆山廠 </a></li>
									<li class="ic"><a href="#SHENZHEN">深圳廠</a></li>
									<li class="ic"><a href="#MEXICO">墨西哥廠 </a></li>								
								</ul>	
							</div>
						</div>	

					</div>
				</div>
			</div>

			<div class="col-xs-12 col-md-7">
				<div class="list">
					<h4 class="text-center">業務辦公室
						<a href="@Url.Action("plants_offices_ase", "About", new { lang = ViewBag.language.lang })" class="circle_button"><i class="icon-cross"></i></a>
					</h4>
					<div class="content">
						<div class="row plants-row">
							<div class="contact_ase"><span>聯絡各區業務代表，請點選<a class="no-padding" href="http://www.usish.com/tchinese/contact.asp">相關連結</a>。</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-12 text-center">
				<ul class="plants-color">
					<li class="ic">IC服務</li>
					<li class="system">系統組裝服務</li>
					<li class="sales">業務辦公室</li>
					<li class="service">業務服務辦公室</li>
				</ul>	
			</div>	
		</div>
	</section>
	<section class="plants-Offices general">
		<div class="content-lg row">
			<div class="col-xs-12">
				<h2 class="title" id="PLANTS">工廠</h2>
			</div>
		</div>
	</section>		
	<section class="page-list-content plants-Offices">
		<div class="content-lg row">
			<ul id="list-content" class="col-xs-12 list-base list-link office-list-content">
				<li>
					<a href="javascript:;" class="link-disable">
						<div id="TAIWAN" class="office">草屯廠 </div>
						<div class="text-box">
							<div class="content-wrapper">								
								<p class="phone"><span class="glyphicon glyphicon-earphone"></span>886-49-235-0876</p>
								<p class="email"><span class="glyphicon glyphicon-envelope"></span>usi@ms.usi.com.tw</p>
								<p class="address"><span class="glyphicon glyphicon-map-marker"></span>南投縣草屯鎮太平路一段351巷141號</p>
								
							</div>							
						</div>
					</a>
				</li>
				<li>
					<a href="javascript:;" class="link-disable">
						<div id="SHANGHAI-ZHANG" class="office">上海廠 <small>張江</small></div>
						<div class="text-box">
							<div class="content-wrapper">								
								<p class="phone"><span class="glyphicon glyphicon-earphone"></span>86-21-5896-6996</p>
								<p class="email"><span class="glyphicon glyphicon-envelope"></span>china@usiglobal.com</p>
								<p class="address"><span class="glyphicon glyphicon-map-marker"></span>上海市浦東新區張江高科技園區張東路1558號</p>
							</div>							
						</div>
					</a>
				</li>
				
				<li>
					<a href="javascript:;" class="link-disable">
						<div id="SHANGHAI-JIN" class="office">上海廠 <small>金橋</small></div>
						<div class="text-box">
							<div class="content-wrapper">								
								<p class="phone"><span class="glyphicon glyphicon-earphone"></span>86-21-3813-6668</p>
								<p class="address"><span class="glyphicon glyphicon-map-marker"></span>上海市金橋加工出口區(南區)龍桂路501號</p>
							</div>							
						</div>
					</a>
				</li> 
				
				<li>
					<a href="javascript:;" class="link-disable">
						<div id="KUNSHAN" class="office">昆山廠 </div>
						<div class="text-box">
							<div class="content-wrapper">								
								<p class="phone"><span class="glyphicon glyphicon-earphone"></span>86-512-5528-0000</p>
								<p class="email"><span class="glyphicon glyphicon-envelope"></span>china@usiglobal.com</p>
								<p class="address"><span class="glyphicon glyphicon-map-marker"></span>江蘇省昆山市千燈鎮黃浦路497號</p>
							</div>							
						</div>
					</a>
				</li>
				<li>
					<a href="javascript:;" class="link-disable">
						<div id="SHENZHEN" class="office">深圳廠 </div>
						<div class="text-box">
							<div class="content-wrapper">								
								<p class="phone"><span class="glyphicon glyphicon-earphone"></span>86-755-2699-1000</p>
								<p class="email"><span class="glyphicon glyphicon-envelope"></span>china@usiglobal.com</p>
								<p class="address"><span class="glyphicon glyphicon-map-marker"></span>深圳市南山區高新技術產業園北區環旭電子園</p>
							</div>							
						</div>
					</a>
				</li>
				<li>
					<a href="javascript:;" class="link-disable">
						<div id="MEXICO" class="office">墨西哥廠 </div>
						<div class="text-box">
							<div class="content-wrapper">								
								<p class="phone"><span class="glyphicon glyphicon-earphone"></span>52-1-33-3648-1810</p>
								<p class="email"><span class="glyphicon glyphicon-envelope"></span>us_west@usiglobal.com</p>
								<p class="address"><span class="glyphicon glyphicon-map-marker"></span>Anillo Periferico Manuel Gomex Morin No. 656 Residencial, Santa Isabel C.P. 44290 Guadalajara Jalisco, Mexico</p>
								
							</div>							
						</div>
					</a>
				</li>
			</ul>	
		</div>		
	</section>	
<script>
$(document).on('click', 'a', function(event){
	if($(this).attr('href').substr(0,1)=='#'){		
		event.preventDefault();
		var _parent = $($.attr(this, 'href')).parent();
		$('html, body').animate({
			scrollTop: $( $.attr(this, 'href') ).offset().top-$('header').outerHeight()
		}, 500);
		if($(this).attr('href').substr(1)=="SHANGHAI-ZHANG"){
			var _parent2 =$('#SHANGHAI-JIN').parent();
			_parent2.delay(1000).addClass('shadow-pulse');		
			_parent2.one('webkitAnimationEnd oanimationend msAnimationEnd animationend',   
		function(e) {
				_parent2.removeClass('shadow-pulse');
			});
		}
		_parent.delay(1000).addClass('shadow-pulse');
		_parent.one('webkitAnimationEnd oanimationend msAnimationEnd animationend',   
    function(e) {
		    _parent.removeClass('shadow-pulse');
		});

	}else if($(this).attr('href').substr(0,1)=='*'){
		event.preventDefault();	
		$('html, body').animate({
			scrollTop: $( $.attr(this, 'href').replace('*','#')).offset().top-$('header').outerHeight()
		}, 500);
	}
	
});
</script>

