﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/ch/_Layout_seo.cshtml";
}
<!-- page Banner -->
<section id="page-vision" class="page-banner-s banner-about">
    <h1 class="page-title title-large">了解日月光</h1>
    <video poster="https://2311cdn.r.worldssl.net/picimages/about/video.jpg" class="about-video" id="bgvid" playsinline autoplay muted loop>
        <!-- 使用JS增加Source -->
    </video>
</section>

<!--麵包屑-->
<div class="content-lg row">
    <div class="col-xs-12">
        <ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
        </ol>
    </div>
</div>

<!-- Auto Remove Breadcrumbs-PC -->

<!-- Content -->
<section class="plants-Offices tab">
    <div class="content-lg row">
        <div class="col-xs-12">
            <ul class="tabs">
                <li>
                    <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "plants_offices_ase" })">日月光</a>
                </li>
                <li class="active">
                    <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "plants_offices_ise" })">ISE Labs</a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "plants_offices_usi" })">環隆電氣</a>
                </li>
            </ul>
        </div>
    </div>
</section>
<section class="ir-list bgnews-list plants-list ise-lab-list">
    <!-- List -->
    <div class="content-lg row">
        <div class="col-xs-12 col-md-4"></div>
        <div class="col-xs-12 col-md-4 ise-lab">
            <div class="list">
                <h4 class="text-center">
                    Plants
                    <a href="*PLANTS" class="circle_button"><i class="icon-cross"></i></a>
                </h4>
                <div class="content">
                    <div class="row plants-row">
                        <div class="col-xs-12 col-md-12">
                            <ul class="plants-ul">
                                <li class="ic"><a href="#ISE-Labs">ISE LABS, INC.</a></li>
                                <li class="ic"><a href="#ISE-AUSTIN">ISE AUSTIN</a></li>

                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4"></div>
        <div class="col-xs-12 col-md-12 text-center">
            <ul class="plants-color">
                <li class="ic">IC Service</li>
                <li class="system">System Service</li>
                <li class="sales">Sales and Representative Offices</li>
                <li class="service">Service Center</li>
            </ul>
        </div>
    </div>
</section>
<section class="plants-Offices general">
    <div class="content-lg row">
        <div class="col-xs-12">
            <h2 class="title" id="PLANTS">Plants</h2>
        </div>
    </div>
</section>
<section class="page-list-content plants-Offices">
    <div class="content-lg row">
        <ul id="list-content" class="col-xs-12 list-base list-link office-list-content">
            <li>
                <a href="javascript:;" class="link-disable">
                    <div id="ISE-Labs" class="office">ISE LABS, INC.</div>
                    <div class="text-box">
                        <div class="content-wrapper">
                            <p class="phone"><span class="glyphicon glyphicon-earphone"></span>1-510-687-2500</p>
                            <p class="user"><span class="glyphicon glyphicon-user"></span>Vince Sy</p>
                            <p class="email"><span class="glyphicon glyphicon-envelope"></span>info@iselabs.com</p>
                            <p class="address"><span class="glyphicon glyphicon-map-marker"></span>46800 Bayside Parkway Fremont, CA 94538, USA</p>
                            <p class="gps"><span class="glyphicon glyphicons-pin"></span>N37.48, W121.94</p>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="javascript:;" class="link-disable">
                    <div id="ISE-AUSTIN" class="office">ISE AUSTIN</div>
                    <div class="text-box">
                        <div class="content-wrapper">
                            <p class="email"><span class="glyphicon glyphicon-envelope"></span>info@iselabs.com</p>
                            <p class="address"><span class="glyphicon glyphicon-map-marker"></span>11501 Domain Drive, Suite 160, Austin,<br />Texas 78758, USA</p>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>
<script>
$(document).on('click', 'a', function(event){
	if($(this).attr('href').substr(0,1)=='#'){
		event.preventDefault();
		var _parent = $($.attr(this, 'href')).parent();
		$('html, body').animate({
			scrollTop: $( $.attr(this, 'href') ).offset().top-$('header').outerHeight()
		}, 500);
		_parent.delay(1000).addClass('shadow-pulse');
		_parent.one('webkitAnimationEnd oanimationend msAnimationEnd animationend',
    function(e) {
		    _parent.removeClass('shadow-pulse');
		});

	}else if($(this).attr('href').substr(0,1)=='*'){
		event.preventDefault();
		$('html, body').animate({
			scrollTop: $( $.attr(this, 'href').replace('*','#')).offset().top-$('header').outerHeight()
		}, 500);
	}

});
</script>