﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/ch/_Layout_seo.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-about">
		<h1 class="page-title title-large">了解日月光</h1>
		<video poster="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/about/video.jpg")" class="about-video" id="bgvid" playsinline autoplay muted loop>
			<!-- 使用JS增加Source -->
		</video>
	</section>

	<!--麵包屑-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->
	
	<!-- Content -->
	<section class="inside-article">
        <div class="content-lg row">
            <div class="col-xs-12">
                <h3 class="title">營運據點</h3>     
            </div>
        </div>      
    </section>
	<section  class="ir-list bgnews-list plants-list">
		<div class="content-lg row">
			<div class="col-xs-12 col-md-5">
				<div class="list">
					<h4 class="text-center">工廠
						<a href="@Url.Action("plants_offices", "About", new { lang = ViewBag.language.lang })" class="circle_button"><i class="icon-cross"></i></a>
					</h4>
					<div class="content">
						<div class="row plants-row ">
							<div class="col-xs-12 col-md-7">
							
                                <ul class="plants-ul">
                                    <li class="ic"><a href="@Url.Action("plants_offices", "About", new { lang = ViewBag.language.lang })">高雄廠</a></li>
                                    <li class="ic"><a href="@Url.Action("plants_offices", "About", new { lang = ViewBag.language.lang })">中壢廠</a></li>
                                    <li class="ic"><a href="@Url.Action("plants_offices", "About", new { lang = ViewBag.language.lang })">上海廠｜封測</a></li> 
									<li class="ic"><a href="@Url.Action("plants_offices", "About", new { lang = ViewBag.language.lang })">上海廠｜材料</a></li> 
                                    <li class="ic"><a href="@Url.Action("plants_offices", "About", new { lang = ViewBag.language.lang })">昆山廠 </a></li>
                                    <li class="ic"><a href="@Url.Action("plants_offices", "About", new { lang = ViewBag.language.lang })">蘇州廠｜日月新</a></li>
                                    <li class="ic"><a href="@Url.Action("plants_offices", "About", new { lang = ViewBag.language.lang })">威海廠</a></li>
                                    <li class="ic"><a href="@Url.Action("plants_offices", "About", new { lang = ViewBag.language.lang })">無錫廠 </a></li>
                                </ul>
                            </div>    
                            <div class="col-xs-12 col-md-5">
                                <ul class="plants-ul">
                                    <li class="ic"><a href="@Url.Action("plants_offices", "About", new { lang = ViewBag.language.lang })">韓國廠｜坡州 </a></li>
                                    <li class="ic"><a href="@Url.Action("plants_offices", "About", new { lang = ViewBag.language.lang })">日本廠｜山形 </a></li>
                                    <li class="ic"><a href="@Url.Action("plants_offices", "About", new { lang = ViewBag.language.lang })">馬來西亞廠</a></li>
                                    <li class="ic"><a href="@Url.Action("plants_offices", "About", new { lang = ViewBag.language.lang })">新加坡廠</a></li>
                                </ul>								
								
                            </div>
                         </div>   
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-7">
				<div class="list">
					<h4 class="text-center"><span>業務服務辦公室</span>
						<a href="*SALES" class="circle_button"><i class="icon-cross"></i></a>
					</h4>
					<div class="content">
						<div class="row plants-row">
							<div class="col-xs-12 col-md-4">
                                <div class="continent">亞洲</div>
                                <ul class="plants-ul">
                                    <li class="sales"><a href="#TAIWAN-HSINCHU">新竹</a></li>
                                    <li class="sales"><a href="#CHINA-BEIJING">北京/上海</a></li>
                                    <li class="sales"><a href="#CHINA-SHENZHEN">深圳</a></li>
                                    <li class="sales"><a href="#JAPAN-YOKOHAMA">日本｜橫濱</a></li>
                                    <li class="sales"><a href="#KOREA">韓國｜首爾</a></li>
                                    <li class="sales"><a href="#SINGAPORE">新加坡</a></li>
                                </ul>
                            </div>   
							<div class="col-xs-12 col-md-5">
                                <div class="continent">北美</div>
                                <ul class="plants-ul">
                                    <li class="sales"><a href="#USA-NORTHERN">美國｜北加州</a></li>
                                    <li class="sales"><a href="#USA-SOUTHERN-I">美國｜南加州</a></li>
                                    <li class="sales"><a href="#USA-AUSTIN">美國｜德州奧斯汀</a></li>
                                    <li class="sales"><a href="#USA-DALLAS">美國｜德州達拉斯</a></li>
                                    <li class="sales"><a href="#USA-BOSTON">美國｜麻塞諸塞州波士頓</a></li>
                                    <li class="sales"><a href="#USA-TEMPE">美國｜亞歷桑納州</a></li>
                                    <!--
                                    <li class="sales"><a href="#USA-RALEIGH">美國｜北卡羅來納州</a></li>
                                    -->	
									<li class="sales"><a href="#ISE-Labs">美國｜加州費利蒙<p class="no-margin" style="color:#888;">&nbsp;ISE LABS</p></a></li>  
 
                                </ul>
                            </div>    
							<div class="col-xs-12 col-md-3">
								<div class="continent">歐洲</div>
								<ul class="plants-ul">
									<li class="service"><a href="#BELGIUM-BRUSSELS">比利時</a></li>
								</ul>
							</div>
                        </div>
					</div>
				</div>
			</div>
            <div class="col-xs-12 col-md-12 text-center">
				<ul class="plants-color">
					<li class="ic">IC服務</li>
					<li class="sales">業務辦公室</li>
					<li class="service">業務服務辦公室</li>
				</ul>	
			</div>
		</div>
	</section>
    <section class="plants-Offices general">
		<div class="content-lg row">
			<div class="col-xs-12">
				<h2 class="title" id="SALES">業務服務辦公室</h2>
			</div>
		</div>
	</section>			
	<section class="page-list-content plants-Offices">
		<div class="content-lg row">
			<ul id="list-content" class="col-xs-12 list-base list-link office-list-content">
				<li class="continent-tip">亞洲</li>
				<li>
					<a href="javascript:;" class="link-disable">
						<div id="TAIWAN-HSINCHU" class="office">新竹</div>
						<div class="text-box">
							<div class="content-wrapper">								
								<p class="phone"><span class="glyphicon glyphicon-earphone"></span>886-3-575-3375</p>
								<p class="user"><span class="glyphicon glyphicon-user"></span>PH Chang</p>
								<p class="email"><span class="glyphicon glyphicon-envelope"></span>ph_chang@aseglobal.com</p>
								<p class="address"><span class="glyphicon glyphicon-map-marker"></span>新竹市公道五路二段120號6F之1</p>				
							</div>							
						</div>
					</a>
				</li>
				<li>
					<a href="javascript:;" class="link-disable">
						<div id="CHINA-BEIJING" class="office">北京/上海 </div>
						<div class="text-box">
							<div class="content-wrapper">								
								<p class="phone"><span class="glyphicon glyphicon-earphone"></span>86-13817800516</p>
                                <p class="user"><span class="glyphicon glyphicon-user"></span>Ryan Hsu</p>
								<p class="email"><span class="glyphicon glyphicon-envelope"></span>ryan_hsu@aseglobal.com</p>
							</div>							
						</div>
					</a>
				</li>
				<li>
					<a href="javascript:;" class="link-disable">
						<div id="CHINA-SHENZHEN" class="office">深圳 </div>
						<div class="text-box">
							<div class="content-wrapper">								
								<p class="phone"><span class="glyphicon glyphicon-earphone"></span>86-135-375-59357</p>
                                <p class="user"><span class="glyphicon glyphicon-user"></span>Joey Chen</p>
								<p class="email"><span class="glyphicon glyphicon-envelope"></span>joey_chen@aseglobal.com</p>
							</div>							
						</div>
					</a>
				</li>
				<li>
					<a href="javascript:;" class="link-disable">
						<div id="JAPAN-YOKOHAMA" class="office">日本｜橫濱 </div>
						<div class="text-box">
							<div class="content-wrapper">								
								<p class="phone"><span class="glyphicon glyphicon-earphone"></span>81-45-478-7300</p>
								<p class="user"><span class="glyphicon glyphicon-user"></span>Naoki Taguchi</p>
								<p class="email"><span class="glyphicon glyphicon-envelope"></span>taguchi@aseglobal.com</p>
								<p class="address"><span class="glyphicon glyphicon-map-marker"></span>10F. Sumitomofudosan Bldg., 2-5-5, Shin-Yokohama,Kohoku-ku, Yokohama, 222-0033, Japan</p>
							</div>							
						</div>
					</a>
				</li>
				<li>
					<a href="javascript:;" class="link-disable">
						<div id="KOREA" class="office">韓國｜首爾 </div>
						<div class="text-box">
							<div class="content-wrapper">								
								<p class="phone"><span class="glyphicon glyphicon-earphone"></span>82-31-956-6137</p>
								<p class="user"><span class="glyphicon glyphicon-user"></span>Kwangsik Kim</p>
								<p class="email"><span class="glyphicon glyphicon-envelope"></span>kwangsikkim@asekr.com</p>
								<p class="address"><span class="glyphicon glyphicon-map-marker"></span>E-903 Digitalempire building 16, Deogyeong-daero 1556beon-gil, Yeongtong-gu, Suwon-si, Gyeonggi-do, Korea</p>
							</div>							
						</div>
					</a>
				</li>
				<li>
					<a href="javascript:;" class="link-disable">
						<div id="SINGAPORE" class="office">新加坡</div>
						<div class="text-box">
							<div class="content-wrapper">								
								<p class="phone"><span class="glyphicon glyphicon-earphone"></span>65-6500-1310</p>
								<p class="user"><span class="glyphicon glyphicon-user"></span>Victor Tan</p>
								<p class="email"><span class="glyphicon glyphicon-envelope"></span>victor.tan@aseus.com</p>
								<p class="address"><span class="glyphicon glyphicon-map-marker"></span>3 Fusionopolis Link #02-10 Nexus@One-North, South Tower Singapore 138543</p>
							</div>							
						</div>
					</a>
				</li>




			</ul>	
		</div>		
	</section>
	<section class="page-list-content plants-Offices white">
		<div class="content-lg row">
			<ul id="list-content" class="col-xs-12 list-base list-link office-list-content">
				<li class="continent-tip">北美</li>
				<li>
					<a href="javascript:;" class="link-disable">
						<div id="USA-NORTHERN" class="office">美國｜北加州 </div>
						<div class="text-box">
							<div class="content-wrapper">								
								<p class="phone"><span class="glyphicon glyphicon-earphone"></span>1-408-636-9500</p>
								<p class="user"><span class="glyphicon glyphicon-user"></span>Patricia MacLeod</p>
								<p class="email"><span class="glyphicon glyphicon-envelope"></span>patricia.macleod@aseus.com</p>
								<p class="address"><span class="glyphicon glyphicon-map-marker"></span>1255 E. Arques Ave. Sunnyvale, CA 94085, USA</p>								
							</div>							
						</div>
					</a>
				</li>
				<li>
					<a href="javascript:;" class="link-disable">
						<div id="USA-SOUTHERN-I" class="office">美國｜南加州爾灣</div>
						<div class="text-box">
							<div class="content-wrapper">								
								<p class="phone"><span class="glyphicon glyphicon-earphone"></span>1-949-725-2300</p>
                                <p class="user"><span class="glyphicon glyphicon-user"></span>Patricia MacLeod</p>
								<p class="email"><span class="glyphicon glyphicon-envelope"></span>patricia.macleod@aseus.com</p>	
                                <p class="address"><span class="glyphicon glyphicon-map-marker"></span>15770 Laguna Canyon Road Suite 200 Irvine, CA 92618, USA</p>							
							</div>							
						</div>
					</a>
				</li>
				<li>
					<a href="javascript:;" class="link-disable">
						<div id="USA-SOUTHERN-S" class="office">美國｜南加州聖地牙哥</div>
						<div class="text-box">
							<div class="content-wrapper">								
								<p class="phone"><span class="glyphicon glyphicon-earphone"></span>1-858-795-6980</p>                                
								<p class="email"><span class="glyphicon glyphicon-envelope"></span>patricia.macleod@aseus.com</p>
                                <p class="address"><span class="glyphicon glyphicon-map-marker"></span>6170 Cornerstone Court East Suite, 150 San Diego, CA 92121</p>							
							</div>							
						</div>
					</a>
				</li>
				<li>
					<a href="javascript:;" class="link-disable">
						<div id="USA-AUSTIN" class="office">美國｜德州奧斯汀</div>
						<div class="text-box">
							<div class="content-wrapper">								
								<p class="phone"><span class="glyphicon glyphicon-earphone"></span>1-512-583-6000</p>
								<p class="user"><span class="glyphicon glyphicon-user"></span>Erich Montgomery</p>
								<p class="email"><span class="glyphicon glyphicon-envelope"></span>erich.montgomery@aseus.com</p>
								<p class="address"><span class="glyphicon glyphicon-map-marker"></span>3755 S. Capital of Texas Highway, Suite 190, Austin, TX 78704</p>
							</div>							
						</div>
					</a>
				</li>
				<li>
					<a href="javascript:;" class="link-disable">
						<div id="USA-DALLAS" class="office">美國｜德州達拉斯 </div>
						<div class="text-box">
							<div class="content-wrapper">								
								<p class="phone"><span class="glyphicon glyphicon-earphone"></span>1-214-974-9230</p>
								<p class="user"><span class="glyphicon glyphicon-user"></span>Brent Herritage</p>
								<p class="email"><span class="glyphicon glyphicon-envelope"></span>brent.herritage@aseus.com</p>
								<p class="address"><span class="glyphicon glyphicon-map-marker"></span>14785 Preston Road, Suite 460 Dallas, TX 75254, USA</p>
							</div>							
						</div>
					</a>
				</li>
				<li>
					<a href="javascript:;" class="link-disable">
						<div id="USA-BOSTON" class="office">美國｜麻塞諸塞州波士頓</div>
						<div class="text-box">
							<div class="content-wrapper">								
								<p class="phone"><span class="glyphicon glyphicon-earphone"></span>1-781-305-5903</p>
								<p class="user"><span class="glyphicon glyphicon-user"></span>Eric Leonard</p>
								<p class="email"><span class="glyphicon glyphicon-envelope"></span>eric.leonard@aseus.com</p>
								<p class="address"><span class="glyphicon glyphicon-map-marker"></span>18 Commerce Way, Suite 2900, Woburn, MA 01801, USA</p>
							</div>							
						</div>
					</a>
				</li>
				<li>
					<a href="javascript:;" class="link-disable">
						<div id="USA-TEMPE" class="office">美國｜亞歷桑納州</div>
						<div class="text-box">
							<div class="content-wrapper">								
								<p class="phone"><span class="glyphicon glyphicon-earphone"></span>1-480-718-8012</p>
								<p class="user"><span class="glyphicon glyphicon-user"></span>Bill Simmons</p>
								<p class="email"><span class="glyphicon glyphicon-envelope"></span>bill.simmons@aseus.com</p>
								<p class="address"><span class="glyphicon glyphicon-map-marker"></span>7855 South River Parkway, Suite 212, Tempe, AZ 85284, USA</p>
							</div>							
						</div>
					</a>
				</li>
				<!--
                <li>
					<a href="javascript:;" class="link-disable">
						<div id="USA-RALEIGH" class="office">美國｜北卡羅來納州 </div>
						<div class="text-box">
							<div class="content-wrapper">								
								<p class="phone"><span class="glyphicon glyphicon-earphone"></span>1-919-451-5326</p>
								<p class="user"><span class="glyphicon glyphicon-user"></span>Ron Kurz</p>
								<p class="email"><span class="glyphicon glyphicon-envelope"></span>ron.kurz@aseus.com</p>
								<p class="address"><span class="glyphicon glyphicon-map-marker"></span>6512 Kingscote Court Raleigh, NC. 27617, USA</p>
							</div>							
						</div>
					</a>
				</li>
				-->
				<li>
					<a href="javascript:;" class="link-disable">
						<div id="ISE-Labs" class="office">美國｜加州費利蒙 <small>ISE LABS</small></div>
						<div class="text-box">
							<div class="content-wrapper">								
								<p class="phone"><span class="glyphicon glyphicon-earphone"></span>1-510-687-2500</p>
								<p class="user"><span class="glyphicon glyphicon-user"></span>Vince Sy</p>
								<p class="email"><span class="glyphicon glyphicon-envelope"></span>info@iselabs.com</p>
								<p class="address"><span class="glyphicon glyphicon-map-marker"></span>46800 Bayside Parkway Fremont, CA 94538, USA</p>
																								
							</div>							
						</div>
					</a>
				</li>
			</ul>	
		</div>		
	</section>
    <section class="page-list-content plants-Offices">
		<div class="content-lg row">
			<ul id="list-content" class="col-xs-12 list-base list-link office-list-content">
				<li class="continent-tip">歐洲</li>
				<li>
					<a href="javascript:;" class="link-disable">
						<div id="BELGIUM-BRUSSELS" class="office">比利時</div>
						<div class="text-box">
							<div class="content-wrapper">								
								<p class="phone"><span class="glyphicon glyphicon-earphone"></span>32-2-554-0375</p>
								<p class="user"><span class="glyphicon glyphicon-user"></span>Juliette Handwerker</p>
								<p class="email"><span class="glyphicon glyphicon-envelope"></span>juliette.handwerker@aseeu.com</p>
								<p class="address"><span class="glyphicon glyphicon-map-marker"></span>Waterloo Office Park - Building M Drève Richelle, 161, Box 23, B-1410 Waterloo, BELGIUM</p>								
							</div>							
						</div>
					</a>
				</li>
			</ul>
			<div class="col-xs-12"><p>限制性條件履行投訴熱線，請郵寄：<a href="mailto:ase_antitrust@aseglobal.com">ase_antitrust@aseglobal.com</a></p></div>	
		</div>		
	</section>	
    <section class="plants_link">
		<div class="content-lg row">
			<div class="col-xs-12">
				<div class="list">	
					<div class="content">
						<a class="button" href="@Url.Action("plants_offices", "About", new { lang = ViewBag.language.lang })"><span>日月光工廠</span><i class="icon-arrow-right"></i></a>						
					</div>
				</div>
			</div>
		</div>
	</section>



<script>
$(document).on('click', 'a', function(event){
	if($(this).attr('href').substr(0,1)=='#'){		
		event.preventDefault();
		var _parent = $($.attr(this, 'href')).parent();
		$('html, body').animate({
			scrollTop: $( $.attr(this, 'href') ).offset().top-$('header').outerHeight()
		}, 500);
		if($(this).attr('href').substr(1)=="USA-SOUTHERN-I"){
			var _parent2 =$('#USA-SOUTHERN-S').parent();
			_parent2.delay(1000).addClass('shadow-pulse');		
			_parent2.one('webkitAnimationEnd oanimationend msAnimationEnd animationend',   
		function(e) {
				_parent2.removeClass('shadow-pulse');
			});
		}
		_parent.delay(1000).addClass('shadow-pulse');
		_parent.one('webkitAnimationEnd oanimationend msAnimationEnd animationend',   
    function(e) {
		    _parent.removeClass('shadow-pulse');
		});

	}else if($(this).attr('href').substr(0,1)=='*'){
		event.preventDefault();	
		$('html, body').animate({
			scrollTop: $( $.attr(this, 'href').replace('*','#')).offset().top-$('header').outerHeight()
		}, 500);
	}
	
});
</script>
