﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/ch/_Layout_seo.cshtml";
}
<!-- page Banner -->
<section id="page-vision" class="page-banner-s banner-about">
    <h1 class="page-title title-large">了解日月光</h1>
    <video poster="https://2311cdn.r.worldssl.net/picimages/about/video.jpg" class="about-video" id="bgvid" playsinline autoplay muted loop>
        <!-- 使用JS增加Source -->
    </video>
</section>

<!--麵包屑-->
<div class="content-lg row">
    <div class="col-xs-12">
        <ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
        </ol>
    </div>
</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->

<!-- Content -->
<section class="inside-article">
    <div class="content-lg row">
        <article class="col-xs-12">
            <h3 class="title">日月光一元化服務</h3>
            <p>日月光集團以完善的產品線，提供矽晶整合 (silicon integration) 的解決方案，貫徹提供客戶一元化 (turn-key) 服務的策略。</p>
            <p>將前段測試、晶圓針測、封裝設計、基板設計與製造、封裝服務、成品測試與系統組裝整合於單一供應鏈系統中，不但協助客戶有效縮短整體製造流程時間 (cycle time)，更確保產品的高良率與高可靠度。</p>
            <p>同時客戶也降低與不同服務單位溝通的複雜度與產品運輸的風險，完全掌握產品的交貨時間與製造品質。</p>
            <p>日月光集團一如客戶團隊之延伸，以最精簡的資源、最快速的服務，力求完善，以期符合客戶之需求。</p>
        </article>
    </div>
</section>
<section class="turnkey-services">
    <div class="content-lg row">
        <article class="col-xs-12">
            <div class="text-center">
                <img class = "pc" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/about/turnkey_services.png" alt="ASE Turnkey Services">
				<img class = "mobile" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/about/turnkey_services_m.png" alt="ASE Turnkey Services">
            </div>
        </article>
    </div>
</section>