﻿@using web.Models;
@using web.Common;
@model contact
@{
    Layout = "~/Views/Shared/ch/_Layout_seo.cshtml";
    Dictionary<string, string> error = (Dictionary<string, string>)TempData["error"];
    List<string> country_list = ViewBag.country_list;
}

<!-- page Banner -->
<section id="page-vision" class="page-banner-s banner-about">
    <h1 class="page-title title-large">了解日月光</h1>
    <video poster="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/video.jpg" class="about-video" id="bgvid" playsinline autoplay muted loop>
        <!-- 使用JS增加Source -->
    </video>
</section>

<!--麵包屑-->
<div class="content-lg row">
    <div class="col-xs-12">
        <ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch/about"><span itemprop="name">關於日月光</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item"><span itemprop="name">聯絡我們</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch/about/contact"><span itemprop="name">業務、媒體、企業社會責任</span></a>
					<meta itemprop="position" content="3" />
				</li>
        </ol>
    </div>
</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->

<section class="inside-article">
    <div class="content-lg row">
        <article class="col-xs-12">
            <h3 class="title">聯絡日月光</h3>
        </article>
    </div>
</section>
<section class="page-list-content section-contact">
    <div class="content-lg row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="list" style="padding: 30px 0;">
                <div class="title">
                    網站詢問
                </div>
                <div class="content-wrapper content-feedback">
                    <div id="open01" class="text-center">
                        若您有任何關於網站的問題、意見或建議，請直接<a href="mailto:ase_webmaster@aseglobal.com">聯繫我們</a>。
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
