﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
    ViewBag.Title = "Community";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-csr">
        <h1 class="page-title-csr title-large">SUSTAINABILITY</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/csr"><span itemprop="name">Sustainability</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/csr/corporate_citizenship_social_involvement"><span itemprop="name">Social Involvement</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/csr/social_involvement/community_engagement"><span itemprop="name">Community</span></a>
					<meta itemprop="position" content="3" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->
	
	<section class="timeline_section inside-article">
        <div class="content-lg row">
            <article class="col-xs-12">
                <h3 class="title">Community</h3>
                <p>
                    ASE Group seeks not only to create economic value but also to develop alongside local communities. We hope community engagement activities will lead to value system and idea exchanges with local communities and people, allowing them to better understand the ASE Group's philosophy in sustainable operations and for ASE to achieve the goal of maximizing positive benefits of our operations.<br><br>

                    As part of our effort to continuously create economic value and simultaneously extend the company's values, we are committed to incorporating community resources and grow together with local communities. We focus on "Community Development", "Charity Care", and "Emergency Care and Assistance" programs with the <a href="http://www.warmer.com.tw/" target="_blank">ASE Charitable Foundation</a>. In addition, ASE Group Chairman Jason Chang and his siblings have established the Social Welfare Charity Foundation to commemorate their mother and actively promote charitable activities.
                </p>
            </article>
        </div>
        <div class="content-lg row">
            <div class="col-xs-12">
                <h4 class="sub-title" style="text-align: center; color: #A4244F">ASE</h4><br>
                <div id="community_engagement" class="timeline_div">    
                    <div class="timeline_container">
                        <div class="timeline">
                            <div class="plus"></div>
                        </div>
                    </div>                                   
                    <div class="item offset-first">  
                        <span class="corner current"></span>                     
                        <div class="year"><b>Kaohsiung</b></div>
                        <div class="event">
                            <ul class="current">
                                <li>
                                    Beach Clean-Up<br />
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/community_engagement1.jpg" />
                                </li>
                            </ul>    
                        </div>
                    </div> 
                    <div class="item">  
                        <span class="corner current"></span>                     
                        <div class="year"><b>Chungli</b></div>
                        <div class="event">
                            <ul class="current">
                                <li>
                                    Community Clean-up<br />
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/community_engagement2.jpg" />
                                </li> 
                            </ul>    
                        </div>
                    </div>
                    <div class="item">  
                        <span class="corner current"></span>                     
                        <div class="year"><b>Wuxi</b></div>
                        <div class="event">
                            <ul class="current">
                                <li>
                                    Community Clean-Up<br />
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/community_engagement3.jpg"  />
                                </li> 
                            </ul>    
                        </div>
                    </div> 
                    <!-- <div class="item">  
                        <span class="corner current"></span>                     
                        <div class="year"><b>蘇州廠</b></div>
                        <div class="event">
                            <ul class="current">
                                <li>
                                    關懷弱勢孩童，慈善捐助<br />
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/community_engagement4.jpg" />
                                </li>               
                            </ul>    
                        </div>
                    </div> -->
                    <div class="item">  
                        <span class="corner current"></span>                     
                        <div class="year"><b>Kunshan</b></div>
                        <div class="event">
                            <ul class="current">
                                <li>
                                    Community arts Activity<br />
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/community_engagement5.jpg" />
                                </li>
                            </ul>    
                        </div>
                    </div>
                    <div class="item">  
                        <span class="corner current"></span>                     
                        <div class="year"><b>Korea</b></div>
                        <div class="event">
                            <ul class="current">
                                <li>
                                    Donate to Low-Income Family Care<br />
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/community_engagement6.jpg" />
                                </li>                       
                            </ul>    
                        </div>
                    </div>
                    <div class="item">  
                        <span class="corner current"></span>                     
                        <div class="year"><b>Japan</b></div>
                        <div class="event">
                            <ul class="current">
                                <li>
                                    Community Thanksgiven Festival<br />
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/community_engagement7.jpg" />
                                </li>                       
                            </ul>    
                        </div>
                    </div>
                    <div class="item">  
                        <span class="corner current"></span>                     
                        <div class="year"><b>Singapore</b></div>
                        <div class="event">
                            <ul class="current">
                                <li>
                                    Community Care, Yellow Ribbon Prison Run<br />
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/community_engagement8.jpg" />
                                </li>                       
                            </ul>    
                        </div>
                    </div>
                    <div class="item">  
                        <span class="corner current"></span>                     
                        <div class="year"><b>Malaysia</b></div>
                        <div class="event">
                            <ul class="current">
                                <li>
                                    Underprivileged Care and Charity Donation<br />
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/community_engagement9.jpg" />
                                </li>                       
                            </ul>    
                        </div>
                    </div>
                    <!-- <div class="item">  
                        <span class="corner current"></span>                     
                        <div class="year"><b>上海材料廠</b></div>
                        <div class="event">
                            <ul class="current">
                                <li>
                                    社區關懷 – 公益捐助<br />
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/community_engagement10.jpg" />
                                </li>                       
                            </ul>    
                        </div>
                    </div> -->
                </div>
            </div>
            <!--
            <div class="col-xs-12">
                <br>
                <h4 class="sub-title" style="text-align: center; color: #7F7F7F">USI</h4>
                <div id="community_engagement" class="timeline_div">    
                    <div class="timeline_container">
                        <div class="timeline">
                            <div class="plus"></div>
                        </div>
                    </div>
                    <div class="item">  
                        <span class="corner past"></span>                     
                        <div class="year past"><b>Mexico</b></div>
                        <div class="event">
                            <ul class="before">
                                <li>
                                    Community Charity<br />
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/community_engagement10.jpg" />
                                </li>                       
                            </ul>    
                        </div>
                    </div>
                    <div class="item">  
                        <span class="corner past"></span>                     
                        <div class="year past"><b>Zhangjiang</b></div>
                        <div class="event">
                            <ul class="before">
                                <li>
                                    Charitable Road Running<br />
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/community_engagement11.jpg" />
                                </li>                        
                            </ul>    
                        </div>
                    </div>
                    <div class="item">  
                        <span class="corner past"></span>                     
                        <div class="year past"><b>Taiwan</b></div>
                        <div class="event">
                            <ul class="before">
                                <li>
                                    Reading Culture and Parental Involvement<br />
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/community_engagement12.jpg" />
                                </li>                        
                            </ul>    
                        </div>
                    </div>
                    <div class="item">  
                        <span class="corner past"></span>                     
                        <div class="year past"><b>Shanghai</b></div>
                        <div class="event">
                            <ul class="before">
                                <li>
                                    Tree Planting at Inner Mongolia<br />
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/community_engagement13.jpg" />
                                </li>                       
                            </ul>    
                        </div>
                    </div>
                    <div class="item">  
                        <span class="corner past"></span>                     
                        <div class="year past"><b>Jinqiao</b></div>
                        <div class="event">
                            <ul class="before">
                                <li>
                                    Community Care, Charity Donation<br />
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/community_engagement14.jpg" />
                                </li>                                                    
                            </ul>    
                        </div>
                    </div>
                    <div class="item">  
                        <span class="corner past"></span>                     
                        <div class="year past"><b>Kunshan</b></div>
                        <div class="event">
                            <ul class="before">
                                <li>
                                    Donate to Low-Income Family Care<br />
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/community_engagement15.jpg" />
                                </li>                 
                            </ul>    
                        </div>
                    </div>
                    <div class="item">  
                        <span class="corner past"></span>                     
                        <div class="year past"><b>Shenzhen</b></div>
                        <div class="event">
                            <ul class="before">
                                <li>
                                    Community care, Charity Donation<br />
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/community_engagement16.jpg" />
                                </li>                 
                            </ul>    
                        </div>
                    </div>
                </div>
            </div>
            -->
            <div class="col-xs-12">
                <br>
                <h4 class="sub-title" style="text-align: center; color: #326fba">ASE Charitable Foundation</h4>
                <div id="community_engagement" class="timeline_div">    
                    <div class="timeline_container">
                        <div class="timeline">
                            <div class="plus"></div>
                        </div>
                    </div>
                    <div class="item">  
                        <span class="corner before" style="background-color: #326fba"></span>                     
                        <div class="year before" style="color: #326fba"><b>Chungli</b></div>
                        <div class="event">
                            <ul class="past">
                                <li>
                                    Underprivileged Care and Charity Donation<br />
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/community_engagement17.jpg" />
                                </li>                                          
                            </ul>    
                        </div>
                    </div>
                    <!-- <div class="item">  
                        <span class="corner before" style="background-color: #326fba"></span>                     
                        <div class="year before" style="color: #326fba"><b>上海</b></div>
                        <div class="event">
                            <ul class="past">
                                <li>
                                    急難關懷及照護<br />
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/community_engagement18.jpg" />
                                </li>                  
                            </ul>    
                        </div>
                    </div>  -->
                    <div class="item">  
                        <span class="corner before" style="background-color: #326fba"></span>                     
                        <div class="year before" style="color: #326fba"><b>Kaohsiung</b></div>
                        <div class="event">
                            <ul class="past">
                                <li>
                                    Underprivileged Care<br />
                                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/community_engagement19.jpg" />
                                </li>                  
                            </ul>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script type="text/javascript" src="https://2311cdn.r.worldssl.net/js/public/frontend/js/vendor/imagesloaded.pkgd.min.js"></script>
    <script type="text/javascript" src="https://2311cdn.r.worldssl.net/js/public/frontend/js/vendor/masonry.pkgd.min.js"></script>