﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
    ViewBag.Title = "Environmental Conservation";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-csr">
		<h1 class="page-title-csr title-large">SUSTAINABILITY</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/csr"><span itemprop="name">Sustainability</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/csr/corporate_citizenship_social_involvement"><span itemprop="name">Social Involvement</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/csr/social_involvement/environmental_conservation"><span itemprop="name">Environmental</span></a>
					<meta itemprop="position" content="3" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-md-12">
				<h3 class="title">Environmental Conservation</h3>
                <p>&nbsp;</p>
			</article>
            <article class="col-md-10 col-md-offset-1 text-center">
                <div class="col-md-12 nopadding">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/mov-led-project-2022.jpg">
                </div>
                <div style="position:absolute; left:35%; top: 42%; z-index:10; margin:0 auto; border-radius: 10px; text-align: center; background-color: rgba(0, 0, 0, 0.7);">
                    <a class="button videoButton popupVideo" href="https://coms.aseglobal.com/marcom/video/LEDproject60s" target="_blank"><span style="padding-top: 4px;">Watch More</span><i class="icon-play"></i></a>
                </div>
                <div class="clearfix"></div>
                <br><br>
            </article>
        </div>
    </section>

    <section class="inside-article">
        <div class="content-lg row">
			<div class="col-md-12">
				<p>
                    Since 2014, ASE has committed to donating at least NT$100 million per year for at least 30 years, to environmental protection in Taiwan. <a href="http://www.asefund.org.tw/" target="_blank">ASE Cultural and Educational Foundation</a> focused aspects of the environmental conservation programs include "Environmental Education Promotion", "Environmental Quality Enhancement", "Environmental Impact Minimization" and "Environmental Arts Promotion".<br><br>

                    To fulfill our commitment to environmental protection and environmental issues, and to increase the efficiency in the execution of environmental projects, ASEH established the ASE Environmental Protection and Sustainability Foundation in 2020. The foundation will undertake the responsibility of managing the NT$100 million annual funding for meaningful environmental programs in Taiwan.
				</p>
			</div>
			<div class="clearfix"></div>
			<article class="col-md-12">
				<h4 title="sub-title">Accomplishments of ECF Programs</h4>
				<div class="color-4box">
					<div class="orange-4box" style="background-color: #8ebd92">
                        <div class="color-4box-heading">Programs</div>
                        <p>Environmental Education Promotion</p>
                        <br>
                        <div class="color-4box-heading">Major Projects</div>
						<ul class="nopadding">
							<li>Funding for master’s theses and doctoral dissertations on environmental protection issues</li>
                            <li>Research projects associated with environmental technologies</li>
                            <li>Community environmental education projects</li>
                            <li>‘Smile Taiwan’ creative teaching project competition</li>
                            <li>Environmental education publicity film and microfilm production projects</li>
                            <li>World Ocean Day activity series</li>
						</ul>
					</div>
					<div class="light-yellow-4box" style="background-color: #a4cba2">
                        <div class="color-4box-heading">Programs</div>
                        <p>Environmental Quality Enhancement</p>
                        <br>
                        <div class="color-4box-heading">Major Projects</div>
						<ul class="nopadding">
							<li>Reforestation projects</li>
                            <li>Water environment patrol teams</li>
                            <li>Taoyuan City contact bed and wetland water purification improvement projects</li>
                            <li>Community solar-powered alarm lamp installation projects</li>
                            <li>Medical resource funding</li>
						</ul>
					</div>
					<div class="orange-4box" style="background-color: #c3dbbb">
                        <div class="color-4box-heading">Programs</div>
                        <p>Environmental Impact Minimization</p>
                        <br>
                        <div class="color-4box-heading">Major Projects</div>
						<ul class="nopadding">
							<li>Campus LED light installation projects</li>
                            <li>Shanlin Junior High School smart microgrid installation project</li>
                            <li>Promotion of the restoration and conservation of yellow-margined box turtles</li>
                            <li>Global corporate sustainability forums</li>
                            <li>Waste reduction research and development projects</li>
						</ul>
					</div>
					<div class="light-yellow-4box" style="background-color: #f9ebcf">
                        <div class="color-4box-heading">Programs</div>
                        <p>Environmental Arts Promotion</p>
                        <br>
                        <div class="color-4box-heading">Major Projects</div>
						<ul class="nopadding">
							<li>“Universe – Realm – Chrysanthemum Island” environmental conservation choir performances</li>
                            <li>Kaohsiung New Year’s eve activity series</li>
                            <li>National Chengchi University marathon</li>
                            <li>Funding for charity performances</li>
						</ul>
					</div>
				</div>
			</article>
            <div class="col-sm-12">
                <div class="col-xs-6 col-md-3 picture-padding-2" style="margin-bottom: 5px"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/environmental_conservation-pic1.jpg"></div>
                <div class="col-xs-6 col-md-3 picture-padding-2" style="margin-bottom: 5px"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/environmental_conservation-pic3.jpg" "=""></div>
                <div class="col-xs-6 col-md-3 picture-padding-2" style="margin-top: 0"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/environmental_conservation-pic2.jpg" "=""></div>
                <div class="col-xs-6 col-md-3 picture-padding-2" style="margin-top: 0"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/environmental_conservation-pic4.jpg" "=""></div>
            </div>
            <div>&nbsp;<br><br></div>
		</div>
	</section>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script>
	$( document ).ready(function() {
		$('.accordion-center-text').click(function(e){
			if ($(this).hasClass('black-text-in-box')) {
				$('.blue-text-in-box').removeClass('blue-text-in-box').addClass('black-text-in-box');
				$(this).removeClass("black-text-in-box");
				$(this).addClass("blue-text-in-box");      //add the class to the clicked element
			} else {
				$(this).removeClass("blue-text-in-box");
				$(this).addClass("black-text-in-box");      //add the class to the clicked element
			}
		});
	})
	</script>