﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
    ViewBag.Title = "Industry-Academic";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-csr">
		<h1 class="page-title-csr title-large">SUSTAINABILITY</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/csr"><span itemprop="name">Sustainability</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/csr/corporate_citizenship_social_involvement"><span itemprop="name">Social Involvement</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/csr/social_involvement/industry-academic_collaboration"><span itemprop="name">Industry-Academic</span></a>
					<meta itemprop="position" content="3" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">Industry-Academic</h3>
                <p>&nbsp;</p>
			</article>
            <article class="col-md-10 col-md-offset-1 text-center">
                <div class="col-md-12 nopadding">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/mov-academic-2022.jpg">
                </div>
                <div style="position:absolute; left:35%; top: 42%; z-index:10; margin:0 auto; border-radius: 10px; text-align: center; background-color: rgba(0, 0, 0, 0.7);">
                    <a class="button videoButton popupVideo" href="https://coms.aseglobal.com/marcom/video/2022academic60S" target="_blank"><span style="padding-top: 4px;">Watch More</span><i class="icon-play"></i></a>
                </div>
                <div class="clearfix"></div>
                <br><br>
            </article>
        </div>
    </section>

    <section class="inside-article">
        <div class="content-lg row">
			<article class="col-xs-12">
				<p>
					The technology needs of the IC packaging industry are becoming more sophisticated, and technological innovation is critical to ASE's corporate sustainability. Over the years, ASEH has invested heavily in resources and research funding to maintain our semiconductor technology leadership. We collaborate with top universities on various research and development projects that help strengthen semiconductor technologies through the synergistic relationship between industry and academia. The talent cultivation and the rising academic capabilities through the collaboration have enabled the entire semiconductor industry to thrive.<br><br>

					ASEH has created key programs like "academia cooperation and corporate internship", "academic research collaboration", and "scholarships" to leverage on the expertise from these academic resources. Nearly 50 schools and research institutions in Taiwan, China, Singapore, Malaysia, South Korea, Japan, etc. were involved in these collaborations.
				</p>
				<h4 title="sub-title">Accomplishments of Industry-Academia Collaboration Programs</h4>
				<div class="color-4box">
					<div class="orange-4box" style="background-color: #c3dbbb">
						<div class="color-4box-heading">Programs</div>
						<ul class="nopadding">
							<li>Cooperative education and internships</li>
                            <li>Academic research collaborations</li>
                            <li>Scholarships</li>
						</ul>
					</div>
					<div class="light-orange-4box" style="background-color: #c3dbbb">
						<div class="color-4box-heading">Projects</div>
						<ul class="nopadding">
							<li>ASE Industry-Academia Career Development Project / Employment Orientation Project</li>
                            <li>Semiconductor Assembly and Manufacturing Education Program</li>
                            <li>ASE Internship and Company Visits</li>
                            <li>Artificial Intelligence Colleges</li>
                            <li>Semiconductor Assembly Technology Research Projects</li>
                            <li>Manufacturing Automation Research Projects</li>
                            <li>Advanced Semiconductor Materials R&amp;D Projects</li>
						</ul>
					</div>
					<div class="light-yellow-4box" style="background-color: #c3dbbb">
						<div class="color-4box-heading">Stakeholders</div>
						<ul class="nopadding">
							<li>University Students</li>
                            <li>Academic Institutions and Research Institutes</li>
                            <li>Semiconductor Industry</li>
						</ul>
					</div>
					<div class="yellow-4box" style="background-color: #c3dbbb">
						<div class="color-4box-heading">Achievements</div>
						<ul class="nopadding">
							<li>Improving Career Prospects and Competitiveness of Students</li>
                            <li>Improving Academic R&amp;D Capabilities</li>
                            <li>Cultivating Talented Personnel for the Semiconductor Industry</li>
						</ul>
					</div>
				</div>
			</article>
		</div>
	</section>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script>
	$( document ).ready(function() {
		$('.accordion-center-text').click(function(e){
			if ($(this).hasClass('black-text-in-box')) {
				$('.blue-text-in-box').removeClass('blue-text-in-box').addClass('black-text-in-box');
				$(this).removeClass("black-text-in-box");
				$(this).addClass("blue-text-in-box");      //add the class to the clicked element
			} else {
				$(this).removeClass("blue-text-in-box");
				$(this).addClass("black-text-in-box");      //add the class to the clicked element
			}
		});
	})
	</script>