﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
    ViewBag.Title = "Public Advocacy";
    ViewBag.zhURL = "/ch/csr/social_involvement/public_advocacy";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-csr">
		<h1 class="page-title-csr title-large">SUSTAINABILITY</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/csr"><span itemprop="name">Sustainability</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/csr/corporate_citizenship_social_involvement"><span itemprop="name">Social Involvement</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/csr/social_involvement/public_advocacy"><span itemprop="name">Public Advocacy</span></a>
					<meta itemprop="position" content="3" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->

	<section class="inside-article">
		<div class="content-lg row">
			<div class="col-md-12">
				<h3 class="title">Public Advocacy</h3>
				<p>
					As the global leader in semiconductor assembly and test, ASE seeks to extend a positive influence across the industry, the environment, the society and the economy.<br><br>

					We recognize that ASE needs to play a more visible role as an advocate of important industry issues. In line with the United Nations' commitment to improving the welfare of humanity, ASE is committed to various initiatives related to its core business as well as to environmental, social and economic aspects of sustainable development. We participate in initiatives related to issues that we are knowledgeable about and that matter to us. These issues include corporate sustainability and economic development; technological innovation and development; environmental projects; climate change; human rights; and supply chains.
				</p>
			</div>
		</div>

		<div class="content-lg row csr">
			<article class="col-xs-12">
				<h4 class="sub-title">Key advocacy, initiatives and industry associations supported by ASE:</h4>
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

					<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
								<span class="black-text-in-box accordion-center-text">Taiwan Alliance for Sustainable Supply (TASS)</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>

						<div id="collapseOne" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<p>
									ASE initiated the Taiwan Alliance for Sustainable Supply in 2016, and launched it with other semiconductor suppliers in January 2017. The alliance actively and continuously promotes the overall supply management capabilities of every industry. The Sustainable Materials Standardization Information and Specifications were formulated to implement environmental safety and health management, and to enhance sustainable development in Taiwan's semiconductor assembly and testing industry and in the environment. The standards are in line with the U.N. Globally Harmonized System of Classification and Labelling of Chemicals (GHS), and also incorporate managerial requirements for green products, environmental protection, safety, and sustainability. They allow for upstream and downstream linkage and integration into the semiconductor industry's day-to-day management and contingency plans for R&D, production, transport, storage, usage, and waste. They also help to educate workers about proper chemical use, thereby strengthening chemical safety and supervisory mechanisms.
								</p>
							</div>
						</div>
	  				</div>

	  				<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
								<span class="black-text-in-box accordion-center-text">Global Semiconductor Alliance (GSA)</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>

						<div id="collapseTwo" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingTwo">
							<div class="panel-body">
								<p>
									Since 2000, ASE has been a member of the Global Semiconductor Alliance, an organization that represents nearly 350 member companies throughout 35 countries and over 75% of industry revenues. The GSA provides a unique platform for ASE to interact with many players from across the entire semiconductor ecosystem to the broader electronics ecosystem. ASE staunchly participates at GSA events throughout the US, Europe, and Asia, where we can present knowledge leadership and technology impact, and engage in thought exchange on all important topics affecting our industry. Alongside ASE executive positions on the Board of Directors and frontline GSA committees, ASE also actively contributes within specialized GSA Working Groups, tailored towards disciplines including IoT Security and Automotive.
								</p>
							</div>
						</div>
	  				</div>

	  				<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
								<span class="black-text-in-box accordion-center-text">Semiconductor Equipment and Materials International Taiwan Branch (SEMI Taiwan)</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>

						<div id="collapseThree" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingThree">
							<div class="panel-body">
								<p>
									SEMI is the global industry association serving the manufacturing supply chain for the electronics industry. The association represents the collective interests of members and advocates for the industry on many public policy issues--ranging from export control to tax policy to environmental issues. SEMI works with many international and professional trade organizations to inform, educate and advocate responsible policies on a variety of industry issues. SEMI membership provides ASE with many valuable opportunities to share technology value propositions and initiate business collaborations. ASE holds leadership positions at SEMI including a seat on the International Board of Directors, the chair of the Packaging and Test Committee, Smart Manufacturing Committee and SEMI FlexTech Committee and deputy chair of the Semiconductor Materials Committee, all of which provide solid platforms for ASE to share perspective on market evolution, ecosystem expansion, heterogeneous integration trends, packaging advancements, and much more. ASE is highly active in the participation of highly-regarded SEMI global events focused on diverse topics including education, business, technology and sustainability.
								</p>
							</div>
						</div>
	  				</div>

	  				<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
								<span class="black-text-in-box accordion-center-text">Taiwan Semiconductor Industry Association (TSIA)</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>

						<div id="collapseFour" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingFour">
							<div class="panel-body">
								<p>
									The Environment, Safety and Health (ESH) committee was an initiative formed by ASE and its peers in the OSAT industry to find solutions to address Taiwan's workplace safety and environmental issues. The committee also submits proposals on environmental regulations to the government through the ITRI (Industrial Technology Research Institute), which include Waste Disposal Act, Regulations Governing Collection of Soil and Groundwater Pollution Remediation Fees, Air Pollution Control Fee Collection Regulations, and GHG reduction and performance standards, etc. ASE has signed the Taiwan Semiconductor Industry Association's convention on waste disposal self-regulation and commissioned an independent third party to assist the company in auditing its compliance in accordance with commonly accepted evaluation and auditing standards for waste disposal and reuse by high-tech industries. ASE is committed to making continued improvements to the common evaluation and auditing standards, supporting compliant manufacturers, and strictly supervising underperforming companies while helping them to improve their management capabilities.
								</p>
							</div>
						</div>
	  				</div>

	  			</div>
  			</article>
  		</div>

		<div class="content-lg row">
			<div class="col-md-12">
	  			<h4 class="sub-title">Industry Organizations in which ASE Actively Participated</h4>
			</div>
			<div class="col-md-6">
				<b>Corporate Sustainability and Economic Development</b>
				<ul class="spacing1-5em nopadding">
					<li>Global Semiconductor Alliance (GSA)</li>
					<li>Semiconductor Equipment and Materials International (SEMI Taiwan)</li>
					<li>International Electronics Manufacturing Initiative (iNEMI)</li>
					<li>China Quality Management Association For Electronics Industry (CQAE)</li>
					<li>SHANGHAI INTEGRATED CIRCUIT INDUSTRY ASSOCIATION (SICA)</li>
					<li>Shanghai Integrated Circuit Industry Association (CSIA)</li>
					<li>Taiwan Semiconductor Industry Association (TSIA)</li>
					<li>Taiwan Printed Circuit Association (TPCA)</li>
					<li>Chinese National Association of Industry and Commerce, Taiwan (CNAIC)</li>
					<li>Taiwan Business Council for Sustainable Development (BCSD-Taiwan)</li>
					<li>Taiwan Institute for Sustainable Energy (TAISE)</li>
				</ul>
			</div>
			<div class="col-md-6">
				<b>Technological Innovation and Development</b>
				<ul class="spacing1-5em nopadding">
					<li>MicroElectronics Packaging and Test Engineering Council (MEPTEC)</li>
					<li>PCI-SIG Association</li>
					<li>Universal Serial Bus Association</li>
					<li>Taiwan IC Industry & Academia Research Alliance (TIARA)</li>
					<li>Taiwan IOT Technology and Industry Association (TwIoTA)</li>
					<li>International Microelectronics Assembly and Packaging Society (IMAPS)</li>
					<li>Microfluidics Technology Consortium (MFTC)</li>
				</ul>
			</div>
		</div>
		<div class="content-lg row">
			<div class="col-md-6">
				<b>Environmental Engineering and Climate Change</b>
				<ul class="spacing1-5em nopadding">
					<li>Carbon Disclosure Project (CDP)</li>
					<li>The Chiness Institute of Environmental Engineering (CIEnvE)</li>
				</ul>
			</div>
			<div class="col-md-6">
				<b>Human Rights and Supply Chains</b>
				<ul class="spacing1-5em nopadding">
					<li>Responsible Business Alliance (RBA)</li>
					<li>Responsible Minerals Initiative (RMI)</li>
					<li>Taiwan Alliance for Sustainable Supply (TASS)</li>
					<li>Industrial Safety and Health Association, Taiwan (ISHA-Taiwan)</li>
				</ul>
			</div>
		</div>
	</section>