﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/ch/_Layout_seo.cshtml";
    ViewBag.Title = "嵌入圖案式基板 ";
    ViewBag.zhURL = "/en/products/package_design/pro_epp";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-product">
		<h1 class="page-title title-large">嵌入圖案式基板</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item"><span itemprop="name">基板服務及其它</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch/products/material"><span itemprop="name">封裝基板</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch/products/package_design/pro_epp"><span itemprop="name">EPP</span></a>
					<meta itemprop="position" content="3" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->
	<!-- Letter from the Chairman -->
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">EPP (Embedded Pattern Process) Substrate</h3>
				<p>Semiconductor builds solder on bump side, and then mounts on Flip Chip substrate.</p>
				<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/products/pro_fccsp01.png" alt="">
			</article>

		</div>
	</section>
	<section class="inside-article">
		<div class="content-lg row">
			<br><br>
			<div class="col-xs-6">
				<div class="technology-application technology-tab-active">Application</div>
			</div>
			<div class="col-xs-6">
				<div class="technology-features technology-tab-inactive">Features</div>
			</div>
			<div class="clearfix"></div>
			<div class="technology-application-content">
				<div class="col-xs-12">
					<ul class="nopadding">
						<li>Application processor</li>
						<li>Networking</li>
						<li>Connectivity</li>
					</ul>
				</div>
			</div>
			<div class="technology-features-content">
				<div class="col-xs-12 col-md-12">
					<ul class="nopadding">
						<li>High I/O, High accuracy, Low profile</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
<br>
	<section class="inside-article">
		<div class="content-lg row">
			<div class="col-xs-12 col-md-12">
				<h4 class="sub-title">Reliability</h4>
			</div>
			<div class="col-md-6">
				<div class="table-responsive inside-table">
					<table class="table table-striped table-hover text-center csr wire">
						<tbody>
							<tr>
								<th class="left-border pro-title">Item</th>
								<th class="left-border pro-title">Condition/Duration</th>
							</tr>
							<tr>
								<td class="left-border">MSL</td>
								<td class="left-border">JEDEC Level 3, 30°C/60%RH, 192 hours</td>
							</tr>
							<tr>
								<td class="left-border">PCT</td>
								<td class="left-border">121°C/100% RH/2 atm, 168 hours</td>
							</tr>
							<tr>
								<td class="left-border">TCT</td>
								<td class="left-border">-65°C ~150°C, 1000 cycles</td>
							</tr>
							<tr>
								<td class="left-border">HAST</td>
								<td class="left-border">130°C /85%RH/33.5 PSIA, 96 hours</td>
							</tr>
							<tr>
								<td class="left-border">HTST</td>
								<td class="left-border">150, 1000 hours</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="clearfix"></div>
			<div class=" col-md-12 tech-cont-link">								
			<a class="phone" href="@Url.Action("plants_offices", "About", new { lang = ViewBag.language.lang })"><span class="glyphicon glyphicon-earphone"></span>  聯絡我們 </a>
			</div>


			
		</div>
	</section>

	<section class="csr-bg">
		<div class="content-lg row">
			<div class="col-xs-12 csr">
				<div class="col-md-4 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("package_design", "Products", new { lang = ViewBag.language.lang, param1 = "pro_fccsp" })">
							<span class="blue-text-in-box">FCCSP Substrate</span>
							<div class="circle_button-wrapper pull-right">
								<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-4 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("package_design", "Products", new { lang = ViewBag.language.lang, param1 = "pro_epp" })"">
							<span class="blue-text-in-box">EPP Substrate</span>
							<div class="circle_button-wrapper">
								<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section><script>
	$(document).ready(function() { 
		$(".technology-features-content").hide();

		$('.technology-application').click(function() {
			$(this).closest(".row").find(".technology-features").removeClass("technology-tab-active").addClass("technology-tab-inactive");
			$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
			$(this).closest(".row").find(".technology-features-content").hide();
			$(this).closest(".row").find(".technology-application-content").fadeIn(1000);
		});
		$('.technology-features').click(function() {
			$(this).closest(".row").find(".technology-application").removeClass("technology-tab-active").addClass("technology-tab-inactive");
			$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
			$(this).closest(".row").find(".technology-application-content").hide();
			$(this).closest(".row").find(".technology-features-content").fadeIn(1000);
		});
	});
</script>
