﻿@{
    Layout = "~/Views/Shared/tw/_Layout.cshtml";
}
<!-- page Banner -->
<section id="page-vision" class="page-banner-s banner-fit long-text">
    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/supplier/banner_supplier.jpg" />
    <h1 class="page-title">供應商專區</h1>
</section>

<!--breadcrumbs-->
<div class="content-lg row">
    <div class="col-xs-12">
        <ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="@Url.Action("Index", "Home", new { lang = ViewBag.language.lang })"><i class="icon-home"></i><span itemprop="name">首頁</span></a>
                <meta itemprop="position" content="1" />
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })"><span itemprop="name">供應商專區</span></a>
                <meta itemprop="position" content="2" />
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="@Url.Action("Index", "Supplier", new { lang = ViewBag.language.lang })"><span itemprop="name">成為日月光供應商夥伴</span></a>
                <meta itemprop="position" content="3" />
            </li>
        </ol>
    </div>
</div>

<div class="breadcrumbs-pc pull-left" id="breadcrumbs-pc">
    <!-- PC版選單breadcrumbs內容 -->
    <ul class="breadcrumbs-view" id="breadcrumbs-view">
        <li class="dropdown-item">
            <span class="glyphicon glyphicon-menu-right"></span>
            <ul class="dropdown-list">
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })">技術</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Solution" })">解決方案</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" })">產品</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Lab" })">投資人關係</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })">企業社會責任</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "About" })">了解日月光</a></li>
            </ul>
        </li>
        <li class="dropdown-item">
            <a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Supplier" })">供應商專區</a>
            <span class="glyphicon glyphicon-menu-right"></span>
            <ul class="dropdown-list">
                <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "message_from_top_management" })">總經理的話</a></li>
                <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "supply_chain_development" })">供應鏈政策與行為準則</a></li>
                <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "supply_chain_management" })">供應鏈管理</a></li>
                <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "supply_chain_development_and_sustainability_management" })">供應鏈發展與永續管理</a></li>
                <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "sustainable_supply_chain_initiatives" })">供應鏈永續倡議</a></li>
                <li><a href="@Url.Action("Index", "Supplier", new { lang = ViewBag.language.lang })">成為日月光供應商夥伴</a></li>
                
            </ul>
        </li>
    </ul>
</div>

<section class="inside-article">
    <div class="content-lg row">
        <div class="col-xs-12">
            <h3 class="title">成為日月光供應鏈夥伴</h3>
            <h4 class="sub-title">供應商自我推薦</h4>
            <p>日月光歡迎優秀的供應商成為商業夥伴。如您有興趣，請在此填寫聯絡資料。</p>
        </div>
        <div class="col-sm-6 col-md-4 csr">
            <div class="col-sm-12 bgnews-list list-base">
                <div>
                    <a href="@Url.Action("become_ase_supply_chain_partner_form", "Supplier", new { lang = ViewBag.language.lang })">
                        <span class="blue-text-in-box">成為日月光供應鏈夥伴</span>
                        <div class="circle_button-wrapper pull-right">
                            <div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <h4 class="sub-title">日月光新供應商評核流程</h4>
            <p>
                供應商在成為正式供應鏈夥伴前，必須通過日月光新供應商評核流程以確保符合標準。以下為日月光新供應商評核流程。
            </p>
        </div>
        <div class="sol-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3	">
            <br><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/supplier/become_ase_supply_chain_partner1.png" class="img-responsive">
        </div>
        <div class="col-xs-12">
            <p>
                <strong>第一階段 - 新供應商文件審查</strong><br>
                供應商提供文件給日月光採購部門審核，包含基本資料表、保密條款、供應商行為準則承諾書、衝突礦產聲明…等。若所提供之資訊揭露不實，日月光有權終止合作。<br><br>

                <strong>第二階段 - 新供應商產品評估/實地稽核</strong><br>
                依不同的供應商業務類別、產品、服務項目，部分供應商於第一階段審查合格後須通過第二階段評估，合格後即可成為供應鏈夥伴。<br><br>
            </p>
        </div>
        <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
            <br><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/supplier/become_ase_supply_chain_partner2.png" class="img-responsive"><br><br>
        </div>
    </div>
</section>
