﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/tw/_Layout.cshtml";
}
<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-supplier long-text">

		<h1 class="page-title title-large">供應商專區</h1>
	</section>

<!--breadcrumbs-->
<div class="content-lg row">
    <div class="col-xs-12">
        <ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="@Url.Action("Index", "Home", new { lang = ViewBag.language.lang })"><i class="icon-home"></i><span itemprop="name">首頁</span></a>
                <meta itemprop="position" content="1" />
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Supplier" })"><span itemprop="name">供應商專區</span></a>
                <meta itemprop="position" content="2" />
            </li>
        </ol>
    </div>
</div>

<div class="breadcrumbs-pc pull-left" id="breadcrumbs-pc">
    <!-- PC版選單breadcrumbs內容 -->
    <ul class="breadcrumbs-view" id="breadcrumbs-view">
        <li class="dropdown-item">
            <span class="glyphicon glyphicon-menu-right"></span>
            <ul class="dropdown-list">
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })">技術</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" })">產品</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Solution" })">解決方案</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Lab" })">投資人關係</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })">企業社會責任</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "About" })">了解日月光</a></li>
            </ul>
        </li>
        <li class="dropdown-item">
            <a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Supplier" })">供應商專區</a>
            <span class="glyphicon glyphicon-menu-right"></span>
            <ul class="dropdown-list">
                <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "message_from_top_management" })">總經理的話</a></li>
                <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "supply_chain_development" })">供應鏈政策與行為準則</a></li>
                <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "supply_chain_management" })">供應鏈管理</a></li>
                <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "supply_chain_development_and_sustainability_management" })">供應鏈發展與永續管理</a></li>
                <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "sustainable_supply_chain_initiatives" })">供應鏈永續倡議</a></li>
                <li><a href="@Url.Action("Index", "Supplier", new { lang = ViewBag.language.lang })">成為日月光供應商夥伴</a></li>
            </ul>
        </li>
    </ul>
</div>

<section class="inside-article">
    <div class="content-lg row">
        <article class="col-xs-12">
            <p>供應鏈是日月光價值鏈的重要延伸，因應經濟景氣、全球氣候變化與市場競爭，日月光集團承諾建立緊密的供應商夥伴關係，積極投入供應鏈永續管理以確保供應商和承攬商具備安全的工作環境，員工受到尊重並享有尊嚴，且其營運對環境負責並符合商業道德，以負責任的方式提供高品質的產品和服務。</p>
        </article>
    </div>
</section>

<!-- 供應商專區 list -->
<section id="iconlink" class="iconlink linebg-2">
    <div class="content-lg">
        <ul class="row item-3">
            <li class="col-xs-12 col-sm-6 col-md-4 text-center">
                <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "message_from_top_management" })">
                    <div class="imgbox">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/supplier_icon-01.png" data-hover="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/supplier_icon-01_hover.png")">
                    </div>
                    <div class="textbox">
                        <h4>總經理的話</h4>
                    </div>
                    <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                </a>
            </li>
            <li class="col-xs-12 col-sm-6 col-md-4 text-center">
                <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "supply_chain_development" })">
                    <div class="imgbox">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/supplier_icon-02.png" alt="SiP & Module Solutions" data-hover="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/supplier_icon-02_hover.png")">
                    </div>
                    <div class="textbox">
                        <h4>供應鏈政策與行為準則</h4>
                    </div>
                    <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                </a>
            </li>
            <li class="col-xs-12 col-sm-6 col-md-4 text-center">
                <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "supply_chain_management" })">
                    <div class="imgbox">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/supplier_icon-03.png" alt="Flip Chip" data-hover="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/supplier_icon-03_hover.png")">
                    </div>
                    <div class="textbox">
                        <h4>供應鏈管理</h4>
                    </div>
                    <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                </a>
            </li>

            <li class="col-xs-12 col-sm-6 col-md-4 text-center">
                <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "supply_chain_development_and_sustainability_management" })">
                    <div class="imgbox">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/supplier_icon-04.png" alt="TSV-Interposer Integration" data-hover="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/supplier_icon-04_hover.png")">
                    </div>
                    <div class="textbox">
                        <h4>供應鏈發展與永續管理</h4>
                    </div>
                    <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                </a>
            </li>
            <li class="col-xs-12 col-sm-6 col-md-4 text-center">
                <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "sustainable_supply_chain_initiatives" })">
                    <div class="imgbox">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/supplier_icon-06.png" alt="Die Stacking" data-hover="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/supplier_icon-06_hover.png")">
                    </div>
                    <div class="textbox">
                        <h4>供應鏈永續倡議</h4>
                    </div>
                    <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                </a>
            </li>
            <li class="col-xs-12 col-sm-6 col-md-4 text-center">
                <a href="@Url.Action("Index", "Supplier", new { lang = ViewBag.language.lang })">
                    <div class="imgbox">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/supplier_icon-05.png" alt="IPD" data-hover="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/supplier_icon-05_hover.png")">
                    </div>
                    <div class="textbox">
                        <h4>成為日月光供應鏈夥伴</h4>
                    </div>
                    <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                </a>
            </li>
        </ul>
    </div>
</section>
