﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/tw/_Layout.cshtml";
}
<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-supplier long-text">

		<h1 class="page-title title-large">供應商專區</h1>
	</section>

<!--breadcrumbs-->
<div class="content-lg row">
    <div class="col-xs-12">
        <ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="@Url.Action("Index", "Home", new { lang = ViewBag.language.lang })"><i class="icon-home"></i><span itemprop="name">首頁</span></a>
                <meta itemprop="position" content="1" />
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Supplier" })"><span itemprop="name">供應商專區</span></a>
                <meta itemprop="position" content="2" />
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "supply_chain_management" })"><span itemprop="name">供應鏈管理</span></a>
                <meta itemprop="position" content="3" />
            </li>
        </ol>
    </div>
</div>

<div class="breadcrumbs-pc pull-left" id="breadcrumbs-pc">
    <!-- PC版選單breadcrumbs內容 -->
    <ul class="breadcrumbs-view" id="breadcrumbs-view">
        <li class="dropdown-item">
            <span class="glyphicon glyphicon-menu-right"></span>
            <ul class="dropdown-list">
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })">技術</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" })">產品</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Solution" })">解決方案</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Lab" })">投資人關係</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })">企業社會責任</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "About" })">了解日月光</a></li>
            </ul>
        </li>
        <li class="dropdown-item">
            <a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Supplier" })">供應商專區</a>
            <span class="glyphicon glyphicon-menu-right"></span>
            <ul class="dropdown-list">
                <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "message_from_top_management" })">總經理的話</a></li>
                <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "supply_chain_development" })">供應鏈政策與行為準則</a></li>
                <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "supply_chain_management" })">供應鏈管理</a></li>
                <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "supply_chain_development_and_sustainability_management" })">供應鏈發展與永續管理</a></li>
                <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "sustainable_supply_chain_initiatives" })">供應鏈永續倡議</a></li>
                <li><a href="@Url.Action("Index", "Supplier", new { lang = ViewBag.language.lang })">成為日月光供應商夥伴</a></li>
            </ul>
        </li>
    </ul>
</div>

<section class="inside-article">
    <div class="content-lg row">
        <div class="col-xs-12">
            <h3 class="title">供應鏈管理</h3>
            <h4 class="sub-title">供應鏈策略</h4>
            <p>
                日月光致力於維持公司營運及確保永續供應，我們的採購日常作業不僅考量成本，更以整體價值做為考量依據。除了強調日月光與供應商之間的公平交易，我們更與供應商發展穩定的策略夥伴關係，相互合作以提升競爭力，與供應商共同建立永續供應鏈，以確保客戶無斷料之虞。<br>
                為了達成營運需求，日月光整合集團資源，建立供應鏈策略：
                <ul class="no-padding " style="margin-left:16px;">
                    <li>價值考量：獲得最具競爭力的整體供應鏈價值。</li>
                    <li>多元化供應：保持每種材料至少有兩間以上的供應商。</li>
                    <li>品質優先：獲得最佳品質之材料。</li>
                    <li>供應鏈韌性：確保供應商原物料的持續供應。</li>
                    <li>策略性合作：與供應商合作以持續提升競爭力。</li>
                    <li>非衝突採購：確保供應商提供之產品使用來源可靠的非衝突礦產。更多詳細內容，請參考<a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "Conflict_Minerals_Compliance" })">日月光集團衝突礦產採購管理政策</a>.</li>
                </ul>
            </p>

            <h4 class="sub-title">電子化供應鏈協同管理</h4>
            <p>
                日月光的供應鏈依採購類別分為原物料、設備、廠務/工程承攬商、廢棄物處理承攬商、運輸與物流以及服務型外包商等。面對電子業複雜的供應鏈及全球客戶的需求，我們整合現有採購流程與網際網路，自2011年發展日月光電子化供應鏈協同平台「e-Hub」，讓採購與供應商在此平台進行電子化詢報價、訂單回覆、出貨通知、檢驗CoC (Certificate of Conformance) 提交、庫存查詢、貨款查詢等作業，不僅供應鏈資訊即時透明流通，留存電子紀錄供迅速查詢與稽核，更與供應夥伴建立完善的庫存預警機制來滿足供應需求並提升物流效率，雙方得以縮短作業時程，強化營運管理。<br><br>
            </p>
        </div>


        <div class="col-sm-6 col-md-6">
            <h4 class="sub-title">供應商評核</h4>
            <p>
                為確保供應鏈的持續以及逐年降低供應鏈風險，透過：「品質」、「成本」、「交期」、「服務」、「技術」、「永續發展」六大面向，定期評核供應商，確保供應商符合日月光管理要求與規定。<br>
            </p>我們將評核結果納入採購決策：<br>

            <strong>(a) 評核合格：</strong>
            <div style="padding-left:23px">
                評核合格：透過各種方式鼓勵供應鏈夥伴，包括：提高採購量、優先進料、優先使用、推薦客戶等，並公開表揚優質供應商。
            </div><br>
            <strong>(b) 評核未達標準：</strong>
            <div style="padding-left:23px">評核未達標準：供應商須提出改善計畫，並確認改善計畫之完成狀況。</div>

        </div>
        <div class="col-sm-6 col-md-4 col-md-offset-1">
            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/supplier/supply_chain_management1.png" class="center-block img-ali-2"><br><br>
        </div>


    </div>
</section>