﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/tw/_Layout.cshtml";
}
<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-supplier long-text">

		<h1 class="page-title title-large">供應商專區</h1>
	</section>

<!--breadcrumbs-->
<div class="content-lg row">
    <div class="col-xs-12">
        <ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="@Url.Action("Index", "Home", new { lang = ViewBag.language.lang })"><i class="icon-home"></i><span itemprop="name">首頁</span></a>
                <meta itemprop="position" content="1" />
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Supplier" })"><span itemprop="name">供應商專區</span></a>
                <meta itemprop="position" content="2" />
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "supply_chain_development" })"><span itemprop="name">供應鏈政策與行為準則</span></a>
                <meta itemprop="position" content="3" />
            </li>
        </ol>
    </div>
</div>

<div class="breadcrumbs-pc pull-left" id="breadcrumbs-pc">
    <!-- PC版選單breadcrumbs內容 -->
    <ul class="breadcrumbs-view" id="breadcrumbs-view">
        <li class="dropdown-item">
            <span class="glyphicon glyphicon-menu-right"></span>
            <ul class="dropdown-list">
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })">技術</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" })">產品</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Solution" })">解決方案</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Lab" })">投資人關係</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })">企業社會責任</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "About" })">了解日月光</a></li>
            </ul>
        </li>
        <li class="dropdown-item">
            <a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Supplier" })">供應商專區</a>
            <span class="glyphicon glyphicon-menu-right"></span>
            <ul class="dropdown-list">
                <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "message_from_top_management" })">總經理的話</a></li>
                <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "supply_chain_development" })">供應鏈政策與行為準則</a></li>
                <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "supply_chain_management" })">供應鏈管理</a></li>
                <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "supply_chain_development_and_sustainability_management" })">供應鏈發展與永續管理</a></li>
                <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "sustainable_supply_chain_initiatives" })">供應鏈永續倡議</a></li>
                <li><a href="@Url.Action("Index", "Supplier", new { lang = ViewBag.language.lang })">成為日月光供應商夥伴</a></li>
            </ul>
        </li>
    </ul>
</div>

<section class="inside-article">
    <div class="content-lg row">
        <div class="col-xs-12">
            <h3 class="title">供應鏈政策與行為準則</h3>
            <h4 class="sub">日月光集團採購與供應鏈發展政策</h4>
            <p>
                <br>
                日月光集團為全球半導體封裝測試服務領導者及主要的系統與核心技術整合者，對全球電子產業供應鏈產生正面影響力是我們的責任，並倡導與供應商一同建立永續供應鏈，致力於責任採購及供應鏈的技術能力發展，且持續提供負責任且優質的服務給我們的客戶。
            </p>

            日月光集團承諾
            <ol class="nopadding">
                <li>以積極的行動確保採購行為符合專業及商業道德的最高標準，並恪遵所有營運所在地的法律規定，強調供應商間的公平競爭，以及供應商與日月光間的公平交易。</li>
                <li>全面推動綠色採購，並依循日月光衝突礦產政策和綠色產品規範進行採購。</li>
                <li>與供應商發展穩定的夥伴關係，充分溝通並互相合作以追求雙贏，強調風險共擔與利益共享。</li>
                <li>要求供應商遵守相關法規、符合高標準商業道德、保障人權、重視勞工身心健康與安全、保護環境及善盡企業社會責任。</li>
                <li>積極進行供應商管理及輔導，協助供應商持續提升競爭力，並對供應商進行風險評鑑，將交期、品質、成本、服務、技術、及永續管理列為評核標準，做為日月光集團採購決策之重要依據。對於經輔導後仍始終無法達到日月光要求之供應商，將於充分溝通後啟動供應商更換機制。</li>
                <li>兼顧客戶需求與綠色設計，與上下游供應鏈合作開發創新的材料及設備，以提升整體供應鏈之技術與競爭力。</li>
            </ol>

            <a target="_blank" href="http://www.aseglobal.com/ch/Csr/ASE_Group_Purchasing_Supply_Chain_Development_Policy_2016.pdf"><div class="circle_button darkgray facilities-circle-button"><i class="icon-arrow-right facilities-icon-arrow-right"></i></div>日月光集團採購與供應鏈發展政策</a><br><br>
				
				<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/supplier/sign.jpg">
				<p class="spacing2em">
				李石松<br>
				集團採購總經理				
				</p>
            <h4 class="sub">日月光集團供應商行為準則</h4>
            <p>
                日月光相信永續的供應鏈是公司長期經營的成功關鍵，為確保供應商了解並建立健全的經營運作，我們依據「日月光半導體製造股份有限公司商業行為與道德準則」及「電子行業公民聯盟之行為準則」(Electronic Industry Citizenship Coalition Code of Conduct)，並參考「聯合國企業和人權指導原則」(UN Guiding Principles on Business and Human Rights)、國際勞工組織的「工作基本原則與權利宣言」(Declaration of Fundamental Principles and Rights at Work) 及「世界人權宣言」(UN Universal Declaration of Human Rights)等國際規範，訂定日月光集團供應商行為準則，要求供應商於勞工、健康與安全、環境、商業道德及管理體系等各方面之商業行為確實符合準則內容，並且完全遵守經營所在國家/地區的法律和法規。同時，供應商也需將此要求傳達給其下一階供應商，並監管下一階供應商遵行情況。
            </p>
            <a target="_blank" href="http://www.aseglobal.com/en/Csr/ASE_SupplierCodeofConduct_102016V2.pdf"><div class="circle_button darkgray facilities-circle-button"><i class="icon-arrow-right facilities-icon-arrow-right"></i></div>日月光集團供應商行為準則</a><br><br>
        </div>
    </div>
</section>
<style>
    li{list-style:outside;}
    .circle_button{margin-right:20px;}
    h4.sub{font-size:20px;}
</style>
