﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/tw/_Layout.cshtml";
}
<!-- page Banner -->
<section id="page-vision" class="page-banner-s banner-supplier long-text">
    <h1 class="page-title  title-large">供應商專區</h1>
</section>

<!--breadcrumbs-->
<div class="content-lg row">
    <div class="col-xs-12">
        <ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="@Url.Action("Index", "Home", new { lang = ViewBag.language.lang })"><i class="icon-home"></i><span itemprop="name">首頁</span></a>
                <meta itemprop="position" content="1" />
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Supplier" })"><span itemprop="name">供應商專區</span></a>
                <meta itemprop="position" content="2" />
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "supply_chain_development_and_sustainability_management" })"><span itemprop="name">供應鏈發展與永續管理</span></a>
                <meta itemprop="position" content="3" />
            </li>
        </ol>
    </div>
</div>

<div class="breadcrumbs-pc pull-left" id="breadcrumbs-pc">
    <!-- PC版選單breadcrumbs內容 -->
    <ul class="breadcrumbs-view" id="breadcrumbs-view">
        <li class="dropdown-item">
            <span class="glyphicon glyphicon-menu-right"></span>
            <ul class="dropdown-list">
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })">技術</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" })">產品</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Solution" })">解決方案</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Lab" })">投資人關係</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })">企業社會責任</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "About" })">了解日月光</a></li>
            </ul>
        </li>
        <li class="dropdown-item">
            <a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Supplier" })">供應商專區</a>
            <span class="glyphicon glyphicon-menu-right"></span>
            <ul class="dropdown-list">
                <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "message_from_top_management" })">總經理的話</a></li>
                <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "supply_chain_development" })">供應鏈政策與行為準則</a></li>
                <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "supply_chain_management" })">供應鏈管理</a></li>
                <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "supply_chain_development_and_sustainability_management" })">供應鏈發展與永續管理</a></li>
                <li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "sustainable_supply_chain_initiatives" })">供應鏈永續倡議</a></li>
                <li><a href="@Url.Action("Index", "Supplier", new { lang = ViewBag.language.lang })">成為日月光供應商夥伴</a></li>
            </ul>
        </li>
    </ul>
</div>

<section class="inside-article">
    <div class="content-lg row">
        <div class="col-xs-12">
            <h3 class="title">供應鏈發展與永續管理</h3>
            <h4 class="sub-title">供應商永續風險評估</h4>
            <p>
                為掌握供應鏈永續風險，日月光每年進行供應商永續風險調查。更多詳細資料，請參考<a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "Supplier_Sustainability_Management" })">供應商永續管理</a>.
            </p>
           

            <h4 class="sub-title">供應商永續管理能力建置</h4>
            <p>
                為強化供應商因應全球永續趨勢與風險的能力，日月光透過舉辦不同議題的永續教育訓練，傳達我們供應鏈管理的要求，以幫助供應商提升其永續意識及建立永續經營能力。
            </p>

            <h4 class="sub-title">日月光最佳供應商頒獎典禮</h4>
            <p>
                日月光集團每年舉辦「最佳供應商頒獎典禮」，表揚並肯定供應商的努力，除了鼓勵綜合績效表現卓越的供應商，也強調與供應商發展穩定的夥伴關係。同時，我們也將供應商的優秀實績分享給現場供應商，藉此樹立企業標竿學習楷模，展現與上下游供應商攜手建立永續供應鏈的決心，期望提升產業鏈優勢並帶動升級。
            </p>
            <div class="col-sm-6 col-md-3 picture-padding-2 temp mar-ali-down-2"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/supplier/supply_img_1.png")"></div>
            <div class="col-sm-6 col-md-3 picture-padding-2 temp mar-ali-down-2"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/supplier/supply_img_2.png")"></div>
            <div class="col-sm-6 col-md-3 picture-padding-2 temp mar-ali-down-2"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/supplier/supply_img_3.png")"></div>
            <div class="col-sm-6 col-md-3 picture-padding-2 temp mar-ali-down-2"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/supplier/supply_img_4.png")"></div>
            <p>2017年日月光最佳供應商頒獎典禮</p>
            <h4 class="sub-title">頒獎供應商永續經營獎</h4>
            <p>
                為實踐企業社會責任，對全球電子產業供應鏈產生正面影響力，提升營運持續管理與風險承受能力以達永續發展，依「日月光集團採購與供應鏈發展政策」第四項承諾，於2017年頒發首屆「日月光集團-供應商永續經營獎」以鼓勵供應商遵守相關法規、符合高標準商業道德、保障人權、重視勞工身心健康與安全、保護環境及善盡企業社會責任。
            </p>
        </div>
        <div class="col-sm-6 col-md-6">
            <h4 class="sub-title">評選構面</h4>
            <p>
                「供應商永續經營獎」評選面向參考EICC電子行業公民聯盟之行為準則、CDP碳揭露專案、聯合國企業和人權指導原則、工作基本原則與權利宣言、世界人權宣言等國際標準與倡議擬定而成。涵蓋: 永續管理、供應鏈管理、環境保護、健康與安全、勞動權益和永續性績效。
            </p>
        </div>
        <div class="col-sm-6 col-md-6">
            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/supplier/supply_chain_development_and_sustainability_management2.png" class="center-block img-ali-1">
        </div>
        <div class="clearfix mar-ali-down"></div>

        <div class="col-sm-6 col-md-6 pull-right">
            <h4 class="sub-title">評選機制</h4>
            <p>
                <strong>第一階段-初審</strong><br>
                透過日月光供應商永續風險評估問卷/EICC SAQ分析供應商永續管理績效。<br><br>
                <strong>第二階段-複審</strong><br>
                獨立第三方單位進行實地查核，進行稽查確認並蒐集亮點實績。<br><br>
                <strong>第三階段-終審</strong><br>
                日月光內外部專家學者組成終審委員會，挑選最佳永續經營之供應商。
            </p>
        </div>
        <div class="col-sm-6 col-md-6">
            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/supplier/supply_chain_development_and_sustainability_management3.png" class="center-block img-ali-1"><br>
        </div>
        <div class="clearfix"></div>
        <div class="col-sm-12">
            <h4 class="sub-title">頒獎</h4>
            <p>
                於年度「日月光最佳供應商頒獎典禮」公開表揚永續經營獲獎廠商，分享企業標竿楷模實例。
            </p>
        </div>







    </div>
</section>