﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
    ViewBag.Title = "Water Recycling at ASE";
    ViewBag.webSiteDesc = "Since 2015, ASE has built and operated its own Water Recycling Facility in Kaohsiung to process and recycle water to its own plants within the Nanzih Park, further reducing our dependence on tap water. The reduction in the use of tap water by ASE has enabled the city of Kaohsiung to deploy the water reserves for household, agriculture and other consumption.";
    ViewBag.webSiteOgImage = "~/public/uploads/b83518067696714f44cb1efad18a0cb5.jpg";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-csr">
		<h1 class="page-title-csr title-large">SUSTAINABILITY</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/csr"><span itemprop="name">Sustainability</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <a itemprop="item" href="/public/en/csr/environment_green_innovation.html"><span itemprop="name">Environment and Green Innovation</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/csr/sustainability_highlights/water_recycling"><span itemprop="name">Water Recycling</span></a>
					<meta itemprop="position" content="3" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">Water Recycling at ASE</h3>
			</article>
		</div>
    </section>

    <section class="inside-article">
        <div class="content-lg row active">
            <article class="col-md-8 col-md-offset-2 text-center" style="padding: 40px 0 50px 0;">
                <div class="col-md-12 nopadding active">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/video3.jpg">
                </div>
                <div style="position:absolute; left:35%; top: 42%; z-index:10; margin:0 auto; border-radius: 10px; text-align: center; background-color: rgba(0, 0, 0, 0.7);">
                    <a class="button videoButton popupVideo" href="https://2311cdn.r.worldssl.net/public/frontend/videos/ASE_WaterManagement_EN_2014_final.mp4" target="_blank"><span style="padding-top: 4px;">Watch More</span><i class="icon-play"></i></a>
                </div>
            </article>
        </div>
    </section>
    <section class="inside-article">
        <div class="content-lg row">
                <h4 class="sub-title">Why invest in water recycling?</h4>
                <div class="col-xs-10 col-xs-offset-1 hide-in-small">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/sustainability_highlights_water_management1.png" class="img-responsive">
                </div>
                <div class="col-xs-8 col-xs-offset-2 hide-in-large nopadding">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/sustainability_highlights_water_management11.png">
                </div>
                <div class="clearfix"></div>
                <h4>Lack of Water Resources</h4>
                <p>
                    Although the average rainfall of Taiwan is 2.6 times the global average, its per capita distributed rainfall is only one-fifth of the global average. This is due to the fact that Taiwan has a very high population density and its terrain is too mountainous to effectively collect rain water. In addition, the distribution of rainfall is very uneven in terms of time and location resulting in a huge discrepancy in rainfall between wet and dry seasons. Dams in Taiwan also lack the capacity to store sufficient water, causing shortages during dry seasons.
                </p>
                <br>
                <h4>Effect of Climate Change on Water Resources</h4>
                <p>
                    In recent years, global climate changes have brought about severe weather volatility. During 2001 to 2004, 2009, 2010 and 2015, insufficient rainfall in Taiwan caused severe droughts. Multiple typhoons brought excessive rainfall to Taiwan in 2004, 2005, 2009, and 2010, causing water turbidity and water supply disruptions. In 2009, Typhoon Morakot inflicted severe damage on Taiwan including the suspension of water supply in the Nanzih District of Kaohsiung for over a week. The production lines at ASE Kaohsiung was seriously impacted. In 2015, the local government implemented Phase Two water restrictions throughout Taiwan due to severe drought, reducing industrial water supply drastically. In 2020, not a single typhoon made landfall in Taiwan and as a result, water levels at the reservoirs remain dangerously low. The lack of rain in the first half of 2021 added further stress to Taiwan’s water resources.
                </p>
                <br>
                <h4>Water Demand at ASE</h4>
                <p>
                    As ASE continues to grow and expand our production capacity, our water usage has proportionately increased. In order to achieve sustainable growth, ASE stayed focused on water conservation, reducing water usage and effluent reduction.
                </p>
                <br>
                <br>
                <h4 class="sub-title">How does it work?</h4>
                <h4>What is Water Recycling?</h4>
                <p>
                    Water recycling is the process of treating wastewater and reusing the treated water. The process includes the application of complex filtration technologies to remove solids and other impurities as well as disinfection by a water treatment plant.
                </p>
                <br>
                <h4>Glossary of Water Treatment Systems</h4>
                <p>
                    <strong>Multi Media Filter (MMF)</strong><br>
                    The filter beds, from top to bottom, are made of anthracite coal, fine quartz sand, coarse quartz sand, fine gravel, and coarse gravel. Using the principle of mechanical filtering, 99.9% of suspended solids larger than 50 μm can be removed.<br><br>

                    <strong>Ultrafiltration (UF) System</strong><br>
                    Uses fiber membrane filters to filter out molecular particles, which can be insoluble solids as small as 0.03 μm. It can effectively prevent micro-particles and colloidal substances from trickling through the sand filter tower, thus lowering the silt density index of the water.<br><br>

                    <strong>Reverse Osmosis (RO) System</strong><br>
                    Uses reverse osmosis membranes to filter out electrical conductivity and organic substances, and to purify water to the level required by the manufacturing process.
                </p>
                <br>
                <h4>Water Recycling Process at ASE Kaohsiung</h4>
                <div class="col-md-10 col-md-offset-1">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/sustainability_highlights_water_management2.png" class="img-responsive">
                </div>
                <div class="clearfix"></div>
                <br>
                <h4>Water Recycling Process at ASE Chungli</h4>
                <div class="col-md-10 col-md-offset-1">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/sustainability_highlights_water_management3.png" class="img-responsive">
                </div>
                <div class="clearfix"></div>
                <br>
                <br>
                <h4 class="sub-title">Outreach and Education</h4>
                <p>
                    As a leading provider of semiconductor manufacturing services in assembly and test, we aim to maximize our positive influence by sharing our experience and success on water management.<br><br>

                    ASE’s water recycling plants attract at least one to two external group visits per month. Numerous institutions and corporations including the Southern Taiwan Science Park and the Public Utilities Board of Singapore have visited to learn from our experience. Through participation at local and international symposiums, collaboration with industry organizations and cross-visits to other water recycling sites, we aim to learn and share more information and expertise on water conservation and to support others to improve water management.
                </p>

                <div class="col-xs-6 col-md-3 picture-padding-2" style="margin-bottom: 5px"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/sustainability_highlights_water_management11.jpg"></div>
                <div class="col-xs-6 col-md-3 picture-padding-2" style="margin-bottom: 5px"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/sustainability_highlights_water_management12.jpg"></div>
                <div class="col-xs-6 col-md-3 picture-padding-2" style="margin-top: 0"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/sustainability_highlights_water_management13.jpg"></div>
                <div class="col-xs-6 col-md-3 picture-padding-2" style="margin-top: 0"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/sustainability_highlights_water_management14.jpg"></div>
                <div class="clearfix"></div>
                <br><br>
			</article>
        </div>
    </section>
    <section class="inside-article">
        <div class="content-lg row">
            <article class="col-md-10 col-md-offset-1 text-center">
                <div class="col-md-12 nopadding">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/mov-water_management-2022.jpg">
                </div>
                <div style="position:absolute; left:35%; top: 42%; z-index:10; margin:0 auto; border-radius: 10px; text-align: center; background-color: rgba(0, 0, 0, 0.7);">
                    <a class="button videoButton popupVideo" href="https://coms.aseglobal.com/marcom/video/waterrecycling60s" target="_blank"><span style="padding-top: 4px;">Watch More</span><i class="icon-play"></i></a>
                </div>
                <div class="clearfix"></div>
                <br><br>
            </article>
            <div class="col-sm-12">
                <div class="col-xs-6 col-md-3 picture-padding-2" style="margin-bottom: 5px"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/sustainability_highlights_water_management-21.jpg"></div>
                <div class="col-xs-6 col-md-3 picture-padding-2" style="margin-bottom: 5px"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/sustainability_highlights_water_management-22.jpg""></div>
                <div class="col-xs-6 col-md-3 picture-padding-2" style="margin-top: 0"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/sustainability_highlights_water_management-23.jpg""></div>
                <div class="col-xs-6 col-md-3 picture-padding-2" style="margin-top: 0"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/sustainability_highlights_water_management-24.jpg""></div>
                <div class="clearfix"></div>
                <br><br>
            </div>
		</div>
	</section>
	<script>
	$( document ).ready(function() {
		$('.accordion-center-text').click(function(e){
			if ($(this).hasClass('black-text-in-box')) {
				$('.blue-text-in-box').removeClass('blue-text-in-box').addClass('black-text-in-box');
				$(this).removeClass("black-text-in-box");
				$(this).addClass("blue-text-in-box");      //add the class to the clicked element
			} else {
				$(this).removeClass("blue-text-in-box");
				$(this).addClass("black-text-in-box");      //add the class to the clicked element
			}
		});
	})
	</script>