﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/ch/_Layout_seo.cshtml";
}

<!-- page Banner -->
<section id="page-vision" class="page-banner-s banner-technology">
    <h1 class="page-title title-large">Technology</h1>
</section>

<!--breadcrumbs-->
<div class="content-lg row">
    <div class="col-xs-12">
        <ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
        </ol>
    </div>
</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->

<!-- Technology list -->
<section class="inside-article">
    <div class="content-lg row">
        <article class="col-xs-12">
            <div class="col-sm-8 col-md-6 col-lg-4"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/aeasi1.jpg"></div>
            <div class="clearfix"></div>
            <h3 class="title">aEASI</h3>
            <p>
                ASE's Embedded (Chip) Technology is considered an alternative solution to achieve higher level integration with multi-functionalities and form factor shrinkage advantages. ASE a-EASI is suitable for power electronics applications to reduce power loss and high thermal dissipation which also had robust mechanism. Embedded Technology provides SMT integration and flexible routing solution to reduce PCB size. The short connection path though Cu via structure. a-EASI applied metal lead frame to die placement which has high thermal dissipation and EMI benefit.
            </p>
        </article>
    </div>
</section>

<section class="inside-article">
    <div class="content-lg row">
        <br><br>
        <div class="col-xs-6">
            <div class="technology-application technology-tab-active">Application</div>
        </div>
        <div class="col-xs-6">
            <div class="technology-features technology-tab-inactive">Features</div>
        </div>
        <div class="clearfix"></div>
        <div class="technology-application-content">
            <div class="col-sm-12 col-md-12">
                <p>All integrated power devices and driver can be packaged in the sample package, intelligent power switches which combined function of driver, power switch, protection circuitry and diagnostic feedback on a single IC, or power analog application are suitable to the kinds embedded technology.</p>
            </div>
        </div>
        <div class="technology-features-content">
            <div class="col-sm-12">
                The figure below shows cross-section illustrations of a multi die in aEASI structure which integrates power chips and a controller. The package includes a metal lead frame, RDL layers, via connect to chips and lead frame for connection, the back side of package could be for SMT if necessary.<br>
                The structure properties include<br><br>
            </div>
            <div class="col-sm-7">
                <ul class="nopadding">
                    <li>Metal Lead frame</li>
                    <li>Multi-die embedded in substrate</li>
                    <li>Double side RDL layers build up capability</li>
                    <li>Small form package factor capability</li>
                    <li>SMT on surface of substrate</li>
                    <li>Meets JEDEC MSL3 CLR requirements</li>
                </ul>
            </div>
            <div class="col-sm-5">
                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/aeasi2.jpg">
            </div>
        </div>
    </div>
</section>
<br>
<section class="inside-article">
    <div class="content-lg row">
        <div class="col-xs-12 col-md-12">
            <h4 class="sub-title">Reliability</h4>
            <p>Key embedded chip technology will be copper via on die pad, Cu pad on die provided good connection structure, both of bare Cu pad or polyimide layer cover Cu. Compare with traditional lead frame package solution, aEASI is the solution for low loss and high thermal performance requirement. In high current output, the power efficiency still achieves more than 90%.</p>
        </div>
        <div class="col-md-7">
            <strong>Package Level</strong>
            <div class="table-responsive inside-table">
                <table class="table table-striped table-hover csr">
                    <tbody>
                        <tr class="blue">
                            <td class="left-border">
                                Pre-cond<br>
                                MSL3 3*Reflow
                            </td>
                            <td class="left-border">HAST</td>
                            <td class="left-border">
                                TC
                                <br>1000 Cy
                            </td>
                            <td class="left-border">
                                HTSL
                                <br>1000 hr
                            </td>
                            <td class="left-border">
                                HTOL
                                <br>1000 hr
                            </td>
                            <td class="left-border">
                                PTC
                                <br>1000 hr
                            </td>
                        </tr>
                        <tr class="white">
                            <td class="left-border">Pass</td>
                            <td class="left-border">Pass</td>
                            <td class="left-border">Pass</td>
                            <td class="left-border">Pass</td>
                            <td class="left-border">Pass</td>
                            <td class="left-border">Pass</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <br><br>
        </div>

        <!-- more technology link -->
        <div class="col-md-12">
            <div class="circle_button-wrapper pull-left">
                <a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })">
                    <div class="circle_button darkgray pull-left"><i class="icon-arrow-left"></i></div><span class="more-tech-link">More Technology</span>
                </a>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</section>

<br><br>
<section class="csr-bg">
    <div class="content-lg row">
        <div class="col-xs-12 csr">
            <div class="col-md-2 bgnews-list list-base">

            </div>
            <div class="col-sm-6 col-md-4 bgnews-list list-base">
                <div class="content">
                    <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "aeasi" })">
                        <span class="blue-text-in-box">aEASI</span>
                        <div class="circle_button-wrapper pull-right">
                            <div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 bgnews-list list-base">
                <div class="content">
                    <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "sesub" })">
                        <span class="blue-text-in-box">SESUB</span>
                        <div class="circle_button-wrapper">
                            <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        $(".technology-features-content").hide();

        $('.technology-application').click(function () {
            $(this).closest(".row").find(".technology-features").removeClass("technology-tab-active").addClass("technology-tab-inactive");
            $(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
            $(this).closest(".row").find(".technology-features-content").hide();
            $(this).closest(".row").find(".technology-application-content").fadeIn(1000);
        });
        $('.technology-features').click(function () {
            $(this).closest(".row").find(".technology-application").removeClass("technology-tab-active").addClass("technology-tab-inactive");
            $(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
            $(this).closest(".row").find(".technology-application-content").hide();
            $(this).closest(".row").find(".technology-features-content").fadeIn(1000);
        });
    });
</script>