﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/ch/_Layout_seo.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-fit">
		<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/products/banner_products_csp.jpg">
		<h1 class="page-title title-large">Products</h1>
	</section>

	<!--麵包屑-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->

	<!-- Products Content -->
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 nopadding"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/aeasi1.jpg"></div>
				<div class="clearfix"></div>
				<h3 class="title">aEASI Power Module</h3>
				<p>
					ASE's Embedded (Chip) Technology is considered an alternative solution to achieve higher level integration with multi-functionalities and form factor shrinkage advantages. ASE a-EASI is suitable for power electronics applications to reduce power loss and high thermal dissipation which also had robust mechanism. Embedded Technology provides SMT integration and flexible routing solution to reduce PCB size. The short connection path though Cu via structure. a-EASI applied metal lead frame to die placement which has high thermal dissipation and EMI benefit.
				</p>
			</article>
		</div>
	</section>
	<section class="inside-article">
		<div class="content-lg row">
			<br>
			<div class="col-xs-6">
				<div class="technology-application technology-tab-active">Application</div>
			</div>
			<div class="col-xs-6">
				<div class="technology-features technology-tab-inactive">Features</div>
			</div>
			<div class="clearfix"></div>
			<div class="technology-application-content">
				<div class="col-sm-12 col-md-12">
					<p>
						All integrated power devices and driver can be packaged in the sample package, intelligent power switches which combined function of driver, power switch, protection circuitry and diagnostic feedback on a single IC, or power analog application are suitable to the kinds embedded technology.
					</p>
				</div>
			</div>
			<div class="technology-features-content">
				<div class="col-sm-12 col-md-12">
					<p>
						The figure below shows cross-section illustrations of a multi die in aEASI structure which integrates power chips and a controller. The package includes a metal lead frame, RDL layers, via connect to chips and lead frame for connection, the back side of package could be for SMT if necessary.
					</p>
				</div>
				<div class="col-sm-6">
					<p>
						The structure properties include<br>
						<ul class="nopadding">
							<li>Metal Lead frame</li>
							<li>Multi-die embedded in substrate</li>
							<li>Double side RDL layers build up capability</li>
							<li>Small form package factor capability</li>
							<li>SMT on surface of substrate</li>
							<li>Meets JEDEC MSL3 CLR requirements</li>
						</ul>
					</p>
				</div>
				<div class="col-sm-1">
				</div>
				<div class="col-sm-5">
					<img src="https://2311cdn.r.worldssl.net/pic/images/technology/aeasi2.jpg")">
				</div>
			</div>

			<div class="col-md-12"><br>
				<div class="circle_button-wrapper pull-left">
					<a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" })">
						<div class="circle_button darkgray pull-left"><i class="icon-arrow-left"></i></div><span class="more-tech-link">More Products</span>
					</a>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</section>
	<br><br>
	<section class="csr-bg">
		<div class="content-lg row">
			<div class="products-menu1-content col-xs-12 csr">

				<div class="col-md-6 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "ssd_sip_module" })">
							<span class="blue-text-in-box">SSD SiP Module</span>
							<div class="circle_button-wrapper pull-right">
								<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-6 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "aeasi_power_module" })">
							<span class="blue-text-in-box">aEASI Power Module</span>
							<div class="circle_button-wrapper">
								<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-6 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "sensor_sip_module" })">
							<span class="blue-text-in-box">Sensor SiP Module</span>
							<div class="circle_button-wrapper">
								<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-6 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "optical_sip_module" })">
							<span class="blue-text-in-box">Optical SiP Module</span>
							<div class="circle_button-wrapper">
								<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>
				<div class="clearfix"></div>

			</div>
		</div>
	</section>
