﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/ch/_Layout_seo.cshtml";
}

<!-- page Banner -->
<section id="page-vision" class="page-banner-s banner-csr">
    <h1 class="page-title-csr title-large">企業社會責任</h1>
</section>

<!--breadcrumbs-->
<div class="content-lg row">
    <div class="col-xs-12">
        <ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
        </ol>
    </div>
</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->
	<!-- Letter from the Chairman -->
<section class="inside-article">
    <div class="content-lg row">
        <article class="col-xs-12">
            <h3 class="title">Corporate Sustainability Management </h3>
            <p>
                In the hope of fulfilling corporate social responsibility initiatives, promoting economic, environmental, and social advancement for purposes of sustainable development, and realizing our commitments, ASE has formally established Corporate Sustainability Management Organization in 2015, in which Corporate Sustainability Committee (the “CSC”) is appointed to oversee ASE’s sustainability issues directly. In 2015, we formulated and published ASE Group Corporate Sustainability and Citizenship Policy and ASE Corporate Social Responsibility Best Practice Principles; the former sets out the high level principles and commitments, and the latter introduces rules/procedures of dealing with material sustainability topics.
            </p>
            <h4 class="sub-title">Corporate Sustainability Management Organization</h4>
            <p>
                As the highest sustainable development governance body, the CSC is chaired by the Chief Operating Officer and comprised of ASE’s top management executives, who also serve on members of the board of directors. The CSC is responsible for overseeing corporate-wide sustainability affairs and reporting to the board of directors directly.<br><br>

                The CSC is fully supported by five sustainability taskforces, in which representatives from all of our corporate responsibility related business segments are brought together, and Vice Presidents and relevant department Directors are appointed as coordinators. The taskforces are designated in correspondence to material corporate responsibility and sustainability issues at ASE, including corporate governance, environmental sustainability, human capital, supply chain, corporate citizenship, and disclosure and stakeholder engagement.<br><br>

                Each taskforce is responsible for identifying sustainability issues, promoting action plans, and providing professional advice towards sustainability issues. The Corporate CSR Center serves as the secretariat of the CSC; its main responsibilities are to facilitate and integrate all initiatives related to groupwide sustainability affairs, and to improve the quality of ASE’s sustainability performances information disclosure. Our global manufacturing sites follow instructions and decisions of the CSC to integrate sustainability into their daily operation.
            </p>

            <h4 class="sub-title">Sustainability Management Framework</h4>
            <br>
            <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/corporate_sustainability_management1.png">
            </div>
            <div class="clearfix"></div>
            <br><br>
            <p>
                To realize ASE’s sustainability commitments under CSC’s sustainability management framework, business drivers or risks/opportunities related to corporate level sustainability issues are first identified and assessed. Responsive strategies are then determined following the ASE Group Sustainability Guidance, which stipulates policies and guidance for integrating sustainability into ASE’s operational management procedures. In consideration of the determined responsive strategies and the results of stakeholder engagement, focuses are defined, accompanied by key programs or items that aim to address targets set for each focus. Lastly, benefits or indicators are set to evaluate performances of the key items or programs, which contribute to decision-making process to enhance business operation.<br><br>

                In 2015, cross-regional and cross-functional teams within Finance, Legal, Internal Audit, Investor Relations, EHS and Facility, Human Resources, Procurement, Marketing Communication, Public Relations, and other related departments have become involved in CSC affairs, engaging with different stakeholders, and drawing and implementing sustainability tasks for each taskforce. Details of our performance against material sustainability issues are contained in the following chapters in this report.
            </p>


            <h4 class="sub-title">Corporate Sustainability Committee Organization Chart</h4>
            <br>
            <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/corporate_sustainability_management2.png">
            </div>
            <div class="clearfix"></div>
            <br><br>

        </article>
    </div>
</section>