﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/ch/_Layout_seo.cshtml";
}
<!-- page Banner -->
<section id="page-vision" class="page-banner-s banner-technology">
    <h1 class="page-title title-large">Technology</h1>
</section>

<!--breadcrumbs-->
<div class="content-lg row">
    <div class="col-xs-12">
        <ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
        </ol>
    </div>
</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->

<!-- Technology list -->
<section class="inside-article">
    <div class="content-lg row">
        <article class="col-xs-12">
            <div class="col-sm-8 col-md-6 col-lg-4"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/cu_pillar1.jpg"></div>
            <div class="clearfix"></div>
            <h3 class="title">Cu Pillar</h3>
        </article>
        <article class="col-sm-12 col-md-6">
            <p>
                As electronic devices trend further towards smaller, thinner, lighter, and higher performance characteristics, bump size likewise decreases meaning fine pitch becomes essential. ASE's Cu pillar bumps in flip chip packaging technology is the most effective method for fine-pitch interconnection for these package types.
            </p>
        </article>
        <article class="col-sm-6 col-md-3">
            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/cu_pillar2.jpg">
        </article>
        <article class="col-sm-6 col-md-3">
            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/cu_pillar3.jpg">
        </article>
    </div>
</section>

<section class="inside-article">
    <div class="content-lg row">
        <br><br>
        <div class="col-xs-6">
            <div class="technology-application technology-tab-active">Application</div>
        </div>
        <div class="col-xs-6">
            <div class="technology-features technology-tab-inactive">Features</div>
        </div>
        <div class="clearfix"></div>
        <div class="technology-application-content">
            <div class="col-sm-4 col-md-4">
                <strong>Consumer</strong>
                <ul class="nopadding">
                    <li>Camcorders</li>
                    <li>Digital Camera</li>
                    <li>DVD</li>
                    <li>WiMAX</li>
                </ul>
            </div>
            <div class="col-sm-4 col-md-4">
                <strong>Computer</strong>
                <ul class="nopadding">
                    <li>Voltage Regulators</li>
                    <li>High-speed Memory</li>
                    <li>Card</li>
                    <li>PC Peripherals</li>
                </ul>
            </div>
            <div class="col-sm-4 col-md-4">
                <strong>Telecommunication</strong>
                <ul class="nopadding">
                    <li>Pagers</li>
                    <li>Cellular Handsets</li>
                    <li>GPS </li>
                </ul>
            </div>
        </div>
        <div class="technology-features-content">
            <div class="col-xs-12 col-md-12">
                <p>
                    Standoff between chip and substrate is more stable. Good electrical performance and high reliability - Cu pillar bumps do not easily cause fatigue by electromigration and thermal. Fine pitch is possible below 20um. Cu pillar bumps do not cause bump bridging between adjacent bumps and they distribute current uniformly. Higher elastic modulus. Lower cost.
                </p>
            </div>
        </div>
    </div>
</section>
<br>
<section class="inside-article">
    <div class="content-lg row">
        <div class="col-md-6">
            <h4 class="sub-title">Thermo-compression reflow (TCR) technology for Cu Pillar Bumps</h4>
            <p>Underfill does not easily flow between adjacent bumps, when the bump pitch passes below 20 um, therefore    thermo-compression reflow (TCR) technology is best applied. During the TCR process, underfill is dispensed onto a substrate. The chip is then picked by attachment, and bonded to the substrate. The temperature of attachment is increased by heating under force. After a period of time, the solder joint becomes formatted, and following, the package is post-cured.</p>
        </div>
        <div class="col-md-6" style="margin-top:100px;">
            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/cu_pillar4.jpg">
        </div>

        <br><br>


        <!-- more technology link -->
        <div class="col-md-12">
            <div class="circle_button-wrapper pull-left">
                <a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })">
                    <div class="circle_button darkgray pull-left"><i class="icon-arrow-left"></i></div><span class="more-tech-link">More Technology</span>
                </a>
            </div>
        </div>

        <div class="clearfix"></div>



    </div>


</section>

<br><br>
<section class="csr-bg">
    <div class="content-lg row">
        <div class="col-xs-12 csr">
            <div class="col-md-4 bgnews-list list-base">
                <div class="content">
                    <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "flip_chip_csp" })">
                        <span class="blue-text-in-box">Flip Chip CSP</span>
                        <div class="circle_button-wrapper pull-right">
                            <div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-4 bgnews-list list-base">
                <div class="content">
                    <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "flip_chip_bga" })">
                        <span class="blue-text-in-box">Flip Chip BGA</span>
                        <div class="circle_button-wrapper">
                            <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-4 bgnews-list list-base">
                <div class="content">
                    <a href="hp_@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "flip_chip_bga" })">
                        <span class="blue-text-in-box">HP Flip Chip BGA</span>
                        <div class="circle_button-wrapper">
                            <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-4 bgnews-list list-base">
                <div class="content">
                    <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "cu_pillar" })">
                        <span class="blue-text-in-box">Cu Pillar</span>
                        <div class="circle_button-wrapper">
                            <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-4 bgnews-list list-base">
                <div class="content">
                    <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "solder_bumping" })">
                        <span class="blue-text-in-box">Solder Bumping</span>
                        <div class="circle_button-wrapper">
                            <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
	$(document).ready(function() {
		$(".technology-features-content").hide();

		$('.technology-application').click(function() {
			$(this).closest(".row").find(".technology-features").removeClass("technology-tab-active").addClass("technology-tab-inactive");
			$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
			$(this).closest(".row").find(".technology-features-content").hide();
			$(this).closest(".row").find(".technology-application-content").fadeIn(1000);
		});
		$('.technology-features').click(function() {
			$(this).closest(".row").find(".technology-application").removeClass("technology-tab-active").addClass("technology-tab-inactive");
			$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
			$(this).closest(".row").find(".technology-application-content").hide();
			$(this).closest(".row").find(".technology-features-content").fadeIn(1000);
		});
	});
</script>
