﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/ch/_Layout_seo.cshtml";
}
<!-- page Banner -->
<section id="page-vision" class="page-banner-s banner-technology">
    <h1 class="page-title title-large">Technology</h1>
</section>

<!--breadcrumbs-->
<div class="content-lg row">
    <div class="col-xs-12">
        <ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
        </ol>
    </div>
</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->

<!-- Technology list -->
<section class="inside-article">
    <div class="content-lg row">
        <article class="col-xs-12">
            <div class="col-sm-8 col-md-6 col-lg-4"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/flip_chip_bga1.jpg"></div>
            <div class="clearfix"></div>
            <h3 class="title">Flip Chip BGA</h3>
        </article>
        <article class="col-md-6">
            <p>
                <strong>Flip Chip Organic BGA</strong><br>
                Laminate or build-up organic substrate offers better electrical performance
                than wire-bond type BGA package especially in high frequency applications.
            </p>
        </article>
        <article class="col-md-6">
            <p>
                <strong>Flip Chip Ceramic BGA</strong><br>
                Alumina ceramic substrate offers better moisture resistance, electrical insulating property and higher thermal conductivity than organic substrate. FCBGA is used primarily for high-reliability commercial applications (e.g. CPU).
            </p>
        </article>
    </div>
</section>

<section class="inside-article">
    <div class="content-lg row">
        <br><br>
        <div class="col-xs-6">
            <div class="technology-application technology-tab-active">Application</div>
        </div>
        <div class="col-xs-6">
            <div class="technology-features technology-tab-inactive">Features</div>
        </div>
        <div class="clearfix"></div>
        <div class="technology-application-content">
            <div class="col-sm-6 col-md-4">
                <strong>Consumer</strong>
                <ul class="nopadding">
                    <li> Graphics/chipsets for PC</li>
                    <li> Server</li>
                    <li> Game console and High-end application</li>
                    <li> Microprocessor for PC & Server</li>
                    <li> Memory</li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-4">
                <strong>Telecommunication</strong>
                <ul class="nopadding">
                    <li>Network products (LAN)</li>
                    <li>Switching</li>
                    <li>Transmission</li>
                    <li>Cellular Base Stations</li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="technology-features-content">
            <div class="col-xs-12 col-md-12">
                <ul class="nopadding">
                    <li>Substrate: 4 layer laminate, 4~12 layer & 800/400um. Build-up substrates, and ceramic substrates are available for different application</li>
                    <li>Passive Component: Passive component attaching is available. It can be placed on the top or bottom side of the package</li>
                    <li>Ceramic BGA: High Pb solder ball with eutectic solder paste improves board level reliability performance of ceramic packages</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<br>
<section class="inside-article">
    <div class="content-lg row">
        <div class="col-xs-12 col-md-12">
            <h4 class="sub-title">Reliability</h4>
        </div>
        <div class="col-md-4">
            <strong>Package Level</strong>
            <div class="table-responsive inside-table">
                <table class="table table-striped table-hover csr">
                    <tbody>
                        <tr>
                            <td class="left-border">MSL Level 4</td>
                            <td class="left-border">220 °C</td>
                        </tr>
                        <tr>
                            <td class="left-border">TCT-B</td>
                            <td class="left-border">1000 cycles</td>
                        </tr>
                        <tr>
                            <td class="left-border">THT</td>
                            <td class="left-border">1000 hrs</td>
                        </tr>
                        <tr>
                            <td class="left-border">THST</td>
                            <td class="left-border">1000 hrs</td>
                        </tr>
                        <tr>
                            <td class="left-border">PCT</td>
                            <td class="left-border">96 hrs (for reference only)</td>
                        </tr>
                        <tr>
                            <td class="left-border">HAST</td>
                            <td class="left-border">100 hrs</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br>


            <strong>Board Level</strong><br>
            Contact ASE for further details.
            <br><br>
        </div>

        <!-- more technology link -->
        <div class="col-md-12">
            <div class="circle_button-wrapper pull-left">
                <a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })">
                    <div class="circle_button darkgray pull-left"><i class="icon-arrow-left"></i></div><span class="more-tech-link">More Technology</span>
                </a>
            </div>
        </div>

        <div class="clearfix"></div>



    </div>
</section>

<br><br>
<section class="csr-bg">
    <div class="content-lg row">
        <div class="col-xs-12 csr">
            <div class="col-md-4 bgnews-list list-base">
                <div class="content">
                    <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "flip_chip_csp" })">
                        <span class="blue-text-in-box">Flip Chip CSP</span>
                        <div class="circle_button-wrapper pull-right">
                            <div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-4 bgnews-list list-base">
                <div class="content">
                    <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "flip_chip_bga" })">
                        <span class="blue-text-in-box">Flip Chip BGA</span>
                        <div class="circle_button-wrapper">
                            <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-4 bgnews-list list-base">
                <div class="content">
                    <a href="hp_@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "flip_chip_bga" })">
                        <span class="blue-text-in-box">HP Flip Chip BGA</span>
                        <div class="circle_button-wrapper">
                            <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-4 bgnews-list list-base">
                <div class="content">
                    <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "cu_pillar" })">
                        <span class="blue-text-in-box">Cu Pillar</span>
                        <div class="circle_button-wrapper">
                            <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-4 bgnews-list list-base">
                <div class="content">
                    <a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "solder_bumping" })">
                        <span class="blue-text-in-box">Solder Bumping</span>
                        <div class="circle_button-wrapper">
                            <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
	$(document).ready(function() {
		$(".technology-features-content").hide();

		$('.technology-application').click(function() {
			$(this).closest(".row").find(".technology-features").removeClass("technology-tab-active").addClass("technology-tab-inactive");
			$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
			$(this).closest(".row").find(".technology-features-content").hide();
			$(this).closest(".row").find(".technology-application-content").fadeIn(1000);
		});
		$('.technology-features').click(function() {
			$(this).closest(".row").find(".technology-application").removeClass("technology-tab-active").addClass("technology-tab-inactive");
			$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
			$(this).closest(".row").find(".technology-application-content").hide();
			$(this).closest(".row").find(".technology-features-content").fadeIn(1000);
		});
	});
</script>

