﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/ch/_Layout_seo.cshtml";
}
<!-- page Banner -->
<section id="page-vision" class="page-banner-s banner-fit">
    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/lab/banner_lab.jpg" />
    <h1 class="page-title">LAB</h1>
</section>

<!--breadcrumbs-->
<div class="content-lg row">
    <div class="col-xs-12">
        <ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
        </ol>
    </div>
</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->

<!-- Green Lab Content -->
<section>
    <div class="content-lg row">
        <div class="col-md-12">

            <div class="heading_3">Green Technology Lab</div><br>
            <p class="spacing2em">
                Green Technology Lab is an integrated laboratory for Green Product and Clean Process in connection to IC Packaging and Electronics Manufacturing. Our research focus on developing advanced Green Technology and creating a Sustainable and ECO-sufficient Environment.
            </p>
            <p>Role of Green Lab</p>
            <ul class="spacing1-5em">
                <li>Environmental risk assessment & resource integration</li>
                <li>Reusable material evaluation</li>
                <li>Green material development & Eco-Friendly Materials</li>
            </ul>
            <br><br>



            <div class="labs-container">
                <div class="left-lab-box">
                    <div class="circle_button darkgray"><i class="icon-arrow-left"></i></div>
                    &nbsp;&nbsp; Package Design Service
                </div>
                <div class="right-lab-box">
                    <!-- bottom pictures -->
                    <div class="bottom-pic-section">
                        <div class="heading_6 padding-left-10 padding-top-10">To see our Lab category<br><br></div>
                        <div class="bottom-pic-box">
                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/u3119.png">
                            <div class="bottom-pic-text">Electrical Lab</div>
                        </div>
                        <div class="bottom-pic-box">
                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/u3119.png">
                            <div class="bottom-pic-text">Material Lab</div>
                        </div>
                        <div class="bottom-pic-box">
                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/u3119.png">
                            <div class="bottom-pic-text">Stress-Thermal Lab</div>
                        </div>
                        <div class="bottom-pic-box">
                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/u3119.png">
                            <div class="bottom-pic-text">Chemical Lab</div>
                        </div>
                        <div class="bottom-pic-box">
                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/u3119.png">
                            <div class="bottom-pic-text">Analysis and Diagnosis Lab</div>
                        </div>
                        <div class="bottom-pic-box">
                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/u3119.png">
                            <div class="bottom-pic-text"><span class="grey-text">Green Technology Lab</span></div>
                        </div>
                        <div class="bottom-pic-box">
                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/u3119.png">
                            <div class="bottom-pic-text">Mold Flow Lab</div>
                        </div>
                        <div class="bottom-pic-box">
                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/u3119.png">
                            <div class="bottom-pic-text">Compound Material Lab</div>
                        </div>
                        <div class="bottom-pic-box">
                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/u3119.png">
                            <div class="bottom-pic-text">Optical Lab</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>