﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/ch/_Layout_seo.cshtml";
}
<!-- page Banner -->
<section id="page-vision" class="page-banner-s banner-technology">
    <h1 class="page-title title-large">Technology</h1>
</section>

<!--breadcrumbs-->
<div class="content-lg row">
    <div class="col-xs-12">
        <ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
        </ol>
    </div>
</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->

<!-- Technology list -->
<section class="inside-article">
    <div class="content-lg row">
        <article class="col-xs-12">
            <div class="col-sm-8 col-md-6 col-lg-4"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/ipd1.jpg"></div>
            <div class="clearfix"></div>
            <h3 class="title">IPD</h3>
            <p>
                ASE Integrated Passive Device (IPD) is a glass based wafer level process, well developed for today’s most advanced RF communication solutions. It is with custom design, high performance and small form factor, fully compatible with current assembly process in QFN, BGA/LGA, Flip Chip packages, and in WLCSP. AIC (above IC) process is also available.

            </p>
        </article>
    </div>
</section>

<section class="inside-article">
    <div class="content-lg row">
        <br><br>
        <div class="col-xs-6">
            <div class="technology-application technology-tab-active">Application</div>
        </div>
        <div class="col-xs-6">
            <div class="technology-features technology-tab-inactive">Features</div>
        </div>
        <div class="clearfix"></div>
        <div class="technology-application-content">
            <div class="col-xs-12 col-md-12">Most of current applications are in the RF solutions, specific functional devices, such as resonator, filter, diplexer, balum, transformer and etc. ASE IPD is a custom design solution, any other opportunities for IPD is welcomed.</div>
        </div>
        <div class="technology-features-content">
            <div class="col-xs-12 col-md-6">
                <ul class="nopadding">
                    <li>High accuracy 200mm thin film process</li>
                    <li>Very low loss glass substrate</li>
                    <li>High Q-factor inductor: 10 or 15um Cu</li>
                    <li>Single or double layer</li>
                    <li>Integrated package and turnkey solutions</li>
                </ul>
            </div>
            <div class="col-xs-12 col-md-6">
                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/ipd2.jpg">
            </div>
        </div>
    </div>
</section>
<br>
<section class="inside-article">
    <div class="content-lg row">
        <div class="col-xs-12 col-md-12">
            <h4 class="sub-title">Reliability</h4>
            <p>
                ASE offers total turn-key solution from IPD design/simulation to process, package, and final test completed solution at one single stop. Fully characterized and well established design library for any design requirement. Production since 2011, and has shipped over 200 million units.
            </p>
            <div class="col-xs-12 col-md-9 nopadding">
                <div class="table-responsive inside-table">
                    <table class="table table-striped table-hover csr">
                        <thead>
                            <tr>
                                <th class="col-sm-1 left-border">Test Item</th>
                                <th class="col-sm-3 left-border">Test Condition</th>
                                <th class="col-sm-1 left-border">Duration</th>
                                <th class="col-sm-1 left-border">Quantity</th>
                                <th class="col-sm-1 left-border">Results</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="left-border">Precondition</td>
                                <td class="left-border">
                                    MSL3/260°C<br>
                                    (T/C -65°C/150°C 5 cycles,<br>
                                    Backing 125°C 24hrs, 30°C/60%RH 192hrs,<br>
                                    Reflow 260°C max 3 times)
                                </td>
                                <td class="left-border">N/A</td>
                                <td class="left-border">180</td>
                                <td class="left-border">Passed</td>
                            </tr>
                            <tr>
                                <td class="left-border">Temperature Cycle</td>
                                <td class="left-border">
                                    Condition B<br>
                                    (-55°C ~ 125°C, 30min/cycle, Air to Air)
                                </td>
                                <td class="left-border">1000 cycles</td>
                                <td class="left-border">45</td>
                                <td class="left-border">Passed</td>
                            </tr>
                            <tr>
                                <td class="left-border">HAST</td>
                                <td class="left-border">130°C/33.3 PSIA/85%RH</td>
                                <td class="left-border">100 hours</td>
                                <td class="left-border">45</td>
                                <td class="left-border">Passed</td>
                            </tr>
                            <tr>
                                <td class="left-border">HTST</td>
                                <td class="left-border">150°C</td>
                                <td class="left-border">1000 hours</td>
                                <td class="left-border">45</td>
                                <td class="left-border">Passed</td>
                            </tr>
                            <tr>
                                <td class="left-border">PCT</td>
                                <td class="left-border">121°C/100%RH/29.7 PSIA</td>
                                <td class="left-border">168 hours</td>
                                <td class="left-border">45</td>
                                <td class="left-border">Passed</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>

    <br><br>
    <section class="inside-article">
        <div class="content-lg row">
            <div class="col-xs-12">
                <div class="color-318AC6">More Technology</div>
                <div class="technology-bottom-flex">
                    <div class="technology-bottom"><a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "fan_out" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-01.png"><br>Fan Out</a></div>
                    <div class="technology-bottom"><a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "sip_module_solutions" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-02.png"><br>SiP & Module Solutions</a></div>
                    <div class="technology-bottom"><a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "flip_chip" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-03.png"><br>Flip Chip</a></div>
                    <div class="technology-bottom"><a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "tsv_interposer_integration" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-04.png"><br>TSV-interposer integration</a></div>

                    <div class="technology-bottom opacity-50"><a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "ipd" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-06.png"><br>IPD</a></div>
                    <div class="technology-bottom"><a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "wafer_level_mems" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-07.png"><br>Wafer-Level MEMS</a></div>
                    <div class="technology-bottom"><a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "mems_sensor_solutions" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-08.png"><br>MEMS & Sensor Solutions</a></div>
                    <div class="technology-bottom"><a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "embedded_die_technology" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-09.png"><br>Embedded Die Technology</a></div>
                </div>
            </div>
            <!-- technolog carousel -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="container technology-carousel">
                        <div class='row'>
                            <div class='col-xs-12'>
                                <div class="carousel slide media-carousel" id="media">
                                    <!-- Indicators -->
                                    <ol class="carousel-indicators">
                                        <li data-target="#media" data-slide-to="0" class="active"></li>
                                        <li data-target="#media" data-slide-to="1"></li>
                                        <li data-target="#media" data-slide-to="2"></li>
                                    </ol>
                                    <div class="carousel-inner">
                                        <div class="item  active">
                                            <div class="row">
                                                <div class="col-xs-4">
                                                    <a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "fan_out" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-01.png"><br>Fan Out</a>
                                                </div>
                                                <div class="col-xs-4">
                                                    <a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "sip_module_solutions" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-02.png"><br>SiP & Module Solutions</a>
                                                </div>
                                                <div class="col-xs-4">
                                                    <a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "flip_chip" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-03.png"><br>Flip Chip</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="row">
                                                <div class="col-xs-4">
                                                    <a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "tsv_interposer_integration" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-04.png"><br>TSV-interposer integration</a>
                                                </div>
                                                <div class="col-xs-4">
                                                    <a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "ipd" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-06.png"><br>IPD</a>
                                                </div>
                                                <div class="col-xs-4">
                                                    <a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "wafer_level_mems" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-07.png"><br>Wafer-Level MEMS</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="row">
                                                <div class="col-xs-4">
                                                    <a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "mems_sensor_solutions" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-08.png"><br>MEMS & Sensor Solutions</a>
                                                </div>
                                                <div class="col-xs-4">
                                                    <a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "embedded_die_technology" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-09.png"><br>Embedded Die Technology</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <a data-slide="prev" href="#media" class="left carousel-control">‹</a>
                                    <a data-slide="next" href="#media" class="right carousel-control">›</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end technology carousel -->
        </div>
    </section>

    <script>
	$(document).ready(function() {
		$('#media').carousel({
			pause: true,
			interval: false,
		});
		$("#media").swiperight(function() { /* enables the swiping on phone */
			$(this).carousel('prev');
		});
		$("#media").swipeleft(function() { /* enables the swiping on phone */
			$(this).carousel('next');
		});
		$(".technology-features-content").hide();

		$('.technology-application').click(function() {
			$(this).closest(".row").find(".technology-features").removeClass("technology-tab-active").addClass("technology-tab-inactive");
			$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
			$(this).closest(".row").find(".technology-features-content").hide();
			$(this).closest(".row").find(".technology-application-content").fadeIn(1000);
		});
		$('.technology-features').click(function() {
			$(this).closest(".row").find(".technology-application").removeClass("technology-tab-active").addClass("technology-tab-inactive");
			$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
			$(this).closest(".row").find(".technology-application-content").hide();
			$(this).closest(".row").find(".technology-features-content").fadeIn(1000);
		});
	});
    </script>