﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/ch/_Layout_seo.cshtml";
}
<!-- page Banner -->
<section id="page-vision" class="page-banner-s banner-technology">
    <h1 class="page-title title-large">Technology</h1>
</section>

<!--breadcrumbs-->
<div class="content-lg row">
    <div class="col-xs-12">
        <ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
        </ol>
    </div>
</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->

<!-- Technology list -->
<section class="inside-article">
    <div class="content-lg row">
        <article class="col-xs-12">
            <div class="col-sm-6 col-md-3"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/mems_sensor_solutions1.jpg"></div>
            <div class="col-sm-6 col-md-3"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/mems_sensor_solutions2.jpg"></div>
            <div class="col-sm-6 col-md-3"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/mems_sensor_solutions3.jpg"></div>
            <div class="col-sm-6 col-md-3"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/mems_sensor_solutions4.jpg"></div>
            <div class="clearfix"></div>
            <h3 class="title">MEMS & Sensor Solutions</h3>
            <p>
                In MEMS and sensor, the package protects the sensitive internal structures from environmental influences such as temperature, moisture, high pressure and oxidizing species. The long-term stability andreliability of the functional elements depend on the encapsulation process. Metal bonding which is one of bonding technology using molten metal entails heat, applied locally or generally and a molten metal phase, either provided from the parent material of the parts being joining, as in welding, or from a molten metal phase.
            </p>
        </article>
    </div>
</section>

<section class="inside-article">
    <div class="content-lg row">
        <br><br>
        <div class="col-xs-6">
            <div class="technology-application technology-tab-active">Application</div>
        </div>
        <div class="col-xs-6">
            <div class="technology-features technology-tab-inactive">Features</div>
        </div>
        <div class="clearfix"></div>
        <div class="technology-application-content">
            <div class="col-xs-12 col-md-12">
                <p>For certain MEMS device, such as RF MEMS, vacuum or atmosphere is a necessity and influence sensor performance directly. Therefore, metal-to-metal (M2M) technology is focused recently to provide not only high quality hermetic but also fine pitch interconnection.</p>
            </div>
        </div>
        <div class="technology-features-content">
            <div class="col-xs-12 col-md-12">
                <p>Internal structure protecting device packages and direct electrical interconnect structures without additional steps.</p>
            </div>
        </div>
    </div>
</section>
<br>
<section class="inside-article">
    <div class="content-lg row">
        <div class="col-xs-12 col-md-12">
            <h4 class="sub-title">Capabilities</h4>
            <p>
                Thin film solder bonding is achievable through metal to metal bonding by test vehicle validation.
            </p>
        </div>
    </div>
</section>

<br><br>
<section class="inside-article">
    <div class="content-lg row">
        <div class="col-xs-12">
            <div class="color-318AC6">More Technology</div>
            <div class="technology-bottom-flex">
                <div class="technology-bottom"><a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "fan_out" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-01.png"><br>Fan Out</a></div>
                <div class="technology-bottom"><a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "sip_module_solutions" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-02.png"><br>SiP & Module Solutions</a></div>
                <div class="technology-bottom"><a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "flip_chip" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-03.png"><br>Flip Chip</a></div>
                <div class="technology-bottom"><a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "tsv_interposer_integration" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-04.png"><br>TSV-interposer integration</a></div>
                <div class="technology-bottom"><a class="" href="#"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-05.png"><br>Die Stacking</a></div>
                <div class="technology-bottom"><a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "ipd" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-06.png"><br>IPD</a></div>
                <div class="technology-bottom"><a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "wafer_level_mems" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-07.png"><br>Wafer-Level MEMS</a></div>
                <div class="technology-bottom opacity-50"><a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "mems_sensor_solutions" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-08.png"><br>MEMS & Sensor Solutions</a></div>
                <div class="technology-bottom"><a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "embedded_die_technology" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-09.png"><br>Embedded Die Technology</a></div>
            </div>
        </div>
        <!-- technolog carousel -->
        <div class="row">
            <div class="col-xs-12">
                <div class="container technology-carousel">
                    <div class='row'>
                        <div class='col-xs-12'>
                            <div class="carousel slide media-carousel" id="media">
                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#media" data-slide-to="0" class="active"></li>
                                    <li data-target="#media" data-slide-to="1"></li>
                                    <li data-target="#media" data-slide-to="2"></li>
                                </ol>
                                <div class="carousel-inner">
                                    <div class="item  active">
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "fan_out" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-01.png"><br>Fan Out</a>
                                            </div>
                                            <div class="col-xs-4">
                                                <a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "sip_module_solutions" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-02.png"><br>SiP & Module Solutions</a>
                                            </div>
                                            <div class="col-xs-4">
                                                <a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "flip_chip" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-03.png"><br>Flip Chip</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "tsv_interposer_integration" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-04.png"><br>TSV-interposer integration</a>
                                            </div>
                                            <div class="col-xs-4">
                                                <a class="" href="#"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-05.png"><br>Die Stacking</a>
                                            </div>
                                            <div class="col-xs-4">
                                                <a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "ipd" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-06.png"><br>IPD</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "wafer_level_mems" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-07.png"><br>Wafer-Level MEMS</a>
                                            </div>
                                            <div class="col-xs-4">
                                                <a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "mems_sensor_solutions" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-08.png"><br>MEMS & Sensor Solutions</a>
                                            </div>
                                            <div class="col-xs-4">
                                                <a class="" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "embedded_die_technology" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-09.png"><br>Embedded Die Technology</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a data-slide="prev" href="#media" class="left carousel-control">‹</a>
                                <a data-slide="next" href="#media" class="right carousel-control">›</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end technology carousel -->
    </div>
</section>
<script>
	$(document).ready(function() {
		$('#media').carousel({
			pause: true,
			interval: false,
		});
		$("#media").swiperight(function() { /* enables the swiping on phone */
			$(this).carousel('prev');
		});
		$("#media").swipeleft(function() { /* enables the swiping on phone */
			$(this).carousel('next');
		});
		$(".technology-features-content").hide();

		$('.technology-application').click(function() {
			$(this).closest(".row").find(".technology-features").removeClass("technology-tab-active").addClass("technology-tab-inactive");
			$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
			$(this).closest(".row").find(".technology-features-content").hide();
			$(this).closest(".row").find(".technology-application-content").fadeIn(1000);
		});
		$('.technology-features').click(function() {
			$(this).closest(".row").find(".technology-application").removeClass("technology-tab-active").addClass("technology-tab-inactive");
			$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
			$(this).closest(".row").find(".technology-application-content").hide();
			$(this).closest(".row").find(".technology-features-content").fadeIn(1000);
		});
	});
</script>