﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/ch/_Layout_seo.cshtml";
}
<!-- page Banner -->
<section id="page-vision" class="page-banner-s banner-technology">
    <h1 class="page-title title-large">Technology</h1>
</section>

<!--breadcrumbs-->
<div class="content-lg row">
    <div class="col-xs-12">
        <ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
        </ol>
    </div>
</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->

<!-- Technology list -->
<section>
    <div class="content-lg row">
        <div class="col-md-12">

            <div class="heading_4">MEMS & Sensor Solutions</div>
            <div class="row">
                <div class="col-md-3"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/u4772.jpg" class="center-block"></div>
                <div class="col-md-3"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/u4774.jpg" class="center-block"></div>
                <div class="col-md-3"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/u4776.jpg" class="center-block"></div>
                <div class="col-md-3"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/u4778.jpg" class="center-block"></div>
            </div>
            <br>
            <p>In MEMS and sensor, the package protects the sensitive internal structures from environmental influences such as temperature, moisture, high pressure and oxidizing species. The long-term stability and reliability of the functional elements depend on the encapsulation process. Metal bonding which is one of bonding technology using molten metal entails heat, applied locally or generally and a molten metal phase, either provided from the parent material of the parts being joining, as in welding, or from a molten metal phase.</p>

            <br>
            <div class="heading_5">Application</div>
            <p>For certain MEMS device, such as RF MEMS, vacuum or atmosphere is a necessity and influence sensor performance directly. Therefore, metal-to-metal (M2M) technology is focused recently to provide not only high quality hermetic but also fine pitch interconnection.</p>

            <br>
            <div class="heading_5">Capabilities</div>
            <p>Thin film solder bonding is achievable through metal to metal bonding by test vehicle validation.</p>

            <br>
            <div class="heading_5">Features</div>
            <p>Internal structure protecting device packages and direct electrical interconnect structures without additional steps.</p>

            <br><br>

        </div>
    </div>

    <!-- bottom pictures -->
    <div class="content-lg row bottom-pic-section">
        <div class="col-md-12">
            <div class="heading_6 padding-left-20">More Technology<br><br></div>
            <div class="bottom-pic-box">
                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/u3119.png">
                <div class="bottom-pic-text">Fan Out</div>
            </div>
            <div class="bottom-pic-box">
                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/u3119.png">
                <div class="bottom-pic-text">SiP & Module Solutions</div>
            </div>
            <div class="bottom-pic-box">
                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/u3119.png">
                <div class="bottom-pic-text">Flip Chip</div>
            </div>
            <div class="bottom-pic-box">
                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/u3119.png">
                <div class="bottom-pic-text">TSV-interposer integration</div>
            </div>
            <div class="bottom-pic-box">
                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/u3119.png">
                <div class="bottom-pic-text">Die Stacking</div>
            </div>
            <div class="bottom-pic-box">
                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/u3119.png">
                <div class="bottom-pic-text">IPD</div>
            </div>
            <div class="bottom-pic-box">
                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/u3119.png">
                <div class="bottom-pic-text">Wafer-Level MEMS</div>
            </div>
            <div class="bottom-pic-box">
                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/u3119.png">
                <div class="bottom-pic-text"><span class="grey-text">MEMS & Sensor Solutions</span></div>
            </div>
            <div class="bottom-pic-box">
                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/u3119.png">
                <div class="bottom-pic-text">Embedded Die Technology</div>
            </div>
        </div>
    </div>
</section>