﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/ch/_Layout_seo.cshtml";
}
	<!--麵包屑-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->
	
	<!-- About Content A -->
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">網站使用條款</h3>
				<p>感謝您流覽本網站。流覽本網站前，請先仔細閱讀以下本網站使用條款和條件(以下稱「本使用條款」)。如果您不接受本使用條款中之任一條款或條件，請立即停止使用或流覽本網站。本使用條款亦會不定時修訂。</p>				
			</article>
		</div>
	</section>
	<!-- About Content B -->
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">本使用條款</h3>
				<h4 class="sub-title">一、接受本使用條款</h4>
				<p>本網站係由日月光於中華民國台灣的辦公室來營運與管理，同時任何本網站之使用應受本使用條款約束。日月光不保證本網站的資料適合或適用於中華民國台灣以外的地區。您明確表示同意本使用條款，並同意遵守所有當地及國際法律和規範。本公司保留得依本公司的判斷隨時變更、修訂、新增或刪除部分本使用條款的權利，且不另行通知。請定期查看本使用條款的變更。若您在本使用條款變更發布之後仍繼續使用本網站，即表示您已接受本使用條款之變更內容與最新條款和條件。
				</p>
				<h4 class="sub-title">二、無非法或違禁使用</h4>
				<p>本網站旨在提供合法、個人、資訊和非商業的用途，或經日月光具體同意下用於日月光客戶和員工及一般大眾的商業用途。不得將本網站用於任何非法目的或本使用條款所禁止的用途。您不得以可能會損壞、停用、過載或損害任何日月光公司伺服器或任何日月光公司伺服器網路的方式使用本網站，或是防礙任何人使用本網站。您不得透過駭客、盜取密碼或任何其他方式，試圖未經授權存取本網站或其他帳戶、連接到任何日月光公司伺服器或本網站任何服務的電腦系統或網路。您不得透過任何方式來獲得或試圖獲得非本網站預定提供的任何資料或資訊。
				</p>
				<h4 class="sub-title">三、內容使用限制</h4>
				<p>本網站上所有資訊、通訊、軟體、原稿、照片、插圖、設計、圖示、文字、影片、圖像、音樂、聲音、影像以及其他資料和服務(以下統稱為「內容」)均屬日月光版權所有，並受當地及國際法律與規範保護，包括但不限於著作權、商標、專利、商業機密和其他智慧財產權的相關法律、條約規定和其他相關法律及法規(「權利」)。本網站全部或部分任何內容皆不得複製、再製、修改、展示、傳輸、架構、再版、下載、上傳、張貼、或以任何方式散佈，除非特別經由日月光書面許可。任何未經授權使用內容或不符合本使用條款的任何用途，皆視為侵害日月光的權利。日月光有權採取任何法律救濟，並可以根據自身判斷採取任何適當的行動，包括但不限於隨時終止您存取本網站且不負擔任合法律及賠償責任。</p>
				<h4 class="sub-title"><a href="@Url.Action("ASE_Trademarks", "Technology", new { lang = ViewBag.language.lang })">四、商標及服務標章</a></h4>
				<p>本條款連結之日月光商標清單所明列之商標及經本網站所使用、顯示、或提供的特定名稱、服務標章、標誌、口號、產品設計(以下統稱為「日月光標章」)皆屬日月光和/或其附屬公司之資產，或為日月光和/或其附屬公司所有並在台灣或其他國家進行註冊或已經註冊完成之合法智慧財產權。本網站之任何內容或進入本網站應不得解釋為日月光和/或其附屬公司准予日月光標章之智慧財產權的使用許可或任何授權。
				</p>
				<p>
				未經取得日月光和/或其附屬公司之事前書面許可，不得為任何目的以任何方式使用、重製、複製或傳佈日月光標章之全部或一部，更具體來說，將日月光標章併入任何非日月光之其他個人或公司所使用或所有之產品名稱、服務名稱、公司名稱、商標、服務標章或標誌，或採用與日月光標章具混淆的相似性之名稱、商標、服務標章或標誌是被嚴格禁止的，且應視為重大違反本網站條款。
				</p>
				<p>
				任何顯示在本網站但非屬於日月光標章或非日月光和/或其附屬公司所有之其他名稱、商標、服務標章或標誌為其各別所有者之財產，前述財產之使用應取得該所有者之許可或授權。
				</p>
				<h4 class="sub-title">五、使用者提交</h4>
				<p>您傳送或張貼至本網站的任何資料、資訊或其他通訊內容(以下簡稱「通訊內容」)將視為非機密性和非專屬性。日月光不保證任何通訊內容的安全性。您應為通訊內容全權負責，日月光對通訊內容不承擔任何義務。日月光可能會複製、修改、展示、揭露、散佈、合併和以其他方式使用通訊內容，以及所有想法、概念、數據、影像、聲音、文字和其中包含的任何內容，並用於所有商業或非商業用途，且不需提供您或其他方任何報酬或負擔任何法律責任。您被嚴格禁止在本網站上張貼或傳輸任何非法、威脅、中傷、誹謗、猥褻、色情或任何可能構成或鼓勵犯罪的資料，違反日月光或任何一方權利，或者引起任何司法責任或違反任何法律的行為。
				</p>
				<h4 class="sub-title">六、連結其他網站和網路資源</h4>
				<p>本網站可能提供第三方服務和資源的連結供您使用。日月光不對這些外部服務和資源的可用性或內容進行控管。日月光不負責、背書、推薦或支持任何所連結的服務或資源。若該項服務或資源或其任何連結內容有任何問題，應直接針對該項服務或資源。日月光保留隨時終止任何外部服務或資源連結的權利。如果您決定存取本網站連結的任何外部服務或與資源，您需自行承擔所有風險。
				</p>
				<h4 class="sub-title">七、一般性賠償</h4>
				<p>對於您違反或涉嫌違反本使用條款所造成的任何及所有責任、索賠、要求、損失、罰款和相關成本和費用，包括合理的律師訴訟費，您特此同意賠償、保護並使日月光免受損害。
				</p>
				<h4 class="sub-title">八、免責聲明</h4>
				<p>本網站內容係以「現狀」提供，並未有任何種類的明示或默示保證。在根據相關法律最大允許範圍內，日月光不作任何保證(不論明示或默示)，包括但不限於適銷性的默示保證、不侵犯智慧財產權以及特定用途的適用性。日月光不保證內容包含的功能可持續提供或不具錯誤，亦不保證修正故障問題，或保證本網站或本網站伺服器上不具病毒或其他有害元件。關於使用本網站或使用本網站內容結果的正確性、準確性、可靠性、有效性或其他事項，日月光不為其保證或作出任何陳述。任何取自日月光的建議、許可或資訊，無論是口頭或書面形式，皆不應視為修改本免責聲明或構成任何保證。本網站使用結果若造成個人電腦系統的損害或數據損失，則應由您承擔所有責任。
				</p>
				<h4 class="sub-title">九、責任限制</h4>
				<p>在任何情況下，日月光不承擔任何形式的任何收益損失、數據損失、商業損失、其他任何損失或損害，包括但不限於因使用或無法使用本網站內容而造成的直接、間接、特殊偶然或衍生性損害，即使日月光或日月光授權代表曾告知該等損失或損害的可能性。
				</p>
				<h4 class="sub-title">十、終止使用</h4>
				<p>您同意日月光可能會，不須提供原因即終止或限制您使用或存取本網站或本網站任何部份，包括但不限於日月光認為您未能遵守本使用條款的任何規定，且可由日月光單方決定。日月光可能會進一步採取其認定的適當行動，以避免或排除重複違規事項。根據本使用條款第九條之規定，對於因日月光行使本條款和條件的全部或任何部分權利造成任何客戶、使用者或任何第三方任何性質的損害，日月光概不負責承擔。
				</p>
				<h4 class="sub-title">十一、司法管轄權</h4>
				<p>本使用條款應受中華民國法律約束與解釋，不適用法律衝突原則。您特此同意本使用條款以及使用本網站所引起的任何訴訟或相關訴訟，應受中華民國台灣台北法院專屬管轄。
				</p>
				<h4 class="sub-title">十二、一般事宜</h4>
				<p>本使用條款構成您與日月光公司之間的完整協議，並規範您使用本網站的方式及條件，同時亦取代您和日月光公司之間的任何先前協議。您同意日月光可隨時透過更新本公告的變更、修改、新增或刪除本使用條款的部分內容。在本網站中所述之相關事宜與本使用條款發生衝突或不一致時，皆以本使用條款為準。如果本條款和條件的任何規定發生不合法、無效或因任何原因無法執行，該等規定應視為與本條款和條件具有可分割性，並不得影響其餘規定的有效性和可執行性。日月光未能執行本條款和條件的任何規定時，不得視為放棄該規定以及放棄執行該規定的權利。 <br>

本網站的資料僅供資訊參考，並非用於出售或招攬購買日月光發行的任何證券。</p>
			</article>
		</div>
	</section>
	