﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/tw/_Layout.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-fit">
		<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/products/banner_products_csp.jpg">
		<h1 class="page-title title-large">產品</h1>
	</section>

	<!--麵包屑-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "/" })"><i class="icon-home"></i><span itemprop="name">首頁</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" })"><span itemprop="name">產品</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Assembly", "Products", new { lang = ViewBag.language.lang })"><span itemprop="name">封裝</span></a>
					<meta itemprop="position" content="3" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "flip_chip_solution" })"><span itemprop="name">Flip Chip Solution</span></a>
					<meta itemprop="position" content="4" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "fcbga" })"><span itemprop="name">Flip Chip BGA</span></a>
					<meta itemprop="position" content="5" />
				</li>
			</ol>
		</div>
	</div>

	<div class="breadcrumbs-pc pull-left" id="breadcrumbs-pc">
		<ul class="breadcrumbs-view" id="breadcrumbs-view">
			<li class="dropdown-item">
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })">技術</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" })" class="active">產品</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Solution" })">解決方案</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "ir" })">投資人關係</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })">企業社會責任</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "About" })">了解日月光</a></li>
				</ul>
			</li>
			<li class="dropdown-item">
				<a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" })">產品</a>
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.Action("Assembly", "Products", new { lang = ViewBag.language.lang })" class="active">封裝</a></li>
					<li><a href="@Url.Action("Test", "Products", new { lang = ViewBag.language.lang })">測試</a></li>
					<li><a href="@Url.Action("Material", "Products", new { lang = ViewBag.language.lang })">材料</a></li>
					<li><a href="@Url.Action("Tray", "Products", new { lang = ViewBag.language.lang })">IC承載盤</a></li>
				</ul>
			</li>
			<li class="dropdown-item">
				<a href="@Url.Action("Assembly", "Products", new { lang = ViewBag.language.lang })">封裝</a>
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "bumping_solution" })">Wafer  Bumping Solution</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "wafer_level_package_solution" })">Wafer Level Package Solution</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "flip_chip_solution" })" class="active">Flip Chip Solution</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "sip_module_solutions" })">SiP & Module Solutions</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "wire_bond_bga_solution" })">Wire Bond BGA Solution</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "leadframe_solution" })">Leadframe Solution</a></li>
				</ul>
			</li>
			<li class="dropdown-item">
				<a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "flip_chip_solution" })">Flip Chip Solution</a>
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "fcbga" })" class="active">Flip Chip BGA</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "fccsp" })">Flip Chip CSP</a></li>
				</ul>
			</li>
		</ul>
	</div>
	
	<!-- Products Content -->
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">Flip Chip BGA</h3>
			</article>
		</div>
	</section>
	<section class="inside-article">
		<div class="content-lg row csr">
			<article class="col-xs-12">
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
					<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
								<span id="fcbga" class="black-text-in-box accordion-center-text">Flip Chip BGA</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>
						<div id="collapseOne" class="panel-collapse collapse in no-border" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<div class="col-md-12">
									<div class="col-xs-7 col-sm-5 col-md-4 col-lg-4 nopadding"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/products/flip_chip_bga1.jpg"></div>
									<div class="clearfix"></div>
									<p>
										<strong>Flip Chip Organic BGA</strong><br>
										Laminate or build-up organic substrate offers better electrical performance than wire-bond type BGA package especially in high frequency applications.
									</p>
									<p>
										<strong>Flip Chip Ceramic BGA</strong><br>
										Alumina ceramic substrate offers better moisture resistance, electrical insulating property and higher thermal conductivity than organic substrate. FCBGA is used primarily for high-reliability commercial applications (e.g. CPU).
									</p>
								</div>
								<div class="col-xs-6 col-sm-6 col-md-6">
									<div class="products-application technology-tab-active margin-bottom-0">Application</div>
								</div>
								<div class="col-xs-6 col-sm-6 col-md-6">
									<div class="products-features technology-tab-inactive margin-bottom-0">Features</div>
								</div>
								<div class="clearfix"></div>
								<div class="col-xs-12 col-md-12 products-application-content">
									<div class="col-sm-6 nopadding">
										<strong>Consumer</strong>
										<ul class="nopadding">
											<li>Graphics/chipsets for PC</li>
											<li>Server</li>
											<li>Game console and High-end application</li>
											<li>Microprocessor for PC & Server</li>	
											<li>Memory</li>
										</ul>
									</div>
									<div class="col-sm-6 nopadding">
										<strong>Telecommunications</strong>
										<ul class="nopadding">
											<li>Network products (LAN)</li>
											<li>Switching</li>
											<li>Transmission</li>
											<li>Cellular Base Stations</li>
										</ul>
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="col-xs-12 col-md-12 products-features-content">
									<p>
										<strong>Substrate</strong><br>
										4 layer laminate, 4~12 layer & 800/400 um Build-up substrates, and ceramic substrates are available for different application<br>
										<strong>Passive Component</strong><br>
										Passive component attaching is available. It can be placed on the top or bottom side of the package<br>
										<strong>Ceramic BGA</strong><br>
										High Pb solder ball with eutectic solder paste improves board level reliability performance of ceramic packages<br>
									</p>
								</div>

							</div>
						</div>
	  				</div>

	  				<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
								<span class="black-text-in-box accordion-center-text">HP Flip Chip BGA</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>

						<div id="collapseTwo" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingTwo">
							<div class="panel-body">
								<div class="col-md-12">
									<div class="col-xs-7 col-sm-5 col-md-4 col-lg-4 nopadding"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/products/flip_chip_bga1.jpg"></div>
									<div class="clearfix"></div>
									<p>
										HFC BGA (High Performance FCBGA), a thermally enhanced FCBGA, is the composite package of FCBGA with heatspreader made of Cu, Al, or AlSiC. The heatspreader is used to extend the heat conduction area by connecting itself to the rear side of the silicon chip.<br><br>

										This method desensitizes the performance deviation out of the chip size, lowers the thermal resistance of junction-to-case (θJC) and enables the external heat sink or fan to work more effectively. HFCBGA can produce 6~8 watts of power dissipation under natural convection.
									</p>
								</div>

								<div class="col-xs-6 col-sm-6 col-md-6">
									<div class="products1-application technology-tab-active margin-bottom-0">Application</div>
								</div>
								<div class="col-xs-6 col-sm-6 col-md-6">
									<div class="products1-features technology-tab-inactive margin-bottom-0">Features</div>
								</div>
								<div class="clearfix"></div>
								<div class="col-xs-12 col-md-12 products1-application-content">
									<div class="col-sm-6 nopadding">
										<strong>Consumer</strong>
										<ul class="nopadding">
											<li>Graphics/chipsets for PC</li>
											<li>Server and High-end application</li>
											<li>Microprocessor for PC & Server</li>
										</ul>
									</div>
									<div class="col-sm-6 nopadding">
										<strong>Telecommunications</strong>
										<ul class="nopadding">
											<li>Network products (eg. LAN)</li>
											<li>Switching</li>
											<li>Transmission</li>
											<li>Cellular Base Stations</li>
										</ul>
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="col-xs-12 col-md-12 products1-features-content">
									<p>
										<strong>Substrate</strong><br>
										4 layer laminate, 4~12 layer build-up, ceramic, and PTFE substrates are available<br>
										<strong>Thermal Lids</strong><br>
										Heat spreaders made of Cu with Ni plating, Aluminum, Ceramic, AlSiC<br>
										<strong>Passive Component</strong><br>
										Passive component attaching. It can be placed on the top or bottom side of the package<br>
										<strong>Ceramic BGA</strong><br>
										High Pb solder ball with eutectic solder paste improves board level reliability performance of ceramic packages<br>
									</p>
								</div>

							</div>
						</div>
	  				</div>

	  				<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
								<span class="black-text-in-box accordion-center-text">FOCoS</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>

						<div id="collapseThree" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingThree">
							<div class="panel-body">
								<div class="col-md-12">
									<div class="col-xs-7 col-sm-5 col-md-4 col-lg-4 nopadding"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/products/FOCoS.png"></div>
									<div class="clearfix"></div>
									<p>
										FOCoS stands for Fan Out Chips on Substrate. The biggest advantage of FOCoS packages is to achieve Homogeneous and Heterogeneous chip integration. It is able to integrate two chips from different wafers.
									</p>
								</div>
								<div class="col-xs-6 col-sm-6 col-md-6">
									<div class="products2-application technology-tab-active margin-bottom-0">Application</div>
								</div>
								<div class="col-xs-6 col-sm-6 col-md-6">
									<div class="products2-features technology-tab-inactive margin-bottom-0">Features</div>
								</div>
								<div class="clearfix"></div>
								<div class="col-xs-12 col-md-12 products2-application-content">
									<ul class="nopadding">
										<li>Mobile Phone: Baseband, RF, Codec, PMICs</li>
										<li>Tablet</li>
										<li>Networking, Server</li>
										<li>Car Radar</li>
									</ul>
								</div>
								<div class="col-xs-12 col-md-12 products2-features-content">
									<ul class="nopadding">
										<li>Small Form Factor, Low Power Consumption, High Performance, Cost Reduction</li>
										<li>3 Layers RDLs Approached</li>
										<li>2 Active Die (D2D)</li>
										<li>Improved Electrical and Thermal Performance</li>
										<li>Excellent Warpage Control</li>
										<li>Substrate-less</li>
									</ul>
								</div>

							</div>
						</div>
	  				</div>
	  			</div>
			</article>
		</div>
	</section>
	<section class="inside-article">
		<div class="content-lg row">
			<div class="content-wrapper col-md-12 tech-cont-link">
				<a class="phone" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "plants_offices_ase" })"><span class="glyphicon glyphicon-earphone"></span>  聯絡我們</a><br><br>
			</div>
			<div class="clearfix"></div>
		</div>
	</section>
	<section class="csr-bg">
		<div class="content-lg row">
			<div class="col-xs-12 csr">

				<div class="col-md-6 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "fcbga" })">
							<span class="blue-text-in-box">Flip Chip BGA</span>
							<div class="circle_button-wrapper pull-right">
								<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>
			
				<div class="col-md-6 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "fccsp" })">
							<span class="blue-text-in-box">Flip Chip CSP</span>
							<div class="circle_button-wrapper">
								<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>
				<div class="clearfix"></div>

			</div>
		</div>
	</section>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

	<script>
		$(document).ready(function() {

			$(".products-features-content").hide();
			$(".products1-features-content").hide();
			$(".products2-features-content").hide();

			$('.products-application').click(function() {
				$(this).closest(".row").find(".products-features").removeClass("technology-tab-active").addClass("technology-tab-inactive");
				$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
				$(this).closest(".row").find(".products-features-content").hide();
				$(this).closest(".row").find(".products-application-content").fadeIn(1000);
			});
			$('.products-features').click(function() {
				$(this).closest(".row").find(".products-application").removeClass("technology-tab-active").addClass("technology-tab-inactive");
				$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
				$(this).closest(".row").find(".products-application-content").hide();
				$(this).closest(".row").find(".products-features-content").fadeIn(1000);
			});

			$('.products1-application').click(function() {
				$(this).closest(".row").find(".products1-features").removeClass("technology-tab-active").addClass("technology-tab-inactive");
				$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
				$(this).closest(".row").find(".products1-features-content").hide();
				$(this).closest(".row").find(".products1-application-content").fadeIn(1000);
			});
			$('.products1-features').click(function() {
				$(this).closest(".row").find(".products1-application").removeClass("technology-tab-active").addClass("technology-tab-inactive");
				$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
				$(this).closest(".row").find(".products1-application-content").hide();
				$(this).closest(".row").find(".products1-features-content").fadeIn(1000);
			});

			$('.products2-application').click(function() {
				$(this).closest(".row").find(".products2-features").removeClass("technology-tab-active").addClass("technology-tab-inactive");
				$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
				$(this).closest(".row").find(".products2-features-content").hide();
				$(this).closest(".row").find(".products2-application-content").fadeIn(1000);
			});
			$('.products2-features').click(function() {
				$(this).closest(".row").find(".products2-application").removeClass("technology-tab-active").addClass("technology-tab-inactive");
				$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
				$(this).closest(".row").find(".products2-application-content").hide();
				$(this).closest(".row").find(".products2-features-content").fadeIn(1000);
			});
		});
	</script>