﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/tw/_Layout.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-fit">
		<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/products/banner_products_csp.jpg">
		<h1 class="page-title title-large">產品</h1>
	</section>

	<!--麵包屑-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "/" })"><i class="icon-home"></i><span itemprop="name">首頁</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" })"><span itemprop="name">產品</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Assembly", "Products", new { lang = ViewBag.language.lang })"><span itemprop="name">封裝</span></a>
					<meta itemprop="position" content="3" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "wafer_level_package_solution" })"><span itemprop="name">Wafer Level Package Solution</span></a>
					<meta itemprop="position" content="4" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "wl_mems" })"><span itemprop="name">WL MEMS</span></a>
					<meta itemprop="position" content="5" />
				</li>
			</ol>
		</div>
	</div>

	<div class="breadcrumbs-pc pull-left" id="breadcrumbs-pc">
		<ul class="breadcrumbs-view" id="breadcrumbs-view">
			<li class="dropdown-item">
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })">技術</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" })" class="active">產品</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Solution" })">解決方案</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "ir" })">投資人關係</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })">企業社會責任</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "About" })">了解日月光</a></li>
				</ul>
			</li>
			<li class="dropdown-item">
				<a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" })">產品</a>
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.Action("Assembly", "Products", new { lang = ViewBag.language.lang })" class="active">封裝</a></li>
					<li><a href="@Url.Action("Test", "Products", new { lang = ViewBag.language.lang })">測試</a></li>
					<li><a href="@Url.Action("Material", "Products", new { lang = ViewBag.language.lang })">材料</a></li>
					<li><a href="@Url.Action("Tray", "Products", new { lang = ViewBag.language.lang })">IC承載盤</a></li>
				</ul>
			</li>
			<li class="dropdown-item">
				<a href="@Url.Action("Assembly", "Products", new { lang = ViewBag.language.lang })">封裝</a>
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "bumping_solution" })">Wafer  Bumping Solution</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "wafer_level_package_solution" })" class="active">Wafer Level Package Solution</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "flip_chip_solution" })">Flip Chip Solution</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "sip_module_solutions" })">SiP & Module Solutions</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "wire_bond_bga_solution" })">Wire Bond BGA Solution</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "leadframe_solution" })">Leadframe Solution</a></li>
				</ul>
			</li>
			<li class="dropdown-item">
				<a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "wafer_level_package_solution" })">Wafer Level Package Solution</a>
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "acsp_wlcsp" })">aCSP/WLCSP</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "awlp" })">aWLP</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "wl_ipd" })">WL IPD</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "wl_mems" })" class="active">WL MEMS</a></li>
				</ul>
			</li>
		</ul>
	</div>
	
	<!-- Products Content -->
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<div class="col-xs-7 col-sm-4 col-md-3 col-lg-3 nopadding"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/wafer_level_mems1.jpg"></div>
				<div class="clearfix"></div>
				<h3 class="title">WL MEMS</h3>
				<p>
					Micro-Electro-Mechanical Systems (MEMS) consists of mechanical elements, sensors, actuators, and electrical and electronics devices on a common silicon substrate. The sensors in MEMS gather information from the environment through measuring mechanical, thermal, biological, chemical, optical, and magnetic phenomena. Wafer level packaging and TSV technology are keys enabling to achieve innovative functions, higher performance as well as cost effective integration.
				</p>
			</article>
		</div>
	</section>
	<section class="inside-article">
		<div class="content-lg row">
			<br>
			<div class="col-xs-6">
				<div class="products-application technology-tab-active">Application</div>
			</div>
			<div class="col-xs-6">
				<div class="products-features technology-tab-inactive">Features</div>
			</div>
			<div class="clearfix"></div>
			<div class="products-application-content">
				<div class="col-xs-12 col-md-12">
					<p>MEMS and sensor's markets are mainly driven by the strong demands from mobile, automotive, and medical applications.</p>
				</div>
				<div class="col-xs-12 col-md-12">
					<div class="col-xs-6 col-sm-5cols">
						<strong>Inertial</strong>
						<ul class="nopadding">
							<li>Gyroscope</li>
							<li>Accelerometer</li>
							<li>Magnetometer/Hall Effect</li>
							<li>Combo & IMU</li>
						</ul>
					</div>
					<div class="col-xs-6 col-sm-5cols">
						<strong>Light & Radiations</strong>
						<ul class="nopadding">
							<li>X-ray Sensor</li>
							<li>µ-bolometer</li>
							<li>IR Sensor</li>
							<li>IR Thermopile</li>
							<li>UV Sensor</li>
							<li>PALS/ALS</li>
						</ul>
					</div>
					<div class="col-xs-6 col-sm-5cols">
						<strong>RF</strong>
						<ul class="nopadding">
							<li>Oscillators</li>
							<li>Switches</li>
							<li>SAW</li>
							<li>FBAR/BAW</li>
						</ul>
					</div>
					<div class="col-xs-6 col-sm-5cols">
						<strong>Environmental</strong>
						<ul class="nopadding">
							<li>TPMS Module</li>
							<li>Gas Sensor</li>
							<li>Pressure Sensor</li>
							<li>Temperature Sensor</li>
							<li>Humidity Sensor</li>
							<li>Si µphone</li>
						</ul>
					</div>
					<div class="col-xs-6 col-sm-5cols">
						<strong>Others</strong>
						<ul class="nopadding">
							<li>Optical/µ-mirror</li>
							<li>LED</li>
							<li>IJ Head</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="products-features-content">
				<div class="col-xs-12 col-md-6">
					<ul class="nopadding">
						<li>Small size, mass volume</li>
						<li>Low power consumption</li>
						<li>Low cost</li>
						<li>Easy to integrate into systems or modify</li>
					</ul>
				</div>
			</div>

			<div class="col-xs-12 col-md-12">
				<h4 class="sub-title">Reliability</h4>
				<p>
					The WL MEMS package with the TSV Last structure was validated with corresponding reliability and electrical characteristics testing.
				</p>
				<div class="col-xs-12 col-md-7 nopadding">
					<div class="table-responsive inside-table">
						<table class="table table-striped table-hover csr">
							<thead>
								<tr>
									<th class="col-sm-2 left-border">Test Item</th>
									<th class="col-sm-3 left-border">Conditions</th>
									<th class="col-sm-1 left-border">Sample Size</th>
									<th class="col-sm-1 left-border">Result</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="left-border">Precondition</td>
									<td class="left-border">JEDEC 22-A113<br>
															MSL1, 85°C/85% RH,168 hours</td>
									<td class="left-border">77 ea</td>
									<td class="left-border">Pass</td>
								</tr>
								<tr>
									<td class="left-border">Temperature Cycle</td>
									<td class="left-border">JEDEC 22-A104<br>
															-55℃ ~ 125℃, 1000 cycles</td>
									<td class="left-border">25 ea</td>
									<td class="left-border">Pass</td>
								</tr>
								<tr>
									<td class="left-border">HAST Test
															(No Bias)</td>
									<td class="left-border">JEDEC 22-A118<br>
															130℃/85% RH, 33.3 PSIA,96 hours
															</td>
									<td class="left-border">25 ea</td>
									<td class="left-border">Pass</td>
								</tr>
								<tr>
									<td class="left-border">High Temperature <br>
															Storage Life</td>
									<td class="left-border">JEDEC 22-A103<br>
															150°C, 1000 hours</td>
									<td class="left-border">25 ea</td>
									<td class="left-border">Pass</td>
								</tr>
							</tbody>
						</table>
					</div>
					<br>
				</div>
			</div>
		</div>
	</section>
	<br>
	<section class="inside-article">
		<div class="content-lg row">
			<div class="content-wrapper col-md-12 tech-cont-link">
				<a class="phone" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "plants_offices_ase" })"><span class="glyphicon glyphicon-earphone"></span>  聯絡我們</a><br><br>
			</div>
			<div class="clearfix"></div>
		</div>
	</section>
	<section class="csr-bg">
		<div class="content-lg row">
			<div class="col-xs-12 csr">

				<div class="col-md-6 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "acsp_wlcsp" })">
							<span class="blue-text-in-box">aCSP/WLCSP</span>
							<div class="circle_button-wrapper pull-right">
								<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>
			
				<div class="col-md-6 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "awlp" })">
							<span class="blue-text-in-box">aWLP</span>
							<div class="circle_button-wrapper">
								<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>
			
				<div class="col-md-6 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "wl_ipd" })">
							<span class="blue-text-in-box">WL IPD</span>
							<div class="circle_button-wrapper">
								<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-6 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "wl_mems" })">
							<span class="blue-text-in-box">WL MEMS</span>
							<div class="circle_button-wrapper">
								<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>

			</div>
		</div>
	</section>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

	<script>
		$(document).ready(function() { 
			$(".products-features-content").hide();

			$('.products-application').click(function() {
				$(this).closest(".row").find(".products-features").removeClass("technology-tab-active").addClass("technology-tab-inactive");
				$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
				$(this).closest(".row").find(".products-features-content").hide();
				$(this).closest(".row").find(".products-application-content").fadeIn(1000);
			});
			$('.products-features').click(function() {
				$(this).closest(".row").find(".products-application").removeClass("technology-tab-active").addClass("technology-tab-inactive");
				$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
				$(this).closest(".row").find(".products-application-content").hide();
				$(this).closest(".row").find(".products-features-content").fadeIn(1000);
			});
		});
	</script>