﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
    ViewBag.Title = "化學和綠色實驗室";
    ViewBag.enURL = "/en/lab/package_design/lab_chemical_and_green";
    ViewBag.zhURL = "/ch/lab/package_design/lab_chemical_and_green";
    ViewBag.webSiteDesc = "日月光建立針對 IC 封裝和電子製造的綠色產品和清潔工藝集成實驗室，專注於使用先進的綠色技術開發生態高效的解決方案，以實現可持續的未來。";
    ViewBag.webSiteOgImage = "https://ase.aseglobal.com/pic/public/frontend/images/lab/pic_lab_chemical-1.jpg";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-lab">
		<h1 class="page-title title-large">化學和綠色實驗室</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item"><span itemprop="name">特色服務</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch/lab"><span itemprop="name">實驗室服務</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch/lab/package_design/lab_chemical_and_green"><span itemprop="name">化學和綠色實驗室</span></a>
					<meta itemprop="position" content="3" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->
	<!-- Letter from the Chairman -->
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">化學和綠色實驗室</h3>
				<p>To build an integrated laboratory for green product and clean process in connection to IC packaging and electronics manufacturing, we focus on using advanced green technology to develop eco-efficient solutions for a sustainable future.</p>
                <p>Our laboratory is dedicated to the following:</p>
                <ul class="nopadding">
                    <li>Evaluation of non-toxic or low toxic product raw materials and process chemicals.</li>
                    <li>Development of environmental testing technology including monitoring technology, mechanism and standard to ensure compliance with global environmental regulations</li>
                    <li>Improving utilization rate of chemicals or raw materials</li>
                    <li>Development of recovery, reduction and reproduction technologies for waste, wastewater and chemicals</li>
                </ul>
				<div class="col-sm-10 col-sm-offset-1 nopadding"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/lab/lab_chemical_m.png" alt="" class="img-responsive"></div>
                <div class="clearfix"></div>
                <p>&nbsp;</p>
                <div class="col-xs-6 col-md-3 md-plr20" style="margin-bottom: 10px;"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/lab/pic_lab_chemical-1.jpg"></div>
                <div class="col-xs-6 col-md-3 md-plr20" style="margin-bottom: 10px;"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/lab/pic_lab_chemical-2.jpg"></div>
                <div class="col-xs-6 col-md-3 md-plr20" style="margin-bottom: 10px;"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/lab/pic_lab_chemical-3.jpg"></div>
                <div class="col-xs-6 col-md-3 md-plr20" style="margin-bottom: 10px;"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/lab/pic_lab_chemical-4.jpg"></div>
                <div class="clearfix"></div>
                <div class="col-xs-12 text-center"><h5>Inductively Coupled Plasma Optical Emission Spectrometer (ICP-OES)</h5></div>
			</article>

		</div>
	</section>

    <section class="inside-article">
        <div class="content-lg row csr">
            <div class=" col-md-12 tech-cont-link"><br>
            <a class="phone" href="~/ch/about/plants_offices"><span class="glyphicon glyphicon-earphone"></span>  聯絡我們</a>
            </div>
        </div>
        <p>&nbsp;</p>
    </section>

    <section class="csr-bg">
        <div class="content-lg row">
            <div class="col-xs-12 nopadding">
                <div class="lab-2022 col-sm-3">
                    <div class="lab-btn-2022">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/lab/bt_electrical-lab.jpg" alt="電性實驗室">
						<a class="btn-2022" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Lab", action = "Package_Design", param1 = "lab_electrical" })">
                            電性實驗室
                        </a>
                    </div>
                </div>

                <div class="lab-2022 col-sm-3">
                    <div class="lab-btn-2022">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/lab/bt_material-lab.jpg" alt="材料實驗室">
						<a class="btn-2022" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Lab", action = "Package_Design", param1 = "lab_material" })">
                            材料實驗室
                        </a>
                    </div>
                </div>

                <div class="lab-2022 col-sm-3">
                    <div class="lab-btn-2022">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/lab/bt_stress-thermal-lab.jpg" alt="應力/熱傳實驗室">
						<a class="btn-2022" href="@Url.RouteUrl(new { controller = "Lab", action = "Package_Design", lang = ViewBag.language.lang, param1 = "lab_stress_and_thermal" })">
                            應力/熱傳實驗室
                        </a>
                    </div>
                </div>

                <div class="lab-2022 col-sm-3">
                    <div class="lab-btn-2022">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/lab/bt_chemical-green-technology-lab.jpg" alt="化學和綠色實驗室">
						<a class="btn-2022" href="@Url.RouteUrl(new { controller = "Lab", action = "Package_Design", lang = ViewBag.language.lang, param1 = "lab_chemical_and_green" })">
                            化學和綠色實驗室
                        </a>
                    </div>
                </div>

                <div class="lab-2022 col-sm-1 hide-in-small" style="width:4%;">
                    <p>&nbsp;</p>
                </div>
                
                <div class="lab-2022 col-sm-3 col-sm-offset-1">
                    <div class="lab-btn-2022">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/lab/bt_failure-analysis-lab.jpg" alt="失效分析實驗室">
						<a class="btn-2022" href="@Url.RouteUrl(new { controller = "Lab", action = "Package_Design", lang = ViewBag.language.lang, param1 = "lab_failure_analysis" })">
                            失效分析實驗室
                        </a>
                    </div>
                </div>
                
                <div class="lab-2022 col-sm-3">
                    <div class="lab-btn-2022">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/lab/bt_optical-lab.jpg" alt="光學實驗室">
						<a class="btn-2022" href="@Url.RouteUrl(new { controller = "Lab", action = "Package_Design", lang = ViewBag.language.lang, param1 = "lab_optical" })">
                            光學實驗室
                        </a>
                    </div>
                </div>

                <div class="lab-2022 col-sm-3">
                    <div class="lab-btn-2022">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/lab/bt_acoustic-lab.jpg" alt="聲學實驗室">
						<a class="btn-2022" href="~/ch/lab/acoustic-lab">
                            聲學實驗室
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <style>
        .lab-2022 {
            overflow: hidden;
            padding: 10px;
        }
        .lab-btn-2022 {
            position: relative;
            overflow: hidden;
        }

        .lab-btn-2022 img {
            width: 100%;
            -webkit-filter: brightness(70%);
            filter: brightness(70%);
            transition: all 500ms;
            -webkit-transition: all 500ms;
        }

        .lab-btn-2022 .btn-2022 {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            color: white;
            font-size: 22px;
            line-height: 22px;
            text-align: center;
            padding: 0;
            margin: 0;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .lab-btn-2022 a:hover {
            text-decoration: none;
        }

        .lab-2022:hover img {
            transform: scale(1.2);
            overflow: hidden;
        }
    </style>
