﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
    ViewBag.Title = "失效分析實驗室";
    ViewBag.enURL = "/en/lab/package_design/lab_failure_analysis";
    ViewBag.zhURL = "/ch/lab/package_design/lab_failure_analysis";
    ViewBag.webSiteDesc = "我們為客戶提供可靠的故障分析以及其他分析工程服務。";
    ViewBag.webSiteOgImage = "https://ase.aseglobal.com/pic/public/frontend/images/lab/pic_failure-analysis-lab-1.jpg";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-lab">
		<h1 class="page-title title-large">失效分析實驗室</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item"><span itemprop="name">特色服務</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch/lab"><span itemprop="name">實驗室服務</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch/lab/package_design/lab_failure_analysis"><span itemprop="name">失效分析實驗室</span></a>
					<meta itemprop="position" content="3" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->
	<!-- Letter from the Chairman -->
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">失效分析實驗室</h3>
				<h3>Measurement</h3>
				<ul class="pro-test">
					<li>Encapsulant: Incomplete fill/Wire sweep/Warpage/Delamination/Void</li>
					<li>Substrates: Warpage/Contamination/Crack</li>
					<li>Flux: Flux residue/Outgassing/Corrosion</li>
					<li>Leadframe: Contamination</li>
					<li>TSV: Delamination/Crack/Void/Non-protrusion</li>
					<li>Interposer: Delamination/RDL bridge/Contamination</li>
					<li>Micro-bump: Crack/Void/Cold joint/Bridge</li>
				</ul>
			</article>
            <div class="col-xs-12">
                <div class="col-xs-12 col-sm-4 picture-padding-2">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/lab/pic_failure-analysis-lab-1.jpg" alt="">
                </div>
                <div class="col-xs-12 col-sm-4 picture-padding-2">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/lab/pic_failure-analysis-lab-2.jpg" alt="">
                </div>
                <div class="col-xs-12 col-sm-4 picture-padding-2">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/lab/pic_failure-analysis-lab-3.jpg" alt="">
                </div>
            </div>
            <p>&nbsp;</p>
		</div>
	</section>

	<section class="inside-article">
		<div class="content-lg row">
			<div class="col-xs-12">
				<h4 class="sub-title">Reliability</h4>
                <h4>Non-Destructive Analysis</h4>
			</div>
			<div class="col-xs-12 col-sm-6">
				<ul class="pro-test">
					<li>Non-destructive analysis is the first step of failure analysis.</li>
					<li>There are the technologies to detect the defects without damaging samples and which including two parts. </li>
					<li>One is electrical test and the other is failure observation and localization. Electrical testing machines are function test, O/S test, curve tracer and so on.</li>
					<li>The failure observation toolings are HR-OM, IR OM, X-ray, SAT, etc</li>
					<li>The failure localization toolings are TDR, OBIRCH, thermal lock-in, etc.</li>
				</ul>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="table-responsive inside-table">
                    <table class="table table-striped table-hover text-center csr wire failure">
                        <tbody>
                            <tr>
                                <td>Electrical Test</td>
                                <td class="left-border">TDR、Probing station、Curve tracer、DCT</td>
                            </tr>
                            <tr>
                                <td class="left-border">Inspection Analysis</td>
                                <td class="left-border">OM、X-ray、SAT、Hi-resolution OM、IR-OM</td>
                            </tr>
                            <tr>
                                <td class="left-border">Surface Analysis</td>
                                <td class="left-border">EDX</td>
                            </tr>
                            <tr>
                                <td class="left-border">Structure Analysis</td>
                                <td class="left-border">W-SEM、FE-SEM、Table SEM</td>
                            </tr>
                            <tr>
                                <td class="left-border">Failure Localization</td>
                                <td class="left-border">Lock-in thermography、OBIRCH</td>
                            </tr>
                        </tbody>
                    </table>
                </div><br>
            </div>
            <div class="col-xs-12">
                <h4>Destructive Analysis</h4>
            </div>
            <div class="col-xs-12 col-sm-6">
				<ul class="pro-test">
					<li>After non-destructive analysis, the defect location can be determined.</li>
					<li>The destructive samples preparations before observation are also call destructive analysis.</li>
					<li>The most common uses are cross-section, ion milling, PECS, FIB, and etc.</li>
					<li>Furthermore, SEM, EDX, XPS and ESCA could observe the failure or the defects.</li>
				</ul>
				<br>
			</div>
            <div class="col-xs-12 col-sm-6">
                <div class="table-responsive inside-table">
                    <table class="table table-striped table-hover text-center csr wire failure">
                        <tbody>
                            <tr>
                                <td>Structure Analysis</td>
                                <td class="left-border">X-section、FIB、TEM、P-FIB</td>
                            </tr>
                            <tr>
                                <td class="left-border">Surface Etch/Treatment</td>
                                <td class="left-border">Ion miller、PECS、FIB</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
			<!-- Package Design Service link -->
		
		</div>
	</section>

    <section class="inside-article">
        <div class="content-lg row csr">
            <div class=" col-md-12 tech-cont-link"><br>
            <a class="phone" href="~/ch/about/plants_offices"><span class="glyphicon glyphicon-earphone"></span>  聯絡我們</a>
            </div>
        </div>
        <p>&nbsp;</p>
    </section>

    <section class="csr-bg">
        <div class="content-lg row">
            <div class="col-xs-12 nopadding">
                <div class="lab-2022 col-sm-3">
                    <div class="lab-btn-2022">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/lab/bt_electrical-lab.jpg" alt="電性實驗室">
						<a class="btn-2022" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Lab", action = "Package_Design", param1 = "lab_electrical" })">
                            電性實驗室
                        </a>
                    </div>
                </div>

                <div class="lab-2022 col-sm-3">
                    <div class="lab-btn-2022">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/lab/bt_material-lab.jpg" alt="材料實驗室">
						<a class="btn-2022" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Lab", action = "Package_Design", param1 = "lab_material" })">
                            材料實驗室
                        </a>
                    </div>
                </div>

                <div class="lab-2022 col-sm-3">
                    <div class="lab-btn-2022">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/lab/bt_stress-thermal-lab.jpg" alt="應力/熱傳實驗室">
						<a class="btn-2022" href="@Url.RouteUrl(new { controller = "Lab", action = "Package_Design", lang = ViewBag.language.lang, param1 = "lab_stress_and_thermal" })">
                            應力/熱傳實驗室
                        </a>
                    </div>
                </div>

                <div class="lab-2022 col-sm-3">
                    <div class="lab-btn-2022">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/lab/bt_chemical-green-technology-lab.jpg" alt="化學和綠色實驗室">
						<a class="btn-2022" href="@Url.RouteUrl(new { controller = "Lab", action = "Package_Design", lang = ViewBag.language.lang, param1 = "lab_chemical_and_green" })">
                            化學和綠色實驗室
                        </a>
                    </div>
                </div>

                <div class="lab-2022 col-sm-1 hide-in-small" style="width:4%;">
                    <p>&nbsp;</p>
                </div>
                
                <div class="lab-2022 col-sm-3 col-sm-offset-1">
                    <div class="lab-btn-2022">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/lab/bt_failure-analysis-lab.jpg" alt="失效分析實驗室">
						<a class="btn-2022" href="@Url.RouteUrl(new { controller = "Lab", action = "Package_Design", lang = ViewBag.language.lang, param1 = "lab_failure_analysis" })">
                            失效分析實驗室
                        </a>
                    </div>
                </div>
                
                <div class="lab-2022 col-sm-3">
                    <div class="lab-btn-2022">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/lab/bt_optical-lab.jpg" alt="光學實驗室">
						<a class="btn-2022" href="@Url.RouteUrl(new { controller = "Lab", action = "Package_Design", lang = ViewBag.language.lang, param1 = "lab_optical" })">
                            光學實驗室
                        </a>
                    </div>
                </div>

                <div class="lab-2022 col-sm-3">
                    <div class="lab-btn-2022">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/lab/bt_acoustic-lab.jpg" alt="聲學實驗室">
						<a class="btn-2022" href="~/ch/lab/acoustic-lab">
                            聲學實驗室
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <style>
        .lab-2022 {
            overflow: hidden;
            padding: 10px;
        }
        .lab-btn-2022 {
            position: relative;
            overflow: hidden;
        }

        .lab-btn-2022 img {
            width: 100%;
            -webkit-filter: brightness(70%);
            filter: brightness(70%);
            transition: all 500ms;
            -webkit-transition: all 500ms;
        }

        .lab-btn-2022 .btn-2022 {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            color: white;
            font-size: 22px;
            line-height: 22px;
            text-align: center;
            padding: 0;
            margin: 0;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .lab-btn-2022 a:hover {
            text-decoration: none;
        }

        .lab-2022:hover img {
            transform: scale(1.2);
            overflow: hidden;
        }
    </style>
