﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/ch/_Layout_seo.cshtml";
    ViewBag.Title = "光學實驗室";
    ViewBag.enURL = "/en/lab/package_design/lab_optical";
    ViewBag.zhURL = "/ch/lab/package_design/lab_optical";
    ViewBag.webSiteDesc = "日月光光學實驗室提供晶圓級光學測試解決方案以及光學薄膜特性分析與模擬。";
    ViewBag.webSiteOgImage = "https://ase.aseglobal.com/pic/public/frontend/images/lab/pic_optical-lab-1.jpg";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-lab">
		<h1 class="page-title title-large">光學實驗室</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item"><span itemprop="name">特色服務</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch/lab"><span itemprop="name">實驗室服務</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch/lab/package_design/lab_optical"><span itemprop="name">光學實驗室</span></a>
					<meta itemprop="position" content="3" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->
	<!-- Letter from the Chairman -->
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">光學實驗室</h3>
                <p>ASE Optical Laboratory provides wafer-level (WL) optical test solution and optical thin-film characterization & simulation.</p>
                <h4 class="sub-title">Introduction</h4>
            </article>
            <div class="col-xs-12 col-sm-4">
                <p>Driven by emerging Telecom/Datacom demands and applications for high-performance computing (HPC) and artificial intelligence (AI), silicon photonics (SiPh) is a promising technology that provides greater bandwidth, low latency transmission over longer distance, low power consumption and high-level package integration. In order to meet future SiPh demands and applications, ASE developed comprehensive optical testing capabilities to support SiPh products development.</p>
            </div>
            <div class="col-xs-12 col-sm-8">
                <div class="col-xs-12 col-sm-6 picture-padding-2 nopadding">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/lab/pic_optical-lab-1.jpg">
                </div>
                <div class="col-xs-12 col-sm-6 picture-padding-2 nopadding hide-in-small">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/lab/pic_optical-lab-2.jpg">
                </div>
            </div>
            <div class="clearfix"></div>
            <p>&nbsp;</p>
            <div class="col-xs-12">
                <h4 class="sub-title">Wafer Level Optical Test</h4>
            </div>
            <div class="col-xs-12">
                <h4>Capability</h4>
                <ul class="nopadding">
                    <li>Optical and electrical testing capabilities (Optical to Optical (O/O), Optical to Electrical(O/E)) for 200/300mm photonics wafers.</li>
                    <li>Optical insertion loss (IL)/polarization dependent loss (PDL) spectrum sweep. Photodetector (PD) responsivity measurement<a href="javascript:" data-toggle="popover" data-trigger="hover" data-content="A measure of optical-to-electrical conversion efficiency of a photodetector." data-placement="bottom" data-original-title="" title="">*</a>.</li>
                    <li>Grating coupler test for various incident angles (eg. 8/10/12 deg.) with Single Mode Fiber (SMF) or multi-channel Fiber Array Unit (FAU) as optical probe.</li>
                    <li>C-, L-, or O-band tunable laser (1240~1380nm/1490~1640nm) equipped with polarization synthesizer and multi-channel optical power meter.</li>
                </ul>
                <div class="col-xs-12 col-sm-4 picture-padding-2 nopadding">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/lab/pic_optical-lab-21.jpg">
                    <h6 class="text-center">O/O testing with SMF</h6>
                </div>
                <div class="col-xs-12 col-sm-4 picture-padding-2 nopadding">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/lab/pic_optical-lab-22.jpg">
                    <h6 class="text-center">O/E testing with SMF and DC probe</h6>
                </div>
                <div class="col-xs-12 col-sm-4 picture-padding-2 nopadding">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/lab/pic_optical-lab-23.jpg">
                    <h6 class="text-center">O/E testing with FAU and DC probe cards</h6>
                </div>
            </div>
            <div class="clearfix"></div>
            <p>&nbsp;</p>
            <div class="col-xs-12">
                <h4 class="sub-title">Optical thin-film Characterization, Modeling and Simulation</h4>
            </div>
            <div class="col-xs-12 col-sm-4">
                <h4>Capability</h4>
                <ul class="nopadding">
                    <li>Transmittance/reflectivity</li>
                    <li>Wavelength spectrum</li>
                    <li>Dimension measurement</li>
                    <li>Optical structure optimization</li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-8">
                <div class="col-xs-12 col-sm-6 picture-padding-2 hide-in-small">
                    &nbsp;
                </div>
                <div class="col-xs-12 col-sm-6 picture-padding-2 nopadding">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/lab/pic_optical-lab-3.jpg">
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
	</section>

    <section class="inside-article">
        <div class="content-lg row csr">
            <div class=" col-md-12 tech-cont-link"><br>
            <a class="phone" href="~/ch/about/plants_offices"><span class="glyphicon glyphicon-earphone"></span>  聯絡我們</a>
            </div>
        </div>
        <p>&nbsp;</p>
    </section>

    <section class="csr-bg">
        <div class="content-lg row">
            <div class="col-xs-12 nopadding">
                <div class="lab-2022 col-sm-3">
                    <div class="lab-btn-2022">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/lab/bt_electrical-lab.jpg" alt="電性實驗室">
						<a class="btn-2022" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Lab", action = "Package_Design", param1 = "lab_electrical" })">
                            電性實驗室
                        </a>
                    </div>
                </div>

                <div class="lab-2022 col-sm-3">
                    <div class="lab-btn-2022">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/lab/bt_material-lab.jpg" alt="材料實驗室">
						<a class="btn-2022" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Lab", action = "Package_Design", param1 = "lab_material" })">
                            材料實驗室
                        </a>
                    </div>
                </div>

                <div class="lab-2022 col-sm-3">
                    <div class="lab-btn-2022">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/lab/bt_stress-thermal-lab.jpg" alt="應力/熱傳實驗室">
						<a class="btn-2022" href="@Url.RouteUrl(new { controller = "Lab", action = "Package_Design", lang = ViewBag.language.lang, param1 = "lab_stress_and_thermal" })">
                            應力/熱傳實驗室
                        </a>
                    </div>
                </div>

                <div class="lab-2022 col-sm-3">
                    <div class="lab-btn-2022">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/lab/bt_chemical-green-technology-lab.jpg" alt="化學和綠色實驗室">
						<a class="btn-2022" href="@Url.RouteUrl(new { controller = "Lab", action = "Package_Design", lang = ViewBag.language.lang, param1 = "lab_chemical_and_green" })">
                            化學和綠色實驗室
                        </a>
                    </div>
                </div>

                <div class="lab-2022 col-sm-1 hide-in-small" style="width:4%;">
                    <p>&nbsp;</p>
                </div>
                
                <div class="lab-2022 col-sm-3 col-sm-offset-1">
                    <div class="lab-btn-2022">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/lab/bt_failure-analysis-lab.jpg" alt="失效分析實驗室">
						<a class="btn-2022" href="@Url.RouteUrl(new { controller = "Lab", action = "Package_Design", lang = ViewBag.language.lang, param1 = "lab_failure_analysis" })">
                            失效分析實驗室
                        </a>
                    </div>
                </div>
                
                <div class="lab-2022 col-sm-3">
                    <div class="lab-btn-2022">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/lab/bt_optical-lab.jpg" alt="光學實驗室">
						<a class="btn-2022" href="@Url.RouteUrl(new { controller = "Lab", action = "Package_Design", lang = ViewBag.language.lang, param1 = "lab_optical" })">
                            光學實驗室
                        </a>
                    </div>
                </div>

                <div class="lab-2022 col-sm-3">
                    <div class="lab-btn-2022">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/lab/bt_acoustic-lab.jpg" alt="聲學實驗室">
						<a class="btn-2022" href="~/ch/lab/acoustic-lab">
                            聲學實驗室
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <style>
        .lab-2022 {
            overflow: hidden;
            padding: 10px;
        }
        .lab-btn-2022 {
            position: relative;
            overflow: hidden;
        }

        .lab-btn-2022 img {
            width: 100%;
            -webkit-filter: brightness(70%);
            filter: brightness(70%);
            transition: all 500ms;
            -webkit-transition: all 500ms;
        }

        .lab-btn-2022 .btn-2022 {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            color: white;
            font-size: 22px;
            line-height: 22px;
            text-align: center;
            padding: 0;
            margin: 0;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .lab-btn-2022 a:hover {
            text-decoration: none;
        }

        .lab-2022:hover img {
            transform: scale(1.2);
            overflow: hidden;
        }
    </style>
