﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/tw/_Layout.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-technology">
		<h1 class="page-title title-large">技術</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Index", "Home", new { lang = ViewBag.language.lang })"><i class="icon-home"></i><span itemprop="name">首頁</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })"><span itemprop="name">技術</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="#"><span itemprop="name">領先技術</span></a>
					<meta itemprop="position" content="3" />
				</li>
			</ol>
		</div>
	</div>

	<div class="breadcrumbs-pc pull-left" id="breadcrumbs-pc">
		<!-- PC版選單breadcrumbs內容 -->
		<ul class="breadcrumbs-view" id="breadcrumbs-view">
			<li class="dropdown-item">
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })">技術</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" })">產品</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Solution" })">解決方案</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "ir" })" >投資人關係</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })">企業社會責任</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "About" })">了解日月光</a></li>
				</ul>
			</li>
			<li class="dropdown-item">
				<a href="javascript:;">技術</a>
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.Action("Technology_Innovation", "Technology", new { lang = ViewBag.language.lang })">領先技術</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "Intellectual_Property" })">智財</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "ASE_Trademarks" })">日月光商標</a></li>
				</ul>
			</li>
		</ul>
	</div>

	<!-- Technology list -->
	<section id="iconlink" class="iconlink linebg-3">
		<div class="content-lg">
			<ul class="row ">
				<li class="col-xs-6 col-md-3 text-center">
					<a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_25d_ic" })">
						<div class="imgbox">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-10.png" alt="25D IC" data-hover="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-10_hover.png">
						</div>
						<div class="textbox">
							<h4>2.5D IC</h4>
						</div>
						<div class="circle_button darkgray tech_ino"><i class="icon-arrow-right"></i></div>
					</a>
				</li>
				<li class="col-xs-6 col-md-3 text-center">
					<a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_fan_out" })">
						<div class="imgbox">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-01.png" alt="Fan Out" data-hover="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-01_hover.png">
						</div>
						<div class="textbox">
							<h4>Fan Out</h4>
						</div>
						<div class="circle_button darkgray tech_ino"><i class="icon-arrow-right"></i></div>
					</a>
				</li>
				<li class="col-xs-6 col-md-3 text-center">
					<a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_sip_id" })">
						<div class="imgbox">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-11.png" alt="SiP-id" data-hover="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-11_hover.png">
						</div>
						<div class="textbox">
							<h4>SiP-id™</h4>
						</div>
						<div class="circle_button darkgray tech_ino"><i class="icon-arrow-right"></i></div>
					</a>
				</li>
				<li class="col-xs-6 col-md-3 text-center">
					<a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_sip_module_solutions" })">
						<div class="imgbox">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-02.png" alt="SiP &amp; Module" data-hover="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-02_hover.png">
						</div>
						<div class="textbox">
							<h4>SiP &amp; Module</h4>
						</div>
						<div class="circle_button darkgray tech_ino"><i class="icon-arrow-right"></i></div>
					</a>
				</li>
				<li class="col-xs-6 col-md-3 text-center">
					<a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_flip_chip" })">
						<div class="imgbox">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-03.png" alt="Flip Chip" data-hover="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-03_hover.png">
						</div>
						<div class="textbox">
							<h4>Flip Chip</h4>
						</div>
						<div class="circle_button darkgray tech_ino"><i class="icon-arrow-right"></i></div>
					</a>
				</li>

				<li class="col-xs-6 col-md-3 text-center no-margin">
					<a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_tsv_interposer_integration" })">
						<div class="imgbox">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-04.png" alt="TSV-Interposer Integration" data-hover="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-04_hover.png">
						</div>
						<div class="textbox">
							<h4>TSV-Interposer Integration</h4>
						</div>
						<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
					</a>
				</li>
				<li class="col-xs-6 col-md-3 text-center ">
					<a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_ipd" })">
						<div class="imgbox">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-06.png" alt="IPD" data-hover="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-06_hover.png">
						</div>
						<div class="textbox">
							<h4>WL IPD</h4>
						</div>
						<div class="circle_button darkgray tech_ino"><i class="icon-arrow-right"></i></div>
					</a>
				</li>

				<li class="col-xs-6 col-md-3 text-center">
					<a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_wafer_level_mems" })">
						<div class="imgbox">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-07.png" alt="Wafer-Level MEMS" data-hover="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-07_hover.png">
						</div>
						<div class="textbox">
							<h4>Wafer-Level MEMS</h4>
						</div>
						<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
					</a>
				</li>
				<li class="col-xs-6 col-md-3 text-center no-margin">
					<a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_mems_sensor_solutions" })">
						<div class="imgbox">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-08.png" alt="MEMS &amp; Sensors Solutions" data-hover="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-08_hover.png">
						</div>
						<div class="textbox">
							<h4>MEMS &amp; Sensors</h4>
						</div>
						<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
					</a>
				</li>
				<li class="col-xs-6 col-md-3 text-center no-margin">
					<a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_embedded_die_technology" })">
						<div class="imgbox">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-09.png" alt="Embedded Die Technology" data-hover="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-09_hover.png">
						</div>
						<div class="textbox">
							<h4>Embedded Die Technology</h4>
						</div>
						<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
					</a>
				</li>
                <li class="col-xs-6 col-md-3 text-center no-margin">
					<a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_core_test" })">
						<div class="imgbox">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-05.png" alt="Die Stacking" data-hover="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-05_hover.png">
						</div>
						<div class="textbox">
							<h4>Semiconductor Test</h4>
						</div>
						<div class="circle_button darkgray tech_ino"><i class="icon-arrow-right"></i></div>
					</a>
				</li>
			</ul>
		</div>
	</section>
<script>
	$(document).ready(function() { 

		$('#media').carousel({
			pause: true,
			interval: false,
		});
		$("#media").swiperight(function() { /* enables the swiping on phone */
			$(this).carousel('prev');
		});
		$("#media").swipeleft(function() { /* enables the swiping on phone */
			$(this).carousel('next');
		});
		$(".technology-features-content").hide();

		$('.technology-application').click(function() {
			$(this).closest(".row").find(".technology-features").removeClass("technology-tab-active").addClass("technology-tab-inactive");
			$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
			$(this).closest(".row").find(".technology-features-content").hide();
			$(this).closest(".row").find(".technology-application-content").fadeIn(1000);
		});
		$('.technology-features').click(function() {
			$(this).closest(".row").find(".technology-application").removeClass("technology-tab-active").addClass("technology-tab-inactive");
			$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
			$(this).closest(".row").find(".technology-application-content").hide();
			$(this).closest(".row").find(".technology-features-content").fadeIn(1000);
		});
	});
</script>