﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/tw/_Layout.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-technology">
		<h1 class="page-title title-large">技術</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Index", "Home", new { lang = ViewBag.language.lang })"><i class="icon-home"></i><span itemprop="name">首頁</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })"><span itemprop="name">技術</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="#"><span itemprop="name">智財</span></a>
					<meta itemprop="position" content="3" />
				</li>
			</ol>
		</div>
	</div>

	<div class="breadcrumbs-pc pull-left" id="breadcrumbs-pc">
		<!-- PC版選單breadcrumbs內容 -->
		<ul class="breadcrumbs-view" id="breadcrumbs-view">
			<li class="dropdown-item">
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })">技術</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" })">產品</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Solution" })">解決方案</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "ir" })" >投資人關係</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })">企業社會責任</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "About" })">了解日月光</a></li>
				</ul>
			</li>
			<li class="dropdown-item">
				<a href="javascript:;">技術</a>
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.Action("Technology_Innovation", "Technology", new { lang = ViewBag.language.lang })">領先技術</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "Intellectual_Property" })">智財</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "ASE_Trademarks" })">日月光商標</a></li>
				</ul>
			</li>
		</ul>
	</div>

	<!-- Technology list -->
	<section class="inside-article">
		<div class="content-lg row">
			<div class="col-xs-12">
				<h3 class="title">智財</h3>
				<h4 class="sub-title">智財管理</h4>
			</div>
			<div class="col-md-6 col-lg-7">
				<p>日月光身為領先封測代工業者，靠著不斷研發新技術，並輔以優異的智慧財產權管裡，維持企業創新的領先地位。日月光的智財管理與整個企業營運規劃與執行息息相關，從「商機」、「研發」、「智財產出」到「智財管理與運用」形成一貫的價值鏈關係，分為下述五大步驟：
				<br><br>
				<ol class="nopadding">
					<li>因應市場前瞻需求投入相當的研發活動，確保重點商機與研究開發連結</li>
					<li>配合妥善的內部智財申請系統，確保優質研發成果成為優質發明/創作揭露</li>
					<li>經由智財部門的專業人員輔以高品質律師事務所的協助，將發明揭露變為優質智財申請</li>
				    <li>經由高品質的智財申請過程，確保申請案皆能成為有價值之智慧財產，以形成完善的智財庫</li>
				     <li>運用高價值的智財以促進商業上的成功，取得客戶訂單，在生產製造上取得收益，並且拓展更多新的商機，形成永續的正循環</li>
				 </ol>
				</p>
			</div>
			<div class="col-md-6 col-lg-5" style="margin-bottom:15px;">
				<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/intellectual_property1.png">
			</div>
			<div class="clearfix"></div>
			<div class="col-md-6 col-lg-5" style="margin-bottom:15px;">
				<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/intellectual_property2.png">
			</div>
			<div class="col-md-6 col-lg-7">
				<p>此外，透過智財權保護研發成果，可形成智財權防護牆，防止他人剽竊日月光的技術，並可抵抗競爭對手用其智財權的騷擾，確保日月光的營運自由。<br>
				日月光至2016年在全球已經累積超過3000件的核准專利，其專利品質亦獲得外界的肯定，連續10年(2007-2016) 獲IEEE入選為 “The world’s top 20 semiconductor equipment manufacturing companies in the Patent Power Scorecards”，顯示日月光持續不斷的維持其專利數量與品質的均衡。<br>
為了鼓勵員工積極創新，日月光設有完善的獎勵制度，同時創造出員工持續自我成長及增進公司生產力與競爭力之雙贏局面。藉由多元化的獎勵制度，結合公司智慧財產權之策略運用，為公司創造出許多具有高度價值性之智慧財產
</p>
			</div>


			<div class="col-xs-12 col-md-12">
				<h4 class="sub-title">智財獎項殊榮</h4>
				<ul class="tray-events">
					<li>
						<span class="year">2007 - 2016</span>
						<span class="year-event">獲IEEE入選「全球專利實力評鑑(Patent Power Scorecards)」 前20大半導體設備製造公司</td>
							</span>
					</li>
					<li>
						<span class="year">2013</span>
						<span class="year-event">資策會科技法律研究所頒發「台灣上市櫃企業美國專利價值50強」 </span>
					</li>
					<li>
						<span class="year">2012</span>
						<span class="year-event">榮獲資策會/遠見雜誌舉辦之公開選拔之「智慧財產經營管理優質企業- 企業組優質獎」與「2012 最佳智慧財產報告書」</span>
					</li>
					<li>
						<span class="year">2011</span>
						<span class="year-event">經濟部智慧財產局頒發「國家發明創作獎」</span>
					</li>

					
				</ul>
				<!--<div class="table-responsive inside-table">
					<table class="table table-striped table-hover csr">
						<thead>
							<tr>
								<th class="col-sm-2 left-border">Year</th>
								<th class="col-sm-11 left-border">IP Awards</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="left-border">2007 - 2006</td>
								<td class="left-border">"The world's top 20 semiconductor equipment manufacturing companies in the Patent Power Scorecards" by the Institute of Electrical and Electronics Engineers (IEEE)</td>
							</tr>
							<tr>
								<td class="left-border">2011</td>
								<td class="left-border">"National Invention and Creation Award" by Ministry of Economic Affairs/ Intellectual Property Office</td>
							</tr>
							<tr>
								<td class="left-border">2012</td>
								<td class="left-border">"Quality Award for the Operation and Management of Intellectual Property" and "The best Intellectual Property Report of 2012" by Institute for Information Industry and "Global Views Monthly" magazine
								</td>
							</tr>
							<tr>
								<td class="left-border">2013</td>
								<td class="left-border">IPQ Top 50 by Science & Technology Law Institute</td>
							</tr>

						</tbody>
					</table>
				</div>-->
			</div>
		</div>
	</section><br>
<script>
	$(document).ready(function() { 

		$('#media').carousel({
			pause: true,
			interval: false,
		});
		$("#media").swiperight(function() { /* enables the swiping on phone */
			$(this).carousel('prev');
		});
		$("#media").swipeleft(function() { /* enables the swiping on phone */
			$(this).carousel('next');
		});
		$(".technology-features-content").hide();

		$('.technology-application').click(function() {
			$(this).closest(".row").find(".technology-features").removeClass("technology-tab-active").addClass("technology-tab-inactive");
			$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
			$(this).closest(".row").find(".technology-features-content").hide();
			$(this).closest(".row").find(".technology-application-content").fadeIn(1000);
		});
		$('.technology-features').click(function() {
			$(this).closest(".row").find(".technology-application").removeClass("technology-tab-active").addClass("technology-tab-inactive");
			$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
			$(this).closest(".row").find(".technology-application-content").hide();
			$(this).closest(".row").find(".technology-features-content").fadeIn(1000);
		});
	});
</script>