﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/tw/_Layout.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-technology">
		<h1 class="page-title title-large">技術</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Index", "Home", new { lang = ViewBag.language.lang })"><i class="icon-home"></i><span itemprop="name">首頁</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })"><span itemprop="name">技術</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="#"><span itemprop="name">日月光商標</span></a>
					<meta itemprop="position" content="3" />
				</li>
			</ol>
		</div>
	</div>

	<div class="breadcrumbs-pc pull-left" id="breadcrumbs-pc">
		<!-- PC版選單breadcrumbs內容 -->
		<ul class="breadcrumbs-view" id="breadcrumbs-view">
			<li class="dropdown-item">
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })">技術</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" })">產品</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Solution" })">解決方案</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "ir" })" >投資人關係</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })">企業社會責任</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "About" })">了解日月光</a></li>
				</ul>
			</li>
			<li class="dropdown-item">
				<a href="javascript:;">技術</a>
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.Action("Technology_Innovation", "Technology", new { lang = ViewBag.language.lang })">領先技術</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "Intellectual_Property" })">智財</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "ASE_Trademarks" })">日月光商標</a></li>
				</ul>
			</li>
		</ul>
	</div>

	<!-- Technology list -->
	<section class="inside-article">
		<div class="content-lg row">
			<div class="col-xs-12">
				<h3 class="title">日月光商標及服務標章</h3>
				<p>日月光商標清單明列之商標及經本網站所使用、顯示、或提供的特定名稱、服務標章、標誌、口號、產品設計〈以下統稱為「日月光標章」〉皆屬日月光和/或其附屬公司之資產，或為日月光和/或其附屬公司所有並在台灣或其他國家進行註冊或已經註冊完成之合法智慧財產權。本網站之任何內容或進入本網站應不得解釋為日月光和/或其附屬公司准予日月光標章之智慧財產權的使用許可或任何授權。
				</p>
				<p>
				未經取得日月光和/或其附屬公司之事前書面許可，不得為任何目的以任何方式使用、重製、複製或傳佈日月光標章之全部或一部，更具體來說，將日月光標章併入任何非日月光之其他個人或公司所使用或所有之產品名稱、服務名稱、公司名稱、商標、服務標章或標誌，或採用與日月光標章具混淆的相似性之名稱、商標、服務標章或標誌是被嚴格禁止的，且應視為重大違反本網站條款。</p>
				<p>
任何顯示在本網站但非屬於日月光標章或非日月光和/或其附屬公司所有之其他名稱、商標、服務標章或標誌為其各別所有者之財產，前述財產之使用應取得該所有者之許可或授權。</p>

				<h4 class="sub-title" >日月光商標清單</h4>
				<p>此清單為一未盡羅列之日月光商標清單，日月光得不經預告不定期更新本清單所列之商標。任何經日月光使用於或併入其服務但未明示於本清單之名稱、服務標章或標誌並不構成日月光放棄該名稱或標誌之商標或其他智慧財產權之權利。
				</p>

				<div class="col-xs-6 col-sm-5cols">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/trademark1.png">
				</div>
				<div class="col-xs-6 col-sm-5cols">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/trademark2.png">
				</div>
				<div class="col-xs-6 col-sm-5cols">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/trademark3.png">
				</div>
				<div class="col-xs-6 col-sm-5cols">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/trademark4.png">
				</div>
				<div class="col-xs-6 col-sm-5cols">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/trademark5.png">
				</div>
				<div class="col-xs-6 col-sm-5cols">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/trademark6.png">
				</div>
				<div class="col-xs-6 col-sm-5cols">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/trademark7.png">
				</div>
				<div class="col-xs-6 col-sm-5cols">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/trademark8.png">
				</div>
				<div class="col-xs-6 col-sm-5cols">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/trademark9.png">
				</div>
				<div class="col-xs-6 col-sm-5cols">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/trademark10.png">
				</div>
				<div class="col-xs-6 col-sm-5cols">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/trademark11.png">
				</div>
				<div class="col-xs-6 col-sm-5cols">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/trademark12.png">
				</div>
				<div class="col-xs-6 col-sm-5cols">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/trademark13.png">
				</div>
				<div class="col-xs-6 col-sm-5cols">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/trademark14.png">
				</div>
				<div class="col-xs-6 col-sm-5cols">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/trademark15.png">
				</div>
				<div class="col-xs-6 col-sm-5cols">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/trademark16.png">
				</div>
				<div class="col-xs-6 col-sm-5cols">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/trademark17.png">
				</div>
				<div class="col-xs-6 col-sm-5cols">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/trademark18.png">
				</div>
				<div class="col-xs-6 col-sm-5cols">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/trademark19.png">
				</div>

				<div class="col-xs-6 col-sm-5cols">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/trademark20.png">
				</div>
				<div class="col-xs-6 col-sm-5cols">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/trademark21.png">
				</div>
				<div class="col-xs-6 col-sm-5cols">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/trademark22.png">
				</div>
<div class="clearfix"></div>
			</div>
		</div>
	</section><br>
<script>
	$(document).ready(function() { 

		$('#media').carousel({
			pause: true,
			interval: false,
		});
		$("#media").swiperight(function() { /* enables the swiping on phone */
			$(this).carousel('prev');
		});
		$("#media").swipeleft(function() { /* enables the swiping on phone */
			$(this).carousel('next');
		});
		$(".technology-features-content").hide();

		$('.technology-application').click(function() {
			$(this).closest(".row").find(".technology-features").removeClass("technology-tab-active").addClass("technology-tab-inactive");
			$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
			$(this).closest(".row").find(".technology-features-content").hide();
			$(this).closest(".row").find(".technology-application-content").fadeIn(1000);
		});
		$('.technology-features').click(function() {
			$(this).closest(".row").find(".technology-application").removeClass("technology-tab-active").addClass("technology-tab-inactive");
			$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
			$(this).closest(".row").find(".technology-application-content").hide();
			$(this).closest(".row").find(".technology-features-content").fadeIn(1000);
		});
	});
</script>