﻿@{
    Layout = "~/Areas/Backend/Views/Blog/index.cshtml";
    Dictionary<string, string> error = (Dictionary<string, string>)TempData["error"];
    string str = "";
}

@using web.Models
@using web.Common
@model blog

<div class="box-header with-border">
    <h3 class="box-title"></h3>
    <div class="box-tools pull-right">
        <a class="btn btn-warning" href="@Url.Action("List")" role="button"> Back </a>
    </div>
</div>
<div class="box-body form-horizontal">
    @using (Html.BeginForm("Content", "Blog", FormMethod.Post, new { enctype = "multipart/form-data", id = "form1" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.HiddenFor(x => x.id)
        @*<div class="row">
                <div class="col-sm-12">
                    <div class="form-group ">
                        <label class="col-sm-2 control-label">語系:</label>
                        <div class="col-sm-6">
                            @{
                                str = "lang";
                            }
                            <select class="form-control" name="@(str)">
                                <option value="en" @(ViewBag.lang == "en" ? "selected" : "")>English</option>
                                <option value="ch" @(ViewBag.lang == "ch" ? "selected" : "")>繁體中文</option>
                            </select>
                            <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
                        </div>
                    </div>
                </div>
            </div>*@
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group ">
                    <label class="col-sm-2 control-label"> 分類:</label>
                    <div class="col-sm-6">
                        @Html.DropDownListFor(m => m.typeid, new SelectList(@ViewBag.Typelist, "Value", "Text"), new { @class = "form-control", id = "ddlType" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group ">
                    <label class="col-sm-2 control-label">重要Blog:</label>
                    <div class="col-sm-6">
                        @{
                            str = "toporder";
                        }
                        <select id="sltToporder" class="form-control" name="@(str)">
                            <option value="0" @(Model.toporder == 0 ? "selected" : "")>(無)</option>
                            <option value="1" @(Model.toporder == 1 ? "selected" : "")>1</option>
                            <option value="2" @(Model.toporder == 2 ? "selected" : "")>2</option>
                            <option value="3" @(Model.toporder == 3 ? "selected" : "")>3</option>
                        </select>
                        <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="form-group ">
                    <label class="col-sm-2 control-label"> 作者:</label>
                    <div class="col-sm-6">
                        @{
                            str = "authorid";
                        }
                        @Html.DropDownListFor(m => m.authorid, new SelectList(@ViewBag.Authorlist, "Value", "Text"), new { @class = "form-control", id = "ddAuthor" })
                        <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="form-group ">
                    <label class="col-sm-2 control-label"> 中文標題:</label>
                    <div class="col-sm-4">
                        @{
                            str = "ch_title";
                        }
                        @Html.TextBox(str, Model.blog_dtl.Where(u => u.lang == "ch").FirstOrDefault().title, new { @class = "form-control", maxlength = 250, @required = "required" })
                        <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group ">
                    <label class="col-sm-2 control-label"> 英文標題:</label>
                    <div class="col-sm-4">
                        @{
                            str = "en_title";
                        }
                        @Html.TextBox(str, Model.blog_dtl.Where(u => u.lang == "en").FirstOrDefault().title, new { @class = "form-control", maxlength = 250, @required = "required" })
                        <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group ">
                    <label class="col-sm-2 control-label"><i class="required"> * </i>照片:</label>
                    <div class="col-sm-4">
                        <div id="img_preview">
                            <img id="imgPic" src="@Model.picurl" style="max-width:270px; max-height:270px; margin-right:10px;margin-top:5px;" onError="this.style.display = 'none'" />
                        </div>
                        <br />
                        @{
                            str = "tmppicurl";
                        }
                        @*@Html.TextBox(str, "", new { @class = "form-control", @style = "display:none", @name = "tmppicurl",id = "tmppicurl" })*@
                        @Html.TextBox(str, Model.picurl, new { @class = "form-control", @style = "display:none", @name = "tmppicurl", id = "tmppicurl" })
                        <input type="file" accept=".jpg, .png, .jpeg, .gif, .bmp, .tif, .tiff|image/*" id="picurl" name="picurl" />
                        <div class="text-primary">照片尺寸建議使用330*240</div>
                        <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
                        @{
                            str = "tmppcpicurl";
                        }
                        @Html.TextBox(str, Model.pc_picurl, new { @class = "form-control", @style = "display:none", @name = "tmppcpicurl", id = "tmppcpicurl" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group ">
                    <label class="col-sm-2 control-label">中文內容:</label>
                    <div class="col-sm-8">
                        @{
                            str = "ch_content";
                        }
                        @Html.TextBox(str, Model.blog_dtl.Where(u => u.lang == "ch").FirstOrDefault().contents, new { @class = "form-control tinymce" })
                        <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group ">
                    <label class="col-sm-2 control-label"> 英文內容:</label>
                    <div class="col-sm-8">
                        @{
                            str = "en_content";
                        }
                        @Html.TextBox(str, Model.blog_dtl.Where(u => u.lang == "en").FirstOrDefault().contents, new { @class = "form-control tinymce" })
                        <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group ">
                    <label class="col-sm-2 control-label"><i class="required"> * </i> URL ID:</label>
                    <div class="col-sm-4">
                        @{
                            str = "urlid";
                        }
                        @Html.TextBox(str, Model.urlid, new { @class = "form-control", maxlength = 250, @required = "required", id = "txtUrlid" })
                        <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="col-sm-2 control-label"> 設定SEO:</label>
                    <div id="divSeo" class="col-sm-10 iCheck">
                        @{
                            str = "isseo";
                        }
                        <input name="isseo" id="isseo" value="1" type="checkbox" @(Model.isseo == 1 ? "checked" : "") class="form-control">
                        <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="chseo" style=@(Model.isseo==1?"":"display:none")>
            <div class="col-sm-12">
                <div class="form-group ">
                    <label class="col-sm-2 control-label"> SEO Description(中文):</label>
                    <div class="col-sm-4">
                        @{
                            str = "ch_seo";
                        }
                        @Html.TextBox(str, Model.blog_dtl.Where(u => u.lang == "ch").FirstOrDefault().seodescription, new { @class = "form-control", maxlength = 250 })
                        <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="enseo" style=@(Model.isseo==1?"":"display:none")>
            <div class="col-sm-12">
                <div class="form-group ">
                    <label class="col-sm-2 control-label"> SEO Description(英文):</label>
                    <div class="col-sm-4">
                        @{
                            str = "en_seo";
                        }
                        @Html.TextBox(str, Model.blog_dtl.Where(u => u.lang == "en").FirstOrDefault().seodescription, new { @class = "form-control", maxlength = 250 })
                        <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group ">
                    <label class="col-sm-2 control-label"><i class="required"> * </i>SEO 圖片:</label>
                    <div class="col-sm-4">
                        <div id="img_preview">
                            <img id="imgSeoPic" src="@Model.seopicurl" style="max-width:270px; max-height:270px; margin-right:10px;margin-top:5px;" onError="this.style.display = 'none'" />
                        </div>
                        <br />
                        @{
                            str = "tmpseopicurl";
                        }
                        @Html.TextBox(str, Model.seopicurl, new { @class = "form-control", @style = "display:none", @name = "tmpseopicurl", id = "tmpseopicurl" })
                        <input type="file" accept=".jpg, .png, .jpeg, .gif, .bmp, .tif, .ico, .tiff|image/*" id="seopicurl" name="seopicurl" />
                        <div class="text-primary">圖片尺寸建議使用256*256</div>
                        <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="col-sm-2 control-label"> 啟用:</label>
                    <div class="col-sm-10 iCheck">
                        @{
                            str = "launch";
                        }
                        <input name="launch" id="launch" value="1" type="checkbox" @(Model.launch == 1 ? "checked" : "") class="form-control">
                        <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group ">
                    <label class="col-sm-2 control-label" for="sort"><i class="required"> * </i> 文章發佈日期:</label>
                    <div class="col-sm-4">
                        <div class="input-group date date_picker">
                            @{
                                str = "apply_date";
                            }
                            @Html.TextBox(str, string.Format("{0:yyyy-MM-dd}", Model.apply_date), new { @class = "form-control", @required = "required" })
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>
                        <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="col-sm-2 control-label"> 允許留言:</label>
                    <div class="col-sm-10 iCheck">
                        @{
                            str = "allowmsg";
                        }
                        <input name="allowmsg" id="allowmsg" value="1" type="checkbox" @(Model.allowmsg == 1 ? "checked" : "") class="form-control">
                        <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group ">
                    <label class="col-sm-2 control-label">留言數:</label>
                    <div class="col-sm-6">
                        @Model.blog_message.Count
                        <a class="btn btn-info" style="margin-left:50px;display:@(Model.blog_message.Count>0?"":"none")" href="@(Url.Action("Messagelist", "Blog", new { id = ViewBag.node.wm_url_id ,param1 = Model.id }))" role="button"> 留言管理 </a>
                    </div>
                    <div class="col-sm-6">

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group ">
                    <label class="col-sm-2 control-label">點閱數:</label>
                    <div class="col-sm-6">
                        @Model.blog_log.Count
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <div class="col-sm-2 col-sm-offset-2">
                        @*<button class="btn btn-success btn-block" type="submit">Submit</button>*@
                        <input type="hidden" id="hdid" value="@Model.id" />
                        <span id="spSubmit" class="btn btn-success btn-block" onclick="chkToporder()">
                            @*@Html.AntiForgeryToken()*@
                            Submit
                        </span>
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-danger btn-block" type="reset">Reset</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<script>
    $("#txtUrlid").on("keydown", function (e) {
        var value = e.target.value;
        var key_codes = [0, 8]; //Backspace and Delete
        //only allow a-z, A-Z, digits 0-9 and comma, with only 1 consecutive comma ...
        if (!($.inArray(e.which, key_codes) >= 0)) {
            if (!e.key.match(/[a-zA-Z0-9_-]/) || (e.key == '_' && value[value.length - 1] == '_')) {
                e.preventDefault();
            }
        }
    })

    function chkToporder() {
        //檢查urlid
        if ($("#txtUrlid").val() == "") {
            swal({ title: "必須輸入url id", timer: 3000, type: 'error' });
            return;
        }
        var re = /[^a-zA-Z0-9_-]/;
        if (re.test($("#txtUrlid").val())) {
            swal({ title: "url id 只可輸入英數字及底線", timer: 3000, type: 'error' });
            return;
        }
        //
        if (!chkImage()) {
            swal({ title: "請上傳圖片檔", timer: 3000, type: 'error' })
        }
        else if ($("#sltToporder").val() == "0") {
            $("#form1").submit();
            $("#imgPic").attr("src", "");
            $("#imgSeoPic").attr("src", "");
        }
        else {
            $token = $('#form1 input[name="__RequestVerificationToken"]').val();// $("#spSubmit").siblings('input[name="__RequestVerificationToken"]').val();
            $id = $("#hdid").val();
            $.ajax({
                url: '@(Url.Action("AjaxCheckTopOrder", "Blog"))',
                type: "POST",
                cache: false,
                async: true,
                data: { param1: $id, toporder: $("#sltToporder").val(), __RequestVerificationToken: $token },
                datatype: "json",
                success: function (res) {
                    if (res) {
                        console.log("dup")
                         swal({
                             title: "重要文章覆蓋",
                             text: "目前已有排名" + $("#sltToporder").val()+"的文章，是否要覆蓋?",
                            type: "warning",
                            showCancelButton: true,
                            confirmButtonColor: "#008d4c",
                             cancelButtonColor: "#dd4b39",
                             cancelButtonText:"取消",
                            confirmButtonText: "確認"
                        }).then(function (res) {
                            if (res) {
                                $("#form1").submit();
                                $("#imgPic").attr("src", "");
                                $("#imgSeoPic").attr("src", "");
                            }
                        });
                    }
                    else {
                        $("#form1").submit();
                        $("#imgPic").attr("src", "");
                        $("#imgSeoPic").attr("src", "");
                    }
                }
            });
        }

    }
    function chkImage() {
        var imgs = ["jpg", "png", "jpeg", "gif", "bmp", "tif", "tiff", "svg", "ico"];
        var uploadpath = String($(src).val()).toLowerCase();
        var fileExtension = uploadpath.substring(uploadpath.lastIndexOf(".") + 1, uploadpath.length);
        return (imgs.indexOf(fileExtension) > -1 || $(target).attr("src")!="");
    }
    function showImage(src, target) {
        var fr = new FileReader();
        // when image is loaded, set the src of the image where you want to display it
        fr.onload = function (e) { target.src = this.result; };
        src.addEventListener("change", function (evt) {
            if (!chkImage()) {
                swal({ title: "請上傳圖片檔", timer: 3000, type: 'error' })
            }
            else {
                // fill fr with image data
                fr.readAsDataURL(src.files[0]);
            }
            
        });

    }
    var src = document.getElementById("picurl");
    var target = document.getElementById("imgPic");
    showImage(src, target);

    var seosrc = document.getElementById("seopicurl");
    var seotarget = document.getElementById("imgSeoPic");
    showImage(seosrc, seotarget);

    $(document).ready(function () {
        if (sessionStorage["file"] != undefined) {
            //console.log(sessionStorage["file"])
            $("#picurl").val(sessionStorage["file"])
        }


    });
    
    (function (func) {
        $.fn.addClass = function (n) { // replace the existing function on $.fn
            this.each(function (i) { // for each element in the collection
                var $this = $(this); // 'this' is DOM element in this context
                var prevClasses = this.getAttribute('class'); // note its original classes
                var classNames = $.isFunction(n) ? n(i, prevClasses) : n.toString(); // retain function-type argument support
                $.each(classNames.split(/\s+/), function (index, className) { // allow for multiple classes being added
                    if (!$this.hasClass(className)) { // only when the class is not already present
                        func.call($this, className); // invoke the original function to add the class
                        $this.trigger('classAdded', className); // trigger a classAdded event
                    }
                });
                prevClasses != this.getAttribute('class') && $this.trigger('classChanged'); // trigger the classChanged event
            });
            return this; // retain jQuery chainability
        }
    })($.fn.addClass); // pass the original function as an argument

    (function (func) {
        $.fn.removeClass = function (n) {
            this.each(function (i) {
                var $this = $(this);
                var prevClasses = this.getAttribute('class');
                var classNames = $.isFunction(n) ? n(i, prevClasses) : n.toString();
                $.each(classNames.split(/\s+/), function (index, className) {
                    if ($this.hasClass(className)) {
                        func.call($this, className);
                        $this.trigger('classRemoved', className);
                    }
                });
                prevClasses != this.getAttribute('class') && $this.trigger('classChanged');
            });
            return this;
        }
    })($.fn.removeClass);

    $(document).on('classAdded', '.icheckbox_flat-red', function (event, className) {
        if (className == "checked") {
            //console.log("add");
            //console.log($(event.target).parent("div")[0].id)
            if ($(event.target).parent("div")[0].id == "divSeo") {
                $("#chseo").show();
                $("#enseo").show();
            }
        }
    });
    $(document).on('classRemoved', '.icheckbox_flat-red', function (event, className) {
        if (className == "checked") {
            if ($(event.target).parent("div")[0].id == "divSeo") {
                $("#chseo").hide();
                $("#enseo").hide();
            }
        }
    });
</script>
