﻿
@{
    Layout = "~/Areas/Backend/Views/Blog/index.cshtml";
}
@using web.Models
@using web.Common
@using web.Areas.backend.Models
@model List<blog_dtl>

<div class="box-header with-border">
    <h3 class="box-title"></h3>
    <div class="row">
        @using (Html.BeginForm("List", "Blog", FormMethod.Get))
        {
            <div class="col-xs-2">
                @Html.DropDownList("ddlAuthor", new SelectList(@ViewBag.Authorlist, "Value", "Text"), new { @class = "form-control", id = "ddlAuthor" })
            </div>
            <div class="col-xs-2">
                @Html.DropDownList("ddlType", new SelectList(@ViewBag.Typelist, "Value", "Text"), new { @class = "form-control", id = "ddlType" })
            </div>
            <div class="col-xs-2">
                <input type="text" class="form-control" name="keyword" value="@ViewBag.keyword" placeholder="查詢標題及內文關鍵字" />
            </div>
            <div class="col-xs-2">
                <button type="submit" class="btn">送出</button>
            </div>

            <div class="col-xs-4 text-right">
                <a class="btn btn-primary" href="@Url.Action("Content", "Blog", new { id = ViewBag.node.wm_url_id, param1 = 0 })" role="button"> 新增文章 </a>
            </div>

        }
    </div>
    <div class="box-tools pull-right">
    </div>
</div>

<div class="table-responsive">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>重要Blog</th>
                <th>封面照片</th>
                <th>語言</th>
                <th>標題</th>
                <th>分類</th>
                <th>作者</th>
                <th>發佈日期</th>
                <th>留言總數</th>
                <th>點閱人數</th>
                <th>啟用</th>
                <th>允許留言</th>
                <th>編輯</th>
                <th>刪除</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() > 0)
            {
                foreach (blog_dtl item in Model)
                {
                    string lang = item.lang == "ch" ? "繁體中文" : "English";
                    string tmp = item.title == null ? "" : item.title;
                    string catstr = tmp.Length > 20 ? "..." : "";
                    int len = tmp.Length > 20 ? 20 : tmp.Length;
                    string toporder = item.blog.toporder == 0 ? "" : item.blog.toporder.ToString();
            <tr>
                <td>@toporder</td>
                <td><img src="@(item.blog.picurl)" style="max-width:50px; max-height:50px; margin-right:10px;margin-top:5px;" onError="this.style.display = 'none'" /></td>
                <td>@Html.Raw(lang)</td>
                <td>@Html.Raw(tmp.Substring(0, len) + catstr)</td>
                <td>@Html.Raw(Json.Decode(item.blog.blog_type.name)[item.lang])</td>
                <td>@item.blog.blog_author.blog_author_dtl.Where(u => u.lang == item.lang).FirstOrDefault().name</td>
                <td>@Convert.ToDateTime(item.blog.apply_date).ToShortDateString()</td>
                <td>
                    @if (item.blog.blog_message.Count > 0)
                    {
                        <a style="text-decoration:underline" href="@(Url.Action("Messagelist", "Blog", new { id = ViewBag.node.wm_url_id ,param1 = item.blogid}))">@item.blog.blog_message.Count</a>
                    }
                    else
                    {
                        <span>@item.blog.blog_message.Count</span>

                    }
                </td>
                <td>@item.blog.blog_log.Count(u => u.blogdtlid == item.id)</td>

                <td class="list-launch-block launch1" name="L@(item.blogid)">
                    @if (item.blog.launch == 1)
                    {
                        <span class="label label-success"><i class="fa fa-check"></i></span>
                    }
                    else
                    {
                        <span class="label label-danger"><i class="fa fa-ban"></i></span>
                    }
                    @Html.AntiForgeryToken()
                    <div class="hidden id" data-id="@(item.blogid)"></div>
                </td>

                <td class="list-launch-block launch0" name="@(item.blogid)">
                    @if (item.blog.allowmsg == 1)
                    {
                        <span class="label label-success"><i class="fa fa-check"></i></span>
                    }
                    else
                    {
                        <span class="label label-danger"><i class="fa fa-ban"></i></span>
                    }
                    @Html.AntiForgeryToken()
                    <div class="hidden id" data-id="@(item.blogid)"></div>
                </td>
                <td>
                    <a class="btn btn-warning btn-sm" href="@(Url.Action("Content", "Blog", new { id = ViewBag.node.wm_url_id ,param1 = item.blogid }))"><i class="fa fa-edit"></i></a>
                </td>
                <td>
                    @using (Html.BeginForm("DeleteData", "Blog", new { id = ViewBag.node.wm_url_id, param1 = item.blogid }, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <button class="btn btn-danger btn-sm delete_btn" type="submit"><i class="fa fa-trash-o"></i></button>
                    }
                </td>
            </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="9" align="center">Empty</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script>
    $('.launch0').find('.label').click(function () {
        console.log("***allowmsg");
        $label = $(this);
        $id = $(this).siblings('div.id').data('id');
        var tds = $('td[name ="'+$id+'"]') ;

        $token = $(this).siblings('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            url: '@(Url.Action("AjaxUpdateLaunch"))',
            type: "POST",
            cache: false,
            async: true,
            data: { param1: $id, __RequestVerificationToken: $token },
            datatype: "json",
            success: function (data) {
                $('td[name ="' + $id + '"]').find('.label').each(function () {
                    if (data == 1) {
                        $(this).removeClass('label-danger').addClass('label-success').html('<i class="fa fa-check"></i>');
                    } else if (data == 0) {
                        $(this).removeClass('label-success').addClass('label-danger').html('<i class="fa fa-ban"></i>');
                    }
                });
                
            }
        });
    });
    $('.launch1').find('.label').click(function () {
        console.log("***launch");
        $label = $(this);
        $id = $(this).siblings('div.id').data('id');
        var tds = $('td[name ="L'+$id+'"]') ;

        $token = $(this).siblings('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            url: '@(Url.Action("AjaxUpdateLaunch1"))',
            type: "POST",
            cache: false,
            async: true,
            data: { param1: $id, __RequestVerificationToken: $token },
            datatype: "json",
            success: function (data) {
                $('td[name ="L' + $id + '"]').find('.label').each(function () {
                    if (data == 1) {
                        $(this).removeClass('label-danger').addClass('label-success').html('<i class="fa fa-check"></i>');
                    } else if (data == 0) {
                        $(this).removeClass('label-success').addClass('label-danger').html('<i class="fa fa-ban"></i>');
                    }
                });
                
            }
        });
    });
</script>