﻿
@{
    Layout = "~/Areas/Backend/Views/Blog/index.cshtml";
}
@using web.Models
@using web.Common
@using web.Areas.backend.Models
@model List<blog_message>

<div class="box-header with-border">
    <h3 class="box-title"></h3>
    <div class="row">
        @using (Html.BeginForm("Messagelist", "Blog", FormMethod.Get))
        {
            @*<div class="col-xs-2">
                    @{
                        string str = "type";
                        //int type = ViewBag.type == null ? 0 : ViewBag.type;
                    }
                </div>*@
        }
    </div>
    <div class="box-tools pull-left">
        <label>Blog標題: @(Model.FirstOrDefault() == null ? "(無)" : Model.FirstOrDefault().blog.blog_dtl.Where(u => u.lang == "ch").FirstOrDefault().title)</label>
        <label style="margin-left:20px">總留言數: @(Model.Count)</label>
    </div>
    <div class="box-tools pull-right">
        <a class="btn btn-warning" href="javascript: history.back()" role="button"> Back </a>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                @*<th>Blog標題</th>
        <th>分類</th>*@
                <th>留言人</th>
                <th>留言人email</th>
                <th>留言內容</th>
                <th>留言日期</th>
                <th>回覆人</th>
                <th>回覆內容</th>
                <th>回覆日期</th>
                <th>回覆</th>
                <th>刪除</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() > 0)
            {
                foreach (blog_message item in Model)
                {
                    string tmp = item.message == null ? "" : item.message;
                    string catstr = tmp.Length > 30 ? "..." : "";
                    int len = tmp.Length > 30 ? 30 : tmp.Length;
                    string rtmp = item.reply == null ? "" : item.reply;
                    string rcatstr = rtmp.Length > 30 ? "..." : "";
                    int rlen = rtmp.Length > 30 ? 30 : rtmp.Length;
                    string updatedt = item.update_date == null ? "" : item.update_date.GetValueOrDefault().ToShortDateString();
                    <tr>
                        @*<td>@item.blog_dtl.title</td>
                            <td>@Html.Raw(Json.Decode(item.blog.blog_type.name)[item.blog_dtl.lang])</td>*@
                        <td><span class="name">@item.name</span></td>
                        <td><span class="name">@item.email</span></td>
                        <td style="width:25%">
                            @Html.Raw(tmp.Substring(0, len) + catstr)
                            <label class="message" style="display:none">@item.message</label>
                        </td>
                        <td>@item.create_date.GetValueOrDefault().ToShortDateString()</td>
                        <td>@item.ae_empnm</td>
                        <td style="width:20%">
                            @Html.Raw(rtmp.Substring(0, rlen) + rcatstr)
                        </td>
                        <td>@updatedt</td>

                        <td>
                            <div class="hidden id" data-id="@(item.id)"></div>
                            <a class="btn btn-warning btn-sm editbtn"><i class="fa fa-edit"></i></a>
                        </td>
                        <td>
                            @Html.AntiForgeryToken()
                            <div class="hidden id" data-id="@(item.id)"></div>
                            <a class="btn btn-danger btn-sm deletebtn"><i class="fa fa-trash-o"></i></a>
                        </td>
                        @*<td>
                            @using (Html.BeginForm("DeleteMessage", "Blog", new { id = ViewBag.node.wm_url_id, param1 = item.id }, FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <button class="btn btn-danger btn-sm delete_btn" type="submit"><i class="fa fa-trash-o"></i></button>
                            }
                        </td>*@
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="8" align="center">Empty</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<!-- Modal -->
<div class="modal" id="addModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h3 class="modal-title" id="h3Title">回覆留言</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="height:280px">
                <div class="d-flex justify-content-center" style=" margin-bottom:30px">
                    <div class="col-xs-2">
                        <label>留言人:</label>
                    </div>
                    <div class="col-xs-9">
                        <p id="pName">Modal body text goes here.</p>
                    </div>
                </div>
                <div class="d-flex justify-content-center" style=" margin-bottom:30px">
                    <div class="col-xs-2">
                        <label>留言內容:</label>
                    </div>
                    <div class="col-xs-9">
                        <p id="pMessage">Modal body text goes here.</p>

                    </div>
                </div>
                <div class="d-flex justify-content-center" style="height:100px">
                    <div class="col-xs-2">
                        <label>回覆留言:</label>
                    </div>
                    <div class="col-xs-9">
                        <textarea type="text" id="txtReply" class="form-control" value="" placeholder="回覆留言"></textarea><br><br>
                    </div>
                </div>
            </div>
            
            <div class="modal-footer">
                @Html.AntiForgeryToken()
                <button type="button" id="confirm_btn" class="btn btn-primary">儲存</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                <input type="hidden" id="hdid" />
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        $("tr .editbtn").click(function (e) {
            e.preventDefault();
            $token = $(this).siblings('input[name="__RequestVerificationToken"]').val();
            $id = $(this).siblings('div.id').data('id');
            console.log($(this).closest("tr").find(".message").html());
            $("#pName").html($(this).closest("tr").find(".name").html());
            $("#pMessage").html($(this).closest("tr").find(".message").html());
            $("#hdid").val($id);
            e.preventDefault();
            setTimeout(
                function () {
                    $("#txtReply").val("");
                    $('#addModal').modal('show');
                }, 500);
        })


        $('#confirm_btn').click(function (e) {
            e.preventDefault();
            $label = $(this);
            $id = $("#hdid").val();
            $token = $(this).siblings('input[name="__RequestVerificationToken"]').val();
            console.log($id);
            $.ajax({
                url: '@(Url.Action("AjaxPostReply","Blog"))',
                type: "POST",
                cache: false,
                async: true,
                data: { param1: $id, reply: $("#txtReply").val(), __RequestVerificationToken: $token },
                datatype: "json",
                success: function (res) {
                    if (res.code == 0)
                        window.location.reload();
                    else {
                        swal({ title: res.message, timer: 3000, type: 'error' })
                    }
                }
            });
        });

        $("tr .deletebtn").click(function (e) {
            e.preventDefault();
            $token = $(this).siblings('input[name="__RequestVerificationToken"]').val();
            $id = $(this).siblings('div.id').data('id');
            //console.log($id, $token);
            swal({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#008d4c",
                cancelButtonColor: "#dd4b39",
                confirmButtonText: "Yes"
            }).then(function (res) {
                if (res) {
                    $.ajax({
                        url: '@(Url.Action("DeleteMessage", "Blog"))',
                        type: "POST",
                        cache: false,
                        async: true,
                        data: { param1: $id, __RequestVerificationToken: $token },
                        datatype: "json",
                        success: function (res) {
                            if (res.code == 0)
                                window.location.reload();
                            else {
                                swal({ title: res.message, timer: 3000, type: 'error' })
                            }
                        }
                    });
                }
            });
            

        });
        //$("button .swal2-confirm")[0].addEventListener("click", function () {
        //    console.log("****swal2-confirm  click")
        //})
       
    })


</script>