﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/tw/_Layout.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-csr">
		<h1 class="page-title title-large">企業社會責任</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "/" })"><i class="icon-home"></i><span itemprop="name">首頁</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })"><span itemprop="name">企業社會責任</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Sustainability_Governance", "CSR", new { lang = ViewBag.language.lang })"><span itemprop="name">永續治理</span></a>
					<meta itemprop="position" content="3" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("corporate_sustainability_policy_and_management", "CSR", new { lang = ViewBag.language.lang, param1 = "business_conduct_and_ethics" })"><span itemprop="name">商業行為與道德</span></a>
					<meta itemprop="position" content="4" />
				</li>
			</ol>
		</div>
	</div>

	<div class="breadcrumbs-pc pull-left" id="breadcrumbs-pc">
	<!-- PC版選單breadcrumbs內容 -->
		<ul class="breadcrumbs-view" id="breadcrumbs-view">
			<li class="dropdown-item">
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })">技術</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Solution" })">解決方案</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" })">產品</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "ir" })">投資人關係</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })">企業社會責任</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "About" })">關於日月光集團</a></li>
				</ul>
			</li>
			<li class="dropdown-item">
				<a href="csr.html">企業社會責任</a>
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.Action("Letter_Chairman", "CSR", new { lang = ViewBag.language.lang })">董事長的話</a></li>
					<li><a href="@Url.Action("Sustainability_Governance", "CSR", new { lang = ViewBag.language.lang })" class="active">永續治理</a></li>
					<li><a href="@Url.Action("Stakeholder_Engagement", "CSR", new { lang = ViewBag.language.lang })">利害關係人專區</a></li>
					<li><a href="http://ir.aseglobal.com/c/ir_corpor.php">公司治理</a></li>
					<li><a href="@Url.Action("environmental_sustainability", "CSR", new { lang = ViewBag.language.lang })">環境永續</a></li>
					<li><a href="@Url.Action("Employee_Care_Development", "CSR", new { lang = ViewBag.language.lang })">員工關懷與發展</a></li>
					<li><a href="@Url.Action("Supply_Chain_Development", "CSR", new { lang = ViewBag.language.lang })">供應鏈發展</a></li>
					<li><a href="@Url.Action("Corporate_Citizenship_Social_Involvement", "CSR", new { lang = ViewBag.language.lang })">企業公民與社會參與</a></li>
					<li><a href="@Url.Action("Downloads", "CSR", new { lang = ViewBag.language.lang })">企業社會責任報告書下載專區</a></li>
				</ul>
			</li>
		</ul>
	</div>

	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">商業行為與道德</h3>
				<p>
					日月光相信，企業的永續發展是公司長期經營與成功的關鍵。為了協助日月光在企業經營的過程中實踐良好的企業公民與社會責任，日月光制定「<a href="http://ir.aseglobal.com/attachment/20160526104342152198328_en.pdf" target="_blank">商業行為與道德準則</a>」、「<a href="http://ir.aseglobal.com/attachment/20160613144201178911115_en.pdf" target="_blank">公司治理實務守則</a>」、「<a href="http://ir.aseglobal.com/attachment/20160613144017187272660_en.pdf" target="_blank">企業社會責任實務守則</a>」、「<a href="http://ir.aseglobal.com/attachment/20160613143720110600624_en.pdf" target="_blank">誠信經營守則</a>」、「<a href="http://ir.aseglobal.com/attachment/20170118153240177791703_en.pdf" target="_blank">誠信經營作業程序及行為指南</a>」及「<a href="http://ir.aseglobal.com/attachment/201503311211001_en.pdf" target="_blank">Accounting or Auditing Complaints</a>」等政策規範，清楚且詳盡地訂定商業行為與道德的規範，形塑誠實和當責的文化，將日月光遵循最高道德標準的承諾體現在所有日月光的商業活動中。<br>
					<br>
					「集團永續發展委員會」為日月光集團商業行為與道德的最高管理組織，負責統籌集團內誠信經營政策規範之制定、監督與執行，每年定期檢視其推動與遵循狀況，並向董事會報告。隸屬於集團永續發展委員會之「公司治理團隊」負責推動誠信經營政策規範至日月光全球營運據點，並協助共同管理與配合各地區法令訂定相關規定。全球營運據點負責規劃內部執行誠信經營政策規範之組織、編制與職掌，依據集團政策規範之架構訂定相關標準作業程序及行為指南，並在日常內部管理及營運中積極宣導與訓練。集團稽核單位將負責監督，以確保檢舉制度之有效性。
				</p>
			</article>
		</div>
	</section>
	<div class="row csr-bg">
		<div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
			<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/business_conduct_and_ethics.png" style="padding: 0 20px">
			<a href="http://ir.aseglobal.com/attachment/20160526104342152198328_en.pdf" target="_blank">
			<div class="circle-link"></div>
			</a>
		</div>
	</div>
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<p>
					<br>
					所有日月光成員均應恪遵日月光商業行為與道德的相關政策與規範。如日月光成員或第三人發現任何違反、疑似違反或可能導致違反誠信經營與商業道德之情事，得以下列方式提出檢舉：
				</p>
				<h4 class="sub-title">外部檢舉管道</h4>
				<ul class="nopadding">
					<li><a href="http://www.aseglobal.com/antifraud/en.asp" target="_blank">商業行為與道德遵循舉報系統</a>以及信箱：<a href="mailto:codecompliance@aseglobal.com">codecompliance@aseglobal.com</a></li>
					<li>違反會計、內控或審計事項舉報信箱：<a href="mailto:ase_ac@aseglobal.com">ase_ac@aseglobal.com</a></li>
				</ul>

				<h4 class="sub-title">內部檢舉管道</h4>
				<ul class="nopadding">
					<li>總經理信箱</li>
					<li>人力資源信箱</li>
					<li>員工申訴專線</li>
					<li>性騷擾防治專線</li>
					<li>商業行為與道德遵循舉報系統</li>
				</ul>
				<p>
					日月光接獲檢舉後，將依上述政策規範之處理程序調查及處分。<br>
					<br>
					檢舉人可以具名或匿名方式，提出具體事實內容、相關資訊及文件進行舉報。除法律另有規定外，日月光及受委託調查舉報事項之第三方對於檢舉人與檢舉內容將予以保密，並依法採取適當之保護措施保護檢舉人的個人資料及隱私，避免其遭受不公平的報復或對待。
				</p>

				<h4 class="sub-title">2017商業行為與道德之推動與執行</h4>
				<p>
					日月光長期以來透過制定規範與教育宣導等多種方式，致力於商業行為與道德之相關政策與規範的落實。我們在2017年實際推動與執行的項目如下：
					<ul class="nopadding">
						<li>規劃違反誠信經營檢舉處理流程。</li>
						<li>向全球營運據點之人力資源部門最高主管佈達商業行為與道德準則。</li>
						<li>針對臺灣、中國大陸、日本、韓國、新加坡及馬來西亞等營運據點實際展開商業行為與道德相關政策與規範，如商業行為與道德準則、供應商行為準則、供應商行為準則承諾書、RBA (舊稱EICC)行為準則等教育訓練，對象含括採購、廠務、環安衛、人力資源、品保、總經理辦公室等各部門人員。</li>
						<li>完成日月光高雄廠員工線上教育訓練，其中包含商業行為與道德之相關課程內容。</li>
					</ul>
				</p>
				

			</article>
		</div>
	</section>