﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/tw/_Layout.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-csr">
		<h1 class="page-title title-large">企業社會責任</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "/" })"><i class="icon-home"></i><span itemprop="name">首頁</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })"><span itemprop="name">企業社會責任</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Sustainability_Governance", "CSR", new { lang = ViewBag.language.lang })"><span itemprop="name">永續治理</span></a>
					<meta itemprop="position" content="3" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("corporate_sustainability_policy_and_management", "CSR", new { lang = ViewBag.language.lang, param1 = "corporate_sustainability_policy" })"><span itemprop="name">企業永續政策</span></a>
					<meta itemprop="position" content="4" />
				</li>
			</ol>
		</div>
	</div>

	<div class="breadcrumbs-pc pull-left" id="breadcrumbs-pc">
	<!-- PC版選單breadcrumbs內容 -->
		<ul class="breadcrumbs-view" id="breadcrumbs-view">
			<li class="dropdown-item">
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })">技術</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Solution" })">解決方案</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" })">產品</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "ir" })">投資人關係</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })">企業社會責任</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "About" })">關於日月光集團</a></li>
				</ul>
			</li>
			<li class="dropdown-item">
				<a href="csr.html">企業社會責任</a>
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.Action("Letter_Chairman", "CSR", new { lang = ViewBag.language.lang })">董事長的話</a></li>
					<li><a href="@Url.Action("Sustainability_Governance", "CSR", new { lang = ViewBag.language.lang })" class="active">永續治理</a></li>
					<li><a href="@Url.Action("Stakeholder_Engagement", "CSR", new { lang = ViewBag.language.lang })">利害關係人專區</a></li>
					<li><a href="http://ir.aseglobal.com/c/ir_corpor.php">公司治理</a></li>
					<li><a href="@Url.Action("environmental_sustainability", "CSR", new { lang = ViewBag.language.lang })">環境永續</a></li>
					<li><a href="@Url.Action("Employee_Care_Development", "CSR", new { lang = ViewBag.language.lang })">員工關懷與發展</a></li>
					<li><a href="@Url.Action("Supply_Chain_Development", "CSR", new { lang = ViewBag.language.lang })">供應鏈發展</a></li>
					<li><a href="@Url.Action("Corporate_Citizenship_Social_Involvement", "CSR", new { lang = ViewBag.language.lang })">企業公民與社會參與</a></li>
					<li><a href="@Url.Action("Downloads", "CSR", new { lang = ViewBag.language.lang })">企業社會責任報告書下載專區</a></li>
				</ul>
			</li>
		</ul>
	</div>
	<!-- Letter from the Chairman -->
	<section class="inside-article">
		<div class="content-lg row">
			<div class="col-md-12">

			<h3 class="title">企業永續政策</h3>
			<h4 class="sub-title">日月光集團企業永續發展與企業公民政策</h4>
			<p>
				日月光集團為全球半導體封裝測試服務領導者及主要的系統與核心技術整合者，在社會轉型至綠色及低碳經濟的過程中，扮演重要的角色。我們視永續發展與企業公民為公司成長的機會，承諾提供具生態效益及負責任的服務給我們的客戶，俾以在環境、社會及公司治理三方面有優異的績效表現。<br><br>

				日月光集團將引領創新及永續的企業責任實踐，為產業界、企業界、利害關係人和全體社會帶來正面的影響力。<br><br>

				日月光集團致力於以策略性做法追求企業的永續成長，不僅會持續進行成本控管、整合性風險管理以及先進技術開發，更會以負責任的態度運用自然、社會與人力資本，與我們所仰賴並汲取資源的土地共存共榮。
			</p>

			<h4 class="sub-title">日月光集團承諾：</h4>
			<p>
				<ul class="nopadding">
					<li>維持健全的公司治理制度，於企業內持續實踐商業道德規範，並恪遵所有營運所在地的法律規定。</li>

					<li>持續增加資源再利用及減少溫室氣體與廢水排放、廢棄物產生及化學品使用，以改善我們的生態效益並保護環境。</li>

					<li>提供員工安全、健康及優質的工作環境，確保勞動力多元化及保障人權。</li>

					<li>建立供應商夥伴關係，確保供應鏈具備安全的工作環境，其員工受到尊重並享有尊嚴，且其營運對環境負責並符合商業道德。</li>

					<li>透過積極參與慈善活動、教育計畫和社會工作回饋社區，將資源做最完善的分配，並發揮最大的社會影響力。</li>

					<li>進行有效且具策略性的利害關係人溝通與議合，並強化資訊的公開透明與平衡揭露。</li>
				</ul>
				<br>
				<a href="http://www.aseglobal.com/en/Csr/ASEGroup_Corporate_Sustainability_Citizenship_Policy.pdf" target="_blank"><div class="circle_button darkgray facilities-circle-button"><i class="icon-arrow-right facilities-icon-arrow-right"></i></div>&nbsp;日月光集團企業永續發展與企業公民政策</a><br><br>
			</p>
			<p class="spacing2em">
				<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/u7809.jpg"><br>
				日月光集團永續發展委員會主席暨集團營運長　吳田玉
			</p>
           
		</div>
	</section>