﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/tw/_Layout.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-csr">
		<h1 class="page-title title-large">企業社會責任</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "/" })"><i class="icon-home"></i><span itemprop="name">首頁</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })"><span itemprop="name">企業社會責任</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Sustainability_Governance", "CSR", new { lang = ViewBag.language.lang })"><span itemprop="name">永續治理</span></a>
					<meta itemprop="position" content="3" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("corporate_sustainability_policy_and_management", "CSR", new { lang = ViewBag.language.lang, param1 = "human_rights_management" })"><span itemprop="name">人權管理</span></a>
					<meta itemprop="position" content="4" />
				</li>
			</ol>
		</div>
	</div>

	<div class="breadcrumbs-pc pull-left" id="breadcrumbs-pc">
	<!-- PC版選單breadcrumbs內容 -->
		<ul class="breadcrumbs-view" id="breadcrumbs-view">
			<li class="dropdown-item">
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })">技術</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Solution" })">解決方案</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" })">產品</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "ir" })">投資人關係</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })">企業社會責任</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "About" })">關於日月光集團</a></li>
				</ul>
			</li>
			<li class="dropdown-item">
				<a href="csr.html">企業社會責任</a>
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.Action("Letter_Chairman", "CSR", new { lang = ViewBag.language.lang })">董事長的話</a></li>
					<li><a href="@Url.Action("Sustainability_Governance", "CSR", new { lang = ViewBag.language.lang })" class="active">永續治理</a></li>
					<li><a href="@Url.Action("Stakeholder_Engagement", "CSR", new { lang = ViewBag.language.lang })">利害關係人專區</a></li>
					<li><a href="http://ir.aseglobal.com/c/ir_corpor.php">公司治理</a></li>
					<li><a href="@Url.Action("environmental_sustainability", "CSR", new { lang = ViewBag.language.lang })">環境永續</a></li>
					<li><a href="@Url.Action("Employee_Care_Development", "CSR", new { lang = ViewBag.language.lang })">員工關懷與發展</a></li>
					<li><a href="@Url.Action("Supply_Chain_Development", "CSR", new { lang = ViewBag.language.lang })">供應鏈發展</a></li>
					<li><a href="@Url.Action("Corporate_Citizenship_Social_Involvement", "CSR", new { lang = ViewBag.language.lang })">企業公民與社會參與</a></li>
					<li><a href="@Url.Action("Downloads", "CSR", new { lang = ViewBag.language.lang })">企業社會責任報告書下載專區</a></li>
				</ul>
			</li>
		</ul>
	</div>

	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">人權管理</h3>
				<p>
					為保護與促進人權，日月光集團支持並尊重「聯合國世界人權宣言」、「聯合國全球盟約」第一與第二條原則、「聯合國企業與人權指導原則」、國際勞工組織「工作基本原則與權利宣言」與當地法令規範，並透過加入「電子產業行為準則」產業聯盟，落實人權保障。日月光集團人權政策表明我們對人權保障之標準，同時也期許我們的供應商與合作夥伴符合本政策之標準。
				</p>
				<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/human_rights_management.png">
				</div>
				<div class="clearfix"></div><br>
				<h4 class="sub-title">日月光集團人權管理依下列四項原則落實人權保障：</h4>
				<p>
					<ul class="nopadding">
						<li><strong>保護原則：</strong><br>
							恪遵營運所在地之勞動、性別工作平等相關法規，並提供勞動者安全及健康的工作環境。2016年我們各營運據點的人力資源部門在定期的管理會議中持續檢視與當地人權相關的法規。以確保員工的權益。我們在營運廠區持續取得SA8000<a href="javascript:;" data-toggle="popover" data-trigger="hover" data-content="2016年，日月光高雄及中壢廠皆取得SA8000認證。" data-placement="bottom">*</a>的認證，此也是全球在職場人權管理上最被廣泛接受的認證標準。
						</li>
						<li><strong>尊重原則：</strong><br>
							不強迫勞動、禁用童工、不歧視、禁止騷擾、尊重結社自由、尊重隱私權、落實工作時間限制並給予合適的薪資福利。我們特別針對有聘僱外籍員工的五個廠區( 高雄廠/中壢廠/馬來西亞廠/新加坡廠/上海廠)，加強檢視聘僱流程及其作業，防止強迫勞工、債務勞工的發生。此強化改善行動將持續於2017年展開。
						</li>
						<li><strong>補救原則：</strong><br>
							保持申訴機制暢通，如有違反人權事宜，即時採取補救改善措施。我們的申訴機制包括內部管道(員工意見箱、申訴專線等) 及外部管道(官網投訴信箱)。
						</li>
						<li><strong>管理原則：</strong><br>
							持續推動人權教育訓練、定期評估人權風險，並將結果呈報高階主管，同時將其對外公開揭露。2016年，全球各廠區實施了人權培訓相關課程，每人平均約2小時，總計共有58,035名員工參與其中，佔全體員工的86%。同時集團永續發展委員會「員工關懷與發展任務小組」持續自各廠區收集並彙整、鑑別人權相關問題，依P-D-C-A(計劃-執行-檢視-行動)流程訂定相關管理目標並執行改善活動。
						</li>
					</ul>
				</p>
				<p>我們的人權管理相關準則訂定於下列規範中：</p>
				<div>
					<div class="circle_button darkgray facilities-circle-button"><i class="icon-arrow-right facilities-icon-arrow-right"></i></div> <a href="http://www.aseglobal.com/en/Csr/ASE_Group_HumanRightPolicy.pdf" target="_blank">日月光集團人權政策</a><br><br>

					<div class="circle_button darkgray facilities-circle-button"><i class="icon-arrow-right facilities-icon-arrow-right"></i></div> <a href="http://ir.aseglobal.com/attachment/20160613144017187272660_en.pdf" target="_blank"> 日月光半導體製造股份有限公司企業社會責任實務守則</a><br><br>

					<div class="circle_button darkgray facilities-circle-button"><i class="icon-arrow-right facilities-icon-arrow-right"></i></div> <a href="http://ir.aseglobal.com/attachment/20160526104342152198328_en.pdf" target="_blank"> 日月光半導體製造股份有限公司商業行為與道德準則</a><br><br>

					<div class="circle_button darkgray facilities-circle-button"><i class="icon-arrow-right facilities-icon-arrow-right"></i></div> <a href="http://www.aseglobal.com/en/Csr/ASE_SupplierCodeofConduct_102016V2.pdf" target="_blank"> 日月光集團供應商行為準則</a><br><br>
				</div>
			</article>
		</div>
	</section>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script>
	$(document).ready(function(){
	    $('[data-toggle="popover"]').popover();   
	});
	</script>