﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/tw/_Layout.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-csr">
		<h1 class="page-title title-large">企業社會責任</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "/" })"><i class="icon-home"></i><span itemprop="name">首頁</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })"><span itemprop="name">企業社會責任</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Sustainability_Governance", "CSR", new { lang = ViewBag.language.lang })"><span itemprop="name">永續治理</span></a>
					<meta itemprop="position" content="3" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("corporate_sustainability_policy_and_management", "CSR", new { lang = ViewBag.language.lang, param1 = "regulatory_compliance_and_risk_management" })"><span itemprop="name">法規遵循與風險管理</span></a>
					<meta itemprop="position" content="4" />
				</li>
			</ol>
		</div>
	</div>

	<div class="breadcrumbs-pc pull-left" id="breadcrumbs-pc">
	<!-- PC版選單breadcrumbs內容 -->
		<ul class="breadcrumbs-view" id="breadcrumbs-view">
			<li class="dropdown-item">
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })">技術</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Solution" })">解決方案</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" })">產品</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "ir" })">投資人關係</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })">企業社會責任</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "About" })">關於日月光集團</a></li>
				</ul>
			</li>
			<li class="dropdown-item">
				<a href="csr.html">企業社會責任</a>
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.Action("Letter_Chairman", "CSR", new { lang = ViewBag.language.lang })">董事長的話</a></li>
					<li><a href="@Url.Action("Sustainability_Governance", "CSR", new { lang = ViewBag.language.lang })" class="active">永續治理</a></li>
					<li><a href="@Url.Action("Stakeholder_Engagement", "CSR", new { lang = ViewBag.language.lang })">利害關係人專區</a></li>
					<li><a href="http://ir.aseglobal.com/c/ir_corpor.php">公司治理</a></li>
					<li><a href="@Url.Action("environmental_sustainability", "CSR", new { lang = ViewBag.language.lang })">環境永續</a></li>
					<li><a href="@Url.Action("Employee_Care_Development", "CSR", new { lang = ViewBag.language.lang })">員工關懷與發展</a></li>
					<li><a href="@Url.Action("Supply_Chain_Development", "CSR", new { lang = ViewBag.language.lang })">供應鏈發展</a></li>
					<li><a href="@Url.Action("Corporate_Citizenship_Social_Involvement", "CSR", new { lang = ViewBag.language.lang })">企業公民與社會參與</a></li>
					<li><a href="@Url.Action("Downloads", "CSR", new { lang = ViewBag.language.lang })">企業社會責任報告書下載專區</a></li>
				</ul>
			</li>
		</ul>
	</div>

	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">法規遵循與風險管理</h3>
				<h4 class="sub-title">法規遵循</h4>
			</article>
			<div class="col-md-7 col-sm-7">
				<p>
					日月光承諾以誠信和正直的原則經營業務，完全遵循所有適用的法規。為符合日益增加且日趨嚴格的法規要求，日月光法務部門建構完善的法規遵循體系並擬定法規遵循方針，定期監控任何可能會對公司營運有重大影響的國內外法令變動，並由各子公司法務及各營運所在地負責部門之法規負責人進行法規鑑別，以確保全球各營運子公司確實遵循各國法令規章，同時我們也藉由企業內部跨部門或外部單位檢核，以確保相關執行之合規性。<br>
					<br>
					日月光的員工、主管、經理人或董事均不得進行或以任何理由指示他人進行非法或不道德的行為。同時為了進一步強化法律遵循與公司治理工作，2016年日月光董事會亦通過或修訂包含商業行為與道德準則、公平競爭暨反托拉斯法遵循政策、誠信經營作業程序及行為指南及反貪腐防範辦法等與法規遵循有關之作業程序。2016年日月光並未受到任何公司治理法規相關的罰金(鍰) 或非金錢處分，並且沒有貪腐案件或抑制自由市場的壟斷或不公平競爭行為。<br>
					<br>
					持續的教育訓練是日月光法規遵循工作的主要推動方式。我們不定期舉辦一系列的研討會及課程讓員工認識法律和了解關鍵法規遵循議題，包括基本法律意識、智慧財產保護、機密資訊保護、環境保護、反貪腐、合約風險管理、無衝突礦產等。<br>
					<br>
					日月光將以健全管理體系、落實法規鑑別與實施教育訓練來作為持續強化法規遵循的方針，並將全面遵法作為公司的重要政策。
				</p>
			</div>
			<div class="col-md-5 col-sm-5">
				<strong>管理體系</strong>
				<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/regulatory_compliance_and_risk_management.png"><br><br>
			</div>
			<div class="clearfix"></div>

			<article class="col-xs-12">
				<strong>日月光法規遵循管理流程</strong>
				<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/regulatory_compliance_and_risk_management2.png" class="hide-in-small">
				<div class="col-xs-12 hide-in-large nopadding">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/regulatory_compliance_and_risk_management21.png">
				</div>
				<div class="clearfix"></div><br>
				<h4 class="sub-title">風險管理</h4>
			</article>

			<div class="col-md-7 col-sm-7">
				<p>
					日月光通過組織中現有部門或功能單位(或稱風險職責單位)進行風險管理。此外，我們的高雄廠、中壢廠、上海材料廠(2016年新增)、USI以及所有的集團部門皆有實施企業風險管理(ERM)專案。我們鑑別出可能對經營目標產生影響的風險/ 事件，評估後決定適當的應對措施，此外日月光亦將長期新興風險的識別和管理納入企業風險管理計劃專案。我們建立預防、預警、應變、危機管理和營運持續計畫，來減輕、轉移或規避風險。我們相信，通過完善的管理方案，日月光已經將各種風險情境有效納入管控。<br><br>

					日月光的風險管理過程如下：首先，鑑別企業層面和營運層面的風險，排序記錄於風險登錄表(Risk Register)<a href="javascript:" data-toggle="popover" data-trigger="hover" data-content="此表包含風險的整體性說明、風險特徵（情景和衝擊）描述以及現有的風險管理活動（包括減緩策略/控制措施）。" data-placement="bottom">*</a>接著，根據風險等級<a href="javascript:" data-toggle="popover" data-trigger="hover" data-content="風險等級係根據發生頻率與衝擊程度而定。" data-placement="bottom">*</a>與控制有效性來評估主要風險，並且將其繪製對應於風險地圖上。此外，我們採用相關性分析(correlation analysis)檢視主要風險因子間是否存有高度關聯性。必要時會制訂進一步的風險減緩計畫來降低剩餘風險。主要風險會隨同因應計畫呈報給高階管理階層，每季定時監控計畫進展。
				</p>
			</div>
			<div class="col-md-5 col-sm-5">
				<strong>風險管理組織體系</strong>
				<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/regulatory_compliance_and_risk_management1.pngg"><br><br>
			</div>
			<div class="clearfix"></div>

			<article class="col-xs-12">
				<strong>日月光法規遵循管理流程</strong>
				<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/regulatory_compliance_and_risk_management3.png" class="hide-in-small">
				<div class="col-xs-12 hide-in-large nopadding">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/regulatory_compliance_and_risk_management31.png">
				</div>
				<div class="clearfix"></div><br>
				<p>
					針對已辨識及分析的風險，主要風險相應的監控措施和控制機制如下:
				</p>
			</article>
		</div>
		<div class="content-lg row csr">
			<article class="col-xs-12">
				<h4 class="sub-title">長期新興風險</h4>
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

					<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
								<span class="black-text-in-box accordion-center-text">全球勞工法規的變化</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>

						<div id="collapseOne" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<div class="col-sm-12">
									<p>
										新的勞動法律法規可能會導致支出增加，或者要求日月光改變管理流程，從而影響我們的營運績效。例如，最近台灣「勞動基準法」的「一例一休」規定(所有勞工每週可以有一天的例假及一天的休息日(前者為強制休假、後者則保留彈性)) 施行之後，我們的勞動力成本相應增加，從而降低公司利潤以及毛利。此外，工人班次的安排變得更加困難，更不靈活，因此更難以滿足客戶要求的交期。我們的因應方針是，請專人詳細介紹勞工法規的變化，開發調度員工班次的資訊管理系統，進行第二專長培訓課程，以及使用自動化系統取代人工。
									</p>
								</div>
							</div>
						</div>
	  				</div>

	  				<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
								<span class="black-text-in-box accordion-center-text">突發性災害</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>

						<div id="collapseTwo" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingTwo">
							<div class="panel-body">
								<div class="col-sm-12">
									<p>
										諸如地震等災害可能導致營運中斷，資產和設備損壞，員工傷亡或產品交期延遲。雖然我們可能不會受到地震的直接影響，但地震可能會中斷客戶的生產，而導致需求下降。對此，我們持續加強營運持續管理機制，建立災害處理專任團隊，並且將可能發生的災害作為各部門運持續管理的模擬情境。
									</p>
								</div>
							</div>
						</div>
	  				</div>

				<h4 class="sub-title">財務風險</h4>

	  				<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
								<span class="black-text-in-box accordion-center-text">利率變化</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>

						<div id="collapseThree" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingThree">
							<div class="panel-body">
								<div class="col-sm-12">
									<p>
										日月光的利率風險主要涉及到我們的長期貸款浮動利率，這長期貸款通常用於我們的企業活動和資本支出。我們用利率交換(interest rate swap, IRS)契約，來減輕我們的長期貸款利率風險。
									</p>
								</div>
							</div>
						</div>
	  				</div>

	  				<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
								<span class="black-text-in-box accordion-center-text">匯率變動</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>

						<div id="collapseFour" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingFour">
							<div class="panel-body">
								<div class="col-sm-12">
									<p>
										日月光的外匯貨幣風險來自新台幣的匯率變動。為了避免外匯匯率波動所導致之公司價值減損和未來現金流的波動性(volatility)，我們利用遠期外匯合約(currency forward contracts)和交換合約(swap contracts)來降低外匯波動對公司經營結果的影響。
									</p>
								</div>
							</div>
						</div>
	  				</div>

	  			</div>
  			</article>
  		</div>
		<div class="content-lg row csr">
			<article class="col-xs-12">
				<h4 class="sub-title">其他風險</h4>
				<p>
					氣候變遷相關風險因應詳見<a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "climate_change_management" })">氣候變遷管理與能源效率</a>。有關其它風險管理的詳細信息，請參閱我們的<a href="http://ir.aseglobal.com/attachment/20170612161243419711576_tc.pdf" target="_blank">106年度公司年報</a>之「第柒章：六、風險事項分析評估」。
				</p>
			</article>
		</div>
	</section>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script>
	$(document).ready(function(){
	    $('[data-toggle="popover"]').popover();   
	});
	</script>