﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/tw/_Layout.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-csr">
		<h1 class="page-title title-large">企業社會責任</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "/" })"><i class="icon-home"></i><span itemprop="name">首頁</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })"><span itemprop="name">企業社會責任</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Sustainability_Governance", "CSR", new { lang = ViewBag.language.lang })"><span itemprop="name">永續治理</span></a>
					<meta itemprop="position" content="3" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "sustainability_management" })"><span itemprop="name">企業永續管理</span></a>
					<meta itemprop="position" content="4" />
				</li>
			</ol>
		</div>
	</div>

	<div class="breadcrumbs-pc pull-left" id="breadcrumbs-pc">
	<!-- PC版選單breadcrumbs內容 -->
		<ul class="breadcrumbs-view" id="breadcrumbs-view">
			<li class="dropdown-item">
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })">技術</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Solution" })">解決方案</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" })">產品</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "ir" })">投資人關係</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })">企業社會責任</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "About" })">關於日月光集團</a></li>
				</ul>
			</li>
			<li class="dropdown-item">
				<a href="csr.html">企業社會責任</a>
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.Action("Letter_Chairman", "CSR", new { lang = ViewBag.language.lang })">董事長的話</a></li>
					<li><a href="@Url.Action("Sustainability_Governance", "CSR", new { lang = ViewBag.language.lang })" class="active">永續治理</a></li>
					<li><a href="@Url.Action("Stakeholder_Engagement", "CSR", new { lang = ViewBag.language.lang })">利害關係人專區</a></li>
					<li><a href="http://ir.aseglobal.com/c/ir_corpor.php">公司治理</a></li>
					<li><a href="@Url.Action("environmental_sustainability", "CSR", new { lang = ViewBag.language.lang })">環境永續</a></li>
					<li><a href="@Url.Action("Employee_Care_Development", "CSR", new { lang = ViewBag.language.lang })">員工關懷與發展</a></li>
					<li><a href="@Url.Action("Supply_Chain_Development", "CSR", new { lang = ViewBag.language.lang })">供應鏈發展</a></li>
					<li><a href="@Url.Action("Corporate_Citizenship_Social_Involvement", "CSR", new { lang = ViewBag.language.lang })">企業公民與社會參與</a></li>
					<li><a href="@Url.Action("Downloads", "CSR", new { lang = ViewBag.language.lang })">企業社會責任報告書下載專區</a></li>
				</ul>
			</li>
		</ul>
	</div>
	<!-- Letter from the Chairman -->
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">企業永續管理</h3>
				<p>
					日月光集團為全球半導體封裝測試服務領導者及主要的系統與核心技術整合者，在社會轉型至綠色及低碳經濟的過程中，扮演重要的角色。我們視永續發展與企業公民為公司成長的機會，承諾提供具生態效益及負責任的服務給我們的客戶，俾以在環境、社會及公司治理三方面有優異的績效表現。<br>
					<br>
					日月光集團將引領創新及永續的企業責任實踐，為產業界、企業界、利害關係人和全體社會帶來正面的影 響力。<br>
					<br>
					日月光集團致力於以策略性做法追求企業的永續成長，不僅會持續進行成本控管、整合性風險管理以及先進技術開發，更會以負責任的態度運用自然、社會與人力資本，與我們所仰賴並汲取資源的土地共存共榮。
				</p>
				<h4 class="sub-title">永續管理架構</h4>
				<p>
					為履行對永續發展之願景與承諾，我們訂定並發佈「企業社會責任實務守則<a href="javascript:;" data-toggle="popover" data-trigger="hover" data-content="「企業社會責任實務守則」，可詳閱重要公司文件。" data-placement="bottom">*</a>」作為日月光實踐企業社會責任之最高指導原則；並訂定「日月光集團企業永續發展與企業公民政策」作為永續發展之政策與承諾。以守則與政策為根本，建構一套永續管理架構，為尋求長期策略聚焦方向並落實於日常營運管理，首先鑑別及評估永續相關趨勢所伴隨的商業動機或風險與機會，擬定對應之長期「永續發展策略」，以聚焦日月光未來關注之重點，同時搭配「永續指南」作為日常營運管理策略的永續導引方針。在永續管理與執行過程中，透過關鍵夥伴與利害關係人之回饋，持續調整我們的永續發展方向與目標，並將永續發展元素融入商業決策過程以強化公司之營運，同時實踐企業社會責任，促成經濟、環境與社會之進步。
				</p>
				<br>
				<div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/corporate_sustainability_management1.png">
				</div>
				<div class="clearfix"></div>
				<br>
				<h4 class="sub-title">永續管理組織</h4>
				<p>
					日月光於2015年正式設立「集團永續發展委員會」為集團永續發展管理的最高層級組織，由五位身兼董事之高階管理階層組成，並由集團營運長擔任主席。該委員會直接督導集團永續發展相關議題，做出決策並直接向董事會報告，亦訂定「日月光集團永續發展組織及運作辦法」，明確規範該組織之職權及運作，並設置「集團企業永續中心」擔任集團永續發展委員會的秘書處，是負責推動集團永續發展的專職單位，每季將集團永續發展之推動與執行狀況向「集團永續發展委員會」報告。 <br>
					<br>
					我們設立五個與永續發展議題面向相應且專業的「永續發展團隊」，以支持集團永續發展委員會的運作，包括「公司治理團隊」、「環境與綠色創新團隊」、「供應鏈管理團隊」、「員工關懷與發展團隊」以及「社會參與團隊」，成員由相關業務單位組成，並指派相關副總或單位主管擔任團隊之總幹事。各「永續發展團隊」依據各自實務上的需求，以不同的運作模式，如會議( 團隊定期會議、專案會議及特定議題溝通會議等) 與教育訓練(包含教育宣導、專家講座、內部論壇及工作坊等)，整合與協調日月光全球資源，並透過外部組織的參與，與不同的利害關係人溝通議合，強化各團隊的永續職能，發起相關永續領域的重點專案並擬定相關績效指標，協助集團推動與落實永續治理制度。日月光全球製造廠區則遵循「集團永續發展委員會」之決策，負責於日常營運中管理當地永續議題及落實永續行動。<br>
					<br>
					在集團永續發展委員會年度會議中，委員會成員審閱集團整年度之永續績效與目標達成度，同時設立次年度各永續發展團隊之運作方向、目標與推動計畫。各永續發展團隊之管理及運作實際情形請詳相關章節。
				</p>
				<br>
				<div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/corporate_sustainability_management2.png">
				</div>
				<div class="clearfix"></div>
				<br><br>

			</article>
		</div>
	</section>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script>
	$(document).ready(function(){
	    $('[data-toggle="popover"]').popover();   
	});
	</script>