﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-solution">
		<h1 class="page-title title-large">SOLUTION PLATFORM</h1>
	</section>


	

	<!-- Project-B Fix, Remove Old Breadcrumb -->
		<section class="inside-article">
		<!--麵包屑-->
		<div class="col-xs-12 col-md-6 living-box">
		
			<!--麵包屑-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
			</ol>
		</div>
	
				<article class="col-xs-12">
					<h3 class="title">Smart Living</h3>
					<div class="content">
						<p>Smart living realized a better quality of life. Appliances within the house are connected through mobile devices with the connectivity of sensors, Bluetooth, and internet. Users can monitor the status of the house and make corresponding control to the appliances. When abnormal events happen, notifications will be pushed up through the App and sent the alert through the smart light. Smart living makes our life more convenient, safety and comfortable.
						</p>
					</div>
				</article>
			</div>
			<article class="col-xs-12">
			<div class="content-lg row csr pro">
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

					<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a class="link-btn" data-link="s05" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
								<span class="black-text-in-box accordion-center-text">Remote-controlled appliances</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>
						<div id="collapseFive" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<div class="col-xs-12 pl-0 collapse-area">
									<div class="sol-img"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/sm01.png" alt=""><span>Remote status check and control<br>                    <ul class="sol-sol">
											<li class="sol-title">Solutions</li>
											<li>Handset RF Transceiver SiP</li>
											<li>2.5D IC</li>
											<li>BLE + MCU + WiFi Connectivity SiP</li>
											<li>BLE + MCU + AoP RF SiP</li>
										</ul></span></div>
									<ul class="sol-list">
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/living-05-1.jpg"  alt=""><br>
											<!-- <span>Handset RF Transceiver SiP</span> -->
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/sm07-1.png" alt=""><br>
											<!-- <span>2.5D IC</span> -->
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/living-05-2.jpg"  alt=""><br>
											<!-- <span>BLE+MCU+WiFi Connectivity SiP</span> -->
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/living-05-3.jpg"  alt=""><br>
											<!-- <span>BLE+MCU+AoP RF SiP</span> -->
										</li>
									</ul>
								</div>
							</div>
							<div class="mobile-img">
								<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/house-m01.jpg"  alt="">
							</div>
						</div>
	  				</div>

					<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a class="link-btn" data-link="s03" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
								<span class="black-text-in-box accordion-center-text">Ambient temperature monitoring</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>
						<div id="collapseThree" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<div class="col-xs-12 pl-0 collapse-area">
									<div class="sol-img"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/sm03.png" alt=""><span>Remote-detection of temperature fluctuations, app notifications<br><ul class="sol-sol">
											<li class="sol-title">Solutions</li>
											<li>Environment Sensor + Wireless SiP</li>

										</ul></span></div>
									<ul class="sol-list">
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/sm03-1.jpg"  alt=""><br>
											<!-- <span>Environment Sensor + Wireless SiP</span> -->
										</li>
									</ul>
								</div>
							</div>
							<div class="mobile-img">
								<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/house-m03.jpg"  alt="">
							</div>
						</div>
	  				</div>

	  				<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a class="link-btn" data-link="s06" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
								<span class="black-text-in-box accordion-center-text">Ambient light smart control</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>
						<div id="collapseSix" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<div class="col-xs-12 pl-0 collapse-area">
									<div class="sol-img"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/sm01.png" alt=""><span>Automatic daylight detection to turn lights on/off<br>                    <ul class="sol-sol">
											<li class="sol-title">Solutions</li>
											<li>Ambient Light Sensor + Wireless SiP</li>

										</ul></span></div>
									<ul class="sol-list">
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/living-06-1.jpg"  alt=""><br>
											<!-- <span>Ambient Light Sensor + Wireless SiP</span> -->
										</li>
									</ul>
								</div>
							</div>
							<div class="mobile-img">
								<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/house-m01.jpg"  alt="">
							</div>
						</div>
	  				</div>

					<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a class="link-btn" data-link="s01" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
								<span class="black-text-in-box accordion-center-text">App-controlled lighting</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>
						<div id="collapseOne" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<div class="col-xs-12 pl-0 collapse-area">
									<div class="sol-img"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/sm01.png" alt=""><span>	
Lights can be switching among Living Room, Sleep, Party, Manual modes through App<br>                    <ul class="sol-sol">
											<li class="sol-title">Solutions</li>
											<li>BLE + MCU + AoP SiP</li>
										</ul></span></div>
									<ul class="sol-list">
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/sm01-2.jpg"  alt=""><br>
											<!-- <span>BLE + MCU + AoP SiP</span> -->
										</li>
									</ul>
								</div>
							</div>
							<div class="mobile-img">
								<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/house-m01.jpg"  alt="">
							</div>
						</div>
	  				</div>

	  				<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a class="link-btn" data-link="s02" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
								<span class="black-text-in-box accordion-center-text">Security system</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>
						<div id="collapseTwo" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<div class="col-xs-12 pl-0 collapse-area">
									<div class="sol-img"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/sm02.png" alt=""><span>Break-in detection, intruder lighting, app notifications<br><ul class="sol-sol">
											<li class="sol-title">Solutions</li>
											<li>Motion Sensor + Wireless SiP</li>
										</ul></span></div>
									<ul class="sol-list">
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/sm02-1.png" alt=""><br>
											<!-- <span>Motion Sensor + Wireless SiP</span> -->
										</li>
									</ul>
								</div>
							</div>
							<div class="mobile-img">
								<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/house-m02.jpg"  alt="">
							</div>
						</div>
	  				</div>

	  				<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a class="link-btn" data-link="s04" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
								<span class="black-text-in-box accordion-center-text">In-door air quality monitoring</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>
						<div id="collapseFour" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<div class="col-xs-12 pl-0 collapse-area">
									<div class="sol-img"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/sm04.png" alt=""><span>Detection of Alcohol/CO/CO2/VOC; automatically flashing house lights in the event of an anomaly<br><ul class="sol-sol">
											<li class="sol-title">Solutions</li>
											<li>Gas Sensor + Wireless SiP</li>
										</ul></span></div> 
									<ul class="sol-list">
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/sm04-1.jpg"  alt=""><br>
											<!-- <span>Gas Sensor + Wireless SiP</span> -->
										</li>
									</ul>
								</div>
							</div>
							<div class="mobile-img">
								<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/house-m04.jpg"  alt="">
							</div>
						</div>
	  				</div>

	  				<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a class="link-btn" data-link="s07" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
								<span class="black-text-in-box accordion-center-text">Energy saving control</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>
						<div id="collapseSeven" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<div class="col-xs-12 pl-0 collapse-area">
									<div class="sol-img"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/sm01.png" alt=""><span>Energy efficient management Remote control<br>                    <ul class="sol-sol">
											<li class="sol-title">Solutions</li>
											<li>Wireless SiP
</li>
											<li>Connectivity SiP</li>
											<li>Lora</li>
										</ul> </span></div>
									<ul class="sol-list">
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/living-07-1.jpg"  alt=""><br>
											<!-- <span>Wireless SiP, Connectivity SiP, Lora</span> -->
										</li>
									</ul>
								</div>
							</div>
							<div class="mobile-img">
								<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/house-m01.jpg"  alt="">
							</div>
						</div>
	  				</div>

				</div>
			</div>
			</article>
		</div>
		<div class="col-xs-12 col-md-6 living-box living">
			<div class="house-tool">
				<div class="s01 tool01"></div>
				<div class="s02 tool02"></div>
				<div class="s03 tool03"></div>
				<div class="s04 tool04"></div>
				<div class="s05 tool05"></div>
				<div class="s06 tool06"></div>
				<div class="s07 tool07"></div>
			</div>
		</div>

		<div class="preload">
			<div class="tool01 change"></div>
			<div class="tool02 change"></div>
			<div class="tool03 change"></div>
			<div class="tool04 change"></div>
			<div class="tool05 change"></div>
			<div class="tool06 change"></div>
			<div class="tool07 change"></div>
		</div>
	</section>
                    <style>
		.collapse-area .sol-img{width:80%;float:left;}
		.collapse-area .sol-list{width:20%;float:left;}
		.collapse-area .sol-list li{width:100%;}
		.collapse-area .sol-list.city{width:80%;float:left;}
		.collapse-area .sol-list.city	li{text-align:left;}
	.sol-sol{padding:0;}
	.sol-sol{margin-left:50px;}
	.sol-sol li{margin-left:10px;}
	.sol-sol .sol-title{list-style:none;margin-left:0;}
</style>
<script>
$( document ).ready(function() {
	$('.accordion-center-text').click(function(e){
		if ($(this).hasClass('black-text-in-box')) {
			$('.blue-text-in-box').removeClass('blue-text-in-box').addClass('black-text-in-box');
			$(this).removeClass("black-text-in-box");
			$(this).addClass("blue-text-in-box");      //add the class to the clicked element
		} else {
			$(this).removeClass("blue-text-in-box");
			$(this).addClass("black-text-in-box");      //add the class to the clicked element
		}
	});
	
	$('.link-btn').click(function(){
		// 取得被點擊元素的data-link屬性
		var target = $(this).data('link');
		$('.house-tool div.'+target).toggleClass('change').siblings().removeClass('change');
	});
	$.preloadImages = function() {
	  for (var i = 0; i < arguments.length; i++) {
	    $("<img />").attr("src", arguments[i]);
	  }
	}

	$.preloadImages(
		"https://2311cdn.r.worldssl.net/picimages/solutions/house-tool01-change.png")",
		"https://2311cdn.r.worldssl.net/picimages/solutions/house-tool02-change.png")",
		"https://2311cdn.r.worldssl.net/picimages/solutions/house-tool03-change.png")",
		"https://2311cdn.r.worldssl.net/picimages/solutions/house-tool04-change.png")"
		);
	
})
</script>
