﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-solution">
		<h1 class="page-title title-large">SOLUTION PLATFORM</h1>
	</section>

	

	
	<!-- About Content A -->
	<section class="inside-article">
		<!--麵包屑-->
		<div class="col-xs-12 col-md-6 living-box nopadding">
			<div class="content-lg row">
				<div class="col-xs-12">
					<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
			</ol>
				</div>
	<!-- Project-B Fix, Remove Old Breadcrumb -->
				<article class="col-xs-12">
					<h3 class="title">Smart Automotive</h3>
					<div class="content">
						<p>Smart automotive enables a comfortable and convenient driving experience with intelligent and carbon-reducing by integrating AI, communication, and entertainment. Semiconductor manufacturers integrates packaging technologies with sensors such as image sensor, environment sensors, and controllers to manufacture various IC s with high standard of safety for realizing various functions that smart automotive required. ASE provides comprehensive one-stop manufacturing services from wafers to packages to modules, a turnkey solution for rapid time-to-market and cost effectiveness. Long-term partnered with global automotive tier-one suppliers and qualified with TS16949, ISO26262 certification, ASE is able to provide complete packaging solution for next generation automotive applications with high reliability, integration and efficiency.</p>
						
					</div>
				</article>
			</div>

			<div class="living-box auto">
				<div class="auto-tool">
					<div class="s01 auto01"></div>
					<div class="s02 auto02"></div>
					<div class="s03 auto03"></div>
					<div class="s04 auto04"></div>
					<div class="s05 auto05"></div>
					<div class="s06 auto06"></div>
					<div class="s07 auto07"></div>
					<div class="s08 auto08"></div>
					<div class="s09 auto09"></div>
				</div>
			</div>
			
		</div>
		<div class="col-xs-12 col-md-6">
			<div class="content-lg row csr pro mt-32 margin-top-ali">
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

					
					<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a class="link-btn" data-link="s02" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
								<span class="black-text-in-box accordion-center-text">Safety</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>
						<div id="collapseTwo" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<div class="col-xs-12 pl-0">
									<p class="auto-img auto-box"><img style="float:left;" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto01-2.png" alt="">
									<span style="display: block;margin-top: 15px;">
									<span style="width:4px; height:4px; border-radius: 2px; background: #767777;
    display: inline-block; top:-4px; margin-left:4px"></span> Airbag control module 
									<span style="width:4px; height:4px; border-radius: 2px; background: #767777;
    display: inline-block; top:-4px; margin-left:4px;"></span> Airbag Crash Sensors 
									<span style="width:4px; height:4px; border-radius: 2px; background: #767777;
    display: inline-block; top:-4px; margin-left:4px"></span> Event Data Recorder </span>
									</p>
									<ul class="sol-list auto-box">
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-01.png" alt=""><br>
											<span>Leadframe</span>
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-02.png" alt=""><br>
											<span>Wire Bond</span>
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-04.png" alt=""><br>
											<span>MEMS &amp; Sensors</span>
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-05.png" alt=""><br>
											<span>Module</span>
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-06.png" alt=""><br>
											<span>Advanced</span>
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-06.png" alt=""><br>
											<span>Inertial Measurement Unit</span>
										</li>
									</ul>
								</div>
							</div>
							<div class="mobile-img">
								<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-m02.jpg"  alt="">
							</div>
						</div>
	  				</div>

	  				<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a class="link-btn" data-link="s09" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseNight" aria-expanded="false" aria-controls="collapseNight">
								<span class="black-text-in-box accordion-center-text">ADAS</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>
						<div id="collapseNight" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<div class="col-xs-12 pl-0">
									<p class="auto-img auto-box">
									<img style="float:left;" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto01-9.png" alt="">
									<span style="display: block;margin-top: 10px;">
									<span style="width:4px; height:4px; border-radius: 2px; background: #767777;
    display: inline-block; top:-4px; margin-left:4px"></span> ADAS control module 
									<span style="width:4px; height:4px; border-radius: 2px; background: #767777;
    display: inline-block; top:-4px; margin-left:4px;"></span> Camera Modules 
									<span style="width:4px; height:4px; border-radius: 2px; background: #767777;
    display: inline-block; top:-4px; margin-left:4px"></span> Sensor Modules </span><span style="width:4px; height:4px; border-radius: 2px; background: #767777;
    display: inline-block; top:-4px; margin-left:4px"></span> V2X communications </span></p>
									<ul class="sol-list auto-box">
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-01.png" alt=""><br>
											<span>Leadframe</span>
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-02.png" alt=""><br>
											<span>Wire Bond</span>
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-03.png" alt=""><br>
											<span>Flip Chip</span>
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-04.png" alt=""><br>
											<span>MEMS &amp; Sensors</span>
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-05.png" alt=""><br>
											<span>Module</span>
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-06.png" alt=""><br>
											<span>Advanced</span>
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-06.png" alt=""><br>
											<span>Inertial Measurement Unit</span>
										</li>
									</ul>
								</div>
							</div>
							<div class="mobile-img">
								<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-m09.jpg"  alt="">
							</div>
						</div>
	  				</div>


	  				<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a class="link-btn" data-link="s07" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
								<span class="black-text-in-box accordion-center-text">Body</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>
						<div id="collapseSeven" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<div class="col-xs-12 pl-0">
									<p class="auto-img auto-box"><img style="float:left;" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto01-7.png" alt=""><span style="display: block;margin-top: 10px;"><span style="width:4px; height:4px; border-radius: 2px; background: #767777;
    display: inline-block; top:-4px; margin-left:4px"></span> Climate control 
									<span style="width:4px; height:4px; border-radius: 2px; background: #767777;
    display: inline-block; top:-4px; margin-left:4px;"></span> Remote keyless entry system 
									<span style="width:4px; height:4px; border-radius: 2px; background: #767777;
    display: inline-block; top:-4px; margin-left:4px"></span> Lighting </span><span style="width:4px; height:4px; border-radius: 2px; background: #767777;
    display: inline-block; top:-4px; margin-left:4px"></span> Electronic control units </span></p>
									<ul class="sol-list auto-box">
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-01.png" alt=""><br>
											<span>Leadframe</span>
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-02.png" alt=""><br>
											<span>Wire Bond</span>
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-04.png" alt=""><br>
											<span>MEMS &amp; Sensors</span>
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-05.png" alt=""><br>
											<span>Module</span>
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-06.png" alt=""><br>
											<span>Advanced</span>
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-06.png" alt=""><br>
											<span>Inertial Measurement Unit</span>
										</li>
									</ul>
								</div>
							</div>
							<div class="mobile-img">
								<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-m07.jpg"  alt="">
							</div>
						</div>
	  				</div>


	  				<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a class="link-btn" data-link="s05" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
								<span class="black-text-in-box accordion-center-text">Infotainment</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>
						<div id="collapseFive" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<div class="col-xs-12 pl-0">
									<p class="auto-img auto-box"><img style="float:left;" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto01-5.png" alt=""><span style="display: block;margin-top: 10px;"><span style="width:4px; height:4px; border-radius: 2px; background: #767777;
    display: inline-block; top:-4px; margin-left:4px"></span> Audio head units 
									<span style="width:4px; height:4px; border-radius: 2px; background: #767777;
    display: inline-block; top:-4px; margin-left:4px;"></span> Fixed navigation systems 
									<span style="width:4px; height:4px; border-radius: 2px; background: #767777;
    display: inline-block; top:-4px; margin-left:4px"></span> Infotainment head units </span><span style="width:4px; height:4px; border-radius: 2px; background: #767777;
    display: inline-block; top:-4px; margin-left:4px"></span> Rear seat entertainment </span></p>
									<ul class="sol-list auto-box small-m">
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-01.png" alt=""><br>
											<span>Leadframe</span>
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-02.png" alt=""><br>
											<span>Wire Bond</span>
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-07.png" alt=""><br>
											<span>Wafer Level</span>
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-04.png" alt=""><br>
											<span>MEMS &amp; Sensors</span>
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-05.png" alt=""><br>
											<span>Module</span>
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-06.png" alt=""><br>
											<span>Advanced</span>
										</li>
									</ul>
								</div>
							</div>
							<div class="mobile-img">
								<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-m05.jpg"  alt="">
							</div>
						</div>
	  				</div>


	  				<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a class="link-btn" data-link="s04" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
								<span class="black-text-in-box accordion-center-text">Chassis</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>
						<div id="collapseFour" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<div class="col-xs-12 pl-0">
									<p class="auto-img auto-box"><img style="float:left;" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto01-4.png" alt=""><span style="display: block;margin-top: 10px;"><span style="width:4px; height:4px; border-radius: 2px; background: #767777;
    display: inline-block; top:-4px; margin-left:4px"></span> Antilock braking (ABS) 
									<span style="width:4px; height:4px; border-radius: 2px; background: #767777;
    display: inline-block; top:-4px; margin-left:4px;"></span> Stability Control 
									<span style="width:4px; height:4px; border-radius: 2px; background: #767777;
    display: inline-block; top:-4px; margin-left:4px"></span> Tire pressure monitoring </span><span style="width:4px; height:4px; border-radius: 2px; background: #767777;
    display: inline-block; top:-4px; margin-left:4px"></span> Steer/Brake-by-wire </span></p>
									<ul class="sol-list auto-box">
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-01.png" alt=""><br>
											<span>Leadframe</span>
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-02.png" alt=""><br>
											<span>Wire Bond</span>
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-07.png" alt=""><br>
											<span>Wafer Level</span>
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-04.png" alt=""><br>
											<span>MEMS &amp; Sensors</span>
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-05.png" alt=""><br>
											<span>Module</span>
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-06.png" alt=""><br>
											<span>Advanced</span>
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-06.png" alt=""><br>
											<span>Inertial Measurement Unit</span>
										</li>
									</ul>
								</div>
							</div>
							<div class="mobile-img">
								<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-m04.jpg"  alt="">
							</div>
						</div>
	  				</div>


					<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a class="link-btn" data-link="s01" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
								<span class="black-text-in-box accordion-center-text">EV/HEV</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>
						<div id="collapseOne" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<div class="col-xs-12 pl-0">
									<p class="auto-img auto-box"><img style="float:left;" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto01-1.png" alt=""><span style="display: block;margin-top: 15px;"><span style="width:4px; height:4px; border-radius: 2px; background: #767777;
    display: inline-block; top:-4px; margin-left:4px"></span> Electric drive controller 
									<span style="width:4px; height:4px; border-radius: 2px; background: #767777;
    display: inline-block; top:-4px; margin-left:4px;"></span> Battery management 
									<span style="width:4px; height:4px; border-radius: 2px; background: #767777;
    display: inline-block; top:-4px; margin-left:4px"></span> Inverter </span></p>
									<ul class="sol-list auto-box">
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-01.png" alt=""><br>
											<span>Leadframe</span>
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-02.png" alt=""><br>
											<span>Wire Bond</span>
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-04.png" alt=""><br>
											<span>MEMS &amp; Sensors</span>
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-05.png" alt=""><br>
											<span>Module</span>
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-06.png" alt=""><br>
											<span>Advanced</span>
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-06.png" alt=""><br>
											<span>Inertial Measurement Unit</span>
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-06.png" alt=""><br>
											<span>IGBT+Coupler</span>
										</li>
									</ul>
								</div>
							</div>
							<div class="mobile-img">
								<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-m01.jpg"  alt="">
							</div>
						</div>
	  				</div>


	  				<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a class="link-btn" data-link="s06" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
								<span class="black-text-in-box accordion-center-text">Instrumentation</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>
						<div id="collapseSix" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<div class="col-xs-12 pl-0">
									<p class="auto-img auto-box"><img style="float:left;" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto01-6.png" alt=""><span style="display: block;margin-top: 15px;"><span style="width:4px; height:4px; border-radius: 2px; background: #767777;
    display: inline-block; top:-4px; margin-left:4px"></span> Instrument cluster 
									<span style="width:4px; height:4px; border-radius: 2px; background: #767777;
    display: inline-block; top:-4px; margin-left:4px;"></span> Head-up display 
									</span></p>
									<ul class="sol-list auto-box small-m">
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-02.png" alt=""><br>
											<span>Wire Bond</span>
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-07.png" alt=""><br>
											<span>Wafer Level</span>
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-03.png" alt=""><br>
											<span>Flip Chip</span>
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-04.png" alt=""><br>
											<span>MEMS &amp; Sensors</span>
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-05.png" alt=""><br>
											<span>Module</span>
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-06.png" alt=""><br>
											<span>Advanced</span>
										</li>
									</ul>
								</div>
							</div>
							<div class="mobile-img">
								<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-m06.jpg"  alt="">
							</div>
						</div>
	  				</div>


	  				<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a class="link-btn" data-link="s08" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
								<span class="black-text-in-box accordion-center-text">Powertrain</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>
						<div id="collapseEight" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<div class="col-xs-12 pl-0">
									<p class="auto-img auto-box"><img style="float:left;" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto01-8.png" alt=""><span style="display: block;margin-top: 15px;"><span style="width:4px; height:4px; border-radius: 2px; background: #767777;
    display: inline-block; top:-4px; margin-left:4px"></span> Engine control module 
									<span style="width:4px; height:4px; border-radius: 2px; background: #767777;
    display: inline-block; top:-4px; margin-left:4px;"></span> Transmission control module </span></p>
									<ul class="sol-list auto-box">
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-01.png" alt=""><br>
											<span>Leadframe</span>
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-02.png" alt=""><br>
											<span>Wire Bond</span>
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-04.png" alt=""><br>
											<span>MEMS &amp; Sensors</span>
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-05.png" alt=""><br>
											<span>Module</span>
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-06.png" alt=""><br>
											<span>Advanced</span>
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-06.png" alt=""><br>
											<span>Inertial Measurement Unit</span>
										</li>
									</ul>
								</div>
							</div>
							<div class="mobile-img">
								<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-m08.jpg"  alt="">
							</div>
						</div>
	  				</div>


	  				<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a class="link-btn" data-link="s03" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
								<span class="black-text-in-box accordion-center-text">Aftermarket</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>
						<div id="collapseThree" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<div class="col-xs-12 pl-0">
									<p class="auto-img auto-box"><img style="float:left;" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto01-3.png" alt=""><span style="display: block;margin-top: 15px;"><span style="width:4px; height:4px; border-radius: 2px; background: #767777;
    display: inline-block; top:-4px; margin-left:4px"></span> Portable navigation devices 
									<span style="width:4px; height:4px; border-radius: 2px; background: #767777;
    display: inline-block; top:-4px; margin-left:4px;"></span> Audio head units 
									<span style="width:4px; height:4px; border-radius: 2px; background: #767777;
    display: inline-block; top:-4px; margin-left:4px"></span> Infotainment head units <span style="width:4px; height:4px; border-radius: 2px; background: #767777;
    display: inline-block; top:-4px; margin-left:4px"></span> Video recorders</span></p>
									<ul class="sol-list auto-box small-m">
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-01.png" alt=""><br>
											<span>Leadframe</span>
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-02.png" alt=""><br>
											<span>Wire Bond</span>
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-03.png" alt=""><br>
											<span>Flip Chip</span>
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-04.png" alt=""><br>
											<span>MEMS &amp; Sensors</span>
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-05.png" alt=""><br>
											<span>Module</span>
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-icon-06.png" alt=""><br>
											<span>Advanced</span>
										</li>
									</ul>
								</div>
							</div>
							<div class="mobile-img">
								<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/auto-m03.jpg"  alt="">
							</div>
						</div>
	  				</div>


	  				



				</div>
			</div>
		</div>

		<div class="preload">
			<div class="auto01 change"></div>
			<div class="auto02 change"></div>
			<div class="auto03 change"></div>
			<div class="auto04 change"></div>
			<div class="auto05 change"></div>
			<div class="auto06 change"></div>
			<div class="auto07 change"></div>
			<div class="auto08 change"></div>
			<div class="auto09 change"></div>
		</div>
	</section>	
<script>
$( document ).ready(function() {
	$('.accordion-center-text').click(function(e){
		if ($(this).hasClass('black-text-in-box')) {
			$('.blue-text-in-box').removeClass('blue-text-in-box').addClass('black-text-in-box');
			$(this).removeClass("black-text-in-box");
			$(this).addClass("blue-text-in-box");      //add the class to the clicked element
		} else {
			$(this).removeClass("blue-text-in-box");
			$(this).addClass("black-text-in-box");      //add the class to the clicked element
		}
	});
	
	$('.link-btn').click(function(){
		// 取得被點擊元素的data-link屬性
		var target = $(this).data('link');
		$('.auto-tool div.'+target).toggleClass('change').siblings().removeClass('change');
	});
	$( "#star-note" ).hide();
	$('.star-note').hover(
		function() {
	  		$( "#star-note" ).show();
	  	},function() {
	  		$( "#star-note" ).hide();
	  	
	});
})
</script>