﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-solution">
		<h1 class="page-title title-large">SOLUTION PLATFORM</h1>
		<!-- <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/products/banner_product_test.jpg" alt=""> -->
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->

	<!-- Technology list -->
	<section id="iconlink" class="iconlink linebg-2">
		<div class="content-lg">
			<ul class="row ">
				<li class="col-xs-12 col-sm-3  text-center">
					<a href="@Url.Action("solutions_smart_living", "SolutionPlatform", new { lang = ViewBag.language.lang })">
						<div class="imgbox">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/solutions_icon-01.png" alt="Fan Out" data-hover="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/solutions_icon-01_hover.png">
						</div>
						<div class="textbox">
							<h4>Smart Living</h4>
						</div>
						<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
					</a>
				</li>
				<li class="col-xs-12 col-sm-3  text-center">
					<a href="@Url.Action("solutions_smart_bike", "SolutionPlatform", new { lang = ViewBag.language.lang })">
						<div class="imgbox">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/solutions_icon-02.png" alt="SiP & Module Solutions" data-hover="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/solutions_icon-02_hover.png">
						</div>
						<div class="textbox">
							<h4>Smart Bike</h4>
						</div>
						<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
					</a>
				</li>
				<li class="col-xs-12 col-sm-3  text-center no-margin">
					<a href="@Url.Action("solutions_smart_city", "SolutionPlatform", new { lang = ViewBag.language.lang })">
						<div class="imgbox">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/solutions_icon-04.png" alt="TSV-Interposer Integration" data-hover="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/solutions_icon-04_hover.png">
						</div>
						<div class="textbox">
							<h4>Smart City</h4>
						</div>
						<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
					</a>
				</li>
				<li class="col-xs-12 col-sm-3 text-center no-margin">
					<a href="@Url.Action("solutions_smart_automotive", "SolutionPlatform", new { lang = ViewBag.language.lang })">
						<div class="imgbox">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/solutions_icon-03.png" alt="Flip Chip" data-hover="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/solutions_icon-03_hover.png">
						</div>
						<div class="textbox">
							<h4>Smart Automotive</h4>
						</div>
						<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
					</a>
				</li>
				<!--<li class="col-xs-12 col-sm-6 col-md-4 text-center">
					<a href="javascript:;">
						<div class="imgbox">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/solutions_icon-05.png" alt="Die Stacking" data-hover="https://2311cdn.r.worldssl.net/picimages/icon/solutions_icon-05_hover.png")">
						</div>
						<div class="textbox">
							<h4>Consumer Electronics</h4>
						</div>
						<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
					</a>
				</li>
				<li class="col-xs-12 col-sm-6 col-md-4 text-center">
					<a href="javascript:;">
						<div class="imgbox">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/solutions_icon-06.png" alt="IPD" data-hover="https://2311cdn.r.worldssl.net/picimages/icon/solutions_icon-06_hover.png")">
						</div>
						<div class="textbox">
							<h4>Networking</h4>
						</div>
						<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
					</a>
				</li>		-->
			</ul>
		</div>
	</section>
<style>
	.iconlink li:last-child{border:none;}
</style>
