﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/tw/_Layout.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-csr">
		<h1 class="page-title title-large">企業社會責任</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "/" })"><i class="icon-home"></i><span itemprop="name">首頁</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })"><span itemprop="name">企業社會責任</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("environmental_sustainability", "CSR", new { lang = ViewBag.language.lang })"><span itemprop="name">環境永續</span></a>
					<meta itemprop="position" content="3" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "climate_change_management" })"><span itemprop="name">氣候變遷管理</span></a>
					<meta itemprop="position" content="4" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "energy_management_and_conservation" })"><span itemprop="name">能源管理與節約</span></a>
					<meta itemprop="position" content="4" />
				</li>
			</ol>
		</div>
	</div>

	<div class="breadcrumbs-pc pull-left" id="breadcrumbs-pc">
	<!-- PC版選單breadcrumbs內容 -->
		<ul class="breadcrumbs-view" id="breadcrumbs-view">
			<li class="dropdown-item">
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })">技術</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Solution" })">解決方案</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" })">產品</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "ir" })">投資人關係</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })">企業社會責任</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "About" })">關於日月光集團</a></li>
				</ul>
			</li>
			<li class="dropdown-item">
				<a href="csr.html">企業社會責任</a>
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.Action("Letter_Chairman", "CSR", new { lang = ViewBag.language.lang })">董事長的話</a></li>
					<li><a href="@Url.Action("Sustainability_Governance", "CSR", new { lang = ViewBag.language.lang })">永續治理</a></li>
					<li><a href="@Url.Action("Stakeholder_Engagement", "CSR", new { lang = ViewBag.language.lang })">利害關係人專區</a></li>
					<li><a href="http://ir.aseglobal.com/c/ir_corpor.php">公司治理</a></li>
					<li><a href="@Url.Action("environmental_sustainability", "CSR", new { lang = ViewBag.language.lang })" class="active">環境永續</a></li>
					<li><a href="@Url.Action("Employee_Care_Development", "CSR", new { lang = ViewBag.language.lang })">員工關懷與發展</a></li>
					<li><a href="@Url.Action("Supply_Chain_Development", "CSR", new { lang = ViewBag.language.lang })">供應鏈發展</a></li>
					<li><a href="@Url.Action("Corporate_Citizenship_Social_Involvement", "CSR", new { lang = ViewBag.language.lang })">企業公民與社會參與</a></li>
					<li><a href="@Url.Action("Downloads", "CSR", new { lang = ViewBag.language.lang })">企業社會責任報告書下載專區</a></li>
				</ul>
			</li>
		</ul>
	</div>

	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">		
				<h3 class="title">能源管理與節約</h3>
				<p>
					日月光的工廠絕大部分購買使用公營發電廠電力，少部分直接使用天然氣、石油或柴油為燃料。為檢視能源使用狀況與管理改善能源效率，我們成功導入ISO50001國際標準於日月光高雄、中壢與USI的張江、昆山、深圳、台灣廠區。此外，日月光高雄廠建立一套能源管理資訊平台，以此監測即時耗能狀況。
				</p>
			</article>
			<div class="col-sm-6">
				<h4 class="sub-title">化石燃料</h4>
				<p>
					石化燃料主要使用於發電機組、堆高機、公務車及位於起居區之鍋爐。以熱值(千兆焦耳，GJ)來分類，2013到2016年間主要燃料使用如附錄日月光環境數據所示。2016年我們主要使用的化石燃料為車用汽油。
				</p>
				<div class="col-xs-12 col-sm-10 text-center nopadding">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/energy_management_and_conservation1.png"><br><br>
					<strong>2016日月光燃料使用</strong><br><br>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="col-sm-6">
				<h4 class="sub-title">外購電力</h4>
				<p>
					我們能源管理的主要指標為耗電密集度(千度電MWh/百萬新台幣營收)，與2015年相比，因消費性電子產品訂單減少影響營收，以及新設廠房試營運增加耗電量，我們在2016年整體耗電密集度較2015年增加7%，我們將持續檢視節電的熱點，優化生產管理與排程。
				</p>
				<div class="col-xs-12 col-sm-10 text-center nopadding">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/energy_management_and_conservation2.png"><br><br>
					<strong>外購電力</strong><br><br>
				</div>
			</div>
			<div class="clearfix"></div>
			<div class="col-sm-6">
				<h4 class="sub-title">投資綠色電力和清潔能源</h4>
				<p>
					於溫室氣體管理上最有意義的做法就是轉移至非碳能源的使用，儘管我們的電力需求相當大，我們仍視其為未來可行的替代方案，以此降低我們的溫室氣體總排放量。
				</p>
				<div class="col-xs-12 col-sm-10 text-center nopadding">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/energy_management_and_conservation3.png"><br><br>
				</div>
				<div class="clearfix"></div>
			</div>
			<article class="col-sm-6">
				<div class="blue-box" style="padding-top: 5px; padding-bottom: 5px">
					<h4 class="sub-title">綠電認購</h4>
					<p>
						經濟部能源局自2014年7月1日起開始了綠能先鋒計畫<a href="javascript:;" data-toggle="popover" data-trigger="hover" data-content="This program was announced in 2014 in response to Taiwanese government's Green Energy and carbon reduction policy under “Golden Decade National Vision - Sustainable Environment”" data-placement="bottom">*</a>，2016年日月光集團總共認購了350萬度綠電，這些綠電來自再生能源（主要為太陽能及台灣陸域風力發電），自2014年起，我們的持續認購已累積至1,070萬度綠電，並於2016年獲得經濟部頒發綠電感恩賞中的「特殊貢獻獎」及「企業遠見獎」，表揚日月光連續三年響應並大量認購綠電。<br><br>

						日月光所認購的綠電，預估能減少超過5,500噸二氧化碳，相當465,300顆樹<a href="javascript:;" data-toggle="popover" data-trigger="hover" data-content="According to Taiwan's Forestry Bureau, a mature tree can absorb around 12 kg carbon dioxide per year." data-placement="bottom">*</a>的碳吸收量。日月光在綠電的成就展現了我們致力於加強節能減碳，擴大綠色產業和促進可再生能源的決心，並逐步實現能源供應、產業發展和環境保護三贏的局面。
					</p>
					<h4 class="sub-title">太陽能裝置</h4>
					<p>
						2014年，我們位於美國加利福尼亞州費利蒙市的ISE Labs（日月光子公司）的屋頂裝設了太陽能電板，2016年產生高達30萬7,000度的清潔太陽能源，減少了60噸溫室氣體排放量。2016年，我們位於中國昆山的廠區屋頂裝設1.85MW太陽能電板，2016年產生高達185萬度的清潔太陽能源，佔昆山廠5%之用電量，減少了1,300噸溫室氣體排放量。減量之碳排放採用當地電力公司之電力排放係數進行推估。
					</p>
				</div>
				<br>
			</article>
		</div>
	</section>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script>
	$(document).ready(function(){
	    $('[data-toggle="popover"]').popover();   
	});
	</script>