﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/tw/_Layout.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-csr">
		<h1 class="page-title title-large">企業社會責任</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "/" })"><i class="icon-home"></i><span itemprop="name">首頁</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })"><span itemprop="name">企業社會責任</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("environmental_sustainability", "CSR", new { lang = ViewBag.language.lang })"><span itemprop="name">環境永續</span></a>
					<meta itemprop="position" content="3" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "climate_change_management" })"><span itemprop="name">氣候變遷管理</span></a>
					<meta itemprop="position" content="4" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "greenhouse_gas_emissions" })"><span itemprop="name">溫室氣體排放</span></a>
					<meta itemprop="position" content="4" />
				</li>
			</ol>
		</div>
	</div>

	<div class="breadcrumbs-pc pull-left" id="breadcrumbs-pc">
	<!-- PC版選單breadcrumbs內容 -->
		<ul class="breadcrumbs-view" id="breadcrumbs-view">
			<li class="dropdown-item">
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })">技術</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Solution" })">解決方案</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" })">產品</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "ir" })">投資人關係</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })">企業社會責任</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "About" })">關於日月光集團</a></li>
				</ul>
			</li>
			<li class="dropdown-item">
				<a href="csr.html">企業社會責任</a>
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.Action("Letter_Chairman", "CSR", new { lang = ViewBag.language.lang })">董事長的話</a></li>
					<li><a href="@Url.Action("Sustainability_Governance", "CSR", new { lang = ViewBag.language.lang })">永續治理</a></li>
					<li><a href="@Url.Action("Stakeholder_Engagement", "CSR", new { lang = ViewBag.language.lang })">利害關係人專區</a></li>
					<li><a href="http://ir.aseglobal.com/c/ir_corpor.php">公司治理</a></li>
					<li><a href="@Url.Action("environmental_sustainability", "CSR", new { lang = ViewBag.language.lang })" class="active">環境永續</a></li>
					<li><a href="@Url.Action("Employee_Care_Development", "CSR", new { lang = ViewBag.language.lang })">員工關懷與發展</a></li>
					<li><a href="@Url.Action("Supply_Chain_Development", "CSR", new { lang = ViewBag.language.lang })">供應鏈發展</a></li>
					<li><a href="@Url.Action("Corporate_Citizenship_Social_Involvement", "CSR", new { lang = ViewBag.language.lang })">企業公民與社會參與</a></li>
					<li><a href="@Url.Action("Downloads", "CSR", new { lang = ViewBag.language.lang })">企業社會責任報告書下載專區</a></li>
				</ul>
			</li>
		</ul>
	</div>

	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">溫室氣體排放</h3>
				<p>
					日月光落實整合碳管理，以溫室氣體排放量來追蹤我們的碳足跡。2016年，日月光製造廠區<a href="javascript:;" data-toggle="popover" data-trigger="hover" data-content="此包含了日月光所有封裝/測試/材料(ATM)廠區以及USI電子製造服務(EMS)廠區。" data-placement="bottom">*</a>的溫室氣體排放總量(範疇1和2)為1,384,808噸二氧化碳當量<a href="javascript:;" data-toggle="popover" data-trigger="hover" data-content="盤查之溫室氣體種類包含：二氧化碳(CO<sub>2</sub>)、甲烷(CH<sub>4</sub>)、氧化亞氮(N<sub>2</sub>O)、氫氟碳化物(HFC)、全氟碳化物(PFCs)、三氟化氮(NF<sub>3</sub>)、六氟化硫(SF<sub>6</sub>)。電力排放係數採用廠區當地電力公司之電力排放係數進行計算；全球暖化潛勢(GWP)引用自IPCC《第五次評估報告》。" data-placement="bottom">*</a>，較2015年的1,325,364 噸二氧化碳當量提高了4.5%，這樣的增長是由於現有工廠的產能擴張以及新設廠房所增加的耗電量。因消費性電子產品訂單減少影響營收，2015到2016年我們的溫室氣體排放密集度(噸二氧化碳當量/百萬新台幣的營收)從4.7上升到5.0。我們持續積極實施各項節能方案，並依循綠建築標準建造的高雄新廠(K14B, K21, K22)以及上海總部，並進行中壢廠(A棟)現有廠房之升級。日月光所有廠區<a href="javascript:;" data-toggle="popover" data-trigger="hover" data-content="此包含了日月光所有封裝/測試/材料(ATM)廠區以及USI電子製造服務(EMS)廠區。" data-placement="bottom">*</a>均已取得ISO14064-1溫室氣體報告查證，我們已提前於2016年達成日月光全部廠房100%溫室氣體查證的里程碑。<br><br>

					我們96%的溫室氣體排放量源自於電力使用，而剩下的4%主要是來自固定和移動式燃燒源( 如天然氣、 汽油、柴油)和製程排放(如：產線排放之全氟碳化物/氫氟碳化物排放)。
				</p>
			</article>
		</div>
		
		<div class="content-lg row">
			<div class="col-md-5">
				<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/greenhouse_gas_emissions1.png"><br><br>
			</div>
			<div class="col-md-7">
				<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/greenhouse_gas_emissions2.png"><br><br>
			</div>
			<article class="col-xs-12">
				<p>
					除組織內部每年定期進行的溫室氣體盤查與持續減量外，日月光為展現對減緩氣候變遷的決心，更逐步強化由內而外的具體行動付出。對內不斷提升本身的能源使用績效，持續規劃於綠建築、綠色工廠、節能設備與水資源回收的投入，促進相關產業在低碳經濟的發展。對外，更透過CDP氣候變遷問卷的填報，針對價值鏈上的範疇3排放，進行一系列的排放源鑑別。藉由排放量的量化估算，日月光高雄廠進一步執行範疇三(燃料與能源相關活動、廢棄 物運輸/處理) 第三方查證，我們期待藉此找出最佳可行之減碳熱點，鼓勵價值鏈上的夥伴能夠與日月光攜手努力，共同減少溫室氣體的排放，以降低氣候變遷對永續經營所帶來的負面衝擊。
				</p>
				<h4>範疇3</h4>
				<p>
					<strong>燃料與能源相關活動</strong><br>
					所購買及消耗之燃料與能源，於製造過程中的排放，且未包含於範疇1及2者。<br>
					排放量 (tCO<sub>2</sub>e)：101
				</p>
				<p>
					<strong>廢棄物處理</strong><br>
					公司產生之廢棄物經由第三方運輸及處理產生之排放。<br>
					排放量 (tCO<sub>2</sub>e)：19,704
				</p>
			</article>
		</div>
		<div class="content-lg row">
			<article class="col-md-12">
				<h4 class="sub-title">碳足跡查證</h4>
			</article>
			<div class="col-xs-12">
				<p>
					我們建置溫室氣體盤查資訊後，導入ISO 14040生命週期評估(Life Cycle Assessment, LCA)系統，建立 導線架封裝、球格陣列封裝、晶片級封裝、覆晶封裝等公司主要四類封裝產品，及基板的環境衝擊資料。2016年，我們取得封裝八大系列產品<a href="javascript:;" data-toggle="popover" data-trigger="hover" data-content="

					<strong>Package Series Products with ISO 14067 Verifications</strong><br>
					<ul class='nopadding'>
						<li>Ball Grid Array (BGA) Package - Gold wire</li>
						<li>Ball Grid Array (BGA) Package - Copper wire</li>
						<li>Flip Chip - Gold wire</li>
						<li>Flip Chip - Copper wire</li>
						<li>Flip Chip - Silver wire</li>
						<li>Leadframe Package - Gold wire</li>
						<li>Leadframe Package - Copper wire</li>
						<li>Chip Scale Package (CSP)</li>
					</ul>

					" data-placement="top">*</a>與測試服務之ISO14067碳足跡查證。盤查結果以IC晶片佔主要碳排放來源，製造階段以電力使用為主要排放來源。
				</p>
			</div>
		</div>
	</section>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script>
	$(document).ready(function(){
	    $('[data-toggle="popover"]').popover({
	    	html:true,
	    });   
	});
	</script>