﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
    ViewBag.Title = "Plastic BGA Susbtrate ";
    ViewBag.enURL = "/en/products/package_design/pro_pbga";
    ViewBag.zhURL = "/en/products/package_design/pro_pbga";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-product">
		<h1 class="page-title title-large">Plastic BGA Susbtrate</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item"><span itemprop="name">Substrate & Services</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/products/material"><span itemprop="name">Packaging Substrate</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/products/package_design/pro_pbga"><span itemprop="name">PBGA Substrate</span></a>
					<meta itemprop="position" content="3" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->
	<!-- Letter from the Chairman -->
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/products/pro_pbga01.png" alt="">
				<h3 class="title">PBGA Substrate</h3>
				<p>PBGA (Plastic Ball Grid Array) package consist of wire-bonded die on base substrate made up of glass fiber immersed resin copper clad laminate and encapsulate it by plastic (epoxy molding compound). ASE is capable of providing substrate suitable for high power and high speed package requiring enhanced thermal and electrical performance.</p>
			</article>
		</div>
	</section>
	<section class="inside-article">
		<div class="content-lg row">
			<div class="col-xs-6">
				<div class="technology-application technology-tab-active">Application</div>
			</div>
			<div class="col-xs-6">
				<div class="technology-features technology-tab-inactive">Features</div>
			</div>
			<div class="clearfix"></div>
			<div class="technology-application-content">
				<div class="col-xs-12">
					<ul class="nopadding">
						<li>Microprocessors/Controllers</li>
						<li>ASIC</li>
						<li>Graphics and PC Chipsets</li>
						<li>Gate Arrays</li>
						<li>PLDs, DSPs</li>
						<li>Memory Packages</li>
						<li>Communications &amp; Networking</li>
					</ul>
				</div>
			</div>
			<div class="technology-features-content">
				<div class="col-xs-12 col-md-12">
					<ul class="nopadding">
						<li>Low assembly cost</li>
						<li>High interconnect density</li>
						<li>Flexible sizes ranging from 15x15mm to 45x45mm</li>
						<li>Available in thinner substrate by using thin core</li>
						<li>Etch back process</li>
						<li>Multi-layer options for signal, power and ground plane's electrical performance improvement</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<section class="inside-article">
		<div class="content-lg row">
			<div class="col-xs-12 col-md-12">
				<h4 class="sub-title">Reliability</h4>
			</div>
			<div class="col-md-6">
				<div class="table-responsive inside-table">
					<table class="table table-striped table-hover text-center csr wire">
						<tbody>
							<tr>
								<th class="left-border pro-title">Item</th>
								<th class="left-border pro-title">Condition/Duration</th>
							</tr>
							<tr>
								<td class="left-border">MST</td>
								<td class="left-border">Level 3, 30°C/60% RH, 192 hrs</td>
							</tr>
							<tr>
								<td class="left-border">TCT</td>
								<td class="left-border">-65ºC~150ºC, 1000 cycles/-55~125ºC,</td>
							</tr>
							<tr>
								<td class="left-border">HAST</td>
								<td class="left-border">130°C/85% RH, 33.5 psi 96 hrs</td>
							</tr>
							<tr>
								<td class="left-border">HTST</td>
								<td class="left-border">150°C, 500/1000 hrs</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			
			<div class=" col-md-12 tech-cont-link">								
			<a class="phone" href="@Url.Action("plants_offices_ase", "About", new { lang = ViewBag.language.lang })"><span class="glyphicon glyphicon-earphone"></span>  Contact for enquries </a>
			</div>

			 
			</div>
	</section>

	<section class="csr-bg">
		<div class="content-lg row">
			<div class="col-xs-12 csr">
				<div class="col-md-4 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("package_design", "Products", new { lang = ViewBag.language.lang, param1 = "pro_pbga" })">
							<span class="blue-text-in-box">PBGA Substrate</span>
							<div class="circle_button-wrapper pull-right">
								<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-4 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("package_design", "Products", new { lang = ViewBag.language.lang, param1 = "pro_BOC" })"">
							<span class="blue-text-in-box">BOC (DDR Substrate)</span>
							<div class="circle_button-wrapper">
								<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-4 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("package_design", "Products", new { lang = ViewBag.language.lang, param1 = "pro_memory_card_substrate" })">
							<span class="blue-text-in-box">Memory Card Substrate</span>
							<div class="circle_button-wrapper">
								<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-4 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("package_design", "Products", new { lang = ViewBag.language.lang, param1 = "pro_module_substrate" })">
							<span class="blue-text-in-box">Module Substrate</span>
							<div class="circle_button-wrapper">
								<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-4 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("package_design", "Products", new { lang = ViewBag.language.lang, param1 = "pro_as3_substrate" })">
							<span class="blue-text-in-box">a-S<sup>3</sup> Substrate</span>
							<div class="circle_button-wrapper">
								<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
<script>
	$(document).ready(function() { 
		$(".technology-features-content").hide();

		$('.technology-application').click(function() {
			$(this).closest(".row").find(".technology-features").removeClass("technology-tab-active").addClass("technology-tab-inactive");
			$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
			$(this).closest(".row").find(".technology-features-content").hide();
			$(this).closest(".row").find(".technology-application-content").fadeIn(1000);
		});
		$('.technology-features').click(function() {
			$(this).closest(".row").find(".technology-application").removeClass("technology-tab-active").addClass("technology-tab-inactive");
			$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
			$(this).closest(".row").find(".technology-application-content").hide();
			$(this).closest(".row").find(".technology-features-content").fadeIn(1000);
		});
	});
</script>