﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
    ViewBag.Title = "BOC Substrate";
    ViewBag.zhURL = "/ch/products/package_design/pro_boc";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-product">
		<h1 class="page-title title-large">BOC Substrate</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item"><span itemprop="name">Substrate & Services</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/products/material"><span itemprop="name">Packaging Substrate</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/products/package_design/pro_boc"><span itemprop="name">BOC Substrate</span></a>
					<meta itemprop="position" content="3" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->
	<!-- Letter from the Chairman -->
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/products/pro_boc01.png" alt="">
				<h3 class="title">BOC (DDR Substrate)</h3>
				<p>The BOC package was designed as a cost effective CSP solution specifically for high-frequency memory devices. The structure provides the shortest wire length and outstanding electrical performance for the central – pad device layout through the use of low-cost wire bonding and BGA technologies.</p>
			</article>

		</div>
	</section>
	<section class="inside-article">
		<div class="content-lg row">
			
			<div class="col-xs-6">
				<div class="technology-application technology-tab-active">Application</div>
			</div>
			<div class="col-xs-6">
				<div class="technology-features technology-tab-inactive">Features</div>
			</div>
			<div class="clearfix"></div>
			<div class="technology-application-content">
				<div class="col-xs-12">
					<p>The BOC package is an ideal IC package for devices such as SDRAM, SGRAM, DDR SDRAM, RAMBUS DRAM and next-generation.</p>
				</div>
			</div>
			<div class="technology-features-content">
				<div class="col-xs-12 col-md-12">
					<ul class="nopadding">
						<li>Cost competitive for high performance DRAM</li>
						<li>JEDEC standard configuration – 60 balls</li>
						<li>Package dimension 1.2mm max thickness</li>
						<li>Dielectric- Rigid 2 layer substrate</li>
						<li>Customer substrate design available</li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<section class="inside-article">
		<div class="content-lg row">
			<div class="col-xs-12 col-md-12">
				<h4 class="sub-title">Reliability</h4>
			</div>
			<div class="col-md-6">
				<div class="table-responsive inside-table">
					<table class="table table-striped table-hover text-center csr wire">
						<tbody>
							<tr>
								<th class="left-border pro-title">Item</th>
								<th class="left-border pro-title">Condition/Duration</th>
							</tr>
							<tr>
								<td class="left-border">MST</td>
								<td class="left-border">Level 3, 30°C/60% RH, 192 hrs</td>
							</tr>
							<tr>
								<td class="left-border">TCT</td>
								<td class="left-border">-65ºC~150ºC, 1000 cycles/-55~125ºC,</td>
							</tr>
							<tr>
								<td class="left-border">HAST</td>
								<td class="left-border">130°C/85% RH, 33.5 psi 96 hrs</td>
							</tr>
							<tr>
								<td class="left-border">HTST</td>
								<td class="left-border">150°C, 500/1000 hrs</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="clearfix"></div>
			<div class=" col-md-12 tech-cont-link">								
			<a class="phone" href="@Url.Action("plants_offices_ase", "About", new { lang = ViewBag.language.lang })"><span class="glyphicon glyphicon-earphone"></span>  Contact for enquries </a>
			</div>

			<!-- Other Products link -->			
			 
		</div>
	</section>

	<section class="csr-bg">
		<div class="content-lg row">
			<div class="col-xs-12 csr">
				<div class="col-md-4 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("package_design", "Products", new { lang = ViewBag.language.lang, param1 = "pro_pbga" })">
							<span class="blue-text-in-box">PBGA Substrate</span>
							<div class="circle_button-wrapper pull-right">
								<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-4 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("package_design", "Products", new { lang = ViewBag.language.lang, param1 = "pro_BOC" })">
							<span class="blue-text-in-box">BOC (DDR Substrate)</span>
							<div class="circle_button-wrapper">
								<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-4 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("package_design", "Products", new { lang = ViewBag.language.lang, param1 = "pro_memory_card_substrate" })">
							<span class="blue-text-in-box">Memory Card Substrate</span>
							<div class="circle_button-wrapper">
								<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-4 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("package_design", "Products", new { lang = ViewBag.language.lang, param1 = "pro_module_substrate" })">
							<span class="blue-text-in-box">Module Substrate</span>
							<div class="circle_button-wrapper">
								<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-4 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("package_design", "Products", new { lang = ViewBag.language.lang, param1 = "pro_as3_substrate" })">
							<span class="blue-text-in-box">a-S<sup>3</sup> Substrate</span>
							<div class="circle_button-wrapper">
								<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
<script>
	$(document).ready(function() { 
		$(".technology-features-content").hide();

		$('.technology-application').click(function() {
			$(this).closest(".row").find(".technology-features").removeClass("technology-tab-active").addClass("technology-tab-inactive");
			$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
			$(this).closest(".row").find(".technology-features-content").hide();
			$(this).closest(".row").find(".technology-application-content").fadeIn(1000);
		});
		$('.technology-features').click(function() {
			$(this).closest(".row").find(".technology-application").removeClass("technology-tab-active").addClass("technology-tab-inactive");
			$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
			$(this).closest(".row").find(".technology-application-content").hide();
			$(this).closest(".row").find(".technology-features-content").fadeIn(1000);
		});
	});
</script>