﻿@using web.Models;
@using web.Common;
@{
        Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
        ViewBag.Title = "Advanced Substrate ";
        ViewBag.enURL = "/en/products/package_design/pro_advanced_substrate";
        ViewBag.zhURL = "/en/products/package_design/pro_advanced_substrate";
    }

<!-- page Banner -->
<section id="page-vision" class="page-banner-s banner-product">
    <h1 class="page-title title-large">Advanced Substrate</h1>
</section>

<!--breadcrumbs-->
<div class="content-lg row">
    <div class="col-xs-12">
        <ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item"><span itemprop="name">Substrate & Services</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/products/material"><span itemprop="name">Packaging Substrate</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/products/package_design/pro_advanced_substrate"><span itemprop="name">Advanced Substrate</span></a>
					<meta itemprop="position" content="3" />
				</li>
        </ol>
    </div>
</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->
<!-- About Content A -->
<section class="inside-article">
    <div class="content-lg row">
        <article class="col-xs-12">
            <h3 class="title">Advanced Substrate</h3>
            <div class="content">
                <p>With an expansive substrate portfolio, ASEE enables our customers to select the materials that best meets their device and budget requirements. From flip chip to wire bond substrates, ASEE combines the technology, the technical support, and the world-class customer service that give customers the competitive advantage they need to lead the industry.</p>
                <p>ASEE has invested substantially in research and development for these enabling technologies.</p>
            </div>
        </article>
    </div>
    <div class="content-lg row csr pro">
        <article class="col-xs-12">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="col-md-12 bgnews-list list-base panel">
                    <div class="content">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            <span class="black-text-in-box accordion-center-text">Wire Bond Substrate</span>
                            <div class="circle_button-wrapper pull-right">
                                <div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
                            </div>
                        </a>
                    </div>

                    <div id="collapseOne" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <h3 class="title pro-title">a-S<sup>3</sup> PRO</h3>
                            <div class="col-xs-12 pl-0">
                                <ul class="pro-test">
                                    <li>Single layer substrate for routable QFN application</li>
                                    <li>Very thin substrate</li>
                                    <li>Flexible pattern design</li>
                                    <li>Cost effective solution</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 bgnews-list list-base panel">
                    <div class="content">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <span class="black-text-in-box accordion-center-text">fcCSP Substrate</span>
                            <div class="circle_button-wrapper pull-right">
                                <div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
                            </div>
                        </a>
                    </div>

                    <div id="collapseTwo" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <h3 class="title pro-title">1L ETS</h3>
                            <div class="col-xs-12 pl-0">
                                <ul class="pro-test">
                                    <li>Very thin substrate &amp; advanced pattern design</li>
                                    <li>Same process flow in assembly (even though thin substrate)</li>
                                    <li>Cost effective fan-out solution</li>
                                </ul>
                            </div>
                            <h3 class="title pro-title">0.5L<sup>+</sup></h3>
                            <div class="col-xs-12 pl-0">
                                <ul class="pro-test">
                                    <li>Wide assembly operation window for fine I/O pitch</li>
                                    <li>Good coplanarity on extended bump pad</li>
                                    <li>Fine pattern capability in embedded trace layer</li>
                                    <li>Flexible design in bump-pad-to-trace space &amp; in extended bump shape</li>
                                    <li>Good warpage performance</li>
                                </ul>
                            </div>
                            <h3 class="title pro-title">EPP + EPS</h3>
                            <div class="col-xs-12 pl-0">
                                <ul class="pro-test">
                                    <li>Passives embedded in coreless substrate</li>
                                    <li>Fine pattern capability in embedded trace layer</li>
                                    <li>Double-side interconnection for flexible design</li>
                                    <li>Good electrical performance</li>
                                </ul>
                            </div>
                            <h3 class="title pro-title">Cu Pillar Substrate</h3>
                            <div class="col-xs-12 pl-0">
                                <ul class="pro-test">
                                    <li>Organic interposer for PoP package</li>
                                    <li>Substrate process with standard panel format</li>
                                    <li>Thin substrate with sufficient pillar height</li>
                                    <li>Cost effective, alternative to silicon interposer</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 bgnews-list list-base panel">
                    <div class="content">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseTwo">
                            <span class="black-text-in-box accordion-center-text">SiP Module Substrate</span>
                            <div class="circle_button-wrapper pull-right">
                                <div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
                            </div>
                        </a>
                    </div>

                    <div id="collapseThree" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <h3 class="title pro-title">Cavity Substrate</h3>
                            <div class="col-xs-12 pl-0">
                                <ul class="pro-test">
                                    <li>Package thickness reduction</li>
                                    <li>Flexible design on cavity depth &amp; quantity</li>
                                    <li>Substrate process with standard panel format</li>
                                </ul>
                            </div>
                            <h3 class="title pro-title">a-S<sup>3</sup> PRO</h3>
                            <div class="col-xs-12 pl-0">
                                <ul class="pro-test">
                                    <li>Bendable thin substrate</li>
                                    <li>Advanced pattern design</li>
                                    <li>Wearable application</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 bgnews-list list-base panel">
                    <div class="content">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseTwo">
                            <span class="black-text-in-box accordion-center-text">Embedded Technology</span>
                            <div class="circle_button-wrapper pull-right">
                                <div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
                            </div>
                        </a>
                    </div>

                    <div id="collapseFour" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <h3 class="title pro-title">Embedded Passives Substrate (EPS)</h3>
                            <div class="col-xs-12 pl-0">
                                <ul class="pro-test">
                                    <li>Passives embedded in coreless substrate</li>
                                    <li>Fine pattern capability in embedded trace layer</li>
                                    <li>Double-side interconnection for flexible design</li>
                                    <li>Good electrical performance &amp; small form factor</li>
                                    <li>Cost effective solution</li>
                                </ul>
                            </div>
                            <h3 class="title pro-title">Embedded Dies Substrate (EDS)</h3>
                            <div class="col-xs-12 pl-0">
                                <ul class="pro-test">
                                    <li>Panel format to form fan-out package</li>
                                    <li>Fine I/O pitch &amp; thin package profile</li>
                                    <li>Shielding function &amp; good thermal performance</li>
                                    <li>6-side protection to avoid die chipping</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class=" col-md-12 tech-cont-link">
                <a class="phone" href="@Url.Action("plants_offices", "About", new { lang = ViewBag.language.lang })"><span class="glyphicon glyphicon-earphone"></span> Contact for enquries</a>
            </div>
    </div>
    </article>
</section>
<script>
    $(document).ready(function () {
        $('.accordion-center-text').click(function (e) {
            if ($(this).hasClass('black-text-in-box')) {
                $('.blue-text-in-box').removeClass('blue-text-in-box').addClass('black-text-in-box');
                $(this).removeClass("black-text-in-box");
                $(this).addClass("blue-text-in-box");      //add the class to the clicked element
            } else {
                $(this).removeClass("blue-text-in-box");
                $(this).addClass("black-text-in-box");      //add the class to the clicked element
            }
        });

    })
</script>
