﻿@using web.Common;
@using web.Models;
@using System.Globalization;
@model List<events>
@{
    Layout = "~/Views/Shared/tw/_Layout.cshtml";
    List<int> month_list = ViewBag.month_list;
    string culture = "en-US";
}
<!-- page Banner -->
<section id="page-vision" class="page-banner-s banner-events">
    <h1 class="page-title title-large ">活動</h1>
</section>

<!--breadcrumbs-->
<div class="content-lg row">
    <div class="col-xs-12">
        <ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="@Url.Action("Index", "Home", new { lang = ViewBag.language.lang })"><i class="icon-home"></i><span itemprop="name">首頁</span></a>
                <meta itemprop="position" content="1" />
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Events" })"><span itemprop="name">活動</span></a>
                <meta itemprop="position" content="2" />
            </li>
        </ol>
    </div>
</div>

<div class="breadcrumbs-pc pull-left" id="breadcrumbs-pc">
    <!-- PC版選單麵包屑內容 -->
    <ul class="breadcrumbs-view" id="breadcrumbs-view">
        <li class="dropdown-item">
            <span class="glyphicon glyphicon-menu-right"></span>
            <ul class="dropdown-list">
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })">技術</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" })">產品</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Solution" })">解決方案</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Lab" })">投資人關係</a></li>
                <li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })">企業社會責任</a></li>
                <li><a class="active" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "About" })">了解日月光</a></li>
            </ul>
        </li>
        <li class="dropdown-item">
            <a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "About" })">了解日月光</a>
            <span class="glyphicon glyphicon-menu-right"></span>
            <ul class="dropdown-list">
                <li><a href="@Url.Action("milestones", "About", new { lang = ViewBag.language.lang })">大事紀</a></li>
				<li><a href="@Url.Action("Awards", "About", new { lang = ViewBag.language.lang })">得獎殊榮</a></li>
                <li><a href="@Url.Action("ASE_Turnkey_Services", "About", new { lang = ViewBag.language.lang })">一元化服務</a></li>
                <li><a href="@Url.Action("Manufacturing_Facilities", "About", new { lang = ViewBag.language.lang })">全球工廠據點</a></li>
                <li><a href="@Url.Action("plants_offices", "About", new { lang = ViewBag.language.lang })">營運據點</a></li>
				<li>
					<a href="@Url.Action("Index", new { controller = "Events", lang = ViewBag.lang })">活動</a>
				</li>
				<li>
					<a href="@Url.Action("List", new { controller = "PressRoom", lang = ViewBag.lang })">新聞</a>
				</li>
                <li><a href="@Url.Action("Careers", "About", new { lang = ViewBag.language.lang })">人才招募</a></li>
                <li><a href="@Url.Action("Contact", "About", new { lang = ViewBag.language.lang })">聯絡日月光</a></li>
            </ul>
        </li>
    </ul>
</div>

<!-- List Search -->
<section class="list-search">
    <div class="content-lg row">
        <form action="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Events" })">
            @Html.AntiForgeryToken()
            <div class="search-group col-xs-6 col-md-3">
                <select name="month" id="" class="form-control">
                    <option disabled value="0">選擇月份</option>
                    @foreach (int month in month_list)
                    {
                        DateTime dtDate = new DateTime(2000, month, 1);
                        <option value="@month" @(ViewBag.month == month ? "selected" : "")>@dtDate.ToString("MMMM", CultureInfo.CreateSpecificCulture(culture))</option>
                    }
                </select>
                <span class="glyphicon glyphicon-triangle-bottom"></span>
            </div>
            <div class="search-group col-xs-6 col-md-3">
                <input name="title" type="text" class="form-control" id="" placeholder="Search" value="@ViewBag.title">
                <button class="" type="submit"><i class="icon-search"></i></button>
            </div>
        </form>
    </div>
</section>

<!-- CSR News list -->
<!--
程式說明：
1.  無連結時 a 增加 class "link-disable"
    有連結時 a 有 target="_blank"
2.  每個活動月份前增加時間提醒
    （以開始的日期為主）
3.  每次Load 12筆資料
#接程式後刪除
-->
<section class="page-list-content">
    <div class="content-lg row">
        <ul id="list-content" class="col-xs-12 list-base list-link events-list-content">
            @if (Model.Count > 0)
            {
                int prev_month = 0;
                foreach (var item in Model)
                {
                    DateTime dateS = new DateTime(item.start_date.Value.Year, item.start_date.Value.Month, item.start_date.Value.Day);
                    DateTime dateE = new DateTime(item.end_date.Value.Year, item.end_date.Value.Month, item.end_date.Value.Day);

                    if (prev_month == 0 || prev_month != item.start_date.Value.Month)
                    {
                        prev_month = item.start_date.Value.Month;
                        <li class="time-tip">@dateS.ToString("MMMM", CultureInfo.GetCultureInfo(culture))</li>
                    }

                    string temp_link = string.IsNullOrEmpty(item.link) ? "" : item.link;
                    <li>
                        <a @(string.IsNullOrEmpty(temp_link) ? "class=\"link-disable\"" : "href="+temp_link+" target=_blank")>
                            <div class="date">@dateS.ToString("MMM dd, yyyy", CultureInfo.CreateSpecificCulture(culture)) @(item.end_date != null ? "– " + dateE.ToString("MMM dd, yyyy", CultureInfo.CreateSpecificCulture(culture)) : "")</div>
                            <div class="text-box">
                                <div class="content-wrapper">
                                    <h4 class="title">@item.title</h4>
                                    <p class="place"><span class="glyphicon glyphicon-map-marker"></span>@Html.Nl2br(item.position)</p>
                                </div>
                                <div class="circle_button-wrapper">
                                    <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                                </div>
                            </div>
                        </a>
                    </li>

                }
            }
        </ul>
    </div>
    <!-- Loader -->
    <div id="news-loader" class="loader text-center">
        <span>loading more news...</span>
        <ul> <li id='a'></li> <li id='b'></li> <li id='c'></li> <li id='d'></li> <li id='e'></li> <li id='f'></li> <li id='g'></li> <li id='h'></li> <li id='i'></li> </ul>
    </div>
</section>
<style>
    .events-list-content .text-box{display: inline-block;}
    .events-list-content .content-wrapper{display: inline;width: 75%;float: left;}
    .list-link .circle_button-wrapper{display: inline;width: 20%;float: left;margin-left: 5%;}
</style>

<script>
	$(function(){
		//Stop a link
		$('.link-disable').on('click', function(event) {
			event.preventDefault();
		});
	});
</script>
