﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
    ViewBag.Title = "Compliance and Risk Management";
    ViewBag.zhURL = "/ch/csr/corporate_sustainability_policy_and_management/regulatory_compliance_and_risk_management";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-csr">
		<h1 class="page-title-csr title-large">SUSTAINABILITY</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/csr"><span itemprop="name">Sustainability</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/csr/sustainability_governance"><span itemprop="name">Sustainability Governance</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/csr/corporate_sustainability_policy_and_management/regulatory_compliance_and_risk_management"><span itemprop="name">Compliance and Risk Management</span></a>
					<meta itemprop="position" content="3" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->
	<!-- Letter from the Chairman -->
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">Compliance and Risk Management</h3>
				<h4 class="sub-title">Regulatory Compliance</h4>
			</article>
			<div class="col-md-12">
				<p>
					We adopt a systematic approach to ensure that we comply with all applicable laws and regulations through the joint efforts of our Group and local management teams. Our Group Legal Department regularly monitors any changes in domestic and foreign laws and regulations, and conveys the updated statutes to the respective departments for regulatory identification of our local operations' compliance with applicable laws and regulations. To ensure the effectiveness of the regulatory identification, we invite third-party professionals to perform external audits on areas where compliance risks have increased to ensure that we fully comply with applicable laws and regulations.<br><br>

					All ASE employees, managers, supervisors and directors are responsible for complying with applicable laws. We continued to adjust our mechanisms and measures according to the changes in laws in all major areas, and inform all our members about company operation-related laws through education, training and announcements.<br><br>

					We consider legal compliance the main foundation of our sustainable development. In the future, we will strive to establish legal compliance risk reporting systems at all locations where we operate, to prevent any possible violations and respond to the increasingly stringent legal environment in a responsible and proactive manner. We strongly believe that a thorough understanding of the law and strict compliance are necessary to achieve sustainable development.
				</p>
			</div>

			<article class="col-xs-12">
				<strong>ASE's Regulatory Compliance Management Process</strong>
				<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/regulatory_compliance_and_risk_management2.png" class="hide-in-small">
				<div class="col-xs-12 hide-in-large nopadding">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/regulatory_compliance_and_risk_management21.png">
				</div>
				<div class="clearfix"></div><br>
				<h4 class="sub-title">Risk Management</h4>
			</article>

			<div class="col-md-7 col-sm-7">
				<p>
					We manage risks through designated departments and functions ("risk functions") across all of our organizations. In addition, we implement Enterprise Risk Management ("ERM") at all group-level functional departments. We held a series of workshops which help participants to understand and to develop risk management skills, and to apply what they have learned to real-life ERM projects. Risks or events that might have an influence on our business objectives are identified and evaluated, in order to decide on appropriate responses. In addition, the identification and management of long-term emerging risks<a href="javascript:" data-toggle="popover" data-trigger="hover" data-content="We define an emerging risk as: an issue that is perceived to be potentially significant in future but do not currently exists, or a previously known issue that is evolving in unexpected ways with unanticipated consequences." data-placement="bottom" data-original-title="" title="">*</a> are embedded into our ERM program. We have established the mechanism of prevention, early warning, emergency response, crisis management and business continuity plans that mitigate, transfer or avoid risks. We are confident that these mechanisms effectively kept the respective risk scenarios under control.<br><br>

					Our risk review process is described below. Corporate level and operational level risks are identified, prioritised and reported on risk registers<a href="javascript:" data-toggle="popover" data-trigger="hover" data-content="The risk registers include a description of the overall risk, characteristics (scenario and impact) of the risk; and current risk management activities including mitigation strategy/control measures." data-placement="bottom" data-original-title="" title="">*</a>. Major risks are assessed in terms of risk level<a href="javascript:" data-toggle="popover" data-trigger="hover" data-content="Risk levels are determined according to the likelihood and impact of risks." data-placement="bottom" data-original-title="" title="">*</a> and control effectiveness, and then mapped onto a Risk Map. In addition, a correlation analysis is conducted to analyze possible interdependence of the major risks. Furthermore, risk mitigation plans are defined to reduce the residual risk if judged necessary. The major risks, together with suitable risk response plans, are reported to top management, and the progress will be monitored quarterly. We introduced a top-down ERM approach to connect the top management with the rest of the organization on risk matters and ensure sound management of corporate-wide risks. Specifically, our top management are invited to identify key risks that are "top of mind" for the company. These top-down identified risks are then reviewed through our current ERM process, enhancing the efficiency and effectiveness of the decision-making process across the organization.
				</p>
			</div>
			<div class="col-md-5 col-sm-5">
				<strong>Risk Management Organization Scheme</strong>
				<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/regulatory_compliance_and_risk_management1.png"><br><br>
			</div>
			<div class="clearfix"></div>

			<article class="col-xs-12">
				<strong>Risk Management Process</strong>
				<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/regulatory_compliance_and_risk_management3.png" class="hide-in-small">
				<div class="col-xs-12 hide-in-large nopadding">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/regulatory_compliance_and_risk_management31.png">
				</div>
				<div class="clearfix"></div><br>
				<strong>Risk Management Integrated with Internal Controls and Internal Audits</strong>
				<p>
					We view internal controls as an important part of ERM. ERM is more effective with internal controls that cover risk responses and other ERM processes in place. We identify and document all of our major risks together with related controls. The effectiveness of controls are reviewed in the annual Control Self Assessment. In addition, we redesigned our risk assessment system and linked our current internal control activities to corresponding risk scenarios such that a complete list of internal control measures can be pre-defined in the system to help our risk functions to more accurately assess the effectiveness of risk control. Finally, our internal audit system carries out independent appraisals of the implementation of key risk mitigation plans by our risk functions thereby ensuring that risks are properly managed.
				</p>
			</article>
		</div>
		
	</section>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script>
	$(document).ready(function(){
	    $('[data-toggle="popover"]').popover();   
	});
	</script>