﻿<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# business: http://ogp.me/ns/business#">

    <link rel="canonical" href="https://ase.aseglobal.com/en/technology/sip_module"/> 
    <link rel="alternate" hreflang="zh-cn" href="https://ase.aseglobal.com/ch/technology/sip_module"/> 
    <link rel="alternate" hreflang="en" href="https://ase.aseglobal.com/en/technology/sip_module"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>System in Package | 日月光集團</title>
	<meta name="description" content="日月光為全球領先半導體封裝與測試製造服務公司，提供半導體客戶包括晶片前段測試及晶圓針測至後段之封裝、材料及成品測試的一元化服務。" /> 
    <meta name="keywords" content="日月光, 日月光集團, 日月光半導體, 日月光投資控股, ASE, 系統級封裝 , SiP, Fan Out, 封裝, 測試" />
	<meta property="og:type" content="website">
    <meta property="og:title" content="日月光集團">
    <meta property="og:description" content="日月光為全球領先半導體封裝與測試製造服務公司，提供半導體客戶包括晶片前段測試及晶圓針測至後段之封裝、材料及成品測試的一元化服務。">
	<meta property="og:image" content="http://ase.aseglobal.com/public/frontend/images/og.png">
    <link rel="shortcut icon" type="image/x-icon" href="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/favicon.png" />
    <link rel="apple-touch-icon" href="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/touch-icon.png" />
    <link rel="stylesheet" href="https://2311cdn.r.worldssl.net/css/public/frontend/css_ch/ase.min.css" />
    <link rel="stylesheet" href="https://2311cdn.r.worldssl.net/css/public/frontend/css/magnific-popup.css" />
    <link rel="stylesheet" href="https://2311cdn.r.worldssl.net/css//public/frontend/css/all.min.css" />
	
    @Html.Raw(ViewBag.css)
    <link href="https://2311cdn.r.worldssl.net/css/Content/sweetalert2.min.css" rel="stylesheet" />
    <script src="https://2311cdn.r.worldssl.net/js/public/frontend/js/vendor/jquery/jquery-2.2.2.min.js"></script>
    <style>/* Custom header  */
        #wrapper{margin-top:62.6px;}
        header{padding: 0px 50px;height: 62.6px;}
        header a.logo > img{height:52px;margin:5px;}
        .nav-pc{top: 62.6px;}
        .breadcrumbs-dropdown-view{top:62.6px;}
        html.nav-open .nav-mobile{top:62.6px;}
        .nav-mobile{height:calc(100% - 62.6px);}
        @@media only screen and (max-width: 768px) {
            header .hamburger{margin-top:0px;}
        }
        @@media only screen and (max-width: 450px) {
            header{padding: 0px 10px;}
            header .hamburger{margin-top:0px;}
        }
    </style>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-33905716-5"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-33905716-5');
</script>
</head>

<body>
    <div id="page-loader" class="loader">
        <span>loading</span>
        <ul>
            <li id='a'></li>
            <li id='b'></li>
            <li id='c'></li>
            <li id='d'></li>
            <li id='e'></li>
            <li id='f'></li>
            <li id='g'></li>
            <li id='h'></li>
            <li id='i'></li>
        </ul>
    </div>
    <header>
        <!-- <a class="logo pull-left" href="@Url.Action("Index", "Home", new { lang = ViewBag.language.lang })"><div>ASE Group</div></a> -->
        <a class="logo pull-left" href="@Url.Action("Index", "Home", new { lang = ViewBag.language.lang })"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/logo-ch.png" alt=""></a>

        <!-- PC版選單breadcrumbs -->
        <nav class="hidden-xs hidden-sm breadcrumbs-dropdown-view" id="dropdown-view"></nav>

        <div class="pull-right">
            <!-- Search PC -->
            <form action="@Url.Action("Search", "Home", new { lang = ViewBag.language.lang })" autocomplete="off" class="hidden-xs hidden-sm form-search-pc">
                <div class="search-group">
                    <input type="text" class="form-control" id="" placeholder="搜尋" name="q">
                    <button class="" type="submit"><i class="icon-search"></i></button>
                </div>
            </form>
            <div class="dropdown lan">
                <a data-target="#" href="javascript:" data-toggle="dropdown">
                    <i class="icon-lang"></i> 繁中 <span class="glyphicon glyphicon-menu-down"></span>
                </a>
                <ul class="dropdown-menu">
                    @if (ViewBag.controller == "Press_Room" && ViewBag.action == "Content")
                    {
                        <li><a href="@Url.Action("Index", "Press_Room", new { lang = "en" })">English</a></li>
                        <li><a href="@Url.Action("Index", "Press_Room", new { lang = "ch" })">繁體中文</a></li>
                    }
                    else
                    {
                        <li><a href="@Url.Action(ViewBag.action, ViewBag.controller, new { lang = "en", param1 = ViewBag.param1, param2 = ViewBag.param2 })">English</a></li>
                        <li><a href="@Url.Action(ViewBag.action, ViewBag.controller, new { lang = "ch", param1 = ViewBag.param1, param2 = ViewBag.param2 })">繁體中文</a></li>
                    }
                </ul>
            </div>
            <div class="hamburger hamburger--collapse">
                <div class="hamburger-box">
                    <div class="hamburger-inner"></div>
                </div>
            </div>
        </div>

        <!-- Mobile Menu -->
        <nav class="hidden-md hidden-lg nav-mobile">
            <form action="" autocomplete="off">
                <div class="search-group">
                    <input type="text" class="form-control" id="" placeholder="Search">
                    <button class="" type="submit" onclick="alert('mobile'); return false"><i class="icon-search"></i></button>
                </div>
            </form>
            <ul class="main">
				<li class="has-next">
                    <a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology", action = "Index" })">技術</a>
                    <ul>
                        <li>
                            @*<a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "technology_innovation" })">創新技術</a>*@
                            <a href="@Url.Action("technology_innovation","technology",new { lang = ViewBag.language.lang  })">創新技術</a>
                        </li>
                        <li>
                            <a  href="@Url.Action("intellectual_property", "technology", new { lang = ViewBag.language.lang })">智財</a>
                        </li>
                        <li>
                            <a  href="@Url.Action("ase_trademarks", "technology", new { lang = ViewBag.language.lang })">日月光商標</a>
                        </li>
                    </ul>
                </li>
				<li class="has-next">
                    <a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" , action="Index"})">產品</a>
                    <ul>
						<li><a href="@Url.Action("Assembly", "Products", new { lang = ViewBag.language.lang,param1="" })">封裝</a></li>
                        <li>
                            <a href="@Url.Action("Test", "Products", new { lang = ViewBag.language.lang })">測試</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Material", "Products", new { lang = ViewBag.language.lang,param1="" })">材料</a>
                        </li>
                        <!-- <li>
                            <a href="@Url.Action("Tray", "Products", new { lang = ViewBag.language.lang })">IC承載盤</a>
                        </li> -->
                    </ul>
                </li>
				<li class="has-next">
                    <a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Solution" })">解決方案平台</a>
					<ul>
                        <li><a href="@Url.Action("smart_living", "Solution", new { lang = ViewBag.language.lang })">智能家居</a></li>
                        <li><a href="@Url.Action("smart_bike", "Solution", new { lang = ViewBag.language.lang })">智能單車</a></li>
                        <li><a href="@Url.Action("smart_city", "Solution", new { lang = ViewBag.language.lang })">智慧城市</a></li>
                        <li><a href="@Url.Action("smart_automotive", "Solution", new { lang = ViewBag.language.lang })">智慧汽車</a></li>
                    </ul>
				</li>
                <li class="has-next">
                    <a href="/public/ch/ir.html">投資人關係</a>
                    <ul>
                        <li><a href="/public/ch/ir.html">投資人關係總覽</a></li>
                        <li><a href="/public/ch/ir/company_profile.html">公司基本資料</a></li>
                        <li><a href="/public/ch/ir/financials.html">財務資訊</a></li>
                        <li><a href="/public/ch/ir/corporate_governance.html">公司治理</a></li>
                        <li><a href="/public/ch/ir/events_news.html">活動與新聞</a></li>
                        <li><a href="/public/ch/ir/shareholder_services.html">股東服務</a></li>
                        <li><a href="/public/ch/ir/faq.html">問答集</a></li>
                    </ul>
                </li>
				<li class="has-next">
                    <a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR", action = "Index" })">企業社會責任</a>
                    <ul>
                        <li>
                            <a href="@Url.Action("Letter_From_The_Chairman", "CSR", new { lang = ViewBag.language.lang })">董事長的話</a>
                        </li>
                        <li>
                            <a  href="@Url.Action("sustainability_governance", "CSR", new { lang = ViewBag.language.lang,param1="" })">永續治理</a>
                        </li>
                        <li>
                            <a  href="@Url.Action("Stakeholder_Engagement", "CSR", new { lang = ViewBag.language.lang,param1="" })">利害關係人專區</a>
                        </li>
                        <li><a href="/public/ch/ir/corporate_governance.html">公司治理</a></li>
                        <li>
                            <a href="@Url.Action("environmental_sustainability", "CSR", new { lang = ViewBag.language.lang,param1="" })">環境永續</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Employee_Care_Development", "CSR", new { lang = ViewBag.language.lang,param1="" })">員工關懷與發展</a>
                        </li>
                        <li>
                            <a  href="/ch/csr/supply_chain_development">供應鏈發展</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Corporate_Citizenship_Social_Involvement", "CSR", new { lang = ViewBag.language.lang,param1="" })">企業公民與社會參與</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Downloads", "CSR", new { lang = ViewBag.language.lang ,param1=""})">企業社會責任下載專區</a>
                        </li>
                    </ul>
                </li>
                <li class="has-next">
                    <a  href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "About" })">了解日月光</a>
                    <ul>
                        <li>
                            <a  href="@Url.Action("milestones", "About", new { lang = ViewBag.language.lang })">大事紀</a>
                        </li>
                        <li>
                            <a  href="@Url.Action("Awards", "About", new { lang = ViewBag.language.lang })">獎項肯定</a>
                        </li>
                        <li>
                            <a  href="@Url.Action("ASE_Turnkey_Services", "About", new { lang = ViewBag.language.lang })">日月光一元化服務</a>
                        </li>
                        <li>
                            <a  href="@Url.Action("Manufacturing_Facilities", "About", new { lang = ViewBag.language.lang })">全球工廠據點</a>
                        </li>
                        <li>
                            <a  href="@Url.Action("plants_offices", "About", new { lang = ViewBag.language.lang })">營運據點</a>
                        </li>
						<li>
                            <a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Events" })">活動</a>
                        </li>
                        <li>
                            <a  href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Press_Room" ,action="Index"})">新聞</a>
                        </li>
                        <li>
                            <a  href="@Url.Action("Careers", "About", new { lang = ViewBag.language.lang })">人才招募</a>
                        </li>
                        <li>
                            <a  href="@Url.Action("Contact", "About", new { lang = ViewBag.language.lang })">聯絡日月光</a>
                        </li>
                    </ul>
                </li>				
            </ul>
        </nav>

        <!-- PC Menu -->
        <nav class="hidden-xs hidden-sm nav-pc">
            <ul class="nav nav-pills">
                <li>
                    <a data-toggle="tab" href="#menu1" style="text-transform:uppercase;" data-href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "technology" })">技術</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#menu2" style="text-transform:uppercase;" data-href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" })">產品</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#menu3" style="text-transform:uppercase;" data-href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Solution" })">解決方案平台</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#menu4" style="text-transform:uppercase;" data-href="/public/ch/ir.html">投資人關係</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#menu5" style="text-transform:uppercase;" data-href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR", action = "Index" })">企業社會責任</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#menu6" style="text-transform:uppercase;" data-href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "About" })">了解日月光</a>
                </li>
            </ul>

            <div class="tab-content">
                <div id="menu1" class="tab-pane active">
                    <!-- Technology -->
                    <ul>
                        <li>
                            @*<a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "technology_innovation" })">創新技術</a>*@
                            <a href="@Url.Action("technology_innovation","technology",new { lang = ViewBag.language.lang  })">創新技術</a>
                        </li>
                        <li>
                            <a  href="@Url.Action("intellectual_property", "technology", new { lang = ViewBag.language.lang })">智財</a>
                        </li>
                        <li>
                            <a  href="@Url.Action("ase_trademarks", "technology", new { lang = ViewBag.language.lang })">日月光商標</a>
                        </li>
                    </ul>
                </div>
                <div id="menu2" class="tab-pane">
                    <!-- Products -->
                    <ul>
                        <li>
                            <a href="@Url.Action("Assembly", "Products", new { lang = ViewBag.language.lang ,param1=""})">封裝</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Test", "Products", new { lang = ViewBag.language.lang })">測試</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Material", "Products", new { lang = ViewBag.language.lang,param1="" })">材料</a>
                        </li>
                        <!-- <li>
                            <a href="@Url.Action("Tray", "Products", new { lang = ViewBag.language.lang })">IC乘載盤</a>
                        </li> -->
                    </ul>
                </div>
                <div id="menu3" class="tab-pane">
                    <!-- Solution Platform -->
                    <ul>
                        <li>
                            <a href="@Url.Action("smart_living", "Solution", new { lang = ViewBag.language.lang })">智能家居</a>
                        </li>
                        <li>
                            <a href="@Url.Action("smart_bike", "Solution", new { lang = ViewBag.language.lang })">智能單車</a>
                        </li>
                        <li>
                            <a href="@Url.Action("smart_city", "Solution", new { lang = ViewBag.language.lang })">智慧城市</a>
                        </li>
                        <li>
                            <a href="@Url.Action("smart_automotive", "Solution", new { lang = ViewBag.language.lang })">智慧汽車</a>
                        </li>
                    </ul>
                </div>
                <div id="menu4" class="tab-pane">
                    <!-- IR -->
                    <ul>
                        <li><a href="/public/ch/ir.html">投資人關係總覽</a></li>
                        <li><a href="/public/ch/ir/company_profile.html">公司基本資料</a></li>
                        <li><a href="/public/ch/ir/financials.html">財務資訊</a></li>
                        <li><a href="/public/ch/ir/corporate_governance.html">公司治理</a></li>
                        <li><a href="/public/ch/ir/events_news.html">活動與新聞</a></li>
                        <li><a href="/public/ch/ir/shareholder_services.html">股東服務</a></li>
                        <li><a href="/public/ch/ir/faq.html">問答集</a></li>
                    </ul>
                </div>
                <div id="menu5" class="tab-pane">
                    <!-- CSR -->
                    <ul>
                        <li>
                            <a href="@Url.Action("Letter_From_The_Chairman", "CSR", new { lang = ViewBag.language.lang })">董事長的話</a>
                        </li>
                        <li>
                            <a  href="@Url.Action("sustainability_governance", "CSR", new { lang = ViewBag.language.lang ,param1=""})">永續治理</a>
                        </li>
                        <li>
                            <a  href="@Url.Action("Stakeholder_Engagement", "CSR", new { lang = ViewBag.language.lang,param1="" })">利害關係人專區</a>
                        </li>
                        <li><a href="/public/ch/ir/corporate_governance.html">公司治理</a></li>
                        <li>
                            <a href="@Url.Action("environmental_sustainability", "CSR", new { lang = ViewBag.language.lang,param1="" })">環境永續</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Employee_Care_Development", "CSR", new { lang = ViewBag.language.lang,param1="" })">員工關懷與發展</a>
                        </li>
                        <li>
                            <a  href="/ch/csr/supply_chain_development">供應鏈發展</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Corporate_Citizenship_Social_Involvement", "CSR", new { lang = ViewBag.language.lang,param1="" })">企業公民與社會參與</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Downloads", "CSR", new { lang = ViewBag.language.lang,param1="" })">企業社會責任下載專區</a>
                        </li>
                    </ul>
                </div>
                <div id="menu6" class="tab-pane">
                    <!-- About -->
                    <ul>
                        <li>
                            <a  href="@Url.Action("milestones", "About", new { lang = ViewBag.language.lang })">大事紀</a>
                        </li>
                        <li>
                            <a  href="@Url.Action("Awards", "About", new { lang = ViewBag.language.lang })">獎項肯定</a>
                        </li>
                        <li>
                            <a  href="@Url.Action("ASE_Turnkey_Services", "About", new { lang = ViewBag.language.lang })">日月光一元化服務</a>
                        </li>
                        <li>
                            <a  href="@Url.Action("Manufacturing_Facilities", "About", new { lang = ViewBag.language.lang })">全球工廠據點</a>
                        </li>
                        <li>
                            <a  href="@Url.Action("plants_offices", "About", new { lang = ViewBag.language.lang })">營運據點</a>
                        </li>
                        <li>
                            <a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Events" })">活動</a>
                        </li>
                        <li>
                            <a  href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Press_Room",action="Index" })">新聞</a>
                        </li>
                        <li>
                            <a  href="@Url.Action("Careers", "About", new { lang = ViewBag.language.lang })">人才招募</a>
                        </li>
                        <li>
                            <a  href="@Url.Action("Contact", "About", new { lang = ViewBag.language.lang })">聯絡日月光</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="page">
        <div id="wrapper" style="">
            @RenderBody()
        </div>

        <footer style="padding:30px 0px;">
            <a class="gotop" href="javascript:;"><i class="icon-arrow-top"></i><span>TOP</span></a>
                  <div class="content-lg row text-center">
                <ul class="sitemap no-margin" style="list-style-type:decimal;">
                    <li>
                        <a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "technology", action = "Index" })" class="toggle">技術<span class="arrow"></span></a>
                    </li>
					<li class="sline">|</li>
                    <li>
                        <a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" , action="Index"})" class="toggle">產品<span class="arrow"></span></a>
                    </li>
					<li class="sline">|</li>
                    <li>
                        <a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Solution" })" class="toggle">解決方案平台<span class="arrow"></span></a>
                    </li>
					<li class="sline">|</li>
                    <li>
                        <a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Lab" })" class="toggle">LAB<span class="arrow"></span></a>
                    </li>
					<li class="sline">|</li>
                    <li>
                        <a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "About" })" class="toggle">了解日月光<span class="arrow"></span></a>
                    </li>
					<li class="sline">|</li>
                    <li>
                        <a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Events" })" class="toggle">活動<span class="arrow"></span></a>
                    </li>
					<li class="sline">|</li>
                    <li>
                        <a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Press_Room" ,action="Index"})" class="toggle">新聞<span class="arrow"></span></a>
                    </li>
                </ul>
                <ul class="sitemap" style="list-style-type:decimal;padding:0;">
                    <li>
                        <a href="/public/ch/ir.html" class="toggle">投資人關係<span class="arrow"></span></a>
                    </li>
					<li class="sline">|</li>
					<li>
                        <a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR", action = "Index" })" class="toggle">企業社會責任<span class="arrow"></span></a>
                    </li>
					<li class="sline">|</li>
                    <li>
                        <a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Supplier" })" class="toggle">供應商專區<span class="arrow"></span></a>
                    </li>
					
                    
					<!-- <li class="sline">|</li>
                    <li>
                        <a  href="@Url.Action("Careers", "About", new { lang = ViewBag.language.lang })" class="toggle">人才招募<span class="arrow"></span></a>
                    </li> -->
					<li class="sline">|</li>
                    <li>
                        <a  href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Downloads" })" class="toggle">下載專區<span class="arrow"></span></a>
                    </li>
                </ul>
            </div>
            <div class="dot">
                <div class="bottom_info row content-lg">
                    <div class="col-xs-12 col-sm-5 pull-right">
                        語言 :
                        <div class="dropup lan dropup-ali">
                            <a data-target="#" href="@Url.Action("Index", "Home", new { lang = ViewBag.language.lang })" data-toggle="dropdown">
                                <i class="icon-lang"></i>@ViewBag.language.title
                                <span class="glyphicon glyphicon-menu-down"></span>
                            </a>
                            <ul class="dropdown-menu">
                                @if (ViewBag.controller == "Press_Room" && ViewBag.action == "Content")
                                {
                                    <li><a href="@Url.Action("Index", "Press_Room", new { lang = "en" })">English</a></li>
                                    <li><a href="@Url.Action("Index", "Press_Room", new { lang = "ch" })">繁體中文</a></li>
                                }
                                else
                                {
                                    <li><a href="@Url.Action(ViewBag.action, ViewBag.controller, new { lang = "en", param1 = ViewBag.param1, param2 = ViewBag.param2 })">English</a></li>
                                    <li><a href="@Url.Action(ViewBag.action, ViewBag.controller, new { lang = "ch", param1 = ViewBag.param1, param2 = ViewBag.param2 })">繁體中文</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-7 copyright nopadding">
                        <span style="display: inline-block"class="copyr"> Copyright © 2018 日月光集團 著作權所有</span>
                        <span style="display: inline-block">
                            <a href="@Url.Action("Contact", "About", new { lang = ViewBag.language.lang })">聯絡日月光</a> | <a  href="@Url.Action("Careers", "About", new { lang = ViewBag.language.lang })">人才招募</a> | <a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Terms_of_Use" })">網站使用者條款</a> <span class="sl">|</span>
                            <span class="media-icon">
							<a href="https://www.youtube.com/channel/UCMRXM62u2zqCm_uxcwkME1A/featured" target="_blank">
                                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/youtube.png"  alt="Ase Group YouTube" />
                            </a>
                            <a href="https://twitter.com/asegroup_global" target="_blank">
                                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/twitter.png"  alt="Ase Group Twitter" />
                            </a>
                            <a href="https://tw.linkedin.com/company/ase-group" target="_blank">
                                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/linkedin.png"  alt="Ase Group Linkedin" />
                            </a>
                            <a href="javascript:" data-toggle="popover" data-placement="top" data-content="

                            <div class='weChat'>
                                <img src='/public/frontend/images_ch/icon/ASE_wechat.png' style='width:160px; height:192px' />
                            </div>
                            
                            ">
                                <img class="m1" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/wechat.png" alt="Ase Group WeChat" />
                            </a>
							</span> 
                        </span>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <!-- JS -->
    <script src="https://2311cdn.r.worldssl.net/js/public/frontend/js/vendor/jquery.mobile.custom.min.js"></script>
    <script src="https://2311cdn.r.worldssl.net/js/public/frontend/js/vendor/modernizr-custom.js"></script>
    <script src="https://2311cdn.r.worldssl.net/js/public/frontend/js/vendor/jquery.matchHeight-min.js"></script>
    <script src="https://2311cdn.r.worldssl.net/js/public/frontend/js/vendor/TweenMax.min.js"></script>
    <script src="https://2311cdn.r.worldssl.net/js/public/frontend/js/vendor/ScrollMagic.min.js"></script>
    <script src="https://2311cdn.r.worldssl.net/js/public/frontend/js/vendor/bootstrap.min.js"></script>
    <script src="https://2311cdn.r.worldssl.net/js/public/frontend/js/all.js" async defer></script>

    <script src="https://2311cdn.r.worldssl.net/js/public/frontend/js/jquery.magnific-popup.js"></script>
    <script src="https://2311cdn.r.worldssl.net/js/public/frontend/js/magnific.js"></script>

    <script src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-596737dd60adacf7"></script>

    <!-- For Form -->
    <script src="https://2311cdn.r.worldssl.net/js/Scripts/sweetalert2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
    <!-- Each Page JS -->
    @Html.Raw(ViewBag.js)
    <!-- Message -->
    @if (TempData["mesage"] != null)
    {
        @Html.Raw(TempData["mesage"].ToString())
    }
</body>
</html>
