﻿@{
    Layout = "";
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Cybersoft</title>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <link rel="apple-touch-icon" href="https://2311cdn.r.worldssl.net/picimages/touch-icon.png">
    <style>
        body {
            background: #e7e7e7;
            font-family: 微軟正黑體;
        }

        .alert-box {
            border-style: solid;
            border-width: 1px;
            display: block;
            font-weight: normal;
            margin: 100px auto 0 auto;
            position: relative;
            padding: 30px;
            font-size: 15px;
            transition: opacity 300ms ease-out;
            background-color: #ffffff;
            border-color: #d6d6d6;
            color: #052e2d;
            clear: both;
            overflow: hidden;
            max-width: 700px;
        }

            .alert-box h5 {
                font-family: inherit;
                font-weight: 700;
                font-size: 18px;
                line-height: 1.5;
                margin-bottom: 20px;
            }

            .alert-box p {
                font-family: inherit;
                font-weight: normal;
                font-size: 16px;
                line-height: 1.5;
                margin-bottom: 20px;
            }

        .browser-list {
            width: 80%;
            padding: 0;
            margin: 30px auto 30px auto;
        }

            .browser-list li {
                width: 25%;
                float: left;
            }

                .browser-list li a {
                    outline: 0;
                }

                .browser-list li img {
                    max-width: 100%;
                }

        .no-bullet {
            list-style: none;
        }
    </style>
</head>
<body>
    <div class="alert-box">
        <h5>哎呀！看起來你的網頁瀏覽器已經過時了～ </h5>
        <p>
            也許你不知道，但你使用的是過時版本的Internet Explorer。<br>
            請升級您的瀏覽器到最新版本。您也可以使用我們推薦的其他瀏覽器。
        </p>
        <p>我們強烈建議您使用支援的瀏覽器以獲得最佳性能：<br />以下為推薦的瀏覽器：</p>
        <ul class="browser-list no-bullet">
            <li><a href="http://www.microsoft.com/en-us/download/internet-explorer.aspx" target="_blank"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/browser/internet-explorer.png" alt="IE" border="0"></a></li>
            <li><a href="https://www.google.com/intl/en/chrome/browser/desktop/" target="_blank"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/browser/chrome.png" alt="Chrome" border="0"></a></li>
            <li><a href="https://www.mozilla.org/en-US/firefox/new/" target="_blank"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/browser/firefox.png" alt="Firefox" border="0"></a></li>
            <li><a href="http://www.apple.com/safari/" target="_blank"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/browser/safari.png" alt="Safari" border="0"></a></li>
        </ul>
    </div>
</body>
</html>
