﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/tw/_Layout.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-lab">
		<h1 class="page-title title-large">LAB</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Index", "Home", new { lang = ViewBag.language.lang })"><i class="icon-home"></i><span itemprop="name">首頁</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Lab" })"><span itemprop="name">Lab</span></a>
					<meta itemprop="position" content="2" />
				</li>
			</ol>
		</div>
	</div>

	<div class="breadcrumbs-pc pull-left" id="breadcrumbs-pc">
	<!-- PC版選單breadcrumbs內容 -->
		<ul class="breadcrumbs-view" id="breadcrumbs-view">
			<li class="dropdown-item">
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })">技術</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" })">產品</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Solution" })">解決方案</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "ir" })"  >投資人關係</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })">企業社會責任</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "About" })">了解日月光</a></li>
				</ul>
			</li>
		</ul>
	</div>

	<!-- Technology list -->
	<section id="iconlink" class="iconlink">
		<div class="content-lg">
			<ul class="row item-3">
				<li class="col-xs-12 col-sm-6 col-md-4 text-center">
					<a href="@Url.Action("Substrate_Design", "Lab", new { lang = ViewBag.language.lang })">
						<div class="imgbox">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/lab_icon-01.png" alt="Fan Out" data-hover="https://2311cdn.r.worldssl.net/picimages/icon/lab_icon-01_hover.png")">
						</div>
						<div class="textbox">
							<h4>基板設計服務</h4>
						</div>
						<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
					</a>
				</li>
				<li class="col-xs-12 col-sm-6 col-md-4 text-center">
					<a href="@Url.Action("Package_Design", "Lab", new { lang = ViewBag.language.lang })">
						<div class="imgbox">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/lab_icon-02.png" alt="SiP & Module Solutions" data-hover="https://2311cdn.r.worldssl.net/picimages/icon/lab_icon-02_hover.png")">
						</div>
						<div class="textbox">
							<h4>封裝設計服務</h4>
						</div>
						<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
					</a>
				</li>
				<li class="col-xs-12 col-sm-6 col-md-4 text-center">
					<a href="@Url.Action("eService", "Lab", new { lang = ViewBag.language.lang })">
						<div class="imgbox">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/lab_icon-03.png" alt="Flip Chip" data-hover="https://2311cdn.r.worldssl.net/picimages/icon/lab_icon-03_hover.png")">
						</div>
						<div class="textbox">
							<h4>e化服務</h4>
						</div>
						<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
					</a>
				</li>
			</ul>
		</div>
	</section>
