﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/tw/_Layout.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-lab">
		<h1 class="page-title title-large">LAB</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Index", "Home", new { lang = ViewBag.language.lang })"><i class="icon-home"></i><span itemprop="name">首頁</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Lab" })"><span itemprop="name">Lab</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="#"><span itemprop="name">e化服務</span></a>
					<meta itemprop="position" content="3" />
				</li>
			</ol>
		</div>
	</div>

	<div class="breadcrumbs-pc pull-left" id="breadcrumbs-pc">
	<!-- PC版選單breadcrumbs內容 -->
		<ul class="breadcrumbs-view" id="breadcrumbs-view">
			<li class="dropdown-item">
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })">技術</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" })">產品</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Solution" })">解決方案</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "ir" })"  >投資人關係</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })">企業社會責任</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "About" })">了解日月光</a></li>
				</ul>
			</li>
			<li class="dropdown-item">
				<a href="javascript:;">Lab</a>
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.Action("Substrate_Design", "Lab", new { lang = ViewBag.language.lang })">基板設計服務</a></li>
					<li><a href="@Url.Action("Package_Design", "Lab", new { lang = ViewBag.language.lang })">封裝設計服務</a></li>
					<li><a href="@Url.Action("eService", "Lab", new { lang = ViewBag.language.lang })">e化服務</a></li>
				</ul>
			</li>
		</ul>
	</div>
	<!-- Letter from the Chairman -->
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">e化服務</h3>
				<p>To enhance customer service quality, ASE began developing real time web-based packaging services to our customers in 1999. This design service is referred to as eService, a project initiated by the R&D division of ASE. eService is intended to speed up the development process of IC packaging. Through interactive windows, users can assign simulation models to derive the optimal results according to the specifications in electrical and thermal performance. In addition, eService has the capability to generate bonding diagrams, based on a specific lead frame or substrate by IC designers. Another specialty of eService is to provide a direct channel for customers to issue cases to our characterization labs via OLES. Besides, eService is also the system to request the simulation and measurement service.</p>
				<!-- Other Products link -->
				<div class="col-md-12 nopadding">
					<div class="circle_button-wrapper pull-left">
						<a href="http://eservice.aseglobal.com/eService/">
							<div class="circle_button darkgray pull-left"><i class="icon-arrow-right"></i></div><span class="more-tech-link">ASE eService</span>
						</a>
					</div>
				</div>
				<div class="clearfix"></div>
				<br>
				<div class="col-xs-12 text-center mbt-20">
					<img class="pc" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/lab/lab_eservice01.png" alt="">
					<img class="mobile" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/lab/lab_eservice01.svg" alt="">
				</div>
				<h3>e-Thermal Simulator</h3>
				<p>e-Thermal Simulator, in service since 1999, allows users to conduct thermal simulation for IC packages from a remote site. By simply entering the design parameters, users can obtain the thermal resistance of any package within 3 hours. Based on finite element methods(FEM), e-Thermal Simulator adopts popular commercial software-ANSYS, for the thermal calculations. Once the basic dimensions and         conditions of a package are acquired from the remote site, e-Thermal Simulator collects this data and then calls the ANSYS server. After completing the simulation, the results will be e-mailed back to the user. Up-to-date models for QFP(including PQFP, LQFP and TQFP) and BGA(PBGA and HSBGA) are available.</p>

				<h3>e-Stress Simulator</h3>
				<p>e-Stress Simulator, in service since 2008, allows users to conduct stress simulation for IC package from a remote site via the internet. After accessing the e-Stress Simulator Web page and entering the design parameters, users can obtain the stress and warpage distribution of BGA package type. Based on finite element method (FEM), the popular commercial software-ANSYS will be used to do numerical analysis. The basic dimensions and conditions of a package are acquired from the Web site. After completing the simulation, the reports will be e-mailed back to the user.</p>

				<h3>e-Electrical Simulator</h3>
				<p>ASE Electrical Laboratory compiled simulation and design cases and experience to be a cloud database, ASE eService. Through eService, ASE customers could inquire the estimated package electrical data wherever and whenever. If ASE customer wants the accurate electrical model by 3D electromagnetic solver, eService is also the system to request the simulation service.</p>
			</article>

		</div>
	</section>

