﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/tw/_Layout.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-lab">
		<h1 class="page-title title-large">LAB</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Index", "Home", new { lang = ViewBag.language.lang })"><i class="icon-home"></i><span itemprop="name">首頁</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Lab" })"><span itemprop="name">Lab</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="#"><span itemprop="name">基板設計服務</span></a>
					<meta itemprop="position" content="3" />
				</li>

			</ol>
		</div>
	</div>

	<div class="breadcrumbs-pc pull-left" id="breadcrumbs-pc">
	<!-- PC版選單breadcrumbs內容 -->
		<ul class="breadcrumbs-view" id="breadcrumbs-view">
			<li class="dropdown-item">
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })">技術</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" })">產品</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Solution" })">解決方案</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "ir" })"  >投資人關係</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })">企業社會責任</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "About" })">了解日月光</a></li>
				</ul>
			</li>
			<li class="dropdown-item">
				<a href="javascript:;">Lab</a>
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.Action("Substrate_Design", "Lab", new { lang = ViewBag.language.lang })">基板設計服務</a></li>
					<li><a href="@Url.Action("Package_Design", "Lab", new { lang = ViewBag.language.lang })">封裝設計服務</a></li>
					<li><a href="@Url.Action("eService", "Lab", new { lang = ViewBag.language.lang })">e化服務</a></li>
				</ul>
			</li>
		</ul>
	</div>
	<!-- Letter from the Chairman -->
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">基板設計服務</h3>
				<p>As customers are demanding small, thin, and high performance for their electronic products, device makers are searching for high performance, high reliability, and low cost solutions. Substrate/lead frame has played a very important role in packaging industry, not only because it represents a great portion of the cost, but also because it has a great influence on package performance. How to design a high performance, low cost substrate/lead frame has become one of the major tasks in all packaging companies. In ASE, we have a group of experienced professional dedicate in substrate/lead frame design in order to provide turnkey solutions for our customers to fulfill high performance, cost saving and short time to market.</p>

				<div class="col-xs-12 nopadding">
					<div class="col-xs-12 col-sm-8 nopadding md-plr20"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/lab/lab_substrate01.jpg" alt=""></div>
					<div class="col-xs-12 col-sm-4 md-plr20">
						<div class="col-xs-12 nopadding mt-32"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/lab/lab_substrate02.jpg" alt=""></div>
						<div class="col-xs-12 nopadding mt-32"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/lab/lab_substrate03.jpg" alt=""></div>
					</div>
				</div><br>
				<div class="col-xs-12 nopadding">
					<h3>Function &amp; Service</h3>
					<ul class="pro-test">
						<li>Transmittance/reflectivity</li>
						<li>Light Intensity &amp; distribution</li>
						<li>Wavelength spectrum</li>
						<li>Color temperature (CCT)</li>
						<li>Chromaticity coordinate (CIE)</li>
						<li>Luminous flux (lm)</li>
						<li>Illuminance (Lux)</li>
						<li>Color rendering index (CRI)</li>
						<li>Dimension measurement</li>
						<li>Optical structure optimization</li>
						<li>Intensity &amp; distribution analysis</li>
						<li>Color analysis</li>
						<li>Light efficiency. View angle analysis</li>
						<li>Module signal. Cross talk analysis</li>
					</ul>
				</div>
				<div class="col-xs-12 nopadding">
					<h3>Design Tool</h3>
					<p>The characteristics of packaging material are a major concern when determining how well the ICs will perform. ASE's Material Laboratory provides the characterization analysis of the following properties. The related instruments are listed next. Users can find more information from the Measurement Equipment section.</p>
					<h4>Design information format:</h4>
					<ul class="pro-test">
						<li>GDS II</li>
						<li>Microsoft office format netlist</li>
						<li>Pad coordinator</li>
						<li>Ball out</li>
					</ul>
					<h4>Design tool:</h4>
					<ul class="pro-test">
						<li>Cadence</li>
						<li>Xynetix</li>
					</ul>
					<h4>Drawing offering:</h4>
					<h5>Layout Drawing:</h5>
					<ul class="pro-test">
						<li>AutoCad R14</li>
						<li>2000 Gerber RS 274X</li>
						<li>Acrobat pdf Format</li>
					</ul>
					<h5>Bonding Diagram:</h5>
					<ul class="pro-test">
						<li>AutoCad R14, 2000</li>
						<li>Acrobat pdf Format</li>
					</ul>
				</div>
				<div class="clearfix"></div>
				<br>
			</article>

		</div>
	</section>


	</section>
