﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/tw/_Layout.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-lab">
		<h1 class="page-title title-large">LAB</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Index", "Home", new { lang = ViewBag.language.lang })"><i class="icon-home"></i><span itemprop="name">首頁</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Lab" })"><span itemprop="name">Lab</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="#"><span itemprop="name">封裝設計服務</span></a>
					<meta itemprop="position" content="3" />
				</li>
			</ol>
		</div>
	</div>

	<div class="breadcrumbs-pc pull-left" id="breadcrumbs-pc">
	<!-- PC版選單breadcrumbs內容 -->
		<ul class="breadcrumbs-view" id="breadcrumbs-view">
			<li class="dropdown-item">
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })">技術</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" })">產品</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Solution" })">解決方案</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "ir" })"  >投資人關係</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })">企業社會責任</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "About" })">了解日月光</a></li>
				</ul>
			</li>
			<li class="dropdown-item">
				<a href="javascript:;">Lab</a>
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.Action("Substrate_Design", "Lab", new { lang = ViewBag.language.lang })">基板設計服務</a></li>
					<li><a href="@Url.Action("Package_Design", "Lab", new { lang = ViewBag.language.lang })">封裝設計服務</a></li>
					<li><a href="@Url.Action("eService", "Lab", new { lang = ViewBag.language.lang })">e化服務</a></li>
				</ul>
			</li>
		</ul>
	</div>
	<!-- Letter from the Chairman -->
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">封裝設計服務</h3>
				<h3>Characterization Services</h3>
				<h4>The Complete Technical Services Provider</h4>
				<div class="col-xs-12 nopadding">
					<p class="col-xs-12 col-md-12 nopadding">ASE provides superior technical analysis and consulting services to improve the IC packaging development process and to allow circuit designers the maximum flexibility in their designs.</p>
				</div>
				<div class="col-xs-12 nopadding">
					<div class="col-xs-12 col-sm-8 nopadding md-plr20"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/lab/lab_package01.jpg" alt=""></div>
					<div class="col-xs-12 col-sm-4 md-plr20">
						<div class="col-xs-12 nopadding mt-32A"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/lab/lab_package02.jpg" alt=""></div>
						<div class="col-xs-12 nopadding mt-32"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/lab/lab_package03.jpg" alt=""></div>
					</div>
				</div><br>
				<div class="col-xs-12 nopadding">
					<h3>Characterization Labs</h3>
					<p class="col-xs-12 col-md-12 nopadding">Since 1995, the ASE characterization labs have incorporated sophisticated instruments to   provide both physical and chemical evaluation on packaging related issues. The labs are      involved in the electrical, material, stress-reliability and thermal fields.</p>
				</div>
			</article>

		</div>
	</section>

	<section class="csr-bg">
		<div class="content-lg row">
			<div class="col-xs-12 csr">
				<div class="col-md-4 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("package_design", "Lab", new { lang = ViewBag.language.lang, param1 = "lab_electrical" })">
							<span class="blue-text-in-box">Electrical Lab</span>
							<div class="circle_button-wrapper pull-right">
								<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-4 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("package_design", "Lab", new { lang = ViewBag.language.lang, param1 = "lab_material" })"">
							<span class="blue-text-in-box">Material Lab</span>
							<div class="circle_button-wrapper">
								<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-4 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("package_design", "Lab", new { lang = ViewBag.language.lang, param1 = "lab_stress_and_thermal" })">
							<span class="blue-text-in-box">Stress &amp; Thermal Lab</span>
							<div class="circle_button-wrapper">
								<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-4 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("package_design", "Lab", new { lang = ViewBag.language.lang, param1 = "lab_chemical_and_green" })">
							<span class="blue-text-in-box">Chemical &amp; Green<br>Technology Lab</span>
							<div class="circle_button-wrapper">
								<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-4 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("package_design", "Lab", new { lang = ViewBag.language.lang, param1 = "lab_failure_analysis" })">
							<span class="blue-text-in-box">Failure Analysis Lab</span>
							<div class="circle_button-wrapper">
								<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-4 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("package_design", "Lab", new { lang = ViewBag.language.lang, param1 = "lab_optical" })">
							<span class="blue-text-in-box">Optical Lab</span>
							<div class="circle_button-wrapper">
								<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
