﻿@{
    Layout = "~/Areas/Backend/Views/Shared/_layout.cshtml";
    Dictionary<string, string> error = (Dictionary<string, string>)TempData["error"];
    string str = "";
}

@using web.Models
@using web.Common
@model home_page

<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title"></h3>
        <div class="box-tools pull-right">
            <a class="btn btn-warning" href="@Url.Action("List")" role="button"> Back </a>
        </div>
    </div>
    <div class="box-body form-horizontal">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.HiddenFor(x => x.hp_id)
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group ">
                        <label class="col-sm-2 control-label" for="title"><i class="required"> * </i> 左區塊主標題:</label>
                        <div class="col-sm-9">
                            @{
                                str = "hp_left_name";
                            }
                            @Html.TextBox(str, Model.hp_left_name, new { @class = "form-control", maxlength = 512, @required = "required" })
                            <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group ">
                        <label class="col-sm-2 control-label" for="title"><i class="required"> * </i> 左區塊副標題:</label>
                        <div class="col-sm-9">
                            @{
                                str = "hp_left_subtitle";
                            }
                            @Html.TextBox(str, Model.hp_left_subtitle, new { @class = "form-control", maxlength = 512 })
                            <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group ">
                        <label class="col-sm-2 control-label" for="title"><i class="required"> * </i> 左區塊文案(上):</label>
                        <div class="col-sm-9">
                            @{
                                str = "hp_left_description1";
                            }
                            @Html.TextArea(str, Model.hp_left_description1, new { @class = "form-control", @required = "required", @rows = 6 })
                            <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group ">
                        <label class="col-sm-2 control-label" for="title"><i class="required"> * </i> 左區塊文案(下):</label>
                        <div class="col-sm-9">
                            @{
                                str = "hp_left_description2";
                            }
                            @Html.TextArea(str, Model.hp_left_description2, new { @class = "form-control", @required = "required", @rows = 6 })
                            <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group ">
                        <label class="col-sm-2 control-label" for="title"><i class="required"> * </i> 左區塊圖片:</label>
                        <div class="col-sm-9">
                            @{
                                str = "hp_left_photo";
                            }

                            <div id="img_explorer" class="file_explorer"></div>
                            <div>@*@Html.Bword("common_img_description").ToString().Replace("(#1)", "270").Replace("(#2)", "270")*@</div>
                            <img src="@(ViewBag.website_virtual_path + Model.hp_left_photo)" id="preview_img_filename" style="max-width:270px; max-height:270px; margin-right:10px;margin-top:5px;" onError="this.style.display = 'none'" />
                            <div id="btn_cancel_img_filename">
                                <input value="Delete" type="button" class="btn" />
                            </div>

                            <input type="hidden" id="img1_x1" name="img1_x1" value="" runat="server" />
                            <input type="hidden" id="img1_y1" name="img1_y1" value="" runat="server" />
                            <input type="Hidden" id="img1_x2" name="img1_x2" value="" runat="server" />
                            <input type="hidden" id="img1_y2" name="img1_y2" value="" runat="server" />
                            <input type="hidden" id="img1_scale" name="img1_scale" value="" runat="server" />

                            <input type="hidden" name="img_filename" id="img_filename" value="@(ViewBag.website_virtual_path + Model.hp_left_photo)" />
                            <input type="hidden" name="old_img_filename" id="old_img_filename" value="@(ViewBag.website_virtual_path + Model.hp_left_photo)" />
                            <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group ">
                        <label class="col-sm-2 control-label" for="title"><i class="required"> * </i> 左區塊連結:</label>
                        <div class="col-sm-9">
                            @{
                                str = "hp_left_url";
                            }
                            @Html.TextBox(str, Model.hp_left_url, new { @class = "form-control", @required = "required" })
                            <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group ">
                        <label class="col-sm-2 control-label" for="title"><i class="required"> * </i> 右區塊主標題:</label>
                        <div class="col-sm-9">
                            @{
                                str = "hp_right_name";
                            }
                            @Html.TextBox(str, Model.hp_right_name, new { @class = "form-control", maxlength = 512, @required = "required" })
                            <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group ">
                        <label class="col-sm-2 control-label" for="title"><i class="required"> * </i> 右區塊副標題:</label>
                        <div class="col-sm-9">
                            @{
                                str = "hp_right_subtitle";
                            }
                            @Html.TextBox(str, Model.hp_right_subtitle, new { @class = "form-control", maxlength = 512 })
                            <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group ">
                        <label class="col-sm-2 control-label" for="title"><i class="required"> * </i> 右區塊文案:</label>
                        <div class="col-sm-9">
                            @{
                                str = "hp_right_description1";
                            }
                            @Html.TextArea(str, Model.hp_right_description1, new { @class = "form-control", maxlength = 512, @required = "required", @rows = 6 })
                            <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group ">
                        <label class="col-sm-2 control-label" for="title"><i class="required"> * </i> 右區塊圖片:</label>
                        <div class="col-sm-9">
                            @{
                                str = "hp_right_photo";
                            }

                            <div id="img_explorer2" class="file_explorer"></div>
                            <div>@*@Html.Bword("common_img_description").ToString().Replace("(#1)", "270").Replace("(#2)", "270")*@</div>
                            <img src="@(ViewBag.website_virtual_path + Model.hp_right_photo)" id="preview_img_filename2" style="max-width:270px; max-height:270px; margin-right:10px;margin-top:5px;" onError="this.style.display = 'none'" />
                            <div id="btn_cancel_img_filename2">
                                <input value="Delete" type="button" class="btn" />
                            </div>

                            <input type="hidden" id="img2_x1" name="img2_x1" value="" runat="server" />
                            <input type="hidden" id="img2_y1" name="img2_y1" value="" runat="server" />
                            <input type="Hidden" id="img2_x2" name="img2_x2" value="" runat="server" />
                            <input type="hidden" id="img2_y2" name="img2_y2" value="" runat="server" />
                            <input type="hidden" id="img2_scale" name="img2_scale" value="" runat="server" />

                            <input type="hidden" name="img_filename2" id="img_filename2" value="@(ViewBag.website_virtual_path + Model.hp_right_photo)" />
                            <input type="hidden" name="old_img_filename2" id="old_img_filename2" value="@(ViewBag.website_virtual_path + Model.hp_right_photo)" />
                            <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group ">
                        <label class="col-sm-2 control-label" for="title"><i class="required"> * </i> 右區塊連結:</label>
                        <div class="col-sm-9">
                            @{
                                str = "hp_right_url";
                            }
                            @Html.TextBox(str, Model.hp_right_url, new { @class = "form-control", maxlength = 512, @required = "required" })
                            <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group ">
                        <label class="col-sm-2 control-label" for="sort"><i class="required"> * </i> 上線時間:</label>
                        <div class="col-sm-4">
                            <div class="input-group date date_picker">
                                @{
                                    str = "hp_publish_start_time";
                                }
                                @Html.TextBox(str, string.Format("{0:yyyy-MM-dd}", Model.hp_publish_start_time), new { @class = "form-control", @required = "required" })
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group ">
                        <label class="col-sm-2 control-label" for="sort"><i class="required"> * </i> 下線時間:</label>
                        <div class="col-sm-4">
                            <div class="input-group date date_picker">
                                @{
                                    str = "hp_publish_due_time";
                                }
                                @Html.TextBox(str, string.Format("{0:yyyy-MM-dd}", Model.hp_publish_due_time), new { @class = "form-control", @required = "required" })
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group ">
                        <label class="col-sm-2 control-label" for="sort"><i class="required"> * </i> 排序:</label>
                        <div class="col-sm-4">
                            @{
                                str = "hp_sort";
                            }
                            @Html.TextBox(str, Model.hp_sort, new { @class = "form-control", @required = "required" })
                            <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
                        </div>
                        <div class="col-sm-6 fc text-yellow">(1~999，數字越小越優先)</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="launch">啟用:</label>
                        <div class="col-sm-10 iCheck">
                            @{
                                str = "hp_launch";
                            }
                            <input name="hp_launch" id="hp_launch" value="1" type="checkbox" @(Model.hp_launch == 1 ? "checked" : "") class="form-control">
                            <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
                            <div class="fc text-yellow">資料上線系統判定順序：啟用>上下線時間</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <div class="col-sm-2 col-sm-offset-2">
                            <button class="btn btn-success btn-block" type="submit">Submit</button>
                        </div>
                        <div class="col-sm-2">
                            <button class="btn btn-danger btn-block" type="reset">Reset</button>
                        </div>
                    </div>
                </div>
            </div>
                                }
    </div>
    <div class="box-footer"> </div>
</div>