﻿@{
    Layout = "~/Areas/Backend/Views/Home/index.cshtml";
    Dictionary<string, string> error = (Dictionary<string, string>)TempData["error"];
    string str = "";
}

@using web.Models
@using web.Common
@model ir_news

<div class="box-header with-border">
    <h3 class="box-title"></h3>
    <div class="box-tools pull-right">
        <a class="btn btn-warning" href="@Url.Action("List")" role="button"> Back </a>
    </div>
</div>
<div class="box-body form-horizontal">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.HiddenFor(x => x.id)
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group ">
                    <label class="col-sm-2 control-label">語系:</label>
                    <div class="col-sm-4">
                        @{
                            str = "lang";
                        }
                        <select class="form-control" name="@(str)">
                            <option value="en" @(Model.lang == "en" ? "selected" : "")>English</option>
                            <option value="ch" @(Model.lang == "ch" ? "selected" : "")>繁體中文</option>
                        </select>
                        <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group ">
                    <label class="col-sm-2 control-label">新聞分類:</label>
                    <div class="col-sm-4">
                        @{
                            str = "type";
                        }
                        <select class="form-control" name="@(str)">
                            <option value="1" @(Model.type == 1 ? "selected" : "")>Events</option>
                            <option value="2" @(Model.type == 2 ? "selected" : "")>Financial Update</option>
                        </select>
                        <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group ">
                    <label class="col-sm-2 control-label"><i class="required"> * </i> 標題:</label>
                    <div class="col-sm-4">
                        @{
                            str = "title";
                        }
                        @Html.TextBox(str, Model.title, new { @class = "form-control", maxlength = 120, @required = "required" })
                        <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group ">
                    <label class="col-sm-2 control-label"><i class="required"> * </i> 連結:</label>
                    <div class="col-sm-4">
                        @{
                            str = "link";
                        }
                        @Html.TextBox(str, Model.link, new { @class = "form-control", maxlength = 512, @required = "required" })
                        <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group ">
                    <label class="col-sm-2 control-label" for="sort"><i class="required"> * </i> 開始時間:</label>
                    <div class="col-sm-4">
                        <div class="input-group date date_picker">
                            @{
                                str = "start_date";
                            }
                            @Html.TextBox(str, string.Format("{0:yyyy-MM-dd}", Model.start_date), new { @class = "form-control", @required = "required" })
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group ">
                    <label class="col-sm-2 control-label" for="sort">結束時間:</label>
                    <div class="col-sm-4">
                        <div class="input-group date date_picker">
                            @{
                                str = "end_date";
                            }
                            @Html.TextBox(str, string.Format("{0:yyyy-MM-dd}", Model.end_date), new { @class = "form-control" })
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
                        </div>
                    </div>
                    <div class="col-sm-6 fc text-yellow">(若未輸入結束時間，即代表永不下架)</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <div class="col-sm-2 col-sm-offset-2">
                        <button class="btn btn-success btn-block" type="submit">Submit</button>
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-danger btn-block" type="reset">Reset</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@{
    ViewBag.media_bank_physical_path = Server.MapPath(Url.Content("~/" + ViewBag.media_bank_path)).Replace("\\", "\\\\");
    ViewBag.media_bank_virtual_path = Url.Content("~/" + ViewBag.media_bank_path);

    List<Dictionary<string, int>> ratio_list = (List<Dictionary<string, int>>)ViewBag.ratio;
}
<!-- jqueryFileTree -->
<link rel="stylesheet" href="~/Content/jqueryFileTree.css">
<link href="~/Content/imgareaselect/imgareaselect-default.css" rel="stylesheet" />
<script src="~/Scripts/imgareaselect/jquery.imgareaselect.pack.js"></script>
<script src="~/Scripts/jqueryfiletree/jqueryFileTree.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(
        function () {
            $('#img_explorer').fileTree({
                root: '@ViewBag.media_bank_physical_path',
                script: '@Url.Content("~/Scripts/jqueryfiletree/jqueryFileTree.aspx")',
                //folderEvent: 'click',
                expandSpeed: 1
                ,collapseSpeed: 1
                ,filter: "jpg,gif,png,jpeg,bmp"
            },
            function (file) {
                file = file.replace( /@(ViewBag.media_bank_physical_path)/i, "@(ViewBag.media_bank_virtual_path)" );

                $("#img_filename").val(file);
                $("#preview_img_filename").attr("src", file);
                $("#btn_cancel_img_filename").show();
                var max_width = 600;

                var img = new Image();
                img.src = file;
                img.onload = function()
                {
                    $('input[name="img1_scale"]').val(1);
                    if (img.width > max_width) {
                        $('input[name="img1_scale"]').val(max_width / img.width);
                        img.width = max_width;
                        //$("#preview_img_filename").css("width", img.width);
                    }
                    else {
                        //$("#preview_img_filename").css("width", "auto");
                    }

                    $("#preview_img_filename").css("display", "");
                }


                $('#preview_img_filename').imgAreaSelect(
                {
                    @if( ratio_list.Count > 0 )
                    {
                        @:aspectRatio: "@(ratio_list[0]["width"]):@(ratio_list[0]["height"])",
                    }
                    fadeSpeed: 100,
                    handles: true,
                    instance: true,
                    onSelectChange: preview
                });

            });
            $("#btn_cancel_img_filename").click(function()
            {
                $("#img_filename").val('');
                $("#preview_img_filename").hide();
                $("#btn_cancel_img_filename").hide();
            });


            // ----------------------------------------------------------------------------------------------------------------------------------------------------------------------


            $('#img_explorer2').fileTree({
                    root: '@ViewBag.media_bank_physical_path',
                    script: '@Url.Content("~/Scripts/jqueryfiletree/jqueryFileTree.aspx")',
                    //folderEvent: 'click',
                    expandSpeed: 1
                    ,collapseSpeed: 1
                    ,filter: "jpg,gif,png,jpeg,bmp"
                },
                    function (file) {
                        file = file.replace(/@(ViewBag.media_bank_physical_path)/i, "@(ViewBag.media_bank_virtual_path)");

                        $("#img_filename2").val(file);
                        $("#preview_img_filename2").attr("src", file);
                        $("#btn_cancel_img_filename2").show();
                        var max_width = 600;

                        var img = new Image();
                        img.src = file;
                        img.onload = function()
                        {
                            $('input[name="img2_scale"]').val(1);
                            if (img.width > max_width) {
                                $('input[name="img2_scale"]').val(max_width / img.width);
                                img.width = max_width;
                                //$("#preview_img_filename").css("width", img.width);
                            }
                            else {
                                //$("#preview_img_filename").css("width", "auto");
                            }

                            $("#preview_img_filename2").css("display", "");
                        }


                        $('#preview_img_filename2').imgAreaSelect(
                        {
                            @if( ratio_list.Count > 0 )
                            {
                                @:aspectRatio: "@(ratio_list[0]["width"]):@(ratio_list[0]["height"])",
                            }
                            fadeSpeed: 100,
                            handles: true,
                            instance: true,
                            onSelectChange: preview2
                        }
                    );

                    }
            );
            $("#btn_cancel_img_filename2").click(function()
            {
                $("#img_filename2").val('');
                $("#preview_img_filename2").hide();
                $("#btn_cancel_img_filename2").hide();
            });
        }
    );

    function preview(img, selection)
    {
        $('input[name="img1_x1"]').val(selection.x1);
        $('input[name="img1_y1"]').val(selection.y1);
        $('input[name="img1_x2"]').val(selection.x2);
        $('input[name="img1_y2"]').val(selection.y2);
    }

    function preview2(img, selection) {
        $('input[name="img2_x1"]').val(selection.x1);
        $('input[name="img2_y1"]').val(selection.y1);
        $('input[name="img2_x2"]').val(selection.x2);
        $('input[name="img2_y2"]').val(selection.y2);
    }
</script>

