﻿@{
    Layout = "~/Areas/Backend/Views/Home/index.cshtml";
}

@using web.Models
@using web.Common
@model List<ir_news>

<div class="box-header with-border">
    <h3 class="box-title"></h3>
    <div class="box-tools">
        <div class="col-xs-10">
            <form action="@Url.Action("List", "IRNews", new { id = ViewBag.node.wm_url_id })" method="get">
                <div class="col-xs-2">
                    <div class="input-group date date_picker">
                        <input type="text" class="form-control" name="searchS" value="@ViewBag.searchS" placeholder="開始時間" />
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
                <div class="col-xs-2">
                    <div class="input-group date date_picker">
                        <input type="text" class="form-control" name="searchE" value="@ViewBag.searchE" placeholder="結束時間" />
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
                <div class="col-xs-2">
                    <input type="text" class="form-control" name="keyword" value="@ViewBag.keyword" placeholder="標題" />
                </div>
                <div class="col-xs-2">
                    <select class="form-control" name="sort">
                        <option value="0" @(ViewBag.sort == 0 ? "selected" : "")>排序</option>
                        <option value="1" @(ViewBag.sort == 1 ? "selected" : "")>開始時間</option>
                        <option value="2" @(ViewBag.sort == 2 ? "selected" : "")>結束時間</option>
                    </select>
                </div>
                <div class="col-xs-2">
                    <button type="submit" class="btn">送出</button>
                </div>
            </form>
        </div>
        <div class="col-xs-2 text-right">
            <a class="btn btn-primary" href="@Url.Action("Content", "IRNews", new { id = ViewBag.node.wm_url_id, param1 = 0 })" role="button"> 新增 </a>
        </div>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>語系</th>
                <th>新聞分類</th>
                <th>標題</th>
                <th>開始時間~結束時間</th>
                <th>編輯</th>
                <th>刪除</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() > 0)
            {
                foreach (ir_news item in Model)
                {
                    <tr>
                        <td>
                            @if (item.lang == "en")
                            {
                                @:English
	                        }
                            else
                            {
                                @:繁體中文
                            }
                        </td>
                        <td>
                            @if (item.type == 1)
                            {
                                @:Events
                            }
                            else
                            {
                                @:Financial Update
                            }
                        </td>
                        <td>@(item.title)</td>
                        <td>@(string.Format("{0:yyyy-MM-dd}", item.start_date)) ~ @(item.end_date == null ? "Forever" : string.Format("{0:yyyy-MM-dd}", item.end_date))</td>
                        <td>
                            <a class="btn btn-warning btn-sm" href="@(Url.Action("Content", "IRNews", new { id = ViewBag.node.wm_url_id ,param1 = item.id }))"><i class="fa fa-edit"></i></a>
                        </td>
                        <td>
                            @using (Html.BeginForm("DeleteData", "IRNews", new { id = ViewBag.node.wm_url_id, param1 = item.id }, FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <button class="btn btn-danger btn-sm delete_btn" type="submit"><i class="fa fa-trash-o"></i></button>
                            }
                        </td>

                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="6" align="center">Empty</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script>

    $('.list-launch-block').find('.label').click(function () {
        $label = $(this);
        $id = $(this).siblings('div.id').data('id');
        $token = $(this).siblings('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            url: '@(Url.Action("AjaxUpdateLaunch"))',
            type: "POST",
            cache: false,
            async: true,
            data: { param1: $id, __RequestVerificationToken: $token },
            datatype: "json",
            success: function (data) {
                if (data == 1) {
                    $label.removeClass('label-danger').addClass('label-success').html('<i class="fa fa-check"></i>');
                } else if (data == 0) {
                    $label.removeClass('label-success').addClass('label-danger').html('<i class="fa fa-ban"></i>');
                }
            }
        });
    });
</script>