﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/ch/_Layout_seo.cshtml";
    ViewBag.Title = "能源管理與節約";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-csr">
		<h1 class="page-title title-large">永續發展</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
                <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                    <a itemprop="item" href="/ch/csr" class="active"><span itemprop="name">永續發展</span></a>
                    <meta itemprop="position" content="1">
                </li>
                <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                    <a itemprop="item" href="/public/ch/csr/environment_green_innovation.html" class="active"><span itemprop="name">環境與綠色創新</span></a>
                    <meta itemprop="position" content="2">
                </li>
                <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                    <a itemprop="item" href="/ch/csr/environmental_sustainability/climate_change_management/energy_management_and_conservation" class="active"><span itemprop="name">能源管理與節約</span></a>
                    <meta itemprop="position" content="3">
                </li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->

	<section class="inside-article">
        <div class="content-lg row">
            <article class="col-xs-12">     
                <h3 class="title">能源管理與節約</h3>
                <p>
                    日月光的工廠絕大部分購買使用公營發電廠電力，少部分直接使用天然氣、石油或柴油為燃料。為檢視能源使用狀況與管理改善能源效率，日月光半導體高雄、中壢與蘇州廠已導入ISO50001國際標準。此外，日月光高雄廠建立一套能源管理資訊平台，以此監測即時耗能狀況。
                </p>
            </article>
            <div class="col-sm-12">
                <h4 class="sub-title">投資綠色電力</h4>
                <p>
                    於溫室氣體管理上最有意義的做法就是轉移至非碳能源的使用，儘管我們的電力需求相當大，我們仍視其為未來可行的替代方案，致力於加強節能減碳，擴大綠色產業和促進可再生能源的決心，並逐步實現能源供應、產業發展和環境保護三贏的局面，以此降低我們的溫室氣體總排放量，2020年日月光的再生電力使用量為292,953.55MWh。
                </p>
                <div class="clearfix">&nbsp;<br></div>
            </div>
            <div class="col-sm-12">
                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/energy_management_and_conservation-pic.png">
                <div class="clearfix">&nbsp;<br><br></div>
            </div>
        </div>
    </section>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script>
	$(document).ready(function(){
	    $('[data-toggle="popover"]').popover();   
	});
	</script>