﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/tw/_Layout.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-csr">
		<h1 class="page-title title-large">企業社會責任</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "/" })"><i class="icon-home"></i><span itemprop="name">首頁</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })"><span itemprop="name">企業社會責任</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Supply_Chain_Development", "CSR", new { lang = ViewBag.language.lang })"><span itemprop="name">供應鏈發展</span></a>
					<meta itemprop="position" content="3" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "Conflict_Minerals_Compliance" })"><span itemprop="name">衝突礦產承諾</span></a>
					<meta itemprop="position" content="4" />
				</li>
			</ol>
		</div>
	</div>

	<div class="breadcrumbs-pc pull-left" id="breadcrumbs-pc">
	<!-- PC版選單breadcrumbs內容 -->
		<ul class="breadcrumbs-view" id="breadcrumbs-view">
			<li class="dropdown-item">
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })">技術</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Solution" })">解決方案</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" })">產品</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "ir" })">投資人關係</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })">企業社會責任</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "About" })">關於日月光集團</a></li>
				</ul>
			</li>
			<li class="dropdown-item">
				<a href="csr.html">企業社會責任</a>
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.Action("Letter_Chairman", "CSR", new { lang = ViewBag.language.lang })">董事長的話</a></li>
					<li><a href="@Url.Action("Sustainability_Governance", "CSR", new { lang = ViewBag.language.lang })">永續治理</a></li>
					<li><a href="@Url.Action("Stakeholder_Engagement", "CSR", new { lang = ViewBag.language.lang })">利害關係人專區</a></li>
					<li><a href="http://ir.aseglobal.com/c/ir_corpor.php">公司治理</a></li>
					<li><a href="@Url.Action("environmental_sustainability", "CSR", new { lang = ViewBag.language.lang })">環境永續</a></li>
					<li><a href="@Url.Action("Employee_Care_Development", "CSR", new { lang = ViewBag.language.lang })">員工關懷與發展</a></li>
					<li><a href="@Url.Action("Supply_Chain_Development", "CSR", new { lang = ViewBag.language.lang })" class="active">供應鏈發展</a></li>
					<li><a href="@Url.Action("Corporate_Citizenship_Social_Involvement", "CSR", new { lang = ViewBag.language.lang })">企業公民與社會參與</a></li>
					<li><a href="@Url.Action("Downloads", "CSR", new { lang = ViewBag.language.lang })">企業社會責任報告書下載專區</a></li>
				</ul>
			</li>
		</ul>
	</div>

	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">衝突礦產承諾</h3>
				<h4 class="sub-title">日月光集團衝突礦產採購管理政策</h4>
				<p>
					來自剛果民主共和國的「衝突礦產<a href="javascript:;" data-toggle="popover" data-trigger="hover" data-content="「衝突礦產」係指「華爾街改革與消費者保護法(Dodd-Frank Act)」第1502條和依據1934年證券交易法之美國證券交易委員會規則13P-1所界定的鈳鉭鐵礦、錫石、黃金、黑鎢礦或其衍生物。" data-placement="bottom">*</a>」之開採與銷售，有時會被武裝團體控制用以資助該國和鄰近區域的衝突，而我們產業的供應鏈可能會不慎取得衍生自衝突礦產的金屬，例如金、錫、鉭和鎢。日月光集團致力於供應鏈非衝突採購，只使用來源可靠的「非衝突礦產<a href="javascript:;" data-toggle="popover" data-trigger="hover" data-content="「非衝突礦產」係指不直接(或間接)為剛果民主共和國及鄰近區域的武裝團體帶來利益的「衝突礦產」。" data-placement="bottom">*</a>」。我們期望供應商與通過獨立第三方稽核計畫檢驗所認可的非衝突冶煉或熔煉廠進行採購。同時，我們也支持繼續使用來自剛果民主共和國或鄰近地區的非衝突礦產的措施，以不致於影響或縮減該區域「有責採礦作業<a href="javascript:;" data-toggle="popover" data-trigger="hover" data-content="「有責採礦作業」係指承擔社會和環境責任的採礦作業。" data-placement="bottom">*</a>」。日月光遵循經濟合作暨發展組織(OECD)所制訂「來自有衝突或高風險地區的礦產其負責任的供應鏈盡職調查指南」的盡職調查(Due Diligence)架構，對供應商執行盡責調查，以建立衝突礦產的管理機制。<br><br>

					日月光供應商必須遵守以下方針：<br>
					<ul class="nopadding">
						<li>積極調查與驗證其供應鏈，以確保日月光集團供應鏈透明化及非衝突採購的目標。</li>
						<li>遵循衝突礦產之區域及國際法規。</li>
						<li>遵循衝突礦產之採購及報告的產業標準。</li>
						<li>務求提供正確的非衝突礦產之正式保證。</li>
					</ul>
				</p>
				<div><a href="http://www.aseglobal.com/en/Csr/ASE_Group_CM_Policy_2017.pdf" target="_blank"><div class="circle_button darkgray facilities-circle-button"><i class="icon-arrow-right facilities-icon-arrow-right"></i></div> 日月光集團衝突礦產採購管理政策</a></div><br>
				<strong>衝突礦產管理流程</strong><br>
				<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/conflict_minerals_compliance1.png">
				<div class="clearfix"></div>
				<br>
				<strong>衝突礦產規範</strong><br>
				<p>
					日月光每年透過Letter to Supplier 及公司網站，向供應商傳達日月光集團衝突礦產政策與要求，供應商必須遵守日月光集團衝突礦產政策並建立其衝突礦產政策且傳達於其下一階供應商。
				</p>
				<strong>合理程度的礦產來源國調查(RCOI)</strong><br>
			</article>
			<div class="col-sm-8">
				<p>
					日月光每年執行合理程度的礦產來源國調查，以鑑別與確認我們封裝與材料服務及電子製造服務產品中3TG 的來源，以確認是否來自於衝突地區。<br><br>

					我們的RCOI 包含下列步驟：<br>
					<ol class="nopadding">
						<li>透過衝突礦產調查表單(簡稱CMRT)進行供應商調查，鑑別3TG冶煉廠的來源。</li>
						<li>供應商簽署承諾書確認遵守日月光衝突礦產政策與保證其正確且完整揭露冶煉廠的來源。</li>
					</ol>
				</p>
			</div>
			<div class="col-sm-4 text-center">
				<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/Conflict_Minerals_Compliance.png" style="padding: 5px 0"><br>
				<strong>衝突礦產合格供應商比例</strong>
			</div>
			<div class="clearfix"></div>
			<br>
			<article class="col-xs-12">
				<strong>盡責調查(Due Diligence)</strong><br>
				<p>
					日月光遵循經濟合作暨發展組織(OECD)所制訂的「來自有衝突或高風險地區的礦產其負責任的供應鏈盡職調查指南(Due Diligence Guidance for Responsible Supply Chains of Minerals from Conflict-Affected and High-Risk Areas)」的指導原則建立盡責調查架構。透過此盡責調查程序鑑別/評估供應商風險、回應與降低所鑑別之風險以維持有效的管理機制。
				</p>

				<strong>獨立第三方查核與公開揭露</strong><br>
				<p>
					日月光進行獨立第三方查核，以確認衝突礦產申報報告和盡責調查程序符合美國證券交易委員會(SEC)所頒佈之規定並每年公開揭露衝突礦產報告。
				</p>

				<strong>日月光衝突礦產申報 (U.S. SEC)</strong><br>
				<p>
					我們每年揭露衝突礦產管理報告站，「日月光集團衝突礦產申報文件」完整檔案：
				</p>
				<div><a href="http://www.aseglobal.com/en/Csr/ASE_SEC_Conflict_Minerals_Filing_for_2016.pdf" target="_blank"><div class="circle_button darkgray facilities-circle-button"><i class="icon-arrow-right facilities-icon-arrow-right"></i></div> 日月光集團 2016 美國證券交易委員會(SEC)衝突礦產申報文件</a></div><br>
				<div><a href="http://www.aseglobal.com/en/Csr/ASE_SEC_Conflict_Minerals_Filing_for_2015.pdf" target="_blank"><div class="circle_button darkgray facilities-circle-button"><i class="icon-arrow-right facilities-icon-arrow-right"></i></div> 日月光集團 2015 美國證券交易委員會(SEC)衝突礦產申報文件</a></div><br>
				<div><a href="http://www.aseglobal.com/en/Csr/ASE_SEC_Conflict_Minerals_Filing_for_2014.pdf" target="_blank"><div class="circle_button darkgray facilities-circle-button"><i class="icon-arrow-right facilities-icon-arrow-right"></i></div> 日月光集團 2014 美國證券交易委員會(SEC)衝突礦產申報文件</a></div><br>
				<div><a href="http://www.aseglobal.com/en/Csr/ASE_SEC_Conflict_Minerals_Filing_for_2013.pdf" target="_blank"><div class="circle_button darkgray facilities-circle-button"><i class="icon-arrow-right facilities-icon-arrow-right"></i></div> 日月光集團 2013 美國證券交易委員會(SEC)衝突礦產申報文件</a></div><br>

				<h4 class="sub-title">日月光衝突礦產諮詢</h4>
				<p>
					若您對於日月光衝突礦產有任何建議與問題，請聯繫：<a href="mailto:ASE_CM@aseglobal.com">ASE_CM@aseglobal.com</a>
				</p>
			</article>
		</div>
	</section>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script>
	$(document).ready(function(){
	    $('[data-toggle="popover"]').popover();   
	    
	});
	</script>