﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/tw/_Layout.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-csr">
		<h1 class="page-title title-large">企業社會責任</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "/" })"><i class="icon-home"></i><span itemprop="name">首頁</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })"><span itemprop="name">企業社會責任</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Supply_Chain_Development", "CSR", new { lang = ViewBag.language.lang })"><span itemprop="name">供應鏈發展</span></a>
					<meta itemprop="position" content="3" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "Supplier_Sustainability_Management" })"><span itemprop="name">供應商永續管理</span></a>
					<meta itemprop="position" content="4" />
				</li>
			</ol>
		</div>
	</div>

	<div class="breadcrumbs-pc pull-left" id="breadcrumbs-pc">
	<!-- PC版選單breadcrumbs內容 -->
		<ul class="breadcrumbs-view" id="breadcrumbs-view">
			<li class="dropdown-item">
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })">技術</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Solution" })">解決方案</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" })">產品</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "ir" })">投資人關係</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })">企業社會責任</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "About" })">關於日月光集團</a></li>
				</ul>
			</li>
			<li class="dropdown-item">
				<a href="csr.html">企業社會責任</a>
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.Action("Letter_Chairman", "CSR", new { lang = ViewBag.language.lang })">董事長的話</a></li>
					<li><a href="@Url.Action("Sustainability_Governance", "CSR", new { lang = ViewBag.language.lang })">永續治理</a></li>
					<li><a href="@Url.Action("Stakeholder_Engagement", "CSR", new { lang = ViewBag.language.lang })">利害關係人專區</a></li>
					<li><a href="http://ir.aseglobal.com/c/ir_corpor.php">公司治理</a></li>
					<li><a href="@Url.Action("environmental_sustainability", "CSR", new { lang = ViewBag.language.lang })">環境永續</a></li>
					<li><a href="@Url.Action("Employee_Care_Development", "CSR", new { lang = ViewBag.language.lang })">員工關懷與發展</a></li>
					<li><a href="@Url.Action("Supply_Chain_Development", "CSR", new { lang = ViewBag.language.lang })" class="active">供應鏈發展</a></li>
					<li><a href="@Url.Action("Corporate_Citizenship_Social_Involvement", "CSR", new { lang = ViewBag.language.lang })">企業公民與社會參與</a></li>
					<li><a href="@Url.Action("Downloads", "CSR", new { lang = ViewBag.language.lang })">企業社會責任報告書下載專區</a></li>
				</ul>
			</li>
		</ul>
	</div>

	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">供應商永續管理</h3>
				<p>
					日月光集團承諾建立供應商夥伴關係，確保供應鏈具備安全的工作環境，其員工受到尊重並享有尊嚴，且其營運對環境負責並符合商業道德。
				</p>
				<h4 class="sub-title">供應商永續管理流程</h4>
				<p>
					為落實日月光集團採購與供應鏈發展政策和承諾，我們建構四階段供應商永續管理流程，以促進供應商的永續績效。
				</p>
				<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/supplier_sustainability_management2.png">
				<div class="clearfix"></div><br>
				<h4 class="sub-title">供應商永續規範</h4>
				<p>
					日月光致力於建立永續供應鏈，我們除了要求新進供應商必須符合「日月光集團供應商行為準則」等相關規範外，於供應商評選時將永續因子納入評估項目，同時針對既有供應商與新供應商皆要求/鼓勵取得相關國際認證標準，如ISO 90001/ TS 16949、ISO 14001、OHSAS 18001等。我們對於新供應商導入要求分為兩個項目，分別為「供應商行為準則承諾書」及「永續風險評估問卷」。
				</p>
				<h4 class="sub-title">供應商永續風險評估</h4>
				<p>
					日月光為能夠了解供應鏈的永續狀況，並針對供應鏈永續性風險進行掌握，每年透過三個階段的評估程 序進行供應商永續性風險調查。首先，針對供應商的所在區域、採購金額以及供應商的生產流程，進行可能的潛在風險分析，對供應商的風險進行初步篩選。接著，為了進一步了解供應商的風險狀況，我們針對關鍵供應商與第一階供應商皆進行永續性風險問卷調查，要求關鍵供應商需回覆兩項永續性風險調查問卷（日月光永續風險評估問卷及EICC自我評估問卷），而針對第一階供應商則要求回覆一項永續性風險調查問卷（日月光永續風險評估問卷）。最後，於問卷調查完成後，針對鑑別出的高風險供應商，我們會進行進一步的風險評估，針對高風險的關鍵供應商，將進行現場稽核或要求其完成EICC的有效性稽核程序(Validated Audit Process, VAP)，而針對高風險的第一階供應商，會要求其完成回覆EICC自我評估問卷，以確認其風險狀況並且持續降低風險。
				</p>
				<h4 class="sub-title">永續性風險調查對象與流程</h4>
				<div class="col-md-7 col-md-offset-2">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/Supplier_Sustainability_Management.png" style="padding-top: 10px">
				</div>
				<div class="clearfix"></div><br>
				<h4 class="sub-title">供應商永續稽核機制</h4>
			</article>
			<div class="col-md-7 col-sm-6 col-xs-12">
				<p>
					日月光為確保供應鏈的永續性，針對供應商之永續性作為進行稽核，稽核方式包含：現場稽核/文件稽核，EICC VAP與委由第三方公正單位針對部分關鍵供應商進行二者稽核，採定期或不定期稽核。針對稽核所發現之缺失，皆要求供應商提供改善措施，同時並確認其改善措施之完成狀況，於次年再次確認缺失改善的落實狀況。
				</p>
			</div>
			<div class="col-md-5 col-sm-6 col-xs-12">
				<div class="col-xs-11 col-xs-offset-1 nopadding text-center">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/supplier_sustainability_management1.png" style="padding-top: 10px"><br>
					<strong>2016供應商稽核發現缺失&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong><br><br>
				</div>
			</div>
		</div>
	</section>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script>
	$(document).ready(function(){
	    $('[data-toggle="popover"]').popover();   
	});
	</script>