﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
    ViewBag.Title = "System-in-Package Intelligent Design ";
    ViewBag.enURL = "/en/technology/sip_id";
    ViewBag.zhURL = "/ch/technology/sip_id";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-technology">
		<h1 class="page-title title-large">System-in-Package Intelligent Design</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/technology/technology_innovation"><span itemprop="name">Technology</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/technology/sip_module"><span itemprop="name">System-in-Package </span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/technology/sip_id"><span itemprop="name">SiP Intelligent Design</span></a>
					<meta itemprop="position" content="3" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->

	<!-- Technology list -->
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<div class="clearfix"></div>
				<h3 class="title">System-in-Package Intelligent Design (SiP-id)</h3>
				<p>
					SiP-id stands for System-in-Package – Intelligent Design. The solution consists of an enhanced reference flow that includes IC packaging and verification tools from Cadence, and a new methodology that aggregates the requirements of wafer-, package- and system-level design into a unified and automated flow. By deploying the SiP-id methodology, chip designers can reduce design iterations and greatly improve throughput as compared to existing advanced packaging EDA tools. The end result is a vast reduction in the time needed to design and verify ultra-complex SiP packages.
				</p>
				<p>
					It is our intention to offer all ASE customers a set of efficient tools where designers can freely experiment with designs which can go beyond the current packaging limits. This set of design tools are available to eligible customers immediately. However, some of the proprietary libraries and design rules will be subject to an agreement with ASE. It is our belief that IoT, AI, VR, AR, EV and all future applications will demand more SiPs and modules. This is an ongoing effort by ASE, not only to develop fanout (such as Fan-Out Chip on Substrate, FOCoS), panel fanout, embedded substrates, 2.5D, but also to making design tools more user friendly, up-to-date and efficient.
				</p>
				<p>
					What is required to start a package design with SiP-id, DRC deck is required for fan-out design and 3D DRC deck, for SiP design. The customer can engage our in-house engineering to begin the process.
				</p>
				<div class="col-xs-12 pc"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/sipid.png"></div>
				<div class="col-xs-12 mobile"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/sipid_m.png"></div>
			</article>		
			<div class=" col-md-12 tech-cont-link"><br>
			<a class="phone" href="@Url.Action("plants_offices_ase", "About", new { lang = ViewBag.language.lang })"><span class="glyphicon glyphicon-earphone"></span>  Contact for enquries </a>
			</div>
		</div>
	</section>

<br>

<section class="inside-article">
		<div class="content-lg row">

			<div class="col-xs-12">
				<div class="technology-bottom-flex">
					<div class="technology-bottom"><a class="" href="@Url.Action("advanced_25DIC", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-10.png"><br>2.5D & 3D</a></div>
					<div class="technology-bottom"><a class="" href="@Url.Action("fan_out", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-01.png"><br>Fan Out</a></div>
					<div class="technology-bottom opacity-50"><a class="" href="@Url.Action("sip_id", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-11.png"><br>SiP-id</a></div>
					<div class="technology-bottom"><a class="" href="@Url.Action("sip_module", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-02.png"><br>System-in-Package</a></div>
					<div class="technology-bottom"><a class="" href="@Url.Action("flip_chip", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-03.png"><br>Flip Chip</a></div>
					<div class="technology-bottom"><a class="" href="@Url.Action("tsv_interposer_integration", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-04.png"><br>TSV-Interposer Integration</a></div>
					<div class="technology-bottom"><a class="" href="@Url.Action("wl_ipd", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-06.png"><br>WL IPD</a></div>
					<div class="technology-bottom"><a class="" href="@Url.Action("wl_mems", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-07.png"><br>WL MEMS</a></div>
					<div class="technology-bottom"><a class="" href="@Url.Action("mems_sensors", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-08.png"><br>MEMS &amp; Sensors</a></div>
					<div class="technology-bottom"><a class="" href="@Url.Action("embedded_die", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-09.png"><br>Embedded Die Technology</a></div>
					<div class="technology-bottom"><a class="" href="@Url.Action("test", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-05.png"><br>Semiconductor Test</a></div>
				</div>
			</div>
			<!-- technolog carousel -->
			<div class="row">
			<div class="col-xs-12">
				<div class="container technology-carousel">
					<div class='row'>
						<div class='col-xs-12'>
							<div class="carousel slide media-carousel" id="media">
								<!-- Indicators -->
								<ol class="carousel-indicators">
									<li data-target="#media" data-slide-to="0" class="active"></li>
									<li data-target="#media" data-slide-to="1"></li>
									<li data-target="#media" data-slide-to="2"></li>
									<li data-target="#media" data-slide-to="3"></li>
								</ol>
								<div class="carousel-inner">
									<div class="item  active">
										<div class="row">
											<div class="col-xs-4">
												<a class="" href="@Url.Action("advanced_25DIC", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-10.png"><br>2.5D & 3D</a>
											</div>
											<div class="col-xs-4">
												<a class="" href="@Url.Action("fan_out", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-01.png"><br>Fan Out</a>
											</div>
											<div class="col-xs-4">
												<a class="" href="@Url.Action("sip_id", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-11.png"><br>SiP-id</a>
											</div>
										</div>
									</div>
									<div class="item">
										<div class="row">
											<div class="col-xs-4">
												<a class="" href="@Url.Action("sip_module", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-02.png"><br>System-in-Package</a>
											</div>
											<div class="col-xs-4">
												<a class="" href="@Url.Action("flip_chip", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-03.png"><br>Flip Chip</a>
											</div>
											<div class="col-xs-4">
												<a class="" href="@Url.Action("tsv_interposer_integration", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-04.png"><br>TSV-Interposer Integration</a>
											</div>
										</div>
									</div>
									<div class="item">
										<div class="row">
											<div class="col-xs-4">
												<a class="" href="@Url.Action("wl_ipd", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-06.png"><br>WL IPD</a>
											</div>
											<div class="col-xs-4">
												<a class="" href="@Url.Action("wl_mems", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-07.png"><br>WL MEMS</a>
											</div>
											<div class="col-xs-4">
												<a class="" href="@Url.Action("mems_sensors", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-08.png"><br>MEMS &amp; Sensors</a>
											</div>
										</div>
									</div>
									<div class="item">
										<div class="row">
											<div class="col-xs-4">
												<a class="" href="@Url.Action("embedded_die", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-09.png"><br>Embedded Die Technology</a>
											</div>
											<div class="col-xs-4">
												<a class="" href="@Url.Action("test", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-05.png"><br>Semiconductor Test</a>
											</div>
										</div>
									</div>
								</div>
								<a data-slide="prev" href="#media" class="left carousel-control">‹</a>
								<a data-slide="next" href="#media" class="right carousel-control">›</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
			<!-- end technology carousel -->
		</div>
	</section>
<script>
	$(document).ready(function() { 

		$('#media').carousel({
			pause: true,
			interval: false,
		});
		$("#media").swiperight(function() { /* enables the swiping on phone */
			$(this).carousel('prev');
		});
		$("#media").swipeleft(function() { /* enables the swiping on phone */
			$(this).carousel('next');
		});
		$(".technology-features-content").hide();

		$('.technology-application').click(function() {
			$(this).closest(".row").find(".technology-features").removeClass("technology-tab-active").addClass("technology-tab-inactive");
			$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
			$(this).closest(".row").find(".technology-features-content").hide();
			$(this).closest(".row").find(".technology-application-content").fadeIn(1000);
		});
		$('.technology-features').click(function() {
			$(this).closest(".row").find(".technology-application").removeClass("technology-tab-active").addClass("technology-tab-inactive");
			$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
			$(this).closest(".row").find(".technology-application-content").hide();
			$(this).closest(".row").find(".technology-features-content").fadeIn(1000);
		});
	});
</script>
