﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
    ViewBag.Title = "High Performance Flip Chip BGA ";
    ViewBag.enURL = "/en/technology/hp_flip_chip_bga";
    ViewBag.zhURL = "/ch/technology/hp_flip_chip_bga";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-technology">
		<h1 class="page-title title-large">High Performance Flip Chip BGA</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/products/assembly"><span itemprop="name">Assembly</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/technology/flip_chip"><span itemprop="name">Flip Chip</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/technology/hp_flip_chip_bga"><span itemprop="name">HP Flip Chip BGA</span></a>
					<meta itemprop="position" content="3" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->

	<!-- Technology list -->
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<div class="col-sm-8 col-md-6 col-lg-4"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/hp_flip_chip_bga1.jpg"></div>
				<div class="clearfix"></div>
				<h3 class="title">High Performance Flip Chip BGA</h3>
				<p>
					HFC BGA (High Performance FCBGA), a thermally enhanced FCBGA, is the composite package of FCBGA with heat spreader made of Cu, Al, or AlSiC. The heat spreader is used to extend the heat conduction area by connecting itself to the rear side of the silicon chip.<br><br>

					This method desensitizes the performance deviation out of the chip size, lowers the thermal resistance of junction-to-case (θjc) and enables the external heat sink or fan to work more effectively. HFCBGA can produce 6~8 watts of power dissipation under natural convection.
				</p>
			</article>
		</div>
	</section>

	<section class="inside-article">
		<div class="content-lg row">
			<br><br>
			<div class="col-xs-6">
				<div class="technology-application technology-tab-active">Application</div>
			</div>
			<div class="col-xs-6">
				<div class="technology-features technology-tab-inactive">Features</div>
			</div>
			<div class="clearfix"></div>
			<div class="technology-application-content">
				<div class="col-xs-12 col-md-12">
					<div class="col-sm-6 col-md-4 nopadding">
						<strong>Computer</strong>
						<ul class="nopadding">
							<li>Graphics/Chipsets for PC</li>
							<li>Server</li>
							<li>High-end Application</li>
							<li>Microprocessor for PC & Server</li>
						</ul>
					</div>
					<div class="col-sm-6 col-md-4 nopadding">
						<strong>Telecommunication</strong>
						<ul class="nopadding">
							<li>Network Products (LAN)</li>
							<li>Switching</li>
							<li>Transmission</li>
							<li>Cellular Base Stations</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="technology-features-content">
				<div class="col-xs-12 col-md-12">
					<ul class="nopadding">
						<li>Substrate: 4 layer laminate, 4~12 layer build-up, ceramic, and PTFE substrates are available</li>
						<li>Thermal Lids: Heat spreaders made of Cu with Ni plating, Aluminum, Ceramic, AlSiC</li>
						<li>Passive Component: Passive component attaching. It can be placed on the top or bottom side of the package</li>
						<li>Ceramic BGA: High Pb solder ball with eutectic solder paste improves board level reliability performance of ceramic packages</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
<br>
	<section class="inside-article">
		<div class="content-lg row">
			<div class="col-xs-12 col-md-12">
				<h4 class="sub-title">Reliability</h4>
			</div>
			<div class="col-md-10 col-lg-6">
				<strong>Package Level</strong>
				<div class="table-responsive inside-table">
					<table class="table table-striped table-hover csr">
						<thead>
							<tr>
								<th class="left-border">Test Item</th>
								<th class="left-border">Reference Standard</th>
								<th class="left-border">Condition/Duration</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="left-border">MSL</td>
								<td class="left-border">JEDEC 22-A113</td>
								<td class="left-border">Level 4, 30°C/60% RH, 96 hrs</td>
							</tr>
							<tr>
								<td class="left-border">TCT</td>
								<td class="left-border">JEDEC 22-A104-B</td>
								<td class="left-border">-65°C to 150°C, 500, 1000 cycles</td>
							</tr>
							<tr>
								<td class="left-border">THT</td>
								<td class="left-border">JEDEC 22-A101</td>
								<td class="left-border">85°C/85% RH, 500/1000hrs</td>
							</tr>
							<tr>
								<td class="left-border">HAST</td>
								<td class="left-border">JEDEC 22-A118</td>
								<td class="left-border">130°C/85% RH, 33.5 psi 50/100hrs</td>
							</tr>
							<tr>
								<td class="left-border">HTST</td>
								<td class="left-border">JEDEC 22-A103-B</td>
								<td class="left-border">150°C, 500/1000 hrs</td>
							</tr>
							<tr>
								<td class="left-border">PCT</td>
								<td class="left-border">JEDEC 22-A102</td>
								<td class="left-border">121°C/100%RH , 15 psig, 96/168hrs</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>		
			
			<div class="content-wrapper col-md-12 tech-cont-link">
			<br><a class="phone" href="@Url.Action("plants_offices", "About", new { lang = ViewBag.language.lang })"><span class="glyphicon glyphicon-earphone"></span>  Contact for enquries </a>
			</div>

			<!-- more technology link -->

			<div class="col-md-12">
				<div class="circle_button-wrapper pull-left">
					<br><br>
				</div>
			</div>

			<div class="clearfix"></div>



		</div>


	</section>

	
	<section class="csr-bg">
		<div class="content-lg row">
			<div class="col-xs-12 csr">
				<div class="col-md-4 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("flip_chip_csp", "technology", new { lang = ViewBag.language.lang })">
							<span class="blue-text-in-box">Flip Chip CSP</span>
							<div class="circle_button-wrapper pull-right">
								<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-4 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("flip_chip_bga", "technology", new { lang = ViewBag.language.lang })">
							<span class="blue-text-in-box">Flip Chip BGA</span>
							<div class="circle_button-wrapper">
								<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-4 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("hp_flip_chip_bga", "technology", new { lang = ViewBag.language.lang })">
							<span class="blue-text-in-box">HP Flip Chip BGA</span>
							<div class="circle_button-wrapper">
								<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-4 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("cu_pillar", "technology", new { lang = ViewBag.language.lang })">
							<span class="blue-text-in-box">Cu Pillar</span>
							<div class="circle_button-wrapper">
								<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-4 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("solder_bumping", "technology", new { lang = ViewBag.language.lang })">
							<span class="blue-text-in-box">Solder Bumping</span>
							<div class="circle_button-wrapper">
								<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
<script>
	$(document).ready(function() { 

		$('#media').carousel({
			pause: true,
			interval: false,
		});
		$("#media").swiperight(function() { /* enables the swiping on phone */
			$(this).carousel('prev');
		});
		$("#media").swipeleft(function() { /* enables the swiping on phone */
			$(this).carousel('next');
		});
		$(".technology-features-content").hide();

		$('.technology-application').click(function() {
			$(this).closest(".row").find(".technology-features").removeClass("technology-tab-active").addClass("technology-tab-inactive");
			$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
			$(this).closest(".row").find(".technology-features-content").hide();
			$(this).closest(".row").find(".technology-application-content").fadeIn(1000);
		});
		$('.technology-features').click(function() {
			$(this).closest(".row").find(".technology-application").removeClass("technology-tab-active").addClass("technology-tab-inactive");
			$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
			$(this).closest(".row").find(".technology-application-content").hide();
			$(this).closest(".row").find(".technology-features-content").fadeIn(1000);
		});
	});
</script>