﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/ch/_Layout_seo.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-csr">
		<h1 class="page-title title-large">企業社會責任</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->

	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">企業公民與社會參與</h3>
				<p>
					日月光集團承諾透過積極參與慈善行動、教育計畫和社會工作回饋社區，將資源做最完善的分配，並發揮正面的社會影響力。<br><br>

					身為企業公民，日月光持續且具策略性地與在地社區、環保公益組織及產官學界等利害關係人議合及建立夥伴關係，並投入相關資源以提升社會整體發展，及創造社會價值。同時我們亦致力於推動與核心商業領域相關的對外倡議，藉此提升公司的正面形象及影響力，從而增進員工的向心力以及利害關係人對於日月光的信任。<br><br>

					日月光集團的社會參與策略係以「環保公益」、「產學教育」、「社區營造」及「對外倡議」為四大發展面向，於「集團永續發展委員會」下設置了「社會參與團隊(Social Involvement Taskforce)」來促動集團內社會參與相關行動，並依循LBG (London Benchmark Group)模式審視各個發展面向之相關投入、效益及其影響，每半年進行業務績效檢視及報告，2016年我們共計投入了約新台幣2.28億元在社會參與行動上， 約佔日月光集團稅前淨利<a href="javascript:;" data-toggle="popover" data-trigger="hover" data-content="2016年稅前淨利為新台幣28,041百萬元 (詳情請參閱2016年中文年報)。" data-placement="bottom">*</a>0.8%，志工投入人數超過1,650人，志工投入總時數超過6,600小時。
				</p>
			</article>
		</div>
	</section>

	<section class="csr-bg">
		<div class="content-lg row">
			<div class="col-sm-12 col-md-10 col-md-offset-1">
				<div class="col-sm-6 text-center moving-arrow">
					<a class="link-block" href="@Url.Action("corporate_citizenship_social_involvement", "CSR", new { lang = ViewBag.language.lang, param1 = "environmental_conservation" })">
						<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/corporate_citizenship_and_social_involvement1.jpg" class="navbar-btn"><br>
						環保公益<br>
						<div class="circle_button darkgray margin-top-5"><i class="icon-arrow-right"></i></div>
					</a><br>
				</div>
				<div class="col-sm-6 text-center moving-arrow">
					<a class="link-block" href="@Url.Action("corporate_citizenship_social_involvement", "CSR", new { lang = ViewBag.language.lang, param1 = "industry-academic_collaboration" })">
						<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/corporate_citizenship_and_social_involvement2.jpg" class="navbar-btn"><br>
						產學教育<br>
						<div class="circle_button darkgray margin-top-5"><i class="icon-arrow-right"></i></div>
					</a><br>
				</div>
			</div>
			<div class="col-sm-12 col-md-10 col-md-offset-1">
				<div class="col-sm-6 text-center moving-arrow">
					<a class="link-block" href="@Url.Action("corporate_citizenship_social_involvement", "CSR", new { lang = ViewBag.language.lang, param1 = "community_engagement" })">
						<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/corporate_citizenship_and_social_involvement3.jpg" class="navbar-btn"><br>
						社區營造<br>
						<div class="circle_button darkgray margin-top-5"><i class="icon-arrow-right"></i></div>
					</a>
				</div>
				<div class="col-sm-6 text-center moving-arrow">
					<a class="link-block" href="@Url.Action("corporate_citizenship_social_involvement", "CSR", new { lang = ViewBag.language.lang, param1 = "public_advocacy" })">
						<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/corporate_citizenship_and_social_involvement4.jpg" class="navbar-btn"><br>
						對外倡議<br>
						<div class="circle_button darkgray margin-top-5"><i class="icon-arrow-right"></i></div>
					</a>
				</div>
			</div>
		</div>
	</section>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script>
	$(document).ready(function(){
	    $('[data-toggle="popover"]').popover();   
	});
	</script>