﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/ch/_Layout_seo.cshtml";
    ViewBag.Title = "社會參與";
    ViewBag.zhURL = "/ch/csr/corporate_citizenship_social_involvement";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-csr">
		<h1 class="page-title title-large">永續發展</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch/csr"><span itemprop="name">永續發展</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch/csr/corporate_citizenship_social_involvement"><span itemprop="name">社會參與</span></a>
					<meta itemprop="position" content="2" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->

	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">社會參與</h3>
				<p>
					日月光集團承諾透過積極參與慈善行動、教育計畫和社會工作回饋社區，將資源做最完善的分配，並發揮正面的社會影響力。<br><br>

					身為企業公民，日月光持續且具策略性地與在地社區、環保公益組織及產官學界等利害關係人議合及建立夥伴關係，並投入相關資源以提升社會整體發展，及創造社會價值。同時我們亦致力於推動與核心商業領域相關的對外倡議，藉此提升公司的正面形象及影響力，從而增進員工的向心力以及利害關係人對於日月光的信任。<br><br>

					日月光集團的社會參與策略係以「環保公益」、「產學教育」、「社區營造」及「對外倡議」為四大發展面向，於「集團永續發展委員會」下設置了「社會參與團隊(Social Involvement Taskforce)」來促動集團內社會參與相關行動，並依循LBG (London Benchmark Group)模式審視各個發展面向之相關投入、效益及其影響，每半年進行業務績效檢視及報告。
				</p>
				<h4 class="sub-title">
					日月光集團公共事務參與政策
				</h4>
				<p>
					身為國際企業公民，日月光在致力於公司營運與維護股東利益的同時，也力求促進公共福祉。我們希望能在全球社會帶來正面的改變和影響。<br><br>

					因此，我們承諾確保就參與公共事務所做的捐贈或支出：
					<ul class="nopadding">
						<li>以支持公共事務或推動公共政策之發展為目的</li>
						<li>恪遵營運所在地所有應適用之會計準則與法規</li>
						<li>依據應適用之法規及報導需求適當揭露</li>
						<li>遵守公司相關的道德政策與規範</li>
					</ul>
					而我們支持的團體則限於：
					<ul class="nopadding">
						<li>與日月光關注之商業核心本業及永續發展相關議題有相同觀點</li>
						<li>同時能作為公共政策議題之討論平台且能為共同商業利益進行倡議</li>
					</ul>
				</p>
			</article>
		</div>
	</section>

	<section class="csr-bg">
		<div class="content-lg row">
			<div class="col-sm-12 col-md-10 col-md-offset-1">
				<div class="col-sm-6 text-center moving-arrow">
					<a class="link-block" href="@Url.Action("social_involvement", "CSR", new { lang = ViewBag.language.lang, param1 = "environmental_conservation" })">
						<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/corporate_citizenship_and_social_involvement1.jpg" class="navbar-btn"><br>
						環保公益<br>
						<div class="circle_button darkgray margin-top-5"><i class="icon-arrow-right"></i></div>
					</a><br>
				</div>
				<div class="col-sm-6 text-center moving-arrow">
					<a class="link-block" href="@Url.Action("social_involvement", "CSR", new { lang = ViewBag.language.lang, param1 = "industry-academic_collaboration" })">
						<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/corporate_citizenship_and_social_involvement2.jpg" class="navbar-btn"><br>
						產學教育<br>
						<div class="circle_button darkgray margin-top-5"><i class="icon-arrow-right"></i></div>
					</a><br>
				</div>
			</div>
			<div class="col-sm-12 col-md-10 col-md-offset-1">
				<div class="col-sm-6 text-center moving-arrow">
					<a class="link-block" href="@Url.Action("social_involvement", "CSR", new { lang = ViewBag.language.lang, param1 = "community_engagement" })">
						<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/corporate_citizenship_and_social_involvement3.jpg" class="navbar-btn"><br>
						社區營造<br>
						<div class="circle_button darkgray margin-top-5"><i class="icon-arrow-right"></i></div>
					</a>
				</div>
				<div class="col-sm-6 text-center moving-arrow">
					<a class="link-block" href="@Url.Action("social_involvement", "CSR", new { lang = ViewBag.language.lang, param1 = "public_advocacy" })">
						<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/corporate_citizenship_and_social_involvement4.jpg" class="navbar-btn"><br>
						對外倡議<br>
						<div class="circle_button darkgray margin-top-5"><i class="icon-arrow-right"></i></div>
					</a>
				</div>
			</div>
		</div>
	</section>
	<section class="csr-news" style="background-image: url('https://2311cdn.r.worldssl.net/pic/public/frontend/images/csr/social_involvement_bt-bg.jpg');">
        <div class="content-lg row">
            <div class="col-xs-12">
                <div class="content col-sm-6" style="background: rgba(255, 255, 255, 0.7);">
                    <a href="https://www.aseepsfund.org.tw/" target="_blank" style="margin-bottom: 0;">
                        <div class="textbox">
                            <p class="title text-center"><b>日月光環保永續基金會</b></p>
                        </div>
                        <div class="circle_button-wrapper">
                            <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                        </div>
                    </a>
                </div>
                <div class="content col-sm-6" style="background: rgba(255, 255, 255, 0.7);">
                    <a href="http://www.asefund.org.tw/" target="_blank" style="margin-bottom: 0;">
                        <div class="textbox">
                            <p class="title text-center"><b>日月光文教基金會</b></p>
                        </div>
                        <div class="circle_button-wrapper">
                            <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                        </div>
                    </a>
                </div>
                <div class="content col-sm-6" style="background: rgba(255, 255, 255, 0.7);">
                    <a href="http://www.warmer.com.tw/default1.asp" target="_blank" style="margin-bottom: 0;">
                        <div class="textbox">
                            <p class="title text-center"><b>日月光慈善基金會</b></p>
                        </div>
                        <div class="circle_button-wrapper">
                            <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                        </div>
                    </a>
                </div>
                <div class="content col-sm-6" style="background: rgba(255, 255, 255, 0.7);">
                    <a href="https://www.asemama.org/" target="_blank" style="margin-bottom: 0;">
                        <div class="textbox">
                            <p class="title text-center"><b>張姚宏影社會福利慈善事業基金會</b></p>
                        </div>
                        <div class="circle_button-wrapper">
                            <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script>
	$(document).ready(function(){
	    $('[data-toggle="popover"]').popover();   
	});
	</script>
	<style>
        .csr-news .content a:hover{
            background-color: #ffb95f;
        }
    </style>