﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/ch/_Layout_seo.cshtml";
    ViewBag.Title = "供應鏈發展";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-csr">
		<h1 class="page-title title-large">永續發展</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch/csr"><span itemprop="name">永續發展</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch/csr/supply_chain_development"><span itemprop="name">供應鏈發展</span></a>
					<meta itemprop="position" content="2" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->
	
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">供應鏈發展</h3>
				<p>
					供應鏈是日月光價值鏈的重要延伸，我們積極投入供應鏈永續發展以確保供應商和承攬商以永續經營、遵守商業道德和負責任的方式提供高品質的產品和服務。<br><br>

                    日月光秉持「積極、互信、誠正、自省」的核心價值追求持續成長，對於供應鏈管理日月光與時俱進，從選商、運用策略執行採購品項、供應商整合，到集結各領域資源建構平台與集團採購制度標準化，更將永續供應落實到採購日常管理，規範供應夥伴遵守行為準則，以「價值導向」引導供應商重視永續發展，促進產業創新。<br><br>

                    供應鏈管理為企業營運重要的一環，日月光除了堅持廉潔反貪的基本原則，並擬訂整合性採購策略協助達成營運目標；對內運用跨部門資源以兼顧綠色設計與客戶需求，對外與供應商發展穩定的夥伴關係以追求雙贏，並致力於上下游供應鏈合作開發創新的設備與材料，以期持續為客戶提供卓越的產品及服務。
				</p>
			</article>
		</div>
	</section>

	<section class="csr-bg">
		<div class="content-lg row">
			<div class="col-sm-4 text-center moving-arrow">
				<a class="link-block" href="@Url.Action("Supply_Chain_Development", "CSR", new { lang = ViewBag.language.lang, param1 = "Supplier_Development" })">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/supply_chain_development3.jpg" class="navbar-btn"><br>
					供應鏈管理<br>
					<div class="circle_button darkgray margin-top-5"><i class="icon-arrow-right"></i></div>
				</a>
			</div>
			<div class="col-sm-4 text-center moving-arrow">
				<a class="link-block" href="@Url.Action("Supply_Chain_Development", "CSR", new { lang = ViewBag.language.lang, param1 = "Supplier_Sustainability_Management" })">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/supply_chain_development2.jpg" class="navbar-btn"><br>
					供應商永續管理<br>
					<div class="circle_button darkgray margin-top-5"><i class="icon-arrow-right"></i></div>
				</a><br>
			</div>
			<div class="col-sm-4 text-center moving-arrow">
				<a class="link-block" href="@Url.Action("Supply_Chain_Development", "CSR", new { lang = ViewBag.language.lang, param1 = "Conflict_Minerals_Compliance" })">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/supply_chain_development4.jpg" class="navbar-btn"><br>
					衝突礦產承諾<br>
					<div class="circle_button darkgray margin-top-5"><i class="icon-arrow-right"></i></div>
				</a>
			</div>
		</div>
	</section>