﻿@using web.Models;
@model List<csr_report>
@{
    Layout = "~/Views/Shared/ch/_Layout_seo.cshtml";
    ViewBag.Title = "企業社會責任報告書下載";
}
<!-- page Banner -->
<section id="page-vision" class="page-banner-s banner-csr">
    <h1 class="page-title-csr title-large">永續發展</h1>
</section>

<!--breadcrumbs-->
<div class="content-lg row">
    <div class="col-xs-12">
        <ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
			<!-- Project-B Fix, Apply New Breadcrumb -->
			<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				<a itemprop="item" href="/ch"><i class="icon-home"></i><span itemprop="name">Home</span></a>
				<meta itemprop="position" content="0" />
			</li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="/ch/csr"><span itemprop="name">永續發展</span></a>
                <meta itemprop="position" content="1" />
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="/ch/csr/downloads"><span itemprop="name">企業社會責任下載專區</span></a>
                <meta itemprop="position" content="2" />
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="/ch/csr"><span itemprop="name">企業社會責任報告書下載</span></a>
                <meta itemprop="position" content="4" />
            </li>
        </ol>
    </div>
</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->
<section class="inside-article">
    <div class="content-lg row">
        <article class="col-xs-12">
        	<h3 class="title">企業社會責任報告書下載</h3>
            <p>
                日月光半導體自2018年成為日月光投資控股股份有限公司（簡稱日月光投控）之子公司，最新CSR報告書請見<a href="https://www.aseglobal.com/ch/csr-download/">日月光投控網站</a>。
            </p>
        </article>
        @if (Model.Count > 0)
        {
            foreach (csr_report item in Model)
            {
                <div class="col-sm-6 col-md-4 padding-bottom40 text-center">
                    @*<a href="@Url.Action("Download", "CSR", new { param1 = item.id })" class="link-block" data-id="@item.id">*@
                        <a href="@ViewBag.media_bank_path@item.filename" class="link-block download_btn" data-id="@item.id" target="_blank">
                            <img src="@ViewBag.media_bank_path@item.img_filename">
                            <p class="reports">
                                <br>
                                @item.title<br></p>
                                <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                        </a>
                </div>
            }
        }

        

        <article class="col-xs-12">
            <h4 class="sub-title">高雄廠報告書</h4>
        </article>

        <div class="col-sm-6 col-md-4 padding-bottom40 text-center">
            
                <a href="https://www.aseglobal.com/ch/pdf/2020_asekh_csr_report.pdf" class="link-block download_btn" data-id="18" target="_blank">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/2020_asekh_csr_report.jpg">
                    <p class="reports">
                        <br>
                        2020日月光高雄廠永續報告書<br></p>
                        <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                </a>
        </div>
        <div class="col-sm-6 col-md-4 padding-bottom40 text-center">
            
                <a href="https://www.aseglobal.com/ch/pdf/2019_asekh_csr_report.pdf" class="link-block download_btn" data-id="17" target="_blank">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/2019_asekh_csr_report.jpg">
                    <p class="reports">
                        <br>
                        2019日月光高雄廠永續報告書<br></p>
                        <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                </a>
        </div>
        <div class="col-sm-6 col-md-4 padding-bottom40 text-center">
            
                <a href="https://www.aseglobal.com/ch/pdf/2018_asekh_csr_report.pdf" class="link-block download_btn" data-id="16" target="_blank">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/2018_asekh_csr_report.jpg">
                    <p class="reports">
                        <br>
                        2018日月光高雄廠永續報告書<br></p>
                        <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                </a>
        </div>

        <div class="col-sm-6 col-md-4 padding-bottom40 text-center">
            
                <a href="https://2311cdn.r.worldssl.net/public/downloads/ch/ASEKH_CSR Report_2017.pdf" class="link-block download_btn" data-id="18" target="_blank">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/2017_asekh_csr_report.jpg">
                    <p class="reports">
                        <br>
                        2017日月光高雄廠永續報告書<br></p>
                        <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                </a>
        </div>
        <div class="col-sm-6 col-md-4 padding-bottom40 text-center">
            
                <a href="https://2311cdn.r.worldssl.net/public/downloads/ch/ASEKH_CSR Report_2016.pdf" class="link-block download_btn" data-id="17" target="_blank">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/2016_asekh_csr_report.jpg">
                    <p class="reports">
                        <br>
                        2016日月光高雄廠永續報告書<br></p>
                        <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                </a>
        </div>
        <div class="col-sm-6 col-md-4 padding-bottom40 text-center">
            
                <a href="https://2311cdn.r.worldssl.net/public/downloads/ch/ASEKH_CSR Report_2015.pdf" class="link-block download_btn" data-id="16" target="_blank">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/2015_asekh_csr_report.jpg">
                    <p class="reports">
                        <br>
                        2015日月光高雄廠永續報告書<br></p>
                        <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                </a>
        </div>
        <div class="col-sm-6 col-md-4 padding-bottom40 text-center">
            
                <a href="https://2311cdn.r.worldssl.net/public/downloads/ch/ASEKH_2014_CSR_CH_Final.pdf" class="link-block download_btn" data-id="16" target="_blank">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/2014_asekh_csr_report.jpg">
                    <p class="reports">
                        <br>
                        2014日月光高雄廠永續報告書<br></p>
                        <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                </a>
        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal modal2 fade" id="csrModal" tabindex="-1" role="dialog" aria-labelledby="csrModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog2">
        <div class="modal-content">
            <div class="modal-body text-center">
                Thank you for your interest in our CSR reports.
                Would you be willing to tell us more about the sustainability issues you concerned?<br><br>
                <div class="moving-arrow">
                    <a class="link-block" href="@Url.Action("csr_report_questionnaire", "CSR", new { lang = ViewBag.language.lang })">
                        Yes, I' ll take the survey<br>
                        <div class="circle_button darkgray margin-top-5"><i class="icon-arrow-right"></i></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>