﻿@using web.Models;
@using web.Common;
@model blog_author
@{
    Layout = "~/Views/Shared/ch/_Layout_seo.cshtml";
}
<!-- page Banner -->
<section id="page-vision" class="page-banner-s banner-blog">
    <img class="blog-message" src="/css/public/frontend/images/csr/banner_message.png" />
    @*<h1 class="page-title title-large"></h1>*@
</section>

<!--breadcrumbs-->
<div class="content-lg row">
    <div class="col-xs-12">
        <ol id="breadcrumbs" class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
            <!-- Project-B Fix, Apply New Breadcrumb -->
            <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="/ch" class="active"><i class="icon-home"></i><span itemprop="name">Home</span></a>
                <meta itemprop="position" content="0">
            </li>
            <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="/ch/about" class="active"><span itemprop="name">關於日月光</span></a>
                <meta itemprop="position" content="1">
            </li>
            <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                <a itemprop="item"><span itemprop="name">新聞中心</span></a>
                <meta itemprop="position" content="2">
            </li>
            <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="/ch/blog" class="active"><span itemprop="name">部落格</span></a>
                <meta itemprop="position" content="3">
            </li>
            <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="/ch/blog" class="active"><span itemprop="name">@Model.blog_author_dtl.Where(u => u.lang == ViewBag.language.lang).FirstOrDefault().name</span></a>
                <meta itemprop="position" content="4">
            </li>
        </ol>
    </div>
</div>
<div id="searchRow" class="content-lg row">
    <div class="col-xs-12">
        <div class="col-md-6"></div>
        @using (Html.BeginForm("csr_blog", "CSR", FormMethod.Get))
        {
            <div class="col-md-3 nopadding">
                @Html.DropDownList("authorid", new SelectList(@ViewBag.Authorlist, "Value", "Text"), new { @class = "form-control block_ddl", id = "ddlAuthor" })
                @Html.DropDownList("typeid", new SelectList(@ViewBag.Typelist, "Value", "Text"), new { @class = "form-control block_ddl", id = "ddlType" })
            </div>
            <div class="col-md-3 nopadding mtop10">
                <input type="text" id="txtKeyword" class="form-control block_keyword" name="keyword" value="@ViewBag.keyword" placeholder="輸入搜尋文字" />
                @*<button type="submit" class="btn btn-group-sm btn-default block_search"><i class="icon-search" style="font-size: 12px;"></i></button>*@
                <a id="aSearch" class="btn btn-group-sm btn-default block_search"><i class="icon-search" style="font-size: 12px;"></i></a>
            </div>
        }
    </div>
</div>
<section>
    <div class="content-lg row">
        <article class="col-xs-12">
            <h2 class="title" style="color:#09458C;font-weight:bold">作者簡介</h2>
        </article>
    </div>
    <br />
    <div class="content-lg row">
        <div class="col-md-4">
            <div class="col-xs-10 col-xs-offset-1 nopadding">
                <img id="imgAuthor" src="@Model.picurl" style="border-radius: 50%;width:100%" onerror="showdefault()"><br><br>
                <input type="hidden" id="hdid" value="@Model.id" />
            </div>
        </div>
        <div class="col-md-8" style="display: inline-block;">
            <h3 style="color:#F7931E;font-weight:bold">@Model.blog_author_dtl.Where(u => u.lang == ViewBag.language.lang).FirstOrDefault().name</h3>
            <h4 style="color:#808080;font-weight:bold;line-height: 160%;">
                @Html.Raw(Model.blog_author_dtl.Where(u => u.lang == ViewBag.language.lang).FirstOrDefault().brief)
            </h4>
        </div>
    </div>
</section>

<section id="AllBlog" class="csr-bg" style="padding-top:40px">
    @Html.AntiForgeryToken()
    <div id="AllBlogRow" class="content-lg row">

    </div>
</section>

<script type="text/javascript">
    var _throttleTimer = null;
    var _throttleDelay = 100;
    var $window = $(window);
    var $document = $(document);
    var pageno = 0;
    var isbottom = false;

    $(document).ready(function () {
        $("#ddlAuthor").val("0"); $("#ddlType").val("0"); $('#txtKeyword').val("");
        $("ul.dropdown-menu").find("li a").each(function (idx, val) {
            var url = $(val).attr("href") + window.location.search;
            $(val).attr("href", url);
        })

        Nextpage(pageno); ++pageno;
        $window
            .off('scroll', ScrollHandler)
            .on('scroll', ScrollHandler);
    })

    $('#ddlAuthor,#ddlType').change(function () {
        var url = window.location.origin + window.location.pathname.substring(0, 3) + "/blog?authorid=" + $('#ddlAuthor option:selected').val() + "&typeid=" + $('#ddlType option:selected').val();
        window.location.href = url;
    });
    $("#aSearch").click(function () {
        var url = window.location.origin + window.location.pathname.substring(0, 3) + "/blog?keyword=" + $('#txtKeyword').val();
        window.location.href = url;
    })

    function ScrollHandler(e) {
        //throttle event:
        clearTimeout(_throttleTimer);
        _throttleTimer = setTimeout(function () {
            if ($window.scrollTop() + $window.height() > $document.height() - 100 - $("footer").height()) {
                if (!isbottom) {
                    Nextpage(pageno)
                    ++pageno;
                }
                //console.log(pageno, isbottom);
                //console.log('end reached');
            }

        }, _throttleDelay);
    }

    function Nextpage(pageno) {
        $token = $('#AllBlog input[name="__RequestVerificationToken"]').val();
        $.ajax({
            url: '@(Url.Action("ajaxGetAllBlog"))',
            type: "POST",
            cache: false,
            async: true,
            data: { lang: "ch", authorid: $("#hdid").val(), typeid: 0, pagesize: 10, pageno: pageno, keyword: "", __RequestVerificationToken: $token },
            datatype: "json",
            success: function (data) {
                $("#AllBlogRow").append(data);
                if (data == "") isbottom = true;
            }
        });
    }

    function showdefault() {
        var url = window.location.origin;
        $("#imgAuthor").attr("src", url +"/public/uploads/defaultauthor.png")
    }
</script>
