﻿@using web.Models;
@model List<csr_report>
@{
    Layout = "~/Views/Shared/ch/_Layout_seo.cshtml";
}
<!-- page Banner -->
<section id="page-vision" class="page-banner-s banner-csr">
    <h1 class="page-title-csr title-large">企業社會責任</h1>
</section>

<!--breadcrumbs-->
<div class="content-lg row">
    <div class="col-xs-12">
        <ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
        </ol>
    </div>
</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->
<section class="inside-article">
    <div class="content-lg row">
<article class="col-xs-12">
		<h3 class="title">企業社會責任報告書下載</h3>
</article>
        @if (Model.Count > 0)
        {
            foreach (csr_report item in Model)
            {
                <div class="col-sm-6 col-md-4 padding-bottom40 text-center">
                    @*<a href="@Url.Action("Download", "CSR", new { param1 = item.id })" class="link-block" data-id="@item.id">*@
                        <a href="@ViewBag.media_bank_path@item.filename" class="link-block download_btn" data-id="@item.id" target="_blank">
                            <img src="@ViewBag.media_bank_path@item.img_filename">
                            <p class="reports">
                                <br>
                                @item.title<br></p>
                                <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                            
                        </a>
                </div>
            }
        }

        <div class="panel-group col-xs-12" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="col-md-12 bgnews-list list-base panel">
                <div class="content">
                    <a href="/public/downloads/ch/ASEKH_CSR Report_2017.pdf" target="_blank">
                        <span class="blue-text-in-box accordion-center-text">2017日月光高雄廠永續報告書</span>
                        <div class="circle_button-wrapper pull-right">
                            <div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="panel-group col-xs-12" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="col-md-12 bgnews-list list-base panel">
                <div class="content">
                    <a href="/public/downloads/ch/ASEKH_CSR Report_2016.pdf" target="_blank">
                        <span class="blue-text-in-box accordion-center-text">2016日月光高雄廠永續報告書</span>
                        <div class="circle_button-wrapper pull-right">
                            <div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="panel-group col-xs-12" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="col-md-12 bgnews-list list-base panel">
                <div class="content">
                    <a href="/public/downloads/ch/ASEKH_CSR Report_2015.pdf" target="_blank">
                        <span class="blue-text-in-box accordion-center-text">2015日月光高雄廠永續報告書</span>
                        <div class="circle_button-wrapper pull-right">
                            <div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="panel-group col-xs-12" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="col-md-12 bgnews-list list-base panel">
                <div class="content">
                    <a href="/public/downloads/ch/ASEKH_2014_CSR_CH_Final.pdf" target="_blank">
                        <span class="blue-text-in-box accordion-center-text">2014日月光高雄廠永續報告書</span>
                        <div class="circle_button-wrapper pull-right">
                            <div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="panel-group col-xs-12" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="col-md-12 bgnews-list list-base panel">
                <div class="content">
                    <a href="http://csr.usish.com/c_download.php" target="_blank">
                        <span class="blue-text-in-box accordion-center-text">USI環電企業社會責任報告書</span>
                        <div class="circle_button-wrapper pull-right">
                            <div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal modal2 fade" id="csrModal" tabindex="-1" role="dialog" aria-labelledby="csrModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog2">
        <div class="modal-content">
            <div class="modal-body text-center">
                Thank you for your interest in our CSR reports.
                Would you be willing to tell us more about the sustainability issues you concerned?<br><br>
                <div class="moving-arrow">
                    <a class="link-block" href="@Url.Action("csr_report_questionnaire", "CSR", new { lang = ViewBag.language.lang })">
                        Yes, I' ll take the survey<br>
                        <div class="circle_button darkgray margin-top-5"><i class="icon-arrow-right"></i></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.download_btn').click(function (e) {
            e.preventDefault();
            var id = $(this).data("id");
            var url2 = "@Url.Action("AddCountData", "CSR")/" + id;
            var download_url = $(this).prop('href');
            var url = "";
            $.ajax({
                type: 'POST',
                url: url2,
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (data) {
                    dothing(id, data, download_url);
                }
            });


        });

        function dothing(id, data, download_url)
        {
            url = "@Url.Action("csr_report_questionnaire", "CSR", new { lang = ViewBag.language.lang })/" + id + "/" + data;
            $('#csrModal').find('a.link-block').prop('href', url);
            setTimeout(
                function () {
                    $('#csrModal').modal('show');
                }, 1500);
            window.open(download_url);
            //window.location.href = download_url;
        }

	});
</script>