﻿@using web.Models;
@model List<csr_report>
@{
    Layout = "~/Views/Shared/ch/_Layout_seo.cshtml";
    ViewBag.Title = "企業社會責任下載專區";
}
<!-- page Banner -->
<section id="page-vision" class="page-banner-s banner-csr">
    <h1 class="page-title title-large">永續發展</h1>
</section>

<!--breadcrumbs-->
<div class="content-lg row">
    <div class="col-xs-12">
        <ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
			<!-- Project-B Fix, Apply New Breadcrumb -->
			<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				<a itemprop="item" href="/ch"><i class="icon-home"></i><span itemprop="name">Home</span></a>
				<meta itemprop="position" content="0" />
			</li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="/ch/csr"><span itemprop="name">永續發展</span></a>
                <meta itemprop="position" content="1" />
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="/ch/csr"><span itemprop="name">企業社會責任下載專區</span></a>
                <meta itemprop="position" content="2" />
            </li>
        </ol>
    </div>
</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->

	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">企業社會責任下載專區</h3>
			</article>
		</div>
	</section>
	<section class="csr-bg">
		<div class="content-lg row">
			<div class="col-sm-10 col-sm-offset-1 csr">

				<div class="col-md-6 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("Downloads", "CSR", new { lang = ViewBag.language.lang, param1 = "report" })">
							<span class="blue-text-in-box">企業社會責任報告書下載</span>
							<div class="circle_button-wrapper pull-right">
								<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>
			
				<div class="col-md-6 bgnews-list list-base">
					<div class="content">
						<a  href="@Url.Action("Downloads", "CSR", new { lang = ViewBag.language.lang, param1 = "video" })">
							<span class="blue-text-in-box">企業社會責任影片下載</span>
							<div class="circle_button-wrapper">
								<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>
				<div class="clearfix"></div>

			</div>
		</div>
	</section>