﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/ch/_Layout_seo.cshtml";
    ViewBag.Title = "員工關懷與發展";
    ViewBag.zhURL = "/ch/csr/employee_care_development";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-csr">
		<h1 class="page-title title-large">永續發展</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch/csr"><span itemprop="name">永續發展</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch/csr/employee_care_development"><span itemprop="name">員工關懷與發展</span></a>
					<meta itemprop="position" content="2" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->
	
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">員工關懷與發展</h3>
				<p>
					日月光集團承諾提供給員工安全、健康及優質的工作環境，確保人才多元化及保障人權。<br><br>

					日月光承諾持續進行人才的投資與培育，促使員工在公司的職涯發展中享有意義與價值，並使公司擁有高技能及經驗豐富的人力資本。我們尊重員工的人權，致力於提供及維護舒適安全及照護員工身心健康的工作環境，促進員工工作效率及生產力。
				</p>
			</article>
		</div>
	</section>
	<section class="csr-bg">
		<div class="content-lg row">
		
			<div class="col-sm-12 col-md-10 col-md-offset-1">
				<div class="col-sm-6 text-center moving-arrow">
					<a href="@Url.Action("corporate_sustainability_policy_and_management", "CSR", new { lang = ViewBag.language.lang, param1 = "human_rights_management" })">
						<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/sustainability_governance6.jpg" class="navbar-btn"><br>
						人權管理<br>
						<div class="circle_button darkgray margin-top-5"><i class="icon-arrow-right"></i></div>
					</a><br>
				</div>
				<div class="col-sm-6 text-center moving-arrow">
					<a class="link-block" href="@Url.Action("Employee_Care_Development", "CSR", new { lang = ViewBag.language.lang, param1 = "employee_care" })">
						<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/employee_care_and_development2.jpg" class="navbar-btn"><br>
						員工照顧<br>
						<div class="circle_button darkgray margin-top-5"><i class="icon-arrow-right"></i></div>
					</a><br>
				</div>
				<div class="col-sm-6 text-center moving-arrow">
					<a class="link-block" href="@Url.Action("Employee_Care_Development", "CSR", new { lang = ViewBag.language.lang, param1 = "employee_development" })">
						<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/employee_care_and_development3.jpg" class="navbar-btn"><br>
						員工發展<br>
						<div class="circle_button darkgray margin-top-5"><i class="icon-arrow-right"></i></div>
					</a>
				</div>
				<div class="col-sm-6 text-center moving-arrow">
					<a class="link-block" href="@Url.Action("Employee_Care_Development", "CSR", new { lang = ViewBag.language.lang, param1 = "employee_health_and_safety" })">
						<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/employee_care_and_development4.jpg" class="navbar-btn"><br>
						員工健康與安全<br>
						<div class="circle_button darkgray margin-top-5"><i class="icon-arrow-right"></i></div>
					</a>
				</div>
			</div>
			
		</div>
	</section>