﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/ch/_Layout_seo.cshtml";
    ViewBag.Title = "環境管理系統與認證";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-csr">
		<h1 class="page-title title-large">永續發展</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
                <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                    <a itemprop="item" href="/ch/csr" class="active"><span itemprop="name">永續發展</span></a>
                    <meta itemprop="position" content="1">
                </li>
                <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                    <a itemprop="item" href="/public/ch/csr/environment_green_innovation.html" class="active"><span itemprop="name">環境與綠色創新</span></a>
                    <meta itemprop="position" content="2">
                </li>
                <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                    <a itemprop="item" href="/ch/csr/environmental_sustainability" class="active"><span itemprop="name">環境管理系統與認證</span></a>
                    <meta itemprop="position" content="3">
                </li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->

	<section class="inside-article">
		<div class="content-lg row csr">
			<article class="col-xs-12">
				<h3 class="title">環境管理系統與認證</h3>
			</article>

			<article class="col-md-12">
				<div class="table-responsive inside-table">
                    <table class="table table-striped table-hover csr text-center">
                        <thead>
                            <tr>
                                <th style="font-size: 15px" class="text-center">廠區 / 認證</th>
                                <th style="font-size: 15px" class="text-center">ISO 14001<br>環境管理系統</th>
                                <th style="font-size: 15px" class="text-center">ISO 14064-1<br>溫室氣體盤查</th>
                                <th style="font-size: 15px" class="text-center">QC 080000<br>有害物質流程管理系統</th>
                                <th style="font-size: 15px" class="text-center">ISO 50001<br>能源管理系統</th>
                                <th style="font-size: 15px" class="text-center">ISO 14067<br>碳足跡</th>
                                <th style="font-size: 15px" class="text-center">ISO 14045<br>產品系統生態效益評估/<br>產品環境足跡</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><strong>日月光半導體 高雄廠</strong></td>
                                <td>v</td>
                                <td>v</td>
                                <td>v</td>
                                <td>v</td>
                                <td>v</td>
                                <td>v</td>
                            </tr>
                            <tr>
                                <td><strong>日月光半導體 中壢廠</strong></td>
                                <td>v</td>
                                <td>v</td>
                                <td>v</td>
                                <td>v</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td><strong>日月光半導體 蘇州廠</strong></td>
                                <td>v</td>
                                <td>v</td>
                                <td>v</td>
                                <td>v</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td><strong>日月光半導體 威海廠</strong></td>
                                <td>v</td>
                                <td>v</td>
                                <td>v</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td><strong>日月光半導體 無錫廠</strong></td>
                                <td>v</td>
                                <td>v</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td><strong>日月光半導體 上海材料廠</strong></td>
                                <td>v</td>
                                <td>v</td>
                                <td>v</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td><strong>日月光半導體 上海封測廠</strong></td>
                                <td>v</td>
                                <td>v</td>
                                <td>v</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td><strong>上海月芯 半導體</strong></td>
                                <td>&nbsp;</td>
                                <td>v</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td><strong>日月光半導體 昆山廠</strong></td>
                                <td>v</td>
                                <td>v</td>
                                <td>v</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td><strong>日月光半導體 日本廠</strong></td>
                                <td>v</td>
                                <td>v</td>
                                <td>v</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td><strong>日月光半導體 韓國廠</strong></td>
                                <td>v</td>
                                <td>v</td>
                                <td>v</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td><strong>日月光半導體 新加坡廠</strong></td>
                                <td>v</td>
                                <td>v</td>
                                <td>v</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td><strong>日月光半導體 馬來西亞廠</strong></td>
                                <td>v</td>
                                <td>V</td>
                                <td>v</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td><strong>ISE Labs</strong><a href="javascript:;" data-toggle="popover" data-trigger="hover" data-content="ISE Labs非製造廠房，故不適用QC 080000、ISO 14067、ISO 14045。" data-placement="bottom">*</a></td>
                                <td>v</td>
                                <td>V</td>
                                <td>N/A</td>
                                <td>&nbsp;</td>
                                <td>N/A</td>
                                <td>N/A</td>
                            </tr>
                        </tbody>
                    </table>
				</div>
                <br>
                <br>
                <br>
			</article>
		</div>
	</section>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script>
	$(document).ready(function(){
	    $('[data-toggle="popover"]').popover({
	    	html:true,
	    	trigger: 'hover',
	    	placement: 'bottom',
	    });
	});
	</script>