﻿
@model web.ViewModels.ResevationQuest
@{
    Layout = "~/Views/Shared/ch/_Layout_seo.cshtml";
    ViewBag.Title = "日月光綠科技教育館學習回饋單";
    ViewBag.enURL = null;
}

@helper getRadioOptions(string value, string checkValue)
{
    if (value == checkValue)
    {
        @("checked value=" + checkValue)
    }
    else
    {
        @("value=" + checkValue)
    }

}

@helper getRadioOptions(List<string> values, string checkValue)
{
    if (values != null && values.Contains(checkValue))
    {
        @("checked value=" + checkValue)
    }
    else
    {
        @("value=" + checkValue)
    }
}

<section id="page-vision" class="page-banner-s banner-csr">
    <h1 class="page-title title-large">永續發展</h1>
</section>

<!--breadcrumbs-->
<div class="content-lg row">
    <div class="col-xs-12">
        <ol id="breadcrumbs" class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
            <!-- Project-B Fix, Apply New Breadcrumb -->
            <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="/ch"><i class="icon-home"></i><span itemprop="name">Home</span></a>
                <meta itemprop="position" content="0">
            </li>
            <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="/ch/csr"><span itemprop="name">永續發展</span></a>
                <meta itemprop="position" content="1">
            </li>
            <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="/public/ch/csr/environment_green_innovation.html"><span itemprop="name">環境與綠色創新</span></a>
                <meta itemprop="position" content="2">
            </li>
            <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="/public/ch/csr/green_technology_education_center.html"><span itemprop="name">綠科技教育館</span></a>
                <meta itemprop="position" content="3">
            </li>
            <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                <a itemprop="item"><span itemprop="name">日月光綠科技教育館學習回饋單</span></a>
                <meta itemprop="position" content="4">
            </li>
        </ol>
    </div>
</div>

<!-- Project-B Fix, Remove Old Breadcrumb -->

<section class="inside-article">
    <div class="content-lg row">
        <article class="col-xs-12">
            <h3 class="title" style="line-height:30px"><u>日月光綠科技教育館</u>學習回饋單</h3>
        </article>
        <div class="col-xs-12">
            您好！非常感謝您熱情的參與本次「綠科技教育館 環境教育活動」。為了讓教育館有更優質的經營與服務，您的寶貴意見將成為我們日後規劃與辦理活動之參考，請安心填寫，並於填寫完畢後，交予館方工作人員，領取精美小禮哦！
        </div>

        <div class="col-xs-12">
            <br />
            <div class="questForm">
                @using (Html.BeginForm(null, null, "POST"))
                {
                    <div class="formField">
                        <div class="formLabel">姓名</div>
                        <div class="formControl">
                            <input type="text" class="form-control" required name="Name" value="@Model.Name" />
                        </div>
                    </div>
                    <div class="formField">
                        <div class="formLabel">單位</div>
                        <div class="formControl">
                            <input type="text" class="form-control" required name="Org" value="@Model.Org" />
                        </div>
                    </div>
                    <div class="formField vertical">
                        <div class="formLabel">1. 您如何得知『日月光綠科技教育館』？</div>
                        <div class="formControl">
                            <div class="radioList">
                                <div class="radioItem">
                                    <label>
                                        <input type="radio" required name="HowKnow" @getRadioOptions(Model.HowKnow, "網站") />
                                        網站
                                    </label>
                                    <input type="text" name="HowKnowSite" value="@Model.HowKnowSite" />
                                </div>
                                <div class="radioItem">
                                    <label>
                                        <input type="radio" required name="HowKnow" @getRadioOptions(Model.HowKnow, "親友") />
                                        親友
                                    </label>
                                </div>
                                <div class="radioItem">
                                    <label>
                                        <input type="radio" required name="HowKnow" @getRadioOptions(Model.HowKnow, "學校/機關") />
                                        學校/機關
                                    </label>
                                </div>
                                <div class="radioItem">
                                    <label>
                                        <input type="radio" required name="HowKnow" @getRadioOptions(Model.HowKnow, "其它管道") />
                                        其它管道
                                    </label>
                                    <input type="text" name="HowKnowNote" value="@Model.HowKnowNote" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="formField vertical">
                        <div class="formLabel">
                            2. 請問您參訪過『日月光綠科技教育館』幾次？
                        </div>
                        <div class="formControl">
                            <div class="radioList">
                                <div class="radioItem">
                                    <label>
                                        <input type="radio" required name="Count" @getRadioOptions(Model.Count, "1次") />
                                        1次
                                    </label>
                                </div>
                                <div class="radioItem">
                                    <label>
                                        <input type="radio" required name="Count" @getRadioOptions(Model.Count, "2-5次") />
                                        2-5次
                                    </label>
                                </div>
                                <div class="radioItem">
                                    <label>
                                        <input type="radio" required name="Count" @getRadioOptions(Model.Count, "6次以上") />
                                        6次以上
                                    </label>
                                </div>
                                <div class="radioItem">
                                    <label>
                                        <input type="radio" required name="Count" @getRadioOptions(Model.Count, "從未來過") />
                                        從未來過
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="formField vertical">
                        <div class="formLabel">
                            3. 請問本次您參與的教案是：
                        </div>
                        <div class="formControl">
                            <div class="radioList">
                                <div class="radioItem">
                                    <label>
                                        <input type="radio" required name="Project" @getRadioOptions(Model.Project, "滴噠日月光園區遊記") />
                                        滴噠日月光園區遊記
                                    </label>
                                </div>
                                <div class="radioItem">
                                    <label>
                                        <input type="radio" required name="Project" @getRadioOptions(Model.Project, "工廠進化論") />
                                        工廠進化論
                                    </label>
                                </div>
                                <div class="radioItem">
                                    <label>
                                        <input type="radio" required name="Project" @getRadioOptions(Model.Project, "其他") />
                                        其他
                                    </label>
                                    <input type="text" name="ProjectOther" value="@Model.ProjectOther" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div style="margin-left: 15px" class="ProjectNext">
                        <div>若選擇「工廠進化論者」，請續回答以下：</div>
                        <div class="formField vertical">
                            <div class="formLabel">
                                a. 透過這套教案，您有學習到環境保護或破壞與工廠發展息息相關
                            </div>
                            <div class="formControl">
                                <div class="radioList">
                                    <div class="radioItem">
                                        <label>
                                            <input type="radio" required name="ProjectA" @getRadioOptions(Model.ProjectA, "YES") />
                                            YES
                                        </label>
                                    </div>
                                    <div class="radioItem">
                                        <label>
                                            <input type="radio" required name="ProjectA" @getRadioOptions(Model.ProjectA, "NO") />
                                            NO
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="formField vertical">
                            <div class="formLabel">
                                b. 透過這套教案，您有認識到更多的環境事件
                            </div>
                            <div class="formControl">
                                <div class="radioList">
                                    <div class="radioItem">
                                        <label>
                                            <input type="radio" required name="ProjectB" @getRadioOptions(Model.ProjectB, "YES") />
                                            YES
                                        </label>
                                    </div>
                                    <div class="radioItem">
                                        <label>
                                            <input type="radio" required name="ProjectB" @getRadioOptions(Model.ProjectB, "NO") />
                                            NO
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="formField vertical">
                            <div class="formLabel">
                                c. 請問何者為綠色工廠標章？
                            </div>
                            <div class="formControl">
                                <div class="radioList inline">
                                    <div class="radioItem">
                                        <label>
                                            <input type="radio" required name="ProjectC" @getRadioOptions(Model.ProjectC, "1") />
                                            <img src="~/pic/quest/1.png" width="80" />
                                        </label>
                                    </div>
                                    <div class="radioItem">
                                        <label>
                                            <input type="radio" required name="ProjectC" @getRadioOptions(Model.ProjectC, "2") />
                                            <img src="~/pic/quest/2.png" width="80" />
                                        </label>
                                    </div>
                                    <div class="radioItem">
                                        <label>
                                            <input type="radio" required name="ProjectC" @getRadioOptions(Model.ProjectC, "3") />
                                            <img src="~/pic/quest/3.png" width="80" />
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="formField vertical">
                        <div class="formLabel">
                            4.請問何者為節水標章？
                        </div>
                        <div class="formControl">
                            <div class="radioList inline">
                                <div class="radioItem">
                                    <label>
                                        <input type="radio" required name="WaterMark" @getRadioOptions(Model.WaterMark, "1") />
                                        <img src="~/pic/quest/4.png" width="80" />
                                    </label>
                                </div>
                                <div class="radioItem">
                                    <label>
                                        <input type="radio" required name="WaterMark" @getRadioOptions(Model.WaterMark, "2") />
                                        <img src="~/pic/quest/5.png" width="80" />
                                    </label>
                                </div>
                                <div class="radioItem">
                                    <label>
                                        <input type="radio" required name="WaterMark" @getRadioOptions(Model.WaterMark, "3") />
                                        <img src="~/pic/quest/6.png" width="80" />
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="formField vertical">
                        <div class="formLabel">
                            5. 課程及活動內容
                        </div>
                        <div class="formControl">
                            <div class="radioList">
                                <div class="radioItem">
                                    <label>
                                        <input type="radio" required name="ClassRank" @getRadioOptions(Model.ClassRank, "非常滿意") />
                                        非常滿意
                                    </label>
                                </div>
                                <div class="radioItem">
                                    <label>
                                        <input type="radio" required name="ClassRank" @getRadioOptions(Model.ClassRank, "滿意") />
                                        滿意
                                    </label>
                                </div>
                                <div class="radioItem">
                                    <label>
                                        <input type="radio" required name="ClassRank" @getRadioOptions(Model.ClassRank, "尚可") />
                                        尚可
                                    </label>
                                </div>
                                <div class="radioItem">
                                    <label>
                                        <input type="radio" required name="ClassRank" @getRadioOptions(Model.ClassRank, "不滿意") />
                                        不滿意
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="formField vertical">
                        <div class="formLabel">
                            6. 講師(含志工)及活動流程安排
                        </div>
                        <div class="formControl">
                            <div class="radioList">
                                <div class="radioItem">
                                    <label>
                                        <input type="radio" required name="TeacherRank" @getRadioOptions(Model.TeacherRank, "非常滿意") />
                                        非常滿意
                                    </label>
                                </div>
                                <div class="radioItem">
                                    <label>
                                        <input type="radio" required name="TeacherRank" @getRadioOptions(Model.TeacherRank, "滿意") />
                                        滿意
                                    </label>
                                </div>
                                <div class="radioItem">
                                    <label>
                                        <input type="radio" required name="TeacherRank" @getRadioOptions(Model.TeacherRank, "尚可") />
                                        尚可
                                    </label>
                                </div>
                                <div class="radioItem">
                                    <label>
                                        <input type="radio" required name="TeacherRank" @getRadioOptions(Model.TeacherRank, "不滿意") />
                                        不滿意
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="formField vertical">
                        <div class="formLabel">
                            7. 透過本次參訪，您學習到有哪些能資源可再循環利用？
                        </div>
                        <div class="formControl">
                            <div class="radioList">
                                <div class="radioItem">
                                    <label>
                                        <input type="checkbox" name="Recycle" @getRadioOptions(Model.Recycle, "廢水") />
                                        廢水
                                    </label>
                                </div>
                                <div class="radioItem">
                                    <label>
                                        <input type="checkbox" name="Recycle" @getRadioOptions(Model.Recycle, "廢液") />
                                        廢液
                                    </label>
                                </div>
                                <div class="radioItem">
                                    <label>
                                        <input type="checkbox" name="Recycle" @getRadioOptions(Model.Recycle, "廢棄物") />
                                        廢棄物
                                    </label>
                                </div>
                                <div class="radioItem">
                                    <label>
                                        <input type="checkbox" name="Recycle" @getRadioOptions(Model.Recycle, "其他") />
                                        其他
                                    </label>
                                    <input type="text" name="RecycleOther" value="@Model.RecycleOther" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="formField vertical">
                        <div class="formLabel">
                            8. 透過本次參訪，您可以於日常採用何種方式來讓能資源再循環利用？
                        </div>
                        <div class="formControl">
                            <textarea class="form-control" rows="3" name="RecycleNote">@Model.RecycleNote</textarea>
                        </div>
                    </div>
                    <div class="formField vertical">
                        <div class="formLabel">
                            9. 請問本次參訪,您印象最深刻的設施、課程內容或工作人員..等，並簡單描述之。
                        </div>
                        <div class="formControl">
                            <textarea class="form-control" rows="3" name="Impression">@Model.Impression</textarea>
                        </div>
                    </div>
                    <div class="formField vertical">
                        <div class="formLabel">
                            10. 您是否願意再次或推薦親友來體驗參訪
                        </div>
                        <div class="formControl">
                            <div class="radioList">
                                <div class="radioItem">
                                    <label>
                                        <input type="radio" required name="Recommend" @getRadioOptions(Model.Recommend, "願意") />
                                        願意
                                    </label>
                                </div>
                                <div class="radioItem">
                                    <label>
                                        <input type="radio" required name="Recommend" @getRadioOptions(Model.Recommend, "不願意") />
                                        不願意,原因
                                    </label>
                                    <input type="text" name="RecommendOther" value="@Model.RecommendOther" />
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="formField vertical" style="margin-left: 15px">
                        <div class="formLabel">
                            若願意且方便的話，請留下您的聯繫email或電話：
                        </div>
                        <div class="formControl">
                            <input type="text" class="form-control" name="Contact" value="@Model.Contact" />
                        </div>
                    </div>
                    <div class="formField vertical">
                        <div class="formLabel">
                            11. 課程或場域內容建議：
                        </div>
                        <div class="formControl">
                            <textarea class="form-control" rows="3" name="Suggest">@Model.Suggest</textarea>
                        </div>
                    </div>
                    <div class="formField vertical">
                        <div class="formLabel">
                            請輸入驗證碼
                        </div>
                        <div class="formControl">
                            <input type="hidden" name="_VCodeKey" value="@ViewData["key"]" />
                            <img id="vcode_img" class="vcode" src="@ViewData["img"]" style="max-width: 100px; border: 0;" />
                            <input type="text" class="form-control" name="_VCode" required style="width: 100px" />
                        </div>
                    </div>

                    <div class="text-center">
                        <button class="btn-primary btn ">送出</button>
                    </div>
                }
            </div>
        </div>
        <br />
        <div class="col-xs-12" style="display:flex;justify-content:center;margin: 12px">
            <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fgreen.technology.education%2F&tabs&width=340&height=181&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="340" height="181" style="border:none;overflow:hidden;margin:auto" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
        </div>
    </div>
    <br />
    <br />
</section>

<style>
    .questForm {
        border: 1px solid #666;
        border-radius: 8px;
        padding: 12px 24px;
    }

    .formLabel {
        min-width: 100px;
    }

    .formField {
        display: flex;
        align-items: center;
    }

        .formField.vertical {
            flex-direction: column;
            align-items: stretch;
            margin-bottom: 12px;
        }


    .formControl {
        margin: 6px 15px;
        display: flex;
    }

        .formControl label {
            cursor: pointer;
        }
</style>

<script>
    $(function () {
        var ProjectNext = $('.ProjectNext');
        var toggleProjectNext = function (show) {
            if (show) {
                $(ProjectNext).show();
                $('input', ProjectNext).attr('required', true)
            } else {
                $(ProjectNext).hide();
                $('input', ProjectNext).attr('required', false)
            }

        }
        toggleProjectNext(false);
        $("input[name='Project']").on("change", function (e) {
            toggleProjectNext(e.target.value == "工廠進化論")

        })
    })
</script>