﻿@using web.Models;
@model web.ViewModels.ResevationHome
@{
    Layout = "~/Views/Shared/ch/_Layout_seo.cshtml";
    ViewBag.enURL = null;
    ViewBag.Title = "日月光綠科技教育館";
}

@helper GetTimeText(resevation_time_interval obj)
{
    @(string.Format("{0}:{1} - {2}:{3}", obj.start_hour.ToString().PadLeft(2, '0'), obj.start_minute.ToString().PadLeft(2, '0'), obj.end_hour.ToString().PadLeft(2, '0'), obj.end_minute.ToString().PadLeft(2, '0')))
}


<section id="page-vision" class="page-banner-s banner-csr" style="background: url(/pic/public/frontend/images_ch/csr/banner_gtec.jpg) no-repeat center; background-size: cover;">
    <h1 class="page-title title-large hide-in-small" style="background-color: rgba(0, 0, 0, 0.7); padding: 15px 10px 5px 10px; margin-right: 10vw;">綠科技教育館</h1>
</section>

<!--breadcrumbs-->
<div class="content-lg row">
    <div class="col-xs-12">
        <ol id="breadcrumbs" class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
            <!-- Project-B Fix, Apply New Breadcrumb -->
            <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="/ch"><i class="icon-home"></i><span itemprop="name">Home</span></a>
                <meta itemprop="position" content="0">
            </li>
            <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="/ch/csr"><span itemprop="name">永續發展</span></a>
                <meta itemprop="position" content="1">
            </li>
            <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="/public/ch/csr/environment_green_innovation.html"><span itemprop="name">環境與綠色創新</span></a>
                <meta itemprop="position" content="2">
            </li>
            <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="/public/ch/csr/green_technology_education_center.html"><span itemprop="name">綠科技教育館</span></a>
                <meta itemprop="position" content="3">
            </li>
        </ol>
    </div>
</div>

<!-- Project-B Fix, Remove Old Breadcrumb -->

<section class="inside-article">
    <div class="content-lg row">
        <article class="col-xs-12">
            <h3 class="title">日月光綠科技教育館</h3>
        </article>
        <article class="col-md-6">
            <h4 class="sutitle">創立理念</h4>
            <p>
                「水」是地球上重要的資源，然而受全球極端氣候影響，暴雨及旱災等現象加劇，因此，身為封裝測試龍頭科技大廠之日月光集團呼應聯合國可持續發展目標(SDGs)，以「資源循環」、「節能減碳」、「珍惜生態」的理念，建置此能資源認知與科技體驗的綠科技教育館，藉由環教推動，落實永續行動。
            </p>
        </article>
        <article class="col-xs-6 col-md-3 nopadding">
            <div class="col-xs-12 picture-padding-2">
                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/education_center-5.jpg">
            </div>
        </article>
        <article class="col-xs-6 col-md-3 nopadding">
            <div class="col-xs-12 picture-padding-2">
                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/education_center-4.jpg">
            </div>
        </article>
        <div class="clearfix">&nbsp;<br><br></div>
        <article class="col-md-9 hide-in-small">
            <h4 class="sutitle">館區導覽</h4>
            <div class="col-md-11 nopadding">
                <div class="col-md-4 padding-10">
                    <a href="javascript:" data-toggle="popover" data-trigger="hover" data-html="true" data-content="<span style='font-weight: bold; color: #ee8000; line-height: 1.2em;'>讓滴滴噠噠帶你認識中水處理流程吧！</span>使用透明螢幕配合實體模型展示，以動畫方式讓觀眾知曉汙水在不同階段的處理，並透過即時的互動問答，深化學習。" data-placement="bottom">
                        <p><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/map_gtec_01.png"></p>
                        <div class="circle_button" style="position:absolute; left:12%; bottom: 16.5%; z-index:100; margin:0 auto; background-color: rgba(0, 0, 0, 0.3); width: 25px; height: 25px;"><i class="icon-arrow-right" style="color: #FFFFFF; font-size: 0.9rem"></i></div>
                    </a>
                </div>
                <div class="col-md-4 padding-10">
                    <a href="javascript:" data-toggle="popover" data-trigger="hover" data-html="true" data-content="<span style='font-weight: bold; color: #ee8000; line-height: 1.2em;'>化身為小水滴，一起躲過污染的危機！</span>運用體感技術，以遊戲方式，讓水循環的過程深入腦海中。" data-placement="bottom">
                        <p><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/map_gtec_02.png"></p>
                        <div class="circle_button" style="position:absolute; left:12%; bottom: 16.5%; z-index:100; margin:0 auto; background-color: rgba(0, 0, 0, 0.3); width: 25px; height: 25px;"><i class="icon-arrow-right" style="color: #FFFFFF; font-size: 0.9rem"></i></div>
                    </a>
                </div>
                <div class="col-md-4 padding-10">
                    <a href="javascript:" data-toggle="popover" data-trigger="hover" data-html="true" data-content="<span style='font-weight: bold; color: #ee8000; line-height: 1.2em;'>尋找隱藏在日常生活中的小水滴。</span>透過體感偵測手勢肢體的變化，在居家場景中尋找小水滴，讓遊戲者深入了解各種節水方法及水資源再利用技術。" data-placement="bottom">
                        <p><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/map_gtec_03.png"></p>
                        <div class="circle_button" style="position:absolute; left:12%; bottom: 16.5%; z-index:100; margin:0 auto; background-color: rgba(0, 0, 0, 0.3); width: 25px; height: 25px;"><i class="icon-arrow-right" style="color: #FFFFFF; font-size: 0.9rem"></i></div>
                    </a>
                </div>
            </div>
            <div class="col-md-11 col-md-offset-1 nopadding">
                <div class="col-md-4 padding-10">
                    <a href="javascript:" data-toggle="popover" data-trigger="hover" data-html="true" data-content="<span style='font-weight: bold; color: #ee8000; line-height: 1.2em;'>打造屬於自己的動物，一起豐富後勁溪生態。</span>現場提供後勁溪生物角色圖稿，讓參觀者塗鴉上色，塗鴉生物掃描上傳轉為動畫融入牆面上的溪流景色中，代表參觀者將自己喜愛的生物復育在後勁溪。" data-placement="bottom">
                        <p><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/map_gtec_04.png"></p>
                        <div class="circle_button" style="position:absolute; left:12%; bottom: 16.5%; z-index:100; margin:0 auto; background-color: rgba(0, 0, 0, 0.3); width: 25px; height: 25px;"><i class="icon-arrow-right" style="color: #FFFFFF; font-size: 0.9rem"></i></div>
                    </a>
                </div>
                <div class="col-md-4 padding-10">
                    <a href="javascript:" data-toggle="popover" data-trigger="hover" data-html="true" data-content="<span style='font-weight: bold; color: #ee8000; line-height: 1.2em;'>記錄冒險的足跡，讓綠科技傳承下去！</span>參觀結束時，可以透過觸碰螢幕留下給滴滴DIDI噠噠DADA的一句話，會以可愛的對話框方式出現在牆面中，成為此次參觀的紀錄與回饋。" data-placement="bottom">
                        <p><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/map_gtec_05.png"></p>
                        <div class="circle_button" style="position:absolute; left:12%; bottom: 16.5%; z-index:100; margin:0 auto; background-color: rgba(0, 0, 0, 0.3); width: 25px; height: 25px;"><i class="icon-arrow-right" style="color: #FFFFFF; font-size: 0.9rem"></i></div>
                    </a>
                </div>
                <div class="col-md-4 padding-10">
                    <a href="javascript:" data-toggle="popover" data-trigger="hover" data-html="true" data-content="依照前來參觀人員，搭配不同的環境教育教案，以大地遊戲或時下最夯的桌遊模式執行課程，從遊戲中沉浸式體驗學習，讓學習者最沒有壓力狀態下吸收，帶給前來參訪之人員每一次都有不同的學習收穫及感受。" data-placement="bottom">
                        <p><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/map_gtec_06.png"></p>
                        <div class="circle_button" style="position:absolute; left:12%; bottom: 16.5%; z-index:100; margin:0 auto; background-color: rgba(0, 0, 0, 0.3); width: 25px; height: 25px;"><i class="icon-arrow-right" style="color: #FFFFFF; font-size: 0.9rem"></i></div>
                    </a>
                </div>
            </div>
        </article>
        <article class="col-xs-12 hide-in-large">
            <h4 class="sutitle">館區導覽</h4>
            <div class="col-xs-12 nopadding">
                <div class="col-xs-6 nopadding">
                    <a href="javascript:" data-toggle="popover" data-trigger="hover" data-html="true" data-content="<span style='font-weight: bold; color: #ee8000; line-height: 1.2em;'>讓滴滴噠噠帶你認識中水處理流程吧！</span>使用透明螢幕配合實體模型展示，以動畫方式讓觀眾知曉汙水在不同階段的處理，並透過即時的互動問答，深化學習。" data-placement="bottom">
                        <p><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/map_gtec_01.png"></p>
                        <div class="circle_button" style="position:absolute; left:9%; bottom: 13%; z-index:100; margin:0 auto; background-color: rgba(0, 0, 0, 0.3); width: 20px; height: 20px;"><i class="icon-arrow-right" style="color: #FFFFFF; font-size: 0.7rem"></i></div>
                    </a>
                </div>
                <div class="col-xs-6 nopadding">
                    <a href="javascript:" data-toggle="popover" data-trigger="hover" data-html="true" data-content="<span style='font-weight: bold; color: #ee8000; line-height: 1.2em;'>化身為小水滴，一起躲過污染的危機！</span>運用體感技術，以遊戲方式，讓水循環的過程深入腦海中。" data-placement="bottom">
                        <p><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/map_gtec_02.png"></p>
                        <div class="circle_button" style="position:absolute; left:9%; bottom: 13%; z-index:100; margin:0 auto; background-color: rgba(0, 0, 0, 0.3); width: 20px; height: 20px;"><i class="icon-arrow-right" style="color: #FFFFFF; font-size: 0.7rem"></i></div>
                    </a>
                </div>
                <div class="col-xs-6 nopadding">
                    <a href="javascript:" data-toggle="popover" data-trigger="hover" data-html="true" data-content="<span style='font-weight: bold; color: #ee8000; line-height: 1.2em;'>尋找隱藏在日常生活中的小水滴。</span>透過體感偵測手勢肢體的變化，在居家場景中尋找小水滴，讓遊戲者深入了解各種節水方法及水資源再利用技術。" data-placement="bottom">
                        <p><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/map_gtec_03.png"></p>
                        <div class="circle_button" style="position:absolute; left:9%; bottom: 13%; z-index:100; margin:0 auto; background-color: rgba(0, 0, 0, 0.3); width: 20px; height: 20px;"><i class="icon-arrow-right" style="color: #FFFFFF; font-size: 0.7rem"></i></div>
                    </a>
                </div>
                <div class="col-xs-6 nopadding">
                    <a href="javascript:" data-toggle="popover" data-trigger="hover" data-html="true" data-content="<span style='font-weight: bold; color: #ee8000; line-height: 1.2em;'>打造屬於自己的動物，一起豐富後勁溪生態。</span>現場提供後勁溪生物角色圖稿，讓參觀者塗鴉上色，塗鴉生物掃描上傳轉為動畫融入牆面上的溪流景色中，代表參觀者將自己喜愛的生物復育在後勁溪。" data-placement="bottom">
                        <p><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/map_gtec_04.png"></p>
                        <div class="circle_button" style="position:absolute; left:9%; bottom: 13%; z-index:100; margin:0 auto; background-color: rgba(0, 0, 0, 0.3); width: 20px; height: 20px;"><i class="icon-arrow-right" style="color: #FFFFFF; font-size: 0.7rem"></i></div>
                    </a>
                </div>
                <div class="col-xs-6 nopadding">
                    <a href="javascript:" data-toggle="popover" data-trigger="hover" data-html="true" data-content="<span style='font-weight: bold; color: #ee8000; line-height: 1.2em;'>記錄冒險的足跡，讓綠科技傳承下去！</span>參觀結束時，可以透過觸碰螢幕留下給滴滴DIDI噠噠DADA的一句話，會以可愛的對話框方式出現在牆面中，成為此次參觀的紀錄與回饋。" data-placement="bottom">
                        <p><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/map_gtec_05.png"></p>
                        <div class="circle_button" style="position:absolute; left:9%; bottom: 13%; z-index:100; margin:0 auto; background-color: rgba(0, 0, 0, 0.3); width: 20px; height: 20px;"><i class="icon-arrow-right" style="color: #FFFFFF; font-size: 0.7rem"></i></div>
                    </a>
                </div>
                <div class="col-xs-6 nopadding">
                    <a href="javascript:" data-toggle="popover" data-trigger="hover" data-html="true" data-content="依照前來參觀人員，搭配不同的環境教育教案，以大地遊戲或時下最夯的桌遊模式執行課程，從遊戲中沉浸式體驗學習，讓學習者最沒有壓力狀態下吸收，帶給前來參訪之人員每一次都有不同的學習收穫及感受。" data-placement="bottom">
                        <p><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/map_gtec_06.png"></p>
                        <div class="circle_button" style="position:absolute; left:9%; bottom: 13%; z-index:100; margin:0 auto; background-color: rgba(0, 0, 0, 0.3); width: 20px; height: 20px;"><i class="icon-arrow-right" style="color: #FFFFFF; font-size: 0.7rem"></i></div>
                    </a>
                </div>
            </div>
        </article>
        <article class="col-md-3 nopadding">
            <div class="col-md-6 picture-padding-2 hide-in-small" style="margin-top: 160px">
                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/map_gtec_di.png">
            </div>
            <div class="col-md-6 picture-padding-2 hide-in-small" style="margin-top: 160px">
                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/map_gtec_da.png">
            </div>
            <div class="col-xs-4 col-xs-offset-2 hide-in-large">
                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/map_gtec_di.png">
            </div>
            <div class="col-xs-4 hide-in-large">
                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/map_gtec_da.png">
            </div>
        </article>
        <div class="col-xs-12 clearfix"><br></div>
        <article class="col-xs-12 col-md-6">
            <h4 class="sutitle">導覽報名須知</h4>
            <ol class="nopadding">
                <li>採<button class="btn btn-link openAseResevation" style="margin: 0px; padding: 0px;" data-toggle="modal" data-target="#aseResevation" data-href="/ase_resevation/#/">預約</button>制，周末及國定假日不開放。每梯次 @Model.MinCount - @Model.MaxCount 人。<br></li>
                <li>
                    開放時間：@GetTimeText(Model.Times["上午"])，@GetTimeText(Model.Times["下午"])參觀時間如需調整，請聯繫<a href="mailto://@Model.Mail"> 管理員信箱</a><br />(電話：07-3617131 #88054)
                </li>

            </ol>
            <div style="margin: 12px 0px">
                <a href="~/public/downloads/日月光防疫健康調查 COVID-19 Health Declaration.xlsx" class="btn btn-primary btn-lg" style="min-width: 160px">
                    下載健康申請書
                </a>
                <button id="openResevation" type="button" class="btn btn-success btn-lg openAseResevation" data-toggle="modal" data-target="#aseResevation" data-href="/ase_resevation/#/" style="min-width: 160px">
                    線上預約
                </button>
            </div>
        </article>
        <article class="col-xs-12 col-md-6">
            <h4 class="sutitle">環教課程簡介</h4>
            <ul class="nopadding">
                <li>滴噠日月光園區遊記</li>
                <li>工廠進化論及廠區導覽</li>
                <li>水資源互動體感遊戲</li>
                <li>互動河川生態繪圖</li>
            </ul>
            <div style="margin: 12px 0px">
                <a href="@Url.Action("questionnaire")" class="btn btn-warning btn-lg" style="min-width: 160px">
                    填寫線上問卷
                </a>
                <button id="openSearch" type="button" class="btn btn-success btn-lg openAseResevation" data-toggle="modal" data-target="#aseResevation" data-href="/ase_resevation/#/search" style="min-width: 160px">
                    查詢預約
                </button>
            </div>
        </article>
        <article class="col-xs-12">
            <div class="text-center" style="font-size: 16px">
                <img src="https://2311cdn.r.worldssl.net/pic/resevation-icon1.png" style="vertical-align:baseline;" />
                已參訪人數：<span style="font-size:34px;color:#2E3160;">@Model.EnrollCount</span> 人
            </div>
        </article>


        <article class="col-xs-12">
            <h4 class="sutitle">日月光綠科技教育館位置</h4>
            <p>地址：高雄市楠梓區楠梓加工出口區西六街52號 中水大樓1F</p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d942.6402742512074!2d120.30016339363077!3d22.721294909992256!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x346e0f9fb199670d%3A0xd0a0b7c300737dc2!2z5pel5pyI5YWJ5Lit5rC05aSn5qiT!5e0!3m2!1szh-TW!2stw!4v1571967384935!5m2!1szh-TW!2stw" width="100%" height="400" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </article>
        <div class="col-xs-12" style="display:flex;justify-content:center;">
            <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fgreen.technology.education%2F&tabs&width=340&height=181&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="340" height="181" style="border:none;overflow:hidden;margin:auto" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
        </div>
        
    </div>
    <br />
    <br />
    <div class="modal fade" id="aseResevation" tabindex="-1" role="dialog">
        <div class="modal-dialog  modal-lg" role="document" style="min-width:80%;">
            <div class="modal-content">
                <div class="modal-body">
                    <iframe id="aseResevationContent" scrolling="yes" style="min-width: 100%;height: 80vh;border: none;"></iframe>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">關閉視窗</button>

                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    
</section>


<script src="https://2311cdn.r.worldssl.net/js/ase-resevation.js"></script>