﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/ch/_Layout_seo.cshtml";
    ViewBag.Title = "主要績效";
    ViewBag.zhURL = "/ch/csr/key_performance";
}
    <script>
	function change_tab1(id) {
		document.getElementById("csrlanding-tab-list1-content").innerHTML=document.getElementById(id+"-desc").innerHTML;
		document.getElementById("tab01").className="notselected";
		document.getElementById("tab02").className="notselected";
		document.getElementById("tab03").className="notselected";
		document.getElementById("tab04").className="notselected";
		document.getElementById("tab05").className="notselected";
		document.getElementById(id).className="selected csrlanding-tab-list1";
	}
	function change_tab2(id) {
		document.getElementById("csrlanding-tab-list2-content").innerHTML=document.getElementById(id+"-desc").innerHTML;
		document.getElementById("tab06").className="notselected";
		document.getElementById("tab07").className="notselected";
		document.getElementById("tab08").className="notselected";
		document.getElementById("tab09").className="notselected";
		document.getElementById("tab10").className="notselected";
		document.getElementById(id).className="selected csrlanding-tab-list2";
	}
	function change_tab3(id) {
		document.getElementById("csrlanding-tab-list3-content").innerHTML=document.getElementById(id+"-desc").innerHTML;
		document.getElementById("tab11").className="notselected";
		document.getElementById("tab12").className="notselected";
		document.getElementById("tab13").className="notselected";
		document.getElementById("tab14").className="notselected";
		document.getElementById("tab15").className="notselected";
		document.getElementById(id).className="selected csrlanding-tab-list3";
	}
	function change_tab4(id) {
		document.getElementById("csrlanding-tab-list4-content").innerHTML=document.getElementById(id+"-desc").innerHTML;
		document.getElementById("tab16").className="notselected";
		document.getElementById("tab17").className="notselected";
		document.getElementById("tab18").className="notselected";
		document.getElementById("tab19").className="notselected";
		document.getElementById("tab20").className="notselected";
		document.getElementById(id).className="selected csrlanding-tab-list4";
	}
	</script>

	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-csr">
		<h1 class="page-title-csr title-large">企業社會責任</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->


	<!-- CSR list -->
	<section class="inside-article">
		<div class="content-lg row">
			<div class="col-xs-12">
				<h3 class="title">主要績效</h3>
				<p>
					日月光在環境永續、員工關懷及發展、供應鏈發展、企業公民與社會責任的執行與績效表現。2016與2017連續兩年榮獲雙項道瓊永續殊榮，顯示日月光在企業社會責任於經濟、環境與社會面向上之卓越作為與績效，獲得國際高度肯定。 
				</p>
			</div>
			<div class="col-xs-12">
				<h4 class="csr-subtitle csrlanding-title-list1">環境永續</h4>
			</div>
			<div class="csrlanding-box" >
				<div class="col-md-15 ">
					<div class="selected csrlanding-tab-list1" id="tab01" onclick="change_tab1(this.id)"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/csr_landing_01.png"></div>
				</div>
				<div class="col-md-15 ">
					<div class="notselected csrlanding-tab-list1" id="tab02" onclick="change_tab1(this.id)"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/csr_landing_02.png"></div>
				</div>
				<div class="col-md-15 ">
					<div class="notselected csrlanding-tab-list1" id="tab03" onclick="change_tab1(this.id)"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/csr_landing_03.png"></div>
				</div>
				<div class="col-md-15 ">
					<div class="notselected csrlanding-tab-list1" id="tab04" onclick="change_tab1(this.id)"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/csr_landing_04.png"></div>
				</div>
				<div class="col-md-15 ">
					<div class="notselected csrlanding-tab-list1" id="tab05" onclick="change_tab1(this.id)"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/csr_landing_05.png"></div>
				</div>

				<div class="clearfix"></div>
				
				<div class="csrlanding-content csrlanding-content-list1" id="csrlanding-tab-list1-content" style="width:100%;height:auto;overflow:auto;padding:30px 35px;" >
					<div class="col-xs-12 col-md-12">
						整體取水量增加 <span class="csrlanding-content-highlight">1</span>% (相較於2015年)
					</div>
				</div>

				<div class="csrlanding-tab-content-hidden csrlanding-content csrlanding-content-list1" id="tab01-desc">
					<div class="col-xs-12 col-md-12">
						整體取水量增加 <span class="csrlanding-content-highlight">1</span>% (相較於2015年)
					</div>
				</div>

				<div class="csrlanding-tab-content-hidden csrlanding-content csrlanding-content-list1" id="tab02-desc">
					<div class="col-xs-12 col-md-12">
						製程水回收率
						<span class="csrlanding_arrowbox csrlanding_arrowbox-list1">
							達<span class="csrlanding-arrowbox-highlight">62</span>% 
						</span>
					</div>
				</div>

				<div class="csrlanding-tab-content-hidden csrlanding-content csrlanding-content-list1" id="tab03-desc"  >
					<div class="col-xs-12 col-md-12">
						共取得 <span class="csrlanding-content-highlight">21</span>項綠建築認證
						<span class="csrlanding_arrowbox csrlanding_arrowbox-list1">
							<span class="csrlanding-arrowbox-highlight">1</span>EEWH 銅級認證
							<span class="csrlanding-arrowbox-highlight">1</span>LEED 金級認證
							<span class="csrlanding-arrowbox-highlight">3</span>LEED 白金級認證
						</span>
						<!-- <span class="csrlanding_arrow  box csrlanding_arrowbox-list1">
							<span class="csrlanding-arrowbox-highlight">1</span>Gold-rated
						</span>
						<span class="csrlanding_arrowbox csrlanding_arrowbox-list1">
							<span class="csrlanding-arrowbox-highlight">1</span>Gold-rated
						</span> -->
					</div>
				</div>

				<div class="csrlanding-tab-content-hidden csrlanding-content csrlanding-content-list1" id="tab04-desc">
					<div class="col-xs-12 col-md-12">
						溫室氣體排放減量 <span class="csrlanding-content-highlight">8</span>%
					</div>
				</div>

				<div class="csrlanding-tab-content-hidden csrlanding-content csrlanding-content-list1" id="tab05-desc">
					<div class="col-xs-12 col-md-12">
						<span class="csrlanding-content-highlight">2017</span>再生能源電力
						<span class="csrlanding_arrowbox csrlanding_arrowbox-list1">
							佔總用電量 <span class="csrlanding-arrowbox-highlight">8.5</span>%
						</span>
					</div>
				</div>

			</div>
		</div>
	</section>

	<section class="inside-article">
		<div class="content-lg row">
			<div class="col-xs-12">
				<h4 class="csr-subtitle csrlanding-title-list2">員工關懷與發展</h4>
			</div>
			<div class="csrlanding-box">
				<div class="col-md-15">
					<div class="selected csrlanding-tab-list2" id="tab06" onclick="change_tab2(this.id)"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/csr_landing_06.png"></div>
				</div>
				<div class="col-md-15">
					<div class="notselected csrlanding-tab-list2" id="tab07" onclick="change_tab2(this.id)"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/csr_landing_07.png"></div>
				</div>
				<div class="col-md-15">
					<div class="notselected csrlanding-tab-list2" id="tab08" onclick="change_tab2(this.id)"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/csr_landing_08.png"></div>
				</div>
				<div class="col-md-15">
					<div class="notselected csrlanding-tab-list2" id="tab09" onclick="change_tab2(this.id)"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/csr_landing_09.png"></div>
				</div>
				<div class="col-md-15">
					<div class="notselected csrlanding-tab-list2" id="tab10" onclick="change_tab2(this.id)"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/csr_landing_10.png"></div>
				</div>

				<div class="clearfix"></div>

				<div class="csrlanding-content csrlanding-content-list2" id="csrlanding-tab-list2-content">
					<div class="col-xs-12 col-md-12">
						員工投入度調查 涵蓋<span class="csrlanding-content-highlight">73</span>%廠區
						<span class="csrlanding_arrowbox csrlanding_arrowbox-list2">
							員工投入度達<span class="csrlanding-arrowbox-highlight">75</span>%
						</span>
					</div>
				</div>

				<div class="csrlanding-tab-content-hidden csrlanding-content csrlanding-content-list2" id="tab06-desc">
					<div class="col-xs-12 col-md-12">
						員工投入度調查 涵蓋<span class="csrlanding-content-highlight">73</span>%廠區
						<span class="csrlanding_arrowbox csrlanding_arrowbox-list2">
							員工投入度達<span class="csrlanding-arrowbox-highlight">75</span>%
						</span>
					</div>
				</div>

				<div class="csrlanding-tab-content-hidden csrlanding-content csrlanding-content-list2" id="tab07-desc">
					<div class="col-xs-12 col-md-12">
						<span class="csrlanding-content-highlight">2017</span>重大傷害和職業病
						<span class="csrlanding_arrowbox csrlanding_arrowbox-list2">
							病例為<span class="csrlanding-arrowbox-highlight">0</span>
						</span>
					</div>
				</div>

				<div class="csrlanding-tab-content-hidden csrlanding-content csrlanding-content-list2" id="tab08-desc">
					<div class="col-xs-12 col-md-12">
						<span class="csrlanding-content-highlight">1,138</span>女性主管人數
						<span class="csrlanding_arrowbox csrlanding_arrowbox-list2">
							佔主管人數<span class="csrlanding-arrowbox-highlight">29</span>%
						</span>
					</div>
				</div>

				<div class="csrlanding-tab-content-hidden csrlanding-content csrlanding-content-list2" id="tab09-desc">
					<div class="col-xs-12 col-md-12">
						集團人才發展 <span class="csrlanding-content-highlight">6</span>大系統建置
						<span class="csrlanding_arrowbox csrlanding_arrowbox-list2">
							已達<span class="csrlanding-arrowbox-highlight">81</span>%
						</span>
					</div>
				</div>

				<div class="csrlanding-tab-content-hidden csrlanding-content csrlanding-content-list2" id="tab10-desc">
					<div class="col-xs-12 col-md-12">
						<span class="csrlanding-content-highlight">3,909</span>位認證內部講師
						<span class="csrlanding_arrowbox csrlanding_arrowbox-list2">
							佔集團人數<span class="csrlanding-arrowbox-highlight">5.6</span>%
						</span>
					</div>
				</div>

			</div>
		</div>
	</section>
	
	<section class="inside-article">
		<div class="content-lg row">
			<div class="col-xs-12">
				<h4 class="csr-subtitle csrlanding-title-list3">企業公民與社會參與</h4>
			</div>
			<div class="csrlanding-box">
				<div class="col-md-15">
					<div class="selected csrlanding-tab-list3" id="tab11" onclick="change_tab3(this.id)"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/csr_landing_11.png"></div>
				</div>
				<div class="col-md-15">
					<div class="notselected csrlanding-tab-list3" id="tab12" onclick="change_tab3(this.id)"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/csr_landing_12.png"></div>
				</div>
				<div class="col-md-15">
					<div class="notselected csrlanding-tab-list3" id="tab13" onclick="change_tab3(this.id)"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/csr_landing_13.png"></div>
				</div>
				<div class="col-md-15">
					<div class="notselected csrlanding-tab-list3" id="tab14" onclick="change_tab3(this.id)"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/csr_landing_14.png"></div>
				</div>
				<div class="col-md-15">
					<div class="notselected csrlanding-tab-list3" id="tab15" onclick="change_tab3(this.id)"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/csr_landing_15.png"></div>
				</div>

				<div class="clearfix"></div>
				
				<div class="csrlanding-content csrlanding-content-list3" id="csrlanding-tab-list3-content">
					<div class="col-xs-12 col-md-12">
						
						新台幣 <span class="csrlanding-content-highlight">4</span>億元 用於環保公益相關計畫 (2014 ~ 2017)
						
					</div>
				</div>

				<div class="csrlanding-tab-content-hidden csrlanding-content csrlanding-content-list3" id="tab11-desc">
					<div class="col-xs-12 col-md-12">
						新台幣 <span class="csrlanding-content-highlight">4</span>億元 用於環保公益相關計畫 (2014 ~ 2017)
					</div>
				</div>

				<div class="csrlanding-tab-content-hidden csrlanding-content csrlanding-content-list3" id="tab12-desc">
					<div class="col-xs-12 col-md-12">
						新台幣 <span class="csrlanding-content-highlight">2,390</span>萬元 捐助社區營造 (2017)
					</div>
				</div>

				<div class="csrlanding-tab-content-hidden csrlanding-content csrlanding-content-list3" id="tab13-desc">
					<div class="col-xs-12 col-md-12">
						新台幣 <span class="csrlanding-content-highlight">2,650</span>萬元 用於產學教育(2017)
					</div>
				</div>

				<div class="csrlanding-tab-content-hidden csrlanding-content csrlanding-content-list3" id="tab14-desc">
					<div class="col-xs-12 col-md-12">
						<span class="csrlanding-content-highlight">5.3</span>萬支LED燈管捐贈 (2014 - 2017)
					</div>
				</div>

				<div class="csrlanding-tab-content-hidden csrlanding-content csrlanding-content-list3" id="tab15-desc">
					<div class="col-xs-12 col-md-12">
						植樹面積 <span class="csrlanding-content-highlight">91</span>公頃 (2014 - 2017)
					</div>
				</div>

			</div>
		</div>
	</section>

	<section class="inside-article">
		<div class="content-lg row">
			<div class="col-xs-12">
				<h4 class="csr-subtitle csrlanding-title-list4">供應鏈發展</h4>
			</div>
			<div class="csrlanding-box">
				<div class="col-md-15">
					<div class="selected csrlanding-tab-list4" id="tab16" onclick="change_tab4(this.id)"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/csr_landing_19.png"></div>
				</div>
				<div class="col-md-15">
					<div class="notselected csrlanding-tab-list4" id="tab17" onclick="change_tab4(this.id)"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/csr_landing_16.png"></div>
				</div>
				<div class="col-md-15">
					<div class="notselected csrlanding-tab-list4" id="tab18" onclick="change_tab4(this.id)"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/csr_landing_17.png"></div>
				</div>
				<div class="col-md-15">
					<div class="notselected csrlanding-tab-list4" id="tab19" onclick="change_tab4(this.id)"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/csr_landing_20.png"></div>
				</div>
				<div class="col-md-15">
					<div class="notselected csrlanding-tab-list4" id="tab20" onclick="change_tab4(this.id)"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/csr_landing_18.png"></div>
				</div>

				<div class="clearfix"></div>
				
				<div class="csrlanding-content csrlanding-content-list4" id="csrlanding-tab-list4-content">
					<div class="col-xs-12 col-md-12">
						已掌握之非第一階供應商納入管理比例<br>超過 <span class="csrlanding-content-highlight">30</span>%
					</div>
				</div>

				<div class="csrlanding-tab-content-hidden csrlanding-content csrlanding-content-list4" id="tab16-desc">
					<div class="col-xs-12 col-md-12">
						已掌握之非第一階供應商納入管理比例<br>超過 <span class="csrlanding-content-highlight">30</span>%
					</div>
				</div>

				<div class="csrlanding-tab-content-hidden csrlanding-content csrlanding-content-list4" id="tab17-desc">
					<div class="col-xs-12 col-md-12">
						供應商第三方永續性稽核<br>共 <span class="csrlanding-content-highlight">18</span>家
					</div>
				</div>

				<div class="csrlanding-tab-content-hidden csrlanding-content csrlanding-content-list4" id="tab18-desc">
					<div class="col-xs-12 col-md-12">
						供應商衝突礦產調查<br>超過 <span class="csrlanding-content-highlight">450</span>家
					</div>
				</div>

				<div class="csrlanding-tab-content-hidden csrlanding-content csrlanding-content-list4" id="tab19-desc">
					<div class="col-xs-12 col-md-12">
						衝突礦產合格供應商比例 <span class="csrlanding-content-highlight">100</span>%
					</div>
				</div>

				<div class="csrlanding-tab-content-hidden csrlanding-content csrlanding-content-list4" id="tab20-desc">
					<div class="col-xs-12 col-md-12">
						非衝突產品<br>達 <span class="csrlanding-content-highlight">100</span>%
					</div>
				</div>

			</div>
		</div>
	</section>

<style>
	.csrlanding-box{border:none;}
</style>
<script src="https://2311cdn.r.worldssl.net/jsjs/csr_index.js" async defer></script>

