﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/ch/_Layout_seo.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-csr">
		<h1 class="page-title title-large">企業社會責任</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->
	<!-- Letter from the Chairman -->
	<section class="inside-article">
		<div class="content-lg row">
			<div class="col-md-12">
				<h3 class="title">董事長的話</h3>
				<p>
					2017年充滿了各項挑戰。雖然政治及經濟上充滿許多不確定因素，本集團仍持續繳出亮麗的成績單，我們的努力依然受到股東、投資人、員工、客戶及供應商等利害關係人高度的肯定。 <br><br>


					近年來，半導體產業吹起整併風潮，中國半導體產業崛起為全球半導體產業帶來影響，透露出產業正處轉折期，並預言著一場變革即將來臨。日月光作為全球半導體封裝測試服務領導者及主要系統與核心技術整合者，透過產業價值鏈上的策略合作，推動橫向、垂直甚至跨界整合，使產業產生群聚效應，持續進行有效的研發創新，以合作平台迎接市場變化，並鼓勵商業模式的創新，在全球氣候變遷與有限資源配置的挑戰下，提升效率、創造價值。 <br><br>


					我們重視集團永續治理，2017年日月光再度入選道瓊永續指數 (DJSI) 的「世界指數」與「新興市場指數」之成份股，蟬聯「產業領導者」殊榮。同時也得到卡內基訓練總裁親自頒予的「2017卓越領導人獎」，對於我們在激發員工潛能、人才培育系統等給與高度的評價。另外，集團旗下環旭電子也是台商唯一連續 兩年蟬聯榮獲中國( 上海) 上市公司企業社會責任「傑出企業獎」者。2018 年初更獲得湯森路透「2018全球百大技術領袖」的評價。這些來自國際上的高度肯定，代表日月光在提供技術、提升客戶和投資者滿意度、以及企業永續的長期努力，驅使我們扮演一個更前進的角色，以更謙卑和務實的態度，對產業、對社 會發揮更大的影響力。 <br><br>


					因此，為因應當下及未來的各項永續風險與機會，2017 年日月光開始針對集團營運所產生的全面性影響力進行研究與分析，從經濟、稅務、環境與社會四個面向對於不同的利害關係人所產生的影響進行衡量。透過評估過程中的學習，關注財務、製造、智慧、人力、自然及社會與關係等六種資本間的互動關係，進而創造公司短中長期的價值。我們將以整合性思維融入企業的決策中，使其成為組織創造長期價值的根本。<br><br>


					面對氣候變遷所造成的能源轉型，日月光已積極投入推動智慧電網，我們攜手中華經濟研究院、台灣經濟研究院兩大智庫，共同研究半導體產業如何加速落實智慧電網的建置，並計畫於2019年在日月光高雄廠啟動智慧電網導入，建置即時需量反應制度與回饋機制，估計屆時將可降低尖峰時段電力需求，初估整體投資達到新台幣上億元。日月光不僅以積極節能減碳盡一份企業社會責任，並致力於確保穩定的電力供應，使產業能夠持續朝向高值化發展。<br><br>


					現今的智能科技環境中，創新業者加速設計出能整合更多功能、提供更高效能及更低功耗的裝置。身為系統級封裝 (SiP) 技術的領導廠商，日月光致力於建構完整的SiP生態系統。與全球電子設計創新領導廠商Cadence 合作推出SiP-id™ (系統級封裝智慧設計) 解決方案，透過SiP-id™，設計人員能大幅減少重覆修改與提升生產力，並縮短設計及驗證高複雜度SiP 封裝設計的時間。這些進展將為日月光帶來了龐大的商機，可將我們的微小化技術運用範疇從封裝級擴大到模組級、電路板級、以及系統級的整合，大大提升產品價值。<br><br>

					我們持續創造在地就業機會，延攬並培育半導體專業人才，進而壯大台灣半導體封測產業聚落。高雄K25廠於2018年4月動土，投資總額達新台幣125億元，預計2020年完工，新廠打造生態友善環境，並整合智慧製造、智慧工廠等相關應用，結合物聯網、資料分析與智能設備等，同時以高階封測為研發主要工程，估計產能滿載後，年產值將達百億元。<br><br>

					展望未來，日月光集團透過整併來面對半導體產業變革的挑戰，以及全球佈局、整合硬體製造與軟體研發，不斷尋找新的商業模式，並尋求與策略夥伴的合作關係，以獲取更多的發展機會。台灣半導體擁有完整的產業鏈，靈活的營運模式等優勢，能精準掌握半導體產業本質的改變而屹立不搖，日月光根留台灣、投資台灣、佈局全球的決心不變。
				</p>
				<br>
				<div class="signature">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/u7632.jpg"><br>
					董事長 張虔生
				</div>
				<div class="signature">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/u7634.jpg"><br>
					副董事長 張洪本
				</div> 
			</div>
	</section>