﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/ch/_Layout_seo.cshtml";
    ViewBag.Title = "董事長的話";
    ViewBag.zhURL = "/ch/csr/letter_from_the_chairman";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-csr">
		<h1 class="page-title title-large">企業社會責任</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->
	<!-- Letter from the Chairman -->
	<section class="inside-article">
		<div class="content-lg row">
			<div class="col-md-12">
				<h3 class="title">董事長的話</h3>
				<p>
					2016年的世界經濟景氣復甦緩慢，國際政治情勢的不確定性增高，使得全球企業經營的環境受到諸多限制。但在這樣的不利因素下，日月光集團仍然繳出一張亮麗的成績單，我們的努力受到股東、投資人、員工及供應商等利害關係人高度的肯定。<br><br>


					當今環境生態退化、能源與天然資源短缺、氣候變遷加劇、政府管制趨嚴，以及資訊科技缺乏革命性突破等面向對企業成長與轉型所造成的壓力和挑戰，一刻都沒有停止。我們本著謙卑與誠信負責的態度，用實際的行動持續推動日月光集團在永續發展上的作為，也一刻都沒有停止。<br><br>


					在智慧型手機、物聯網等終端產品朝高效能、低成本、低功耗，及小面積等產品要求發展之下，為滿足終端市場高整合與產品即時上市的要求，在晶圓級的平台上提供標準化封裝製程，並進行異質整合已成為封裝技術未來發展的主要課題。<br><br>


					日月光集團為全球半導體封裝測試服務領導者及主要的系統與核心技術整合者，在全球轉型至綠色及低碳經濟的過程中扮演先驅的重要角色。為滿足智能產品發展的要求，日月光除取得扇出型晶圓級封裝(Fan-Out WLP)製程技術及專利授權外，也投入大量資源研發異質整合及超低功耗特性之高階封裝產品，例如系統模組封裝SiP (System in Package)，並打造智慧工廠；同時我們有效整合材料商、設備供應商等上下游供應鏈，提倡跨界合作使產業產生群聚效應；也積極與主要客戶合作，共同開發新產品和新製程技術。<br><br>


					在全球永續發展的關鍵趨勢及日月光的價值創造模式整合之下，我們發展出屬於日月光的永續發展長期策略框架，以低碳使命(Low Carbon)、循環再生(Circular)、社會共融(Inclusive)與價值共創(Collaborative)做為日月光的四大永續策略主軸；以人力資本的發展及管理作為推動核心，藉由持續性、跨面向的創新能量，擘劃長期價值創造的方向，強化永續風險管理與策略擬定，進而量化及展現日月光集團的企業無形資產，並與各界共同尋求達成聯合國永續發展目標(SDGs)。<br><br>


					自2014 年我們大力強化集團永續治理，經過近三年的努力，在2016年看到了初步的成效，日月光入選道瓊永續指數(DJSI)的「世界指數(DJSI World)」與「新興市場指數(DJSI Emerging Markets)」之成份股、獲得CDP氣候變遷評鑑A級評價，同時也得到「2016 AREA亞洲企業社會責任獎」及「2016 TCSA台灣企業永續獎」 等獎項的肯定。但這一切都只是開始而已，我們要用每一個紮實的實踐行動與具體成果，來履行我們在永續發展上所做過的每一個承諾。<br><br>

					員工是公司最重要的資產，我們很高興與大家分享高雄廠於2017年正式啟用全新可容納三千人，且使用太陽能的綠建築低碳女子員工宿舍。同時，工廠派出接駁車直達宿舍，以維護員工上下班之交通安全，並將於2018年全面轉換為電動接駁車，響應節能減碳。這項台灣科技業的創舉，意謂著日月光集團內化企業社會責任將會反應在每一個務實的行動上。<br><br>

					日月光集團希望藉由自身在半導體產業的領導地位，透過永續價值的長期創造，以知識傳播來回饋多方利害關係人，建立並帶動正向循環的社會。我們深知努力永遠不夠，也希望各界能夠繼續給予日月光集團支持與鼓勵。
				</p>
				<br>
				<div class="signature">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/u7632.jpg"><br>
					董事長 張虔生
				</div>
				<div class="signature">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/u7634.jpg"><br>
					副董事長 張洪本
				</div> 
			</div>
	</section>