﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/ch/_Layout_seo.cshtml";
    ViewBag.Title = "利害關係人專區";
    ViewBag.zhURL = "/ch/csr/stakeholder_engagement";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-csr">
		<h1 class="page-title-csr title-large">企業社會責任</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->

	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">利害關係人專區</h3>
				<p>
					日月光集團承諾，進行有效且具策略性的利害關係人議合與溝通，展現透明與平衡的資訊揭露。<br><br>

					與利害關係人的溝通是企業持續改善與長遠發展的關鍵。透過各種溝通機制，我們將利害關係人的回覆和建議納入全球策略與營運規劃中。利害關係人議合的主要目的是尋求各類利益相關群體的反饋，並將建議轉化為實際回應行動。
				</p>
			</article>
		</div>
	</section>


	<section class="csr-bg">
		<div class="content-lg row">

			<div class="col-sm-4 text-center moving-arrow">
				<a class="link-block" href="@Url.Action("Stakeholder_Engagement", "CSR", new { lang = ViewBag.language.lang, param1 = "Focus" })">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/stakeholder_engagement1.jpg" class="navbar-btn"><br>
					溝通與議題管理<br>
					<div class="circle_button darkgray margin-top-5"><i class="icon-arrow-right"></i></div>
				</a><br>

			</div>
			<div class="col-sm-4 text-center moving-arrow">
				<a class="link-block" href="@Url.Action("csr_report_questionnaire", "CSR", new { lang = ViewBag.language.lang })">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/stakeholder_engagement2.jpg" class="navbar-btn"><br>
					意見與回饋<br>
					<div class="circle_button darkgray margin-top-5"><i class="icon-arrow-right"></i></div>
				</a><br>
			</div>
			<div class="col-sm-4 text-center moving-arrow">
				<a class="link-block" href="@Url.Action("Contact", "About", new { lang = ViewBag.language.lang })">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/stakeholder_engagement3.jpg" class="navbar-btn"><br>
					聯絡企業社會責任團隊<br>
					<div class="circle_button darkgray margin-top-5"><i class="icon-arrow-right"></i></div>
				</a><br>
			</div>
		</div>
	</section>