﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/ch/_Layout_seo.cshtml";
    ViewBag.Title = "永續治理";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-csr">
	    <h1 class="page-title-csr title-large">永續發展</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch/csr"><span itemprop="name">永續發展</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch/csr/sustainability_governance"><span itemprop="name">永續治理</span></a>
					<meta itemprop="position" content="2" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->

	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">永續治理</h3>
				<p>
					日月光集團是負責任的企業公民，以積極的行動確保商業行為符合專業及道德的最高標準。我們相信公司長期的經營與成功必須仰賴企業的永續發展及其社會責任的體現。
				</p>
			</article>
		</div>
	</section>

    <section class="inside-article">
        <div class="content-lg row active">
            <article class="col-md-8 col-md-offset-2 text-center" style="padding: 40px 0 50px 0;">
                <div class="col-md-12 nopadding active">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/video2.jpg">
                </div>
                <div style="position:absolute; left:35%; top: 42%; z-index:10; margin:0 auto; border-radius: 10px; text-align: center; background-color: rgba(0, 0, 0, 0.7);">
                    <a class="button videoButton popupVideo" href="https://coms.aseglobal.com/marcom/video/ase-introduction-new-ch" target="_blank"><span style="padding-top: 4px;">立即觀看</span><i class="icon-play"></i></a>
                </div>
            </article>
        </div>
    </section>
	<section class="csr-bg">
		<div class="content-lg row">
			<div class="col-sm-6 col-md-4 text-center moving-arrow">
				<a class="link-block" href="@Url.Action("corporate_sustainability_policy_and_management", "CSR", new { lang = ViewBag.language.lang, param1 = "corporate_sustainability_policy" })">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/sustainability_governance1.jpg" class="navbar-btn"><br>
					企業永續政策<br>
					<div class="circle_button darkgray margin-top-5"><i class="icon-arrow-right"></i></div>
				</a><br>
			</div>
			<div class="col-sm-6 col-md-4 text-center moving-arrow">
				<a class="link-block" href="@Url.Action("corporate_sustainability_policy_and_management", "CSR", new { lang = ViewBag.language.lang, param1 = "regulatory_compliance_and_risk_management" })">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/sustainability_governance5.jpg" class="navbar-btn"><br>
					法規遵循與風險管理<br>
					<div class="circle_button darkgray margin-top-5"><i class="icon-arrow-right"></i></div>
				</a><br>
			</div>
			<div class="col-sm-6 col-md-4 text-center moving-arrow">
				<a class="link-block" href="@Url.Action("corporate_sustainability_policy_and_management", "CSR", new { lang = ViewBag.language.lang, param1 = "business_conduct_and_ethics" })">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/sustainability_governance4.jpg" class="navbar-btn"><br>
					商業行為與道德<br>
					<div class="circle_button darkgray margin-top-5"><i class="icon-arrow-right"></i></div>
				</a><br>
			</div>
		</div>
	</section>