﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/ch/_Layout_seo.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-csr">
		<h1 class="page-title-csr title-large">企業社會責任</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">中水回收管理</h3>
				<div class="col-md-4 col-md-offset-4 text-center padding-5"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/5water.png"></div>
			</article>
		</div>
		<br>
		<div class="content-lg row csr">
			<article class="col-xs-12">
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

					<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
								<span class="black-text-in-box accordion-center-text"><span style="font-size: 26px; font-weight: bold;">緣起：</span>為何投入中水回收？</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>

						<div id="collapseOne" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne">
						<div class="panel-body">
							<div class="col-xs-10 col-xs-offset-1 hide-in-small">
								<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/sustainability_highlights_water_management1.png" class="img-responsive">
							</div>
							<div class="col-xs-8 col-xs-offset-2 hide-in-large nopadding">
								<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/sustainability_highlights_water_management11.png">
							</div>
							<div class="clearfix"></div>
							<div class="col-sm-12">
								<h3 class="title">水資源匱乏</h3>
								<p>
									雖然台灣年平均降雨量約為世界平均值的2.6倍，但因台灣地勢陡峭不易集水且人口稠密，故台灣每人每年可分配雨量不及世界平均值的五分之一。另外，台灣雖然降雨豐沛，但降雨時空分布不均，豐枯水期降雨量差異過大，而水庫容量又不夠滿足台灣的用水需求，造成枯水期供水困難。
								</p>
								<h3 class="title">氣候變遷對水資源的影響</h3>
								<p>
									近年來全球氣候異常，乾旱、洪水發生頻率逐年上升；2001-2004、2009、2010及2015年降雨不足發生枯旱現象，而2004、2005、2009及2010年颱風帶來豪大雨造成水質混濁，也造成供水緊張的狀況。2009年莫拉克颱風重創台灣，高雄楠梓地區停水逾一週，日月光高雄廠受到衝擊，產線也被暫停運作。2015年旱災嚴重，實施第二階段限水，也造成工業用水大戶減供5~10%，凸顯水資源管理的重要性。
								</p>
								<h3 class="title">日月光的用水需求</h3>
								<p>
									在持續擴大產能及擴建廠房的發展中，我們的用水需求相對也持續提升。為能以永續的方式持續成長，日月光全心投入於確保「水」這項重要資源的保護和儲存，致力於同時減少用水需求量及放流水排放量。
								</p>
							</div>
						</div>
						</div>
	  				</div>
				
					<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
								<span class="black-text-in-box accordion-center-text">日月光<span style="font-size: 26px; font-weight: bold;">如何投入</span></span>
								<div class="circle_button-wrapper">
									<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>
						<div id="collapseThree" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingThree">
							<div class="panel-body">
								<div class="col-sm-12">
									<p>
										為有效因應缺水及限水風險並降低放流水之排放，確保日月光營運永續性，日月光自2013年起先後投資建造高雄廠區及中壢廠區的中水回收廠，投入放流水回收工程。其中，高雄廠區中水回收廠為全國規模最大及全國第一座汲取工廠放流水水體進行水資源再利用程序的中水回收廠，每天可回收10,000噸再生水，相當於省下四座標準游泳池的水量。
									</p>
									<h3 class="title">高雄廠區中水回收廠<br>（第一期計畫）</h3>
									<div class="col-md-10 col-md-offset-1">
										<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/sustainability_highlights_water_management4.png" class="img-responsive">
									</div>
									<div class="clearfix"></div>
									<h3 class="title">中壢廠區中水回收廠</h3>
									<div class="col-md-10 col-md-offset-1">
										<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/sustainability_highlights_water_management5.png" class="img-responsive">
									</div>
									<div class="clearfix"></div>
									<h3 class="title">未來規劃</h3>
									<p>
										<strong>高雄</strong>
										<ul class="nopadding">
											<li>二期計畫經過重新設計，廢水回收率由原先的50%提升至70%</li>
											<li>每日可處理3萬噸廢水、製造2.1萬噸潔淨回收水</li>
											<li>年減廢水排放720萬噸</li>
											<li>將開放中水廠作為環境教育使用</li>
										</ul>
										<strong>中壢</strong>
										<ul class="nopadding">
											<li>提升回收率至 80%以上</li>
										</ul>
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
								<span class="black-text-in-box accordion-center-text">日月光<span style="font-size: 26px; font-weight: bold;">如何回收</span></span>
								<div class="circle_button-wrapper">
									<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>
						<div id="collapseTwo" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingTwo">
							<div class="panel-body">
								<div class="col-sm-12">
									<h3 class="title">什麼是中水回收系統？</h3>
									<p>
										中水回收系統是指將生活用水或輕度使用過之廢水匯集處理，再重複使用於非飲用水及非與身體接觸之生活用水。
									</p>
									<h3 class="title">中水回收小辭典</h3>
									<p>
										<strong>中水</strong><br>
										「中水」一詞為來自日本的外來語；日本將自來水稱為「上水」、污水稱為「下水」，次等水質的水則稱為「中水」。在歐美國家中水則稱之為「灰水 (grey water)」。<br><br>

										<strong>多層過濾器(MMF)</strong><br>
										濾層由上而下分別為無煙煤、細石英砂、粗石英砂、細礫石、粗礫石，利用機械過濾的原理，可去除水中99.9%以上大於50微米之懸浮固體物。<br><br>

										<strong>超濾膜系統(UF)</strong><br>
										利用絲膜濾除水中分子切小至0.03微米的不溶性固體物，有效攔阻穿越透砂濾塔的細小顆粒及膠態物質、降低水中淤泥污堵指數。<br><br>

										<strong>逆滲透系統(RO)</strong><br>
										利用逆滲透膜去除水中導電度、有機物等物質，將水質純化至製程所需。
									</p>
									<h3 class="title">高雄廠中水回收流程（第一期計畫）</h3>
									<div class="col-md-10 col-md-offset-1 margin-bottom-0">
										<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/sustainability_highlights_water_management2.png" class="img-responsive"><br>
									</div>
									<div class="clearfix"></div>
									<h3 class="title">中壢廠中水回收流程</h3>
									<div class="col-md-10 col-md-offset-1">
										<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/sustainability_highlights_water_management3.png" class="img-responsive">
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
								<span class="black-text-in-box accordion-center-text"><span style="font-size: 26px; font-weight: bold;">經驗分享</span></span>
								<div class="circle_button-wrapper">
									<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>
						<div id="collapseFour" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingFour">
							<div class="panel-body">
								<div class="col-sm-12">
									<p>
										除致力於降低自身營運的水資源需求，身為全球半導體封裝測試服務的領導廠商，我們期許與各界分享我們的成功經驗，最大化正面影響力。<br><br>

										日月光中水回收廠的成功經驗，吸引每月至少一至二團的參訪團，不少學校、公司，南部科學工業園區、連新加坡公用事業局都前來取經。透過國內外研討會、工會或參訪等各類途徑推廣中水回收廠之效益，可供不同事業或團體瞭解水回收再利用相關資訊及知識，共同面對未來水資源匱乏議題。<br><br>

										自正式營運起至2016年12月底，日月光高雄廠區與中壢廠區中水回收廠經驗分享實績。
									</p>
									
									<div class="clearfix"></div>
									
									<div class="col-xs-10 col-xs-offset-1 padding-5 hide-in-small">
										<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/sustainability_highlights_water_management7.png" class="img-responsive">
									</div>
									<div class="col-xs-12 hide-in-large nopadding">
										<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/sustainability_highlights_water_management71.png">
									</div>

									<div class="clearfix"></div>

									<div class="col-xs-6 col-md-3 picture-padding-2" style="margin-bottom: 5px"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/sustainability_highlights_water_management11.jpg"></div>
									<div class="col-xs-6 col-md-3 picture-padding-2" style="margin-bottom: 5px"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/sustainability_highlights_water_management12.jpg"></div>
									<div class="col-xs-6 col-md-3 picture-padding-2" style="margin-top: 0"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/sustainability_highlights_water_management13.jpg"></div>
									<div class="col-xs-6 col-md-3 picture-padding-2" style="margin-top: 0"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/sustainability_highlights_water_management14.jpg"></div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</article>
		</div>
	</section>
	<script>
	$( document ).ready(function() {
		$('.accordion-center-text').click(function(e){
			if ($(this).hasClass('black-text-in-box')) {
				$('.blue-text-in-box').removeClass('blue-text-in-box').addClass('black-text-in-box');
				$(this).removeClass("black-text-in-box");
				$(this).addClass("blue-text-in-box");      //add the class to the clicked element
			} else {
				$(this).removeClass("blue-text-in-box");
				$(this).addClass("black-text-in-box");      //add the class to the clicked element
			}
		});
	})
	</script>