﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/tw/_Layout.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-technology">
		<h1 class="page-title title-large">技術</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Index", "Home", new { lang = ViewBag.language.lang })"><i class="icon-home"></i><span itemprop="name">首頁</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })"><span itemprop="name">技術</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Technology_Innovation", "Technology", new { lang = ViewBag.language.lang })"><span itemprop="name">領先技術</span></a>
					<meta itemprop="position" content="3" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_flip_chip" })"><span itemprop="name">Flip Chip</span></a>
					<meta itemprop="position" content="4" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="#"><span itemprop="name">Solder Bumping</span></a>
					<meta itemprop="position" content="5" />
				</li>
			</ol>
		</div>
	</div>

	<div class="breadcrumbs-pc pull-left" id="breadcrumbs-pc">
		<!-- PC版選單breadcrumbs內容 -->
		<ul class="breadcrumbs-view" id="breadcrumbs-view">
			<li class="dropdown-item">
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })">技術</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" })">產品</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Solution" })">解決方案</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "ir" })" >投資人關係</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })">企業社會責任</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "About" })">了解日月光</a></li>
				</ul>
			</li>
			<li class="dropdown-item">
				<a href="javascript:;">技術</a>
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.Action("Technology_Innovation", "Technology", new { lang = ViewBag.language.lang })">領先技術</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "Intellectual_Property" })">智財</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "ASE_Trademarks" })">商標</a></li>
				</ul>
			</li>
			<li class="dropdown-item">
				<a href="javascript:;">領先技術</a>
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_25d_ic" })">2.5D IC</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_fan_out" })">Fan Out</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_sip_id" })">SiP-id™</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_sip_module_solutions" })">SiP &amp; Module</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_flip_chip" })">Flip Chip</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_tsv_interposer_integration" })">TSV-Interposer Integration</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_ipd" })">WL IPD</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_wafer_level_mems" })">Wafer-Level MEMS</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_mems_sensor_solutions" })">MEMS &amp; Sensors</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_embedded_die_technology" })">Embedded Die Technology</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_core_test" })">Semiconductor Test</a></li>
				</ul>
			</li>
			<li class="dropdown-item">
				<a href="javascript:;">Flip Chip</a>
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_flip_chip_csp" })">Flip Chip CSP</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_flip_chip_bga" })">Flip Chip BGA</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_hp_flip_chip_bga" })">HP Flip Chip BGA</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_cu_pillar" })">Cu pillar</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_solder_bumping" })">Solder Bumping</a></li>
				</ul>
			</li>
		</ul>
	</div>

	<!-- Technology list -->
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<div class="col-sm-8 col-md-6 col-lg-4"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/solder_bumping.jpg"></div>
				<div class="clearfix"></div>
				<h3 class="title">Solder Bumping</h3>

					<p>
						Wafer bumping is an essential to flip chip or board level semiconductor packaging. Bumping is an advanced wafer level process technology where "bumps" or "balls" made of solder are formed on the wafers in a whole wafer form before the wafer is being diced into individual chips. Those "bumps", which can be composed from eutectic, lead free, high lead materials, or Cu pillar on wafer are the fundamental interconnect components that will interconnect the die and the substrate together into a single package. These bumps not only provide a connected path between die and substrate, but also play an important role in the electrical, mechanical and thermal performance in the flip chip package.<br><br>

						Flip chip assembly package has traditionally been used for high-end niche applications. Recent technology development has adopted this process to be widely used in today's consumer electronics applications. For the performance driven market, flip chip interconnection reduces signal propagation delay, provide much better bandwidth, and relieves the constraints of power and ground distribution. For the form factor driven market, such as mobile applications, replacing wire bonding by flip chip interconnects reduces the size and weight of the package.<br><br>

						As the world leading IC assembly subcontractor, ASE established its wafer bumping services in 1999. Licensed from Flip Chip International, LLC, the world's leader in printing bumping technologies, ASE's flip chip bumping process has proven to be robust and reliable, with production experience accumulated since 2000 as the very first subcontractor to provide large volume production in bumping service.<br><br>

						ASE also established the plating bump process in 2003. The plating process has proven the robustness, reliability, and provided production service.
					</p>

			</article>
		</div>
	</section>

	<section class="inside-article">
		<div class="content-lg row">

			<div class="col-xs-6">
				<h4 class="sub-title">Features</h4>
			</div>
			<div class="clearfix"></div>
			<div class="technology-features-content">
				<div class="col-sm-12 col-md-12">
					<ul class="nopadding">
						<li>High density interconnection</li>
						<li>High-speed data processing</li>
						<li>Fine bump pitch (array and peripheral)</li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<section class="inside-article">
		<div class="content-lg row">
			<div class="col-md-12">
				<h4 class="sub-title">Capabilities</h4>
				<p>Currently, ASE operates three state-of-the-art bumping facilities with varieties of bumping processes available, two are for 150mm and 200mm wafer, one is for 300mm wafer, all located in Kaohsiung, Taiwan. During the first quarter of 2000, ASE's 200mm printing bumping process successfully passed the internal package reliability test. The bumping process was later qualified by customers and began volume production in the third quarter of 2000. The 300mm printing line was established in 2002 and turned into production since third quarter of 2002. To date, more than 1 million 6" & 8" wafers from over 100 customers’ device, more than 0.3 million 12" wafers from over 16 customer's device have been processed in ASE's printing bumping facilities with consistent output of over 70k 6"& 8" wafers per month, over 11k 12" wafers per month. More than 0.1 million 12" wafers from over 10 customer's device have been processed in ASE's plating bumping facilities with consistent output of over 6k wafers per month.<br><br>

				As a leader of bumping process provider, ASE began to develop and construct not only solder bump process, but also Cu pillar process. Cu pillar structure is applied for fine pitch, lead-free, or high current application device.</p>
			</div>
			<div class="col-md-12">
				<h4 class="sub-title">Advanced Bumping Technologies under Development</h4>
				<p>ASE continues to invest in advanced technologies to maximize solutions for customers' sophisticated chip designs. We are currently working with major IDMs and the world's top foundries on polyimide Repassivation and RDL, Cu pillar and 65nm, 45nm cu low-K wafer bumping. Combined with other ASE manufacturing services including substrate design, substrate manufacturing, wafer sorting, bumping, backside grinding, backside marking, flip chip assembly, final test, and drop ship, ASE offers customers unsurpassed flip chip turnkey solutions.<br><br></p>
			</div>
			<div class="content-wrapper col-md-12 tech-cont-link">
			<a class="phone" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "plants_offices_ase"})"><span class="glyphicon glyphicon-earphone"></span>  聯絡我們 </a>
			</div>
			<br><br>


			<!-- more technology link -->

			<div class="col-md-12">
				<div class="circle_button-wrapper pull-left">
					<br><br>
				</div>
			</div>

			<div class="clearfix"></div>



		</div>


	</section>

	
	<section class="csr-bg">
		<div class="content-lg row">
			<div class="col-xs-12 csr">
				<div class="col-md-4 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_flip_chip_csp" })">
							<span class="blue-text-in-box">Flip Chip CSP</span>
							<div class="circle_button-wrapper pull-right">
								<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-4 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_flip_chip_bga" })">
							<span class="blue-text-in-box">Flip Chip BGA</span>
							<div class="circle_button-wrapper">
								<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-4 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_hp_flip_chip_bga" })">
							<span class="blue-text-in-box">HP Flip Chip BGA</span>
							<div class="circle_button-wrapper">
								<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-4 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_cu_pillar" })">
							<span class="blue-text-in-box">Cu Pillar</span>
							<div class="circle_button-wrapper">
								<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-4 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_solder_bumping" })">
							<span class="blue-text-in-box">Solder Bumping</span>
							<div class="circle_button-wrapper">
								<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
