﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/tw/_Layout.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-technology">
		<h1 class="page-title title-large">技術</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Index", "Home", new { lang = ViewBag.language.lang })"><i class="icon-home"></i><span itemprop="name">首頁</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })"><span itemprop="name">技術</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Technology_Innovation", "Technology", new { lang = ViewBag.language.lang })"><span itemprop="name">領先技術</span></a>
					<meta itemprop="position" content="3" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_flip_chip" })"><span itemprop="name">Flip Chip</span></a>
					<meta itemprop="position" content="4" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="#"><span itemprop="name">HP Flip Chip BGA</span></a>
					<meta itemprop="position" content="5" />
				</li>
			</ol>
		</div>
	</div>

	<div class="breadcrumbs-pc pull-left" id="breadcrumbs-pc">
		<!-- PC版選單breadcrumbs內容 -->
		<ul class="breadcrumbs-view" id="breadcrumbs-view">
			<li class="dropdown-item">
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })">技術</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" })">產品</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Solution" })">解決方案</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "ir" })" >投資人關係</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })">企業社會責任</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "About" })">了解日月光</a></li>
				</ul>
			</li>
			<li class="dropdown-item">
				<a href="javascript:;">技術</a>
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.Action("Technology_Innovation", "Technology", new { lang = ViewBag.language.lang })">領先技術</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "Intellectual_Property" })">智財</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "ASE_Trademarks" })">日月光商標</a></li>
				</ul>
			</li>
			<li class="dropdown-item">
				<a href="javascript:;">領先技術</a>
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_25d_ic" })">2.5D IC</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_fan_out" })">Fan Out</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_sip_id" })">SiP-id™</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_sip_module_solutions" })">SiP &amp; Module</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_flip_chip" })">Flip Chip</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_tsv_interposer_integration" })">TSV-Interposer Integration</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_ipd" })">WL IPD</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_wafer_level_mems" })">Wafer-Level MEMS</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_mems_sensor_solutions" })">MEMS &amp; Sensor</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_embedded_die_technology" })">Embedded Die Technology</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_core_test" })">Semiconductor Test</a></li>
				</ul>
			</li>
			<li class="dropdown-item">
				<a href="javascript:;">Flip Chip</a>
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_flip_chip_csp" })">Flip Chip CSP</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_flip_chip_bga" })">Flip Chip BGA</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_hp_flip_chip_bga" })">HP Flip Chip BGA</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_cu_pillar" })">Cu pillar</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_solder_bumping" })">Solder Bumping</a></li>
				</ul>
			</li>
		</ul>
	</div>

	<!-- Technology list -->
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<div class="col-sm-8 col-md-6 col-lg-4"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/hp_flip_chip_bga1.jpg"></div>
				<div class="clearfix"></div>
				<h3 class="title">HP Flip Chip BGA</h3>
				<p>
					HFC BGA (High Performance FCBGA), a thermally enhanced FCBGA, is the composite package of FCBGA with heat spreader made of Cu, Al, or AlSiC. The heat spreader is used to extend the heat conduction area by connecting itself to the rear side of the silicon chip.<br><br>

					This method desensitizes the performance deviation out of the chip size, lowers the thermal resistance of junction-to-case (θjc) and enables the external heat sink or fan to work more effectively. HFCBGA can produce 6~8 watts of power dissipation under natural convection.
				</p>
			</article>
		</div>
	</section>

	<section class="inside-article">
		<div class="content-lg row">
			<br><br>
			<div class="col-xs-6">
				<div class="technology-application technology-tab-active">Application</div>
			</div>
			<div class="col-xs-6">
				<div class="technology-features technology-tab-inactive">Features</div>
			</div>
			<div class="clearfix"></div>
			<div class="technology-application-content">
				<div class="col-xs-12 col-md-12">
					<div class="col-sm-6 col-md-4 nopadding">
						<strong>Computer</strong>
						<ul class="nopadding">
							<li>Graphics/chipsets for PC</li>
							<li>Server</li>
							<li>High-end application</li>
							<li>Microprocessor for PC & Server</li>
						</ul>
					</div>
					<div class="col-sm-6 col-md-4 nopadding">
						<strong>Telecommunication</strong>
						<ul class="nopadding">
							<li>Network products (LAN)</li>
							<li>Switching</li>
							<li>Transmission</li>
							<li>Cellular Base Stations</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="technology-features-content">
				<div class="col-xs-12 col-md-12">
					<ul class="nopadding">
						<li>Substrate: 4 layer laminate, 4~12 layer build-up, ceramic, and PTFE substrates are available</li>
						<li>Thermal Lids: Heat spreaders made of Cu with Ni plating, Aluminum, Ceramic, AlSiC</li>
						<li>Passive Component: Passive component attaching. It can be placed on the top or bottom side of the package</li>
						<li>Ceramic BGA: High Pb solder ball with eutectic solder paste improves board level reliability performance of ceramic packages</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
<br>
	<section class="inside-article">
		<div class="content-lg row">
			<div class="col-xs-12 col-md-12">
				<h4 class="sub-title">Reliability</h4>
			</div>
			<div class="col-md-10 col-lg-6">
				<strong>Package Level</strong>
				<div class="table-responsive inside-table">
					<table class="table table-striped table-hover csr">
						<thead>
							<tr>
								<th class="left-border">Test Item</th>
								<th class="left-border">Reference Standard</th>
								<th class="left-border">Condition/Duration</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="left-border">MSL</td>
								<td class="left-border">JEDEC 22-A113</td>
								<td class="left-border">Level 4, 30°C/60% RH, 96 hrs</td>
							</tr>
							<tr>
								<td class="left-border">TCT</td>
								<td class="left-border">JEDEC 22-A104-B</td>
								<td class="left-border">-65°C to 150°C, 500, 1000 cycles</td>
							</tr>
							<tr>
								<td class="left-border">THT</td>
								<td class="left-border">JEDEC 22-A101</td>
								<td class="left-border">85°C/85% RH, 500/1000hrs</td>
							</tr>
							<tr>
								<td class="left-border">HAST</td>
								<td class="left-border">JEDEC 22-A118</td>
								<td class="left-border">130°C/85% RH, 33.5 psi 50/100hrs</td>
							</tr>
							<tr>
								<td class="left-border">HTST</td>
								<td class="left-border">JEDEC 22-A103-B</td>
								<td class="left-border">150°C, 500/1000 hrs</td>
							</tr>
							<tr>
								<td class="left-border">PCT</td>
								<td class="left-border">JEDEC 22-A102</td>
								<td class="left-border">121°C/100%RH , 15 psig, 96/168hrs</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>		
			
			<div class="content-wrapper col-md-12 tech-cont-link">
			<br><a class="phone" href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "plants_offices_ase"})"><span class="glyphicon glyphicon-earphone"></span>  聯絡我們 </a>
			</div>

			<!-- more technology link -->

			<div class="col-md-12">
				<div class="circle_button-wrapper pull-left">
					<br><br>
				</div>
			</div>

			<div class="clearfix"></div>



		</div>


	</section>

	
	<section class="csr-bg">
		<div class="content-lg row">
			<div class="col-xs-12 csr">
				<div class="col-md-4 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_flip_chip_csp" })">
							<span class="blue-text-in-box">Flip Chip CSP</span>
							<div class="circle_button-wrapper pull-right">
								<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-4 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_flip_chip_bga" })">
							<span class="blue-text-in-box">Flip Chip BGA</span>
							<div class="circle_button-wrapper">
								<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-4 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_hp_flip_chip_bga" })">
							<span class="blue-text-in-box">HP Flip Chip BGA</span>
							<div class="circle_button-wrapper">
								<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-4 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_cu_pillar" })">
							<span class="blue-text-in-box">Cu Pillar</span>
							<div class="circle_button-wrapper">
								<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-4 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "technology_solder_bumping" })">
							<span class="blue-text-in-box">Solder Bumping</span>
							<div class="circle_button-wrapper">
								<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
<script>
	$(document).ready(function() { 

		$('#media').carousel({
			pause: true,
			interval: false,
		});
		$("#media").swiperight(function() { /* enables the swiping on phone */
			$(this).carousel('prev');
		});
		$("#media").swipeleft(function() { /* enables the swiping on phone */
			$(this).carousel('next');
		});
		$(".technology-features-content").hide();

		$('.technology-application').click(function() {
			$(this).closest(".row").find(".technology-features").removeClass("technology-tab-active").addClass("technology-tab-inactive");
			$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
			$(this).closest(".row").find(".technology-features-content").hide();
			$(this).closest(".row").find(".technology-application-content").fadeIn(1000);
		});
		$('.technology-features').click(function() {
			$(this).closest(".row").find(".technology-application").removeClass("technology-tab-active").addClass("technology-tab-inactive");
			$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
			$(this).closest(".row").find(".technology-application-content").hide();
			$(this).closest(".row").find(".technology-features-content").fadeIn(1000);
		});
	});
</script>