﻿@{
    Layout = "~/Areas/Backend/Views/Admin/Index.cshtml";
    Dictionary<string, string> error = (Dictionary<string, string>)TempData["error"];
    string str = "";
    List<admin_emp_group> group_list = ViewBag.group_list;
}

@using web.Models
@using web.Common
@model admin_emp

<div class="box-header with-border">
    <h3 class="box-title"></h3>
    <div class="box-tools pull-right">
        <a class="btn btn-warning" href="@Url.Action("AdminList")" role="button"> Back </a>
    </div>
</div>
<div class="box-body form-horizontal">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.HiddenFor(x => x.ae_id)
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group ">
                    <label class="col-sm-2 control-label"><i class="required"> * </i> 帳號:</label>
                    <div class="col-sm-5">
                        @if (Model.ae_id == 0)
                        {
                            str = "ae_name";
                            @Html.TextBox(str, Model.ae_name, new { @class = "form-control", maxlength = 50, @required = "required", @placeholder = "長度不可小於2，不可大於50" })
                            <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
                        }
                        else
                        {
                            @(Model.ae_name)
                            @Html.HiddenFor(x => x.ae_name)
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group ">
                    <label class="col-sm-2 control-label"> 密碼:</label>
                    <div class="col-sm-5">
                        @{
                            str = "ae_password";
                        }
                        @Html.Password(str, "", new { @class = "form-control", maxlength = 50, @placeholder = "長度不可小於5，不可大於50" })
                        <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group ">
                    <label class="col-sm-2 control-label"><i class="required"> * </i> 暱稱:</label>
                    <div class="col-sm-5">
                        @{
                            str = "ae_empnm";
                        }
                        @Html.TextBox(str, Model.ae_empnm, new { @class = "form-control", maxlength = 120, @required = "required" })
                        <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="col-sm-2 control-label"><i class="required"> * </i> 群組名稱:</label>
                    <div class="col-sm-5 iCheck">
                        @{
                            str = "arr_group";
                        }
                        @foreach (admin_emp_group group in group_list)
                        {
                            <label>&nbsp;&nbsp;<input name="@(str)[]" value="@(group.aeg_id)" type="checkbox" @(Model.admin_emp_belong_group.Where(x => x.aeg_id == group.aeg_id).Count() > 0 ? "checked" : "") class="form-control">&nbsp;@(group.aeg_name)</label><br />
                        }
                        <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group ">
                    <label class="col-sm-2 control-label"> 描述:</label>
                    <div class="col-sm-5">
                        @{
                            str = "ae_description";
                        }
                        @Html.TextArea(str, Model.ae_description, new { @class = "form-control", maxlength = 250, @rows = 6 })
                        <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
                    </div>
                </div>
            </div>
        </div>
        if (Model.ae_super_admin == 0)
        {
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="launch">啟用:</label>
                        <div class="col-sm-10 iCheck">
                            @{
                                str = "ae_launch";
                            }
                            <input name="ae_launch" id="ae_launch" value="1" type="checkbox" @(Model.ae_launch == 1 ? "checked" : "") class="form-control">
                            <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <input name="ae_launch" value="1" type="hidden">
        }
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <div class="col-sm-2 col-sm-offset-2">
                        <button class="btn btn-success btn-block" type="submit">Submit</button>
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-danger btn-block" type="reset">Reset</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>


