﻿@{
    Layout = "~/Areas/Backend/Views/Shared/_layout.cshtml";
}

<div class="box box-danger">
    <div class="box-body">
        <div class="nav-tabs-custom nav-primary">
            <ul class="nav nav-tabs">
                <li class="@(ViewBag.current_tab == "Admin"?"active":"")">
                    <a href="@Url.Action("AdminList", "Admin", new { id = ViewBag.node.wm_url_id })">管理者設定</a>
                </li>
                <li class="@(ViewBag.current_tab == "Group"?"active":"")">
                    <a href="@Url.Action("GroupList", "Permission", new { id = ViewBag.node.wm_url_id })">群組與權限管理</a>
                </li>
                <li class="@(ViewBag.current_tab == "Mail"?"active":"")">
                    <a href="@Url.Action("List", "Mail", new { id = ViewBag.node.wm_url_id })">信箱設定</a>
                </li>
            </ul>
        </div>
        <div class="tab-content">
            @RenderBody()
        </div>
    </div>
    <div class="box-footer"></div>
</div>