﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/ch/_Layout_seo.cshtml";
    ViewBag.Title = "技術 ";
    ViewBag.enURL = "/en/technology";
    ViewBag.zhURL = "/ch/technology";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-technology">
		<h1 class="page-title title-large">技術</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->
	<!-- Letter from the Chairman -->
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">技術</h3>
				<p>日月光集團持續投入研發經費，提供先進的製程與技術，包含微間距銲線技術(fine pitch bonding)、覆晶封裝(flip chip)、晶圓凸塊(wafer bumping)、300mm晶圓凸塊(300mm wafer bumping)以及測試、銅柱狀製程(copper pillar)、晶片級封裝(chip scale package, CSP)、堆疊晶粒封裝(multi stack-die packaging)、立體封裝(3D packages)、扇出型封裝(fan out)與系統級封裝(system in package, SiP)等。我們擁有目前世界上最先進的300mm晶圓後段封測技術。
				</p>
				<p>此外，日月光頂尖技術涵蓋光電元件封裝與藍芽技術。我們先進的封測技術提供高效能與絕佳的散熱，專為微處理器、通訊產品晶片及消費性產品晶片等高端應用所設計。隨著環保意識抬頭，日月光也秉持此原則生產符合最新國際標準無鉛封裝產品。
				</p>
			</article>
		</div>
	</section>

	<section class="csr-bg">
		<div class="content-lg row">
			<div class="container">
					<div class="metrial-type">
						<div class="col-xs-12 col-sm-4">
							<div class="lab-type orange">
								<h3 class="text-center">創新技術</h3>
								<p>日月光集團長期培育具備豐富經驗與技術的工程團隊，以堅強的競爭優勢，滿足客戶需求，提供創新技術解決方案</p>
								<div class="text-center"><a class="circle_button" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "technology_innovation" })"><i class="icon-arrow-right "></i></a></div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-4">
							<div class="lab-type lightblue">
								<h3 class="text-center">智財</h3>
								<p>日月光不斷研發新技術，並輔以優異的智慧財產權管裡與佈局，維持企業創新的領先地位
								</p>
								<div class="arrow"><a class="circle_button" href="@Url.Action("intellectual_property", "technology", new { lang = ViewBag.language.lang })"><i class="icon-arrow-right "></i></a></div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-4">
							<div class="lab-type darkblue">
								<h3 class="text-center">日月光商標</h3>
								<p>查詢日月光所使用、顯示、或提供的特定名稱、服務標章、標誌、口號、產品設計
								</p>
								<div class="arrow"><a class="circle_button" href="@Url.Action("ase_trademarks", "technology", new { lang = ViewBag.language.lang })"><i class="icon-arrow-right "></i></a></div>
							</div>
						</div>
					</div>
				</div>
		</div>
	</section>
