﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/ch/_Layout_seo.cshtml";
    ViewBag.Title = "智慧財產權管理";
    ViewBag.enURL = "/en/technology/intellectual_property";
    ViewBag.zhURL = "/ch/technology/intellectual_property";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-about">
		<h1 class="page-title title-large">關於日月光</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch/about"><span itemprop="name">關於日月光</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch/technology/intellectual_property"><span itemprop="name">智慧財產權管理</span></a>
					<meta itemprop="position" content="2" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->

	<!-- Technology list -->
	<section class="inside-article">
		<div class="content-lg row">
			<div class="col-xs-12">
				<h3 class="title">智慧財產權管理</h3>
				<p>智慧財產權是研發的重要成果之一，因此智慧財產權管理是創新管理的重要一環，具有優異的智財管理，才能維持企業創新的領先地位。<br>
					日月光的智財管理與整個企業營運規劃與執行息息相關，從「商機」、「研發」到「智財管理與運用」形成持續創新循環，分為下述三大階段：
				<br><br>
				<ul class="nopadding">
					<li>因應市場前瞻需求投入相當的研發活動，確保重點商機與研究開發連結；</li>
					<li>經由妥善的內部智財申請系統及工具，確保研發成果能正確、完整、有效率的成為受法律保護的智慧財產權 ( 例如專利、商標、營業秘密等 )；</li>
					<li>運用高價值的智財以促進商業上的成功，取得客戶訂單，在生產製造上取得收益，並且拓展更多新的商機，形成永續的正循環。此外，也可形成智財權防護牆，防止他人剽竊日月光的技術，並可針對競爭對手的智財權威脅進行有效防禦，確保日月光的營運自由。</li>
				 </ul>
				</p>
			</div>
		</div>
	</section>
    <section class="inside-article">
        <div class="content-lg row">
            <article class="col-xs-12 col-md-8 col-md-offset-2 text-center" style="padding: 40px 0;">
                <div class="col-xs-12">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/about/mov_intellectual_property_v2.jpg">
                </div>
                <div style="position:absolute; left:20%; top: 56%; z-index:100; margin:0 auto; background-color: rgba(0, 0, 0, 0.5); border-radius: 5px; width: 60%; height: 22%; padding: 2.5%; text-align: center;">
                    <a class="button videoButton popupVideo" href="https://coms.aseglobal.com/marcom/video/tips" target="_blank"><span style="padding-top: 4px;">立即觀看</span><i class="icon-play"></i></a>
                </div>
            </article>
        </div>
    </section>
	<section class="inside-article">
		<div class="content-lg row">
			<div class="col-xs-12">
				<h4 class="sub-title">日月光美國專利達到第1,000件的里程碑</h4>
                <p>
                    在團隊努力之下，於2019年底，日月光美國專利超越1000件的里程碑。<br>
                    未來，我們將繼續研發的投入，培養專業的研發人才。除了提昇智權的『質』與『值』，也為客戶的前瞻發展，攜手創造無限可能。 
                </p>
			</div>
			<div class="col-xs-12">
				<h4 class="sub-title">日月光商標清單</h4>
				<p>
				此清單為一未盡羅列之日月光商標清單，日月光得不經預告不定期更新本清單所列之商標。任何經日月光使用於或併入其服務但未明示於本清單之名稱、服務標章或標誌並不構成日月光放棄該名稱或標誌之商標或其他智慧財產權之權利。
				</p>

				<div class="col-xs-6 col-sm-5cols">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/trademark1.png">
				</div>
				<div class="col-xs-6 col-sm-5cols">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/trademark2.png">
				</div>
				<div class="col-xs-6 col-sm-5cols">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/trademark3.png">
				</div>
				<div class="col-xs-6 col-sm-5cols">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/trademark4.png">
				</div>
				<div class="col-xs-6 col-sm-5cols">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/trademark5.png">
				</div>
				<div class="col-xs-6 col-sm-5cols">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/trademark6.png">
				</div>
				<div class="col-xs-6 col-sm-5cols">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/trademark7.png">
				</div>
				<div class="col-xs-6 col-sm-5cols">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/trademark8.png">
				</div>
				<div class="col-xs-6 col-sm-5cols">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/trademark9.png">
				</div>
				<div class="col-xs-6 col-sm-5cols">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/trademark10.png">
				</div>
				<div class="col-xs-6 col-sm-5cols">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/trademark11.png">
				</div>
				<div class="col-xs-6 col-sm-5cols">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/trademark12.png">
				</div>
				<div class="col-xs-6 col-sm-5cols">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/trademark13.png">
				</div>
				<div class="col-xs-6 col-sm-5cols">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/trademark14.png">
				</div>
				<div class="col-xs-6 col-sm-5cols">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/trademark15.png">
				</div>
				<div class="col-xs-6 col-sm-5cols">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/trademark16.png">
				</div>
				<div class="col-xs-6 col-sm-5cols">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/trademark17.png">
				</div>
				<div class="col-xs-6 col-sm-5cols">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/trademark18.png">
				</div>
				<div class="col-xs-6 col-sm-5cols">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/trademark23.png">
				</div>
				<div class="col-xs-6 col-sm-5cols">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/trademark24.png">
				</div>
				<div class="col-xs-6 col-sm-5cols">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/trademark21.png">
				</div>
				<div class="col-xs-6 col-sm-5cols">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/trademark22.png">
				</div>
				<div class="col-xs-6 col-sm-5cols">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/trademark20.png">
				</div>
				<div class="col-xs-6 col-sm-5cols">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/trademark19.png">
				</div>
				<div class="clearfix"></div>
				<p>&nbsp;</p>
			</div>
		</div>
	</section>
	<section class="inside-article">
		<div class="content-lg row">
			<div class="col-xs-12">
				<h4 class="sub-title">取得驗證</h4>
				<p>日月光半導體製造股份有限公司繼2021年通過台灣智慧財產管理系統（TIPS）(A級) 首次驗證，於2022年9月29日向驗證單位資訊策進會提出再驗證申請，並已於2022年11月4日通過再驗證，證書有效期間至2024年12月31日。</p>
			</div>
		</div>
	</section><br>