﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/ch/_Layout_seo.cshtml";
    ViewBag.Title = "先進封裝製程技術 ";
    ViewBag.enURL = "/en/technology/technology_innovation";
    ViewBag.zhURL = "/ch/technology/technology_innovation";
}
<!-- page Banner -->
<section id="page-vision" class="page-banner-s banner-technology">
    <h1 class="page-title title-large">先進封裝製程技術</h1>
</section>

<!--breadcrumbs-->
<div class="content-lg row">
    <div class="col-xs-12">
        <ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch/technology/technology_innovation"><span itemprop="name">先進技術</span></a>
					<meta itemprop="position" content="1" />
				</li>
        </ol>
    </div>
</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->

<!-- Technology list -->
<section class="inside-article">
    <div class="content-lg row">
        <article class="col-xs-12">
            <h3 class="title">先進封裝製程技術</h3>
            <p>
                電子封裝對於許多產業應用(例如雲計算、物聯網、醫療保健、汽車、航太等)與系統創新都是極為重要的一環。傾聽客戶聲音並掌握市場轉型趨勢，使日月光能夠研發滿足客戶需求並且推動成長的創新解決方案。日月光持續研發先進製程技術，包含系統級封裝(System in Package, SiP)、立體封裝(2.5D & 3D IC Packaging)、扇出型封裝(Fan Out Packaging)、微機電與感測元件封裝(MEMS and Sensor Packaging)等。
            </p>
        </article>

        <div class="col-xs-12 living-box">
            <div class="content-lg row">
                <article class="col-md-10 col-md-offset-1 text-center" style="padding: 60px 0;">
                    <div class="col-md-12 nopadding">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/mov_technology_innovation.jpg">
                    </div>
                    <div style="position:absolute; left:15%; top: 35%; z-index:100; margin:0 auto; border-radius: 5px; width: 70%; height: 25%; padding: 5%; text-align: center;">
                        <a class="button videoButton popupVideo" href="https://coms.aseglobal.com/marcom/video/ase-tech-future" target="_blank" style="background-color: rgba(0, 0, 0, 0.2);"><span style="padding-top: 4px;">立即觀看</span><i class="icon-play"></i></a>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
<section id="iconlink" class="iconlink linebg-3">
    <div class="content-lg">
        <ul class="row ">
            <li class="col-xs-6 col-md-4 text-center">
                <div class="imgbox">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-10.png" alt="2.5D & 3D" data-hover="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-10_hover.png">
                </div>
                <div class="textbox">
                    <a href="@Url.Action("advanced_25DIC", "technology", new { lang = ViewBag.language.lang })">
                        <h4>2.5D & 3D</h4>
                        <div class="circle_button darkgray tech_ino"><i class="icon-arrow-right"></i></div>
                    </a>
                </div>
            </li>
            <li class="col-xs-6 col-md-4 text-center">
                <div class="imgbox">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-01.png" alt="Fan Out" data-hover="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-01_hover.png">
                </div>
                <div class="textbox">
                    <a href="@Url.Action("fan_out", "technology", new { lang = ViewBag.language.lang })">
                        <h4>Fan Out</h4>
                        <div class="circle_button darkgray tech_ino"><i class="icon-arrow-right"></i></div>
                    </a>
                </div>
            </li>
            @*<li class="col-xs-6 col-md-3 text-center">
                <div class="imgbox">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-11.png" alt="SiP-id" data-hover="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-11_hover.png">
                </div>
                <div class="textbox">
                    <a href="@Url.Action("sip_id", "technology", new { lang = ViewBag.language.lang })">
                        <h4>SiP-id</h4>
                        <div class="circle_button darkgray tech_ino"><i class="icon-arrow-right"></i></div>
                    </a>
                </div>
            </li>*@
            <li class="col-xs-6 col-md-4 text-center">
                <div class="imgbox">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-02.png" alt="System-in-Package" data-hover="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-02_hover.png">
                </div>
                <div class="textbox">
                    <a href="@Url.Action("sip_module", "technology", new { lang = ViewBag.language.lang })">
                        <h4>System-in-Package</h4>
                        <div class="circle_button darkgray tech_ino"><i class="icon-arrow-right"></i></div>
                    </a>
                </div>
            </li>
            
            @*<li class="col-xs-6 col-md-3 text-center">
                <div class="imgbox">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-03.png" alt="Flip Chip" data-hover="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-03_hover.png">
                </div>
                <div class="textbox">
                    <a href="@Url.Action("flip_chip", "technology", new { lang = ViewBag.language.lang })">
                        <h4>Flip Chip</h4>
                        <div class="circle_button darkgray tech_ino"><i class="icon-arrow-right"></i></div>
                    </a>
                </div>

            </li>*@

            @*<li class="col-xs-6 col-md-3 text-center no-margin">
                <div class="imgbox">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-04.png" alt="TSV-Interposer Integration" data-hover="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-04_hover.png">
                </div>
                <div class="textbox">
                    <a href="@Url.Action("tsv_interposer_integration", "technology", new { lang = ViewBag.language.lang })">
                        <h4>TSV-Interposer Integration</h4>
                        <div class="circle_button darkgray tech_ino"><i class="icon-arrow-right"></i></div>
                    </a>
                </div>
            </li>*@
            
            @*<li class="col-xs-6 col-md-3 text-center">
                <div class="imgbox">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-06.png" alt="IPD" data-hover="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-06_hover.png">
                </div>
                <div class="textbox">
                    <a href="@Url.Action("wl_ipd", "technology", new { lang = ViewBag.language.lang })">
                        <h4>WL IPD</h4>
                        <div class="circle_button darkgray tech_ino"><i class="icon-arrow-right"></i></div>
                    </a>
                </div>
            </li>*@
            
            @*<li class="col-xs-6 col-md-3 text-center">
                <div class="imgbox">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-07.png" alt="Wafer-Level MEMS" data-hover="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-07_hover.png">
                </div>
                <div class="textbox">
                    <a href="@Url.Action("wl_mems", "technology", new { lang = ViewBag.language.lang })">
                        <h4>WL MEMS</h4>
                        <div class="circle_button darkgray tech_ino"><i class="icon-arrow-right"></i></div>
                    </a>
                </div>
            </li>*@
            
            <li class="col-xs-6 col-md-4 text-center no-margin">
                <div class="imgbox">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-08.png" alt="MEMS &amp; Sensors Solutions" data-hover="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-08_hover.png">
                </div>
                <div class="textbox">
                    <a href="@Url.Action("mems_sensors", "technology", new { lang = ViewBag.language.lang })">
                        <h4>MEMS &amp; Sensors</h4>
                        <div class="circle_button darkgray tech_ino"><i class="icon-arrow-right"></i></div>
                    </a>
                </div>
            </li>
            <li class="col-xs-6 col-md-4 text-center no-margin">
                <div class="imgbox">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-09.png" alt="Embedded Die Substrate" data-hover="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-09_hover.png">
                </div>
                <div class="textbox">
                    <a href="@Url.Action("embedded_die", "technology", new { lang = ViewBag.language.lang })">
                        <h4>Embedded Die Substrate</h4>
                        <div class="circle_button darkgray tech_ino"><i class="icon-arrow-right"></i></div>
                    </a>
                </div>
            </li>
            
            @*<li class="col-xs-6 col-md-3 text-center no-margin">
                <div class="imgbox">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-05.png" alt="Die Stacking" data-hover="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/technology_icon-05_hover.png">
                </div>
                <div class="textbox">
                    <a href="@Url.Action("test", "technology", new { lang = ViewBag.language.lang })">
                        <h4>Semiconductor Test</h4>
                        <div class="circle_button darkgray tech_ino"><i class="icon-arrow-right"></i></div>
                    </a>
                </div>
            </li>*@
        </ul>
    </div>
</section>
<script>
    $(document).ready(function () {

        $('#media').carousel({
            pause: true,
            interval: false,
        });
        $("#media").swiperight(function () { /* enables the swiping on phone */
            $(this).carousel('prev');
        });
        $("#media").swipeleft(function () { /* enables the swiping on phone */
            $(this).carousel('next');
        });
        $(".technology-features-content").hide();

        $('.technology-application').click(function () {
            $(this).closest(".row").find(".technology-features").removeClass("technology-tab-active").addClass("technology-tab-inactive");
            $(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
            $(this).closest(".row").find(".technology-features-content").hide();
            $(this).closest(".row").find(".technology-application-content").fadeIn(1000);
        });
        $('.technology-features').click(function () {
            $(this).closest(".row").find(".technology-application").removeClass("technology-tab-active").addClass("technology-tab-inactive");
            $(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
            $(this).closest(".row").find(".technology-application-content").hide();
            $(this).closest(".row").find(".technology-features-content").fadeIn(1000);
        });
    });
</script>