﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/ch/_Layout_seo.cshtml";
    ViewBag.Title = "日月光商標 ";
    ViewBag.enURL = "/en/technology/ase_trademarks";
    ViewBag.zhURL = "/ch/technology/ase_trademarks";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-technology">
		<h1 class="page-title title-large">日月光商標</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch/about"><span itemprop="name">關於日月光</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item"><span itemprop="name">智慧財產權與商標</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch/technology/ase_trademarks"><span itemprop="name">日月光商標</span></a>
					<meta itemprop="position" content="3" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->

	<!-- Technology list -->
	<section class="inside-article">
		<div class="content-lg row">
			<div class="col-xs-12">
				<h3 class="title">日月光商標及服務標章</h3>
				<h4 class="sub-title" >日月光商標清單</h4>
				<p>
				此清單為一未盡羅列之日月光商標清單，日月光得不經預告不定期更新本清單所列之商標。任何經日月光使用於或併入其服務但未明示於本清單之名稱、服務標章或標誌並不構成日月光放棄該名稱或標誌之商標或其他智慧財產權之權利。
				</p>

				<div class="col-xs-6 col-sm-5cols">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/trademark1.png">
				</div>
				<div class="col-xs-6 col-sm-5cols">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/trademark2.png">
				</div>
				<div class="col-xs-6 col-sm-5cols">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/trademark3.png">
				</div>
				<div class="col-xs-6 col-sm-5cols">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/trademark4.png">
				</div>
				<div class="col-xs-6 col-sm-5cols">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/trademark5.png">
				</div>
				<div class="col-xs-6 col-sm-5cols">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/trademark6.png">
				</div>
				<div class="col-xs-6 col-sm-5cols">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/trademark7.png">
				</div>
				<div class="col-xs-6 col-sm-5cols">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/trademark8.png">
				</div>
				<div class="col-xs-6 col-sm-5cols">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/trademark9.png">
				</div>
				<div class="col-xs-6 col-sm-5cols">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/trademark10.png">
				</div>
				<div class="col-xs-6 col-sm-5cols">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/trademark11.png">
				</div>
				<div class="col-xs-6 col-sm-5cols">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/trademark12.png">
				</div>
				<div class="col-xs-6 col-sm-5cols">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/trademark13.png">
				</div>
				<div class="col-xs-6 col-sm-5cols">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/trademark14.png">
				</div>
				<div class="col-xs-6 col-sm-5cols">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/trademark15.png">
				</div>
				<div class="col-xs-6 col-sm-5cols">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/trademark16.png">
				</div>
				<div class="col-xs-6 col-sm-5cols">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/trademark17.png">
				</div>
				<div class="col-xs-6 col-sm-5cols">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/trademark18.png">
				</div>
				<div class="col-xs-6 col-sm-5cols">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/trademark23.png">
				</div>
				<div class="col-xs-6 col-sm-5cols">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/trademark24.png">
				</div>
				<div class="col-xs-6 col-sm-5cols">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/trademark21.png">
				</div>
				<div class="col-xs-6 col-sm-5cols">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/trademark22.png">
				</div>
				<div class="col-xs-6 col-sm-5cols">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/trademark20.png">
				</div>
				<div class="col-xs-6 col-sm-5cols">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/trademark19.png">
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</section><br>
<script>
	$(document).ready(function() { 

		$('#media').carousel({
			pause: true,
			interval: false,
		});
		$("#media").swiperight(function() { /* enables the swiping on phone */
			$(this).carousel('prev');
		});
		$("#media").swipeleft(function() { /* enables the swiping on phone */
			$(this).carousel('next');
		});
		$(".technology-features-content").hide();

		$('.technology-application').click(function() {
			$(this).closest(".row").find(".technology-features").removeClass("technology-tab-active").addClass("technology-tab-inactive");
			$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
			$(this).closest(".row").find(".technology-features-content").hide();
			$(this).closest(".row").find(".technology-application-content").fadeIn(1000);
		});
		$('.technology-features').click(function() {
			$(this).closest(".row").find(".technology-application").removeClass("technology-tab-active").addClass("technology-tab-inactive");
			$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
			$(this).closest(".row").find(".technology-application-content").hide();
			$(this).closest(".row").find(".technology-features-content").fadeIn(1000);
		});
	});
</script>