﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/ch/_Layout_seo.cshtml";
    ViewBag.Title = "VIPack™";
    ViewBag.enURL = "/en/vipack";
    ViewBag.zhURL = "/ch/vipack";
    ViewBag.webSiteDesc = "日月光推出VIPack™先進封裝平台，提供垂直互連整合封裝解決方案。";
    ViewBag.webSiteOgImage = "~/pic/public/frontend/images/technology/logo_vipack-og.jpg";
}
	<!-- page Banner -->
    <section id="page-vision" class="page-banner-s banner-technology"  style="background: url(https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/banner_vipack.jpg) no-repeat center; background-size: cover;">
        <h1 class="page-title title-large"></h1>
    </section>

    <div class="content-lg row">
        <div class="col-xs-12">
            <ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
                <!-- Project-B Fix, Apply New Breadcrumb -->
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <a itemprop="item" href="/ch"><i class="icon-home"></i><span itemprop="name">Home</span></a>
                    <meta itemprop="position" content="0" />
                </li>
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <a itemprop="item" href="/ch/vipack"><span itemprop="name">VIPack™</span></a>
                    <meta itemprop="position" content="1" />
                </li>
            </ol>
        </div>
    </div>

    <section class="inside-article">
        <div class="content-lg row">
            <article class="col-xs-12">
                <!-- <h3 class="title">VIPack™</h3> -->
                <!-- <p>&nbsp;</p> -->
                <div class="col-xs-5 col-sm-3 col-md-2 col-lg-2 nopadding"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/logo_vipack.jpg"></div>
                <div class="clearfix"></div>
                <p>&nbsp;</p>
                <p>
                    日月光推出VIPack™先進封裝平台，提供垂直互連整合封裝解決方案。VIPack™是日月光擴展設計規則並實現超高密度和性能設計的下一世代3D異質整合架構。此平台利用先進的重佈線層(RDL)製程、嵌入式整合以及2.5D/3D封裝技術，協助客戶在單個封裝中整合多個晶片來實現前所未有的創新應用。<br><br>

                    走入以數據為中心的時代，隨著人工智能(AI)、機器學習(ML)、5G通信、高效能運算(HPC)、物聯網(IoT)和汽車應用數據的增長，半導體市場正呈指數級增長。對創新封裝和IC協同設計、尖端晶圓級製造製程、精密封裝技術以及全面的產品與測試解決方案的需求同步增長。各種應用都要求解決方案在滿足嚴格的成本條件下，實現更高性能、更強功能及更佳功耗，因此封裝愈顯重要。隨著小晶片(chiplet)設計日趨主流，進一步提升將多個晶片整合到單個封裝內的需求。VIPack™是以3D異質整合為關鍵的先進互連技術解決方案，建立完整的協同合作平台。<br><br>

                    日月光VIPack™由六大核心封裝技術组成，透過全面性整合的生態系統協同合作，包括：
                </p>
            </article>
        </div>
    </section>
    <section class="csr-bg hide-in-small">
        <div class="content-lg row">
            <div class="col-xs-12">
                <div class="col-xs-4 col-sm-2" style="padding: 5px;">
                    <a href="https://ase.aseglobal.com/ch/technology/fopop">
                    <div class="technology-box" style="margin-bottom: 0; padding: 10px; min-height: 180px;">
                        <h4 class="text-center" style="font-size: 14px;"><b>FOPoP</b></h4>
                        <div class="nopadding">
                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/pic_fopop.jpg">
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-xs-4 col-sm-2" style="padding: 5px;">
                    <a href="https://ase.aseglobal.com/public/ch/technology/focos.html">
                    <div class="technology-box" style="margin-bottom: 0; padding: 10px; min-height: 180px;">
                        <h4 class="text-center" style="font-size: 14px;"><b>FOCoS</b></h4>
                        <div class="nopadding">
                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/pic_focos.jpg">
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-xs-4 col-sm-2" style="padding: 5px;">
                    <a href="https://ase.aseglobal.com/public/ch/technology/focos.html">
                    <div class="technology-box" style="margin-bottom: 0; padding: 10px; min-height: 180px;">
                        <h4 class="text-center" style="font-size: 14px;"><b>FOCoS - Bridge</b></h4>
                        <div class="nopadding">
                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/pic_focos-bridge.jpg">
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-xs-4 col-sm-2" style="padding: 5px;">
                    <a href="https://ase.aseglobal.com/ch/technology/fan-out-sip">
                    <div class="technology-box" style="margin-bottom: 0; padding: 10px; min-height: 180px;">
                        <h4 class="text-center" style="font-size: 14px;"><b>FOSiP</b></h4>
                        <div class="nopadding">
                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/pic_fosip.jpg">
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-xs-4 col-sm-2" style="padding: 5px;">
                    <a href="https://ase.aseglobal.com/ch/technology/advanced_25dic">
                    <div class="technology-box" style="margin-bottom: 0; padding: 10px; min-height: 180px;">
                        <h4 class="text-center" style="font-size: 14px;"><b>2.5D/3D</b></h4>
                        <div class="nopadding">
                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/pic_25-3_dic.jpg">
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-xs-4 col-sm-2" style="padding: 5px;">
                    <a href="https://ase.aseglobal.com/ch/technology/silicon-photonics">
                    <div class="technology-box" style="margin-bottom: 0; padding: 10px; min-height: 180px;">
                        <h4 class="text-center" style="font-size: 14px;"><b>Co-Packaged Optics</b></h4>
                        <div class="nopadding">
                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/pic_co-packaged-optics.jpg">
                        </div>
                    </div>
                    </a>
                </div>
                <div class="clearfix"></div>
                <div class="col-sm-12 hide-in-small" style="padding: 5px;">
                    <div class="text-center" style="margin-bottom: 0; min-height: 15px !important;">
                        <h4 style="margin: 0; padding-top: 10px;"><b>Integrated Design Ecosystem</b></h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="csr-bg hide-in-large">
        <div class="content-lg row">
            <div class="col-xs-12">
                <div class="col-xs-4 col-sm-2" style="padding: 5px;">
                    <a href="https://ase.aseglobal.com/ch/technology/fan_out">
                    <div class="technology-box" style="margin-bottom: 0; padding: 10px; min-height: 120px;">
                        <h4 class="text-center" style="font-size: 14px;"><b>FOPoP<br>&nbsp;</b></h4>
                        <div class="nopadding">
                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/pic_fopop.jpg">
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-xs-4 col-sm-2" style="padding: 5px;">
                    <a href="https://ase.aseglobal.com/public/ch/technology/focos.html">
                    <div class="technology-box" style="margin-bottom: 0; padding: 10px; min-height: 120px;">
                        <h4 class="text-center" style="font-size: 14px;"><b>FOCoS<br>&nbsp;</b></h4>
                        <div class="nopadding">
                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/pic_focos.jpg">
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-xs-4 col-sm-2" style="padding: 5px;">
                    <a href="https://ase.aseglobal.com/public/ch/technology/focos.html">
                    <div class="technology-box" style="margin-bottom: 0; padding: 10px; min-height: 120px;">
                        <h4 class="text-center" style="font-size: 14px;"><b>FOCoS -<br>Bridge</b></h4>
                        <div class="nopadding">
                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/pic_focos-bridge.jpg">
                        </div>
                    </div>
                    </a>
                </div>
                <div class="clearfix hide-in-large"></div>
                <div class="col-sm-12 hide-in-large" style="padding: 5px;">
                    <div class="text-center" style="margin-bottom: 0; min-height: 15px !important;">
                        <h4 style="margin: 0; padding-top: 10px;"><b>Integrated Design Ecosystem</b></h4>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-2" style="padding: 5px;">
                    <a href="https://ase.aseglobal.com/ch/technology/fan-out-sip">
                    <div class="technology-box" style="margin-bottom: 0; padding: 10px; min-height: 120px;">
                        <h4 class="text-center" style="font-size: 14px;"><b>FOSiP<br>&nbsp;</b></h4>
                        <div class="nopadding">
                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/pic_fosip.jpg">
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-xs-4 col-sm-2" style="padding: 5px;">
                    <a href="https://ase.aseglobal.com/ch/technology/advanced_25dic">
                    <div class="technology-box" style="margin-bottom: 0; padding: 10px; min-height: 120px;">
                        <h4 class="text-center" style="font-size: 14px;"><b>2.5D/3D<br>&nbsp;</b></h4>
                        <div class="nopadding">
                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/pic_25-3_dic.jpg">
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-xs-4 col-sm-2" style="padding: 5px;">
                    <a href="https://ase.aseglobal.com/ch/technology/silicon-photonics">
                    <div class="technology-box" style="margin-bottom: 0; padding: 10px; min-height: 120px;">
                        <h4 class="text-center" style="font-size: 14px;"><b>Co-Packaged<br>Optics</b></h4>
                        <div class="nopadding">
                            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/pic_co-packaged-optics.jpg">
                        </div>
                    </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="inside-article">
        <div class="col-xs-12 living-box">
            <div class="row csr pro" style="margin: 0;">
                <article class="col-md-8 col-md-offset-2 text-center" style="padding: 40px 0 40px 0;">
                    <div class="col-md-12 nopadding">
                        <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/mov_vipack.jpg">
                    </div>
                    <div style="position:absolute; left:35%; top: 42%; z-index:10; margin:0 auto; border-radius: 10px; text-align: center; background-color: rgba(0, 0, 0, 0.7);">
                        <a class="button videoButton popupVideo" href="https://coms.aseglobal.com/marcom/video/vipack" target="_blank"><span style="padding-top: 4px;">觀看影片</span><i class="icon-play"></i></a>
                    </div>
                </article>
            </div>
        </div>
    </section>
    <section class="inside-article">
        <div class="content-lg row">
            <article class="col-xs-12">
                <p>
                    日月光基於高密度 RDL的 Fanout Package-on Package (FOPoP)、Fanout Chip-on-Substrate (FOCoS)、Fanout Chip-on-Substrate-Bridge (FOCoS-Bridge) 和 Fanout System-in-Package (FOSiP) ，以及基於矽通孔 (TSV) 的 2.5D 和 3D IC 和 Co-Packaged Optics。除了提供可優化時脈速度、頻寬和電力傳輸的高度整合矽封裝解決方案所需的製程能力，VIPack™平台更可縮短共同設計時間、產品開發和上市時程。<br><br>

                    VIPack™平台提供應用於先進的高效能運算(HPC)、人工智能(AI)、機器學習(ML)和網絡等應用的整合分散式SoC（系統單晶片）和HBM（高帶寬記憶體）互連所需的高密度水平和垂直互連解決方案。高速網絡也面臨將多個複雜組件整合成光學封裝的挑戰，VIPack™創新解決方案可將這些組件整合在一個垂直結構中，優化空間和性能。 VIPack™應用可通過超薄型系統級封裝模組(SiP module)進一步延伸至手機市場，解決常見的射頻疊代設計流程問題，並通過整合在RDL層中的被動元件達到更高效能。此外，下一代應用處理器可滿足對小尺寸設計(lower profile)封裝解決方案的需求，同時解決先進晶圓節點的電源傳輸問題。<br><br>

                    日月光VIPack™先進封裝解決方案是一個根據產業藍圖強化協同合作之可擴展的創新平台，現已上市！<br><br>

                    <a href="https://ase.aseglobal.com/en/blog/vipack" target="_blank">部落格</a>：Mark Gerber 進一步詳細介紹 VIPack™
                </p>
            </article>
        </div>
    </section>