@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-about">
		<h1 class="page-title title-large">About ASE</h1>
		<video poster="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/video.jpg" class="about-video" id="bgvid" playsinline autoplay muted loop>
			<!-- 使用JS增加Source -->
		</video>
	</section>

	<!-- bread -->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
			</ol>
		</div>
	</div>

<!-- Auto Remove Breadcrumbs-PC -->
	
	<!-- Content -->
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">ASE Turnkey Services</h3>
				<p>Increased sophistication, complexity and miniaturization of systems are speeding up developments in advanced packaging technology. It can be more cost-effective for companies to rely on independent specialist assembly and test houses to substantially reduce their backend production costs.</p>
				<p>Effective utilization of independent semiconductor manufacturing services enables integrated device manufacturers (IDMs) and fabless companies to maximize revenue while minimizing costs. These companies are consequently better able to focus on their core competencies such as IC design and end-product marketing.</p>
				<p>ASE Group offers stand-alone backend manufacturing services in areas ranging from engineering test and package design to substrate manufacturing, assembly, final test and DMS to complement customers' own manufacturing processes.</p>
				<p>Given the increasing significance of substrates in the process of IC packaging, ASE is aggressively expanding into substrate manufacturing. Customers can benefit from timely access to material source.</p>
			</article>
		</div>
	</section>
	<section class="turnkey-services">
		<div class="content-lg row">
			<article class="col-xs-12">					
				<div class="text-center">					
					<img class=" pc"  src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/ASE_Turnkey_Services.png" alt="ASE Turnkey Services">
					<img class=" mobile"  src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/about/turnkey_services_m.png" alt="ASE Turnkey Services">
				</div>			
			</article>			
		</div>
	</section>	
