﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
    ViewBag.Title = "Bumping Services ";
    ViewBag.enURL = "/en/products/assembly_offerings/bumping_solution";
    ViewBag.zhURL = "/ch/products/assembly_offerings/bumping_solution";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-lab">
		<h1 class="page-title title-large">Bumping Services</h1>
	</section>

	<!--麵包屑-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item"><span itemprop="name">Other</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/products/assembly_offerings/bumping_solution"><span itemprop="name">Bumping Services</span></a>
					<meta itemprop="position" content="2" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->
	
	<!-- Products Content -->
    <section class="inside-article">
        <div class="content-lg row">
            <article class="col-xs-12">
                <h3 class="title">Bumping Services</h3>
                <p><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/products/bumping.png" class="col-xs-6 col-sm-3" style="float: right; padding: 0 0 15px 15px;">Wafer bumping is an essential to flip chip or board level semiconductor packaging. Bumping is an advanced wafer level process technology where “bumps” or “balls” made of solder are formed on the wafers in a whole wafer form before the wafer is being diced into individual chips. Those “bumps”, which can be composed from eutectic, lead free, high lead materials, or Cu pillar on wafer are the fundamental interconnect components that will interconnect the die and the substrate together into a single package. These bumps not only provide a connected path between die and substrate, but also play an important role in the electrical, mechanical and thermal performance in the flip chip package.<br />
                <br />
                Flip chip assembly package has traditionally been used for high-end niche applications. Recent technology development has adopted this process to be widely used in today’s consumer electronics applications. For the performance driven market, flip chip interconnection reduces signal propagation delay, provide much better bandwidth, and relieves the constraints of power and ground distribution. For the form factor driven market, such as mobile applications, replacing wire bonding by flip chip interconnects reduces the size and weight of the package.<br />
                <br />
                As the world leading IC assembly subcontractor, ASE established its wafer bumping services in 1999. Licensed from Flip Chip International, LLC, the world’s leader in printing bumping technologies, ASE’s flip chip bumping process has proven to be robust and reliable, with production experience accumulated since 2000 as the very first subcontractor to provide large volume production in bumping service.<br />
                <br />
                ASE also established the plating bump process in 2003. The plating process has proven the robustness, reliability, and provided production service.</p>
                <p>&nbsp;</p>
                <h4>ASE's Wafer Bumping Capabilities</h4>
                <p>Currently, ASE operates state-of-the-art bumping facilities with varieties of bumping processes available for 200mm and 300mm wafer, all located in Kaohsiung, Taiwan. From 2017 to 2021, more than 5 million 8” wafers from over 60 customers’ devices as well as more than 5.3 million 12” wafers from over 110 customer’s devices have been processed in ASE’s plating and Cu Pillar bumping facilities with consistent 10% output growth per year. Since our fan-out platform began volume production in 2017, more than 1.1 million fan-out molding wafers had been produced until 2021.<br />
                <br />
                Combined with other ASE manufacturing services including substrate design, substrate manufacturing, wafer sorting, bumping, backside grinding, backside marking, flip chip assembly, and final test, ASE offers customers unsurpassed flip chip as well as wafer level packaging turnkey solutions.</p>
                <p>&nbsp;</p>
                <h4>Advanced Bumping Technologies</h4>
                <p>ASE continues to invest in advanced technologies to maximize solutions for customers’ sophisticated chip designs. In collaboration with major integrated device manufacturers (IDMs) and the world’s top foundries, we’ve developed state-of-the-art wafer bumping capabilities including Polyimide Repassivation and RDL as well as 5nm/4nm Cu low-K wafer bumping.</p>
                <p>&nbsp;</p>
            </article>
        </div>
    </section>
    <section class="csr-bg">
        <div class="content-lg row">
            <article class="col-xs-12">
                <h4>Cu Pilliar</h4>
                <p>
                    As electronic devices trend further towards smaller, thinner, lighter, and higher performance characteristics, bump size likewise decreases meaning fine pitch becomes essential. ASE's Cu pillar bumps in flip chip packaging technology is the most effective method for fine-pitch interconnection for these package types.
                </p>
                <div class="col-xs-12 col-sm-9 nopadding" style="padding: 10px 0;">
                    <div class="col-xs-4 picture-padding-2 nopadding"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/cu_pillar1.jpg"></div>
                    <div class="col-xs-4 picture-padding-2 nopadding"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/cu_pillar2.jpg"></div>
                    <div class="col-xs-4 picture-padding-2 nopadding"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/technology/cu_pillar3.jpg"></div>
                </div>
                <div class="clearfix"></div>
                <div class="col-xs-12 col-sm-6 nopadding">
                    <h4>Applications</h4>
                    <div class="col-xs-4 nopadding">
                        <strong>Consumer</strong>
                        <ul class="nopadding">
                            <li>Camcorders</li>
                            <li>Digital Camera</li>
                            <li>DVD</li>
                            <li>WiMAX</li>
                        </ul>
                    </div>
                    <div class="col-xs-4 nopadding">
                        <strong>Computer</strong>
                        <ul class="nopadding">
                            <li>Voltage Regulators</li>
                            <li>High-speed Memory</li>
                            <li>Card</li>
                            <li>PC Peripherals</li>
                        </ul>
                    </div>
                    <div class="col-xs-4 nopadding">
                        <strong>Telecommunication</strong>
                        <ul class="nopadding">
                            <li>Pagers</li>
                            <li>Cellular Handsets</li>
                            <li>GPS </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 nopadding">
                    <h4>Features</h4>
                    <p>
                        Standoff between chip and substrate is more stable. Good electrical performance and high reliability - Cu pillar bumps do not easily cause fatigue by electro migration and thermal. Fine pitch is possible below 45um. Cu pillar bumps do not cause bump bridging between adjacent bumps and they distribute current uniformly. Higher elastic modulus. Lower cost.
                    </p>
                </div>
                <div class="clearfix"></div>
            </article>
        </div>
    </section>
    <section class="inside-article">
        <div class="content-lg row">
			<div class="content-wrapper col-md-12 tech-cont-link">
				<br>
				<a class="phone" href="@Url.Action("plants_offices", "About", new { lang = ViewBag.language.lang })"><span class="glyphicon glyphicon-earphone"></span>  Contact for enquiries</a>
			</div>
        </div>
    </section>