﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
    ViewBag.Title = "Leadframe Packaging";
    ViewBag.enURL = "/en/products/assembly_offerings/leadframe_solution";
    ViewBag.zhURL = "/ch/products/assembly_offerings/leadframe_solution";
    ViewBag.webSiteDesc = "ASE Leadframe packages are common in consumer products, automotive devices, memory, analog ICs, and microcontrollers. These packages have evolved into a state-of-the-art technology owing to their robust reliability and great improvement on performance.";
    ViewBag.webSiteOgImage = "https://ase.aseglobal.com/pic/public/frontend/images/products/QFN.png";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-product-csp">
		<h1 class="page-title title-large">Leadframe Packaging</h1>
	</section>

	<!--麵包屑-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/products/assembly"><span itemprop="name">IC Packaging</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/products/assembly_offerings/leadframe_solution"><span itemprop="name">Leadframe Packaging</span></a>
					<meta itemprop="position" content="2" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->
	
	<!-- Products Content -->
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<div class="clearfix"></div>
				<h3 class="title">Leadframe Packaging</h3>
				<p>
					ASE Leadframe packages are common in consumer products, automotive devices, memory, analog ICs, and microcontrollers. These packages have evolved into a state-of-the-art technology owing to their robust reliability and great improvement on performance.
				</p>
			</article>
		</div>
	</section>
	<section class="inside-article">
        <div class="content-lg row">
            <article class="col-xs-12">
                <h4 class="sub-title">ASE Leadframe Packaging Offerings</h4>
                <div class="col-xs-6 bt_qfn technology-tab-active hide-in-small">Quad Flat No-lead (QFN)</div>
                <div class="col-xs-6 bt_aqfn technology-tab-inactive hide-in-small">Advanced Quad Flat No-lead (aQFN)</div>
                <div class="col-xs-6 bt_qfn technology-tab-active hide-in-large">Quad Flat No-lead<br>(QFN)</div>
                <div class="col-xs-6 bt_aqfn technology-tab-inactive hide-in-large">Advanced Quad Flat No-lead<br>(aQFN)</div>
                <div class="clearfix"></div>
                <div class="col-xs-12 qfn">
                    <p>&nbsp;</p>
                    <p>
                        Based on copper lead frame, Quad Flat No-lead (QFN) or microchip carrier uses half-encapsulation technology to expose the rear side of the die pad and the tiny fingers, which are used to connect the chip and bonding wire with the PCB. QFN packages are suitable for applications over 12GHz working frequency. Providing both thermal and electrical enhancement, QFN is a cost-effective packaging solution due to its economical materials and simpler packaging process.
                    </p>
                    <div class="col-xs-6 col-sm-4 nopadding"><img class="col-sm-10 nopadding" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/products/QFN.png"></div>
                    <div class="col-xs-12 col-sm-4 nopadding">
                        <h4>Applications</h4>
                        <strong>Telecommunication Products</strong>
                        <ul class="nopadding">
                            <li>Cellular Phones</li>
                            <li>Wireless LAN</li>
                        </ul>
                        <strong>Portable Products</strong>
                        <ul class="nopadding">
                            <li>Personal Digital Assistants</li>
                            <li>Digital Cameras</li>
                        </ul>
                        <strong>Low to Medium Lead Count Packages</strong>
                        <ul class="nopadding">
                            <li>Information Appliances</li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-4 nopadding">
                        <h4>Features</h4>
                        <ul class="nopadding">
                            <li>Small footprint</li>
                            <li>Low profile (&lt; 0.9 0.2 L/F + 0.65 Mold)</li>
                            <li>Light weight</li>
                            <li>Cost effective</li>
                            <li>Better electrical performance</li>
                            <li>Better power dissipation</li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <p>&nbsp;</p>
                </div>

                <div class="col-xs-12 aqfn">
                    <p>&nbsp;</p>
                    <p>
                        Advanced Quad Flat No-lead. aQFN™ is solution for Lead less, multi-row and fine pitch lead frame package with enhanced Thermal/ Electrical performance. aQFN™ is a cost-effective packaging solution due to its economical materials and simpler packaging process.
                    </p>
                    <div class="col-xs-6 col-sm-4 nopadding"><img class="col-sm-10 nopadding" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/products/aQFN.png"></div>
                    <div class="col-xs-12 col-sm-4 nopadding">
                        <h4>Applications</h4>
                        <strong>Telecommunication Products</strong>
                        <ul class="nopadding">
                            <li>Cellular Phones</li>
                            <li>Wireless LAN</li>
                        </ul>
                        <strong>Portable Products</strong>
                        <ul class="nopadding">
                            <li>Personal Digital Assistants</li>
                            <li>Digital Cameras</li>
                        </ul>
                        <strong>Low to Medium Lead Count Packages</strong>
                        <ul class="nopadding">
                            <li>Information Appliances</li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-4 nopadding">
                        <h4>Features</h4>
                        <ul class="nopadding">
                            <li>Low profile, small footprint and light weight</li>
                            <li>Free-form I/O design</li>
                            <li>Fine lead pitch 0.4mm</li>
                            <li>Excellent thermal performance</li>
                            <li>Excellent electrical performance</li>
                            <li>Good SMT performance</li>
                            <li>Cost effective package</li>
                            <li>Extend QFN I/O count up to 400</li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <p>&nbsp;</p>
                </div>
                <div class="clearfix"></div>

                <div class="col-xs-6 bt_qfp technology-tab-inactive hide-in-small">Quad Flat Package (QFP)</div>
                <div class="col-xs-6 bt_qfp technology-tab-inactive hide-in-large">Quad Flat Package<br>(QFP)</div>
                <div class="col-xs-6 bt_ltqfp technology-tab-inactive">Low profile and thin Quad Flat Packages (LQFP/TQFP)</div>
                <div class="col-xs-12 qfp">
                    <p>&nbsp;</p>
                    <p>
                        Quad Flat Package (QFP) is popular among the quad packages. The reason is the fine etching or stamping lead frames enables QFP to contain more leads and feature a smaller profile to perform better electrical characteristics by shortening the interconnection (the lead width can be as small as 0.16mm while the outer lead pitch is 0.4mm only). The thinner and flexible leads in gull-wing shape also provide better 2nd-level reliability (package-to-PCB reliability).<br><br>

                        The package with drop-in HS can allow more than 50% power dissipation compared with a conventional package (e.g. in QFP 28x28mm, the allowable power of standard type and the type with HS is about 2.1W and 3.5W respectively). This drop-in HS drives off the heat from the chip more easily by extending the conduction area, and transferring more heat via the lead frame. QFP with drop-in HS is to package sizes of 14x20, 28x28, and 32x32mm.
                    </p>
                    <div class="col-xs-6 col-sm-4 nopadding"><img class="col-sm-10 nopadding" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/products/QFP.jpg"></div>
                    <div class="col-xs-12 col-sm-4 nopadding">
                        <h4>Applications</h4>
                        <strong>Products</strong>
                        <ul class="nopadding">
                            <li>Portable Consumer Products (PDA, Digital Camera, etc)</li>
                            <li>System Board</li>
                            <li>Power Controller</li>
                        </ul>
                        <p>
                            Quad packages have been used for years to meet increasing challenges of faster processors/controllers, ASICs, DSPs, gate arrays, logic, memory ICs (EEPROM, Flash, DRAM &amp; SRAM), PC chipset, video-DAC, multi-media and other related application.<br><br>

                            HS-QFP is suitable for use in high thermal applications like power &amp; voltage regulators, power amplifiers, etc.
                        </p>
                    </div>
                    <div class="col-xs-12 col-sm-4 nopadding">
                        <h4>Features</h4>
                        <ul class="nopadding">
                            <li>High-speed data processing</li>
                            <li>High density interconnection</li>
                            <li>Cost competitive</li>
                            <li>MCM/stack structure design</li>
                            <li>High thermal conductive</li>
                            <li>Fine pitch wire bond capability</li>
                            <li>Pb-free process ready and available</li>
                            <li>JEDEC standard compliant</li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <p>&nbsp;</p>
                </div>

                <div class="col-xs-12 ltqfp">
                    <p>&nbsp;</p><p>
                        Low profile and thin Quad Flat Packages (QFP) are classified by the overall thickness (t) according to JEDEC definition:
                    </p>
                    <ul class="nopadding">
                        <li>L type: 1.2&lt; t &lt;=1.7 mm</li>
                        <li>T type: 1&lt; t &lt;=1.2 mm</li>
                    </ul>
                    <p>
                        Low profile and thin QFPs are becoming popular, as they are ideal for the applications in lightweight and portable electronic products. ASE offers the lead count of LQFP/TQFP ranging from 32 to 256 and 44 to 176 respectively, covering almost all the applications in memory, DSP, and communication ICs. Due to the low electrical parasitic out of the small outline and shorter leads, low and thin QFPs are suitable for RFICs, and a cost-effective alternative to expensive ceramic QFPs.<br><br>

                        <strong>Exposed Pad L(T)QFP</strong><br>
                        The exposed pad can be soldered to the PCB so that the heat can be driven off directly (the JA is only half as much as the standard L(T)QFP). Besides, this pad is also electrically grounded, and thus results in far smaller ground inductance. Exposed pad L(T)QFP is a cost-effective solution suitable for enhancing thermal and electrical performance.
                    </p>
                    <div class="col-xs-6 col-sm-4 nopadding"><img class="col-sm-10 nopadding" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/products/LQFP.png"></div>
                    <div class="col-xs-12 col-sm-4 nopadding">
                        <h4>Applications</h4>
                        <strong>Telecommunication Products</strong>
                        <ul class="nopadding">
                            <li>Cellular Phones</li>
                            <li>Wireless LAN</li>
                        </ul>
                        <strong>Portable Products</strong>
                        <ul class="nopadding">
                            <li>Personal Computer</li>
                            <li>Personal Digital Assistants</li>
                            <li>Digital Cameras</li>
                        </ul>
                        <strong>Low to Medium Lead Count Packages</strong>
                        <ul class="nopadding">
                            <li>Information Appliances</li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-4 nopadding">
                        <h4>Features</h4>
                        <strong>LQFP/EP-LQFP Packing Offering</strong>
                        <ul class="nopadding">
                            <li>7x7mm to 28x28mm body size available</li>
                            <li>Wide selection of pad size to meet die requirements</li>
                            <li>Customize leadframe design capability</li>
                            <li>32 ~ 256 leads counts available</li>
                            <li>Fine pitch wire bond capability</li>
                            <li>Lead free process ready and available</li>
                            <li>High conductivity copper leadframes</li>
                            <li>Low stress die attach materials</li>
                            <li>Power enhancement version</li>
                            <li>JEDEC standard compliant</li>
                        </ul>
                        <strong>TQFP/EP-TQFP Packing Offering</strong>
                        <ul class="nopadding">
                            <li>10x10mm to 20x20mm body size available</li>
                            <li>Wide selection of pad size to meet die requirements</li>
                            <li>Customize leadframe design capability</li>
                            <li>44 ~ 176 leads counts available</li>
                            <li>Fine pitch wire bond capability</li>
                            <li>Lead free process ready and available</li>
                            <li>High conductivity Copper leadframes</li>
                            <li>Low stress die attach materials</li>
                            <li>Power enhancement version</li>
                            <li>JEDEC standard compliant</li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <p>&nbsp;</p>
                </div>
                <div class="clearfix"></div>

                <div class="col-xs-6 bt_plcc technology-tab-inactive hide-in-small">Plastic Leaded Chip Carrier (PLCC)</div>
                <div class="col-xs-6 bt_so technology-tab-inactive hide-in-small">Small Outline J-leaded (SOJ)</div>
                <div class="col-xs-6 bt_plcc technology-tab-inactive hide-in-large">Plastic Leaded Chip Carrier<br>(PLCC)</div>
                <div class="col-xs-6 bt_so technology-tab-inactive hide-in-large">Small Outline J-leaded<br>(SOJ)</div>
                <div class="col-xs-12 plcc">
                    <p>&nbsp;</p>
                    <p>
                        Plastic Leaded Chip Carrier (PLCC) is widely used in micro-controllers and consumer electronics. Each lead of the PLCC is formed into a "J"-shape and folded under the package body. ASE provides PLCC packaging services in compliance with JEDEC standard. Lead count ranges from 20 to 84 with 1.27mm (50mil) lead pitch.
                    </p>
                    <div class="col-xs-6 col-sm-4 nopadding"><img class="col-sm-10 nopadding" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/products/PLCC.jpg"></div>
                    <div class="col-xs-12 col-sm-4 nopadding">
                        <h4>Applications</h4>
                        <p>
                            ASE's PLCC product was designed in compliance with JEDEC standard for 'J' shape leaded SMT packages. Its robust leads and smaller foot space makes it applicable for surface mount and replaceable plug-in assembly via sockets.<br><br>

                            Design applications include,
                        </p>
                        <ul class="nopadding">
                            <li>Memory, Processors and Controllers</li>
                            <li>ASIC, DSP, PC Chipset Device for Consumer Products, Automotive and Aerospace</li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-4 nopadding">
                        <h4>Features</h4>
                        <ul class="nopadding">
                            <li>453~1153mils body sizes</li>
                            <li>28~84 available lead counts</li>
                            <li>JEDEC standard compliant</li>
                            <li>Wide selection of pad size to die size</li>
                            <li>High conductivity lead frame</li>
                            <li>Wide selection of pad size to meet die size per customized lead frame design capability</li>
                            <li>Pb-free process ready and available</li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <p>&nbsp;</p>
                </div>

                <div class="col-xs-12 so">
                    <p>&nbsp;</p>
                    <p>
                        Small Outline J-leaded (SOJ) package is similar to PDIP, but the leads' end are formed in a "J"-shape to be folded under the body. This aims to reduce the foot print. With the increasing popularity of SMT and with a smaller outline than PDIP, SOJ is widely used to complement PDIP.
                    </p>
                    <div class="col-xs-6 col-sm-4 nopadding"><img class="col-sm-10 nopadding" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/products/soj.jpg"></div>
                    <div class="col-xs-12 col-sm-4 nopadding">
                        <h4>Applications</h4>
                        <strong>Telecommunication Products</strong>
                        <ul class="nopadding">
                            <li>Cellular Phones</li>
                            <li>Wireless LAN</li>
                        </ul>
                        <strong>Portable Products</strong>
                        <ul class="nopadding">
                            <li>Personal Digital Assistants</li>
                            <li>Digital Cameras</li>
                            <li>Audio/Video</li>
                        </ul>
                        <strong>Low to Medium Lead Count Packages</strong>
                        <ul class="nopadding">
                            <li>Information Appliances</li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-4 nopadding">
                        <h4>Features</h4>
                        <ul class="nopadding">
                            <li>Low profiles and lightweight</li>
                            <li>Steady yield</li>
                            <li>Low cost</li>
                            <li>SOJ body sizes from 710 up to 1125 mils</li>
                            <li>Pb-free Process ready and available</li>
                            <li>JEDEC standard outlines</li>
                            <li>Existing BOM and process flow</li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <p>&nbsp;</p>
                </div>
                <div class="clearfix"></div>

                <div class="col-xs-6 bt_sop technology-tab-inactive">Small Outline Package (SOP) and SSOP</div>
                <div class="col-xs-6 bt_pdip technology-tab-inactive">Plastic dual-in-line packaging (PDIP)</div>
                <div class="col-xs-12 sop">
                    <p>&nbsp;</p>
                    <p>
                        The features of Small Outline Package (SOP) are similar to SOJ, except that the leads' end is formed in the shape of a gull-wing. Shrink small-outline package (SSOP) is the shrunk version of SOP, with lead pitch narrowed from 1.27mm (50mil) to 0.635mm (25mil). The shrunk body means flexible layout within finite PCB area. Another advantage is that shorter leads improve the electrical performance.
                    </p>
                    <div class="col-xs-6 col-sm-4 nopadding"><img class="col-sm-10 nopadding" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/products/sopssop.jpg"></div>
                    <div class="col-xs-12 col-sm-4 nopadding">
                        <h4>Applications</h4>
                        <ul class="nopadding">
                            <li>Cellular Phones</li>
                            <li>Wireless LAN</li>
                            <li>Personal Digital Assistants</li>
                            <li>Digital Cameras</li>
                            <li>Video</li>
                            <li>Information Appliances</li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-4 nopadding">
                        <h4>Features</h4>
                        <ul class="nopadding">
                            <li>SOP body sizes 154 up to 450 mils</li>
                            <li>SSOP body sizes 300 mils</li>
                            <li>SOP lead counts available from 8 to 32</li>
                            <li>SSOP lead counts available 48 & 56</li>
                            <li>JEDEC standard outlines</li>
                            <li>Existing BOM and process flow</li>
                            <li>Pb-free process ready and available</li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <p>&nbsp;</p>
                </div>
                <div class="col-xs-12 pdip">
                    <p>&nbsp;</p>
                    <p>
                        Plastic dual-in-line packaging (PDIP) is a principal package using the pin-through-hole (PTH) technology. It is widely used in low cost and manual applications. ASE offers PDIP with lead counts ranging from 8 to 64 leads and package width from 7.62mm (300mil) to 17.78mm (700mil). For package size reduction, ASE offers two alternatives - the narrow body type, Skinny PDIP (width is 300mil, lead count is 24, 28) and the narrow lead pitch type, Shrink PDIP or SDIP (lead pitch is 1.78mm or 70mil, lead count is 32, 56, 64).
                    </p>
                    <div class="col-xs-8 col-sm-4 nopadding"><img class="col-sm-10 nopadding" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/products/PDIP.png"></div>
                    <div class="col-xs-12 col-sm-4 nopadding">
                        <h4>Applications</h4>
                        <p>
                            Dual-in-line packages are considered one of the more established industry standard packages. PDIP’s broad ranges of applications include logic, memory ICs, microcontrollers, and logic, power ICs used in automotive devices, consumer and communications products.
                        </p>
                    </div>
                    <div class="col-xs-12 col-sm-4 nopadding">
                        <h4>Features</h4>
                        <ul class="nopadding">
                            <li>300mil body width: 8, 14, 16, 18, 20, 24, 28 available lead count</li>
                            <li>400mil body width: 32 available lead count</li>
                            <li>600mil body width: 24, 28, 32, 40, 42, 48, 56 available lead count</li>
                            <li>700mil body width: 64 available lead count</li>
                            <li>JEDEC standard compliant</li>
                            <li>Wide choice of pad sizes to meet die size per customer’s lead frame design capability</li>
                            <li>Pb-free process ready and available</li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <p>&nbsp;</p>
                </div>
            </article>
        </div>
    </section>
    <section class="inside-article">
        <div class="content-lg row">
			<div class="content-wrapper col-md-12 tech-cont-link">
				<br>
				<a class="phone" href="@Url.Action("plants_offices", "About", new { lang = ViewBag.language.lang })"><span class="glyphicon glyphicon-earphone"></span>  Contact for enquiries</a>
			</div>
        </div>
    </section>
	<br>
	<section class="inside-article">
		<div class="content-lg row">
			<div class="col-xs-12">
				<div class="technology-bottom-flex">
                    <div class="technology-bottom"><a class="" href="@Url.Action("flip_chip", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-03.png"><br>Flip Chip Packaging</a></div>
                    <div class="technology-bottom"><a class="" href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "wire_bond_bga_solution" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/products_icon-05.png"><br>Wire Bond BGA</a></div>
                    <div class="technology-bottom opacity-50"><a class="" href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "leadframe_solution" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/products_icon-06.png"><br>Leadframe Packaging</a></div>
                    <div class="technology-bottom"><a class="" href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "wafer_level_package_solution" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/products_icon-02.png"><br>Wafer Level Packaging</a></div>
				</div>
			</div>
			<!-- products carousel -->
			<div class="row">
				<div class="col-xs-12">
					<div class="container technology-carousel">
						<div class='row'>
							<div class='col-xs-12'>
								<div class="carousel slide media-carousel" id="media">
									<!-- Indicators -->
									<ol class="carousel-indicators">
										<li data-target="#media" data-slide-to="0" class="active"></li>
										<li data-target="#media" data-slide-to="1"></li>
									</ol>
									<div class="carousel-inner">
                                        <div class="item active">
                                            <div class="row">
                                                <div class="col-xs-4">
                                                    <a class="" href="@Url.Action("flip_chip", "technology", new { lang = ViewBag.language.lang })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-03.png"><br>Flip Chip Packaging</a>
                                                </div>
                                                <div class="col-xs-4">
                                                    <a class="" href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "wire_bond_bga_solution" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/products_icon-05.png"><br>Wire Bond BGA</a>
                                                </div>
                                                <div class="col-xs-4">
                                                    <a class="" href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "leadframe_solution" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/products_icon-06.png"><br>Leadframe Packaging</a>
                                                </div>     
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="row">
                                                <div class="col-xs-4">
                                                    <a class="" href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "wafer_level_package_solution" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/products_icon-02.png"><br>Wafer Level Packaging</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
									<br>
									<a data-slide="prev" href="#media" class="left carousel-control">‹</a>
									<a data-slide="next" href="#media" class="right carousel-control">›</a>
								</div>                          
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end products carousel -->
		</div>
	</section>
<script>
    $(document).ready(function() {

        $(".qfn").show();
        $(".aqfn").hide();
        $(".qfp").hide();
        $(".ltqfp").hide();
        $(".plcc").hide();
        $(".so").hide();
        $(".pdip").hide();
        $(".sop").hide();

        $('.bt_qfn').click(function() {
            $(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
            $(this).closest(".row").find(".bt_aqfn,.bt_qfp,.bt_ltqfp,.bt_plcc,.bt_so,.bt_sop,.bt_pdip").removeClass("technology-tab-active").addClass("technology-tab-inactive");
            $(this).closest(".row").find(".aqfn,.qfp,.ltqfp,.plcc,.so,.sop,.pdip").hide();
            $(this).closest(".row").find(".qfn").toggle(600);
        });

        $('.bt_aqfn').click(function() {
            $(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
            $(this).closest(".row").find(".bt_qfn,.bt_qfp,.bt_ltqfp,.bt_plcc,.bt_so,.bt_sop,.bt_pdip").removeClass("technology-tab-active").addClass("technology-tab-inactive");
            $(this).closest(".row").find(".qfn,.qfp,.ltqfp,.plcc,.so,.sop,.pdip").hide();
            $(this).closest(".row").find(".aqfn").toggle(600);
        });

        $('.bt_qfp').click(function() {
            $(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
            $(this).closest(".row").find(".bt_qfn,.bt_aqfn,.bt_ltqfp,.bt_plcc,.bt_so,.bt_sop,.bt_pdip").removeClass("technology-tab-active").addClass("technology-tab-inactive");
            $(this).closest(".row").find(".qfn,.aqfn,.ltqfp,.plcc,.so,.sop,.pdip").hide();
            $(this).closest(".row").find(".qfp").toggle(600);
        });

        $('.bt_ltqfp').click(function() {
            $(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
            $(this).closest(".row").find(".bt_qfn,.bt_aqfn,.bt_qfp,.bt_plcc,.bt_so,.bt_sop,.bt_pdip").removeClass("technology-tab-active").addClass("technology-tab-inactive");
            $(this).closest(".row").find(".qfn,.aqfn,.qfp,.plcc,.so,.sop,.pdip").hide();
            $(this).closest(".row").find(".ltqfp").toggle(600);
        });

        $('.bt_plcc').click(function() {
            $(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
            $(this).closest(".row").find(".bt_qfn,.bt_aqfn,.bt_qfp,.bt_ltqfp,.bt_so,.bt_sop,.bt_pdip").removeClass("technology-tab-active").addClass("technology-tab-inactive");
            $(this).closest(".row").find(".qfn,.aqfn,.qfp,.ltqfp,.so,.sop,.pdip").hide();
            $(this).closest(".row").find(".plcc").toggle(600);
        });

        $('.bt_so').click(function() {
            $(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
            $(this).closest(".row").find(".bt_qfn,.bt_aqfn,.bt_qfp,.bt_ltqfp,.bt_plcc,.bt_sop,.bt_pdip").removeClass("technology-tab-active").addClass("technology-tab-inactive");
            $(this).closest(".row").find(".qfn,.aqfn,.qfp,.ltqfp,.plcc,.sop,.pdip").hide();
            $(this).closest(".row").find(".so").toggle(600);
        });

        $('.bt_sop').click(function() {
            $(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
            $(this).closest(".row").find(".bt_qfn,.bt_aqfn,.bt_qfp,.bt_ltqfp,.bt_plcc,.bt_so,.bt_pdip").removeClass("technology-tab-active").addClass("technology-tab-inactive");
            $(this).closest(".row").find(".qfn,.aqfn,.qfp,.ltqfp,.plcc,.so,.pdip").hide();
            $(this).closest(".row").find(".sop").toggle(600);
        });

        $('.bt_pdip').click(function() {
            $(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
            $(this).closest(".row").find(".bt_qfn,.bt_aqfn,.bt_qfp,.bt_ltqfp,.bt_plcc,.bt_so,.bt_sop").removeClass("technology-tab-active").addClass("technology-tab-inactive");
            $(this).closest(".row").find(".qfn,.aqfn,.qfp,.ltqfp,.plcc,.so,.sop").hide();
            $(this).closest(".row").find(".pdip").toggle(600);
        });
    });
</script>