﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/ch/_Layout_seo.cshtml";
    ViewBag.Title = "人權管理";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-csr">
		<h1 class="page-title title-large">永續發展</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch/csr"><span itemprop="name">永續發展</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch/csr/employee_care_development"><span itemprop="name">員工關懷與發展</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch/csr/corporate_sustainability_policy_and_management/human_rights_management"><span itemprop="name">人權管理</span></a>
					<meta itemprop="position" content="3" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->

	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">人權管理</h3>
                <h4 class="sub-title">人權政策</h4>
				<p>
					日月光支持並尊重「聯合國世界人權宣言」、「聯合國全球盟約」第一與第二條原則、「聯合國企業與人權指導原則」之保護、尊重及補救三大原則、國際勞工組織「工作基本原則與權利宣言」之國際人權規範；謹守營業所在地國家法令規範並透過加入「責任商業聯盟」，定期檢視人權政策的執行狀況，以確保人權保障工作之落實。
				</p>
				<!-- <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/human_rights_management.png">
				</div> -->
				<div class="clearfix"></div><br>
				<h4 class="sub-title">人權推動方針</h4>
				<p>
					<ul class="nopadding">
						<li><strong>保護與尊重：</strong><br>
                        為保護與尊重人權，形塑有益人權保障的良好環境，避免營業活動出現可能造成人權侵犯或負面影響的行為。</li>
                        <li><strong>申訴與補救：</strong><br>
                        為保護員工及價值鏈夥伴之人權免受侵犯或負面影響，日月光確保其有權就所認為可能侵犯人權之行為進行申訴、通報或投訴，並要求對任何侵犯人權或產生負面影響之行為給予補救。</li>
                        <li><strong>管理與調查：</strong><br>
                        為持續實踐及優化人權治理，協助營業過程之人權維護工作可隨著營運發展而持續進步，包括採取宣導與教育訓練、盡職調查與回饋機制。</li>
					</ul>
				</p>
                <p>
                    <a href="https://www.aseglobal.com/ch/pdf/human-rights-policy-ch.pdf" target="_blank"><div class="circle_button darkgray facilities-circle-button"><i class="icon-arrow-right facilities-icon-arrow-right"></i></div>&nbsp;日月光投資控股股份有限公司人權政策</a>
                </p>
			</article>
		</div>
	</section>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script>
	$(document).ready(function(){
	    $('[data-toggle="popover"]').popover();   
	});
	</script>