﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/ch/_Layout_seo.cshtml";
    ViewBag.Title = "法遵與風險管理";
    ViewBag.zhURL = "/ch/csr/corporate_sustainability_policy_and_management/regulatory_compliance_and_risk_management";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-csr">
	    <h1 class="page-title-csr title-large">永續發展</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch/csr"><span itemprop="name">永續發展</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch/csr/sustainability_governance"><span itemprop="name">永續治理</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch/csr/corporate_sustainability_policy_and_management/regulatory_compliance_and_risk_management"><span itemprop="name">法遵與風險管理</span></a>
					<meta itemprop="position" content="3" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->

	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">法規遵循與風險管理</h3>
				<h4 class="sub-title">法規遵循</h4>
			</article>
			<div class="col-md-12">
				<p>
					日月光法規遵循係透過系統性管理，透過集團與各營運所在地管理團隊的協力，確保遵循所有適用的法規。法規遵循的工作由集團法務定期更新並解釋法規，交由各營運單位負責法規鑑別工作，同時為確保鑑別之有效性，我們每年規劃對於遵法風險提高之領域，藉由第三方專業團隊的檢核，確保法規遵循工作無 漏洞。<br>
					<br>
					日月光所有員工、經理人、監察人及董事對於遵守相關適用法律是責無旁貸的，我們持續對於各主要領域之法規變動進行遵法措施調整，並透過修改相關文件、進行教育訓練、發佈遵法公告等方式讓日月光所有成員知悉並遵守所有與營運有關之法律。<br>
					<br>
					日月光已將全面遵法作為公司持續發展的重要基礎，未來我們將戮力於建立各營運所在地遵法風險通報系統，全面防堵任何可能的違法風險，以負責任及積極的態度面對愈來愈趨嚴格的法律環境。我們深知唯有知法遵法才能達成永續經營的目標。
				</p>
			</div>

			<article class="col-xs-12">
				<strong>法規遵循程序</strong>
				<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/regulatory_compliance_and_risk_management2.png" class="hide-in-small">
				<div class="col-xs-12 hide-in-large nopadding">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/regulatory_compliance_and_risk_management21.png">
				</div>
				<div class="clearfix"></div><br>
				<h4 class="sub-title">風險管理</h4>
			</article>

			<div class="col-md-7 col-sm-7">
				<p>
					日月光通過組織中現有部門或功能單位（或稱風險職責單位）進行風險管理。此外，我們所有的集團部門皆有實施企業風險管理 (ERM) 專案。我們鑑別出可能對經營目標產生影響的風險/事件，評估後決定適當的應對措施，此外日月光亦將長期新興風險<a href="javascript:" data-toggle="popover" data-trigger="hover" data-content="我們將新興風險定義為：未來可能會很重要但目前不存在的風險；或是，過往已知的風險，但以意想不到的方式演變，帶來預期外的後果。" data-placement="bottom">*</a>的識別和管理納入企業風險管理計劃專案。我們建立預防、預警、應變、危機管理和營運持續計畫，來減輕、轉移或規避風險。我們相信，通過完善的管理方案，日月光已經將各種風險情境有效納入管控。<br><br>

					日月光的風險管理過程如下：首先，鑑別企業層面和營運層面的風險，排序記錄於風險登錄表 (Risk Register)<a href="javascript:" data-toggle="popover" data-trigger="hover" data-content="此表包含風險的整體性說明、風險特徵（情境和衝擊）描述以及現有的風險管理活動(包括減緩策略/控制措施)。" data-placement="bottom">*</a>；接著，根據風險等級<a href="javascript:" data-toggle="popover" data-trigger="hover" data-content="風險等級係根據發生頻率與衝擊程度而定。" data-placement="bottom">*</a>與控制有效性來評估主要風險，並且將其繪製對應於風險地圖上 。此外，我們採用相關性分析 (correlation analysis) 檢視主要風險因子間是否存有高度關聯性。必要時會制訂進一步的風險減緩計畫來降低剩餘風險。主要風險會隨同因應計畫呈報給高階管理階層，每季定時監控計畫進展。<br><br>

					我們引入了自上而下的企業風險管理方法 (top-down ERM approach)，加強高階管理階層與組織其他部門的風險管理連結，並確保集團層級風險的合理管理。我們邀請高階管理階層鑑別公司重要的關鍵風險，然後藉由我們現有的風險管理流程請各風險職責單位評估檢視，藉此將ERM轉變為增強組織整體決策的有效作為。
				</p>
			</div>
			<div class="col-md-5 col-sm-5">
				<strong>風險管理組織體系</strong>
				<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/regulatory_compliance_and_risk_management1.png"><br><br>
			</div>
			<div class="clearfix"></div>

			<article class="col-xs-12">
				<strong>風險管理流程</strong>
				<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/regulatory_compliance_and_risk_management3.png" class="hide-in-small">
				<div class="col-xs-12 hide-in-large nopadding">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/regulatory_compliance_and_risk_management31.png">
				</div>
				<div class="clearfix"></div><br>
				<strong>風險管理串聯內控與內稽</strong>
				<p>
					我們認為內部控制是ERM的重要組成，在風險因應或其它風險管理流程中加入控制活動將使ERM更有效。我們識別並記錄所有主要風險及相應的控制措施，並且在年度內控自評中審查控制的有效性。此外，我們重新設計風險評估工具，將公司內部控制活動對應各種可能風險情境，藉此風險辨識單位在判斷風險控制有效性時，可利用新工具內已預先設計提供的完整風險控制措施來做準確判斷。最後，針對權責單位提出的風險改善方案，我們透過集團內部稽核系統監督其落實情況，藉此妥善管理集團風險。
				</p>
			</article>
		</div>
		
	</section>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script>
	$(document).ready(function(){
	    $('[data-toggle="popover"]').popover();   
	});
	</script>