﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/ch/_Layout_seo.cshtml";
    ViewBag.Title = "Industry 4.0";
    ViewBag.enURL = "/en/solution/industry4point0";
    ViewBag.zhURL = "/ch/solution/industry4point0";
    ViewBag.webSiteDesc = "Digital Transformation enables a World Class operation";
    ViewBag.webSiteOgImage = "~/pic/public/frontend/images/solutions/og-2.png";
}
	<!-- page Banner -->
    <section id="page-vision">
        <div class="hide-in-small" style="background: url(https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/banner_industry4point0.jpg) no-repeat center; background-size: cover; height: 630px;">
        </div>

        <div class="hide-in-large" style="background: url(https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/banner_industry4point0_small.jpg) no-repeat center; background-size: cover; height: 450px;">
        </div>
    </section>

    <section class="inside-article">
    <!--麵包屑-->
        <div class="content-lg row">
            <div class="col-xs-12">
                <ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
                    <!-- Project-B Fix, Apply New Breadcrumb -->
                    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
                        <meta itemprop="position" content="0" />
                    </li>
                    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <a itemprop="item" href="/en"><span itemprop="name">Industry 4.0</span></a>
                        <meta itemprop="position" content="1" />
                    </li>
                </ol>
        </div>
    </div>

    <!-- Project-B Fix, Remove Old Breadcrumb -->

    <!-- Technology list -->
    <section class="inside-article">
        <div class="content-lg row">
            <div class="col-xs-12">
                <p id="topic">&nbsp;</p>
                <h4><a href="#one"><i class="icon-arrow-right" style="font-size:14px;"></i> Evolution of the Industrial Revolution</a></h4>
                <h4><a href="#two"><i class="icon-arrow-right" style="font-size:14px;"></i> Smart Factories: The Core of Industry 4.0</a></h4>
                <h4><a href="#three"><i class="icon-arrow-right" style="font-size:14px;"></i></i> Lights-out Factories</a></h4>
                <h4><a href="#four"><i class="icon-arrow-right" style="font-size:14px;"></i> ASE Smart Factories: Infrastructure and Solutions</a></h4>
                <p id="one">&nbsp;<br><br></p>
                <h3>Evolution of the Industrial Revolution</h3>
                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/industry4point0-01.jpg?1" />
                <p id="two">&nbsp;<br><br></p>
                <h3>Smart Factories: The Core of Industry 4.0</h3>
                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/industry4point0-02.png" />
                <p id="three">&nbsp;<br><br></p>
                <h3>Lights-out Factories</h3>
                <p>&nbsp;</p>
                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/industry4point0-03.png" />
                <p>&nbsp;<br><br></p>
            </div>
        </div>
        <div class="content-lg row">
            <div class="col-xs-12">
                <div class="col-md-10 col-md-offset-1 csr-bg" style="padding:10px;">
                    <p>&nbsp;</p>
                    <h4 class="text-center" style="color: #2B4C75;">Though it sounds like a dream, lights-out factories are the Industry 4.0 future that’s already in action.</h4>
                    <p>&nbsp;</p>
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/industry4point0-04.png" />
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/industry4point0-05.png?1" />
                    <p>&nbsp;</p>
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/industry4point0-06.png" />
                    <p>&nbsp;</p>
                    <h4 class="text-center col-md-10 col-md-offset-1" style="color: #2B4C75;">The industries driving the rise of robotic automation are electronics and automakers, concentrated in just a handful of countries. But new players are constantly joining.</h4>
                </div>
            </div>
        </div>
        <div class="content-lg row">
            <div class="col-xs-12" >
                <div class="col-md-10 col-md-offset-1" style="background: url(https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/industry4point0-12.png);background-size: 100% 54%; background-repeat: no-repeat;">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/industry4point0-07.png" />
                </div>
                <div class="clearfix"></div>
                <!-- <h4 class="sub-title text-center">TOMORROW’S LIGHTS-OUT FACTORIES</h4>
                <p class="text-center">
                    Improved electronics, network connectivity, and artificial intelligence are improving the capabilities of robotics, and increasing both the number of robots and the number of potential lights-out factories.
                </p> -->
            </div>
        </div>
        <div class="content-lg row">
            <div class="col-xs-12">
                <p>&nbsp;</p>
                <div class="col-md-10 col-md-offset-1">
                    <h4 class="text-center" style="color: #2B4C75;">As costs continue to decrease while digital capabilities increase, the implementation of lights-out factories is expected to surge.</h4>
                    <p>&nbsp;</p>
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/industry4point0-08.png" />
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                </div>
                <div class="clearfix"></div>
                <p id="four">&nbsp;<br><br></p>
                <h3>ASE Smart Factories: Infrastructure and Solutions</h3>
                <p><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/industry4point0-09.jpg" /></p>
                <p>&nbsp;</p>
                <h4>To learn more about ASE’s 5G smart factories and packaging solutions, please visit.</h4>
                <p>
                    <a href="/en/solution/smart_factory_5g">» ASE 5G mmWave Smart Factory</a><br>
                    <a href="/en/solution/smart_factory">» Smart Factory: ASE Solution Platform</a>
                </p>
                <p>&nbsp;</p>
            </div>
        </div>
    </section>