﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/ch/_Layout_seo.cshtml";
    ViewBag.Title = "智慧城市";
    ViewBag.enURL = "/en/solution/smart_city";
    ViewBag.zhURL = "/ch/solution/smart_city";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-solution" style="background: url(https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/banner_city.jpg) no-repeat center; background-size: cover;">
		<h1 class="page-title title-large">智慧城市</h1>
	</section>

  <section class="inside-article">
  <!--麵包屑-->
      <div class="col-xs-12 living-box">
          <div class="row csr pro" style="margin: 0;">
              <div class="col-xs-12">
                  <ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
                      <!-- Project-B Fix, Apply New Breadcrumb -->
                      <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                          <a itemprop="item" href="/ch"><i class="icon-home"></i><span itemprop="name">Home</span></a>
                          <meta itemprop="position" content="0" />
                      </li>
                      <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                          <a itemprop="item" href="/ch"><span itemprop="name">智慧城市</span></a>
                          <meta itemprop="position" content="1" />
                      </li>
                  </ol>
              </div>
              <article class="col-xs-12">
								<h3 class="title">智慧城市</h3>
								<div class="content">
									<p>打造全面感知、數字化、信息化融合智慧的創新城市。日月光系統級封裝(SiP)解決方案平台協助落實節能減碳、效率生活、便捷網絡與資源共享的佈建，如智慧街燈、建築物智慧能源管理、智慧交通、智慧停車以及空氣品質監測等，點亮智慧網絡城市，推動永續未來發展。
									</p>
								</div>
              </article>
            </div>
        </div>
    </section>
    <section class="inside-article">
        <div class="col-xs-12 living-box">
            <div class="row csr pro" style="margin: 0;">
              <article class="col-md-8 col-md-offset-2 text-center" style="padding: 20px 0 40px 0;">
                  <div class="col-md-12 nopadding">
                      <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/solutions/mov_smart_city_2023.jpg?1">
                  </div>
                  <div style="position:absolute; left:35%; top: 42%; z-index:10; margin:0 auto; border-radius: 10px; text-align: center; background-color: rgba(0, 0, 0, 0.7);">
                      <a class="button videoButton popupVideo" href="https://coms.aseglobal.com/marcom/video/2023smartcity" target="_blank"><span style="padding-top: 4px;">觀看影片</span><i class="icon-play"></i></a>
                  </div>
              </article>
          </div>
      </div>
  </section>


	

	<!-- Project-B Fix, Remove Old Breadcrumb -->
	<section class="inside-article">
	<!--麵包屑-->
	<div class="col-xs-12 col-md-6 living-box">
		<article class="col-xs-12">
			<div class="content-lg row csr pro">
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
					<div class="col-md-12 bgnews-list list-base panel">

						<div class="content">
							<a class="link-btn" data-link="s01" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
								<span class="black-text-in-box accordion-center-text text-left padding-left-10" id="txt01">智慧街燈</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>

						<div id="collapseOne" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<div class="col-xs-12 pl-0 collapse-area">
									<div class="sol-img ">
										<img class="sol-icon" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/sm01.png" alt="">
										<ul class="sol-sol">
											<li class="sol-text">環境光變化，街燈自動調整開關及亮度</li>
											<li class="sol-title">日月光解決方案</li>
											<li>BLE+MCU SiP</li>
											<li>LoRa/SigFox/NB-IOT/LTE+MCU SiP</li>
											<li>UV/IR Sensor</li>
										</ul>
										
									</div>
									<ul class="sol-list">
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/sc01-1.jpg"  alt=""><br>
											
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/sc01-3.jpg"  alt=""><br>
											
										</li>
									</ul>
								</div>
							</div>
							<div class="mobile-img">
								<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/city-m01.jpg"  alt="">
							</div>
						</div>
					</div>
					<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a class="link-btn" data-link="s02" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
								<span class="black-text-in-box accordion-center-text text-left padding-left-10" id="txt02">建築物智慧能源管理</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>

						<div id="collapseTwo" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<div class="col-xs-12 pl-0 collapse-area">
									<div class="sol-img">
										<img  src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/sc02-1a.jpg"  alt="">
										<img style="clear:left; margin-top:-8px;"  src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/sc02-1b.jpg"  alt="">
										<ul class="sol-sol">
											<li class="sol-citytext"><strong>用電量偵測</strong><br>
												即時監測建築物電力使用狀況，自動調配能源，達成低碳</li>
											<li class="sol-citytext"><strong>水流量偵測</strong><br>
												偵測建築物用水與漏水狀況以達智慧化管理</li>
											<li class="sol-citytext"><strong>淹水偵測</strong><br>
												紀錄雨量及淹水水位變化，快速研判發出淹水警告</li>
											<li class="sol-citytext"><strong>瓦斯流量與洩漏偵測</strong><br>
												紀錄瓦斯流量方便查詢，偵測瓦斯洩漏時及時發出通知</li>
											<li class="sol-title">日月光解決方案</li>
											<li>LoRa/SigFox/NB-IOT/LTE+MCU SiP</li>
											<li>Pressure Sensor</li>
											<li>Gas Sensor</li>
										</ul>					
									</div>

									<ul class="sol-list">
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/sc03-1.jpg"  alt=""><br>
											
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/sc05-1.jpg"  alt=""><br>
											
										</li>
									</ul>
								</div>
							</div>
							<div class="mobile-img">
								<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/city-m02.jpg"  alt="">
							</div>
						</div>
					</div>
					<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a class="link-btn" data-link="s03" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
								<span class="black-text-in-box accordion-center-text text-left padding-left-10" id="txt03">車流量監控</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>

						<div id="collapseThree" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<div class="col-xs-12 pl-0 collapse-area">
									<div class="sol-img">
									<img class="sol-icon"  src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/sc03.png" alt="">
										<ul class="sol-sol">
											<li class="sol-text">監控交通狀況、及時通知車禍或是塞車狀況</li>
											<li class="sol-title">日月光解決方案</li>
											<li>LoRa/SigFox/NB-IOT/LTE+MCU SiP</li>
										</ul>										
									</div>
									<ul class="sol-list">
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/sc03-1.jpg"  alt=""><br>
											
										</li>
									</ul>
								</div>
							</div>
							<div class="mobile-img">
								<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/city-m03.jpg"  alt="">
							</div>
						</div>
					</div>
					<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a class="link-btn" data-link="s04" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
								<span class="black-text-in-box accordion-center-text text-left padding-left-10" id="txt04">停車區域辨識與通知</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>

						<div id="collapseFour" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<div class="col-xs-12 pl-0 collapse-area">
									<div class="sol-img">
										<img  class="sol-icon" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/sc04.png" alt="">
										<ul class="sol-sol">
											<li class="sol-text">辨識車位是否使用中，透過App導引車輛停駛至車位</li>
											<li class="sol-title">日月光解決方案</li>
											<li>LoRa/SigFox/NB-IOT/LTE+MCU SiP</li>
											<li>Magnetic/IR Sensor</li>
											<li>Camera with Image Recognition</li>
										</ul>										
									</div>

									<ul class=" sol-list">
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/sc03-1.jpg"  alt=""><br>
											
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/sc04-1.jpg"  alt=""><br>
											
										</li>
										<li>
											<img style="width:40%;" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/sc03-1-2.jpg"  alt=""><br>
											
										</li>
									</ul>
								</div>
							</div>
							<div class="mobile-img">
								<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/city-m04.jpg"  alt="">
							</div>
						</div>
					</div>
					<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a class="link-btn" data-link="s05" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
								<span class="black-text-in-box accordion-center-text text-left padding-left-10" id="txt05">空氣品質監控</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>

						<div id="collapseFive" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<div class="col-xs-12 pl-0 collapse-area">
									<div class="sol-img">
										<img class="sol-icon"  src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/sc05.png" alt="">
										<ul class="sol-sol">
											<li class="sol-text">空氣品質(PM2.5,甲醛, 揮發性有機物, 二氧化氮等)偵測</li>
											<li class="sol-title">日月光解決方案</li>
											<li >Gas/TVOC/PM2.5 Sensor</li>
										</ul>										
									</div>
									<ul class="sol-list">
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/sc05-1.jpg"  alt=""><br>
											
										</li>
									</ul>
								</div>
							</div>
							<div class="mobile-img">
								<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/city-m05.jpg"  alt="">
							</div>
						</div>
					</div>

					<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a class="link-btn" data-link="s07" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
								<span class="black-text-in-box accordion-center-text text-left padding-left-10" id="txt07">大數據</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>

						<div id="collapseSeven" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<div class="col-xs-12 pl-0 collapse-area">
									
									<div class="sol-img col-md-9">
										<img  class="sol-icon" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/sc07.png" alt="">
										<ul class="sol-sol">
											<li class="sol-text">資料管理與儲存</li>
											<li class="sol-title">日月光解決方案</li>
											<li>2.5D IC</li>
										</ul>
									</div>
									<ul class="sol-list">
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/sm07-1.png" alt=""><br>
											<!-- <span>2.5D IC</span> -->
										</li>
									</ul>
								</div>
							</div>
							<div class="mobile-img">
								<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/city-m07.jpg"  alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
		</article>
	</div>
	<div class="col-xs-12 col-md-6 living-box cityicon hide-in-small" style="margin-bottom: -90em;">
		<div class="city-tool">
			<div class="s01 city01" id="bt01"></div>
			<div class="s02 city02" id="bt02"></div>
			<div class="s02 city03" id="bt03"></div>
			<div class="s03 city04" id="bt04"></div>
			<div class="s04 city05" id="bt05"></div>
			<div class="s05 city06" id="bt06"></div>
			<div class="s07 city07" id="bt07"></div>
		</div>

	</div>
	<div class="preload">
		<div class="city01 change"></div>
		<div class="city02 change"></div>
		<div class="city03 change"></div>
		<div class="city04 change"></div>
		<div class="city05 change"></div>
		<div class="city06 change"></div>
		<div class="city07 change"></div>
	</div>
</section>
<style>
	.collapse-area .sol-img{width:80%;float:left;}
	.collapse-area .sol-list{width:20%;float:left;}
	.collapse-area .sol-list li{width:100%;}
	.collapse-area .sol-list.city{width:80%;float:left;}
	.collapse-area .sol-list.city	li{text-align:left;}
    .bgnews-list a { padding: 13px 15px;}
</style>	
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
$( document ).ready(function() {
	$('.accordion-center-text').click(function(e){
		if ($(this).hasClass('black-text-in-box')) {
			$('.blue-text-in-box').removeClass('blue-text-in-box').addClass('black-text-in-box');
			$(this).removeClass("black-text-in-box");
			$(this).addClass("blue-text-in-box");      //add the class to the clicked element
		} else {
			$(this).removeClass("blue-text-in-box");
			$(this).addClass("black-text-in-box");      //add the class to the clicked element
		}
	});
	$('.link-btn').click(function(){
	  // 取得被點擊元素的data-link屬性
	  var target = $(this).data('link');
	  $('.city-tool div.'+target).toggleClass('change');
	  $('.city-tool div:not(.'+target+')').removeClass('change');
	 });

    $(function() {
      $('#bt01').click(function() {
        $(this).addClass('change');
        $('#bt02').removeClass('change');
        $('#bt03').removeClass('change');
        $('#bt04').removeClass('change');
        $('#bt05').removeClass('change');
        $('#bt06').removeClass('change');
        $('#bt07').removeClass('change');
        $('#collapseOne').addClass('in');
        $('#collapseTwo').removeClass('in');
        $('#collapseThree').removeClass('in');
        $('#collapseFour').removeClass('in');
        $('#collapseFive').removeClass('in');
        $('#collapseSeven').removeClass('in');
        $('#txt01').removeClass("black-text-in-box").addClass("blue-text-in-box");
        $('#txt02').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt03').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt04').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt05').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt07').removeClass("blue-text-in-box").addClass("black-text-in-box");
      });
      $('#bt02').click(function() {
        $(this).addClass('change');
        $('#bt01').removeClass('change');
        $('#bt03').removeClass('change');
        $('#bt04').removeClass('change');
        $('#bt05').removeClass('change');
        $('#bt06').removeClass('change');
        $('#bt07').removeClass('change');
        $('#collapseOne').removeClass('in');
        $('#collapseTwo').addClass('in');
        $('#collapseThree').removeClass('in');
        $('#collapseFour').removeClass('in');
        $('#collapseFive').removeClass('in');
        $('#collapseSeven').removeClass('in');
        $('#txt01').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt02').removeClass("black-text-in-box").addClass("blue-text-in-box");
        $('#txt03').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt04').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt05').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt07').removeClass("blue-text-in-box").addClass("black-text-in-box");
      });
      $('#bt03').click(function() {
        $(this).addClass('change');
        $('#bt01').removeClass('change');
        $('#bt02').removeClass('change');
        $('#bt04').removeClass('change');
        $('#bt05').removeClass('change');
        $('#bt06').removeClass('change');
        $('#bt07').removeClass('change');
        $('#collapseOne').removeClass('in');
        $('#collapseTwo').addClass('in');
        $('#collapseThree').removeClass('in');
        $('#collapseFour').removeClass('in');
        $('#collapseFive').removeClass('in');
        $('#collapseSeven').removeClass('in');
        $('#txt01').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt02').removeClass("black-text-in-box").addClass("blue-text-in-box");
        $('#txt03').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt04').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt05').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt07').removeClass("blue-text-in-box").addClass("black-text-in-box");
      });
      $('#bt04').click(function() {
        $(this).addClass('change');
        $('#bt01').removeClass('change');
        $('#bt02').removeClass('change');
        $('#bt03').removeClass('change');
        $('#bt05').removeClass('change');
        $('#bt06').removeClass('change');
        $('#bt07').removeClass('change');
        $('#collapseOne').removeClass('in');
        $('#collapseTwo').removeClass('in');
        $('#collapseThree').addClass('in');
        $('#collapseFour').removeClass('in');
        $('#collapseFive').removeClass('in');
        $('#collapseSeven').removeClass('in');
        $('#txt01').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt02').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt03').removeClass("black-text-in-box").addClass("blue-text-in-box");
        $('#txt04').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt05').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt07').removeClass("blue-text-in-box").addClass("black-text-in-box");
      });
      $('#bt05').click(function() {
        $(this).addClass('change');
        $('#bt01').removeClass('change');
        $('#bt02').removeClass('change');
        $('#bt03').removeClass('change');
        $('#bt04').removeClass('change');
        $('#bt06').removeClass('change');
        $('#bt07').removeClass('change');
        $('#collapseOne').removeClass('in');
        $('#collapseTwo').removeClass('in');
        $('#collapseThree').removeClass('in');
        $('#collapseFour').addClass('in');
        $('#collapseFive').removeClass('in');
        $('#collapseSeven').removeClass('in');
        $('#txt01').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt02').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt03').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt04').removeClass("black-text-in-box").addClass("blue-text-in-box");
        $('#txt05').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt07').removeClass("blue-text-in-box").addClass("black-text-in-box");
      });
      $('#bt06').click(function() {
        $(this).addClass('change');
        $('#bt01').removeClass('change');
        $('#bt02').removeClass('change');
        $('#bt03').removeClass('change');
        $('#bt04').removeClass('change');
        $('#bt05').removeClass('change');
        $('#bt07').removeClass('change');
        $('#collapseOne').removeClass('in');
        $('#collapseTwo').removeClass('in');
        $('#collapseThree').removeClass('in');
        $('#collapseFour').removeClass('in');
        $('#collapseFive').addClass('in');
        $('#collapseSeven').removeClass('in');
        $('#txt01').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt02').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt03').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt04').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt05').removeClass("black-text-in-box").addClass("blue-text-in-box");
        $('#txt07').removeClass("blue-text-in-box").addClass("black-text-in-box");
      });
      $('#bt07').click(function() {
        $(this).addClass('change');
        $('#bt01').removeClass('change');
        $('#bt02').removeClass('change');
        $('#bt03').removeClass('change');
        $('#bt04').removeClass('change');
        $('#bt05').removeClass('change');
        $('#bt06').removeClass('change');
        $('#collapseOne').removeClass('in');
        $('#collapseTwo').removeClass('in');
        $('#collapseThree').removeClass('in');
        $('#collapseFour').removeClass('in');
        $('#collapseFive').removeClass('in');
        $('#collapseSeven').addClass('in');
        $('#txt01').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt02').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt03').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt04').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt05').removeClass("blue-text-in-box").addClass("black-text-in-box");
        $('#txt07').removeClass("black-text-in-box").addClass("blue-text-in-box");
      });
    });
	
	
})
</script>
