﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/ch/_Layout_seo.cshtml";
    ViewBag.Title = "電腦儲存SiP模組 ";
    ViewBag.enURL = "/en/products/assembly_offerings/sip_module_solutions/computing_storage_sip_module";
    ViewBag.zhURL = "/ch/products/assembly_offerings/sip_module_solutions/computing_storage_sip_module";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-product-csp">
		<h1 class="page-title title-large">電腦儲存SiP模組</h1>
	</section>

	<!--麵包屑-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch/technology/technology_innovation"><span itemprop="name">先進技術</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch/technology/sip_module"><span itemprop="name">系統級封裝</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch/products/assembly_offerings/sip_module_solutions/computing_storage_sip_module"><span itemprop="name">電腦儲存</span></a>
					<meta itemprop="position" content="3" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->
	
	<!-- Products Content -->
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">Computing Storage SiP Module</h3>
			</article>
		</div>
	</section>
	
	<section class="inside-article">
		<div class="content-lg row csr">
			<article class="col-xs-12">
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
					<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
								<span id="fcbga" class="black-text-in-box accordion-center-text">SSD SiP Module</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>
						<div id="collapseOne" class="panel-collapse collapse in no-border" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<div class="col-md-12">
									<div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 nopadding"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/products/SiP_SSD.png"></div>
									<div class="clearfix"></div>
								</div>
								<div class="col-xs-6 col-sm-6 col-md-6">
									<div class="products-application technology-tab-active margin-bottom-0">Application</div>
								</div>
								<div class="col-xs-6 col-sm-6 col-md-6">
									<div class="products-features technology-tab-inactive margin-bottom-0">Features</div>
								</div>
								<div class="clearfix"></div>
								<div class="col-xs-12 col-md-12 products-application-content">
									<ul class="nopadding">
										<li>Notebook</li>
										<li>Tablet</li>
									</ul>
								</div>
								<div class="col-xs-12 col-md-12 products-features-content">
									<ul class="nopadding">
										<li>Dimension: 22x42x1.8mm</li>
										<li>Structure: Double sided structure in single sided NGFF card thickness</li>
										<li>Protection: Molding</li>
										<li>Capacity: NAND flash, 120GB/240 GB</li>
									</ul>
								</div>

							</div>
						</div>
	  				</div>
	  			</div>
			</article>
		</div>
	</section>
	<section class="inside-article">
		<div class="content-lg row">
			<div class="content-wrapper col-md-12 tech-cont-link">
				<a class="phone" href="@Url.Action("plants_offices_ase", "About", new { lang = ViewBag.language.lang })"><span class="glyphicon glyphicon-earphone"></span>  聯絡我們</a><br><br>
			</div>
			<div class="clearfix"></div>
		</div>
	</section>
	<section class="csr-bg">
		<div class="content-lg row">
			<div class="products-menu1-content col-xs-12 csr">

				<div class="col-md-6 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "sip_module_solutions", param2 = "wireless_sip_module" })">
							<span class="blue-text-in-box">Wireless SiP Module</span>
							<div class="circle_button-wrapper pull-right">
								<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>
			
				<div class="col-md-6 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "sip_module_solutions", param2 = "computing_storage_sip_module" })">
							<span class="blue-text-in-box">Computing Storage SiP Module</span>
							<div class="circle_button-wrapper">
								<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>
			
				<div class="col-md-6 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "sip_module_solutions", param2 = "power_sip_module" })">
							<span class="blue-text-in-box">Power SiP Module</span>
							<div class="circle_button-wrapper">
								<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>
			
				<div class="col-md-6 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "sip_module_solutions", param2 = "sensor_optical_sip_module" })">
							<span class="blue-text-in-box">Sensor & Optical SiP Module</span>
							<div class="circle_button-wrapper">
								<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>
				<div class="clearfix"></div>

			</div>
		</div>
	</section>
	<br>
	<section class="inside-article">
		<div class="content-lg row">
			<div class="col-xs-12">
				<div class="technology-bottom-flex">
					<div class="technology-bottom"><a class="" href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "bumping_solution" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/products_icon-01.png"><br>Wafer Bumping Solution</a></div>
					<div class="technology-bottom"><a class="" href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "wafer_level_package_solution" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/products_icon-02.png"><br>Wafer Level Package Solution</a></div>
					<div class="technology-bottom"><a class="" href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "flip_chip_solution" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/products_icon-03.png"><br>Flip Chip Solution</a></div>
					<div class="technology-bottom opacity-50"><a class="" href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "sip_module_solutions" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/products_icon-04.png"><br>SiP & Module<br>Solution</a></div>
					
					<div class="technology-bottom"><a class="" href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "wire_bond_bga_solution" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/products_icon-05.png"><br>Wire Bond BGA Solution</a></div>
					<div class="technology-bottom"><a class="" href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "leadframe_solution" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/products_icon-06.png"><br>Leadframe Solution</a></div>
				</div>
			</div>
			<!-- products carousel -->
			<div class="row">
				<div class="col-xs-12">
					<div class="container technology-carousel">
						<div class='row'>
							<div class='col-xs-12'>
								<div class="carousel slide media-carousel" id="media">
									<!-- Indicators -->
									<ol class="carousel-indicators">
										<li data-target="#media" data-slide-to="0" class="active"></li>
										<li data-target="#media" data-slide-to="1"></li>
									</ol>
									<div class="carousel-inner">
										<div class="item  active">
											<div class="row">
												<div class="col-xs-4">
													<a class="" href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "bumping_solution" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/products_icon-01.png"><br>Bumping<br>Solution</a>
												</div>          
												<div class="col-xs-4">
													<a class="" href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "wafer_level_package_solution" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/products_icon-02.png"><br>Wafer Level Package Solution</a>
												</div>
												<div class="col-xs-4">
													<a class="" href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "flip_chip_solution" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/products_icon-03.png"><br>Flip Chip<br>Solution</a>
												</div>        
											</div>
										</div>
										<div class="item">
											<div class="row">
												<div class="col-xs-4">
													<a class="" href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "sip_module_solutions" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/products_icon-04.png"><br>SiP & Module<br>Solution</a>
												</div>
												<div class="col-xs-4">
													<a class="" href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "wire_bond_bga_solution" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/products_icon-05.png"><br>Wire Bond BGA Solution</a>
												</div>        
												<div class="col-xs-4">
													<a class="" href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "leadframe_solution" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/products_icon-06.png"><br>Leadframe Solution</a>
												</div>  
											</div>
										</div>
									</div>
									<br>
									<a data-slide="prev" href="#media" class="left carousel-control">‹</a>
									<a data-slide="next" href="#media" class="right carousel-control">›</a>
								</div>                          
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end products carousel -->
		</div>
	</section>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

	<script>
		$(document).ready(function() {

			$(".products-features-content").hide();
			$(".products1-features-content").hide();
			$(".products2-features-content").hide();

			$('.products-application').click(function() {
				$(this).closest(".row").find(".products-features").removeClass("technology-tab-active").addClass("technology-tab-inactive");
				$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
				$(this).closest(".row").find(".products-features-content").hide();
				$(this).closest(".row").find(".products-application-content").fadeIn(1000);
			});
			$('.products-features').click(function() {
				$(this).closest(".row").find(".products-application").removeClass("technology-tab-active").addClass("technology-tab-inactive");
				$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
				$(this).closest(".row").find(".products-application-content").hide();
				$(this).closest(".row").find(".products-features-content").fadeIn(1000);
			});

			$('.products1-application').click(function() {
				$(this).closest(".row").find(".products1-features").removeClass("technology-tab-active").addClass("technology-tab-inactive");
				$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
				$(this).closest(".row").find(".products1-features-content").hide();
				$(this).closest(".row").find(".products1-application-content").fadeIn(1000);
			});
			$('.products1-features').click(function() {
				$(this).closest(".row").find(".products1-application").removeClass("technology-tab-active").addClass("technology-tab-inactive");
				$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
				$(this).closest(".row").find(".products1-application-content").hide();
				$(this).closest(".row").find(".products1-features-content").fadeIn(1000);
			});
		});
	</script>