﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/ch/_Layout_seo.cshtml";
    ViewBag.Title = "功率SiP模組 ";
    ViewBag.enURL = "/en/products/assembly_offerings/sip_module_solutions/power_sip_module";
    ViewBag.zhURL = "/ch/products/assembly_offerings/sip_module_solutions/power_sip_module";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-product-csp">
		<h1 class="page-title title-large">功率SiP模組</h1>
	</section>

	<!--麵包屑-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch/technology/technology_innovation"><span itemprop="name">先進技術</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch/technology/sip_module"><span itemprop="name">系統級封裝</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch/products/assembly_offerings/sip_module_solutions/power_sip_module"><span itemprop="name">功率模組</span></a>
					<meta itemprop="position" content="3" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->
	
	<!-- Products Content -->
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<div class="col-xs-5 col-xs-3 col-md-2 col-lg-2 nopadding"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/products/aeasi1.jpg"></div>
				<div class="clearfix"></div>
				<h3 class="title">Power SiP Module</h3>
				<p>
					ASE's Embedded (Chip) Technology is considered an alternative solution to achieve higher level integration with multi-functionalities and form factor shrinkage advantages. ASE a-EASI is suitable for power electronics applications to reduce power loss and high thermal dissipation which also had robust mechanism. Embedded Technology provides SMT integration and flexible routing solution to reduce PCB size. The short connection path though Cu via structure. a-EASI applied metal lead frame to die placement which has high thermal dissipation and EMI benefit.
				</p>
			</article>
		</div>
	</section>
	
	<section class="inside-article">
		<div class="content-lg row">
			<br>
			<div class="col-xs-6">
				<div class="technology-application technology-tab-active">Application</div>
			</div>
			<div class="col-xs-6">
				<div class="technology-features technology-tab-inactive">Features</div>
			</div>
			<div class="clearfix"></div>
			<div class="technology-application-content">
				<div class="col-sm-12 col-md-12">
					<p>
						All integrated power devices and driver can be packaged in the sample package, intelligent power switches which combined function of driver, power switch, protection circuitry and diagnostic feedback on a single IC, or power analog application are suitable to the kinds embedded technology.
					</p>
				</div>
			</div>
			<div class="technology-features-content">
				<div class="col-sm-12 col-md-12">
					<p>
						The figure below shows cross-section illustrations of a multi die in aEASI structure which integrates power chips and a controller. The package includes a metal lead frame, RDL layers, via connect to chips and lead frame for connection, the back side of package could be for SMT if necessary.
					</p>
				</div>
				<div class="col-sm-7">
					<p>
						The structure properties include<br>
						<ul class="nopadding">
							<li>Metal lead frame</li>
							<li>Multi-die embedded in substrate</li>
							<li>Double side RDL layers build up capability</li>
							<li>Small form package factor capability</li>
							<li>SMT on surface of substrate</li>
							<li>Meets JEDEC MSL3 CLR requirements</li>
						</ul>
					</p>
				</div>
				<div class="col-xs-8 col-xs-offset-2 col-sm-5 col-sm-offset-0">
					<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/technology/aeasi2.jpg">
				</div>
			</div>
		</div>
	</section>
	<br>
	<section class="inside-article">
		<div class="content-lg row">
			<div class="content-wrapper col-md-12 tech-cont-link">
				<a class="phone" href="@Url.Action("plants_offices_ase", "About", new { lang = ViewBag.language.lang })"><span class="glyphicon glyphicon-earphone"></span>  聯絡我們</a><br><br>
			</div>
			<div class="clearfix"></div>
		</div>
	</section>
	<section class="csr-bg">
		<div class="content-lg row">
			<div class="products-menu1-content col-xs-12 csr">

				<div class="col-md-6 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "sip_module_solutions", param2 = "wireless_sip_module" })">
							<span class="blue-text-in-box">Wireless SiP Module</span>
							<div class="circle_button-wrapper pull-right">
								<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>
			
				<div class="col-md-6 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "sip_module_solutions", param2 = "computing_storage_sip_module" })">
							<span class="blue-text-in-box">Computing Storage SiP Module</span>
							<div class="circle_button-wrapper">
								<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>
			
				<div class="col-md-6 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "sip_module_solutions", param2 = "power_sip_module" })">
							<span class="blue-text-in-box">Power SiP Module</span>
							<div class="circle_button-wrapper">
								<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>
			
				<div class="col-md-6 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "sip_module_solutions", param2 = "sensor_optical_sip_module" })">
							<span class="blue-text-in-box">Sensor & Optical SiP Module</span>
							<div class="circle_button-wrapper">
								<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>
				<div class="clearfix"></div>

			</div>
		</div>
	</section>
	<br>
	<section class="inside-article">
		<div class="content-lg row">
			<div class="col-xs-12">
				<div class="technology-bottom-flex">
					<div class="technology-bottom"><a class="" href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "bumping_solution" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/products_icon-01.png"><br>Wafer Bumping Solution</a></div>
					<div class="technology-bottom"><a class="" href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "wafer_level_package_solution" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/products_icon-02.png"><br>Wafer Level Package Solution</a></div>
					<div class="technology-bottom"><a class="" href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "flip_chip_solution" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/products_icon-03.png"><br>Flip Chip Solution</a></div>
					<div class="technology-bottom opacity-50"><a class="" href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "sip_module_solutions" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/products_icon-04.png"><br>SiP & Module<br>Solution</a></div>
					
					<div class="technology-bottom"><a class="" href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "wire_bond_bga_solution" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/products_icon-05.png"><br>Wire Bond BGA Solution</a></div>
					<div class="technology-bottom"><a class="" href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "leadframe_solution" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/products_icon-06.png"><br>Leadframe Solution</a></div>
				</div>
			</div>
			<!-- products carousel -->
			<div class="row">
				<div class="col-xs-12">
					<div class="container technology-carousel">
						<div class='row'>
							<div class='col-xs-12'>
								<div class="carousel slide media-carousel" id="media">
									<!-- Indicators -->
									<ol class="carousel-indicators">
										<li data-target="#media" data-slide-to="0" class="active"></li>
										<li data-target="#media" data-slide-to="1"></li>
									</ol>
									<div class="carousel-inner">
										<div class="item  active">
											<div class="row">
												<div class="col-xs-4">
													<a class="" href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "bumping_solution" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/products_icon-01.png"><br>Bumping<br>Solution</a>
												</div>          
												<div class="col-xs-4">
													<a class="" href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "wafer_level_package_solution" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/products_icon-02.png"><br>Wafer Level Package Solution</a>
												</div>
												<div class="col-xs-4">
													<a class="" href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "flip_chip_solution" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/products_icon-03.png"><br>Flip Chip<br>Solution</a>
												</div>        
											</div>
										</div>
										<div class="item">
											<div class="row">
												<div class="col-xs-4">
													<a class="" href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "sip_module_solutions" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/products_icon-04.png"><br>SiP & Module<br>Solution</a>
												</div>
												<div class="col-xs-4">
													<a class="" href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "wire_bond_bga_solution" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/products_icon-05.png"><br>Wire Bond BGA Solution</a>
												</div>        
												<div class="col-xs-4">
													<a class="" href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "leadframe_solution" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/products_icon-06.png"><br>Leadframe Solution</a>
												</div>  
											</div>
										</div>
									</div>
									<br>
									<a data-slide="prev" href="#media" class="left carousel-control">‹</a>
									<a data-slide="next" href="#media" class="right carousel-control">›</a>
								</div>                          
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end products carousel -->
		</div>
	</section>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

	<script>
		$(document).ready(function() {
			$(".technology-features-content").hide();

			$('.technology-application').click(function() {
				$(this).closest(".row").find(".technology-features").removeClass("technology-tab-active").addClass("technology-tab-inactive");
				$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
				$(this).closest(".row").find(".technology-features-content").hide();
				$(this).closest(".row").find(".technology-application-content").fadeIn(1000);
			});
			$('.technology-features').click(function() {
				$(this).closest(".row").find(".technology-application").removeClass("technology-tab-active").addClass("technology-tab-inactive");
				$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
				$(this).closest(".row").find(".technology-application-content").hide();
				$(this).closest(".row").find(".technology-features-content").fadeIn(1000);
			});
		});
	</script>