﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/tw/_Layout.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-solution">
		<h1 class="page-title title-large">解決方案</h1>
		<!-- <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/products/banner_product_test.jpg" alt=""> -->
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Index", "Home", new { lang = ViewBag.language.lang })"><i class="icon-home"></i><span itemprop="name">首頁</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="#"><span itemprop="name">解決方案</span></a>
					<meta itemprop="position" content="2" />
				</li>
			</ol>
		</div>
	</div>

	<div class="breadcrumbs-pc pull-left" id="breadcrumbs-pc">
		<!-- PC版選單breadcrumbs內容 -->
		<ul class="breadcrumbs-view" id="breadcrumbs-view">
			<li class="dropdown-item">
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })">技術</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Products" })">產品</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "solutions"})" class="active">解決方案</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "ir" })" >投資人關係</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })">企業社會責任</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "About" })">了解日月光</a></li>
				</ul>
			</li>
		</ul>
	</div>

	<!-- Technology list -->
	<section id="iconlink" class="iconlink linebg-2">
		<div class="content-lg">
			<ul class="row ">
				<li class="col-xs-12 col-sm-3  text-center">
					<a href="@Url.Action("solutions_smart_living", "Solution", new { lang = ViewBag.language.lang })">
						<div class="imgbox">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/solutions_icon-01.png" alt="Fan Out" data-hover="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/solutions_icon-01_hover.png">
						</div>
						<div class="textbox">
							<h4>智能居家</h4>
						</div>
						<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
					</a>
				</li>
				<li class="col-xs-12 col-sm-3  text-center">
					<a href="@Url.Action("solutions_smart_bike", "Solution", new { lang = ViewBag.language.lang })">
						<div class="imgbox">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/solutions_icon-02.png" alt="SiP & Module Solutions" data-hover="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/solutions_icon-02_hover.png">
						</div>
						<div class="textbox">
							<h4>智能單車</h4>
						</div>
						<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
					</a>
				</li>
				<li class="col-xs-12 col-sm-3  text-center no-margin">
					<a href="@Url.Action("solutions_smart_city", "Solution", new { lang = ViewBag.language.lang })">
						<div class="imgbox">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/solutions_icon-04.png" alt="TSV-Interposer Integration" data-hover="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/solutions_icon-04_hover.png">
						</div>
						<div class="textbox">
							<h4>智慧城市</h4>
						</div>
						<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
					</a>
				</li>
				<li class="col-xs-12 col-sm-3 text-center no-margin">
					<a href="@Url.Action("solutions_smart_automotive", "Solution", new { lang = ViewBag.language.lang })">
						<div class="imgbox">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/solutions_icon-03.png" alt="Flip Chip" data-hover="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/solutions_icon-03_hover.png">
						</div>
						<div class="textbox">
							<h4>智能汽車</h4>
						</div>
						<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
					</a>
				</li>

				<!--<li class="col-xs-12 col-sm-6 col-md-4 text-center">
					<a href="javascript:;">
						<div class="imgbox">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/solutions_icon-05.png" alt="Die Stacking" data-hover="https://2311cdn.r.worldssl.net/picimages/icon/solutions_icon-05_hover.png")">
						</div>
						<div class="textbox">
							<h4>Consumer Electronics</h4>
						</div>
						<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
					</a>
				</li>
				<li class="col-xs-12 col-sm-6 col-md-4 text-center">
					<a href="javascript:;">
						<div class="imgbox">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/solutions_icon-06.png" alt="IPD" data-hover="https://2311cdn.r.worldssl.net/picimages/icon/solutions_icon-06_hover.png")">
						</div>
						<div class="textbox">
							<h4>Networking</h4>
						</div>
						<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
					</a>
				</li>		-->
			</ul>
		</div>
	</section>
<style>
	.iconlink li:last-child{border:none;}
	
</style>
