﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/tw/_Layout.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-solution">
		<h1 class="page-title title-large">解決方案</h1>
	</section>

	

	
	<!-- About Content A -->
	<section class="inside-article">
		<!--麵包屑-->
		<div class="col-xs-12 col-md-6 living-box nopadding">
			<div class="content-lg row">
				<div class="col-xs-12">
					<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("Index", "Home", new { lang = ViewBag.language.lang })"><i class="icon-home"></i><span itemprop="name">首頁</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Solution" })"><span itemprop="name">解決方案</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="@Url.Action("solutions_smart_automotive", "Solution", new { lang = ViewBag.language.lang })"><span itemprop="name">智能汽車</span></a>
					<meta itemprop="position" content="3" />
				</li>
			</ol>
				</div>
				<div class="breadcrumbs-pc pull-left" id="breadcrumbs-pc">
	<!-- PC版選單麵包屑內容 -->
		<ul class="breadcrumbs-view" id="breadcrumbs-view">
			<li class="dropdown-item">
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Technology" })">技術</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Solution" })" >產品</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Solution" }) class="active"">解決方案</a></li>
					<li><a href="@Url.Action("Index", "Html", new { lang = ViewBag.language.lang, param1 = "ir" })" >投資人關係</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR" })">企業社會責任</a></li>
					<li><a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "About" })">了解日月光</a></li>
				</ul>
			</li>
			<li class="dropdown-item">
				<a href="javascript:;">解決方案</a>
				<span class="glyphicon glyphicon-menu-right"></span>
				<ul class="dropdown-list">
					<li><a href="@Url.Action("solutions_smart_living", "Solution", new { lang = ViewBag.language.lang })">智能居家</a></li>
					<li><a href="@Url.Action("solutions_smart_bike", "Solution", new { lang = ViewBag.language.lang })">智能單車</a></li>
					<li><a href="@Url.Action("solutions_smart_city", "Solution", new { lang = ViewBag.language.lang })">智慧城市</a></li>
					<li><a href="@Url.Action("solutions_smart_automotive", "Solution", new { lang = ViewBag.language.lang })">智能汽車</a></li>
				</ul>
			</li>
		</ul>
	</div>
				<article class="col-xs-12">
					<h3 class="title">智能汽車</h3>
					<div class="content">
						<p>智能、減碳、更舒適的乘車環境與有效率的駕車，智能汽車結合環境感知與自動和輔助駕駛，加上人工智慧、通訊、娛樂等功能，半導體以高度整合的封裝技術與高規格安全的標準的IC 製造，整合各種感測器技術，如影像感測、環境感測、控制器等等，實現智能汽車的各種功能需求。日月光在車用封裝長期與國際車用大廠合作的經驗，從封裝到模組完整的一站式製造服務，且擁有車用TS16949, ISO26262等相關認證，提供下一代車用高可靠性、高整合、高效率的完整封裝解決方案。
						</p>						
					</div>
				</article>
			</div>

			<div class="living-box auto">
				<div class="auto-tool">
					<div class="s01 auto01"></div>
					<div class="s02 auto02"></div>
					<div class="s03 auto03"></div>
					<div class="s04 auto04"></div>
					<div class="s05 auto05"></div>
					<div class="s06 auto06"></div>
					<div class="s07 auto07"></div>
					<div class="s08 auto08"></div>
					<div class="s09 auto09"></div>
				</div>
			</div>
			
		</div>
		<div class="col-xs-12 col-md-6">
			<div class="content-lg row csr pro mt-32 margin-top-ali">
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

					
					<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a class="link-btn" data-link="s02" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
								<span class="black-text-in-box accordion-center-text">Safety</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>
						<div id="collapseTwo" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<div class="col-xs-12 pl-0">
									<p class="auto-img auto-box col-xs-12 col-md-9"><img style="float:left;" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/auto01-2.png" alt="">
									<span style="display: block;margin-top: 15px;"><span style="width:4px; height:4px; border-radius: 2px; background: #767777;
										display: inline-block; top:-4px; margin-left:4px"></span> 安全氣囊中央控制模組
									<span style="width:4px; height:4px; border-radius: 2px; background: #767777;
										display: inline-block; top:-4px; margin-left:4px;"></span> 安全氣囊碰撞感測器 
									<span style="width:4px; height:4px; border-radius: 2px; background: #767777;
										display: inline-block; top:-4px; margin-left:4px"></span> 事件數據記錄器 </span>
									</p>
									<ul class="sol-list auto-box col-md-3">
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/auto-icon-01.png" alt=""><br>
											
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/auto-icon-02.png" alt=""><br>
											
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/auto-icon-04.png" alt=""><br>
											
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/auto-icon-05.png" alt=""><br>
											
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/auto-icon-06.png" alt=""><br>
											
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/auto-icon-06.png" alt=""><br>
											
										</li>
									</ul>
								</div>
							</div>
							<div class="mobile-img">
								<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/auto-m02.jpg"  alt="">
							</div>
						</div>
	  				</div>

	  				<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a class="link-btn" data-link="s09" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseNight" aria-expanded="false" aria-controls="collapseNight">
								<span class="black-text-in-box accordion-center-text">ADAS</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>
						<div id="collapseNight" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<div class="col-xs-12 pl-0">
									<p class="auto-img auto-box"><img style="float:left;" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/auto01-9.png" alt=""><span style="display: block;margin-top: 15px;"><span style="width:4px; height:4px; border-radius: 2px; background: #767777;
    display: inline-block; top:-4px; margin-left:4px"></span> 先進駕駛輔助系統控制模組 
									<span style="width:4px; height:4px; border-radius: 2px; background: #767777;
    display: inline-block; top:-4px; margin-left:4px;"></span> 攝影機模組 
									<span style="width:4px; height:4px; border-radius: 2px; background: #767777;
    display: inline-block; top:-4px; margin-left:4px"></span> 感測器模組 </span><span style="width:4px; height:4px; border-radius: 2px; background: #767777;
    display: inline-block; top:-4px; margin-left:4px"></span> 車聯網通訊系統 </span></p>
									<ul class="sol-list auto-box">
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/auto-icon-01.png" alt=""><br>
											<span>Leadframe</span>
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/auto-icon-02.png" alt=""><br>
											<span>Wire Bond</span>
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/auto-icon-03.png" alt=""><br>
											<span>Flip Chip</span>
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/auto-icon-04.png" alt=""><br>
											<span>MEMS &amp; Sensors</span>
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/auto-icon-05.png" alt=""><br>
											<span>Module</span>
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/auto-icon-06.png" alt=""><br>
											<span>Advanced</span>
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/auto-icon-06.png" alt=""><br>
											<span>Inertial Measurement Unit</span>
										</li>
									</ul>
								</div>
							</div>
							<div class="mobile-img">
								<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/auto-m09.jpg"  alt="">
							</div>
						</div>
	  				</div>


	  				<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a class="link-btn" data-link="s07" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
								<span class="black-text-in-box accordion-center-text">Body</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>
						<div id="collapseSeven" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<div class="col-xs-12 pl-0">
									<p class="auto-img auto-box"><img style="float:left;" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/auto01-7.png" alt=""><span style="display: block;margin-top: 15px;"><span style="width:4px; height:4px; border-radius: 2px; background: #767777;
    display: inline-block; top:-4px; margin-left:4px"></span> 氣候控制系統 
									<span style="width:4px; height:4px; border-radius: 2px; background: #767777;
    display: inline-block; top:-4px; margin-left:4px;"></span> 免鑰匙系統 
									<span style="width:4px; height:4px; border-radius: 2px; background: #767777;
    display: inline-block; top:-4px; margin-left:4px"></span> 智慧燈光操控 </span><span style="width:4px; height:4px; border-radius: 2px; background: #767777;
    display: inline-block; top:-4px; margin-left:4px"></span> 電子控制元件 </span></p>
									<ul class="sol-list auto-box">
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/auto-icon-01.png" alt=""><br>
											<span>Leadframe</span>
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/auto-icon-02.png" alt=""><br>
											<span>Wire Bond</span>
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/auto-icon-04.png" alt=""><br>
											<span>MEMS &amp; Sensors</span>
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/auto-icon-05.png" alt=""><br>
											<span>Module</span>
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/auto-icon-06.png" alt=""><br>
											<span>Advanced</span>
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/auto-icon-06.png" alt=""><br>
											<span>Inertial Measurement Unit</span>
										</li>
									</ul>
								</div>
							</div>
							<div class="mobile-img">
								<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/auto-m07.jpg"  alt="">
							</div>
						</div>
	  				</div>


	  				<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a class="link-btn" data-link="s05" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
								<span class="black-text-in-box accordion-center-text">Infotainment</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>
						<div id="collapseFive" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<div class="col-xs-12 pl-0">
									<p class="auto-img auto-box"><img style="float:left;" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/auto01-5.png" alt=""><span style="display: block;margin-top: 15px;"><span style="width:4px; height:4px; border-radius: 2px; background: #767777;
    display: inline-block; top:-4px; margin-left:4px"></span> 車用音響 
									<span style="width:4px; height:4px; border-radius: 2px; background: #767777;
    display: inline-block; top:-4px; margin-left:4px;"></span> 導航系統 
									<span style="width:4px; height:4px; border-radius: 2px; background: #767777;
    display: inline-block; top:-4px; margin-left:4px"></span> 車載資訊娛樂系統</span><span style="width:4px; height:4px; border-radius: 2px; background: #767777;
    display: inline-block; top:-4px; margin-left:4px"></span> 後座影音娛樂系統 </span></p>
									<ul class="sol-list auto-box small-m">
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/auto-icon-01.png" alt=""><br>
											<span>Leadframe</span>
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/auto-icon-02.png" alt=""><br>
											<span>Wire Bond</span>
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/auto-icon-07.png" alt=""><br>
											<span>Wafer Level</span>
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/auto-icon-04.png" alt=""><br>
											<span>MEMS &amp; Sensors</span>
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/auto-icon-05.png" alt=""><br>
											<span>Module</span>
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/auto-icon-06.png" alt=""><br>
											<span>Advanced</span>
										</li>
									</ul>
								</div>
							</div>
							<div class="mobile-img">
								<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/auto-m05.jpg"  alt="">
							</div>
						</div>
	  				</div>


	  				<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a class="link-btn" data-link="s04" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
								<span class="black-text-in-box accordion-center-text">Chassis</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>
						<div id="collapseFour" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<div class="col-xs-12 pl-0">
									<p class="auto-img auto-box col-md-9"><img style="float:left;" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/auto01-4.png" alt=""><span style="display: block;margin-top: 15px;"><span style="width:4px; height:4px; border-radius: 2px; background: #767777;
    display: inline-block; top:-4px; margin-left:4px"></span> 防鎖死煞車系統 
									<span style="width:4px; height:4px; border-radius: 2px; background: #767777;
    display: inline-block; top:-4px; margin-left:4px;"></span> 車身動態穩定系統 
									<span style="width:4px; height:4px; border-radius: 2px; background: #767777;
    display: inline-block; top:-4px; margin-left:4px"></span> 胎壓偵測 </span><span style="width:4px; height:4px; border-radius: 2px; background: #767777;
    display: inline-block; top:-4px; margin-left:4px"></span> 線控煞車與轉向 </span></p>
									<ul class="sol-list auto-box col-md-3">
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/auto-icon-01.png" alt=""><br>
											
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/auto-icon-02.png" alt=""><br>
											
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/auto-icon-07.png" alt=""><br>
											
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/auto-icon-04.png" alt=""><br>
											
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/auto-icon-05.png" alt=""><br>
											
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/auto-icon-06.png" alt=""><br>
											
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/auto-icon-06.png" alt=""><br>
											
										</li>
									</ul>
								</div>
							</div>
							<div class="mobile-img">
								<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/auto-m04.jpg"  alt="">
							</div>
						</div>
	  				</div>


					<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a class="link-btn" data-link="s01" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
								<span class="black-text-in-box accordion-center-text">EV/HEV</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>
						<div id="collapseOne" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<div class="col-xs-12 pl-0">
									<p class="auto-img auto-box"><img style="float:left;" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/auto01-1.png" alt=""><span style="display: block;margin-top: 15px;"><span style="width:4px; height:4px; border-radius: 2px; background: #767777;
    display: inline-block; top:-4px; margin-left:4px"></span> 電子驅動控制
									<span style="width:4px; height:4px; border-radius: 2px; background: #767777;
    display: inline-block; top:-4px; margin-left:4px;"></span> 電池管理 
									<span style="width:4px; height:4px; border-radius: 2px; background: #767777;
    display: inline-block; top:-4px; margin-left:4px"></span> 電量變流器 </span></p>
									<ul class="sol-list auto-box">
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/auto-icon-01.png" alt=""><br>
											<span>Leadframe</span>
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/auto-icon-02.png" alt=""><br>
											<span>Wire Bond</span>
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/auto-icon-04.png" alt=""><br>
											<span>MEMS &amp; Sensors</span>
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/auto-icon-05.png" alt=""><br>
											<span>Module</span>
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/auto-icon-06.png" alt=""><br>
											<span>Advanced</span>
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/auto-icon-06.png" alt=""><br>
											<span>Inertial Measurement Unit</span>
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/auto-icon-06.png" alt=""><br>
											<span>IGBT+Coupler</span>
										</li>
									</ul>
								</div>
							</div>
							<div class="mobile-img">
								<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/auto-m01.jpg"  alt="">
							</div>
						</div>
	  				</div>


	  				<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a class="link-btn" data-link="s06" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
								<span class="black-text-in-box accordion-center-text">Instrumentation</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>
						<div id="collapseSix" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<div class="col-xs-12 pl-0">
									<p class="auto-img auto-box"><img style="float:left;" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/auto01-6.png" alt=""><span style="display: block;margin-top: 15px;"><span style="width:4px; height:4px; border-radius: 2px; background: #767777;
    display: inline-block; top:-4px; margin-left:4px"></span> 儀表板 
									<span style="width:4px; height:4px; border-radius: 2px; background: #767777;
    display: inline-block; top:-4px; margin-left:4px;"></span> 抬頭顯示 
									</span></p>
									<ul class="sol-list auto-box small-m">
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/auto-icon-02.png" alt=""><br>
											<span>Wire Bond</span>
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/auto-icon-07.png" alt=""><br>
											<span>Wafer Level</span>
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/auto-icon-03.png" alt=""><br>
											<span>Flip Chip</span>
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/auto-icon-04.png" alt=""><br>
											<span>MEMS &amp; Sensors</span>
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/auto-icon-05.png" alt=""><br>
											<span>Module</span>
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/auto-icon-06.png" alt=""><br>
											<span>Advanced</span>
										</li>
									</ul>
								</div>
							</div>
							<div class="mobile-img">
								<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/auto-m06.jpg"  alt="">
							</div>
						</div>
	  				</div>


	  				<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a class="link-btn" data-link="s08" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
								<span class="black-text-in-box accordion-center-text">Powertrain</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>
						<div id="collapseEight" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<div class="col-xs-12 pl-0">
									<p class="auto-img auto-box"><img style="float:left;" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/auto01-8.png" alt=""><span style="display: block;margin-top: 15px;"><span style="width:4px; height:4px; border-radius: 2px; background: #767777;
    display: inline-block; top:-4px; margin-left:4px"></span> 引擎控制模組 
									<span style="width:4px; height:4px; border-radius: 2px; background: #767777;
    display: inline-block; top:-4px; margin-left:4px;"></span> 變速箱控制模組 </span></p>
									<ul class="sol-list auto-box">
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/auto-icon-01.png" alt=""><br>
											<span>Leadframe</span>
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/auto-icon-02.png" alt=""><br>
											<span>Wire Bond</span>
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/auto-icon-04.png" alt=""><br>
											<span>MEMS &amp; Sensors</span>
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/auto-icon-05.png" alt=""><br>
											<span>Module</span>
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/auto-icon-06.png" alt=""><br>
											<span>Advanced</span>
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/auto-icon-06.png" alt=""><br>
											<span>Inertial Measurement Unit</span>
										</li>
									</ul>
								</div>
							</div>
							<div class="mobile-img">
								<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/auto-m08.jpg"  alt="">
							</div>
						</div>
	  				</div>


	  				<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a class="link-btn" data-link="s03" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
								<span class="black-text-in-box accordion-center-text">Aftermarket</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>
						<div id="collapseThree" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<div class="col-xs-12 pl-0">
									<p class="auto-img auto-box"><img style="float:left;" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/auto01-3.png" alt=""><span style="display: block;margin-top: 15px;"><span style="width:4px; height:4px; border-radius: 2px; background: #767777;
    display: inline-block; top:-4px; margin-left:4px"></span> 可攜式導航裝置 
									<span style="width:4px; height:4px; border-radius: 2px; background: #767777;
    display: inline-block; top:-4px; margin-left:4px;"></span> 車用音響 
									<span style="width:4px; height:4px; border-radius: 2px; background: #767777;
    display: inline-block; top:-4px; margin-left:4px"></span> 車載資訊娛樂系統 <span style="width:4px; height:4px; border-radius: 2px; background: #767777;
    display: inline-block; top:-4px; margin-left:4px"></span> 車用錄影系統</span></p>
									<ul class="sol-list auto-box small-m">
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/auto-icon-01.png" alt=""><br>
											<span>Leadframe</span>
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/auto-icon-02.png" alt=""><br>
											<span>Wire Bond</span>
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/auto-icon-03.png" alt=""><br>
											<span>Flip Chip</span>
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/auto-icon-04.png" alt=""><br>
											<span>MEMS &amp; Sensors</span>
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/auto-icon-05.png" alt=""><br>
											<span>Module</span>
										</li>
										<li>
											<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/auto-icon-06.png" alt=""><br>
											<span>Advanced</span>
										</li>
									</ul>
								</div>
							</div>
							<div class="mobile-img">
								<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/solutions/auto-m03.jpg"  alt="">
							</div>
						</div>
	  				</div>


	  				



				</div>
			</div>
		</div>

		<div class="preload">
			<div class="auto01 change"></div>
			<div class="auto02 change"></div>
			<div class="auto03 change"></div>
			<div class="auto04 change"></div>
			<div class="auto05 change"></div>
			<div class="auto06 change"></div>
			<div class="auto07 change"></div>
			<div class="auto08 change"></div>
			<div class="auto09 change"></div>
		</div>
	</section>	
<script>
$( document ).ready(function() {
	$('.accordion-center-text').click(function(e){
		if ($(this).hasClass('black-text-in-box')) {
			$('.blue-text-in-box').removeClass('blue-text-in-box').addClass('black-text-in-box');
			$(this).removeClass("black-text-in-box");
			$(this).addClass("blue-text-in-box");      //add the class to the clicked element
		} else {
			$(this).removeClass("blue-text-in-box");
			$(this).addClass("black-text-in-box");      //add the class to the clicked element
		}
	});
	
	$('.link-btn').click(function(){
		// 取得被點擊元素的data-link屬性
		var target = $(this).data('link');
		$('.auto-tool div.'+target).toggleClass('change').siblings().removeClass('change');
	});
	$( "#star-note" ).hide();
	$('.star-note').hover(
		function() {
	  		$( "#star-note" ).show();
	  	},function() {
	  		$( "#star-note" ).hide();
	  	
	});
})
</script>