﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/ch/_Layout_seo.cshtml";
    ViewBag.Title = "先進晶圓級封裝 ";
    ViewBag.enURL = "/en/products/assembly_offerings/wafer_level_package_solution/awlp";
    ViewBag.zhURL = "/ch/products/assembly_offerings/wafer_level_package_solution/awlp";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-product-csp">
		<h1 class="page-title title-large">先進晶圓級封裝</h1>
	</section>

	<!--麵包屑-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch/products/assembly"><span itemprop="name">封裝服務</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch/products/assembly_offerings/wafer_level_package_solution"><span itemprop="name">晶圓級封裝</span></a>
					<meta itemprop="position" content="2" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch/products/assembly_offerings/wafer_level_package_solution/awlp"><span itemprop="name">aWLP</span></a>
					<meta itemprop="position" content="3" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->
	
	<!-- Products Content -->
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<div class="col-xs-6 col-sm-4 col-md-2 col-lg-2 nopadding"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/products/aWLP.png"></div>
				<div class="clearfix"></div>
				<h3 class="title">aWLP</h3>
				<p>
					aWLP has higher I/O than wafer level package. It is a substrate-less solution with small form factor, improved electrical and thermal performance. aWLP is a die down fan out wafer level package with molding compound surrounded, ideally designed for communication devices with constrained space.
				</p>
			</article>
		</div>
	</section>
	<section class="inside-article">
		<div class="content-lg row">
			<br>
			<div class="col-xs-6">
				<div class="technology-application technology-tab-active">Application</div>
			</div>
			<div class="col-xs-6">
				<div class="technology-features technology-tab-inactive">Features</div>
			</div>
			<div class="clearfix"></div>
			<div class="technology-application-content">
				<div class="col-xs-12 col-md-12">
					<ul class="nopadding">
						<li>Baseband</li>
						<li>RF</li>
						<li>Codec</li>
						<li>PMICs</li>
						<li>Car Radar</li>
					</ul>
				</div>
			</div>
			<div class="technology-features-content">
				<div class="col-xs-12 col-md-12">
					<ul class="nopadding">
						<li>Improved electrical and thermal performance</li>
						<li>Die down FOWLP with molding compound surrounded</li>
						<li>Single die package & 2 dies (side-by-side) embedded structure approached</li>
						<li>Finer line width/space = 2/4um</li>
						<li>3 layers RDLs approached (min.)</li>
						<li>Support package size up to 10 x 10mm (max.)</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<br>
	<section class="inside-article">
		<div class="content-lg row">
			<div class="content-wrapper col-md-12 tech-cont-link">
				<a class="phone" href="@Url.Action("plants_offices_ase", "About", new { lang = ViewBag.language.lang })"><span class="glyphicon glyphicon-earphone"></span>  聯絡我們</a><br><br>
			</div>
			<div class="clearfix"></div>
		</div>
	</section>
	<section class="csr-bg">
		<div class="content-lg row">
			<div class="col-xs-12 csr">

				<div class="col-md-6 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "wafer_level_package_solution", param2 = "acsp_wlcsp" })">
							<span class="blue-text-in-box">aCSP/WLCSP</span>
							<div class="circle_button-wrapper pull-right">
								<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>
			
				<div class="col-md-6 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "wafer_level_package_solution", param2 = "awlp" })">
							<span class="blue-text-in-box">aWLP</span>
							<div class="circle_button-wrapper">
								<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>
			
				<div class="col-md-6 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "wafer_level_package_solution", param2 = "wl_ipd" })">
							<span class="blue-text-in-box">WL IPD</span>
							<div class="circle_button-wrapper">
								<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-6 bgnews-list list-base">
					<div class="content">
						<a href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "wafer_level_package_solution", param2 = "wl_mems" })">
							<span class="blue-text-in-box">WL MEMS</span>
							<div class="circle_button-wrapper">
								<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
							</div>
						</a>
					</div>
				</div>

			</div>
		</div>
	</section>
	<br>
	<section class="inside-article">
		<div class="content-lg row">
			<div class="col-xs-12">
				<div class="technology-bottom-flex">
					<div class="technology-bottom"><a class="" href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "bumping_solution" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/products_icon-01.png"><br>Wafer Bumping Solution</a></div>
					<div class="technology-bottom opacity-50"><a class="" href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "wafer_level_package_solution" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/products_icon-02.png"><br>Wafer Level Package Solution</a></div>
					<div class="technology-bottom"><a class="" href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "flip_chip_solution" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/products_icon-03.png"><br>Flip Chip Solution</a></div>
					<div class="technology-bottom"><a class="" href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "sip_module_solutions" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/products_icon-04.png"><br>SiP & Module<br>Solution</a></div>
					
					<div class="technology-bottom"><a class="" href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "wire_bond_bga_solution" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/products_icon-05.png"><br>Wire Bond BGA Solution</a></div>
					<div class="technology-bottom"><a class="" href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "leadframe_solution" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/products_icon-06.png"><br>Leadframe Solution</a></div>
				</div>
			</div>
			<!-- products carousel -->
			<div class="row">
				<div class="col-xs-12">
					<div class="container technology-carousel">
						<div class='row'>
							<div class='col-xs-12'>
								<div class="carousel slide media-carousel" id="media">
									<!-- Indicators -->
									<ol class="carousel-indicators">
										<li data-target="#media" data-slide-to="0" class="active"></li>
										<li data-target="#media" data-slide-to="1"></li>
									</ol>
									<div class="carousel-inner">
										<div class="item  active">
											<div class="row">
												<div class="col-xs-4">
													<a class="" href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "bumping_solution" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/products_icon-01.png"><br>Bumping<br>Solution</a>
												</div>          
												<div class="col-xs-4">
													<a class="" href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "wafer_level_package_solution" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/products_icon-02.png"><br>Wafer Level Package Solution</a>
												</div>
												<div class="col-xs-4">
													<a class="" href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "flip_chip_solution" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/products_icon-03.png"><br>Flip Chip<br>Solution</a>
												</div>        
											</div>
										</div>
										<div class="item">
											<div class="row">
												<div class="col-xs-4">
													<a class="" href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "sip_module_solutions" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/products_icon-04.png"><br>SiP & Module<br>Solution</a>
												</div>
												<div class="col-xs-4">
													<a class="" href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "wire_bond_bga_solution" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/products_icon-05.png"><br>Wire Bond BGA Solution</a>
												</div>        
												<div class="col-xs-4">
													<a class="" href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "leadframe_solution" })"><img alt="" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/icon/products_icon-06.png"><br>Leadframe Solution</a>
												</div>  
											</div>
										</div>
									</div>
									<br>
									<a data-slide="prev" href="#media" class="left carousel-control">‹</a>
									<a data-slide="next" href="#media" class="right carousel-control">›</a>
								</div>                          
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end products carousel -->
		</div>
	</section>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

	<script>
		$(document).ready(function() { 
			$(".technology-features-content").hide();

			$('.technology-application').click(function() {
				$(this).closest(".row").find(".technology-features").removeClass("technology-tab-active").addClass("technology-tab-inactive");
				$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
				$(this).closest(".row").find(".technology-features-content").hide();
				$(this).closest(".row").find(".technology-application-content").fadeIn(1000);
			});
			$('.technology-features').click(function() {
				$(this).closest(".row").find(".technology-application").removeClass("technology-tab-active").addClass("technology-tab-inactive");
				$(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
				$(this).closest(".row").find(".technology-application-content").hide();
				$(this).closest(".row").find(".technology-features-content").fadeIn(1000);
			});
		});
	</script>