﻿@{
    Layout = "~/Areas/Backend/Views/CsrReport/index.cshtml";
    Dictionary<string, string> error = (Dictionary<string, string>)TempData["error"];
    string str = "";
}

@using web.Models
@using web.Common
@model csr_report

<div class="box-header with-border">
    <h3 class="box-title"></h3>
    <div class="box-tools pull-right">
        <a class="btn btn-warning" href="@Url.Action("List")" role="button"> Back </a>
    </div>
</div>
<div class="box-body form-horizontal">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.HiddenFor(x => x.id)
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group ">
                    <label class="col-sm-2 control-label">語系:</label>
                    <div class="col-sm-4">
                        @{
                            str = "lang";
                        }
                        <select class="form-control" name="@(str)">
                            <option value="en" @(Model.lang == "en" ? "selected" : "")>English</option>
                            <option value="ch" @(Model.lang == "ch" ? "selected" : "")>繁體中文</option>
                        </select>
                        <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label"><i class="required"> * </i> 報告標題:</label>
            <div class="col-sm-4">
                @{
                    str = "title";
                }
                @Html.TextBox(str, Model.title, new { @class = "form-control", maxlength = 250, @required = "required" })
                <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
            </div>
        </div>
        <div class="form-group ">
            <label class="col-sm-2 control-label"><i class="required"> * </i> 圖示:</label>
            <div class="col-sm-4">
                @{
                    str = "img_filename";
                }

                <div id="img_explorer" class="file_explorer"></div>
                <div>建議圖片尺寸：150 * 150 px</div>
                <img src="@(ViewBag.website_virtual_path + Model.img_filename)" id="preview_img_filename" style="max-width:270px; max-height:270px; margin-right:10px;margin-top:5px;" onError="this.style.display = 'none'" />
                <div id="btn_cancel_img_filename" style="@(string.IsNullOrEmpty(Model.img_filename) ? "display:none" : "")">
                    <input value="Delete" type="button" class="btn" />
                </div>

                <input type="hidden" id="img1_x1" name="img1_x1" value="" runat="server" />
                <input type="hidden" id="img1_y1" name="img1_y1" value="" runat="server" />
                <input type="Hidden" id="img1_x2" name="img1_x2" value="" runat="server" />
                <input type="hidden" id="img1_y2" name="img1_y2" value="" runat="server" />
                <input type="hidden" id="img1_scale" name="img1_scale" value="" runat="server" />

                <input type="hidden" name="img_filename" id="img_filename" value="@(ViewBag.website_virtual_path + Model.img_filename)" />
                <input type="hidden" name="old_img_filename" id="old_img_filename" value="@(ViewBag.website_virtual_path + Model.img_filename)" />
                <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
            </div>
        </div>
        <div class="form-group ">
            <label class="col-sm-2 control-label"><i class="required"> * </i> 檔案上傳:</label>
            <div class="col-sm-4">
                @{
                    str = "filename";
                }

                <div id="file_explorer" class="file_explorer"></div>
                <div>僅限 .pdf 檔</div>
                <a id="preview_filename" style="max-width:270px; max-height:270px; margin-right:10px;margin-top:5px;" onError="this.style.display = 'none'" href="@(ViewBag.website_virtual_path + Model.filename)" target="_blank">@(Model.filename)</a>
                <div id="btn_cancel_filename" style="@(string.IsNullOrEmpty(Model.filename) ? "display:none" : "")">
                    <input value="Delete" type="button" class="btn" />
                </div>
                <input type="hidden" name="filename" id="filename" value="@(ViewBag.website_virtual_path + Model.filename)" />
                <input type="hidden" name="old_filename" id="old_filename" value="@(ViewBag.website_virtual_path + Model.filename)" />
                <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label"> 啟用:</label>
            <div class="col-sm-10 iCheck">
                @{
                    str = "launch";
                }
                <input name="launch" id="launch" value="1" type="checkbox" @(Model.launch == 1 ? "checked" : "") class="form-control">
                <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 col-sm-offset-2">
                <button class="btn btn-success btn-block" type="submit">Submit</button>
            </div>
            <div class="col-sm-2">
                <button class="btn btn-danger btn-block" type="reset">Reset</button>
            </div>
        </div>
    }
</div>
@{
    ViewBag.media_bank_physical_path = Server.MapPath(Url.Content("~/" + ViewBag.media_bank_path)).Replace("\\", "\\\\");
    ViewBag.media_bank_virtual_path = Url.Content("~/" + ViewBag.media_bank_path);

    List<Dictionary<string, int>> ratio_list = (List<Dictionary<string, int>>)ViewBag.ratio;
}
<!-- jqueryFileTree -->
<link rel="stylesheet" href="~/Content/jqueryFileTree.css">
<link href="~/Content/imgareaselect/imgareaselect-default.css" rel="stylesheet" />
<script src="~/Scripts/imgareaselect/jquery.imgareaselect.pack.js"></script>
<script src="~/Scripts/jqueryfiletree/jqueryFileTree.js"></script>
<script language="javascript" type="text/javascript">
    $(document).ready(
        function () {
            $('#file_explorer').fileTree({
                root: '@ViewBag.media_bank_physical_path',
                script: '@Url.Content("~/Scripts/jqueryfiletree/jqueryFileTree.aspx")',
                expandSpeed: 1
                ,collapseSpeed: 1
                ,filter: "pdf"
            },
            function (file) {
                file = file.replace( /@(ViewBag.media_bank_physical_path)/i, "@(ViewBag.media_bank_virtual_path)" );

                var file_string_ary = file.split("\\");

                $("#filename").val(file);
                $("#preview_filename").html('已選擇檔案 : ' + file_string_ary[file_string_ary.length - 1]);
                $("#preview_filename").css("display", "");
                $("#btn_cancel_filename").show();
            });
            $("#btn_cancel_filename").click(function()
            {
                $("#filename").val('');
                $("#preview_filename").hide();
                $("#btn_cancel_filename").hide();
            });



            $('#img_explorer').fileTree({
                root: '@ViewBag.media_bank_physical_path',
                script: '@Url.Content("~/Scripts/jqueryfiletree/jqueryFileTree.aspx")',
                //folderEvent: 'click',
                expandSpeed: 1
                ,collapseSpeed: 1
                ,filter: "jpg,gif,png,jpeg,bmp"
            },
            function (file) {
                file = file.replace( /@(ViewBag.media_bank_physical_path)/i, "@(ViewBag.media_bank_virtual_path)" );

                $("#img_filename").val(file);
                $("#preview_img_filename").attr("src", file);
                $("#btn_cancel_img_filename").show();
                var max_width = 600;

                var img = new Image();
                img.src = file;
                img.onload = function()
                {
                    $('input[name="img1_scale"]').val(1);
                    if (img.width > max_width) {
                        $('input[name="img1_scale"]').val(max_width / img.width);
                        img.width = max_width;
                    }

                    $("#preview_img_filename").css("display", "");
                }


                $('#preview_img_filename').imgAreaSelect(
                {
                    @if( ratio_list.Count > 0 )
                    {
                        @:aspectRatio: "@(ratio_list[0]["width"]):@(ratio_list[0]["height"])",
                    }
                    fadeSpeed: 100,
                    handles: true,
                    instance: true,
                    onSelectChange: preview
                });

            });
            $("#btn_cancel_img_filename").click(function()
            {
                $("#img_filename").val('');
                $("#preview_img_filename").hide();
                $("#btn_cancel_img_filename").hide();
            });
        }
    );
    function preview(img, selection)
    {
        $('input[name="img1_x1"]').val(selection.x1);
        $('input[name="img1_y1"]').val(selection.y1);
        $('input[name="img1_x2"]').val(selection.x2);
        $('input[name="img1_y2"]').val(selection.y2);
    }

</script>
