﻿@{
    Layout = "~/Areas/Backend/Views/Shared/_layout.cshtml";
}

<div class="box box-danger">
    <div class="box-body">
        <div class="nav-tabs-custom nav-primary">
            <ul class="nav nav-tabs">
                <li class="@(ViewBag.current_tab == "CsrReport"?"active":"")">
                    <a href="@Url.Action("List", "CsrReport", new { id = ViewBag.node.wm_url_id })">CSR 報告管理</a>
                </li>
                <li class="@(ViewBag.current_tab == "Count"?"active":"")">
                    <a href="@Url.Action("List", "Count", new { id = ViewBag.node.wm_url_id })">下載次數報表 (總計)</a>
                </li>
                <li class="@(ViewBag.current_tab == "FormCount"?"active":"")">
                    <a href="@Url.Action("List", "FormCount", new { id = ViewBag.node.wm_url_id })">下載次數報表 (有填寫問卷)</a>
                </li>
            </ul>
        </div>
        <div class="tab-content">
            @RenderBody()
        </div>
    </div>
    <div class="box-footer"></div>
</div>