﻿
@{
    Layout = "~/Areas/Backend/Views/Shared/_layout.cshtml";
}

<div class="box box-danger">
    <div class="box-body">
        <div class="nav-tabs-custom nav-primary">
            <ul class="nav nav-tabs">
                <li class="@(ViewBag.current_tab == "Blog"?"active":"")">
                    <a href="@Url.Action("List", "Blog", new { id = ViewBag.node.wm_url_id })">文章管理</a>
                </li>
                <li class="@(ViewBag.current_tab == "Blogtype"?"active":"")">
                    <a href="@Url.Action("List", "Blogtype", new { id = ViewBag.node.wm_url_id })">分類管理</a>
                </li>
                <li class="@(ViewBag.current_tab == "Blogauthor"?"active":"")">
                    <a href="@Url.Action("List", "Blogauthor", new { id = ViewBag.node.wm_url_id })">作者管理</a>
                </li>
            </ul>
        </div>
        <div class="tab-content">
            @RenderBody()
        </div>
    </div>
    <div class="box-footer"></div>
</div>