﻿
@{
    Layout = "~/Areas/Backend/Views/Blogtype/index.cshtml";
}
@using web.Models
@using web.Common
@using web.Areas.backend.Models
@model List<blog_type>

<div class="box-header with-border">
    <h3 class="box-title"></h3>
    <div class="row">
        @using (Html.BeginForm("List", "Blogtype", FormMethod.Get))
        {
            <div class="col-xs-12">
                <button class="btn btn-primary" id="add_btn" style="float:right" type="submit">新增分類</button>
            </div>
        }
    </div>
    <div class="box-tools pull-right">
    </div>
</div>

<div class="table-responsive">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>分類名稱(中)</th>
                <th>分類名稱(英)</th>
                <th>文章總數</th>
                <th>編輯</th>
                <th>刪除</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() > 0)
            {
                foreach (blog_type item in Model)
                {
                    string dsp = (Json.Decode(item.name)["ch"] == "未分類") ? "display:none" : "";
                    <tr>
                        <td class="ch_name">@Html.Raw(Json.Decode(item.name)["ch"])</td>
                        <td class="en_name">@Html.Raw(Json.Decode(item.name)["en"])</td>
                        <td>@(item.blog.Count)</td>
                        <td>
                            <div class="hidden id" data-id="@(item.id)"></div>
                            <a class="btn btn-warning btn-sm editbtn"  style="@(dsp)"><i class="fa fa-edit"></i></a>
                        </td>
                        <td>
                            @using (Html.BeginForm("DeleteData", "Blogtype", new { id = ViewBag.node.wm_url_id, param1 = item.id }, FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <button class="btn btn-danger btn-sm delete_btn" style="@(dsp)" type="submit"><i class="fa fa-trash-o"></i></button>
                            }
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="5" align="center">Empty</td>
                </tr>
            }
        </tbody>
    </table>
</div>


<!-- Modal -->
<div class="modal" id="addModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h3 class="modal-title" id="h3Title">新增分類</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body  d-flex justify-content-center" style="height:100px">
                @*<p>Modal body text goes here.</p>*@
                <div class="col-xs-6">
                    <input type="hidden" id="hdid"/>
                    <input type="text" id="ch_name" class="form-control" value="" placeholder="中文分類" /><br><br>
                </div>
                <div class="col-xs-6">
                    <input type="text" id="en_name" class="form-control" value="" placeholder="英文分類" /><br><br>
                </div>
            </div>
            <div class="modal-footer">
                @Html.AntiForgeryToken()
                <button type="button" id="confirm_btn" class="btn btn-primary">儲存</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#add_btn').click(function (e) {
            e.preventDefault();
            $("#hdid").val(0);
            $("#h3Title").text("新增分類");
            setTimeout(
                function () {
                    $('#addModal').modal('show');
                }, 500);
        });

        $("tr .editbtn").click(function (e) {
            e.preventDefault();
            $token = $(this).siblings('input[name="__RequestVerificationToken"]').val();
            $id = $(this).siblings('div.id').data('id');
            //console.log($id)
            $("#ch_name").val($(this).closest("tr").find(".ch_name").text());
            $("#en_name").val($(this).closest("tr").find(".en_name").text());
            $("#hdid").val($id);
            $("#h3Title").text("修改分類");
            e.preventDefault();
            setTimeout(
                function () {
                    $('#addModal').modal('show');
                }, 500);
        })



        $('#confirm_btn').click(function (e) {
            e.preventDefault();
            $label = $(this);
            $id = $("#hdid").val();
            $token = $(this).siblings('input[name="__RequestVerificationToken"]').val();
            console.log($id);
            $.ajax({
                url: '@(Url.Action("AjaxPostData"))',
                type: "POST",
                cache: false,
                async: true,
                data: { param1:$id, en_name: $("#en_name").val(), ch_name: $("#ch_name").val(), __RequestVerificationToken: $token },
                datatype: "json",
                success: function (res) {
                    if (res.code == 0)
                        window.location.reload();
                    else {
                        swal({ title: res.message, timer: 3000, type: 'error' })
                    }
                }
            });
        });
    })


</script>