﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/ch/_Layout_seo.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-csr">
		<h1 class="page-title title-large">企業社會責任</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/ch"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
			</ol>
		</div>
	</div>

<!-- Auto Remove Breadcrumbs-PC -->

	<section class="inside-article">
		<div class="content-lg row csr">
			<article class="col-xs-12">
				<h3 class="title">供應商發展</h3>
				<p>
					日月光認為主動參與供應商發展是確保供應鏈永續發展的關鍵。我們透過提供教育訓練、說明會和研討會等來強化供應商能力與面對日益變動的永續趨勢，以幫助供應商建立永續意識和能力以提升其永續性。
				</p>

				<h4 class="sub-title">綠色供應鏈計畫</h4>
				<div class="col-md-7" style="padding-left: 0">
					<p>
						日月光與大學及產業協會合作實施為期三年的綠色供應鏈計劃(2015~2017)，以提昇供應商的永續績效和創造供應商的永續價值。綠色供應鏈推動計畫包含下列面向：「帶動產業創新」、「運用大數據先進技術」與「深耕能力建置」。
					</p>
					
				</div>
				<div class="col-md-5 picture-padding-2"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/supplier_development1.jpg"></div>
				<h4 class="sub-title">供應商永續教育訓練</h4>
				<p>
					為強化供應商因應全球永續趨勢與風險的能力，日月光在多個廠區舉辦多場且不同議題的永續教育訓練並傳達我們供應鏈管理的要求。
				</p>
			</article>
			<article class="col-xs-12">
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
					<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
								<span class="black-text-in-box accordion-center-text">永續發展論壇</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>
						<div id="collapseOne" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<div class="col-md-8">
									<p>為協助供應商能順利接軌及早因應法規要求，日月光高雄廠舉辦永續發展論壇，共計63家供應商參與，就溫室氣體管理法規範、企業永續等相關議題與供應商進行分享。議題包含：台灣溫室氣體減量及管理法規說明與產業因應、企業永續與非財務資訊揭露、風險管理與企業社會責任之關聯。</p>
								</div>
								<div class="col-md-4"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/supplier_development2.jpg"></div>
							</div>
						</div>
	  				</div>

	  				<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
								<span class="black-text-in-box accordion-center-text">EICC 條文說明會</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>

						<div id="collapseTwo" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingTwo">
							<div class="panel-body">
								<div class="col-md-8">
									<p>為強化供應商對EICC行為準則的落實與實踐，日月光馬來西亞廠舉辦2天的EICC條文說明會，共計160家供應商、承攬商及人力與外包服務廠商參與。透過此訓練藉以提升供應商對ICC的認知與執行。</p>
								</div>
								<div class="col-md-4"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/supplier_development3.jpg"></div>
							</div>
						</div>
	  				</div>

	  				<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
								<span class="black-text-in-box accordion-center-text">永續說明會</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>

						<div id="collapseThree" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingThree">
							<div class="panel-body">
								<div class="col-md-8">
									<p>2016年，USI分別於張江廠、深圳廠、昆山廠與台灣廠舉辦四場次的供應商永續教育訓練，共計194家供應商參與。透過此說明會傳達USI 的管理要求與共同推動永續議題，確保供應商了解並遵守USI永續管理要求、EICC條文、USI綠色產品要求、衝突礦產法規、日月光集團衝突礦產管理政策和衝突礦產稽核、及聯合國17項永續發展目標(SDGs)。</p>
								</div>
								<div class="col-md-4"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/supplier_development4.jpg"></div>
							</div>
						</div>
	  				</div>

	  				<div class="col-md-12 bgnews-list list-base panel">
						<div class="content">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
								<span class="black-text-in-box accordion-center-text">安全衛生家族</span>
								<div class="circle_button-wrapper pull-right">
									<div class="circle_button darkgray pull-right"><i class="icon-arrow-right"></i></div>
								</div>
							</a>
						</div>

						<div id="collapseFour" class="panel-collapse collapse no-border" role="tabpanel" aria-labelledby="headingFour">
							<div class="panel-body">
								<div class="col-md-8">
									<p>為提升承攬商對安全衛生意識，降低職業傷害。2016年，日月光中壢廠舉辦4場次的承攬商安全衛生教育訓練/ 宣導活動，內容包含: 安全衛生法規宣導、職業災害法律責任宣導、防護具使用及宣導、實際操作演練。日月光中壢廠以「大廠帶小廠」的方式，協助及輔導廠商改善工作環境，提升安全衛生扎根之理念，藉由教育訓練與實際操作提升承攬商對於職業災害法規趨勢和宣導安全衛生觀念。未來，將持續擴大專案輔導對象至供應商。</p>
								</div>
								<div class="col-md-4"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/supplier_development5.jpg"></div>
							</div>
						</div>
	  				</div>
	  			</div>

				<h4 class="sub-title">日月光最佳供應商頒獎典禮</h4>
				<div class="col-md-7" style="padding-left: 0">
					<p>
						日月光集團2017年度「供應商頒獎典禮」以「邁向永續未來」為主題，表揚並肯定供應商過去一年的努力。除了頒發「最佳供應商獎」鼓勵綜合績效表現卓越的供應商，更頒發首屆「供應商永續經營獎」，以彰顯供應商夥伴於永續經營的優異表現。
					</p>
				</div>
				<div class="col-md-5 picture-padding-2"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/supplier_development6.jpg"></div>
				<div class="clearfix"></div>
				<br>
				<div class="col-md-12 blue-box">
					<div class="col-md-7 nopadding">
						<h4 class="sub-title">日月光集團供應商永續經營獎</h4>
						<p>
							日月光於2017年度「供應商頒獎典禮」首次頒發「日月光集團供應商永續經營獎」。在評選面向參考EICC電子行業公民聯盟之行為準則、CDP碳揭露專案、聯合國企業和人權指導原則、工作基本原則與權利宣言、世界人權宣言等國際標準與倡議擬定而成，涵蓋六個面向：永續管理、供應鏈管理、環境保護、健康與安全、勞動權益和永續性績效，期望在供應商管理上可以更全面且完整的落實永續發展。<br><br>

							「供應商永續經營獎」的頒發除了落實日月光採購政策中供應鏈永續績效的重要性與承諾，也藉此傳達落實社會責任不再是選擇，而是必要的條件，藉此引導供應商重視永續經營與日月光共同邁向永續未來。
						</p>
					</div>
					<div class="col-md-5 nopadding"><br><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images_ch/csr/supplier_development7.jpg"></div>
				</div>
			</article>
		</div>
		<br>
	</section>