﻿@{
    Layout = "~/Areas/Backend/Views/Contact/index.cshtml";
    Dictionary<string, string> error = (Dictionary<string, string>)TempData["error"];
    string str = "";
}

@using web.Models
@using web.Common
@model contact

<div class="box-header with-border">
    <h3 class="box-title"></h3>
    <div class="box-tools pull-right">
        <a class="btn btn-warning" href="@Url.Action("List")" role="button"> Back </a>
    </div>
</div>
<div class="box-body form-horizontal">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.HiddenFor(x => x.id)
        <div class="form-group ">
            <label class="col-sm-2 control-label">問題類型:</label>
            <div class="col-sm-4 fc">
                @switch (Model.type)
                {
                    case 1:
                        @:Website Feedback
                            break;
                    case 2:
                        @:Media Enquiries - PR Contacts_USA/Europe
                            break;
                    case 3:
                        @:Media Enquiries - PR Contacts_Asia Pacific
                            break;
                    case 4:
                        @:CSR Contacts
                            break;
                }
            </div>
        </div>
        <div class="form-group ">
            <label class="col-sm-2 control-label">姓名:</label>
            <div class="col-sm-4 fc">
                @(Model.name)
            </div>
        </div>
        <div class="form-group ">
            <label class="col-sm-2 control-label">信箱:</label>
            <div class="col-sm-4 fc">
                @(Model.email)
            </div>
        </div>
        <div class="form-group ">
            <label class="col-sm-2 control-label">電話:</label>
            <div class="col-sm-4 fc">
                @(Model.phone)
            </div>
        </div>
        <div class="form-group ">
            <label class="col-sm-2 control-label">公司/組織:</label>
            <div class="col-sm-4 fc">
                @(Model.company)
            </div>
        </div>
        <div class="form-group ">
            <label class="col-sm-2 control-label">建議內容:</label>
            <div class="col-sm-6">
                @(Model.contents)
            </div>
        </div>
        <div class="form-group ">
            <label class="col-sm-2 control-label">處理狀態:</label>
            <div class="col-sm-4 fc">
                @{
                    str = "status";
                }
                <select class="form-control" name="@(str)">
                    <option value="0" @(Model.status == 0 ? "selected" : "")>待處理</option>
                    <option value="1" @(Model.status == 1 ? "selected" : "")>已回信</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 col-sm-offset-2">
                <button class="btn btn-success btn-block" type="submit">Submit</button>
            </div>
            <div class="col-sm-2">
                <button class="btn btn-danger btn-block" type="reset">Reset</button>
            </div>
        </div>
    }
</div>
