﻿@{
    Layout = "~/Areas/Backend/Views/Contact/index.cshtml";
}
@using web.Models
@using web.Common
@model List<contact>


<div class="box-header with-border">
    <h3 class="box-title"></h3>
    <div class="row">
        @using (Html.BeginForm("List", "Contact", FormMethod.Get))
        {
            <div class="col-xs-2">
                @{
                    string str = "type";
                    int type = ViewBag.type == null ? 0 : ViewBag.type;
                }
                <select class="form-control" name="@(str)">
                    <option value="0" @(type == 0 ? "selected" : "")>-- 問題類型 --</option>
                    <option value="1" @(type == 1 ? "selected" : "")>Website Feedback</option>
                    <option value="2" @(type == 2 ? "selected" : "")>Media Enquiries - PR Contacts_USA/Europe</option>
                    <option value="3" @(type == 3 ? "selected" : "")>Media Enquiries - PR Contacts_Asia Pacific</option>
                    <option value="4" @(type == 4 ? "selected" : "")>CSR Contacts</option>
                </select>
            </div>
            <div class="col-xs-2">
                <input type="text" class="form-control" name="keyword" value="@ViewBag.keyword" placeholder="姓名" />
            </div>
            <div class="col-xs-2">
                <select class="form-control" name="sort">
                    <option value="0" @(ViewBag.sort == 0 ? "selected" : "")>排序</option>
                    <option value="1" @(ViewBag.sort == 1 ? "selected" : "")>問題類型</option>
                </select>
            </div>
            <div class="col-xs-2">
                <button class="btn btn-info" id="search_btn" type="submit"><i class="fa fa-search"></i></button>
            </div>
        }
    </div>
    <div class="box-tools pull-right">
    </div>
</div>

<div class="table-responsive">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>問題類型</th>
                <th>姓名</th>
                <th>信箱</th>
                <th>處理狀態</th>
                <th>編輯</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() > 0)
            {
                foreach (contact item in Model)
                {
                    <tr>
                        <td>
                            @switch (item.type)
                            {
                                case 1:
                                    @:Website Feedback
                                    break;
                                case 2:
                                    @:Media Enquiries - PR Contacts_USA/Europe
                                    break;
                                case 3:
                                    @:Media Enquiries - PR Contacts_Asia Pacific
                                    break;
                                case 4:
                                    @:CSR Contacts
                                    break;
                            }
                        </td>
                        <td>@(item.name)</td>
                        <td>@(item.email)</td>
                        <td>
                            @switch (item.status)
                            {
                                case 1:
                                    @:已回信
                                    break;
                                default:
                                    @:待處理
                                    break;
                            }
                        </td>
                        <td>
                            <a class="btn btn-warning btn-sm" href="@(Url.Action("Content", "Contact", new { id = ViewBag.node.wm_url_id ,param1 = item.id }))"><i class="fa fa-edit"></i></a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="5" align="center">Empty</td>
                </tr>
            }
        </tbody>
    </table>
</div>