﻿@{
    Layout = "~/Areas/Backend/Views/Admin/index.cshtml";
    Dictionary<string, string> error = (Dictionary<string, string>)TempData["error"];
    string str = "";
}

@using web.Models
@using web.Common
@model contact_email

<div class="box-header with-border">
    <h3 class="box-title"></h3>
    <div class="box-tools pull-right">
        <a class="btn btn-warning" href="@Url.Action("List")" role="button"> Back </a>
    </div>
</div>
<div class="box-body form-horizontal">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.HiddenFor(x => x.id)
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group ">
                    <label class="col-sm-2 control-label">語系:</label>
                    <div class="col-sm-4">
                        @{
                            str = "lang";
                        }
                        <select class="form-control" name="@(str)">
                            <option value="en" @(Model.lang == "en" ? "selected" : "")>English</option>
                            <option value="ch" @(Model.lang == "ch" ? "selected" : "")>繁體中文</option>
                        </select>
                        <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group ">
                    <label class="col-sm-2 control-label">類型:</label>
                    <div class="col-sm-4">
                        @{
                            str = "type";
                        }
                        <select class="form-control" name="@(str)">
                            <option value="1" @(Model.type == 1 ? "selected" : "")>供應商申請</option>
                            <option value="2" @(Model.type == 2 ? "selected" : "")>聯絡我們</option>
                            <option value="3" @(Model.type == 3 ? "selected" : "")>Blog留言</option>
                        </select>
                        <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group ">
                    <label class="col-sm-2 control-label"><i class="required"> * </i> 姓名:</label>
                    <div class="col-sm-4">
                        @{
                            str = "title";
                        }
                        @Html.TextBox(str, Model.title, new { @class = "form-control", maxlength = 120, @required = "required" })
                        <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group ">
                    <label class="col-sm-2 control-label"><i class="required"> * </i> 信箱:</label>
                    <div class="col-sm-4">
                        @{
                            str = "email";
                        }
                        @Html.TextBox(str, Model.email, new { @class = "form-control", maxlength = 120, @required = "required", @type = "email" })
                        <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group ">
                    <label class="col-sm-2 control-label">備註:</label>
                    <div class="col-sm-4">
                        @{
                            str = "remark";
                        }
                        @Html.TextArea(str, Model.remark, new { @class = "form-control", @rows = 6 })
                        <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="launch">啟用:</label>
                    <div class="col-sm-10 iCheck">
                        @{
                            str = "launch";
                        }
                        <input name="launch" id="launch" value="1" type="checkbox" @(Model.launch == 1 ? "checked" : "") class="form-control">
                        <div class="text-danger">@ViewHelper.GetErrorMsg(error, str)</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <div class="col-sm-2 col-sm-offset-2">
                        <button class="btn btn-success btn-block" type="submit">Submit</button>
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-danger btn-block" type="reset">Reset</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
