﻿@{
    Layout = "~/Areas/Backend/Views/Admin/Index.cshtml";
}

@using web.Models
@using web.Common
@model List<contact_email>

<div class="box-header with-border">
    <h3 class="box-title"></h3>
    <div class="box-tools pull-right">
        <a class="btn btn-primary" href="@Url.Action("Content", "Mail", new { id = ViewBag.node.wm_url_id, param1 = 0 })" role="button"> 新增 </a>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>語系</th>
                <th>類型</th>
                <th>姓名</th>
                <th>信箱</th>
                <th>啟用</th>
                <th>編輯</th>
                <th>刪除</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() > 0)
            {
                foreach (contact_email item in Model)
                {
                    <tr>
                        <td>
                            @if (item.lang == "en")
                            {
                                @:English
	                        }
                            else
                            {
                                @:繁體中文
                            }
                        </td>
                        <td>
                            @switch (item.type)
                            {
                                case 1:
                                    @:供應商申請
                                    break;

                                case 2:
                                    @:聯絡我們
                                    break;
                                case 3:
                                    @:Blog管理
                                    break;
                                }
                        </td>
                        <td>@(item.title)</td>
                        <td>@(item.email)</td>
                        <td class="list-launch-block">
                            @if (item.launch == 1)
                                    {
                                <span class="label label-success"><i class="fa fa-check"></i></span>
                            }
                            else
                            {
                                <span class="label label-danger"><i class="fa fa-ban"></i></span>
                            }
                            @Html.AntiForgeryToken()
                            <div class="hidden id" data-id="@(item.id)"></div>
                        </td>
                        <td>
                            <a class="btn btn-warning btn-sm" href="@(Url.Action("Content", "Mail", new { id = ViewBag.node.wm_url_id ,param1 = item.id }))"><i class="fa fa-edit"></i></a>
                        </td>
                        <td>
                            @using (Html.BeginForm("DeleteData", "Mail", new { id = ViewBag.node.wm_url_id, param1 = item.id }, FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <button class="btn btn-danger btn-sm delete_btn" type="submit"><i class="fa fa-trash-o"></i></button>
                            }
                        </td>

                    </tr>
                }
            }
            else
                            {
                <tr>
                    <td colspan="7" align="center">Empty</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>

    $('.list-launch-block').find('.label').click(function () {
        $label = $(this);
        $id = $(this).siblings('div.id').data('id');
        $token = $(this).siblings('input[name="__RequestVerificationToken"]').val();
        $.ajax({
                                url: '@(Url.Action("AjaxUpdateLaunch"))',
            type: "POST",
            cache: false,
            async: true,
            data: { param1: $id, __RequestVerificationToken: $token },
            datatype: "json",
            success: function (data) {
                                        if (data == 1) {
                    $label.removeClass('label-danger').addClass('label-success').html('<i class="fa fa-check"></i>');
                                        } else if (data == 0) {
                    $label.removeClass('label-success').addClass('label-danger').html('<i class="fa fa-ban"></i>');
                                        }
                                    }
                                });
    });
</script>