﻿@using web.Models;
@using web.Common;
@using System.Globalization;
@model List<home_page>
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
    List<events> event_list = ViewBag.event_list;
    List<press_room> press_room_list = ViewBag.press_room_list;
    List<ir_news> ir_news_list = ViewBag.ir_news_list;
    string culture = ViewBag.language.lang == "tw" ? "zh-tw" : "en-US";
}
<!-- INDEX BANNER -->
<section class="slider-vision">
    <div id="vision" class="carousel slide carousel-fade" data-ride="carousel" data-interval="6000">
        <ol class="carousel-indicators">
            @if (Model.Count() > 0)
            {
                for (int i = 0; i < Model.Count; i++)
                {
                    <li data-target="#vision" data-slide-to="@(i)" class="@(i==0?"active":"")"></li>
                }
            }
        </ol>
        <div class="carousel-inner" role="listbox">
            @if (Model.Count() > 0)
            {
                foreach (home_page item in Model)
                {
                    <a href="@(item.link)" class="item @(Model.FirstOrDefault() == item ? "active" : "")">
                        <img src="@(ViewBag.media_bank_path)@(item.banner_web)" alt="@(item.title)" class="hidden-xs">
                        <img src="@(ViewBag.media_bank_path)@(item.banner_mobile)" alt="@(item.title)" class="visible-xs">
                        <div class="carousel-caption">
                            <h2 class="vision-title">@(item.title)</h2>
                            <div class="vision-content">
                                @Html.Nl2br(item.contents)
                            </div>
                            <div class="button"><span>MORE</span><i class="icon-arrow-right"></i></div>
                        </div>
                    </a>
                }
            }
        </div>
    </div>
</section>

<!-- INDEX PRODUCT FEATURE -->
<section id="index_fearture">
    <div class="row row_padding_0" data-bgcolor="#bec3c7">
        <figure class="col-xs-12 col-ms-12 col-md-6">
            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/index/feature_01.jpg" alt="Smart Living img">
        </figure>
        <div class="col-xs-12 col-ms-12 col-md-6 textbox">
            <div>
                <h3 class="home-title">Smart Living</h3>
                    <h3 class="home-sub-title">SiP Solution Platform</h3> 
                <p>Handset RF Transceiver SiP<br>BLE + MCU + AoP RF SiP<br>Environment Sensor + Wireless SiP<br>Ambient Light Sensor + Wireless SiP<br>LoRa/SigFox/NB-IoT SiP Module</p>
                <a class="button" href="@Url.Action("smart_living", "Solution", new { lang = ViewBag.language.lang })"><span>MORE</span><i class="icon-arrow-right"></i></a>
            </div>
        </div>
    </div>
    <div class="row row_padding_0" data-bgcolor="#68656e">
        <figure class="col-xs-12 col-ms-12 col-md-6">
            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/index/feature_02.png" alt="Smart Living img">
        </figure>
        <div class="col-xs-12 col-ms-12 col-md-6 textbox">
            <div>
                <h3 class="home-title">Smart Bike</h3>
              
                   <h3 class="home-sub-title">SiP Solution Platform</h3> 
                <p>AoP BLE SiP<br>Motion Sensor + BLE SiP<br>UV Sensor + BLE SiP<br>Optical Sensor + BLE SiP<br>Gesture Sensor + BLE SiP</p>
                <a class="button" href="@Url.Action("smart_bike", "Solution", new { lang = ViewBag.language.lang })"><span>MORE</span><i class="icon-arrow-right"></i></a>
            </div>
        </div>
    </div>
</section>

<!-- INDEX FASTLINK -->
<section id="fastlink" class="content-lg">
    <ul class="row">
        <li class="col-xs-12 col-md-4 text-center">
            <a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR", action = "Index" })">
                <div class="imgbox">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/index_fastlink-02.png" alt="CSR" data-hover="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/index_fastlink-02_hover.png">
                </div>
                <div class="textbox">
                    <h4>CSR</h4>
                    <div class="text">
                        <p>Check ASE’s sustainability strategy, stakeholder engagement and activities & performance on corporate social sustainability and download CSR reports.</p>
                    </div>
                </div>
                <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
            </a>
        </li>
        <li class="col-xs-12 col-md-4 text-center">
            <a href="@Url.Action("sustainability_highlights", "CSR", new { lang = ViewBag.language.lang })">
                <div class="imgbox">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/csr_icon-10.png" alt="Sustainability Highlights" data-hover="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/csr_icon-10_hover.png">
                </div>
                <div class="textbox">
                    <h4>Sustainability Highlights</h4>
                    <div class="text">
                        <p>Learn more about sustainability efforts in ASE.</p>
                    </div>
                </div>
                <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
            </a>
        </li>
        <li class="col-xs-12 col-md-4 text-center">
            <a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Supplier" })">
                <div class="imgbox">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/index_fastlink-03.png" alt="Supplier Management" data-hover="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/index_fastlink-03_hover.png">
                </div>
                <div class="textbox">
                    <h4>Supplier Management</h4>
                    <div class="text">
                        <p>Know more about ASE’s supply chain development & management, partnership with suppliers, and policy & code of conduct.</p>
                    </div>
                </div>
                <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
            </a>
        </li>
    </ul>
</section>

<!-- INDEX EVENTS & NEWS -->
<section id="events_news" class="bgnews-list">
    <div class="content-lg row">
        <h3 class="text-center">EVENTS &amp; PRESS ROOM</h3>
        <div class="col-xs-12 col-md-4">
            <div class="list">
                <h4 class="text-center">
                    Events
                    <a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Events" })" class="circle_button"><i class="icon-cross"></i></a>
                </h4>
                <div class="content info-3">
                    @if (event_list.Count > 0)
                    {
                        string temp_link = "";
                        foreach (events item in event_list)
                        {
                            DateTime dateS = new DateTime(item.start_date.Value.Year, item.start_date.Value.Month, item.start_date.Value.Day);
                            //DateTime dateE = new DateTime(item.end_date.Value.Year, item.end_date.Value.Month, item.end_date.Value.Day);
                            DateTime dateE = (item.end_date == null ? new DateTime() : new DateTime(item.end_date.Value.Year, item.end_date.Value.Month, item.end_date.Value.Day));

                            temp_link = string.IsNullOrEmpty(item.link) ? "" : item.link;
                            <a @(string.IsNullOrEmpty(temp_link) ? "class=\"link-disable\"" : "href=" + temp_link + " target=_blank")>
                                <div class="textbox">
                                    <p class="date">@dateS.ToString("MMM dd, yyyy", CultureInfo.CreateSpecificCulture(culture)) @(item.end_date != null ? "– " + dateE.ToString("MMM dd, yyyy", CultureInfo.CreateSpecificCulture(culture)) : "")</p>
                                    <p class="title">@item.title</p>
                                </div>
                                <div class="circle_button-wrapper">
                                    <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                                </div>
                            </a>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="list">
                <h4 class="text-center">
                    News
                    <a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Press_Room" ,action="Index" })" class="circle_button"><i class="icon-cross"></i></a>
                </h4>
                <div class="content info-3">
                    @if (press_room_list.Count > 0)
                    {
                        foreach (press_room item in press_room_list)
                        {
                            DateTime date = new DateTime(item.publish_date.Value.Year, item.publish_date.Value.Month, item.publish_date.Value.Day);

                            <a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Press_Room", action = "Content", param1 = HttpUtility.UrlDecode(item.urlid) })">
                                <div class="textbox">
                                    <p class="date">@date.ToString("MMM dd, yyyy", CultureInfo.CreateSpecificCulture(culture))</p>
                                    <p class="title limit-row-two">@item.title</p>
                                </div>
                                <div class="circle_button-wrapper">
                                    <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                                </div>
                            </a>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="list">
                <h4 class="text-center">
                    CSR News
                    <a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR", action = "news" })" class="circle_button"><i class="icon-cross"></i></a>
					
                </h4>
                <!--<div class="content">
                    @if (ir_news_list.Count > 0)
                    {
                        string temp_link = "";
                        foreach (ir_news item in ir_news_list)
                        {
                            DateTime dateS = new DateTime(item.start_date.Value.Year, item.start_date.Value.Month, item.start_date.Value.Day);
                            DateTime dateE = (item.end_date == null ? new DateTime() : new DateTime(item.end_date.Value.Year, item.end_date.Value.Month, item.end_date.Value.Day));
                            temp_link = string.IsNullOrEmpty(item.link) ? "" : item.link;
                            <a @(string.IsNullOrEmpty(temp_link) ? "class=\"link-disable\"" : "href=" + temp_link + " target=_blank")>
                                <div class="textbox">
                                    <p class="date">@dateS.ToString("MMM dd, yyyy", CultureInfo.CreateSpecificCulture(culture)) @(item.end_date != null ? "– " + dateE.ToString("MMM dd, yyyy", CultureInfo.CreateSpecificCulture(culture)) : "")</p>
                                    <p class="title">@item.title</p>
                                </div>
                                <div class="circle_button-wrapper">
                                    <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                                </div>
                            </a>
                        }
                    }
                </div>--->
				<div class="content info-3">
                    <a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR", action = "news" })">
                        <div class="textbox">
                            <p class="title padding-bottom5" style="padding-top: 3px">ASE Named Industry Leader in the 2018 Dow Jones Sustainability Indices</p>
                        </div>
						<div class="circle_button-wrapper">
							<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
						</div>
					</a>
                    <a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR", action = "news" })">
                        <div class="textbox">
                            <p class="date">Mar 25, 2019</p>
                            <p class="title limit-row-two">ASE Technology Holding takes a spot on CDP Climate A List 2018</p>
                        </div>
                        <div class="circle_button-wrapper">
                            <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                        </div>
                    </a>
                    <a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR", action = "news" })">
                        <div class="textbox">
                            <p class="date">Aug 01, 2018</p>
                            <p class="title limit-row-two">ASE listed on the FTSE4Good Index Series for the fourth consecutive year</p>
                        </div>
                        <div class="circle_button-wrapper">
                            <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                        </div>
                    </a>
				</div>
            </div>
        </div>
    </div>
</section>