﻿@using web.Models;
@using web.Common;
@using System.Globalization;
@model List<home_page>
@{
    Layout = "~/Views/Shared/en/_Layout_index.cshtml";
    List<events> event_list = ViewBag.event_list;
    List<press_room> press_room_list = ViewBag.press_room_list;
    List<ir_news> ir_news_list = ViewBag.ir_news_list;
    string culture = ViewBag.language.lang == "tw" ? "zh-tw" : "en-US";
    ViewBag.Title = "ASE";
}

<div class="JssorContainer">
    <div id="JssorSlider"
         class="JssorSlider JssorRwdSize">
        <div data-u="slides" class="JssorSlider__Slides JssorRwdSize" style="position:absolute;top:0px;left:0px;right:0px;bottom: 0px;overflow:hidden;">
            @if (Model.Count() > 0)
            {
                var i = 0;

                foreach (home_page item in Model)
                {

                    <div class="JssorRwdSize">
                        <img id="banner-img-@i"
                             data-pc-img="@(ViewBag.media_bank_path + item.banner_web)"
                             data-mobile-img="@(ViewBag.media_bank_path +item.banner_mobile)"
                             data-pc-thumb="@(item.banner_web.Contains(".mp4") ? ViewBag.media_bank_path +item.video_thumbnail_web : "")"
                             data-mobile-thumb="@(item.banner_mobile.Contains(".mp4") ? ViewBag.media_bank_path +item.video_thumbnail_mobile : "")"
                             data-u="image" />
                        <div class="JssorSlider__Caption"
                             data-ts="flat"
                             data-p="320">
                            @if (item.is_show_title == true)
                            {
                                <div data-to="50% 50%"
                                     data-ts="preserve-3d"
                                     data-t="0"
                                     class="JssorSlider__Title">
                                    <div style="color: #fff;">@item.title</div>
                                </div>
                            }
                            @if (item.is_show_content == true)
                            {
                                <div data-to="50% 50%"
                                     data-ts="preserve-3d"
                                     data-t="1"
                                     class="JssorSlider__Desc">
                                    <div style="color: #fff;">@item.contents</div>
                                </div>
                            }
                            @if (item.is_show_link == true)
                            {
                                <div data-to="50% 50%"
                                     data-ts="preserve-3d"
                                     data-t="2"
                                     class="JssorSlider__More">
                                    <a href="@(item.link)">
                                        <div class="button"><span>MORE</span><i class="icon-arrow-right"></i></div>
                                    </a>

                                </div>
                            }
                        </div>
                    </div>
                    i++;
                }
            }
        </div>

        <!-- Bullet Navigator -->
        <div data-u="navigator" class="jssorb033" style="position:absolute;bottom:12px;right:12px;" data-autocenter="1" data-scale="0.5" data-scale-bottom="0.75">
            <div data-u="prototype" class="i" style="width:16px;height:16px;">
                <svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                    <path class="b" d="M11400,13800H4600c-1320,0-2400-1080-2400-2400V4600c0-1320,1080-2400,2400-2400h6800 c1320,0,2400,1080,2400,2400v6800C13800,12720,12720,13800,11400,13800z"></path>
                </svg>
            </div>
        </div>
    </div>
</div>

<!-- INDEX PRODUCT FEATURE -->
<section id="index_fearture">
    <div class="row row_padding_0" data-bgcolor="#bec3c7">
        <figure class="col-xs-12 col-ms-12 col-md-6">
            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/index/feature_03.jpg" alt="Semiconductor Turnkey Solutions">
        </figure>
        <div class="col-xs-12 col-ms-12 col-md-6 textbox" style="background-image: url('/pic/bg-semiconductor-turnkey-solutions.jpg');background-size:cover">
            <div style="padding: 1rem; background-color: rgba(0, 0, 0, 0.5); border-radius: 12px">
                <h3 class="home-title">Semiconductor Turnkey Solutions</h3>
                <p>We are involved in all stages of the semiconductor manufacturing process. Services from front-end engineering test, wafer probing, package design, substrate design and manufacturing, packaging & test, module, board assembly & test and distribution are fully integrated onto a single supply chain.</p>
                <a class="button videoButton popupVideo" href="https://coms.aseglobal.com/marcom/files/19D3DC37E9915C72BC6D983FA6EAF201D5484CE9D36F931914DD7F761023975F?size=undefined?333" target="_blank"><span>Watch More</span></a>
            </div>
        </div>
    </div>
    <!--<div class="row row_padding_0" data-bgcolor="#bec3c7">
        <figure class="col-xs-12 col-ms-12 col-md-6 hide-in-small">
            <img src="/pic/public/frontend/images/index/feature_06.jpg" alt="Smart Manufacturing">
        </figure>
        <div class="col-xs-12 col-ms-12 col-md-6 textbox" style="background-image: url('/pic/bg-smart-manufacturing.jpg');background-size:cover">
            <div style="padding: 1rem; background-color: rgba(0, 0, 0, 0.5); border-radius: 12px">
                <h3 class="home-title">Smart Manufacturing</h3>
                <p>Automation, heterogeneous integration in machine and production systems, and heterogeneous integration in systems-in-package (SiP) are 3 major forces driving smart factories and digital transformation at ASE。</p>
                <a class="button videoButton popupVideo" href="https://coms.aseglobal.com/marcom/video/smart-manufacturing-90s-en" target="_blank"><span>Watch More</span></a>
            </div>
        </div>
    </div>-->
</section>
<section id="index_fearture">
    <div class="row row_padding_0" data-bgcolor="#68656e">
        <figure class="col-xs-12 col-ms-12 col-md-6 hide-in-small">
            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/index/feature_04.jpg" alt="Technology Leadership">
        </figure>
        <div class="col-xs-12 col-ms-12 col-md-6 textbox" style="background-image: url('/pic/bg-technology-leadership.jpg');background-size:cover">
            <div style="padding: 1rem; background-color: rgba(0, 0, 0, 0.5); border-radius: 12px">
                <h3 class="home-title">Technology Leadership</h3>
                <p>ASE continues to lead the semiconductor industry with its cutting edge IC packaging technologies to meet the requirements of high-performance electronics products.</p>
                <a class="button videoButton popupVideo" href="https://coms.aseglobal.com/marcom/video/ase-tech-future-en" target="_blank"><span>Watch More</span></a>
                <!-- <a class="button" href="@Url.Action("technology_innovation", "technology", new { lang = ViewBag.language.lang })"><span>MORE</span><i class="icon-arrow-right"></i></a> -->
            </div>
        </div>
    </div>
    <div class="row row_padding_0" data-bgcolor="#bec3c7">
        <figure class="col-xs-12 col-ms-12 col-md-6 hide-in-small">
            <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/index/feature_05.jpg?1" alt="Sustainable Development">
        </figure>
        <div class="col-xs-12 col-ms-12 col-md-6 textbox" style="background-image: url('/pic/bg-sustainability.jpg');background-size:cover">
            <div style="padding: 1rem; background-color: rgba(0, 0, 0, 0.5); border-radius: 12px">
                <h3 class="home-title">Sustainable Development</h3>
                <p>ASE believe that the sustainable development of our enterprise and the realization of its social responsibilities are vital to our long-term strategies and success.</p>
                <a class="button videoButton popupVideo" href="https://coms.aseglobal.com/marcom/video/sustainability-going-forward-en" target="_blank"><span>Watch More</span></a>
            </div>
        </div>
    </div>
</section>

<!-- INDEX FASTLINK -->
<section id="fastlink" class="content-lg">
    <ul class="row">
        <li class="col-xs-12 col-md-4 text-center">
            <a class="twitter-timeline" data-width="100vw" data-height="380" data-chrome="nofooter noborders" data-dnt="true" href="https://twitter.com/aseglobal?ref_src=twsrc%5Etfw">Tweets by asegroup_global</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </li>
        <li class="col-xs-12 col-md-4 text-center">
            <a href="@Url.Action("index", "csr", new { lang = ViewBag.language.lang })">
                <div class="imgbox">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/index_fastlink-02.png" alt="CSR" data-hover="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/index_fastlink-02_hover.png">
                </div>
                <div class="textbox">
                    <h4>CSR</h4>
                    <div class="text">
                        <p>Explore ASE’s Sustainability strategy, stakeholder engagement, activities and performance, and download CSR reports.</p>
                    </div>
                </div>
                <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
            </a>
        </li>
        <li class="col-xs-12 col-md-4 text-center">
            <a href="/en/heterogeneous_integration">
                <div class="imgbox">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-02.png" alt="Heterogeneous Integration" data-hover="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-02_hover.png">
                </div>
                <div class="textbox">
                    <h4>Heterogeneous Integration</h4>
                    <div class="text">
                        <p>Explore a World of Smart Possibilities with ASE Solutions.</p>
                    </div>
                </div>
                <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
            </a>
        </li>
    </ul>
</section>

<!-- INDEX EVENTS & NEWS -->
<section id="events_news" class="bgnews-list">
    <div class="content-lg row">
        <h3 class="text-center">EVENTS &amp; PRESS ROOM</h3>
        <div class="col-xs-12 col-md-6">
            <div class="list">
                <h4 class="text-center">
                    Events
                    <a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Events" })" class="circle_button"><i class="icon-cross"></i></a>
                </h4>
                <div class="content info-3">
                    @if (event_list.Count > 0)
                    {
                        string temp_link = "";
                        foreach (events item in event_list)
                        {
                            DateTime dateS = new DateTime(item.start_date.Value.Year, item.start_date.Value.Month, item.start_date.Value.Day);
                            //DateTime dateE = new DateTime(item.end_date.Value.Year, item.end_date.Value.Month, item.end_date.Value.Day);
                            DateTime dateE = (item.end_date == null ? new DateTime() : new DateTime(item.end_date.Value.Year, item.end_date.Value.Month, item.end_date.Value.Day));

                            temp_link = string.IsNullOrEmpty(item.link) ? "" : item.link;
                            <a @(string.IsNullOrEmpty(temp_link) ? "class=\"link-disable\"" : "href=" + temp_link + " target=_blank")>
                                <div class="textbox">
                                    <p class="date">@dateS.ToString("MMM dd, yyyy", CultureInfo.CreateSpecificCulture(culture)) @(item.end_date != null ? "– " + dateE.ToString("MMM dd, yyyy", CultureInfo.CreateSpecificCulture(culture)) : "")</p>
                                    <p class="title">@item.title</p>
                                </div>
                                <div class="circle_button-wrapper">
                                    <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                                </div>
                            </a>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="list">
                <h4 class="text-center">
                    News
                    <a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Press_Room" ,action="Index" })" class="circle_button"><i class="icon-cross"></i></a>
                </h4>
                <div class="content info-3">
                    @if (press_room_list.Count > 0)
                    {
                        foreach (press_room item in press_room_list)
                        {
                            DateTime date = new DateTime(item.publish_date.Value.Year, item.publish_date.Value.Month, item.publish_date.Value.Day);

                            <a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "Press_Room", action = "Content", param1 = HttpUtility.UrlDecode(item.urlid) })">
                                <div class="textbox">
                                    <p class="date">@date.ToString("MMM dd, yyyy", CultureInfo.CreateSpecificCulture(culture))</p>
                                    <p class="title limit-row-two">@item.title</p>
                                </div>
                                <div class="circle_button-wrapper">
                                    <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                                </div>
                            </a>
                        }
                    }
                </div>
            </div>
        </div>
        <!--<div class="col-xs-12 col-md-4">
            <div class="list">
                <h4 class="text-center">
                    CSR News
                    <a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR", action = "news" })" class="circle_button"><i class="icon-cross"></i></a>

                </h4>
                <div class="content">
                    @if (ir_news_list.Count > 0)
                    {
                        string temp_link = "";
                        foreach (ir_news item in ir_news_list)
                        {
                            DateTime dateS = new DateTime(item.start_date.Value.Year, item.start_date.Value.Month, item.start_date.Value.Day);
                            DateTime dateE = (item.end_date == null ? new DateTime() : new DateTime(item.end_date.Value.Year, item.end_date.Value.Month, item.end_date.Value.Day));
                            temp_link = string.IsNullOrEmpty(item.link) ? "" : item.link;
                            <a @(string.IsNullOrEmpty(temp_link) ? "class=\"link-disable\"" : "href=" + temp_link + " target=_blank")>
                                <div class="textbox">
                                    <p class="date">@dateS.ToString("MMM dd, yyyy", CultureInfo.CreateSpecificCulture(culture)) @(item.end_date != null ? "– " + dateE.ToString("MMM dd, yyyy", CultureInfo.CreateSpecificCulture(culture)) : "")</p>
                                    <p class="title">@item.title</p>
                                </div>
                                <div class="circle_button-wrapper">
                                    <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                                </div>
                            </a>
                        }
                    }
                </div>
                <div class="content info-3">
                    <a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR", action = "news" })">
                        <div class="textbox">
                            <p class="date">Nov 16, 2020</p>
                            <p class="title limit-row-two">ASE Technology Holding Named 2020 Industry Leader in the Dow Jones Sustainability Indices</p>
                        </div>
                        <div class="circle_button-wrapper">
                            <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                        </div>
                    </a>
                    <a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR", action = "news" })">
                        <div class="textbox">
                            <p class="date">Sep 16, 2019</p>
                            <p class="title padding-bottom5" style="padding-top: 3px">ASE Named 2019 Industry Leader in the Dow Jones Sustainability Indices</p>
                        </div>
                        <div class="circle_button-wrapper">
                            <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                        </div>
                    </a>
                    <a href="@Url.RouteUrl(new { lang = ViewBag.language.lang, controller = "CSR", action = "news" })">
                        <div class="textbox">
                            <p class="date">Mar 25, 2019</p>
                            <p class="title limit-row-two">ASE Technology Holding takes a spot on CDP Climate A List 2018</p>
                        </div>
                        <div class="circle_button-wrapper">
                            <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>--->
    </div>
</section>