﻿@using web.Models;
@using web.Common;
@using System.Globalization;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
    string culture = ViewBag.language.lang == "ch" ? "zh-tw" : "en-US";
}

<script>
    (function () {
        var cx = '007871386038473342643:76sy3htapdk';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
    })();
</script>
<gcse:search></gcse:search>