﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
    ViewBag.Title = "IC Packaging Services ";
    ViewBag.enURL = "/en/products/assembly";
    ViewBag.zhURL = "/ch/products/assembly";
}
<!-- page Banner -->
<section id="page-vision" class="page-banner-s banner-product">
    <h1 class="page-title title-large">IC Packaging Services</h1>
</section>
<!--麵包屑-->
<div class="content-lg row">
    <div class="col-xs-12">
        <ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/products/assembly"><span itemprop="name">IC Packaging</span></a>
					<meta itemprop="position" content="1" />
				</li>
        </ol>
    </div>
</div>
	<!-- Project-B Fix, Remove Old Breadcrumb -->

<!-- Products list -->
<section class="inside-article">
    <div class="content-lg row">
        <article class="col-xs-12">
            <h3 class="title">IC Packaging Services</h3>
            <p>
                ASE provides versatile, reliable and value-added assembly (also known as packaging) services. Assembly is the final manufacturing process transforming semiconductor chips into functional devices which are used in a variety of end-use applications. It provides thermal dissipation and physical protection required for reliability as well as electrical and/or photonic connections for signal input and output, power input and voltage control.
            </p>
        </article>
    </div>
</section>
<section id="iconlink" class="iconlink linebg-2">
    <div class="content-lg">
        <ul class="row">
            <li class="col-xs-6 col-md-3 text-center no-margin">
                @*<a href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "flip_chip_solution" })">*@
                <div class="imgbox">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-03.png" alt="Flip Chip" data-hover="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-03_hover.png">
                </div>
                <div class="textbox">
                    <a href="@Url.Action("flip_chip", "technology", new { lang = ViewBag.language.lang })">                        
                        <h4>Flip Chip Solution</h4>
                        <div class="circle_button darkgray tech_ino"><i class="icon-arrow-right"></i></div>
                    </a>
                </div>
                @*</a>*@
            </li>
            <li class="col-xs-6 col-md-3 text-center no-margin">
                @*<a href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "wire_bond_bga_solution" })">*@
                <div class="imgbox">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/products_icon-05.png" alt="Wire Bond BGA Solution" data-hover="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/products_icon-5_hover.png">
                </div>
                <div class="textbox">
                    <a href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "wire_bond_bga_solution" })">
                        <h4>Wire Bond BGA Solution</h4>
                        <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                    </a>
                </div>
                @*</a>*@
            </li>
            <li class="col-xs-6 col-md-3 text-center no-margin">
                @*<a href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "leadframe_solution" })">*@
                <div class="imgbox">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/products_icon-06.png" alt="Leadframe Solution" data-hover="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/products_icon-06_hover.png">
                </div>
                <div class="textbox">
                    <a href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "leadframe_solution" })">
                        <h4>Leadframe Solution</h4>
                        <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                    </a>
                </div>
                @*</a>*@
            </li>
            <li class="col-xs-6 col-md-3 text-center no-margin">
                @*<a href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "wafer_level_package_solution" })">*@
                <div class="imgbox">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/products_icon-02.png" alt="Wafer Level Package Solution" data-hover="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/products_icon-02_hover.png">
                </div>
                <div class="textbox">
                    <a href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "wafer_level_package_solution" })">
                        <h4>Wafer Level Package Solution</h4>
                        <div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
                    </a>

                </div>
                @*</a>*@
            </li>
            @*<li class="col-xs-6 col-sm-6 col-md-4 text-center">
                <a href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "bumping_solution" })">
                <div class="imgbox">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-06.png" alt="WL IPD" data-hover="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-06_hover.png">
                </div>
                <div class="textbox">
                    <a href="@Url.Action("wl_ipd", "technology", new { lang = ViewBag.language.lang })">
                        <h4>WL IPD</h4>
                        <div class="circle_button darkgray tech_ino"><i class="icon-arrow-right"></i></div>
                    </a>

                </div>
                </a>
            </li>*@
            @*<li class="col-xs-6 col-sm-6 col-md-4 text-center">
                <a href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "sip_module_solutions" })">
                <div class="imgbox">
                    <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-07.png" alt="Wafer-Level MEMS" data-hover="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/technology_icon-07_hover.png">
                </div>
                <div class="textbox">
                    <a href="@Url.Action("wl_mems", "technology", new { lang = ViewBag.language.lang })">
                        <h4>WL MEMS</h4>
                        <div class="circle_button darkgray tech_ino"><i class="icon-arrow-right"></i></div>
                    </a>
                </div>
                </a>
            </li>*@
        </ul>
    </div>
</section>