﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
    ViewBag.Title = "Semiconductor Substrate";
    ViewBag.enURL = "/en/products/material";
    ViewBag.zhURL = "/ch/products/material";
    ViewBag.webSiteDesc = "ASE's substrate design and manufacturing capability enables the interconnection materials of a wide range of wire-bond BGA and flip chip product applications.";
    ViewBag.webSiteOgImage = "https://ase.aseglobal.com/pic/public/frontend/images/lab/lab_mo01.png";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-lab">
		<h1 class="page-title title-large">Packaging Substrate</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item"><span itemprop="name">Otner</span></a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en/products/material"><span itemprop="name">Packaging Substrate</span></a>
					<meta itemprop="position" content="2" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->
	<!-- Letter from the Chairman -->
	<section class="inside-article">
        <div class="content-lg row">
            <article class="col-xs-12">
                <h3 class="title">Packaging Substrate</h3>
                <p>&nbsp;</p>
                <div class="col-xs-6 col-sm-4 nopadding"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/lab/lab_mo01.png"></div>
                <div class="clearfix"></div>
                <p>&nbsp;</p>
            </article>
            <article class="col-sm-8">
                <p>
                    Developments in the IC industry have triggered the rapid growth of the computing, communications and consumer electronics market in the last decade. Recently, the outsourcing trend has thrived in semiconductor backend services and the substrate business is a necessary complement to the assembly service of ICs. Continuing the momentum, ASE has focused on the research and development of substrate technology for low cost, high performance, thin, miniature, reliable and environmentally compatible next generation IC package solutions.
                </p>
                <p>
                    We expect substrates will become an increasingly important value-added component of the semiconductor packaging business. The demand for higher performance semiconductors in smaller packages will continue to spur the development of advanced substrates that can support the advancement in circuit design and fabrication. As a result, we believe that the market for substrates will grow and the cost of substrates as a percentage of the total packaging process is getting more significant, especially for advanced packages such as flip-chip BGA packages.
                </p>
            </article>
            <article class="col-sm-4">
                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/lab/lab_mo02.png" alt="">
            </article>
            <p>&nbsp;</p>
            <article class="col-sm-8">
                <p>
                    We leverage the expertise of ASE's capabilities to achieve integrated design by integrating the assembly technologies and substrate technologies as well as to provide our customers with reliable quality, cost effectiveness and fast cycle time. ASE well prepares in stable high volume manufacturing ability with consistently increasing capacity for customers' quick ramp up.
                </p>

                <p>
                    ASE's substrate design and manufacturing capability enables the interconnection materials of a wide range of wire-bond BGA and flip chip product applications. We also provide stub-less solutions<a href="javascript:" data-toggle="popover" data-trigger="hover" data-content="Conventional substrates are provided with electrolytic plating stub (bus) for forming surface finish (e.g., Ni/Au)." data-placement="bottom" data-original-title="" title="">*</a> such as etching back、a-SG (advanced selected gold) and DPS (double pattern sputter) for high frequency and high performance package applications.
                </p>
            </article>
            <article class="col-sm-4">
                <img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/lab/lab_mo03.png" alt="">
            </article>
            <p>&nbsp;</p>
            <article class="col-xs-12">
                <p>
                    We believe that interconnect technology and materials have become an increasingly value-added element for the semiconductor packaging business. Consequently, ASE continues to focus on developing and enhancing the in-house capability and capacity of substrate design and manufacturing to benefit our customers with our fast cycle time, largest capacity, mature technology and competitive price.
                </p>
                <p>&nbsp;</p>
                <h4 class="sub-title">ASE Packaging Substrate Offerings</h4>
            </article>
        </div>
    </section>
    <section class="inside-article hide-in-small">
        <div class="content-lg row">
            <article class="col-xs-12">
                <div class="col-sm-6 bt_pbga technology-tab-inactive" style="margin-bottom: 10px;">Plastic BGA Substrate<div class="circle_button darkgray" style="float:right;"><i class="icon-arrow-right" style="color: #333;"></i></div></div>
                <div class="col-sm-6 bt_fccsp technology-tab-inactive" style="margin-bottom: 10px;">Flip-Chip Chip Scale Package (fcCSP) Substrate<div class="circle_button darkgray" style="float:right;"><i class="icon-arrow-right" style="color: #333;"></i></div></div>
                <div class="clearfix"></div>
                <div class="col-xs-12 pbga">
                    <p>
                        PBGA (Plastic Ball Grid Array) package consist of wire-bonded die on base substrate made up of glass fiber immersed resin copper clad laminate and encapsulate it by plastic (epoxy molding compound). ASE is capable of providing substrate suitable for high power and high speed package requiring enhanced thermal and electrical performance.
                    </p>
                    <div class="col-xs-6 col-sm-4 nopadding"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/products/pro_pbga01.png"></div>
                    <div class="col-xs-12 col-sm-4 nopadding">
                        <h4>Applications</h4>
                        <ul class="nopadding">
                            <li>Microprocessors/Controllers</li>
                            <li>ASIC</li>
                            <li>Graphics and PC Chipsets</li>
                            <li>Gate Arrays</li>
                            <li>PLDs, DSPs</li>
                            <li>Communications & Networking</li>
                            <li>Automotive applications</li>
                            <li>Digital TV</li>
                            <li>Medical</li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-4 nopadding">
                        <h4>Features</h4>
                        <ul class="nopadding">
                            <li>Low assembly cost</li>
                            <li>High interconnect density</li>
                            <li>Flexible sizes ranging from 15x15mm to 45x45mm</li>
                            <li>Available in thinner substrate by using thin core</li>
                            <li>Stub less solution (Etch back, a-SG, DPS process)</li>
                            <li>Multi-layer options for signal, power and ground plane's electrical performance improvement</li>
                            <li>High reliability and quality for Automotive</li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <p>&nbsp;</p>
                </div>

                <div class="col-xs-12 fccsp">
                    <p>Semiconductor builds solder on bump side, and then mounts on Flip Chip substrate. Substrate is made by Chip side Embedded structure.</p>
                    <div class="col-xs-6 col-sm-4 nopadding"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/products/pro_fccsp011.png"></div>
                    <div class="col-xs-12 col-sm-4 nopadding">
                        <h4>Applications</h4>
                        <ul class="nopadding">
                            <li>Application Processor</li>
                            <li>Networking</li>
                            <li>Connectivity</li>
                            <li>Bluetooth</li>
                            <li>Modem</li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-4 nopadding">
                        <h4>Features</h4>
                        <ul class="nopadding">
                            <li>Thinner thickness structure (coreless)</li>
                            <li>Advance pattern design with fine line capability in the embedded layer</li>
                            <li>Higher density of interconnects</li>
                            <li>Cost effective solution</li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <h4>Embedded Trace Substrate (ETS)</h4>
                    <p><img class="col-xs-12 col-sm-8 nopadding hide-in-small" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/products/pro_fccsp02.png?1" alt=""></p>
                    <p><img class="col-xs-4 col-sm-8 nopadding hide-in-large" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/products/pro_fccsp022.png?1" alt=""></p>
                    <div class="clearfix"></div>
                    <p>&nbsp;</p>
                </div>
                <div class="clearfix"></div>

                <div class="col-sm-6 bt_boc technology-tab-inactive" style="margin-bottom: 10px;">BOC (DDR Substrate)<div class="circle_button darkgray" style="float:right;"><i class="icon-arrow-right" style="color: #333;"></i></div></div>
                <div class="col-sm-6 bt_lp technology-tab-inactive" style="margin-bottom: 10px;">Low Power (LP) DDR Substrate<div class="circle_button darkgray" style="float:right;"><i class="icon-arrow-right" style="color: #333;"></i></div></div>
                <div class="col-xs-12 boc">
                    <p>
                        The BOC package was designed as a cost effective CSP solution specifically for high-frequency memory devices. The structure provides the shortest wire length and outstanding electrical performance for the central – pad device layout through the use of low-cost wire bonding and BGA technologies.
                    </p>
                    <div class="col-xs-6 col-sm-4 nopadding"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/products/pro_boc01.png"></div>
                    <div class="col-xs-12 col-sm-4 nopadding">
                        <h4>Applications</h4>
                        <p>The BOC package is an ideal IC package for devices such as SDRAM, SGRAM, DDR SDRAM, RAMBUS DRAM and next-generation.</p>
                    </div>
                    <div class="col-xs-12 col-sm-4 nopadding">
                        <h4>Features</h4>
                        <ul class="nopadding">
                            <li>Cost competitive for high performance DRAM</li>
                            <li>JEDEC standard configuration – 60 balls</li>
                            <li>Package dimension 1.2mm max thickness</li>
                            <li>Dielectric- Rigid 2 layer substrate</li>
                            <li>Customer substrate design available</li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <p>&nbsp;</p>
                </div>

                <div class="col-xs-12 lp">
                    <p>
                        ASE is committed in providing a reliable memory substrate to support packages that features low power while operating in efficient and high speed data transmission.
                    </p>
                    <div class="col-xs-6 col-sm-4 nopadding"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/products/pro_lp01.png"></div>
                    <div class="col-xs-12 col-sm-4 nopadding">
                        <h4>Applications</h4>
                        <ul class="nopadding">
                            <li style="padding-right: 10px;">Low power computing devices such as cell phones, smart phones , mobile computers and notebooks</li>
                            <li>Various LPDDR package series</li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-4 nopadding">
                        <h4>Features</h4>
                        <ul class="nopadding">
                            <li>Thin overall thickness</li>
                            <li>Coreless process</li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <p>&nbsp;</p>
                </div>
                <div class="clearfix"></div>

                <div class="col-sm-6 bt_ms technology-tab-inactive" style="margin-bottom: 10px;">Module Substrate<div class="circle_button darkgray" style="float:right;"><i class="icon-arrow-right" style="color: #333;"></i></div></div>
                <div class="col-sm-6 bt_a-3s technology-tab-inactive" style="margin-bottom: 10px;">a-S³ (Single Sided Substrate)<div class="circle_button darkgray" style="float:right;"><i class="icon-arrow-right" style="color: #333;"></i></div></div>
                <div class="col-xs-12 ms">
                    <p>
                        In a vast and rapid changing world of technology, demands in semiconductor devices continuously increased over the years. Compact size, light weight and cost effective are put into consideration. With these demands ASE progressively continues on developing advanced, high end and sophisticated substrate materials with more complex and rigid designs. In line with this is the development of module substrates. A substrate that interconnects between the integration of multiple devices in one package. It is a combination of active and passive devices. With these developments ASE unceasingly innovates and leads substrate package solution and adapts to the rapid changing world of technology, meeting costumers’ demands, expectations and satisfactions.
                    </p>
                    <div class="col-xs-6 col-sm-4 nopadding"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/products/pro_module01.png"></div>
                    <div class="col-xs-12 col-sm-4 nopadding">
                        <h4>Applications</h4>
                        <ul class="nopadding">
                            <li>Wireless devices: Wireless modules on smart phones and tablet PC’s</li>
                            <li>Wearable devices: Wearable modules on watch and glasses</li>
                            <li>BLE modules(TWS and IOT)</li>
                            <li>Fingerprint reader(Touch ID)</li>
                            <li>RF modules</li>
                            <li>GPS, Navigation</li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-4 nopadding">
                        <h4>Features</h4>
                        <ul class="nopadding">
                            <li>Compact size</li>
                            <li>Cost effective</li>
                            <li>Light weight</li>
                            <li>Integration of multiple devices in one</li>
                            <li>Better performance in terms of connectivity and electrically making electrical paths shorter</li>
                            <li>Thin, coreless and multi-layer substrate solution (choose one)</li>
                            <li>Applicable in various surface finishes</li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <p>&nbsp;</p>
                </div>

                <div class="col-xs-12 a-3s">
                    <p>
                        Substrate is made by single side build-up flow.
                    </p>
                    <div class="col-xs-6 col-sm-4 nopadding"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/products/pro_as301.png"></div>
                    <div class="col-xs-12 col-sm-4 nopadding">
                        <h4>Applications</h4>
                        <ul class="nopadding">
                            <li>Application Processor</li>
                            <li>Networking</li>
                            <li>Connectivity</li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-4 nopadding">
                        <h4>Features</h4>
                        <ul class="nopadding">
                            <li>Cost reduction</li>
                            <li>Low profile</li>
                            <li>Cost effective solution</li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <p>&nbsp;</p>
                    <p><img class="col-xs-4 col-sm-2 nopadding" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/products/pro_as303.png" alt=""></p>
                    <div class="clearfix"></div>
                    <p>&nbsp;</p>
                </div>
                <div class="clearfix"></div>
                <p>&nbsp;</p>
            </article>
        </div>
    </section>
    <section class="inside-article hide-in-large">
        <div class="content-lg row">
            <article class="col-xs-12">
                <div class="col-sm-6 bt_pbga technology-tab-inactive" style="margin-bottom: 10px;">Plastic BGA Substrate<div class="circle_button darkgray" style="float:right;"><i class="icon-arrow-right" style="color: #333;"></i></div></div>
                <div class="col-xs-12 pbga">
                    <p>
                        PBGA (Plastic Ball Grid Array) package consist of wire-bonded die on base substrate made up of glass fiber immersed resin copper clad laminate and encapsulate it by plastic (epoxy molding compound). ASE is capable of providing substrate suitable for high power and high speed package requiring enhanced thermal and electrical performance.
                    </p>
                    <div class="col-xs-6 col-sm-4 nopadding"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/products/pro_pbga01.png"></div>
                    <div class="col-xs-12 col-sm-4 nopadding">
                        <h4>Applications</h4>
                        <ul class="nopadding">
                            <li>Microprocessors/Controllers</li>
                            <li>ASIC</li>
                            <li>Graphics and PC Chipsets</li>
                            <li>Gate Arrays</li>
                            <li>PLDs, DSPs</li>
                            <li>Communications & Networking</li>
                            <li>Automotive applications</li>
                            <li>Digital TV</li>
                            <li>Medical</li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-4 nopadding">
                        <h4>Features</h4>
                        <ul class="nopadding">
                            <li>Low assembly cost</li>
                            <li>High interconnect density</li>
                            <li>Flexible sizes ranging from 15x15mm to 45x45mm</li>
                            <li>Available in thinner substrate by using thin core</li>
                            <li>Stub less solution (Etch back, a-SG, DPS process)</li>
                            <li>Multi-layer options for signal, power and ground plane's electrical performance improvement</li>
                            <li>High reliability and quality for Automotive</li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <p>&nbsp;</p>
                </div>
            </article>
            <article class="col-xs-12">
                <div class="col-sm-6 bt_fccsp technology-tab-inactive" style="margin-bottom: 10px;">Flip-Chip Chip Scale Package (fcCSP) Substrate <div class="circle_button darkgray" style="float:right;"><i class="icon-arrow-right" style="color: #333;"></i></div></div>
                <div class="col-xs-12 fccsp">
                    <p>Semiconductor builds solder on bump side, and then mounts on Flip Chip substrate. Substrate is made by Chip side Embedded structure.</p>
                    <div class="col-xs-6 col-sm-4 nopadding"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/products/pro_fccsp011.png"></div>
                    <div class="col-xs-12 col-sm-4 nopadding">
                        <h4>Applications</h4>
                        <ul class="nopadding">
                            <li>Application Processor</li>
                            <li>Networking</li>
                            <li>Connectivity</li>
                            <li>Bluetooth</li>
                            <li>Modem</li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-4 nopadding">
                        <h4>Features</h4>
                        <ul class="nopadding">
                            <li>Thinner thickness structure (coreless)</li>
                            <li>Advance pattern design with fine line capability in the embedded layer</li>
                            <li>Higher density of interconnects</li>
                            <li>Cost effective solution</li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <h4>Embedded Trace Substrate (ETS)</h4>
                    <p><img class="col-xs-12 col-sm-8 nopadding hide-in-small" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/products/pro_fccsp02.png?1" alt=""></p>
                    <p><img class="col-xs-4 col-sm-8 nopadding hide-in-large" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/products/pro_fccsp022.png?1" alt=""></p>
                    <div class="clearfix"></div>
                    <p>&nbsp;</p>
                </div>
                <div class="clearfix"></div>

                <div class="col-sm-6 bt_boc technology-tab-inactive" style="margin-bottom: 10px;">BOC (DDR Substrate)<div class="circle_button darkgray" style="float:right;"><i class="icon-arrow-right" style="color: #333;"></i></div></div>
                <div class="col-xs-12 boc">
                    <p>
                        The BOC package was designed as a cost effective CSP solution specifically for high-frequency memory devices. The structure provides the shortest wire length and outstanding electrical performance for the central – pad device layout through the use of low-cost wire bonding and BGA technologies.
                    </p>
                    <div class="col-xs-6 col-sm-4 nopadding"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/products/pro_boc01.png"></div>
                    <div class="col-xs-12 col-sm-4 nopadding">
                        <h4>Applications</h4>
                        <p>The BOC package is an ideal IC package for devices such as SDRAM, SGRAM, DDR SDRAM, RAMBUS DRAM and next-generation.</p>
                    </div>
                    <div class="col-xs-12 col-sm-4 nopadding">
                        <h4>Features</h4>
                        <ul class="nopadding">
                            <li>Cost competitive for high performance DRAM</li>
                            <li>JEDEC standard configuration – 60 balls</li>
                            <li>Package dimension 1.2mm max thickness</li>
                            <li>Dielectric- Rigid 2 layer substrate</li>
                            <li>Customer substrate design available</li>
                        </ul>
                    </div>
                </div>
            </article>
            <article class="col-xs-12">
                <div class="col-sm-6 bt_lp technology-tab-inactive" style="margin-bottom: 10px;">Low Power (LP) DDR Substrate<div class="circle_button darkgray" style="float:right;"><i class="icon-arrow-right" style="color: #333;"></i></div></div>
                <div class="col-xs-12 lp">
                    <p>
                        ASE is committed in providing a reliable memory substrate to support packages that features low power while operating in efficient and high speed data transmission.
                    </p>
                    <div class="col-xs-6 col-sm-4 nopadding"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/products/pro_lp01.png"></div>
                    <div class="col-xs-12 col-sm-4 nopadding">
                        <h4>Applications</h4>
                        <ul class="nopadding">
                            <li style="padding-right: 10px;">Low power computing devices such as cell phones, smart phones , mobile computers and notebooks</li>
                            <li>Various LPDDR package series</li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-4 nopadding">
                        <h4>Features</h4>
                        <ul class="nopadding">
                            <li>Thin overall thickness</li>
                            <li>Coreless process</li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <p>&nbsp;</p>
                </div>
                <div class="clearfix"></div>

                <div class="col-sm-6 bt_ms technology-tab-inactive" style="margin-bottom: 10px;">Module Substrate<div class="circle_button darkgray" style="float:right;"><i class="icon-arrow-right" style="color: #333;"></i></div></div>
                <div class="col-xs-12 ms">
                    <p>
                        In a vast and rapid changing world of technology, demands in semiconductor devices continuously increased over the years. Compact size, light weight and cost effective are put into consideration. With these demands ASE progressively continues on developing advanced, high end and sophisticated substrate materials with more complex and rigid designs. In line with this is the development of module substrates. A substrate that interconnects between the integration of multiple devices in one package. It is a combination of active and passive devices. With these developments ASE unceasingly innovates and leads substrate package solution and adapts to the rapid changing world of technology, meeting costumers’ demands, expectations and satisfactions.
                    </p>
                    <div class="col-xs-6 col-sm-4 nopadding"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/products/pro_module01.png"></div>
                    <div class="col-xs-12 col-sm-4 nopadding">
                        <h4>Applications</h4>
                        <ul class="nopadding">
                            <li>Wireless devices: Wireless modules on smart phones and tablet PC’s</li>
                            <li>Wearable devices: Wearable modules on watch and glasses</li>
                            <li>BLE modules(TWS and IOT)</li>
                            <li>Fingerprint reader(Touch ID)</li>
                            <li>RF modules</li>
                            <li>GPS, Navigation</li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-4 nopadding">
                        <h4>Features</h4>
                        <ul class="nopadding">
                            <li>Compact size</li>
                            <li>Cost effective</li>
                            <li>Light weight</li>
                            <li>Integration of multiple devices in one</li>
                            <li>Better performance in terms of connectivity and electrically making electrical paths shorter</li>
                            <li>Thin, coreless and multi-layer substrate solution (choose one)</li>
                            <li>Applicable in various surface finishes</li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <p>&nbsp;</p>
                </div>
            </article>
            <article class="col-xs-12">
                <div class="col-sm-6 bt_a-3s technology-tab-inactive" style="margin-bottom: 10px;">a-S³ (Single Sided Substrate)<div class="circle_button darkgray" style="float:right;"><i class="icon-arrow-right" style="color: #333;"></i></div></div>
                <div class="col-xs-12 a-3s">
                    <p>
                        Substrate is made by single side build-up flow.
                    </p>
                    <div class="col-xs-6 col-sm-4 nopadding"><img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/products/pro_as301.png"></div>
                    <div class="col-xs-12 col-sm-4 nopadding">
                        <h4>Applications</h4>
                        <ul class="nopadding">
                            <li>Application Processor</li>
                            <li>Networking</li>
                            <li>Connectivity</li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-4 nopadding">
                        <h4>Features</h4>
                        <ul class="nopadding">
                            <li>Cost reduction</li>
                            <li>Low profile</li>
                            <li>Cost effective solution</li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <p>&nbsp;</p>
                    <p><img class="col-xs-4 col-sm-2 nopadding" src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/products/pro_as303.png" alt=""></p>
                    <div class="clearfix"></div>
                    <p>&nbsp;</p>
                </div>
                <div class="clearfix"></div>
            </article>
        </div>
    </section>
    
    <section class="inside-article">
        <div class="content-lg row csr">
            <div class=" col-md-12 tech-cont-link">
            <a class="phone" href="/en/about/plants_offices"><span class="glyphicon glyphicon-earphone"></span>  Contact for enquiries </a>
            </div>
        </div>
        <p>&nbsp;</p>
    </section>
<script>
    $(document).ready(function() {

        $(".pbga").hide();
        $(".fccsp").hide();
        $(".boc").hide();
        $(".lp").hide();
        $(".ms").hide();
        $(".a-3s").hide();

        $('.bt_pbga').click(function() {
            $(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
            $(this).closest(".row").find(".bt_fccsp,.bt_boc,.bt_lp,.bt_ms,.bt_a-3s").removeClass("technology-tab-active").addClass("technology-tab-inactive");
            $(this).closest(".row").find(".fccsp,.boc,.lp,.ms,.a-3s").hide();
            $(this).closest(".row").find(".pbga").toggle(600);
        });

        $('.bt_fccsp').click(function() {
            $(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
            $(this).closest(".row").find(".bt_pbga,.bt_boc,.bt_lp,.bt_ms,.bt_a-3s").removeClass("technology-tab-active").addClass("technology-tab-inactive");
            $(this).closest(".row").find(".pbga,.boc,.lp,.ms,.a-3s").hide();
            $(this).closest(".row").find(".fccsp").toggle(600);
        });

        $('.bt_boc').click(function() {
            $(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
            $(this).closest(".row").find(".bt_pbga,.bt_fccsp,.bt_lp,.bt_ms,.bt_a-3s").removeClass("technology-tab-active").addClass("technology-tab-inactive");
            $(this).closest(".row").find(".pbga,.fccsp,.lp,.ms,.a-3s").hide();
            $(this).closest(".row").find(".boc").toggle(600);
        });

        $('.bt_lp').click(function() {
            $(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
            $(this).closest(".row").find(".bt_pbga,.bt_fccsp,.bt_boc,.bt_ms,.bt_a-3s").removeClass("technology-tab-active").addClass("technology-tab-inactive");
            $(this).closest(".row").find(".pbga,.fccsp,.boc,.ms,.a-3s").hide();
            $(this).closest(".row").find(".lp").toggle(600);
        });

        $('.bt_ms').click(function() {
            $(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
            $(this).closest(".row").find(".bt_pbga,.bt_fccsp,.bt_boc,.bt_lp,.bt_a-3s").removeClass("technology-tab-active").addClass("technology-tab-inactive");
            $(this).closest(".row").find(".pbga,.fccsp,.boc,.lp,.a-3s").hide();
            $(this).closest(".row").find(".ms").toggle(600);
        });

        $('.bt_a-3s').click(function() {
            $(this).removeClass("technology-tab-inactive").addClass("technology-tab-active");
            $(this).closest(".row").find(".bt_pbga,.bt_fccsp,.bt_boc,.bt_lp,.bt_ms").removeClass("technology-tab-active").addClass("technology-tab-inactive");
            $(this).closest(".row").find(".pbga,.fccsp,.boc,.lp,.ms").hide();
            $(this).closest(".row").find(".a-3s").toggle(600);
        });
    });
</script>