﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-product">
		<h1 class="page-title title-large">PRODUCTS</h1>
	</section>

	<!--breadcrumbs-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->
	<!-- Letter from the Chairman -->
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/products/pro_tray01.png" alt="">
				<h3 class="title">Tray Service Offerings</h3>
				<p>ASE's packing tray manufacturing operation was established to streamline line control, as well as to augment overall manufacturing effectiveness. With operations currently running, following internal      qualification, ASE is enhancing customer experience by offering this service, and helping to make the ASE manufacturing process as seamless and efficient as possible.</p>

				<h3>Advantages</h3>
				<ul class="pro-test">
					<li>Experience<br>20 years in Packing Tray from design to manufacturing</li>
					<li>Quality<br>High Quality Assurance (ISO 9001:2000)</li>
					<li>Delivery<br>Short Delivery Time by STL (Ship to Line)</li>
					<li>Technology<br>New Technology Development aligned with ASE Roadmap</li>
					<li>Service<br>Responsive team offering expertise and seamless packing tray process to customers</li>
				</ul>

				<h3>Capabilities</h3>
				<ul class="pro-test">
					<li>Fully compatible with JEDEC and existing trays: including all critical dimensions (outline dimensions, pocket location and pitches alongside all pockets).</li>
					<li>All are stackable and have no impact to the tray function, testing, or surface mounting process.</li>
					<li>All trays meet ASE tray qualification process and are in compliance with Green requirements.</li>
				</ul>

				<h3>Benefits</h3>
				<ul class="pro-test">
					<li>Streamline support from assembly &amp; customer in-house standardization to packing material, hence improving time to market for new products.</li>
					<li>Logistical support for tray inventory planning.</li>
					<li>Leverage ASE group support in providing stable quality packing tray (production in constant high volume).</li>
					<li>Fully qualified, and rolled out many ASE customers using ASE's standard tray.</li>
				</ul>

				<h3>Product Type</h3>
				<ul class="pro-test">
					<li>By Specifications (JEDEC)<br>QFP, LQFP, TQFP, TSOP,QFN, BGA,FCBGA,SIP</li>
   					<li>By Special Specifications<br>Customized tray types</li>
				</ul>

				<h3>History</h3>
				<p>The packing tray factory was set up within ASE Kaohsiung over a period of three months by a dedicated team, with vast experience gained within the packing tray industry, covering design to manufacturing.</p>
				<ul class="tray-events">
					<li>
						<span class="year">Jan 12 ~ Now</span>
						<span class="year-event">High Volume Production to support ASE sites &amp; non-ASE Group including
customers’ subcontractors.</span>
					</li>
					<li>
						<span class="year">Jan  2012</span>
						<span class="year-event">Qualified ISO 50001 Certification</span>
					</li>
					<li>
						<span class="year">Jan  2010</span>
						<span class="year-event">Qualified OHSAS18001/TOSHMS/SA8000/QC080000 Certification</span>
					</li>
					<li>
						<span class="year">Jan  2008</span>
						<span class="year-event">Qualified ISO 14001 Certification</span>
					</li>
					<li>
						<span class="year">Dec 2007</span>
						<span class="year-event">Qualified ISO 9001 Certification</span>
					</li>
					<li>
						<span class="year">Apr 2007</span>
						<span class="year-event">Moved into mass production</span>
					</li>
					<li>
						<span class="year">Jan  2007</span>
						<span class="year-event">Implemented the first sample delivery</span>
					</li>
					<li>
						<span class="year">Nov 2006</span>
						<span class="year-event">Established the tray operation plant</span>
					</li>
				</ul>

				<h3>Sales Contact</h3>
				<p class="pp1">The packing tray factory was set up within ASE Kaohsiung over a period of three months by a dedicated team, with vast experience gained within the packing tray industry, covering design to manufacturing.</p>
				<div class="col-xs-12 products nopadding">
					<ul class="col-xs-12 list-base list-link products-list-content list-base-ali">
						<li class="col-xs-12 col-md-6 service-contact">
							<h4 class="date mt-0">Contact</h4>
							<div class="link-box">
								<div>
									<p class="tray-item"><span class="glyphicon glyphicon-earphone"></span>+886.7.360.1656 (Direct Line)</p>
								</div>
								<div>
									<p class="tray-item"><span class="glyphicon glyphicon-user"></span>Eliza Chen</p>
								</div>
								<div>
									<p class="tray-item"><span class="glyphicon glyphicon-envelope"></span>Eliza_Chen@aseglobal.com</p>
								</div>
								<div>
									<p class="tray-item"><span class="glyphicon glyphicon-print"></span>+886.7.360.1603</p>
								</div>
							</div>
								<div class="link-box">
								<div>
									<p class="tray-item"><span class="glyphicon glyphicon-earphone"></span>+886.7.363.6641 ext:8620</p>
								</div>
								<div>
									<p class="tray-item"><span class="glyphicon glyphicon-user"></span>Lacey Liu</p>
								</div>
								<div>
									<p class="tray-item"><span class="glyphicon glyphicon-envelope"></span>Lacey_Liu@aseglobal.com</p>
								</div>
								<div>
									<p class="tray-item"><span class="glyphicon glyphicon-print"></span>+886.7.360.1603</p>
								</div>
							</div>
						</li>
						<style>
							.link-box{display: inline-block;padding-right:50px;}
							.service-contact{width:50% !important;}
							@@media only screen and (max-width: 770px){
								.service-contact{width:100% !important;}
							}
						</style>
						<!-- <li class="col-xs-12 col-md-4 no-margin">
							<h4 class="date mt-0">Contact 2</h4>
							<div class="link-box">
								<div>
									<p class="tray-item"><span class="glyphicon glyphicon-earphone"></span>+886.7.363.6641 ext:8620</p>
								</div>
								<div>
									<p class="tray-item"><span class="glyphicon glyphicon-user"></span>Lacey Liu</p>
								</div>
								<div>
									<p class="tray-item"><span class="glyphicon glyphicon-envelope"></span>Lacey_Liu@aseglobal.com</p>
								</div>
								<div>
									<p class="tray-item"><span class="glyphicon glyphicon-print"></span>+886.7.360.1603</p>
								</div>
							</div>
						</li> -->
					</ul>
				</div>
				<h3>Location</h3>
				<p>Address: 21, West 8th Street, Nantze Export Processing Zone Kaohsiung, Taiwan 811, R.O.C</p>

			</article>

		</div>
	</section>

<br>


