﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
    ViewBag.Title = "Products ";
    ViewBag.enURL = "/en/products";
    ViewBag.zhURL = "/ch/products";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-product">
		<h1 class="page-title title-large">Products</h1>
	</section>

	<!--麵包屑-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->
	
	<!-- Products list -->
	<section class="inside-article">
		<div class="content-lg row">
			<article class="col-xs-12">
				<h3 class="title">Products</h3>
				<p>
					ASE provides the most complete, fully integrated semiconductor backend service in the industry, including - Assembly, Testing, and Material services. This enables our customers to conduct total cost management and enjoy greater flexibility in both forward and backward integration.
				</p>
				<p>				
					The extensive array of products and services we provide allow our customers to choose the IC package best suited to both their needs and the rigorous market requirements.
				</p>
			</article>
		</div>
	</section>

	<section class="csr-bg">
		<div class="content-lg row">
			<div class="container">
				<div class="metrial-type">
					<div class="col-xs-12 col-sm-4">
						<div class="lab-type lightblue">
							<h3 class="text-center">Assembly Offerings</h3>
							<p>ASE, among the leading IC packaging companies in the world, provides versatile, reliable and value-added services.</p>
							<div class="arrow"><a class="circle_button" href="@Url.Action("Assembly", "Products", new { lang = ViewBag.language.lang })"><i class="icon-arrow-right "></i></a></div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-4">
						<div class="lab-type darkblue">
							<h3 class="text-center">Test Service Offerings</h3>
							<p>ASE provides a complete range of semiconductor testing services that are among the most advanced in the semiconductor industry.</p>
							<div class="text-center"><a class="circle_button" href="@Url.Action("Test", "Products", new { lang = ViewBag.language.lang })"><i class="icon-arrow-right "></i></a></div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-4">
						<div class="lab-type gray">
							<h3 class="text-center">Material Offerings</h3>
							<p>ASE has focused on the research and development of substrate technology for the next generation IC package solutions.</p>
							<div class="arrow"><a class="circle_button" href="@Url.Action("Material", "Products", new { lang = ViewBag.language.lang })"><i class="icon-arrow-right "></i></a></div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>