﻿@using web.Models;
@using web.Common;
@{
    Layout = "~/Views/Shared/en/_Layout_seo.cshtml";
}
	<!-- page Banner -->
	<section id="page-vision" class="page-banner-s banner-product">
		<h1 class="page-title title-large">Products</h1>
	</section>

	<!--麵包屑-->
	<div class="content-lg row">
		<div class="col-xs-12">
			<ol id="breadcrumbs" class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<!-- Project-B Fix, Apply New Breadcrumb -->
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/en"><i class="icon-home"></i><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
			</ol>
		</div>
	</div>

	<!-- Project-B Fix, Remove Old Breadcrumb -->
	
	<!-- Products list -->
	<section id="iconlink" class="iconlink linebg-2">
		<div class="content-lg">
			<ul class="row item-3">
				<li class="col-xs-12 col-sm-6 col-md-4 text-center">
					<a href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "bumping_solution" })">
						<div class="imgbox">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/products_icon-01.png" alt="Bumping Solution" data-hover="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/products_icon-01_hover.png">
						</div>
						<div class="textbox">
							<h4>Wafer Bumping Solution</h4>
						</div>
						<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
					</a>
				</li>
				<li class="col-xs-12 col-sm-6 col-md-4 text-center">
					<a href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "wafer_level_package_solution" })">
						<div class="imgbox">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/products_icon-02.png" alt="Wafer Level Package Solution" data-hover="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/products_icon-02_hover.png">
						</div>
						<div class="textbox">
							<h4>Wafer Level Package Solution</h4>
						</div>
						<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
					</a>
				</li>
				<li class="col-xs-12 col-sm-6 col-md-4 text-center">
					<a href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "flip_chip_solution" })">
						<div class="imgbox">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/products_icon-03.png" alt="Flip Chip Solution" data-hover="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/products_icon-03_hover.png">
						</div>
						<div class="textbox">
							<h4>Flip Chip Solution</h4>
						</div>
						<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
					</a>
				</li>

				<li class="col-xs-12 col-sm-6 col-md-4 text-center">
					<a href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "sip_module_solutions" })">
						<div class="imgbox">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/products_icon-04.png" alt="SiP Module Solution" data-hover="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/products_icon-04_hover.png">
						</div>
						<div class="textbox">
							<h4>SiP & Module Solution</h4>
						</div>
						<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
					</a>
				</li>
				<li class="col-xs-12 col-sm-6 col-md-4 text-center">
					<a href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "wire_bond_bga_solution" })">
						<div class="imgbox">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/products_icon-05.png" alt="Wire Bond BGA Solution" data-hover="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/products_icon-5_hover.png">
						</div>
						<div class="textbox">
							<h4>Wire Bond BGA Solution</h4>
						</div>
						<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
					</a>
				</li>
				<li class="col-xs-12 col-sm-6 col-md-4 text-center">
					<a href="@Url.Action("assembly_offerings", "Products", new { lang = ViewBag.language.lang, param1 = "leadframe_solution" })">
						<div class="imgbox">
							<img src="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/products_icon-06.png" alt="Leadframe Solution" data-hover="https://2311cdn.r.worldssl.net/pic/public/frontend/images/icon/products_icon-06_hover.png">
						</div>
						<div class="textbox">
							<h4>Leadframe Solution</h4>
						</div>
						<div class="circle_button darkgray"><i class="icon-arrow-right"></i></div>
					</a>
				</li>
			</ul>
		</div>
	</section>